[2022-06-03 06:13] #3096 closed

[2022-06-03 07:13] #3240 closed

[2022-06-03 07:13] #3211 closed

[2022-06-03 07:13] #3209 closed

[2022-06-03 07:31] wingdi commented on #2978
Yes, it works for me,  but i have not check that part code for a  long time , i remember the most import is [glDrawElements(param...)](https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_geometry/libs/effect_renderer.cc#L398) ,the params need to have the same data type.  hope it help, man.

[2022-06-03 08:26] Gojo1729 commented on #2978
@wingdi so the mesh_3d.primitive_type should be unsigned_int ?
Can you provide me the modified `effect_renderer.cc ` file which worked for you ?

[2022-06-03 09:57] summer-dev opened #3395 "android Failed to read file (.tflite file)"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/holistic.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (No):
- OS Platform and Distribution (e.g., Ubuntu18.04 Win10 WSL):
- [MediaPipe version](https://github.com/google/mediapipe/releases/tag/v0.8.9): In fact,i downloaded th

[2022-06-03 17:54] TahirIshaq opened #3396 "Jetson Nano 2GB GPU hands build"
**System information**

- OS Platform and Distribution (Linux Ubuntu 18.04.6 LTS): Nvidia Jetson Nano 2GB 4.6.1
- Compiler version (gcc/g++ 8): 8.4.0
- Programming Language and version (Python 3.6): 3.6.9
- Installed using virtualenv? pip? Conda? (if python): No
- [MediaPipe version](https://github.com/google/mediapipe/tree/v0.8.4): v0.8.4 and v0.8.5
- Bazel version: 3.7.2

**Describe the problem*

[2022-06-03 23:39] eignil opened #3397 "Build failed on macOS with Apple Silicon."
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): macOS 12.4 (21F79)

[2022-06-03 23:44] eignil commented on #3397
I can fix this with the change like below. Not sure any other missed changes as this error appear when I compile some other modules.

mediapipe % git diff mediapipe/framework/port/BUILD
diff --git a/mediapipe/framework/port/BUILD b/mediapipe/framework/port/BUILD
index 87944d8..090576d 100644
--- a/mediapipe/framework/port/BUILD
+++ b/mediapipe/framework/port/BUILD
@@ -394,6 +394,12 @@ cc_library(

[2022-06-04 07:01] Gojo1729 commented on #2978
I resolved the issue,
we need to do some more changes to the `effec_renderer.cc`
1) [line 104](https://github.com/google/mediapipe/blob/4a20e9909d55838d5630366ce719844cf06ae85c/mediapipe/modules/face_geometry/libs/effect_renderer.cc#L104) change the data type from `uint16_t` to `uint32_t` .
2) [line 655](https://github.com/google/mediapipe/blob/4a20e9909d55838d5630366ce719844cf06ae85c/mediapipe/mo

[2022-06-04 14:01] kim-minsol opened #3398 "autoflip 0x00d36c4"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):

bazel-out\x64_windows-opt\bin\mediapipe\examples\desktop\autoflip\run_autoflip --calculator_graph_con

[2022-06-05 07:16] Sahil-RB opened #3399 "Draw each pose landmark in a different colour"
Is there a landmark_drawing_spec that can draw each of the 33 landmarks in a different colour?

[2022-06-05 07:24] beausoft commented on #2003
I fix the issue by deleting "site-packages/mediapipe/modules/pose_landmark/pose_landmark_heavy.tflite". The reason is that pose_landmark_heavy.tflite is not complete.
![捕获](https://user-images.githubusercontent.com/9295882/172040070-dbe06cc3-cbb0-4323-8229-dd4258a3896e.PNG)

[2022-06-05 10:59] Kutayykilic opened #3400 "Facemesh.process() returns None after second image is sent to process."
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>
Hi there everyone I hope everyone is doing well. I was trying some solutions with mediapipe and noticed I found an interesting error. I think my implementation should be still viable but it is indeed a weird bug I would like to adress. First of all, let me specify my system.
OS: W

[2022-06-05 11:01] Kutayykilic commented on #3400
I also want to note the image paths are definitely correct so there is no fault in there cause I can read images independently from the given path

[2022-06-05 12:48] HKABIG commented on #2739
At the place of arguments of detectionCon and trackCon place the values in int()

[2022-06-05 16:15] eleiannu opened #3401 "Is there a way to code the UI in Swift?"
I'm looking for a way to bind a Swift UI file that takes the landmark points for pose detection from the objc code and displays them. I've been trying to import the swift file but was unsuccessful unfortunately.

[2022-06-06 05:05] sureshdagooglecom commented on #3199
Hi @lukasfolle ,
MediaPipe team hasn't yet considered delivering the solution ML models separately.  MediaPipe team will remain focused on integrating the models with the solutions, and not delivering them separately.

[2022-06-06 05:07] sureshdagooglecom commented on #3213
Hi @kXborg ,
MediaPipe solutions do not include an object segmentation model.  It sounds like an interesting project.  We believe that object segmentation models do exist outside of MediaPipe.  Please let us know if you find useful approaches for this problem.

[2022-06-06 05:07] sureshdagooglecom commented on #3338
Hi @dkmoon ,
We don't expect terrible performance from multiple FrameProcessor's.  Please feel free to give that a try first, if that is most convenient for you.  There is likely some performance gain from merging into a single graph, but please try it the easy way first.

[2022-06-06 05:08] sureshdagooglecom commented on #3343
Hi @anvuong48 ,
I assume there are no useful log warnings or error messages.
Suggestion: add logging print statements to some Calculator::Open and Calculator::Process functions, and see how far along the graph initialization gets.

[2022-06-06 05:10] sureshdagooglecom commented on #3360
Hi @Ncuaresma ,
It looks like some source files are not found during compilation.  Could there be a missing dependency in your new build targets?  Can you include your new build target def in the bug report?

[2022-06-06 05:11] sureshdagooglecom commented on #3370
Hi @chubei ,
We can estimate the orientation of the pose skeleton by following the direction between the two shoulder landmarks or the two hip landmarks.

[2022-06-06 05:13] sureshdagooglecom commented on #3374
Hi @andioz ,
We were not aware of this version symbol convention.  We are glad to follow it if it's helpful to many clients.  Can you confirm that this convention is common and generally useful?

[2022-06-06 05:14] sureshdagooglecom commented on #3377
Hi @andrearosasco ,
Python API is provided for tech demo and experimentation.  We don't plan to add this advanced feature to the python solution API.
It is possible to incorporate the bilateral filtering into Python apps with some modifications to the solution calculator graphs.

[2022-06-06 05:15] sureshdagooglecom commented on #3267
Hi @tri-bao ,
Replace the SwitchContainer and ConstantPacketCalculator with a simpler file path,
see if the crash can still happen.
Suggest: accept "FILE_PATH" side packet as an input side packet into the graph.

[2022-06-06 05:16] sureshdagooglecom commented on #3330
Hi @hbyjw ,
This appears to be a leak in native libraries specific to this Knift demo.
We will investigate further when we can.

[2022-06-06 06:04] hbyjw commented on #3330
@sureshdagooglecom
OK.

[2022-06-06 06:45] andioz commented on #3374
Hi @sureshdagooglecom, thanks for your interest in supporting version information! Yes I can confirm that this convention is very common and definitely useful. In may help clients to add conditional code depending on your package's version. Here some links:

https://stackoverflow.com/a/459185/330272
https://peps.python.org/pep-0008/#module-level-dunder-names
https://martin-thoma.com/python-package

[2022-06-06 06:49] tri-bao commented on #3267
as I mentioned in my previous comment, that was what I did https://github.com/google/mediapipe/issues/3267#issuecomment-1101277893

[2022-06-06 07:14] chubei commented on #3370
I don't think this solution fits our use case. Can you help confirm whether the orientation of the coordinate system is specified or not? If not, we'll probably look into other solutions.

[2022-06-06 07:52] #3364 closed

[2022-06-06 08:52] #3192 closed

[2022-06-06 09:37] sureshdagooglecom commented on #3398
Hi @kim-minsol ,
Could you provide steps to reproduce this issue.

[2022-06-06 09:45] sureshdagooglecom commented on #3399
Hi @Sahil-RB ,
Below are the default Drawing specs for color. You can change the color with python implementation as per your business requirement!

(48, 255, 48) For Green color
def get_default_pose_landmarks_style() -> Mapping[int, DrawingSpec]:
"""Returns the default pose landmarks drawing style.

Returns:
A mapping from each pose landmark to its default drawing spec.
"""
pose_landmark_style =

[2022-06-06 09:55] #3303 closed

[2022-06-06 12:17] caotri0407 commented on #1466
Traceback (most recent call last):
  File "C:/Users/TrisNguyen/PycharmProjects/Pose-HumanEstimationProJect/PoseEstimationMin.py", line 2, in <module>
    import mediapipe as mp
  File "C:\Users\TrisNguyen\PycharmProjects\Pose-HumanEstimationProJect\venv\lib\site-packages\mediapipe\__init__.py", line 17, in <module>
    import mediapipe.python.solutions as solutions
  File "C:\Users\TrisNguyen\Pych

[2022-06-07 01:17] kostyaby commented on #1155
Hey @JpEncausse,

I didn't have one, so I've forked the MP Face Mesh web example and slapped together a demo using Three.JS: https://codepen.io/kostyaby/full/abqavyo

Not an officially support product, use at your own risk 😉

[2022-06-07 03:47] kostyaby commented on #1895
Hey @matanster,

Do you mean the Face Mesh module output or the Face Geometry module output?

The Face Mesh module outputs XY coordinates that match screen space + Z coordinate which has the same scale as X coordinate and is centered around 0 (avg Z ~ 0). The "weak perspective" term is used because of the following assumption: the change in Z coordinate within a single object (a face) is not signi

[2022-06-07 04:41] sureshdagooglecom commented on #3395
Hi @summer-dev ,
Could you provide steps to reproduce this issue.

[2022-06-07 04:45] sureshdagooglecom commented on #3397
Hi @eignil ,
Please follow below mentioned steps.
1)Write your terminal application from within finder, select get info, and enable `open using rosetta'
2)Open up your terminal application with the rosetta flag set
3)Create a virtual env in your project, python3 -m venv myvenv
4)Activate it, source ./myvenv/bin/activate
5)pip install --upgrade pip
6)pip install mediapipe

[2022-06-07 04:45] sureshdagooglecom commented on #3400
Hi @Kutayykilic ,
Could you share any reference video w.r.t above issue.

[2022-06-07 04:54] sureshdagooglecom commented on #3168
Hi @jackprescott ,
Could you restart your Macos back to 11 as per @Gaozhongpai .

[2022-06-07 05:07] sureshdagooglecom commented on #3358
Hi @timtungGit .
Did you scale the output values as below.
int x = landmark_normal_x * image.width();
int y = landmark_normal_y * image.height();

[2022-06-07 05:28] kim-minsol commented on #3398
bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 --action_env PYTHON_BIN_PATH="C://Users//kkhhj//AppData//Local//Programs//Python//Python38-32//python.exe" mediapipe/examples/desktop/autoflip:run_autoflip

1. I built autoflip with this code, but the issue #2985 occurred during the process.

2. To resolve the error, Wno-sign-compare was removed from the ceres.bzl part.

3. After the build, autof

[2022-06-07 05:52] #3367 closed

[2022-06-07 06:58] JpEncausse commented on #1155
Perfect ! So cool thanks very much !
I'll give it a try, will let me do AR on many usecases

[2022-06-07 07:09] briliantnugraha commented on #3383
Hi @sureshdagooglecom , I want to make an object detection for the tracker in Mediapipe.
Is it possible to do it (like putting custom ONNX/tflite model as the object detection, and just connect the detection output as long as the detection format matches) with the tracker in Media pipe?

Or do I need to follow the current structure and algorithm of Mediapipe to do so?
Thanks in advance.

[2022-06-07 08:52] #3351 closed

[2022-06-07 11:29] kodosexe commented on #1486
Note that `kMultiHandLandmarksOutputStream` now only needs to be `landmarks`.

[2022-06-07 11:41] elYeodeol commented on #2958
Hey,

I am still trying to get a .pbtxt file from a binarypb file.
Specifically, I would like to convert the graph pose_web.binarypb into pose_web.pbtxt
Any help would be appreciated,

Thank you

[2022-06-07 13:25] Matesanz commented on #3130
For me the problem **was solved** by **NOT runing the python console on the mediapipe project folder**.

[code]

:point_right: **What you expect:** mediapipe is being imported from the environment installed dependencies
:point_right: **What actually happens:** it is trying to be imported from the `mediapipe/` subfolder located in the mediapipe project

[2022-06-07 14:14] alexw-atf opened #3402 "Where to set the camera parameters？"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

Hi, I'm working with the Face Mesh in python for a project. The solution page specifies "The virtual camera parameters can be set freely, however for better results it is advised to set them as close to the real physical camera parameters as possible." So, where should I look to

[2022-06-07 14:50] maxstrobel opened #3403 "opencv-contrib-python-headless as requirement"
**System information** (Please provide as much relevant information as possible)

- MediaPipe Solution (you are using): Python wheel
- Programming language : Python
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state:**

Currently opencv-contrib-python is installed as requirement. If you want to use mediapipe inside a Docker container huge images

[2022-06-07 17:02] DeividVeloso commented on #3373
Any update, the issue is still there yet?

[2022-06-07 17:35] danielSoler93 commented on #3385
Hi, could I ask why did you close this issue? Is it completed somewhere I have not seen?

[2022-06-07 18:25] Modyng opened #3404 "Holistic Key-point Modifications"
**System information** (Please provide as much relevant information as possible)
The Solution is HOLISTIC.
Programming Language is Python
Latest MediaPipe Version
Os is Ubuntu (kernel do not matter)

**Describe the behavior:**
MediaPipe Holistic has lots of keypoints for POSE, Hands and FaceMesh but i dont want all of the keypoins because they have some challenges or conflicts with other keypoints

[2022-06-07 20:43] UnlimitedX opened #3405 "MaskOverlayCalculator black screen issue"
**System information** (Please provide as much relevant information as possible)
- Android
- Solution: SelfieSegmentation
- Programming Language and version ( e.g. C++, Python, Java): JAVA

**Describe the expected behavior:**
I'd like to use the MaskOverlayCalculator node but I get a black screen as output.

**My custom graph**

I've customized the SelfieSegmentation GPU graph to be able to receiv

[2022-06-07 23:48] ayoub-root commented on #3042
update your pose options
  userPose.setOptions({
        selfieMode: true,
        modelComplexity: 0,
        smoothLandmarks: true,
        enableSegmentation: false,
        smoothSegmentation: true,
        minDetectionConfidence: 0.5,
        minTrackingConfidence: 0.5,
      });

[2022-06-08 02:40] byy01 opened #3406 "Cannot run @mediapipe/holistic in the web worker"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): yes
- OS Platform and Distribution : Window 10
- [MediaPipe version] @mediapipe/holistic0.5.1635989137

[2022-06-08 03:26] kuangzy2011 opened #3407 "How to flip the input image horizontally for solution hands on android side?"
**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Android 11
- [MediaPipe version](https://github.com/google/mediapipe/releases): 0.8.9
- Bazel version: 3.7.2
- Solution (e.g. FaceMesh, Po

[2022-06-08 03:33] #3382 closed

[2022-06-08 05:52] #3305 closed

[2022-06-08 05:52] #3361 closed

[2022-06-08 05:52] #3368 closed

[2022-06-08 08:13] UX3D-mazzini commented on #3341
Can somebody help with this?

[2022-06-08 10:54] kuaashish commented on #3402
Hi @alexw-atf!  Could you check this [thread](https://github.com/google/mediapipe/issues/2110#issuecomment-867786652) for reference. Thank you!

[2022-06-08 11:07] alexw-atf commented on #3402
Hi @kuaashish, I went through this thread before. But I don't think the comments really answer the question. Would you be able to direct me to where the virtual camera parameters are defined or where I can define my own camera parameters? Thanks.

[2022-06-08 11:54] kuaashish commented on #3402
Hi @alexw-atf, You can define the virtual camera parameters under the **[environment.proto](https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_geometry/protos/environment.proto)**. Please let us know if this resolves the issue. Thank you!

[2022-06-08 16:49] mattrossman commented on #3406
Duplicate of #2506, also related #2574

Big +1 to this though.

[2022-06-08 19:39] galaxxyz commented on #2510
I have the same problem with Holistic.
I tried to clear cache as mentioned in [#2432 comment](https://github.com/google/mediapipe/issues/2432#issuecomment-901632553) but the error still persists.

[2022-06-08 20:05] Sakshamkapur commented on #2660
Hey @jalamprea it only seems to work after we remount the canvas for me also its very laggy.. do we have any other alternatives for this or i will have to change the library
Also one the canvas is rendered its not converting to img using todataurl api of canvas
Does any one know y?

[2022-06-09 07:18] ayoub-root commented on #3119
same issue

[2022-06-09 08:07] byy01 commented on #3406
if I don't run it in a web worker, it runs well without errors, but the web page stops for a while.

so I should run it in a web worker.

If I initialize holistic when running in a web worker, an error occurs when I load wasm, how I you fix it?

I think I set the locateFile path well.

[2022-06-09 08:26] sureshdagooglecom commented on #3405
Hi @UnlimitedX ,
Could you share any reference video w.r.t above issue.

[2022-06-09 08:29] sureshdagooglecom commented on #3406
Hi @byy01 ,
Did you resolve the issue as per https://github.com/google/mediapipe/issues/3406#issuecomment-1150807432  or still are you facing any challenges.

[2022-06-09 09:05] UnlimitedX commented on #3405
Hi @sureshdagooglecom ,
Thanks for your prompt reply.

I use the RecolorCalculator to check if my videos are adequately provided to the Mediapipe graph.

When the scaled_background_video is activated in the recolor calculator, showing the background_video packets are properly injected. (although the video is flipped vertically, no idea why) . The Selfie Segmentation mask is not applied. I don't kn

[2022-06-09 09:09] lhalcyon opened #3408 "I am working on Android Holistic Solution and get some errors. Please give some help"
__I am working on Android Holistic Solution like the Hands , Face mesh that mediapipe did __

ENV: lastest version
Here is my steps:
1. modify  `solutioncore/BUILD`
[code]
2. create holistic dir and files like AndroidManifest.xml BUILD ...  Here is my BUILD file
[code]
3. Then I build `solution_core.aar`  and `holistic.aar` successfully .
[code]
4. copy aar from docker 2 my PC android studio proje

[2022-06-09 09:50] kuaashish commented on #3402
Hi @alexw-atf, Sorry for the late response! Could you please try to build MediaPipe from [source](https://google.github.io/mediapipe/getting_started/install.html) and make the necessary changes in the [environment.proto](https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_geometry/protos/environment.proto) virtual camera parameters. Thank you!

[2022-06-09 10:08] yndue736 commented on #1452
Yes there are some level discussion still in process you can click on the link [Today telenor answer](https://pakstudy.net/)  where they have added the same procedure which is useful in this project.

[2022-06-09 10:15] freesokim commented on #3388
@Stephenfang51
Hi, Sorry for late reply.
I think PINTO_model_zoo provide the 8-bit quantized models, but I have not tried them yet.
My question is google have any plan to release the official 8-bit quantized models for the hand tracking.
Thanks.

[2022-06-09 10:17] freesokim commented on #3388
@Stephenfang51
Do you mean that google don't have any release plan for quantized model?

[2022-06-09 11:29] alexw-atf commented on #3402
@kuaashish thanks for the help!

[2022-06-09 11:29] #3402 closed

[2022-06-09 11:55] summer-dev commented on #3408
I came across the same issue,the reason is that it failed to load all the necessary tflite  files,it takes about 6 seconds to load all the files some times ,some times it takes about 1 second.

#3395

[2022-06-09 11:57] summer-dev commented on #3408
I'm trying to compile the latest release(0.8.10),I hope this issue has been resolved.

[2022-06-09 12:00] summer-dev commented on #3408
@lhalcyon According to my experience this file often fails to load
"//mediapipe/modules/hand_landmark:handedness.txt",

[2022-06-09 15:24] ayoub-root commented on #2388
import the file using <script src='.....'</script>
then in your react code use
const LandMarkGrid =window.LandmarkGrid

grid = new LandmarGrid (divRef, ....)
 be careful to  components re-rendering (strictMode)

[2022-06-09 15:27] ayoub-root commented on #3223
import the file using <script src='.....'</script>
then in your react code use
const LandMarkGrid =window.LandmarkGrid

grid = new LandmarGrid (divRef, ....)
be careful to components re-rendering (strictMode)

[2022-06-10 01:59] summer-dev commented on #3408
I'd like to mention more about Error A:

I think this issue is related to android asset-manager mechanism (implemented within resource_util_android.cc)
I found a very interesting bug coincidentally:

Prepare two holistic android projects with different package name,let's call them AppHello and AppWorld
1.open AppHello,and initialize the mediapipe env and wait the output,you can see the detected bo

[2022-06-10 02:07] summer-dev commented on #3408
I'd like to mention more about Error A:

I think this issue is related to android asset-manager mechanism (implemented within resource_util_android.cc)
I found a very interesting bug coincidentally:

Prepare two holistic android projects with different package name,let's call them AppHello and AppWorld
1.open AppHello,and initialize the mediapipe env and wait the output,you can see the detected bo

[2022-06-10 03:00] AthreshK opened #3409 "What is the correct way to modify a subgraph or calculator?"
**System information** (Please provide as much relevant information as possible)

- macOS 12.4 M1
- Bazel version: 5.0.0
- Pose tracking
- Building for android

**Describe the expected behavior:**

I wanted to remove the bounding box red rectangle in the PoseRendererGpu, so I commented out  the _line 290_ of
https://github.com/google/mediapipe/blob/master/mediapipe/graphs/pose_tracking/subgraphs/p

[2022-06-10 03:23] lhalcyon commented on #3408
emm, That's strange.

[2022-06-10 03:54] lhalcyon commented on #3408
About Error B .
I think holistic does not support `ImageSolution` for it not having `xxx_gpu_image.pbtxt` like Hands does. Namely ,
Hands tracking has input/output like  `image` and `throttled_image` without result rendered , so we can customize our render via Hands Solution , while holistic tracking does not have the image pair input/output.

[2022-06-10 05:45] AthreshK commented on #3409
I also checked #2788, it has no solutions to the problem.

[2022-06-10 06:27] QuincyChoyQC opened #3410 "🤔MediaPipe Pose - How to Train MediaPipe on a Custom Dataset or is it allow to use Custom Data? and how."
1. Is it allow a custom dataset/my model?
2. How to train?
3. How to use it?

I am running it on python at Jupyter, I could not find any tutorial for that.
Hope someone can give me some guides.

[2022-06-10 07:10] UnlimitedX commented on #3405
@sureshdagooglecom
![image](https://user-images.githubusercontent.com/6625963/173010378-3c1e3a37-fd3f-4dd1-ac8f-440a41460e14.png)
Do you need more details?

[2022-06-10 07:42] leochoo commented on #3397
How about this?
https://github.com/cansik/mediapipe-silicon

[2022-06-10 08:02] jiapei100 opened #3411 "error: too few arguments to function 'void sposv_(const char*, const int*, const int*, float*, const int*, float*, const int*, int*, size_t)'"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): Ubuntu 22.04
- Com

[2022-06-10 09:19] gavel94 opened #3412 "MediaPipe Android Archive ERROR"
- Bazel version:5.2.0

**Describe the problem**:
 "bazel run --copt -DMESA_EGL_NO_X11_HEADERS --copt -DEGL_NO_X11 \
    mediapipe/examples/desktop/hello_world:hello_world" is successful.
Problems with the bazel version?
I read the log that bazel couldn't find the toolchain？

**[Provide the exact sequence of commands / steps that you executed before running into the problem](https://google.github.i

[2022-06-10 09:36] rajeev921 opened #3413 "Issue on building tensorflow-2.9.0 on centos 7.3"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): Centos 7
- Compile

[2022-06-10 09:55] kuaashish commented on #3413
Hi @rajeev921, Could you please post this issue on the Tensorflow [repo.](https://github.com/tensorflow/tensorflow/issues). Thank you!

[2022-06-10 10:04] rajeev921 commented on #3413
@kuaashish Done, Thank you.

Closing this issue.

[2022-06-10 10:04] #3413 closed

[2022-06-10 12:52] rkgnanesh opened #3414 "[Error] WebGL: INVALID_VALUE: texSubImage2D: no pixels - on macbook safari"
**Im getting this error on macbook safari, Landmarks are not accurate when this error occurs, how to fix this issue ?**

[Error] WebGL: INVALID_VALUE: texSubImage2D: no pixels
	texSubImage2D
	_glTexSubImage2D (hands_solution_wasm_bin.js:9:207609)
	wasm-stub
	<?>.wasm-function[2532]
	<?>.wasm-function[2400]
	<?>.wasm-function[2169]
	<?>.wasm-function[5499]
	<?>.wasm-function[5498]
	<?>.wasm-functio

[2022-06-10 15:54] SajjadAemmi opened #3415 "install mediapipe 0.8.10 on python macos (apple silicon - M1)"
i am try to build mediapipe on my macos python (apple silicon - M1)
tested python versions: 3.8 - 3.9 - 3.10
i run these commands:
[code]

but i face this error:
[code]

[2022-06-11 03:44] wingdi opened #3416 "Build apk is ok, but when using aar have problem."
Platform : Android; sdk-31, ndk-21.4.7075529.
Solution: facemesh.

I have changed some code of mediapipe  to implement Physically Based Rendering. this is the render result of face_effect_gpu.apk using `mediapipe/examples/android/src/java/com/google/mediapipe/apps/faceeffect/BUILD`

![Screenshot_20220610_192303_com google mediapipe a(1)](https://user-images.githubusercontent.com/25787391/173171234

[2022-06-11 03:47] manb911 opened #3417 "KNIFT on other platforms"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):Javascript
- Solution (e.g. FaceMesh, Pose, Holistic):KNIFT
- Programming Language and version ( e.g. C++, Python, Jav

[2022-06-11 09:06] wingdi commented on #3416
Stuck here all day,  Who can tell me what's the problem ?  very thankful.

[2022-06-11 10:05] CusterFun opened #3418 "Pose Movements and Screen Coordinates"
**Describe the expected behavior:**

how should I judge the relationship between the pose landmarks and the screen coordinates.

how should I judge body whether to move left or right.

how should I judge a person is jumping.

[2022-06-11 15:37] Hayden2018 opened #3420 "Cannot Run Android Studio Facemesh on Camera copying Example App Code"
<em>I try to copy sample code from the Android Studio example App but the InputCamera Stream is not working. It is working fine in the example app though.<em>

**System information** (Please provide as much relevant information as possible)
- Windows 11 Pro
- Android Studio 2021.2.1 Patch 1
- Java Project with JDK 1.8
- MediaPipe 0.8.10 on Maven
- Grade 7.2.1
- FaceMesh not working (Others too)

*

[2022-06-12 09:40] Kutayykilic commented on #3400
Hi there,

This is not used on a video, instead it is used on the two single frame images should it not work that way?

[2022-06-12 23:32] GeorgeS2019 opened #3421 "ARKit 52 blendshapes support request"
<em>Please make sure that this is a feature request.</em>

**Describe the feature and the current behavior/state:**

Is there a plan to output the facial blendshapes that are compatible with the ARKit 52 blendshapes?

**Will this change the current api? How?**

This is an addition to the existing API.

**Who will benefit with this feature?**

This provides facial mocap for avatars that use the ARK

[2022-06-12 23:36] GeorgeS2019 commented on #3421
[Relevant attempt](https://hinzka.hatenablog.com/entry/2021/12/02/005814) by VRM communities to adopt the ARKit 52 blendshapes

[2022-06-12 23:40] GeorgeS2019 commented on #1678
@tu-nv @wingdi
Please support this feature request for [ARKit 52 blendshapes](https://github.com/google/mediapipe/issues/3421)

[2022-06-13 00:10] kostyaby commented on #1895
This process is happening as a part of the Face Landmark module; local XYZ predicted in a "sub-box" are just flatly rotated / scaled / translated back into overall input image "box". When I say "flatly" I mean the 2D "sub-box" is stretched back into the overall image 2D "box". XY coordinates will match the intended locations; the only thing that happens to Z coordinate at this step is being scaled

[2022-06-13 04:56] sureshdagooglecom commented on #3411
Hi @jiapei100 ,
Could you provide steps to reproduce this issue.

[2022-06-13 05:00] sureshdagooglecom commented on #3412
Hi @gavel94 ,
Could you provide steps to reproduce this issue.

[2022-06-13 05:02] sureshdagooglecom commented on #3414
Hi @rkgnanesh ,
Could you elaborate this issue and please provide steps to reproduce this issue.

[2022-06-13 05:07] sureshdagooglecom commented on #3416
Hi @wingdi ,
Could you provide steps to reproduce this issue.

[2022-06-13 05:17] gavel94 commented on #3412
Install MediaPipe according to the documentation.After running the c++ example successfully.
Create a mediapipe_aar() target.
"""
gavel@gavel-virtual-machine:/usr/local/mediapipe/mediapipe/examples/android/src/java/com/google/mediapipe/apps/aar_example$ pwd
/usr/local/mediapipe/mediapipe/examples/android/src/java/com/google/mediapipe/apps/aar_example
gavel@gavel-virtual-machine:/usr/local/mediapip

[2022-06-13 05:25] sureshdagooglecom commented on #3420
Hi @Hayden2018 ,
Could you please share code changes to investigate further on this issue.

[2022-06-13 05:50] #3343 closed

[2022-06-13 05:50] #3213 closed

[2022-06-13 05:50] #3199 closed

[2022-06-13 06:39] siliconvallley opened #3422 "Build a MediaPipe AAR error"
Refer to the construction steps of the official website:
https://google.github.io/mediapipe/getting_started/android_archive_library.html

1.

$ mkdir aar_example
$ cd aar_example
$ touch BUILD

2. Put the following content in the BUILD file.

    name = "mediapipe_face_detection",
    calculators = ["//mediapipe/graphs/face_detection:mobile_calculators"],
)

3. Run the Bazel build command to gener

[2022-06-13 07:03] sureshdagooglecom commented on #3383
Hi @briliantnugraha ,
You need to follow current structure and algorithm of Mediapipe.

[2022-06-13 07:06] sureshdagooglecom commented on #3389
Hi @mgarbade ,
We have tflite code implementations , please check below links for code.
https://source.corp.google.com/piper///depot/google3/third_party/mediapipe/util/tflite/operations/
https://source.corp.google.com/piper///depot/google3/third_party/mediapipe/util/tflite/cpu_op_resolver.cc

[2022-06-13 07:07] sureshdagooglecom commented on #3400
Hi @Kutayykilic ,
Two single frame images can not work for facemesh , please use single image.

[2022-06-13 08:18] Hayden2018 commented on #3420
Hi @sureshdagooglecom
There is no code changes but copying. I copy the follwing to a new empty Android Studio project.

The three Java files under [mediapipe/examples/android/solutions/facemesh/src/main/java/com/google/mediapipe/examples/facemesh/](https://github.com/google/mediapipe/tree/master/mediapipe/examples/android/solutions/facemesh/src/main/java/com/google/mediapipe/examples/facemesh)

Th

[2022-06-13 08:32] Shubhambindal2017 opened #3423 "Mediapipe face detector's (short) predicted bbox coordinates are affected by the min_detection_confidence (threshold) value."
**System information**

- Browser - Google Chrome Version 102.0.5005.63
- Programming Language and version - Python 3.7.13
- Mediapipe version - for browser npm face_detection@0.4.1646425229 while for python test media pipe v0.8.10
- Solution: Face Detection

**Describe the current behavior:**
I have done this test for the short-range face_detection model. For both python-based as well for javascr

[2022-06-13 08:40] mslmgzde opened #3424 "Control 5 servos with 5 fingers"
i want to control 5 servo with my 5 fingers angles . How can I do it ? please help me

[2022-06-13 08:45] mslmgzde commented on #2999
can you share full code with me ?

[2022-06-13 09:32] Shubhambindal2017 opened #3425 "Supported Browsers Information/Details - For Desktops and Mobiles - Doc-Feature"
**System information** (Please provide as much relevant information as possible)

- MediaPipe Solution (you are using): FaceMesh
- Programming language: Javascript

**Describe the feature and the current behavior/state:**
I am not able to know what all browsers (with their versions) do Mediapipe's Javascript Solution support in Desktop and as well as for Mobiles. I was able to find this link : [ht

[2022-06-13 10:16] brucechou1983 commented on #967
@jiuqiant

I'm still facing the same issue on `0.8.8` release. Do you have any solution for this issue?

[code]

Android phone : samsung SM-C900Y
OS Version : 8.0.0

[2022-06-13 15:49] #3380 closed

[2022-06-13 16:20] spaceathome100 opened #3426 "I get this error if i run my project in vs code with "import mediapipe""
System information

- Windows 11
-Python 3.7.9
-installed opencv-python, mediapipe

Describe the problem:
I just installed mediapipe in vs code and I'm getting an error when I import it to my python file
Already tested and I get the error even with a blank file with just the import

[code]

Note:
-I have tried changing the protobuf version to 3.20.1 as it said but nothing changed it shows the same

[2022-06-13 18:59] CheungBH commented on #3342
Any progresses?

[2022-06-14 01:08] #3383 closed

[2022-06-14 02:36] ronnenlevinson commented on #1620
Hi.

Like the original author, I am trying to obtain the confidence scores of  pose landmarks. After descending several rabbit holes (including those linked above) I am none the wiser.

From image raster "image_raster", I can obtain the pose landmarks as follows:

mp_pose = mp.solutions.pose
pose_image = mp_pose.Pose(static_image_mode=True, min_detection_confidence=0.5)
result = pose_image.process

[2022-06-14 05:37] Kutayykilic commented on #3400
Okay let me improve on that with a little bit of work I have tried.

Initializing the face mesh module again after each image is processed seems to solve the issue if anyone is interested on making it work this way.

Otherwise I don't really get why it's not implemented to work with 2 single frame images, what's the reason behind this?

[2022-06-14 05:50] #3358 closed

[2022-06-14 05:50] #3168 closed

[2022-06-14 05:50] #3346 closed

[2022-06-14 06:54] kuaashish commented on #3426
Hi @spaceathome100!, Could you try these two options.

1. **pip install protobuf==3.20.*** (It will downgrade the protobuf plugin to 3.20.x).
2. set the following environment variable **export PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python**.

Attached is relevant [thread](https://stackoverflow.com/questions/72441758/typeerror-descriptors-cannot-not-be-created-directly) for reference.

Thank you!

[2022-06-14 07:05] QuincyChoyQC commented on #3410
🤔

[2022-06-14 09:31] kuaashish commented on #3422
Hi @siliconvallley!, Could you please try to use Android **SDK release 30.0.0 or above** and **NDK version between 18 and 21**. Please follow the [instructions](https://google.github.io/mediapipe/getting_started/android.html) mentioned in the documentation. Thank you!

[2022-06-14 09:31] UX3D-mazzini opened #3427 "Why rotation values are so noisy"
Solution: Objectron
Language: Javascript API

I printed the rotation values in Euler form using threejs. I wonder why this signal is so jittery if it is because of mediapipe or is something I did wrong. I also find it weird that the y coordinate is pretty smooth. Is this related to the GimbalLock? Does somebody have the same issue?

measurements taken in static environment
![rotation](https://user

[2022-06-14 12:19] LucasFernandesBrazil commented on #3256
Sorry, could you elaborate more on your question?

[2022-06-14 12:52] mgarbade commented on #3389
Hmm I cannot open those links. It asks me to  "sign in" (I'm not at google :stuck_out_tongue_winking_eye: )

[2022-06-14 14:09] mgarbade commented on #3389
As I'm still struggling with getting mediapipe inference running, let me expand on my problem:

# [Mediapipe: Toy example using custom tflite graph](https://stackoverflow.com/questions/72448936/mediapipe-toy-example-using-custom-tflite-graph)

I'm trying to dig into mediapipe and adapt it to perform inference using a custom tflite model. However, this task seems to be harder than expected.

Can so

[2022-06-14 14:43] fiveshit commented on #2484
@caiyc2000
Hi , I would to know you have completed your project ? I want to do a function same as your.

[2022-06-14 15:16] spaceathome100 commented on #3426
dammm really thank finally it's working thank you very much

I tried out the first method and it magically work for me thank you so much

[2022-06-14 15:16] #3426 closed

[2022-06-14 15:17] MdNaheed commented on #1466
bro did you get it?

[2022-06-14 16:15] merveozdas718 commented on #1466
no bro unfotunately.

On Tue, Jun 14, 2022, 18:17 MdNaheed ***@***.***> wrote:

[2022-06-14 21:47] nrkrishna commented on #3410
Second this question. Would love to know if it's possible to extend it to cover specific scenarios. I'm interested in fine tuning performance of the 3d pose detection for specific fitness movements, e.g. baseball swing and golf swing. Thanks!

[2022-06-15 00:10] wingdi commented on #3416
Hi, I have found it is a build problem.
When using gradle, the render result is bad as above post.
Now we only consider bazel . When target is recognized as an android_binary handled by Android BInary Handler, the render result is normal：
![image](https://user-images.githubusercontent.com/25787391/173708714-0f6768f7-6ecb-4845-a0ae-4c97c3a48727.png)
When target is recognized as an unknown rule hand

[2022-06-15 02:23] liufsd commented on #3408
+1

[2022-06-15 02:46] gavel94 commented on #3412
I haven't seen it. I'm going to try it now. Thank you for your help.

[2022-06-15 03:04] liufsd opened #3428 "Android ImageSolution Support Pose ?.?"
Like :

https://google.github.io/mediapipe/solutions/pose.html

[code]

https://github.com/google/mediapipe/issues/3408

[2022-06-15 03:06] siliconvallley commented on #3422
Hi @kuaashish，

Thanks for replying to my issue.

My problem is solved.
![1655261941194](https://user-images.githubusercontent.com/18340690/173727387-4f41d531-972c-4715-ad0d-277b350631c9.jpg)

First I find the file "mediapipe_aar.bzl" which outputs error log 1,
then through error log 2 "/bin/bash:$'\r': command not found"
I guess the current error should be in "mediapipe_aar.bzl" caused by newline

[2022-06-15 03:58] liufsd commented on #3428
I have two questions:
1. `addMultiStreamCallback` only callback one Packet ?   But i need imagePacket like `ImageSolution `  has  two Packets
![image](https://user-images.githubusercontent.com/1910405/173733870-d0abcf86-0538-486d-8b31-3b859f13adb6.png)

2. `send` static image support ?.?

My project here: https://github.com/liufsd/mediapipePose

[2022-06-15 05:25] kuaashish commented on #3422
Hi @siliconvallley, Thank you for letting us know. Could we move this issue to closed status?

[2022-06-15 06:25] siliconvallley commented on #3422
Hi @kuaashish，Thank you for your reply. I think this issue should be closed.

[2022-06-15 06:44] #3375 closed

[2022-06-15 07:09] kuaashish commented on #3422
Hi @siliconvallley, Thanks for the confirmation! Closing this issue as it resolved.

[2022-06-15 07:09] #3422 closed

[2022-06-15 07:50] UnlimitedX commented on #3405
Hi @jiuqiant , I'm looking forward to hearing from you :-)

[2022-06-15 07:53] sureshdagooglecom commented on #3417
Hi @manb911 ,
We don't have support for KNIFT on Web, and currently do not have it on the roadmap.

[2022-06-15 08:10] colincheung755 opened #3429 "What's the meaning of Z value in face landmarks 3D?"
Hi, I'm still confused about the Z value in 3D facial landmarks. To be clear, how is the value Z calculated in your GROUND TRUTH?

Thanks_

[2022-06-15 08:34] colincheung755 commented on #3429
is right for above question?
![image](https://user-images.githubusercontent.com/107389015/173782101-973df5f7-5ba8-44af-b83a-919b17ac427a.png)

[2022-06-15 09:08] kuaashish commented on #3429
Hi @colincheung755, Have a look at this comment https://github.com/google/mediapipe/issues/1895#issuecomment-822121488 face geometry is clearly explained with all the coordinates. Thank you!

[2022-06-15 09:08] colincheung755 commented on #3429
你好，邮件我已收到。张昱航

[2022-06-15 09:23] liufsd commented on #3103
step 5:

[code]

![image](https://user-images.githubusercontent.com/1910405/173793105-bcd6aa35-ec47-430f-b07d-40c943c15647.png)

[code]

[2022-06-15 10:00] felixdollack opened #3430 "FaceMesh Visualization using React not working"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
**I mostly copied a "working" solution from #2261 and replaced relevant parts with the FaceMesh JS sam

[2022-06-15 12:13] kuaashish commented on #3410
Hi @QuincyChoyQC, For python you can create your own graph using the calculators and execute as mentioned here https://google.github.io/mediapipe/getting_started/python_framework.html#graph. Thank you

[2022-06-15 12:13] liufsd commented on #3103
step 5

[code]

[code]

[2022-06-15 12:49] #3376 closed

[2022-06-15 15:52] jiuqiant commented on #3384
Holistic graph has 5 models to load (pose detection, pose landmark, hand landmarks for both hands, and face landmark) and 5 tflite interpreters to start correspondingly. It will take much longer initialization time than the Hands graph.

[2022-06-15 16:16] brucechou1983 commented on #2851
@nicolacapece @sgowroji

Do you have any solution for this issue? I got the same error when running on Android emulator with API < 30.

[code]

[2022-06-15 19:10] mattrossman opened #3433 "Option to return tensors from Face Mesh"
<em>Please make sure that this is a feature request.</em>

**System information** (Please provide as much relevant information as possible)

- MediaPipe Solution (you are using): Face Mesh
- Programming language : JavaScript, TypeScript
- Are you willing to contribute it (Yes/No): Yes, pending #1408

**Describe the feature and the current behavior/state:**

I would like to receive Face Mesh predic

[2022-06-15 20:12] nrkrishna opened #3434 "Pose accuracy"
I'm using the example iOS app (Target name: PoseTrackingGPU) in the mediapipe repo. iOS version 15.5. Code is running on an iPhone 12 Pro Max. Mediapipe version is 0.8.10.

Overall, this framework is incredible. I'm observing that in certain body positions, such as at the top of a golf swing (see attached screenshots), the shoulder positions are not correctly identified in 2D, which is resulting i

[2022-06-16 02:02] liufsd commented on #3103
how to build `pose_tracking_cpu_landmark_image ` ?.?  @kuangzy2011 @lhalcyon

[2022-06-16 04:54] jyh2378 opened #3435 "MediaPipe C++ API compile for android"
Hi,
I want to MediaPipe C++ API on android.
Is it possible to cross-compile to generate .so or .a for C++ API for Android?
I can't find any information for C++ API for android information

[2022-06-16 08:48] omkarmohanjoshi commented on #2926
I am also trying to get bounding box of pose estimation. I am using draw_detection function as mention above. But I am getting this error - AttributeError: 'google.protobuf.pyext._message.FieldProperty' object has no attribute 'format'
There is some issue with detection.location_data. Please help me understand

[2022-06-16 08:48] TZECHIN6 opened #3436 "Can ARCore and Mediapipe co-work together?"
Hi, I am having a hard time to finding a way to integrate both AI & AR. I am trying to first use object detection model to detect custom-object (YOLO preferred) --> Pass the class and bounding box coordination to ARCore --> ARCore put a 3D model/flowing text on top of the detected object.

So, could I pass the video stream to Mediapipe, then object detector will work on that captured frame, and pa

[2022-06-16 09:03] 390057892 commented on #3384
I can understand that it takes longer, so 5-10S is reasonable, right?

[2022-06-16 09:24] kuaashish commented on #3435
Hi @jyh2378, Currently MediaPipe does not have the C++ interface to build Android solutions. You can create [Android AAR using any solution ](https://google.github.io/mediapipe/getting_started/android_archive_library.html#mediapipe-android-archive) to build android examples. We will let you know if there is any specific update on the above request. Thank you!

[2022-06-16 10:08] kuaashish commented on #3436
Hi @TZECHIN6, Have you looked at this closed issue #583 and [comment](https://github.com/google/mediapipe/issues/583#issuecomment-609919618).
Please let us know if you still need any help. Thank you!

[2022-06-16 10:23] mslmgzde commented on #3424
this is my code 4 servos working but fifth one is not working. I get the issue that the bytes must be within the range (0, 256)
can you help me ?

`import cv2
import serial
import mediapipe as mp
import math
import numpy as np
import time
import pyfirmata

#--------------

board = pyfirmata.Arduino('COM4')
servoisaret = board.get_pin('d:5:s')
servoorta = board.get_pin('d:9:s')
servoyuz = board.get

[2022-06-16 13:16] FwZtheone opened #3437 "What is the algorithm that use mediapipe solution pose ?"
Hello everyone, I would like to understand how mediapipe works with the Pose solution. is it machine learning or deep learning if so what type of learning is it? then what algorithm does it use? I searched but I did not find house

[2022-06-16 14:00] 5A8G0001 opened #3438 "mediapipe==0.8.3 Solutions.Pose , how to set up model_complexity"
The version I originally used was mediapipe==0.8.10,but for other reasons I had to use 0.8.3.
however, the 0.8.3 version does not have this model_complexity  parameter when it is initialized.
Are there any other alternatives?

[2022-06-16 15:25] fiveshit opened #3439 "Run Mediapipe on background service (Android)"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>
I want to run Mediapipe on the background service .Is it possible?
I want to implement a function like "TouchFree".

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided i

[2022-06-16 17:51] Mohammad-Alghrawe commented on #2739
Thanks a lot

[2022-06-16 20:48] pablovela5620 opened #3440 "'opencv2/core/version.hpp' file not found apple M1"
Following up on issues #2805 and #2519 I am also getting the error 'opencv2/core/version.hpp' on my M1 Mac. when following
`Building C++ command-line example apps`

I made sure to install Opencv via brew, as well as doing a soft like similar to #2519
`sudo ln -sf /opt/homebrew/Cellar/opencv@3/3.4.14_3 /usr/local/opt/opencv@3`

I ran the example build command
`bazel build -c opt --define MEDIAPIPE_

[2022-06-17 02:16] TZECHIN6 commented on #1369
Hi @manwithsteelnerves , at this moment, seem that the custom object detection is not ready yet, and only 5 classes can be detected.

Actually i am working on this [idea](https://github.com/google/mediapipe/issues/3436), the more I read in Google, the more I got confused...  Assume Unity is a must in my use case (for better graphic rending and flexibility of working on animation), which AI pipelin

[2022-06-17 02:23] TZECHIN6 commented on #3436
Hi @kuaashish , sorry i think i still need your help on this. If Unity is used for AR implementation, do i still need ARCore? or Unity + Mediapipe can do the trick for my task once I could build my own AAR?

[2022-06-17 02:28] QuincyChoyQC commented on #3410
Thank you kuaashish, I think you have answered my question.
I missed these two questions.

[2022-06-17 02:28] #3410 closed

[2022-06-17 03:28] Thaina commented on #1369
@TZECHIN6 Currently ARCore has its own session system to access hardware and fabricate many system together internally. It very rigid and I don't think it could integrate with mediapipe easily. Given that mediapipe itself also very rigid too

Given that ARCore require specific hardware to be able to work. I think mediapipe is more usable

[2022-06-17 03:46] manwithsteelnerves commented on #1369
@TZECHIN6 for all the features we developed(barcode, object detection, text recognition and face), we didn't notice any issues using ar camera as input for processing.
Regarding custom object detection model, thats something we will start on once we finish all features.

[2022-06-17 04:17] sureshdagooglecom commented on #3427
Hi @UX3D-mazzini ,
Could you share more information to reproduce this issue.

[2022-06-17 04:18] Thaina commented on #3155
@sureshdagooglecom I can't reopen this issue by my own

[2022-06-17 04:35] sureshdagooglecom commented on #3384
Hi @390057892 ,
Models do take significant time to load, up to several seconds.  Holistic has 6 models included, this will multiply the time for loading models.  Therefore, 5 to 10 seconds may be expected on some devices.

[2022-06-17 04:36] sureshdagooglecom commented on #3404
Hi @Modyng ,
It is possible to omit each of the 6 models from Holistic.  Within each model, there is no easy way to reduce the set of landmarks predicted by the model.

[2022-06-17 04:37] sureshdagooglecom commented on #3405
Hi @UnlimitedX ,
1) Have you validated that the mask produced by produced by SelfieSegmentationGpu is useable using the RecolorCalculator?  So the only problem is MaskOverlayCalculator?
2) Please ensure that the RGBA channel produced by SelfieSegmentationGpu matches the channel expected by MaskOverlayCalculator.  I see that the default for MaskOverlayCalculator is the RED channel.
3)Please try som

[2022-06-17 04:39] sureshdagooglecom commented on #3421
Hi @GeorgeS2019 ,
Blendshapes come from Xeno (https://drive.google.com/open?id=1f030M8gbXgJN-5-JhcPkDnK5ehIwl3grNhRXSZBXvjw&resourcekey=0-q6Z33dZKrau_ngUh0gJDeA) .
The basic implementation is ready, but was waiting for a stable MediaPipe version of the app to submit. Pushing to M2 sounds good.

[2022-06-17 04:53] sureshdagooglecom commented on #3430
Hi @felixdollack ,
Could you please check whether the imports are loaded appropriately. Thanks!

[2022-06-17 05:17] omkarmohanjoshi opened #3441 "Error in detection.location_data"
Hi

I am trying to get bounding box of the pose estimate using draw_detection function given in drawing_utils.py but I am getting error in location_data.

Error is - "AttributeError: 'google.protobuf.pyext._message.FieldProperty' object has no attribute 'format'"

detection = detection_pb2.Detection giving me this error. I am not sure what input draw_detection needs for detection parameter.  Pleas

[2022-06-17 05:18] sureshdagooglecom commented on #3423
Hi @Shubhambindal2017 ,
Threshold impact will be more in detecting the bounding boxes , hence it is necessary to set appropriate threshold values.

[2022-06-17 05:38] GeorgeS2019 commented on #3421
@sureshdagooglecom

Hi Suresh, could you clarify what you mean by M2?

MediaPipe has become an industry standard for developers. I believe many would not need to wait for the app you refer to but would use the basic implementation immediately as part of the MediaPipe SDK.

**Please PR** it so the community could **build** or use the **nightly built** version immediately and start testing it so we

[2022-06-17 05:48] GeorgeS2019 commented on #3421
For reference:

[VSBuild discussion](https://github.com/google/mediapipe/issues?q=is%3Aissue+is%3Aopen+Windows+build#issuecomment-1123345899) and [source codes](
https://github.com/andrechen/mediapipe/blob/f843e68a958f4a452be848bfef9855c540f2845e/visualstudio/live_demo/main.cc#L47)

[2022-06-17 06:01] quire7 commented on #253
@eknight7 @mgyong any update about the audio demo app support two input streams(video and audio)?

[2022-06-17 06:09] quire7 opened #3442 "any update about the audio demo app support two input streams(video and audio)?"
<em> want to mediapipe support two input streams(video and audio) ? **any update about the audio demo app support two input streams(video and audio)?**</em>

[2022-06-17 06:32] felixdollack commented on #3430
I am 99% sure that I did not get those errors when I opened the issue, but here they are :/
[code]

[2022-06-17 06:49] #3362 closed

[2022-06-17 06:58] caotri0407 commented on #1466
Thank you so much for your help. It's worked. I appreciate and respect the quick feedback and quick fix.

[2022-06-17 07:14] caotri0407 commented on #1466
Yes, I get it. Thank you for care me. But after that I used Jupyter and it's worked so smooth.

[2022-06-17 09:08] jyh2378 commented on #3435
Thank you for answer. I hope that this part will be added someday!

[2022-06-17 09:08] #3435 closed

[2022-06-17 09:22] Shubhambindal2017 commented on #3423
Yes, but thresholds should not change/affect the same bounding boxes coordinates values (assuming that their scores are >= set confidence score). It seems to be a bug, I have explained this issue more clearly in my above post.

[2022-06-17 09:35] Shubhambindal2017 opened #3443 "How to stop (turn off) face tracking in JS based FaceMesh solution?"
**System information** (Please provide as much relevant information as possible)
- [MediaPipe version](https://github.com/google/mediapipe/releases): Mediapipe FaceMesh 0.4.1633559619
- Solution (e.g. FaceMesh, Pose, Holistic): FaceMesh
- Programming Language and version ( e.g. C++, Python, Java): Javascript

Is there any way with which I can stop (turn off) face tracking in the javascript-based f

[2022-06-17 11:17] ElonXXIII opened #3444 "What are the Output Tensors of Palm Detection?"
I am trying to insert custom networks into the hands pipeline to detect not-quite human hands and to understand the inputs and outputs of the existing networks. As I understand, the outputs of the Landmark Detection are the 1x63 tensor containing the landmarks' xyz coordinates, a 1x1 presence tensor, a 1x1 handedness tensor and an unused 1x63 tensor (or are the 1x63 for right and left hands?)
But

[2022-06-17 13:32] pixml27 commented on #3391
Thanks a lot for your answer!
I figured it out and let me correct you a little: TfLiteTensorsToDetectionsCalculator can also get 4 tesors, as stated[ here](https://github.com/google/mediapipe/blob/4a20e9909d55838d5630366ce719844cf06ae85c/mediapipe/calculators/tflite/tflite_tensors_to_detections_calculator.cc#L358), and then everything will work fine.
Anyway, the easiest way to add a custom tflite

[2022-06-17 13:32] #3391 closed

[2022-06-17 13:38] TahirIshaq commented on #2964
@adnan6336
Hello adnan, can you share the python build process that you used for **Hands**?
After modifying v0.8.9 for GPU using 4.6.1, 4.6 and 4.5.1, I am able to complete the build process but when importing, I get this error:

[code]
For v0.8.5, 0.8.4, 0.8.3, 0.8.3.1 and 0.8.1. I am able to complete the build process but get this error:

[code]

[2022-06-17 13:45] pixml27 opened #3445 "Object detection desktop tflite graph on gpu error - "Buffer 118 size in bytes 24 < requested size_in_bytes 9600""
Well, I successfully built object_detection desktop tflite solution with my custom tflite yolov5 model (thanks for you work!)
Based on this [graph ](https://github.com/google/mediapipe/blob/master/mediapipe/graphs/object_detection/object_detection_desktop_tflite_graph.pbtxt) i want to run it on gpu.
If I understand mediapipe approach correctly, I should convert ImageFrame to gpu_buffer, then add t

[2022-06-17 15:26] adnan6336 commented on #3058
Any updates?

[2022-06-17 15:32] doriclazar opened #3446 "tensorflow installation fails when building from dockerfile"
**Specs**
- OS Platform and Distribution: Windows 11 - Building Ubuntu 18.04 bionic
- Programming Language and version: Default - python 3.6.9
- MediaPipe version: main branch - HEAD

**The problem**
Dockerfile fails on a message:
protobuf requires Python '>=3.7' but the running Python is 3.6.9
this is caused because the tensorflow 1.14.0 requires protobuf>=3.6.1, instead of protobuf==3.6.1. Becau

[2022-06-18 05:21] Modyng commented on #3404
@sureshdagooglecom and @jiuqiant

Hi and Thanks for the reply,

i'm looking for the hard way! because i dont want to omit none of the 6 models but just some landmarks of each.

Would you please point me to that direction

Thanks
best regards

[2022-06-18 09:32] ZaWarudo111 commented on #3426
`pip install protobuf==3.20.*` worked for me too! Thanks!

[2022-06-19 02:57] CusterFun commented on #3418
## 1. how should I judge the relationship between the pose landmarks and the screen coordinates?

use windows size divide by image size get a ratio.

[code]

## 2. how should I judge body whether to move left or right.

[code]

[2022-06-19 07:29] JoeyMyMan commented on #2544
I think you could try to remove the parameter here , and it would be : `self.pose = self.mpPose.Pose()`

[2022-06-19 10:56] fchen09 opened #3448 "Output world coordinates in pose, instead of normalized coordinates"
Hi,
I built the ios example of the pose code, and it works well.
However, what I want to output is the world coordinates, instead of the normalized coordinates.
What I did is below:
<img width="1118" alt="Screen Shot 2022-06-19 at 6 52 36 PM" src="https://user-images.githubusercontent.com/84703080/174477537-e7e76d06-666c-46c1-b495-04d1eff03c85.png">

I modified the "pose_landmarks" into "pose_worl

[2022-06-19 14:56] fiveshit commented on #513
@a798347923  I would to know your project can use USBcamera(webcam) device on android device ?
Beacause I use example code [https://github.com/google/mediapipe/tree/master/mediapipe/examples/android/solutions/hands/src/main/java/com/google/mediapipe/examples/hands](url)  that can work on android phone, but it can't work  USBcamera on android platform.

[2022-06-19 17:55] jiapei100 opened #3449 "How to link manually installed opencv4 ??"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): Ubuntu 22.04
- Com

[2022-06-19 19:03] pauldubois98 commented on #1388
I'm not very sure to understand how to use mediapipe with a canvas instead of a videoelement...
In particular, I am willing to pass single image(s), instead of the camera.
Could you explain a little futher how to do that?

Thank you for your time!

[2022-06-20 06:19] #3338 closed

[2022-06-20 06:19] #3360 closed

[2022-06-20 06:19] #3377 closed

[2022-06-20 06:48] liufsd commented on #3448
+1

[2022-06-20 07:04] fchen09 commented on #3448
I got the answer,  refer to #3013, since I missed the proto file.

[2022-06-20 07:11] sureshdagooglecom commented on #3434
Hi @nrkrishna ,
Recently we updated the released model to produced additional world 3D landmarks output with origin in hips center.
More details can be found in API: https://google.github.io/mediapipe/solutions/pose#pose_world_landmarks
And in the blog: https://blog.tensorflow.org/2021/08/3d-pose-detection-with-mediapipe-blazepose-ghum-tfjs.html

If you want to calculate relative depth between lan

[2022-06-20 07:13] sureshdagooglecom commented on #3437
Hi @FwZtheone ,
Mask R-CNN is a very popular algorithm for instance segmentation. The model has the capability to simultaneously localize and classify objects by creating a bounding box around the object and also by creating a segmentation mask. The basic architecture can be easily extended for Human Pose Estimation tasks.

[2022-06-20 07:17] FwZtheone commented on #3437
Hi, I did some research. I came to the conclusion that the Mediapipe Pose solution is blazepose which is itself deep learning, in terms of architecture it must be CNN

[2022-06-20 07:18] sureshdagooglecom commented on #3444
Hi @ElonXXIII ,
 As in SSD models, these are the predictions based on predefined anchors. We use [TfLiteTensorsToDetectionsCalculator](https://github.com/google/mediapipe/blob/a2a63e387680c090f76072864a107647e874d390/mediapipe/graphs/hand_tracking/subgraphs/hand_detection_gpu.pbtxt#L91) to decode the output tensors given the [SSD anchors](https://github.com/google/mediapipe/blob/a2a63e387680c090f7

[2022-06-20 07:27] sureshdagooglecom commented on #3439
Hi @fiveshit ,
Could you provide steps to reproduce this issue and please elaborate this issue to know more.

[2022-06-20 07:34] sureshdagooglecom commented on #3437
Hi @FwZtheone ,
It is using algorithm which is similar to R-CNN architecture.

[2022-06-20 07:38] sureshdagooglecom commented on #3430
Hi @felixdollack ,
Please follow below steps.
1. Don't have to replace the jsdelivr, that piece of code is fine; also I think you need to reorder your code a little bit:
2.Should put the faceMesh initialization inside the useEffect, with [] as parameter; therefore, the algorithm will start when the page is rendered for the first time
3.Also, you don't need to get videoElement and canvasElement wit

[2022-06-20 07:44] Shubhambindal2017 commented on #3443
Thanks, @sureshdagooglecom for your reply, but I am looking to off face tracking for the Javascript-based FaceMesh solution, and I am not sure whether above mentioned commenting out step can be done for it.

[2022-06-20 08:22] ElonXXIII commented on #3444
From the calculator's .cc file: First tensor is the predicted raw boxes/keypoints. The size of the values must be (num_boxes * num_predicted_values). Second tensor is the score tensor.
So there are 2016 boxes, the 1x2016x1 tensor is the score tensor and the 1x2016x18 tensor is the raw boxes/keypoints tensor.
But why is it 18 keypoints? Are the 6 wrist landmarks in x,y,z the output? I thought the o

[2022-06-20 10:09] sureshdagooglecom commented on #3416
Hi @wingdi ,
Please follow below pre-requisites.
This are Prerequisites https://google.github.io/mediapipe/getting_started/android.html#prerequisite, But still you can build. and run applications with [android:minSdkVersion="21"](https://github.com/google/mediapipe/blob/master/mediapipe/examples/android/solutions/hands/src/main/AndroidManifest.xml#:~:text=%3Cuses%2Dsdk,android%3AtargetSdkVersion%3

[2022-06-20 10:15] sureshdagooglecom commented on #3406
Hi @byy01 ,
Could you please share code changes to investigate on this issue.

[2022-06-20 10:19] #3399 closed

[2022-06-20 10:32] kuaashish commented on #3436
Hi @TZECHIN6, Unity is not officially supported by **MediaPipe** yet. Assuming this [MediaPipeUnityPlugin](https://github.com/homuler/MediaPipeUnityPlugin) could be more helpful. Thank you!

[2022-06-20 11:27] cagcoach commented on #360
@mgyong are there plans for a (probably paid) fine-tune service, so that I can upload somewhere my training data and get an optimized model back? I'm working with the 3D Human Pose Estimator and some moves I try to detect seem to be out of scope...

[2022-06-20 11:35] hughfenghen commented on #2819
@ostap0207  Hi, try exec `rmDocLockListener` in your `stop` function
[code]

[2022-06-20 11:53] pixml27 commented on #3445
So, we were able to find out that this problem only occurs when we using coverted to tflite yolov5. When we run this graph with your ssd model everythin is ok.
It turns out that the problem is in some layer of the yolov5 model, and only during inference on the GPU. Can you give any advice on how to more accurately localize the problem?

[2022-06-20 14:00] Hayden2018 commented on #3420
Hi @sureshdagooglecom

In that case its seems to be problem about the Javascript API. My problem is about Android Studio API.

Also, the problem there is about video input not working. In my case both video and camera input is not working if the code is copied outside the original project.

[2022-06-20 14:36] DeividVeloso commented on #3373
Hello @mhays-google, did you have a chance to take a look?

Thank you.

[2022-06-20 16:43] takashioya opened #3450 "How is (x, y, z) of left/right iris calculated in the attention mesh model?"
Hi, thank you so much for maintaining this wonderful library :)

As the [documentation](https://google.github.io/mediapipe/solutions/face_mesh.html) says, we can use the attention mesh model by setting `refine_landmarks = True`. Moreover, when using the attention mesh model, we can obtain additional 10 points that represent (x, y, z) coordinates of irises as output. This means the shape of the fin

[2022-06-20 17:38] mgarbade commented on #3389
Some further findings (using the above code, but changing the graph definition)

 - this graph works:

[code]

- these two graphs do not work

[code]
and

[code]

Error message is the same unintelligable / useless message as shown above...

[2022-06-20 17:52] takashioya commented on #3450
I solved this issue by myself.
These 20 values represents (x, y) coordinates of irises.
z can be obtained by taking the average of z values of the landmarks that are present in `mp.solutions.face_mesh.FACEMESH_LEFT_EYE` and `mp.solutions.face_mesh.FACEMESH_RIGHT_EYE`.

[2022-06-21 02:40] fiveshit commented on #3439
Hi @sureshdagooglecom
I just would to know it is possible ? Because I tried to implement service but it's failed.
for example code as below:
MainActivity.java
public class MainActivity extends AppCompatActivity implements View.OnClickListener{
private static final String TAG = "ServiceMain";
    // declaring objects of Button class
    private Button start, stop;

    @Override
    protected void

[2022-06-21 05:19] #3395 closed

[2022-06-21 06:19] #3369 closed

[2022-06-21 07:42] farukkyldzx opened #3451 "Bitmap Converter"
Hello. I use hair segmentation. I want to buy a mask (black & white) for hair coloring and to make changes. I looked at other issues and couldn't find the answer.

OR I want to see the image I see in Surface View as a bitmap
[code]

How can I convert the data I listen as a packet to a bitmap?

[2022-06-21 08:09] gavel94 opened #3452 "processor.onNewFrame(bitmap, long): JNI DETECTED ERROR IN APPLICATION: GetStringUTFChars received NULL jstring"
I'm seeing the following crash after a call to (the very first frame after app launch) :
processor.onNewFrame(bitmap, System.currentTimeMillis());

Integrate pose detection according to documentation.

1，Initialize
‘’‘
        try {
            processor = FrameProcessor(activity,"pose_tracking_gpu.binarypb")

            processor?.addPacketCallback("pose_landmarks",object :PacketCallback{

[2022-06-21 08:58] sureshdagooglecom commented on #3400
Hi @Kutayykilic ,
We consider it as a great feature and share with internal team.

[2022-06-21 09:10] kuaashish commented on #3449
Hi @jiapei100, Above issue might be with opencv installed successfully and not linked properly. Can you try the workaround mentioned here https://github.com/google/mediapipe/issues/2624#issuecomment-934325347. Thank you

[2022-06-21 09:12] kuaashish commented on #3445
Hi @pixml27, We do not support Yolo, as it is quite out-dated, instead we recommend to use our SSD MobileNet object detection in Mediapipe.
Typically, if you have a tensorflow model you'll need to convert it to mobile version with [tflite_converter](https://www.tensorflow.org/lite/examples/object_detection/overview). Then use our inference calculator to run inference on device, our tflite inferenc

[2022-06-21 09:18] kuaashish commented on #3403
Hi @maxstrobel, Could you please provide the steps to reproduce and more information about the issue. Thank you

[2022-06-21 09:30] kuaashish commented on #3448
Hi @fchen09, Could you let us know this is still a issue or solved as mentioned on above [comment](https://github.com/google/mediapipe/issues/3448#issuecomment-1160054126). Thank you

[2022-06-21 10:06] agGitHub opened #3453 "How to open, build and run iristrackinggpu with Android Studio (OSX)?"
Hi,

I don't understand how to open, build and run iristrackinggpu with Android Studio (on Mac OSX).

What root folder or root file should I open with Android Studio? Any specific script to execute once the project open?

Thanks.

[2022-06-21 11:44] pius-braun commented on #3449
I had the same issue yesterday on my raspberry pi 4.
I solved it by editing `mediapipe/third_party/opencv_linux.BUILD`.
In `cc_library()` I changed `linkopts` like this:

[code]
means, entering the full path to the opencv libraries.
Hope this helps.

[2022-06-21 12:37] mgarbade commented on #3389
Ok, I finally found a "working" graph for my simple hello_world / tflite toy-example:

[code]

The corresponding BUILD file looks like this (`mediapipe/examples/desktop/hello_world`):

[code]

and the "driver code" (again adapted from the `hello_world.cc` example

[code]

However, there is still a bug that remains: The above code only returns 3 packages whereas the graph had 10 packages given as i

[2022-06-21 13:01] alexwtx opened #3454 "How to remove specific landmarks from Hand Landmark Model"
[Hands solution](https://google.github.io/mediapipe/solutions/hands.html) issue.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Windows 10
- [MediaPipe version](https://github.com/google/mediapipe/releases): v0.7
- Bazel version:
- Solution (

[2022-06-21 14:11] #3417 closed

[2022-06-22 04:05] CheungBH commented on #3342
Hello. Any progress about it? This problem has been raised for more than a month

[2022-06-22 06:21] kuaashish commented on #3449
Hi @pius-braun, Thanks for sharing the workaround. @jiapei100 could you please try the above [workaround](https://github.com/google/mediapipe/issues/3449#issuecomment-1161636500) and let us know if you successfully linked the opencv4. Thank you

[2022-06-22 06:52] kuaashish commented on #3453
Hi @agGitHub, Could you please respond to the above [comment](https://github.com/google/mediapipe/issues/3453#issuecomment-1161647769). Thank you

[2022-06-22 08:13] agGitHub commented on #3453
I don't manage to open properly this project in Android Studio (not recognized as Android project). Please give the detailed steps to open this project. Thanks.

[2022-06-22 10:37] alexwtx commented on #3454
@kuaashish can you help please?

[2022-06-22 11:10] sureshdagooglecom commented on #3440
Hi @pablovela5620 ,
Could you provide steps to reproduce this issue.

[2022-06-22 11:15] sureshdagooglecom commented on #3438
Hi @5A8G0001 ,
Could you please 0.8.9 version for model complexity , since we don't have model complexity parameter in 0.8.3.

[2022-06-22 11:45] 390057892 commented on #3408
Can you provide us with a demo

[2022-06-22 13:28] 5A8G0001 commented on #3438
thanks for your reply.
But since I have to use python3.6.6 to develop, I have to use 0.8.3

[2022-06-22 13:49] tso996 commented on #3440
You may already know this but it could be because your m1 mac is not being recognised as an Apple OS by bazel and is choosing the default configuration in the BUILD file and as a result, some of the necessary components for building in Apple os aren't being built.
A step in the right direction would be to open the BUILD file in the folder of each file that is throwing the error and adding the Appl

[2022-06-22 15:05] UX3D-mazzini opened #3455 "2 stages architecture question about paper"
Solution: Objectron

Im reading the papers and the online documentation of Objectron.

There is a sentence in the paper that I don't understand.
https://arxiv.org/pdf/2012.09988.pdf

About the 2 stage architecture you wrote that:
"We also designed a new two-stage architecture for 3D object detection.
The first stage estimates a 2D crop of the object of the size 224 × 224 using SSD model[20][16], f

[2022-06-22 20:42] anzarabbas opened #3456 "frustrating pip install failure"
macOS Monterey Version 12.4
MacBook Pro 14 Inch 2021
Chip Apple M1 Pro
Python 3.9.7

When I run `pip install mediapipe`, it gives me the following error:

[code]

Interestingly, the issue is the same with a package like tensorflow, but packages like numpy or pandas I'm able to install just fine.

[2022-06-23 00:17] carat-hansol opened #3457 "Error running hello_world on macos"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): MacOS 12.1
- Compi

[2022-06-23 00:59] pablovela5620 commented on #3457
I'm having this exact error aswell, on both my mac m1 machine and a different ubuntu machine. Looks like its specifically this
`load("@bazel_tools//tools/cpp:toolchain_utils.bzl", "find_cpp_toolchain", "use_cpp_toolchain")
Error: file '@bazel_tools//tools/cpp:toolchain_utils.bzl' does not contain symbol 'use_cpp_toolchain' (did you mean 'find_cpp_toolchain'?)`

Everything seemed to be building fin

[2022-06-23 01:10] pablovela5620 commented on #3457
Hmm the interesting thing is I get a similar error when trying it on version 0.8.9 of mediapipe which uses bazel version 4.2.1, but I still get the same error

[2022-06-23 01:11] carat-hansol commented on #3457
FYI, I'm using mediapipe v0.8.10

[2022-06-23 01:43] pablovela5620 commented on #3457
Looks like that fixed things for me on v0.8.10 🎉  Thank you so much for the solution

[2022-06-23 04:14] felixdollack commented on #3430
Sorry for the delayed response.
Thank you for your suggestions @sureshdagooglecom.
I added some of them, but the example you gave is for `face_detection`.
I am trying to use `face_mesh`.

[2022-06-23 05:05] sureshdagooglecom commented on #3451
Hi @farukkyldzx ,
Hair segmentation can be done in hair_segmentation_mobile_gpu.pbtxt calculator usinfg below code snippet.
https://github.com/google/mediapipe/blob/master/mediapipe/graphs/hair_segmentation/hair_segmentation_mobile_gpu.pbtxt#:~:text=node%20%7B-,calculator%3A%20%22RecolorCalculator%22,%7D,-%7D

[2022-06-23 05:16] sureshdagooglecom commented on #3457
Hi @carat-hansol ,
Looks like issue has been resolved, can we close this issue?

[2022-06-23 05:20] carat-hansol commented on #3457
Yes, this issue is resolved.
Thanks :)

[2022-06-23 05:20] #3457 closed

[2022-06-23 08:41] sureshdagooglecom commented on #3452
Hi @gavel94 ,
Make sure to set input stream for CPU via frameProcessor.setVideoInputStreamCpu("input_video") where input_video should be the name of the input stream for your graph. That property isn't passed in constructor of FrameProcessor, only the one for GPU is.

[2022-06-23 08:47] sureshdagooglecom commented on #3454
Hi @alexwtx ,
Yes, it can be done by removing input_stream: "landmark_render_data"or input_stream: "VECTOR:0:multi_hand_landmarks_render_data" from AnnotationOverlayCalculator config.

Depends on your application is on top of multihand or single hand tracking and the graph is on cpu or gpu, you need to modify one of the the following graphs:
[mediapipe/mediapipe/graphs/hand_tracking/subgraphs/mult

[2022-06-23 09:08] laughing33 commented on #3129
I canceled the BAZEL_WINSDK_FULL_VERSION, which means not to tell bazel the version of sdk, let it try to find the default one.

[2022-06-23 12:53] kboyarshinov commented on #3457
The real reason why this fails with Bazel 5.0.0 is because [rules_cc](https://github.com/bazelbuild/rules_cc) recently received some new commits that only work with newer Bazel, while [mediapipe uses `main`](https://github.com/google/mediapipe/blob/master/WORKSPACE#L37) branch as a direct dependency.

@sureshdagooglecom Is there a reason why mediapipe doesn't use bundled `rules_cc`? I tried removi

[2022-06-23 13:40] alexwtx commented on #3454
I'm sorry. I'm a beginner to MediaPipe. How can I access **multi_hand_renderer_gpu.pbtxt** file? there's no  **/mediapipe/graphs** directory in my local pip installed mediapipe library.
or do I have to create that file?

[2022-06-23 14:18] mark-beeby opened #3458 "Selfie Segmentation (Javascript) requires unsafe-eval"
**System information** (Please provide as much relevant information as possible)

- Browser and version (e.g. Google Chrome, Safari) if the issue happens on browser: Chrome 102
- Programming Language and version ( e.g. C++, Python, Java): Javascript
- [MediaPipe version](https://github.com/google/mediapipe/releases): v0.8.10 (NPM @mediapipe/selfie_segmentation@0.1.1632777926)
- Solution ( e.g. Fac

[2022-06-23 15:28] schmidt-sebastian commented on #3457
Thanks for the issue. We have fixed this internally and will prepare a new release shortly.

[2022-06-23 16:22] brucechou1983 commented on #3457
Facing the same issue on version 0.8.8 and bazel 3.7.2.

[2022-06-23 17:06] CookieHCl opened #3459 "Windows: Hello world build fails - python.exe is not executable"
**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): **Windows 11 21H2 (22000.739)**
- Compiler version (e.g. gcc/g++ 8 /Apple clang version 12.0.0): **gcc 11.2 (mingw-w64)**
- Programming Language and version ( e.g. C++ 14, Python 3.6, Java ): **VS Build Tools 16.11.16/MSVC v142 VS 2019 C++

[2022-06-23 22:44] Leonnmarshall commented on #1886
e como pode fazer isso com java scrip

[2022-06-24 03:51] Ar4enal opened #3460 "Object detection - Protocol message contained an invalid tag (zero)."
I'm trying to transfer object detection data by TCPsocket from C++ to java.

In C++ send :
for (const ::mediapipe::Detection & detection : output_detections){
      detection.SerializeToArray(buffer,MESSAGE_LEN);
      send(accept_fd, buffer, MESSAGE_LEN, 0);

In Java android receive:
mInStream.read(buf);
DetectionProto.Detection recviveDetections = DetectionProto.Detection.parseFrom(buf);

Androi

[2022-06-24 05:22] UnlimitedX commented on #3405
Yes it works well.

3)Please try some constant mask and different two input video streams to gain any insight about non-black output from MaskOverlayCalculator.
4)Please try passing the video stream through a final GL calculator to gain more insight about the output of MaskOverlayCalculator.

Ok thanks, I'm currently doing some tests and I'll keep you updated about the progress.

[2022-06-24 05:44] kuaashish commented on #3459
Hi @CookieHCl, Seems you have used the path where Python has installed, You need to add the Python Binary path to install MediaPipe.
Could you try following commands to find the binary path in Python interpreter:

 `>>> import os`
 `>>> import sys`
 `>>> os.path.dirname(sys.executable)`
 `>>> Python Binary Path`

I hope it will work. Thank you!

[2022-06-24 06:11] gavel94 commented on #3452
After I set “ frameProcessor.setVideoInputStreamCpu("input_video")”. I got the following log。
‘’’
2022-06-24 14:09:21.771 5027-5649/com.elevatorbus.feco E/FrameProcessor: Mediapipe error:
    com.google.mediapipe.framework.MediaPipeException: invalid argument: Graph has errors:
    Packet type mismatch on calculator outputting to stream "input_video": The Packet stores "mediapipe::ImageFrame", but

[2022-06-24 06:23] CookieHCl commented on #3459
Still, it seems `C:\\Python310\\python.exe` is the correct path..
[code]

[2022-06-24 07:09] blackchen20004 commented on #3267
I also met this issue. Reproduce rate less than 1/100.

pid: 3345, tid: 3621, name: mediapipe/3621  >>> com.blake.aircmd <<<
uid: 10326
    x0  0000006fe1b38f40  x1  0000000000000080  x2  0000000000000000  x3  0000000000000000
    x4  feff303135322e64  x5  feff303135322e64  x6  feff303135322e64  x7  7f7f7f7f7f7f7f7f
    x8  0000000000000062  x9  0000000000000000  x10 0000000000000001  x11 00000000

[2022-06-24 07:55] kuaashish commented on #3459
Hi @CookieHCl, Seems unable to understand the same path for both. Could you look into the below path on your Windows(**If Exist**) and try to add the similar path to install the MediaPipe.

Please let us know if this resolves the issue. Thank you

[2022-06-24 08:11] #3460 closed

[2022-06-24 08:19] #3397 closed

[2022-06-24 08:40] zzmicer commented on #3312
@NikolayChirkov @sureshdagooglecom
Hey, any news on this issue?

[2022-06-24 09:01] ButzYung commented on #2506
@tyrmullen  Running mediapipe on web worker may not do much on high-end devices, but it does make a difference on lower-end devices. Say if your device can only run mediapipe at below 20fps, if you run everything on the main thread, your graphics rendering will also be stuck at the same frame rate (the cause can be the CPU overhead used by the mediapipe models, or it's the way the GPU resources ar

[2022-06-24 12:30] RajPanjwani-2001 commented on #2964
@adnan6336 Can you plz share your **face_landmark_front_gpu.pbtxt** file?? It will be very helpful. I am unable to build the wheel from [https://github.com/jiuqiant/mediapipe_python_aarch64](url). Thank you in advance.

[2022-06-24 12:31] RajPanjwani-2001 commented on #2964
@adnan6336 Can you plz share your **face_landmark_front_gpu.binarypb** file?? It will be very helpful. I am unable to build the wheel from [https://github.com/jiuqiant/mediapipe_python_aarch64](https://github.com/google/mediapipe/issues/url). Thank you in advance.

[2022-06-24 12:41] mgarbade opened #3461 "How to feed 3D data [79 x 18 x 2] as input tensor to tflite model?"
I have I written a custom graph:
  - it expects an Eigen::Matrix as input
  - converts the matrix into a tensor
  - runs a tflite model on the tensor
  - convert the output tensor to a vector of floats
  - returns that vector

Here is the graph:
[code]

The graph compiles and runs, when i feed it with some toy input Eigen::Matrix. Weirdly, it does not even crash when the input matrix has wrong dim

[2022-06-24 12:57] pixml27 commented on #3445
``Hey @kuaashish !
Thanks a lot for your answer! The use [yolov5](https://github.com/ultralytics/yolov5), and manual converted its tflite version. I don't think it's outdated, but it doesn't work on the GPU...
In any case, we have done a lot of experiments, I want to share with you our observations and ask questions
1. We forgot about yolo and started experimenting with models from tf-object-detec

[2022-06-24 15:25] FereshtehFeiz opened #3462 "Error for running the Hello world example in Mac OS"
Hello,
I followed the instruction related to the installation from here:
https://google.github.io/mediapipe/getting_started/install.html#installing-on-macos
but for running the Hello world example in Mac OS I came across the following error:
anyone has similar problem to help me?

Thank you

[code]

[2022-06-24 17:22] #3462 closed

[2022-06-24 17:43] TranDuyNhat opened #3463 "RuntimeError: failed to invoke XNNPACK runtimeNode number 205 (TfLiteXNNPackDelegate) failed to invoke."
Hello, I'am running yolo v4 on raspberry pi wwith tensorflow 2.9. I met this error while running. Please help me. Thanks

Traceback (most recent call last):
  File "/home/pi/Final_Project/tensorflow-yolov4-tflite-ok/detectvideo.py", line 97, in <module>
    app.run(main)
  File "/home/pi/.local/bin/.virtualenvs/hope_env/lib/python3.9/site-packages/absl/app.py", line 312, in run
    _run_main(main,

[2022-06-24 17:44] BitLoose commented on #1162
In hand_landmarks_to_rect_calculator.cc I would like to check the handedness of the landmarks, but I don't know the tag names to use, and I think there is no documentation.
I've added:
   const auto& alandmarks = cc->Inputs().Tag(kNormalizedLandmarksTag).Get<NormalizedLandmarkList>();
    if (alandmarks.landmark_size() == kNumLandmarks) {
        ...
But how to access the data from the earlier Pal

[2022-06-24 18:32] alexiscatnip commented on #3023
Just had a similar error on windows.

windows, python 3.7, mediapipe pose model complexity 1

WARNING: Logging before InitGoogleLogging() is written to STDERR
E20220625 02:25:20.911455 32260 calculator_graph.cc:804] INTERNAL: CalculatorGraph::Run() failed in Run:
Calculator::Process() for node "poselandmarkbyroicpu__poselandmarksandsegmentationinverseprojection__InverseMatrixCalculator" failed: ;

[2022-06-24 18:35] FereshtehFeiz commented on #3440
I have the same error:
./mediapipe/framework/port/opencv_core_inc.h:18:10: fatal error: 'opencv2/core/version.hpp' file not found
I want to run:
bazel run --define MEDIAPIPE_DISABLE_GPU=1 mediapipe/examples/desktop/iris_tracking:iris_depth_from_image_desktop
on Mac M1
I don't know how to fix it? while I can run the HelloWorld.

[2022-06-24 19:00] tyrmullen commented on #2506
@ButzYung That's what I meant by saying workers wouldn't help pure performance of the ML inference-- that the 5fps framerate would not increase (and might potentially decrease, depending).  Workers can definitely help unblock the main thread, for fast and slow devices alike, but when it's GPU it's usually less about overhead and more about synchronization and waiting; Holistic has to wait on CPU f

[2022-06-24 19:06] KTRosenberg commented on #2506
So you need the offscreen canvas? It would be nice to have a complete running example available.

[2022-06-25 01:24] wingdi commented on #3416
[code]
When build result is aar , can't sampling data from brdfLUTTexuture, but when build result is apk, can sampling(get) data from brdfLUTTexture. I have test many times step by step.

[2022-06-25 07:54] CookieHCl commented on #3459
OK. I've managed to get a new error message...

I'm using PowerShell 7.2.5 to type install command, but it seems bazel uses bash (likely msys2, since I don't have other bash) to run command. So `C:\\Python310\\python.exe` was the correct path in windows, but I had to use `/mnt/c/Python310/python.exe` in bazel.

Now _python.exe is not executable_ error doesn't appears, but here is the new error....

[2022-06-25 09:37] Ar4enal opened #3464 "How to change input type in detection_unique_id_calculator.cc?"
in detection_unique_id_calculator.cc, I want to input `Detection` instead of `std::vector<Detection>`. The output does not change.

How to code in these parts?

https://github.com/google/mediapipe/blob/4a20e9909d55838d5630366ce719844cf06ae85c/mediapipe/calculators/util/detection_unique_id_calculator.cc#L57-L61

https://github.com/google/mediapipe/blob/4a20e9909d55838d5630366ce719844cf06ae85c/media

[2022-06-25 15:54] ButzYung commented on #2506
@tyrmullen I tested it on an android phone with Snapdragon 845. I suppose it is running on GPU (I doubt it will be anything more than 1fps if it runs on CPU), but unfortunately I can't check the web console with my current setup. In fact, I tested it with non-worker case as well, and the inference speed is almost the same (5-7fps) but the 3D rendering speed drops significantly to around the same f

[2022-06-26 09:25] lomankuk commented on #1928
Hello,

I am seeing the same error. AttributeError: module 'mediapipe' has no attribute 'solutions'

Double checked, no duplication of file/directory names.
My setting is ..
OS: Linux (a Debian offspring)
Opencv: 3.2.0
Python: 3.7.3

I just run three lines in python3 console ...

then the above error pop up.

I have also checked this ...

['__doc__', '__file__', '__loader__', '__name__', '__packag

[2022-06-26 21:14] xzwang2005 opened #3465 "Fail to generate xcode project with Tulsi"
**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution: macOS Monterey
- Compiler version :  Apple clang version 13.1.6
- Programming Language and version: C++ 14
- [MediaPipe version](https://github.com/google/mediapipe/releases): commit 7fb37c
- Bazel version: 5.0.0
- XCode and Tulsi versions (if iOS): XCode 13.4.1, Tulsi 0.20220209.88

**

[2022-06-26 21:40] FereshtehFeiz opened #3466 "Blink detection with Iris tracking solution in c++"
Hello,
Beside Real-time Pupil Tracking, I want to have blink detection in the real time video(webcam)
my doubt is: is it possible to do it with Iris tracking solution in C++? The MediaPipe Visualizer of Iris Tracking when the eye is closed still shows the blue landmarks of the pupils.
https://viz.mediapipe.dev/demo/iris_tracking
The Iris tracking code let me add these features? or someone has alre

[2022-06-26 22:35] salihmarangoz commented on #3377
[cv::jointBilateralFilter()](https://docs.opencv.org/3.4/da/d17/group__ximgproc__filters.html#ga80b9b58fb85dd069691b709285ab985c)

[2022-06-27 01:46] #3412 closed

[2022-06-27 02:58] shesung opened #3467 "knift model with a smaller batch size"
The batch size of provided knift tflite models are 200, 400 and 1k。A smaller batch size can help to achieve a lower latency。Is there a way to change the batch size in tflite file?

[2022-06-27 05:25] #3411 closed

[2022-06-27 05:25] #3414 closed

[2022-06-27 07:50] kuaashish commented on #3459
Hi @CookieHCl, MediaPipe currently tested with Bash MSMY2. Please follow the [instructions](recommend) mentioned in the official documentation. Thank you

[2022-06-27 07:52] FereshtehFeiz opened #3468 "Build did NOT complete successfully for Iris tracking desktop"
Hello,
I want to build the iris tracking through this command
`bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 mediapipe/examples/desktop/iris_tracking:iris_tracking_cpu_video_input
`
I run it in MacOS (M1)
but I got the following error:
I did the installation by following this:
https://google.github.io/mediapipe/getting_started/install.html#installing-on-macos
and HelloWorld example build suc

[2022-06-27 08:15] kuaashish commented on #3468
Hi @FereshtehFeiz, Please refer this issue [#2519 (comment)](https://github.com/google/mediapipe/issues/2519#issuecomment-918778136) for your query . Thank you!

[2022-06-27 08:22] sureshdagooglecom commented on #3461
Hi @mgarbade ,
We have similar issue regarding input to tflite model , please check this [issue](https://github.com/google/mediapipe/issues/199).

[2022-06-27 08:24] sureshdagooglecom commented on #3463
Hi @TranDuyNhat ,
This issue is related to Tensorflow , please post this issue in Tensorflow repo since this is MediaPipe repo.

[2022-06-27 08:26] sureshdagooglecom commented on #3464
Hi @Ar4enal ,
For a calculator with inputs, the framework calls Process() repeatedly whenever at least one input stream has a packet available. The framework by default guarantees that all inputs have the same timestamp (see [Synchronization](https://google.github.io/mediapipe/framework_concepts/synchronization.html) for more information). Multiple Process() calls can be invoked simultaneously whe

[2022-06-27 08:28] sureshdagooglecom commented on #3465
Hi @xzwang2005 ,
We have similar issue running in thread https://github.com/google/mediapipe/issues/3342 and waiting for resolution from community, please follow this thread for resolution.

[2022-06-27 08:31] sureshdagooglecom commented on #3466
Hi @FereshtehFeiz ,
We have detailed documentation on building real time blink detection , please follow the [documentation](https://google.github.io/mediapipe/solutions/iris.html) with steps written in doc.

[2022-06-27 08:52] Anulo2 commented on #3271
Firefox 101.0.1 here. Same issue but to free the memory I have to close the the browser. It does apply to every demo we've tried to this point. On edge everything works fine (the framerate is way lower though. Firefox does almos 60fps while edge 25....)

[2022-06-27 08:58] FereshtehFeiz commented on #3466
Sorry but I couldn't find related to the blink detection, could you please show more in detail?
Is there any GitHub repo for this paper for Irish landmark?
https://arxiv.org/pdf/2006.11341.pdf
Thank you

[2022-06-27 10:11] kuaashish commented on #3459
Hi @CookieHCl, Did you try with [above](https://github.com/google/mediapipe/issues/3459#issuecomment-1165307148) workaround mentioned. If tried, Could you please share the complete error log. Thank you

[2022-06-27 10:48] CookieHCl commented on #3459
@kuaashish No, I couldn't do it because that path didn't exist. `'C:/Users/Username/AppData/Local/Programs/` didn't have `Python` directory. (Also checked LocalLow, Roaming)

If you really need the log, here's the log, but it's the same `python.exe is not executable` error.

[code]

[2022-06-27 10:54] GreenVegetables opened #3469 "android example solutions for selfie-segmentation"
Could you please provide an example solution for selfie-segmentation. Currently only facedetection, facemesh, hands. I really need selfie-segmentation example solution, please

[2022-06-27 11:36] kuaashish commented on #3459
Hi @sureshdagooglecom, Could you please look into this issue. Thank you!

[2022-06-27 13:23] mark-beeby commented on #3458
@sureshdagooglecom / @kuaashish - a quick glance down the issues list shows @mhays-google no longer seems to support the MediaPipe project and this issue is likely to die without comment. Is there anyone else that might be able to input here?

[2022-06-27 15:04] CookieHCl commented on #3459
Oops... Sorry this was my issue..
I just found out WSL also makes bash command... I thought `wsl` was the only way to open WSL, but `bash` can also open WSL too...
So instead of msys2 bash, WSL bash was opening...

I solved this by setting BAZEL_SH environment variable mentioned [here](https://docs.bazel.build/versions/main/install-windows.html#bazel-does-not-find-bash-or-bashexe).

[2022-06-27 15:49] fchen09 opened #3470 "Import a third-party library from github for iOS"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4):iOS15.5
- Compiler

[2022-06-27 19:55] tyrmullen commented on #2506
It's been a while since I've tried anything on Android Chrome (I'm assuming this is Chrome), so that's very good to know!  I wonder if that's because the repeated CPU/GPU sync-ing gives it some breathing room, or if the browser is playing a more active role in the throttling.  Perhaps one way to test the first would be to try with Segmentation instead of Holistic and see if that changes things, si

[2022-06-28 01:32] zk2ly commented on #3421
@sureshdagooglecom Please support this feature request for https://github.com/google/mediapipe/issues/3421

[2022-06-28 03:53] kuaashish commented on #3459
Hi @CookieHCl, Thanks for the confirmation! Can we move this issue to close status.
Thank you

[2022-06-28 04:16] CookieHCl commented on #3459
Yes, I'll close this issue.
Thanks for your help!

[2022-06-28 04:17] #3459 closed

[2022-06-28 04:48] kuaashish commented on #3469
Hi @GreenVegetables, We have Android examples implementation for selfie-segmentation as mentioned [here](https://google.github.io/mediapipe/).
You can build and run Android examples by targeting the following path in the Android Studio:

`mediapipe/examples/android/src/java/com/google/mediapipe/apps/selfiesegmentationgpu/BUILD`

Please refer this issue [#3453  (comment)](https://github.com/google/

[2022-06-28 05:05] kuaashish commented on #3470
Hi @fchen09, Could you please elaborate your query with complete details. Thank you!

[2022-06-28 06:03] GreenVegetables commented on #3469
Hello @kuaashish

I have used the AAR of selfie-segmentation in my project and it is working fine. All contents of the package com.google.mediapipe are included in the AAR. like this:
<img width="395" alt="image" src="https://user-images.githubusercontent.com/9369149/176104214-50742ebd-f4c6-4764-b58e-84b7f4853c24.png">

At the same time, I want to use facemesh with solution api way. In build.gradl

[2022-06-28 06:28] imhjh opened #3471 "Is there any way to install mediapipe on the mips architecture?"
Hello! I need to run MediaPipe Python on mips64el Loongbian GNU/Linux 10 (buster), which is base on Debian 10.  i tried to use x86_64 (Debian GNU/Linux 10 buster )computer to build but it did't works, i don't known how to build.

System information：
gcc version 8.3.0 (Debian 8.3.0-6+loongbian1)
Python 3.7.3

[2022-06-28 06:34] kuaashish commented on #3469
Hi @GreenVegetables, Could you just open another issue with the second question to use two MediaPipe solutions at the same time. Thank you!

[2022-06-28 06:42] kuaashish commented on #3471
Hi @imhjh, Could you please elaborate your query with complete details. Thank you!

[2022-06-28 06:47] GreenVegetables opened #3472 "Use two MediaPipe solutions at the same time."
I have used the AAR of selfie-segmentation in my project and it is working fine. All contents of the package com.google.mediapipe are included in the AAR. like this:
<img width="395" alt="image" src="https://user-images.githubusercontent.com/9369149/176104214-50742ebd-f4c6-4764-b58e-84b7f4853c24.png">

At the same time, I want to use facemesh with solution api way. In build.gradle, I added
[code]

[2022-06-28 06:51] GreenVegetables commented on #3469
Hi @kuaashish
I opened a new issue, it's [here](https://github.com/google/mediapipe/issues/3472)

[2022-06-28 07:24] imhjh commented on #3471
HI,
I want to build mediapipe python package(python wheel files) for mips architecture on my conputer, is that ok to  Cross-Compile for MIPS architecture on Debian Linux? or i can only build this package on my MIPS architecture?
Sorry for my poor grammar.

[2022-06-28 08:37] mark-beeby commented on #2799
@ostap0207 were you able to work around this? I've manipulated the wasm_bin.js to some success (removed a couple of the evals successfully) but ultimately the code architecture is incredibly difficult to unwind and remove the reliance on `createNamedFunction`.

[2022-06-28 12:03] koegl commented on #3354
@willanie have you been able to implement this filtering? I'm also trying to fix the jitter with filtering, however, at the moment I only have an implementation with FFTs that works on a recorded clip, i.e. as a form of post-processing. As a next step I want to try to apply the FFT with a sliding window (or something of this sort)

[2022-06-28 12:08] schmidt-sebastian commented on #3457
We will update the code on GitHub today.

[2022-06-28 12:36] koegl commented on #742
To get a more intuitive understanding of how the model coordinates work I recommend taking a look at this web-implementation:
https://codepen.io/mediapipe/pen/RwGWYJw

You can see that the output model is never translated, only its orientation is changing

[2022-06-28 12:43] hamza2559502 commented on #2999
import mediapipe as mp
import cv2
import numpy as np
import uuid
import os
mp_drawing = mp.solutions.drawing_utils
mp_hands = mp.solutions.hands

cap = cv2.VideoCapture(0)
#Set Frame Size
cap.set(3, 1280)
cap.set(4, 650)
joint_list = [[8,7,6], [12,11,10], [16,15,14], [20,19,18],[2,3,4]]

def fingerAngles(image, results, joint_list):

    # Loop through hands
    for hand in results.multi_hand_land

[2022-06-28 16:40] wwdok commented on #2043
@aoxipo Hi, how do you understand the z coordiante value now ?

[2022-06-28 23:50] BitLoose commented on #959
I've tested using the same code as prantoran, and it hangs when no handedness packet is available so needs the known "presence_packet" check, that done, mediaPipe is not reliably determining handedness, its about 30% reliable, then after a while there are no more handedness packets for reasons unknown.
Anyone getting better results?  If so, please let me know

[2022-06-29 05:57] #3428 closed

[2022-06-29 07:46] kuaashish commented on #3469
Hi @GreenVegetables, Thanks for raising a separate issue for another query. Can we move this issue to close status as resolved and following #3472.
Thank you!

[2022-06-29 07:56] GreenVegetables commented on #3469
Hi @kuaashish , Thanks for following up and responding to my question. I will close this issue.

[2022-06-29 07:56] #3469 closed

[2022-06-29 08:21] 459zyt commented on #2031
How can I connect these points with wires

[2022-06-29 08:26] 459zyt commented on #2031
How can I connect these points with wires,please?

[2022-06-29 10:06] sureshdagooglecom commented on #3454
Hi @alexwtx ,
There  will be directory when you import MediaPipe files, please check files and import it ,so that you can do changes as steps mentioned in the above comments.

[2022-06-29 10:07] sureshdagooglecom commented on #3452
Hi @gavel94 ,
Could you provide code changes to investigate further on this issue.

[2022-06-29 10:17] sureshdagooglecom commented on #3430
Hi @felixdollack .
Could you please check whether the imports are loaded appropriately. Thanks!

[2022-06-29 10:18] gavel94 commented on #3452
According to the document inheritance, above I already use all the code related to mediapipe.
Here is all the code for my module.
“”"
package com.jiangdg.usbcamera

import android.graphics.Bitmap
import com.serenegiant.usb.CameraDialog.CameraDialogParent
import com.serenegiant.usb.widget.CameraViewInterface
import android.hardware.usb.UsbDevice
import android.widget.Toast
import com.jiangdg.usbcam

[2022-06-29 10:20] sureshdagooglecom commented on #3408
Hi @lhalcyon .
can we close this issue if it is resolved.

[2022-06-29 10:22] gavel94 commented on #3452
Here is my ARR packaging script。I don't know if this helps with the problem.Thank you very much for your help。
“””
load("//mediapipe/java/com/google/mediapipe:mediapipe_aar.bzl", "mediapipe_aar")

mediapipe_aar(
    name = "mediapipe_pose_tracking",
    calculators = ["//mediapipe/graphs/pose_tracking:pose_tracking_gpu_deps"],
)
“”“

[2022-06-29 11:02] mgarbade commented on #3461
The referenced thread is very hard to read because of bad formatting and as far as I can see it's not directly related to my question: The two mentioned issue authors both try to feed an image to a tflite model, whereas I'm trying to feed a 3D tensor of float data to the tflite model.

[2022-06-29 12:26] sureshdagooglecom commented on #3420
Hi @Hayden2018 ,
Could you please code changes to investigate on this issue.

[2022-06-29 14:06] ROBYER1 commented on #617
Why is this issue closed when Windows (and also MacOS) GPU support isn't added yet? On these platforms it would be of great benefit for performance in different app use-cases. Does anyone have any update on plans for Mediapipe Windows/MacOS GPU support?

[2022-06-29 14:09] ROBYER1 commented on #574
As a developer using Mediapipe on a range of platforms both desktop MacOS/Windows and Android/IOS, I am very interested in seeing GPU support get added for Windows and MacOS.

Is there a public roadmap or anywhere to see the status of these features being added? Desktop GPU support for Mediapipe is something that our clients have been asking about for many months. Thanks for your hard work on this

[2022-06-29 14:23] 459zyt opened #3474 "How to connect only a few characteristic points"
I use this method to display these points, but these points cannot be connected by lines？
I show the points 11, 12, 13, 14 on the body, but I can't connect the points with a line
![image](https://user-images.githubusercontent.com/94236736/176640510-50450317-9912-405f-b465-be301bbbb213.png)

[code]

[2022-06-30 01:17] 5A8G0001 commented on #3438
ok, thank you very much for your reply.

[2022-06-30 02:34] zk2ly commented on #3421
No access rights

[2022-06-30 07:42] sureshdagooglecom commented on #1389
Hi @djthegr8 ,
Plam detection is available in the latest MediaPipe version , please verify and close this issue.

[2022-06-30 07:45] sureshdagooglecom commented on #1514
Hi @mgebhard ,
Apple M1 supports in latest release , could you check, verify  and close this issue.

[2022-06-30 07:48] sureshdagooglecom commented on #1707
Hi @mayank10j ,
This issue can be resolved in the latest version of MediaPipe , could you please check and close this issue.

[2022-06-30 07:50] sureshdagooglecom commented on #2100
Hi @JamieGB92 ,
This issue can be resolved in latest version of MediaPipe ,could you please check and close this issue.

[2022-06-30 07:52] sureshdagooglecom commented on #2141
Hi @Lpayaro ,
This can be reclosed as supports only 64-bit Chrome Android.

[2022-06-30 07:53] sureshdagooglecom commented on #2316
Hi @z7212819 ,
This is issue can be resolved in the latest version of MediaPipe , could you please check and close this issue.

[2022-06-30 07:54] sureshdagooglecom commented on #2432
Hi @Shubhodeepdas83 ,
This is issue can be resolved in the latest version of MediaPipe , could you please check and close this issue.

[2022-06-30 07:55] sureshdagooglecom commented on #2559
Hi @emad-eldeen ,
This is issue can be resolved in the latest version of MediaPipe , could you please check and close this issue.

[2022-06-30 07:55] UnlimitedX commented on #3405
Hi @jiuqiant @sureshdagooglecom , any news?
I'm looking forward to hearing from you :-)

[2022-06-30 07:56] sureshdagooglecom commented on #2627
Hi @edgar-bcn ,
This is issue can be resolved in the latest version of MediaPipe , could you please check and close this issue.

[2022-06-30 07:56] Ar4enal commented on #3464
Thanks for replying. I know how the calculator works.

I just want to change the input stream type of this calculator.

Because I separate these calculators into 2 systems and I can not pass `std::vector<Detection>` into the `detection_unique_id_calculator`. I can only pass `Detection` into it.

Looking forward to some advice~

[2022-06-30 08:32] kuaashish commented on #3474
Hi @459zyt, Could you please elaborate your query with complete details. Thank you!

[2022-06-30 09:19] 459zyt commented on #3474
I added more detailed instructions

[2022-06-30 09:19] #3474 closed

[2022-06-30 09:24] zzmicer commented on #3472
Hello @GreenVegetables
I've faced your issue before. The only solution I found - combine multiple solutions in one graph. For example you first perform selfie segmentation and after that run face detection.

[2022-06-30 09:35] BitLoose commented on #959
I tested handedness in the release build and strangely there is zero handedness packet output, whereas in the debug build there is although with poo reliability.  Why would release and debug vary?  I'm using Windows and Visual Studio 2022, everything up to date, with MediaPipe 2.0 2019

[2022-06-30 11:03] #3471 closed

[2022-06-30 13:14] djthegr8 commented on #1389
Great!

[2022-06-30 13:28] PraveshARMedical opened #3475 "Turning Calculators on/off during run time"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Ubuntu 22.04
- [Me

[2022-06-30 15:06] sillysalat opened #3476 "Pose tilt along Z-axis"
Greeting.

I've faced an issue with results of Pose estimation solution.
The technical side works well for me, but the results show repetitive missbehaviour.

MediaPipe version: 0.8.10
- Solution Pose
- Python, Unity, C#, tflite.

I haven't modifies the code.

Clear frontal images of human facing the camera after inference produce results of figure tilted along a Z-axis.

Pose estimation of image

[2022-06-30 15:16] mathaeus opened #3477 "Support for `sim_arm64` (Apple Silicon) for iOS - Implementation steps included"
**System information** (Please provide as much relevant information as possible)

- Programming language : Objective C / iOS
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state:**
Currently the iOS Mediapipe framework does not support compilation for arm64 Simulator (Apple Silicon). That means one can't compile an iOS app that includes the Mediap

[2022-06-30 15:35] kboyarshinov commented on #3476
@sillysalat Judging from the range of XYZ axies on the image, you seem to be using normalized landmarks for 3D visualations. These output landmarks are normalized to input image in XY axies, but Z represents approximate depth from the camera. Try using world landmarks output instead - real-world 3D coordinates representing keypoint location in space, measured in meters.

[More information](https:/

[2022-06-30 17:16] sillysalat commented on #3476
You are right, the plot I posted was based on normalized pose_landmarks. However it's because I was checking all the options and saved the wrong plot for the post.

Here's the same issue with pose_world_landmarks:
![pose_world_landmarks](https://user-images.githubusercontent.com/65604434/176737979-f4454f28-7e82-4a3f-a260-4cfa7e8d6474.png)

still hope there's a minor inattentiveness of mine to be e

[2022-06-30 18:07] MigraineSurvivor opened #3478 "Running Face Mesh on Android with specified images"
- OS Platform and Distribution (Android 11):
- Solution (FaceMesh):
- Programming Language (Java)
- Android Studio
In the Android Face Mesh solution, it runs by selecting photos from the gallery. I would like to know how I could run a specific image without the user's interference. Automatically choosing a specific image either from the gallery or saved up drawable.
I would like to know how I coul

[2022-07-01 01:34] SunXuan90 commented on #3160
I have the same issue on android. I ported movnet thunder, and the inference time is doubled compared to official demo app.

[2022-07-01 02:36] brucechou1983 commented on #2851
@sureshdagooglecom Could you help with this issue?

[2022-07-01 04:25] #3427 closed

[2022-07-01 05:17] Leo-Uncle opened #3479 "How to resolve the problem that if set model complexity to 2 it would run failed"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
- OS Platform and Distribution : windows 10
- [MediaPipe version](https://github.com/google/mediapipe/

[2022-07-01 05:25] #3384 closed

[2022-07-01 06:39] shesung commented on #3467
Thanks! But knift tflite model did have a explicit batch_size(200, 400, 1k). Smaller batch size is prefered in some case.

[2022-07-01 07:25] #3429 closed

[2022-07-01 07:27] monxarat opened #3480 "TfLiteGpuDelegate Prepare: OpenGL ES 3.1 or above is required to use OpenGL inference arm64-v8a"
Hi guys,

When I ran FaceDetection mode on the mobile device `arm64-v8a`, the below error has occurred, how to solve this problem.

My device uses OpenGL ES 3.2
[code]

[2022-07-01 09:27] lhalcyon commented on #3408
Not yet.  Would you give me some help.   I mentioned 2 Error above . : )

[2022-07-01 13:50] ggjj321 opened #3481 "Android build example app occur bazel not found the package"
OS: Ubuntu 18.04
bazel version:
Bazelisk version: v1.12.0
Build label: 5.2.0
Android
sdk: 30.0.3
ndk: 21.1.7075529

I'm trying to build a handtrackinggp example app. But "error: package com.android.dx.command.dexer does not exist" occur.
Please help me solve the problem.

There is the whole error message:
[code]

[2022-07-01 14:59] cindyloo commented on #3430
am experiencing similar 'abort facemesh' issue with React and Facemesh. I'm using Camera vs webcam, and have my facemesh initialization inside the initial useEffect hook.

[2022-07-01 17:31] aidengk-iris opened #3482 "What is the norminal processing speed of mediapipe's hand solution?"
**System information** (Please provide as much relevant information as possible)
- Have I written custom code : Yes, custom code but only post processing on mediapipe's results. **Mediapipe's hand solution is untouched.**
- OS Platform and Distribution:

  Windows 10 Version 10.0.19044 Build 19044 for Intel based desktop.
  Windows 11 Pro Version 10.0.22000 Build 22000 for AMD based laptop

- [Med

[2022-07-01 17:42] cindyloo commented on #2963
hello- I'm running into the same issue again. Can someone advise - it's been a few months! I've broken my code down further:

[code]

[2022-07-01 18:05] #3437 closed

[2022-07-02 10:04] 1alexuwu opened #3483 "Mediapipe Holistic AAR - Extract Keypoints"
I found a mediapipe holistic aar here https://github.com/shadow111/mediapipe-holistic-tracking-aar-example and it works fine. I combined some code from the mediapipe multihand tracking aar from mediapipe itself to make the holistic access the front cam. Now my question is how to extract keypoints? I can't find examples or documentation.

[2022-07-02 12:01] YongHe999 opened #3484 "There is a problem with the meshing instance image of face_geometry"
There is a problem with the meshing sample image of face_geometry，

Below is a sample image from github

https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_geometry/data/canonical_face_model_uv_visualization.png

However, the image generated by the program is like the following one

https://mediapipe.dev/assets/img/photos/faceMesh.jpg

There are some differences in the division

[2022-07-02 12:56] andrechen commented on #3484
Can't find that **face_model_landmarks_triangles.txt**. But as i checked **canonical_face_model.obj** and **geometry_pipeline_metadata_landmarks.pbtxt**. Both files are coincident with canonical_face_model_uv_visualization.png. I can construct the exactly the same image as **canonical_face_model_uv_visualization.png** either from the canonical_face_model.obj or geometry_pipeline_metadata_landmarks

[2022-07-02 12:57] andrechen commented on #3484
Can't find that **face_model_landmarks_triangles.txt**. But as i checked **canonical_face_model.obj** and **geometry_pipeline_metadata_landmarks.pbtxt**. Both files are coincident with canonical_face_model_uv_visualization.png. I can construct the exactly the same image as **canonical_face_model_uv_visualization.png** either from the canonical_face_model.obj or geometry_pipeline_metadata_landmarks

[2022-07-02 13:31] YongHe999 commented on #3484
There may be some problems with my expression, the grid displayed by the sample code on Python Colab is as follows,

![1](https://user-images.githubusercontent.com/97277469/177002722-9c311739-d5bf-45d6-8153-bd8bf45caaca.PNG)

canonical_face_model_uv_visualization.png is as follows，It is obvious that the meshing in the forehead is different。
![2](https://user-images.githubusercontent.com/97277469/1

[2022-07-02 14:43] andrechen commented on #3484
So to speak, face_mesh_connections.py is incorrect and your triangle list file is not correct, either.

[2022-07-02 14:59] YongHe999 commented on #3484
Mesh generation is a form of expression. The official Python example code shows that mesh generation and face_ mesh_ connections. Py is the same as canonical_ face_ model_ uv_ visualization. PNG is different. There needs to be a unity between the two. Maybe they need to modify the sample code.

[2022-07-02 16:05] JoseBarreiros-TRI opened #3485 ""'NoneType' object is not subscriptable" in pose.process(im)"
- Linux Ubuntu 20.04:
- Solution: Pose
- Python 3

Hi, I am writing a wrapper for the pose solution such that the initialization and processing of a frame are easily accessible.
When running `pose.process(image)`, I get a `'NoneType' object is not subscriptable` error at the second iteration. Here is the code to reproduce it.
import cv2
import mediapipe as mp
import pdb
import time

[code]

Traceb

[2022-07-02 21:44] koegl commented on #3375
As per the [documentation](https://google.github.io/mediapipe/solutions/hands.html#hand-landmark-model):
"we take Z-value from image depth map"

[2022-07-02 21:53] koegl commented on #2645
Have you made any progress with that?

[2022-07-02 22:14] koegl commented on #2199
To get the 3D coordinates in world space ("real" 3D coordinates) you need to perform two steps.

Take a look at the code from [Python Solution API](https://google.github.io/mediapipe/solutions/hands.html) for webcam input - I'll be referring to that.

1. Solve the Perspective-n-Point problem like so:
`success, rotation_vector, translation_vector = cv2.solvePnP(model_points, image_points, camera_ma

[2022-07-03 03:04] #3256 closed

[2022-07-03 04:21] andrechen commented on #3484
mediapipe/mediapipe/modules/face_geometry/data/canonical_face_model.fbx
![image](https://user-images.githubusercontent.com/2261137/177024337-a954b59c-48ac-4e87-9e8a-a80e824f7406.png)

mediapipe/mediapipe/modules/face_geometry/data/canonical_face_model.obj
![image](https://user-images.githubusercontent.com/2261137/177024353-c169d66e-e983-4ef8-8c24-8ebdc2b2250f.png)

[2022-07-03 10:47] fchen09 commented on #3470
Hi, kuaashish,
I tried to import an Obj-C library into the Xcode project generated from the official example, but I am not sure how to do it.
So far, I just dragged the source file [from ](https://github.com/Figure53/F53OSC/tree/master/Sources) into the example, but I cannot import "F53OSC.h" with an error "F53OSC.h was not found".
Also, I tried to add a build file attached, and it shows a compile

[2022-07-03 11:41] andy380743909 opened #3486 "how to run Iris Depth solution on webcamera or video file not static image?"
I can run the `iris_depth_from_image_desktop` successfully.
And I know I must get EXIF info from Image using the `ImageFilePropertiesCalculator` calculator like this:

but the data type of the input_stream is Raw Image Data, so I need to get Raw Image Data from webcamera or video file.

Can anyone tell me how to do this?

[2022-07-03 12:13] rcsmit commented on #1615
I anotated an image of Gal Gadot with the ID's of the landmarks

https://github.com/rcsmit/python_scripts_rcsmit/blob/master/extras/Gal_Gadot_by_Gage_Skidmore_4_5000x5921_annotated_black_letters.jpg

https://github.com/rcsmit/python_scripts_rcsmit/blob/master/extras/Gal_Gadot_by_Gage_Skidmore_4_5000x5921_annotated_white_letters.jpg

[2022-07-03 13:08] andy380743909 commented on #1064
hi @fanzhanggoogle , can you tell me how to get facal length of the webcamera from the video stream captured from the camera?

[2022-07-03 14:53] andy380743909 commented on #3175
hi @sureshdagooglecom , I think the problem is how can we get EXIF info from the data stream from webcamera. I had google a lot, but nothing found.

[2022-07-03 18:16] ver0z commented on #1484
I tried it with Tensorflow Js and the performance was the same, it did not reach more than 6 FPS, I guess because of Native App does not need a bridge like React need [You can see it](https://medium.com/devcnairobi/how-does-react-native-actually-its-work-538dd224e0dd). So it will afect the [FPS](https://medium.com/swlh/flutter-vs-native-vs-react-native-examining-performance-31338f081980) and like

[2022-07-04 01:30] #3479 closed

[2022-07-04 01:32] stoneaccount opened #3487 "Face mesh memory leak"
when i use face mesh in my program，I find that the face mesh cause my activity leak. the gc cannot clear the activity after i finished it

in method onCreate i init face mesh
        facemesh =
                new FaceMesh(
                        this,
                        FaceMeshOptions.builder()
                                .setStaticImageMode(false)
                                .setR

[2022-07-04 05:29] kuaashish commented on #3481
Hi @ggjj321, Please refer this issue [#3365(comment)](https://github.com/google/mediapipe/issues/3365#issuecomment-1135883896) for your query. Thank you!

[2022-07-04 06:27] sureshdagooglecom commented on #3475
Hi @PraveshARMedical ,
We have calculators implemented for different functions to perform , please check [this](https://google.github.io/mediapipe/framework_concepts/calculators.html#:~:text=A%20calculator%20is%20created%20by%20defining%20a%20new%20sub%2Dclass%20of%20the%20CalculatorBase%20class%2C%20implementing%20a%20number%20of%20methods%2C%20and%20registering%20the%20new%20sub%2Dclass%20with%2

[2022-07-04 06:27] #3438 closed

[2022-07-04 06:31] sureshdagooglecom commented on #3476
Hi @sillysalat ,
Recently we updated the released model to produced additional world 3D landmarks output with origin in hips center.
More details can be found in API: https://google.github.io/mediapipe/solutions/pose#pose_world_landmarks
And in the blog: https://blog.tensorflow.org/2021/08/3d-pose-detection-with-mediapipe-blazepose-ghum-tfjs.html

[2022-07-04 06:34] sureshdagooglecom commented on #3478
Hi @MigraineSurvivor ,
We don't support that in MediaPipe to run on specified images.

[2022-07-04 06:36] sureshdagooglecom commented on #3467
Hi @shesung ,
Due to limited support , we don't have this support ,please use multiple graphs in parallel to run batch size images.

[2022-07-04 06:42] sureshdagooglecom commented on #3482
Hi @aidengk-iris ,
Models do take significant time to load, up to several seconds .
Therefore, 5 to 10 seconds may be expected on some devices.

[2022-07-04 07:08] MigraineSurvivor commented on #3478
I am actually new to Java and Android as well however, can't the following code be changed to accommodate a specific image?

Intent pickImageIntent = new Intent(Intent.ACTION_PICK);
pickImageIntent.setDataAndType(MediaStore.Images.Media.INTERNAL_CONTENT_URI, "image/*");
imageGetter.launch(pickImageIntent);

[2022-07-04 07:12] aidengk-iris commented on #3482
Hi @sureshdagooglecom
Thanks for getting back to me. I was thinking of the time it takes for the hand solution to process one video frame, after loading the models.
I should have been more clear that the models are already loaded when I timed the processing time of a frame

[2022-07-04 07:46] kuaashish commented on #3480
Hi @monxarat, Please refer this issue #3153 for your query. Thank you

[2022-07-04 08:11] daniele-gusmini opened #3488 "Control FPS Pose"
I would like to know if there is a way to limit FPS in order to reduce the impact on the system performance.
I do know that is possible to monitor the current speed through ControlUtils.FPS but not how to limit them, could you help me?

[2022-07-04 08:31] sureshdagooglecom commented on #3483
Hi @1alexuwu ,
We have issue running in the thread https://github.com/google/mediapipe/issues/64, please check this issue.

[2022-07-04 09:01] sureshdagooglecom commented on #3482
Hi @aidengk-iris ,
Can we close this issue if the issue has resolved.

[2022-07-04 09:13] sureshdagooglecom commented on #3484
Hi @YongHe999 ,
Are you still facing any issue.

[2022-07-04 09:14] sureshdagooglecom commented on #3478
Hi @MigraineSurvivor ,
What is the error you are getting when you are executing that code.

[2022-07-04 09:21] MigraineSurvivor commented on #3478
I get no error, it works fine but I would like the button to automatically choose an image from the gallery or drawable without the user's interference instead of the user picking an image.

[2022-07-04 09:24] fiveshit commented on #3439
Floating window function can work on my project so close it

[2022-07-04 09:25] #3439 closed

[2022-07-04 10:30] andy380743909 commented on #3486
I have run the Iris Depth Demo app on iPhone successfully, and I know how does it work, it obtain the focal length pixels from the iOS API, then feed it to the mediapipe graph through a input side packet.
And also I can run the Iris Depth from image Demo on macOS, it accept a static image with EXIF info as input stream, the graph read the focal length pixels data from the EXIF, so mediapipe can ca

[2022-07-04 11:09] ireneb612 opened #3489 "Integration for Threejs or Blender coordinates"
It would be usefull to have a function that transfroms the coordinates to the coordinate systems of threejs or Blender! Would it be possible?

[2022-07-04 11:11] #3406 closed

[2022-07-04 11:37] #3484 closed

[2022-07-04 12:11] #3436 closed

[2022-07-04 12:51] aidengk-iris commented on #3482
@sureshdagooglecom
Yeah I guess ~35ms is the best the hand solution can do at this moment. Let's close the issue.
I still look forward to the community's sharing of the processing time though.
Many thanks.

[2022-07-04 12:51] #3482 closed

[2022-07-04 19:30] hpflatorre opened #3490 "Android Solutions Examples are missing x86_64 architecture libs and get rejected by Google Play Store"
**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): Windows 10 21H2 building for Android
- Programming Language and version ( e.g. C++ 14, Python 3.6, Java ): Java
- [MediaPipe version](https://github.com/google/mediapipe/releases):  [v0.8.10.2](https://github.com/google/mediapipe/tree/v0.8

[2022-07-05 02:18] sronen71 opened #3491 "Holistic Avatar demo"
In [Grishchenko et al (2022): BlazePose GHUM Holistic: Real-time 3D Human Landmarks and Pose Estimation](https://arxiv.org/pdf/2206.11678.pdf) The authors write:
" To showcase BlazePose GHUM Holistic we created an open-source avatar demo (see Fig. 4) in MediaPipe (https://mediapipe.dev). The demo is available for web browsers and allows to control body and hands of a standard Mixamo avatar at 15 F

[2022-07-05 06:47] kuaashish commented on #3485
Hi @JoseBarreiros-TRI, Could you please provide the reproducible code to investigate it further. Thank you!

[2022-07-05 06:52] huhai463127310 commented on #3421
+1

[2022-07-05 06:53] kuaashish commented on #3486
Hi @andy380743909, Have you looked at this closed issue #1133 and [comment](https://github.com/google/mediapipe/issues/1133#issuecomment-699239014). Thank you!

[2022-07-05 07:19] kuaashish commented on #3490
Hi @hpflatorre, Have you looked at this closed issue #2979. Thank you!

[2022-07-05 10:11] #3403 closed

[2022-07-05 11:37] sureshdagooglecom commented on #3487
Hi @stoneaccount ,
Can you share the error logs to investigate further ?

[2022-07-05 11:39] sureshdagooglecom commented on #3488
Hi @daniele-gusmini ,
Could you please elaborate this issue to investigate further on this.

[2022-07-05 12:11] sureshdagooglecom commented on #3489
Hi @ireneb612 ,
Could you please elaborate w.r.t above issue.

[2022-07-05 12:11] sureshdagooglecom commented on #1209
Hi @nlothian ,
Could you please reproduce the above error with the latest release and let us know if the issue still exists. Thanks!

[2022-07-05 12:12] sureshdagooglecom commented on #1252
Hi @xiao668 ,
Could you please reproduce the above error with the latest release and let us know if the issue still exists. Thanks!

[2022-07-05 12:13] sureshdagooglecom commented on #2252
Hi @DimIsaev ,
Could you please reproduce the above error with the latest release and let us know if the issue still exists. Thanks!

[2022-07-05 12:14] sureshdagooglecom commented on #2914
Could you please reproduce the above error with the latest release and let us know if the issue still exists. Thanks!

[2022-07-05 12:14] sureshdagooglecom commented on #3183
Could you please reproduce the above error with the latest release and let us know if the issue still exists. Thanks!

[2022-07-05 12:25] jindanchu commented on #3393
Hello, anyone can give me a hand?

[2022-07-05 12:58] Mau794 opened #3492 "Extract landmarks from each hand in mediapipehands"
**System information**
- Solution: Hands and Holistic
- Programming Language and version ( e.g. C++, Python, Java): Python

**Describe the expected behavior:**

My goal is to extract the hand landmarks from media pipe for each hand to train an LSTM network with and to recognize different actions.

With the Holistic solution, this is quite easy, since all landmarks of the left or right hand can be

[2022-07-05 18:49] mauricewells commented on #3214
Pls look at ending part in WORKSPACE file
you can see android sdk repository defined several times
pls delete that definitions so that define android sdk repository once only

[2022-07-05 19:04] Sid4597 commented on #2668
were you able to install higher versions?

[2022-07-05 19:52] lawr1292 opened #3493 "Iris tracking with minimal landmarks rendered to screen"
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Ubuntu 22.04
- IDE: Android Studio Chipmunk 2021.2.1
- MediaPipe version: latest
- Bazel version:5.0.0
- Solution (e.g. FaceMesh, Pose, Holistic): Iristrackinggpu
- Programming Language and version ( e.g. C++, Python, Java): Java

Hello,
I know my issue is solvable but I am having a hard time finding the necessary inf

[2022-07-06 05:42] stoneaccount commented on #3487
The log below is my app crashed log

07-01 16:07:21.076 11302 11302 E AndroidRuntime: FATAL EXCEPTION: main
07-01 16:07:21.076 11302 11302 E AndroidRuntime: Process: com.btn.skin, PID: 11302
07-01 16:07:21.076 11302 11302 E AndroidRuntime: java.lang.RuntimeException: lock buffer failed for format 0x21
07-01 16:07:21.076 11302 11302 E AndroidRuntime: at android.media.ImageReader$SurfaceImage.native

[2022-07-06 05:48] stoneaccount commented on #3487
[log11111.txt](https://github.com/google/mediapipe/files/9051951/log11111.txt)

[2022-07-06 06:44] 390057892 opened #3494 "How to use ImageProxy to render and analyze in mediapipe（Android）"
At present, mediapipe uses cameraX preview for rendering. I want to use the ImageProxy generated by cameraX imageanalysis for incoming analysis. Is there a solution？

[2022-07-06 07:11] #3449 closed

[2022-07-06 11:29] GeorgeS2019 commented on #3421
@kuaashish could you help address some of the questions here? Assuming that @sureshdagooglecom is on a long holiday

[2022-07-06 16:02] cindyloo commented on #2963
still an issue :(

[2022-07-06 16:07] cindyloo commented on #2963
[code]

[2022-07-06 17:07] #3493 closed

[2022-07-06 19:39] Fredrum opened #3495 "How can I get More Temporally Stable Face Landmarks!? (ie less jitter)"
I'm working on Windows 64bit and Python.

Iv'e made a basic opecv + mediapipe face track example. I started with this code,
https://pysource.com/2021/05/14/facial-landmarks-detection-with-opencv-mediapipe-and-python/

Mediapipe for Python 0.8.10.1

- Solution (e.g. FaceMesh, Pose, Holistic):  **FaceMesh**

**Describe the expected behavior:**

I would like the result to be stable over time. So it's

[2022-07-06 21:38] denfromufa opened #3496 "mediapipe pose model for feet toe/heel is not accurate in some cases"
We are testing MediaPipe Human Body Pose Model in Colab notebooks via Python API and noticed some issues with heel and toe prediction when testing on video frames of running on treadmill.

As you can see on the picture for the leg that is behind the heel and toe keypoints/markers are misplaced in some cases.

We noticed that some other models can handle this scenario well.

Which dataset did you u

[2022-07-07 05:56] kuaashish commented on #3474
Hi @459zyt, Please feel free to reopen if the issue still persists. Thank you!

[2022-07-07 06:11] #3451 closed

[2022-07-07 14:51] Mau794 commented on #3492
Hi @sureshdagooglecom,
thanks for your answer!

Could you please repost the links, as error messages appear when trying to access them.
Do you know a way to extract the .x .y & .z values of each hand then ?

[2022-07-07 16:06] sureshdagooglecom commented on #3398
Hi @kim-minsol ,
We have similar closed issue , please check below link
https://stackoverflow.com/questions/41972503/could-not-open-codec-libopenh264-unspecified-error

[2022-07-07 17:40] sronen71 commented on #3491
Hi @kuaashish, thanks for the pointer. I found a link to a demo (https://3d.kalidoface.com/) within your link.
However, this is not the same as the Mixamo Avatar demo referred in the paper and said to be open source. My question is about that specific demo that was said to be open sourced. See image from the paper below.
![image](https://user-images.githubusercontent.com/4361027/177835675-2f7a092c

[2022-07-07 19:17] PZerua opened #3497 "How to improve accuracy of Box Tracking (Desktop)"
Hi!

I am doing some tests with the Box Tracking solution ([graph](https://github.com/google/mediapipe/blob/master/mediapipe/graphs/tracking/object_detection_tracking_desktop_live.pbtxt)), and I am wondering if there is any way to improve the accuracy by changing graph/subgraphs parameters (at the cost of more performance). It works well when using my webcam, but I am trying to make it work in mor

[2022-07-07 20:09] adityasihag1804 opened #3498 "RuntimeError while loading face_landmark_with_attention.tflite (FaceMesh with attention tflite model)"
I'm trying to load `face_landmark_with_attention.tflite` in python in the following way and getting the following RuntimeError. Please help me out in this.

[code]

[code]

The given [link](https://www.tensorflow.org/lite/guide/ops_customNode) is giving 404 error.

I'm using tensorflow 2.8.0 on MacOS M1 machine.

[2022-07-07 20:42] mathaeus commented on #3477
@sureshdagooglecom did you have some time to have a look at my suggested changes?

Is this something that the Mediapipe team can take care of or do you prefer me opening a PR?
The open question about how to integrate OpenCV still needs to be answered. It seems like from the official OpenCV repo we can't expect support for pre-built xcframeworks anytime soon unfortunately.

[2022-07-07 23:29] doriclazar commented on #3446
Fixed by #3473

[2022-07-07 23:29] #3446 closed

[2022-07-08 07:07] adityasihag1804 commented on #3498
@kuaashish 'face_landmark_with_attention.tflite' is the FaceMesh with attention model file provided in the repo. I'm trying to load up the given tflite model in python, and when `allocate_tensors` function for the model is called, the above-given error is thrown. The model has some special ops for attention. Which it is not able to recognise.

I'm guessing when the tflute model was created, `allow

[2022-07-08 09:44] ireneb612 opened #3499 "Pose 3D landmarks to Three.js"
Hi I have estracted the 3D landmarks from videos and now i would like to make the coordinates:
(Example of Left shoulder vector:

 731.13856212,    #x
 285.72247771,   #y
 -0.05692306,     #z   )

work in the Three.js coordinate space! Can anyone help me?

[2022-07-08 09:50] andy380743909 commented on #3486
yes，we can close this issue now.

[2022-07-08 10:06] matildao-pane commented on #3427
Thanks fr the reply, but I was referring to Objectron

[2022-07-08 10:09] UX3D-mazzini commented on #3427
Thanks for the reply but I was referring to the OBjectron solution, what is the difference?

[2022-07-08 10:38] kuaashish commented on #3498
Hi @adityasihag1804, Landmarks2TransformMatrix is a special TFLite ops that has not been implemented in the latest release of TF version. You can try with [Tensorflow Source Code](https://github.com/KenjiAsaba/tensorflow/releases) shared by community supports the custom ops like Landmarks2TransformMatrix. Thank you!

[2022-07-08 10:42] #3486 closed

[2022-07-08 14:22] ElonXXIII commented on #3444
The information what output tensor corresponds to "the hand fills out exactly the whole screen and is upright" would also be sufficient for a workaround for my use-case

[2022-07-08 15:40] Fredrum commented on #3495
Hi and thank you very much for your reply and suggestions!
I will try that tool out and see if it is the solution I'm looking for!
Cheers

[2022-07-08 17:24] abedicodes opened #3500 "Lock/limit the angle at which body joints are detected (pose)"
How can the (camera) angle be limited in the body-joints detection of the MediaPipe pose? I am experiencing random horizontal flips in the body joints (between the front angle and the back angle). Because the faces in my video dataset are blurred, MediaPipe has difficulty detecting the angle of the body joints and alternates between front and back angles. Can I restrict MediaPipe to only detect bo

[2022-07-08 22:52] felixdollack commented on #3430
Hey @cindyloo, thank you for the tip I will give it a try 👍🏼

[2022-07-09 09:02] ndrewtl opened #3501 "In face_mesh JS: `Uncaught (in promise) RuntimeError: Aborted(LinkError: import object field 'invoke_viid' is not a Function)`"
**System information** (Please provide as much relevant information as possible)
- Copypasted in [JS face_mesh demo](https://google.github.io/mediapipe/solutions/face_mesh#javascript-solution-api) . Code is [this.](https://gist.github.com/ndrewtl/f30acda2e4c93f92f7ed77fd405ea50d)
- Platform: WSL / Arch Linux
- Solution: FaceMesh
- Programming Language and version ( e.g. C++, Python, Java): JS

**D

[2022-07-09 16:12] bdKiron commented on #2739
This is my first time here. Whenever I run this code I always get this error. I've tried many times to update different versions of OpenCV, cvzone and mediapipe.
AttributeError: module 'HandTrackingModule' has no attribute 'handDetector'

Hope someone will help me to solve this error.Thank you in advance.

import cv2
import time
import os
import HandTrackingModule as htm

wCam, hCam = 640, 480

ca

[2022-07-09 16:40] anandijain commented on #1514
`pip install mediapipe` still gives
[code]
I am on Python 3.9.13 and pip 22.1.2.

[2022-07-10 02:50] wwdok opened #3502 "Question: How to set the confidence score when training the face mesh model"
Hello, in "mediapipe\mediapipe\modules\face_landmark\face_landmark.tflite", it can output the face confidence score :
![image](https://user-images.githubusercontent.com/43233772/178129166-88eb1050-dbfa-4313-8c77-9da5434219bf.png)
I want to know when training this model, how to set this face confidence score, is it always set to 1, or is it comes from the output score of face detection model (in th

[2022-07-10 03:37] chris-hndz opened #3503 "Head segmentation in real time?"
Hi, I am looking for a solution to achieve head segmentation (hair with face segmentation) in real time on a webcam video. What do you recommend to achieve this with mediapipe? What segmentation or mediapipe tracking methods would be useful to achieve this?

![HeadSegmentation](https://user-images.githubusercontent.com/6933154/178130250-63e004cb-7746-4b7d-9441-e5460e82cccf.jpg)

Thanks in advance!

[2022-07-10 06:58] della0418 commented on #1798
Hi @aarahvar2 ,I attempted to use this code,but the results are not satisfactory, although code no errors, it was still nothing show in blender.Could you provide me with some guidance about how to solve this issue?Thank you!

[2022-07-10 06:59] della0418 commented on #1798
Hi @aarahvar2 ,I attempted to use this code,but the results are not satisfactory, although code no errors, it was still nothing show in blender.Could you provide me with some guidance about how to solve this issue?Thank you!

[2022-07-10 08:27] alantly opened #3504 "FaceMesh failing for INTERNAL: RET_CHECK failure options_.has_num_classes()"
**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): macOS 12.4
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Not checked
- Browser and ver

[2022-07-10 08:58] aarahvar2 commented on #1798
Hi @della0418

Could you provide more information?
What is your output? Have you used only my code or do you have your own code? If you have your own code, please share it.

[2022-07-10 09:30] della0418 commented on #1798
@aarahvar2 I only used your code and my own picture , Thank!The result is as shown below:
<img width="1440" alt="!" src="https://user-images.githubusercontent.com/79901917/178139134-972590cb-b795-4fd3-847d-98b7805391bc.png">

[2022-07-10 12:47] denfromufa commented on #3496
@sureshdagooglecom [this] is missing

[2022-07-10 17:11] aarahvar2 commented on #1798
Please zoom in, I guess something is there. In Blender, it is usually needed to zoom in. Otherwise, you can share your CSV file here and I can look at it.

[2022-07-10 20:58] della0418 commented on #1798
@aarahvar2 I have tried to zoom in, but it was still nothing, I can share my CSV file here, thank you for the trouble!!
[5.jpg.csv](https://github.com/google/mediapipe/files/9079889/5.jpg.csv)

[2022-07-11 02:04] liufsd commented on #1224
+1

[2022-07-11 03:11] endink opened #3505 "visibility and presence always be 0."
visibility and presence fields in a NormalizedLandmark for the Holistic Solution always be 0. Is this  unsupported right now?

[2022-07-11 03:34] 390057892 commented on #3494
Does it support ByteBuffer format?

[2022-07-11 04:35] jjkindergarten commented on #3305
@naveenkulkarni-movidius Hi i met the same issue:
WARNING: Logging before InitGoogleLogging() is written to STDERR
I20220711 03:52:58.992661  7331 calculator_graph.cc:123] Initialize the GPU.
E20220711 03:52:59.008455  7331 calculator_graph.cc:132] INTERNAL: ; RET_CHECK failure (mediapipe/gpu/gl_context_egl.cc:83) egl_initializedUnable to initialize EGL
Traceback (most recent call last):
  File "d

[2022-07-11 05:19] 390057892 commented on #3494
Because I don't need preview rendering, I just want to use the algorithm to pass in ByteBuffer and return coordinate points.

[2022-07-11 07:03] raphaelmenges commented on #2988
I have seen that there has been an update of the face mesh module on NPM to version 0.4.1657299874 three days ago. Are any updates included regrading this issue?

[2022-07-11 08:31] ggjj321 commented on #3481
Thanks for your answer

[2022-07-11 08:32] aarahvar2 commented on #1798
Instead of zooming in, zoom out. It is over there :)

![face](https://user-images.githubusercontent.com/63943838/178222327-c3b29040-9390-4415-99b4-688217d1027b.jpg)

[2022-07-11 09:02] Ar4enal commented on #3464
Solved by changing the input type into DetectionList.

[2022-07-11 09:02] #3464 closed

[2022-07-11 09:18] #3468 closed

[2022-07-11 09:18] #3465 closed

[2022-07-11 09:51] kuaashish commented on #3481
Hi @ggjj321, Could you please confirm this is still an issue or resolved as per the above [comment.](https://github.com/google/mediapipe/issues/3481#issuecomment-1173366927) Thank you!

[2022-07-11 14:08] ireneb612 commented on #3489
@sureshdagooglecom So i'm trying to take the landmarks generated by the mediapipe pose model to my Three.js avatar! But it seems like the coodinate systems are different! I was wondering where is the origin of the landmarks? Is it in the Hips? does the y go positivelly up? does the x go positivelly to the right? does the z positivelly come towards the screen ? all these informations are not provid

[2022-07-11 14:18] della0418 commented on #1798
@aarahvar2 I see!! Thank you!!!

[2022-07-11 18:04] matthewwiese opened #3506 "RuntimeError: Aborted(native code called abort()) -- Unable to run Face Detection and Face Mesh CodePen Examples (jsDelivr CDN)"
**System information**

- Have I written custom code: No, I am attempting to run the official CodePen examples.
- OS Platform and Distribution: Windows 10 and Ubuntu 20.04
- Mobile device: Probably? Haven't tested.
- Browser and version: Chrome 103 (Windows) and Firefox 102 (Ubuntu)
- Programming Language and version: JavaScript/Browser
- MediaPipe version: 0.4, this loader is causing issues: http

[2022-07-11 20:17] getnamo commented on #3506
rolling back to [0.4.1633559619](https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh@0.4.1633559619/) appears to fix it

change your script include from
`https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh@0.4/face_mesh.js` to
`https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh@0.4.1633559619/face_mesh.js` until fix is made.

Looks like the `0.4.1657299874` release broke it.

[2022-07-11 20:30] cindyloo commented on #2963
my colleague just tried the FaceMesh codepen and also received the wasm errors as well

[2022-07-11 20:36] ray10102 commented on #2456
Hi! I'm currently facing this issue with the opposite setup -- I'd like to use MediaPipe in an Android project that uses features of protobuf-java that protobuf-lite lacks. Is there a way to configure this? I'm currently using the version before the protobuf-javalite change (`com.google.mediapipe:hands:0.8.9-alpha-2` and `com.google.mediapipe:solution-core:0.8.9-alpha-2`) but this causes an unexpe

[2022-07-11 20:41] getnamo commented on #3504
related: https://github.com/google/mediapipe/issues/3506

[2022-07-11 20:44] martinenkoEduard opened #3507 "How do I save detected face?"
How do I save detected face?
Is there a special function for that?

[2022-07-12 02:35] nrkrishna commented on #3434
hi @NikolayChirkov - wanted to follow up on the above question/request.

Thanks

[2022-07-12 02:55] HOLDfoot commented on #1955
I also encounter the question that official demo doesn't support usb camera. because of the CameraXPreviewHelper use camerax while camerax doesn't support usb camera. I am glad to find mediapipe's demo (https://github.com/jiuqiant/mediapipe_multi_hands_tracking_aar_example) can resolve our requirement. only because the demo use camerax but camera2 or camera1, I have to take a long time to research

[2022-07-12 03:02] HOLDfoot commented on #1955
@sgowroji My issue reproduce need one android board with usb camera. when i use camera1 api, I can open camera by
[code]
but now the demo use cameraX, only support front and back camera. You can use the above handware and this (https://github.com/jiuqiant/mediapipe_multi_hands_tracking_aar_example)  software to reproduce the issue.

[2022-07-12 03:34] HOLDfoot opened #3508 "How to call USB camera with official demo?"
I have search the issue list and find some relate issue. but I think this is a feature more than a issue.

**System information**
Android 11

- MediaPipe Solution (you are using):
hand and posetracking
- Programming language : C++/typescript/Python/Objective C/Android Java
java
- Are you willing to contribute it (Yes/No):
No

**Describe the feature and the current behavior/state:**
official demo d

[2022-07-12 03:36] HOLDfoot commented on #3508
![微信图片_20220712113619](https://user-images.githubusercontent.com/12047708/178403230-07b800aa-91b3-42fa-a28e-7b522fe261ad.jpg)

[2022-07-12 06:18] #3453 closed

[2022-07-12 08:17] sureshdagooglecom commented on #3499
Hiu @ireneb612 ,
Below is the code snippet for co ordinates ,please check and revert back.
lf_sh = pose_landmarks["left_shoulder"]
lf_wr = pose_landmarks["left_wrist"]

orient = look_at(np.array([lf_sh["x"], lf_sh["y"], lf_sh["z"]]),
    np.array([lf_wr["x"], lf_wr["y"], lf_wr["z"]]))

print(np.rad2deg(orien

[2022-07-12 09:07] kuaashish commented on #3470
Hi @fchen09, Please follow the[ instructions](https://google.github.io/mediapipe/getting_started/hello_world_ios.html#:~:text=Save%20the%20project%20to%20an%20appropriate%20location.%20Let%E2%80%99s%20call%20this%20%24PROJECT_TEMPLATE_LOC.%20So%20your%20project%20will%20be%20in%20the%20%24PROJECT_TEMPLATE_LOC/HelloWorld%20directory.%20This%20directory%20will%20contain%20another%20directory%20named

[2022-07-12 09:31] maricinnamon commented on #3277
Hi @cansik, can you, please, help to install it to Mac OS 11.2.3 (M1 Pro 2020)?
Because using your script `pip install mediapipe-silicon` doesn't work for me.
Maybe, you know, how to install it?
Thank you

[2022-07-12 09:35] kuaashish commented on #3507
Hi @martinenkoEduard, Is it implemented through python, JavaScript or others? Could you please help me in reproducing the same with complete steps at our end. Thank you!

[2022-07-12 09:44] francescogatto opened #3509 "Make android solutions(face detection) buildable with 'minifyEnabled true' build option."
System information (Please provide as much relevant information as possible)

MediaPipe Solution (you are using): Face detection
Programming language : Android Java
Are you willing to contribute it (Yes/No): Yes (if I can)
Describe the feature and the current behavior/state:
I followed Mediapipe Android Solutions tutorial to build facedetection app and ran it on my device. It worked perfectly. How

[2022-07-12 10:06] raphaelmenges commented on #2988
The update seems to be gone? Now the latest version is 0.4.1633559619 again 👀

[2022-07-12 10:26] baba-yaga opened #3510 "Using side-view to infer face mesh landmark depth coordinate?"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible):
Macbook Pro 2019
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): Yes, attached
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11,

[2022-07-12 11:03] sureshdagooglecom commented on #3500
Hi @abedicodes ,
We have similare issue https://github.com/google/mediapipe/issues/2999 , please check this issue for angle calculations.

[2022-07-12 11:07] kuaashish commented on #3506
Hi @matthewwiese, I could successfully reproduced the CodePen examples(**Face Detection** and **Face Mesh**) on the above mentioned devices with particular browser with no errors. Could you provide the steps to reproduce the code and explain more about the issue. Thank you!

[2022-07-12 11:13] sureshdagooglecom commented on #3502
Hi @wwdok ,
Minimum confidence value ([0.0, 1.0]) from the landmark-tracking model for the face landmarks to be considered tracked successfully, or otherwise face detection will be invoked automatically on the next input image. Setting it to a higher value can increase robustness of the solution, at the expense of a higher latency. Ignored if [static_image_mode](https://google.github.io/mediapipe/

[2022-07-12 11:17] sureshdagooglecom commented on #3504
Hi @alantly ,
Rolling back to [0.4.1633559619](https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh@0.4.1633559619/) appears to fix it

change your script include from
https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh@0.4/face_mesh.js to
https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh@0.4.1633559619/face_mesh.js until fix is made.

Looks like the 0.4.1657299874 release broke it.

[2022-07-12 11:20] kuaashish commented on #3505
Hi @endink, Could you please elaborate your query with complete details. Thank you!

[2022-07-12 14:00] della0418 opened #3511 "How to convert the result of Mediapipe into .OBJ format for our own face that we want to do texture mapping?"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4):windows10
- Program

[2022-07-12 14:06] della0418 opened #3512 "How to convert the result of Mediapipe into .OBJ format for our own face that we want to do texture mapping?"
**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4):windows10
- Programming Language and version ( e.g. C++ 14, Python 3.6, Java ):python3.9
- Installed using virtualenv? pip? Conda? (if python):conda

**Describe the problem**:
We want to convert the result of Mediapipe into .OBJ format for

[2022-07-12 14:11] matthewwiese commented on #3506
This must've been it! Thanks for the assistance with sleuthing @getnamo

Hi @kuaashish it appears that whichever build was causing the error has now been "pushed" out by a more recent build taking the place of `@mediapipe/face_detection@0.4`.

It appears that @getnamo's suggestion may have been the problem? I haven't tested Face Mesh locally, but a boilerplate Face Detection example based off the

[2022-07-12 14:16] matthewwiese commented on #2963
Seems one of the WASM builds was bugged; it's now working for me.

Are you able to run the same MediaPipe code without React? If so, my first hunch would be to refactor your effect hook. Best of luck!

[2022-07-12 14:53] wwdok commented on #3502
Hi, @sureshdagooglecom Thanks for your explaination, i know what you said. Sorry that i didn't describe my question clearly. Actually, i am mimickiing face_landmark.tflite to build and train a face landmark model, but i meet some questions about the traning data, one of them is how to provide the confidence score to supervise the training, so it is about training phase, not inference phase, i am t

[2022-07-12 15:49] cansik commented on #3277
@maricinnamon Please open an issue in the following repository and provide some more information (python version, architecture, error message and so on):

https://github.com/cansik/mediapipe-silicon

[2022-07-12 16:24] roachsinai commented on #1609
But the first solution not works, got below error:

GLOG_logtostderr=1 bazel-bin/mediapipe/examples/desktop/hand_tracking/hand_tracking_gpu \
  --calculator_graph_config_file=mediapipe/graphs/hand_tracking/hand_tracking_mobile.pbtxt --num_hands=2
ERROR: Unknown command line flag 'num_hands

[2022-07-12 16:58] alantly commented on #3504
Thanks for the response. I have been using 0.4.1633559619` already and it works.

[2022-07-12 19:45] opchronatron commented on #3502
I would love to hear more about your progress and setup here. Are you going to share the training setup once you are done?

[2022-07-12 19:48] tyrmullen commented on #3504
Yes-- that was a broken release; it has been already deprecated, but jsdelivr does not always point to the correct version yet.  For now, either explicitly targeting the old version (as you have done) or just targeting no-version (/@mediapipe/face_mesh/face_mesh.js) should work around the problem.

Also, while the release has been deprecated for all Solutions, I believe the breakages associated wi

[2022-07-12 19:48] #3504 closed

[2022-07-12 19:52] nfadeluca opened #3513 "library "libmediapipe_jni.so" not found"
**System information:**
- Have I written custom code?: No
- OS Platform and Distribution: Linux Ubuntu 22.04
- MediaPipe version: v0.8.10.2
- Bazel version: 5.2
- Solution: Hands
- Programming Language and version: JDK 18.0.1
- Emulator: Pixel 4a, API 30, R Android 11.0 x86_64 (Android Studio Virtual Device)

**Expected behavior:**
On running solution in Android Studio emulator, once start camera

[2022-07-12 19:55] tyrmullen commented on #3506
Correct, the `0.4.1657299874` release had breakages and was deprecated.  Face Mesh and Face Detection in particular both had this issue.  JsDelivr can take some time to invalidate its caching, and as of yesterday, it was pointing `face_mesh/` and `face_detection/` to the good version, while it was pointing `face_mesh@0.4/` and `face_detection@0.4/` to the bad version.  So those two CodePens have b

[2022-07-12 19:55] #3506 closed

[2022-07-12 20:04] Omkarrr opened #3514 "So Sir i am building a virtual UI so can user travel to different script on virtual button distance becomes less??"
<em>Sir i am building a virtual UI so can user travel to different script on virtual button distance becomes less</em>

**System information** (Please provide as much relevant information as possible)

- MediaPipe Solution (you are using):
- Programming language : C++/typescript/Python/Objective C/Android Java
- Are you willing to contribute it (Yes/No):

**Currently i have implemented the UI watc

[2022-07-13 00:14] andrechen commented on #3511
It's easy to start from here...
https://github.com/google/mediapipe/blob/63e679d99ca45b30514a9d84c9351a2d77bb9ba0/mediapipe/modules/face_geometry/data/canonical_face_model.obj

You'll need to modify vt from normalized landmarks xy, deduce metric 3d coordinates (face_geometry module) to get then use simple math to calculate normal vectors, vn from v (average from shared triangles to get more appeal

[2022-07-13 03:01] felixdollack commented on #3430
So I don't know if I am still doing something wrong, or if the drawing utils for the face mesh are the problem.

I can confirm that I get mesh data in react when using the mediapipe/holistic solution.
However, I still can not draw the mesh as such, but only the connection points without connections.

<img width="320" alt="Screen Shot 2022-07-13 at 11 31 58" src="https://user-images.githubuserconte

[2022-07-13 03:31] endink commented on #3505
<img width="581" alt="1657682595030" src="https://user-images.githubusercontent.com/240164/178643914-72fd631a-561e-4038-b405-41dc4c46cdb9.png">

Sorry, visibility and presence the fields is in MediapipeUnityPlugin project.

Simply, if the the score or visibility of the hand landmark in this Holistic scene available now ? ( like the pose landmarks).

BTW, please forgive me for my English grammar er

[2022-07-13 03:47] haoXu1990 commented on #3439
solved it ?
i had the same problem.

[2022-07-13 05:20] sureshdagooglecom commented on #3514
Hi @Omkarrr ,
Could you please elaborate this issue to investigate more on this.

[2022-07-13 05:25] sureshdagooglecom commented on #3509
Hi @francescogatto ,
Adding the following lines in proguard-rules.pro prevented the release build crash:

-keep class com.google.mediapipe.solutioncore.** {*;}
-keep class com.google.protobuf.** {*;}
-keepclassmembers class * extends com.google.protobuf.GeneratedMessageLite {
  <fields>;
}

[2022-07-13 05:33] Fanthers opened #3515 "bazel run --copt -DMESA_EGL_NO_X11_HEADERS --copt -DEGL_NO_X11 \ mediapipe/examples/desktop/hello_world:hello_world"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4):ubuntu16.04
- Compi

[2022-07-13 05:42] sureshdagooglecom commented on #3511
Hi @della0418 ,
we do support OBJ topology format via converting into [mediapipe.face_geometry.Mesh3d](https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_geometry/protos/mesh_3d.proto) via the [non-official converter](https://gist.github.com/kostyaby/bc3b931e23a46422294b7dcc1fdb7990);

[2022-07-13 05:42] sureshdagooglecom commented on #3512
Hi @della0418 ,
we do support OBJ topology format via converting into [mediapipe.face_geometry.Mesh3d](https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_geometry/protos/mesh_3d.proto) via the [non-official converter](https://gist.github.com/kostyaby/bc3b931e23a46422294b7dcc1fdb7990);

[2022-07-13 05:45] sureshdagooglecom commented on #3513
Hi @nfadeluca ,
The error seems to beUnexpected CPU variant for X86 using defaults: x86_64.
The AAR you downloaded only supports armeabi and arm64. It doesn't have x86_64 support (mostly for emulators).

[2022-07-13 06:02] kuaashish commented on #3515
Hi @Fanthers, Could you please elaborate your query with complete details and standalone code to reproduce the issue. Thank you!

[2022-07-13 06:19] RuentGen commented on #2546
Did someone find any solution to fix this ? thanks in advance!

[2022-07-13 06:19] sureshdagooglecom commented on #3430
Hi @felixdollack ,
Could you please provide your complet code changes to investigate further on this issue.

[2022-07-13 06:22] sureshdagooglecom commented on #3455
Hi @UX3D-mazzini ,
To build objectron architecture we have used stage 2 architecture .

[2022-07-13 06:24] sureshdagooglecom commented on #3461
Hi @mgarbade ,
Can you close the issue if the issue has been resolved.

[2022-07-13 06:25] sureshdagooglecom commented on #3478
Hi @MigraineSurvivor ,
We do not have that support as of now , if the issue is resolved please close this issue.

[2022-07-13 06:28] sureshdagooglecom commented on #3487
Hi @stoneaccount ,
It  should now be fixed with the latest update. I tried the link you provided just now (on Chrome Desktop), and was unable to reproduce the leak, taking snapshots every 10 seconds .

[2022-07-13 06:30] sureshdagooglecom commented on #3492
Hi @Mau794 ,
We have similar issue running in the thread , please check this https://github.com/google/mediapipe/issues/742

[2022-07-13 06:32] sureshdagooglecom commented on #3494
Hi @390057892 ,
Yes it supports ByteBuffer format  , please check this code changes https://github.com/google/mediapipe/blob/master/mediapipe/java/com/google/mediapipe/framework/PacketCreator.java

[2022-07-13 06:33] sureshdagooglecom commented on #3495
Hi @Fredrum ,
Can you close this issue if you have solution now.

[2022-07-13 06:35] sureshdagooglecom commented on #3496
Have added now , pleae check

[2022-07-13 06:36] denred0 commented on #456
For everybody how wants to understand meaning of (2944, 18). It's a 2944 anchor boxes and 18 offsets for them.
[code]
7 hand keypoints (knuckles, wrist base point, etc)

[2022-07-13 06:36] Fanthers commented on #3515
1. System information

OS Platform and Distribution:ubuntu16.04
Compiler version :gcc 7.5
Programming Language and version:python3.7
conda
MediaPipe version:5.2.0
Bazel version:5.2.0

2. peoblem

[2022-07-13 06:37] sureshdagooglecom commented on #3502
Hi @wwdok ,
We always set this to 1.

[2022-07-13 06:39] stoneaccount commented on #3487
taking snapshots donot product the leak， starting activity ---> taking snapshots  --->finish activity will make the activity leak

[2022-07-13 06:39] denred0 commented on #1638
@zhongyi-zhou
out_reg shape is [number of anchors, 18]
Second dimension 0 - 4 are bounding box offset, width and height: dx, dy, w ,h
Second dimension 4 - 18 are 7 hand keypoint x and y coordinates: x1,y1,x2,y2,...x7,y7

7 hand keypoints (knuckles, wrist base point, etc)
https://github.com/aashish2000/hand_tracking/blob/master/src/hand_tracker.py#L130

[2022-07-13 06:39] sureshdagooglecom commented on #3466
Hi @FereshtehFeiz ,
Can you close this issue if issue got resolved.

[2022-07-13 07:10] adnan6336 commented on #3058
@mcclanahoochie @sgowroji , kindly let me know if there is anything I can do with this problem.
thanks

[2022-07-13 07:13] janglinko-dac opened #3516 "Missing 2 landmarks in between standard and attention FaceMesh model."
Hello!
As I understand from documentation, AttentionModule produces 478 landmars face model, adding Irises to the standard one.
`mp_face_mesh.FACEMESH_NUM_LANDMARKS = 468`
`mp_face_mesh.FACEMESH_NUM_LANDMARKS_WITH_IRISES = 478`
However, `mp_face_mesh.FACEMESH_IRISES=8`.

My  question is what are those two missing landmarks? I have 468 landmarks canonical face model and I want to solve PnP.
I could

[2022-07-13 07:27] matildao-pane commented on #3455
thanks for the response, and what about the previous question?
'I don't understand if the 9 points are obtained with the EPnP algorithm (like the 1 stage architecture) or those points are predicted directly by the efficient net architecture as shown in the image of the architecture.'

[2022-07-13 07:28] UX3D-mazzini commented on #3455
thanks for the response, and what about the previous question:
'I don't understand if the 9 points are obtained with the EPnP algorithm (like the 1 stage architecture) or those points are predicted directly by the efficient net architecture as shown in the image of the architecture.'

So you never used the 1 stage architecture?

[2022-07-13 07:33] martinenkoEduard commented on #3507
[code]

[2022-07-13 09:35] #3083 closed

[2022-07-13 10:18] #3454 closed

[2022-07-13 12:10] #3466 closed

[2022-07-13 12:37] cindyloo commented on #3430
please would you look at the code with my similar bug @sureshdagooglecom ? https://github.com/google/mediapipe/issues/2963

[2022-07-13 12:59] mshemuni commented on #2810
I had the same issue and I found that:

## The problem
Your problem is Memory. You are using your full memory. Why?

## Creating objects inside a loop
As a lazy python developer I always thought when a variable is overwritten the `__del__` method will work and it will be garbage collected.
it's not the case. `del` does not free the memory. It only informs that you are no longer in need of the memo

[2022-07-13 13:02] Omkarrr commented on #3514
`import cv2
from  cvzone.HandTrackingModule import HandDetector
cap = cv2.VideoCapture(0)
cap.set(3, 1280)
cap.set(4, 720)

detector = HandDetector(detectionCon=0.8, maxHands=2)
keys = [["FaceAuth"],["LicenceAuth"],["Model_Aug"]]

def drawALL(img , buttonList):
    for button in buttonList:
        x, y = button.pos
        w, h = button.size
        cv2.rectangle(img, button.pos, (x + w, y + h),

[2022-07-13 13:18] #3420 closed

[2022-07-14 02:32] wz2wd opened #3517 "Windows10 compiles mediapipe error："
D:\mediapipe>bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 --action_env PYTHON_BIN_PATH="D:\\Anaconda3\\envs\\mmd26\\python.exe" mediapipe/examples/desktop/hello_world
WARNING: Download from https://storage.googleapis.com/mirror.tensorflow.org/github.com/llvm/llvm-project/archive/a87782c34d667d1c1a18fe82a9a7abfc72fd345b.tar.gz failed: class com.google.devtools.build.lib.bazel.repository.down

[2022-07-14 03:52] felixdollack commented on #3430
Hi @sureshdagooglecom , no problem.
I uploaded my code in this project: [face_mesh_issue_3430](git@github.com:felixdollack/face_mesh_issue_3430.git)

It contains files for pose, holistic and face_mesh.
You can swap between them uncommenting the import and usage in src/App.js
I hope this helps with finding the underlying issue.

[2022-07-14 04:44] ndrewtl commented on #3501
I got this running the basic `face_mesh` demo. But I realized that this was only happening in Firefox, which is not supported. Chrome works. Are there any plans to make this API available for Firefox?

[2022-07-14 06:06] kuaashish commented on #3515
Hi @Fanthers, Have you followed the instructions mentioned in the [documentation](https://google.github.io/mediapipe/getting_started/install.html#installing-on-debian-and-ubuntu) to build the above example. Thank you!

[2022-07-14 06:27] kuaashish commented on #3517
Hi @wz2wd, Could you please elaborate your query with complete details. Thank you!

[2022-07-14 06:33] kuaashish commented on #3516
Hi @janglinko-dac, Could you please elaborate your query with complete details. Thank you!

[2022-07-14 08:07] 390057892 commented on #3494
Can you provide me with a demo, thank you

[2022-07-14 08:18] #2100 closed

[2022-07-14 08:18] #2141 closed

[2022-07-14 08:18] #2316 closed

[2022-07-14 08:18] #2432 closed

[2022-07-14 08:18] #2627 closed

[2022-07-14 09:17] #3461 closed

[2022-07-14 12:25] denred0 opened #3518 "World Hand Landmarks in iOS example"
Hello!

I successfully launched _https://github.com/google/mediapipe/tree/master/mediapipe/examples/ios/handtrackinggpu_ example and get 3D hand landmarks in local coodrinate system:
https://github.com/google/mediapipe/blob/63e679d99ca45b30514a9d84c9351a2d77bb9ba0/mediapipe/examples/ios/handtrackinggpu/HandTrackingViewController.mm#L49

Is it possible to obtain world hand landmarks in this iOS exa

[2022-07-14 12:49] brunodeangelis commented on #3421
+1 for this. It would really democratize the virtual character puppeteering market, allowing developers to build things we've not imagined yet

[2022-07-14 12:51] GeorgeS2019 commented on #3421
@brunodeangelis  I am about to close this issue as our requests are being ignored.

[2022-07-14 14:57] anz-ryu commented on #531
I have the same issues about this....

[2022-07-14 16:18] #3398 closed

[2022-07-14 17:26] demirb15 opened #3519 "Error Mediapipe on Khadas Vim 3"
Hello
I have been trying to run mediapipe hands solution on a khadas vim 3 running ubuntu 20.04
I have successfully run hello world on gpu with folowing
[code]

however when i run holostic or hands solution i get following error
[code]
this the changes i have done due to another error i have encounter. its based on this : https://github.com/google/mediapipe/issues/970
[code]

opengl output:

[code

[2022-07-14 19:06] MTdunno commented on #3491
In addition to being unable to find the source, I am unable to find the demo at all. There does not seem to be a mention of Mixamo at all as demonstrated by [this search](https://www.google.com/search?q=site%3Amediapipe.dev+mixamo)

[2022-07-14 19:08] sronen71 commented on #3491
I've contacted the authors and they say this is not available yet. Planned to be released later this year.

[2022-07-14 19:17] MTdunno commented on #3491
I appreciate the update @sronen71. Do you have a way you're solving this in the meantime?

[2022-07-14 20:15] fjzhangcr opened #3520 "stuck at "make: Entering directory " when building cross-compile docker environments for coral dev-board"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): ubuntu 20
- Compil

[2022-07-14 23:31] nick-verida commented on #1209
Latest version still has the error:

[code]

[2022-07-15 02:51] fchen09 opened #3522 "smooth_landmrks works on pose_world_landmarks as well?"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):IOS
- [MediaPipe ver

[2022-07-15 04:28] sronen71 commented on #3491
@MTdunno  for now I've modified mediapipe holistic graph to expose the 3D hand world land marks. Then, in the python solution, I merge the pose and hand world landmarks. Since the pose's world landmarks  are hip centered and hand's world landmarks  are hand centered, I ended translating the hands such that their wrist at same 3D position as the the body pose wrist.

[2022-07-15 05:07] fiveshit commented on #3439
Hi @haoXu1990
you can use Floating window function to solve it.

[2022-07-15 05:26] kuaashish commented on #3518
Hi @denred0, Could you please elaborate your query with complete details. Thank you!

[2022-07-15 06:05] kuaashish commented on #3497
Hi @PZerua, Could you confirm the full set of captions are used for "ObjectDetectionSubgraphCpu" and "ObjectTrackingSubgraphCpu" subgraphs. Thank you!

[2022-07-15 06:18] kuaashish commented on #3491
Hi @sronen71, Thank you for pointing out this documentation bug. it seems the problem with [mediapipe.dev](mediapipe.dev) does not include the demo that was promised. we are forwarding this issue to the appropriate team. Hope this will be solved soon. Thank you!

[2022-07-15 06:21] fchen09 commented on #3522
OK, I got the solution, the one_euro_filter's parameters are too weak to suppress jitters on pose_world_landmarks. We need enhance these parameters. Hope you guys check those parameters. Thanks.

[2022-07-15 07:15] haoXu1990 commented on #3439
Hi, tks reply.
Floating window how to solved CameraX  lifecycleowner.

[2022-07-15 07:24] haoXu1990 commented on #2994
@emad-eldeen
hi,  How to compile hands AAR

[2022-07-15 08:00] kuaashish commented on #3519
Hi @demirb15, Could you please elaborate your query with complete details and standalone code to reproduce the issue. Thank you!

[2022-07-15 08:01] adityasingh1994 commented on #3430
Facing issue on Samsung devices while using this library for open stream it says getUserMedia  got deprecated and it takes lotes of time to load the model any one please suggest

[2022-07-15 08:17] kuaashish commented on #3520
Hi @fjzhangcr, Could you please follow the steps mentioned [here](https://github.com/google/mediapipe/blob/master/mediapipe/examples/coral/README.md) to build the cross-compiled mediapipe in the Coral Dev Board. Thank you!

[2022-07-15 08:48] PZerua commented on #3497
Hi! Thanks, I am not sure what you mean by "captions", but the subgraphs are exactly the same as the ones located in "mediapipe/graphs/tracking/subgraphs/" except for max number of detections [here](https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a479407c699e424aa7/mediapipe/graphs/tracking/subgraphs/object_detection_cpu.pbtxt#L110), which I increased.

I recently checked that the m

[2022-07-15 09:13] francescogatto commented on #3509
i tried, but is not working

[2022-07-15 09:21] #3509 closed

[2022-07-15 10:23] fjzhangcr commented on #3520
thank you for you response.
I just strictly follower the instruction. I read two options to compile mediapip:  build by bazel or cross-compile for coral dev-board.
I choose the second option. First, setup the docker env by typing in
[code]
then I stucked~~~

did you mean I have to install bazel tools before cross-compiling? I am confused~~

thanks

[2022-07-15 10:27] wz2wd commented on #3517
These problems  have been solved.thanks.

[2022-07-15 10:36] VanillaTiger commented on #3305
@xiong-jie-y I follow your instructions as in [https://github.com/google/mediapipe/issues/3266#issuecomment-1121056087](url) but I am getting Build Errors from Bazel.

I installed Bazelisk so it automatically installs Bazel 5.0 but which version are you using ? I suspect bazel version issue.

`ERROR: Traceback (most recent call last):
	File "/home/aszummer/.cache/bazel/_bazel_aszummer/a7445427326c

[2022-07-15 10:48] kuaashish commented on #3517
Hi @wz2wd, Thank you for the confirmation. Can we move this issue to close status hence the issue has been resolved.
Thank you!

[2022-07-15 11:41] demirb15 commented on #3519
Hi, @kuaashish
This is the complete verbose output, I tried to build mediapipe with:
[code]

And this is the mediapipe fork i have. https://github.com/google/mediapipe
It only has opencv4 configuration and disabling of optflow in the last commit

Thanks

[2022-07-15 14:30] brunodeangelis commented on #1678
I've implemented that solution and it outputs much less data than something like Hallway. I also found it not too reliable, but I could be wrong about that.

Since I haven't been given access to the Hallway SDK yet, I went with [mocap4face](https://github.com/facemoji/mocap4face) and it seems to be the best so far.

[2022-07-15 22:00] Oghost commented on #2945
Hi Luca, did you finally solve it? I'm also stuck with that post process

[2022-07-15 23:07] leo-smi commented on #1325
guys, try this:

```pip3 install mediapipe --user```

[2022-07-16 01:39] luca992 commented on #2945
I think I figured out most of them... But I haven't looked at it in a while. So I don't remember the details. But I have working code (written in kotlin) if you want to look at it, send me an email in my bio. I don't think I want to post it here publicly, it's a little rough haha.

[2022-07-16 12:30] jimb2834 commented on #3159
@zeina-abuaisheh - We as you can see have been waiting >5 months now and no replys. We have no known solution yet the API docs still state Visibility in the facemesh lib docs

[2022-07-16 12:39] jimb2834 commented on #3505
@endink - We opened the same issue but never got a reply on the reason why it never detects anything other than 0, nor that it was a defect

[2022-07-16 16:55] endink commented on #3505
@jimb2834 we can only wait for a reply...

[2022-07-16 20:34] aadityasp commented on #3440
Samee! were you able to fix the error?

[2022-07-17 06:54] andrechen commented on #3512
the [non-official converter](https://gist.github.com/kostyaby/bc3b931e23a46422294b7dcc1fdb7990) converts .obj to [mediapipe.face_geometry.Mesh3d](https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_geometry/protos/mesh_3d.proto). It does not 'convert the result of Mediapipe into .OBJ format'. Or do we miss something?

Enough talks!
I have done exporting simple .obj files [here](

[2022-07-17 22:05] PZerua opened #3523 "Box Tracking is broken on Windows 11"
When executing the Box Tracking example demo with my webcam, on Windows it shows an increasing number (+150) of inexisting detections (not persons, but just random things) filling the whole screen. Looks completely broken.

**System information**
- Windows 11 (21996.1)
- MediaPipe version: v0.8.10.2
- Bazel version: 5.2.0
- Solution: Box Tracking
- Programming Language: C++

**Describe the expecte

[2022-07-17 22:12] PZerua commented on #3523
For the record, I have tried Object Detection: ``object_detection_cpu.exe`` with ``object_detection_desktop_live.pbtxt``, and works with no problem.

[2022-07-18 03:24] fiveshit commented on #2646
Hi @sgowroji
I have same issues,but I am using aar file to android AOSP. How can I update to latest version?

[2022-07-18 07:50] #3475 closed

[2022-07-18 07:50] #3476 closed

[2022-07-18 07:50] #3467 closed

[2022-07-18 08:04] Tortoise17 commented on #2560
@sgowroji Good morning. Is there any update?

[2022-07-18 08:50] #3480 closed

[2022-07-18 09:48] PZerua opened #3524 "Object Detection Tensorflow does not compile on Windows 11"
**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution: Windows 11 (21996.1)
- Compiler version: 14.29.30133
- Programming Language and version: C++
- MediaPipe version: v0.8.10.2
- Bazel version: 5.2.0
- OpenCV version: 3.4.10

**Describe the problem**:
When compiling Object Detection with Tensorflow model (as described [here](https://googl

[2022-07-18 09:49] UnlimitedX commented on #3405
Hi @mcclanahoochie,
Thanks for your reply.

I've tried simplifying the graph by removing the flow limiter calculators but the app crashes after a few seconds.
Here is the log:

[code]
I've also added some logs following your advice.
![image](https://user-images.githubusercontent.com/6625963/179482802-9c0ff4e3-1f11-420b-b1f0-9bf0007f5de4.png)

And it seems to be stuck before the "process 2 log".
![

[2022-07-18 09:50] #3483 closed

[2022-07-18 11:10] bharath5673 commented on #1691
![test vlcsnap-2022-07-18-16h16m27s337](https://user-images.githubusercontent.com/33729709/179499243-7e4048c5-8722-4487-ada8-aab784bc6447.png)

https://www.linkedin.com/posts/bharaths5673_yolo-mediapipe-cpu-activity-6954752592426004480-dHlP?utm_source=linkedin_share&utm_medium=member_desktop_web

[2022-07-18 11:11] bharath5673 commented on #2009
![test vlcsnap-2022-07-18-16h16m27s337](https://user-images.githubusercontent.com/33729709/179499359-f6cf0855-7aa1-4c7f-8dc3-323b462098aa.png)

https://www.linkedin.com/posts/bharaths5673_yolo-mediapipe-cpu-activity-6954752592426004480-dHlP?utm_source=linkedin_share&utm_medium=member_desktop_web

[2022-07-18 11:22] seasiainfotech commented on #643
Want to remove the overlay from the Hand tracking media pipe, Any constructive ways to resolve it?

Please help

Thanks in advance.

[2022-07-18 15:01] #3371 closed

[2022-07-18 15:09] Tortoise17 commented on #3371
Resolved finally.

[2022-07-18 19:03] della0418 commented on #3511
@andrechen How can I get the coordinates of the points which on my texture(vt)? I only know they would be in 0 to 1

[2022-07-19 01:13] andrechen commented on #3511
check #3512 for [answer with C++ source code](https://github.com/andrechen/mediapipe/blob/dfa428288e6a39a2ecd37167a00818ea19ec5e1b/visualstudio/face_effect/face_effect_renderer.cc#L554)

[2022-07-19 01:19] gavel94 commented on #3452
How do I use this method？
“FrameProcessor.onNewFrame(final Bitmap bitmap, long timestamp)”

Could you give me an expedited treatment?

If this plan doesn't work, I can consider another one.

Thank you very much.

[2022-07-19 07:33] seasiainfotech commented on #943
hello friend i need your help

[2022-07-19 07:37] carat-hansol opened #3525 "FaceMesh is not detected properly when device is in landscape or portrait upside-down."
**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Android
- [MediaPipe version](https://github.com/google/mediapipe/releases): 8.10.0
- Bazel version:
- Solution (e.g. FaceMesh, Pose, Holi

[2022-07-19 07:50] #3485 closed

[2022-07-19 09:57] Tortoise17 opened #3526 "Failed to run the graph: ValidateRequiredSidePackets failed to validate:"
Dear Support team.

I am trying to get the annotated video. But I am facing this issue. can you please help me what could be the reason?

`GLOG_logtostderr=1 bazel-bin/mediapipe/examples/desktop/youtube8m/model_inference --calculator_graph_config_file=mediapipe/graphs/youtube8m/local_video_model_inference.pbtxt  --input_side_packets=input_sequence_example_path=/tmp/mediapipe/features.pb ,input_vid

[2022-07-19 12:47] LightQniX opened #3527 "Disable landmarks visibility for pose tracking Unreal Engine"
Hello guys! Could you please tell me, I use Unreal engine plugin (https://github.com/wongfei/ue4-mediapipe-plugin ) I need to hide landmarks from the video image. Is there such a possibility? Thanks!

[2022-07-19 12:50] #3488 closed

[2022-07-19 12:50] #1252 closed

[2022-07-19 12:50] #2041 closed

[2022-07-19 12:50] #2252 closed

[2022-07-19 12:50] #2914 closed

[2022-07-19 12:50] #3183 closed

[2022-07-19 13:21] Secondgrade commented on #3517
Hi there,
It is such a wicked problem, and I am still stuck here. It is good to here that you solve this problem and do you mind share your experience with the community? I would be really apprciate it. Thanks.

[2022-07-19 13:54] HivanshuQuepplin opened #3528 "Android performance lagging and screen flickering"
We have a problem with the mediapipe performance on our Android apk.

https://github.com/seasiainfotech/MediaPipe_Base_Flicker_Lag

Tried many ways but couldn't fix it..

[2022-07-19 13:55] #3528 closed

[2022-07-19 14:02] seasiainfotech opened #3529 "Android performance lagging and screen flickering"
We have a problem with the mediapipe performance on our Android apk.

https://github.com/seasiainfotech/MediaPipe_Base_Flicker_Lag

Tried many ways but couldn't fix it..

[2022-07-19 17:11] PZerua opened #3530 "Object Detection Tensorflow does not execute on Linux"
**System information**
- OS Platform and Distribution: Linux Kubuntu 20.04
- Compiler version: gcc 9.4.0
- Programming Language and version: C++
- MediaPipe version: v0.8.10.2
- Bazel version: 5.2.0
- OpenCV version: 4.2

**Describe the problem**:
On Linux I can compile Object Detection with the Tensorflow model (following steps in [docs](https://google.github.io/mediapipe/solutions/object_detecti

[2022-07-19 21:02] raju535482 commented on #313
@suraj-0387 Can you please make on repository for the Arcore+Media pipe integration code? I really need this code.

[2022-07-19 21:52] raju535482 commented on #751
Hi @mohdahk , did you found any way to integrate sceneform with Media pipe's Hand detection

[2022-07-20 01:10] MelisaSosa commented on #2580
hello @tianhonglilei , I'm also trying to implement holistic on Android and I wanted to know if you succeeded and, if you don't mind, I'd like to ask you some questions 🙏 thank you a lot

[2022-07-20 02:46] fiveshit commented on #3439
Hi @haoXu1990
I don't understand your question. but maybe you can survey #513 rewrite camerahelper function

[2022-07-20 03:36] Javacr opened #3531 "ERROR about "Build a MediaPipe Android example.""
**System information (version)**
Linux OpenCV = 4.2.0
Operating System / Platform = Windows 64 Bit WSL2(ubuntu20.04)
Android OpenCv =4.2.0
Android SDK = latest
Android NDK = r21e
Detailed description
I successfully ran a c++ example of Hello World in WSL. However, when I tried to build a MediaPipe Android example in WSL, I encountered an error.

ERROR: /home/jim/.cache/bazel/_bazel_jim/9ded6e7e7b0

[2022-07-20 03:55] HOLDfoot commented on #3508
CameraXPreviewHelper have a very complex way to use camera by camerax api, Because of this, It is difficault for me to change cameraX to old version camera api or camera2 api. Can anybody help me provide me camera2 api or android.hardware.Camera demo?

[2022-07-20 03:59] UtsaChattopadhyay opened #3532 "How to process the output of pose detection and pose landmark models in a standalone c++ project"
I am working on building a standalone cpp project for detecting pose. In the project,I am using 2 of the mediapipe tflite models (pose_detection and pose_landmark), and the output dimensions of the models are attached below. For the pose detection, we have two outputs (2254, 12) and (2254, 1). What do these values correspond to, and how do we do the postprocessing on these values? On the mediapipe

[2022-07-20 04:13] HOLDfoot commented on #490
I have request a related feature
[https://github.com/google/mediapipe/issues/3508](url)
the current cameraX api is difficult to understand, in the same time, as a android programer, It is also difficault to recompile c++ project like mediapipe. I very hope official to adapt usb camera. It can help me save one week above

[2022-07-20 04:14] HOLDfoot commented on #490
Can i repopen this issue, and how?

[2022-07-20 05:44] HOLDfoot commented on #3508
I have read some relate issues, such as:
[https://github.com/google/mediapipe/issues/3439](Run Mediapipe on background service (Android) #3439 )

[2022-07-20 06:02] HOLDfoot commented on #3508
If there have some c++ so lib file and doc, which will help me a lot to integrate on android. But I can't find pure so lib and java caller. Maybe I am lazy, but I think there are many people need the demo for usb camera and the demo can run in background service without Activity.

[2022-07-20 06:41] HOLDfoot commented on #3508
I read this issue.
[How to use mediapipe with camera1.0 or 2.0 #490](https://github.com/google/mediapipe/issues/490)
But i can't agree the comment by @[eknight7](https://github.com/eknight7)

As one android developer, camera1 and camera2 is all easier than cameraX. and easy to expand to usb camera.
Can you add a plan which is "provide Camera2 API" to your schedule?

[2022-07-20 07:27] kuaashish commented on #3531
Hi @Javacr, Could you provide the complete steps to reproduce the issue and more details about the issue. Thank you!

[2022-07-20 08:52] Javacr commented on #3531
Thank you for your reply. I have solved the problem, the main reason is that I use android opencv 4 in WORKSPACE. When I changed to Android OpenCV 3, the APK build was successful.

[2022-07-20 09:03] yanzijun922 commented on #2945
Hello there, I am also looking for an explanation for BlazePose heavy tflite model. Did anyone get links or hints?

[{'name': 'input_1', 'index': 0, 'shape': array([  1, 256, 256,   3], dtype=int32), 'shape_signature': array([  1, 256, 256,   3], dtype=int32), 'dtype': <class 'numpy.float32'>, 'quantization': (0.0, 0), 'quantization_parameters': {'scales': array([], dtype=float32), 'zero_points':

[2022-07-20 09:19] kuaashish commented on #3525
Hi @carat-hansol, Have you looked at similar closed issue #3028  and [comment](https://github.com/google/mediapipe/issues/3028#issuecomment-1023990110). Thank you!

[2022-07-20 09:35] kuaashish commented on #3531
Hi @Javacr, Good to hear that the issue has been resolved. Could you move this issue to close status as it doesn't need further assistance. Thank you!

[2022-07-20 09:44] kuaashish commented on #3522
Hi @fchen09, Could we move this to close status as the issue has been resolved as per the [above](https://github.com/google/mediapipe/issues/3522#issuecomment-1185215872) comment. Thank you!

[2022-07-20 09:59] mathaeus commented on #3477
@kuaashish pinging you in the hope to get some feedback :)

[2022-07-20 12:25] Gojo1729 opened #3533 "FPS issue in pose tracker solution"
**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Android 12
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Realme X7 5G
- Programming La

[2022-07-20 13:42] #3531 closed

[2022-07-20 13:56] Tortoise17 commented on #3526
@kuaashish Thank you. I have tried this and below is the result.

[code]
Can you guess now my mistake?

[2022-07-20 16:18] Wei-1 opened #3534 "Add `predictIrises` support in Holistic model"
<em>Please make sure that this is a feature request.</em>

**System information** (Please provide as much relevant information as possible)

- MediaPipe Solution: Holistic
- Programming language : typescript
- Are you willing to contribute it: Yes

**Describe the feature and the current behavior/state:**

Although, we can track Irises in our Facial Landmark model with the `predictIrises` parameter

[2022-07-20 20:56] kostyaby commented on #3533
Hey @Gojo1729,

Unfortunately I'm not involved in the pose tracker development, so it's hard to tell why is it giving you 9 FPS. I agree that Realme X7 5G is a decent Android phone ([geekbench](https://browser.geekbench.com/android_devices/realme-7-5g)), so I'd be expecting 30 FPS from it too - but I'm not sure I fully understand the current performance profile for the pose tracker

@ivan-grishche

[2022-07-21 03:50] fchen09 commented on #3522
Sure, thanks!

[2022-07-21 03:50] #3522 closed

[2022-07-21 03:51] CheungBH opened #3535 "Finger detcection"
Hello. Do you have a finger detection demo for IOS? I can only find the hand detection demo, without detection fingers.

[2022-07-21 05:29] ndrewtl opened #3536 "JS FaceMesh documentation"
Thank you for submitting a MediaPipe documentation issue.
The MediaPipe docs are open source! To get involved, read the documentation Contributor Guide
## URL(s) with the issue:

https://google.github.io/mediapipe/solutions/face_mesh.html

## Description of issue (what needs changing):

The Facemesh documentation doesn't currently include an explanation of the `Mesh` type or how to use the `getVer

[2022-07-21 05:40] kuaashish commented on #3526
Hi @Tortoise17, Could you please try with this below command:
[code]
Thank you!

[2022-07-21 06:16] HOLDfoot commented on #3508
After my analyse, I find override java file in aar way to run. Just get com.google.mediapipe.components.CameraXPreviewHelper file  and create it package and file in the same way. Add com.example.CameraXCapture.MainActivity.MyCameraFilter file. and update CameraXPreviewHelper's code. the two file is as below, now i can access usb camera by cameraX.
com.example.CameraXCapture.MainActivity.MyCameraFi

[2022-07-21 06:42] sosoyeon1125 opened #3537 "What is 'check.mp3'? ? [estimate[person's height]]"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Linux Ubuntu 18.04
-

[2022-07-21 06:46] seasiainfotech commented on #332
[multi_hand_tracking_mobile.pbtx](https://github.com/google/mediapipe/blob/master/mediapipe/graphs/hand_tracking/multi_hand_tracking_mobile.pbtxt)
above link show page not found exception
please help me i am facing issue with mediapipe remove extra renderer ovelays (square etc.)

[2022-07-21 06:51] kinectsources commented on #3152
Will that repo works for Android targetting platform ?

[2022-07-21 07:28] sosoyeon1125 opened #3538 "how to measure person's height?"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):Linux Ubuntu 18.04
- [

[2022-07-21 09:00] ArtfulMinx opened #3539 "Mediapipe how to detect a speific person?"
I observed that it only detects the closest person to the cam in a video, but I want to detect a person who is some distance away and not the closest one? How do I do that?

btw the person I want to detect can be considered to be center of the video

Thank you

[2022-07-21 09:06] Tortoise17 commented on #3526
@kuaashish  Thank you. now the error is :

[code]

[2022-07-21 09:52] dilldilldill opened #3540 "object_detection_3d: SIGSEGV when nativeStartRunningGraph is called"
I am integrating mediapipe into my WebRTC based Android application written in Java. I tried to get the most simple edge detection example working with my app to verify the basic mediapipe setup is working, which it did.

I then built an AAR file for **mediapipe/graphs/object_detection_3d:mobile_calculators** and tried to use the graph binarypb file from the **object_occlusion_tracking.pbtxt** in

[2022-07-21 10:09] Tortoise17 commented on #3526
@kuaashish thank you. I have tried this, Now the error is :

[code]

The point is that, I have tried to generate the features.pb file, but I guess that is not the the right way I used.

I tried commands below
[code]

`GLOG_logtostderr=1 bazel-bin/mediapipe/examples/desktop/youtube8m/extract_yt8m_features --calculator_graph_config_file=mediapipe/graphs/youtube8m/feature_extraction.pbtxt --input_sid

[2022-07-21 17:26] Gojo1729 commented on #3533
Hey @ivan-grishchenko any suggestions ?

[2022-07-21 20:06] jonmatthis commented on #3023
I run into the same error as @alexiscatnip  with Windows, Python 3.7, model complexity 2

[2022-07-21 23:09] root-master commented on #1325
There is something wrong with the build process. `pip install mediapipe` works neither on intel mac nor on M1. I tried all the suggestions.

[2022-07-22 05:15] 390057892 commented on #3494
please give me a demo，thank you，I can't find the relevant usage

[2022-07-22 09:11] kuaashish commented on #3537
Hi @sosoyeon1125, Could you please elaborate your query with complete details and standalone code to reproduce the issue. Thank you!

[2022-07-22 11:50] #3498 closed

[2022-07-22 11:50] #3490 closed

[2022-07-22 20:39] #3230 closed

[2022-07-23 03:32] Aurosutru commented on #2902
Answers here have not addressed the OP's question, which was, _So how can I check the version of mediapipe installed?_

[2022-07-23 09:03] akryeem commented on #3539
+1
I see the issue of detecting multiple persons is repeatedly raised from time to time and the solution suggested (modify the graph) isn't really practical as there is no any tutorial on how to make such graph modification, in addition to the requirement to recompile the whole model.
I think MP can do a huge favor to the community by adding support for multi-pose detection! the approach proposed

[2022-07-24 05:46] Javacr opened #3542 "Incorrect display"
![无标题1](https://user-images.githubusercontent.com/44012990/180633688-240a8842-42d8-40ec-9a68-d386998cb329.png)

![无标题](https://user-images.githubusercontent.com/44012990/180633636-d73a3f8f-d7cf-4a6c-8317-d4f0e4afabc7.png)

When I run the official [face detection example](https://github.com/jiuqiant/mediapipe_face_detection_aar_example), I encounter a strange problem. As shown in the screenshots, n

[2022-07-24 17:24] brucechou1983 commented on #3503
I don't think you could achieve this by just using MediaPipe public models. We've done something similar in my team. We basically train our own model and serve it by MediaPipe.

[2022-07-24 18:03] LGuilhermeRodrigues commented on #3503
I would try Selfie Segmentation to remove the background and then Face Mesh to cut the neck

[2022-07-25 03:12] Javacr commented on #3542
I have solved this issue. When I give up  using "displaySize" in MainActivity, the image is right.

[2022-07-25 05:08] Gojo1729 commented on #3533
@ivan-grishchenko any suggestions on this ?

[2022-07-25 05:13] watermellon2018 opened #3543 "How add custom data and train model"
I want to use custom data and to train model for pose estimate. Can i apply transfer learning?
How i can do that?
Thanks

[2022-07-25 05:18] sureshdagooglecom commented on #3503
Hi @chris-hndz ,
These models are not part of MediaPipe solutions currently and this is a feature request.

[2022-07-25 05:20] sureshdagooglecom commented on #3510
Hi @baba-yaga ,
1) The limitation on head angle is a limitation of the modeling technique (training on face forward faces).
2)Please  generalize the mediapiep solution.
sounds like a good refinement or generalization of mediapipe solution.
Google won't do this refinement for now.

[2022-07-25 05:22] sureshdagooglecom commented on #3408
Hi @lhalcyon ,
Please  use AAR approach and avoid the solution approach, it works better.

[2022-07-25 05:23] sureshdagooglecom commented on #3416
Hi @wingdi ,
Could you please explain how AAR packaging could be interfering with the PBR texture.

[2022-07-25 05:27] sureshdagooglecom commented on #3497
Hi @PZerua ,
Could you please confirm what the full set of captions are for "ObjectDetectionSubgraphCpu",
 "ObjectTrackingSubgraphCpu".  if not, we could augment the subgraph/solution options, or suggest how user "hack" the options at the calculator level.
if you have  all options, we must say this is true limitation of the solution.

[2022-07-25 05:29] sureshdagooglecom commented on #3350
Hi @tomerlevi444 ,
Possibly the model produce "empty packet" instead of vector of zero detections.
(please try ObserveTimestamps option, in FrameProcessor.  option is only available for AddMultiStreamCallback.  user would need to alter code locally to use AddMultiStreamCallback, and select the ObserveTimetampBounds parameter.  https://github.com/google/mediapipe/blob/master/mediapipe/java/com/goog