[2021-06-17 08:47] yishinhung commented on #2117
Hi @mcclanahoochie
    Did you have any idea for the build fail ? I build the sample for coral board.
Thank a lot!

[2021-06-17 10:06] #1335 closed

[2021-06-17 10:24] txf- commented on #2182
@aiarcv

The problem is that the calculators are not always emitting packets and the pollers block the graph, effectively making a deadlock.

See  #1532

or #850

Basically it involves editing the graphs and polling based on whether a packet is present

[code]

[2021-06-17 10:25] AliDjango commented on #1912
any updates?i need this as well

[2021-06-17 10:47] sgowroji commented on #2183
Hi @chaowentao, Could you please elaborate your inconsistent model output in the form of errors or any video screenshot to understand it much better. And we would encourage to use python pose solution rather using the tflite model, If you're targeting  python platform.

[2021-06-17 10:54] sgowroji commented on #2169
If no human pose is detected, the fields in the "results" object is set to None. Before accessing results.pose_landmarks, please check if it's None. See our example code at https://github.com/google/mediapipe/blob/master/docs/solutions/pose.md#python-solution-api.

[2021-06-17 13:11] sohail-jogo commented on #2174
Thanks a lot! This is what I was looking for.

[2021-06-17 13:12] sohail-jogo commented on #2174
Thanks a lot! This is what I was looking for.

[2021-06-17 13:24] Daewon-Hwang opened #2184 "use onnx format from pose_landmark"
Hi,

I want to use pose_landmark in Unity Barracuda. Because it support ONNX format, I decided export ONNX from  pose_landmark_heavy.tflite.

``
! python -m tf2onnx.convert --tflite ./pose_landmark_heavy.tflite --output pose_landmark_heavy.onnx
``

After exporting ONNX format, I was able to check the model structure from the onnx viewer as shown in the figure below.

![image](https://user-images.g

[2021-06-17 16:50] LucaswasTaken opened #2185 "Strange z-coordinates of pose face-landmarks"
<em>Please make sure that this is a feature request.</em>

**System information** (Please provide as much relevant information as possible)

- MediaPipe Solution (you are using): MediaPipe Holistic
- Programming language : python
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state:**
The face landmarks from the pose are now different from when th

[2021-06-17 17:10] superuser789 commented on #1346
Thank you for pointing this out.
So far, I have built for RPi3 & RPi4 running raspberrypi os 32 bit and  python 3.7 (this is the latest python version available on rpi official repository). I'll reflect these specific requirements for mediapipe builds in README and will add support for more versions later. You are free to build your own mediapipe package.
Thanks again.

[2021-06-17 17:19] tyrmullen commented on #2181
Then that's definitely the issue.  It looks like the file fetching code for the .tflite models was changed to now be triggered in the optionsConfig onChange() callback for 'modelComplexity'.  So if you change the 'modelComplexity' setting (valid values of 1, 2, or 3, I believe) using setOptions(), that should cause a network fetch to be initiated to the locateFile() path you specified, looking for

[2021-06-17 18:01] AmitMY commented on #2181
Thanks @tyrmullen, this works.

Full code:
[code]

I agree - it should default to some complexity and not spaz out.

[2021-06-17 19:35] samlaf opened #2186 "Proposal: use select() in opencv_linux.BUILD to make cross-compiling easier"
This is not an issue, so there is no bug to reproduced.

**Describe the setting**:

I am proposing a change to `opencv_linux.BUILD` so that building on aarch64 is easier.
Currently, the opencv cc_library in `opencv_linux.BUILD` reads:
[code]
The [documentation](https://github.com/google/mediapipe/blob/master/third_party/opencv_linux.BUILD) says to update this file by using `sed -i "s/x86_64-linux-

[2021-06-17 19:42] mheskol opened #2187 "MediaPipe Web Roadmap"
**System information** (Please provide as much relevant information as possible)

- MediaPipe Solution (you are using): Object Detection
- Programming language : Javascript
- Are you willing to contribute it: Yes:

Is there a highlevel roadmap you can share about plans for MediaPipe. Especially expanding the support of MediaPipe Web to cover other modules available only on other platforms like Obj

[2021-06-17 21:38] teddis commented on #1281
Yep, thanks, this worked for me too.

android_ndk_repository(
    name = "androidndk",
    api_level = 22,
)

[2021-06-17 23:05] tyrmullen commented on #1937
I've submitted a patch-- the next JS Solutions update to "face_mesh" and "holistic" should no longer have this issue.  Please confirm or let me know if that's not the case when the next release occurs.

[2021-06-18 01:30] #2183 closed

[2021-06-18 02:01] chaowentao commented on #2184
https://github.com/google/mediapipe/issues/1701#issuecomment-797131246
As for the model input we divide RGB image with [0, 255] values by 255.0 to get [0, 1] values. So the second formula.

As for the outputs, you are interested in first two:

(1, 195) = (1, 33 * 5) - 33 landmarks, represented as (x, y, z, visibility, presence) each, in a flatten format. presence means landmark is within the frame

[2021-06-18 02:50] Daewon-Hwang commented on #2184
Thank you. I have additional question. When extracting ONNX and using it in Unity barracuda, do I have to manually crop the input image and smooth the land mark?

[2021-06-18 02:54] chaowentao commented on #2184
If you want to have a better result for a video, you can follow mediapipe post-processing. If not, you can also get an acceptable result.

[2021-06-18 03:29] sgowroji commented on #2187
Hi @mheskol, Could you please elaborate your feature request on Object detection.  Which use case are you looking in web. Thanks!

[2021-06-18 03:54] sgowroji commented on #2122
Hi @guoguoguilai, Could you please respond to my above comment. Thanks!

[2021-06-18 03:54] sgowroji commented on #2125
We are closing this issue now due to lack of activity.

[2021-06-18 03:54] #2125 closed

[2021-06-18 03:56] sgowroji commented on #2143
Hi @bwjoe, Could you please respond to my above comment. Thanks!

[2021-06-18 04:07] sgowroji commented on #1263
Duplicate https://github.com/google/mediapipe/issues/2071

[2021-06-18 04:07] #1263 closed

[2021-06-18 04:16] sgowroji commented on #786
Hi @Derek-Kun, Could you please respond the issue still exists with the latest build. Thanks!

[2021-06-18 04:18] sgowroji commented on #818
Hi @mzwtjp, Could you please explain your use case with clear details. Thanks!

[2021-06-18 04:21] sgowroji commented on #843
Hi @laurieban, Could you please respond whether you still seeing the above error with latest release build. Thanks!

[2021-06-18 04:32] Lpayaro commented on #2141
Understood,

This phone is a Redmi Note 8 pro 6GB RAM 128GB storage version and the chrome mobile version is as you say 32bit.
The mediapipe version is "@mediapipe/face_mesh": "^0.3.1620248508".

I am now using facemesh through @tensorflow-models/face-landmarks-detection and it works on both phone and desktop.
I hope that this information will be useful to mediapipe.

Thanks for your support, anyw

[2021-06-18 06:04] apcjs opened #2188 "Getting "Memory access out of bounds" error on Chrome 91.0.4472.101"
The following pen, which is the demo code for Holistic, works fine in the desktop, but on Chrome Mobile for Android ver 91.0.4472.101, I get a "Memory access out of bounds". I tried this on multiple devices with the above version of Chrome, and seeing the same error. It works good with previous versions of Chrome for Android (including Chrome for Android 92 Beta).

https://codepen.io/arunitc/pen/m

[2021-06-18 06:16] guoguoguilai commented on #2122
Sorry for the late reply.
[Holistic Remote](https://mediapipe.dev/demo/holistic_remote/) contains a gesture control system to do oprations(e.g. mute microphone and open keyboard by a specific gesture ). This is awesome. How can I implement this?

[2021-06-18 06:38] Daewon-Hwang commented on #2184
In my case, I need to use the ONNX file in Unity, so it seems to be necessary to manually crop the human area and then input it into the pose_landmark extraction model. What I'm curious about is how much margin should be placed when cropping the human area.

[2021-06-18 06:45] chaowentao commented on #2184
In my opinion, your box should be as close to the entire body as possible and leaving a little margin.

[2021-06-18 06:48] sgowroji commented on #2188
Hi @apcjs, Could you please go through this https://github.com/google/mediapipe/issues/2082#issuecomment-852470806.

[2021-06-18 07:00] Daewon-Hwang commented on #2184
Thanks for the advice. I'll give it a try.

[2021-06-18 08:15] bwjoe commented on #2143
hello
sorry about my late response.
i don't have enough time to find about this solution. ( my schedule is so busy..)
so i solve this problem with worng way , not correct way.

i just activate 2 camera objects.
and just get iris landmarks from mediapipe module with set "output : inputstream,"

anyway so i just skip this problem not solving.
so i have no error reports that you request.
thank you fo

[2021-06-18 09:05] txf- commented on #2122
It would be interesting to to have the source for that particular demo. Would it be possible to release it?

[2021-06-18 12:53] dhavalgediya27 opened #2189 "image into mesh get then throw an error?"
I am upload an image and get the face mesh but i can got the error like this.
So, Help Me.

Uncaught (in promise) TypeError: Cannot read property 'buffer' of undefined
    at Object.write (VM765 face_mesh_solution_wasm_bin.js:9)
    at Object.write (VM765 face_mesh_solution_wasm_bin.js:9)
    at Object.createDataFile (VM765 face_mesh_solution_wasm_bin.js:9)
    at finish (VM765 face_mesh_solution_

[2021-06-18 17:27] hongyaohongyao commented on #2184
Do you make it?

[2021-06-18 17:43] hongyaohongyao commented on #2183
Have you solved your problem?

[2021-06-18 20:10] afogel commented on #2152
@sgowroji this would be great for JS too :)

[2021-06-18 22:23] mcclanahoochie commented on #2000
mediapipe relies on the tensorflow library (not tflite) to leverage cuda devices.

i don't think tflite has cuda support, only opengl ES, which jetson has.

if you are just comparing performance of tensorrt and tensorflow cuda, that can be done independent of mediapipe. running either in mediapipe will be all CPU based except for the inference.

running tflite inference in opengl mediapipe on jest

[2021-06-18 22:46] mcclanahoochie commented on #1922
the gpu [demo runner](https://github.com/google/mediapipe/blob/master/mediapipe/examples/desktop/demo_run_graph_main_gpu.cc) should be able to run the android objectron [gpu graph](https://github.com/google/mediapipe/blob/master/mediapipe/graphs/object_detection_3d/object_occlusion_tracking.pbtxt), just after a few modifications:

you would need to create a new build target in `mediapipe/examples/

[2021-06-18 22:49] mcclanahoochie commented on #2001
please check gpu system compatibility via [these instructions](https://google.github.io/mediapipe/getting_started/gpu_support.html#opengl-es-setup-on-linux-desktop)

there are also extra build flags to set, mentioned in the doc link above

[2021-06-18 23:15] mcclanahoochie commented on #2070
since the other apps work, mediapipe seems Ok in general.

the iris tracking graph needs the focal length of the camera. can you verify that this is getting called at least once?
https://github.com/google/mediapipe/blob/master/mediapipe/examples/android/src/java/com/google/mediapipe/apps/iristrackinggpu/MainActivity.java#L48

[2021-06-18 23:18] mcclanahoochie commented on #1962
you can try these Compiler flags to reduce size
        "--compilation_mode=opt",
        "--copt=-ffast-math",
        "--copt=-fvisibility=hidden",
        "--linkopt=-Wl,--exclude-libs,ALL",
        "--linkopt=-s",
        "--copt=-DABSL_MIN_LOG_LEVEL=3",

closing this issue for now

[2021-06-18 23:18] #1962 closed

[2021-06-19 03:41] HaoyuWang00 commented on #2001
Hi @mcclanahoochie , thank you for your reply! I will try the instruction and update soon.

[2021-06-19 04:02] apcjs commented on #2188
Hi @sgowroji, thanks for the reply. The demo works fine in other versions of Android Mobile including 92 beta. It fails only in the mobile version of 91.

[2021-06-19 07:10] shuiyuejihua opened #2190 "the new one if difficult to use vs YouTube8M Feature Extractor (DEPRECATED)"
<em>Please make sure that this is a feature request.</em>
YES
**System information** (Please provide as much relevant information as possible)

- MediaPipe Solution (you are using):YouTube8M Feature Extractor [(DEPRECATED)](https://github.com/google/youtube-8m/tree/e6f6bf682d20bb21904ea9c081c15e070809d914/feature_extractor)
- Programming language : Python
- Are you willing to contribute it (Yes/No

[2021-06-19 13:04] mufaawan opened #2191 "Face Rotation Angle/Pose"
Is there any way I can get the face rotation angles from camera? I want to know 3D angles. Roll, Yaw and Pitch. Will it be possible using MediPipe facemesh solution?

PS: I'm looking solution in Python.

[2021-06-19 23:10] ghost opened #2192 "Expose XHR request data while loading models to allow for "progress bars""
**System information:**

- MediaPipe Solution: MediaPipe Hands...but also any MediaPipe model
- Programming language : JavaScript
- Are you willing to contribute it (Yes/No): YES!

**Describe the feature and the current behavior/state:** For slow connections or environments with some overhead during setup (like MCU's) it would be helpful to know the percentage of the model that has been loaded. Th

[2021-06-20 04:49] lelouch6542 opened #2193 "Medaipipe on android studio"
System:
Ubuntu 20.04 LTS
Android studio 3.5

Tried to use medapipe on android studio. Followed each and every instruction provided by link below
[Medaipipe Android](
https://google.github.io/mediapipe/getting_started/android.html)

Got this error on step 8.

[code]

[2021-06-20 10:47] nakshatrasinghh commented on #2169
@sgowroji tried everything possible for 3 days straight, the error only comes when i stand up from the sitting position and it only happens in web apps, in local environment is works fine. Can we connect for 10 mins and you can help me solve this issue

[2021-06-20 11:21] ozerberdi commented on #2138
Hello everybody;
I have asame problem. Application runs in pycharm  with this message:

![d](https://user-images.githubusercontent.com/36799185/122672129-9c446f00-d1d2-11eb-8620-b4ae6c5e5a99.png)

But when I compile with pyinstaller and try to run exe, it gives following mediapipe file not found error.

![d1](https://user-images.githubusercontent.com/36799185/122671947-a87bfc80-d1d1-11eb-81cb-80e3

[2021-06-20 13:50] AhmedEmadEldinHussin opened #2194 "error while building android example"
I get this error while building the android example

**System information**
- OS Platform and Distribution :ubunut 20.04 lts
- Compiler version : gcc 9
- Programming Language and version : python 3.8

bazel build -c opt --config=android_arm64 mediapipe/examples/android/src/java/com/google/mediapipe/apps/handtrackinggpu:handtrackinggpu \
--define MEDIAPIPE_DISABLE_GPU=1 \
--action_env PYTHON_BIN_PA

[2021-06-20 14:58] whatisor opened #2195 "Open model source for custom training"
I as well as many AR developer  realized hand-tracking model is not good for use-case of AR camera( such as grayscale, non-selfie).
Can Mediapipe open Model source for fork?
In deep learning, without model source, it is NOT an open source project.
Thank you.

[2021-06-20 18:17] LGuilhermeRodrigues commented on #2184
(1, 33 * 5) results in (1, 165), not 195

[2021-06-20 19:34] mheskol commented on #2187
Hi @sgowroji and thanks for your response
Actually we are using Object Detection already on mobile and looking to provide similar functionality to our users on Web.
We use it to detect cards of various types (business cards, credit cards, driving license) or documents in near realtime to assist the user in capturing good image of the object (focus on object, positionining, ....etc.)

The Object De

[2021-06-20 23:37] fahadhaq commented on #2191
@mufaawan  Have a look at face effect example for android. The Calculator effect_renderer_calculator.cc uses FaceGeometry which converts it to a matrix which can be used to calculate Pitch, Roll and Yaw. Thats how I have worked out Pitch, yaw and roll. Hope this helps

[2021-06-21 03:42] ForLovelj commented on #1842
@hollyhook This is my code for switching the camera, I hope it helps you.
[code]
like:
[code]

[2021-06-21 03:58] brucechou1983 commented on #2121
**TensorsToSegmentationCalculator** is also a pixel based conversion calculator. You could create TensorToImageCalculator base on that.

[2021-06-21 04:12] sgowroji commented on #2189
Hi @dhavalgediya27, Could you please share your code to understand the issue much better. Thanks!

[2021-06-21 04:15] sgowroji commented on #2190
Hi @shuiyuejihua, Could you please elaborate with more details, Like what  made more difficult while working with YouTube8M  solution. And what is your use case with it.Thanks!

[2021-06-21 04:16] brucechou1983 commented on #2019
Check **mediapipe/util/render_data.proto** and you'll find **FilledRectangle** there. Simply modify the calculator to replace Rectangle with FilledRectangle should work.

[2021-06-21 04:21] sgowroji commented on #2191
Hi @mufaawan, Have a look at this https://github.com/google/mediapipe/issues/1561#issuecomment-771027016

[2021-06-21 05:46] sgowroji commented on #2195
Hi @whatisor, Could you please elaborate your use case with complete details.

[2021-06-21 05:59] sgowroji commented on #2167
Hi @ajm133, Could you please confirm you are trying to install on GPU support Linux machine  (via mesa drivers). Thanks!

[2021-06-21 06:01] sgowroji commented on #2164
Hi @IgorZaton, Could you please respond to my above [comment](https://github.com/google/mediapipe/issues/2164#issuecomment-860341264). Thanks!

[2021-06-21 06:09] #2001 closed

[2021-06-21 06:10] sgowroji commented on #2070
Hi @some2014, Could you please respond to the above [comment](https://github.com/google/mediapipe/issues/2070#issuecomment-864314687). Thanks!

[2021-06-21 06:26] #2128 closed

[2021-06-21 06:58] IgorZaton commented on #2164
Hi, I don't mean to convert those joints to ```float32``` but to set single precision as default so my computations would be faster.

[2021-06-21 07:05] vovaani opened #2196 "Confidence score in the Iris tracking solution"
Hi,

I'm using the Iris tracking solution in Python (after applying the patch described [here](https://github.com/google/mediapipe/issues/1530#issuecomment-820129222)). I'm interested in identifying frames in which the Iris is not visible because of obstruction by a glasses frame / a hand or something else.

I thought to use a confidence score for this purpose, however I've noticed that unlike fac

[2021-06-21 07:07] AhmedEmadEldinHussin commented on #2194
I tried all the solutions but still , I have the problem

[2021-06-21 07:35] sgowroji commented on #2196
Hi @vovaani, [This](https://github.com/google/mediapipe/issues/644#issuecomment-619149060) could be helpful for youre use case. But it was in Palm and Try with Iris and let us know, if you have any difficulty. Thanks!

[2021-06-21 07:40] sgowroji commented on #2194
Duplicate https://github.com/google/mediapipe/issues/1128

[2021-06-21 07:45] sgowroji commented on #1977
We are closing this issue due to lack of activity.

[2021-06-21 07:45] #1977 closed

[2021-06-21 07:47] sgowroji commented on #2012
Assuming your issue resolved, we are closing this ticket. Please feel free to reach us if the above issue still exists.

[2021-06-21 07:47] #2012 closed

[2021-06-21 07:49] sgowroji commented on #2049
Hi @chensisi0730, Let us know if you still have any questions specific to above [comment](https://github.com/google/mediapipe/issues/2049#issuecomment-856104230). Thanks!

[2021-06-21 07:52] sgowroji commented on #2084
That's great for sharing with the community. We are closing this issue now. Thanks!

[2021-06-21 07:52] #2084 closed

[2021-06-21 08:45] vovaani commented on #2196
Great, thanks for the super quick answer! I'll try that.

Just to make sure - I see [the face landmark detection output stream](https://github.com/google/mediapipe/blob/master/mediapipe/graphs/iris_tracking/iris_tracking_cpu.pbtxt#L33) which contains the detection message that AFAIU covers all the landmarks, except the ones added [exclusively by Iris](https://github.com/google/mediapipe/blob/maste

[2021-06-21 09:09] whatisor commented on #2195
I am using  mediapipe for HTC VIVE Focus Plus (android) to develop a hand tracking solution.
It gets very low accuracy in comparison with  web demo of mediapipe.
Similar to this, but I think it is even worse
https://github.com/google/mediapipe/issues/1014

[2021-06-21 10:03] vovaani commented on #2196
So I extracted the [face detections](https://github.com/google/mediapipe/blob/master/mediapipe/graphs/iris_tracking/iris_tracking_cpu.pbtxt#L33) and here are a few findings:
1. There is a global score for the entire face detection (as opposed to a score per landmark as I thought previously).
2. The score seems to reflect major obstructions of the face. So for example if I put a hand in front of my

[2021-06-21 11:34] kiranscaria commented on #2121
Thanks for the info. `TensorToImageCalculator` seems to be a good place to start with.

[2021-06-21 14:22] AhmedEmadEldinHussin commented on #1128
still the problem is exist

[2021-06-21 14:23] mufaawan commented on #2191
yes I had look. I need a Pythonic solution. I am sorry I didn't find it helpful.

[2021-06-21 15:10] zzmicer opened #2197 "Mediapipe debugging in VScode"
Is there any method/plugin to debug C++ mediapipe code in Visual Studio Code?

[2021-06-21 16:24] hollyhook commented on #1842
Thank you so much @ForLovelj! will give it a try.

[2021-06-21 16:33] hyperparameters commented on #1107
i would also like to know the development of mediapipe models on mobile webbrowser.
@bfalchuk did you had any progress on this? TIA

[2021-06-21 16:39] DimIsaev commented on #1063
and when?

[2021-06-21 16:56] mhays-google commented on #1107
It should work on Chrome mobile.  We're looking to make it workable on iOS,
and that work lands later this year.  There may be some configurations
which are problematic, and we're always looking for specific configurations
that do not work.

On Mon, Jun 21, 2021 at 9:33 AM Tushar Kolhe ***@***.***>
wrote:

[2021-06-21 17:11] mhays-google commented on #2152
The javascript api includes a "reset" method to do this.  Check that you
are using the latest version.

On Fri, Jun 18, 2021 at 1:10 PM Ariel Fogel ***@***.***>
wrote:

[2021-06-21 17:23] brucechou1983 commented on #2180
If you read the **palm_detection_gpu.pbtxt** in the palm detection module, you'll see many calculators other than tflite inference calculator. Especially there is a non max suppression there. What's the point of NMS if the model can't detect multiple hands?

Base on my model conversion experience, either the onnx file has some subtle difference (say op implementation or default values) from the tf

[2021-06-21 17:38] mhays-google commented on #2141
This is on our radar.  We have a commitment to roll this out to more
devices, but at the moment, the order and timeline of that deliverable is
still being discussed.

On Thu, Jun 17, 2021 at 9:32 PM Lpayaro ***@***.***> wrote:

[2021-06-21 18:31] ajm133 commented on #2167
I am. Also, i tried running it on the CPU but was getting the same error. Thus, I think it is not the cpu/gpu support problem, but rather something else.

[2021-06-21 23:15] pablogranolabar opened #2198 "Using KNIFT feature vectors with vector similarity search?"
**System information**

Flutter / tflite front end which performs realtime KNIFT vector feature analysis, and streams discovered vectors to a vector similarity search engine such as [FAISS](https://github.com/facebookresearch/faiss). Target platform is Flutter / Dart with tflite KNIFT model inference.

I am curious if there are any implementation suggestions for a realtime KNIFT classifier running

[2021-06-22 02:17] nguyenquangduc2000 commented on #1276
Try this

[code]

[2021-06-22 03:37] RMiTiG commented on #1860
@ahmadyan I have same question.I also use the hack to distinguish left and right,but it doesn't work when there is only one shoe in the image.And I believe that it could distinguish the left and right as it has ditinguish the front and back.
But I don't understand how can I create/compute the left_right bit in the AnnotatedFrames

And I found that Objectron can get predicted segmentation mask from

[2021-06-22 03:41] z7212819 commented on #1860
@RMiTiG Hello, according to your description, can you tell the right foot from the left if you have two shoes? How do you do that? Thank you very much.

[2021-06-22 04:01] sgowroji commented on #2197
Hi @zzmicer,  Could you please share whether  you  are not able to debug using [this](https://code.visualstudio.com/docs/cpp/cpp-debug). And what is the error while trying with it. Thanks!

[2021-06-22 04:10] sgowroji commented on #1050
Hi @ni3-sharma, Could you please respond to my above comment. Thanks!

[2021-06-22 04:12] sgowroji commented on #2099
Hi @crf-git, Could you please respond to above [comment.](https://github.com/google/mediapipe/issues/2099#issuecomment-859738093)  Thanks!

[2021-06-22 04:13] sgowroji commented on #2171
Hi @rakesh4real, Could you please respond to my above comment. Thanks!

[2021-06-22 04:20] sgowroji commented on #1249
Hi @Gul11, Could you please elaborate your use case with complete details. Thanks!

[2021-06-22 04:21] sgowroji commented on #1247
Hi @salvadorld0, Could you please reply whether you're still looking for the above query. Thanks!

[2021-06-22 04:24] RMiTiG commented on #1860
I just judge from their position.For example,a box with the center(1, 0, 0) is in the right of the box with the center(0, 0, 0) in right-handed coordinates.That is why it not works for one shoe.Two shoe maybe failed sometimes when the feet cross together.So I prefer to solve this problem in the graph.

[2021-06-22 04:24] sgowroji commented on #1277
Hi @AntonioDomenech, Could you please respond whether you still looking for the above query. Thanks!

[2021-06-22 04:29] sgowroji commented on #1278
Hi @kiprock, Did u try the above comment. Thanks!

[2021-06-22 04:43] sgowroji commented on #1286
Hi @ashikns, Could you please respond whether you still looking for the above query. Thanks!

[2021-06-22 04:45] sgowroji commented on #1302
Hi @ShiramineRisa, Could you please respond whether you still facing the above error with the latest release. Thanks!

[2021-06-22 06:30] z7212819 commented on #1860
@RMiTiG I see, this method of yours is also very thoughtful. Although one foot cannot tell the position, at least you can tell the left and right feet. I think it is very impressive. I only need to identify the left and right feet in the shoe part, the other parts have been almost perfect, we can exchange various ideas about this solution. Which part of your scheme is modified to realize? If I fin

[2021-06-22 06:50] sgowroji commented on #2176
Hi @goodgood111, Did you get a chance to go through my above comment. Thanks!

[2021-06-22 06:51] sgowroji commented on #1383
Hi @antornix, Did you get a chance to go through my above comment. Thanks!

[2021-06-22 06:52] sgowroji commented on #1382
Hi @wm901115nwpu, Could you please respond to my above [comment](https://github.com/google/mediapipe/issues/1382#issuecomment-861285954). Thanks!

[2021-06-22 06:53] sgowroji commented on #2178
Hi @dhavalgediya27, Could you please provide the details mentioned in the above [comment](https://github.com/google/mediapipe/issues/2178#issuecomment-861396263). Thanks!

[2021-06-22 06:59] sgowroji commented on #1343
Hi @thomsan, Could you please respond to my above [comment](https://github.com/google/mediapipe/issues/1343#issuecomment-862031578). Thanks!

[2021-06-22 07:00] sahaashi commented on #2160
@jiuqiant Any suggestions?

[2021-06-22 07:13] sgowroji commented on #1937
@tyrmullen Thank you so much for the update, Hi @afogel & @codylieu, Please test the above in the next release and reach us if you still face the similar issue. Thank you!

[2021-06-22 07:13] #1937 closed

[2021-06-22 07:17] JoeyChuuichi commented on #742
Does it mean that the current version cannot provide exact 3D coordinate values, and the current z value can only be considered as a reference to tell which joint is closer to the wrist?

[2021-06-22 07:46] youngstu opened #2199 "How to fetch the absolute depth of hand 3D coordinate?"
Considering that the absolute coordinates of hand are not obtained, how can 3d hand tracking be applied to augmented reality scenes such as AR glasses?

[2021-06-22 07:49] ashikns commented on #1286
Not actively seeking for this no. I ended up going with a onnx ported model and WinML.

[2021-06-22 07:57] RMiTiG commented on #1860
If you mean how can I realize the hack in rendering, I am sorry that I do not render by GlAnimationOverlayCalculator.I just export the object's pose as graph output and render my assets in other engine such as sceneform/scenekit.So it's easier for me to handle this.

And I finnaly understand what's ahmadyan mean,this is the solution that you need I guess.
I think we can realize the hack I said abo

[2021-06-22 08:06] lohith8099 opened #2200 "Handgesture Recognition with Gloves"
<em>We have been building mobile apps which helps motorcyclists and cyclists interact with their phones while riding wearing gloves . Can Mediapipe be used to detect hand gesuters when one is wearing gloves ?</em>

**Describe the feature and the current behavior/state:**

As of now mediapipe is able to detect hand gestures sucessfully. But it would be great it we have a way to detect handgestures

[2021-06-22 08:07] luminous33 commented on #1442
How can i modify the graph??? I tried to change pose.py as hands.py(multi_hands). But the code is notworking.
And also i did "Multi-Person Pose Estimation with Mediapipe" either.

[2021-06-22 08:07] z7212819 commented on #1860
@RMiTiG Indeed, I use GlAnimationOverlayCalculator is rendered, as ahmadyan said need to create a left and right in the AnnotationsToModelMatricesCalculator flags, I don't have any idea how to do this. Lifted_objects is usually used for shoe rotation. My idea is to move the center of the Lifted_objects part to the center of the two feet and then put the render part to the left and right, but I don

[2021-06-22 08:27] AntonioDomenech commented on #1277
I never solved it but I don't need it anymore.

[2021-06-22 09:11] RMiTiG commented on #1860
Actually I don't get it because I don't know the workflow in GlAnimationOverlayCalculator.

My thought is you can change  the model_matrices or mask_model_matrices which is determine the transform of model in  GlAnimationOverlayCalculator.
In my recognize,Lifted_objects contains a Annotation List.One annotation stands for one shoe, and we can distinguish left and right by comparing the annotation.

[2021-06-22 09:15] z7212819 commented on #1860
@RMiTiG  Thank you very much for your answer, I will try later, if there is any breakthrough, I will tell you in this question, I am also trying to cross-platform research, if I can directly transplant the current solution to iOS, I will inform you in time, thank you very much

[2021-06-22 09:52] #2089 closed

[2021-06-22 10:14] sgowroji commented on #2199
Hi @youngstu, Could you please share your use case with  augmented reality.  And absolute coordinates of hand not obtained, Can you elaborate more with any video or error logs. Thanks!

[2021-06-22 10:16] sgowroji commented on #2200
Hi @lohith8099, Which platform are you looking the above feature request. Thanks!

[2021-06-22 10:18] youngstu commented on #2199
Using 3D joint and human-computer interaction control, such as Nreal AR glasses.

 https://www.youtube.com/watch?v=9LxOlsHu3r8&ab_channel=UploadVR

[2021-06-22 10:49] sgowroji commented on #1277
Thank you for the update. We are closing this now.

[2021-06-22 10:49] #1277 closed

[2021-06-22 11:38] AnMokoto commented on #2161
thx for @jiuqiant  reply. i fixed the issue with #1893.

[2021-06-22 11:38] #2161 closed

[2021-06-22 11:53] wm901115nwpu commented on #1382
I'm sorry, I've just seen it. I try it. It is Ok. I want to know how to do it.

[2021-06-22 12:48] hongyaohongyao commented on #2184
你好，请问你是否以及实现了在onnx上使用pose_landmarks? 我用tf2onnx将权重转换成onnx格式的，但是预测的时候并不能将关键点预测在正确的位置，而是随意的飘。

[2021-06-22 13:15] hongyaohongyao commented on #2184
补充一下，我做的预处理是将rgb通道除255缩放到[0,1]，输出的时候直接把第一个195维的tensor进行reshape到[39, 5],然后把x,y的值直接作为在256x256的图像上的坐标。

[2021-06-22 13:18] zzmicer commented on #2197
Hi @sgowroji, I try to debug Hand Tracking solution. I've already built it with `bazel build -c dbg --define MEDIAPIPE_DISABLE_GPU=1 mediapipe/examples/desktop/hand_tracking:hand_tracking_cpu`

This is my configuration for `launch.json`:
[code]
When I launch debugging in VScode I get: `&"warning: GDB: Failed to set controlling terminal: Operation not permitted\n"`
And then: `E20210622 16:16:44.424

[2021-06-22 13:41] zzmicer commented on #2197
Also, I get this error window in VScode
![Screenshot from 2021-06-22 16-38-52](https://user-images.githubusercontent.com/41323462/122934878-938d9d80-d378-11eb-938c-a8df14c4c405.png)

[2021-06-22 15:07] zzmicer commented on #1788
Is there any other method to see visualization of the trace.binarypb?

[2021-06-22 15:54] jiuqiant commented on #2167
The error message tells us that's an internal compiler error. You probably can try some other version of gcc such as gcc9. See instructions at https://linuxconfig.org/how-to-switch-between-multiple-gcc-and-g-compiler-versions-on-ubuntu-20-04-lts-focal-fossa.

[2021-06-22 16:14] jiuqiant commented on #2160
For some reason, OpenCV is not probably linked. See https://github.com/google/mediapipe/blob/master/docs/getting_started/troubleshooting.md#incorrect-mediapipe-opencv-config for suggestions. You also can try "python3 setup.py install" without "--link-opencv" to build opencv from source to get rid of this issue. Please note that this approach takes much longer time to build the python package.

[2021-06-22 16:25] afogel commented on #1937
@sgowroji I just checked the npm repository, but haven't seen another release yet (The latest release I see is v. 0.3.1620694839, published a month ago)? Do you have a sense of when it will be released? Thanks!

[2021-06-22 19:21] mufaawan commented on #1698
@kostyaby I am here to thank you a lot for the great guidance. I have achieved what I wanted to. I worked last week on what you have guided me with. I really appreciate the details answer.

Thank you @sgowroji  for routing my request to relevant person. :)

[2021-06-22 20:22] sahaashi commented on #2160
Thanks for the reply. I have managed to install mediapipe package (one without the iris) using --link-opencv. I am just wondering why after making changes to include the iris implementation gives me this error. I can try doing it again without --link-opencv and see if it works.

[2021-06-22 21:21] geckogecko opened #2202 "Android Hand Tracking example fails with: "dlopen failed: cannot locate symbol 'aligned_alloc'""
I followed the Getting Started: [Installation](https://google.github.io/mediapipe/getting_started/install.html#installing-on-debian-and-ubuntu) and [Hello World! on Android ](https://google.github.io/mediapipe/getting_started/hello_world_android.html#hello-world-on-android). But the Hand Tracking app crashes on my Huawei phone with:

[code]

**Other info**
- Ubuntu 19.10
- HUAWEI P9 (EVA-L09) with

[2021-06-23 02:02] chaowentao commented on #2184
你的输入没有问题，模型输入是[256,256], 它直接输出是0-255的值，需要先除以255进行归一化，然后再乘以对应的宽和高。你再试试。

[2021-06-23 02:09] MaskeZen commented on #665
Hello @sobhan87068, has you get it working? I need to do the same thing, but I'm yet in a research instance.
Any suggestion is welcome, thanks!

[2021-06-23 04:17] sgowroji commented on #2202
Hi @geckogecko, Could you please try this https://github.com/google/mediapipe/issues/1224#issuecomment-745190852

[2021-06-23 04:23] ni3-sharma commented on #1050
hello @sgowroji
sorry for the delay,

my point is that i am using this mediapipe hand tracking code in my android app and i got the points for the tracker that is in between 0 to 1 i just want to know about how to convert this normalize points according to android phone screen size.
Thanks!

[2021-06-23 04:31] sgowroji commented on #1338
Hi @Fightingyoung, Could you please try the above steps with the latest release and let us know if you still face the same error. Thanks!

[2021-06-23 04:47] sgowroji commented on #1327
Hi @shreyanshsatvik, Hand detection is clearly described [here](https://arxiv.org/pdf/2006.10214.pdf). Please go through it and reach us if you have any relevant request. Thanks!

[2021-06-23 04:47] #1327 closed

[2021-06-23 04:52] sgowroji commented on #1308
Hi @xxiMiaxx,  Did you try building the code from [here](https://google.github.io/mediapipe/getting_started/ios#build-an-app-using-the-command-line). After that you can save the image in IOS as per needed with any event action. Please reach us if you still have any error relevant to the above request. Thanks!

[2021-06-23 04:52] #1308 closed

[2021-06-23 04:56] sgowroji commented on #1303
Hi @YuHayakawa, Could you please try the above with the latest release. And if you still see the same black screen,  please share us the video with complete reproduction steps and error logs to investigate further. Thanks!

[2021-06-23 04:58] sgowroji commented on #1342
Hi @johannes-mauthe, Could you please try the above steps with the latest release and let us know if you still see the same errors. Thanks!

[2021-06-23 05:02] sgowroji commented on #1246
Hi @ZZZhaowendao, Please go through this  [KNIFT solution ](https://google.github.io/mediapipe/solutions/knift#mediapipe-knift) as per your requirement. Thanks!

[2021-06-23 05:03] sgowroji commented on #1243
Hi @abhishekmishra2612, Could you please elaborate your use case with complete details. Thanks!

[2021-06-23 05:05] sgowroji commented on #1226
Hi @yellowflash07, Could you please respond whether you still seeing the above build error with the latest release. Thanks!

[2021-06-23 05:08] sgowroji commented on #1211
Hi @Fightingyoung, We have a very clear documentation and code examples for MediaPipe solutions with respective [Android platform ](https://google.github.io/mediapipe/getting_started/android#mediapipe-on-android).

[2021-06-23 05:08] #1211 closed

[2021-06-23 05:50] erizmr commented on #1520
Hi @sgowroji , thanks for getting back to me and sorry for the late reply. I have tested the model with the latest build and the issue has been well sorted I think.

[2021-06-23 06:29] gb2111 commented on #2199
I'd be also interested to see formula for that.

[2021-06-23 06:34] gb2111 opened #2203 "straight facing the camera for pose estimation that the feet are slightly behind the hip and knees on the z-axis"
When analyzing z-axis of pose detection seems that the pose is leaning forward, feet are behind the hip, and knees.

[2021-06-23 06:49] toandrew opened #2204 "Failed to build the "HandTrackingGpuApp" app for armv7 in iOS 10.0"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe):
- OS Platform an

[2021-06-23 07:37] geckogecko commented on #2202
Thank you that fixed it

[2021-06-23 07:45] #2202 closed

[2021-06-23 08:28] sgowroji commented on #2203
Hi @gb2111, Could you please provide a video or screenshot for the above issue with  error logs and complete steps to reproduce it.

[2021-06-23 08:52] #2111 closed

[2021-06-23 09:53] sahaashi commented on #2160
Yess, running install without --link-opencv worked. Thanks a lot!

You can close this issue now!

[2021-06-23 10:03] #2160 closed

[2021-06-23 10:34] LamboAventador opened #2205 "How can I realize iris tracking and face effect at the same time?"
Platform: Linux, Ubuntu 18.04

I wish I could render face effect during Iris tracking project.
what I have done yet was that modify the   **iris_tracking_gpu.pbtxt file** to let  **IrisAndDepthRendererGpu** calculator
received the processed video after rendered. Beside that I copy the libraries and assets in BUILD file used by faceeffct project to iris_tracking project BUILD file. But I got the be

[2021-06-23 10:45] sgowroji commented on #2205
Hi @LamboAventador, Could you please provide the complete steps to reproduce the above error. Thanks!

[2021-06-23 10:46] sgowroji commented on #2205
Its similar to https://github.com/google/mediapipe/issues/1953#issuecomment-830216869.

[2021-06-23 12:04] sgowroji commented on #2094
Hi @Hukasan, Could you please respond to the above comment. Thanks!

[2021-06-23 13:05] dajuric commented on #2097
Any update on this ?

[2021-06-23 20:24] sohail-jogo commented on #2174
problem solved, therefore closing it!

[2021-06-23 20:24] #2174 closed

[2021-06-23 21:11] simlevesque commented on #2082
@tyrmullen Is it possible to add this to the documentation ?

[2021-06-24 02:40] LamboAventador commented on #2205
alright, First of all, the snippets below was insert to the file **iris_tracking_gpu.pbtxt** under the path **_graphs/iris_tracking_**.

[code]

then I modify the **BUILD** file under the path _**examples/android/src/.../iristrackinggpu**_ by simply add the parts they don't have in faceeffect project.
[code]

[2021-06-24 03:04] evanbrown3000 commented on #877
Hi, has anyone made progress building Mediapipe for Javascript?
I am trying to use Objectron

[2021-06-24 03:44] tianxiaguixin002 opened #2206 "Does mediapipe support NTCHW input or 5 Dimension tensor in GPU ?"
Hi， everybody,
I have a tflite model which input is NTHWC and output is NHWC，it is a video model which need to process n frame and outout 1 frame ,just like video super-resoultion model. so can
mediapipe support this type input from video streams?
example:  throttled_input_video -> IMAGES_GPU(multi image in gpu buffer) -> TENSOR_GPU

Besides,  I create a Tensor, it's shape is (for example ,1,5,256

[2021-06-24 04:40] sgowroji commented on #1209
Hi @nlothian, Could you please reproduce the above error with the latest release and let us know if the issue still exists. Thanks!

[2021-06-24 04:41] LamboAventador commented on #2205
Actually,  I mainly modify two parts in Iris tracking project.
Firstly, the snippets below was insert to file **iris_tracking_gpu.pbtxt**
[code]
Then I modify both **BUILD** file in path **graph/iris_tracking and examples/android/.../apps/iristrackinggpu**,
### In graph dictionary
[code]
### In android dictionary
[code]

[2021-06-24 04:43] sgowroji commented on #1216
Hi @Nvelu048, Could you please respond whether you're looking answer for the above query. Thanks!

[2021-06-24 04:48] sgowroji commented on #1219
Hi @peacheym, Could you please elaborate your use case with complete details. Thanks!

[2021-06-24 04:51] sgowroji commented on #1205
Hi @atulkumarpccs, Let us know if you still facing the above error with the latest release. Thanks!

[2021-06-24 04:51] LamboAventador commented on #2205
By the way, after I modify the BUILD file in graph folder, the ERROR I mentioned yesterday was gone, but still have problem.
It seem like something wrong with network, but I could successfully build both project in separate. It's weird.

  /home/pan/AndroidStudioProjects/mediapipe-master/WORKSPACE:129:13: in <toplevel>
Repository rule http_archive defined at:
  /home/pan/.cache/bazel/_bazel_pan/84

[2021-06-24 04:55] sgowroji commented on #1199
Hi @ZZZhaowendao, I request you to do the above use case with [KNIFT](https://google.github.io/mediapipe/solutions/knift#mediapipe-knift) solution, Which exactly suits your requirement. Thanks!

[2021-06-24 05:00] sgowroji commented on #1197
Hi @weinixuehao, Could you please test the above with the latest release and share us your observations. And also the error logs if you encounter any. Thanks!

[2021-06-24 05:06] Monibsediqi opened #2207 "Face detection"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** Android Galaxy Tab A 2016
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Android 8
- [MediaPipe version](https://github.com

[2021-06-24 05:07] sgowroji commented on #1191
Hi @Zouken, For coordinates you can have a look at [this](https://github.com/google/mediapipe/blob/master/mediapipe/examples/ios/handtrackinggpu/HandTrackingViewController.mm#L43-L48).  And display them according as per your component like UITextView. Please reach us if you still have any queries. Thanks!

[2021-06-24 05:07] #1191 closed

[2021-06-24 05:27] sgowroji commented on #2207
Duplicate https://github.com/google/mediapipe/issues/825

[2021-06-24 06:01] ravikumar-ramamurthy opened #2208 "Hands tracking sample app shows blank screen on launch"
<em>[Hands tracking](https://google.github.io/mediapipe/solutions/hands) issue.<em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution
Vuzix M400 Android smart glass
8 Core 2.52Ghz Qualcomm XR1
6GB LPDDR4 RAM
64GB internal flash memory
Android 9.0 OS
- MediaPipe version: v0.8.2
- Solution : Hands tracking gpu version
- Programming Langu

[2021-06-24 07:15] ravikumar-ramamurthy commented on #437
Was there a solution for this? I am facing same issue and have opened new issue https://github.com/google/mediapipe/issues/2208

[2021-06-24 07:16] ravikumar-ramamurthy commented on #2208
Since this is smart glass and has only 1 camera, the sample code is changed to use BACK camera.. just a note.

[2021-06-24 08:40] ldingemans commented on #2110
@AlexFridman did you get the virtual camera parameters to work in Python? I was wondering the same thing

[2021-06-24 08:41] AlexFridman commented on #2110
no, still waiting for the devs response

[2021-06-24 08:42] guker commented on #2140
I have same question,  wait for your answer online!

[2021-06-24 12:08] Gidrian commented on #1929
I made it possible, check this out https://github.com/Gidrian/Mediapipe-YOLO_Multiperson.git

[2021-06-24 12:20] sgowroji commented on #2208
Hi @ravikumar-ramamurthy, Did you change the code as below for back camera?

`private static final CameraHelper.CameraFacing CAMERA_FACING = CameraHelper.CameraFacing.FRONT;` to this
` private static final CameraHelper.CameraFacing CAMERA_FACING = CameraHelper.CameraFacing.BACK;`.

[2021-06-24 12:30] ravikumar-ramamurthy commented on #2208
Hi @sgowroji  Yes... i have changed this and works on mobile Samsung A50 and sometime also works on Vuzix device. We also tried on another smartglass device like Realwear HMT1 with similar hardware and s/w specs. Still the same result.

[2021-06-24 13:12] mgarbade opened #2209 "Yoga, Dance, HIIT datasets available?"
I've noticed that you eval your pose models on specific datasets such as the above mentioned, for example
[here](https://google.github.io/mediapipe/solutions/pose).

Are these datasets publically available?

[2021-06-24 14:52] mirwisek commented on #2208
I have the same issue tested with Realme 5 Pro (Android 10.0). On first time launch the libraries are not loading and sending any video stream output to CameraX and it is blank. On restarting the app it works. Not sure what is causing the glitch.

[2021-06-24 16:33] jiuqiant commented on #2110
The virtual camera is for face geometry: https://google.github.io/mediapipe/solutions/face_mesh.html#face-geometry-module. In Python, we released FaceMesh only and FaceGeometry is not available.

[2021-06-24 16:35] DeanIsMe commented on #2074
I changed the http_archive for com_github_glog_glog in WORKSPACE to the [comment above by hadon](https://github.com/google/mediapipe/issues/2074#issuecomment-859962248). When I tried to build a mediapipe project, this is the error that I received:

[code]

[2021-06-24 17:21] brucechou1983 commented on #825
In fact, users don't need to implement the filter themselves. There is a **LandmarksSmoothingCalculator** defined in build target **//mediapipe/calculators/util:landmarks_smoothing_calculator**. Face Effect demo app actually use this calculator to reduce jittering of face mesh module. If you check both face effect and face mesh demo apps carefully, you can see obvious difference in landmark stabil

[2021-06-24 17:35] brucechou1983 commented on #2208
https://github.com/google/mediapipe/issues/1508 same issue?

[2021-06-24 17:50] brucechou1983 commented on #2205
There are many import errors in your MainActivity.java. You might want to clean them first. BTW It seems to me that those imports are unnecessary. They're used in the face effect only for demonstrating packet callbacks. If you really need those callbacks, just make sure your bazel build target include those classes correctly.

[2021-06-24 17:55] delebash commented on #825
How about hands and pose do those have this same ability.  Also some people do not know how to do what you are suggesting so could you elaborate on the steps?  I don't really know how to create my own model/datasets/loss functions.  I just want to use the app features.  Also does it reduce the jitter enough for use in motion capture for 3D animation?

[2021-06-24 18:15] brucechou1983 commented on #825
I think so

[2021-06-24 19:54] MJ1998 commented on #2180
@Constannnnnt Assuming you are doing all the post processing(evaluating scores, nms, rotation, derotation) correctly, see if you are not changing the original image after any of the post processing step.
also you can check if there are atleast  2 scores with value above 0 then you can assume model is detectng 2 hands correctly and most likely your post processing has some issue!

[2021-06-24 21:12] eknight7 commented on #1842
Hi! Thank you for explaining. I looked at the exception and the code again. One thing I wanted to suggest trying is to switch the order of closing the `ExternalTextureConverter` object and releasing the `previewFrameTexture`:

[code]

From this line

It seems that the `ExternalTextureConverter` is still trying to update a `SurfaceTexture` object after `previewFrameTexture?.release()`. So close the

[2021-06-24 21:16] eknight7 commented on #2208
Thanks @brucechou1983
Can @mirwisek and @ravikumar-ramamurthy please try if https://github.com/google/mediapipe/issues/1508#issuecomment-812390364 fixes the issue?
Thanks!

[2021-06-24 21:31] hadon commented on #2182
AddOutputStreamPoller() is designed for convenience by enabling synchronous graph input and output, all from a single application thread. However, because some MediaPipe calculators occasionally produce no output, AddOutputStreamPoller() is prone to deadlocks.  I usually change from AddOutputStreamPoller() to ObserveOutputStream(), which doesn't block any thread.  See related issue #1709.

[2021-06-24 21:31] #2182 closed

[2021-06-24 23:51] hadon commented on #2105
One optimization you can try is the "protobuf-lite" library.  MediaPipe is designed to run with lite protobuf (using the MessageLite interface), so you should be able to compile with LITE_RUNTIME and libprotobuf-lite.so as described at https://developers.google.com/protocol-buffers/docs/reference/cpp-generated#message.

We are adding a compiler option to disable the OpenCV dependency, which would

[2021-06-25 01:53] #2184 closed

[2021-06-25 02:11] LamboAventador commented on #2205
Right， I forget comment

 in BUILD file, and Read timed out ERROR is truely something wrong with proxy setting.
Now I can Sync successfully with new BUILD file.
Like you said I'll check unnecessary imports and keep solving new problems about

Thanks a lot.

[2021-06-25 02:15] lilinxiong commented on #2105
Yes, I agree with you very much.
I successfully ported the FaceDetection module yesterday. On Android, the shared library of armeabi-v7a architecture, libtensorflowlite.so(size: 2.2MB) + faceDetection.so(size: 2.8MB), depends on the OpenCV static library. We plan to continue to transplant other modules we plan to use in the project in our free time later. But I am still looking forward to it: ``Th

[2021-06-25 02:34] LamboAventador commented on #2205
Right， I forget comment

in BUILD file, and Read timed out ERROR is truely something wrong with proxy setting.
Now I can Sync and build project successfully.

Thanks a lot.

[2021-06-25 04:10] sgowroji commented on #2209
Hi @mgarbade, Could you please provide you're use case with respective above request. Thanks!

[2021-06-25 04:19] sgowroji commented on #1194
Hi @AbdElhamidNabeel, Could you please test the above installation with the latest release and let us know if you still face the same error. Thanks!

[2021-06-25 04:21] sgowroji commented on #1195
Hi @H1Gdev, Could you please follow the steps mentioned [here](https://google.github.io/mediapipe/getting_started/android#mediapipe-on-android).

[2021-06-25 05:56] H1Gdev commented on #1195
@sgowroji
I execute test application with this step.

[2021-06-25 06:10] sgowroji commented on #1195
I request you to test with the latest release and check if you are seeing the same error. Then provide the complete steps and environment details.

[2021-06-25 06:14] sgowroji commented on #1188
Hi @smartkarthikn, If you are still looking answers for the queries in the doc. Please raise each of them as a new issue with complete details. There are different owners who can guide you,  as per the solutions.

[2021-06-25 06:22] sgowroji commented on #1180
Hi @YongLD, Check [this](https://github.com/google/mediapipe/issues/742#issuecomment-844301612) to understand more about your query. Thanks!

[2021-06-25 06:22] #1180 closed

[2021-06-25 06:28] sgowroji commented on #1173
Hi @nschoenwetter, You can check it [here](https://github.com/google/mediapipe/blob/b544a314b3c4818a4d6c56964b020c5be945377a/mediapipe/calculators/tflite/tflite_tensors_to_landmarks_calculator.cc#L249) in the latest release.

[2021-06-25 06:28] #1173 closed

[2021-06-25 06:32] sgowroji commented on #1110
Hi @HanaDB, Could you please test the above issue with the latest release and let us know if you still facing the same error.

[2021-06-25 06:52] sewage1213 opened #2210 "Help! Where is the path of the source code file which the images read from OpenCV to send to neural network for the c++ vesion?"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4):Linux Ubuntu 18.04

[2021-06-25 07:13] sgowroji commented on #2210
Hi @sewage1213, Could you please elaborate your use case with more details. Thanks!

[2021-06-25 07:49] senshin998 opened #2211 "Is there any way to assign a specific gpu device ID for mediapipe web(js api)?"
such as "pose.gpu_device=1, pose.send(image) ", This is very necessary when there are multiple graphics cards on the machine

[2021-06-25 09:11] sewage1213 commented on #2210
I'm trying to compile and modify the source code. Now I want to check whether the image resolution is a fixed size when the video image read from opencv is sent to the mediapipe network, and whether it will be consistent with the resolution of my video source. In addition, I want to know where the code for sending the video stream to the mediapipe network is.Thanks!

[2021-06-25 09:24] sgowroji commented on #2211
Hi @senshin998, Could you please elaborate your use case with complete details. Thanks!

[2021-06-25 10:14] senshin998 commented on #2211
thanks for your reply, I'm  using  Body Pose Tracking with MediaPipe web api ,while  there are three graphics cards on my machine  and web pose api   alway chose Gpu 0 ,I want to  assign a specific gpu device ID  for it  such as only use gpu 2,Is this possible?

os:windows 10
Browser:  chorme

[2021-06-25 10:32] mgarbade commented on #2209
We could use such datasets for model evaluation in the context of a master thesis

[2021-06-25 12:12] ravikumar-ramamurthy commented on #2208
Bingo...

Dear @eknight7 and @brucechou1983

Thanks very much for this link... tested on Realwear and Vuzix device and this works as expected... camera opens up for first time and also getting callback.. I can proceed now...

Before logging this issue, I searched here with "blank screen" text and did not find 1508 issue as title has text as "bla**c**k screen" !!!.

Should there be bug reported on

[2021-06-25 12:18] #2208 closed

[2021-06-26 02:24] Missael512 commented on #1325
Hello guys, i'm having the same problem as others:
ERROR: Could not find a version that satisfies the requirement mediapie (from versions: none)
ERROR: No matching distribution found for mediapie
I have Python 3.8.5 running on a 64 bits System , i don't know what to do

[2021-06-26 07:01] mirwisek opened #2212 "UnsatisfiedLinkError when running HandTrackingGPU on Android Tablet"
**System information**
- OS Platform and Distribution (e.g. Windows 10 Pro x64, Android 10):
- Physical device to test the app on: [Huawei MatePad 10.4 - Tablet](https://www.gsmarena.com/huawei_matepad_10_4-10206.php) with GPU (Mali-G52 MP6)
- Android [AAR](https://google.github.io/mediapipe/getting_started/android_archive_library.html): [Multi Hand Tracking GPU Android Example](https://github.com

[2021-06-26 09:27] dhavalgediya27 commented on #2178
Mediapipe Intigrated in web app,
in Desktop Browser working Properly but i am Trying to
Open in android device chrome then got this error.

[2021-06-26 09:50] mertkslkc commented on #1530
Can you share the edited files?

[2021-06-26 09:54] dhavalgediya27 commented on #2178
I am using this CDN of media pipeline.

https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh/${file}

[2021-06-26 19:33] YousefAttia-git opened #2213 "tflite model loader not finding face_landmark.tflite and face_detection_front.tflite"
**System information** Windows 10, 16GB ram, mediapipe v0.7

I am trying to make an application with the face mesh solution in python, however I noticed that my terminal fills up with this error:

the code I wrote that caused this issue is very similar to that presented on the media pipe website, and it does generate the Facemesh as expected, however, this issue seems to be causing high memory usa

[2021-06-27 02:55] chaytonmin opened #2214 "Whether the image size for the input of the graph is fixed?"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):
- [MediaPipe version]

[2021-06-27 03:14] chaytonmin opened #2215 "The z value of 3D human pose estimation ? The pose is fixed. CaN we change it to the real depth value?"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):
- [MediaPipe version]

[2021-06-27 06:31] #2212 closed

[2021-06-27 07:59] mirwisek commented on #1508
I tried the same didn't work out for me. I added `previewFrameTexture!!.updateTexImage()` at the end of `onPreviewDisplaySurfaceChanged` so the complete method is:

[code]

In the logs I'm receiving
[code]

Not sure what am I doing wrong, here?

[2021-06-27 08:03] mirwisek commented on #2208
@eknight7 that didn't work for me I added comment back in the main issue [#1508].

[2021-06-27 11:11] ivanpiskun123 opened #2216 "Adding "yaml-cpp" to Mediapipe"
How can i use [yaml-cpp](https://www.programmersought.com/article/7768152201/) in Mediapipe?
---------------------
After successful installation of yaml-cpp i've got /usr/local/include/yaml-cpp/ dir
with *.h-headers and /usr/local/lib/libyaml-cpp.a.
Then i ran successfully some test examples of yaml-cpp.
But when i tried running it in Mediapipe hand_tracking example like:

add this code to <em>WOR

[2021-06-27 16:10] mohammedbalegh opened #2217 "how to extract all landmarks from Holistic ios"
how to get the land marks from the Holisticgpuapp.
i have built the app as shown in the Documentation

[2021-06-27 17:46] ravikumar-ramamurthy commented on #1508
I added in setSurfaceTextureAndAttachToGLContext as suggested in the above [comment](https://github.com/google/mediapipe/issues/1508#issuecomment-812390364) and it worked for me.

[2021-06-28 01:25] Monibsediqi opened #2218 "Face detection mobile output bitmap null"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): NO
- OS Platform

[2021-06-28 02:50] coselk opened #2219 "Selfie Segmentation App crashes after running a while"
**System information**
- Hardware and device: RK3399
- OS Platform and Distribution : Android 8.1  ,Android ndk-r19c, Android sdk 21.1xx
- MediaPipe version: v0.8.5
- Bazel version:3.72
- Solution : selfie segmentation gpu
- Programming Language and version ( e.g. C++, Python, Java):
Openjdk version "11.0.9" 2020-10-20
OpenJDK Runtime Environment (build 11.0.9+11)
OpenJDK 64-Bit Server VM (build 1

[2021-06-28 04:43] sgowroji commented on #2214
Hi @chaytonmin,  Did you face any trouble with any of the input images?  And what is the error seen with it. Please share the error logs if you see any. Thanks!

[2021-06-28 04:57] dhavalgediya27 commented on #2178
Also Provide you a code for reference that we have used.

https://codepen.io/mediapipe/pen/KKgVaPJ

[2021-06-28 05:17] sgowroji commented on #2215
Hi @chaytonmin, Could you please elaborate your query with complete information and use case details, Thanks!

[2021-06-28 05:18] sgowroji commented on #2216
Hi @ivanpiskun123, Could you please provide the steps to reproduce the above with use case details. Thanks!

[2021-06-28 06:52] #1734 closed

[2021-06-28 06:52] #2103 closed

[2021-06-28 06:52] #1047 closed

[2021-06-28 06:52] #991 closed

[2021-06-28 06:52] #961 closed

[2021-06-28 07:08] sgowroji commented on #2218
Hi @Monibsediqi, Could you please provide the below details to investigate it further.

1. Complete Code changes of graph and MainActivity.java
3. Image tried for testing, which resulted null for the bitmap.
4. Tested on what version of Android studio?

Thanks!

[2021-06-28 07:12] sgowroji commented on #2219
Hi @coselk, Could you please check this duplicate issue as per debug logs https://github.com/google/mediapipe/issues/232

[2021-06-28 07:30] coselk commented on #2219
I've checked that and some other relevant issues before submission, this problem seems to be different.

[2021-06-28 07:52] #2049 closed

[2021-06-28 08:00] victorC97 commented on #1654
Is it really relevant de-normalizing the Z axis here ? I'm facing the same issue (on estimation pose of the whole body).

It seems that in order to denormalize X and Y, you take the height and width of the image, but there is no such equivalent for Z (as an image is in 2-D), is it ?

I guess we need to find, if it has a relevance, the profundity of the image.

I've found that Mediapipe uses shades

[2021-06-28 09:11] sgowroji commented on #2194
Hi @AhmedEmadEldinHussin, Could you please check you're python installation. Above error is because of it as mentioned in the duplicate issue. Thanks!

[2021-06-28 09:14] ivanpiskun123 commented on #2216
- Clone and build yaml-cpp as described on the [site](https://www.programmersought.com/article/7768152201/)
- Add following code to <em>WORKSPACE</em>:
[code]
- Create <em>third_party/yaml_cpp_linux.BUILD</em> and add following code to it:
[code]
- Add includes to <em>/mediapipe/examples/desktop/demo_run_graph_main.cc</em>:
[code]
- Add this code to <em>/mediapipe/examples/desktop/demo_run_graph_m

[2021-06-28 09:19] sgowroji commented on #2219
This issue is more in running Android Jetpack API's on your device. Reference [here](https://github.com/android/sunflower/issues/295). May be you can try the workaround mentioned in the botton of this [issue](https://github.com/android/sunflower/issues/295#issuecomment-649630057)

[2021-06-28 09:27] sgowroji commented on #2178
Hi @dhavalgediya27,  Have a look at this [reference](https://github.com/google/mediapipe/issues/2082#issuecomment-852470806).

[2021-06-28 09:35] sgowroji commented on #2099
We are closing this issue now due to lack of activity. Thanks!

[2021-06-28 09:35] #2099 closed

[2021-06-28 09:38] sgowroji commented on #2171
We are closing this issue now due to lack of activity.

[2021-06-28 09:38] #2171 closed

[2021-06-28 09:41] sgowroji commented on #665
Hi @sobhan87068, Could you respond if you are still looking answer for your query. Thanks!

[2021-06-28 10:00] dhavalgediya27 commented on #2178
Hello,

so you are saying to this library is not working in IOS And ANDROID(Both).

You have any alternative solution for this Error..??

Thanks,

[2021-06-28 10:40] pranjalchanda08 opened #2220 "Pose Estimation leads to heavy RAM usage and low throughput"
**System information:**
- OS Platform and Distribution: **Ubuntu 20.04, Windows 10**
- MediaPipe version: **0.8.5**
- Bazel version: N/A
- Solution: **Pose**
- Programming Language and version: **Python 3.7, 3.10**
- CPU: **Intel i7 8th Gen**
- RAM: **16GB**

**Expected behavior:**
Expected behavior is to use minimal resources for the prediction using the model as is being used by face detection o

[2021-06-28 10:51] dhavalgediya27 commented on #2178
Hello,

Can You Provide the refrence For GPU And CPU For this library to solve this Error For ANDROID and IOS.

So I can Solve this Error For my Uses.

Thanks,

[2021-06-28 10:59] sgowroji commented on #2195
Hi @whatisor, Can you provide a recorded video to understand it much better. Thanks

[2021-06-28 11:07] sgowroji commented on #2178
We are improving our model's in JS for mobile browsers  mentioned in this [comment](https://github.com/google/mediapipe/issues/2082#issuecomment-852470806). If your Aiming for Native Android and IOS, you can refer directly our github repo for facemesh example code for [android](https://github.com/google/mediapipe/blob/master/mediapipe/examples/android/src/java/com/google/mediapipe/apps/facemeshgpu

[2021-06-28 11:52] #2088 closed

[2021-06-28 12:14] dhavalgediya27 commented on #2178
Hello,

Can You Provide the refrence For GPU And CPU For this library to solve this Error For ANDROID and IOS.

So I can Solve this Error For my Uses.

Thanks,

[2021-06-28 14:16] Matokosp opened #2221 "Check side of Pose in Javascript"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): React
- [MediaPip

[2021-06-28 14:50] sgowroji commented on #2178
Hi @dhavalgediya27, Could you please share your code changes to understand your issue much better.

[2021-06-28 15:31] jiuqiant commented on #2220
Like what I mentioned in https://github.com/google/mediapipe/issues/2213#issuecomment-869743712, it seems that you create a new mediapipe pose instance per frame at https://github.com/pranjalchanda08/MediaPipe-Project/blob/d5e84cdde73e995eece757a680b90d4b27a52cfc/utils/pose_estimation.py#L60. I would like to understand if there is a reason behind this?

[2021-06-28 15:35] jiuqiant commented on #2112
Released face detection model selection in v0.8.6. See https://github.com/google/mediapipe/blob/139237092fedef164a17840aceb4e628244f8173/mediapipe/python/solutions/face_detection.py#L80

[2021-06-28 15:35] #2112 closed

[2021-06-28 15:44] MaskeZen commented on #665
Hello @sgowroji, I try to do the same thing but with face pose, if you has a reply to @sobhan87068 may be fit to my goal too.
thanks!

[2021-06-28 16:18] sohail-jogo commented on #2165
???

[2021-06-28 16:54] YousefAttia-git commented on #2213
that bit of memory before the ramp was from before I ran the program, it was probably from chrome, so I should only call FindFaceMesh() once?

[2021-06-28 17:54] jiuqiant commented on #2213
That's a warning message not an error. See https://github.com/google/mediapipe/issues/2138. Also, if you git pull the latest version, the message is gone.

[2021-06-28 18:15] YousefAttia-git commented on #2213
oh, was the issue from me using pip install instead of a git pull?

[2021-06-28 18:23] sohail-jogo opened #2222 "App stops after a few seconds (PoseTrackingGPU +Android) w/o any FATAL log/crash"
OS Platform and Distribution : Windows 10 Home 64 Bit, Mobile - Samsung Galaxy S9+ , Android OS Version: 10.
Bazel version: 3.7.2
Solution Pose Tracking GPU
Programming Language and version : Java (Android)

I have made a custom pose_tracking pbtxt file which is almost the same as pose_tracking_gpu.pbtxt file in (mediapipe/graphs/pose_tracking) , but with a few changes according to my need.

Custo

[2021-06-28 18:31] jiuqiant commented on #2169
Please try `pip install mediapipe==0.8.6` to install the latest version and also apply the suggestions mentioned in https://github.com/google/mediapipe/issues/1553.

[2021-06-28 18:37] pranjalchanda08 commented on #2220
Hi @jiuqiant,
Thanks for pointing the mistake. I would take care of that in my code.

[2021-06-28 18:45] Grieverheart opened #2223 "FaceMesh jawline moves significantly when (partly) occluded"
![animated](https://user-images.githubusercontent.com/1652929/123758246-063dd200-d8bf-11eb-9779-2873b7bb8bf5.gif)
**System information**
- OS Platform and Distribution: Mac OS 10.15.7
- [MediaPipe version](https://github.com/google/mediapipe/releases): 0.8.5
- Solution (e.g. FaceMesh, Pose, Holistic): FaceMesh
- Programming Language and version ( e.g. C++, Python, Java): Python 3.8.10

**Describe

[2021-06-28 22:18] DanielWFrancis commented on #1484
This is interesting.

You're the only person I see online doing this in React Native, which I hope to do as well. [This comment](https://github.com/google/mediapipe/issues/587#issuecomment-610585088) is often referenced when people ask about it but the author doesn't know anything about React and it just references the existence of AARs for Android, while questions about how to access this in the

[2021-06-28 23:07] #2213 closed

[2021-06-28 23:08] YousefAttia-git commented on #2213
thanks

[2021-06-29 03:40] pranjalchanda08 commented on #2220
Hi Team,

Thanks for the suggestion. The issue is resolved by initializing the instance only once.

[2021-06-29 03:40] #2220 closed

[2021-06-29 03:47] sgowroji commented on #2222
Hi @sohail-jogo, Could you please provide the error logs to investigate your issue for further level. Thanks!

[2021-06-29 03:49] sgowroji commented on #2223
Hi @Grieverheart, Could you please record a video while reproducing the above behavior to understand the issue.

[2021-06-29 04:09] ljmkimqx opened #2224 "IOS framework was built successfully, but no framework was found"
Hello, I successfully built the IOS framework (MacBook) with mediapipe half a year ago.

Now I want to use the latest mediapipe to build the IOS framework, and the construction process is successful.

But I can't find the framework file in the path "bazel bin / mediapipe / examples / IOS / handtrackinggpu", only ".a" file, such as "libhandtrackinggpuapplibrary.a".

What's the problem? How can I ge

[2021-06-29 04:38] dhavalgediya27 commented on #2178
Hello,

https://codepen.io/mediapipe/pen/KKgVaPJ

This is Your Code and this code is not working in Android Chrome.

Please Provide me solution for this error.

Thanks.

[2021-06-29 04:43] sgowroji commented on #2224
Hi @ljmkimqx, Did you try the above with latest release of IOS. If you still see the same error. Please provide the complete  steps to reproduce the above issue. Thanks!

[2021-06-29 05:19] Monibsediqi commented on #2218
I solved this issue. Thanks.
The problem was with the timestamp of the image.

[2021-06-29 05:19] #2218 closed

[2021-06-29 05:27] sgowroji commented on #763
Hi @Bamboowand, Could you please check with the latest release of [Object detection in ios ](https://google.github.io/mediapipe/solutions/object_detection.html#mobile).

[2021-06-29 05:30] sgowroji commented on #1181
Hi @Nvelu048, Could you please confirm, if you are able to reproduce the above with the latest release. Thanks!

[2021-06-29 05:31] sgowroji commented on #1231
Hi @aaaron7, Could you please provide the steps to reproduce the above error. Thanks!

[2021-06-29 05:34] sgowroji commented on #1122
Hi @siva-wellnesys, Could you please elaborate your use case with complete details. And what is the use case your looking from above. Thanks!

[2021-06-29 05:37] sgowroji commented on #942
Hi @JsBlueCat, Could you please test the above with the latest release and let us know if you still face the same error. Thanks!

[2021-06-29 05:40] sgowroji commented on #964
Hi @weinixuehao, Could you please provide the steps to reproduce the above error. Thanks!

[2021-06-29 05:45] sgowroji commented on #1088
Hi @sne21star, Could you please provide the steps to reproduce the above error.  And have a look at this [issue](https://github.com/google/mediapipe/issues/1450#issuecomment-773883472) in which the logs are similar .

[2021-06-29 05:49] #2175 closed

[2021-06-29 06:05] gb2111 commented on #2203
I am using this project
https://github.com/ntu-rris/google-mediapipe/blob/main/code/01_video.py
There is useful 2.5D view where you can compare depth of for example arms and feet and see it leaning forward.
There is also 3D plot and you can rotate it with mouse to see the pose from the side.
Let me know if you have additional questions

[2021-06-29 06:40] sgowroji commented on #2176
Assuming your resolved with the above comment, We are closing this issue now.

[2021-06-29 06:40] #2176 closed

[2021-06-29 06:42] sgowroji commented on #1383
Assuming your resolved with the above comment, We are closing this issue now.

[2021-06-29 06:42] #1383 closed

[2021-06-29 06:43] sgowroji commented on #1343
Assuming your resolved with the above comment, We are closing this issue now.

[2021-06-29 06:43] #1343 closed

[2021-06-29 06:44] sgowroji commented on #1362
Due to lack of activity we are closing this issue now.

[2021-06-29 06:44] #1362 closed

[2021-06-29 06:45] sgowroji commented on #1286
Thank you for the update.We are closing this issue now.

[2021-06-29 06:45] #1286 closed

[2021-06-29 06:46] ljmkimqx commented on #2224
This problem disappeared. I suspect it's because MAC installed two xcodes (11.6 and 12.5), so I deleted the Xcode of 11.6. Then the problem disappeared.

But if I download mediapipe again and build it with the following command, I will report an error.

[code]

Error:

[code]
I suspect it's the bazel version.

My version information is as follows:
[code]
Is there any solution?

[2021-06-29 06:47] sgowroji commented on #1382
Thank you for the update. We are closing this issue now.

[2021-06-29 06:47] #1382 closed

[2021-06-29 07:28] Rakeshvcr opened #2225 "Hand tracking training"
I am trying to train a hand keypoint model with more than 21 key points. I build the model using the[ hand landmark tflite](https://github.com/google/mediapipe/blob/master/mediapipe/modules/hand_landmark/hand_landmark.tflite) model as a reference. Currently, I'm just trying to get only the landmarks as output from the model. For losses, I'm using mean squared error losses as defined in the [paper]

[2021-06-29 07:48] Grieverheart commented on #2223
@sgowroji I updated the original post with an animated gif showing the issue.

[2021-06-29 09:11] sohail-jogo commented on #2222
Sorry for the bother. I debugged the problem, and saw that I having memory leaks. Turned out that I was not releasing the packets. Therefore, packet.release()  solved the problem!

[2021-06-29 09:11] #2222 closed

[2021-06-29 09:13] sohail-jogo commented on #2166
in other words, i want to the change the model at run time or even at compile time by changing the modelComplexity! How do I go about doing this? any leads?

[2021-06-29 09:40] ljmkimqx commented on #2224
I download mediapipe again and run the command
(I think I just need the framework, I don't need to configure IOS certificate)
[code]

The results are as follows
[code]
After compiling, there are only these files on the path "bazel bin / mediapipe / examples / IOS / handtrackinggpu":
[code]
This is the complete operation process.

Did I make a mistake? I forgot a little.

My environment:
[code]

[2021-06-29 09:58] coselk commented on #2219
Hi @sgowroji ,I've tried the workaround but still get the error. Other examples like hello-world,face mesh and face detection app won't crash, only the sefile seg crashes. So I am a little confused on the Android Jetpack API problems,  I check other examples like the hair seg , it crashed as well.  :(

[2021-06-29 11:48] sohailziahh commented on #701
what does this crash even mean? its so gibberish! Is this caused when CPU/GPU utilization is very high?

[2021-06-29 13:04] ljmkimqx commented on #2224
Hello, I can generate the framework now. （There are many contents below, but there should be only one practical problem）

But now I find a strange and important problem for me.

If I add one of these two sentences to the code, the compilation of the framework will fail

[code]
If I add code:   mediapipe::MakePacket<int>(kNumHands);
The error is:
[code]

If I add code:   packet.Get<std::vector<::me

[2021-06-29 15:37] sohailziahh opened #2226 "Changing ModelComplexity for PoseTracking model - Android"
For posetracking model, there are three different models. (Heavy, Lite and Full).
Is there a proper way to change the model complexity so that the corresponding model can be selected?

I just need a sample code for Android(Java)!

Thanks!

[2021-06-29 15:38] iamkrs9 commented on #1346
This is great work

[2021-06-29 17:05] #2217 closed

[2021-06-29 22:52] sohailziahh commented on #2226
Solved this problem! For those who are looking for the solution, here it is:

In your `pose_tracking_gpu.pbtxt` file, add model_complxity side packet.

add the following line at the start of your graph file.

`input_side_packet: "MODEL_COMPLEXITY:model_complexity"`

and then add the same inside the node of PoseLandmarkGPU:

like this:
[code]

Then for the Android(Java) side code:

create a variabl

[2021-06-29 22:52] #2226 closed

[2021-06-30 00:09] ljmkimqx commented on #2224
I found the same error reporting problem #2147

[2021-06-30 00:15] ljmkimqx commented on #2147
Is there a solution? @yuxiaohui78

[2021-06-30 05:20] sewage1213 opened #2227 "In C++ ,I can get mat result from demo_run_graph_main.cc, but how can I get output_stream: "render_data_vector"?"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):
- [MediaPipe version]

[2021-06-30 05:49] #2179 closed

[2021-06-30 05:49] #1365 closed

[2021-06-30 05:49] #1386 closed

[2021-06-30 05:49] #1309 closed

[2021-06-30 06:43] jiapei100 opened #2228 "How to build Mediapipe from source with existing 3rd-party libraries installed from repo ?"
**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): Ubuntu 20.04
- Compiler version (e.g. gcc/g++ 8 /Apple clang version 12.0.0): gcc (GCC) 10.3.1
- Programming Language and version ( e.g. C++ 14, Python 3.6, Java ): Python 3.8.5
- Installed using virtualenv? pip? Conda? (if python): pip 21

[2021-06-30 06:58] zzzzzigzag commented on #768
The link is now 404, could you update it please, thank you

[2021-06-30 10:55] zwfcrazy opened #2229 "Trying to build Iris landmark python interface, got some strange behavior related to graph parsing."
**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
Yes, I have written some of my own codes as I am trying to build a python version iris landmark.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):
Jetson Xavier NX platform with Jetpack 4.5.1

[2021-06-30 11:57] mohammedbalegh commented on #2224
adding libc++ framework in target -> general -> frameworks, and in target -> build phases -> link binary with libraries .
fixed it for me.

[2021-06-30 12:38] slajar opened #2230 "Feature: Synchronization between iris and face landmarks"
<em>We need a feature that synchronizes the detected iris and face landmarks </em>

**System information**

- MediaPipe Solution (you are using): iOS (iris_tracking_gpu.pbtxt)
- Programming language : C++/Objective C/Swift
- Are you willing to contribute it (Yes/No): Yes

**current behavior/state:**
The iris landmarks are calculated with a lower frame rate due to the FlowLimiterCalculator.
The fac

[2021-06-30 12:40] milad-4274 opened #2231 "undesired zoom for different devices"
Hi, I've used mediapipe examples in different devices. the output video seems smaller or larger in different devices while distance to phone is same.
I guess this problem is for different screen resolution and aspect ratio. but it's not desired in my project. is there any method to solve this problem?
![1](https://user-images.githubusercontent.com/48384506/123961842-08d71f00-d9c6-11eb-92e1-d7c7b51

[2021-06-30 16:58] shivSD opened #2232 "No rules_cc - master.zip file not found 404 error"
**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): **ubuntu~18.04**
- Compiler version (e.g. gcc/g++ 8 /Apple clang version 12.0.0): **gcc version 7.5.0 (Ubuntu 7.5.0-3ubuntu1~18.04)**
- Programming Language and version ( e.g. C++ 14, Python 3.6, Java ): c++
- Installed using virtualenv? p

[2021-06-30 17:12] brucechou1983 commented on #2230
It seems to me that PacketClonerCalculator is all you need. Just set the iris landmarks stream as the tick signal.

BTW, you might want to move the FlowLimiterCalculator to the very top of the graph to make sure you don't waste any time for facial landmarks computation on the frame which will be dropped.

[2021-06-30 17:22] brucechou1983 commented on #2228
If you're talking about Tensorflow, Mediapipe actually specify a [commit id](https://github.com/google/mediapipe/blob/master/WORKSPACE#L387) so it's probably not the version you install manually. Furthermore, there are [git patches](https://github.com/google/mediapipe/blob/master/WORKSPACE#L395) to make it work.

[2021-06-30 17:30] DanielWFrancis commented on #1976
I also get the same issues with Pose. Have changed my initialization to
[code]

[2021-06-30 17:41] mufaawan opened #2233 "Best practices for accurate Landmarks Detection"
**FaceMesh**: What are the best practices for the  accurate Landmark Detection?

I have used MediaPipe facemesh solution on Google Colab. I have attached 2 images, both images has detection p**roblem in the eye area**. Both images are pretty good images with good resolution, clear pixels and frontal face (no rotation).

Please suggest me if there are any hidden techniques to get more precise resul

[2021-06-30 17:59] sohailziahh commented on #2232
thats probably because you dont have the latest pull.
They made few changes, including the WORKSPACE file. So, look at the commits and either make those changes to your local workspace file or just take a pull.

and also, run this command as well. `bazel clean --expunge`

[2021-06-30 18:16] sohailziahh opened #2234 "crash Fatal signal 6 (SIGABRT), code -1 - PoseTrackingGPU - Andorid"
OS Platform and Distribution : Windows 10 Home 64 Bit, Mobile - Samsung Galaxy S9+ , Android OS Version: 10.
Bazel version: 3.7.2
Solution Pose Tracking GPU
Programming Language and version : Java (Android)

I have made a custom pose_tracking pbtxt file which is almost the same as pose_tracking_gpu.pbtxt file in (mediapipe/graphs/pose_tracking) , but with a few changes according to my need.

Custo

[2021-06-30 18:29] Swazir9449 commented on #2200
@lohith8099 Use object detection API. Feel free to DM me if you have any questions. My discord is KanyeWest#4519.

[2021-06-30 18:51] DimIsaev opened #2235 "Implemented Iris in Python"
When will **Iris** be implemented in **Python**

[2021-06-30 18:56] DimIsaev opened #2236 "Error bazel install of Docker install"
<em>Error bazel install of Docker install.</em>

**
- Windows 10 and Docker  image

 **(specified in /mediapipe/.bazelversion), but it wasn't found in /usr/local/lib/bazel/bin**

[2021-06-30 18:56] shivSD commented on #2232
Now i'm getting following error

ERROR: /home/Downloads/mediapipe/mediapipe/calculators/tensor/BUILD:627:11: C++ compilation of rule '//mediapipe/calculators/tensor:image_to_tensor_converter_gl_buffer' failed (Exit 1): gcc failed: error executing command /usr/bin/gcc -U_FORTIFY_SOURCE -fstack-protector -Wall -Wunused-but-set-parameter -Wno-free-nonheap-object -fno-omit-frame-pointer -g0 -O2 '-D_FO

[2021-06-30 19:04] sohailziahh commented on #2232
i am not sure about this error. it'd be better if u pull latest release, and then try again.

[2021-06-30 19:06] sohail-jogo commented on #2236
remove that file.

just run the following:

`rm .bazelversion`

[2021-06-30 19:09] DimIsaev commented on #2236
It`s works !!

[2021-06-30 20:11] shivSD commented on #2232
i have tried latest version v0.8.5 , v0.8.4  and also master build, i see the same error from all the versions. Do you think i'm missing any installation that is missing in the install.md file.

[2021-06-30 23:36] DanielWFrancis opened #2237 "Cannot initialize pose in Javascript"
**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): **OS X Big Sur, Expo 41**
- Programming Language and version ( e.g. C++ 14, Python 3.6, Java ): **React 16.13, React Native Expo 41**
- [MediaPipe version](https://github.com/google/mediapipe/releases): **"@mediapipe/pose": "^0.4.162466667

[2021-07-01 02:58] zwfcrazy commented on #2223
There are many situations that may increase the error of face landmarks. Occlusion is definitely one of them. Others like some strange behaviour may also increase the error. For example, open your mouth like a 0, not an O. This face landmark model also does not recognize eye closure.
I think this is mainly caused by the shortage of corner samples in the training dataset. It will take a lot of time

[2021-07-01 04:58] DimIsaev opened #2238 "Error"
Error build app in Docker shell

Command:
**rm .bazelversion**
next
**GLOG_logtostderr=1 bazel run --define MEDIAPIPE_DISABLE_GPU=1 mediapipe/examples/desktop/hello_world:hello_world**

[code]

[2021-07-01 04:59] sgowroji commented on #2227
Hi @sewage1213, Could you please elaborate your use case with complete details. Thanks!

[2021-07-01 05:04] sgowroji commented on #2228
Hi @jiapei100, Did you face any error while installation? Could you please share the logs.

[2021-07-01 05:12] sewage1213 commented on #2227
Hi @sgowroji ,In /mediapipe/mediapipe/examples/desktop/demo_run_graph_main.cc, I can get result calculated by mediapipe, but it is a mat not a vector, I just want to get data but image. In demo_run_graph_main.cc, there are many functions of mediapipe but I cannot find where are them, the codes is too large, I try to find some ways to solve it.Thanks!

[2021-07-01 05:49] #1282 closed

[2021-07-01 05:49] #1292 closed

[2021-07-01 05:49] #1295 closed

[2021-07-01 05:49] #1299 closed

[2021-07-01 05:49] #1272 closed

[2021-07-01 06:18] nlothian commented on #1209
Yes, just ran it again today with exactly the same error.

Chrome is `Version 91.0.4472.114 (Official Build) (x86_64)`

[2021-07-01 06:26] dhavalgediya27 commented on #2178
We are still waiting for your response, Please do need full, As Soon As Possible .

[2021-07-01 06:49] #1370 closed

[2021-07-01 07:10] sgowroji commented on #2232
Hi @shivSD, Its because your version of GCC is too old. Have a look at this  https://github.com/google/mediapipe/issues/1684#issuecomment-794590159

[2021-07-01 07:17] sgowroji commented on #2233
Hi @mufaawan, Could you please share your code changes performed on top of it. Thanks!

[2021-07-01 07:18] lindemeier commented on #2230
@brucechou1983 Thank you for your info!

We are interested in the the exact version of facial landmarks that were used as input for the iris landmark detection so that we can process them together with the underlying video frames.

From my understanding (according to the [documentation](https://google.github.io/mediapipe/framework_concepts/calculators.html) ) the `PacketClonerCalculator` will alwa

[2021-07-01 07:24] sgowroji commented on #2234
Hi @sohailziahh, Did you able to build  Android apps in windows? Please go through this for more understanding https://github.com/google/mediapipe/issues/2065#issuecomment-847188247

[2021-07-01 07:24] thao-ftech commented on #1322
They just said that they didn't wanna share original dataset or full/heavy model. I tried on several other datasets (like Cambridge or EgoGesture), this model really sucked!. I don't expected such as bad works from Google like this. Maybe Opensource still opensource.

[2021-07-01 07:30] sgowroji commented on #2236
Hi @DimIsaev,  Glad to know you resolved. Thank you @sohail-jogo  for your resolution. We are closing this issue now.

[2021-07-01 07:30] #2236 closed

[2021-07-01 07:35] sgowroji commented on #2238
Hi @DimIsaev, Have a look at this duplicate issue https://github.com/google/mediapipe/issues/2232

[2021-07-01 07:44] sgowroji commented on #2114
We are closing this issue now due to lack of activity.

[2021-07-01 07:44] #2114 closed

[2021-07-01 07:45] sohail-jogo commented on #2234
Yes, as I am using Docker to build the aar, binarypb files etc.

[2021-07-01 07:51] sgowroji commented on #1199
Hi @ZZZhaowendao, Did you get a chance to go through the above comment. Thanks!

[2021-07-01 08:01] thaiph99 commented on #2067
Do you have a solution for this error ?

[2021-07-01 08:58] riolaf05 commented on #1599
I've got the same problem:

`E20210701 08:23:55.172276    19 threadpool_pthread_impl.cc:94] Error : Operation not permitted
Failed to set name for thread: mediapipe/19
`

This is my Dockerfile:

`FROM public.ecr.aws/lambda/python:3.8

COPY requirements.txt ./requirements.txt
RUN pip3 install -r ./requirements.txt

COPY job.py ./

CMD ["job.handler"]`

[2021-07-01 10:13] zwfcrazy commented on #2232
Because https://github.com/bazelbuild/rules_cc just changed its master branch name to **main**.
This problem literally made all the mediapipe versions before v0.8.5 (included) useless.
@sgowroji you need to lunch a new version ASAP.

[2021-07-01 10:37] DimIsaev commented on #2236
Will this be the correct decision?
Why is this not included in the Docker pipeline image?

[2021-07-01 10:50] sgowroji commented on #2232
@zwfcrazy, Thank you for the update. We will update you soon.

[2021-07-01 11:03] H1Gdev commented on #1195
@sgowroji

This issue also occurred in latest MediaPipe.
[test application](https://github.com/H1Gdev/mediapipe/tree/issues/1195) has been updated.

steps is described in **Test**.
What else do you need ?

[2021-07-01 11:06] sgowroji commented on #2231
Hi @milad-4274, Above implementation was programmed to  choose the best ratio according to the needs of different apps. It should be programmed with your own custom camera code as your requirement. Similar like [this](https://github.com/google/mediapipe/blob/master/mediapipe/examples/android/src/java/com/google/mediapipe/apps/objectdetection3d/MainActivity.java#:~:text=//%20Find%20limiting%20side,

[2021-07-01 11:55] khmaies5 commented on #420
i added those files to the project and added ColorSliderCalculator.cc to the build folder but i got this error in android studio

`ERROR: /home/khmaies/mediapipe/mediapipe/calculators/image/BUILD:212:24: no such target '//mediapipe/gpu:scale_mode_py_pb2_genproto': target 'scale_mode_py_pb2_genproto' not declared in package 'mediapipe/gpu' defined by /home/khmaies/mediapipe/mediapipe/gpu/BUILD and

[2021-07-01 13:29] brucechou1983 commented on #2230
@lindemeier

By default (I mean using the DefaultInputStreamHandler), calculators will execute the **Process()** function if there is a settled timestamp at all input streams with at least one input packet. Therefore the timestamp with only a packet at the **TICK** stream will not even be processed.

If what you want is to make sure every frame is processed synchronously by iris & face module, and

[2021-07-01 13:53] arslaanzafar opened #2239 "cant setText of EditText inside MediaPipe addPacketCallback"
I am using MediaPipe in Android to get the output from the graph, and set that output as EditText's text. Following is the code:

[code]
the setText outside the callback works fine, but inside the callback is never set and whenever i try to select the the EditText following exception occurs:

`java.lang.IndexOutOfBoundsException: setSpan (-1 ... -1) starts before 0
`

[2021-07-01 14:41] bwl commented on #2237
I'm having the same issue.

Not sure what is going on here?
But it seems the proposed solution presently is to wait for it to be open sourced?

https://github.com/google/mediapipe/issues/1408

https://github.com/google/mediapipe/issues/1411
https://github.com/google/mediapipe/issues/1719

[2021-07-01 14:51] sr229 opened #2240 ".NET Support"
In the same vein as GH-36, we should have a pure .NET port also of the library. I don't see anyone starting with it so I decided to take it on my own hands.

Current progress work is on [the vignette-project](https://github.com/vignette-project/Akihabara) repository, it's based off of UnityMediaPipePlugin but we'll take some liberties on how to integrate the native library on this.

[2021-07-01 15:00] z0y1 opened #2241 "Need support ImageData in Javascript Pose Detection"
pose > javascript:

[code]

cause ```POSE``` only support one person, i pre split the source Image into serverl rectangles( by face detect), those sub rect images come from arraybuffer, if pose.send support ImageData, i can directly send pixel data into POSE detection. now i have to draw into Canvas first ,then put the Canvas into POSE detection, I think it's a waste of time..

[2021-07-01 15:25] khmaies5 commented on #18
anyone with working solution with the new version of mediapipe?
i got this errors after trying what is suggested here check this [comment](https://github.com/google/mediapipe/issues/420#issuecomment-872182193)

[2021-07-01 15:50] shivSD commented on #2232
Hi @sgowroji I'm working on GCC 7.5 version which is latest part of the ubuntu 18.04. Please can you recommend the gcc version.
Compiler version (e.g. gcc/g++ 8 /Apple clang version 12.0.0): gcc version 7.5.0 (Ubuntu 7.5.0-3ubuntu1~18.04)

[2021-07-01 17:12] guiphaniel opened #2242 "HelloWorld builds fine but prints nothing when executed"
**System information:**
- OS Platform and Distribution: Windows 10 21H1

**Description of the problem:**

Hi! I got an issue when I try to execute my HelloWorld. Doing

`PS C:\Users\guilh> D:\dev\mediapipe_repo\mediapipe\bazel-bin\mediapipe\examples\desktop\hello_world\hello_world`

doesn't print anything...

Yet, the build went good:

`PS D:\dev\mediapipe_repo\mediapipe\mediapipe\examples\desktop

[2021-07-01 18:39] DimIsaev commented on #2235
up

[2021-07-01 18:44] guiphaniel commented on #2242
Okay, after some tests, it appears that if I include iostream and put a `std::cout << "test";` in the for loop were the Hello World! are supposed to be printed out,

`for (int i = 0; i < 10; ++i) {
    MP_RETURN_IF_ERROR(graph.AddPacketToInputStream(
        "in", MakePacket<std::string>("Hello World!").At(Timestamp(i))));
    std::cout << "test";
  }`

I do get `testtesttesttesttesttesttesttestte

[2021-07-01 20:01] #2232 closed

[2021-07-02 02:41] seungwonpark commented on #1000
@fanzhanggoogle Sorry for asking again, but are there any updates on releasing attention mesh model?

[2021-07-02 04:00] sgowroji commented on #2239
Hi @arslaanzafar, The Exception is because your code implementation with EditText  component in android. May be you can try clearing the values and selection before setting the text to it. Thanks!

[2021-07-02 04:03] sgowroji commented on #2240
Hi @sr229, Good to know your work with MediaPipe. Could you please elaborate your query to understand much better. Thanks!

[2021-07-02 04:05] sgowroji commented on #2242
Hi @guiphaniel, Could you please provide the complete steps to reproduce the above issue and share us  your code changes on top of it. Thanks!

[2021-07-02 04:09] sgowroji commented on #2241
Hi @z0y1, Could you share your use case with complete details. Thanks!

[2021-07-02 04:18] sgowroji commented on #811
Hi @harsha-main, Could you please recheck the latest release as there are lots of improvements are added. And let us know if you still looking for any specific use case. Thanks!

[2021-07-02 04:21] sgowroji commented on #966
Hi @alandrade1, We are glad to know your interest with MediaPipe. I would recommend you to check the latest Hands solution with many improvements. And reach us if you still have any further queries specific to it. Thanks!

[2021-07-02 04:22] mcclanahoochie commented on #2013
what are `myfacedetectionapp`  and `acedetectionap`  from the logs?
are you running a modified example?

[2021-07-02 04:24] sgowroji commented on #1104
Hi @chenti2x, If your still looking for the above query, Could you please elaborate your description with complete details. Thanks!

[2021-07-02 04:26] sgowroji commented on #1052
Hi @dolmens, Could you please update your description with complete details. Thanks!

[2021-07-02 04:30] pkyadav73199 opened #2243 "fail to build for iris_tracking_cpu_video_input"
OS Platform : Linux Ubuntu 16.04
gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.12)
Programming Language and version ; C++ 11
pip
OpenCV 3

**C++ compilation of rule '//mediapipe/util:annotation_renderer' failed (Exit 1): gcc failed: error executing command /usr/bin/gcc -U_FORTIFY_SOURCE -fstack-protector -Wall -Wunused-but-set-parameter -Wno-free-nonheap-object -fno-omit-frame-pointer -g

[2021-07-02 04:31] sr229 commented on #2240
Currently there's no way to use Mediapipe in .NET without getting through the pain of writing your own wrapper for it, and Mediapipe is a very popular project for AR and object tracking, this was rather a big roadblock for us at Vignette, so we're now implementing our own wrapper by now to be used by us (and probably everyone).

[2021-07-02 04:36] mcclanahoochie commented on #1160
MediaPipe graphs will queue/drop frames when the input is faster than the system can handle.
The more powerful the device (or more simple the graph), the less frames dropped/queued, the higher fps can be achieved.

[2021-07-02 04:44] sgowroji commented on #2243
Hi @pkyadav73199, Could you please test the above with latest version. The above issue is resolved as of now. Thanks!

[2021-07-02 05:01] pkyadav73199 commented on #2243
I just updated the version of gcc.
Now I am getting this error.

/home/edith/mediapipe/mediapipe/util/BUILD:127:11: undeclared inclusion(s) in rule '//mediapipe/util:annotation_renderer':
this rule is missing dependency declarations for the following files included by 'mediapipe/util/annotation_renderer.cc':
  '/usr/lib/gcc/x86_64-linux-gnu/9/include/stdarg.h'
  '/usr/lib/gcc/x86_64-linux-gnu/9/in

[2021-07-02 05:13] sgowroji commented on #1400
Hi @Hakazaba, You can check the latest documentation related to the [CUDA](https://google.github.io/mediapipe/getting_started/gpu_support.html#tensorflow-cuda-support-and-setup-on-linux-desktop) and reach us if your still facing any problem through it.

[2021-07-02 05:21] sgowroji commented on #1152
Hi @zespyx, You can try this as below.  For more details see [here](https://github.com/google/mediapipe/blob/master/mediapipe/examples/android/src/java/com/google/mediapipe/apps/objectdetection3d/MainActivity.java#:~:text=float%20aspectRatio%20%3D%20(float)%20cameraTextureWidth%20/%20(float)%20cameraTextureHeight%3B)

[float aspectRatio = (float) cameraTextureWidth / (float) cameraTextureHeight;](

[2021-07-02 05:49] #786 closed

[2021-07-02 05:49] #818 closed

[2021-07-02 06:11] sgowroji commented on #935
Hi @ZZZhaowendao & @JsBlueCat  [this](https://google.github.io/mediapipe/getting_started/troubleshooting.html#fail-to-fetch-remote-dependency-repositories) will resolve your error.

[2021-07-02 06:11] #935 closed

[2021-07-02 06:30] jameel-malik opened #2244 "Access node outputs of a graph"
How to access the node outputs of a graph, for example, in the following graph
https://github.com/google/mediapipe/blob/master/mediapipe/modules/hand_landmark/hand_landmark_gpu.pbtxt
I want to access  output_stream: "FLOAT:hand_presence_score" of the node calculator: "TensorsToFloatsCalculator"
as the output of this graph (similar to other outputs which are   output_stream: "HANDEDNESS:handedness"

[2021-07-02 06:49] #843 closed

[2021-07-02 07:25] ankitadloid opened #2245 "Memory leak in facemesh demo"
link : https://codepen.io/mediapipe/pen/KKgVaPJ

Google Chrome | 91.0.4472.114 (Official Build) (x86_64)
-- | --
Revision | 4bb19460e8d88c3446b360b0df8fd991fee49c0b-refs/branch-heads/4472@{#1496}
OS | macOS Version 12.0 (Build 21A5248p)
JavaScript | V8 9.1.269.36

Checked in chrome's task manager
subframe https://cdpn.io/ memory footprint keeps on increasing.
<img width="1240" alt="Screenshot 2021

[2021-07-02 07:44] sgowroji commented on #2245
Hi @ankitadloid, Could you please provide the steps to reproduce the above error. Thanks!

[2021-07-02 07:46] codylieu commented on #1937
@sgowroji @tyrmullen Same question as @afogel. Still not seeing any new releases on: https://www.npmjs.com/package/@mediapipe/holistic. Any idea when a version with @tyrmullen's fix might be released?

[2021-07-02 07:58] ankitadloid commented on #2245
@sgowroji After visiting webpage https://codepen.io/mediapipe/pen/KKgVaPJ , check memory footprint using chrome's task manger.
Also, I verified memory leak by testing the code separately (without codepen) on my local environment , took heap snapshots after every ~10 sec
<img width="609" alt="Screenshot 2021-07-02 at 1 24 59 PM" src="https://user-images.githubusercontent.com/83121879/124241013-fc27

[2021-07-02 09:21] guiphaniel commented on #2242
Thanks for your quick answer! I followed the installation guide step by step (btw, I have two disks, and as the C:/ doesn't have that much place remainig, I installed everything on my D:/):

- Install MSYS2 (following the installation guide on their official website) in `D:\dev\` and add `D:\dev\msys64\usr\bin` to my %PATH% environment variable.
- did `pacman -S git patch unzip`
- Installed Python

[2021-07-02 09:48] duy-maimanh commented on #1160
Thank you for your answer.

[2021-07-02 12:08] gb2111 opened #2246 "pose detection - determine distance from camera / z in world coordinate"
hello.
pose landmars provide x and y and also z coordinate. z is depth relative to hip joints.
x and y of hips can be used to calculate relative position of the human in world. but not z.
i'd appreciate mediapipe team to share if they have any formula to estimate distance from camera.
thank you.

[2021-07-02 14:36] Nvelu048 commented on #1216
@sgowroji, One of my colleague implemented this feature.

And if possible you can solution

[2021-07-02 14:39] Nvelu048 commented on #1181
Hi @sgowroji,  currently i don't have necessary setup to check this.

You can close the issue.  If you can

[2021-07-02 14:39] Nvelu048 commented on #1216
Duplicate of below issue

https://github.com/google/mediapipe/issues/1181

[2021-07-02 14:39] #1216 closed

[2021-07-02 15:28] z0y1 commented on #2241
Hi, here is my process pipeline, (to get the whole three person‘s pose landmarks)，if pose.send support ImageData，**step2**  will be not needed anymore，and code run faster。ImageData contains buffer,width,height, it seems more convenient to use.
![image](https://user-images.githubusercontent.com/1248666/124294601-7633ad00-db8a-11eb-951b-7d1c060a2bf1.png)

[2021-07-02 16:39] eshajoshi opened #2247 "Unable to load MediaPipe demo or custom applications in the Chrome browser on an M1 Mac - Camera overconstrained error"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution: macOS Big Sur, M1 Mac. Chrome browser V91.0.4472.114 (also doesn't

[2021-07-02 18:24] jadams777 commented on #1427
Hi, does this release include support for iOS? I don't see a changelog. Thank you.
https://www.npmjs.com/package/@mediapipe/pose/v/0.4.1624666670

[2021-07-02 18:48] chuoling commented on #1937
It should be there now in version 0.4.1625245411. Sorry for the delay and confusion.

[2021-07-03 02:14] mufaawan commented on #2233
I have not made any changes in the code. It's just the code provided in the Notebook on Colab.

[2021-07-03 04:52] milad-4274 commented on #2231
Thank you @sgowroji. I will check it and inform here if any problem.

[2021-07-03 04:52] #2231 closed

[2021-07-03 12:43] arslaanzafar commented on #2239
it was throwing exception because the setText should be called inside runOnUiThread if we are using addPacketCallback.

[2021-07-03 14:04] kvasss commented on #2141
Hi. Confirming the problem.
Redmi note 7
chrome 32 bit version 91.0.4472.120
Opera latest same problems
Firefox latest works fine.
face-landmarks-detection solution works fine in all browsers
Problem:
On each frame tick landmarks values grow like
frame 1
landmarks[0].x = 0.03;
landmarks[0].y = 0.03;
landmarks[0].z = 0.03;
frame 2
landmarks[0].x = 0.3;
landmarks[0].y = 0.3;
landmarks[0].z = 0.3;
fr

[2021-07-03 17:26] eshajoshi opened #2248 "Face Detection Integration issues from a Web React JS client."
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
React JS, Typescript Template
Mac laptop with M1 chip
Chrome browser, Incognito

Context:
Currently, I have a simple React JS app with a TypeScript template. This is because the MediaPipe Face Detect

[2021-07-03 18:00] yolo-1111 commented on #2195
I COMPLETELY AGREE with @whatisor. Im having MASSIVE problem with particularly with mediapipe's landmarks outputs. It is disaster if there is a small head turn (even over 30 degree) that is simply useless.  What is the purpose of releasing mediapipe without releasing model source for custom training when its current outputs are just do bad and highly inaccurate that they are rendered useless? Its

[2021-07-03 18:14] yolo-1111 opened #2249 "highly INACCURATE outputs - Release open Model source so users can improve/expand on it & share with community"
Im having MASSIVE problems with  mediapipe's landmarks outputs. It is disasterously inaccurate if there is a small head turn (even at 30 degree) that landmarks output is simply useless.  What is the purpose of releasing mediapipe without releasing model source for custom training when its current outputs are just do bad and highly inaccurate that they are rendered useless?

I agree with the user w

[2021-07-04 10:25] de-code opened #2250 "Selfie Segmentation crashes after running a while, on Linux CPU"
**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): I have written an example to better reproduce the issue
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Linux 20.04
- [MediaPipe version](https://github.com/google/mediapipe/releases): 0.8.

[2021-07-04 10:51] homuler opened #2251 "Pose Tracking (GPU) and Holistic Tracking (GPU) crash on Linux"
**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Arch Linux (version 5.12.13-arch1-2 (gcc (GCC) 11.1.0, GNU ld (GNU Binutils) 2.36.1))
- Programming Language and version ( e.g. C++, Pyth

[2021-07-04 11:28] eldog commented on #2237
It looks like the Pose object is on `window` so you can use the following as a work around.

[code]

[2021-07-04 17:28] DimIsaev opened #2252 "Error build"
1. Install bazelisk
2.  App hello world   - bulid  OK

3, build app iris_tracking  Error
`!bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 mediapipe/examples/desktop/iris_tracking:iris_tracking_cpu_video_input  `

[code]

what can you advise?

[2021-07-05 04:04] #1181 closed

[2021-07-05 05:17] milad-4274 opened #2253 "face geometry strange result using another landmark model"
Hi and thank you for your great framework. I'm using another landmark detection algorithm which give me 68 2d facial landmarks. and I use this landmarks to generate 3448 3d landmarks using [this library](https://github.com/patrikhuber/eos). the result is good.
![amber_eos](https://user-images.githubusercontent.com/48384506/124419715-501d3100-dd73-11eb-8f46-416e91ecc68a.jpg)

after, I generated [ca

[2021-07-05 05:41] sgowroji commented on #2248
Hi @eshajoshi, Could you please provide the steps to reproduce the above error. Thanks!

[2021-07-05 05:42] #2190 closed

[2021-07-05 05:47] sgowroji commented on #2252
Hi @DimIsaev, Did you test the above in the latest  [release](https://github.com/google/mediapipe/releases/tag/v0.8.6).

[2021-07-05 06:00] DimIsaev commented on #2252
```git clone --depth 1 --branch v0.8.6 --recurse-submodules https://github.com/google/mediapipe.git```

[2021-07-05 06:08] DimIsaev commented on #2252
Errro command

```!python setup.py install --link-opencv --user```

![1111](https://user-images.githubusercontent.com/11172642/124424893-f710c580-dd91-11eb-8681-d0f946fff19b.png)

[2021-07-05 06:08] sgowroji commented on #2253
Hi @milad-4274, Could you please elaborate MediaPipe changes specific to your above use case. Thanks

[2021-07-05 06:25] DimIsaev opened #2254 "How use Mediapipe API for Python Iris Depth ?"
How use Mediapipe API   for  Iris Depth  Python solution?

Where can I find a similar example?
Thanks

[2021-07-05 06:52] sgowroji commented on #2254
Hi @DimIsaev, You can try [this](https://github.com/google/mediapipe/issues/1530#issuecomment-819552656).

[2021-07-05 06:58] sgowroji commented on #2000
Hi @AndreV84, Did you get a chance to go through the above [comment](https://github.com/google/mediapipe/issues/2000#issuecomment-864301448). Thanks!

[2021-07-05 07:00] sgowroji commented on #2194
We are closing this issue  now due to lack of activity

[2021-07-05 07:00] #2194 closed

[2021-07-05 07:06] AndreV84 commented on #2000
@sgowroji to be tried it needs to be extended with exact details for implementation, in my opinion

[2021-07-05 07:07] lindemeier commented on #2230
Thx @brucechou1983 for your comment.

We have assumed that the flow limiter does exactly what we need. As long as we connect to the `IMAGE:throttled_input_video` the following data should be synchronized:
- image data
- facial landmarks
- iris landmarks

However, our swift app receives facial landmarks at a much higher rate.
It could be an issue on our side with the app itself. We'll check again.

[2021-07-05 07:13] dhavalgediya27 commented on #2189
Hello,

You didn't give me proper solution fot this error and why you close this issue.

Give me proper solution for this issue.

Thanks,

[2021-07-05 07:42] #2070 closed

[2021-07-05 08:40] sgowroji commented on #2189
Hi @dhavalgediya27, If you don't reply to the above request bot automatically closes the issue after 15 days. As mentioned in this [comment](https://github.com/google/mediapipe/issues/2189#issuecomment-864711538), Could you please provide your code changes to understand the issue much better for further investigation.

[2021-07-05 08:51] thaiph99 opened #2255 "don't run example "mediapipe_multi_hands_tracking_aar_example" with file build arr in a tutorial "android_archive_library""
**System information**
- OS : Ubuntu 20.04 LTS
- Compiler version : g++ 9.3
- [MediaPipe version](https://github.com/google/mediapipe/releases): 0.8.6
- Bazel version: 3.7.2
- Android SDK and NDK versions: SDK 29, NDK 20
- Android [AAR](https://google.github.io/mediapipe/getting_started/android_archive_library.html) : ediapipe_face_detection.aar

**Describe the problem**:
- I can run an app with o

[2021-07-05 09:26] AndreV84 commented on #1922
@sgowroji I noticed that you frequently close issues without addressing them
May I know what is the proposed solution for the original issue? how to run objectron Desktop GPU example? Is it possible?

[2021-07-05 10:05] milad-4274 commented on #2253
Yes Sure,
**Step 1**
first, in face mesh example I updated FaceLandmarkFrontGpu node to use another landmark model in FaceLandmarkGpu. I also changed in dependencies such as FaceLandmarkLandmarksToRoi subgraph. the result of 68 2d landmarks has been shown below:
![amber_landmarks](https://user-images.githubusercontent.com/48384506/124452309-84a4e300-dd9b-11eb-8a43-6a1b0cb6f128.jpg)

**Step 2**
aft

[2021-07-05 10:37] basicvisual commented on #2237
Hi @eldog , i think the error still persists `pose is not a construtor` . Is there something else you are doing perhaps ? Currently using the normal `expo init' method for creating project and using `expo camera` to capture video stream

[2021-07-05 10:39] sgowroji commented on #1922
Hi @AndreV84, If you don't respond to any comment "google-ml-butler" bot will consider as stale and closes the issue after 15 days. Could you please check this [comment](https://github.com/google/mediapipe/issues/1922#issuecomment-864307053) and let us know if you have any relevant query, So that i can assign back the issue to the right owner.

[2021-07-05 10:48] sgowroji commented on #2255
Hi @thaiph99, Above [AAR](https://github.com/jiuqiant/mediapipe_multi_hands_tracking_aar_example/blob/master/app/libs/mp_multi_hand_aar.aar) only has files for android arm64 v8a. It doesn’t support android armeabi v7a. Please verify before running on supported device.

[2021-07-05 14:31] brucechou1983 commented on #2253
@milad-4274 I'm just curious, can eos generate 3dmm in realtime on mobile devices?

[2021-07-05 14:41] Tortoise17 commented on #1811
Dear Friends, any help? Still I am waiting

[2021-07-05 14:43] basicvisual commented on #1107
Hi @mhays-google , i tried to run `code-pen` on chrome app in ios . As mentioned above , the spinner never resolves. I was wondering if there are some additional settings that need to be done or changed

[2021-07-05 15:48] eshajoshi commented on #2248
Hey @sgowroji , thanks for taking a look at this!

I actually copied the CodePen code from the Face Detection demo onto a React JS app with a TypeScript template. I am running that code with 'npm start' which is casting the TypeScript file into a JS file so that it can be rendered in the browser. The warnings and errors above are from running `localhost: 3000`.

Here is the source code below if th

[2021-07-05 23:11] AmeanAsad commented on #1412
@mhays-google  Have you had a chance to look at this?

[2021-07-06 01:51] thaiph99 commented on #2255
Thank you, I will check and test again.

[2021-07-06 03:17] sgowroji commented on #2255
@thaiph99 Reach us back on the same ticket, if you have any further relevant queries. We are closing this issue now.

[2021-07-06 03:17] #2255 closed

[2021-07-06 03:28] toandrew commented on #2204
Hi,  any update?

[2021-07-06 03:59] sgowroji commented on #397
Hi @suraj-0387, We are closing this issue as we see above your queries were answered. Let us know if you still looking for any relevant query. Thanks!

[2021-07-06 03:59] #397 closed

[2021-07-06 04:04] nswdewy commented on #364
Hi,bros (@fenollp @noppefoxwolf @slajar @yuxiaohui78 @weinixuehao )!

I'm attempting to compile a posetracking framework to my project.

@noppefoxwolf's demo can run successfully, but is not a framework for whole pose tracking.

I can build and run the application successfully by tulsi or command lines.

But when I use the complied framework to a project, it occurs error "'absl/memory/memory.h' fi

[2021-07-06 04:04] sgowroji commented on #761
Hi @weinixuehao, Could you please check the above  with latest [release](https://github.com/google/mediapipe/tree/v0.8.6) of MediaPipe. And write us back if you still face the same issue. Thanks!

[2021-07-06 04:04] #761 closed

[2021-07-06 04:15] sgowroji commented on #794
Hi @harsha-main, Could you please test the above with the latest [release](https://github.com/google/mediapipe/tree/master/mediapipe/examples/android/src/java/com/google/mediapipe/apps/handdetectiongpu).  And please write us back if you still see the same error.

[2021-07-06 04:15] #794 closed

[2021-07-06 04:20] sgowroji commented on #814
Hi @anubhavagr27, Could you please check the latest [documentation](https://google.github.io/mediapipe/getting_started/android_archive_library.html#steps-to-use-a-mediapipe-aar-in-android-studio-with-gradle) of building the android code with ARR in Android studio gradle.

[2021-07-06 04:20] #814 closed

[2021-07-06 04:22] sgowroji commented on #830
As we see the Main query was answered  in the above [comment](https://github.com/google/mediapipe/issues/830#issuecomment-655225656). We are closing this issue now.

[2021-07-06 04:22] #830 closed

[2021-07-06 04:35] sgowroji commented on #892
Above [comment](https://github.com/google/mediapipe/issues/892#issuecomment-655692390) answered your query we are closing this issue now. Please reach us back if you still have any relevant issue.

[2021-07-06 04:35] #892 closed

[2021-07-06 04:39] sgowroji commented on #916
Hi @rockbass2560, Could you please try to build the same with the latest [instruction](https://google.github.io/mediapipe/getting_started/install.html#installing-on-debian-and-ubuntu) as mentioned in the documentation.

[2021-07-06 04:39] #916 closed

[2021-07-06 04:41] #650 closed

[2021-07-06 04:46] milad-4274 commented on #2253
The short aswer is Yes. my mobile phone is almost low level phone and the FPS in my mobile device is not bad. I'll inform you about exact eos_calculator latency. but the accuracy around lip and eye is not good. for gaining better accuracy, you need to use higher num_iterations and  so the latency become higher.

[2021-07-06 04:57] sgowroji commented on #955
Hi @whatisor, You can refer [here](https://github.com/google/mediapipe/tree/master/mediapipe/modules/face_landmark).

[2021-07-06 04:57] #955 closed

[2021-07-06 05:22] sgowroji commented on #888
Hi @Zulqurnain24, Try [this](https://google.github.io/mediapipe/solutions/objectron.html#desktop)  and reach us, if you have any queries. Thanks!

[2021-07-06 05:22] #888 closed

[2021-07-06 05:42] #1276 closed

[2021-07-06 05:42] #1249 closed

[2021-07-06 05:42] #1247 closed

[2021-07-06 05:42] #1278 closed

[2021-07-06 05:42] #1302 closed

[2021-07-06 06:10] milad-4274 commented on #2253
@brucechou1983  the average eos_caluclator latency in my phone is ~35 ms for 1 iteration.

[2021-07-06 06:30] gittitov commented on #2170
**v0.8.6 the same problem**

I20210706 09:26:49.876307 436051 demo_run_graph_main_gpu.cc:58] Initialize the calculator graph.
I20210706 09:26:49.888597 436051 demo_run_graph_main_gpu.cc:62] Initialize the GPU.
I20210706 09:26:49.895681 436051 gl_context_egl.cc:163] Successfully initialized EGL. Major : 1 Minor: 5
I20210706 09:26:49.930045 436101 gl_context.cc:331] GL version: 3.2 (OpenGL ES 3.2 NV

[2021-07-06 06:41] doduythao commented on #2173
Same for me, the 3.5M model is too oversimplified model for hand keyposes. I tried on Cambridge hand gesture and FreiHand dataset and the default model works terribly. (since all of them has hand but MediaPipe hand only detects less than 60%), many detected samples with terrible wrong key points. I'm really want looking for heavy model

[2021-07-06 06:54] doduythao commented on #2195
Same, tried on other hand gesture datasets and the result was really bad. They should change this

[2021-07-06 07:13] LiHuaigu opened #2256 "Can MediaPipe running both face mesh and hand detection at the same time on Android device?"
**Issue Description**
- Hi, I'm currently trying to build an Android App that can both detect hands and faces. Is this feasible?
- Thanks in advance.

[2021-07-06 09:02] nswdewy commented on #2147
Hi, bros!  @yuxiaohui78 @ljmkimqx
I also get the similar error "'absl/memory/memory.h' file not found"
Have you got any solution?

[2021-07-06 09:02] nswdewy commented on #2147
Hi, bros!  @yuxiaohui78 @ljmkimqx
I also get the similar error "'absl/memory/memory.h' file not found"
Have you got any solution?

[2021-07-06 09:02] nswdewy commented on #2147
Hi, bros!  @yuxiaohui78 @ljmkimqx
I also get the similar error "'absl/memory/memory.h' file not found"
Have you got any solution?

[2021-07-06 09:02] nswdewy commented on #2147
Hi, bros!  @yuxiaohui78 @ljmkimqx
I also get the similar error "'absl/memory/memory.h' file not found"
Have you got any solution?

[2021-07-06 09:03] nswdewy commented on #2147
Hi, bros!  @yuxiaohui78 @ljmkimqx
I also get the similar error "'absl/memory/memory.h' file not found"
Have you got any solution?

[2021-07-06 09:03] nswdewy commented on #2147
Hi, bros!  @yuxiaohui78 @ljmkimqx
I also get the similar error "'absl/memory/memory.h' file not found"
Have you got any solution?

[2021-07-06 09:04] nswdewy commented on #2147
Hi, bros!  @yuxiaohui78 @ljmkimqx
I also get the similar error "'absl/memory/memory.h' file not found"
Have you got any solution?

[2021-07-06 09:10] lostfictions commented on #1422
hey there, just saw [v0.8.6](https://github.com/google/mediapipe/releases/tag/v0.8.6) added 3D landmarks for Pose and Holistic -- any updates for this issue?

[2021-07-06 09:23] nswdewy commented on #2147
According to the offical chapter "[Installtion](https://google.github.io/mediapipe/getting_started/install.html#installing-on-macos)" can install it, and pay attention to "Install Bazelisk" instead of "Install Bazel"

[2021-07-06 09:41] nswdewy opened #2257 "iOS Framework Error: "'absl/memory/memory.h' file not found""
Hi!

I'm attempting to compile a posetracking framework to my project.

@noppefoxwolf's demo can run successfully, but is not a framework for whole pose tracking.

I can build and run the application successfully by tulsi or command lines.

But when I use the complied framework to a project, it occurs error "'absl/memory/memory.h' file not found"
![image](https://user-images.githubusercontent.com/

[2021-07-06 09:56] nswdewy commented on #2257
![image](https://user-images.githubusercontent.com/26194478/124580739-04f24380-de83-11eb-93d1-530dd47a7b82.png)

the [Uploading BUILD…]() in "common" directory
[common.zip](https://github.com/google/mediapipe/files/6769121/common.zip)

the [Uploading BUILD…]() in "posetrackinggpu"
[posetrackinggpu_.zip](https://github.com/google/mediapipe/files/6769104/posetrackinggpu_.zip)

[2021-07-06 10:15] sgowroji commented on #2257
Hi @nswdewy, Could you please provide steps to reproduce the above error. Thanks!

[2021-07-06 10:45] nswdewy commented on #2257
1. Open Tulsi by  "sh build_and_run.sh"
2. Open MediaPipe.tulsiproj which in "mediapipe/medipipe/"
3. choose the target
![image](https://user-images.githubusercontent.com/26194478/124585577-01ad8680-de88-11eb-832d-c14aece38df2.png)
![image](https://user-images.githubusercontent.com/26194478/124585684-1ee25500-de88-11eb-8424-c130bf3076fb.png)

then generate the framework project:
![image](https://u

[2021-07-06 11:32] VladYushchenko opened #2258 "Mediapipe integration with OR-Tools"
**System information** (Please provide as much relevant information as possible)

- OS: Ubuntu 18.04
- Programming Language and version: C++
- [MediaPipe version](https://github.com/google/mediapipe/releases): 0.8.0
- OR-Tools version: v9.0 / v8.0
- Bazel version (if compiling from source): 4.1.0

Hi, I have a problem with integration of both Mediapipe and [OR-Tools](https://github.com/google/or-t

[2021-07-06 12:43] neuronfactory opened #2259 "Build error in mediapipe hand_tracking_cpu build with Raspberry Pi 4B"
**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution: Linux raspberrypi 5.10.17-v7l
- Compiler version : gcc 8.3.0
- Programming Language and version : C++14
- Installed using virtualenv? pip? Conda? (if python): --
- [MediaPipe version](https://github.com/google/mediapipe/releases): 0.8.2
- Bazel version: 3.7.2
- OpenCV version (if runnin

[2021-07-06 12:46] neuronfactory commented on #2259
I also used openCV 3.4.13.

[2021-07-06 13:19] gtaws2 opened #2260 "Selfile"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe):
- OS Platform an

[2021-07-06 14:28] basicvisual opened #2261 "Displaying poseWorldLandmarks in Javascript webclient."
## URL(s) with the issue:

Please provide a link to the documentation entry, for example:
https://google.github.io/mediapipe/solutions/pose.html
## Description of issue (what needs changing):

Hi  I am using googles POSE model to run a web application in React Js. I am able to log out the `poseWorldLandmarks` but i am not able to vizualize it. It complains that `new landmarkGrid(landmarkContainer)

[2021-07-06 17:05] SohilZidan opened #2262 "iris tracking application for the full range face detection"
- MediaPipe Solution (you are using): iris tracking
- Programming language: C++
- Are you willing to contribute it (Yes/No):

I would like to ask if you can provide an application for iris tracking full range. I am using the iris tracking applications with a video containing a person for which the face is not detected. when I realized that the iris tracking uses the short-range face detection modu

[2021-07-06 17:22] eshajoshi commented on #2248
Hey @tyrmullen - any thoughts on this? Thanks so much!

[2021-07-06 19:51] philipjhc opened #2263 "error: [WinError 2] 系统找不到指定的文件。: 'C:\\mediapipe\\mediapi pe-master\\mediapipe/calculators/__init__.py'"
INFO: Analyzed target //mediapipe/modules/objectron:objectron_cpu (0 packages loaded, 0 targets configured).
INFO: Found 1 target...
Target //mediapipe/modules/objectron:objectron_cpu up-to-date:
  bazel-bin/mediapipe/modules/objectron/objectron_cpu.lo.lib
INFO: Elapsed time: 1.141s, Critical Path: 0.01s
INFO: 1 process: 1 internal.
INFO: Build completed successfully, 1 total action
generating bin

[2021-07-07 02:49] Noricks commented on #1616
Sorry for the late reply.

As I stated in the problem description, the prebuild **v0.7.5** .ARR package provided in the tutorial repository has some problems with the code.

I rebuild the .arr package from scratch based on the latest official tutorial, everything works fine.

In my view, I think this might because of the old prebuild **v0.7.5** .ARR package is incompatible with the code related to

[2021-07-07 03:46] sgowroji commented on #2258
Hi @VladYushchenko, Could you please provide, your use case with complete details on integrating MediaPipe with OR-Tools.

[2021-07-07 03:57] sgowroji commented on #2261
Hi @basicvisual, Could you please share your error logs to understand the issue with much better detail. Thanks!

[2021-07-07 03:59] sgowroji commented on #2262
Hi @SohilZidan, Could you please elaborate your use case with more details. Thanks!

[2021-07-07 04:01] sgowroji commented on #2263
Hi @philipjhc, Could you please provide steps to reproduce the above issue. Thanks!

[2021-07-07 04:19] sgowroji commented on #1032
Hi @sgu-fai, Now we have a clear documentation on IOS and IRIS solution. Please go through it and let us know and reopen, if you still looking for any relevant query. Thanks!

[2021-07-07 04:19] #1032 closed

[2021-07-07 04:25] sgowroji commented on #1119
Hi @Source666, We have very clear documentation of MediaPipe solutions with [Android platform ](https://google.github.io/mediapipe/getting_started/android.html#mediapipe-on-android). Have a look at here and let us know if your use case is different.

[2021-07-07 04:25] #1119 closed

[2021-07-07 04:27] sgowroji commented on #1021
Hi @weinixuehao, Could you please test the above with the latest release in IOS and let us know if you still have any queries on it. Thanks!

[2021-07-07 04:27] #1021 closed

[2021-07-07 05:05] #1338 closed

[2021-07-07 05:10] sgowroji commented on #1071
Hi @Zulqurnain24, Could you please test the above with the latest release and reach us if you have any queries.

[2021-07-07 05:10] #1071 closed

[2021-07-07 06:05] #1303 closed

[2021-07-07 06:05] #1342 closed

[2021-07-07 06:05] #1246 closed

[2021-07-07 06:05] #1243 closed

[2021-07-07 06:05] #1226 closed

[2021-07-07 06:23] sgowroji commented on #2247
Hi @eshajoshi, Could you please try with other built in camera from the control panel in chrome browser.  Thanks!

[2021-07-07 07:12] TahaAnwar commented on #1986
@sgowroji I also had the same issue, just to be clear, currently there is no support for overlaying 3d Objects or textures using the landmarks in python right?.

I tried to find an easy way to use the effect renderer in python to render 3d objects on faces but was unable to find any solution or docs. Can you confirm if this is not possible with python at the moment?

It's really unfortunate, I nev

[2021-07-07 07:39] SohilZidan commented on #2262
I am using the following command  to build an example application:
`bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 mediapipe/examples/desktop/iris_tracking:iris_tracking_cpu_video_input`
an to run it on a video:
`bazel-bin/mediapipe/examples/desktop/iris_tracking/iris_tracking_cpu_video_input     --calculator_graph_config_file=mediapipe/graphs/iris_tracking/iris_tracking_cpu_video_input.pbtxt

[2021-07-07 07:54] philipjhc commented on #2263
I have solved this problem. I found that my workspace path is not right. Thank you. I can close this problem.

[2021-07-07 09:15] RMiTiG commented on #712
Same problem in my iphone while android is fine.In my case,the output_width/output_height aspect ratio must be 1:1, or broke.I have used the GPU

[2021-07-07 09:58] sgowroji commented on #1986
Hi @TahaAnwar, From documentation [this](https://google.github.io/mediapipe/solutions/face_mesh.html#effect-renderer) is the latest.

[2021-07-07 10:01] #2263 closed

[2021-07-07 10:03] VladYushchenko commented on #2258
Yes, sure @sgowroji

I have C++ implementation of SORT Tracker https://arxiv.org/abs/1602.00763
which essentially is combination of a Kalman filter (OpenCV) and a matching algorithm (I use Hungarian algorithm from OR-Tools)

Medipipe is used for model inference and subsequent video rendering with tracked objects.

Hope it helps you further.

[2021-07-07 10:13] nswdewy commented on #2257
The problem has been fixed, There is a detail "Do not set the import at the .h file while you produce the framework"

[2021-07-07 10:13] #2257 closed

[2021-07-07 10:43] #2146 closed

[2021-07-07 11:51] basicvisual commented on #2261
Hi I am trying to import the 3D Landmark grid as follows
`
import { Pose, POSE_CONNECTIONS, LandmarkGrid, PoseConfig, landmarkContainer} from '@mediapipe/pose'`
and defining in the above code snippet as follows

[code]
But it gives the following error message
`Unhandled Rejection (TypeError): _mediapipe_pose__WEBPACK_IMPORTED_MODULE_2__.LandmarkGrid is not a constructor`

[2021-07-07 11:52] Tortoise17 opened #2264 "How to build the desktop example on CENTOS 7 with GPU only or with CPU only."
I am using CENTOS 7 and trying to compile and build the desktop example.

the error is
`
ERROR: /user/home/mediapipe-master/mediapipe/examples/desktop/face_detection/BUILD:27:10: Linking of rule '//mediapipe/examples/desktop/face_detection:face_detection_cpu' failed (Exit 1): gcc failed: error executing command /usr/local/bin/gcc @bazel-out/k8-opt/bin/mediapipe/examples/desktop/face_detection/face

[2021-07-07 11:53] TahaAnwar commented on #1986
Yeah already gone over this. @sgowroji Can you tag an official mediapipe maintainer for some insight regarding this? Thanks.

[2021-07-07 12:32] gunbuyidiu opened #2265 "How to understand the timestamp pipeline of PacketClonerCalculator in the official document"
## URL(s) with the issue: [https://google.github.io/mediapipe/framework_concepts/calculators.html](url)

## Description of issue (what needs changing):

i can not understand  timestamp pipeline of PacketClonerCalculator in the official document

### Clear description

![image](https://user-images.githubusercontent.com/6594222/124759441-3726a280-df62-11eb-848f-999f7d3c97e1.png)

[2021-07-07 12:41] yuxiaohui78 commented on #364
Hi @nswdewy,
I have built a full body pose tracking framework based on  @noppefoxwolf 's code.
You can check it out.
[Fullbody_pose_tracking_iOS.zip](https://github.com/google/mediapipe/files/6777174/Fullbody_pose_tracking_iOS.zip)

[2021-07-07 13:00] philipjhc commented on #2051
请问下在哪里安装libprotobuf-dev包？

[2021-07-07 13:05] #2094 closed

[2021-07-07 13:08] sgowroji commented on #2108
Try this also resolves the above issue https://stackoverflow.com/questions/52805115/certificate-verify-failed-unable-to-get-local-issuer-certificate

[2021-07-07 13:20] dhavalgediya27 commented on #2189
Also Provide you a code for reference that we have used.

https://codepen.io/mediapipe/pen/KKgVaPJ

Please Give me solution for this issue.

[2021-07-07 13:25] bhargav-sudo commented on #2108
@sgowroji I am using ubuntu.Not mac.

[2021-07-07 13:38] brucechou1983 commented on #2265
I also found the diagram a little bit confusing when I tried to use **PacketClonerCalculator**. The diagram looks like the pipeline is using immediate input stream handler. I think it's just default input stream hander but ignored the timestamp bound. I recommend you to go through the [synchronization document](https://google.github.io/mediapipe/framework_concepts/synchronization.html#synchronizat

[2021-07-07 15:30] congnguyenthe opened #2266 "z value in pose_world_landmarks of Pose Solution"
Hi,

I have tried the latest mediapipe release with pose_world_landmarks for Pose Solution.
I would like to clarify the z value meaning. Is it the distance from the landmark point to the hip or is it the distance from the landmark point to the camera just like the z value from the Face Mesh solution?

[2021-07-07 16:13] jiuqiant commented on #1811
std::clamp is a new c++17 feature. Basically, it's complaining that your gcc doesn't support c++17. Please make sure your gcc supports c++17 and run `bazel clean --expunge` to clean the cache before you rerun the build command.

[2021-07-07 16:38] jiuqiant commented on #2259
Maybe it's similar to https://github.com/google/mediapipe/issues/1911?

[2021-07-07 17:34] afogel commented on #1937
@chuoling @sgowroji I'm not able to check to see whether the fix is working because I'm having the same issue as before on version 0.3.1620694839, though the error appears to occur in the `simd_wasm_bin.js` file rather than the `wasm_bin.js`.
I tried it on both Chrome and FireFox and it crashed. Can we reopen until this is resolved?
Thanks!
[code]

[2021-07-07 17:36] afogel commented on #2178
@mhays-google I'm wondering whether this is linked to what I referenced in https://github.com/google/mediapipe/issues/1937#issuecomment-875795250? Thanks!

[2021-07-07 17:38] tyrmullen commented on #2245
I believe this is the same issue as #1937 , which should now be fixed with the latest update.  I tried the link you provided just now (on Chrome Desktop), and was unable to reproduce the leak, taking snapshots every 10 seconds or so (it stayed at ~8.0MB for me).

[2021-07-07 17:38] #2245 closed

[2021-07-07 17:44] tyrmullen commented on #1937
@afogel I think we should open a separate issue for the error you're running into, since it seems unrelated to the memory leak, and we have other ways to verify the leak-fix (so it should not be blocking validation).  For example, the facemesh demo [mediapipe.dev/demo/face_mesh](http://mediapipe.dev/demo/face_mesh) should no longer have this severe memory leak.

[2021-07-07 17:47] afogel opened #2267 "JS Mediapipe Holistic Solution version 0.4.1625245411 does not load without errors"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
Using Chrome (v. 91.0.4472.114) and FF (v. 89.0.2) on OSX 10.15.7 (Catalina), MacbookPro.
Javascript.

**Describe

[2021-07-07 17:48] afogel commented on #1937
done! #2267

[2021-07-07 17:53] ravikumar-ramamurthy opened #2268 "Callback in hand tracking when no hands are in the input frame"
- OS Platform and Distribution Android 10
- Solution : Hand tracking solution from mediapipe
- Programming Language and version: Java

**Callback in hand tracking when no hands are in the input frame**

How to identify when there are no hands in the input frames.

When the hands are in input frame the "hand_landmarks" callback is called with the proper data, but when the hand moves away from input

[2021-07-07 19:05] #2200 closed

[2021-07-07 19:12] tyrmullen commented on #2267
I believe the breaking error here is that very first fatal log message, effectively saying that the graph run has been broken because it failed to load a necessary file: pose_landmark_full.tflite.  This sounds like the breakage from #2181 ; do the workarounds there fix this issue for you?

[2021-07-07 19:30] afogel commented on #2267
🤦 I should have read that issue a bit more closely, thanks @tyrmullen . This is resolved, though I agree with you and @AmitMY that it should default to some model complexity.
Thanks!!!

[2021-07-07 19:30] #2267 closed

[2021-07-07 19:33] kostyaby commented on #2253
Hey @milad-4274,

1) Can you please confirm that your OBJ file only contains triangular faces? If not, you'd have to triangulate it yourself beforehand or change your converter code [like this](https://gist.github.com/kostyaby/bc3b931e23a46422294b7dcc1fdb7990#file-obj_to_mediapipe_mesh_3d-py-L50-L55)
2) Could you please assign all landmarks weights to 1? It'll make sure there are no weird artifact

[2021-07-07 19:44] tyrmullen commented on #2248
Looking at the initial error, it seems like the file "face_detection_short_range.tflite" isn't being found, and this is causing the issues you're seeing.  Try the debugging steps and workarounds from issue #2181 , and let me know what those print out for you.

[2021-07-07 19:55] mhays-google commented on #1422
This should be a thing now.  I demo the 3d landmarks in Pose, but there are
some issues making the demo work well for holistic (namely, the face and
hands landmarks aren't real 3d coordinates).  But in both solutions, the
landmarks are there and are exposed in the results as poseWorldLandmarks.

On Tue, Jul 6, 2021 at 2:10 AM s ***@***.***> wrote:

[2021-07-08 01:24] linyu0219 commented on #2232
modify the WORKSPACE under the mediapipe root folder.
urls = ["https://github.com/bazelbuild/rules_cc/archive/master.zip"], -> urls = ["https://github.com/bazelbuild/rules_cc/archive/main.zip"]

[2021-07-08 01:24] linyu0219 commented on #2238
modify the WORKSPACE under the mediapipe root folder.
urls = ["https://github.com/bazelbuild/rules_cc/archive/master.zip"], -> urls = ["https://github.com/bazelbuild/rules_cc/archive/main.zip"]

[2021-07-08 03:01] gunbuyidiu commented on #2265
@brucechou1983
I have read the source code of the default input policy and timestamp pipeline.

If follow pipeline you said, it means that  PacketClonerCalculator::process() is called each time  a packet added to TICK input stream, and the packets queue in  **0** & **1**  stream only cache latest frame and only cache on frame ?

Is this a special input policy in the demo?

[2021-07-08 03:26] brucechou1983 commented on #2265
@gunbuyidiu Like I said in the preview comment, I think it is default input policy, but the timestamp bound is ignored in the diagram.

If you read the calculator source code, you'll find a variable named [current_](https://github.com/google/mediapipe/blob/master/mediapipe/calculators/core/packet_cloner_calculator.cc#L81) storing the latest non empty packets for each stream. When **Process() is tr

[2021-07-08 03:52] sgowroji commented on #2264
Hi @Tortoise17, Could you please fetch the [latest repo](https://github.com/google/mediapipe/tree/v0.8.6) and try building. That will solve the issue.

[2021-07-08 03:59] sgowroji commented on #2268
Hi @ravikumar-ramamurthy, You can try this similar [approach](https://github.com/google/mediapipe/issues/2174#issuecomment-862152241) for hands.

[2021-07-08 04:14] sgowroji commented on #1057
Hi @ElectricSquirrel, Could you please check the above with latest version and reach us/ reopen if you see the same. Thanks!

[2021-07-08 04:14] #1057 closed

[2021-07-08 04:19] sgowroji commented on #1105
Closing this issue as there was not significant update from the reporter.

[2021-07-08 04:19] #1105 closed

[2021-07-08 04:23] sgowroji commented on #971
Closing this present issue from the above comment.

[2021-07-08 04:23] #971 closed

[2021-07-08 04:42] sgowroji commented on #1109
Closing this issue as we aren't seeing any significant reply from the reporter

[2021-07-08 04:42] #1109 closed

[2021-07-08 05:05] #1219 closed

[2021-07-08 06:05] #1205 closed

[2021-07-08 06:05] #1197 closed

[2021-07-08 08:05] #2207 closed

[2021-07-08 08:05] #1199 closed

[2021-07-08 08:17] gunbuyidiu commented on #2265
@brucechou1983

thx, I think I have understood this diagram. This  diagrame only shows the outputs corresponding to the process()  in timestamp **4**、**28**、**52** .

But in fact, the **2**、**6**ms ....... timestamp also calls process, but the logic inside the calculator source code is that as long as the TICK has no data, there is no output. only copy no-empty packets to current_ vector.

Is my u

[2021-07-08 08:51] Tortoise17 commented on #2264
HI @sgowroji Thank you. I again cloned this branch from your archive today. I am using tensorflow (recent version). I tried with and without GPU but, `ERROR: /user/local/media2/mediapipe-0.8.6/mediapipe/examples/desktop/face_detection/BUILD:27:10: Linking of rule '//mediapipe/examples/desktop/face_detection:face_detection_cpu' failed (Exit 1): gcc failed: error executing command /usr/local/bin/gcc

[2021-07-08 09:21] VladYushchenko commented on #2258
Closing this issue, the problem seems to be on OR-Tools side.

See more details in https://github.com/google/or-tools/issues/2634

[2021-07-08 09:21] #2258 closed

[2021-07-08 09:44] linyu0219 opened #2269 "when multi open python mediapipe facemesh"
When I start 20-50 more the under python process, core dump will happen.
when into the python mediapipe module,  error happen here  self._graph.wait_until_idle() ,will return 'Fatal Python error: PyEval_SaveThread: NULL tstate'
This error happened in 0.8.6 0.8.5 0.8.4.2 0.8.4.1
But it will not in 0.8.3.1

[code]

[2021-07-08 09:46] linyu0219 commented on #2269
I try this because when I own program, I open 5 process core dump will happen ,because other functions also cost cpu.

[2021-07-08 10:02] sgowroji opened #2270 "numpy import missing in selfie segmentation python code sample"
## URL(s) with the issue: https://google.github.io/mediapipe/solutions/selfie_segmentation.html#python-solution-api
Here we see numpy import is missing in the python sample code. But np is used in it.

Please provide a link to the documentation entry, for example: https://google.github.io/mediapipe/solutions/selfie_segmentation.html#python-solution-api

[2021-07-08 10:19] sgowroji commented on #2269
Hi @linyu0219, Could you please provide the steps to reproduce the above error. Thanks!
!

[2021-07-08 10:38] Ujwal2910 commented on #2235
is it implemented now?

[2021-07-08 11:03] neuronfactory commented on #2259
Thanks for your reply.
In short, fundamentally, the Raspberry-Pi is not good platform to use mediapipe solution.
Thanks.

[2021-07-08 11:27] linyu0219 commented on #2269
put above code in a py.
and use bash open multiple python process
[code]

[2021-07-08 11:50] DimIsaev commented on #2235
up

[2021-07-08 12:27] #2259 closed

[2021-07-08 12:28] sgowroji commented on #2259
Closing this issue w.r.t your  reply comments to @jiuqiant update.

[2021-07-08 13:01] brucechou1983 commented on #2265
@gunbuyidiu exactly

[2021-07-08 13:11] brucechou1983 commented on #2256
[holistic](https://google.github.io/mediapipe/solutions/holistic#mediapipe-holistic) = face + hand + pose

[2021-07-08 14:05] Tortoise17 commented on #2264
@sgowroji can you tell me which gcc version is the demand of this tool? I tried only building autoflip and it also didn't work.

problem starts from here I think.
[code]

[2021-07-08 14:44] Tortoise17 commented on #2264
Complete error : @sgowroji

[code]

[2021-07-08 14:48] Tortoise17 commented on #2264
complete error @sgowroji :
[code]

[2021-07-08 17:23] ravikumar-ramamurthy commented on #2268
@sgowroji Thanks for this link. I tried the same approach and it worked..

Thanks again

[2021-07-08 17:23] #2268 closed

[2021-07-08 17:54] gitam2869 commented on #912
@justaguyin2k20 Did you got solution? If possible share with us. Thanks in advance.

[2021-07-08 19:35] HWiese1980 commented on #1912
Me too, any news here?

[2021-07-08 19:46] Vineet-Pandey commented on #2054
Hello @ahmadyan - Is there a plan to release the training code in the near future? TIA.

[2021-07-08 22:37] Enmin opened #2271 "Palm detection"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):
- [MediaPipe version]

[2021-07-09 00:38] nemwiz commented on #2162
Mediapipe library requires certain files to run (these are mainly TensorFlow files with `.tflite` extension.)
Since these are loaded dynamically, PyInstaller doesn't know about these and during the compilation phase you need to copy them over to the `dist` directory.

This can be achieved via `datas` property in PyInstaller spec file.
You can read more about it in the [PyInstaller docs](https://py

[2021-07-09 01:18] qichuangguo opened #2272 "Android MIN_DETECTION_CONFIDENCE invalid"
code:
 Map<String, Packet> inputSidePackets = new HashMap<>();
        inputSidePackets.put(INPUT_NUM_HANDS_SIDE_PACKET_NAME, packetCreator.createInt32(NUM_HANDS));
        inputSidePackets.put("min_detection_confidence", packetCreator.createFloat32(0.9f));
 processor.setInputSidePackets(inputSidePackets);

This use does not work

[2021-07-09 02:07] linyu0219 commented on #2269
0.8.3.1 also core dump ,but dump slow than other version.
it happened cpu is  nealy 80%usage, mediapipe can't get the cpu resource, it will core dump.

[2021-07-09 03:05] #2205 closed

[2021-07-09 03:42] sgowroji commented on #2264
Try running setup_opencv.sh like this  https://github.com/google/mediapipe/issues/563#issuecomment-606204492

[2021-07-09 03:51] sgowroji commented on #2272
Hi @qichuangguo, Could you please elaborate your use case and how do you verify the invalid. Thanks!

[2021-07-09 04:10] sgowroji commented on #2271
Hi @Enmin, Assuming this [issue](https://github.com/google/mediapipe/issues/1927#issuecomment-829437449) as similar use case as yours.  Thanks!

[2021-07-09 04:32] #2270 closed

[2021-07-09 04:34] ljmkimqx commented on #2224
I haven't solved it yet

[2021-07-09 05:05] #1194 closed

[2021-07-09 05:17] Enmin commented on #2271
Hi @sgowroji Thanks for answering me. The review helps but I still have problems with palm data. This is my current code:
![Screenshot from 2021-07-09 01-07-57](https://user-images.githubusercontent.com/23139990/125026265-310fef00-e052-11eb-8aec-113de231d462.png)
And this is my code for getting landmarks:
![Screenshot from 2021-07-09 01-09-10](https://user-images.githubusercontent.com/23139990/125

[2021-07-09 05:25] qichuangguo commented on #2272
I run mediapipe hands on Android device and set MIN_DETECTION_CONFIDENCE is 0.9, sometimes the face can be recognized with a confidence of 0.6

[2021-07-09 06:17] hungtooc commented on #1912
solved it!. but sorry i can't share because commerce. This is a part in my solution shttps://mathworld.wolfram.com/EulerAngles.html

[2021-07-09 07:05] #1110 closed

[2021-07-09 07:32] LiHuaigu opened #2273 "Is landmark position plot of face mesh available?"
I'm currently using MediaPipe to detect specific positions on faces(eyes, nose, mouth). That means I only need a few landmarks from the face mesh. However, I could not find the document indicate the id of each landmark. I was wondering if any document plots the id and position of each landmark on the face?

Thanks in advance.

[2021-07-09 07:52] connernam opened #2274 "Is there a repository that shows the 3D pose that already exists?"
I want to implement 3D Pose on Python like Fig 5 on https://google.github.io/mediapipe/solutions/pose.

However, I would like to refer to a demo that has already been implemented. Please let me know if you have a repository or reference that can help.

[2021-07-09 08:11] yishinhung commented on #2117
Hi @jiuqiant :
    Did you have any idea for this issue?
Thank a lot!

[2021-07-09 08:11] sgowroji commented on #2273
Hi @LiHuaigu, Which platform are you referring the above. Thanks!

[2021-07-09 08:23] sgowroji commented on #2240
Thank you for the update. Moving forward if there are any plans in our roadmap, we will let you know. Please subscribe to our channels

[2021-07-09 08:23] #2240 closed

[2021-07-09 08:25] sgowroji commented on #2243
Did you install with latest release from [here](https://github.com/google/mediapipe/releases/tag/v0.8.6)

[2021-07-09 09:25] ozgurshn commented on #575
Hi @7AM7 I'm using the code you provided only for face detection but can't build it.
getting this error when I run
bazel build -c opt --config=ios_arm64 faceDetectionLandmark:FaceTracker --verbose_failures

Undefined symbols for architecture arm64:
  "absl::lts_2020_09_23::InternalError(absl::lts_2020_09_23::string_view)", referenced from:
      absl::lts_2020_09_23::Status mediapipe::Packet::Vali

[2021-07-09 09:29] ozgurshn opened #2275 "Face Detection iOS Framework"
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): macOS 11.1, Xcode 12.5.1
- [MediaPipe version](https://github.com/google/mediapipe/releases):
- Bazel version: 3.7.2
- Solution (e.g. FaceMesh, Pose, Holistic):FaceDetectionCpu
- Programming Language and version ( e.g.

[2021-07-09 09:34] LiHuaigu commented on #2273
Thank you for your reply, sgowroji. I'm using the Android platform.

[2021-07-09 09:54] sgowroji commented on #2275
Duplicate of https://github.com/google/mediapipe/issues/2147

[2021-07-09 10:01] Moufdi96 commented on #371
@Sara533 I need to use hand tracking and face detection in one Android app, and I am wondering if you succeeded to solve this issue ?

[2021-07-09 10:53] LiHuaigu commented on #2256
Thank you very much!

[2021-07-09 11:13] sankarbha opened #2276 "404 for https://google.github.io/mediapipe/getting_started/install.md"
wanted to get started with mediapipe android solutions. Going through getting started and hello world setup in https://google.github.io/mediapipe/getting_started/hello_world_android.html and wanted to try step 1 of Setup and it landed in 404.

[2021-07-09 11:24] ozgurshn commented on #2147
I'm facing similar issue is there any solution? I'm not on M1 MAC though. https://github.com/google/mediapipe/issues/2275#issuecomment-877064885

[2021-07-09 11:27] Moufdi96 opened #2277 "Use more than one calculaor (hand tracking and face detection) in a same Android app"
Hello, I am new to Mediapipe, I am currently working on an Android application in which I am brought to perform both real-time face detection and hand tracking. Now integrating each calculator separately by adding the Mediapipe ARR into the libs directory of android studio works just fine, but when I try to add both AARs of "Hand tracking"  and "Face detection " to run them simultaneously I have s

[2021-07-09 11:45] Tortoise17 commented on #2264
@sgowroji I have installed it. and it didnot help. Same error.

[2021-07-09 11:46] Moufdi96 commented on #371
@Sara533 I need to use hand tracking and face detection in one Android app, and I am wondering if you succeeded to solve this issue ?

[2021-07-09 12:19] ozgurshn commented on #2224
Adding  copts = ["-std=c++17"]  to the obj_library solved this problem in my case.

[2021-07-09 12:19] ozgurshn commented on #2275
Adding copts = ["-std=c++17"] to the obj_library solved this problem in my case.

[2021-07-09 12:19] #2275 closed

[2021-07-09 16:05] RohitSingh1226 commented on #1374
I dont have a hand_handedness variable
As I am trying to loop it says none type objects are not iterable.
Could you explain what hand_handedness is?

[2021-07-09 16:22] jiuqiant commented on #2242
In the step 9 of https://github.com/google/mediapipe/blob/master/docs/getting_started/install.md#installing-on-windows, we mentioned having "set GLOG_logtostderr=1" before running the binary.

[2021-07-09 16:27] guiphaniel commented on #2242
Isn't it what I did?

[2021-07-09 19:06] tyrmullen commented on #2241
Just so this issue has some response-- yes, there's no reason we can't support ImageData, ImageBitmap, and several other input types while we're at it.  In fact, we're generally just using it directly in a call to [gl.texImage2D](https://developer.mozilla.org/en-US/docs/Web/API/WebGLRenderingContext/texImage2D), so any of those listed sources should work.  Until we update our InputImage type in th

[2021-07-09 22:59] chuoling commented on #2274
The MediaPipe Python Colab (https://colab.research.google.com/drive/1uCuA6We9T5r0WljspEHWPHXCT_2bMKUy) has an example that generates and visualizes world 3D pose landmarks.

[2021-07-09 23:18] chuoling commented on #2165
You can certainly use Graph directly. FrameProcessor (which [owns a Graph internally](https://github.com/google/mediapipe/blob/374f5e2e7e818bde5289fb3cffa616705cec6f73/mediapipe/java/com/google/mediapipe/components/FrameProcessor.java#L57) ) is really a utility layer that handles some of the common interaction with Graph for the user, e.g., wrapping an image (CPU or GPU) into a corresponding Media

[2021-07-09 23:38] sohail-jogo commented on #2165
Okay, Thank you for the reply!

And Its fine if I pass bitmaps into the graph (input stream) instead of raw frames right?

I have been getting "Fatal signal 6 (SIGABRT)" crashes after I run the app for few minutes or sometimes even seconds. And there are no descriptive error logs or traces to debug the cause of the problem. So, I was wondering if either feeding bitmaps into Graph might be causing

[2021-07-10 03:16] tyrmullen commented on #2221
Pose should be returning estimated (x,y,z) locations for every canonical landmark in the person's body.  It looks like you're using left-shoulder, right-shoulder, and left-hip keypoints if I'm reading the code correctly.  I think there are quite a few directions you could go with this in terms of heuristics for "facing left", "facing right" or "facing straight ahead".  Here's the first one I thoug

[2021-07-10 03:24] tyrmullen commented on #2188
Unfortunately, I believe this is due to a Chromium regression (https://bugs.chromium.org/p/v8/issues/detail?id=11863).  There are some potential workarounds, and there's more related discussion in the Emscripten issues (see https://github.com/emscripten-core/emscripten/issues/14538).  For now, we're waiting to see if only 91 stable will be affected before committing resources to fixing it; if on t

[2021-07-10 03:29] aaaron7 commented on #1231
It's a design suggestion, not a bug.

[2021-07-10 03:33] tyrmullen commented on #1427
No-- Desktop Safari is supported, but the toggling API I mentioned has not yet been finished, so iOS will still have issues.  I will try to get a workaround patch into the next release.  Will ping threads if/when I submit one.

[2021-07-10 09:49] milad-4274 commented on #2253
Thank you @kostyaby
I uploaded my .obj file [here](https://github.com/milad-4274/obj_to_canonical_mesh/blob/main/test.obj).
it seems my .obj file has triangular face. I converted .obj file using your mentioned script, the result remains same.

when I changed all landmark weights to 1, I got strange result with generated canonical mesh by your script. this is the result:
![photo_2021-07-10_13-15-55

[2021-07-10 17:00] AzureRain1 opened #2278 "Performance issue with JS demos on Android/Linux chromium"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): No
- OS Platform

[2021-07-11 03:10] homuler commented on #2170
Probably this is the same issue as #2251 .
Here is a workaround.

[code]

[2021-07-11 06:32] camvinh opened #2279 "Fail when build Hello World, please help!"
There is error message, I want to build it on Windows

ERROR: Traceback (most recent call last):
        File "C:/users/jinrong/_bazel_jinrong/z6v6dmmp/external/build_bazel_rules_apple/apple/internal/testing/ios_rules.bzl", line 63, column 71, in <toplevel>
                _ios_internal_ui_test_bundle = rule_factory.create_apple_bundling_rule(
        File "C:/users/jinrong/_bazel_jinrong/z6v6dmmp

[2021-07-11 10:41] mheskol commented on #2187
Hi @mgyong . It seems my question has been assigned to you. Have you had the chance to look at it and do you have an update you can share at this stage please?
It would be very helpful if you can share what you know currently as we are invested in using MediaPipe and we want to feed into our med-term planning process
Thanks

[2021-07-11 16:47] YuhaoT commented on #2263
Hi @philipjhc, I got the same error, could you tell me about how did you solve it? Thank you in advance!

[2021-07-11 19:19] salsabeel123 commented on #1615
Hello, I need a list of 468 face landmarks names.

[2021-07-11 19:58] kostyaby commented on #2253
That is interesting. Right now, I have 2 possible explanations why it might not work:

1) the runtime vertex IDs (produced by the EOS library) don't match the canonical vertex IDs from the OBJ. That would explain why changing weights also changed the output
2) the procrustes solver somehow gets numerically unstable with the kind data you have with the new EOS approach. That would also why changing

[2021-07-12 01:07] connernam commented on #2274
@chuoling
Thank you for your reply.
Colab's demo seems to cover only a single image.
What I want is 3d posture estimation in real time (on webcam).

[2021-07-12 04:32] chuoling commented on #2274
Have you tried using the code snippet in https://google.github.io/mediapipe/solutions/pose.html#python-solution-api under `# For webcam input`, and add the following for visualization the world 3D pose landmarks (like in the Colab with static images)?

[code]

[2021-07-12 04:37] chuoling commented on #1998
@sgowroji This issue is more about [Object Detection](https://google.github.io/mediapipe/solutions/object_detection.html), not [Objectron](https://google.github.io/mediapipe/solutions/objectron.html), and therefore not a duplicate of #1999.

[2021-07-12 04:39] chuoling commented on #1998
@glnmzx888 Please find information about this object detection model in https://github.com/google/mediapipe/blob/master/mediapipe/models/object_detection_saved_model/README.md.

[2021-07-12 04:47] connernam commented on #2274
Yes, I tried the code snippet.

The result is shown as a simple image plotted as shown below.
![image](https://user-images.githubusercontent.com/42915968/125231915-909e2100-e316-11eb-835a-50d1083b9380.png)
I want to implement a 3D plotter that moves the same as the input image in Python in real time like Fig 5.
![image](https://user-images.githubusercontent.com/42915968/125232320-57b27c00-e317-11e

[2021-07-12 04:55] chuoling commented on #1995
We previously included an upper-body-only model because the full-body model didn't handle well the cases where the lower body is not visible. However, we've improved the full-body model (across all model complexities: lite, full, heavy) such that it now handles those cases well and a special upper-body-only model is no longer needed.

Going forward, we plan to only maintain the full-body model (wh

[2021-07-12 05:02] chuoling commented on #1903
This is simply because we have been focusing on other solutions (above), and haven't had a chance to revisit object detection, which is one of the earliest solutions we released. A Python solution API for object detection is certainly feasible, and we will mark this as a feature request.

[2021-07-12 05:07] chuoling commented on #1444
Update: We plan to improve the Face Mesh Solution API with an option to additionally compute and output iris landmarks, currently targeting a Q3 2021 release (likely Aug/Sept). We will make sure Holistic also gets the same improvement.

[2021-07-12 05:15] chuoling commented on #1389
@djthegr8 Sorry for the late response. We've added palm-detection solution APIs as a feature request, and will update this issue with progress.

[2021-07-12 05:23] chuoling commented on #1004
Just to close this issue: We released first round of MediaPipe JavaScript Solution APIs (including Pose, Face Mesh, Hands, and Holistic) in Dec 2020, and since then have made improvements and released more solutions. Please find more information in https://google.github.io/mediapipe/getting_started/javascript.html.

[2021-07-12 05:23] #1004 closed

[2021-07-12 05:25] djthegr8 commented on #1389
Amazing!

[2021-07-12 05:29] djthegr8 commented on #2276
the .md in the link is causing the 404, you can just go [here](https://google.github.io/mediapipe/getting_started/install)

[2021-07-12 05:44] chuoling commented on #832
There is no existing mechanism to reset a graph other than closing the graph and creating a new one. This is because not only the graph can hold memory (e.g., via packets), internal implementation of the nodes (calculators) and sometimes even the ML models can also have memory.

That being said, MediaPipe Face Mesh (and several other MediaPipe solutions) does come with an [static_image_mode](https

[2021-07-12 06:40] #2214 closed

[2021-07-12 06:40] #2215 closed

[2021-07-12 06:42] DimIsaev commented on #2252
not solution

[2021-07-12 08:30] milad-4274 commented on #2253
Thank you @kostyaby  for your guidence.
tell me if i'm wrong.
you mean, I should not use `FaceGeometryPipelineCalculator` and write my own custom face_geometry_calculator (according to previous guidence) without using procrustes solver to check if problem exist or not.
if it's right, I'll do it and inform here about result in next few days.
thank you again.

[2021-07-12 08:50] DimIsaev commented on #2254
I could not run from the code from the link

[2021-07-12 11:01] vvasily opened #2280 "Tflite model with FlexPad isn't loaded by TfLiteInferenceCalculator"
I try to build app for Android to invoke tflite model in TfLiteInferenceCalculator but during the LoadModel calling in tflite_inference_calculator.cc I get the issue that tflite model cannot be loaded with FlexPad op.

It seems that I need to add tensorflow/lite/delegates/flex:delegate build dependences.
But with this dependences the app is not built. I tried to add flex:delegate to tflite_inferen

[2021-07-12 11:14] gitam2869 commented on #742
It's working on some devices and in some devices it's not showing correct output. Do you have any other solution for it, if yes please let us know.
Thank you

[2021-07-12 14:24] DimIsaev commented on #2238
![image](https://user-images.githubusercontent.com/11172642/125303825-49845000-e357-11eb-8ebc-db2b153f4f35.png)
this is exactly the line I have in my repository

What else can you try?

error:
![image](https://user-images.githubusercontent.com/11172642/125304191-92d49f80-e357-11eb-876c-7bba36369249.png)

[2021-07-12 16:55] dlvrydryvr commented on #2170
0.8.6 Holistic gpu Segmentation fault

Pop!_OS 21.04
AMD Ryzen 7 5800H
NVIDIA GeForce RTX 3060
Python 3.9.5
CUDA 11.4
gcc 10.3.0
OpenCV 3.4.15
TensorFlow 2.5.0
Bazelisk 1.9.0

[2021-07-12 17:34] DimIsaev commented on #1530
commands
[code]

Error
`
[2,792 / 2,807] 2 actions running
    //third_party:opencv_cmake; 913s processwrapper-sandbox
ERROR: /content/mediapipe/third_party/BUILD:97:15: CcCmakeMakeRule third_party/opencv_cmake/include failed (Exit 2): CMake_wrapper_script.sh failed: error executing command bazel-out/k8-opt/bin/third_party/opencv_cmake_scripts/CMake_wrapper_script.sh
`

commands
[code]
Errror
`
ER

[2021-07-12 17:48] vvasily commented on #2280
I got the following issue:

ERROR: /home/user/.cache/bazel/_bazel_root/3f4b1ab0378fd30fe519cc57222e9b37/external/org_tensorflow/tensorflow/core/BUILD:1025:11: C++ compilation of rule '@org_tensorflow//tensorflow/core:portable_tensorflow_lib_lite' failed (Exit 1): clang failed: error executing command external/androidndk/ndk/toolchains/llvm/prebuilt/linux-x86_64/bin/clang -gcc-toolchain external/an

[2021-07-12 18:07] kostyaby commented on #2253
Yes, correct, my advice for debugging this is to not use `FaceGeometryPipelineCalculator` but rather implement a simpler version of the calculator to check if the procrustes solver is the problem

[2021-07-12 19:13] gb2111 commented on #2266
I am also interested in that.

[2021-07-12 19:23] z0y1 commented on #2241
Thank you for your reply,and the advice! i'm so glad to hear ImageData, ImageBitmap will be support as input source.

[2021-07-13 02:32] FFFOCUS opened #2281 "how to deal with an empty vector before loop calculator？"
here is my simplify graph definition：
1、parent.pbtxt
input_stream: "input_video"
output_stream: "multi_objs_recs"
node {
  calculator: "DetectionSubgraph"
  input_stream: "IMAGE:input_video"
  output_stream: "DETECTIONS:object_detections"
}
node {
  calculator: "MultiRecSubgraph"
  input_stream: "IMAGE:input_video"
  input_stream: "DETECTIONS:object_detections"
  output_stream: "multi_recs"
}
node

[2021-07-13 02:40] carter54 opened #2282 "add segmentation smoothing in selfie segmenation example"
Thanks for this nice work~

I find a segmentation smoothing calculator in

mediapipe/calculators/image/segmentation_smoothing_calculator.cc
[https://github.com/google/mediapipe/blob/374f5e2e7e818bde5289fb3cffa616705cec6f73/mediapipe/calculators/image/segmentation_smoothing_calculator.cc](url)
But it is not used in any segmenation task. Could you provide examples showing how to use it in the selfie

[2021-07-13 04:36] sgowroji commented on #2147
Hi @yuxiaohui78, Could you please try this https://github.com/google/mediapipe/issues/2275#issuecomment-877145926. I see @ozgurshn has resolved his issue.

[2021-07-13 04:37] sgowroji commented on #2224
Hi @ljmkimqx, Could you please try the above https://github.com/google/mediapipe/issues/2224#issuecomment-877145750

[2021-07-13 04:40] sgowroji commented on #2248
Hi @eshajoshi, Did you get a chance to go through the above [comment](https://github.com/google/mediapipe/issues/2248#issuecomment-875881905). Thanks!

[2021-07-13 05:02] sgowroji commented on #2279
Please try this https://github.com/google/mediapipe/issues/2065#issuecomment-847188247

[2021-07-13 05:07] sgowroji commented on #2280
Hi @vvasily, Could you please provide your graph and code changes to understand the issue much better. Thanks!

[2021-07-13 05:15] gitam2869 commented on #1192
Thank you, but it's not working on some devices? How can i solved this issue? Eagerly waiting for your response.

[2021-07-13 06:15] sgowroji commented on #2241
Glad to know you resolved. We are closing this issue now. Reach us back if you have any relevant query on it.

[2021-07-13 06:16] #2241 closed

[2021-07-13 06:21] sgowroji commented on #832
Hi @RaphiePS, Did you get a chance to go through the above [comment](https://github.com/google/mediapipe/issues/832#issuecomment-877988977). Thanks!

[2021-07-13 06:24] #1389 closed

[2021-07-13 06:29] RohitSingh1226 commented on #1374
Thanks for the prompt @ZodiacFRA
I was actually concerned with the for loop, hand_handedness was empty for my code case.
That is why I was getting none type not iterable

I fixed my error using the conversion from protobuf to python

        if self.results.multi_handedness:
            for idx, hand_handedness in enumerate(self.results.multi_handedness):
                handedness_dict = MessageT

[2021-07-13 06:30] sgowroji commented on #1444
Hi @delebash, Please subscribe to our release notes for the new updates of Q3. Presently we are closing this issue now.

[2021-07-13 06:30] #1444 closed

[2021-07-13 06:31] sgowroji commented on #1995
Hi @danielbraun89, Could you please respond to the above [comments](https://github.com/google/mediapipe/issues/1995#issuecomment-877970342).

[2021-07-13 06:40] djthegr8 commented on #1389
uhh @sgowroji could we keep this opened till its been added?

[2021-07-13 06:40] #763 closed

[2021-07-13 06:40] #1122 closed

[2021-07-13 06:40] #942 closed

[2021-07-13 06:40] #964 closed

[2021-07-13 07:29] SamuelYuan2016 commented on #1803
Could you also share the code with me? Thank you.

[2021-07-13 07:40] #1088 closed

[2021-07-13 08:19] jaywalk1414 opened #2283 "Generate signed apk with minifyEnabled (Proguard, R8) carshes in android studio"
I'm trying to generate signed apk (release type) with Gradle. The project uses an AAR library that in debug build works absolutely fine. Generally it is a customized Face Effect of MediaPipe that gets inputs from android-Java and in processor.setOnWillAddFrameListener send it with help of packets to the graphs(ex. to changing colors suddenly).

my proguard-rules.pro is:
`-keep class com.google.med

[2021-07-13 09:09] Ronald77777 commented on #1661
and how can i use that library to convert

[2021-07-13 09:38] vvasily commented on #2280
Hi @sgowroji ,

my  pbtxt
# Decodes an input video file into images and a video header.
node {
  calculator: "OpenCvVideoDecoderCalculator"
  input_side_packet: "INPUT_FILE_PATH:input_video_path"
  output_stream: "VIDEO:input_video"
  output_stream: "VIDEO_PRESTREAM:input_video_header"
}

node {
  calculator: "ColorConvertCalculator"
  input_stream: "RGB_IN:input_video"
  output_stream: "GRAY_OUT:

[2021-07-13 09:42] vvasily commented on #2280
@sgowroji I have found the workaround for loading of tflite model with Flex:

1) Add "@org_tensorflow//tensorflow/lite/delegates/flex:delegate", to tflite_inference_calculator:
    }) + select({
        "//conditions:default": [],
        "//mediapipe:android": [
            "//mediapipe/util/android/file/base",
            "@org_tensorflow//tensorflow/lite/delegates/nnapi:nnapi_delegate",

[2021-07-13 11:25] neuronfactory opened #2284 "Hand_tracking example build error on Ubuntu"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information**
- OS Platform and Distribution :  Ubuntu 20.04.2.0 via VMware-player16.1.2 on Windows10
- Compiler version : gcc 9.3.0
- Programming Language and version :

[2021-07-13 11:39] maky-hnou commented on #2269
I am facing the same thing with hand tracking when I run a multithreading python code.

[2021-07-13 12:51] MrNeither opened #2285 "Run PoseTraking inside c++"
Hi! Please help me, I have such a situation, I have a c++ code in which I read an image, and I need to call poseTracking from mediapipe. I can't figure out what I need to do so that I can call Post Tracker for my images?

[2021-07-13 12:55] MrNeither commented on #2285
And one thing: my project is going for ios

[2021-07-13 13:08] vandics commented on #1803
maybe as an illustration, when you use the code in a video or in real-time with a duration of 3 minutes and get about 300 frames, then the code will save the file after you use it not when you get the frame. So the code collects all the coordinates of 300 frames and then saves it, not every time it gets a frame, and then it is saved.

[2021-07-13 13:24] UrielJavier commented on #2181
@tyrmullen @AmitMY thnks, thats works!

[2021-07-13 13:43] DimIsaev commented on #1530
Error after build

![image](https://user-images.githubusercontent.com/11172642/125462364-28836fc3-19f7-4ae2-855b-7c8d2e1beedf.png)

[2021-07-13 14:10] SamuelYuan2016 commented on #1803
Nice, it works.  I have not sure if we need put all the data into a database, are there any tips, thank you.

[2021-07-13 16:17] AndreV84 commented on #1922
thanks
we will try

[2021-07-13 16:37] moezeus opened #2286 "Mediapipe Object Tracking GPU with custom TFLite Model"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): Linux Ubuntu 18.04

[2021-07-13 17:38] Shounak-Ghosh commented on #1177
I am in the same situation. I have pinpointed "if (!poller_landmark.Next(&landmark_packet)) break;" as the issue but don't know where to go from there. When there is no face to be detected, there are obviously no coordinates that can be printed, and this causes problems for the poller_landmarks stream. Not sure how to proceed and would appreciate any insight.

[2021-07-13 19:13] NourOmran opened #2287 "face AR"
Hello,
I want to use MediaPipe to integrate it with glasses or masks like this photo
<img width="752" alt="Screenshot 2021-07-13 at 9 08 47 PM" src="https://user-images.githubusercontent.com/49115119/125511268-a06b1173-dacf-4c63-b8d9-7141d3af5a62.png">

How can I make this ?

thanks

[2021-07-14 01:38] ygykotete908 opened #2288 "The GPU version was compiled successfully, but could not run！！！"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): Ubuntu18.04
- Comp

[2021-07-14 02:22] chensisi0730 commented on #2013
I　runned official procedures ,  I don't know what this is

[2021-07-14 02:41] vandics commented on #1803
I think if you want to put all the data into a database you should change the data format from the code like if you use a database with JSON format. Maybe anyone here could give advice about that or you can open new issues @sgowroji.

[2021-07-14 02:47] vandics commented on #1830
Hello, you could use code here  https://pastebin.com/BA4E1fAF. The output will save on .xlsx format instead of .csv but you could change it to .csv

[2021-07-14 03:16] brucechou1983 commented on #1665
@mayank10j @aniketiq I'm facing the same problem. How do you solve the opencv linking problem for running `bdist_wheel`?

[2021-07-14 06:05] sgowroji commented on #2284
Please try this https://github.com/google/mediapipe/issues/1128#issuecomment-696225474.

[2021-07-14 06:42] sgowroji commented on #2286
Hi @moezeus, Seems duplicate of this https://github.com/google/mediapipe/issues/1731#issuecomment-844318727 can help you.

[2021-07-14 06:45] sgowroji commented on #2287
Hi @NourOmran, you should check this https://github.com/google/mediapipe/issues/1155

[2021-07-14 06:47] sgowroji commented on #2288
Hi @ygykotete908, You should provide complete steps and above details to understand the issue much better.

[2021-07-14 07:12] sgowroji commented on #2285
Hi @MrNeither, So are you Referring  pose tracking in IOS platform?. Could you please share your code changes or did you use any of the MediaPipe templates?

[2021-07-14 07:18] sgowroji commented on #1177
Hi @Gul11, Could you please respond, if you're still looking resolution for the above query. Thanks!

[2021-07-14 07:37] sgowroji commented on #1147
Hi @ahmedAlmasri, Could you please try  [face mesh solution](https://google.github.io/mediapipe/solutions/face_mesh) from the latest release. It is updated with lot of improvements, Please reach us if you still have any queries specific to the above request.

[2021-07-14 07:37] #1147 closed

[2021-07-14 07:43] MrNeither commented on #2285
@sgowroji Hi, thank you very much for the quick response !
I have tried many different options. Ideally, get a framework in which the graph will be built, and methods for calling it in the picture. I tried to build a dynamic library for this, but the resulting framework does not work for me.
This is Build File
[code]

I haven't developed the code for working with the graph yet, I inserted a test e

[2021-07-14 07:45] MrNeither commented on #2285
Also i tried build a static library, but i have a error like in #364 and the attempts of the proposed corrections do not work for me

[2021-07-14 07:59] sgowroji commented on #1053
From the above resolved comments. We are closing this issue now.

[2021-07-14 07:59] #1053 closed

[2021-07-14 08:07] sgowroji commented on #1150
Hi @vasanthhr, you can try this [codepen](mediapipe.dev/demo/hands) hands sample and can make necessary changes as your requirement. Reach us if you still have any queries specific to it.

[2021-07-14 08:07] #1150 closed

[2021-07-14 09:22] qichuangguo opened #2289 "bazel build -c opt mediapipe/graphs/holistic_tracking:holistic_tracking_gpu_deps"
external/org_tensorflow/tensorflow/lite/delegates/gpu/gl/BUILD:196:11: C++ compilation of rule '@org_tensorflow//tensorflow/lite/delegates/gpu/gl:gl_buffer' failed (Exit 1): gcc failed: error executing command /usr/bin/gcc -U_FORTIFY_SOURCE -fstack-protector -Wall -Wunused-but-set-parameter -Wno-free-nonheap-object -fno-omit-frame-pointer -g0 -O2 '-D_FORTIFY_SOURCE=1' -DNDEBUG -ffunction-sections

[2021-07-14 10:20] milad-4274 commented on #2253
Hey @kostyaby
I tried to implement your mentioned procedure for debugging but I have a problem. I believe H and W depend on the camera distance accross the z axis, but in  your mentioned formula, I did not see any input of z.
I assumed that H and W are dimensionless and I multiplied them to my selected z(50 or 100) (is it right assumption?). but I did not see anything in output video. no black tex

[2021-07-14 10:42] sgowroji commented on #2289
Hi @qichuangguo, Could you please provide complete steps to reproduce the above error. Thanks!

[2021-07-14 11:15] #1842 closed

[2021-07-14 11:48] neuronfactory commented on #2284
Thanks. but followed #1128 , I used command
**bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 --action_env PYTHON_BIN_PATH=$(which python3) mediapipe/examples/desktop/hand_tracking:hand_tracking_cpu**,
and the result was same error.

[2021-07-14 12:29] AzureRain1 commented on #2283
The crash comes from FluentLogger which is a Google looger module. My workaround is just to remove those and use the Android syste logging instead.

[2021-07-14 13:55] sgowroji commented on #2283
Hi  @jaywalk1414, could you please provide your code changes to understand the issue much better. Thanks!

[2021-07-14 15:37] eshajoshi commented on #2248
Thanks so much @sgowroji , I'll follow up with this soon! Appreciate the help here.

[2021-07-14 16:44] diegoaguilartaio commented on #1788
It is happening on macOS with hands and object detector.  Any updates on this?

[2021-07-14 18:23] tyrmullen commented on #2189
This type of error (something involving "preloading" or "FS_"-functions) indicates that loading the runtime assets is failing.  Perhaps your network connection failed during a load?  If this issue is repeatable, then please use the "Network" tab of the "Chrome Developer Tools", choose "disable cache", refresh the demo, and see what requests are made (and what their HTTP status codes are).  Please

[2021-07-14 19:48] moezeus commented on #2286
Thanks for your repply,
i have look at the thread, and doing some test using benchmark tools on android, especially using use_gpu flag, and get this output:

---

command :
[code]
1. from mediapipe model (ssdlite_object_detection.tflite) :
output:
Average inference timings in us: Warmup: 68553.9, Init: 1157, Inference: 67842.9

2. from my custom generated model (model.tflite) :
output:
Average inf

[2021-07-15 04:04] sgowroji commented on #1654
Hi @vasanthhr, Could you please respond if your still looking answer for the above query. Thanks!

[2021-07-15 04:09] sgowroji commented on #1700
Hi @aswin-datakalp, Could you please check the latest documentation of Hands. We have been improving our models and documentation continuously. Please reach us back if you did not find answers to the above query.

[2021-07-15 05:15] #2228 closed

[2021-07-15 05:53] sgowroji commented on #1051
We are closing this issue now as we did not find any relevant update from the reporter.

[2021-07-15 05:53] #1051 closed

[2021-07-15 05:56] sgowroji commented on #1202
Assuming the above [comment](https://github.com/google/mediapipe/issues/1202#issuecomment-727122752) resolved your query, We are closing this issue now.

[2021-07-15 05:57] #1202 closed

[2021-07-15 06:03] sgowroji commented on #1080
Assuming the above [comment](https://github.com/google/mediapipe/issues/1080#issuecomment-712356578) resolved your issue we are closing this now.

[2021-07-15 06:03] #1080 closed

[2021-07-15 06:06] sgowroji commented on #1054
Assuming the above issue was answered your query, We are closing this now.

[2021-07-15 06:06] #1054 closed

[2021-07-15 06:20] sgowroji commented on #1067
Hi @H1Gdev, Could you please confirm if you are still looking resolution for the above query. Thanks!

[2021-07-15 06:24] sgowroji commented on #1121
Hi @siva-wellnesys, We have updated our pose models with a  lot of improvements. And the same is supported on multiple platforms. Please have a look at [pose solution](https://google.github.io/mediapipe/solutions/pose) and reach us back if you are still looking answer for any relevant query. Thanks!

[2021-07-15 06:24] #1121 closed

[2021-07-15 06:38] sgowroji commented on #1230
As we see the above issue resolved from the [comments](https://github.com/google/mediapipe/issues/1230#issuecomment-716938373). We are closing it now.

[2021-07-15 06:38] #1230 closed

[2021-07-15 06:45] mstfabbstbr opened #2293 "lots of issues during run the HelloWorld! on iOS"
hey everyone
at first i installed mediapipe then installed python, after that installed all requirment tools such as tulsi, bazel, etc.

then i just follownig the instruction from: [HelloWorld! on iOS](https://google.github.io/mediapipe/getting_started/hello_world_ios.html#setup)
in the instruction, they said the project name should be "HelloWorld", i did it, but when i want to run the tulsi, it s

[2021-07-15 06:57] mohammed-safwan commented on #1132
Meanwhile, [Build with Bazel in Command Line](https://google.github.io/mediapipe/getting_started/android.html#option-1-build-with-bazel-in-command-line) can be used for deploying the apps.

[2021-07-15 10:16] sgowroji commented on #2293
Hi @mstfabbstbr, Could you please provide steps to reproduce the above error. Thanks!

[2021-07-15 15:14] mstfabbstbr commented on #2293
Hi @sgowroji,
I just followed everything in the documentation in that linked above 👆🏼
But, when i want to generate the mediapipe project (which said in the documentation), tulsi shows me an error that cannot find BUILD file for facedetectiongpu, facedetectioncpu, and etc.
So that’s why i choose another config in configs tab.. then i customized it for just select HelloWorldApp (which i want to gene

[2021-07-15 15:40] DimIsaev commented on #2254
How long wait answer ?

[2021-07-15 17:33] Rassibassi commented on #2261
Hi,
having similar problem.

Your problem is that `LandmarkGrid` is not part of `@mediapipe/pose`, see [here](https://cdn.jsdelivr.net/npm/@mediapipe/pose@0.4.1624666670/index.d.ts) for its interface.

`LandmarkGrid` is part of `@mediapipe/control_utils_3d`, see [here](https://cdn.jsdelivr.net/npm/@mediapipe/control_utils_3d@0.2.1625245254/index.d.ts)

However, with `import LandmarkGrid from '@med

[2021-07-15 18:55] realAnish9 commented on #1848
How??

[2021-07-15 20:03] Rassibassi commented on #2274
Not exactly as in the picture, but check out my mediapipe demo repository. Almost all the solutions as python real-time applications applied on the webcam video signal.

https://github.com/Rassibassi/mediapipeDemos

[2021-07-15 20:08] Rassibassi commented on #2254
Or check out my mediapipe demo repository, run `python iris.py` after installation of all the pip packages and don't forget to also download the tf_lite model for the iris detection as described in the readme.

https://github.com/Rassibassi/mediapipeDemos

[2021-07-15 20:10] Rassibassi commented on #2235
Check out my mediapipe demo repository, run python iris.py after installation of all the pip packages and don't forget to also download the tf_lite model for the iris detection as described in the readme. It's not a single iris depth module, but does the job. I reimplemented the depth calculations in numpy.

https://github.com/Rassibassi/mediapipeDemos

[2021-07-15 20:27] Rassibassi commented on #1457
Check out my demo here: https://github.com/Rassibassi/mediapipeDemos/blob/main/head_posture.py

many more demos under https://github.com/Rassibassi/mediapipeDemos

[2021-07-15 22:48] RafaelMiquelino opened #2294 "Can't instantiate binary graph for face_geometry_from_landmarks and face_geometry_from_detection"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): macOS Big Sur 11.4

[2021-07-15 23:18] shivaylamba commented on #1484
@DanielWFrancis are there any examples of MediaPipe integration with React Native or any blogs?

[2021-07-16 02:51] kostyaby commented on #2253
Hey @milad-4274,

Whoops, you're right, those formulas are not what you need. What I gave you was perspective camera formulas which convert the metric 3D space into the NDC. What you need are formulas within the metric 3D space so you can later project them with a perspective camera. In a way, they have to be inverse in respect to the camera formulas. Sorry for a misleading advice! `H` and `W` at

[2021-07-16 03:29] sgowroji commented on #2294
Duplicate https://github.com/google/mediapipe/issues/1578

[2021-07-16 03:55] sgowroji commented on #1187
Above [comment](https://github.com/google/mediapipe/issues/1187#issuecomment-727121954) answered your query we are closing this issue now.

[2021-07-16 03:55] #1187 closed

[2021-07-16 03:58] sgowroji commented on #1090
Assuming the above comments resolved your query we are closing this issue now.

[2021-07-16 03:58] #1090 closed

[2021-07-16 04:00] sgowroji commented on #1060
Assuming the above comments resolved your query, We are closing this issue now.

[2021-07-16 04:00] #1060 closed

[2021-07-16 04:15] sgowroji commented on #958
Hi @alter-sachin, let us know if you're still looking resolution for the above query.

[2021-07-16 04:46] sgowroji commented on #974
Hi @endersaka, Could you please test the above with the latest release and reach out if you face the same.

[2021-07-16 04:46] #974 closed

[2021-07-16 04:51] sgowroji commented on #1017
Hi @seghier, Could you please test the above with the latest [facemesh](https://google.github.io/mediapipe/solutions/face_mesh#face-landmark-example)
IOS build and let us know if you experience the same. Thanks!

[2021-07-16 04:51] #1017 closed

[2021-07-16 04:55] sgowroji commented on #1132
Hi @downeydowney, I would request you to check the above with the latest release and let us know if you still see the same.

[2021-07-16 04:55] #1132 closed

[2021-07-16 04:57] DimIsaev commented on #2254
ok.  I go testing

[2021-07-16 05:15] #811 closed

[2021-07-16 05:15] #966 closed

[2021-07-16 05:15] #1104 closed

[2021-07-16 05:15] #1052 closed

[2021-07-16 06:15] #1400 closed

[2021-07-16 06:15] #1152 closed

[2021-07-16 06:54] sgowroji commented on #2272
Could you please provide your code and graph changes on top of it. With a screenshot or video and device used for testing the above.

[2021-07-16 07:50] mstfabbstbr commented on #2293
@sgowroji can't you help me for this?

[2021-07-16 08:11] gyuhui opened #2295 "AttributeError"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):
- [MediaPipe version]

[2021-07-16 08:12] Moufdi96 commented on #2277
@sgowroji , @jiuqiant someone could help please it's urgent !

[2021-07-16 08:16] sgowroji commented on #2277
This is another approach you can try https://github.com/google/mediapipe/issues/2256#issuecomment-876427454

[2021-07-16 08:17] sgowroji commented on #2293
Assigned owners who can guide you on the above.

[2021-07-16 08:37] Moufdi96 commented on #2277
@sgowroji thanks for your response, I am aware of the holistic Model, my use-case requires multi-face and multi-hand detection
the holistic model does not allow that unfortunately as there is the pose estimation ! I am looking to combine just the face and hand detection.

[2021-07-16 09:15] #2243 closed

[2021-07-16 10:01] qichuangguo opened #2296 "Packet serialization"
processor.addPacketCallback("face_landmarks", new PacketCallback() {
            @Override
            public void process(Packet packet) {

            }
        });

Android:How to get coordinates from the packet, thank you

[2021-07-16 21:18] jimmy7799 commented on #1460
From https://meet.google.com/,

https://meet.google.com/_/rtcvidproc/release/hashed/segm_full_sparse_v1008_0bda82336d236e21e52f2b74129b9883.dat
https://meet.google.com/_/rtcvidproc/release/hashed/segm_lite_v1082_c59fbb2b8451df2c2752e562c6523bcc.dat

Looks like the latest model is hashed and can not be downloaded anymore.

[2021-07-17 04:57] mstfabbstbr commented on #2293
there is no answer??!!??

[2021-07-17 05:10] jaywalk1414 commented on #2283
Hello @sgowroji, Which part do you mean exactly?

[2021-07-17 11:53] milad-4274 commented on #2253
@kostyaby  Thank you for your great help.
 just for informing, I got almost correct answer with your guidence. the black texture renderred result represented in following image:

![photo_2021-07-17_10-23-19](https://user-images.githubusercontent.com/48384506/126035939-2b1d27e7-0cdf-474a-8b5b-6284c9fe8c45.jpg)

as you said before:

so the most likely problem is about numerical problem with procrust

[2021-07-17 12:40] mstfabbstbr commented on #2293
i solved some of my problem by using bazel.. and now i realized that the tulsi has some problem.. it doesn't find the python_build_path..

i have installed numpy in python3 and python2..

[2021-07-17 13:39] angistu opened #2297 "no module named mediapipe"
I converted python file become .exe but when I run that file there's notification "no module named mediapipe"
Anybody know why I can't run that file?

[2021-07-17 13:54] hotuemon opened #2298 "Mediapipe hand tracking build error on ubuntu20.04"
I tried to build hand tracking on Ubuntu 20.04 and I got the following error:
[code]
I tried https://github.com/google/mediapipe/blob/master/docs/getting_started/troubleshooting.md#missing-python-binary-path　
but an error has occurred.

OS  Ubuntu 20.04.2
gcc/g++ 9.3.0
Bazelisk version 1.1.0
OpenCV version 3.4.15

[2021-07-17 14:39] dibet commented on #294
But how?

[2021-07-17 14:50] ArnaubHie commented on #294
How?

Le sam. 17 juil. 2021 à 4:40 PM, dibet ***@***.***> a écrit :

[2021-07-17 15:51] qiangieee opened #2299 "tulsi can't retrieve bazel workspace"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- MacOS big sur, iOS
- xcode 12.5.1 and cmake 3.17.2
- Programming Language and version: python 3.

[2021-07-17 22:03] dibet opened #2300 "CMake ??"
Can you have any way to generate one library and include files to use with cmake
Thanks

[2021-07-18 00:15] H1Gdev commented on #1067
I couldn't find solution...
The latest version has build error...

[2021-07-18 02:15] senshin998 opened #2301 ""onFrame" may stop working without throwing any exception In Mediapipe web api"
the function   "onFrame"  in"node_modules\@mediapipe\camera_utils\camera_utils.js"  may stop working  without throwing any exception after the program has been running for a while

         cameraPose = new Camera(videoElement, {
                onFrame: async () => {
     // may stop
}
This is a frequently occurring bug, and it is worth paying attention to
version :  @mediapipe/pose 0.4.162466667

[2021-07-18 06:12] peter-wildman opened #2302 "WebAssembly.RuntimeError in Desktop Safari 14.1.1"
**System information**
JS Face Mesh Code sourced from media pipe documentation site. On Safari 14.1.1 MacOS 11.4 Desktop

**Describe the current behavior:**

Gives this error:

[Warning] No EM_ASM constant found at address 512496 (face_mesh_solution_wasm_bin.js, line 9)
[Error] Unhandled Promise Rejection: RuntimeError: abort(No EM_ASM constant found at address 512496) at jsStackTrace@https://cdn.

[2021-07-18 10:01] RafaelMiquelino commented on #2294
Indeed. The related solution worked. Thanks!

[2021-07-18 10:01] #2294 closed

[2021-07-18 10:15] peter-wildman commented on #2302
Seems to be working now.

[2021-07-18 10:15] #2302 closed

[2021-07-18 10:19] peter-wildman commented on #1427
Is the iOS camera utils issue of not loading the camera a part of the known issues being looked at?

[2021-07-18 11:00] mstfabbstbr opened #2303 "FaceEffectGpu has our prefix, but does not seem to match any of our examples"
Hey there,

I'm using Mediapipe on iOS, and when i want to generate provisioning profiles for faceEffectApp, terminal shows me an error. I searched for it and i found that the app name and the name in the example list are different.

This the list of the name of all examples in Mediapipe.

<img width="888" alt="Screen Shot 1400-04-27 at 15 18 20" src="https://user-images.githubusercontent.com/5411

[2021-07-18 11:10] RafaelMiquelino opened #2304 "Failed to read the geometry pipeline metadata from file"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): macOS Big Sur 11.4

[2021-07-18 12:59] SaadBazaz commented on #2235
Much needed. Seems simple enough considering that CPP code can be easily ported to Python.

[2021-07-18 13:08] DimIsaev commented on #2235
who can it be easy?

most ML researchers do not know
and shouldn't know C ++

[2021-07-18 13:39] Pawandeep-prog opened #2305 "How to get Detected co-ordinates in java android?"
- Have I written custom code  - No
- Solution - Face Detection
- Programming Language- java

**I want to get the Detected co-ordinates instead of output frame.**
When we run FaceDetection , the FrameProcessor basically returns the processed Frame but what I want is to get the vector of detections which should contains the <start_x, start_y, h, w> I mean co-ordinates of rectangle.
Any Help will be

[2021-07-18 14:33] edib commented on #1778
Same Problem, Ubuntu 20.04
Mediapipe 0.8.6
python 3.8
Code:

[code]
Last week this code is working. But now, produces below error:

[code]

[2021-07-18 15:18] edib opened #2306 "ValueError: while processing the input streams of subgraph node InferenceCalculator: TAG:index:name is invalid"
Ubuntu 20.04
Mediapipe 0.8.6
python 3.8
The following code was running in my computer a week ago:

[code]
Last week this code is working. But now, produces below error:

[code]
I have reinstall the mediapipe in systemwide, the results have not changed.
I also have tried it in jupyter notebook. The error is produced when I run below codes
[code]

[2021-07-18 18:06] SaadBazaz commented on #2235
The Iris portion is written in C++, from my experience creating an abstraction over a lower-level implementation is at least easier than the other way round.