[2021-12-06 08:56] LMR2018 commented on #644
@TanmoyPanigrahi    Hello, you have solved it？  I am a newbie, can you tell me more about the specific implementation?  I want to look at the image preprocessing and inference process of android Hand_landmark model and I want to know how long each process take

[2021-12-06 08:57] LMR2018 commented on #2825
@123epsilon    Hello, you have solved it？I am a newbie, can you tell me more about the specific implementation? I want to look at the image preprocessing and inference process of android Hand_landmark model and I want to know how long each process take

[2021-12-06 08:59] sgowroji commented on #2783
For pose world landmarks you can find in this file [gpu](https://github.com/google/mediapipe/blob/33d683c67100ef3db37d9752fcf65d30bea440c4/mediapipe/modules/pose_landmark/pose_landmark_gpu.pbtxt) and [cpu](
https://github.com/google/mediapipe/blob/33d683c67100ef3db37d9752fcf65d30bea440c4/mediapipe/modules/pose_landmark/pose_landmark_cpu.pbtxt#:~:text=%23%20Pose%20world%20landmarks,output_stream%3A

[2021-12-06 09:38] Unibas3D commented on #2851
Do you have any solution for the Android emulator?

[2021-12-06 09:38] shivambhardwaj120 opened #2862 "TfLiteInferenceCalculator failed to load model."
<em> I tried to load my custom model with TfliteInferenceCalculator. It gave following error:
IrisTrackingGpuApp[1840:609884] The model is not a valid Flatbuffer buffer. I passed the path of a tflite model and I am working with latest mediapipe. I am building a IOS app.<em>

[2021-12-06 09:40] nicolacapece commented on #2851
Hi @sgowroji, Do you have any solution for the Android emulator?

[2021-12-06 10:13] LMR2018 opened #2863 "How to configure 3d models in Python hand tracking CPU and GPU? I want more accurate z coordinates, okay?"
How to configure 3d models in Python hand tracking CPU and GPU?  I want more accurate z coordinates, okay?

[2021-12-06 10:14] LMR2018 opened #2864 "How to configure 3d models in Android hand tracking GPU? I want more accurate z coordinates, okay?"
How to configure 3d models in Android hand tracking GPU?  I want more accurate z coordinates, okay?

[2021-12-06 10:43] sgowroji commented on #2862
Hi @shivambhardwaj120, Could you please provide steps to reproduce the above error. Thanks!

[2021-12-06 10:50] #2805 closed

[2021-12-06 10:55] shivambhardwaj120 commented on #2862
Hi @sgowroji,  I changed  a lot of things in the subgraph of iris tracking subgraph, I am not sure,  you can reproduce it directly. Subgraph takes a GPU image as input, resize it to (224,224,3), make it a cpu image, passes it to "TfLiteConverterCalculator" and then to
node {
calculator: "TfLiteInferenceCalculator"
input_stream: "TENSORS:right_image_tensor"
output_stream: "TENSORS:right_detection_t

[2021-12-06 11:10] sgowroji commented on #2863
Please refer https://google.github.io/mediapipe/solutions/hands#multi_hand_world_landmarks in python for Hands solutions

[2021-12-06 11:20] sgowroji commented on #2864
Hi @LMR2018,  On Android Hands gradle you can find the result of https://github.com/google/mediapipe/blob/d4bb35fe5a44b3419ca86e4c7ecbc931dded2122/mediapipe/java/com/google/mediapipe/solutions/hands/HandsResult.java#:~:text=//%20Collection%20of%20detected/tracked%20hands%27%20landmarks,%7D. To run on GPU you should enable runOnGput to True

[2021-12-06 11:55] UnityDev1021 commented on #2839
An update. So I wrote some sample code to try out the SwitchContainerCalculator strategy but unfortunately it does not work. I made a simple TestCalculator which accepts the "select" value of the SwitchContainerCalculator and based on that outputs a String which I can then display using a TextView.

I used this code to change the input_side_packet of the SwitchContainerCalculator :-

[code]

I am

[2021-12-06 12:27] anhqttruong commented on #2817
I believe it was from the google gmaven repo. In fact, I just cloned the GitHub repo of the MediaPipe hands, synced all project with griddle files, generate signed Bundle then uploaded it to Google Play Console. The stackoverflow you mentioned matched perfectly with my issue except I could not succeed uploading the bundle file to Google play with the fix in the link ... The same error applied desp

[2021-12-06 15:28] jiuqiant commented on #2853
Mediapipe uses tflite for inference and the model format is .tflite. TF serving is for tensorflow models and the saved model format is a .pb file. So, they are two different systems and you probably can't use Mediapipe models with TF serving.

[2021-12-06 15:31] chensisi0730 opened #2866 "Are there NDK version any updates ？"
[https://google.github.io/mediapipe/](url) have this  describe ：
Building Android example apps with Bazel
Prerequisite
Install MediaPipe following these instructions.
Setup Java Runtime.
Setup Android SDK release 28.0.3 and above.
Setup Android NDK version between 18 and 21.

Are there NDK version  any updates ？

[2021-12-06 16:55] jiuqiant commented on #2162
Thanks for providing the solution! I am going to close this issue now.

[2021-12-06 16:55] #2162 closed

[2021-12-06 18:35] jiuqiant commented on #2467
Thanks for reporting this. It might be a temporarily out of sync issue between the github repo and the pypi package push. We will try our best to keep them in sync per release.

[2021-12-06 18:35] #2467 closed

[2021-12-06 18:38] 123epsilon commented on #2825
@LMR2018 I don't know how you would time that other than attempting to individually run each calculator on some benchmark test set and then recording the time they take to execute on cpu/gpu. I believe that the Hands API does actually allow you to specify output streams in the constructor though this is not noted in the documentation, if you look at the source on github there is a parameter where

[2021-12-06 18:41] jiuqiant commented on #2782
Hi, we build the PyPI packages per GitHub release. So, the MediaPipe version number in GitHub and the PyPI package version should be the same and the tflite models in PyPI packages should always be the latest ones.

[2021-12-06 18:41] #2782 closed

[2021-12-06 19:50] #2756 closed

[2021-12-06 20:50] #2801 closed

[2021-12-06 21:00] kostyaby commented on #1786
Hey @ianni67,

Thanks for providing your perspective!

I guess that's just the nature of the Computer Vision field: everything *kinda works*, but then you have to solve a particular use-case and it's not clear whether the underlying tech is good enough and just needs more glue logic or is it not fitting the use-case entirely. Sounds like you gave MediaPipe a good try and it doesn't seem to solve y

[2021-12-06 21:04] kostyaby commented on #1698
Hey @Renji3,

In graphics, there's a concept of [Polygon mesh](https://en.wikipedia.org/wiki/Polygon_mesh): in order to represent some 3D objects, you define 2 buffers: vertex buffer (defines vertices of the mesh) and index buffer (defines faces of the mesh; those connect the vertices into some topology). A commonly used kind of polygon meshes is a [triangular mesh](https://en.wikipedia.org/wiki/T

[2021-12-06 22:01] jiuqiant commented on #2764
You can go back to the v0.8.4 to find the example code. For example, for running hands api, you can go to https://github.com/google/mediapipe/blob/v0.8.4/docs/solutions/hands.md#python-solution-api.

[2021-12-06 22:01] #2764 closed

[2021-12-06 22:48] #2841 closed

[2021-12-06 23:24] alexdmiller commented on #2840
Another update:

I used the tflite performance benchmarking app to run our model. On a single thread, the model completes in an average of 226 ms. This is much slower than the ~10 seconds we're seeing with Google Media Pipe.

The app spits out a bunch of profiling information. I'm happy to share more, but here are some summary tables that might be helpful:

[code]

Here is my configuration for the

[2021-12-07 00:20] jiuqiant commented on #2456
Thanks for reporting this issue. We already fixed in the upstream and will release the fix in the next release. The new MediaPipe Android package will depend on https://mvnrepository.com/artifact/com.google.protobuf/protobuf-javalite/3.19.1.

[2021-12-07 04:51] sgowroji commented on #2763
Hello, unfortunately we do not plan to share the training code for FaceMesh models in the nearest future.
If you would like to train your custom FaceMesh model, you might be interested in some details, on how we trained our existing models: https://arxiv.org/abs/1907.06724 and https://google.github.io/mediapipe/solutions/face_mesh.html

[2021-12-07 04:51] #2763 closed

[2021-12-07 04:55] sgowroji commented on #2866
There is already a duplicate issue https://github.com/google/mediapipe/issues/2842 is open . So closing this above issue and please subscribe for the latest updates on the duplicate ticket for further comments.

[2021-12-07 04:55] #2866 closed

[2021-12-07 05:08] #2456 closed

[2021-12-07 05:23] sgowroji commented on #2846
Hi @sarimmehdi, This was the last update w.r.t your request https://github.com/google/mediapipe/issues/1472#issuecomment-788708081. At Present there are no plans  to release the 3D Annotation tool. But we will share your request to the team to have a relook  again.

[2021-12-07 05:25] #2131 closed

[2021-12-07 05:26] sgowroji commented on #2131
Closing this  above request W.r.t https://github.com/google/mediapipe/issues/1472#issuecomment-788708081

[2021-12-07 05:50] #2735 closed

[2021-12-07 05:50] #2808 closed

[2021-12-07 05:50] #2185 closed

[2021-12-07 05:50] #1957 closed

[2021-12-07 05:50] #1988 closed

[2021-12-07 06:19] lilinxiong opened #2867 "Using face_geometry on the basis of face_mesh does not work."
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Windows
- [MediaPi

[2021-12-07 06:50] #1638 closed

[2021-12-07 06:50] #2700 closed

[2021-12-07 06:53] LMR2018 commented on #2860
@sgowroji    I want to pinpoint the z-axis depth coordinates of hand_landmark gesture model. can I do it with a binocular camera? If so, what should I do?

[2021-12-07 07:22] LMR2018 commented on #2778
@sgowroji    I want to know the mean_values and std_values of mediapipe/modules/hand_landmark/hand_landmark_lite.tflite model training

[2021-12-07 07:34] LMR2018 commented on #2645
@Lvcenia   Have you solved the problem yet?

[2021-12-07 07:50] LMR2018 commented on #2552
@sujilal     Have you solved the problem yet?

[2021-12-07 08:04] LMR2018 commented on #2496
@Vignesh1-art    Have you solved the problem yet? I also want to know how to solve

[2021-12-07 08:06] Vignesh1-art commented on #2496
I implemented my converter

[2021-12-07 08:12] LMR2018 commented on #2496
@Vignesh1-art    can you share with me?

[2021-12-07 08:41] AmitMY commented on #2506
Can confirm this is still an issue in version `0.5.1635989137`

[2021-12-07 08:50] #2233 closed

[2021-12-07 09:19] BingoZha opened #2868 "How to get 2 world-coordinate outputs("multi_hand_world_landmarks" and "pose_world_landmarks") in one pbtxt?"
A few days ago,i got the "pose_world_landmarks" output in holistic_tracking,but i also needed the fingers' tracking in world-coordinate system,so i added the output in holistic_tracking_cpu.pbtxt:
node {
  calculator: "HolisticLandmarkCpu"
  input_stream: "IMAGE:throttled_input_video"
  output_stream: "POSE_LANDMARKS:pose_landmarks"
  output_stream: "POSE_ROI:pose_roi"
  output_stream: "POSE_DETEC

[2021-12-07 09:22] honggang0524 commented on #2852
Hi, there is another situation that feels necessary to mention, in the model transformation discipline, the uint8 model is obtained, while mediapipe's Tflite model is all of float32 type. Does it have an impact on the final deployment results?

Attached below is my latest error log:

2021-12-07 13:56:26.810 E/tflite: Following operations are not supported by GPU delegate:

    ADD: OP is supported

[2021-12-07 09:23] sgowroji commented on #2868
Hi @BingoZha, Could you please provide steps to reproduce the error with usecase. Thanks!

[2021-12-07 09:48] BingoZha commented on #2868
Hi @sgowroji  I modified the file (mediapipe\graphs\holistic_tracking\holistic_tracking_cpu.pbtxt).I added two outputs and modified the "HolisticLandmarkCpu" node：

...
output_stream: "pose_world_landmarks"
output_stream: "multi_hand_world_landmarks"
...
node {
  calculator: "HolisticLandmarkCpu"
  input_stream: "IMAGE:throttled_input_video"
  output_stream: "POSE_LANDMARKS:pose_landmarks"
  outpu

[2021-12-07 10:12] BingoZha commented on #2868
Hi @sgowroji  Could you have any methods to convert location(normallanmarks) to world-coordinate location?

[2021-12-07 10:46] Vignesh1-art commented on #2496
I would if I had. Unfortunately I don't have it now.  I refered this https://en.m.wikipedia.org/wiki/YUV to implement it.

[2021-12-07 16:24] anoop54 opened #2869 "Python package being built is 0.8 not latest"
Hi, I built the python package through docker & everything worked fine. However the version on this package is 0.8, not 0.8.9. Why is that the case? When I pip install mediapipe on my non aarch machine I will get the latest package 0.8.9, but with building my self I get 0.8.

I noticed in setup.py has __version__ which is 0.8 & has not changed over the various version.

[2021-12-07 16:44] iamwilllrobinson commented on #2832
import cv2
from cvzone.HandTrackingModule import HandDetector
from time import sleep
import numpy as np
from pynput.keyboard import Controller

cap = cv2.VideoCapture(0)
cap.set(3, 1280)
cap.set(4, 720)

detector = HandDetector(detectionCon=0.8)
keys = [["0","1","2","3","4","5","6","7","8","9"],
        ["Q","W","E","R","T","Y","U","I","O","P"],
        ["A","S","D","F","G","H","J","K","L",";"],

[2021-12-07 17:04] ianni67 commented on #1786
Hello @*kostyaby, <https://github.com/kostyaby>*

Thank you for pointing me to that paper. It sounds very promising.

I indeed knew that one of the mainstream threads was investigating the
direct use of DNN to map eye  geometry directly to gaze target.
Something similar has been described a couple years ago. Of course, at
that time the presented work was not complete.

As a long-term survivor in t

[2021-12-07 17:52] cronin4392 commented on #1929
@wesley231 I think they may have moved it [here](https://github.com/Gidrian/Multiple-person-detection-mediapipe)

[2021-12-07 18:23] jiuqiant commented on #2869
The setup.py we release is for customizing graphs and testing locally. We probably should put "local" or "dev" as the version tag to make this point clear. If you are looking for an official version, please go to https://pypi.org/project/mediapipe.

[2021-12-07 18:23] #2869 closed

[2021-12-07 20:44] ALISONTORRES commented on #1325
C:\Users\Alison>python --version
Python 3.10.0

C:\Users\Alison>pip install mediapipe
ERROR: Could not find a version that satisfies the requirement mediapipe (from versions: none)
ERROR: No matching distribution found for mediapipe

C:\Users\Alison>
 same problem :( help

[2021-12-07 23:26] ahmadyan commented on #2786
Hi,
For our SSD (Single Stage Calculators) inference (Mediapipe in an inference library, not a training library), [ssd_anchors_calculator.cc](https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a479407c699e424aa7/mediapipe/calculators/tflite/ssd_anchors_calculator.cc) computes the bounding boxes (an object may be detected multiple times) and then we perform NMS via [non_max_suppression_

[2021-12-08 00:04] rodrigoricky commented on #1325
Use either Python 3.7 to 3.9, and make sure it's 64bit

[2021-12-08 03:50] #1915 closed

[2021-12-08 06:18] #2853 closed

[2021-12-08 06:55] lilinxiong commented on #2867
oh~ I found the problem, in the location of [geometry_pipeline.cc#L127-L130](https://github.com/google/mediapipe/blob/v0.8.8/mediapipe/modules/face_geometry/libs/geometry_pipeline.cc#L127-L130), Check the incoming landmark_list.
The model I use is: [face_landmark_with_attention.tflite](https://github.com/google/mediapipe/blob/v0.8.8/mediapipe/modules/face_landmark/face_landmark_with_attention.tfli

[2021-12-08 07:00] alfian0 commented on #2830
<img width="604" alt="Screen Shot 2021-12-08 at 13 58 51" src="https://user-images.githubusercontent.com/21122436/145163034-01cc7a64-5b9e-461f-a9c0-bd8bbf14e35b.png">

I try di comment this node and I got this error
<img width="622" alt="Screen Shot 2021-12-08 at 13 59 36" src="https://user-images.githubusercontent.com/21122436/145163109-ba515886-6f02-48f8-9977-df0246902a32.png">

any suggestion @

[2021-12-08 07:08] alfian0 commented on #2830
Oh sorry, some NORM_RECTS not commented

[2021-12-08 07:08] #2830 closed

[2021-12-08 08:44] lilinxiong commented on #2867
I have changed it to make it more suitable for the actual scene. The changes are as follows:
[geometry_pipeline.cc#L127-L133](https://github.com/google/mediapipe/blob/v0.8.8/mediapipe/modules/face_geometry/libs/geometry_pipeline.cc#L127-L133):
[code]
[geometry_pipeline.cc#L260-L270](https://github.com/google/mediapipe/blob/v0.8.8/mediapipe/modules/face_geometry/libs/geometry_pipeline.cc#L260-L270)

[2021-12-08 09:28] sgowroji commented on #2821
Hi @LMR2018, Try to perform this [steps](https://developer.android.com/studio/debug/bug-report) to capture the bug report from your device  when ever error occurs. You can share the report to investigate about issue for further. Thanks!

[2021-12-08 10:17] lappanchappan43 opened #2870 "Python support"
I did find hair segmentation fascinating to try on. Is there anyways to use the project hair segmentation using python?

[2021-12-08 13:12] ReptoxX commented on #1606
While the stop function is now present in the type declaration, it does not seem to be inside the actual js file https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils@0.3.1631210127/camera_utils.js
https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils@0.3.1632432234/camera_utils.js

Regards

[2021-12-08 13:34] kaomoneus opened #2871 "Vectors concatenation and clipping enhancements"
**System information** (Please provide as much relevant information as possible)

- MediaPipe Solution (you are using): cf101e62
- Programming language : C++
- Are you willing to contribute it (Yes/No): Yes

It would be good to enhance vector concatenation and clipping operations.

### Concatenation
Concatetation works fine except that sometimes it's good to clip it.

### Clipping
Currently clippi

[2021-12-08 14:13] houcy commented on #2381
In fact in Chrome latest version, the same error still exists.

[2021-12-08 15:49] UX3D-mazzini commented on #1925
@emreboyraz0 @z7212819
Hi. After all this time did you figure out how to change shoe model at runtime ?

[2021-12-08 15:53] ntaylorbishop opened #2872 "Can't build Android Hello World example with bazel"
[I'm using this guide.](https://google.github.io/mediapipe/getting_started/hello_world_android.html) This line is failing:

`bazel build -c opt --config=android_arm64 $APPLICATION_PATH:helloworld`

With the following error:

`ERROR: Config value 'android_arm64' is not defined in any .rc file`

Nothing in the doc talks about running into this. Google searching is also failing me.

[2021-12-08 16:12] corlangerak commented on #2826
Did you manage to find a way to use mediapipe and Mixamo?

[2021-12-08 16:41] ElizeRausch commented on #1929
Hi @cronin4392 & @wesley231, did you manage to make it work? I'm trying with realtime webcam feed, but getting multiple errors...

[2021-12-08 17:00] UX3D-mazzini commented on #2034
@z7212819  Would you like to explain me better what you did? I can share my email

[2021-12-08 17:24] alexdmiller commented on #2840
With some effort I have profiled the model on iOS _within_ Google Mediapipe. I found the following average times:

node | AVERAGE of ms
-- | --
CONV_2D | 365.1569231
DEPTHWISE_CONV_2D | 8.390066667
ADD | 0.7461666667
PACK | 0.323
RESHAPE | 0.095

Compared with the raw tflite profiling from my previous comment, you can see that `CONV_2D` has a significantly higher average in Google Media Pipe. The

[2021-12-08 17:37] raphaelmenges commented on #2649
I would highly welcome to open the source of these NPM packages! I am trying to run MediaPipe/FaceMesh within an Electron/Vite environment which might require certain adaptation in fetching any dependencies.

[2021-12-08 17:38] gkarpiak commented on #2862
@shivambhardwaj120 there's a chance that your model is not available at the path you provided, try to look what you need to do make sure your iOS has custom.tflite model.

For example for iris demo models are ensured by including them into "data": https://github.com/google/mediapipe/blob/master/mediapipe/examples/ios/iristrackinggpu/BUILD#L66-L67

[2021-12-08 18:09] jiuqiant commented on #2848
You probably can do the following to disable ippicv.

[code]

Reference: https://stackoverflow.com/questions/38595169/in-the-context-of-opencv-what-is-ippicv

[2021-12-08 22:20] AHRealift opened #2873 "Mediapipe Pose (Javascript), can't access LandmarkGrid from @mediapipe/control_utils_3d"
- LandmarkGrid is not included when using these CDN's on the window DOM object

[code]

[2021-12-09 00:06] mcclanahoochie commented on #2499
Hi,
How did you create the non-bazel mediapipe app? I would image the same process applies to TPU (converting the bazel build rules into whatever alternative build system you use).
The only difference for TPU is the TfLiteInferenceCalculator gets compiled with TPU libraries and uses TPU delegate specified in the graph. If you are already running MP hand tracking outside bazel, then you are likely

[2021-12-09 00:09] mcclanahoochie commented on #2494
The pose tracking graph has a flow limiter calculator that drops frames to keep frame rates high. Try removing the flow limiter calc https://github.com/google/mediapipe/blob/710fb3de58dc10b7bc75f9cb758300c9016a5e4f/mediapipe/graphs/pose_tracking/pose_tracking_gpu.pbtxt#L33

[2021-12-09 00:21] mcclanahoochie commented on #2474
Hi, are you familiar with the Android solutions API?
A [callback](https://github.com/google/mediapipe/blob/master/mediapipe/examples/android/solutions/hands/src/main/java/com/google/mediapipe/examples/hands/MainActivity.java#L339) can be custom written to process the result from the graph.  Alternatively you can create your own [HandsResult](https://github.com/google/mediapipe/blob/d4bb35fe5a44b34

[2021-12-09 00:27] shane99a commented on #2826
No I'm still trying to figure it out. However, I also found a paid solution: https://www.deepmotion.com, not sure if they use mediapipe, but their service matches my needs. But I'm still seeing if I can do it myself.

[2021-12-09 00:27] #2826 closed

[2021-12-09 00:28] mcclanahoochie commented on #2593
Hi,
The face mesh module used by that unity project is the open source mediapipe face mesh graph/model.
To animate a character in unity, you will need to create a mapping from the face mesh coordinates into points corresponding to the character model in unity.
The FaceMeshBarracuda project seems to already handle importing the mediapipe points into unity very well, so the remaining piece is to map

[2021-12-09 00:33] wesley231 commented on #1929
Hey! @ElizeRausch I am able to use it, but its accuracy is worse than the single version.

[2021-12-09 00:36] mcclanahoochie commented on #2079
mediapipe gpu needs some GL display to attach to
see https://github.com/google/mediapipe/issues/1950#issuecomment-830392263
(ex: `export DISPLAY=:0` )

[2021-12-09 00:51] mcclanahoochie commented on #2678
it's good that the GPU path works for facemesh when refine_landmarks is false, that means the mediapipe GPU configuration/setup is fine.

the `refine_landmarks = true` option actually runs a different ML model ([here](https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_landmark/face_landmark_with_attention.tflite))

it seems that model has some op that isn't compatible with the

[2021-12-09 01:04] mcclanahoochie commented on #2683
the error is
` Side packet "focal_length_pixel" is required but was not provided.`

this can be sent to the graph via [StartRun](https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a479407c699e424aa7/mediapipe/examples/desktop/demo_run_graph_main_gpu.cc#L92)

[code]

replace XXX with your focal length

[2021-12-09 01:49] alexdmiller commented on #2840
@hadon @NikolayChirkov I'm at my wits end for things to investigate at this point. I'm happy to provide any other information that might be useful. Or if you are too busy to help diagnose the problem, if you could provide suggestions for paths to investigate, that would be very helpful! Thank you!

[2021-12-09 01:53] AHRealift commented on #2578
+1, status?

[2021-12-09 03:34] #2783 closed

[2021-12-09 04:15] AHRealift commented on #2873
Solution: ` <script
      src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils_3d/control_utils_3d.js"
      crossorigin="anonymous"

[2021-12-09 04:15] #2873 closed

[2021-12-09 04:15] AHRealift commented on #2859
Solution: `<script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils_3d/control_utils_3d.js" crossorigin="anonymous" ></script>`

[2021-12-09 04:15] #2859 closed

[2021-12-09 04:38] sgowroji commented on #2872
Hi @ntaylorbishop, Could you please check whether you defined this values in your code. https://github.com/google/mediapipe/blob/master/.bazelrc#:~:text=build%3Aandroid_arm64%20%2D%2Dconfig%3Dandroid,fat_apk_cpu%3Darm64%2Dv8a in [bazelrc](https://github.com/google/mediapipe/blob/master/.bazelrc) file

[2021-12-09 05:13] sgowroji commented on #2862
Hi @shivambhardwaj120, Could you please verify the issue w.r.t the above [comment](https://github.com/google/mediapipe/issues/2862#issuecomment-989028569). Thanks!

[2021-12-09 05:50] #2813 closed

[2021-12-09 06:06] sgowroji commented on #2770
Is it possible Duplicate https://github.com/google/mediapipe/issues/2853#issuecomment-986884141 ?

[2021-12-09 06:20] lilinxiong commented on #2683
@mcclanahoochie Hi, I have a question. What I see in the [iris_tracking](https://github.com/google/mediapipe/blob/v0.8.8/mediapipe/examples/desktop/iris_tracking/iris_depth_from_image_desktop.cc#L140) of the desktop is an input image. Is it because ```focal_length_pixel``` cannot be obtained on the desktop?
My ultimate goal is to achieve iris_depth on the desktop.
I am not very familiar with Windo

[2021-12-09 06:46] GhostEV commented on #2647
Hi @ParisRoubaix,  I have updated to gcc Version 9.4.0... but got error like this:

source (https://github.com/asprecic/mediapipe)

[Command]
bazel build --define MEDIAPIPE_DISABLE_GPU=1 mediapipe/examples/desktop/libexample:libexample.so

[ERROR]
/home/base/.cache/bazel/_bazel_base/10f4be354af48e783fcaf1c23632155f/external/com_google_absl/absl/types/BUILD.bazel:54:11: undeclared inclusion(s) in r

[2021-12-09 07:05] vKrypto opened #2874 "JS-Solutions-codepens wasn't working on most of android devices."
### [Mediapipe-hands-CodePen](https://codepen.io/mediapipe/pen/RwGWYJw) was not working in most of the android devices.
### In-short:
hacked js-script, now working in all android, even older phones also. checkout updated **[codepen](https://codepen.io/vkrypto/pen/yLzJoEG)**.

### Problem:
as I found the main reason for not working in android devices, your asset_loader script was running twice. whi

[2021-12-09 07:24] sgowroji commented on #2874
Hi @vKrypto, Thank you so much for bringing the above error. Could you please provide the device details, So that we can try verifying them from our end.

[2021-12-09 07:46] HBnetDE commented on #2848
Ok, now I'm getting the error: `ImportError: <path to environment>/python3.9/site-packages/mediapipe/python/_framework_bindings.cpython-39-x86_64-linux-gnu.so: undefinded symbol: _ZN2cv3MatC1Ev`

[2021-12-09 07:54] GhostEV commented on #2647
I've fixed it by  deleting ~/.cache/bazel. (https://github.com/bazelbuild/bazel/issues/7483#issuecomment-465769254)

Commond:

bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 mediapipe/examples/desktop/hand_tracking:hand_tracking_cpu

But I got another error:

ERROR: /home/base/workspace/mediapipe/mediapipe/examples/desktop/hand_tracking/BUILD:27:10: Linking of rule '//mediapipe/examples/deskt

[2021-12-09 08:06] lucmichalski commented on #2593
HI @mcclanahoochie ,

Thanks for your reply !

The link is dead. ^^

Cheers,
Luc

[2021-12-09 08:42] GhostEV commented on #2647
This problem has been solved.( https://github.com/google/mediapipe/issues/1675)

[2021-12-09 09:17] chensisi0730 commented on #2842
hi @jiuqiant @sgowroji   :
NDK version  can not updates  to 22 。 can you test it ?

[2021-12-09 09:31] lilinxiong commented on #2867
The following heading has been revised, this heading is more suitable for the content of the discussion.

[2021-12-09 09:45] vKrypto commented on #2874
hi @sgowroji  I have tried in 3-4 android devices (e.g: Samsung F62), it's not working( actually it's a bit confusing sometimes(2/100) it works.)

Maybe it's a timing issue.

[2021-12-09 09:47] UX3D-mazzini commented on #1453
@janeSmith99221 Did you managed to do it?

[2021-12-09 09:54] UX3D-mazzini commented on #2854
Thanks for the response, I managed to show the shoes on my feet, but the model is too small, how can I make the model length fit the 3dBbox length in order to make them of the right size?

[2021-12-09 10:48] chensisi0730 commented on #2842
hi@sgowroji  #2636  in that replies , you said "follow the Prerequisites on NDK versions from documentation"

[2021-12-09 11:09] tianhonglilei opened #2875 "Successfully build aar to introduce the project, but an error is reported when the project is running"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): NO
- OS Platform

[2021-12-09 11:12] tianhonglilei commented on #2875
I use the aar file built by others is ok

[2021-12-09 11:21] sgowroji commented on #2875
Hi @tianhonglilei, Could you please provide the steps used to reproduce the above error. Thanks!

[2021-12-09 12:43] willstott101 commented on #1615
Perma link to an image in this repo showing the points: https://github.com/google/mediapipe/blob/a908d668c730da128dfa8d9f6bd25d519d006692/mediapipe/modules/face_geometry/data/canonical_face_model_uv_visualization.png

[2021-12-09 13:15] ElizeRausch commented on #1929
thx @wesley231! Yes, most of the multi person options (tensorflow, open pose, posenet...) I tried are slower and less accurate than Mediapipe (single person), was hoping to find a solution with Mediapipe multi person! Great if someone could recommend a fast and accurate multi person pose detection (python) system!

[2021-12-09 14:52] shivambhardwaj120 commented on #2862
Hi @gkarpiak,  you were right, I didn't know that I need to update the path to IristrackinggpuApp build as well. I updated only the subgraph of iristracking graph and build of model folder. Thanks @gkarpiak @sgowroji for the help.

[2021-12-09 15:51] nelsontseng0704 opened #2876 "How to use Autoflip for static images?"
How to use Autoflip for static images?
Is there any possible we input a jpg and still can get metadata(x,y,w,h coordinates )?

System information (Please provide as much relevant information as possible)

OS Platform and Distribution :iOS 11.3.1
MediaPipe version: 0.8.6
Bazel version: bazel 3.7.2
Solution: Autoflip
Programming Language: C++

Standalone code you may have used to try to get what you

[2021-12-09 18:44] gkarpiak commented on #2831
@siyuan-peng thanks for the bug report. Indeed, it's a documentation bug - hand landmarks model doesn't output visibility. Documentation, should be fixed with the next release.

[2021-12-09 18:44] #2831 closed

[2021-12-09 19:41] mhays-google commented on #2578
Solution: Import `control_utils_3d` before `control_utils`.

[code]

[2021-12-09 19:41] #2578 closed

[2021-12-09 21:34] AHMetaCubes opened #2877 "Mediapipe Pose w/ selfie segmentation - understanding Landmark coordinates and interacting with SegmentationMask, Connectors, etc."
Output: POSE_LANDMARKS

- x and y: Landmark coordinates normalized to [0.0, 1.0] by the image width and height respectively.
- z: Represents the landmark depth with the depth at the midpoint of hips being the origin, and the smaller the value the closer the landmark is to the camera. The magnitude of z uses roughly the same scale as x.

Output: POSE_WORLD_LANDMARKS

- x, y and z: Real-world 3D coo

[2021-12-10 02:15] j20001970 commented on #2474
Hi @mcclanahoochie thanks for your response. I took a look at [packet_getter_jni.h](https://github.com/google/mediapipe/blob/d4bb35fe5a44b3419ca86e4c7ecbc931dded2122/mediapipe/java/com/google/mediapipe/framework/jni/packet_getter_jni.h) and [packet_getter_jni.cc](https://github.com/google/mediapipe/blob/d4bb35fe5a44b3419ca86e4c7ecbc931dded2122/mediapipe/java/com/google/mediapipe/framework/jni/pack

[2021-12-10 04:16] sgowroji commented on #2877
Hi @AHRealift, Which platform are you referring the above. Thanks!

[2021-12-10 04:37] sgowroji commented on #2876
Hi @nelsontseng0704, Have you tried doing it with the above code and faced any issues?

[2021-12-10 07:41] vKrypto commented on #2874
getting this error,

`VM19 hands_solution_simd_wasm_bin.js:9 Uncaught (in promise) RuntimeError: abort(Module.arguments has been replaced with plain arguments_ (the initial value can be provided on Module, but after startup the value is only looked for on a local variable of that name)) at Error
    at jsStackTrace (VM19 hands_solution_simd_wasm_bin.js:9)
    at stackTrace (VM19 hands_solution_sim

[2021-12-10 07:51] sgowroji commented on #2874
Thanks for sharing the error log. I see there is already a [bug](https://github.com/google/mediapipe/issues/2823) is addressed which is having similar error logs and team is working on it.

[2021-12-10 08:02] #2874 closed

[2021-12-10 08:29] arianatri opened #2878 "custom dataset training"
hey guys,
I wanted to train the hand model to detect nails positions.
is there any way to custom train the model with my own dataset?
@bazarevsky

[2021-12-10 09:07] nelsontseng0704 commented on #2876
I ran it and received following response:

2021-12-10 09:05:15.000980: I external/org_tensorflow/tensorflow/cc/saved_model/loader.cc:283] SavedModel load for tags { serve }; Status: success: OK. Took 1276633 microseconds.
E20211210 09:05:15.612951   177 simple_run_graph_main.cc:149] Failed to run the graph: CalculatorGraph::Run() failed in Run:
Calculator::Open() for node "OpenCvVideoDecoderCalcul

[2021-12-10 09:24] sgowroji commented on #2878
Hi @arianatri, Please refer https://github.com/google/mediapipe/issues/2123#issuecomment-974152958 for more understanding on your query. Thanks!

[2021-12-10 10:01] tianhonglilei commented on #2875
@sgowroji I found the problem in the process of reproducing, one less file was copied in the assets, the problem was solved, thank you very much.

[2021-12-10 11:05] PurushottamaRaoK opened #2879 "Can we use mediapipe eye track detection for multiple persons?"
<em>Please make sure that this is a feature request.</em>

**System information** (Please provide as much relevant information as possible)

- MediaPipe Solution (you are using):
- Programming language : C++/typescript/Python/Objective C/Android Java
- Are you willing to contribute it (Yes/No):

**Describe the feature and the current behavior/state:**

**Will this change the current api? How?**

*

[2021-12-10 18:16] mcclanahoochie commented on #2683
if you are loading a JPG or PNG that has the focal lenght exif data, then the desktop can work just fine, by querying the image for the right value (in exif data).
Webcams do not provide that value programmatically (like phones do), so you need to find it (or compute it) and specify manually.

[2021-12-11 04:48] sgowroji commented on #2879
HI @PurushottamaRaoK,  could you please provide your use case with the above feature request. Thanks!

[2021-12-11 23:16] ssoumyajit opened #2880 "are the landmarks skipped when both minDetectCoeff < 0.5 & minTrackCoeff < 0.5 ??"
The documentation is pretty clean.
Just wanted to be a little sure about something;

Let's say we are doing a holistic full body pose estimation with 'min_detection_coeff = 0.5 and min_tracking_coeff =0.5'.

---case 1---
The first frame kicks off the detection and somehow min_detection_coeff < 0.5, in this case there will be no landmarks for that specific frame, am I correct ?

---case 2---
min_de

[2021-12-12 02:12] Snipeye commented on #1514
@homuler Thank you for the recommendations; I've made those changes and I'm still having issues.  Additionally, the PR you linked has issues: It still references bazel 3.7.2.  Additionally in your changes, I had to also change the reference to ffmpeg in WORKSPACE.

I installed the latest bazel (4.2.2) through brew, then updated .bazelversion to reflect that, but when I tried to run the helloworld,

[2021-12-12 06:44] akshay1a opened #2881 "Invoked with: 0.5 [ WARN:0] global D:\a\opencv-python\opencv-python\opencv\modules\videoio\src\cap_msmf.cpp (438) `anonymous-namespace'::SourceReaderCB::~SourceReaderCB terminating async callback"
import cv2
import mediapipe as mp
import time

class handDetector():
    def __init__(self, mode=False, maxHands=2, modelC=1, detectionCon=0.5, trackCon=0.5):
        self.mode = mode
        self.maxHands = maxHands
        self.modelC = modelC
        self.detectionCon = detectionCon
        self.trackCon = trackCon

        self.mpHands = mp.solutions.hands
        self.hands = self.mpHands.Han

[2021-12-12 09:57] keivanK1 commented on #496
If you want to use it in Linux, change `WORKSPACE` and `opencv_linux.BUILD` as following:
- First you should find where OpenCV is installed, you can use `find / -name *opencv*`. If you installed the binary or didn't specify the installation path in during building from source, then it is installed under `/usr/local`. This path should be given in `WORKSPACE`, so in this file look for `linux_opencv`

[2021-12-12 13:34] matanster commented on #742
Sorry for re-opening. I believe the matter can be re-addressed for the better, _now that world landmarks are a feature in the newest pipeline releases_. The [terse documentation for world landmarks v.s. those weak projection landmarks](https://google.github.io/mediapipe/solutions/hands.html#multi_hand_world_landmarks) could be probably elaborated in a clarifying way, if needed from the point of vi

[2021-12-12 15:55] NevadaLarson opened #2882 ""landmarks" attribute not being recognized in mediapipe"
-VSCode Windows 10
- [MediaPipe version] 0.8.9

import cv2 as cv
import mediapipe as mp
import time

cap = cv.VideoCapture(0)

mpHands = mp.solutions.hands
hands = mpHands.Hands()
mpDraw = mp.solutions.drawing_utils

cTime = 0
pTime = 0

while True:
    isTrue, frame = cap.read()
    frame = cv.flip(frame,1)
    frameRGB = cv.cvtColor(frame, cv.COLOR_BGR2RGB)
    results = hands.process(frameRGB)

[2021-12-12 16:47] lilinxiong commented on #2683
Thank you for your reply, can I understand that as long as I provide ```focal_length_pixel```, no matter if I input a picture, video, or data collected from the camera, I can use iris_tracking normally on the desktop.

[2021-12-12 17:13] emad-eldeen commented on #2857
Edit mediapipe/mediapipe/examples/ios/handtrackinggpu/BUILD as follows:

[code]
Then run the command:
bazel build mediapipe/examples/ios/handtrackinggpu:HandTracker

The following error appears:
[code]
I tried updating build_bazel_rules_apple to v0.30 in WORKSPACE as follows:
[code]
Building again generated this error:
[code]
I tried upgrading Bazel version in '.bazelversion' to 4.0.0, and built a

[2021-12-12 17:37] ThilakReddyy commented on #1155
Hey Could you please share how the rotations are possible with mediapipe

[2021-12-12 18:07] #2862 closed

[2021-12-13 02:06] lilinxiong commented on #2867
@sgowroji Does anyone reply to me.

[2021-12-13 03:52] sgowroji commented on #2836
Hi @hosson, Can you please verify the above issue with next release and reach us back if you have any further queries. Thanks!

[2021-12-13 03:52] #2836 closed

[2021-12-13 04:03] sgowroji commented on #2880
Explained it here https://google.github.io/mediapipe/solutions/pose.html#min_detection_confidence, https://google.github.io/mediapipe/solutions/pose.html#min_tracking_confidence

[2021-12-13 04:18] #2827 closed

[2021-12-13 04:25] sgowroji commented on #2881
Hi @akshay1a, Could you please provide steps to reproduce the error with config details. Thanks!

[2021-12-13 04:26] sgowroji commented on #2882
Hi @NevadaLarson , Could you please provide steps to reproduce the error with config details. Thanks!

[2021-12-13 04:32] ssoumyajit commented on #2880
Thanks @sgowroji for your reply.
yes, I read the above mentioned note.

may be there is something very clear that I don't understand. pardon me.
so let me make the question a little simple yes or no type.

if both the parameters ( min_detect_coeff & min_track_coeff ) less that the set value, will there be any landmarks for that particular frame ?  Yes or NO.

Thank you.

[2021-12-13 05:20] sgowroji commented on #2803
Hi @ragequitting101, Can  you try downgrading the bazel to 3.7.2  and clean (bazel clean --expunge) before executing the build commands.

[2021-12-13 05:28] sgowroji commented on #2768
Hi @matanster, You can try checking our https://google.github.io/mediapipe/solutions/models.html#hands from here.Please reach us if you still have more queries  with respect to any context which you don't find from the model cards.

[2021-12-13 05:32] sgowroji commented on #2761
Hi @aliakbarhamzeh1378, For python you can create your own graph using the calculators and execute as mentioned here https://google.github.io/mediapipe/getting_started/python_framework.html#graph.

[2021-12-13 08:20] ithanwu commented on #2822
Oh,My god ! Anyone help me ???

[2021-12-13 08:34] sile opened #2883 "`@mediapipe/selfie_segmentation` npm package can be bundled by Rollup, but raises an error in runtime."
First of all, thank you for publishing this great library.
I'm new to this library and TypeScript, so not sure that this is actually a bug.
Please let me know if you have any misunderstandings 🙏

**System information** (Please provide as much relevant information as possible)

- Have I written custom code: Yes
- OS Platform and Distribution: mac OS Monterey 12.0.1
- Browser and version: Google Chr

[2021-12-13 11:12] buzo-ffm opened #2884 "Does not build with Python 3.10"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): Arch Linux
- Compi

[2021-12-13 11:57] Somyaa10 commented on #1726
Facing the same issue on a few videos. The code works on some videos but throws "segmentation fault" for other videos. Is there any resolve for this issue?

[2021-12-13 14:28] aminekdev commented on #2456
Hey @jiuqiant, do you know exactly when the version of MediaPipe Android package with protobuf-javalite instead of protobuf-java will be release ?
I cannot integrate Firebase Performance (using  protobuf-javalite) to my project because of these conflicts
Thank you

[2021-12-13 15:03] AswinParanji commented on #1155
How I can I do this in python?

[2021-12-13 15:21] jiuqiant commented on #2456
Today or tomorrow.

[2021-12-13 15:22] NevadaLarson commented on #2882
I am an absolute beginner and the above solution does not make sense to me. Can you explain a little bit more?

[2021-12-13 15:38] sgowroji commented on #2884
Hi @buzo-ffm, Python 3.10 is not supported by MediaPipe yet. Please use Python 3.7 to 3.9. Thanks!

[2021-12-13 16:46] buzo-ffm commented on #2884
Thanks @sgowroji. Do you have any idea when 3.10 would be supported?

[2021-12-13 17:59] SteveGremory commented on #732
I had to actually change the paths.

[2021-12-13 22:31] matanster commented on #2768
Hi @sgowroji and thanks for your response! I have summarized the information disclosure gap [here](https://github.com/google/mediapipe/issues/742#issuecomment-991899577) just yesterday actually. I don't find that the model cards nor the inline code documentation provide a lot of clarification about this aspect which is complicated under the hood but needs to be simple from the outside. Unless the

[2021-12-13 23:54] jiuqiant commented on #2456
Released as https://maven.google.com/web/index.html?#com.google.mediapipe:solution-core:0.8.9-alpha-3.

[2021-12-14 00:37] jiuqiant commented on #2884
Thanks for reporting this. Python 3.10 is now supported in https://github.com/google/mediapipe/releases/tag/v0.8.9.

[2021-12-14 00:37] #2884 closed

[2021-12-14 01:19] Jakub112998 opened #2886 "How to delete pose landmarks or add new pose landmarks?"
The reason im writing is that Im trying to add new landmarks in torso, in between shoulders and in the middle of hips to connect them. At the same time I want to delete the unneccessary joints from face and thumbs.

I started my search in the pose.py and deleted 2 joins and added 3 joins:
[code]

in the pose_connections.py changed this part:
[code]

and in drawing_styles.py changed the code in lin

[2021-12-14 02:06] alexdmiller commented on #2840
@hadon @NikolayChirkov Hi, just wanted to ping this thread again to see if either of you had ideas for further investigation. Thanks!

[2021-12-14 04:17] sgowroji commented on #2732
Python 3.10 is now officially supported https://github.com/google/mediapipe/issues/2884#issuecomment-993043516

[2021-12-14 04:18] sgowroji commented on #1325
Python 3.10 is now officially supported #2884 (comment)

[2021-12-14 04:21] sgowroji commented on #2842
Hi @chensisi0730, Its updated now please check https://google.github.io/mediapipe/getting_started/android.html#prerequisite

[2021-12-14 04:25] sgowroji commented on #2516
Bazel version is updated to 4.2.1 https://github.com/google/mediapipe/releases/tag/v0.8.9

[2021-12-14 04:30] sgowroji commented on #2768
Hi @matanster, Could you please elaborate your points for which you are expecting the documentation and also what all queries you had and did not found them from model cards and MediaPipe page. Thanks!

[2021-12-14 04:33] sgowroji commented on #2882
Hi @NevadaLarson, Please check the documentation of Hands python code samples. Above code doesn't have any parameters as mentioned here https://google.github.io/mediapipe/solutions/hands.html#python-solution-api.

User the appropriate parameters as shown here

[code]

[2021-12-14 04:49] sgowroji commented on #2857
Hi @emad-eldeen, The recommended Bazel version is updated to 4.2.1.

[2021-12-14 04:51] sgowroji commented on #2832
Hi @iamwilllrobinson , MediaPipe Python wheels are now supporting Python 3.10. Could you please check with the latest version. Thanks!

[2021-12-14 05:18] #2755 closed

[2021-12-14 06:23] muhammadabdullah34907 opened #2887 "Error on XCODE build"
xcode=13.1
bazelisk bazel version=4.2.2

Users/macbookair/Documents/aman/mediapipe/mediapipe/examples/ios/handtrackinggpu/BUILD:54:13: C++ compilation of rule '//mediapipe/examples/ios/handtrackinggpu:HandTrackingGpuAppLibrary' failed (Exit 1): wrapped_clang failed: error executing command

[2021-12-14 07:33] sgowroji commented on #2887
Hi @muhammadabdullah34907, Could you please provide the steps and commands used to reproduce the above error. Thanks!

[2021-12-14 07:57] ithanwu commented on #2822
latest news , the error now gone away ,And i did't change any of your code !!!!
i typed several lines log in the "mediapipe/calculators/tflite/tflite_tensors_to_detections_calculator.cc",and then the error disappear and the video i want to crop if properly resized by the app ,then I feel it so strange ,so I tried to recover the .cc file to the original state and rebuild the app before rerunning it

[2021-12-14 08:41] wxq1770 opened #2888 "mediapipe bazel android bug libprotobuf_javalite.jar target value 1.7. Use 1.8 or later"
openjdk version "1.8.0_292" OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_292-b10) OpenJDK 64-Bit Server VM (AdoptOpenJDK)(build 25.292-b10, mixed mode) bazel 3.7.2

Python 3.7.4 opencv-3.4.3 android-ndk-r19c

bazel build -c opt --config=android_arm64 mediapipe/examples/android/src/java/com/google/mediapipe/apps/facedetectiongpu:facedetectiongpu

warning: -parameters is not supported for

[2021-12-14 09:16] jeranio commented on #2053
@akash901 : Can you share the UVC and Mediapipe integration part. I have tried many things what is beating me is the coupling of the previewdisplaytexture to the correct feed. Please thanks

[2021-12-14 10:03] sgowroji commented on #2888
Hi @wxq1770, Are you building the above with docker ? try upgrading your open jdk and verify the above commands. Seems duplicate of https://github.com/google/mediapipe/issues/1628

[2021-12-14 10:18] #2776 closed

[2021-12-14 11:09] likwifi opened #2889 "Switch ios posetrackinggpu to selfie camera"
Hello,

I'm trying to switch the camera to selfie for posetrackinggpu module for IOS,
appreciate it if you can help with that.

[2021-12-14 11:18] #2838 closed

[2021-12-14 11:33] sgowroji commented on #2889
Hi @likwifi, You can change it to front in back here https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a479407c699e424aa7/mediapipe/examples/ios/posetrackinggpu/Info.plist#:~:text=%3Ckey%3ECameraPosition%3C/key,string%3Eback%3C/string%3E from info.plist file.

` <key>CameraPosition</key>
  <string>front</string>`

[2021-12-14 11:53] likwifi commented on #2889
Perfect thank you,
and it's not related to this thread but I'm just trying to pass those coordinates stream to unity character, would it be possible not to render anything and just output landmarks.
Also, appreciate if you comment whenever typical IOS device will handle this kind of workload.
I'm not familiar with Objective C so pardon me if questions sound naive.

[2021-12-14 11:57] sgowroji commented on #2889
I have not tried anything such yet on unity. But i can point you to https://github.com/homuler/MediaPipeUnityPlugin here some of the community members use on unity.

[2021-12-14 12:48] sgowroji commented on #2889
Closing this issue as the above query is answered!

[2021-12-14 12:48] #2889 closed

[2021-12-14 13:08] wxq1770 commented on #2888
not docker running
run failed

openjdk 11.0.12 2021-07-20
OpenJDK Runtime Environment Homebrew (build 11.0.12+0)
OpenJDK 64-Bit Server VM Homebrew (build 11.0.12+0, mixed mode)

bazel build -c opt --config=android_arm64 mediapipe/examples/android/src/java/com/google/mediapipe/apps/facedetectiongpu:facedetectiongpu

[2021-12-14 16:13] matanster commented on #742
I think a good place to start would be some authoritative clarification about the variance in the z value of the wrist landmark, which is supposed to be the basis for the rest of the z, or the zero value without much variance. I think it may well avoid a lot of complication if this was clarified from the viewpoint of the training data, rather than to craft cumbersome narrative descriptions of "wha

[2021-12-14 16:34] matanster commented on #2768
Thanks @jiuqiant for updating the release page!

The release trains are much appreciated. Basically it would be just nice to specify the nature of the model update when releasing a new model, such as on [the release pages](https://github.com/google/mediapipe/releases). And then, as it's the first release with world landmarks, to clarify on their semantics as per the information that is currently k

[2021-12-14 17:17] ianni67 commented on #1530
Hello @sgowroji, would you, please, nicely let us know which landmark numbers correspond to the iris landmarks when retrieving the landmarks with the python face mesh solution? The scheme I used in the past ( https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_geometry/data/canonical_face_model_uv_visualization.png) does not contain the iris landmarks.

[2021-12-14 18:09] PrinceP commented on #2840
bazel build — copt=-fembed-bitcode — apple_bitcode=embedded —
config=ios_arm64

Is the above command used for ios build?

[2021-12-14 18:37] jiuqiant commented on #1530
See https://github.com/google/mediapipe/blob/master/mediapipe/python/solutions/face_mesh_connections.py#L32 and https://github.com/google/mediapipe/blob/master/mediapipe/python/solutions/face_mesh_connections.py#L47.

[2021-12-14 18:50] jiuqiant commented on #2886
Instead of tweaking those data structures, you'd better to implement your own version of

`def draw_landmarks(image: np.ndarray, landmark_list: landmark_pb2.NormalizedLandmarkList)`

by following https://github.com/google/mediapipe/blob/master/mediapipe/python/solutions/drawing_utils.py#L120 and having the customizations.

I think the number 33 or 31 you mentioned is the length of `landmark_list`.

[2021-12-14 19:24] ianni67 commented on #1530
Thank you very much for your fast and kind reply, @jiuqiant. Maybe you can also help me with the coordinates of the iris landmarks in the canonical model? I'm still struggling to find them...

[2021-12-14 20:19] alexdmiller commented on #2840
Thanks @PrinceP for the suggestion. I had not been building with those flags. However, the performance issue persists when I use the flags you suggested. Here is what I used to build:

[code]

And here is my BUILD file, in case that is a useful reference:

[code]

I'll now try the Releases v0.8.9 branch you mentioned. Thanks!

[2021-12-14 21:06] Alex7Li commented on #2880
I'm also confused by the documentation and would like to know exactly what these parameters do. Based on my experimentation, if we set either the min detection confidence or min tracking confidence to 1 or more, the function returns empty lists every single time. I actually thought it would never return an empty list from the documentation. I'm especially surprised by the behavior when the min tra

[2021-12-14 21:28] Jakub112998 commented on #2886
@jiuqiant  is the landmark number fixed to 33 joints? We would like to add torso joint which is not possible in this model. Is there any way we can solve it?

Your help would be highly appreciated.

[2021-12-14 23:36] alexdmiller commented on #2840
@PrinceP I just got everything building with v0.8.9, and unfortunately I'm seeing the same perf issue.

[2021-12-14 23:37] mhays-google commented on #2823
Definitely a useful feature, but we do not currently support loading multiple systems into the same page.  There is no projection on when this functionality would be available.

[2021-12-14 23:37] #2823 closed

[2021-12-14 23:37] mhays-google commented on #2819
Closing for now.  We are not currently looking into this (although I definitely see how this would be valuable).

[2021-12-14 23:37] #2819 closed

[2021-12-15 02:45] ithanwu commented on #2822
I rebuild the mediapipe on other server that has a similar envirenment ,and the issue is reproduced ,
and then I run the autoflip demo by gdb ,I located the stack ,where the error happens in the file "mediapipe/calculators/tflite/tflite_tensors_to_detections_calculator.cc", the method with problem is
TfLiteTensorsToDetectionsCalculator::ProcessCPU
I am trying to fix it ,but I tried many place ,non

[2021-12-15 03:31] chensisi0730 commented on #2842
in  docs/getting_started/install.md
     Option 1. Follow
     [the official Bazel documentation](https://docs.bazel.build/versions/master/install-windows.html)
-    to install Bazel 3.7.2 or higher.
+    to install Bazel 4.2.1 or higher.

So  , i must  update to 4.2.1 ?

[2021-12-15 06:03] PrinceP commented on #2840
Is it possible for you to give the model file. The same behaviour is not present for any other solutions in IOS.

[2021-12-15 06:18] #2833 closed

[2021-12-15 06:18] #2754 closed

[2021-12-15 06:36] sgowroji commented on #2828
hi @KenTee920806, Can you please try with the latest release to build and install and we also updated our recommended versions of sdk, ndk version and  bazel 4.2.1 .

[2021-12-15 06:53] ithanwu commented on #2822
![image](https://user-images.githubusercontent.com/95072185/146137528-a8384aae-8468-4cd1-a0f6-a1626fe2794a.png)

i finally find ,if i change this period value to a bigger one ,the segment fault error gone away ,but i ' m not sure does it really cause this problem ,
the video I used to test is snowboarding.mp4  provided by you from google drive

[2021-12-15 06:54] ithanwu commented on #2822
It's kind of your to reply me and confirm this issue's real cause

[2021-12-15 07:18] muhammadabdullah34907 commented on #2887
@sgowroji thank you so much for the very quick response.

So basically after tulsi app generates the xcode project for mediapipe, then I just changed the build system from legacy to new build system. Then added the account in signing capabilities and then selected the handstracking app. Then I have click on build  button to generate the build.

![Screenshot 2021-12-15 at 12 18 44 PM](https://user-

[2021-12-15 07:20] muhammadabdullah34907 commented on #2887
@sgowroji I am using bazelisk with bazel version 4.2.2, is there any issue of bazel version with this app ?

[2021-12-15 07:42] sgowroji commented on #2887
If you are trying to build IOS framework then refer https://github.com/google/mediapipe/issues/1549.  And also this w.r.t to the logs shared in the above comment https://github.com/google/mediapipe/issues/537. If that doesn't resolve your error. Please send us the complete logs to understand the issue to investigate further.

[2021-12-15 07:51] BingoZha commented on #2868
I modified the subgraphs and it works,but the pose_world_landmarks did not synchronize with the hands_world_landmarks.Could you have any ideas?

[2021-12-15 09:57] muhammadabdullah34907 commented on #2887
@sgowroji actually helloworld app works fine and build succeed but hand tracking app and pose estimation apps are giving this error and this is whole logs I am getting.
![image](https://user-images.githubusercontent.com/55294154/146164914-da6cd99f-161e-436f-9480-269269580edd.png)

[2021-12-15 10:02] muhammadabdullah34907 commented on #2887
@sgowroji I have also tried the above-shared resources you shared but had no success. I don't know if it's bazel issue.

[2021-12-15 10:35] jhan15 commented on #1615
This is really useful! I find that there are 478 landmarks now. I tried hard to examine the image, but I failed to find the indices after 468. I'm assuming that more landmarks were added to refine the mesh, but the previous index sequence remained unchanged. Can anyone confirm my assumption? Thank you!

[2021-12-15 12:23] vicaloy opened #2890 "How to use Effect Renderer in Mediapipe with Android Archive?"
Hi,

I want to place a texture in face mesh with face detection aar in android, but I don't know how to do it, please help.

I understood that is possible, the documentation say:

EFFECT RENDERER
The Effect Renderer is a component, which serves as a working example of a face effect renderer. It targets the OpenGL ES 2.0 API to enable a real-time performance on mobile devices and supports the follo

[2021-12-15 13:57] sgowroji commented on #2890
Hi @vicaloy, Please refer this issues to understand the implementation https://github.com/google/mediapipe/issues/1155, https://github.com/google/mediapipe/issues/1789 please reach us if you have any specific query with respect to the above context. You can find the [Android code ](https://github.com/google/mediapipe/blob/master/mediapipe/examples/android/src/java/com/google/mediapipe/apps/faceeff

[2021-12-15 18:49] kostyaby commented on #1155
Hey @ThilakReddyy,

[Face Geometry module](https://google.github.io/mediapipe/solutions/face_mesh.html#face-geometry-module) provides support for attaching 3D objects to a face and "inheriting" face 3D rotation. Please, take a look at the documentation and see whether this solution matches your needs

---

Hey @AswinParanji,

Unfortunately, MediaPipe doesn't provide an out-of-box Python API for th

[2021-12-15 19:39] sohail759 opened #2891 "mediapipe pose support with coral tpu"
<em>I m looking for human body pose estimation with google coral tpu.</em>

- MediaPipe Solution (Bosy Pose):
- Programming language : Python
- Are you willing to contribute it (Yes):

Currently, the media pipe pose estimation is not accelerated with coral edge tpus, so its a request to please add support for human pose estimation with tpus.

[2021-12-15 20:33] alexdmiller commented on #2840
@PrinceP We cannot share the actual model externally, but we have prepared a dummy version of our model that exhibits the same performance issue. You can find it here: https://drive.google.com/file/d/1ANACfwsjvD19IZkRimNkVsJGDnFj28hW/view

Thanks for taking a look!

[2021-12-15 21:19] muhammadabdullah34907 commented on #2887
@sgowroji thank you, I was able to fix that error but now it's a new error. Please check the below screenshot for complete logs.

Showing All Messages
/Users/macbookair/Documents/aman/mediapipe/external/com_google_protobuf/src/google/protobuf/stubs/mutex.h:185:16: aligned allocation function of type 'void *(std::size_t, std::align_val_t)' is only available on iOS 11 or newer

![Screenshot 2021-12-

[2021-12-16 01:03] matanster commented on #742
It becomes clear to me now that the _world landmarks_ are just a set of meter valued predictions of the distances of the landmarks to the middle of the hand as detected. Roughly from the middle finger MCP. They are world landmarks not in terms of any distance from the camera or position in the scene, but in terms of the geometry of the hand in the world rather than in image capture geometry. Of co

[2021-12-16 03:02] chensisi0730 commented on #2842
@jiuqiant  I have installed NDK 22   via Android Studio  and  setup_android_sdk_and_ndk.sh   , test in 3 environment  (ubuntu16  ubuntu18  macos)  , but  all of them  update failed !

[2021-12-16 03:31] jiuqiant commented on #2842
Apologize for the trouble. I also don't have any clue why that happens since we never tried building mediapipe aar with opencv 4.5+. My suggestion is going back to opencv 4.1 or lower to build mediapipe aar.

Also, please consider https://maven.google.com/web/index.html?#com.google.mediapipe:hands.

[2021-12-16 04:42] sgowroji commented on #2839
To reroute packets through an already running graph, "SwitchContainerCalculator" must be controlled using an input stream rather than an input-side-packet.  SwitchContainerCalculator does accept input streams similar to its input side packets.

Also, a common design pattern for switching calculator options is to re-start the graph with a new configuration and/or new side-packets, so you can consid

[2021-12-16 04:45] sgowroji commented on #2876
Hi @nelsontseng0704,  https://google.github.io/mediapipe/solutions/autoflip.html works for input videos. May not able available for images yet.

[2021-12-16 04:46] jiuqiant commented on #2842
Apologize for the trouble. I also don't have any clue why that happens since we never tried building mediapipe aar with opencv 4.5+. My suggestion is going back to opencv 4.1 or lower to build mediapipe aar.

Also, please consider https://maven.google.com/web/index.html?#com.google.mediapipe:hands.

Update:
I can confirm that the issue is caused by opencv 4.5.1. The issue is not producible when th

[2021-12-16 04:47] jiuqiant commented on #2842
Apologize for the trouble. I also don't have any clue why that happens since we never tried building mediapipe aar with opencv 4.5+. My suggestion is going back to opencv 4.1 or lower to build mediapipe aar.

Also, please consider https://maven.google.com/web/index.html?#com.google.mediapipe:hands.

Update:
I can confirm that the issue is caused by opencv 4.5.1. The issue is not producible when th

[2021-12-16 04:48] sgowroji commented on #2829
Hi @sainisanjay, Are you testing the above on a cropped image or scaled image in c++.  ?. Try checking the same with other platforms  python and java implementation.

[2021-12-16 04:49] sgowroji commented on #2810
Hi @yoyojacky, Are you able to execute the code and see the result and  Does that cause code breakage ?  Python threading and glog logging did actually work ?

[2021-12-16 04:54] sgowroji commented on #2817
We do have many applications in Playstore and with the same implementation and never noticed such compliance errors.

[2021-12-16 04:55] sgowroji commented on #1404
MediaPipe has limited resources for new features.  While this is a good idea, we don't foresee any debo area.

[2021-12-16 04:55] #1404 closed

[2021-12-16 04:55] sainisanjay commented on #2829
@sgowroji I am testing on cropped image.

[2021-12-16 05:14] sgowroji commented on #2199
https://google.github.io/mediapipe/solutions/hands.html#multi_hand_world_landmarks  here You can find the world coordinates  of Hands

[2021-12-16 05:56] #2581 closed

[2021-12-16 06:01] sgowroji commented on #2230
@brucechou1983 Thank you for guidance.  Will reopen the thread, if the issue still persists.

[2021-12-16 06:11] brucechou1983 commented on #2230
@lindemeier did you solve the issue?

[2021-12-16 06:16] sgowroji commented on #1832
MediaPipe has limited resources for new features. While this is a good idea, we don't foresee any debo area. We will let you know if there is any update specific to it.

[2021-12-16 06:16] #1832 closed

[2021-12-16 06:22] sgowroji commented on #1392
z represents the landmark depth with the depth at the wrist being the origin, and the smaller the value the closer the landmark is to the camera. The magnitude of z uses roughly the same scale as x.

World landmarks https://google.github.io/mediapipe/solutions/hands#multi_hand_landmarks  and  Hand landmarks https://google.github.io/mediapipe/solutions/hands#multi_hand_landmarks

[2021-12-16 06:23] chensisi0730 commented on #2842
hi @jiuqiant
The issue   you mentioned  is " lack  symbol "__subtf3" "  or  can not update  NDK to r22 ?

[2021-12-16 07:12] slajar commented on #2230
No it is not solved at all. We worked around this issue somehow. Even though we will probably remove mediapipe from our application because of this.

[2021-12-16 07:36] brucechou1983 commented on #2230
I can look into the problem if you have a minimum example for this issue.

[2021-12-16 07:45] tri-bao opened #2892 "Face landmark key points index"
Hello, this is quite a very basic question. I tried to search throughout issue list of this repository but couldn't find one. Please advice.

Is the order of key points in `NormalizedLandmarkList` returned by the Iris tracking of mediapipe same as the tensorflowJS FaceMesh solution? I mean I am looking for the same definition as this typescript [https://github.com/tensorflow/tfjs-models/blob/maste

[2021-12-16 07:56] anathema43 opened #2893 "Using mediapipe hand solution to create hand landmark dataset"
Hi,
I am using mediapipe handsolution to create handlandmark dataset and I encountered some basic problem. while extracting hand landmark i encountered some valuses as None(for eg- if wrist is not visible then the wrist landmark is none) . So i am confused what valuw should I put in the label vector for that landamrk should i put zero (but (0,0) is also a location ) wont it affect the model?
shoul

[2021-12-16 07:57] slajar commented on #2230
@brucechou1983 well an example is not easy/small/minimum since this is a conceptual problem.
The pipeline approach is like image --> mediapipe --> doing some fancy processing --> output

You will never see this image form the output again or even capturing parameters at that time. My proposal here would be to hand in a void * pointer along with the image, that I can reinterprete_cast on the output

[2021-12-16 08:18] #2796 closed

[2021-12-16 08:24] furkandindar commented on #1606
Hi, is there any updates on this? i get camera.stop() is not a function error

[2021-12-16 11:17] vKrypto opened #2894 "Lower fps in IOS Mediapip hands JS solution, ( FPS issues)."
Hi, team
I was trying mediapipe hands-js-solution, had a problem with fps count in iPhone X.

so I tried this on my linux-chrome.

when I am changing user-agent to iPhone, the FPS count decreases from 30 to 5.

is there anything we can do ??

checkout this two screen-shot.

case 1: using responsive mode.

![Screenshot from 2021-12-16 16-04-01](https://user-images.githubusercontent.com/25729859/146

[2021-12-16 12:18] #2850 closed

[2021-12-16 12:47] TommyZihao opened #2895 "When will the iris API for Python release？"

[2021-12-16 12:48] TommyZihao commented on #2895
I think iris is just like face detection and face mesh, easy to develop it for Python, isn't it?

[2021-12-16 13:08] nelsontseng0704 commented on #2876
Thx for ur kindly reply

On Thu, Dec 16, 2021 at 12:45 PM GowrojiSunil ***@***.***>
wrote:

[2021-12-16 13:19] sgowroji commented on #2892
Hi @tri-bao, You can find the coordinates here for facemesh https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_geometry/data/canonical_face_model_uv_visualization.png

[2021-12-16 13:21] sgowroji commented on #2893
Hi @anathema43, Could you please provide steps to reproduce the above behaviour. Thanks!

[2021-12-16 13:26] sgowroji commented on #2895
Duplicate https://github.com/google/mediapipe/issues/2605#issuecomment-938049615. You can achieve this with facemesh in python by setting refine_landmarks to True.

[2021-12-16 13:31] #2876 closed

[2021-12-16 13:46] tri-bao commented on #2892
thanks @sgowroji

[2021-12-16 13:46] #2892 closed

[2021-12-16 14:59] jiuqiant commented on #2842
I still tried it with ndk 21. Back to your original issue, it's highly likely caused by the opencv version.

[2021-12-16 18:43] matanster commented on #742
Regarding the non-world landmarks, their _x_, _y_ part is simply the viewport (image) position as predicted by the pipeline, no complications there. They range from 0 to 1 so as to fully span the image width and height.

Unlike the case with the "world landmarks", the _z_ value of the non-world landmarks is always zero-ish for the _wrist landmark_, which serves as the z-axis origin for the _z_ val

[2021-12-16 18:59] tyrmullen commented on #2894
This is a known issue.  iOS traditionally has not supported WebGL2, so we were unable to run our faster GPU-side machine learning on these devices.  As a result, we intentionally fall back to (often much slower) CPU-side machine learning for iOS.  The latest iOS (15+) versions are supposed to support WebGL2, but we've been encountering issues there, which is why the fallback is still enabled by de

[2021-12-16 18:59] #2894 closed

[2021-12-16 19:42] AsRaNi1 opened #2897 "Python Implementation for Object Detection"
The python implementation of object detection can be achieved by using the DNN module of cv2 and the YOLO weights. It would be great to have that here. I have the code ready, may I generate a pull request for validation?
![My Post](https://user-images.githubusercontent.com/84843295/146437754-20e4be72-2ffa-4b03-b06d-7c8112d991fe.png)

[2021-12-17 02:40] EddieChan1993 opened #2898 "why support golang?"
Hope to provide support for golang

[2021-12-17 02:41] laosanlyu opened #2899 "Different output when build with opt and dbg for boxtracker"
build for the same graph with opt and dbg option but get different output.
build with opt:
`bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 mediapipe/examples/desktop/object_tracking:object_tracking_cpu `
build with dbg:
`bazel build -c dbg --define MEDIAPIPE_DISABLE_GPU=1 mediapipe/examples/desktop/object_tracking:object_tracking_cpu`

run the compiled binary for the same video:
`bazel-bin/me

[2021-12-17 03:20] ithour opened #2900 "How to make the Holistic work on the CPU？"
I tried to compile and use holistictrackingcpu。  but appear .MediaPipeException: invalid argument: Graph has errors:
    Packet type mismatch on calculator outputting to stream "input_video": The Packet stores "::mediapipe::Image", but "mediapipe::ImageFrame" was requested.

[2021-12-17 03:22] chensisi0730 commented on #2842
1、 So  you tried it with NDK21  and opencv4.5.1  ,  also   report " lack symbol "__subtf3" "  ? and could you attempt to NDK 22 and opencv4.5.1 ?
2 、With  opencv4.1.2 ,  system work ok ,  but  because some reason  ,  i can not  fallback (or  rollback) to 4.1 .2  in  actual use  because  other modules need to use Opencv4.5.1

thank you very much !

[2021-12-17 04:14] sgowroji commented on #2899
Hi @laosanlyu, Could you please share the video to test the above scenario and let us know if there are any code changes w.r.t the above. Thanks!

[2021-12-17 04:15] sgowroji commented on #2898
Hi @EddieChan1993, Could you please elaborate your use case with respect to the above feature request. Thanks!

[2021-12-17 04:17] sgowroji commented on #2900
Hi @ithour, Could you please provide steps to reproduce the above error. Thanks!

[2021-12-17 06:01] laosanlyu commented on #2899
Sorry, the video file is too big to upload, there is no code changes. any videos will get similar result

[2021-12-17 06:02] ithour commented on #2900
load("//mediapipe/java/com/google/mediapipe:mediapipe_aar.bzl", "mediapipe_aar")

mediapipe_aar(
    name = "holistic_tracking_cpu",
    calculators = ["//mediapipe/graphs/holistic_tracking:holistic_tracking_cpu_graph_deps"],
)
-----------------------------------------------------------------------------------------------------------------------
bazel build -c opt --strip=ALWAYS \
--action_env PYT

[2021-12-17 06:03] laosanlyu commented on #2899
closed by mistake

[2021-12-17 06:04] ithour commented on #2900
@sgowroji

[2021-12-17 06:18] #2788 closed

[2021-12-17 08:11] laosanlyu commented on #1857
Have you successfully visualize the state of tracking state for each box?

[2021-12-17 08:42] chensisi0730 commented on #2842
@jiuqiant   要不我们用中文交流吧？
我现在的任务就是产品的其他模块更新了 Opencv4.5.1  ，所以我要同步更新。然后就报错"__subtf3" 运行崩溃。然后升级ndk22也失败，您可以测试下，使用NDK22和opencv4.5.1  吗？

[2021-12-17 10:18] #2793 closed

[2021-12-17 10:39] ianni67 commented on #1786
Hello @kostyaby, I'm sorry for bothering again, but I'm currently looking into the python version of mediapipe and found out that, according to https://github.com/google/mediapipe/issues/1530#issuecomment-940746284,  the iris landmarks are now included within the face mesh model when the refine_landmarks configuration option is set to True. However, I could not find a file where the (3D) coordinat

[2021-12-17 11:16] #2900 closed

[2021-12-17 11:25] testraviacc987766778 opened #2901 "test updated"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4):
- Compiler version

[2021-12-17 11:26] #2901 closed

[2021-12-17 14:15] jiuqiant commented on #1281
Bazel doesn't support android ndk r22+ yet. Please use r21 instead.
See more details in https://github.com/bazelbuild/bazel/issues/12889.

[2021-12-17 14:24] jiuqiant commented on #2842
For Android NDK, Bazel currently doesn't support Android NDK r22+. We have to use r21 and below.  https://github.com/bazelbuild/bazel/issues/12889 provides more details. Apologize for the previous wrong suggestion.

For OpenCV 4.5.1, we are in progress of removing MediaPipe from depending on OpenCV. Thus, we don't plan to support more new OpenCV versions. MediaPipe should work fine with OpenCV 3.x

[2021-12-17 14:37] jiuqiant commented on #2842
For Android NDK, Bazel currently doesn't support Android NDK r22+. We have to use r21 and below.  https://github.com/bazelbuild/bazel/issues/12889 provides more details. Apologize for the previous wrong suggestion.

For OpenCV 4.5.1, we are in progress of removing MediaPipe from depending on OpenCV. Thus, we don't plan to support more new OpenCV versions. MediaPipe should work fine with OpenCV 3.x

[2021-12-17 15:05] ssoumyajit commented on #2880
I spent some time with different videos and their per frame landmarks; and it looks like some frames will have no landmarks when both the min_detect_coeff and min_track_coeff are less than the set values.

[2021-12-17 15:05] #2880 closed

[2021-12-17 22:50] hasankhurshid29 opened #2902 "How to check for mediapipe version on Raspbian?"
I build a v0.8.8 using https://github.com/PINTO0309/mediapipe-bin#4-build this guide. But when it completed successfully, still the codes which are meant to run on v0.8.8 or greater were giving error on tags which they can't find. So how can I check the version of mediapipe installed?

OS: Raspbian 64 Bit
Raspberry Pi 4 8 GB

[2021-12-18 01:19] TalorHelg opened #2903 "Google"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4):
- Compiler version

[2021-12-18 05:26] #2903 closed

[2021-12-18 05:29] sgowroji commented on #2902
Hi @hasankhurshid29, Please go through our MediaPipe Code repo https://github.com/google/mediapipe. For python solutions you can build it from here https://google.github.io/mediapipe/getting_started/python

[2021-12-18 05:29] #2902 closed

[2021-12-18 05:59] ThilakReddyy commented on #1155
Hello Kanstantsin Sokal,
                            My name is Thilak Reddy and I have a intern at
a company and the company wants me to render the 3d objects on face. I have
look through the documentation but I am not understanding what to do. Would
me please send me a demo project or the required steps to render the image
on face.

On Thu, 16 Dec 2021 at 00:19, Kanstantsin Sokal ***@***.***>
wr

[2021-12-18 07:24] vKrypto commented on #2894
I am using  habds@0.4.1635986972.js and I just removed 1 line.. from my code, and forced it to use GPU.

    // default: "iPad Simulator;iPhone Simulator;iPod Simulator;iPad;iPhone;iPod".split(";").includes(navigator.platform) || navigator.userAgent.includes("Mac") && "ontouchend" in document

 and it luckily works..with FPS (~30), tested in (XR, MacBook-pro-intel), maybe they started WebGL suppor

[2021-12-18 07:39] vKrypto commented on #2894
if you got time to look, please check out this link [https://www.ornaz.com/realtime-tryon-v9/](REAL-TIME-TRYON) ( initial load slow, as using a below-average server to serve files..)

and let me know the device name, if it's not working or slow FPS(< 15) In your device.

[2021-12-18 10:34] zzmicer commented on #1857
Hey, @laosanlyu!
Yes, I've extracted motion saliency points, and created a new bounding box around them.

[2021-12-18 12:39] duy-maimanh commented on #1155
Mediapipe provide all we need to transform, rotate , scale, etc. This is 4*4 matrix. Sorry but I no longer work with mediapipe so I can't remember exactly. You can read more at here. http://www.opengl-tutorial.org/beginners-tutorials/tutorial-3-matrices/

[2021-12-18 13:04] #2893 closed

[2021-12-19 06:43] kostyaby commented on #1155
Hey @ThilakReddyy,

We've already shared [documentation](https://google.github.io/mediapipe/solutions/face_mesh.html#face-geometry-module) as well as sample apps for [Android](https://github.com/google/mediapipe/tree/master/mediapipe/examples/android/src/java/com/google/mediapipe/apps/faceeffect) and [iOS](https://github.com/google/mediapipe/tree/master/mediapipe/examples/ios/faceeffect) that do e

[2021-12-19 08:23] ianni67 commented on #2707
Hello @sygi , I guess that the answer you're looking for might be in [this post](https://github.com/google/mediapipe/issues/1642#issuecomment-795804710). I already discussed this issue (for the C++ implementation) with @kostyaby. You'll find more interesting issues in the same thread.

[2021-12-19 09:39] DrockDaniel opened #2904 "Drock"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4):
- Compiler version

[2021-12-19 12:20] rdisabato opened #2905 "Segmentation fault (core dumped) when running Holistic GPU example on Ubuntu 20.04"
Hi,
I can successfully build the "holistic_tracking_gpu" example, but when I run it I get the following error:
"Segmentation fault (core dumped)"

I can successfully build and run the "hand_tracking_gpu" example without any problem.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): NO custom code
- OS Platform and Distribution

[2021-12-19 15:31] AzureRain1 opened #2906 "Misnamed pose landmark in JS solution"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): No
- OS Platform

[2021-12-19 15:48] rdisabato commented on #2905
The pull request #2463 from @homuler has fixed the problem, but it is not merged in the official Medipipe. Why?
2 months have passed since the pull request.

[2021-12-19 16:59] TechnicalMeaw commented on #2828
I also have the same problem

`C:\mediapipe\mediapipe>bazel build -c opt --config=android_arm64 mediapipe/examples/android/src/java/com/google/mediapipe/apps/handtrackinggpu:handtrackinggpu
WARNING: Output user root "C:/Users/Santanu Mukherjee/_bazel_Santanu Mukherjee" contains a space. This will probably break the build. You should set a different --output_user_root.
DEBUG: Rule 'rules_foreign_cc

[2021-12-19 19:23] jiuqiant commented on #2828
@TechnicalMeaw
In https://google.github.io/mediapipe/getting_started/install.html#installing-on-windows, there is a note saying that building MediaPipe Android apps is still not possible on native Windows. Please do this in WSL instead.

[2021-12-19 21:26] TalorHelg opened #2907 "bomb"
hAxy

everything dope

[2021-12-20 02:45] Ar4enal commented on #2602
Try to build the latest aar.

[2021-12-20 05:31] sgowroji commented on #2904
Hi @DrockDaniel, Could you please update the below questions in the template. Thanks!

[2021-12-20 05:34] sgowroji commented on #2907
Hi @TalorHelg, Could you please clarify your query with complete details. We would be happy to assist you if you have any query specific to MediaPipe solutions. Thanks!

[2021-12-20 05:37] sgowroji commented on #2906
Hi @AzureRain1, Thank you for using pose solution. Could you please bring any logs or data specific to the above behaviour  to investigate further. Thanks!

[2021-12-20 05:47] #2858 closed

[2021-12-20 05:53] TechnicalMeaw commented on #2828
Thanks for clarifying, I was trying it for two days...

[2021-12-20 06:47] #2583 closed

[2021-12-20 06:59] TommyZihao commented on #2895
How can I get iris distance from camera through face mesh attention model, I think it's not available in face mesh API.

[2021-12-20 07:35] CZ0520 commented on #1984
I'm using macOS Monterey and I still have this error from terminal
<img width="570" alt="Screen Shot 2021-12-20 at 3 31 15 PM" src="https://user-images.githubusercontent.com/94819198/146729513-021ead01-9b8d-4a18-af58-28a54373fd7e.png">
:

[2021-12-20 07:47] #1775 closed

[2021-12-20 07:49] TomHsiao1260 opened #2908 "Cannot access MediaPipe npm from CDN"
It seems that MediaPipe npm has been blocked by the chrome browser since yesterday. I cannot load related code & models from MediaPipe CDN. Has anyone faced a similar problem? You can test the following links:

https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js
https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js
https://cdn.jsdelivr.net/npm/@mediapipe/drawing_u

[2021-12-20 07:52] CZ0520 commented on #1325
it still doesn't work for me on python 3.10:
<img width="570" alt="Screen Shot 2021-12-20 at 3 31 15 PM" src="https://user-images.githubusercontent.com/94819198/146731635-c23932d7-2b9c-4b81-a231-b544513e8d16.png">

[2021-12-20 08:47] #2856 closed

[2021-12-20 08:47] #2804 closed

[2021-12-20 08:57] sgowroji commented on #2908
Hi @TomHsiao1260, Could you please share the error logs to investigate the issue further. Thanks!

[2021-12-20 09:47] #2809 closed

[2021-12-20 09:54] TomHsiao1260 commented on #2908
Hi, thank for the quick reply! I think it's a temporary issue from `cdn.jsdelivr.net` and it works well now. So I close this issue.

[2021-12-20 09:54] #2908 closed

[2021-12-20 11:47] #2863 closed

[2021-12-20 12:00] Roopesh-Bharatwaj-K-R opened #2909 "Finding Iris RGB Pixels"
I have the Iris Landmarks Points( 5 : Centre, left, right, top, bottom). X,Y Coordinates

Can we Able to get the Entire Iris each Pixel(RGB)  Information, is there any specific Call i should Make.

[2021-12-20 12:19] FlyingD3 opened #2910 "Assign Rect_id"
Hello,
I'm writing some code to track the rectangles in the handtracking application and to do it I've put this line of code inside it:

static const char* kRectOutputStream = "hand_rects_from_landmarks";
[self.mediapipeGraph addFrameOutputStream:kRectOutputStream outputPacketType:MPPPacketTypeRaw];

From this I obtain center_x, width, height  and so on, but the rect_id (that in rectangle.h  @is o

[2021-12-20 12:19] AzureRain1 commented on #2906
@sgowroji As I mentioned above, just go to the Demo page of the JS Holistic solution at [https://codepen.io/mediapipe/pen/LYRRYEw](https://codepen.io/mediapipe/full/jOMbvxw), open the Editor and insert
[code]
above line 109, and you will see the behavior. Any scene with a face in it will work.

[2021-12-20 12:47] #2864 closed

[2021-12-20 14:49] sgowroji commented on #2909
Hi @Roopesh-Bharatwaj-K-R,  Could you please point us to the above code with any links which you are referring and also elaborate with complete details. Thanks!

[2021-12-20 14:51] sgowroji commented on #2910
Hi @FlyingD3, Could you please elaborate your use case with respect to the above query. Thanks!

[2021-12-20 14:54] PopoTeaTree commented on #2825
From this link (https://github.com/google/mediapipe/issues/644#issuecomment-980508648), 'palm_detections' is the output from Hand detection graph. And 'Detections' output of Detection node in Hand tracking graph is the 'palm_detections' output. You can see more clear in C++ file.

![EBC8C06A-9C42-4CCB-A3A6-578C2DC2D111](https://user-images.githubusercontent.com/52104672/146786407-b9ca5efc-f72d-47d

[2021-12-20 14:57] jiuqiant commented on #1984
Please do verify that the python version is higher than 3.7 and run python3 -m pip install mediapipe.

[2021-12-20 14:59] PopoTeaTree commented on #644
I did not run on  static mode, as the hand tracking graph required the Input Video stream.

[2021-12-20 15:01] jiuqiant commented on #2895
Unfortunately, FashMesh doesn't provide the iris distance data. It only has the iris landmarks.

We currently do have a plan to make a separate iris solution.

[2021-12-20 15:01] #2895 closed

[2021-12-20 16:45] Giovannibriglia commented on #2677
I have the same problem

[2021-12-20 19:42] mhays-google commented on #2761
Thank you for the patience.  I've created a new version (0.3.1640029074) with the stop() method properly exported.

[2021-12-20 19:42] #2761 closed

[2021-12-20 19:48] mhays-google commented on #2725
I know that the team wanted to work on getting this on Safari in general, but to my knowledge, there is no short term plan.  I think it came down to support for WebGL.  I apologize for that inconvenience.

[2021-12-20 19:48] #2725 closed

[2021-12-20 19:52] mhays-google commented on #2669
Hi mehtapaxshal, can you tell me if the demo at code.mediapipe.dev/codepen/pose works on your machine (that is, the same machine on which you are experiencing this error?)

If the solution fails to start, it won't load the file.  You can try calling `await pose.initialize();`.  This will force everthing to try to initialize before sending your first frame.

[2021-12-20 20:21] mhays-google commented on #1606
Thank you for the patience.  The stop() function is visible in the latest version.

[2021-12-20 20:35] mcclanahoochie commented on #2762
CPU Mark is a decent proxy for performance. Another proxy would be GPU performance.
When MediaPipe runs in Chrome, it uses both CPU/GPU in this way:
_input image > GPU pre-processing > CPU model inference > GPU post-processing > GPU rendering_
The most demanding part would be model inference, but that is only half of the picture.

I have an 8-core celeron chromebook , and with https://codepen.io/m

[2021-12-20 20:51] tyrmullen commented on #2725
FWIW, the facemesh demo seems to run fine on Desktop Safari for me (both with and without refine_landmarks).  I'm using Safari Version 15.1 (16612.2.9.1.30, 16612) on a MacBook Pro (Big Sur 11.6.1).  So perhaps try updating your Safari and see if the issue is resolved?

[2021-12-20 23:31] jiuqiant commented on #2886
The solution API only outputs the landmarks that generated by the model. If you need additional joint, please calculate the joints based on the landmark output.

[2021-12-20 23:31] #2886 closed

[2021-12-21 00:34] TommyZihao commented on #2895
Please make it as soon as possible, this is my video tutorial about face mesh
https://www.bilibili.com/video/BV1ei4y1d7zA?
I want to make one for iris, too.

[2021-12-21 01:26] Ar4enal commented on #2900
same problem

[2021-12-21 01:28] Ar4enal commented on #2900
@ithour same problem. Did you solve it?

[2021-12-21 01:58] ithour commented on #2900
@Ar4enal  yes， reference resources  ：https://google.github.io/mediapipe/solutions/face_detection.html

[2021-12-21 03:54] Ar4enal commented on #2900
Sorry, I do not understand how this reference resource is related to holistic cpu?

[2021-12-21 04:16] ithour commented on #2900
@Ar4enal
imitate face_detection cpu
 CPU PIPELINE
This is very similar to the GPU pipeline except that at the beginning and the end of the pipeline it performs GPU-to-CPU and CPU-to-GPU image transfer respectively. As a result, the rest of graph, which shares the same configuration as the GPU pipeline, runs entirely on CPU.

Graph: mediapipe/graphs/face_detection/face_detection_mobile_cpu.pbtxt
An

[2021-12-21 06:26] Ar4enal commented on #2900
I got it! Thank you very much.

But the rendered surface has a problem. The facemesh can be detected correctly. But the pose and hands landmarks can not move. I wonder whether you have met this problem.

[2021-12-21 06:35] ithour commented on #2900
Everything is normal for me

[2021-12-21 07:01] Ar4enal commented on #2900
Alright, thank you anyway.

[2021-12-21 07:05] #2837 closed

[2021-12-21 08:41] NevadaLarson commented on #2882
After days of frustration writing landmark instead of landmarks worked.

if results.multi_hand_landmarks:
    for handlms in results.multi_hand_landmarks:
        print(enumerate(handlms.landmarks))            #error here
        mpDraw.draw_landmarks(frame,handlms,mpHands.HAND_CONNECTIONS)

[2021-12-21 08:41] #2882 closed

[2021-12-21 09:42] Anulo2 opened #2911 "Facemesh landmarks inconsistency"
Informations
- I'm using React 17.0.2 and three.js
- I want to compare the landmarks of a face in 2 different moments. For example when I'm smiling or not.
- Windows 10
- MediaPipe version: https://www.npmjs.com/package/@mediapipe/face_mesh latest
- Solution: FaceMesh

I expect the model to return landmarks that when I rotate my face and move around will remain the same distance between eachother

[2021-12-21 10:22] sgowroji commented on #2911
Hi @Anulo2,   Could you please provide shrinking/stretching behaviour w.r.t Facemesh model with some screenshots or videos to understand the issue and also code implementation with respect to the above query. Thanks!

[2021-12-21 10:40] ruadoVn opened #2912 "My code wont work after install mediapipe"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe):Yes
- OS Platform

[2021-12-21 12:26] pkoppise commented on #2489
Hi @willstott101

I have created lib mentioned in https://github.com/willstott101/meta-mediapipe/blob/master/recipes-framework/mediapipe/files/0002-Build-library.patch  and using it in my QT project on RPI4 (wayland display)...But I got same error, which was mentioned earlier

W20211109 06:26:59.615597 1483 gl_context_egl.cc:168] Creating a context with OpenGL ES 3 failed: UNKNOWN: ; eglChooseConf

[2021-12-21 12:54] sn1c3 commented on #2858
Oh sorry for the late reply. Thanks this solved my problem!

[2021-12-21 13:16] willstott101 commented on #2489
I _think_ in some circumstances you may end up emulating the GPU which makes it crazy slow. Have you tried different `EGL_PLATFORM` values including `EGL_PLATFORM=wayland` and `EGL_PLATFORM=gbm` (works independently of compositor) at runtime? I haven't ever tried using wayland with mediapipe or egl for that matter - we use x11 still atm

[2021-12-21 13:20] willstott101 commented on #2489
Ah you say your CPU load was reduced? We've had a lot of trouble on RPi 4 with it's memory bus - shifting too much memory around can saturate it (when you're rendering and mediapiping and capturing cameras etc). I think you might have to dig around to figure out how to improve the performance. Try turning off other programs and reducing camera resolution and such - mediapipe's examples don't need

[2021-12-21 14:21] pkoppise commented on #2489
@willstott101 thanks for reply.

Yes, CPU load is reduced when running hand tracking example using gpu (30%) , with out using GPU the cpu load is 120%. Yes, we will spend more time on improving the performance(enabling Dma-Buf Zero copy for better video rendering, threadpool etc..)

On other hand tried setting the variable EGL_PLATFORM for supported surfaces, still patch dependency is there.

Coul

[2021-12-21 20:52] mcclanahoochie commented on #2855
Which platform/language is this? If this is for Python, you can just insert your code above into the [hands example](https://google.github.io/mediapipe/solutions/hands#python-solution-api).

Alternatively, have you considered just writing a calculator to do this, and have that be the first calculator in the graph? There are many calculators you [could use as an example](https://github.com/google/m

[2021-12-21 22:24] FlyingD3 commented on #2910
Of course, I'm writing an app for iOS and I need to track the movements of two hands of 2 different persons. The inputs are some videos preloaded on the app. I'm able to extract the coordinates of the rectangles and the landmarks of every hand. In order to track the movements correctly during the time I need to have the rect id of the boxes. In the class rectangle.h there's the id like optional fi

[2021-12-22 01:21] pekochun opened #2913 "Is there any way to get the local coordinates of the face mesh?"
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):

I used the following code.

  https://github.com/google/mediapipe/blob/master/mediapipe/examples/android/src/java/com/google/mediapipe/apps/facemeshgpu/MainActivity.java

If you code it like this you can get the screen coordinates, but I don't want that.
float eyePoint1 = multiFaceLandmarks.get(0).get

[2021-12-22 04:21] sgowroji commented on #2913
Hi @pekochun, If you are looking for face coordinates you can find it here https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_geometry/data/canonical_face_model_uv_visualization.png  and android connections of eyes and others can be seen here https://github.com/google/mediapipe/blob/master/mediapipe/java/com/google/mediapipe/solutions/facemesh/FaceMeshConnections.java

[2021-12-22 06:37] sgowroji commented on #2912
Because Hand's __init__ method now has 5 params (see https://github.com/google/mediapipe/blob/master/mediapipe/python/solutions/hands.py#L89) and the third parameter is model_complexity, which is an int. Please modify your code accordingly.

[2021-12-22 08:49] Anulo2 commented on #2911
hi @sgowroji, I've created a small project with the code to recreate the issue, you can find it [here](https://gitlab.com/qbgdevs/google-mediapipe-issue).
I've also added a demonstration image: https://gitlab.com/qbgdevs/google-mediapipe-issue/-/raw/main/Demonstrationpng.png
The red dots you see are the initial facemesh landmarks that I use as a reference, while the white points are the landmarks

[2021-12-22 10:06] UgurErcelik opened #2914 "Error while building objectdetection3d example on Windows 10 wsl (Ubuntu 20.04.3) for Android"
I'm following the steps [Mediapipe Android](https://google.github.io/mediapipe/getting_started/android.html) to build an Android application(Objectdetection3d) using Mediapipe,I've successfully completed the installation procedure for Window's Subsystem for Linux (WSL) using Ubuntu 20.04.3

I'm now trying to build the objectdetection3d example from the Mediapipe repository on WSL by following thes

[2021-12-22 10:15] nelsontseng0704 opened #2915 "How do we build autoflip with tensorflow GPU support?"
Hi Mediapipe team,
How do we build Autoflip pipeline with Tensorflow GPU support?

**System information**:

OS Platform and Distribution : Linux Ubuntu16.04 with Nvidia GPU (CUDA support)
MediaPipe version: 0.8.6
Bazel version: bazel 3.7.2
Solution: Autoflip
Programming Language: C++

**Describe the problem**:

First question is about the tutorial(https://google.github.io/mediapipe/getting_started

[2021-12-22 10:25] wingdi opened #2916 "Android:aar: How can i improve compiling speed?"
According https://google.github.io/mediapipe/getting_started/android_archive_library.html
I compile an .aar need one and a half hour. Anything i can do to decrease the time ?

[2021-12-22 10:33] wingdi commented on #2916
Maybe this question out of this project, i will close it.

[2021-12-22 10:33] #2916 closed

[2021-12-22 10:47] #2821 closed

[2021-12-22 11:07] sgowroji commented on #2915
Hi @nelsontseng0704,  MEDIAPIPE_DISABLE_GPU = 1 will disable the GPU support.  Did you see any error while building Autoflip with GPU ?

[2021-12-22 11:15] sgowroji commented on #2914
Hi @UgurErcelik, What is the bazel version ?  Did you  try executing the build commands `bazel clean --expunge` and verify with the above steps again.

[2021-12-22 11:22] UgurErcelik commented on #2914
i tried this command ``` bazel clean --expunge ``` a lot but got the same error.
My Versions :
Bazelisk version: v1.10.1
Build label: 4.2.2

[2021-12-22 12:14] chensisi0730 commented on #2842
So  , can you OpenCV  version in homepage ?

[2021-12-22 14:32] rdisabato opened #2917 "Full body detection with max accuracy on desktop and GPU"
Hi,

What I am trying to achieve is the execution of the Holistic solution at maximum performance. Next I would like to add iris detection as well (if it is not already included in the Holistic solution by setting the refine_face_landmarks = true parameter).
To do this I am using a desktop with ubuntu 20.04 and an Nvidia video card which supports OpenGL ES 3.2.

For maximum performance I seem to h

[2021-12-22 21:00] gilcu2 opened #2918 "Pose or holistic solution leans the body forward in straight facing the camera pictures"
As was reported in previous issue in straight facing the camera pictures , pose or holistic solutions leans the body forward. For example in a clean picture of someone in standup facing the camera, when you analized the depth, the feet are deeper than the expected  position, the trunk is bent forward and the arms are well in front of the body. In general, the higher is a body part is, the less tha

[2021-12-22 22:36] rajeshrimal516 commented on #1340
Did you figure it out the problem? I am also stuck in this error.

[2021-12-23 02:23] regainOWO commented on #914
@pani0815 @prabhavnegi
if you want to calculate the angle at which the finger bends in 3D coordinates, may be you should use MULTI_HAND_WORLD_LANDMARKS
refer: [MULTI_HAND_WORLD_LANDMARKS](https://google.github.io/mediapipe/solutions/hands.html#multi_hand_world_landmarks)
real-world 3D coordinates in meters with the origin at the hand’s approximate geometric center.

[2021-12-23 02:47] #2499 closed

[2021-12-23 02:47] #2079 closed

[2021-12-23 04:24] sgowroji commented on #2918
Hi @gilcu2, Thank you for reaching us regarding the above issue. Did you see the same with our pose or holistic solution python examples. We did not encounter any such scenarios, Could you please share your code changes to understand the above behaviour. Thanks!

[2021-12-23 04:44] sgowroji commented on #2917
Hi @rdisabato, For C++ Holistic solutions you can set the modelComplexity in the holistic_landmark_gpu.pbtxt  using this [values](https://github.com/google/mediapipe/blob/a9b643e0f5978425d948050a2228398929733d05/mediapipe/modules/holistic_landmark/holistic_landmark_gpu.pbtxt#:~:text=%23%20Complexity%20of%20the,input_side_packet%3A%20%22MODEL_COMPLEXITY%3Amodel_complexity%22).  and for [refineLandm

[2021-12-23 05:02] sgowroji commented on #2419
You can set similar configurations by this python platforms values. For GPU please see the appropriate calculators.

[min_score_thresh](https://github.com/google/mediapipe/blob/d4bb35fe5a44b3419ca86e4c7ecbc931dded2122/mediapipe/modules/palm_detection/palm_detection_gpu.pbtxt#:~:text=min_score_thresh%3A%200.5)':
                min_detection_confidence,

 ThresholdingCalculator.[threshold](https://

[2021-12-23 05:40] sgowroji commented on #2659
Hi @Zakaria1405. Can you try upgrading the python as we support 3.10 now and get the latest 0.8.9 code. Latest  init method now has 5 params (see https://github.com/google/mediapipe/blob/master/mediapipe/python/solutions/hands.py#L89) and the third parameter is model_complexity, which is an int. And your error in Init is caused by it. Thanks!

[2021-12-23 05:46] sgowroji commented on #2860
Hi @LMR2018, We haven't tried any such before. Could you please try and check the above with Hands solutions and let us know the behaviour. Thanks!

[2021-12-23 05:47] #2872 closed

[2021-12-23 05:58] sgowroji commented on #2787
Hi @Revln9, Could you please elaborate your use case with the above query. Thanks!

[2021-12-23 06:06] sgowroji commented on #2775
Please follow the instructions and steps mentioned here

MediaPipe PyPI currently doesn’t provide aarch64 Python wheel files. For building and using MediaPipe Python on aarch64 Linux systems such as Nvidia Jetson and Raspberry Pi, please read [here](https://github.com/jiuqiant/mediapipe_python_aarch64).

[2021-12-23 06:17] sgowroji commented on #2744
Hi @przemoch-dev,  Could you please share your steps to reproduce the above error. Thanks!

[2021-12-23 06:34] sgowroji commented on #2658
Hello, we are constantly improve our hand models by mining a new samples, where model tend to fail. And hopefully issue you are facing would be gone in a new release.

We tried many different approaches and see that even sometimes for some particular cases they could improve the model quality, they also can decrease model quality for other cases, so we try to handle issues via neural network itsel

[2021-12-23 06:34] #2658 closed

[2021-12-23 06:45] sgowroji commented on #2473
Hi @NeRR0, Could you please check the same with the latest version and confirm the same ?

[2021-12-23 06:46] jonbakerfish opened #2919 "AttributeError: module 'google.protobuf.descriptor' has no attribute '_internal_create_key'"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (Ubuntu 20.04):
- Compiler version (e.g. gcc/g++ 9.3):
- Programmin

[2021-12-23 06:47] #2770 closed

[2021-12-23 07:53] kaomoneus commented on #2871
@hadon , ping. Shall I work on it?

[2021-12-23 08:04] Sreerag-ibtl opened #2920 "Improve accuracy of detection and tracking on IR camera output."
<em>Please make sure that this is a feature request.</em>

**System information** (Please provide as much relevant information as possible)

- MediaPipe Solution (you are using): MediaPipe Hands
- Programming language : Python/Android Java
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state:** Currently the hand tracking solution is unusable on I

[2021-12-23 08:23] EddieChan1993 commented on #2898
Because go is a popular development language at present, if mediapipe supports golang language, mediapipe will be more popular and more developers can use mediapipe.

[2021-12-23 08:27] kaomoneus commented on #2674
Hi guys! Any progress on that?

[2021-12-23 08:47] #2593 closed

[2021-12-23 08:59] #2919 closed

[2021-12-23 09:07] rdisabato commented on #2917
Thanks a lot @sgowroji !
I will try by settings those values. But I have doubts about what to do exactly.

Do I have to directly set the configuration parameters in the pbtxt files you indicated? For example, in the holistic_landmark_gpu.pbtxt file, to set the complexity, I have to replace the line:
input_side_packet: "MODEL_COMPLEXITY: model_complexity"
with the line:
input_side_packet: "MODEL_CO

[2021-12-23 09:36] sgowroji commented on #2920
Thank you for reaching us regarding the above query. What is unusable on IR camera output.Could you please elaborate your query with more details. Did you see any errors with hands solution on IR camera, and yes can you share the error details to investigate the above issue.

[2021-12-23 09:58] j20001970 commented on #2474
@sgowroji Could you please update the label? Thanks.

[2021-12-23 11:33] UgurErcelik commented on #2914
Hi @sgowroji , is there a different solution about this problem ? I searched a lot but couldn't find

[2021-12-23 12:44] Sreerag-ibtl commented on #2920
Actually, it can detect hands in a feed from the IR camera. But it's failing frequently. This frequent lack of prediction from the model makes it unreliable.

I'll share some recordings once I have access to the IR camera.

[2021-12-23 12:56] gilcu2 commented on #2918
I used exactly your example code for pose detection. Any way, I am copying it here.  You can reproduce by processing the image I attached before and rotate the plot of the pose_world landmarks to have a lateral view.

[2021-12-23 14:40] DuyguSerbes opened #2921 "Delegate GPU for face_mesh on desktop"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):   Linux Ubuntu 19.04

[2021-12-23 18:57] kostyaby commented on #1786
Hey @ianni67,

It is true that the canonical face model does not have iris landmarks. It's also true that the iris landmark NN generates 2D landmarks, not 3D landmarks. Thus some sort of iris landmark Z coordinate deconstruction has to be done; face landmarks are in 3D, so it'd make most sense to start exploring from there

Reg. adding iris landmarks to the canonical face model: task has a simple-

[2021-12-23 20:06] karen-pal commented on #2495
I got it working on react by importing it as

`import * as Hands from "@mediapipe/hands";`

later, for usage I would do
`new Hands.Hands(...`

or

`Hands.HAND_CONNECTIONS`

for example.

Hope this helps anyone stuck.

[2021-12-23 22:19] JpEncausse commented on #2750
Would be awesome to have a standalone web example of FaceMesh
- with glasses
- with lipstick
- with hair segmentation

I'm working on SamrtMirror using Google Chrome only :-/
It seems PerfectCorp did something like that in the browser with MediaPipe

[2021-12-23 22:55] JpEncausse commented on #2083
@tomleader did you find a work around ? Can you post an updated codepen ?
I'd love to use MediaPipe and ThreeJS (or BabylonJS)
- for holographic effect on a box like you did
- to display glasses and other 3D object on top of face
Thanks !

[2021-12-24 05:10] sgowroji commented on #2921
Hi @DuyguSerbes, You can refer this https://github.com/google/mediapipe/issues/2451 and for facemesh please follow this https://github.com/google/mediapipe/issues/2451#issuecomment-903969081.

[2021-12-24 05:43] muhammadabdullah34907 opened #2922 "The archive contains nothing that can be signed"
I have successfully built the media pipe but when I want to distribute the app on the apple store or testflight. it shows me this error.
The archive contains nothing that can be signed
![Screenshot 2021-12-24 at 10 34 22 AM](https://user-images.githubusercontent.com/55294154/147321293-5ce0d571-bc1d-41c6-8dce-c2bffd1f6923.png)

[2021-12-24 05:43] muhammadabdullah34907 commented on #2922
My machine's specs.

![Screenshot 2021-12-24 at 10 43 36 AM](https://user-images.githubusercontent.com/55294154/147321329-131a59c1-b474-4dbe-b0ff-8e59c5ae50a4.png)

[2021-12-24 06:43] khkred opened #2923 "Bazel crashed while installing building an android example"
**System information** (Please provide as much relevant information as possible)
- macOS Monterey 12.0.1
- Bazel version: 4.2.1
- Android SDK and NDK versions (if android): SDK: 30.0.3, NDK: 21.3.6528147

I was following this [link](https://google.github.io/mediapipe/getting_started/android.html#prerequisite) to install the first app.

When I faced the following error:
`FATAL: bazel crashed due to

[2021-12-24 07:03] sgowroji commented on #2922
Hi @muhammadabdullah34907, Could you please provide the steps to reproduce and xcode error logs. Thanks!

[2021-12-24 07:05] sgowroji commented on #2923
Hi @khkred, Please have a look at this similar issue which as  resolution https://github.com/google/mediapipe/issues/54#issuecomment-705064578

[2021-12-24 08:27] khkred commented on #2923
I have installed Xcode but even now I get the following errors.

`WARNING: /Users/khkr/Coding/MediaPipeProjects/mediapipe/mediapipe/framework/tool/BUILD:182:24: in cc_library rule //mediapipe/framework/tool:field_data_cc_proto: target '//mediapipe/framework/tool:field_data_cc_proto' depends on deprecated target '@com_google_protobuf//:cc_wkt_protos': Only for backward compatibility. Do not use.
ER

[2021-12-24 10:47] #2878 closed

[2021-12-24 10:47] #2875 closed

[2021-12-25 05:02] ctippur opened #2924 "Way to implement Mediapipe using React native"
Hello,

I am looking for some documentation around implementing Mediapipe models using react-native.
Something on the lines below:
https://stackoverflow.com/questions/69839121/how-to-implement-mediapipe-pose-library-in-react-native-expo

Shekar

[2021-12-25 05:43] sgowroji commented on #2924
Hi @ctippur, We don't provide any standalone examples on react native at present. But you can follow this implementation https://github.com/google/mediapipe/issues/587#issuecomment-610585088 to start doing one.

[2021-12-25 09:43] ctippur commented on #2924
Thanks for responding. The link in the comment seem to throw a 404.
https://github.com/google/mediapipe/blob/master/mediapipe/docs/android_archive_library.md

[2021-12-25 12:17] Amrmoussa777 opened #2925 "How to install MediaPipe in xcode swift project"

[2021-12-25 13:58] sgowroji commented on #2924
Please refer this https://google.github.io/mediapipe/getting_started/android_archive_library.html

[2021-12-25 22:46] JpEncausse commented on #2083
Yes, I correctly import [your code](https://codepen.io/tomleader/pen/XWMaZqr) in my usecase but I agree for this "paralax effect" it's better to have a static cube and a dynamic camera that retrieve it's corrdinte from MediaPipe landmarks. But I don't know how t odo that :-)

it seems @vivien000 did it but the code is way more complexe
https://github.com/vivien000/trompeloeil

[2021-12-26 01:31] glennford49 opened #2926 "Bounding box of detected person on mediapipe pose estimation"
Where can i get the bounding box of pose estimation?
In results.pose_landmarks, i think the width and height are given, but the x,y are not, if i extract the results.segmentation_mask it gives me a 480 arrays, does anybody knows the bounding box of person detected in this mediapipe pose estimation?

[2021-12-26 05:05] jsliang0417 commented on #1374
Very great solution! Still don't know why so hard to access it lol.

[2021-12-26 05:45] sgowroji commented on #2925
Hi @Amrmoussa777, Please see https://github.com/google/mediapipe/issues/141

[2021-12-26 06:00] sgowroji commented on #2926
Hi @glennford49, Please see this for drawing the bounding box https://github.com/google/mediapipe/blob/master/mediapipe/python/solutions/drawing_utils.py#:~:text=def%20draw_detection(,color%2C%20bbox_drawing_spec.thickness)

[2021-12-26 07:09] anappdev2 opened #2927 "FaceGeometry without Renderer - iOS Example"
I was trying to play with Face Effect example for iOS. Currently example includes renderer and displays pixelBuffer directly. I wanted to handle all the rendering in the app and needed landmarks and pose matrix.  Here is what I have tried

Made changes in the graph files to remove FlowLimiterCalculator and FaceGeometryEffectRendererCalculator nodes
Resulting face_effect_gpu.pbtxt graph file is

[c

[2021-12-26 11:46] matanster commented on #1374
You know ..... making data structures written in C accessible for python is a lot of extra work. So you can iterate them and that solves it. BTW you can't iterate them in a python comprehension last I recall.

[2021-12-26 14:12] lghasemzadeh commented on #1928
my file name was different, but I was getting this error again and again, then I figured out that in that directory I had a folder named mediapipe. I deleted it and the error resolved. so other than the file name be careful about any other file or folder with same name.

[2021-12-26 18:16] #2683 closed

[2021-12-27 03:59] sgowroji commented on #2927
Hi @anappdev2, What is the error do you encounter while doing the above changes ?

[2021-12-27 04:44] #2879 closed

[2021-12-27 04:47] sgowroji commented on #2897
Hi @AsRaNi1, Please raise a  PR  and follow the instructions mentioned in the contributing guide. Thanks!

[2021-12-27 04:47] #2897 closed

[2021-12-27 04:51] sgowroji commented on #2898
Hi @EddieChan1993, Absolutely you can start initiating one as [solutions](https://google.github.io/mediapipe/getting_started/getting_started.html) mentioned in our platforms. We do have similar platform community like [unity](https://github.com/homuler/MediaPipeUnityPlugin), react and [others](https://github.com/mgyong/awesome-mediapipe)

[2021-12-27 04:52] anappdev2 commented on #2927
Hi @sgowroji ,
As mentioned
[code]
does not get called after two frames. If I use renderer node it gets called for each frame.

[2021-12-27 04:53] #2898 closed

[2021-12-27 04:55] #2904 closed

[2021-12-27 05:46] sgowroji commented on #2459
Similar https://github.com/google/mediapipe/issues/2162#issuecomment-876830557 ?

[2021-12-27 06:16] #2803 closed

[2021-12-27 08:40] ianni67 commented on #1786
Hello @kostyaby,
I agree, the main concern in this topic and for this specific approach is accuracy and stability of the results. I got some decent approximation of eye gaze direction using different approaches but the stability (i.e., the coherency of the measured eye gaze angles with the actual eye gaze direction in a time interval) is generally poor. Moreover, calibration when the camera and fa

[2021-12-27 12:50] amitbohra1234 opened #2928 "Mediapipe is providing two pairs of bounding box coordinates for single hand in a frame, how to resolve it?"
- I have written out the code for getting "hand_rects" from Mediapipe python implementation:
- Ubuntu OS18.04:
- Python 3:
- Solution "Hand":

**While getting the bounding box coordinates from the images passed to mediapipe, sometimes for single hand present in the frame, it would predict out 2 sets of bounding box coordinates. I have updated the mediapipe package for providing out 'hand_rects' af

[2021-12-27 13:29] veetechh opened #2929 "How can we get accurate points on wrist?"
I am playing with few use cases for wrist, is there a way to get accurate points on wrist?

If not, do you have plans to launch landmarks on wrist ?

[2021-12-27 14:04] sgowroji commented on #2929
Hi @veetechh, Could you please provide your usecase w.r.t the above feature request. Thanks!

[2021-12-27 14:13] sgowroji commented on #2928
Hi @amitbohra1234, Can you provide issue details or screenshots to understand the issue and investigate further.  Thanks!

[2021-12-27 17:05] veetechh commented on #2929
Please find the link below for one of the use cases.

https://zamst.com/cms/wp-content/uploads/2018/03/wrist_band_01-500x500.jpg

[2021-12-27 21:51] mgebhard commented on #1514
It has been almost a year does anyone have a solution to this?

I followed the changes in https://github.com/google/mediapipe/pull/2591/files with slight differences in OpenCV and FFMPEG versions and still got build errors.

[code]

I would prefer not to use a unity plugin.

[2021-12-27 23:41] EigenSpiral opened #2930 "Getting hand coordinates from video recording"
Hi, I'm doing a research project with hand tracking and I'm interested in mediapipe.
I need the coordinates for the duration of the motion: ideally you input the video and get an array of points corresponding to each joint for each moment in time.

Currently I'm first converting the video into the image frames, then looping through the folder of frames and then getting the landmark coordinates lik

[2021-12-28 03:24] EddieChan1993 commented on #2898
3ks

[2021-12-28 04:09] sgowroji commented on #2930
Hi @EigenSpiral,  Yes you can do it on a video.

[2021-12-28 06:16] #2832 closed

[2021-12-28 06:44] vqc commented on #1937
@tyrmullen and @mhays-google any update on this?
cc: @crecord

[2021-12-28 06:52] ctippur commented on #2924
Thank you!

[2021-12-28 06:56] amitbohra1234 commented on #2928
![mediapipe_amit_double_bounding_box](https://user-images.githubusercontent.com/96728697/147537316-00a8885c-7965-49ca-8a3b-6fb10fc909f4.jpg)

Hi @sgowroji, This is one of the screenshot, I cannot share the rest of the data and code due to privacy issues. Please help in resolving this issue. It cannot be differentiated are these two sets of bounding box coordinates per frame, of single hand or 2 ha

[2021-12-28 07:05] #2924 closed

[2021-12-28 08:21] gx1989mao commented on #970
one should common those lines in ...../mediapipe/mediapipe/framework/port/opencv_video_inc.h:
`
// namespace cv {
// inline Ptr<DenseOpticalFlow> createOptFlow_DualTVL1() {
//   return optflow::createOptFlow_DualTVL1();
// }
// }  // namespace cv`

[2021-12-28 08:25] 199ChenNuo commented on #970
thanks!

[2021-12-28 10:23] ninenox-dev opened #2931 "It's show error, I used mediapipe with jetson nano."
It's error, log is below.
Please help me. Thank you.
`[libprotobuf WARNING external/com_google_protobuf/src/google/protobuf/text_format.cc:324] Warning parsing text-format mediapipe.CalculatorGraphConfig: 125:5: text format contains deprecated field "use_gpu"
Traceback (most recent call last):
  File "/home/ninenox/Desktop/hand_tracking/main.py", line 14, in <module>
    min_tracking_confidence=0.

[2021-12-28 10:52] wu-yakun commented on #1325
/home/nvidia/Pictures/Screenshot from 2021-12-28 18-46-53.png

[2021-12-28 10:57] wu-yakun commented on #1325
If your processor is arm,if can not be downloaded, mediapipe only supports x86 and amd architecture!
![Screenshot from 2021-12-28 18-46-53](https://user-images.githubusercontent.com/48200202/147559117-79c12be2-fbfb-4d50-abc7-219698f288ed.png)

[2021-12-28 11:37] pkoppise opened #2932 "Mediapipe GPU support for wayland-egl"
Dear Team,

I am able to run hand tracking example (CPU) on the RPI4, I also want to run the same example on GPU whose configuration is as follows:

OS: webOS
Graphics card: Broadcom vc4
Display: wayland

The driver versions we are using to support vc4 are
Mesa21.1.5
libdrm107
libGLESv2
OpenGL ES 3.1

After looking into gpu code looks like mediapipe supports  egl applications, could you please pro

[2021-12-28 11:41] sgowroji commented on #2932
Hi @pkoppise, Do you see "Thread 1 "qml-runner" received signal SIGSEGV, Segmentation fault." error while running the above mediapipe build on GPU ?

[2021-12-28 11:50] sgowroji commented on #2931
Hi @ninenox-dev, Could you please provide the steps to reproduce the above error. Thanks!

[2021-12-28 11:52] CZ0520 commented on #1325
thanks that helped a lot!

[2021-12-28 11:58] pkoppise commented on #2932
yeah, segmentation fault is happening, looks like the code i have written / modified  to intialize wayland-egl is causing this issue

[2021-12-28 13:57] pkoppise commented on #2932
Looks like , the way to initialize different egl is different for different platforms.

Currently to my knowledge mediapipe  is allocating gpu resources for Linux platfroms (gbm ) which supports OpenGL ES3.1?

Not sure whether same gpu code works for other platforms (wayland) . Could you please help?

[2021-12-28 14:25] sgowroji commented on #2932
For GPU working and support you can refer this. https://google.github.io/mediapipe/framework_concepts/gpu.html. We have not tried any with the above GPU device may be you can test and let  us know  the details.

[2021-12-28 14:46] ninenox-dev commented on #2931
I run this code.
[code]

[2021-12-28 14:47] AlbertoRemus opened #2933 "Question about up-to-scale pose estimation with Mediapipe and Objectron Dataset"
Hello, I find this work really valuable to extract the 6D pose of an object in the wild.

By consulting https://github.com/google/mediapipe/issues/2581 I understood how to get rotation matrix, translation vector and scaling vector, my question is mostly related to the scaling factor(s), to understand if the obtained results can be valuable for real world object wrt camera pose estimation

I'll ref

[2021-12-28 14:51] EigenSpiral commented on #2930
But is this the right way to do it? Or is there a better way?

[2021-12-28 16:58] sgowroji commented on #2931
Hi @ninenox-dev, This will help you resolving the above error https://github.com/google/mediapipe/issues/1273#issuecomment-846378557

[2021-12-28 17:16] #2768 closed

[2021-12-28 18:25] AlbertoRemus commented on #2933
I'm not completely sure, but as far as I understood, with further investigation, what here we call [_scale_](https://google.github.io/mediapipe/solutions/objectron.html#output) is actually the _size_ of the bounding box, which is required being this a category-aware method in 9D (3 rotation, 3 translation, 3 size).

Indeed by looking at the above image we have a bounding box `[0.16521809 0.1831081

[2021-12-28 18:31] AlbertoRemus commented on #2933
Indeed by looking at the above image we have a bounding box `[0.16521809 0.18310817 0.49653161]` wide, with the latter dimension coherently bigger than the other two.
 Feel free to let me know if this is the case or there are some flaws in my understanding

I think this should properly answer to most of my doubts related to question 2 and 4 https://google.github.io/mediapipe/solutions/objectron.ht

[2021-12-28 18:35] AlbertoRemus commented on #2933
This should confirm it: https://github.com/google/mediapipe/issues/2581#issuecomment-984820629

[2021-12-28 18:46] AlbertoRemus commented on #2933
At this point my doubts are mostly related to point 3.

In particular I think the source of my confusion is related to the difference of the (afaik) 1D scaling-factor and the 3D scale vector mentioned before

Sorry if I introduced some noise and I'm open to any further clarification

[2021-12-28 22:04] legel commented on #2199
@sgowroji thanks for identifying that.  Overall this is a great project.

I'm afraid, though, the origin of those world coordinates is only relative to the hand itself.  This is interesting and meaningful if your interaction is confined only to motion of the fingers relative to the wrist (but not to motion of the entire hand, in 3D space, say relative to the body or the camera...).  As soon as you

[2021-12-28 23:10] Era360 commented on #2930
You can check Mediapipe's documentation on how to do it on video.
[https://google.github.io/mediapipe/solutions/hands](url)

[2021-12-29 01:32] englishtom commented on #2883
Just adding that I am experiencing the same issue with the @mediapipe/hands package. Using the package installed via npm works fine but if I compile it with Rollup then I am given `TypeError: JT.Hands is not a constructor`.

You can see the same issue with the CDN version of the package using this standalone script:

`
<html>

<head>

    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-model

[2021-12-29 01:58] zacharyfmarion opened #2934 "Support landmark visibility for face mesh in python"
<em>Please make sure that this is a feature request.</em>

**System information** (Please provide as much relevant information as possible)

- MediaPipe Solution (you are using): Face mesh
- Programming language : Python
- Are you willing to contribute it (Yes/No): No (unless it is a small change, don't have lot of time right now!)

**Describe the feature and the current behavior/state:**

It look

[2021-12-29 03:59] tri-bao opened #2935 "Is face_landmark_with_attention.tflite equivalent to face_landmark.tflite + iris_landmark.tflite?"
In the `iris_tracking` graph, `face_landmark.tflite` is firstly used to have 468 facial landmarks and then `iris_landmark.tflite` is used to produce 10 more landmarks for irises. However, I notice that `face_landmark_with_attention.tflite` already produces 478 facial landmarks including iris ones. Are they same? In another word, can I just modify the `iris_tracking` graph to only use `face_landmar

[2021-12-29 05:44] laosanlyu commented on #1857
could you please share the graph you made?

[2021-12-29 07:33] sgowroji commented on #2768
We will consider your request . Thank you so much for the input.

[2021-12-29 08:49] HBnetDE commented on #2848
I have tried to build it in a docker container instead of the wsl (Dockerfile attached).  The only changes I have made to mediapipe files is in third_party/opencv_linux.BUILD (also attached). I get the same error here
[Dockerfile.txt](https://github.com/google/mediapipe/files/7787979/Dockerfile.txt)
[opencv_linux.BUILD.txt](https://github.com/google/mediapipe/files/7787982/opencv_linux.BUILD.txt)

[2021-12-29 10:04] amitbohra1234 commented on #2928
Any updates, what could be the potential issue?

[2021-12-29 10:20] amitbohra1234 opened #2936 "How does mediapipe detect finger landmark points?"
I wanted to know, once a palm (not hand) is detected in a frame, the cropped palm image is passed to the landmarks detection model, so it can detect the landmarks available on the palm, but how does it detect the landmarks available on fingers?
If not palm but hand cropped image is passed to the landmarks detection model, then how does mediapipe get the hand cropped image from the palm detection m

[2021-12-29 11:15] lghasemzadeh commented on #2764
@zubairahmed-ai hello, how did you resolve the error?

[2021-12-29 11:46] rmham93 opened #2937 "While using mediapipe pose detection with single image file, it doesnt point right foot index, however when i print its coordinate it exists. It doesnt print it on image"
While using mediapipe pose detection with single image file, it doesnt point right foot index, however when i print its coordinate it exists. It doesnt print it on image
![pose10 (2)](https://user-images.githubusercontent.com/26356167/147659249-f26b341d-f23f-461d-bf75-9b62957291f3.png)

[2021-12-29 13:42] in-manish opened #2938 "autoflip: I want to log cropped_frames locations where cropped_frames displays?"
I'm using autoflip to transform normal videos into different aspect ratio videos, explained https://ai.googleblog.com/2020/02/autoflip-open-source-framework-for.html.

In [MediaPipe Graph](https://google.github.io/mediapipe/solutions/autoflip#mediapipe-graph) https://google.github.io/mediapipe/solutions/autoflip#mediapipe-graph
the ScenceCropping node exporting cropped frames using [SceneCroppingC

[2021-12-29 14:12] HWiese1980 opened #2939 "FaceMesh nose landmarks not correct on artificial (rendered) facial imagery"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): to some extent c

[2021-12-29 14:14] HWiese1980 commented on #2939
Seems like the upload killed the filenames... I'll edit the issue to reflect the original names.

[2021-12-29 14:29] HWiese1980 commented on #2939
Alright, finished sorting and describing the images.

[2021-12-29 14:29] AK51 opened #2940 "What is the perfect size of the image for pose and holistic?"
If there are lots of people, I want to crop the roi and run the posenet or holistic.
What is the perfect size of the image? 256 x 256?

Thanks.

[2021-12-29 15:16] #2890 closed

[2021-12-29 18:12] TsainGra commented on #2643
Any update on this?

[2021-12-30 02:32] AHRealift commented on #2877
React, Javascript ... sorry for the late reply! Still appreciate any help or guidance. Thanks!

[2021-12-30 04:24] sgowroji commented on #2936
Hi @amitbohra1234, Did you get chance to go through our documentation https://google.github.io/mediapipe/solutions/hands#palm-detection-model

[2021-12-30 04:25] sgowroji commented on #2937
Hi @rmham93, Which platform are you seeing the above.?

[2021-12-30 04:34] sgowroji commented on #2940
Hi @AK51, It is as per our [documentation](https://google.github.io/mediapipe/solutions/pose.html#pose-estimation-quality)  any image contains only a single person located 2-4 meters from the camera give good pose estimation quality.

[2021-12-30 05:16] #2839 closed

[2021-12-30 06:17] #2810 closed

[2021-12-30 06:17] #2817 closed

[2021-12-30 06:58] amitbohra1234 commented on #2936
I went through the documentation, read the paper as well and tried to look out for even the code, but didn't get it. Palm is smaller than hand, and it doesn't cover out the region for fingers and thumb, so when detecting out palm, how do the landmarks are localized for fingers and thumb?

[2021-12-30 07:17] #1392 closed

[2021-12-30 09:43] AK51 commented on #2940
Hi,
When I use the webcam, the "pose" works fine.
But if I cropped a person (about 300x300) from a 1920 x 1080, the skeleton is not easy to be recognized....
The image is low resolution of 300 x300 but not too blurry.
Is there anyway I can improve it?
I have set the following parameters already.... Thx
with mp_pose.Pose(min_detection_confidence=0.1, min_tracking_confidence=0.5, static_image_mode=T

[2021-12-30 10:15] vietanh1104 commented on #1466
I have already installed py 3.7 but I still can't use "pip install mediapipe"

[2021-12-30 10:58] shrey-rootally commented on #2419
can these parameters accessed on iOS platforms?

[2021-12-30 12:22] chensisi0730 commented on #2842
So  ,you never upgrade  opencv4.1.x  to hegher  opencv version ?

[2021-12-30 12:56] JeffFun23 commented on #2931
Hello I have the same problem, and I checked the solution in #1273(comment), but I don't get it.
Why does it has to do with image format ?
I just build an class of Hands
sorry for bad English

[2021-12-30 15:53] ninenox-dev commented on #2931
@JeffFun23 I still had problem, If you fix it already please tell me. Thank you.

[2021-12-30 16:33] rdisabato commented on #2917
Please do not close this support request.

I'm waiting for a reply. In the meantime I tried to figure out how to do it, but I didn't succeed and I didn't find the guides of Mediapipe or Bazel useful.

In summary the question is: how do I specify the configuration parameters of the "face_landmark" (ie "with_attention") and "pose_landmark" (ie "model_complexity") solutions when I run the "holistic"

[2021-12-30 19:17] JeffFun23 commented on #2931
I haven't solved it either, hope someone could save us Q__Q

[2021-12-30 20:16] HWiese1980 commented on #2939
In case you need more sample images I can generate as many as you need from arbitrary angles and distances, light setups (a bit more difficult) and blendshapes...

[2021-12-31 04:38] KeygenLLC commented on #1597
Trying to build this locally in Mojave is a cluster$%#&. Maybe someone with more know-how can do it, but it's a mess.

I tried it just for the hell of it. Installing the dependencies takes a while with homebrew (especially opencv). Following the instructions to build for Mojave has problems and fails upon the last few tasks. It can't find libjpeg even though it has been installed with homebrew and

[2021-12-31 05:04] sgowroji commented on #2939
Thank you for patience. We have assigned the above issue to the right owner who can assist you better. Thanks!

[2021-12-31 05:09] sgowroji commented on #2920
Hi @Sreerag-ibtl, Your recordings will be helpful for further investigation. Thanks!

[2021-12-31 05:14] #2907 closed

[2021-12-31 05:37] sgowroji commented on #2797
Closing as per duplicates issue resolved with this https://github.com/google/mediapipe/issues/2678#issuecomment-989348636

[2021-12-31 05:39] sgowroji commented on #2678
Hi @Dreadlocke1984, Could you please respond on this https://github.com/google/mediapipe/issues/2678#issuecomment-989348636. if the issue still persists

[2021-12-31 07:04] HWiese1980 commented on #2939
Cool, thank you very much!

[2021-12-31 07:31] luca992 opened #2945 "TfLite C-API BlazePose Body Detector Output"
I am attempting to run inference with [BlazePose Detector Tflite model](https://google.github.io/mediapipe/solutions/pose) using the tflite c api compiled for macOS x86_64

As far as I can tell my code is working. I am copying an image (scaled down to fit within a 224,244 rgb image with float values between 0.0-1.0) into an input tensor, invoking the interpreter, and copying the output tensors of

[2021-12-31 09:00] ascust opened #2946 "The order of facial landmarks returned by face_mesh is not the same as that of the template face."
Hi,
I used the landmark detector to get 468 points from a face image. I also loaded the template mesh (obj file) using trimesh to get vertices and triangles. Then I found a problem when I was trying to plot landmarks of both faces. They seem not in the same order. For example, I plot the very first landmark, and please see the attached images below. The upper one is from the template face and the

[2021-12-31 17:13] NamHyeop commented on #1466
I solved this problem.
**ERROR: Could not find that statement the requirement mediape (from versions: none) error.**
It's a mac m1x pro environment.

**How to solve**
1.Intel python 3.7.8rc1 download
2.State of python the use of 3.7.8rc1 on the shell being used for terminal(i emprasized intel python 3.7.8rc1)

If you want to see how I solved it, check the blog link below.
https://hyeophyeop.tistor

[2021-12-31 18:55] kostyaby commented on #2939
Thanks for reporting the observation! I added folks who worked on the NN model training to comment further

[2022-01-01 04:29] alanb43 commented on #1325
Darn, any possibility they add compatibility for ARM based systems? All M1 macbooks are out of the question :(

[2022-01-01 11:28] SeHwan6676 opened #2947 "Can you only detect certain parts of the Mediape-face mesh?"
Face mesh detects 468 landmarks across the face, but I wonder if there is a way to detect only the eyes.

[2022-01-01 12:04] daviddavid commented on #1514
This doesn't solve the issue of running mediapipe on M1 metal, but you can get mediapipe to run on your M1 hardware by using rosetta, as described in [this comment](https://github.com/google/mediapipe/issues/2120#issuecomment-894796864). (Read the rest of the comments before diving in. To solve the homebrew permissions problem in `/usr/local` you can refer to [this SO answer](https://stackoverflow

[2022-01-01 13:14] Fourtinato99 commented on #2677
+1

[2022-01-01 14:13] gauravzazz opened #2948 "Autoflip:Custom object detection"
how can we custom create an object detector or track a custom object in auto flip.

[2022-01-01 14:26] gauravzazz opened #2949 "Autoflip:Training model for custom videos"
Can we train auto flip for the custom categories of videos?  if yes how ??

[2022-01-01 22:44] rahulsuxsena1 opened #2950 "hair segmentation output frame is rotated automatically in android smart tv"
I have an android smart tv resolution  720*1280. width 720, height 1280
the hair segmention is working fine but the output frame is rotated 90 degrees. means in a portrait mode the output is coming as landscape.
kindly suggest any solution.

Thanks

[2022-01-02 05:40] janeSmith99221 commented on #1453
no still i'm not get any solution.

[2022-01-02 06:53] zubairahmed-ai commented on #2764
I stopped using it and switched to Nvidia Pose estimation

[2022-01-02 18:07] jiuqiant commented on #2842
We already mentioned it at
 the beginning of https://github.com/google/mediapipe/blob/master/docs/getting_started/install.md.

[2022-01-02 18:07] jiuqiant commented on #2842
Currently we don't have such plan.

[2022-01-02 18:07] #2842 closed

[2022-01-02 19:19] palnikhil commented on #1411
Hey Can someone just give me the solution to write mediapipe pose in Nodejs. I am not able to figure out like how.

[2022-01-03 04:18] sgowroji commented on #2946
Hi @ascust, Could you please provide steps to reproduce the above templates. Thanks!

[2022-01-03 04:19] sgowroji commented on #2947
Hi @SeHwan6676, With [refinelandmarks](https://google.github.io/mediapipe/solutions/face_mesh#refine_landmarks) you can detect  the eyes.

[2022-01-03 04:20] sgowroji commented on #2948
Hi @gauravzazz, Could you please elaborate your query with complete details. Thanks!

[2022-01-03 04:22] sgowroji commented on #2950
Hi @rahulsuxsena1, could you please provide the screenshot with respect to the above error. Thanks!

[2022-01-03 04:24] sgowroji commented on #2949
Hi @gauravzazz , It works on every video. Did you face any issues w.r.t to it ?

[2022-01-03 04:33] rahulsuxsena1 commented on #2950
Hi @sgowroji ,
Sure. PFA the link for the screenshot
https://drive.google.com/file/d/1q0I8VwSg2RE2SGcu-sC3DRlxMiWZw_bY/view?usp=sharing

All UI elements are good at their orientation but the output stream of colored hair is being rotated.
Thanks
Rahul

[2022-01-03 04:54] luca992 commented on #2945
Okay, so I just tried a python implementation of tf lite and I still have the same output. So maybe I am just misunderstanding the format of the output? Any help or documentation would be appreciated.

[2022-01-03 05:34] sgowroji commented on #2950
Hi @rahulsuxsena1, Its more an android implementation.Try choosing the "select Portrait to rotate the screen" option or enable the portrait mode from TV settings.

[2022-01-03 05:45] rahulsuxsena1 commented on #2950
Hi @sgowroji , Thanks for your reply, but as mentioned the UI elements are at correct orientation only the output stream is being rotated. The TV is at portrait mode as the UI elements shown in the screenshot are aligned correctly as portrait but only the output stream is rotated.

[2022-01-03 05:47] luca992 commented on #2945
This is the only description I can find online about the output:

https://medium.com/axinc-ai/blazepose-a-3d-pose-estimation-model-d8689d06b7c4

[code]

I think I might be starting to understand.

I think I have more specific questions now:

1. For box mode, where I utilize the first 4 elements `x,y,w,h` what is x and y relative to? Is it relative to the center of the `224x224` input image?
2. For

[2022-01-03 07:12] #2828 closed

[2022-01-03 08:39] legel commented on #2199
PS just to follow up with a helpful workaround, and also potentially a good pointer for implementing the requested global hand 3D coordinates (relative to camera and/or body), consider:
- [MediaPipe Holistic](https://google.github.io/mediapipe/solutions/holistic.html) is able to simultaneously compute MediaPipe Hands and MediaPipe Pose, and provide outputs of both APIs.
![MediaPipeHolistic_Screens

[2022-01-03 16:12] #2909 closed

[2022-01-03 16:21] mostafamdy commented on #676
@BoneFlat  Hi thanks for  this package its great
but I have a problem on it. it works with 5 fps
so how can I make this package work on GPU to be faster or did you have another package that can work on GPU?

[2022-01-03 17:22] alexdmiller commented on #2840
Hi @PrinceP @hadon @NikolayChirkov, happy new year!

We still haven't been able to figure out this performance issue and are blocked on this issue. Any help in diagnosing the performance problem would be very appreciated, thanks! Let me know if you have problems with the model I posted above.

[2022-01-03 17:53] gauravzazz commented on #2949
hi @sgowroji, I am trying to use this on sports videos such as basketball and football. Most of the time it fails to capture the "happening" area. I visualized the frames of such videos, it never tracks or identifies the ball. In the documentation, there is a provision to add a feature detection calculator, but I am not sure how to add that.

[2022-01-03 17:56] gauravzazz commented on #2948
I am using auto flip to edit basketball videos and found that this model is not identifying or tracking basketball in any frame. I want it to track the fall and crop the frame with it most of the time.

[2022-01-04 00:01] cindyloo opened #2953 "How would I run FaceMesh in two different videos on the same page in javascript?"
https://github.com/google/mediapipe/blob/master/docs/solutions/face_mesh.md#models

I would like to know how (assuming the API allows) I can use FaceMesh with to two different video streams (one local, one remote streaming) *on the same web page*. The demos just seem to assume if the assigned video class is "input_video", that one and only one video element is to be found or to be passed into `Sou

[2022-01-04 00:18] cindyloo commented on #2953
eg: testing by adding another video element to the demo html code does not work
[code]

[2022-01-04 01:44] mehtapaxshal commented on #2669
@mhays-google Figured out the issue. I was missing some configurations in my code that wasn't loading the required file. I am able to make it work now with the latest version. Thanks a lot for your help.

Thanks @sgowroji
Appreciated!

[2022-01-04 01:44] #2669 closed

[2022-01-04 02:13] JeffFun23 commented on #2931
@ninenox-dev do you use ssh to connect with jetson nano ?
 I found that if I directly use jetson nano without ssh, I wouldn't have this problem

[2022-01-04 02:21] ninenox-dev commented on #2931
yes, I use with ssh. I will try directly follow you.
Thank you.

[2022-01-04 04:04] sgowroji commented on #2953
Hi @cindyloo, Have you tried executing multiple videos one by one dynamically in a loop. Its more javascript implementation and you can find more examples in stack overflow or javascript communities.

[2022-01-04 04:06] sgowroji commented on #2669
Hi @mehtapaxshal, Glad you are issue resolved and thank you for sharing the update.

[2022-01-04 05:00] PrinceP commented on #2950
Hi @rahulsuxsena1 , Can you try changing this flag `"cameraFacingFront": "True"` or `"flipFramesVertically": "True"` in the BUILD file.

[2022-01-04 05:16] sgowroji commented on #2948
Hi @gauravzazz, Did you get a chance to implement the above with object detection [solution](https://google.github.io/mediapipe/solutions/object_detection.html) as mentioned here in any of the platform. You can implement the above in many platforms we have clear documentation with respect to it. Please reach us back if you have any further queries.

Marking this issue as duplicate https://github.c

[2022-01-04 05:17] sgowroji commented on #2949
duplicate  https://github.com/google/mediapipe/issues/2948

[2022-01-04 13:38] veetechh commented on #2929
@mgyong would be of great use if you can include this feature. any idea?

[2022-01-04 13:53] cindyloo commented on #2953
@sgowroji could you be a little more specific? Mapping through videos within the SourcePicker? I spent a good amount of time looking yesterday and didn't find anything. Plus the demo breaks when I add another <video> element on the html section, so I'd like to be clear on how this should work

[2022-01-04 19:23] tyrmullen commented on #2953
The SourcePicker (and our Camera utilities in general) are only there to make it easier for us to put together a suite of simple demos.  They're not really supposed to be a fully-fledged camera API in any sense.  So for any more advanced usage, it's recommended to bypass those helper utilities and just call FaceMesh API directly.  There are two ways of attempting this for your use case:
(1) Just a

[2022-01-04 23:19] arnaublanco commented on #1894
It didn't work for me...

<img width="583" alt="Screenshot 2022-01-05 at 00 19 26" src="https://user-images.githubusercontent.com/8408687/148137013-79ae7451-1fca-4335-aa67-d052c3762745.png">

[2022-01-05 01:24] EigenSpiral commented on #2930
but this is a for doing it simultaneously, how can I do it on a video file that has already been recorded like 'test.mp4'

[2022-01-05 05:28] itzme65 opened #2954 "AttributeError: module 'mediapipe' has no attribute 'solutions'"
I can't install mediapipe using command line in raspberrypi 3b+ . So, i'm using this files in my program file. But, there is showing attribute error. AttributeError: module 'mediapipe' has no attribute 'solutions'. How to fix this?? (My source code file name is different)

[2022-01-05 05:58] ascust commented on #2946
@sgowroji Hi, I think I might have found the reason. It seems that trimesh would change the order of the vertices when loading a mesh from an obj file. Then I read the obj file line by line manually, the issue was gone.

[2022-01-05 05:58] #2946 closed

[2022-01-05 06:02] itzme65 commented on #2954
@sgowroji Sir...please help me. How to fix this??

[2022-01-05 06:12] #2913 closed

[2022-01-05 06:53] Raahmaa99 commented on #2953
Systems

[2022-01-05 06:53] Raahmaa99 commented on #2953
#1894

[2022-01-05 07:30] sgowroji commented on #2954
Hi @itzme65, Could you please provide the complete steps to reproduce the above error. Thanks!

[2022-01-05 08:08] itzme65 commented on #2954
1st i download the mediapipe zip file and extract it. After that, i put my handgesture.py file into the extract folder. When i run this handgesture.py, it is showing this error:
Traceback (most recent call last):
  File "D:\aperiproject\mediapipe-master\mediapipe-master\handTrackingModul.py", line 71, in <module>
    main()
  File "D:\aperiproject\mediapipe-master\mediapipe-master\handTrackingModu

[2022-01-05 08:08] itzme65 commented on #2954
@sgowroji Now what to do?

[2022-01-05 08:10] itzme65 commented on #2954
@sgowroji Now, how can i fix this error?

[2022-01-05 08:12] #2912 closed

[2022-01-05 08:17] pot2mayo commented on #2811
@mgyong
I see that the ticket was assigned to you by @sgowroji
Do you have any update on the topic?
The question would also concerns instant motion tracking on iOS

[2022-01-05 08:21] sgowroji commented on #2954
Did you try ` pip install mediapipe` ? Please try the hands python solution from here https://google.github.io/mediapipe/solutions/hands#python-solution-api.
your hands code should be like this
`
mp_hands = mp.solutions.hands`

[2022-01-05 08:37] itzme65 commented on #2954
@sgowroji Yes..i tried pip install mediapipe. But its not working.
And i also tried mp_hands = mp.solutions.hands. Same error
![Capture](https://user-images.githubusercontent.com/97146381/148186452-8a473d72-1c17-49dc-bdaa-0427b493bc23.PNG)

[2022-01-05 08:48] sgowroji commented on #2954
Is your file had the same name as the library. Similar issue https://github.com/google/mediapipe/issues/1928

[2022-01-05 08:51] itzme65 commented on #2954
@sgowroji No same name as the library. I can ensure it.

[2022-01-05 09:06] sgowroji commented on #2954
Can you share your code changes ? And also confirm that your site packages as mediapipe  framework code downloaded successfully ?

[2022-01-05 09:35] itzme65 commented on #2954
@sgowroji I think "no". How to check the site packages as mediapipe framework code downloaded or not??

[2022-01-05 10:15] itzme65 commented on #2954
https://drive.google.com/drive/folders/1D2QaoRlwfPBEAIiUHE891JkBHO0JpvAY?usp=sharing
Here is the full file. (mynew.py,new1.py,new2.py is my code )

[2022-01-05 10:18] dattt117 opened #2955 "Selfie Segmentation drops fps when i switch to another browser"
**System information**
- OS Platform and Distribution (Win10)
- Programming Language : JavaScript

**Describe the problem**:
When I switch to another browser tab or open another app window in full screen, the fps will drop
I use console.log in the onFrame function of the Camera , but it won't log when I switch to another browser tab

Code: https://google.github.io/mediapipe/solutions/selfie_segmen

[2022-01-05 10:21] sgowroji commented on #2955
Hi @dattt117, Can you provide any references with the above behaviour to investigate further. Thanks!

[2022-01-05 11:23] furkandindar opened #2956 "CodePen demos are performing very low (2-5fps) on Mobile browsers"
- OS Platform and Distribution: IOS 14,15
- Solution: all solutions except Face Mesh
- Programming Language and version : JavaScript

Hi,

When I try to run JavaScript CodePen demos, all solutions except Face Mesh perform very low (2-5fps). Is there a current development for this? I would like to use Hand, Objectron and Holistic solutions for my web app which should also be able to run on mobile b

[2022-01-05 11:42] sgowroji commented on #2956
Hi @furkandindar, Please find the supported platforms of  MediaPipe codepen and javascript solutions https://google.github.io/mediapipe/getting_started/javascript#supported-plaforms.

[2022-01-05 12:12] #2915 closed

[2022-01-05 13:26] Era360 commented on #2930
#You can clone the hand tracking module in my repository and use it as follows:
[https://github.com/Era360/handTrackerModule](url)

cap = cv2.VideoCapture("test.mp4")
tr = hT.HandDetector()

while cap.isOpened():
    success, vid = cap.read()
    if not success:
        print("Ignoring empty camera frame.")
        break

    vid = tr.find_hands(vid)
    if tr.find_position(vid) != None:
        p

[2022-01-05 14:58] im-AMS commented on #2750
Can we expect the same for python version?

[2022-01-05 16:09] gilcu2 opened #2957 "Best way to use the plugin in another project"
How can I use the plugin in other project and keep the plugin updated?
Maybe a git subrepo?
Someone have done this?

[2022-01-05 16:10] #2957 closed

[2022-01-05 16:10] gilcu2 commented on #2957
Sorry, not for this project

[2022-01-05 16:32] HWiese1980 commented on #2939
Thank you, @kostyaby

Any news? Do you need more data?

[2022-01-05 18:08] kostyaby commented on #2939
Hey @HWiese1980,

I don't train NNs so I really can't comment on the phenomenon you described. @kartynnik and @ivan-grishchenko are the NN experts and should be able to help you

[2022-01-05 18:22] HWiese1980 commented on #2939
Yeah, I'm just wondering if something's going on behind the scenes. No worries!

[2022-01-05 19:15] ianni67 commented on #2867
@lilinxiong thank you very much for sharing your solution. Did you check that the solution actually returns a correct matrix? I'd love to adopt it but I'm a bit afraid of changing that part of the code.

[2022-01-05 23:55] mostafamdy opened #2958 "how can I get pbtxt file from binarypb file"
Hello
how can I get pbtxt graph file from binarypb

[2022-01-06 02:24] lilinxiong commented on #2867
@ianni67 It is correct, because the iris coordinates are added after the original face_landmark, and then become 478 landmarks. The modification I made here is to abandon the landmarks of the following 10 iris. This modification does not affect the original Only 468 points are needed in the process to generate the matrix.

[2022-01-06 02:45] dattt117 commented on #2955
I use log in the onFrame function of the Camera.
Code:
![image](https://user-images.githubusercontent.com/55450933/148319711-d392db4d-457b-4e73-b1c3-8bab104f462a.png)
Result:
![image](https://user-images.githubusercontent.com/55450933/148319874-9c77e4f1-1c16-4d1a-a2a8-63ece8468645.png)
There are about 7 log/sec
But when I switch to another browser tab or open another app window in full screen, no

[2022-01-06 07:11] gitteor opened #2959 "commercial use"
I want to use MediaPipe's pose function to edit video and use it for business.

I like to know it can commercial use if I notice to the license and copyright.

I think so (checked #1290), but people in the business want to hear a confirm on this.

Let us if there are any additional requirements related to licensing.

Thank you.

[2022-01-06 07:12] #2659 closed

[2022-01-06 07:12] #2860 closed

[2022-01-06 07:12] #2787 closed

[2022-01-06 07:13] #2775 closed

[2022-01-06 07:13] #2752 closed

[2022-01-06 08:09] chensisi0730 commented on #2842
can  i  disabling opencv when defining MEDIAPIPE_DISABLE_OPENCV to 1 in the bazel command?

[2022-01-06 08:12] chensisi0730 commented on #2842
or can i   compile MEDIAPIPE  and OPENCV  in  a staticLib ?

[2022-01-06 08:12] #2744 closed

[2022-01-06 08:12] #2473 closed

[2022-01-06 08:12] #2223 closed

[2022-01-06 09:31] chensisi0730 opened #2960 "How to use MediaPipe Android Solution"
How to use  MediaPipe Android Solution (https://maven.google.com/web/index.html?#com.google.mediapipe:hands) ?
can you give me a exzample ?

[2022-01-06 11:40] ianni67 commented on #2867
Thank you very much, @lilinxiong for your kind reply. I added your modifications to my project and I can confirm that it is working.

[2022-01-06 12:21] anappdev2 opened #2961 "FaceMesh Example Does Not Work on iPad with v0.8.9 (works with 0.8.8)"
**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): No
- OS Platform and Distribution : iOS 11.4.1
- [MediaPipe version](https://github.com/google/mediapipe/releases): v0.8.9
- Bazel version:
- Solution : FaceMesh
- Programming Language and version : Objective-C

**Describe

[2022-01-06 12:48] linyu0219 opened #2962 "can python use face detection tracking"
I follow object detection and box tracking made  a face detection and tracking graph.

[code]

and make a python sollution base solution_base
[code]
run the function like this
[code]
but the returned tracked detections detection_id all are 0, dose  can I get right detection id use python?

[2022-01-06 14:17] cindyloo commented on #2953
thank you - that helped. The demo was only useful for playing around with.
For others looking to do this in Javascript AND React here's my code:

[code]

[2022-01-06 14:32] cindyloo commented on #2510
I also have this error with FaceMesh

[2022-01-06 15:14] cindyloo opened #2963 "wasm: abort Runtime bug in FaceMesh on javascript in Chrome"
Chrome: 96.0.4664.110
"node": "14.15.4",
    "npm": "6.14.x"
React: 16.13.1

perhaps there is some garbage collection that I can do to 'reset'/clear the connection?

[code]

from this code:

[code]

[2022-01-06 15:25] adnan6336 opened #2964 "Face mesh python compiled for GPU not consuming GPU."
I would first like to give thanks to all developers and contributors for this wonderful contribution.

**System information**
- I have modified the necessary files to build python wheel for GPU support:
- Nvidia-jetpack Version: 4.6-b197, arm64 :
- Jetson Nano Development Board 2 GB:
- Python 3.6.9:
- MediaPipe version = v0.8.9):
- Solution (FaceMesh):

**FaceMesh compiled for python with GPU supp

[2022-01-06 19:21] nelsontseng0704 opened #2965 "Is there any possibility we can use Mediapipe solutions to build an Autoflip for static images?"
So far I know Autoflip only handles movie format, is there any possibility we can use other solutions in Mediapipe that can build an Autoflip for static images?

System information (Please provide as much relevant information as possible)

OS Platform and Distribution :iOS 11.3.1
MediaPipe version: 0.8.6
Bazel version: bazel 3.7.2
Solution: Autoflip
Programming Language: C++

[2022-01-06 19:47] tyrmullen commented on #2963
I don't see where you call `.initialize()` on the solutions in the code above, but sometimes this issue is the result of instantiating multiple solution instances and not using `await`.  (See issue #2823).  Can you check to see if that's the problem here?

[2022-01-06 20:08] cindyloo commented on #2963
ok, so invoke initialize after new?
eg
[code]

[2022-01-06 21:42] mostafamdy commented on #348
Links not working do you have updated links

[2022-01-06 22:32] mostafamdy opened #2966 "What is SurfaceOutput"
HI
what is SurfaceOutput class in android
+ Are there any documentation that describe classes for android

[2022-01-07 02:31] shreyas0906 commented on #348
While working on the hand landmark or any detections on a PC environment, we can choose not to draw the landmarks on the screen but still access the values of detections. Is the same possible to do in android..?

[2022-01-07 02:34] lilinxiong commented on #2867
you are welcome! I'm very happy to be able to help you.

[2022-01-07 02:36] tankchenggeng commented on #2802
I have the same question, anyone can help us?

[2022-01-07 02:36] tankchenggeng commented on #2802
up up up!

[2022-01-07 02:48] tankchenggeng commented on #2802
up up up!
help help help !
Go on !!!

[2022-01-07 03:04] PrinceP commented on #348
@shreyas0906 @Monibsediqi While working on this. I found a simple workaround to modify the annotation overlay [calculator](https://github.com/google/mediapipe/blob/master/mediapipe/calculators/util/annotation_overlay_calculator.cc) to avoid writing on the image and pass it as it is. It worked fine for me.

[2022-01-07 03:30] tankchenggeng opened #2967 "How to get pose_landmark_gpu.binarypb?"
In python, how to use pose_landmark_gpu.binarypb。It will use pose_landmark_cpu.binarypb by below。
mp_pose = mp.solutions.pose
pose = mp_pose.Pose(static_image_mode=False,
                    model_complexity=1,
                    enable_segmentation=False,
                    min_detection_confidence=0.5,
                    )

[2022-01-07 05:12] #2920 closed

[2022-01-07 05:26] yegenzhi commented on #2802
you can feed the detections or any starting boxes to the "START_POS" stream of box_tracker_calculator.

[2022-01-07 06:12] #2921 closed

[2022-01-07 06:29] sgowroji commented on #2958
Hi @mostafamdy, Could you please share your use case with respect to the above request. Thanks!

[2022-01-07 07:31] sgowroji commented on #2960
Hi @chensisi0730, You can follow the steps from here https://google.github.io/mediapipe/solutions/hands#android-solution-api. and for building the code please refer this https://google.github.io/mediapipe/getting_started/android_solutions.html

[2022-01-07 07:34] sgowroji commented on #2961
Hi @anappdev2, Could you please elaborate the above error with more details like video recording of the error and error logs if there are any. Thanks!

[2022-01-07 08:52] gakuto235 opened #2968 "No matching toolchains found for types @bazel_tools"
<em>Hi guys. So I followed the instructions from [https://google.github.io/mediapipe/getting_started/android#option-2-build-with-bazel-in-android-studio]( Examples) to build an example of hand tracking with mediapipe.However, during the build process, I got the following error.The error is located at the bottom of the code.</em>

`C:\Users\GACKT\mediapipe_repo\mediapipe>bazel build -c opt --config

[2022-01-07 12:46] mostafamdy commented on #2958
I have code from github for android  solution and I want to use [Visualizer mediapipe tool  ](https://viz.mediapipe.dev/)  to know what happen inside the graph but the visualizer don't support binary graph so can I convert binary graph to pbtxt format

[2022-01-07 13:31] yiusay commented on #2845
If this is not easy to fix, it would be great if you could restore the hand model in 0.8.7 and allow us to select the model, for example, by setting MODEL_COMPLEXITY to 2.

For now, 2 hand models (hand_landmark_lite and hand_landmark_full) are provided. Is it difficult to restore the hand model in 0.8.7 (which was working great!) as a 3rd one?

[2022-01-07 14:07] PeterTF656 commented on #825
@amazingyyc

Dear yyc, I checked your app on ios platform. Did you build that app with flutter? It works fine from my perspective.

Peter

[2022-01-07 15:05] amazingyyc commented on #825
No it's not it build on swift+OC+CPP

[2022-01-07 15:46] anappdev2 commented on #2961
Its not about video recording its just that the mesh is not displayed properly on iPad (as mentioned works great on iPhone). Its very flaky and just turn into small blob of red dots.

Same thing works on ipad with V0.8.8

[2022-01-07 20:08] EkalavAI opened #2969 "App hangs when I try to get the raw frames from graph"
**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Android 11, running on Samsung A32 5G
- [MediaPipe version](https://github.com/google/mediapipe/releases): 0.8.9
- Bazel version: 3.7.2
-

[2022-01-07 20:33] kivancagaogluu commented on #2603
@karataserol How did you solve this problem? Whatever i rename variables doesn't matter getting same error
``ValueError: while processing the input streams of subgraph node InferenceCalculator: TAG:index:name is invalid, "TENSORS:poselandmarkcpu__posedetectioncpu__Inferencecalculator__poselandmarkcpu__posedetectioncpu__input_tensors" does not match "([A-Z_][A-Z0-9_]*:((0|[1-9][0-9]*):)?)?[a-z_][a-

[2022-01-07 21:34] kivancagaogluu commented on #1778
Same here on Ubuntu 21.10. Does anyone have solution for this error? Whenever i use mediapipe code crashes immediately

[2022-01-07 21:48] adnan6336 commented on #2964
@jiuqiant
Hi Jiuqiant,
Can you please look into this.
Much thanks.

[2022-01-08 02:18] PeterTF656 commented on #825
Cool... I asked because Flutter probably can't tell the sampling rate of camera image stream sampling rate, which is essential for all kinds of filters. While in native, I guess it would be much easier to find the sampling rate real time.

[2022-01-08 08:21] karataserol commented on #2603
`
**@kivancagaogluu  muhtemelen kodu çalıştırmaya denediğiniz işletim sisteminde varsayılan cpu yerine  gpu  seçili bu nedenle inputu stream edemiyorsunuz , maalasef library değisiklik yaparakda bu durumu çozemeyeceksiniz , ya yeni bir kod ekleyip  istemciden modeli cpu da çalıştırmasını deneyceksiniz yada   0 dan cpu ve gpu ayarları yaparak başka bir sanal makine kurup onun üzerinde çalıştırmayı

[2022-01-08 10:55] ianni67 commented on #1786
Hello @kostyaby, thank you very very much for finding the time to keep this discussion open and providing precious information to those who are developing with mediapipe.
Wouldn't it be much easier if the code to convert the face landmarks into the Metric AR space would also include the iris landmarks newly added to the "attention model"? Currently the geometry pipeline only processes the first 46

[2022-01-08 11:02] ianni67 commented on #2867
As reported in issue #1786, the changes proposed by @lilinxiong work perfectly but represent only a work-around. The correct solution would be, in my opinion, allowing the geometry pipeline calculator to process all the 478 landmarks produced by the attention model, thus including the iris landmarks in the process. This would fix  an internal incongruence of the mediapipe framework and, at the sam

[2022-01-08 11:08] kivancagaogluu commented on #2603
@karataserol Yanıtınız için çok teşekkür ederim. Hobi olarak başladığım bir projeydi belki ileriki bir tarihte devam ederim. Sorunun net bir çözümünü ne kadar arasam da bulamadım.

[2022-01-08 17:54] EigenSpiral commented on #2930
What is hT.HandDetector()?

[2022-01-08 23:23] EigenSpiral commented on #2930
Hi,
Sorry to bother you again, I am a little confused. When I run the following code, the ID always comes out to 0(wrist) instead of ranging from 0 to 20 (to show all the joints). How can I get the data for other joints also?

HandTracker.py:

    def find_position(self, image):
        image.flags.writeable = True
        image = cv2.cvtColor(image, cv2.COLOR_RGB2BGR)
        if self.results.mult

[2022-01-08 23:49] MehdiGol commented on #742
Hello everyone,
Based on what I read and got, Z value does not act as the world Z axis. So it is not possible to estimate the arm angle using normal math formulas.
is it?

[2022-01-09 07:12] #2925 closed

[2022-01-09 07:12] #2926 closed

[2022-01-09 11:32] tulanglaoli opened #2970 "com.google.protobuf.InvalidProtocolBufferException: Message type does not match the expected type. Expected: null Got: mediapipe.NormalizedLandmarkList"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
    com.google.protobuf.InvalidProtocolBufferException: Message type does not match the expected type. Expected: n

[2022-01-09 13:23] shayantabatabaee commented on #2105
Hi, I know it is a little bit late,
but I recently implemented [this repository](https://github.com/shayantabatabaee/face-ml) for FaceDetection and FaceMesh modules, I used tensorflow lite interpreter and use mediapipe tflite model.

I hope this could help you

[2022-01-09 15:50] Era360 commented on #2930
You can leave **testing.py** the way it is and edit the module in the **find_position** function as follows:
[code]
Find position function will return a list of sets, where each set contains an id, x-coordinate, and y-coordinate.
or you can edit it to return whatever format you want, eg: dict.

[2022-01-09 20:37] jiuqiant commented on #2105
Thanks for contributing your implementation that allows users to simply run those two models with the tflite inference engine to get face landmarks from bitmaps. I also would like to highlight the key features that are supported by the official implementation:
- support gpu input and gpu output.
- support running the entire pipeline on gpu.
- take advantage of pipelining for between performance.
-

[2022-01-09 22:15] EigenSpiral commented on #2930
Thank you so much!!

[2022-01-09 22:15] #2930 closed

[2022-01-09 23:06] remmel commented on #2820
What is probably missing is the translation of the skeleton (eg how far is the person from the camera, which hight...)

[2022-01-10 02:35] lilinxiong commented on #2867
I agree with your opinion. But I want to say another point. In the original face_landmark, only 468 face landmarks were generated, and iris was added through a later module. Then face_geometry is only used for face_landmarks. In later versions, through ``with_attention``, face_landmarks supports the output of left right iris landmarks.

Note: that ``with_attention`` is optional, not required. If i

[2022-01-10 02:45] zhouhengda commented on #807
hello,i got the same error,do you have the solusotion?

[2022-01-10 03:31] sgowroji commented on #2961
@anappdev2  It would be helpful for investigating if you can share the logs or screenshot of the " not displayed on ipad " results.

[2022-01-10 04:03] #2829 closed

[2022-01-10 04:05] sgowroji commented on #2965
Hi @nelsontseng0704,  https://google.github.io/mediapipe/solutions/autoflip.html works for input videos. May not able available for images yet.

[2022-01-10 04:12] sparshgarg23 commented on #2575
Hi,even I am looking for a way to convert the results of mediapipe into open pose.The reason being that I am looking to use the results of mediapipe to fit 3d models using SMPL(but they rely on usage of openpose,which outputs only 25 landmarks ) as compared to the output of mediapipe which includes 33 landmarks

[2022-01-10 05:58] shayantabatabaee commented on #2105
Thanks for your response, yes you are right the official implementation has a lots of features, I will implement all of these feature as soon as I have time, I already tried the 0.8.9-alpha-4 version but since we need the both arm64-v8a and armeabi-v7a architectures the total size will increased by around 12mb. Another point is that we already use tensorflow-lite interpreter in our android applica

[2022-01-10 06:08] sgowroji commented on #2966
You can find more on the comments of the source code from here https://github.com/google/mediapipe/blob/master/mediapipe/java/com/google/mediapipe/framework/SurfaceOutput.java.

[2022-01-10 06:16] sgowroji commented on #2967
Hi @tankchenggeng, Could you please elaborate your query with complete details. Thanks!

[2022-01-10 06:16] manas1988 commented on #2954
Hi @itzme65 !  From this [thread ](https://github.com/google/mediapipe/issues/2954#issuecomment-1005465246) , It seems you have not installed dependencies prior installing  Mediapipe. Can you check the  instructions mentioned in these threads ? Link [1](https://github.com/jiuqiant/mediapipe_python_aarch64),[ 2](https://github.com/superuser789/MediaPipe-on-RaspberryPi). Thanks!

[2022-01-10 06:17] sgowroji commented on #2968
Hi @gakuto235, If you are looking for Android Hands solution then you can try this gradle api solutions from here https://google.github.io/mediapipe/getting_started/android_solutions.html

[2022-01-10 06:19] sgowroji commented on #2969
Hi @EkalavAI, Could you please provide steps to reproduce the above error with logs. Thanks!

[2022-01-10 06:21] sgowroji commented on #2970
Hi @tulanglaoli, Have you tried the workarounds mentioned here https://github.com/google/mediapipe/issues/1013#issuecomment-718640088. ?

[2022-01-10 06:34] tankchenggeng commented on #2967
If I install mediapipe by $ pip install mediapipe, there is a file named pose_lankmark_cpu.binarypb in the folder site-packages/mediapipe/modules/pose_landmark/。At the same time, I find I can set the model path at site-packages/mediapipe/python/solutions/pose.py, like below:

_BINARYPB_FILE_PATH = 'mediapipe/modules/pose_landmark/pose_landmark_cpu.binarypb'

the code row is 90!

So, I hope to  get

[2022-01-10 07:03] #2459 closed

[2022-01-10 09:31] gioipv commented on #2184
Thank you for your experiment. But I have a question about image pre-processing: do we need resize image with keeping the aspect ratio between the height and width of the images. ?

[2022-01-10 10:12] gioipv commented on #2657
Thank you for your experiment. But I have a question about image pre-processing: do we need resize image with keeping the aspect ratio between the height and width of the images. ?

[2022-01-10 11:05] rmham93 commented on #2937
I have used jupyter notebook with Anaconda nav 2.0.3. Python version 3.8.10. I used static image input and got this images. When there is dress sometimes it doesnt find foot sometimes like above it finds coordinate but no connection

[2022-01-10 13:53] choigawoon opened #2973 "i want to get the angle of wrist using mp hands solution"
<em>Please make sure that this is a feature request.</em>

**System information** (Please provide as much relevant information as possible)

- MediaPipe Solution (you are using):
- Programming language : C++/typescript/Python/Objective C/Android Java
- Are you willing to contribute it (Yes/No):

mediapipe                     0.8.4.2
python
yes

**Describe the feature and the current behavior/state

[2022-01-10 19:15] pgaston opened #2974 "Hair segmentation in JS - can MediaPipe Visualizer be stripped to run-time only?"
I'd like to use Hair Segmentation in a browser app.     (btw, it's fabulous that face mesh and selfie segmentation are already there.)

Seeing as hair segmentation works great using  MediaPipe Visualizer in a browser - is it possible to run that graph (or one slightly modified for fine-tuning output) on the web - baked into my cordova app (cross-platform framework using vanilla HTML w/ js)?

From

[2022-01-10 23:17] hansonap commented on #1381
@jonleinena I see that you closed this issue - did you manage to find a solution?

[2022-01-10 23:38] EigenSpiral opened #2975 "Data synchronization with mediapipe"
Hi, I'm doing a research project where I'm be collecting data with sensors while doing hand movements. I would like to synchronize the feature coordinates extracted with mediapipe with the sensor data. Since comparing time-stamps doesn't seem possible here, what is the recommended method to synchronize the data?

[2022-01-11 01:17] gioipv commented on #1701
Thank you for your experiment. But I have a question about image pre-processing: do we need resize image with keeping the aspect ratio between the height and width of the images. ?
If we need keeping the aspect ratio, we will padding 0 into the image for achieve the size of the input model

[2022-01-11 03:56] gakuto235 commented on #2968
Hi, thanks for the reply.
It seems that the URL I commented on wasn't working properly. The correct URL is this one: https://google.github.io/mediapipe/getting_started/android
I was also working on a mediapipe build on the site you referred me to.
Please let me know if there is any information I am missing.

[2022-01-11 04:17] ya332 opened #2976 "libmediapipe_jni.so not found after building an android archive for hair segmentation solution"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): Windows 11, Androi

[2022-01-11 04:24] sgowroji commented on #2968
@gakuto235  In https://google.github.io/mediapipe/getting_started/install.html#installing-on-windows, there is a note saying that building MediaPipe Android apps is still not possible on native Windows. Please do this in WSL instead.

[2022-01-11 04:29] sparshgarg23 commented on #1020
@martiniblack  thanks for the protobuf_to_dict suggestion,it's really helpful

[2022-01-11 04:42] sgowroji commented on #2976
Hi @ya332,  Similar https://github.com/google/mediapipe/issues/1224

[2022-01-11 05:11] sgowroji commented on #2975
Hi @EigenSpiral, Could you please elaborate your use case with complete details. Thanks!

[2022-01-11 05:11] ya332 commented on #2976
Thank you. I am closing the issue.

[2022-01-11 05:11] #2976 closed

[2022-01-11 05:16] anappdev2 commented on #2961
Here is screen grab of what is displayed on iPad.
https://user-images.githubusercontent.com/59765390/148884935-69b06795-220a-45f5-ba55-3c3731379a01.mp4

Here is the output on iPhone
https://user-images.githubusercontent.com/59765390/148885259-0736cd9b-4051-4d0b-be21-65ae2aca7e50.mp4

Hope this helps resolving the problem.

[2022-01-11 06:57] hongzimao opened #2977 "Mediapipe models can't load on chrome extension"
**System information**
- OS Platform and Distribution: M1 or intel, macOS Monterey 12.1. Chrome 96.0.4664.110.
- [MediaPipe version](https://github.com/google/mediapipe/releases): v0.8.9, npm @mediapipe/face_mesh version 0.4.1633559619

**Describe the problem**:
We are trying to use the latest mediapipe solutions for a chrome extension, where we import mediapipe in the extension's content script.

[2022-01-11 09:04] sgowroji commented on #2977
Hi @hongzimao, Can you provide your code changes to understand the issue and steps to reproduce the above issue. Thanks!

[2022-01-11 09:19] xesdiny commented on #2677
+1

[2022-01-11 09:40] wingdi opened #2978 "About face effect virtual model, anyone know the max number of faces and vertices is supported ?"
Like this Helmet with Tengu Mask and Crows,  anyone know the max number of faces and vertices is supported ?

<img width="574" alt="截屏2022-01-11 下午5 37 27" src="https://user-images.githubusercontent.com/25787391/148918062-c0228b43-5eda-41d4-bf92-ff22fd9c830f.png">

[2022-01-11 10:12] sgowroji commented on #2978
Hi @wingdi, Which MediaPipe solution are you referring above?

[2022-01-11 10:16] wingdi commented on #2978
Hi  @sgowroji ,There are no solution about this,  it's come from mediapipe/graphs/face_effect and mediapipe/modules/face_geometry.

[2022-01-11 14:18] sgowroji commented on #2914
Hi @UgurErcelik, Seems like your SDK is not properly installed. Were you able to run any hello world example on android ?

[2022-01-11 14:35] sgowroji commented on #2851
Try checking the above with the latest configuration on emulator.

[2022-01-11 14:46] sgowroji commented on #2978
Face effect supports now only for single face  as mentioned here https://google.github.io/mediapipe/solutions/face_mesh#face-effect-example

[2022-01-11 14:51] sgowroji commented on #2844
MediaPipe has limited resources for new features.  While this is a good idea, we don't foresee any debo area.

[2022-01-11 14:51] #2844 closed

[2022-01-11 14:54] sgowroji commented on #2760
MediaPipe has limited resources for new features. While this is a good idea, we don't foresee any debo area.

[2022-01-11 14:54] #2760 closed

[2022-01-11 15:22] fgsreally commented on #2506
My personal feeling is, pose Initialize () does not complete the real initialization. One trick is to send a non empty video element in advance before playing the video. However, a moment of Caton cannot be avoided in any way (including worker).

I hope there is a way to reduce the impact of real initialization on the window. I mean the blocking of interface rendering rather than time-consuming. E

[2022-01-11 15:23] fgsreally commented on #2506
My personal feeling is, pose Initialize () does not complete the real initialization. One trick is to send a non empty video element in advance before playing the video. However, a moment of Caton cannot be avoided in any way (including worker).

I hope there is a way to reduce the impact of real initialization on the window. I mean the blocking of interface rendering rather than time-consuming. E

[2022-01-11 15:25] EigenSpiral commented on #2975
I'm researching the information in IMU data -- 3 IMU is strapped to different parts of the subject's hand, Mediapipe is used to determine the ground truth of the hand movement. For the dataset, the IMU data needs to be synchronized with the Mediapipe data, but they have different sampling rates & no common time stamps (there are time stamps for the IMU data)

[2022-01-11 16:03] #2932 closed

[2022-01-11 17:23] shubham-dawande commented on #1937
@tyrmullen @mhays-google
Can we please get an update on the fix? We are experiencing crash issue on mobile devices due to this leak.
Facemesh version used: `0.4.1633559619`

[2022-01-11 18:04] hongzimao commented on #2977
@sgowroji thanks for following up. I believe the minimum code here is producing the same error we see: https://github.com/google/mediapipe/issues/2097#issuecomment-858414593

[2022-01-11 20:31] kostyaby commented on #1786
In an ideal world, I can see the Face Geometry module having multiple operation modes (face landmark-only; face landmark + iris landmark; maybe some other combination in the future). However, currently the effort is not staffed to cover all possible combinations. At this point, all I've committed to is supporting the existing Face Geometry module based only on the original face landmark NN output.

[2022-01-11 20:31] #1786 closed

[2022-01-11 20:43] kostyaby commented on #2978
Hey @wingdi,

If you're referring to [FaceGeometryEffectRendererCalculator](https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_geometry/effect_renderer_calculator.cc), then I believe I didn't set any explicit limits for the number of vertices / faces of the 3D meshes. Your only limits are OpenGL ES 3.0 limits and, of course, performance considerations.

For OpenGL ES limits: us

[2022-01-11 21:36] Hafikan commented on #2603
@kivancagaogluu merhabalar erol hocam, Linux mint, Raspian ve Win 10 da farklı farklı python sürümlerinde teker teker denedim. Linux tabanlı sistemlerde bu hatayı alıyorum ve çözümü pek yok gibi anlaşılan. Mediapipe kütüphanesini de bir projeden dolayıı Linux işletim sistemi üzerine kurmam gerekiyor. Tam olarak nasıl bir çözüm uygulayabiliriz?

[2022-01-11 23:30] kartynnik commented on #2939
Hi @HWiese1980,

Thank you for your extensive research! This is an interesting find.
It's a property of the current model that one can't do much about; we'll take your test cases into account for the new iterations of the model (there are some plans to update it but no particular timeline as of now).

[2022-01-12 00:47] ya332 opened #2979 "Building for x86_64 flag is missing"
Please make sure that this is a build/installation issue and also refer to the troubleshooting documentation before raising any issues.

System information (Please provide as much relevant information as possible)

OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): Windows 11, Android 11 API 30

Compiler version (e.g. gcc/g++ 8 /Apple clang version 12.0.0):

Programming

[2022-01-12 03:19] ya332 commented on #2979
The following worked for android x86_64
[code]
I am closing the issue.

[2022-01-12 03:19] #2979 closed

[2022-01-12 05:04] EigenSpiral opened #2980 "What is the sampling rate of mediapipe?"
I thought the sampling rate of mediapipe would be dependent on the camera (with iPhone it should be 30fps), but an 11-second video is outputting 648 frames, is this expected?

[2022-01-12 05:31] sgowroji commented on #2980
Hi @EigenSpiral, Could you please elaborate your query with complete details. Thanks!

[2022-01-12 07:05] ya332 commented on #420
@SwatiModi , Can you share the repo?

I am getting the following error ` ColorSliderCalculator; Unable to find Calculator "ColorSliderCalculator" Tag "RGB_OUT" index 0 was not expected.`

[code]

[2022-01-12 07:40] ianni67 commented on #1786
I see. Sorry for that. I guess the discussion drove me too far.
Thank you for taking the time to answer our questions.

[2022-01-12 08:05] karataserol commented on #2603
@Hafikan  merhaba windows 10 üzerinde  sanal bir  makineye linux kurarak deneyin ,

[2022-01-12 09:50] lghasemzadeh opened #2981 "Terms and Condition of use"
Is MediaPipe free and open-sourced for industry/commercial use?
I mean is it possible for a company to use mediapipe library into their developed algorithms and then sell that as a product?
Thank you

[2022-01-12 10:22] Shubham-Pachade opened #2982 "TypeError: __init__() got an unexpected keyword argument 'enable_segmentation'"
I am not able to enable the segmentation for the pose model. Following is my init code:

I am getting this error : TypeError: __init__() got an unexpected keyword argument 'enable_segmentation'

Please suggest what to do to enable segmentation.

[2022-01-12 13:31] Shubham-Pachade commented on #2982
I simply had to update the mediapipe library. No further assistance is needed on this. Thank you.

[2022-01-12 13:31] #2982 closed

[2022-01-12 14:00] thelostpeace opened #2983 "MediaPipe memory leak"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe):
   I  use MediaP

[2022-01-12 14:36] sgowroji commented on #2981
Hi @lghasemzadeh, Have a look at this https://github.com/google/mediapipe/issues/2959#issuecomment-1008566384

[2022-01-12 14:40] sgowroji commented on #2983
Hi @thelostpeace, Can you share the. error logs to investigate further ?

[2022-01-12 14:52] thelostpeace commented on #2983
@sgowroji  I didn’t see any error in the log file. The children processes are killed by OS because mediapipe uses up system memory.

[2022-01-12 15:54] baberjunaid opened #2984 "How to show all landmarks in one color"
The code provided on [pose landmarks](https://google.github.io/mediapipe/solutions/pose) I want to show all landmarks in one color, i.e., Green. Now after doing some predictions on **results** variable, I want to draw again the landmarks in RED. So what should be change in this snippet

[code]

[2022-01-12 16:29] sgowroji commented on #2703
Similar https://github.com/google/mediapipe/issues/2414#issuecomment-907587575

[2022-01-12 17:48] hadon commented on #2784
Hi @gb2111,
I think you are using the MediaPipe "holistic" Python solution, which invokes the MediaPipe "holistic_landmark" calculator-graph.   The python solution API "Holistic.Process" makes a series of synchronous calls to the calculator-graph.  These synchronous calls wait for the results from the previous frame to return before sending in the next frame, which reduces the parallelism of the c

[2022-01-12 18:37] EigenSpiral commented on #2980
Mediapipe can extract coordinate data from videos. How many frames of coordinate data can it extract over 1 second?

[2022-01-12 19:57] alexdmiller commented on #2840
Hi @PrinceP @hadon @NikolayChirkov. Sorry to ping again. Any ideas on your end would be appreciated. I'm happy to try any ideas you have for diagnosing the issue. Thanks!

[2022-01-12 22:13] EigenSpiral commented on #2980
To confirm, is the mediapipe frame rate dependant solely on the camera's framerate

[2022-01-12 22:13] #2980 closed

[2022-01-13 02:17] #2983 closed

[2022-01-13 04:05] sgowroji commented on #2984
Hi @baberjunaid, You can do the changes to the color in https://github.com/google/mediapipe/blob/master/mediapipe/python/solutions/drawing_utils.py of your code.

[2022-01-13 04:14] sgowroji commented on #2871
Hi @kaomoneus,  Please follow [this](https://github.com/google/mediapipe/blob/master/CONTRIBUTING.md) guidelines and share the PR details.

[2022-01-13 05:07] sgowroji commented on #2820
Hi @hyeyoungjo,  You can try that with some implementation in  data format tweak which can be provide through a custom calculator.

[2022-01-13 05:09] sgowroji commented on #2781
Its Large feature request, require new model, thats not in present roadmap. We have shared this request to the product team.

[2022-01-13 05:09] #2781 closed

[2022-01-13 05:11] sgowroji commented on #2870
MediaPipe has limited resources for new features.  While this is a good idea, we don't foresee any debo area.

[2022-01-13 05:11] #2870 closed

[2022-01-13 05:11] sgowroji commented on #2891
MediaPipe has limited resources for new features.  While this is a good idea, we don't foresee any debo area.

[2022-01-13 05:18] sgowroji commented on #2940
MediaPipe engineers think 300x300 should suffice.  The failure is a mystery.
Can the user post some examples of his 300x300 images to troubleshoot further. Thanks!

[2022-01-13 05:28] AK51 commented on #2940
I think blurry image after cropping is one of the problem.
For another reason is the tracking.
I think the tracking is off (static_image_mode=True) that's that the recognition is bad.
As mediapipe can only track one person, for each cropped image, if I get the skeleton, how can I pass the info to the next frame?
Do I create an array of pose?
Any sample code (or pseudo code)
Thx

[2022-01-13 05:34] sgowroji commented on #2958
This can be done but that need more work. There is an opensource protobuf printing tool.
protobuf API: protobuf::TextFormat, you need to build you own converter with that API.
(https://developers.google.com/protocol-buffers/docs/reference/cpp/google.protobuf.text_format)
(https://medium.com/@nathantnorth/protocol-buffers-text-format-14e0584f70a5)

[2022-01-13 05:37] sgowroji commented on #2973
We suspect that new model and app engineering will be required to solve this well.
That additional engineering is not on Google MediaPipe roadmap.  Will share this to the product team and will let you know if there is any further update.

[2022-01-13 05:37] #2973 closed

[2022-01-13 05:40] sgowroji commented on #2929
We suspect that new model and app engineering will be required to solve this well.
That additional engineering is not on Google MediaPipe roadmap.  we have shared this to the product team and will let you know if there is any further update.

[2022-01-13 05:40] #2929 closed

[2022-01-13 05:41] PrinceP commented on #2840
Hi @alexdmiller, Could you please try out this Estimator file developed in[ GSOC](https://jiyeoon.github.io/GSOC_Log/about.html). I am curious whelther it will show the same behaviour.

Have you tried in any other IOS version or device?

[2022-01-13 05:43] sgowroji commented on #2967
Hi @tankchenggeng, May be you can try downgrading to MediaPipe version to v0.8.3.1  and then follow the implementation as mentioned here https://github.com/google/mediapipe/issues/1651#issuecomment-790176010

[2022-01-13 05:46] sgowroji commented on #2962
Python interface looks ok but not sure about the graph. Can we use motion tracking with face detection? Assigned to @jianingwei to have a look.

[2022-01-13 06:56] john6402 opened #2985 "Autoflip error when bazel build"
**Describe the problem**
I have followed the installation tutorial of Mediapipe on windows10 platform. My bazel version is 4.2.2 currently. Most solutions in Mediapipe could be built and executed smoothly. Ex: Face、Object、Iris module Demo.

But there was a confusing error when I wanted to build the Autoflip solution.

`bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 --action_env PYTHON_BIN_PAT

[2022-01-13 06:59] lghasemzadeh commented on #2981
Hi @sgowroji I check the link you shared but I can not understand the context clearly.
Would you please help me through that. I only want to know that **is it possible or not**?
Thank you

[2022-01-13 07:56] 19920716 commented on #970
Very good, solved the problem of switching to Opencv4。

[2022-01-13 08:28] serengil opened #2986 "mediapipe hangs if tensorflow imported"
Hello,

I am using a mac with macOS Catalina (version 10.15.7) - intel core i7. If I import tensorflow first, then mediapipe hangs and waits. If I don't mediapipe, then it works. I write the following code to test importing and not importing tensorflow cases.

BTW, my python version is 3.8.12 and mediapipe version is 0.8.9.1.

[code]

I found a similar issue [here](https://github.com/google/mediap

[2022-01-13 08:45] sgowroji commented on #2986
Duplicate https://github.com/google/mediapipe/issues/1461#issuecomment-754868931

[2022-01-13 08:46] serengil commented on #2986
But that is not a solution, right?

[2022-01-13 08:56] Hafikan commented on #2603
@karata raspbery pi de bu yazılımı kullanmam gerekiyor.

[2022-01-13 09:28] tuotuoshao opened #2987 "Gpu examples run on ubuntu docker when creating a context with OpenGL ES 3 failed!"
**System information**
- OS Platform and Distribution : ubuntu 20.04 docker
- Programming Language and version : c++
- Bazel version: 4.2.1
- OpenCV version : 4

**Describe the problem**:
I'm runing gpu examples on ubuntu docker, and It doesn't own a desktop, just used as a server.
At the beginning，error message is like this:
    Unable to Initialize EGLpipe!
Then, I run a command: Xvfb 0: -screen

[2022-01-13 09:51] sgowroji commented on #2987
Hi @tuotuoshao, Similar issue https://github.com/google/mediapipe/issues/1483#issuecomment-765811256. Did you try the workaround mentioned in it

[2022-01-13 10:01] sgowroji commented on #2986
Yes its known issue in MediaPipe and We don't have any resolution at present. We will keep you inform on the main thread once we found any update. Thanks!

[2022-01-13 12:17] furkandindar opened #2988 "JavaScript Face Mesh multiFaceGeometry returns empty"
Hi,

I am using MediaPipe's FaceMesh solution in JavaScript. I am able to obtain landmarks from `multiFaceLandmarks` which returns 468 landmarks. There is also `multiFaceGeometry` array which is empty and I would like to know why it returns empty. `multiFaceGeometry` might be what I am actually intend to use because as stated in [MediaPipe Face Mesh](https://google.github.io/mediapipe/solutions/fa

[2022-01-13 13:37] lghasemzadeh opened #2989 "Mediapipe on AI Accelerators"
Hello,
Is it possible to run mediapipe solutions on 'Renesas V3H'? since V3H has AI accelerators instead of GPU.
https://www.renesas.com/us/en/document/fly/renesas-r-car-v3h
Thank you

[2022-01-13 13:48] anappdev2 opened #2990 "Chin Side Landmarks Are Misplaced If Mouth is Opened"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): No
- OS Platform

[2022-01-13 18:03] mcclanahoochie commented on #2251
https://github.com/google/mediapipe/pull/2463 has been merged upstream, thanks

[2022-01-13 18:34] mcclanahoochie commented on #2170
https://github.com/google/mediapipe/pull/2463 has been merged upstream, thanks

[2022-01-14 01:12] ya332 commented on #1624
I did all of this but for hair_segmentation aar and I am getting the following error:

[code]

@jiuqiant Do you know how I can fix this?

[2022-01-14 01:24] ya332 opened #2991 "Generating AAB (Not AAR) for Hair Segmentation Example"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): Android 11
- Compi

[2022-01-14 04:17] tuotuoshao commented on #2987
I have tried this workaround but it dosen't work!

[2022-01-14 05:11] hongzimao commented on #2977
@sgowroji any update? The linked issue didn't get resolved after a series of investigation.

[2022-01-14 05:41] HWiese1980 commented on #2939
@kartynnik That's a pity, but thanks for the information. I think the width of a nose is a vital part of the uniqueness of a face, so a model that allows for face recognition should definitely take it into account. Question is, is the reason that the pictures are artificial? Or does it also occur on real faces? Does your model see a general correlation between, say, face width or eyes distance and

[2022-01-14 07:35] tankchenggeng commented on #2967
![image](https://user-images.githubusercontent.com/44495942/149468934-b1b28437-6096-460d-b9ae-b3ba3a61d446.png)
I get some errors as below when run git apply above_patch.diff
`
$ git apply above_patch.diff
error: patch failed: mediapipe/modules/holistic_landmark/holistic_landmark_gpu.pbtxt:47
error: mediapipe/modules/holistic_landmark/holistic_landmark_gpu.pbtxt: patch does not apply
error: patch

[2022-01-14 07:50] tankchenggeng commented on #1740
How to get Samplepatch.diff?

[2022-01-14 09:31] peke-tictactoe opened #2992 "Different results returned"
When using solution Pose in python, the same photo will return different results.
When I estimate the same photo, I want the same result to be returned, is there a way to do this?

mediapipe version = 0.8.9.1
Python version =  3.8.12

[2022-01-14 09:35] karataserol commented on #2603
@Hafikan  ekteki çözümü deneyip bilgi verirmisin ,işe yaramazsa sonuçların çıktısını alıp paylaşın ona gore elimden gelen bir şey olursa soyleyeyim

eger raspi 3 model b kullanıyorsan

`sudo pip3 install pathlib. And I run the code again with pip3: sudo pip install mediapipe-rpi3`

diger çözüm

`a useful package to install mediapipe fastly in raspberry
for raspberry pi 3 and raspberry pi 4

//FFmp

[2022-01-14 10:25] lghasemzadeh commented on #1738
Hello @radisc, were you able to run mediapipe on asus tinker?

[2022-01-14 11:41] radisc commented on #1738
@mgyong i successfully run mediapipe on Jetson Nano / Xavier and raspberry

Hi @lghasemzadeh, not yet, i'm considering giving it a try, but before i want to understand if i would get better performance on that platform. For my understanding coral examples require a different delegate for inference, whereas normally you can use GPU or CPU with XNNPACK in Jetson/Raspberry, on the Coral / Asus Tinker

[2022-01-14 14:58] arnitkun opened #2993 "Object Detection solution"
Hi!

Can anyone point me the way as to how one would be building something like one of the "solutions" for the object detection on desktop?

I have seen a couple of issues but they seem to be lacking information as to how one would do it themselves since it is not available as one.

P.S. : Also if someone could point me as to how to use the mediapipe graphs, that would be great. I have recently co

[2022-01-14 19:47] matanster commented on #1374
I notice that the value returned for the `index` attribute of this struct is sometimes larger than the largest index of the landmark lists themselves. I.e. the index can be 1 when there is only one hand (one item in `mutli_hand_landmarks`, whose index is zero). So it's hopefully safe to ignore it but may warrant some clarification.

[2022-01-15 06:30] vishwajeet993511 commented on #1306
Hi @Arul2962 , How did you resolve the issue ?

[2022-01-15 08:58] RajarshiPrattipati commented on #1349
Nothing works anywhere. Is there a fix?

[](url
![Screenshot from 2022-01-15 14-20-01](https://user-images.githubusercontent.com/20268648/149616110-f2c1d54b-b134-4e21-9366-4658c2970e66.png)
)

[2022-01-16 01:55] huangandy opened #2994 "How to buuld a .aar file like 'com.google.mediapipe:hands:latest.release'"
Hi ,

I got a tutorial for building a model from graph

but I want to build an aar like the solution example one

How should I design my BUILD file to announce the android_library source with "hands" or "soluttion_core" ?

Then generate an aar like "https://mvnrepository.com/artifact/com.google.mediapipe"

[2022-01-16 03:31] wingdi commented on #2978
Hi @kostyaby
I test , the vertex number need less than 65536, it comes from effect_renderer.cc : `RET_CHECK_LE(index_element, std::numeric_limits<uint16_t>::max())`  , if exceed 65536, it will report errors.

[2022-01-16 03:31] #2978 closed

[2022-01-16 07:41] zdl-hub opened #2995 "How can I get the distance from the face to the camera from the picture？"
I know that outputs contains the normalized x, y, z.
But I want to get the depth from the face to camera. Can mediapipe give the depth or calculate the depth from the normalized x, y, z.