[2021-08-15 05:48] tommypham commented on #2383
I am not sure about training process. What I understood is If we can cover as much as possible the use case of reality , we can detect exactly when applying the framework of AI.
Wax hands can provide a flexible method to adapt to reality that sometimes we don't cover yet in training.

[2021-08-15 07:52] InvisibleLeVen opened #2419 "How to set SMOOTH_LANDMARKS"
How to set STATIC_IMAGE_MODE, MODEL_COMPLEXITY, SMOOTH_LANDMARKS, MIN_DETECTION_CONFIDENCE, MIN_TRACKING_CONFIDENCE in the desktop c++ ​​program in pose_tracking demo

[2021-08-15 08:47] junnikokuki opened #2420 "Face mesh landmark points for nose when draw connections"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):
- [MediaPipe version]

[2021-08-15 09:05] LKay42 commented on #2251
I'm running into the exact same problem on Ubuntu 21.04. The suggested one line patch from #2170 fixed it for me as well. Please  consider including the patch in the next version.

[2021-08-15 13:56] arianatri opened #2421 "there is no "mediapipe/examples/android/src/java/com/google/mediapipe/apps/aar_example/BUILD." path as writen in documentation"
## URL(s) with the issue:

https://google.github.io/mediapipe/getting_started/android_archive_library.html

## Description of issue (what needs changing):

there is not path : mediapipe/examples/android/src/java/com/google/mediapipe/apps/aar_example/BUILD.
as said in doc :
"In the MediaPipe directory, create a new mediapipe_aar() target in a BUILD file. You need to figure out what calculators are

[2021-08-15 16:17] AmitMY opened #2422 "Holistic v0.3 -> v0.4 breaking change"
**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): **Windows 10**
- Browser and version (e.g. Google Chrome, Safari) if the issue happens on browser: **Chrome**
- Programming Language

[2021-08-15 17:11] xukaiquan opened #2423 "how to detect front or back of hand? given sometimes hand is labeled as wrong left/right hand"
Thanks

[2021-08-15 17:35] rtrjmishra commented on #1622
@jiuqiant Could you please help me in installing MediaPipe on my macOS Big Sur 11.5.1 M1 and python=3.8.10
Thank you.

[2021-08-16 01:16] foamliu commented on #2357
Hello, Ping~ :） @bazarevsky @sgowroji

[2021-08-16 03:44] chenkecheng opened #2424 "FaceMesh cannot run on Samsung SM-G5528"
com.google.mediapipe.framework.MediaPipeException: internal: Graph has errors:
    Calculator::Open() for node "singlefacegeometryfromlandmarksgpu__facelandmarkfrontgpu__facedetectionshortrangegpu__inferencecalculator__singlefacegeometryfromlandmarksgpu__facelandmarkfrontgpu__facedetectionshortrangegpu__InferenceCalculator" failed: ; (TfLiteGpuDelegateBindBufferToTensor( delegate_.get(), gpu_buffe

[2021-08-16 04:44] sgowroji commented on #2413
Hi @mangodan2003, Could you please point us some observations which was felt like outdated. Thanks!

[2021-08-16 05:44] sgowroji commented on #2414
Hi @methodistsmab, We use those landmarks to get the valid  coordinates and draw the necessary part of the solution as per your requirement . Refer https://github.com/google/mediapipe/issues/1920#issuecomment-826954189 to understand more about it.

[2021-08-16 05:47] sgowroji commented on #2415
Hi @TAU20, Could you please provide the steps to reproduce the above error and also share the machine configuration to try on it. Thanks!

[2021-08-16 06:07] sgowroji commented on #2416
Hi @only-tao, Could you please provide the steps to reproduce the above error . Thanks!

[2021-08-16 06:09] sgowroji commented on #2417
Hi @NourOmran, Could you please provide complete details in the above issue to address your query. Thanks!

[2021-08-16 06:23] #829 closed

[2021-08-16 06:23] #1220 closed

[2021-08-16 07:19] sgowroji commented on #2419
Hi @InvisibleLeVen,  Below points to the graph changes where you can set them in your graph and build for desktop.
For [cpu](https://github.com/google/mediapipe/blob/a9b643e0f5978425d948050a2228398929733d05/mediapipe/modules/pose_detection/pose_detection_cpu.pbtxt#:~:text=%7D-,%23%20Decodes%20the%20detection%20tensors%20generated%20by%20the%20TensorFlow%20Lite%20model,%7D,-%23%20Performs%20non-max

[2021-08-16 07:23] #2355 closed

[2021-08-16 07:23] #2137 closed

[2021-08-16 07:27] 11676670 commented on #3
if you network blocked by the Great Firewall. you can change your repositories in WORKSPACE file like this.
repositories =
    [
        "https://maven.aliyun.com/repository/google",
        "https://maven.aliyun.com/repository/central",
        "https://maven.aliyun.com/repository/public",
],
Good luck.

[2021-08-16 07:28] 11676670 commented on #581
if you network blocked by the Great Firewall. you can change your repositories in WORKSPACE file like this.
repositories =
    [
        "https://maven.aliyun.com/repository/google",
        "https://maven.aliyun.com/repository/central",
        "https://maven.aliyun.com/repository/public",
],
Good luck.

[2021-08-16 07:28] 11676670 commented on #601
if you network blocked by the Great Firewall. you can change your repositories in WORKSPACE file like this.
repositories =
    [
        "https://maven.aliyun.com/repository/google",
        "https://maven.aliyun.com/repository/central",
        "https://maven.aliyun.com/repository/public",
],
Good luck.

[2021-08-16 07:29] 11676670 commented on #762
if you network blocked by the Great Firewall. you can change your repositories in WORKSPACE file like this.
repositories =
    [
        "https://maven.aliyun.com/repository/google",
        "https://maven.aliyun.com/repository/central",
        "https://maven.aliyun.com/repository/public",
],
Good luck.

[2021-08-16 07:51] MukeshBlippar commented on #417
Hi @afsaredrisy , i checked this repository. Can you please tell me where to add this code ? Should i replace this last folder by yours?
mediapipe\examples\android\src\java\com\google\mediapipe\apps\handtrackinggpu.

I see in original mediapipr repo menifext files are added under  \mediapipe\examples\android\src\java\com\google\mediapipe\apps\basic, but in your repo this comes inside \handtracking

[2021-08-16 08:23] #1633 closed

[2021-08-16 08:30] sgowroji commented on #2423
Hi @xukaiquan, Could you please provide a video  specific to the above wrong observation as mentioned in the issue title. Thanks!

[2021-08-16 08:30] sgowroji commented on #2424
Hi @chenkecheng, Could you please provide the steps to reproduce the above error. Thanks!

[2021-08-16 09:11] sgowroji commented on #2364
Hi @tommypham, Glad to know you resolved. Adding your resolution would be helpful to the community on similar errors. Thanks!

[2021-08-16 09:23] chenkecheng commented on #2424
@sgowroji This problem occurs every time on Samsung SM-G5528 model. Build facemeshgpu.apk by android_arm, then install to Samsung SM-G5528. Run facemeshgpu, then the problem happened.
Android version:8.1.0
SOC: Snapdragon 625

[2021-08-16 09:43] ferranmartinezlleida commented on #2354
Hi I can't build from source and I tried upgrading to a newer version but the INFO Message still appears

[2021-08-16 10:23] #1304 closed

[2021-08-16 10:23] #1421 closed

[2021-08-16 11:18] sgowroji commented on #2354
Hi @ferranmartinezlleida, Did you try this https://github.com/google/mediapipe/issues/2354#issuecomment-888914573

[2021-08-16 11:23] #1592 closed

[2021-08-16 12:30] sanamumtaz commented on #1427
Kindly do share updates and link to demos that are working on iOS. (Does face_mesh demo work? Last time I checked on iOS, it didn't work.)

[2021-08-16 12:33] ljmkimqx opened #2425 "ios ClassificationList grammar"
I want to get the left or right hand label on the IOS side

I use the following code to get it:
[code]
However, an error is reported during compilation:
[code]
What should the grammar be like?

[2021-08-16 12:46] #2425 closed

[2021-08-16 12:54] InvisibleLeVen commented on #2419
@sgowroji
Just need to set it like the following in the configuration file?
`
# Whether to filter landmarks across different input images to reduce jitter.
# If unspecified, functions as set to true. (bool)
input_side_packet: "SMOOTH_LANDMARKS:false"

# Complexity of the pose landmark model: 0, 1 or 2. Landmark accuracy as well as
# inference latency generally go up with the model complexity. If u

[2021-08-16 13:57] tommypham commented on #2364
Add to WORKSPACE:
[code]
Add new file tesseract.BUILD to third_party folder:
[code]
add reference to deps where class use it:
`deps = ["@ios_tesseract//:tesseract",]`

Finally, we will include header file:
[code]
There is no issue If we only include tesseract headers within Cpp file.
I still need to research further to link tesseract header to Objective-c or Swift file, because now I got error:

[

[2021-08-16 14:15] homuler commented on #2170
@sgowroji Is the above patch will be merged, or at least will this issue be fixed in another way?

[2021-08-16 14:21] jiuqiant commented on #2421
You need to create a new directory.

[2021-08-16 15:24] showbit01 commented on #808
can I assume landmarks points x,y,z as 3d for world coordinates and x,y from same landmarks as 2d image coordinates For calculation of rotation matrix then Euler angles for head pose estimation?
Please help!

[2021-08-16 15:25] showbit01 commented on #1477
can I assume landmarks points x,y,z as 3d for world coordinates and x,y from same landmarks as 2d image coordinates For calculation of rotation matrix then Euler angles for head pose estimation?
Please help!

[2021-08-16 15:27] showbit01 opened #2426 "Hi ,"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):
- [MediaPipe version]

[2021-08-16 19:11] mhays-google commented on #1427
I just tested face_mesh on iOS running on Safari preview on my MacBook
pro.  It looks like it is working to me.  I also tested face_mesh on iOS
running on Safari on a modern iPad.  It is working for me as well.  Same
with an iPad pro.

How did it not work?  What version of iOS and OS are you using?  What were
you doing when it didn't work?

On Mon, Aug 16, 2021 at 5:30 AM Sana Mumtaz ***@***.***>

[2021-08-16 19:12] qllb commented on #1957
@lottopotato, unfortunately no
just processed everything with CPU

[2021-08-16 20:00] sanamumtaz commented on #1427
I tested on iPhone Safari. Latest updated version.

The demo stays in loading state.
![IMG-20210816-WA0014](https://user-images.githubusercontent.com/35191030/129622462-9c05e06b-aaaf-4429-93fc-c94893a203e7.jpg)

[2021-08-16 20:02] ionif commented on #1427
Same for me on a iPhone 11 with iOS 14.6 (stays loading and never works).
This is true for facemesh, and hands for me

On Mon, Aug 16, 2021 at 4:00 PM Sana Mumtaz ***@***.***>
wrote:

[2021-08-16 20:38] AmitMY commented on #2407
With `webpack`, copy all files from `@mediapipe/pose` to some public directory, like `assets/pose` or something,

then, change the code to:
[code]

[2021-08-17 00:04] mhays-google commented on #2422
I'm not a fan of this policy, but our team has decided that the minor version denotes breaking changes, not the major version.

However, I don't remember anything that would cause poses to fly away like this.  There is a locateFile method you may have supplied during initialization.  Is it possible that this hasn't been updated to reflect the new version?

[2021-08-17 00:28] nathanfrey-google commented on #2394
To render externally you can use the message here:
https://github.com/google/mediapipe/blob/b899d17f185f6bcbf3f5947d3e134f8ce1e69407/mediapipe/examples/desktop/autoflip/calculators/scene_cropping_calculator.cc#L120
and that external render frame message is described here:
https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a479407c699e424aa7/mediapipe/examples/desktop/autoflip/autoflip_

[2021-08-17 00:49] tyrmullen commented on #2188
@apcjs As Android Chrome Stable is now past M92, do you mind testing to see if the issue still repros?  If not, let's close this issue out with a note to avoid the problem M91 versions on Android Chrome.

[2021-08-17 00:55] tyrmullen commented on #2278
This is not typical behavior.  Especially on desktop Chrome, the demos should be running quite quickly, which makes me suspect you might have a Chrome setting/experiment/flag which is interfering.  One thing to double-check would be to navigate to chrome://gpu and ensure that the settings there look good.  And in particular, check that your WebGL2 is hardware accelerated, since software WebGL is e

[2021-08-17 01:01] tyrmullen commented on #2353
I think this issue may have been assigned to the wrong repo-- this appears to be an issue in the setup for a tf.js project, which happens to use one of our MediaPipe backends for the machine learning.  For tf.js API questions, I think the repo to post to is here: https://github.com/tensorflow/tfjs

[2021-08-17 01:01] #2353 closed

[2021-08-17 02:35] mhays-google commented on #2422
I'd like to figure out why your demo is behaving the way it is.  If it's a problem on our end, I'd like to fix it quickly.

Nice demo, btw.

[2021-08-17 02:37] mhays-google commented on #2420
I'll talk to the team about formally exposing a set of nose connections, but you can already use the points to define your own outline.  You'll see that I just record the points as a set of array pairs specifying starting point and ending point.

[2021-08-17 02:41] mhays-google commented on #1427
Hm.  Thanks for this.  You are right -- The demos in question were using an
older version of controls.  The new version specifically addresses an issue
with ios phones.  I've updated the versions to the latest and I've verified
that all of the demos work on an iPhone 11.  I think that the speed leaves
something to be desired, but we are working on improving this.  Also, I
need to do something a bi

[2021-08-17 03:12] AzureRain1 commented on #2278
I checked and indeed WebGL2 is hardware accelerated. Actually just now I tried it on a newly installed Chrome on Windows, and I can reproduce the 8 fps behavior. It runs exactly 8 fps no matter the setting, like it is being capped somewhere.

The browser version I tested was:
[code]

And here is the `chrome://gpu` report:

[code]

[2021-08-17 03:34] betogaona7 opened #2427 "Can't run hair_segmentation default example due to a graph error."
Hi, I followed the steps to install mediapipe successfully, compiled hair_sementation with the following command:

[code]

and there were no problems. Then I tried to run the example with the following command:

[code]

And I am getting the following error:

[code]
I haven't performed any changes to the graph neither to the code. I would like to be able to run the default example, so I can experim

[2021-08-17 03:35] sgowroji commented on #2426
Hi @showbit01, Could you please elaborate your use case with complete details. Thanks!

[2021-08-17 04:05] alien190 commented on #2395
Hi @sgowroji,

Are these videos enough or maybe some additional information is required?

Thank you.

[2021-08-17 04:13] sgowroji commented on #2395
Hi @alien190, We have assigned it to the engineer who can assist you well on your query. Please subscribe to thread to get the latest updates on it. Thanks!

[2021-08-17 04:27] #1265 closed

[2021-08-17 04:27] #1156 closed

[2021-08-17 04:27] #980 closed

[2021-08-17 04:47] remag2069 commented on #2358
well well well, I might have just the thing. Although it is not a direct solution, it is a workaround. but it works, that's all that matters right, idk.

So, in order to detect the bend in the spine, I utilize the torso lengths. The theory is that, when I bend my spine, I effectively shorten the distance between my shoulder and my hip. And since the media pipe detects these two points, I can get t

[2021-08-17 05:01] showbit01 commented on #2426
Hi @sgowroji ,Thanks for responding. I want to estimate the head orientation from my webcam through mediapipe 468 landmarks.Head orientation here like yaw,pitch roll angle how face moves left, right,updown etc. So for calculating it there is open cv solvepnp function which calculate rotation vector, translation vector and for this I have to give 2d and 3d points.

So I have only 3d points  x,y,z o

[2021-08-17 05:50] AmitMY commented on #2422
For `locateFile`, all files are actually located locally -
https://github.com/sign-language-processing/playground/blob/master/src/app/modules/pose/pose.service.ts#L16
After they are copied during the build process -
https://github.com/sign-language-processing/playground/blob/master/angular.json#L24

This is to make the app able to work completely offline using service workers etc...

With this loc

[2021-08-17 05:54] AmitMY commented on #1427
iPhone 11 Pro here.
The codepen demo captures a single shot from my camera, and repeatedly runs pose estimation on it (not moving).
This is consistent with both the front and back cameras.
Performance - when I am in frame, 4-5 fps. out of frame, 9 fps.

[2021-08-17 07:27] #1050 closed

[2021-08-17 07:29] sgowroji commented on #697
Hi @Ensteinjun, Could you please respond if you still looking resolution for the above query. Thanks!

[2021-08-17 07:33] sgowroji commented on #999
Hi @js-0528, Could you please check the above with the latest release and let us know if you see any similar observations. Thanks!

[2021-08-17 07:44] sgowroji commented on #984
Hi All, Above issue fixes in the latest release. Please feel free to reopen if you encounter the same issue in the latest release.

[2021-08-17 07:44] #984 closed

[2021-08-17 07:50] sgowroji commented on #1013
Hi @lovehuanhuan, Could you please test the above with the latest release and let us know if you still see the error. Thanks!

[2021-08-17 07:53] sgowroji commented on #1551
We are closing this issue as we don't see in the latest release.

[2021-08-17 07:53] #1551 closed

[2021-08-17 07:55] sgowroji commented on #1041
Hi @shortcipher3, Could you please respond if you still looking answers for the above queries. Thanks!

[2021-08-17 08:27] #1571 closed

[2021-08-17 08:27] #1560 closed

[2021-08-17 09:41] sgowroji commented on #2398
Have you tried checking this  https://google.github.io/mediapipe/solutions/instant_motion_tracking

[2021-08-17 09:55] lghasemzadeh commented on #1928
It worked for me, thx

[2021-08-17 10:00] Kangjik94 commented on #2172
i just success building face mesh :)
i got just the same problem as you commented.
"cannot open gen_~~.zip" bla bla

i guessed that the error occurs because of mixed bin path
then we can ask to ourselves "what path is mixed? or confusing?"

i think cmd bin path and msys bin path is confusing

so i removed msys bin path and msys\mingw64 bin path.

and retry build again. it works in my case!!

hope

[2021-08-17 10:17] vblemberg commented on #1132
I experience the same issue. Most likely it's because of extra space added by I would guess AS bazel plugin.
Check this line in output:
`Command: /Users/mac/bin/bazel mobile-install --tool_tag=ijwb:AndroidStudio --device c016900d:tcp:5037 "--adb_arg=-s " --adb_arg=c016900d --adb /Users/mac/Library/Android/sdk/platform-tools/adb --curses=no --color=yes --progress_in_terminal_title=no -c opt --confi

[2021-08-17 10:27] #1546 closed

[2021-08-17 10:36] apcjs commented on #2188
@tyrmullen, I do not experience this issue in Chrome 92 anymore. Closing this issue. Thanks

[2021-08-17 10:36] #2188 closed

[2021-08-17 11:45] ferranmartinezlleida commented on #2354
I read the post and tried to upgrade to last version. As I said I can't build from source.

[2021-08-17 12:02] ljmkimqx opened #2428 "How to set min_detection_confidence and min_tracking_confidence attribute"
How to set min_detection_confidence and min_tracking_confidence attribute values on the mobile terminal of gesture recognition? I can't find anything to change.

I've seen modules / hand_ landmark/hand_ landmark_ Gpu.pbtxt file and modules / hand_ landmark/hand_ landmark_ tracking_ Gpu.pbtxt file, but I still don't know how to modify it.

thanks

[2021-08-17 14:16] methodistsmab commented on #2414
Hi @sgowroji, thanks for your response.
But I am still confused about that. According to #1920 , we can use the landmark to calculate the x, y.
nose_x = results.pose_landmarks.landmark[mp_holistic.PoseLandmark.NOSE].x * image_width
noses_y = results.pose_landmarks.landmark[mp_holistic.PoseLandmark.NOSE].y * image_height

But sometimes, I got the landmark like Landmark[31] (1.8993026,0.3237356,-0.0

[2021-08-17 14:49] only-tao commented on #2416
I success the installation

[2021-08-17 14:50] #2416 closed

[2021-08-17 14:52] cansik commented on #1912
@jiuqiant  This is still not solved, so would be great if you could reopen it.

Wouldn't it be sufficient to add the following lines to the python build and create a new solution for it?

[code]

[2021-08-17 15:00] hungtooc commented on #1912
something may helpful to solve this problem:
https://stackoverflow.com/questions/18789232/rotate-a-3d-object-in-python
https://mathworld.wolfram.com/EulerAngles.html

[2021-08-17 15:04] cansik commented on #1912
@hungtooc How did you get the transformation matrix in python? I know how to rotate in 3d space, the problem is to get the transformation matrix from the landmark detection.

[2021-08-17 15:27] hungtooc commented on #1912
[code]

[2021-08-17 15:49] betogaona7 commented on #2427
Closing this issue since I found a solution. Thank you! :smile:

[2021-08-17 15:49] #2427 closed

[2021-08-17 16:14] nelsontseng0704 commented on #2394
Hi Nathan,

Appreciate your reply. I have a follow-up question. How do I print out metadata and save the metadata as a CSV file in Scene_cropping_calculator?

[code]

[2021-08-17 16:45] mhays-google commented on #1427
That's no good.  I'm not getting the same issue.  I'm bringing this up to
the team to see if we can prioritize more iOS support.

On Mon, Aug 16, 2021 at 10:54 PM Amit Moryossef ***@***.***>
wrote:

[2021-08-17 16:53] mhays-google commented on #2422
I tried the online holistic demo at code.mediapipe.dev/codepen/holistic,
and I replaced the version with 0.3 and with 0.4.  Both work pretty much
identically.

If it were not just a version number change, my initial reaction is that
there is a canvas scale happening without calls to canvas.save or
canvas.restore.  Can you verify this in your own drawing code?

On Mon, Aug 16, 2021 at 10:50 PM Amit

[2021-08-17 17:27] #1586 closed

[2021-08-17 17:47] AmitMY commented on #2422
Thanks.
The input video is not scaled or anything, it is just a video element, sent to holistic.
The output canvas is scaled using a css transform, but even after removing that, the problem persists.

(But because the input is a video, and no manipulation is done on the video, I see no reason why anything on the canvas will be an issue)

Here is a print of the location of the nose through each fra

[2021-08-17 18:36] mhays-google commented on #2422
I'm simply not able to recreate this with our own demo code, and I feel
like I'm guessing.  The positions returned in the solution are normalized
(0..1) though, so the values you are printing out have been multiplied by
something.  Can you check the results as they are returned?

On Tue, Aug 17, 2021 at 10:48 AM Amit Moryossef ***@***.***>
wrote:

[2021-08-17 19:03] tyrmullen commented on #2278
Interesting-- what type of computer is this?  I don't see anything off-hand in the chrome://gpu which looks suspicious.  And I'm assuming chrome://flags are set to default values?  (Some of the experimental flags could definitely contribute to this, otherwise).

A few things to try:
(1) Chrome does share a single GPU process across all of its tabs/windows, and does automatically cap framerate acco

[2021-08-17 21:30] AmitMY commented on #2422
Unfortunately, not only `[0, 1]` values are returned.
The reason is some kind of change in the way the `image` is returned, I think.
I am storing that canvas reference in a store (using `ngxs`), and that is the additional factor...

My current fix:
https://github.com/sign-language-processing/playground/commit/f43dce163e71702793a4eec5fc47f98c939cd80c#diff-234795a41fd0cddbe6708c29494ba2caf76de81e3fc

[2021-08-17 21:30] #2422 closed

[2021-08-17 21:31] jadams777 commented on #1427
Hi Michael, are you able to get the pose tracker running on iOS? I visited this codepen on my iPhone 12, but it didn't track my body. The controls cover the screen, so it's hard to see what's happening.  Thanks.

https://codepen.io/mediapipe/pen/jOMbvxw

[2021-08-17 21:46] kostyaby commented on #1155
Hey @midhulavijayan,

One important step for making sure a 3D glasses asset is aligned with face at runtime is _to align the 3D glasses asset with the canonical face model_ (similar comments: https://github.com/google/mediapipe/issues/1155#issuecomment-739078145, https://github.com/google/mediapipe/issues/1155#issuecomment-744628191, https://github.com/google/mediapipe/issues/1155#issuecomment-767

[2021-08-18 00:33] nathanfrey-google commented on #2394
The render message is populated here:
https://github.com/google/mediapipe/blob/b899d17f185f6bcbf3f5947d3e134f8ce1e69407/mediapipe/examples/desktop/autoflip/calculators/scene_cropping_calculator.cc#L644

After this call you can turn the proto into a string and save to a file.
std::string render_frame_string = render_frame.DebugString();
opened_ofstream_file << render_frame_string;

You will also ne

[2021-08-18 02:04] ljmkimqx commented on #2428
Is there any way to set it?

[2021-08-18 02:44] LQ921003 commented on #2428
Hi @ljmkimqx , #2376

[2021-08-18 03:03] jude253 commented on #1551
Hey thanks for trying to help guys, I was not able to get bazel to build on my computer, and I went with a different technology.  Sorry, I did not update earlier.

[2021-08-18 03:30] chenkecheng commented on #2424
@sgowroji Do you have any idea on this exception?

[2021-08-18 04:45] sgowroji commented on #2424
Hi @chenkecheng, Did you add any code changes in java or graph?

[2021-08-18 04:53] sgowroji commented on #960
Hi @dheeraj-2000 & @RohitSingh1226, Could you please respond if you still seeing the above error with the latest release. Thanks!

[2021-08-18 04:56] sgowroji commented on #1010
Hi @ChongMingWei, Could you please respond if you still looking answer for the above queries. Thanks!

[2021-08-18 05:01] sgowroji commented on #742
We are closing this issue now as we see the main query is answered in this thread at https://github.com/google/mediapipe/issues/742#issuecomment-637162399.  Please add new issues with new questions rather adding it in the below thread. Thanks!

[2021-08-18 05:01] #742 closed

[2021-08-18 05:27] #2369 closed

[2021-08-18 05:42] sgowroji commented on #1412
Hi @dewball345, Could you please check the above error with the latest release and let us know if you still see it. Thanks!

[2021-08-18 05:47] sgowroji commented on #831
Hi @Cubbee, Thank you for adding your findings. We are closing this issue now. Please feel free to reach if any other have similar request.

[2021-08-18 05:47] #831 closed

[2021-08-18 06:27] #1163 closed

[2021-08-18 06:30] sgowroji commented on #2403
We will let you know with the ETA very soon.

[2021-08-18 07:07] chenkecheng commented on #2424
@sgowroji Didn't change anything.

[2021-08-18 07:27] #604 closed

[2021-08-18 07:42] sgowroji commented on #2014
Try installing Xcode command line tools and xcode, The error could mean that Bazel can't find an appropriate c++ compiler on your mac. please do `bazel clean --expunge` to make sure you have a clean start. And perform the above steps.

[2021-08-18 07:42] #2014 closed

[2021-08-18 07:43] sgowroji commented on #2361
Duplicate https://b.corp.google.com/issues/187798038

[2021-08-18 07:43] #2361 closed

[2021-08-18 07:57] sgowroji commented on #2344
@THKDev Duplicate of this https://github.com/google/mediapipe/issues/1162#issuecomment-897196714

[2021-08-18 08:01] sgowroji commented on #2332
Hi @natarajakm, Did you get chance to check the gpu support from here https://google.github.io/mediapipe/getting_started/gpu_support.html#gpu-support

[2021-08-18 08:24] AdrienVigne commented on #2388
Do you have any ideas on how to solve the problem?

[2021-08-18 08:43] mangodan2003 commented on #2413
Hi,
Certainly, to start with the docker file clones a repo (edgetpu) who's README implies it is deprecated:
https://github.com/google/mediapipe/blob/master/mediapipe/examples/coral/Dockerfile#L83

It seems that the repo to use is now https://github.com/google-coral/libedgetpu. But the structure of this repository is such that it can not just be used as a drop in replacement. I have tried adjusting

[2021-08-18 08:57] mangodan2003 commented on #2413
Additionally I wonder if some of the dependency information has changed. Prior to this I was able to build our mediapipe project that has been working with GPU and that I am adapting to use the TPU. It had been building but failing at runtime when using only the deps listed here : https://github.com/google/mediapipe/blob/master/mediapipe/examples/coral/BUILD#L54. I thought it strange as I expected

[2021-08-18 09:25] sgowroji commented on #2314
Duplicate https://github.com/google/mediapipe/issues/2323

[2021-08-18 09:26] sgowroji commented on #2312
Closing this issue w.r.t the above comments,  answers your query.

[2021-08-18 09:26] #2312 closed

[2021-08-18 09:28] sgowroji commented on #2300
Hi @dibet, Please have a look at this comment for the implementation https://github.com/google/mediapipe/issues/1162#issuecomment-897196714

[2021-08-18 09:28] #2300 closed

[2021-08-18 09:29] chenkecheng opened #2429 "The Xiaomi MI Play cost more than 1:30 to call ModifyGraphWithDelegate for face_detection_short_range.tflite"
/mediapipe/calculators/tensor/inference_calcultor-gl.cc->LoadDelegate(CalculatorContext* cc)
RET_CHECK_EQ(interpreter_->ModifyGraphWithDelegate(delegate_.get()),kTfLiteOk);

- OS Platform : Android 8.1.0
- Mobile device: xiaomi Mi play
- Soc: MTK P35
- Programming Language: C++
- [MediaPipe version]: 0.8.6
- Bazel version (if compiling from source):
- Solution:FaceMesh

[2021-08-18 09:33] sgowroji commented on #2429
Hi @chenkecheng, Could you please elaborate your issue with complete details. Thanks!

[2021-08-18 09:43] AzureRain1 commented on #2278
It is a Gigabyte laptop, Intel i7-10875H and nVidia RTX 2070 Max-Q, so hardware shall be more than enough to run. I also tried on a second laptop with MX250, and on that machine the fps ends up being 15, slightly better but still very under preformed.

Yes.

Yes, every time I kill the process and open only a single tab directly to the CodePen page, and I can reproduce every time.

Here are the scr

[2021-08-18 12:50] only-tao commented on #1470
I have got the cpu version mediapipe , but now I want to get the gpu version
then
I follow the #1042 ,

add the
`--copt=-DMESA_EGL_NO_X11_HEADERS --copt=-DEGL_NO_X11`
in two places,
but I get a error:
when I run the code:
`python3 setup.py gen_protos && python3 setup.py bdist_wheel
`

the error like this :
`nx@nx-desktop: -/mediapipe
／usr/bin/gcc-U_FORTIFY_SOURCE-fstack-protector-Wall-Wunused-but-

[2021-08-18 12:56] only-tao opened #2430 "error:could not con ＇result' from 'std: :unique_ptr <nediapipe: : {anonymous}::GlProcessor,std::default_delete<mediapi ｛anonymous} : : GLProcessor> >"
I have got the cpu version mediapipe , but now I want to get the gpu version
then
I follow the #1042 ,

add the
`--copt=-DMESA_EGL_NO_X11_HEADERS --copt=-DEGL_NO_X11`
in two places,
but I get a error:
when I run the code:
`python3 setup.py gen_protos && python3 setup.py bdist_wheel
`

the error like this :
`nx@nx-desktop: -/mediapipe
／usr/bin/gcc-U_FORTIFY_SOURCE-fstack-protector-Wall-Wunused-but-

[2021-08-18 13:06] akshayvernekar opened #2431 "Is it possible to turn on the calculator when either one of the inputs is available ?"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Linux Ubuntu
- Solution (e.g. FaceMesh, Pose, Holistic): Face Detection/ Hand recognition
- Programming Language and version ( e.g. C++, Python, Java): c++

I am trying to create a graph which me

[2021-08-18 13:52] MukeshBlippar commented on #417
Does it work with medipapipe AAR or i need to replace handtrackinggpu dir with your source code in original mediapipe repo??

[2021-08-18 15:24] mattoslf commented on #943
I had the same issue, I solved it by modifying the graph to include a PassThroughCalculator and created an output stream just for preview.

On file mediapipe/mediapipe/graphs/hand_tracking/hand_tracking_mobile.pbtxt

[code]

Then, you change OUTPUT_VIDEO_STREAM_NAME to "output_preview".  This worked for me and preview FPS is not affected by HandLandmarkTrackingGpu processing time. Dont forget to r

[2021-08-18 16:18] Shubhodeepdas83 opened #2432 "Codepen- Mediapipe Pose code not working"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): **NO**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): **Windows , An

[2021-08-18 16:52] chendadon commented on #2401
Any update?

[2021-08-18 16:58] arianatri opened #2433 "Build aar file gives an error : clang: error: no such file or directory: '/w' clang: error: no such file or directory: '/D_USE_MATH_DEFINES'"
I ran this command :

`bazel build -c opt --strip=ALWAYS --incompatible_restrict_string_escapes=false --host_crosstool_top=@bazel_tools//tools/cpp:toolchain --fat_apk_cpu=arm64-v8a,armeabi-v7a //mediapipe/examples/android/src/java/com/google/mediapipe/apps/aarexample:mediapipe_face_detection.aar
`
Error :

[code]

[2021-08-18 17:14] arianatri commented on #2433
on second run i got this error! :
ERROR: C:/users/airan/_bazel_airan/q54j5q7i/external/ruy/ruy/BUILD:585:11: Compiling ruy/pack_arm.cc failed: (Exit 1): clang failed: error executing command external/androidndk/ndk/toolchains/llvm/prebuilt/windows-x86_64/bin/clang -D__ANDROID_API__=29 -isystemexternal/androidndk/ndk/sysroot/usr/include/arm-linux-androideabi -target ... (remaining 57 argument(s) sk

[2021-08-18 17:25] afsaredrisy commented on #417
You can find [MainActivity](https://github.com/google/mediapipe/tree/master/mediapipe/examples/android/src/java/com/google/mediapipe/apps/basic) in this directory, So you need to paste files in the same directory and accommodate main activity changes, I am not sure about latest changes in MainActivity, haven't try since long time but you will be easily able to find the changes and manually merge M

[2021-08-18 17:29] arianatri commented on #2433
NVM... just found out that mediapipe is incompatible with windows... :(
can anyone give me the AAR file, graphs, and Tflite model of Face Mesh?
the models uploaded in GitHub are all outdated.

[2021-08-18 18:32] tyrmullen commented on #2181
Default values for modelcomplexity have been added in, so the workaround above should hopefully no longer be necessary on newer versions of the APIs.  Closing as fixed, but please reopen if the issue pops up again.

[2021-08-18 18:32] #2181 closed

[2021-08-18 20:01] tyrmullen commented on #2278
Thank you for the thorough report!  That behavior is quite odd indeed-- especially the performance trace.  It shows that the actual MediaPipe processing time is extremely low (~5ms/frame), so there are no unexpected CPU-side costs to speak of.
 Our entire run loop is actually finished by the end of that thin call stack, so we don't make any explicit calls past that point-- however, GPU processing

[2021-08-18 20:28] ahmadyan commented on #2324
@sgowroji this looks like it is for building hand tracking on mac, not objectron.

[2021-08-18 20:40] matthewn4444 commented on #2324
Yes I am trying to build it for mac which is where the issue lies.

[2021-08-18 21:46] ahmadyan commented on #2331
If you use bazel run, which compiles then runs the app, you can pass the flags to the actual binary (not bazel) with --.
So it would look like bazel run <app> -- --input_dir=...

[2021-08-18 22:04] tyrmullen commented on #1427
At present, we're prioritizing functionality of the base API over performance and demo fixes, so no ETA for any of the other issues, but we'll be looking into fixing the selfie-segmentation API shortly.

Just to summarize, on most iPhones the current state of the demos should be the following:
- Demos except selfie-segmentation should work*
- Webcam should work with latest control_utils update**
-

[2021-08-18 22:44] jadams777 commented on #1427
Great idea RE adding a title to hide the controls :-)

On Wed, Aug 18, 2021 at 3:04 PM tyrmullen ***@***.***> wrote:

[2021-08-19 01:14] AzureRain1 commented on #2278
Both are very low, <10%.

After experimenting a little, it seems the problem happens with both CPU and GPU version, so probably GPU is not the only problem. For the CPU version, Firefox will hang so I cannot get an fps from it, but in chromium it gave me the same 8 fps as running on GPU.

I tried it and that didn't help. I ran the page using python server as mentioned, and it gave me the same 8 fp

[2021-08-19 02:38] tyrmullen commented on #2278
I think that sort of memory graph is fairly normal, since a lot of freed memory will still be left lying around until JS needs it and decides to garbage collect (the large drops in the graph).  It's only if those low points in the memory graph rise over time (so the memory usage increases from one "drop" to the next) that a leak is present.  If you use the Developer console to force garbage collec

[2021-08-19 02:41] jadams777 commented on #1427
I tried the Pose codepen on my iPad Pro 2021, and there is a weird flashing effect. Check  it out:
https://photos.app.goo.gl/hAx5wRMavc2gTa4H8

[2021-08-19 04:18] sgowroji commented on #2403
Hi @zhoujingheng, FaceMesh Android solution are in Githubrepo at here **https://github.com/google/mediapipe/tree/master/mediapipe/examples/android/solutions** and please follow this [steps](https://google.github.io/mediapipe/getting_started/android_solutions.html) to work with it

[2021-08-19 04:18] #2403 closed

[2021-08-19 04:19] sgowroji commented on #2382
Closing this issue w.r.t this  https://github.com/google/mediapipe/issues/2403#issuecomment-901596776. Please reach us if you still have any queries regarding the above.

[2021-08-19 04:19] #2382 closed

[2021-08-19 04:23] sgowroji commented on #2393
Closing this issue w.r.t this #2403 (comment). Please reach us if you still have any queries regarding the above.

[2021-08-19 04:23] #2393 closed

[2021-08-19 05:14] sgowroji commented on #2430
Hi @only-tao, Could you please provide the steps to reproduce the above error. Thanks!

[2021-08-19 05:27] only-tao commented on #2430
First, I follow the [Official Tutorials](https://github.com/jiuqiant/mediapipe_python_aarch64) get the cpu version .wheel file , and next I want to get the gpu version, so
I just follow the [#1042 ](https://github.com/google/mediapipe/issues/1042), change the file -> mediapipe/setup.py,

then run
`~/mediapipe $ python3 setup.py gen_protos && python3 setup.py bdist_wheel
 `
after a few minutes , I

[2021-08-19 05:33] sgowroji commented on #2433
Hi @arianatri, We have recently released the [Android FaceMesh API](https://github.com/google/mediapipe/tree/master/mediapipe/examples/android/solutions) solutions in our repo . This are [steps](https://google.github.io/mediapipe/getting_started/android_solutions.html) to work  with it. And if you still looking for AAR, have a look at this https://github.com/jiuqiant/mediapipe_face_detection_aar_e

[2021-08-19 05:57] mhays-google commented on #2432
tl;dr; -- Refresh your cache.

I got the same error and realized that the Pose CodePen got a code change earlier today (today for my time zone) that relies on a non-breaking change in the latest version of the pose library.  I probably should have just made it a breaking change, but this problem should clear up in the next 24 hours.

If you refresh your cache and it still happens, write to me here

[2021-08-19 06:00] sgowroji commented on #2380
Hi @zhoujingheng, You can use Android facemesh api source code now https://github.com/google/mediapipe/tree/master/mediapipe/examples/android/solutions.  Please refer this https://github.com/google/mediapipe/blob/master/mediapipe/examples/android/solutions/facemesh/src/main/java/com/google/mediapipe/examples/facemesh/FaceMeshResultGlRenderer.java class to explore and make changes as you need.

[2021-08-19 06:03] sgowroji commented on #2432
Hi @Shubhodeepdas83, Could you please try clearing the cache and verify the above. That works.

[2021-08-19 06:08] sgowroji commented on #1003
We are closing this issue w.r.t the above [comment](https://github.com/google/mediapipe/issues/1003#issuecomment-736223931).

[2021-08-19 06:08] #1003 closed

[2021-08-19 06:17] sgowroji commented on #1074
Hi @mmm2016, Could you please respond if you still looking resolution for the above query. Thanks!

[2021-08-19 06:17] #1135 closed

[2021-08-19 06:23] sgowroji commented on #1388
We have improved our Javascript solutions and documentation here https://google.github.io/mediapipe/getting_started/javascript.html. We are closing this issue now, Please reach us with a new issue or reopen the above issue if you are looking answer from the above query. Thanks!

[2021-08-19 06:23] #1388 closed

[2021-08-19 07:27] natarajakm commented on #2332
Hi @sgowroji , yes i checked it it supports all OpenGL requirements of mediapipe. only difference is we have ARM Mali G51 GPU.
OpenGL® ES 1.1, 2.0, 3.1, 3.2
Vulkan 1.0*
OpenCL™ 1.1, 1.2, 2.0 Full Profile,
RenderScript
for more info:  https://developer.arm.com/ip-products/graphics-and-multimedia/mali-gpus/mali-g51-gpu

it is embedded SoC have Cortex-A9 with Mali G51 GPU.
we also have one more SoC h

[2021-08-19 07:30] AmitMY commented on #1427
WebGL2 is available on iOS 15. Betas are currently available, public release in 1 month.

[2021-08-19 07:32] 201724468 opened #2434 "Image with no Face causes the function to stuck forever"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): YES
- OS Platfor

[2021-08-19 08:09] InvisibleLeVen commented on #2419
Get configuration file parsing error

[2021-08-19 08:20] Ar4enal opened #2435 "How to combine two or more functions in one android apk? Is there any example?"
**System information**
- OS Platform and Distribution:  Linux Ubuntu
- Solution: FaceMesh, FaceDetection, Iris
- Programming Language and version: Java Android

I am using aar to build the new apk but I do not konw how to code in MainActivity.java, such as processor part and display view part.

`processor =
                new FrameProcessor(
                        this,
                        e

[2021-08-19 08:22] RohitSingh1226 commented on #2162
The rest of the arguments inside 'exe' and 'coll' are going to be the same?

[2021-08-19 08:52] OleslavIntellias opened #2436 "Is it possible to set calculator options dynamically (run time)?"
Hi,
I am new at Google Mediapipe technology and interesting in calculator properties. So in my project we need to change treshhold dynamicly depends on general video luminance. Could you explain is it possible is it possible to set calculator options dynamically (run time)? And how?

[2021-08-19 09:25] sgowroji commented on #2435
Hi @Ar4enal, You can have a look at our Android API [solutions](https://github.com/google/mediapipe/tree/master/mediapipe/examples/android/solutions) which are released recently.  You can combine other solutions in it.

[2021-08-19 09:25] sgowroji commented on #2436
Hi @OleslavIntellias, Could you please elaborate your use case with more details. Thanks!

[2021-08-19 09:35] AzureRain1 commented on #2278
I should clearify a little that I made a small mistake in my previous comment, that I didn't remove `faceDetection.onResults(onResults);` but rather commented out the `canvasCtx` drawings inside that function, since removing the `onResults` function will prevent `fpsControl.tick()` from being called.

I commented out `await faceDetection.send({image: input});`, and that caused `onResults()` to sto

[2021-08-19 09:58] douglas125 commented on #1561
I too would appreciate it if some method would be available to receive face data output and produce face orientation angles (DCM or Euler)

[2021-08-19 10:01] danSamSet opened #2437 "How to create iOS FrameWork from mediapie"
I try to use Mediapipe in my ios project.

I have run the sample app with bazel. Now I want to create file framework and add to my current project.

I have try to find the solulution but all of them not work for me.

I really want to be instructed how to create iOS Framework step by step. Thank you.

[2021-08-19 10:27] willstott101 commented on #1162
This is still very much a real issue affecting a lot of people. I'm not sure closing it is helpful - even though the mediapipe team doesn't have the resources to approach it right now.

[2021-08-19 10:52] sgowroji commented on #2437
Here are the clear steps for IOS solutions https://google.github.io/mediapipe/getting_started/ios.html#mediapipe-on-ios. Please let me know, if you have any specific query. Thanks!

[2021-08-19 12:15] arijith96 opened #2438 "Building KNIFT knift_index.pb on mobile device"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): Yes. #2406
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):  Ubuntu 20.02 Android 11 Android Studio with Gradle
- [MediaPipe version](https://github.com/google/mediapipe/releases):v0.8.6
- Bazel version:4.1.0
- Solution (e.g. FaceMesh, Pose, Holist

[2021-08-19 12:16] arijith96 commented on #2406
Closing this since I was able to make progress! :D Continuing in #2438

[2021-08-19 12:17] Ar4enal commented on #2435
Hi sgowroji, I want to know the data format of face detection.  Like face mesh landmarks, I can get them by landmark.getX() getY() getZ().

_Collection of detected faces, where each face is represented as a detection proto message that contains a bounding box and 6 key points (right eye, left eye, nose tip, mouth center, right ear tragion, and left ear tragion)._

How can I get the nose tip landma

[2021-08-19 12:24] #2406 closed

[2021-08-19 12:54] akshayvernekar commented on #2431
I found the solution after digging a bit . The solution was to set the stream handler to "[MuxInputStreamHandler](https://github.com/google/mediapipe/blob/master/mediapipe/framework/stream_handler/mux_input_stream_handler.cc)"  .

[2021-08-19 12:54] #2431 closed

[2021-08-19 13:21] OleslavIntellias commented on #2436
Well, the main idea is to modify the treshhold for each frame in case the brigtness is weak enough or, on the contrary, too strong. If the brigtness is good, leave the threshhold high enough so that the mediapipe does not recognize foreign objects. My question is how it would be possible to dynamically change the threshhold (**min_score_thresh** parameter in the **TensorsToDetectionsCalculatorOpti

[2021-08-19 14:27] MukeshBlippar commented on #417
Thanks for your reply. Now i am getting this error. My preview remains black.
2021-08-19 19:40:37.264 18933-19175/co.introtuce.mediapipesegmentationgradle D/BmpProducer: Writing frame
2021-08-19 19:40:41.588 18933-19175/co.introtuce.mediapipesegmentationgradle D/BitmapConverter: New Frame
2021-08-19 19:40:55.587 18933-19175/co.introtuce.mediapipesegmentationgradle W/MessageQueue: Handler (android.

[2021-08-19 16:40] MukeshBlippar commented on #417
Facing same problem. Have you find any solution yet?

[2021-08-19 17:04] tyrmullen commented on #2278
The Android numbers aren't too far from what I'd expect, but the Desktop numbers are definitely strangely low.  However, from the experiments it sounds like the MediaPipe JS APIs are actually functioning perfectly there (and are very fast), but the video playback is where the issue is occurring.  The main difference between the final snippet you posted and the code in controls is that we have an a

[2021-08-19 22:50] AzureRain1 commented on #2278
I added the `currentTime` check to the `requestAnimationFrame` calls and indeed the fps is capped there too. However I happened to figure out that the low fps is caused by hardware, namely when the camera is in low-light conditions, then it will cap its output to a lower fps of 10, and only in bright conditions it will output a full 30 fps. I then went ahead and tested this theory on unmodified Co

[2021-08-19 22:59] tyrmullen commented on #2278
Ahhh; I've run into some slight variations in FPS from changes in lighting conditions, but never anything near that drastic before.  Good to know!  Closing as resolved.

[2021-08-19 22:59] #2278 closed

[2021-08-20 01:27] #1630 closed

[2021-08-20 01:27] #1284 closed

[2021-08-20 02:30] sgowroji commented on #2435
Here we log the [nose landmarks ](https://github.com/google/mediapipe/blob/master/mediapipe/examples/android/solutions/facemesh/src/main/java/com/google/mediapipe/examples/facemesh/MainActivity.java#:~:text=%7D-,private%20void%20logNoseLandmark(FaceMeshResult%20result%2C%20boolean%20showPixelValues)%20%7B,%7D,-%C2%A9%202021%20GitHub%2C%20Inc).

[2021-08-20 02:37] sgowroji commented on #2436
Hi @OleslavIntellias,  You can do the changes in the [graph](https://github.com/google/mediapipe/blob/b544a314b3c4818a4d6c56964b020c5be945377a/mediapipe/modules/pose_detection/pose_detection_gpu.pbtxt#:~:text=%7D-,%23%20Decodes%20the%20detection%20tensors%20generated%20by%20the%20TensorFlow%20Lite%20model,%7D,-%23%20Performs%20non-max)  at min_score_thresh: 0.5 , Which sets the min_detection_confi

[2021-08-20 03:53] peter-wildman commented on #1427
I've recently had this error emerge in Safari on Desktop. Is there a known solution:
<img width="972" alt="Screen Shot 2021-08-20 at 1 51 23 pm" src="https://user-images.githubusercontent.com/6938599/130176567-4f7b81fb-160b-4aec-96b6-2a256ed27f9f.png">

[2021-08-20 05:27] #672 closed

[2021-08-20 06:11] #2435 closed

[2021-08-20 06:31] Shubhodeepdas83 commented on #2432
Hi Michael, Appreciate your quick response.
I tried the refreshing the cache as you suggested. The problem still persists intermittently. It throws error around 40% of time you access it. And once it goes in error mode, even multiple refreshing does not help.

P.S : I have been working on Mediapipe/Pose for last 2-3 months. This problem appeared around 1-2 months back, i guess around 0.4 release.

[2021-08-20 07:20] caiyc2000 opened #2439 "Mediapipe Hands (Android) : Does the scale of z value (relative depth) vary according to the depth from the hand to the camera?"
Hi team, thanks for your great work!
I' m working on the hand tracking model on Android and a bit confused about the z value of the landmark.
In the documentation, z value means the relative depth with the depth at the wrist at the origin. So my question is, if my hand is at a different distance from the camera, but the distance from the fingertip of my index finger to the wrist is the same, is th

[2021-08-20 07:29] jadams777 commented on #1427
The latest MediaPipe update appears to have broken iOS support. The Pose
code pen no longer works on my iPhone 12.
https://codepen.io/mediapipe/full/jOMbvxw

On Thu, Aug 19, 2021 at 8:53 PM Peter Wildman ***@***.***>
wrote:

[2021-08-20 08:36] OleslavIntellias commented on #2436
Hi @sgowroji,
I

[2021-08-20 08:37] OleslavIntellias commented on #2436
Hi, @sgowroji,
You're right so I can do it. I want to know if you can set this value dynamically.

[2021-08-20 08:53] BitLoose commented on #1162
If anyone interested in doing this work pls email me, ***@***.***

On 19/08/2021 11:27, Will Stott wrote:

[2021-08-20 10:17] SunAriesCN commented on #1307
@sgowroji Thanks for your reply. Your AAR may be not well enough for our problem, because most of our code are in C/C++ language, and we should support iOS and others not Android platform. So, an Android package solution is still not enough for us, an I'm still looking for an compilation methods/solutions that can build a static library for iOS and a dynamics library for Android. If you have other

[2021-08-20 10:19] SunAriesCN commented on #1307
I think it should be a C/C++ library cross-compile problem for platforms.

[2021-08-20 10:27] #2234 closed

[2021-08-20 10:42] ROBYER1 commented on #2379
Found the same issue when deploying Mediapipe 0.8.6 to Iphone 7 and and Xperia XZ3 as well as running on windows desktop in Unity editor. Rolling back to 0.8.4 solved the latency issues that crept in. I would suspect there is a regression - see the other issues that mention this above my comment also as it is not just me.

[2021-08-20 10:45] #2264 closed

[2021-08-20 11:00] Tortoise17 opened #2440 "Segmentation fault using autoflip"
I am using recent release for mediapipe. and faced the error given below :

[code]

Can you guess where is my fault? or any remedy?

[2021-08-20 11:01] #1811 closed

[2021-08-20 11:21] mangodan2003 commented on #2413
Thanks for the recent updates, we're up and running now.

[2021-08-20 11:37] #2413 closed

[2021-08-20 11:55] sgowroji commented on #2439
For Z value in Hands solutions https://github.com/google/mediapipe/issues/742#issuecomment-637162399

[2021-08-20 11:56] sgowroji commented on #2440
Hi @Tortoise17, Could you please provide the steps to reproduce the above error. Thanks!

[2021-08-20 12:58] Tortoise17 commented on #2440
@sgowroji `mediapipe-master]$ GLOG_logtostderr=1 ./bazel-bin/mediapipe/examples/desktop/autoflip/run_autoflip --calculator_graph_config_file=mediapipe/examples/desktop/autoflip/autoflip_graph.pbtxt --input_side_packets=input_video_path=/home/user/Desktop/user/video_lab/mediapipe-master/mediapipe/data/input.mp4,output_video_path=/home/user/Desktop/user/video_lab/mediapipe-master/mediapipe/data/out_

[2021-08-20 15:38] micmelesse opened #2444 "Import custom graph in Electron Project"
Hi, I have created a custom graph(which has multiple inputs) based on one of the solutions. I have tested the graph by modifying the c++ examples code and it works. I would like to import into my project which is built using [electron](https://www.electronjs.org/).

I know that the team has not open sourced their js code. Since the custom graph has multiple inputs it would require modifying the js

[2021-08-20 15:39] Leffe108 commented on #1497
In the [release notes](https://github.com/google/mediapipe/releases) there is no improvements of the hand model mentioned from 0.8.2 to current 0.8.7. Especially no specific mention of improvement to back of hand detection in either hand or holistic model.

In version 0.8.4 there is however a mention that the holistic model has a new configuration `model_complexity` to make it more accurate (by lo

[2021-08-20 15:59] Leffe108 commented on #1497
Wow, sorry if I was skeptical, but it has indeed improved a lot from 0.8.2 to 0.8.7. Thank you. :-)

There are now mostly three letters of problem: P, Q and X. But letters like R, V and W that was a problem before has improved a lot.

[2021-08-20 15:59] #1497 closed

[2021-08-20 16:43] mhays-google commented on #1427
Can you refresh your cache and try again?  Console output would be useful.
The update last night only exposed a new "VERSION" variable, but the demo
is locked to ***@***.***, so any time I push a new build version, there's
still a small window of time where you are getting the old library, and in
this case, there will be no VERSION symbol found.

On Fri, Aug 20, 2021 at 12:30 AM jadams777 ***@***.

[2021-08-20 16:53] mhays-google commented on #2432
Sorry you are having this issue...

The reason you aren't seeing this issue in 0.3 is almost certainly because
I never update 0.3.  :-)

I'm having discussions with the group on how to better use semantic
versioning to prevent these breaks from interfering.  If I can convince the
team to let me increment the middle number with every push, this will go
away.  So, to that point, I believe that the i

[2021-08-20 16:57] jadams777 commented on #1427
The latest Pose codepen is not working on any of my devices, actually. Here
is a video using Chrome 92.0.4515.159 (64-bit): http://somup.com/crjYDLrcdR
<https://mailtrack.io/trace/link/065cf949bd365be3d57f53331722e094849b078a?url=http%3A%2F%2Fsomup.com%2FcrjYDLrcdR&userId=5826767&signature=cfa909eec5e10f47>

Console output:
jOMbvxw:1 Refused to apply style from '
https://cdpn.io/mediapipe/fullpage

[2021-08-20 17:18] jiuqiant commented on #1662
Using MediaPipe in Android Studio with Bazel is deprecated. Please see the new gradle approach in https://github.com/google/mediapipe/blob/master/docs/getting_started/android_solutions.md.

[2021-08-20 17:18] #1662 closed

[2021-08-20 17:19] jiuqiant commented on #1816
Using MediaPipe in Android Studio with Bazel is deprecated. Please see the new gradle approach in https://github.com/google/mediapipe/blob/master/docs/getting_started/android_solutions.md.

[2021-08-20 17:19] #1816 closed

[2021-08-20 17:20] jiuqiant commented on #2339
Using MediaPipe in Android Studio with Bazel is deprecated. Please see the new gradle approach in https://github.com/google/mediapipe/blob/master/docs/getting_started/android_solutions.md.

[2021-08-20 17:20] #2339 closed

[2021-08-20 17:28] jiuqiant commented on #2105
FYI, if you download the mediapipe android solution-core package: https://maven.google.com/web/index.html?#com.google.mediapipe:solution-core:0.8.7-alpha-1, you can find that the mediapipe shared library (with tflite and opencv compiled in it) for ARM is ~7MB.

![Screen Shot 2021-08-20 at 10 25 18 AM](https://user-images.githubusercontent.com/3359144/130271128-c703b846-eb9f-45bc-b1b6-cbe937d2b137.

[2021-08-20 17:30] jiuqiant commented on #2030
FYI, using MediaPipe in Android Studio with Bazel is deprecated. Please see the new gradle approach in https://github.com/google/mediapipe/blob/master/docs/getting_started/android_solutions.md.

[2021-08-20 17:30] jiuqiant commented on #1710
FYI, using MediaPipe in Android Studio with Bazel is deprecated. Please see the new gradle approach in https://github.com/google/mediapipe/blob/master/docs/getting_started/android_solutions.md.

[2021-08-20 17:30] jiuqiant commented on #1560
FYI, using MediaPipe in Android Studio with Bazel is deprecated. Please see the new gradle approach in https://github.com/google/mediapipe/blob/master/docs/getting_started/android_solutions.md.

[2021-08-20 17:30] jiuqiant commented on #1275
FYI, using MediaPipe in Android Studio with Bazel is deprecated. Please see the new gradle approach in https://github.com/google/mediapipe/blob/master/docs/getting_started/android_solutions.md.

[2021-08-20 17:31] jiuqiant commented on #203
FYI, using MediaPipe in Android Studio with Bazel is deprecated. Please see the new gradle approach in https://github.com/google/mediapipe/blob/master/docs/getting_started/android_solutions.md.

[2021-08-20 20:02] isaactian opened #2445 "selfie_segmentation file missing in pip install"
the pip install version of mediapipe is missing the selfie_segmentation file in the directory. It appears to be stuck on 0.8.3 instead of the latest version?

Traceback (most recent call last):
  File "selfiesegtest.py", line 7, in <module>
    mp_selfie_segmentation = mp.solutions.selfie_segmentation
AttributeError: module 'mediapipe.python.solutions' has no attribute 'selfie_segmentation'

[2021-08-20 22:14] mhays-google commented on #2401
Thanks for the patience.  I see this, no update yet.

[2021-08-20 22:17] mhays-google commented on #1412
I addressed this issue for our TF-js and I think it's fixed.

On Tue, Aug 17, 2021 at 10:42 PM GowrojiSunil ***@***.***>
wrote:

[2021-08-20 22:45] mhays-google commented on #2422
Ok, good luck!

On Tue, Aug 17, 2021 at 2:30 PM google-ml-butler[bot] <
***@***.***> wrote:

[2021-08-21 08:27] #1049 closed

[2021-08-21 09:38] arianatri opened #2446 "A/libc: Fatal signal 6 (SIGABRT), code -1 (SI_QUEUE) in tid 20624 (Thread-18), pid 14533"
I just Used the solution suggested here : [link](https://github.com/google/mediapipe/issues/2433#issuecomment-901623707)
and by running the android app I got this error :

`A/libc: Fatal signal 6 (SIGABRT), code -1 (SI_QUEUE) in tid 20624 (Thread-18), pid 14533
`
how does this happen? by setting **RUN_ON_GPU** to true and do not showing any movementa on camera so it fails to find any face or movem

[2021-08-21 09:39] arianatri commented on #2446
also I get a lot of noisy Logs :
` D/ExternalTextureConv: Created output texture: 42 width: 1088 height: 1088
`is there any way to disable them?

[2021-08-21 13:34] arianatri commented on #2433
I used this and got a bunch of errors and performance failures(mentioned these on another issue).

[2021-08-21 16:11] johncblacker opened #2447 "FaceDetection doesn't accept model_selection parameter"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
Running mediapipe-rpi3 on raspberry pi 3b+
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
- using example code on this github
- OS Platform and Distr

[2021-08-22 07:41] #2421 closed

[2021-08-22 08:40] saltfish13 commented on #1622
it seems M1 is not currently supported

[2021-08-22 09:37] arianatri commented on #2446
@eknight7  may I get a hand here? :)

I see many errors as much as I can list here they are :

1- if I leave camera on without showing any face to it , after like 10-15 seconds the app will crash with error : `A/libc: Fatal signal 6 (SIGABRT), code -1 (SI_QUEUE) in tid 20624 (Thread-18), pid 14533`

2- the recognition gets super laggy and if I call "`@OnResume `" the app will become normal for 2 s

[2021-08-22 12:43] #2433 closed

[2021-08-22 18:33] HungDo2302 opened #2448 "AttributeError: module 'mediapipe.python.solutions.face_mesh' has no attribute 'FACE_CONNECTIONS'"
Before i can run it. But now appear error :(( Can you help me fix it. Thanks you

My code:

import cv2
import mediapipe as mp
import time

cap = cv2.VideoCapture("video.mp4")
pTime = 0

mpDraw = mp.solutions.drawing_utils
mpFaceMesh = mp.solutions.face_mesh
faceMesh = mpFaceMesh.FaceMesh(max_num_faces=2)
drawSpec = mpDraw.DrawingSpec(thickness=1, circle_radius=2)

while True:
    success, img = ca

[2021-08-22 19:16] Rego0116 opened #2449 "File hands.py, solution_base.py missing, but they exist in my file manager."
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): I did not, I use

[2021-08-22 20:59] matanster commented on #742
Thanks, so I gather from that comment that [version 0.8.6 claims 3D positioning for the Pose and Holistic models](https://github.com/google/mediapipe/releases/tag/v0.8.6) does not imply any changes to the hands model, which is informatively helpful. Thank you.

[2021-08-23 00:16] noirmist commented on #2183
Hi @chaowentao @hongyaohongyao, You can get the original weight at this link.

https://github.com/PINTO0309/PINTO_model_zoo/tree/main/053_BlazePose/10_lite_full_heavy_version_May6_2021

[2021-08-23 03:53] sgowroji commented on #2448
Hi @HungDo2302, Could you please update your python version. Its working fine with latest version. Thanks!

[2021-08-23 04:11] sgowroji commented on #2449
Hi @Rego0116, Can you try installing the latest `pip install mediapipe==0.8.7`.

[2021-08-23 04:12] sgowroji commented on #2447
Hi @johncblacker, Could you please provide the above incomplete details to investigate the issue further. Thanks!

[2021-08-23 04:18] sgowroji commented on #2445
Hi @isaactian,  Its working fine with the latest release  from [here](https://google.github.io/mediapipe/solutions/selfie_segmentation.html#python-solution-api). Upgrade to the latest mediapipe and python versions and check. And if you are still able to reproduce then please provide the steps.

[2021-08-23 04:19] TomHsiao1260 commented on #1427
Hi, everyone.

The current `CodePen` pose demo works well on my iPhone12 device.
https://codepen.io/mediapipe/pen/jOMbvxw

I found that this demo use `controls.SourcePicker` in `control_utils` npm package to open the video. However, in some use cases, it's more convenient to use `camera_utils` instead to open the video like the following document do.
https://google.github.io/mediapipe/solutions/po

[2021-08-23 04:26] sgowroji commented on #2444
Hi @micmelesse, Could you please provide the use case from the above request. Thanks!

[2021-08-23 05:25] sgowroji commented on #2446
Hi @arianatri,  Could you please provide the below details.
1. Which device are you testing the above? And the device configuration.
2. Logs are printed from "ExternalTextureConverter" gradle API.
3.  Can you provide a video to show the lagging.
Thanks!

[2021-08-23 05:46] jiuqiant commented on #2447
FYI, mediapipe-rpi3 is not an official pypi package maintained by the mediapipe team. So, it may not have the latest features such as model selection.

[2021-08-23 05:53] jiuqiant commented on #2448
Yes, FACE_CONNECTIONS is renamed to FACE_CONTOURS. Please see the new drawing example code at https://github.com/google/mediapipe/blob/master/docs/solutions/face_mesh.md#python-solution-api.

[2021-08-23 05:53] #2448 closed

[2021-08-23 05:56] HungDo2302 commented on #2448
I resolved my error. Thanks for your help.

Vào Th 2, 23 thg 8, 2021 lúc 12:53 google-ml-butler[bot] <
***@***.***> đã viết:

[2021-08-23 05:57] HungDo2302 commented on #2448
I resolved my error. Thanks for your help.

Vào Th 2, 23 thg 8, 2021 lúc 12:53 Jiuqiang Tang ***@***.***>
đã viết:

[2021-08-23 06:03] sgowroji commented on #2424
Hi @chenkecheng, We have recently released the gradle solutions for facemesh and hands [here](https://github.com/google/mediapipe/tree/master/mediapipe/examples/android/solutions). and [documentation](https://google.github.io/mediapipe/getting_started/android_solutions.html).

[2021-08-23 06:04] #2380 closed

[2021-08-23 06:10] jiuqiant commented on #2446
Lagging can be sigificiant if the device's gpu is not powerful enough. Basically, if the pipeline is running slow, it will accumulate more and more frames to process and alsoit will slow down the camera capturing and screen rendering if you run everything on GPU. Try setting `RUN_ON_GPU` to false to run the pipeline on CPU to see if it helps.

[2021-08-23 06:27] #2387 closed

[2021-08-23 06:28] sgowroji commented on #1096
Hi @js-0528, Could you please respond if you are still looking resolution for the above query. Thanks!

[2021-08-23 06:31] arianatri commented on #2446
-------------------------------------------------------------------------------------------------------------------------------------------
Device config :
Samsung  A515
android version: 10 (Q) API level 29
GPU vendor ARM
Supported  ABIS : arm64-v8a , armeabi-v7a, armeabi
--------------------------------------------------------------------
I did disabled the logs, thanks for that.
----------------

[2021-08-23 06:31] sgowroji commented on #1369
Hi @ROBYER1, Could you please provide more information regarding the above issue if you still looking resolution for it. Thanks!

[2021-08-23 06:33] arianatri commented on #2446
using CPU makes the detection very slow and laggy.
and the problem (fatal signal 6) is still there.

[2021-08-23 06:36] sgowroji commented on #1708
Duplicate https://github.com/google/mediapipe/issues/2328, https://github.com/google/mediapipe/issues/2188.

@simon-lanf , Can you verify the above with the latest releases ?

[2021-08-23 06:39] sgowroji commented on #1922
Hi @AndreV84, Do you have any update on the above issue. Thanks!

[2021-08-23 06:43] js-0528 commented on #1096
Hello! We ended up extracting the landmarks for our project without using the iOS app, so we are not looking for a solution anymore! Thank you so much for your help though!

[2021-08-23 06:43] sgowroji commented on #1422
Hi @LucaJunge, Did you get a chance to go through the above [comment](https://github.com/google/mediapipe/issues/1422#issuecomment-875889141). Thanks!

[2021-08-23 06:45] sgowroji commented on #1360
Hi @AndreV84, Could you please respond if you still looking resolution for the above query. Thanks!

[2021-08-23 06:49] sgowroji commented on #1096
Thank you for the update. We are closing this  issue now.

[2021-08-23 06:49] #1096 closed

[2021-08-23 06:56] #1160 closed

[2021-08-23 06:57] sgowroji commented on #665
Hi @MaskeZen, Can you try using our latest [android](https://google.github.io/mediapipe/getting_started/android_solutions.html) solutions to input an image or video.  Thanks!

[2021-08-23 07:01] sgowroji commented on #1430
Please go through this for the supported [platforms](https://google.github.io/mediapipe/getting_started/javascript.html#supported-plaforms)

[2021-08-23 07:01] #1430 closed

[2021-08-23 07:27] HarryWindsor opened #2451 "Mediapipe does not execute GPU after building the Python package from source"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): Linux Ubuntu 20.10

[2021-08-23 07:27] #2197 closed

[2021-08-23 08:27] #762 closed

[2021-08-23 08:33] Tortoise17 commented on #2440
@sgowroji  any help please.

[2021-08-23 09:09] chenkecheng commented on #2424
@sgowroji I found the problem :
  Samsung SM-G5528 glEsVersion = 3.0， but the min glEsVersion required by mediapipe is 3.1

[2021-08-23 09:09] aqibsaeed opened #2452 "Facemesh to graph"
Hi,

Is there an option to extract graph from facemesh?

[2021-08-23 10:37] sgowroji commented on #2452
Hi @aqibsaeed, Could you please elaborate the above query with more details. Thanks!

[2021-08-23 10:55] sgowroji commented on #2367
Duplicate https://github.com/google/mediapipe/issues/2412

[2021-08-23 10:59] HarryWindsor opened #2453 "How to use FaceLandmarksSmoothing subgraph for FaceMesh?"
**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): Linux Ubuntu 20.10 x86_64
- Compiler version (e.g. gcc/g++ 8 /Apple clang version 12.0.0): gcc version 10.3.0
- Programming Language and version ( e.g. C++ 14, Python 3.6, Java ): Python 3.8
- Installed using virtualenv? pip? Conda? (if py

[2021-08-23 11:34] aqibsaeed commented on #2452
Yes, I mean would it be possible to extract face landmarks and their corresponding points to create a graph. object in networkx library? What I am looking for is correspondence between `mp_face_mesh.FACEMESH_CONTOURS` and `face_landmarks.landmarks` here in this colab: https://colab.research.google.com/drive/1FCxIsJS9i58uAsgsLFqDwFmiPO14Z2Hd.

E.g., mp_face_mesh.FACEMESH_CONTOURS provides a list of

[2021-08-23 11:40] aqibsaeed commented on #2452
Got it. Nevermind.

[2021-08-23 11:40] #2452 closed

[2021-08-23 11:43] bharath5673 commented on #1390
[code]

![Screenshot (161)](https://user-images.githubusercontent.com/33729709/130441548-d09101d7-3cdf-4bf9-a91a-a9ae052966b4.png)

[2021-08-23 12:32] Rego0116 commented on #2449
Still doesn't work, gives me the same problem sadly.
[code]

[2021-08-23 12:32] gabrielittner opened #2454 "Pose landmarks: segmentation seems to be enabled by default"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): no
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): all
- [MediaPipe v

[2021-08-23 12:35] Rego0116 commented on #2449
It seems like the line ```  validated_graph.initialize(
          binary_graph_path=os.path.join(root_path, binary_graph_path))```
is causing problems, by the path doesn't exist

[2021-08-23 13:52] davitgoder opened #2455 "providing video input to pose tracking solution for docker build"
I am using ubuntu 18.04 LST as a host system for the docker installation.

I've successfully built the pose tracking solution, but when I try to run it using the following command:
GLOG_logtostderr=1 bazel-bin/mediapipe/examples/desktop/pose_tracking/pose_tracking_cpu   --calculator_graph_config_file=mediapipe/graphs/pose_tracking/pose_tracking_cpu.pbtxt

 I get the error:
 E20210823 13:40:43.8007

[2021-08-23 15:44] #2440 closed

[2021-08-23 16:12] mhays-google commented on #1430
Due to limitations in our inference engine implementation, we unfortunately
only support 64 bit at this time.

On Mon, Aug 23, 2021 at 12:11 AM GowrojiSunil ***@***.***>
wrote:

[2021-08-23 16:20] mhays-google commented on #1427
camera_utils and control_utils were little helpers I wrote for the demos
and are not in any way recommendations for the community.  I don't know if
we really even document them at mediapipe.dev.

However...  Having said that... it's nice to have working things to help
build stuff fast. :-)

To get camera utils working on iOS, you will need to add two attributes to
the video element you are passing

[2021-08-23 17:23] code-n-roll opened #2456 "Dependencies conflict using dependency with protobuf-lite together with Mediapipe in Android project"
**System information**
- OS Platform and Distribution: Android 9, Android 11
- Programming Language and version: Kotlin 1.5.20
- MediaPipe version: 0.8.4
- Android SDK and NDK versions: SDK - 30, NDK - 21.4.7075529
- Android AAR: -

**Describe the problem**:
Dependencies conflict in android project when importing
implementation "com.google.mediapipe:...mediapipe:0.8.4" which requires implementatio

[2021-08-23 17:27] jiuqiant commented on #2451
You also need to point the solution to the gpu graphs. For face mesh please edit https://github.com/google/mediapipe/blob/master/mediapipe/python/solutions/face_mesh.py#L51.

[2021-08-23 17:53] johncblacker commented on #2447
IJiuqiant has the answer...apparently the mediapipe-rpi3/4 aren't "official" packages.  Since I have the source for the rpi3 version if I could find/see the source for the "official" version I could modify it.  Can you provide me link to source for "official" mediapipe version of the FaceDetection class?

[2021-08-23 17:59] caiyc2000 commented on #2439
@sgowroji Thanks for your response. But I think #742 hasn' t solved my problem.
I now assume two situations.
If my hand movements are the same, but the absolute distance between the wrist and the camera is different, are the z-coordinates of other points the same except for the wrist in these two cases?
In other words, does the absolute depth affect the relative depth?

[2021-08-23 18:00] caiyc2000 commented on #2439
I know the z value stands for relative depth according to the wrist.

[2021-08-23 18:45] drock577 opened #2457 "World Landmarks for Face and Hands"
<em>Please make sure that this is a feature request.</em>

**System information** (Please provide as much relevant information as possible)

- MediaPipe Solution (you are using):
- Programming language : Python

**Describe the feature and the current behavior/state:**
Currently Media Pipe has World Landmarks for pose.  There is no world landmark option for Holistic models which combine the hand, f

[2021-08-24 02:07] lilinxiong commented on #2105
@jiuqiant Thank you very much, I will try it today. But I changed some other codes, I am not sure if I can use it normally, can you tell me how this is compiled? Thanks again~

[2021-08-24 02:12] TomHsiao1260 commented on #1427
Thanks for clarifying. This solution works. Really appreciate 👍

[2021-08-24 02:17] lilinxiong commented on #2105
I briefly describe my changes. Because we get a frame of image data from our camera pipeline and send it to MediaPipe, but the currently obtained image is a grayscale image, so I now add a conversion function to the JNI layer, which is to convert from GRAY to RGBA. So that MediaPipe supports the prediction of grayscale images, this is the most important. There are some ones, that is, the combinati

[2021-08-24 03:34] #2396 closed

[2021-08-24 03:51] sgowroji commented on #2456
Hi @code-n-roll, Could you please provide the steps to reproduce the above errors. Thanks!

[2021-08-24 05:02] naveenkulkarni-movidius opened #2458 "Mediapipe compilation fails with OpenGL on Intel GPU"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): Ubuntu 20.04
- Com

[2021-08-24 06:34] #837 closed

[2021-08-24 07:13] micmelesse commented on #2444
@sgowroji Here is a [branch](https://github.com/micmelesse/mediapipe/tree/holistic_dual_input) of in my fork mediapipe the custom graph. It is basically the holistic graph but it takes in two inputs and outputs two outputs.

You can build the graphs and examples project with

[code]

You can run it with
[code]

I hope this is enough. I can also share the actual project but it in a private repo. Le

[2021-08-24 07:35] #2009 closed

[2021-08-24 07:35] #1509 closed

[2021-08-24 07:35] #1420 closed

[2021-08-24 09:56] Shubhodeepdas83 commented on #2432
Hi Michael,
We tried lots of different things. Different browsers on HP, Lenovo, Ipad, Andorid , CPU only machines, GPU machines.
Just to take the Cache out of equation , we even tried downloading the NPM files to Local machine, installing a new Chrome, and then using the Codepen code , it stills gives the same errors.
Version 0.3.xx works, so the device specs should be good enough.
Are we missing

[2021-08-24 10:34] #2398 closed

[2021-08-24 12:00] mdhuzaifapatel opened #2459 "Traceback (most recent call last): File "D:/tjwork/pythonproject/pythonProject/RFIDtest/rfopencv.py", line 15, in import mediapipe as mp File "D:\softwareDevelop\python\Anocoda\Anacoda\lib\site-packages\mediapipe_init_.py", line 16, in from mediapipe.python import * File "D:\softwareDevelop\python\Anocoda\Anacoda\lib\site-packages\mediapipe\python_init_.py", line 16, in from mediapipe.python._framework_bindings import resource_util ModuleNotFoundError: No module named 'mediapipe.python._framework_bindings' Process finished with exit code 1"
Pls help with this ...
Actually I was trying to convert .py to .exe
When I run the exe file its shows the error
No module named mediapipe_framework_bindings

[2021-08-24 13:10] sgowroji commented on #1914
Hi @WayneLin015, Could you please provide the steps to reproduce the above observation mentioned in the first comment. Thanks!

[2021-08-24 13:41] arianatri commented on #2446
I got full log of this error :

[code]

[2021-08-24 16:03] sgowroji commented on #2459
Hi @mdhuzaifapatel, Could you please provide the steps to reproduce the above error. Thanks!

[2021-08-24 16:09] mhays-google commented on #2444
I would like to open the underlying solutions API on top of which all of our solutions are built.  Our issue has been that we don't have good direction on how a 3P developer might compile their own WASM products.  Are you using additional calculators outside those used by holistic?  Or is this purely a manipulation of the graph?

If it's the latter, I might be able to provide a hook for you to sup

[2021-08-24 17:17] keepitsimple commented on #1411
Up

[2021-08-24 17:34] #952 closed

[2021-08-24 17:37] jiuqiant commented on #2458
In https://google.github.io/mediapipe/getting_started/python#building-mediapipe-python-package, the command we provide to build the python wheels locally is `$ python3 setup.py install --link-opencv`.  Removing "--link-opencv" means that you want to build opencv from source instead of linking the local version. That's why you see those linker errors that are thrown during building opencv from sour

[2021-08-24 17:45] jiuqiant commented on #2446
Based on your log message, it seems to be an issue when getting the gpu image data. It's unclear to me what's going wrong. Probably need a samsung galaxy a51 device to reproduce this.

[2021-08-24 17:57] #2447 closed

[2021-08-24 18:27] arianatri commented on #2446
I tested the face effect sample (downloaded the apk from samples) and it seems fine! no error at all!
But when I try to use the face mesh sample app it crashes... so my guess will be that openGL is faulty somehow.

[2021-08-24 18:31] jiuqiant commented on #1830
Thanks  @vandics for providing a solution. Closing this issue now.

[2021-08-24 18:31] #1830 closed

[2021-08-24 18:55] micmelesse commented on #2444
@mhays-google Right now it is a pure manipulation of the graph so that would be awesome.  In the future, I might customize the graph more and start adding calculators but we will worry about that later on.

[2021-08-24 18:59] HarryWindsor commented on #2451
Thank you, for anyone interested, below is my final diff. Next step is to enable CUDA.

[code]

[2021-08-24 18:59] #2451 closed

[2021-08-24 19:41] naveenkulkarni-movidius commented on #2458
Thank you, using "--link-opencv" did resolve the issue and I am able to compile now . Now I can see the compiled binarypb in my conda mediapipe folder (holistic_landmark_gpu.binarypb). However when I run an example, I am getting OpenGL runtime errors.
I tried removing EGL_WINDOW_BIT, based on #305(https://github.com/google/mediapipe/issues/305), but that did not resolve. I am using Python only app

[2021-08-24 21:20] jiuqiant commented on #2458
Reassign this to @mcclanahoochie for answering the OpenGL related issue.

[2021-08-24 21:24] jiuqiant commented on #2378
Reassign to the MediaPipe iOS owner.

[2021-08-24 21:37] jiuqiant commented on #2372
I think the original issue is solved. You are able to get the width and height... The new error seems more like how you use it in your code.

Closing this issue since the original issue is solved.

[2021-08-24 21:37] #2372 closed

[2021-08-24 22:34] #1155 closed

[2021-08-24 23:38] alexdmiller opened #2460 "High level build question: how to use media pipe as a dependency and plug in custom calculators?"
(Specific platform information skipped because this is a high level issue rather than a specific build error.)

**Describe the problem**:

I am working on a multiplatform CV project (Python, Android and iOS) and I would like to use Google Media Pipe as a dependency. In particular, I would like to write my own custom C++ calculators, and then use those calculators in custom graphs across all three

[2021-08-25 01:10] tyrmullen commented on #1427
Looked into the selfie-segmentation issue a bit, and found what I believe to be some texture memory handling issues.  I don't have the bandwidth to fully fix the underlying problems at the moment, but I created a patch to at least allow selfie-segmentation to run on iOS (tested successfully on my old iPhone6S).  We'll try to get this integrated into the JS Solutions codebase as soon as possible.

[2021-08-25 01:51] naveenkulkarni-movidius commented on #2458
I also tried finding more details and solutions provided in #1483 . There is no external GPU in my system. Still see same error as above.

[2021-08-25 02:14] lilinxiong commented on #2105
Let me add to yesterday's experiment:
I got the latest code and found: ```mediapipe/java/com/google/mediapipe/solutioncore```, ```mediapipe/java/com/google/mediapipe/solution/facemesh```, ```mediapipe/java/com/google/mediapipe/solution/hands```. It feels like the source file of build aar, and then I try to build solution_core in ```solutioncore ```. The command entered is as follows:

[code]
But I

[2021-08-25 03:51] sgowroji commented on #1803
That's fine. Thank you for the answer.

[2021-08-25 04:22] sgowroji commented on #2178
Hi @dhavalgediya27, We have released [Android gradle solutions](https://google.github.io/mediapipe/getting_started/android_solutions.html) for Facemesh and Hands,  which works for both cpu and gpu.

[2021-08-25 04:22] #2178 closed

[2021-08-25 04:38] sgowroji commented on #2029
Hi @aoxipo, We are improving our solutions in most of all the platforms. Can you test the above with the  latest release. Thanks!

[2021-08-25 05:16] sgowroji commented on #2033
Hi @dagap, You can use [Holistic](https://google.github.io/mediapipe/solutions/holistic.html#python-solution-api). by removing the FACEMESH_CONTOURS. Thanks!

[2021-08-25 05:35] #839 closed

[2021-08-25 05:58] midhulavijayan commented on #1155
Hi @kostyaby,
Thanks. Finally it worked😀

[2021-08-25 08:56] sgowroji commented on #2096
Hi @hirashahid9, We are continuously improving our solution models. Can you retest the same with the latest release and let us know if you still see the same above observation. If you are able to reproduce with the latest, Can you share the steps  to reproduce it . Thanks!

[2021-08-25 08:57] OleslavIntellias commented on #2436
@hadon, @sgowroji, Could anybody help me with this issue?

[2021-08-25 09:17] sgowroji commented on #2127
Duplicate https://github.com/google/mediapipe/issues/2079

[2021-08-25 09:50] sgowroji commented on #2073
Its working fine with 3.7.6 python version. I have tested the latest  [pose](https://google.github.io/mediapipe/solutions/pose.html#python-solution-api) sample code   in jupyter. After the installation you need to restart the kernal and try the above. Thanks!

[2021-08-25 09:50] #2073 closed

[2021-08-25 16:29] jiuqiant commented on #2105
1) Modify third_party/opencv_android.BUILD

[code]

2) Modify WORKSPACE

[code]

3) BUILD with EXCLUDE_OPENCV_SO_LIB

[code]

[2021-08-25 16:59] RitchieQi opened #2461 "ImportError after build from souce"
- OS Platform and Distribution:Linux Ubuntu 16.04
- Compiler version: gcc/g++ 9.4.0
- Programming Language and version: Python3.5
- [MediaPipe version](https://github.com/google/mediapipe/releases): 0.8.7
- Bazel version: 4.2.0

Installed opencv by executing setup_opencv.sh and build from source of master branch
When executing _sudo python3 setup.py install --link-opencv_, there're some syntax err

[2021-08-26 06:53] jianinz opened #2465 "Initial holistic tracking activation is getting significantly slower"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Android 11
- [Med

[2021-08-26 10:52] APeiZou opened #2466 "When compiling the media pipe package, why not use the AAR package of tflite directly and use the C + + version of tflite code directly"
When compiling the media pipe package, why not use the AAR package of tflite directly and use the C + + version of tflite code directly？
@google-admin
当编译media-pipe包的时候为什么不直接使用tflite的aar包，而直接使用c++版本的tflite代码？

[2021-08-26 17:49] mlizhardy opened #2467 "hands tflite checkpoint in github repo does not match tflite checkpoint installed with pip"
I spent a good amount of time inferencing directly with the tflite models for palm detection and hand landmarks.

As stated in the title the tflite checkpoints for palm detection and hand landmark detection in this repo seem to be outdated.  They perform much worse when compared to the tflite checkpoints installed when I run "pip install mediapipe"

The checkpoints on this repo expect 2944 anchors

[2021-08-26 18:39] noble-man opened #2468 "How to make Mediapipe run faster"
Hello,
I'm trying to use the "python colab" example (https://colab.research.google.com/drive/1FvH5eTiZqayZBOHZsFm-i7D-JvoB9DVz) on my project to detect hands in Unity. So I'm sending a live video to the example frame by frame. But the number of frames I can process per second is too low. 7-9 FPS. I need at least 25FPS. Is there a way to make Mediapipe (the python colab example) faster ?

Thanks a

[2021-08-26 22:33] thomhut opened #2469 "Uncaught (in promise) TypeError: Cannot read property 'buffer' of undefined"
Using MediaPipe Pose example for JavaScript.  Modified it a bit (see attached).  Running on Windows 10 in Chrome Browser.  Works as expected about 50% of the time but then throws errors in the console the other 50%.  This is one example of an error that it throws.  I've attached the file I'm using as well as the error log.

[index.txt](https://github.com/google/mediapipe/files/7063056/index.txt)
[

[2021-08-27 02:34] APeiZou opened #2470 "If I have my own pose detection model, how can I compile my own pose detection model into an AAR package?"
If I have my own pose detection model, how can I compile my own pose detection model into an AAR package?
如果我有一个自己的姿态检测模型，如何把自己的姿态检测的模型编译成AAR的包?

[2021-08-27 02:46] #2405 closed, assigned to sgowroji

[2021-08-27 04:30] showbit01 opened #2471 "Estimate the head orientation from my webcam through mediapipe 468 landmarks"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):
- [MediaPipe version]

[2021-08-27 06:26] HarryWindsor opened #2472 "How to select which GPU to run on?"
I successfully compiled MediaPipe for CUDA. I use a multi GPU setup and want to run the MediaPipe model on a specific GPU, but MediaPipe always just picks the first GPU. The `CUDA_VISIBLE_DEVICES=1` flag I normally use did not work.

How can I select the GPU MediaPipe should run on`

[2021-08-27 07:21] NeRR0 opened #2473 "The size of the same input image gives different results even when keeping the width/height scale"
- OS Platform and Distribution: Ubuntu 20.04
- MediaPipe version: 0.8.7.1
- Solution: Pose (heavy model)
- Programming Language and version: Python 3.7 / 3.8

**Describe the expected behavior:**
The input image size should produce the same results (or close) as long as:
- its size is greater than or equal to the model input (256x256x3 - checked in Netron)
- the scale between the width and height o

[2021-08-27 11:23] j20001970 opened #2474 "Is it possible to get list of proto bytes in Android Java?"
Hello Mediapipe Team. I want to know if there are any ways to get list of proto bytes (when output packet is vector of proto type like hand_landmarks in hand tracking) because i would like to use the packet data in serialized form instead of parsing it directly in Java.

Currently the closest method i could find is getProtoVector in PacketGetter class, but that requires to pass a message parser (a

[2021-08-27 14:33] Paniac opened #2475 "MediaSequence: How to save additional video clips to the original video clips?"
**System information**
- Have I written custom code: I am using the kinetics_dataset.py example
- [MediaPipe version](https://github.com/google/mediapipe/releases): v0.8.6
- Solution: MediaSequence
- Programming Language and version: Python 3.6.9

**Describe the expected behavior:**
I have a dataset that contains the original video clips and the corresponding depth information (as grayscale images

[2021-08-27 15:03] dewball345 opened #2476 "Mediapipe pose web demo is broken"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): No
- OS Platform

[2021-08-27 15:12] arijith96 opened #2477 "Saving output of MediaPipe graph as Bitmap/Image"
**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Ubuntu 20.02 Android 11 Android Studio with Gradle
- [MediaPipe version](https://github.com/google/mediapipe/releases): v0.8.6
- Bazel version: 4.1.0
- Solution (e.g. FaceMesh, Pose, Holistic): Object Detection, Box Tracking, KNIFT
- Prog

[2021-08-27 15:55] zhaoqilong3031 opened #2478 "AndroidPacketGetter.getBitmapFromRgba(packet) error"
**System information** (Please provide as much relevant information as possible)

- [MediaPipe version](https://github.com/google/mediapipe/releases): master
- Android SDK and NDK : ndk(21)
- OpenCV:4

**Describe the problem**:
##### add code
[code]
##### exception
[code]

[2021-08-28 01:25] mcclanahoochie commented on #2117
the coral example setup has recently been updated,  https://github.com/google/mediapipe/blob/master/mediapipe/examples/coral/README.md
please try the new version

[2021-08-28 01:33] mcclanahoochie commented on #2282
there will be an update eventually to show this, but for now....

the calculator can be used something like this

[code]

the idea is to filter the current mask, but pipe the previous through a loopback calculator, because the filtering need the previous frame.

[2021-08-28 02:42] #2478 closed

[2021-08-28 02:43] zhaoqilong3031 commented on #2478
is ok

[2021-08-28 05:44] ben-xD commented on #2181
Thanks for letting me know.

I tried the latest version [`0.4.1628005088`](https://www.npmjs.com/package/@mediapipe/holistic), and couldn't find `VERSION` by using `import {Holistic, Results, VERSION} from "@mediapipe/holistic";`.

Typescript said: `Module '"@mediapipe/holistic"' has no exported member 'VERSION'.`

[2021-08-28 07:33] guker commented on #2414
no problem，because the input of blazepose is the affined image that centered on mid hip，so back to original image,  x or y may be greater than 1

[2021-08-28 07:35] sandesh1994199 commented on #1530
@sgowroji Could you please let me know, how to carry out step 2 ? which file needs to be modified ?

[2021-08-28 08:03] sobhan87068 commented on #665
Hi @MaskeZen sorry for the late response. Unfortunately no i could not solve it. From what I understood the project seems to be implemented with streams in mind. So the solution seems to be what @afsaredrisy has mentioned but sadly I could not get it to work in my case with the recognition process.
I haven't checked the newer versions so I don't really know if anything has changed to help solve th

[2021-08-28 09:11] APeiZou opened #2479 "Target //mediapipe/examples/desktop/hand_tracking:hand_tracking_cpu failed to build Use --verbose_failures to see the command lines of failed build steps. INFO: Elapsed time: 10.026s, Critical Path: 8.93s INFO: 282 processes: 130 internal, 152 linux-sandbox. FAILED: Build did NOT complete successfully"
bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 mediapipe/examples/desktop/hand_tracking:hand_tracking_cpu
Target //mediapipe/examples/desktop/hand_tracking:hand_tracking_cpu failed to build Use --verbose_failures to see the command lines of failed build steps. INFO: Elapsed time: 10.026s, Critical Path: 8.93s INFO: 282 processes: 130 internal, 152 linux-sandbox. FAILED: Build did NOT complete

[2021-08-28 12:04] zhaoqilong3031 opened #2480 "系统崩溃 processor.getGraph().addConsumablePacketToInputStream(backImgTag, packet, timestamp);"
**System information** (Please provide as much relevant information as possible)
- [MediaPipe version](https://github.com/google/mediapipe/releases):master
- Android SDK and NDK versions (if android):21
- Android [AAR](https://google.github.io/mediapipe/getting_started/android_archive_library.html) ( if android):

**Describe the problem**:
System crash for ```  processor.getGraph().addConsumablePa

[2021-08-28 15:19] mdhuzaifapatel commented on #2459
Someone Please help

[2021-08-28 16:31] orf opened #2481 "Master fails to build hello-world on MacOS"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): MacOS 11.5.2
- Com

[2021-08-28 18:25] HarryWindsor commented on #2481
What version of gcc are you using? Please run  `gcc --version`?

[2021-08-28 18:34] orf commented on #2481
[code]

Looks like it's aliased to Clang on MacOS. I have gcc installed via homebrew, and that is at `gcc 11.2.0`.

[2021-08-28 18:48] HarryWindsor commented on #2481
Try cleaning your project with `bazel clean --expunge` and explicitly set CC to use gcc-11 ```CC=`which gcc-11` CXX=`which g++-11` bazel run --define MEDIAPIPE_DISABLE_GPU=1 mediapipe/examples/desktop/hello_world:hello_world```

[2021-08-28 19:05] orf opened #2482 "Non-deterministic segfault"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): Yes
- OS Platfor

[2021-08-28 19:20] orf commented on #2481
This does indeed seem to work. Would you accept a PR to update the MacOS documentation with this? I'm unclear as to if the project accepts outside contributions.

[2021-08-28 19:22] orf commented on #2481
Sorry, 🤦, it still fails.

[code]

[2021-08-28 19:32] tugceaksy commented on #1244
did you get it resolved?

[2021-08-28 20:48] HarryWindsor commented on #2481
I'm sorry it did not help, did you clean the project with `bazel clean --expunge`? Maybe try [this](https://github.com/google/mediapipe/issues/52#issuecomment-528623725) or [this](https://github.com/google/mediapipe/issues/52#issuecomment-542248235).

[2021-08-29 00:25] jiuqiant commented on #2446
How about the face landmark prebuilt apk? It's available at https://google.github.io/mediapipe/solutions/face_mesh#face-landmark-example.

[2021-08-29 04:00] arianatri commented on #2446
Face Effect Example is working fine (with no errors)
Face Landmark Example has the same errors as mine(slow with 3-2 sec. delay and crashes after a while).

[2021-08-29 05:07] tommypham commented on #364
Thanks @noppefoxwolf , I can build the framework with '**-std=c++17**' now.

[2021-08-29 09:11] fahmij8 commented on #1594
Hello, I'm facing the same trouble, but the difference is my environment is on Linux Ubuntu 18.04.5 LTS Jetson-nano 4.9.201-tegra aarch64. Mediapipe version is 0.8.5, i couldn't upgrade to the latest version because there's nothing new available for linux aarch64 (as far as I know).
I believe the way to resolve this is to upgrade my mediapipe to the latest version, but could you enlight me ?
Appre

[2021-08-30 03:12] APeiZou opened #2483 "When I build an AAR package ERROR: An error occurred during the fetch of repository 'maven':"
INFO: Repository maven instantiated at:
  /home/vinbert/data/mediapipe/WORKSPACE:333:14: in <toplevel>
  /home/vinbert/.cache/bazel/_bazel_vinbert/bd12ffee51c720bff16284d608eb64ea/external/rules_jvm_external/defs.bzl:105:19: in maven_install
Repository rule coursier_fetch defined at:
  /home/vinbert/.cache/bazel/_bazel_vinbert/bd12ffee51c720bff16284d608eb64ea/external/rules_jvm_external/coursier.b

[2021-08-30 04:18] sgowroji commented on #2476
Duplicate https://github.com/google/mediapipe/issues/2432

[2021-08-30 04:22] sgowroji commented on #2479
Hi @APeiZou, Could you please share your system configuration  and steps to reproduce the above issue. Thanks!

[2021-08-30 04:25] sgowroji commented on #2480
Hi @zhaoqilong3031, Could you please provide steps to reproduce the above error your android code changes (MainActivity.java). Thanks!

[2021-08-30 06:03] yishinhung commented on #2117
Hi @mcclanahoochie :

The new version can compiler the mediapipe samples for coral devices.
Thank for your help!

[2021-08-30 06:03] #2117 closed

[2021-08-30 06:05] APeiZou commented on #2483
bazel build -c opt --fat_apk_cpu=arm64-v8a,armeabi-v7a  \ //mediapipe/examples/android/src/java/com/google/mediapipe/apps/aar_example:mp_face_detection_aar

[2021-08-30 06:18] caiyc2000 opened #2484 "Run Mediapipe Hands as a service (Android)"
I want to run Mediapipe even when I have put it to the background. I am thinking to convert Mediapipe Hands from an avtivity  to a service instead of an activity.
Is it possible?  If yes, how should I change the code?
I read that a service cannot update UI directly because it works in the main thread.
I'm doing this on Pixel 4 with Android Studio.
Thanks in advance.

[2021-08-30 07:16] arijith96 commented on #2477
Hi @sgowroji
Any update on this? I saw that you had changed the label to `awaiting response`

[2021-08-30 07:29] sgowroji commented on #2477
If you are looking for [face mesh](https://github.com/google/mediapipe/blob/master/mediapipe/examples/android/solutions/facemesh/src/main/java/com/google/mediapipe/examples/facemesh/FaceMeshResultImageView.java) or [hands](https://github.com/google/mediapipe/blob/master/mediapipe/examples/android/solutions/hands/src/main/java/com/google/mediapipe/examples/hands/HandsResultImageView.java) refer tho

[2021-08-30 07:33] sgowroji commented on #2484
Hi @caiyc2000, Could you please elaborate your use case with more details. Why do you want to run a service when you execute the hands solution on a camera to see the graph?

[2021-08-30 07:36] sgowroji commented on #2483
Hi @APeiZou, Could you please go through it https://github.com/google/mediapipe/issues/1587#issuecomment-774341903

[2021-08-30 07:42] sgowroji commented on #2482
Hi @orf, Could you please share about the solution you are referring in the above use case. Thanks!

[2021-08-30 08:01] caiyc2000 commented on #2484
Thanks so much for your quick response.
The case is, I want to realize "virtual screen" through with the use of Mediapipe Hands. To be more specific, I intend to use my interact with my phone in the air instead of touching the physical screen. So when Mediapipe recognizes the hand landmarks, I will use the fingertip of my index finger as a mouse to "touch" the screen in the air. When my fingertip

[2021-08-30 08:43] orf commented on #2482
Can you explain what you exactly want? I did not write the custom solution so my knowledge is limited. I am only observing the segfaults. I’ve attached all the customisations to the original post?

[2021-08-30 11:05] RitchieQi commented on #2461
Hi guys, I have tried both with and without '--link-opencv' in ver 0.8,6
this error occured in both situation.
![image](https://user-images.githubusercontent.com/54255182/131329814-772ef807-7971-4daf-935c-cb96201b2d87.png)

However I was considering to migrate to 18.04 or even 20.04.

[2021-08-30 11:33] sgowroji commented on #2418
Hi @TommyZihao, We don't have any plans as of now, but there are many solutions shared in the community by different contributors. I will add some here where you can use as per your requirement. https://github.com/google/mediapipe/issues/2254#issuecomment-880980304
https://github.com/google/mediapipe/issues/1530#issuecomment-790210796

[2021-08-30 11:34] #2418 closed

[2021-08-30 11:48] sgowroji commented on #2476
Hi @dewball345, Please check this for [supported platforms  ](https://google.github.io/mediapipe/getting_started/javascript#supported-plaforms)

[2021-08-30 11:48] #2476 closed

[2021-08-30 12:00] sgowroji commented on #2386
Hi @Nickil21, Please refer this blog for Gesture Recognition https://ai.googleblog.com/2019/08/on-device-real-time-hand-tracking-with.html

[2021-08-30 12:00] #2386 closed

[2021-08-30 12:47] Shubham-Pachade opened #2485 "Run javascript solution on a video and save the output"
Objective : To have the skeleton structure drawn over an input video

I am relatively new to this javascript env and I am still figuring out a lot of stuff. For the above-mentioned objective I recently stumbled upon mediapipe solution. I was interested in the python solution and implemented that but could not deploy it in the AWS lambda function. This was because the package size of the lambda fun

[2021-08-30 13:18] RitchieQi commented on #2461
Okay I upgrade to gcc/g++9 again, and execute setup_opencv.sh and python3 setup.py install --link-opencv. here's an error:
![image](https://user-images.githubusercontent.com/54255182/131345193-c2913ef2-39b6-44d3-b968-7b1d6c42f039.png)
looks like another gcc related problem

[2021-08-30 15:26] OleslavIntellias commented on #2436
But as i can see in the TensorsToDetectionsCalculatorOptions class has setters and getters for each parameter.  Maybe is it possible to set new options in previous calculator for next one?
[code]

[2021-08-30 15:49] sanamumtaz commented on #1427
Kindly update about the current status.

[2021-08-30 16:15] jiuqiant commented on #2474
@sgowroji  please reassign this to the Android owners. Thanks.

[2021-08-30 16:17] orf commented on #2482
This appears to be related to https://github.com/google/mediapipe/issues/2250, but we are using version `0.8.7.1`.

[2021-08-30 16:40] jiuqiant commented on #2484
Probably you can use the Hands Android Solution: https://google.github.io/mediapipe/solutions/hands#android-solution-api, which can be used in background.

[2021-08-30 16:53] caiyc2000 commented on #2484
Thanks so much. @jiuqiant
Previously I was using code from this repository: https://github.com/jiuqiant/mediapipe_multi_hands_tracking_aar_example. Could you tell me what' s the difference between this and the Hands Android Solution from https://google.github.io/mediapipe/solutions/hands#android-solution-api?
Also, is there any example of Mediapipe being used as a background service?

[2021-08-30 17:02] bryanseybold commented on #2475
You'll have to make a few small changes to do this. I don't quite know how you want to encode the depth data, so here's one suggestion.

First, you'll need to store the depth images in the sequence examples. If you're able to encode the depth as a JPEG image, store the JPEG encoded image bytes in the key "DEPTH/image/encoded". If you are doing this in python, you can call `mediapipe.util.sequence.

[2021-08-30 17:28] jiuqiant commented on #2461
The "-lavresample" flag is related to the ffmpeg library. Have you installed it?

Or you can edit https://github.com/google/mediapipe/blob/master/mediapipe/python/BUILD like the following to only keep the must-have opencv components:

[code]

This will not require ffmpeg (for video processing) anymore.

[2021-08-30 18:12] naveenkulkarni-movidius commented on #2458
Any updates or comments here would be great. Is there anything I can refer to get runtime issues with OpenGL resolved? Or if there are options to use OpenCL which improves performance on GPUs that would certainly be helpful.

[2021-08-30 18:36] tyrmullen commented on #1427
The team is still discussing how best to conditionally apply the patch.  Will update again when I have something more substantive.

[2021-08-31 04:09] sgowroji commented on #2485
Hi @Shubham-Pachade, You can have a look at our [codepen](https://codepen.io/mediapipe/full/jOMbvxw) pose code. Here you can even upload a video and excute pose on it.  Thanks!

[2021-08-31 04:24] natarajakm commented on #2332
I would like to know google media supports ARM Mali G51 GPU or not.
I provided GPU capability https://google.github.io/mediapipe/getting_started/gpu_support.html#gpu-support

[2021-08-31 04:37] sgowroji commented on #2332
Hi @natarajakm, We have not tried anything with ARM Mali G51 GPU yet.  But there are some users who could able to execute it with similar GPU's  https://github.com/google/mediapipe/issues/1218.  And I have assigned the issue to @mcclanahoochie who can guide if you encounter any issues with it.

[2021-08-31 04:49] Monibsediqi commented on #2311
Any update on this issue? In fact, I'm in a similar situation. I need to get the landmark value of the face without actually rendering the output of the graph (i.e., image with the face-landmark on it) on the screen.

[2021-08-31 04:49] sgowroji commented on #2484
Hi @caiyc2000, [Android Hands solution ](https://google.github.io/mediapipe/solutions/hands.html#android-solution-api) is built using gradle api solutions, where  [mediapipe_multi_hands_tracking_aar_example](https://github.com/jiuqiant/mediapipe_multi_hands_tracking_aar_example) is built using an AAR. You can explore the documentation to understand the api and building code from here https://googl

[2021-08-31 04:53] Kiru3014 commented on #2311
@Monibsediqi  so still we are looking at this not got any update

[2021-08-31 04:54] sgowroji commented on #2482
Hi @orf, Are you trying to build the Selfie segmentation python solution?

[2021-08-31 04:54] Monibsediqi commented on #348
Any update on this issue. How to get the landmark value without actually rendering the image coming out of the mediapipe on the screen?

[2021-08-31 06:19] sgowroji commented on #2311
Hi @Monibsediqi,  You can try the landmarks in facemesh with our latest gradle android solutions from [here](https://github.com/google/mediapipe/blob/master/mediapipe/examples/android/solutions/facemesh/src/main/java/com/google/mediapipe/examples/facemesh/MainActivity.java#:~:text=NormalizedLandmark%20noseLandmark%20%3D%20result,noseLandmark) .

[2021-08-31 06:21] Kiru3014 commented on #2311
@sgowroji any update without surface render to get handland markd

[2021-08-31 07:01] sgowroji commented on #2311
Hi @Kiru3014, Am not sure that will work without rendering on the camera screen. That's more how we try to implement in java code. @jiuqiant is it possible to show landmarks without rendering the screen?

[2021-08-31 07:18] brucechou1983 commented on #2283
@sgowroji I met the same problem yesterday and solved the issue by @AzureRain1 's workaround. But I didn't find a way to solve it by modifying the proguard file.

[2021-08-31 08:08] jimver04 opened #2486 "Using Selfie-Segmentation result as a texture on a 3D multiplaying environment (networked-aframe)"
**Solution**: Selfie-Segmentation.js
**Language**: Javascript
**Problem**: Mediapipe is WASM and has an unexpected behaviour when capturing a video stream from the drawing canvas and passing it with easyrtc to multiplaying experiences.
**Live demo**: https://vrodos-multiplaying.iti.gr/plain_aframe_mediapipe_testbed.html
(I have tried Codepen but it is not accepting networked-aframe multiplaying ex

[2021-08-31 09:02] caiyc2000 commented on #2484
Ok, I will try to use the Android Hands solution as a service.
If there is an example or demo of Mediapipe being used as a background service, please let me know. Thanks! @jiuqiant @sgowroji

[2021-08-31 09:17] HungDuong1998 commented on #2386
Hi @sgowroji , It said in the blog that the Gesture Recognition is already published

But I can't seem to find it, can you help?

Many thanks

[2021-08-31 09:26] 201724468 opened #2487 "Mediapipe Iris cannot detect iris while wearing mask on"
I'm using ubuntu 18.0.4 LTS and working with C++ language

I used several images and I figured out that images with mask on cannot catch the iris locations
while images with no mask catch the iris locations. Is there any other way to get iris although there is a face with mask on??

[2021-08-31 09:38] sgowroji commented on #2487
Hi @201724468, Can you provide a video or screen shot to illustrate the above observation. Thanks!

[2021-08-31 09:58] belelaritra commented on #2120
Yes after this process it installed successfully into my machine but it's not working. Showing wrong architecture.

[2021-08-31 10:12] josiahsrc commented on #2120
@belelaritra Make sure you're using a python3.8.* version installed with x86_64 architecture. I was able to do this by installing Homebrew for x86_64 architecture (see [this](https://stackoverflow.com/questions/64963370/error-cannot-install-in-homebrew-on-arm-processor-in-intel-default-prefix-usr) post). Then, I installed python 3.8.* using `arch -x86_64 brew install python@3.8`. From there, I ran

[2021-08-31 10:22] belelaritra commented on #2120
Ohh !! Sorry, I'm using arm64 architecture mac (apple silicon).

[2021-08-31 10:25] belelaritra commented on #2120
here homebrew is installed inside `opt` folder.

[2021-08-31 10:32] josiahsrc commented on #2120
On m1 macs, its typical to have two versions of Homebrew installed. One will be in opt folder (Homebrew for ARM), the other in /usr/local (Homebrew for x86_64)

[2021-08-31 10:37] RitchieQi commented on #2461
I have removed and reinstalled ffmpeg, here's what I got:
![image](https://user-images.githubusercontent.com/54255182/131488146-ff23abf6-b06c-441d-8d38-fa12ec1d7587.png)

[2021-08-31 10:51] #1013 closed

[2021-08-31 10:51] #1041 closed

[2021-08-31 10:51] #697 closed

[2021-08-31 10:51] #999 closed

[2021-08-31 10:51] #2364 closed

[2021-08-31 10:51] #2420 closed

[2021-08-31 10:51] #2423 closed

[2021-08-31 10:51] #2004 closed

[2021-08-31 10:51] #2415 closed

[2021-08-31 10:51] #2417 closed

[2021-08-31 10:54] belelaritra commented on #2120
I have followed all the steps from the [link](https://stackoverflow.com/questions/64963370/error-cannot-install-in-homebrew-on-arm-processor-in-intel-default-prefix-usr) you have provided but there is no `Celler` folder inside `homebrew` but it's inside `local` only.

[2021-08-31 11:09] josiahsrc commented on #2120
Did you follow the [second post](https://stackoverflow.com/a/65398385/10880084)? It looks like the accepted one is a bit outdated. Make sure you use the x86_64 homebrew via `arch -x86_64 /usr/local/homebrew/bin/brew install python@3.8`. Apologies, I had forgotten that the ARM homebrew is usually default in PATH.

[2021-08-31 11:19] belelaritra commented on #2120
Sorry I followd the first one.
But then I followed your steps (just changed the command into `arch -x86_64 /usr/local/Cellar/python@3.8/3.8.11/bin/python3 -m venv myenv` ) and it's now working(just checked one hand module).

Thank you sir.
It helps me a lot.

[2021-08-31 11:26] josiahsrc commented on #2120
Happy to help! 😄

[2021-08-31 11:49] Thaina commented on #1369
We are still waiting for official unity package. Or the confirmation that google won't do it

[2021-08-31 11:53] ROBYER1 commented on #1369
You could be waiting a while 😂😭

[2021-08-31 12:55] Shubham-Pachade commented on #2485
@sgowroji Thank you for your prompt reply. I had gone through the typescript code available on codepen. I am also able to attach a video and then process it further. What I could not achieve was to get the pose estimation on the video which is present by default in the HTML <video> tag. I have used above-mentioned code for doing so. Do you see that code fit for the task?

[2021-08-31 13:36] RTCFoundation opened #2488 "I want to realize a multimedia task which contains the demuxer and decoder by using ffmpeg api, like gstavdemux.c and gstavviddec.c in gstreamer. How should I proceed"
|source|----> |demuxer| ---> |decoder|

[2021-08-31 14:39] qualityland27 commented on #1561
Anybody solved this issue? I am also interested in orientation angles from face geometry.

[2021-08-31 14:40] qualityland27 commented on #2191
Did you solve this issue? I would be very interested in the solution.

[2021-08-31 14:51] willstott101 opened #2489 "Support for EGL's drm/gbm platform for GPU inference on headless unix systems without a compositor"
EGL from mesa (version 21) on our RPI 4s (OS is poky built with yocto) provides a "GBM platform" for rendering without a compositor like X or Wayland running. Rendering directly to displays without a compositor like this is simpler and faster for embedded applications.

However mediapipe currently doesn't work with the env var `EGL_PLATFORM=drm` as mesa's drm platform implementation doesn't suppor

[2021-08-31 15:37] arijith96 commented on #2438
Hi! @yegenzhi
Any update on this?

[2021-08-31 15:38] methodistsmab commented on #2414
Got it. Thank you so much!

[2021-08-31 15:41] arijith96 commented on #2477
Hi @sgowroji

If I followed what was mentioned in #2144 correctly, the CameraX API would just provide us with the camera image. I was looking for something similar to the recently released Android Solutions, but not for face mesh and hands, rather for Object Detection, Box Tracking, KNIFT.
Do correct me if I am wrong here. Quite new to Mediapipe and Android

[2021-08-31 16:12] jiuqiant commented on #2461
This error means the python protos were not properly generated and the setup program found nothing to delete at the cleanup step.  Please run `python3 setup.py gen_protos && python3 setup.py install --link-opencv` together.

[2021-08-31 16:23] jiuqiant commented on #2311
FaceMesh solution API outputs landmark protos directly. If the clients need to do custom rendering, it can be done in Java without MediaPipe by either an Android Canvas or OpenGL rendering.

If you just need the landmarks, please write`setResultListener` like the following:
[code]

Please read more at https://google.github.io/mediapipe/solutions/face_mesh#android-solution-api.

[2021-08-31 16:24] jiuqiant commented on #2311
FaceMesh solution API outputs landmark protos directly. If the clients need to do custom rendering, it can be done in Java without MediaPipe by either an Android Canvas or OpenGL rendering.

If you just need the landmarks, please add a `setResultListener` like the following:
[code]

[2021-08-31 16:28] jiuqiant commented on #2482
The GIL related fix is now only in the official Python v0.8.7.1 binaries, which are available in PyPI. The source code will go out in the next release.

[2021-08-31 16:54] orf commented on #2482
Thank you! That makes sense, sorry I thought that the fix was included in the current code on GitHub. Can you share any ETAs on when the fix will be pushed?

[2021-08-31 17:59] sradc commented on #2323
Thank you, @jiuqiant, it works for me too now.

[2021-08-31 17:59] #2323 closed

[2021-08-31 18:48] yegenzhi commented on #2438
We don't have an official supported way to build index on mobile device yet.
However, you can try to build the binary and adb push both the binary and graph to you device, and test if you can run it there.
Hope it helps.

[2021-08-31 19:47] HarryWindsor commented on #2453
Thank you, but I would prefer a solution. Someone must have tried to use FaceLandmarksSmoothing with FaceMesh.

[2021-08-31 20:59] johncblacker commented on #1437
So, that begs the question: what do you use to build mediapipe?  Searching around the net, people have been able to build mediapipe on rPi that does not get the error.  In fact, I've used one of the images for rPi3 and it works, but it's an older image and I wanted to get the latest mediapipe version.  It would appear that somethings have changed in mediapipe since 0.8.4 that are causing this issu

[2021-09-01 00:11] 201724468 commented on #2487
![image](https://user-images.githubusercontent.com/38517823/131591576-661e9b41-8df0-44ce-a3f2-4b9e02b79c7d.png)

this is the image I get from my code

As you see the picture, images with mask on gets no iris, which left and right shows 0 on it.
If I don't wear mask and check the iris, it shows proper location of left and right iris.

[2021-09-01 00:51] #2394 closed

[2021-09-01 03:59] sgowroji commented on #2489
Hi @willstott101, Which MediaPipe solution are you referring to the above issue. And could you please provide the steps. Thanks!

[2021-09-01 03:59] sgowroji commented on #2489
Duplicate https://github.com/google/mediapipe/issues/1483

[2021-09-01 04:01] sgowroji commented on #2488
Hi @RTCFoundation, Could you please elaborate your issue with complete details like which platform, which MediaPipe solution,  And last the steps to reproduce the above .

[2021-09-01 04:11] sgowroji commented on #1437
Hi @johncblacker, Could you please open a new issue or a feature request w.r.t your above comment. As this [comment](https://github.com/google/mediapipe/issues/1437#issuecomment-847179027) address the above thread. Thanks!

[2021-09-01 04:51] #2428 closed

[2021-09-01 04:56] sgowroji commented on #2487
Hi @201724468,  Can you share the image with mask where there is no iris. Thanks!

[2021-09-01 05:07] 201724468 commented on #2487
@sgowroji here is the image wearing mask and cannot detect iris
![2](https://user-images.githubusercontent.com/38517823/131614814-80ab2bb3-6219-4389-9ec6-4254abb427db.jpg)
![Inked2_LI](https://user-images.githubusercontent.com/38517823/131615105-c451734a-5d27-4a7a-bc4b-ca4ec4c7014d.jpg)

[2021-09-01 05:11] 201724468 commented on #2487
@sgowroji can I erase those images now? or leave it until the answer comes out?

[2021-09-01 05:17] sgowroji commented on #2487
You can share any non confidential images to investigate the issue for further. We are not able to reproduce the above issue at our end on other platforms. Thanks!

[2021-09-01 05:51] #960 closed

[2021-09-01 05:51] #1010 closed

[2021-09-01 05:51] #511 closed

[2021-09-01 05:51] #822 closed

[2021-09-01 06:38] sandesh1994199 commented on #2062
@sgowroji when i ran  python setup.py install --link-opencv, it is throwing a error as represented below
$ py setup.py install --link-opencv
running install
running build_binary_graphs
could not find bazel executable. Please install bazel tobuild the MediaPipe Python package.

I have followed the installation steps mentioned https://google.github.io/mediapipe/getting_started/install.html#installin

[2021-09-01 07:20] sgowroji commented on #2062
Hi @sandesh1994199, Can you raise the above [comment](https://github.com/google/mediapipe/issues/2062#issuecomment-909956346) as a new issue. Present issue is about iris landmarks in python.

[2021-09-01 07:31] RTCFoundation commented on #2488
System information
MediaPipe version: master
Programming Language and version: C++
Describe the expected behavior:
I wanna that the mediapipe can support the demuxer and decoder by ffmpeg api,  just like gstreamer plugin

[2021-09-01 07:49] arianatri commented on #2446
@jiuqiant
Any ideas on how to Patch it?

[2021-09-01 08:34] sandesh1994199 opened #2490 "Could not find bazel executable-Iris python configuration implementation in windows"
@sgowroji when i ran python setup.py install --link-opencv, it is throwing a error as represented below
$ py setup.py install --link-opencv
running install
running build_binary_graphs
could not find bazel executable. Please install bazel tobuild the MediaPipe Python package.

I have followed the installation steps mentioned https://google.github.io/mediapipe/getting_started/install.html#installing

[2021-09-01 08:51] #2346 closed

[2021-09-01 08:51] #2337 closed

[2021-09-01 08:54] arijith96 commented on #2438
Thank you for your quick response :) I will try this sometime in the upcoming weeks. I will keep my progress updated in this issue 👍

[2021-09-01 08:55] sgowroji commented on #2490
Hi @sandesh1994199, Could you please share the complete error logs and steps to reproduce it. Thanks!

[2021-09-01 09:02] sandesh1994199 commented on #2490
Hi @sgowroji when i run python3 setup.py gen_protos works fine. Above is the only error I am facing .

[2021-09-01 10:02] sandesh1994199 commented on #2490
Hi @sgowroji $ when i run bazel version, I encounter below error in git bash

bash: bazel: command not found

[2021-09-01 10:27] willstott101 commented on #1483
Can you try running `eglinfo` on an affected machine? It would more accurately help determine the problem. As we can see available egl configs. If it's indeed a problem with intel's egl drivers, or if intel's acceleration can be used with the right EGL_PLATFORM envvar.

[2021-09-01 10:28] willstott101 commented on #2489
During my testing I am using a `.so` library of mediapipe to run a graph based on the `face_detection` module.

I'm not sure if this is a duplicate - I have asked in #1483 if they can use `eglinfo` to determine if lack of pbuffer support is indeed the problem for them.

[2021-09-01 12:49] sandesh1994199 commented on #2235
Hi @Rassibassi

Check out my mediapipe demo repository, run python iris.py after installation of all the pip packages and don't forget to also download the tf_lite model for the iris detection as described in the readme. It's not a single iris depth module, but does the job. I reimplemented the depth calculations in numpy.

https://github.com/Rassibassi/mediapipeDemos

I am facing the error mentio

[2021-09-01 13:15] willstott101 opened #2492 "Coral face detection example transforms the image on the CPU unneccessarily."
The GPU examples for face detection use https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_detection/face_detection_full_range_gpu.pbtxt#L39 to transform the image, but the Coral examples transform the image first - and then convert to a tensor. It's a waste of ram and cpu time: https://github.com/google/mediapipe/blob/master/mediapipe/examples/coral/graphs/face_detection_deskt

[2021-09-01 13:46] RitchieQi commented on #2461
After reinstalling by following your instruction, here's still a syntax error.
![image](https://user-images.githubusercontent.com/54255182/131682250-2be976ab-b7c3-45a3-9720-f7e7ccff5315.png)
And I have made my mind and started working on 18.04 and 20.04, mediapipe works fine on both of them. Here's no need for further support. I appreciate your time and patience.

[2021-09-01 14:45] mhays-google commented on #2486
You can pass a Promise from onResults to prevent execution of the next frame, but we don't have other ways of injecting ourselves into the drawing stream in any good synchronous way at the moment.

[2021-09-01 16:09] JacobMuchow commented on #755
Hi @mapleyuan , I am working on the same thing right now. Would you be able to share your solution? Thank you!

[2021-09-01 16:13] JacobMuchow commented on #2324
Any success with this @matthewn4444 ? I'm trying to do something similar right now and am having the same issue.

[2021-09-01 17:23] jiuqiant commented on #2461
Regrading the syntax error, this is caused by the unsupported type annotation in python 3.5: https://stackoverflow.com/questions/51789120/type-hints-syntax-error-on-python-3-5.

Close this for now since the issue is solved.

[2021-09-01 17:23] #2461 closed

[2021-09-01 19:26] tangerine1202 commented on #825
For anyone who wants to learn Kalman Filter, this guy explained it clearly without going too much into mathematical detail.

https://nbviewer.jupyter.org/github/rlabbe/Kalman-and-Bayesian-Filters-in-Python/blob/master/00-Preface.ipynb

[2021-09-02 06:51] #1074 closed

[2021-09-02 08:18] sgowroji commented on #2430
Hi @only-tao, Can you try to  update GCC version and check the above. Have a look at this #1684 (comment)

[2021-09-02 08:36] sgowroji commented on #665
You can try using this below code to input a image or video and display the graph on top of it.
https://github.com/google/mediapipe/blob/master/mediapipe/examples/android/solutions/facemesh/src/main/java/com/google/mediapipe/examples/facemesh/MainActivity.java#:~:text=%7D)%3B-,Button%20loadImageButton%20%3D%20findViewById(R.id.button_load_picture)%3B,%7D,-/**%20The%20core%20MediaPipe

[2021-09-02 08:36] #665 closed

[2021-09-02 08:42] sgowroji commented on #2477
You should wait for some days to get the other gradle android  solutions (Object Detection, Box Tracking, KNIFT). You can try the #2144  approach by building AAR specific to your solution, Here you need to implement the logic in JAVA.

[2021-09-02 09:46] wingdi opened #2494 "Android framePorcessor.addPacketCallback() , return the number of packet in Callback is not correct"
I want to get every frame's landmarks of my local video.  but I got incorrect landmarks frame count.
Such as, my video's length is 14 seconds,   in the addPacketCallback(), i only received  about 120 packets, it should receive  about  14*30 =  420.  I test several videos, they have same problems.

aar :   pose_tracking
System : Android.
mediapipeVersion:  v0.8.6

this is all my code :

[code]

[2021-09-02 11:00] JinYeJin commented on #1374
Don't need to use MessageToDict.

[code]

I don't know why they make it too difficult to access!

[2021-09-02 11:13] adijawla commented on #1530
@jiuqiant @sgowroji @mertkslkc @RafalSiwek @GNUaquin

We are trying to setup the python API for iris tracking in media pipe , please could you explain how to proceed with second step as it is not clear which file need to be modified or how to deal with **step 2**. Thanks

[2021-09-02 11:51] #2437 closed

[2021-09-02 13:42] sgowroji commented on #2466
@APeiZou  Did you build Android source code with C++ and tflite?

[2021-09-02 14:22] arijith96 commented on #2477
Thank you for your reply! I will try to proceed as suggested.

In response to your comment, by when could we expect the other gradle android solutions to be released? Would all the android solutions be supported with gradle? Looking forward to trying them out! :D

[2021-09-02 16:19] jiuqiant commented on #2494
@sgowroji  Please reassign this to the Android owners. Thanks!

[2021-09-02 16:23] jiuqiant commented on #2482
The fix is released in https://github.com/google/mediapipe/commit/6abec128edd6d037e1a988605a59957c22f1e967. Please pull the latest version and build the python package again. Thanks.

[2021-09-02 18:41] tangerine1202 commented on #825
@showbit01 I think it might be difficult to deal with yaw, pitch, roll, since it cannot be observed directly and it's also hard for people to tell if the values make sense.
Try to get the accureate x, y, z and dx, dy, dz, then inference yaw, pitch, roll from it might be better.

I accidently saw another filter called "one euro filter", which is much simpler than Kalman Filter. It may be worth a tr

[2021-09-02 18:48] showbit01 commented on #825
@tangerine1202 mediapipe facemesh gives 3d screen landmarks x,y,z where z is the depth from virtual plane assumed ,if we get the real world coordinate of face in front of screen then with world 3d and image 2d, rotation matrix will be calculated from then yaw pitch roll euler angles obtained.
Finding world coordinate will solve the same.

So is it for same purpose the link you provided?

[2021-09-02 20:53] #1954 closed

[2021-09-02 21:56] JacobMuchow commented on #2324
This might be unrelated to `macos_dylib` itself, and maybe a bigger issue with compiling for macos/darwin config (?).

For reference, I get the same issue building with `objc_library`

![Screen Shot 2021-09-02 at 4 53 40 PM](https://user-images.githubusercontent.com/5720430/131921225-37a3c024-f016-46f3-a8e5-aad330f586cf.png)

The commented out line breaks the build.

[code]

Note: same result with

[2021-09-02 21:56] devewok opened #2495 "Integration @mediapipe/hands in React JS"
![image](https://user-images.githubusercontent.com/87552609/131921154-cc12b402-ffa2-4cc6-b99b-42a072983e65.png)

I have that problem using React JS, any help ?

My code:
`
import {useEffect, useRef} from "react";
import {Hands} from "@mediapipe/hands";
import {Camera} from "@mediapipe/camera_utils";
const SignalToText = () => {
  const hands = new Hands()
  const videoElement = useRef(null)
  cons

[2021-09-03 01:35] ilmarmors commented on #1606
Any update on time when new version with stop() method will be released?

[2021-09-03 04:24] Vignesh1-art opened #2496 "I want to use MediaPipe Pose on YUV frames in android. please help"
Is there is way I can pass parameter to MediaPipe so that I can inform MediaPipe that I'm using YUV image. (Android's YUV_420_888)?

I want to use MediaPipe HandPose in android. In android I use camera2 , I can't use cameraX because I want to run camera in background also which is not possible in camerax so I use camera2 api. Android doesn't RGB output from camera device Android only garentees YUV

[2021-09-03 04:26] sgowroji commented on #2496
Hi @Vignesh1-art, Could you please elaborate your usecase with more details . Thanks!

[2021-09-03 04:42] Vignesh1-art commented on #2496
done

[2021-09-03 05:26] sgowroji commented on #2495
Hi @devewok, Could you please check whether the imports are loaded appropriately. Thanks!

[2021-09-03 05:29] sgowroji commented on #2469
Hi @thomhut, Could you please have a look at this https://github.com/google/mediapipe/issues/2189#issuecomment-880112598. Which address your query. Thanks!

[2021-09-03 05:46] zwfcrazy opened #2497 "Is it normal that mediapipe Pose tracking produce different results on different devices?"
**System information** (Please provide as much relevant information as possible)
Various devices and systems.

**Describe the expected behavior:**
We have tried to run mediapipe pose tracking on a variety of devices including Windows laptops, Ubuntu servers, Nvidia Jetson, and Android mobile phones. All of them produced different results (noticeable landmark difference) for the same input video.
I

[2021-09-03 06:31] sgowroji commented on #2497
Hi @zwfcrazy, We are glad to know you are using MediaPipe in different platforms. Could you please provide your observation and video which is tested for all the platforms to verify and investigate it at our end. Thanks!

[2021-09-03 07:35] wingdi opened #2498 "No registered object with name: PoseRendererGpu; Unable to find Calculator "PoseRendererGpu""
When i use mediapipe_holistic_tracking.aar in my android project, I get this Error:
`No registered object with name: PoseRendererGpu; Unable to find Calculator "PoseRendererGpu"`

mediapipe v0.8.7
build env : macOS 10.15.7

Here is my steps:
#### 1.   build mediapipe_holistic_tracking.aar
- WORKSPACE file: I use mediapipe-master/WORKSPACE,  and i deleted ios reference content , and edit sdk/ndk va

[2021-09-03 07:43] sgowroji commented on #2498
Hi @wingdi , Could  you please find the duplicate issue https://github.com/google/mediapipe/issues/1994#issuecomment-892270523

[2021-09-03 07:56] wingdi commented on #2498
Yes, i have read that comment before, that not solve my problem.   I build gpu verison , not cpu verison

[2021-09-03 08:13] Shubham-Pachade commented on #1599
@vderelle  @jiuqiant I am getting following error in makefile for the pthread solution

`pthread_shim.c:110:6: error: conflicting types for 'pthread_setname_np'
 int pthread_setname_np(pthread_t thread, const char* name) {
     ^
/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include/pthread.h:510:5: note: previous declaration is here
int     pthread_setname_np(const char*);
        ^
`

[2021-09-03 08:31] zwfcrazy commented on #2497
Please find some of our observations from the following link:
https://drive.google.com/drive/folders/1KRdN-uCRVKUE6WT1pOf0id-PXsv5geyJ?usp=sharing
The test video is also included, though we believe this problem is not video-specific, you can test with any video.

[2021-09-03 09:06] Asssssert commented on #2484
@caiyc2000
I have searched for a long time and finally found a way to do it. You can refer to the following page on how to start cameraX in service.  https://stackoverflow.com/questions/60630164/camerax-run-in-service-how-to-get-lifecycleowner-or-run-without-it-inside-a-fo  Also, I would like to ask if you know how to make the image appear without the data of the added coordinates, and how to make

[2021-09-03 12:20] sgowroji commented on #2470
@APeiZou we don't provide any AAR. You can try creating using our [documentation](https://google.github.io/mediapipe/getting_started/android_archive_library.html). Reach us if you still have any queries.

[2021-09-03 13:43] henrypowell87 opened #2499 "Accessing outputs (joint landmarks) for Coral Accelerator mediapipe demo using Bazel"
I'm trying to run mediapipe on a raspi4 with a Coral accelerator for a task involving hand gesture recognition. I have a working module that runs medipipe but without Coral TPU acceleration. I also have a version of mediapipe built with Bazel that does run on the TPU but can only be run in Bazel. I'm trying to locate the (or any) python code that shows plainly how to either output the joint positi

[2021-09-03 15:07] chan27-2 opened #2500 "Mediapipe Blazepose Not working in Hosted React site"
**I am using Mediapipe Blazepose for detecting pose, it works fine when I run it locally but doesn't work when hosted in AWS ec2 instance**

Attaching the screenshot of the error.
![Screenshot 2021-09-03 at 8 34 38 PM](https://user-images.githubusercontent.com/63861979/132027076-5d07de9a-6829-4c0c-a22d-2b063f564642.jpg)

### These are the list of warnings I get from blazepose

[code]

[2021-09-03 17:24] devewok commented on #2495
i checked the imports and i changed it to import {Hands} from "@mediapipe/hands/hands.js";
import {Camera} from "@mediapipe/camera_utils/camera_utils.js"; but that doesnt worked.
I removed those librarys and i installed @tensorflow-models/handpose and that works fine.

[2021-09-03 19:23] johncblacker opened #2501 "SUPPORT MEDIAPIPE BUILD PROCESS ON RASPBERRY PI 3 AND 4"
<em>Please make sure that this is a feature request.</em>
<em> SUPPORT MEDIAPIPE BUILD PROCESS ON RASPBERRY PI 3 AND 4.</em>
**System information** (Please provide as much relevant information as possible)
Raspberry Pi 3b+
- MediaPipe Solution (you are using):
- latest sources
- Programming language : C++/typescript/Python/Objective C/Android Java
- Python
- Are you willing to contribute it (Yes/N

[2021-09-03 19:26] johncblacker commented on #1437
I opened a feature request to officially support building mediapipe on raspberry pi 3 and 4

[2021-09-03 21:35] KabLov92 commented on #724
Just in case someone is trying these fixes but still has issues, please check all these:
echo %ANDROID_HOME%
echo %ANDROID_NDK_HOME%
echo %JAVA_HOME%
and check that the opencv build path in your WORKSPACE file is correct

[2021-09-03 23:51] #1412 closed

[2021-09-05 08:41] arijith96 opened #2502 "KNIFT ImageTransformationCalculator Output Image"
## URL(s) with the issue:

https://github.com/google/mediapipe/blob/6abec128edd6d037e1a988605a59957c22f1e967/mediapipe/graphs/template_matching/template_matching_mobile_cpu.pbtxt#L28

https://github.com/google/mediapipe/blob/6abec128edd6d037e1a988605a59957c22f1e967/mediapipe/graphs/template_matching/template_matching_mobile_cpu.pbtxt#L35

## Description of issue (what needs changing):

As stated i

[2021-09-05 14:10] OlegQm commented on #2448
If you have problems with FACE_CONTOURS also try FACEMESH_CONTOURS

[2021-09-05 14:44] wingdi commented on #2494
@mcclanahoochie  I need help, genius, please

[2021-09-06 03:24] jianinz commented on #2465
Hi @ivan-grishchenko @sgowroji , do you have time to look at this issue in any possible way? thanks!

[2021-09-06 04:51] sgowroji commented on #2500
Hi @chan27-2, Could you please post your code changes to understand/investigate the issue further. Thanks!

[2021-09-06 04:59] sgowroji commented on #2499
Hi @henrypowell87, What is the error you are facing when you are running on coral TPU acceleration?. And Which python code are you referring to run the above use case. Thanks!

[2021-09-06 05:41] sgowroji commented on #2484
@Asssssert May be you can create a new issue with your query as a feature request, As we don't have any such at present in our solutions. @caiyc2000 Hope you try the above use case with our latest android hands solution. Please reach us back if you still have any queries regarding the above. We are closing this issue now. Thanks!

[2021-09-06 05:41] #2484 closed

[2021-09-06 06:04] Asssssert opened #2503 "How to make an image appear without adding coordinate data and how to make it mirror-flip"
How to make an image appear without adding coordinate data and how to make it mirror-flip

[2021-09-06 06:15] sgowroji commented on #2503
Hi @Asssssert, Thank you for sharing your query. Could you please elaborate your query with complete details like, Which platform, Solution are you referring the above with use case details. Thanks!

[2021-09-06 06:22] #2503 closed

[2021-09-06 06:27] Asssssert opened #2504 "How to make an image appear without adding coordinate data and how to make it mirror-flip"
I need to display the images without the coordinate points marked instead of the ones with the points added, and rotate them

[2021-09-06 06:28] sgowroji commented on #2466
@APeiZou: We have not tested the above use case. May be  you can try by checking the above with your observations. By the way, we have provided the Gradle solutions which will be use full to the community. Thanks!

[2021-09-06 06:28] #2466 closed

[2021-09-06 06:51] sgowroji commented on #2477
@arijith96, We will let you know ETA soon. Thank you for the reply.

[2021-09-06 06:51] #2477 closed

[2021-09-06 06:55] sgowroji commented on #2504
Hi @Asssssert, Can you elaborate your use case with more details. Thanks!

[2021-09-06 07:09] Asssssert commented on #2504
Hi @sgowroji,
I need to display the original image of the camera and be able to get the coordinate data via the "PacketCallback" method, instead of displaying the image data with the coordinates already marked. And I need to freely rotate the image angle

[2021-09-06 07:12] sgowroji commented on #2504
Thank you for the reply. So which MediPipe solution are you referring the above ( facemesh, hands or pose ).

[2021-09-06 07:13] Asssssert commented on #2504
It's mostly poses, but I think this should be a public API

[2021-09-06 07:30] chan27-2 commented on #2500
[code]

[2021-09-06 08:13] ibrandiay opened #2505 "USE MOBILENET-SSDLITE ON TRACKING"
Hello, I want to use tracking to follow boxes. Can I use an ssdlite model without having to write my own c ++ wrapper?

[2021-09-06 08:40] sgowroji commented on #2505
Hi @ibrandiay, Could you please elaborate your request with complete details. Thanks!

[2021-09-06 09:37] adamanov commented on #1325
for **Ubuntu 18**
you have to just upgrade your pip with the following command

`python -m pip install --upgrade pip`
`pip install mediapipe`

[2021-09-06 10:33] ibrandiay commented on #2505
I want to use mediapipe box tacking with my own mobilenet ssdlite model for object detection. I want to know if the calculator given as an example on mediapipe will suffer me to make the inference, or that I should write my own c ++ wrapper for it?

[2021-09-06 10:46] AmitMY opened #2506 "Run Holistic in a Web Worker"
**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): **Yes**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): **Chrome**
- [MediaPipe version](https://github.com/google/mediapipe/releases): **^0.4.1628005088**
- Solution (e.g. FaceMesh, Pose,

[2021-09-06 10:47] AmitMY commented on #1918
Loading holistic in a web worker does not hang the browser, however, has other issues at the moment
https://github.com/google/mediapipe/issues/2506

[2021-09-06 10:48] loicosquare commented on #2448
this work for me thanks.

[2021-09-06 13:57] tommypham opened #2507 "Performance when using iOS dynamic framework of HandTrackingGpuApp is slower than using it directly"
When using HandTrackingGpuApp iOS app directly to track the finger moving , I saw it quite good and smooth like this video: [https://youtu.be/mIpa__UVXsk](https://youtu.be/mIpa__UVXsk)
But after converting HandTrackingGpuApp app to dynamic framework, the performance 's slower like this video: [https://www.youtube.com/watch?v=Hnng4ymm_6k](https://www.youtube.com/watch?v=Hnng4ymm_6k)

Can anyone hel

[2021-09-06 14:02] sek790c opened #2508 "Easy way to export framework of a module by xcode"
It is easy to build and run iOS examples by Xcode.
I want to use handtrackingGpu in my app, I like to export this module as a framework instead of HandTrackingGpuApp.app,so I can import it to my Xcode project as a framework.
Is there a easy way?Or I can import Mediapipe iOS project by workspace?Or I had to add all files to my project by hand?

[2021-09-06 14:24] vpenades opened #2509 "Provide static library binaries on releases."
<em>Please make sure that this is a feature request.</em>

**System information** (Please provide as much relevant information as possible)

- MediaPipe Solution (you are using): lastest
- Programming language : C
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state:**

Could it be possible to include the compiled binaries on each release? right no

[2021-09-06 17:48] pranavpandey2511 commented on #877
Reopening issue. Any progress on this from anyone?

[2021-09-06 17:54] FUBAR2077 commented on #1369
Is https://github.com/homuler/MediaPipeUnityPlugin not officially supported?

[2021-09-06 18:32] prantoran commented on #877
I did setup WebAssembly compilation with the guidance from @tyrmullen.

I made changes all over the MediaPipe codebase, but the changes themselves are very simple. From the top of my head, the changes I remember:
-  add C++ macros to use Android specific code when I compiler is Emscripten while excluding anything does not work for android
- setup config_settings when the cpu target is emscripten_w

[2021-09-06 20:15] Randrita commented on #1894
@belelaritra thanks!

[2021-09-06 20:40] iagotomas opened #2510 "MediaPipe Javascript Pose throws RuntimeError: abort(undefined) after running for a while"
**System information**

- IPhone SE 2 iOS 14.7
- Google Chrome 92.0.4515.131 + Linux Ubuntu 20.04
- Programming Language and version ( e.g. C++, Python, Java): Javascript
- [MediaPipe version](https://github.com/google/mediapipe/releases): JS version 0.4.1630009814
-  Pose

**Describe the current behavior:**

After running and inferencing models for some minutes suddenly MediaPipe throws a Runtime

[2021-09-06 23:33] ablavatski commented on #2471
[Face Geometry API](mediapipe/modules/face_geometry/README.md) should help you with that however @kostyaby could suggest a better solutions since he is the main author of face estimation ML pipeline.

[2021-09-07 01:14] mhays-google commented on #2506
Hey Amit, I don't see anything wrong right off the bat. But the initiator for the requests to the data and wasm files is different than the js files.  `locateFile` actually takes two parameters.  Can you do me a favor and check to see if it's just giving you weird signatures (weirder than what you've posted already, that is)?

[code]

And good job with the `OffscreenCanvas`! We should be supportin

[2021-09-07 03:04] Monibsediqi commented on #2311
@jiuqiant Thank you for the answer. In fact, I'm working with the iris solution of the mediapipe for android. Is there any similar solution for the iris API in android?

[2021-09-07 03:05] MenThu commented on #364
@yuxiaohui78

[2021-09-07 03:55] APeiZou opened #2511 "How to download the tflite model file of blazepose？？"
How to download the tflite model file of blazepose？？
@google-admin

[2021-09-07 04:07] sgowroji commented on #2511
Hi @APeiZou, You will find it [here](https://google.github.io/mediapipe/solutions/models.html#pose)

[2021-09-07 04:07] #2511 closed

[2021-09-07 04:32] sgowroji commented on #2508
Hi @sek790c, This [link](https://stackoverflow.com/questions/51285220/converting-an-existing-project-into-customizable-framework) might be helpful to you.  Build an HandtrackingGPU from [here](https://google.github.io/mediapipe/getting_started/ios#mediapipe-on-ios)  and use the above steps.

[2021-09-07 04:45] sgowroji commented on #2507
Hi @tommypham, Could you please provide your code changes to understand and investigate the issue for further. Thanks!

[2021-09-07 04:52] sgowroji commented on #2510
Hi @iagotomas, Could you please perform the workaround mentioned in this https://github.com/google/mediapipe/issues/2432#issuecomment-901632553

[2021-09-07 05:12] akrutiJksol opened #2512 "Hairsegmentation"
How can i do hair segmentation in image instead of live camera in android hairsegmentation module using mobile_gpu.binarypb and hair_segmentation.tflite files..

[2021-09-07 05:48] Thaina commented on #1369
I think that was independent dev owned repo that not maintain by google isn't it?

[2021-09-07 06:41] sgowroji commented on #2512
Hi @akrutiJksol, Present we don't have standard examples on Hair_Segmentation. But you can try building an [android code ](https://google.github.io/mediapipe/getting_started/android) with bazel or With An [AAR](https://google.github.io/mediapipe/getting_started/android_archive_library.html#mediapipe-android-archive). Inputing an image is more a JAVA programming,  which you can start from [here](ht

[2021-09-07 06:41] #2512 closed

[2021-09-07 07:46] Ar4enal opened #2513 "How to get the visibility of pose landmarks?"
Android platform

When I am building holistic app I know I can use _landmark.getX()_ to get the landmark coordinates. But what is the function of getting visibility of the landmark?

thanks for replying.

_POSE_LANDMARKS
A list of pose landmarks. Each landmark consists of the following:

x and y: Landmark coordinates normalized to [0.0, 1.0] by the image width and height respectively.
z: Should be

[2021-09-07 07:56] iagotomas commented on #2510
Already tried cleaning up the cache but issue persists.

I forgot to mention I'm not using Codepen demo but our own solution which we built and pin to 0.4.1630009814, I can confirm that the assets are loading the right version and as pointed in #2432 it occurs intermitently. I left it open all night and didn't had an issue, and just reloaded and after a couple of min it gets stucked.

[2021-09-07 09:27] ZohrehKhosroebigi opened #2514 ""z" Normalisation"

[2021-09-07 09:32] ZohrehKhosroebigi commented on #2514
Hi,
I am using Mediapipe Face Mesh to compute the Euclidean distance of the points. I normalized the "x", "y" ratio width and height. But, I don't know how to normalize the "Z". The distance is different since the face is going backwards or forward. That's why I need to use "Z".
I would appreciate your response.

[2021-09-07 09:56] sgowroji commented on #2514
Hi @ZohrehKhosroebigi, This https://github.com/google/mediapipe/issues/742#issuecomment-639104199 guides you well. Thanks!

[2021-09-07 10:10] sgowroji commented on #2455
Hi @davitgoder, It seems it is not detecting the camera of your desktop.

[2021-09-07 10:30] deemonansh opened #2515 "Project opening error"

[2021-09-07 10:31] #2515 closed

[2021-09-07 10:31] sgowroji commented on #2515
Hi @deemonansh, Could you please provide the steps to reproduce the above error. Thanks!

[2021-09-07 11:51] ZohrehKhosroebigi commented on #2514
Thank you very much.

[2021-09-07 11:51] #1708 closed

[2021-09-07 11:51] #2445 closed

[2021-09-07 11:51] #1422 closed

[2021-09-07 11:51] #1922 closed

[2021-09-07 11:51] #1360 closed

[2021-09-07 11:51] #1875 closed

[2021-09-07 11:51] #2449 closed

[2021-09-07 12:34] #2514 closed

[2021-09-07 14:06] #1964 closed

[2021-09-07 14:06] #1914 closed

[2021-09-07 14:55] tommypham commented on #2507
Hi @sgowroji ,
I think I 've found the issue because of the thread to open camera and keep tracking the hands:
[code]
We can not interact as usual way during camera open. For ex: we can add a button to the view controller : HandTrackingViewController and touch the button to test.
When using the dynamic framework in my case to make OCR with tesseract (pod 'TesseractOCRiOS', '4.0.0') , the thread fo

[2021-09-07 17:00] sek790c commented on #2508
I found many issues of Mediapipe about createing framework by Xcode.Such as #364,#725,#1549,#2275
I think it is a good idea to publish an official document abou it.
Createing Framework is more useful than import projects by workspace, in my case ,I export a iOS Xcode project by Unity3d ,import a framework to it is a good way.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2021-09-07 17:36] jiuqiant commented on #2455
You can follow the object detection demo to take video as input.
See https://google.github.io/mediapipe/solutions/object_detection#video-file-input and
https://github.com/google/mediapipe/tree/master/mediapipe/examples/desktop/object_detection

[2021-09-07 18:20] tyrmullen commented on #2506
Just to chime in, reading video on the main thread and sending it over to the worker is definitely the right overall approach for now, although I had a few additional pointers:
- Since you're using Chrome, you can get much better performance by avoiding ImageData, as ImageData forces our data to be transferred on the CPU.  ImageBitmap should be used instead, so all resources stay on the GPU.

- Yo

[2021-09-07 20:29] vidheyoza opened #2516 "Migrating to Bazel v4.2.x"
<em>Please make sure that this is a feature request.</em>

**System information** (Please provide as much relevant information as possible)

- MediaPipe Solution (you are using): Iris Tracking, Face Tracking
- Programming language : Python/Java
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state:**

Since the launch of the M1 Mac machines, there h

[2021-09-07 21:51] khazamaa opened #2517 "Docker Installation Mediapipe."
I was following the documentation given here: https://google.github.io/mediapipe/getting_started/install.html#installing-using-docker

## Description of issue:
In the docker installation step the last line is
[code]
I ran this command and i got the results as given in the documentation.
Since, i'm new to android can anyone tell me where the apk that was made is now?
I'm also not able to install ad

[2021-09-08 04:20] arianatri commented on #2446
@jiuqiant @sgowroji any progress yet?

[2021-09-08 04:28] sgowroji commented on #2517
Hi @khazamaa, you will find the apk at this path
`
bazel-bin/mediapipe/examples/android/src/java/com/google/mediapipe/apps/objectdetectiongpu/objectdetectiongpu.apk
`
As logs printed in your console.

[2021-09-08 05:27] sgowroji commented on #2482
Hi @orf, Did you get a chance to pull the latest version as mentioned in the above [comment](https://github.com/google/mediapipe/issues/2482#issuecomment-911855276). Thanks!

[2021-09-08 05:32] sgowroji commented on #2172
Hi @HaoyuWang00, You can try the workaround mentioned in the above [comment](https://github.com/google/mediapipe/issues/2172#issuecomment-900161133). Thanks!

[2021-09-08 05:34] #2029 closed

[2021-09-08 06:17] zwfcrazy commented on #2497
@sgowroji
I have located two problems that may cause the difference. (but there are other problems to be located)

[2021-09-08 06:32] zwfcrazy commented on #2497
@sgowroji
I have located two problems that may cause the difference. (but there are other problems to be located)

The first problem.
The LandmarksSmoothingCalculator requires packet timestamp as input in order to calculate some filtering parameters. Because different devices have different processing power, the frame rate of processing may be different, causing a different filtering result.
The p

[2021-09-08 07:27] RTCFoundation opened #2518 "run AudioDecoderCalculator error"
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):
CentOS release 6.3
- Programming Language and version
 C++
- [MediaPipe version]
0.6.8

I write a test based on AudioDecoderCalculator, And I expect it can run the process func of calculator serveral times.
But It happens errors, can u give me some help
the demo code is :
`::mediapipe::Status DecodeTest() {
  // Confi

[2021-09-08 07:45] DLGL99GL commented on #877
Hello, may I ask if the running environment of your project seems to be under Linux? What other software, such as Bazel, Emscritpen，need to be installed?  What versions are they?

[2021-09-08 08:24] sgowroji commented on #2518
Hi @RTCFoundation, Could you please provide the steps to reproduce the above error. Thanks!

[2021-09-08 08:27] sgowroji commented on #1562
Glad to know you resolved with your above comment. We are closing this issue. Please feel free to reopen the issue if it still exists. Thanks!

[2021-09-08 08:27] #1562 closed

[2021-09-08 08:30] sgowroji commented on #1628
Hi @realapril, We are not able to reproduce the issue at our end. Could you please  try the above with latest MediaPipe build and if you still see the error, then provide the  steps to reproduce the above error. Thanks!

[2021-09-08 08:35] prantoran commented on #877
I ran in Ubuntu 20.04, Bazel version 4.2.0, and installed OpenCV using the MediaPipe scripts.

I setup Emscripten in Bazel using the instructions here: https://github.com/emscripten-core/emsdk/tree/main/bazel

[2021-09-08 09:30] henrypowell87 commented on #2499
Hi @sgowroji. No error specifically as the TPU acceleration works with the bazel build of mediapipes hand tracking module found in mediapipe/examples/desktop/hand_tracking. The issue is getting a module that I have previously built to work with the TPU. This module runs mediapipes handtracking libraries but only on CPU. So the issue I'm having is how to bridge these two. It seems like mediapipe wi

[2021-09-08 09:34] #2110 closed

[2021-09-08 10:34] #2096 closed

[2021-09-08 11:26] tomleader opened #2519 "Build simple demo error : opencv2 deps not found"
**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): Mac OS Big Sur 11.4 (with M1 cpu)
- Compiler version (e.g. gcc/g++ 8 /Apple clang version 12.0.0): clang-1205.0.22.11
- Programming Language and version ( e.g. C++ 14, Python 3.6, Java ): C++
- Installed using virtualenv? pip? Conda? (if p

[2021-09-08 12:09] Parth-Shah-Tool-Kit commented on #970
Hi I am facing a similar issue can you pls help..
In one program..

I have these includes..

#include "opencv2\face\facerec.hpp"
#include "opencv2\face.hpp"
#include "opencv2\optflow.hpp"

and these are said as not found.. can you pls help.. i have installed opencv3.1.0 so that i dont face this but am still having this issue.

thank you..

[2021-09-08 12:22] sgowroji commented on #2519
Hi @tomleader, Could you point us which  steps from this link https://google.github.io/mediapipe/getting_started/install.html#installing-on-macos encountered the error. Did you try checking with upgrading your opencv and verify the above. Thanks!

[2021-09-08 12:23] sgowroji commented on #2519
Try checking this command https://github.com/google/mediapipe/issues/970#issuecomment-667219458

[2021-09-08 12:55] tomleader commented on #2519
I did follow the install guid and the install process is OK. The hello-world demo is OK.
I had only one opencv version(opencv@3) installed, since the upper comment also mention that 'mediapipe recommends opencv3' , so I think I should not upgrade the opencv now.

[2021-09-08 13:23] tomleader commented on #2519
And I make a simple cpp file to test if my env is right.
test.cpp:
[code]
then run:
[code]
And  no error occur!
So I think  my env is ok( since the cpp include CAN search the right place)
But the mediapipe demo build still cause error 'opencv2/core/version.hpp' file not found

[2021-09-08 15:10] JaeHeee commented on #1401
@AryanSethi

I hope this helps :)
https://github.com/JaeHeee/FlutterWithMediaPipe

[2021-09-08 16:05] abedicodes opened #2520 "Locations of 468-d face mesh"
How can I find the corresponding locations of 468-d face mesh on the face? e.g., (x, y, z)_1 is on the nose, (x, y, z)_400 is on the left ear, etc.

[2021-09-08 16:07] abedicodes opened #2521 "Using a simplified model for face mesh"
Is there any way to load and use a simpler model for face mesh? e.g., the model extracts 100-d face mesh from each frame instead of 468-d face mesh?

[2021-09-08 16:11] jiuqiant commented on #1880
I believe you need to do
[code]

[2021-09-08 16:12] abedicodes opened #2522 "A mediapipe model to extract head pose features (yaw, pitch, roll)"
Is there any mediapipe model to extract head pose (yaw, pitch, roll) features? Or is there any way to estimate head pose features from face mesh features?

[2021-09-08 17:55] tyrmullen commented on #2485
The MediaPipe JS API takes an HTMLVideoElement reference-- so once you start your video playing (let's say the reference in JavaScript is "myVideo"), you can just keep passing that reference to the API every frame: `await pose.send({image: myVideo});`. You should not need any of the extra code added in your example.

As for playing a video element in JS, there are numerous online tutorials for thi

[2021-09-08 17:55] #2485 closed

[2021-09-08 18:20] AryanSethi commented on #1401
@JaeHeee my goodness, route to heaven.
Thanks alot !!

[2021-09-09 03:25] MikeDean2367 opened #2523 "Is there any detail on the network structure of the Pose_Detector"
I am an undergraduate student. When studying BlazePose, I found that the paper only provided the network structure diagram of Tracker, but not that of Detector. In addition, it is mentioned in the paper that the head detection is carried out first, and then Pose_Detector is carried out. So I would like to know more details about Pose_Detector. I would really appreciate it if you could help me. Tha

[2021-09-09 04:15] sinoboy168 opened #2524 "Pose and Holistic cannot work on picture with more than one person?"
It seems not work. Or what's wrong?

[2021-09-09 05:52] sgowroji commented on #2520
Hi @abedicodes, You can find the coordinates on face mesh in this [image](https://raw.githubusercontent.com/google/mediapipe/master/mediapipe/modules/face_geometry/data/canonical_face_model_uv_visualization.png).

[2021-09-09 05:55] sgowroji commented on #2521
Hi @abedicodes, Could you please elaborate with more specific details. May be you can try understanding the model from [here](https://google.github.io/mediapipe/solutions/face_mesh) And choose the platform in which you are familiar and draw the mesh with limited coordinates.

[2021-09-09 05:57] sgowroji commented on #2522
Hi @abedicodes, There are lot you can try with [Gace Geometry API  ](https://google.github.io/mediapipe/solutions/face_mesh.html#face-geometry-module). Please have a look at our documentation and reach us back if you still have any specific queries w.r.t to it. Thanks!

[2021-09-09 06:04] sgowroji commented on #2524
Hi @sinoboy168, Could you please provide the steps to reproduce the above issue. Thanks!

[2021-09-09 06:08] MikeDean2367 commented on #2523
Thank you for your reply. I will try these suggestions. 🤗

[2021-09-09 07:34] MahtabDahaghin commented on #1162
any update? I have to use mediapipe in a C++ project, for my master thesis. Any leads would be helpful.

[2021-09-09 07:36] sinoboy168 commented on #2524
![annotated_image0](https://user-images.githubusercontent.com/41009721/132642593-904b91c7-4a92-4179-91d2-7c39429b9f46.png)
![annotated_image1](https://user-images.githubusercontent.com/41009721/132642601-fb42bd2d-6873-4e4e-8842-8d8d812ab652.png)
Hello, thanks for you reply.
I use the demo code for holistic with python for static pictures. It seems work well on single man pictures, while failed in

[2021-09-09 07:40] FabianWildgrube commented on #1162
If your project is a standalone and does not need to be integrated into an existing C++ project that uses MSVC (and thus Visual Studio), you could use a dockerized setup to still run it on windows. I did that in this project: https://github.com/FabianWildgrube/PupilSizeTracker. Maybe that helps.

As for integration with a Visual C++ project I've had no luck, though.

[2021-09-09 07:47] MahtabDahaghin commented on #1162
I have to integrate mediapipe to an existing C++ project in Qt.

[2021-09-09 11:45] willstott101 commented on #1162
You basically need to add a target like this one: https://github.com/willstott101/meta-mediapipe/blob/master/recipes-framework/mediapipe/files/0002-Build-library.patch then copy all the headers from bazel's working directories and try linking to it.

If you're already linking to any of the libs that mediapipe uses you may have trouble - you'll need to make link to those.

FYI this is for a dynamic

[2021-09-09 12:25] IsaacCavalcante commented on #2507
Hi @tommypham. Can you provide the BUILD file you used to build the dynamic framework?

[2021-09-09 12:52] IsaacCavalcante opened #2525 "How to configure the bazel BUILD file to create a dynamic framework for face detection cpu for iOS?"
**System information**
- OS Platform and Distribution (iOS 12.0):
- Programming Language and version (Swift 5.0):
- [MediaPipe version](https://github.com/google/mediapipe/releases): v0.8.7.1
- Bazel version: 4.2.1
- XCode and Tulsi versions (if iOS): XCode 12.5.1/ Tulsi 0.20210318.88

I already got to build FaceDetectionCpu App example for iOS, but I cant to configure the same BUILD file to creat

[2021-09-09 13:18] badlogic opened #2526 "Surface MediaPipe Iris model for the web"
**System information** (Please provide as much relevant information as possible)

- MediaPipe Solution (you are using): MediaPipe Face Mesh JavaScript
- Programming language : Typescript
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state:**
I'm currently using the MediaPipe Face Mesh JavaScript API for a web-based virtual puppeteering applicatio

[2021-09-09 13:34] abedicodes commented on #2520
Thank you for your answer. Do you know how I can find [facial action units](https://imotions.com/blog/facial-action-coding-system/) from this face mesh?

[2021-09-09 14:02] MenThu commented on #364
@yuxiaohui78
Hi, yuxiaohui, I'm also trying to compile posetracking's framework, but I've encountered several problems, since our goals are the same, I hope you can help solve them. thank you

my bazel version is 3.7.2
my BUILD content is
`MIN_IOS_VERSION = "10.0"

BUNDLE_ID_PREFIX = "org.douyu.vtuber.mediapipe"

load(
    "@build_bazel_rules_apple//apple:ios.bzl",
    "ios_framework",
)

FRAMEWOR

[2021-09-09 14:03] MenThu commented on #364
@yuxiaohui78

Hi, yuxiaohui, I'm also trying to compile posetracking's framework, but I've encountered several problems, since our goals are the same, I hope you can help solve them. thank you

my bazel version is 3.7.2
my BUILD content is
`'MIN_IOS_VERSION = "10.0"

BUNDLE_ID_PREFIX = "org.douyu.vtuber.mediapipe"

load(
"@build_bazel_rules_apple//apple:ios.bzl",
"ios_framework",
)

FRAMEWORK_HEAD

[2021-09-09 14:03] MenThu commented on #364
@yuxiaohui78

Hi, yuxiaohui, I'm also trying to compile posetracking's framework, but I've encountered several problems, since our goals are the same, I hope you can help solve them. thank you

my bazel version is 3.7.2
my BUILD content is
`'MIN_IOS_VERSION = "10.0"

BUNDLE_ID_PREFIX = "org.douyu.vtuber.mediapipe"

load(
"@build_bazel_rules_apple//apple:ios.bzl",
"ios_framework",
)

FRAMEWORK_HEAD

[2021-09-09 14:48] maletsden commented on #1162
Hi, check my PR with an example of creating a FaceMesh Windows DLL example - [Face mesh Windows DLL desktop example](https://github.com/maletsden/mediapipe/pull/1). This example generates standalone .dll that, If further used in my other Visual Studio Project, by simply loading DLL at runtime from C++ (on Windows - [Run-Time Dynamic Linking](https://docs.microsoft.com/en-us/windows/win32/dlls/usin

[2021-09-09 15:40] AmitMY commented on #2506
@mhays-google Here is the console output for `path` and `base`:

![image](https://user-images.githubusercontent.com/5757359/132715850-cf6cde6d-0d08-4275-9869-fffee1a0cc76.png)

@tyrmullen Thanks, I am now doing `const bitmap = await createImageBitmap(video);` and passing that to the worker.
I could either draw it on an `OffscreenCanvas` or just pass it directly to Holistic, however, both are not c

[2021-09-09 15:42] yuxiaohui78 commented on #364
@MenThu
This is my BUILD file and the other related files. You can check to see if it can help you.
[posetracking_framework.zip](https://github.com/google/mediapipe/files/7137911/posetracking_framework.zip)

[2021-09-09 16:25] HieuNT1998 opened #2527 "Error while building graph of mediapipe"
I am integrating mediapipe facedetection into an exist android project. I followed guideline on the medipipe tutorial page.
https://google.github.io/mediapipe/getting_started/android_archive_library.html

I built the aar library but having problems when building face detection graph.
There was no error during the build process. However, when integrated into Android, the app is killed after startin

[2021-09-09 17:57] mhays-google commented on #1606
I have just pushed a new version of camera_utils that includes a stop()
method.

On Thu, Sep 2, 2021 at 6:36 PM Ilmārs Poikāns ***@***.***>
wrote:

[2021-09-09 18:06] yegenzhi commented on #2502
the FILL_AND_CROP option will make sure that the longer side of the image is scaled to 640, no matter if that is a horizontal or vertical image. we will change comment accordingly.

[2021-09-09 19:45] jedell commented on #467
Can you elaborate on how this can be done specifically for autoflip?

[2021-09-09 21:37] H4ckerman666 commented on #1928
It no longer has the same functions, they have been updated, please, check the example on the mediapipe page

[2021-09-10 01:51] Matokosp commented on #1107
The demo on codepen is running on Safari, Mozilla and Chrome on my iPhone, but I can't make it work with my code. Is there something about the permissions that prevents media pipe from rendering the video ?

[2021-09-10 03:01] caspar-goeke opened #2528 "WebGL in webworker using Googles facemesh/mediapipe with WebGL backend and Offscreen canvas is broken in Chrome 93"
**System information** (Please provide as much relevant information as possible)
-  Custom script running https://github.com/tensorflow/tfjs-models/tree/master/face-landmarks-detection with WebGL backend on a webworker
- Issue is happning since Chrome 93. Work working within in 92 and below
- Programming Language and version ( e.g. C++, Python, Java):
- @tensorflow-models/face-landmarks-detection

[2021-09-10 03:16] tomleader commented on #2324
@JacobMuchow I had met the same problem...I try to modify the --cpu option to darwin/darwin_x86_64 but still same error occur

[2021-09-10 03:34] sensen1010 opened #2529 "Modify utilize_ Visibility: false, the tracking point still exists after compilation"
By modifying mediapipe/mediapipe/graphs/pose_tracking/subgraphs/pose_renderer_gpu.pbtxt.
Modify node information,utilize_visibility: false
After compilation, it is found that punctuation still exists in the video
Where do I need to modify to remove the tracking point？

node {
  calculator: "LandmarksToRenderDataCalculator"
  input_stream: "NORM_LANDMARKS:pose_landmarks"
  input_stream: "RENDER_SCA

[2021-09-10 04:46] sgowroji commented on #2527
Hi @HieuNT1998, Can you try checking the workarounds mentioned in this https://github.com/google/mediapipe/issues/1407

[2021-09-10 05:05] sgowroji commented on #2525
Hi @IsaacCavalcante, You may refer this issues for the above #364,#725,#1549,#2275. Thanks!

[2021-09-10 05:06] sgowroji commented on #2508
Thank you for your request. I will mark this issue as a feature request and share it to the right owner.

[2021-09-10 05:15] sgowroji commented on #2528
Hi @caspar-goeke, Could you please verify issue is  possible duplicate https://github.com/google/mediapipe/issues/2506

[2021-09-10 05:26] homuler commented on #1617
I think I've probably identified the cause.
Instant Motion Tracking uses a structure called [`Anchor`](https://github.com/google/mediapipe/blob/6abec128edd6d037e1a988605a59957c22f1e967/mediapipe/graphs/instant_motion_tracking/calculators/transformations.h#L32-L38) internally, but `Anchor` is also defined [here](https://github.com/google/mediapipe/blob/6abec128edd6d037e1a988605a59957c22f1e967/media

[2021-09-10 06:34] #2468 closed

[2021-09-10 09:54] sgowroji commented on #2502
Hi @arijith96, Please go through the above [comments](https://github.com/google/mediapipe/issues/2502#issuecomment-916321958). We will update you with the latest comments very soon. Thanks!

[2021-09-10 09:54] #2502 closed

[2021-09-10 09:56] arijith96 commented on #2502
Hey @yegenzhi @sgowroji,
Thanks for clearing that up :)

[2021-09-10 12:28] rahulsuxsena1 opened #2531 "How to change rgb values in realtime in desktop built hair segmentation program"
please help in letting me know: How to change in realtime the rgb values of the graph in hair segmentation Desktop program while running.
Thanks

[2021-09-10 12:34] #2470 closed

[2021-09-10 12:53] tomleader commented on #2519
Updated:(xx hours pass)
I try to make a soft link from opencv2 folder to /usr/local/include and the opencv2 not found error had gone...
[code]
Anyone who met this error DO NOT copy the command directly.. try to understand the g++ include path first!

But then I met a new error:

[code]

I'm trying to fix...ing

[2021-09-10 13:21] tommypham commented on #2507
I copied the way to build iOS dynamic framework from here: [https://github.com/google/mediapipe/issues/364#issuecomment-575921420](https://github.com/google/mediapipe/issues/364#issuecomment-575921420)
and changed a little bit the Makefile:
[code]
in /mediapipe/develop , I changed the BUILD like this:
[code]
Final step, I ran command line in the same folder of Makefile : `make`  to build the frame

[2021-09-10 15:59] jianingwei commented on #1617
Thank you for finding the cause and sharing it for the community!

[2021-09-10 20:47] brianknauss opened #2532 "GLOG_logtostderr=1 : permission error"
I am attempting to use an input video for the holistic example using the following command:

`GLOG_logtostderr=1 bazel-mediapipe/mediapipe/examples/desktop/holistic_tracking \
    --calculator_graph_config_file=mediapipe/graphs/hand_tracking/hand_tracking_desktop_live.pbtxt \
    --input_video_path=/path/to/input.mp4 \
    --output_video_path=/path/to/output.mp4`

When I run the command with corre

[2021-09-10 21:34] kenrussell commented on #2528
Could you please attach the contents of Chrome's about:gpu page ("Copy report to clipboard" / paste) as a text file here?

[2021-09-10 23:28] rthadur commented on #697
Thank you

[2021-09-11 02:53] wingdi commented on #2494
I have test this problem  through put per frame of the video into graph.  this way can get all frames landmark. maybe  it's the flow of control's problem.  So i close this issue now.

[2021-09-11 02:53] #2494 closed

[2021-09-11 03:52] APeiZou opened #2533 "When will movenet's model join mediapipe's solution ?"
When will movenet's model join mediapipe's solution ?@google-admin

[2021-09-11 08:27] InvisibleLeVen opened #2534 "Pose landmarks： How to set MIN_DETECTION_CONFIDENCE and MIN_TRACKING_CONFIDENCE？"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):Windows10
- [MediaPi

[2021-09-11 13:13] homuler opened #2535 "Why the ObjectronGpuSubgraph's input image is assumed to have aspect ratio 3:4?"
I'm not sure if this is the right place to ask this, but I have a question.

Objectron internally requires the aspect ratio of the input image to be 3:4.
https://github.com/google/mediapipe/blob/6abec128edd6d037e1a988605a59957c22f1e967/mediapipe/graphs/object_detection_3d/object_occlusion_tracking.pbtxt#L52-L58
https://github.com/google/mediapipe/blob/6abec128edd6d037e1a988605a59957c22f1e967/media

[2021-09-11 13:19] jadams777 opened #2536 "iOS 15 has WebGL 2 support activated by default, so please use GPU side ML in MediaPipe JS solutions on iOS, e.g. Pose"
iOS 15 has WebGL 2 support activated by default, so please use GPU side ML in MediaPipe JS solutions on iOS, e.g. Pose

![FE28B72F-4109-4F56-89FD-F118B12D729D](https://user-images.githubusercontent.com/71771407/132949004-625533cb-b4b4-412c-9b85-9926da42bb28.png)

[2021-09-11 13:25] jadams777 commented on #2536
![Uploading 078DCAC5-B1E7-415F-A7C2-B0F76D7EA38B.png…]()

[2021-09-11 13:26] jadams777 commented on #2536
![51037808-4CDB-4C07-960F-CB553A5038A0](https://user-images.githubusercontent.com/71771407/132949396-ec50b895-332c-475b-9fc3-77d9e1136bfe.png)

[2021-09-11 19:00] gh279760559 commented on #1325
Guys, python version does not matter too much. Check @adamanov comments. If you upgrade your pip version it should be fine. Thanks Adam

[2021-09-12 09:51] SteveGremory commented on #732
yes, same

[2021-09-12 13:36] kunalchamoli commented on #1836
@yogeshsangtani  what value of converted _converterNumBuffers_ you used ?

[2021-09-12 13:58] khanhnd0408 commented on #1470
Hello, have you solve this?
I'm facing same problem with "return result;" in image_to_tensor_converter_gl_buffer.cc

[2021-09-12 14:56] khanhnd0408 commented on #1673
Hi, I'm trying to compile face mesh with GPU support. For "return tensor;", I'm replacing the code as you say, and this is perfect working but after that, the compiler through this error:

`Use --sandbox_debug to see verbose messages from the sandbox
mediapipe/calculators/tensor/image_to_tensor_converter_gl_buffer.cc: In function 'absl::lts_2020_09_23::StatusOr<std::unique_ptr<mediapipe::ImageToTe

[2021-09-12 14:57] khanhnd0408 commented on #1673
@sergweb
Hi, I'm trying to compile face mesh with GPU support. For "return tensor;", I'm replacing the code as you say, and this is perfect working but after that, the compiler through this error:

`Use --sandbox_debug to see verbose messages from the sandbox
mediapipe/calculators/tensor/image_to_tensor_converter_gl_buffer.cc: In function 'absl::lts_2020_09_23::StatusOr<std::unique_ptr<mediapipe::

[2021-09-12 15:18] sergweb commented on #1673
@khanhnd0408, let me check my code and get back to you.

[2021-09-12 15:58] sergweb commented on #1673
@khanhnd0408 , does your code in file mediapipe/calculators/tensor/image_to_tensor_converter_gl_buffer.cc, line 341 look like the following?

return std::unique_ptr<ImageToTensorConverter>(std::move(result));

[2021-09-12 16:28] khanhnd0408 commented on #1673
@sergweb
No, from the master branch, it just "return result;" directly. I have tried your suggestion and its works. Thank you so much for your reply.

[2021-09-12 21:03] Shubham77saini commented on #2319
Hello sir,  Can I take this issue

[2021-09-12 22:03] shivaprasadgh opened #2537 "displaying the skeletal structure"
This template is for miscellaneous issues not covered by the other issue categories

For questions on how to work with MediaPipe, or support for problems that are not verified bugs in MediaPipe, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/mediapipe) and [Slack](https://mediapipe.page.link/joinslack) communities.

If you are reporting a vulnerability, please use the [ded

[2021-09-13 01:30] kostyaby commented on #2471
Hey @showbit01,

As @ablavatski, [Face Geometry API] is indeed what can help for your use-case. MediaPipe JS API now provides this kind of support, please take a look:

- https://www.npmjs.com/package/@mediapipe/face_mesh
- https://www.jsdelivr.com/package/npm/@mediapipe/face_mesh
- [index.d.ts](https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh@0.4.1629159166/index.d.ts); what you are interested i

[2021-09-13 01:55] kostyaby commented on #2526
Hey @badlogic,

Thanks for reaching out! I see 2 separate problems mentioned in your request:

1. No MediaPipe Iris JS API
2. Existing MediaPipe Face Geometry JS API doesn't provide enough stability for deriving ARKit-like eye blendshapes

Regarding (1), I CC'ed @chuoling and @mhays-google for visibility of this request as well as maybe to comment on a timeline

Regarding (2), I can share that the

[2021-09-13 03:55] MenThu opened #2538 "Is there an option of SMOOTH_LANDMARKS on the iOS platform？"
I am experiencing the demo of posetrackingGPU（iPhoneX,iOS14.0.1）
i found that the landmarks of the posetracking are very jittery
I checked the [documentation](https://google.github.io/mediapipe/solutions/pose.html#smooth_landmarks) and found that smooth_landmarks is optional in the Python Solution API item
I want to know if there is a similar way to set it on the iOS platform?
thans you

[2021-09-13 04:03] sgowroji commented on #2531
Hi @rahulsuxsena1, You can try doing it using this issues https://github.com/google/mediapipe/issues/420, https://github.com/google/mediapipe/issues/18

[2021-09-13 04:14] sgowroji commented on #2532
Hi @brianknauss, I dont think its MediaPipe issue. You can go through this documentation which will help you [guide](https://softwaretested.com/mac/how-to-fix-permission-denied-in-terminal-mac/) to resolve the  permission error.

[2021-09-13 04:24] #2496 closed

[2021-09-13 04:38] sgowroji commented on #2533
Hi @APeiZou, We have[ Pose solution  ](https://google.github.io/mediapipe/solutions/pose) which you can refer for similar use case.  Could you please elaborate your request with complete details. Thanks!

[2021-09-13 04:42] sgowroji commented on #2534
Duplicate https://github.com/google/mediapipe/issues/2419. There is already an open issue assigned to our engineers.

[2021-09-13 04:42] #2534 closed

[2021-09-13 05:05] sgowroji commented on #2537
Hi @shivaprasadgh, You can try the  solutions mentioned in this https://github.com/google/mediapipe/issues/1743 for Hands solution graph.

[2021-09-13 05:22] #2414 closed

[2021-09-13 05:30] bengfarrell opened #2539 "NPM build vs CDN build"
**System information** (Please provide as much relevant information as possible)
- Programming Language and version: Javascript
- [MediaPipe version](https://github.com/google/mediapipe/releases): 0.4

**Describe the problem**:

I'm still working out how best to get this working with ES modules, so I can't describe the full context of my installation yet, but I encountered a very specific problem.

[2021-09-13 05:35] #2479 closed

[2021-09-13 05:35] #2480 closed

[2021-09-13 08:35] #2483 closed

[2021-09-13 10:18] sgowroji commented on #2529
Hi @sensen1010, Could you please elaborate your use case. What do you mean by removing the tracking points on the pose gpu rendered graph?

[2021-09-13 15:08] brianknauss commented on #2532
Thank you for confirming @sgowroji.  I'll close the ticket.

[2021-09-13 15:08] #2532 closed

[2021-09-13 18:41] lolz0r commented on #2248
@sgowroji I saw the same issue. It looks like the code on the [main site](https://google.github.io/mediapipe/solutions/face_detection.html) is out of date. When setting the model options it should actually match the codepen-demo code:
[code]

That being said, I could see the  CodePen code being hard to understand due to how the options are routed to the model.

[2021-09-13 18:51] tyrmullen commented on #2536
Leaving issue open, as this would be nice to have as the default behavior.  However, for now, the boolean option 'useCpuInference' can be used to control whether inference is CPU-based or GPU-based, so you can develop your own tests/overrides using this option.

[2021-09-13 18:52] ahmadyan commented on #2535
This is due to the combination of legacy code (backward compatibility) as well as device support in rendering.

Previously our single-stage models would pass the entire image to the model, and they required the image to be 3:4 aspect ratio (the same aspect ratio as our Objectron dataset). However, in the updated versions, we opted to use two stage detector and pass the crop to the model, so we don

[2021-09-13 18:55] tyrmullen commented on #2539
I'm not really involved with the setup/installation process, so passing off to someone who'd know better.

[2021-09-13 19:04] ahmadyan commented on #1998
@glnmzx888 The model for object detection is from Tensorflow Object Detection API, so you can ping them about the model card and more information.

 https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2.md

To answer your original question, it is not. The TF object detection API has a library of different models, the one linked above that Google Cloud uses is based o

[2021-09-13 20:15] tyrmullen commented on #1427
The team desired a specific form for the patch; I have now refactored everything accordingly and submitted the patch.  The next update to the selfie-segmentation JS Solution will contain the fix.  All other iOS Solutions will also have slightly altered behavior with their next updates, but the impact there will hopefully be minimal/negligible.

Also, it should be noted this issue was NOT iOS-speci

[2021-09-13 20:19] tyrmullen commented on #1427
On an unrelated note, @jadams777: do you mind trimming the console output from your last message a bit (or replacing it with a link)?  The length of the resulting post makes it difficult to scroll through the previous responses for full thread context.

[2021-09-13 20:24] tyrmullen commented on #1427
While our GPU ML does not run on iOS, so performance will be slower, I think with the next update, all MediaPipe CodePens should at least run on iOS Safari.  So closing out this bug as fixed.

[2021-09-13 20:24] #1427 closed

[2021-09-13 20:59] mhays-google commented on #2539
The closure that is loaded by including the script attaches the entries to the global object.  I can wrap this in an ES5 module.  Probably will at some point.

The short ask:

1) Check your network tab to make sure that both *_loader.js and *_wasm.js are loading.  Along with those should be the .data and .wasm files are loading.
2) Put a timeout somewhere and check to see if those files are actual

[2021-09-13 21:19] mhays-google commented on #2526
Hi!  We're planning on releasing Iris data points in both our face_mesh and holistic solutions around October.

[2021-09-13 21:33] bengfarrell commented on #2539
Hi, OK, so here's my test file:

`<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type=module>
        import { posedetection } from './libs/posedetection-bundle.js';
        const model = posedetection.SupportedModels.BlazePose;
        let detector = await posedetection.createDetector(model, {
            runtime: 'mediapipe',
            m

[2021-09-14 01:25] homuler commented on #2535
Thank you for explaining in detail!

[2021-09-14 01:25] #2535 closed

[2021-09-14 02:19] KlickYang opened #2540 "How to merge hand, face and pose landmark together in holistic？"
How to merge the hand, face and pose 3D landmark together in holistic?

[2021-09-14 03:14] sgowroji commented on #2540
Hi @KlickYang, Did you get a chance to go through our [documentation](https://google.github.io/mediapipe/solutions/holistic#overview). And can you elaborate your use case with complete details. Thanks!

[2021-09-14 03:42] #2523 closed

[2021-09-14 03:59] tomleader commented on #2519
Seems that the BUILD file maybe find the wrong config....
the libopencv*.so can not be found in the opencv install folder
the libopencv*.dylib can be found
So I think the build process somehow use the opencv_linux.BUILD but in fact my computer is macos,
then I modify the opencv_linux.BUILD, copy the opencv_macos.BUILD then replace the opencv_linux.BUILD content...
then I run the build again and th

[2021-09-14 04:11] sgowroji commented on #2519
Glad to know you resolved. And Thank you for updating your fix.

[2021-09-14 04:34] KlickYang commented on #2540
Hello@sgowroji, thanks for answer. I have converted the tflite models (such as facemesh, hand landmark, pose landmark, hand detection...) into tensorrt and  reimplemented the holistic pipeline based on tensorrt. Now I have got the face, pose and hand 3D landmarks seperatedly. I want to drive avatar using theses landmarks.  So I want to know how to merge the landmarks together? I didn't find the so

[2021-09-14 05:35] #2332 closed

[2021-09-14 05:35] #2475 closed

[2021-09-14 06:20] himabharathi opened #2541 "egl-bad-display error"
am getting com.google.mediapipe.apps.hands E/libEGL: validate_display:87 error 3008 (EGL_BAD_DISPLAY) error when i connected to my google pixel 2 phone .i want to display image on top of my hands image view... which is in canvas.. written in
drawLandmarksOnCanvas method after for loop.
   Bitmap ringIcon = BitmapFactory.decodeResource(getResources(),R.drawable.ring);
    canvas.drawBitmap( ringIco

[2021-09-14 06:26] sgowroji commented on #2541
Hi @himabharathi, Could you please elaborate your issue with complete details. Thanks!

[2021-09-14 06:29] himabharathi commented on #2541
am working on mediapipe library which shows user hand on camera. am trying to add image on canvas , so that it will show up on my hand..  // Copyright 2021 The MediaPipe Authors.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//      http://www.apache.org/license

[2021-09-14 06:30] himabharathi commented on #2541
am not able to see the image on hands in output. i connected google pixel2(physical device ) to andriod studio

[2021-09-14 06:32] himabharathi commented on #2541
ringImg= context.getResources().getDrawable(R.drawable.ring);  in public HandsResultImageView(Context context)  method........please ignore this. i wrote in other place to check if it works...

[2021-09-14 06:39] himabharathi commented on #2541
google pixel 2, andriod 11  api 30 ......

[2021-09-14 07:50] InvisibleLeVen commented on #2419
https://github.com/google/mediapipe/blob/master/mediapipe/modules/pose_landmark/pose_landmark_cpu.pbtxt
According to the example in the comment, model_complexity, smooth_landmarks, enable_segmentation, and smooth_segmentation can be set through input_side_packet. How to set the two parameters of MIN_DETECTION_CONFIDENCE and MIN_TRACKING_CONFIDENCE? Are these two parameters currently supported in C

[2021-09-14 08:46] ecartman2208 commented on #825
I have seen that they have the OneEuroFilter implemented in the file. How can I integrate it in the python solution for facemesh that is available?

[2021-09-14 08:53] ecartman2208 commented on #2453
@HarryWindsor were you able to find a solution?

[2021-09-14 08:55] sgowroji commented on #2332
Hi @natarajakm, Please respond if you are still looking resolution for the above query. And did you get a chance to go through the above [comment](https://github.com/google/mediapipe/issues/2332#issuecomment-908892531). Thanks

[2021-09-14 09:01] sgowroji commented on #2541
Hi @himabharathi, Did you try android [gradual](https://github.com/google/mediapipe/tree/master/mediapipe/examples/android/solutions/hands) API solution? Could you please share image or video to demonstrate the above issue. Thanks!

[2021-09-14 09:05] buaacyw commented on #742
Excuse me, what's the meaning of "scaled proportionally along with x and y (via weak projection)"? I haven't found any information about how to scale the Z axis like below. Thanks!

int x = landmark_normal_x * image.width();
int y = landmark_normal_y * image.height();

[2021-09-14 09:07] kingmacth opened #2542 "ssdlite_object_detection.tflite Which config was used for training?"
I want to train my model to use box tracking, but I did not find the configuration file used when training "ssdlite_object_detection.tflite"!
Can anyone tell me which file is in https://github.com/tensorflow/models/tree/238922e98dd0e8254b5c0921b241a1f5a151782f/research/object_detection/samples/configs?

[2021-09-14 11:03] j20001970 commented on #2474
Hi, it's been several days since the issue, do you have any plans on adding such feature?

[2021-09-14 11:49] sgowroji commented on #2474
Hi @j20001970, we added the right owners for this issue and converted it to feature request. Please wait for the response. Thanks!

[2021-09-14 21:34] shivaprasadgh commented on #2537
I was curious  if it would work with python programming , the reference which you sent me above is related to Android Platform .

[2021-09-15 02:19] jkyleung commented on #2513
you should be able to find the method you need in LandmarkProto.class:
`public boolean hasVisibility() {
            return (this.bitField0_ & 8) != 0;
        }

        public float getVisibility() {
            return this.visibility_;
        }

        private void setVisibility(float value) {
            this.bitField0_ |= 8;
            this.visibility_ = value;
        }

        private v

[2021-09-15 03:46] caspar-goeke commented on #2528
<html>
<body>
<div style="box-sizing: border-box; user-select: text; margin-bottom: 1em; color: rgb(0, 0, 0); font-family: sans-serif; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -we

[2021-09-15 03:54] caspar-goeke commented on #2528
@sgowroji the issue seems to be related, but it's hard to say if its a douplicate. We do not run the holistic part but just the facemesh, and the actual error message seems different, so my guess is it's not idential.  However, what seems to be similar is that in Chrome 93 we cannot use an offscreen canvas on the webworker and then feed an image based on that into mediapipe to get a tensor which t

[2021-09-15 03:56] caspar-goeke commented on #2528
@kenrussell  please find the output of my graphics card detials above, but please also note that this happens on each and every system / graphics card we tested so far (about 10 different ones), and both on Linux and Windows

[2021-09-15 04:00] caspar-goeke commented on #2528
even somre more info if needed:

`
<html>
<body>
<div style="box-sizing: border-box; user-select: text; margin-bottom: 1em; color: rgb(0, 0, 0); font-family: sans-serif; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal

[2021-09-15 04:02] caspar-goeke commented on #2528
Even some more information if needed

`Initialization time | 192
In-process GPU | false
Passthrough Command Decoder | true
Sandboxed | true
GPU0 | VENDOR= 0x10de, DEVICE=0x2484, SUBSYS=0x87bd1043, REV=161, LUID={0,43502} *ACTIVE*
GPU1 | VENDOR= 0x1414, DEVICE=0x008c, LUID={0,46645}
Optimus | false
AMD switchable | false
Desktop compositing | Aero Glass
Direct composition | true
Supports overlays |

[2021-09-15 04:46] sgowroji commented on #2524
Hi @sinoboy168, Assuming [this](https://github.com/google/mediapipe/issues/1691#issuecomment-797159603) would answer your above query. Please reach us back if you still have any queries specific to the above context. Thanks!

[2021-09-15 04:46] #2524 closed

[2021-09-15 04:56] sgowroji commented on #2507
Thank you for sharing your resolution in the above [comments](https://github.com/google/mediapipe/issues/2507#issuecomment-914375603). We are closing this issue now. Please feel free to reopen if you still have any relevant queries from the above context.

[2021-09-15 04:56] #2507 closed

[2021-09-15 06:32] sgowroji commented on #2505
Hi @ibrandiay, Did you get a chance to go through our documentation on [model cards  ](https://github.com/google/mediapipe/blob/master/mediapipe/models/object_detection_saved_model/README.md) and [models](https://google.github.io/mediapipe/solutions/models.html#object-detection).

[2021-09-15 08:26] SunXuan90 opened #2543 "Will Core ML delegate get supported?"
After TensorFlow Lite 2.4 there is a new [Core ML delegate](https://www.tensorflow.org/lite/performance/coreml_delegate) for iOS, will it be supported by MediaPipe? Thanks!

[2021-09-15 08:43] sgowroji commented on #2543
Hi @Epitapher, Could you please elaborate your use case with Core ML delegate on iOS. Thanks!

[2021-09-15 08:59] SunXuan90 commented on #2543
I've tried pose tracking gpu example on an Android phone with Snapdragon 765 and iPhone XS. The Android phone got around 30 fps which is pretty good, and I expected iPhone XS would outperform that by a large margin but it only got around 20fps. I see that MediaPipe currently uses metal gpu delegate, so I wonder if the new Core ML delegate would make a difference.

[2021-09-15 09:15] Shubham-Pachade commented on #1599
@vderelle @jiuqiant @RuiLoureiro @riolaf05 @sgowroji Could you please elaborate on the solution? I have been trying pthread solution but I am constantly getting errors. COuld you please describe the process to be followed in further details?

[2021-09-15 09:56] sgowroji commented on #2407
Thank you @AmitMY  for addressing the solution in the above [comment](https://github.com/google/mediapipe/issues/2407#issuecomment-899802882). @TomHsiao1260 Could you please try the above and let us know your observation.

[2021-09-15 10:15] sgowroji commented on #2145
Hi @apcjs, Can you try the above with the latest release. Please check our [supported platform](https://google.github.io/mediapipe/getting_started/javascript#supported-plaforms) for further details. Thanks!

[2021-09-15 10:16] Vatsa0408 opened #2544 "TypeError: create_bool(): incompatible function arguments. Mediapipe error when using the latest version"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): ```yes```
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): ```Windows

[2021-09-15 10:44] sgowroji commented on #2544
Hi @Vatsa0408, Could you please share your console logs to understand the issue with complete details. And you can set false to the above attributes as mentioned (https://google.github.io/mediapipe/solutions/pose#enable_segmentation) (https://google.github.io/mediapipe/solutions/pose#smooth_segmentation)

[2021-09-15 10:46] sgowroji commented on #1976
Hi @FladioArmandika, Were you able to load the wasm.js files as mentioned in the above [comment](https://github.com/google/mediapipe/issues/1976#issuecomment-889335574). Thanks!