[2021-05-24 06:00] #2053 closed

[2021-05-24 06:01] sgowroji commented on #2049
Hi @chensisi0730, Did you get a chance to go through the above comment. Thanks!

[2021-05-24 06:05] sgowroji commented on #2057
Hi @samlaf, Please verify the issue in the next release and reopen if you encounter similar.  Now we are closing this issue .

[2021-05-24 06:05] #2057 closed

[2021-05-24 06:07] Bharatnaty commented on #1839
ImportError: DLL load failed while importing _framework_bindings: The specified module could not be found.

[2021-05-24 06:10] sgowroji commented on #1839
Hi @Bharatnaty, Is your issue relevant to the above issue and still exists. Please try this mentioned comments https://github.com/google/mediapipe/issues/1839#issuecomment-817253475, https://github.com/google/mediapipe/issues/1839#issuecomment-817363779 . If not, please raise a new issue. Thanks!

[2021-05-24 06:38] thamquocdung commented on #2041
@danial880, Sorry, I have not encountered your issue before.  Which arch you have built on? Make sure you reach all of the required packages. You should follow these instructions ([install.md](https://github.com/google/mediapipe/blob/master/docs/getting_started/install.md) and [python.md](https://github.com/google/mediapipe/blob/master/docs/getting_started/python.md))

[2021-05-24 07:02] sgowroji commented on #2025
Hi @nitecm, Could you please respond to the above comment and provide the details mentioned in it. Thanks!

[2021-05-24 07:03] sgowroji commented on #2038
Hi @akokhlik, Did you get a chance to go through my above comment. Thanks!

[2021-05-24 07:07] sgowroji commented on #2040
Check this https://github.com/google/mediapipe/issues/1049#issuecomment-707847994

[2021-05-24 07:08] sgowroji commented on #2052
Hi @borosabel, Did you get chance to go through the above [comment](https://github.com/google/mediapipe/issues/2052#issuecomment-845397623). Thanks!

[2021-05-24 07:09] sgowroji commented on #2054
Hi @bela572, Have a look at the above [comment](https://github.com/google/mediapipe/issues/2054#issuecomment-844481771)

[2021-05-24 07:12] sgowroji commented on #2059
We are glad to know you resolved. so closing this issue now.

[2021-05-24 07:12] #2059 closed

[2021-05-24 07:17] chensisi0730 commented on #2049
Can you describe how to realize it  . Thanks!

[2021-05-24 07:17] #2043 closed

[2021-05-24 07:47] akokhlik commented on #2038
Hi @sgowroji , thanks for reply. I cant do linear interpolation.

[2021-05-24 07:56] vpenades commented on #1995
I agree, the upper body pose landmark is also useful on its own.

The upper body model only needs to crop the upper body from the input image, which results in enhanced precission, which is required in our use case.

[2021-05-24 08:17] txf- commented on #1995
There is a description in the tag for v.0.8.4 here : https://github.com/google/mediapipe/releases/tag/v0.8.4

[2021-05-24 08:53] codylieu commented on #1937
@sgowroji Just to clarify: we are still facing this issue. I was just thanking your team for all the work you've put into this

[2021-05-24 08:54] codylieu commented on #1937
Sorry, accidentally closed the issue. Reopened it. Just to clarify: we are still facing this issue @sgowroji. My comment was just thanking you and your team for all the work you've put into this so far!

[2021-05-24 09:01] txf- commented on #2041
@gmontamat  have you tried compiling it with only opengl support and not CUDA? If so, does it use the Nvidia driver in that situation?

[2021-05-24 10:45] sgowroji commented on #2012
Hi @Onkar-G, Have a look at this #1839 (comment).

[2021-05-24 12:04] vteodorescu commented on #1987
We had a bug in a different part of our code, now it is all good and it is working for us.

[2021-05-24 13:11] JanJan217 opened #2072 "Confidence level - python.solutions.hands"
Hi all, I am using Python for app where I detect objects (already defined by CNN) in combination with Hand detection by means of mediapipe.python.solutions.hands. I would like to calculate the overall confidence level (object detection and hand detection combined) and I am wondering whether it is possible to get the actual confidence level of hand detection only ... I have gone through the questio

[2021-05-24 14:32] noviicee opened #2073 "Unable to install mediapipe on jupyter notebook [python version: 3.7.1]"
Overview
Hello! Hope this reaches you well.  I want to start using mediapipe with my work, but I'm having some trouble with my pip install.
I am doin this on a jupyter notebook though.

I'm running into *No matching distribution found* error as {#1325, #1466, #1961}. Their proposed solutions regarding python version and build unfortunately didn't work for me.

System Information

python == 3.7.1 (

[2021-05-24 15:42] DeanIsMe opened #2074 "Update glog to support stack trace on arm64"
I'm working with an arm64 processor on Linux.
When a graph aborts due to an error, the stack trace is not printed. E.g.
[code]

Or, if I run `google::InstallFailureSignalHandler();` in main(), I get
[code]

After some research, I found that arm64 stack trace is not supported on the glog version used in mediapipe, as indicated here:
https://github.com/google/glog/issues/531
Note that [this](https:/

[2021-05-24 16:33] jiuqiant commented on #1437
The issue "undefined symbol: _ZN3ruy23Pack8bitRowMajorForNeonEPKhiiiiiiPaiiPiii" is a TFLite issue. TFLite doesn't support ARM native build with Bazel: https://github.com/tensorflow/tensorflow/issues/42471#issuecomment-696529766. Feel like there is not too much we can do for this issue.

[2021-05-24 16:42] jiuqiant commented on #2073
Can you upgrade your pip and do `python install -m pip` instead?
MediaPipe PyPI (https://pypi.org/project/mediapipe/#files ) has "mediapipe-0.8.4.2-cp37-cp37m-win_amd64.whl", which is for  64-bit windows with python3.7 binary. If you can't install it via pip, you can download the file and manually install it.

[2021-05-24 16:43] jiuqiant commented on #1325
Does https://github.com/google/mediapipe/blob/master/docs/getting_started/troubleshooting.md#python-pip-install-failure help?

[2021-05-24 16:47] jiuqiant commented on #2056
I disabled carotene_o4t when I built mediapipe python on aarch64 ubuntu. See the step 6 of https://github.com/jiuqiant/mediapipe_python_aarch64#readme.

[2021-05-24 16:48] jiuqiant commented on #2065
As we mentioned in https://google.github.io/mediapipe/getting_started/install#installing-on-windows, MediaPipe doesn't support building its Android apps on native Windows because of the limited bazel support for Android on native Windows. Please try WSL instead. You can find the instructions at https://google.github.io/mediapipe/getting_started/install#installing-on-windows-subsystem-for-linux-wsl

[2021-05-24 16:59] jiuqiant commented on #2042
https://en.cppreference.com/w/cpp/memory/c/aligned_alloc is introduced in C++17. I guess Android 7 (released in 2016) is a little bit old?

[2021-05-24 17:52] engali-ob opened #2075 "Autoflip TEXT signal"
Hello
I am trying to use autoflip on some videos containing lowerthird titles and captions with text. I am trying to preserve the text area by padding option in graph signal settings as follow:

signal_settings {
        type: { standard: TEXT }
        min_score: 0.9
        max_score: 0.95
        is_required: true
      }

It doesnt seem that autoflip recognizes text areas and i get them always

[2021-05-24 19:33] eknight7 commented on #2058
Adding @hadon to answer the question about `Packet` and `Holder` classes.

[2021-05-24 20:18] hadon commented on #2058
Thanks Matthew for investigating the problem.

I think you attribute the problem to two definitions of the Packet class.  That sounds surprising to me.  I think that C++ routinely avoids duplicating class definitions from in headers.

You noticed that the validation depends on tool::GetTypeHash<T>(), in this case tool::GetTypeHash<int>().  It seems that this function must be failing.  Could there

[2021-05-24 21:01] jianingwei commented on #2049
You can put user box in the detections proto with the right timestamps, then remove the "ObjectDetectionSubgraphGpu" node, and send the packet directly to "ObjectTrackingSubgraphGpu". See the graph I referred above mediapipe/mediapipe/graphs/tracking/object_detection_tracking_mobile_gpu.pbtxt

[2021-05-24 22:04] gmontamat commented on #2041
@txf- the OpenGL build always worked (but was slow with mesa opengl)! I found out why docker wasn't able to run the Nvidia OpenGL runtime: turns out OpenGL runs on a specific display (:0 in my setup) and I was sharing VNC's display to the docker container running mediapipe (:3 instead of :0). When I figured out this, glxgears, glxinfo, and mediapipe with OpenGL were finally working on the GPU with

[2021-05-24 22:19] gmontamat commented on #2041
@thamquocdung @danial880 I've encountered a similar issue while compiling, that's why I had to add this change which is on https://github.com/google/mediapipe/issues/2041#issuecomment-844129267 :
[code]

[2021-05-24 23:15] matthewn4444 commented on #2058
So in this case it is a bit strange. I am compiling mediapipe into a shared library and including it into my app with Cmake. I know there is a jni and java api but I need to do a lot of code in C++ so I prefer to compile the shared library and use it exclusively in c++.

The reason why there are 2 instances of Packet is that one is compiled in the source of the shared library and there's one when

[2021-05-25 01:04] DSgUY commented on #2062
@sgowroji How can you use iris tracking with python on windows?

[2021-05-25 01:45] YaaYang commented on #236
@zjuturtle  hello can you share `hello-world` project code

[2021-05-25 01:49] hadon commented on #2058
I see.  MediaPipe definitely can be confused by duplicate class definitions.  Another place is the CalculatorBaseRegistry, when duplicated it can partition the known calculator names.  We usually avoid this by compiling the framework and calculators into a single C++ binary and consuming it with Java, Python, Javascript, or ObjectiveC.

Your use case is one we would like to support eventually, by

[2021-05-25 04:21] JoseVidal17 commented on #2048
im gonna test it tomorrow, thank you, i'll tell you how work it

[2021-05-25 04:34] Danil-e commented on #1421
I assumed it was saying that the path does not exist because half of the path has a \ and the other half has a /. After manually fixing this, nothing changes in the solution_base.py file. The error remains the same.

[2021-05-25 04:36] mssimrp commented on #2030
https://google.github.io/mediapipe/getting_started/android.html#option-2-build-with-bazel-in-android-studio
I was following the step Option 2: Build with Bazel in Android Studio
The error above was encountered at Step 8. Sync project with Build files

[2021-05-25 05:00] rakesh4real commented on #1918
Interestingly, the movenet pose model and handpose model also hang the browser. Isn't there a way to not hang the browser while loading model into memory?

[2021-05-25 06:33] sgowroji commented on #2072
Hi @JanJan217, Have a look at this issue https://github.com/google/mediapipe/issues/428 for reference. Still, if your query not resolved. Please share your code or graph changes for a better understanding. Thanks

[2021-05-25 06:46] sgowroji commented on #2075
Hi @engali-ob, Thank you for reaching us regarding the above issue.  Could you please elaborate your use case with complete details.  Like any error logs, Screenshot while trying to reproduce  the above mentioned error. Thanks!

[2021-05-25 08:02] engali-ob commented on #2075
Hi @sgowroji

Thanks for your reply. Actually i am not sure if this could be described as an error since there are no errors at all while processing. Am just checking if text areas detection is part of detections model in autoflip.
I added the TEXT signal in graph settings to try since i found it listed in autoflip messages options file

[https://github.com/google/mediapipe/blob/master/mediapipe/e

[2021-05-25 08:52] sgowroji commented on #2030
Hi @mssimrp, Needed some more details like machine configuration and bazel version. Thanks!

[2021-05-25 09:28] danial880 commented on #2041
@gmontamat thanks for sharing. I ran setup_opencv.sh. After that i installed the mediapipe. Error doesn't appear. Its running fine on my 1080Ti giving 67 fps on average of 3 seconds.

[2021-05-25 10:17] sgowroji commented on #1965
H @txf- ,  Are you still seeing the above error?

[2021-05-25 10:26] sgowroji commented on #1997
Hi @ammarjafri, Could you please check the above comment and respond to it. Thanks!

[2021-05-25 10:26] sgowroji commented on #2031
Hi @dstanner, Did you get a chance to go through the above comment . Thanks !

[2021-05-25 10:29] sgowroji commented on #2042
Hi @Asssssert, Take a look at the above [comment](https://github.com/google/mediapipe/issues/2042#issuecomment-847194436)

[2021-05-25 10:42] sgowroji commented on #2062
@DSgUY  Did you check this https://github.com/google/mediapipe/issues/1530#issuecomment-790210796.

[2021-05-25 11:27] JanJan217 commented on #2072
Hi sgowroji, thank you, I found out this info within Github and for anyone who is interested in, following the code from Nicholas Renotte it is possible to find out confidence level of particular hand point (in case I understand well). The issue is closed for me. Thx, J.

https://github.com/nicknochnack/AdvancedHandPoseWithMediaPipe

[2021-05-25 11:27] #2072 closed

[2021-05-25 12:30] sufiaji commented on #1734
Hi @sgowroji , Hope you're doing good.
Any update on this matter?
Thanks!

[2021-05-25 12:39] txf- commented on #1965
No. As I mentioned above, it was probably a driver issue. I guess this can be closed.

[2021-05-25 12:39] #1965 closed

[2021-05-25 15:26] DSgUY commented on #2062
Thanks for your fast reply.
Yes but I have this errors:

I generate the protos with python setup.py gen_protos but then get and error when python setup.py install --link-opencv

ERROR: An error occurred during the fetch of repository 'local_execution_config_python':
ERROR: Error fetching repository: Traceback (most recent call last):
ERROR: Analysis of target '//mediapipe/modules/face_detection:fa

[2021-05-25 15:53] sgowroji commented on #2062
Hi @DSgUY, Can you raise a new issue with complete details and steps to reproduce the above error.  Thanks!

[2021-05-25 18:00] ianni67 commented on #1483
IN my case, it came out that the issue was with the double graph card (intel/nvidia). Issuing the command:
`prime-select nvidia`
and rebooting fixed the issue... Sorry for reporting so late.

[2021-05-25 21:09] jiuqiant commented on #1734
Can you try `pip install --index-url https://test.pypi.org/simple/ mediapipe==0.8.4.2.1`?

[2021-05-25 21:13] jiuqiant commented on #1793
Probably can do the following change:

[code]
I made 0.8.4.2.1 and uploaded it to test pypi. You can try `pip install --index-url https://test.pypi.org/simple/ mediapipe==0.8.4.2.1` to see if this helps.

[2021-05-26 01:40] Asssssert commented on #2042
Thanks, as I have a couple of demos that work on Android 7.1, I was wondering why there was a problem, so have you considered adapting to Android 7, which I feel is used by quite a lot of people.

[2021-05-26 03:07] chensisi0730 commented on #2049
I am a beginner, can release a source code project? This kind of scene is very common,  thanks !

[2021-05-26 04:17] sgowroji commented on #2072
Thank you @JanJan217 for sharing the information, this is really useful for other users in the community.

[2021-05-26 04:32] sgowroji commented on #2056
Hi @superuser789, Please check the above [comment](https://github.com/google/mediapipe/issues/2056#issuecomment-847187373).

[2021-05-26 04:34] sgowroji commented on #2065
Hi @newbie7991, Have a look at the [comment](https://github.com/google/mediapipe/issues/2065#issuecomment-847188247) .

[2021-05-26 04:35] sgowroji commented on #2073
Hi @noviicee, Can you please try the information mentioned in the above [comment](https://github.com/google/mediapipe/issues/2073#issuecomment-847184400). Thanks!

[2021-05-26 04:37] sgowroji commented on #1987
Thank you for the update.

[2021-05-26 04:37] #1987 closed

[2021-05-26 04:44] sgowroji commented on #1745
Hi @ljmkimqx, Did you get a chance to go through the above [comment](https://github.com/google/mediapipe/issues/1745#issuecomment-841485836). Thanks!

[2021-05-26 04:50] sgowroji commented on #1895
Hi @Pythonsegmenter, Did you get a chance to go through the above [comment](https://github.com/google/mediapipe/issues/1895#issuecomment-822121488). Thanks!

[2021-05-26 04:55] sgowroji commented on #1947
Hi @weixinz1, Please respond to the above comment. Thanks!

[2021-05-26 05:05] sgowroji commented on #2034
Hi @z7212819, Please respond to my above comment. Thanks!

[2021-05-26 05:06] sgowroji commented on #2036
Hi @lyfpeter, Can you please respond to my above comment. Thanks!

[2021-05-26 05:57] sgowroji commented on #2023
Hi @pattanaponny002, Have a look at this https://github.com/google/mediapipe/issues/1346#issuecomment-745715596.

[2021-05-26 05:57] #2023 closed

[2021-05-26 06:01] sgowroji commented on #2019
Hi @midhulavijayan, For your understanding https://github.com/google/mediapipe/issues/1743#issuecomment-805334972.

[2021-05-26 06:04] sgowroji commented on #2016
Hi @jizhu1023,  Please find the github [code](https://github.com/google/mediapipe).

[2021-05-26 06:05] weixinz1 commented on #1947
Problem solved. I'll close this issues @sgowroji

[2021-05-26 06:05] #1947 closed

[2021-05-26 06:06] noviicee commented on #2073
@jiuqiant thanks for the help!
I completed my code in a code-editor. But let me try with the notebook following the procedure as well!

[2021-05-26 06:11] noviicee commented on #2073
It is not installing via pip. Guess I will have to do it manually 💁

[2021-05-26 06:13] sgowroji commented on #2008
Hi @lghasemzadeh, We would like to hear it from you. We have not tried as mentioned above. Please share your observation.

[2021-05-26 06:20] sgowroji commented on #1998
Duplicate https://github.com/google/mediapipe/issues/1999

[2021-05-26 06:27] sgowroji commented on #1842
Hi @hollyhook, its more an android implementation of switching the camera. I can share you the one https://stackoverflow.com/questions/27946040/switch-to-front-camera-and-back-camera-android-surfaceview/27946300 .

[2021-05-26 06:31] sgowroji commented on #1803
Hi @vandics, Posting your solution will be helpful for other users.

[2021-05-26 06:32] sgowroji commented on #1830
Duplicate https://github.com/google/mediapipe/issues/1803

[2021-05-26 06:33] sgowroji commented on #1701
Hi @bhavikapanara, Assuming you are resolved, we are closing this issue now. Thanks!

[2021-05-26 06:33] #1701 closed

[2021-05-26 06:37] sgowroji commented on #1653
Hi @tobymu, Did you get a chance to go through the above comment. Thanks!

[2021-05-26 07:10] z7212819 opened #2076 "Multiple textures on the model"
Hello, I would like to ask if the UUU file format can support multiple textures? Since many models require multiple textures to merge into one complete texture image, if there is such a way, can you tell me how to do it? thank you

[2021-05-26 07:56] sgowroji commented on #2076
Hi @z7212819 Adding [information](https://github.com/google/mediapipe/issues/1074#issuecomment-685129974) about UUU file

[2021-05-26 08:01] z7212819 commented on #2076
@sgowroji Thank you very much for your reply. Now I can convert any OBJ model to UUU format, and the rendering effect can be achieved through a single texture. However, if the OBJ model has multiple textures and is converted to UUU, how can I read these textures? Since there seems to be only one definition of texture in the chart and calculator, my idea is how to modify the chart or calculator to

[2021-05-26 11:12] some2014 commented on #2070
Hi @sgowroji , When I run the app of face mesh and pose, it is normal, and the speed can reach 60fps+.

When I run the iris app, the screen is black.

all log:

05-26 19:04:55.476  2061  2061 D Launcher.CellLayout: touch item:ShortcutInfo, id=245, itemType=0, user=UserHandle{0}, mIconType=0, pkgName=com.google.mediapipe.apps.iristrackinggpu, className=com.google.mediapipe.apps.iristrackinggpu.Main

[2021-05-26 14:58] timtensor commented on #1376
Hi adding a follow up question , is there a way to output the keypoints in a json format ?

[2021-05-26 15:01] timtensor opened #2077 "How can i extract keypoints into json file ?"
Hi I am using mediapipe holistic pose in python ? I was wondering if there is a flag or parameter that one can use to dump the 33 keypoints to a json file ?

[2021-05-26 15:16] slajar commented on #364
@noppefoxwolf I tied to upgrade your example to the latest mediapipe with bazel4. I builds a long time an then the linker fails :(

Do you have an idea why this is failing?
ERROR: /Users/<mysecretpath>/TrackerExample/mediapipe/mediapipe/develop/BUILD:3:14: Linking of rule '//mediapipe/develop:MyFramework.__internal__.apple_binary' failed (Aborted): wrapped_clang_pp failed: error executing command

[2021-05-26 15:25] joeshow79 opened #2078 "How to Improve The Performance by Shrink The Time on The Data Flow"
Hi There,

We plan to run MP on some low-end platform but we found that the performance degraded due to the  data flow in MP may take more time than the original implementation(not MP based). For the convinient, we tested the performance of HairSegmentation app on QC7350 platform, it showed that  the AddPacketToInputStreamInternal call took 1ms to 10ms (average 4ms).  Since it's the preview app, w

[2021-05-26 16:12] petremihaivalentin opened #2079 "Python Mediapipe built from source for GPU doesn't run on GPU"
So I tried to build the MediaPipe Python Package from source for the GPU. I did the following steps:

From [this](https://google.github.io/mediapipe/getting_started/install.html):
  1. Installed Bazelisk
  2. Cloned MediaPipe repo
  3. Installed OpenCV and FFmpeg using option 1
  4. Did the 4th step for GPU support
  5. Ran the example with the command for GPU support -> I've verified that this ra

[2021-05-26 17:18] toz123 opened #2080 "How to convert list of dictionaries to NormalizedLandmarklist"
I have run and collected data from tracked hands using MediaPipe Hands and stored the data in a separate csv file. I want to be able to play back the tracked data with a blank background. I was wondering if there is anyway in which the list of dictionaries could be converted back into a NormalizedLandmarklist so I can loop through them with MediaPipe to create a playback?

[2021-05-26 17:58] hollyhook commented on #1842
Hello and thanks for the link to stackoverflow.
I'm using CameraXPreviewHelper, which hides the camera obejct. Please explain how I can implement the proposed SO solution:

quoting SO:
[code]

I don't see how that fits together with my current approach which from the example app, which is
[code]

Do you propose to remove cameraXHelper altogether?

Also please address the question about the ghost i

[2021-05-26 18:33] eknight7 commented on #940
@hafiedh please see https://google.github.io/mediapipe/solutions/hands

[2021-05-26 19:20] hangqiu commented on #718
But what's the solution?

[2021-05-26 20:24] pandeyshambhavi commented on #1325
I have python version 3.7.6 still it shows ERROR: could not find a version that satisfies the requierement mediapipe. no matching distribution found for mediapipe.

[2021-05-26 20:33] eknight7 commented on #1842
Hi @hollyhook, there is an enum to select `FRONT` facing v/s `BACK` facing camera: https://github.com/google/mediapipe/blob/master/mediapipe/java/com/google/mediapipe/components/CameraHelper.java#L36-L39, and you can change that here for example: https://github.com/google/mediapipe/blob/master/mediapipe/examples/android/src/java/com/google/mediapipe/apps/basic/MainActivity.java#L176-L179

[2021-05-26 21:09] hollyhook commented on #1842
Thank you @eknight7, I'm aware of the enum. Did you have a chance to read my issue description?

[2021-05-26 21:18] jiuqiant commented on #1325
What's your OS and have you checked your python 3.7.6 and pip are the 64-bit version?

[2021-05-26 22:38] Moronixo opened #2081 "Installing MediaPipe in PyCharm"
I'm using PyCharm for a project I'm working and I've been trying to install MediaPipe but I'm not sure how to go around it, could anyone possibly lend a hand on how to do it?

Any help is appreciated :)

[2021-05-26 22:48] Rishikesh-Reddy commented on #2081
Hello @Moronixo

At the Bottom Left of a Pycharm Window you will find Python Packages
 click on it and in the search bar type **Mediapipe**

![Screenshot 2021-05-27 041717](https://user-images.githubusercontent.com/76101044/119741009-83ca8880-bea2-11eb-8b5f-3d9c5235c50e.png)

[2021-05-26 23:17] Moronixo commented on #2081
Hi @Rishikesh-Reddy
Sorry if I'm being a pain and missing something obvious here but I can only see these:

![capure](https://user-images.githubusercontent.com/84026099/119743059-f4f94400-be80-11eb-97b3-c5e60df0a01f.PNG)
![capture2](https://user-images.githubusercontent.com/84026099/119743065-f62a7100-be80-11eb-88d4-ae6cb3fc7cb1.PNG)

[2021-05-26 23:37] ndimension commented on #2075
Hi @engali-ob,

Last summer we had an intern develop a text detector for autoflip.  Can you try to follow the instructions and examples here to see if that meets your needs?

https://github.com/googleinterns/intern-for-design/tree/master/autoflip_integrated_calculators

Please reach back out if you need more details.

-Nathan Frey

[2021-05-26 23:51] ndimension commented on #1097
Hi @YaqiLYU, I'd recommend you switch to the shot boundary detection calculator that uses the TransNetV2 model as shown here:
https://github.com/googleinterns/intern-for-design/tree/master/autoflip_integrated_calculators

This deep model based shot boundary detector has improved performance over the color histogram method linked above.

-Nathan Frey

[2021-05-26 23:54] ndimension commented on #844
Hi @darkrider87, we would now recommend using a new shot detection calculator based on the TransNetV2 deep model.  You can find that calculator and example code here:

https://github.com/googleinterns/intern-for-design/tree/master/autoflip_integrated_calculators

-Nathan Frey

[2021-05-26 23:54] #844 closed

[2021-05-26 23:59] Moronixo commented on #2081
Is this the same thing as looking at packages in the python interpreter? As there I cannot see MediaPipe in that

[2021-05-27 02:10] joshmer opened #2082 "FaceMesh Javascript iOS Runtime Errors"
Hi all,

We're trying to use FaceMesh for a mobile webapp, and are struggling to get it working for iOS. Android works great for Chrome, haven't tested in Firefox yet. It looks like the same error stack from #1427, and looking at logs via a Mac PC we can see the following Warnings/Errors:

[code]

We tried to enable WebGL 2.0 but it didn't seem to work. Is there a way to get this running off the C

[2021-05-27 02:51] tomleader opened #2083 "facemesh-js:how to use the landmark-z value under Three.js perspective camera?"
We know that: send a image/video to facemesh, then we can get an key point landmarks object array like[{x:0,y:0,z:0},...]
sometimes we use Three.js to build some 3d or AR object around the face(which means the object's position&scale == face's position & scale),
I can use the x&y to calculate the 3d position (x,y) but the z value I can not figure out how to use.
The short question is ,input a land

[2021-05-27 02:55] newbie7991 commented on #2065
thank you for the answer....

[2021-05-27 02:55] newbie7991 commented on #2065
Thanks @sgowroji

[2021-05-27 02:55] #2065 closed

[2021-05-27 03:57] sgowroji commented on #2079
Hi @petremihaivalentin, Thank you for sharing the above details. What is the error are you facing while running on GPU?

[2021-05-27 04:07] sgowroji commented on #2077
Hi @timtensor, You can convert the landmarks into the dictionary and save them into a file using json.dump().

[2021-05-27 04:22] sgowroji commented on #2083
Hi @tomleader, Could you please share your code changes to understand it much better. Thanks!

[2021-05-27 04:28] sgowroji commented on #2082
Duplicate https://github.com/google/mediapipe/issues/1427

[2021-05-27 04:29] Rishikesh-Reddy commented on #2081
hello @Moronixo

In pycharm enter `crtl+Alt+s` so that settings window is shown

![Screenshot 2021-05-27 095330](https://user-images.githubusercontent.com/76101044/119765748-6f51b480-bed1-11eb-8fbb-6b8ac9300a66.png)

you can find the packages here you can add a package by clicking on the `+` and searching for the package and installing it

Glad if I could help
Thank You

[2021-05-27 04:31] cckv opened #2084 "How to use mediapipe on iOS?"
I have created an iOS project according to the tutorial, but I get an error when I run it:

Showing Recent Messages
1. /Users/apple/Desktop/Code/MediaPipe/mediapipe/mediapipe/examples/ios/facedetectioncpu/BUILD:34:16: //mediapipe/examples/ios/facedetectioncpu:FaceDetectionCpuApp_entitlements: missing input file'//mediapipe:provisioning_profile .mobileprovision'
2,
Showing Recent Messages
/Users/ap

[2021-05-27 04:36] tyrmullen commented on #1427
Most of the groundwork has now been finished to allow JS Solutions to run on Desktop Safari-- you can preview these efforts in the "Holistic" demo, which I believe should now be runnable on Desktop Safari via WebGL 1.  The other demos should work too, provided you're running on Solutions API version 0.3 or beyond (so in the "Hands" CodePen, replace any "hands@0.1" instance with "hands@0.3"; I beli

[2021-05-27 04:36] cckv commented on #2052
@borosabel How did you deploy mediapipe to iOS? I encountered a lot of errors。

[2021-05-27 05:09] sgowroji commented on #2080
Hi @toz123, May be your are looking for [this](https://github.com/google/mediapipe/issues/2031#issuecomment-846123773). Try doing the same for Hands solution. Thanks

[2021-05-27 05:17] sgowroji commented on #2084
Hi @cckv, For your first query look at [this](https://github.com/google/mediapipe/issues/995#issuecomment-672859117). And if you still not resolved, Please let us know at what step [here](https://google.github.io/mediapipe/getting_started/ios.html#mediapipe-on-ios) you are facing the error.

[2021-05-27 05:18] sgowroji commented on #2082
Hi @joshmer, Have a look at this for your [reference](https://github.com/google/mediapipe/issues/1427#issuecomment-849312796).

[2021-05-27 05:22] sgowroji commented on #2075
Hi @engali-ob, Have a look at the above [comment](https://github.com/google/mediapipe/issues/2075#issuecomment-849189699). Thanks!

[2021-05-27 05:29] joshmer commented on #2082
@sgowroji Thanks for that.

However, as stated above WebGL 2.0 did not work in our case. According to the warning messages I posted, the iPhone failed to create a WebGL 2 context so it fell back to WebGL 1.0. We also tried WebGPU, but it also failed for a different reason -- FP16 not supported.

We tested on both iPhone 7 and iPhone X, and got the same results. I'm not sure if it matters, but we'r

[2021-05-27 06:01] sgowroji commented on #2042
We have Prerequisite [documentation](https://google.github.io/mediapipe/getting_started/android#prerequisite).

[2021-05-27 07:27] timtensor commented on #2077
@sgowroji thank you , is there an example that you might have used , that can be checked for reference ?

[2021-05-27 08:04] sgowroji commented on #1459
Hi @ajmalrasi, Could you please share the issue status?

[2021-05-27 08:06] sgowroji commented on #1524
Hi @matanster, Could you please respond whether you facing the above error with the latest build. Thanks!

[2021-05-27 08:10] sgowroji commented on #1445
As the PR fixed. We are closing this issue now.

[2021-05-27 08:10] #1445 closed

[2021-05-27 08:15] sgowroji commented on #1409
Hi @carlwuuu, Could you please share your issue status. If the issue still exists, Can you share the complete details of the issue with clear description. Thanks!

[2021-05-27 08:20] PeterTF656 commented on #1401
Dear friend,

Have you had any luck with integrating facemesh with flutter?

Best,
Zelin

[2021-05-27 08:23] sgowroji commented on #1403
Hi @GMCristiano, Did you followed the steps mentioned in this [comment](https://github.com/google/mediapipe/issues/1403#issuecomment-748289160).

[2021-05-27 08:55] cckv commented on #2084
@sgowroji thanks, I will try it.

[2021-05-27 08:58] AryanSethi commented on #1401
@PeterTF656
Couldn't find anything related to it bro  : /

[2021-05-27 09:25] matanster commented on #1524
Looks fine now

[2021-05-27 10:06] cckv commented on #2084
@sgowroji  i try it , but here is the error:
MacBook-Pro mediapipe % bazel build -c opt –config=ios_arm64 mediapipe/example/ios/handtrackinggpu:HandTrackingGpuApp
ERROR: Skipping '–config=ios_arm64': Bad target pattern '–config=ios_arm64': package names may contain A-Z, a-z, 0-9, or any of ' !"#$%&'()*+,-./;<=>?[]^_`{|}~' (most 7-bit ascii characters except 0-31, 127, ':', or '\')
ERROR: Bad targe

[2021-05-27 10:16] cckv commented on #2084
@sgowroji
when i build, here has a error:
ERROR: /Users/apple/Desktop/cckv/Code/MediaPipe/mediapipe/mediapipe/examples/ios/iristrackinggpu/BUILD:34:16: in entitlements rule //mediapipe/examples/ios/iristrackinggpu:IrisTrackingGpuApp_entitlements: Traceback (most recent call last):
	File "/private/var/tmp/_bazel_cckv/eb5acd1c8a9a78619e586b58525642aa/external/build_bazel_rules_apple/apple/internal/e

[2021-05-27 10:23] petremihaivalentin commented on #2079
Hello @sgowroji,
Thanks for your fast response. I got no error at runtime, but I tailed nvidia-smi and there was no activity on the GPU.

[2021-05-27 10:31] sgowroji commented on #1401
You can refer this [code](https://github.com/zhouzaihang/flutter_hand_tracking_plugin) for flutter. But need to change in facemesh solution.

[2021-05-27 10:36] #1524 closed

[2021-05-27 10:37] AryanSethi commented on #1401
Thanks @sgowroji
I'll try the code and reopen the issue if I get struck somewhere.

[2021-05-27 10:39] sgowroji commented on #2084
Hi @cckv, Could you please share your code repo or changes.

[2021-05-27 10:45] cckv commented on #2084
thank you for your reply，but code repo is too large.

[2021-05-27 12:10] cckv commented on #2084
@sgowroji here has a new error:
![image](https://user-images.githubusercontent.com/17642551/119823566-9509a880-bf27-11eb-9235-0fea0631331f.png)

[2021-05-27 12:45] sgowroji commented on #2021
You can try with the prerequisite mentioned here https://google.github.io/mediapipe/getting_started/android.html#prerequisite. If you face any errors, please share them to investigate further. Thanks!

[2021-05-27 13:00] tomleader commented on #2083
@sgowroji ok,I create a codepen demo(under chrome) :
https://codepen.io/tomleader/pen/XWMaZqr

allow webcam permission, then click the top-right button. Then you can see a box in the center of canvas and you move your head and the box also move by your motion;

how the demo run:
1. init FaceMesh,webcam and threejs(camera, scene, cube);
2. run loop: send video to FaceMesh and get landmarks, in this

[2021-05-27 13:06] toz123 commented on #2031
Thank you, this is perfect!

[2021-05-27 13:36] Moronixo commented on #2081
Sorry again but when I type MediaPipe into the search it comes up empty:
![image](https://user-images.githubusercontent.com/84026099/119835507-ccad2c00-bef8-11eb-8514-b36084c75516.png)

Could it be that I have a package installed already that is not supported with MediaPipe?

[2021-05-27 13:39] Moronixo commented on #2081
To point out I should have mentioned before is that I used Anaconda initially to download my packages.

[2021-05-27 13:46] Moronixo commented on #2081
I've managed to solve my issue, I realised it was using the Anaconda package manager while searching, unselecting I've managed to find it.

[2021-05-27 13:46] #2081 closed

[2021-05-27 13:46] lilinxiong commented on #1941
These are all SDK versions and do not indicate the configuration information of the phone. To be exaggerated, can I run it on iPhone 4s?
If it can’t work, do you want to give the minimum supported iPhone model? For example: iPhone 7, iPhone 8.
The same goes for Android.

[2021-05-27 14:10] Moronixo opened #2085 "Help With a Project"
I'm looking into using MediaPipe, so I can utilise using the MediaPipe Hands model they use but I'm having some difficulties getting it to work.

I'm using PyCharm with Python 3.8 and I have installed MediaPipe, along with various other packages. I'm trying to use the pre-built model to use in my project I'm currently working on, but following the steps provided from https://google.github.io/media

[2021-05-27 14:24] #2085 closed

[2021-05-27 14:59] PINTO0309 commented on #2016
There are two ways to convert a Float16 or INT8 quantization model back to Float32.

1. tensorflow-onnx https://github.com/onnx/tensorflow-onnx Support: Float16 / INT8, tflite->ONNX
2. tflite2tensorflow https://github.com/PINTO0309/tflite2tensorflow Support: Float16, tflite->ONNX,tflite float32/16/INT8, TFJS, TFTRT, OpenVINO, Myriad Blob, CoreML

However, the problem is that even if both methods c

[2021-05-27 17:20] dstanner commented on #2031
Sorry for the slow reply myself -- yes, this does work. Thank you!

[2021-05-28 02:33] IBNU1 opened #2086 "Action Recongition"
Is their any inbuilt action recognition in this module which would allow me to detect by pose-tracking if someone is for example sitting down ?

[2021-05-28 04:00] sgowroji commented on #2086
Hi @IBNU1, Could you please elaborate your use case with complete details. Thanks!

[2021-05-28 04:11] #2031 closed

[2021-05-28 04:25] sgowroji commented on #1793
Hi @vktec, Could you please go through the above [comment](https://github.com/google/mediapipe/issues/1793#issuecomment-848268152).

[2021-05-28 05:29] PeterTF656 commented on #1401
@AryanSethi Let's keep in touch as I am also trying to implement this model into flutter. Also, I found out that google ARCORE has facemesh included in argumented face, but that's a whole new story

[2021-05-28 05:44] lzcchl commented on #1322
@mgyong emmm, we test hand model which named "palm_detection.tflite" on android, there are some false detection.

I think mediapipe is a great frame for use AI model in android system, but it seems not easy to change to ours user own model, for a frame, it is not good for a rookie just like me.

Even more, I think retrain is necessary! APP user don't know CNN or DL, they only pay attention to resu

[2021-05-28 05:53] lzcchl commented on #1322
In principle, when training a NN model, negative sample be collected in images from our datasets. for a specific scene, use images collected in the scene can improve the performance.

[2021-05-28 06:09] sgowroji commented on #1322
Hi @lzcchl, Could you please raise your request as a new issue adding this present issue as a reference to it. And add your use case with complete details in it. Thanks!

[2021-05-28 06:13] sgowroji commented on #1734
Hi @sufiaji, Please try the above comment. Thanks!

[2021-05-28 06:23] sgowroji commented on #1966
Hi @hansonap, Could you please respond to my above comment. Thanks!

[2021-05-28 06:28] sgowroji commented on #2063
Hi @nitecm, Could you please respond to my above comment. Thanks!

[2021-05-28 06:29] sgowroji commented on #2071
Hi @kbh1860, Did you get a chance to go through my above [comment](https://github.com/google/mediapipe/issues/2071#issuecomment-846741627). Thanks!

[2021-05-28 06:30] sgowroji commented on #2025
We are closing this issue now due to lack of activity.

[2021-05-28 06:30] #2025 closed

[2021-05-28 07:23] IBNU1 commented on #2086
Hi sorry about the lack of detail. My usecase required identifying the action done by a person based on video of that person to collect data for a study. For example it has to be able to measure the time it takes for a person in view of camera to standup. It also has to be able to determin if the person is sitting down or standing up.

Is such functionality included in this framework ?

[2021-05-28 08:16] ViWhiVN opened #2087 "Hello , thank you for opening a thread on this."
Hello , thank you for opening a thread on this.
Is https://github.com/tensorflow/tfjs-models/blob/master/facemesh/mesh_map.jpg also the index order in the landmark array that gets generated for plotting ?

I want to distinguish between the left side and right side of a face while turning ?
However, the coordinates derived from the facemesh for left and right corner of the eyes seem to be a hardcod

[2021-05-28 09:02] AryanSethi commented on #1401
@PeterTF656 sure thing !!
I'll get back to you if I find anything and you do the same. 😄

[2021-05-28 10:59] sgowroji commented on #1097
Hi @YaqiLYU, Please go through the above [comment](https://github.com/google/mediapipe/issues/1097#issuecomment-849194620).  Now we are closing this issue, Feel free to reopen if your query is relevant. Thanks!

[2021-05-28 10:59] #1097 closed

[2021-05-28 11:11] engali-ob commented on #2075
Hi @nathanfrey-google

Thanks for directing me there. I can see some nice effort of interns for autoflip detections enhancement.
Regarding my concern, I have copied only the text_detection_calculator and recompiled autoflip with graph settings adjustment and the results are pretty convincing for my needs. so the steps as below

- goto https://github.com/googleinterns/intern-for-design/tree/master/

[2021-05-28 11:15] sgowroji commented on #625
Hi @momo1986, Are you still looking for the solution or found any observation. Please share us the update. Thanks!

[2021-05-28 11:16] PapaPythonAndWeb opened #2088 "No matching distribution found for mediapipe"
I'm trying install mediapipe on conda terminal (python version = 3.7.3) and I'm receiving an error "No matching distribution found for mediapipe", is there any way from which I can fix this and I'd really appreciate if mediapipe supports python 2

[2021-05-28 11:20] sgowroji commented on #817
Hi @mzwtjp, Did you resolve or you still looking for the fix.

[2021-05-28 11:37] zhouzaihang commented on #1062
you can see it.
[](https://github.com/zhouzaihang/flutter_hand_tracking_plugin)

[2021-05-28 11:38] zhouzaihang commented on #1062
https://github.com/zhouzaihang/flutter_hand_tracking_plugin

[2021-05-28 13:16] hhajae commented on #2056
I have completed all of the above courses. but still have
" AttributeError: module 'mediapipe' has no attribute 'solutions'. ".
Also my file name is not the same as the module name.
Please help.  @sgowroji  @Jiuqiant

[2021-05-28 16:24] Sebski17 commented on #1928
I have run into the same issue after successfully building mediapipe on RPi4.
Has anyone managed to come up with a definite fix?

[2021-05-28 16:32] alexriedel1 opened #2089 "Other RGB Hand Pose Estimators"
Hello, in your paragraph `Overview `https://google.github.io/mediapipe/solutions/hands.html#overview you state that there are other SOTA hand tracking solution, that rely on heavy GPUs.

Can you give some informations about better achieving 21 3D hand keypoint from RGB models that are available and ready to use (on Desktop, eg. pytorch)?

Or are there any slower but more elaborate models for media

[2021-05-28 16:35] H4ckerman666 commented on #1928
my file was named mediapipe.py, but that name is the same as the library, so I had to change the name to something else

[2021-05-28 16:41] Sebski17 commented on #1349
I am having the same problem. I am outside mediapipe source folder and none of my files are called mediapipe.py.
Any ideas?

[2021-05-28 17:14] pandeyshambhavi commented on #1325
Yes I downloaded the 64 bit version of python 3.7.6 and finally medipipe is installed. Thank you!

[2021-05-28 17:34] Sebski17 commented on #1928
None of my files are called mediapipe.py, also I am working from outside the source folder. Any ideas?

[2021-05-28 18:10] mlizhardy opened #2090 "new anchor file for new anchors (896)"
Hi there, can you add a new anchor golden file for the new anchors (there are now 896 of them, not 2944), similar to https://github.com/google/mediapipe/blob/master/mediapipe/calculators/tflite/testdata/anchor_golden_file_0.txt ?

[2021-05-28 18:15] mlizhardy commented on #1010
does anyone have these (896) anchors hard coded similar to https://github.com/google/mediapipe/blob/master/mediapipe/calculators/tflite/testdata/anchor_golden_file_0.txt ?

[2021-05-28 21:23] kbh1860 opened #2091 "No file "landmark.pb.h""
I run this script
`sudo bazel build -c opt --copt -DMESA_EGL_NO_X11_HEADERS --copt -DEGL_NO_X11 \mediapipe/examples/desktop/multi_hand_tracking:multi_hand_tracking_gpu`

But I got this error
`fatal error: mediapipe/framework/formats/landmark.pb.h: No such file or directory
 #include "mediapipe/framework/formats/landmark.pb.h"`

There is no one having landmark.pb.h file?

Can I download that file?

[2021-05-28 23:54] mmiirroo commented on #1462
another way is using mirrors of maven repositories

[2021-05-29 01:38] fulankun1412 opened #2092 "Extracting Handlandmarks in Android??"
Hello, is there any way to extract handlandmarks from the Input video stream like what we can do in python? sorry i'm still new in Android development.

![Screenshot 2021-05-29 084032](https://user-images.githubusercontent.com/16248869/120054334-8fac7b00-c059-11eb-895a-18dd0e3d3b09.jpg)

[2021-05-29 02:35] DandyLorenz opened #2093 "How to choose different pose landmark TF models?？such as pose_landmark_lite.tflite,pose_landmark_heavy.tflite"
For example, the new version of pose tracking gpu supports the compilation of different weight models，Default TF model is pose_landmark_full.tflite，How can I choose pose_landmark_lite.tflite or pose_landmark_heavy.tflite？
I tried to change the file name of pose_landmark_lite.tflite to pose_landmark_full.tflite, this is not necessarily the correct way, please guide me where to modify

[2021-05-29 03:26] cckv commented on #2084
@sgowroji Thank you very much, I have successfully run the demo, but how can I apply mediapipe to my own project? Are there related documents for reference?

[2021-05-29 03:46] hhajae commented on #2056
I have a Raspberrypi4 with Raspbian os.
After
 import mediapipe as mp
 mp.solutions.hands
in python3.7.3,

"module 'mediapipe' has no attribute 'solutions'".

I'm looking for the solution.
1. file name = module name?
--> My file name isn't same any module names.
2. When I compared my desktop with Rpi, I found that there was another mediapipe folder in the mediapipe folder of the pie.
So I wrote "f

[2021-05-29 04:37] Hukasan opened #2094 "Is it possible to delete the console message of "INFO:"?"
Thank you for making a great library.
python3.9.0
mediapipe 0.8.4.2
windows 10 home

This now happens after updating the mediapipe version
When I run the code below, I get a lot of messages starting with "INFO:" like the console in the image, which is very annoying.
It may not be a problem that stays in this library, but please let me know if there is a solution.

[code]
![image](https://user-imag

[2021-05-29 08:42] PrinceP commented on #2092
This can help.

https://github.com/google/mediapipe/blob/master/mediapipe/examples/android/src/java/com/google/mediapipe/apps/handtrackinggpu/MainActivity.java

[2021-05-29 09:05] fulankun1412 commented on #2092
Thank you but which code do you point to for the handlandmarks extraction? and how we can do this per frame in android?

[2021-05-29 11:51] salier opened #2095 "cannot run program bazel"
![image](https://user-images.githubusercontent.com/28691601/120069145-f0b66c00-c0b6-11eb-9829-7b4a2b48d455.png)
I'm following the tutorial https://google.github.io/mediapipe/getting_started/android.html#option-2-build-with-bazel-in-android-studio
![image](https://user-images.githubusercontent.com/28691601/120069205-3d9a4280-c0b7-11eb-9a1f-fff197efe3cc.png)

The SDK and NDK problems are not shown.

[2021-05-29 12:41] hhajae commented on #1928
@Sebski17
I have same error in Rpi4 with Raspbian.
what is pi's os?

[2021-05-29 13:39] hirashahid9 opened #2096 "Inaccurate hand detection"
I have used Google Mediapipe Hands for Multihand Tracking. However, when there is no hand in the frame or a single hand, it detects other objects(like print on T shirt or hair ) as hands and shows bounding box against it. I am afraid this will result in incorrect landmark extraction.

[2021-05-29 15:14] verilog15 commented on #1666
Hi @flobaader, were you able to resolve it or did you use another tool instead? Having a similar situation here.

[2021-05-29 15:34] dajuric opened #2097 "Error loading hands-mediapipe in a Chrome extension"
I wanted to use hands mediapipe (Javascript) in a Chrome extension but I have encountered an error, where the library will not load at all.

Chrome extension where the error below happens is located here:
[chrome-extension-DEBUG.zip](https://github.com/google/mediapipe/files/6564908/chrome-extension-DEBUG.zip)

Error loading data:
![error](https://user-images.githubusercontent.com/4395047/12007592

[2021-05-29 19:52] Danil-e commented on #2050
No matter how he tried to get out of the impasse, the problem is not being solved in any way. In fact, the mediapipe package does not even start, since the program immediately crashes with an error. **It is still complicated by the fact that no similar problems and solutions have been found for others.**

[2021-05-30 02:40] PrinceP commented on #2092
https://github.com/google/mediapipe/blob/master/mediapipe/examples/android/src/java/com/google/mediapipe/apps/handtrackinggpu/MainActivity.java#L53

processor.addPacketCallback will run for every frame

[2021-05-30 04:03] Tark-patel commented on #1839
Thank @jiuqiant for helping me

[2021-05-30 04:04] Tark-patel commented on #1839
Thanks @jiuqiant for helping me.

[2021-05-30 04:51] #2075 closed

[2021-05-30 10:03] Sebski17 commented on #1928
Raspberry Pi OS (32-bit)
Released:2021-05-07

[2021-05-30 12:52] superuser789 commented on #2056
I think, the most appropriate option to disable carotene_o4t is to add `"WITH_CAROTENE": "OFF",` in [setup.py](https://github.com/google/mediapipe/blob/master/setup.py). After adding `"WITH_CAROTENE": "OFF",`, the
ImportError was gone.
I have written all the steps  https://github.com/superuser789/MediaPipe-on-RaspberryPi#readme

[2021-05-30 13:03] superuser789 commented on #2056
I think  following steps 5&6 of  https://github.com/jiuqiant/mediapipe_python_aarch64#readme,  gives "module 'mediapipe' has no attribute 'solutions'" error.
I  rebuilt my mediapipe package without removing any OpenCV modules and did not face any error.  I have written my steps here https://github.com/superuser789/MediaPipe-on-RaspberryPi#readme .

[2021-05-30 14:47] hhajae commented on #2056
I haven't tried "https://github.com/superuser789/MediaPipe-on-RaspberryPi#readme" yet, but thank you for uploading it.
I'll try it in a minute. thank you.

[2021-05-30 22:13] Amearul opened #2098 "I use the apk on "https://google.github.io/mediapipe/solutions/pose.html",then This memory leaking problem happen. FInally,the program crashed."
I use the apk on "https://google.github.io/mediapipe/solutions/pose.html",then This memory leaking problem happen. FInally,the program crashed.
Log is:
08-25 02:44:42.475  1740  1770 D ExternalTextureConv: Created output texture: 369 width: 1920 height: 1080
08-25 02:44:42.482   392  1771 D NativeWindowBuffer: debug_time dequeueBufferFromNativeWindow=27ms
08-25 02:44:42.487  1740  1740 E 824     :

[2021-05-31 02:00] crf-git opened #2099 "When there are many people, how to get the hand of the person in front ?"

[2021-05-31 02:50] salier commented on #2095
![image](https://user-images.githubusercontent.com/28691601/120133071-0c785a00-c1fe-11eb-845c-412622e8e5a3.png)

[2021-05-31 03:16] sgowroji commented on #2088
Hi @PapaPythonAndWeb, Which OS are you trying the above installation. Thanks

[2021-05-31 03:21] sgowroji commented on #2089
Hi @alexriedel1, Could you please elaborate your use case with complete details. Thanks!

[2021-05-31 03:25] sgowroji commented on #2090
Hi @mlizhardy, Could you please provide more details for the above Request. Thanks!

[2021-05-31 03:28] sgowroji commented on #2091
Hi @kbh1860, Could you please provide the steps to reproduce the above error. And let us know if you have updated any of the code changes. Thanks!

[2021-05-31 03:51] Captain272 commented on #1894
I think the mediapipe is only available at python version 2.6 which the anaconda is working.
So. after opening the anaconda prompt then type.
pip install mediapipe
this worked fine for me in anaconda prompt. But not on my windows Command prompt.

[2021-05-31 04:02] sgowroji commented on #2093
Hi @DandyLorenz, Could you please elaborate your use case with complete details. Thanks!

[2021-05-31 04:08] salier commented on #2095
![image](https://user-images.githubusercontent.com/28691601/120138333-dab8c080-c208-11eb-999e-ea803d009dda.png)
It seems that the import failed.Log means missing file. But I didn't find this file missing.

[2021-05-31 04:14] sgowroji commented on #2096
Hi @hirashahid9, Could you please provide a video for the above scenario and in which platform are you facing it. Thanks!

[2021-05-31 04:51] sgowroji commented on #2098
Hi @Amearul, Did you get a chance to check this [comment](https://github.com/google/mediapipe/issues/1060#issuecomment-686669385) and upgrade your  rk3399 firmware.

[2021-05-31 04:52] sgowroji commented on #2099
Hi @crf-git, Could you please elaborate your use case with more details  and  any screenshot or video. Thanks!

[2021-05-31 05:05] sgowroji commented on #2095
Hi @salier, Could you please provide the OS details, Bazel version  and Android studio version.

[2021-05-31 05:23] sgowroji commented on #2034
We are closing this issue now due to lack of activity.

[2021-05-31 05:23] #2034 closed

[2021-05-31 05:23] JamieGB92 opened #2100 "invalid character when build through bazel in cmd for any example"
been trying to track down this issue for about 2 weeks and i cannot. i will say the choice by google to use bazel and not supply a static lib still baffles me.

the reason i am using cmd is msys has trouble bashing with bazel

 when ever i go to build any example i get these errors.
i am not using rich text editors

ERROR: C:/mediapipe/mediapipe/mediapipe/calculators/util/BUILD:21:9: invalid chara

[2021-05-31 05:24] sgowroji commented on #2036
We are closing this issue now due to lack of activity.

[2021-05-31 05:24] #2036 closed

[2021-05-31 05:24] sgowroji commented on #2040
Hi @Sanbot-okk, Could you please respond to my above comment. Thanks!

[2021-05-31 05:26] sgowroji commented on #2054
Hi @bela572, Could you please respond to my above comment. Thanks!

[2021-05-31 05:29] sgowroji commented on #2071
Assuming your query resolved, We are closing this issue now.

[2021-05-31 05:29] #2071 closed

[2021-05-31 05:31] sgowroji commented on #2073
2Hi @noviicee, Were you able to install MediaPipe. If still errors, please let us know the errors. Thanks

[2021-05-31 05:31] salier commented on #2095
Version information
AndroidStudio: 4.2.1
Platform: Windows 10 10.0
Bazel plugin: 2021.05.12.1.5

[2021-05-31 05:37] salier commented on #2095
I tried to use Android 28-29-30 SDK (but it didn't return to normal)
I also tried to download the code library directly or use git to synchronize the code base. However, this problem still occurred.
Maybe it's bazel's problem？

[2021-05-31 06:35] sgowroji commented on #2100
Hi @JamieGB92, Could you please provide the steps to reproduce the above error. Thanks!

[2021-05-31 06:37] sgowroji commented on #2095
Hi @salier, As we mentioned in https://google.github.io/mediapipe/getting_started/install#installing-on-windows, MediaPipe doesn't support building its Android apps on native Windows because of the limited Bazel support for Android on native Windows. Please try WSL instead. You can find the instructions at https://google.github.io/mediapipe/getting_started/install#installing-on-windows-subsystem-f

[2021-05-31 06:38] JamieGB92 commented on #2100
cmd: bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 --action_env PYTHON_BIN_PATH="C:/Python/Python39/python.exe" mediapipe/examples/desktop/hand_tracking:hand_tracking_cpu

all files are unmodified other than the inital building of the hello world example

[2021-05-31 06:51] sgowroji commented on #2084
Hi @cckv, Please check  [here](https://google.github.io/mediapipe/getting_started/hello_world_ios.html#hello-world-on-ios)

[2021-05-31 06:54] crf-git commented on #2099
When I set maxNumHands to 1, I want to get only the hand closest to the camera.

eg:
![test_img](https://dphoto-qiniu.dface.cn/test_img.png)

[2021-05-31 07:04] crf-git commented on #2099
When I set maxNumHands to 1, I want to get only the hand closest to the camera.

eg: [test_img](https://dphoto-qiniu.dface.cn/test_img.png)

[2021-05-31 07:06] Sanbot-okk commented on #2040
Thank you this works!

[2021-05-31 07:06] #2040 closed

[2021-05-31 07:28] salier commented on #2095
I understand. This means that mediapipe cannot be enabled on windows? Or can't I compile Android studio on windows? My understanding is that it can be used in Android devices compiled from Windows PC, but not on Windows PC

[2021-05-31 07:51] crf-git commented on #2099
Because when there are many people in front of the camera, the hands behind will cause interference.

[2021-05-31 08:45] craterone commented on #1788
I confirmed the same issue on macOS(0.8.3.2).

[2021-05-31 09:44] sn1c3 opened #2102 "Python GPU setup: cannot load '@rules_foreign_cc//:workspace_definitions.bzl': no such file"
## Problem
To set up the python interface with GPU support I ran the steps from #1740 (#1651):
1.  Download the mediapipe.v0.8.3.1 and cd to the directory
2.  git apply Samplepatch.diff
3.  python setup.py gen\_protos
4.  python setup.py install

Additionally, I created a virtualenv with python 3.7.5 and activated it. But I also tested it without the virtualenv activated.

At `python setup.py inst

[2021-05-31 10:05] sgowroji commented on #2102
Hi @Julian3012, Did you get a chance to check this [comment](https://github.com/google/mediapipe/issues/1651#issuecomment-790176010). Thanks

[2021-05-31 10:09] sgowroji commented on #2095
Hi @salier, MediaPipe doesn't support building its Android apps on native Windows because of the limited Bazel support for Android on native Windows. Please check above [comment](https://github.com/google/mediapipe/issues/2095#issuecomment-851229725) with WSL.

[2021-05-31 10:14] Julian3012 commented on #2102
Hi @sgowroji,
Actually, I copied this patch and applied it successfully (`git apply git_comment.patch`).
thank you for your fast response.

[2021-05-31 10:21] sgowroji commented on #2102
Hi @Julian3012, So do you still see that error?

[2021-05-31 10:22] sgowroji commented on #2048
Hi @JoseVidal17, Did you try the above comment. Thanks!

[2021-05-31 10:23] Julian3012 commented on #2102
Hi @sgowroji, yes, I applied it already before I posted this issue. Are there still some steps that I am missing apart from applying that patch?

[2021-05-31 10:26] sgowroji commented on #2102
Hi @Julian3012,  What is your OS and GPU?

[2021-05-31 10:34] Julian3012 commented on #2102
Hi @sgowroji ,

I am working on Ubuntu 18.04.

Here are the specifications for my gpu:
[code]

[2021-05-31 10:36] sgowroji commented on #2097
Hi @dajuric,  During load unpack there is no screen or camera pop up (default popup). Could you explain more about your code changes and use case. Thanks

[2021-05-31 12:33] superuser789 commented on #1346
I have successfully built mediapipe python package for raspberry pi 3 and 4 without any errors.
If anyone is interested can check the steps here https://github.com/superuser789/MediaPipe-on-RaspberryPi#readme .

[2021-05-31 13:57] dajuric commented on #2097
HI @sgowroji.
I have not changed anything. If you leave everything as it is, the mediapipe files are loaded from the web (local files are provided and loaded only for the second case where files are loaded locally), and the sample which is executed as a content script is also taken as it is. You should be able to see the camera activity indicator if you go to www.google.com and if you open the dev

[2021-05-31 16:10] seghier commented on #1017
Hello, i have the same problem with python and ths problem is because the script give points based on square
to fix this we need to width, height of the image.
the point coordinate (x,y,z)
proportion = height/width
new y point = proportion * old y point
----
this work fine in python but i don't know about android or ios

[2021-05-31 16:32] jadams777 commented on #1427
iOS Chrome and Safari support is critical for my MediaPipe Pose application. Would really appreciate your help adding support for these browsers. Thank you.

[2021-05-31 17:56] ttamas0713 commented on #2011
Is there any workaround for this error?
`/home/tt/.cache/bazel/_bazel_tt/a4050360905611307687f2e9460a1f5b/external/org_tensorflow/tensorflow/core/util/BUILD:372:24: error executing shell command: '/bin/bash -c bazel-out/aarch64-opt-ST-e0f78fafe98f/bin/external/org_tensorflow/tensorflow/tools/git/gen_git_source --generate "$@" --git_tag_override=${GIT_TAG_OVERRIDE:-} external/local_config_gi...' fa

[2021-05-31 18:45] fahadhaq commented on #1477
@davitgoder Have a look at face effect example for android. The Calculator uses FaceGeometry which converts it to a matrix which can be used to calculate Pitch, Roll and Yaw.

[2021-05-31 19:28] ivelin commented on #1346
Awesome. Thank you for sharing. Will you be publishing the Python package
on piwheels.org?

On Mon, May 31, 2021 at 7:33 AM superuser789 ***@***.***>
wrote:

[2021-05-31 20:18] LKay42 opened #2103 ".so files created from MediaPipe code crash with a protobuf error when loaded on Ubuntu 21.04 x86_64"
I'm trying to build a standalone, `dlopen` loadable, GPU accelerated .so of pose estimation on Linux (Ubuntu 21.04 x86_64). However, the moment the .so is loaded using `dlopen`, I end up with a **protobuf** crash. It doesn't even get to my code.

I've had a similar problem with TensorFlow before, it happened because protobuf got linked multiple times. This time, I'm sure it's not coming from my co

[2021-05-31 21:24] dylandao99 opened #2104 "Capturing more forehead area with FaceMesh"
Hi,

My team is experimenting with Mediapipe FaceMesh for identifying face sub-regions (cheek, forehead, etc.). This works fairly well for the cheeks, but it tends to miss a lot of forehead area for people with larger foreheads.

I've skimmed over the FaceMesh paper, and my assumption is that additional landmarks on the forehead cannot be captured without retraining the model. Are there any Mediap

[2021-06-01 01:07] XinJiang1994 commented on #1212
Have you solved the problem? I'm also confused about where we should put the profiler_config{}. I tried to put it in the CalculatorGraphConfig (in /mediapipe/framework/calculator.proto) , but it failed to compile. Then I put it in the root of graph file. This time the compile is success, but nothing happened. I still cannot get the trace files. Do you find the solution?

[2021-06-01 05:29] #2091 closed

[2021-06-01 05:44] sgowroji commented on #1842
Hi @hollyhook, W.r.t this [`the model has a tendency to see ghosts at the location where a person was previously detected with the other camera (before the switch)`](https://github.com/google/mediapipe/issues/1842#issuecomment-836973217) can you provide any video reference to understand it much better.

[2021-06-01 06:05] sgowroji commented on #1429
Hi @vasanthhr, Have you tried with Python API as mentioned in the above [comment](https://github.com/google/mediapipe/issues/1429#issuecomment-797165324). Thanks

[2021-06-01 06:08] sgowroji commented on #1225
Hi @luabras, Could you please confirm the above issue still exists

[2021-06-01 06:12] sgowroji commented on #1207
Hi @Aprameyah, At what step are you able to reproduce the above error. Thanks!

[2021-06-01 06:15] sgowroji commented on #932
Hi @AlexYiningLiu, Could you please share the issue status. Thanks!

[2021-06-01 06:18] sgowroji commented on #1745
We are closing this issue due to lack of activity from the reporter.

[2021-06-01 06:18] #1745 closed

[2021-06-01 06:19] sgowroji commented on #1895
Assuming the above query addressed, We are closing this issue now.

[2021-06-01 06:19] #1895 closed

[2021-06-01 06:24] sgowroji commented on #1966
Assuming the above [comment](https://github.com/google/mediapipe/issues/1966#issuecomment-831529903) answered your query,  We are closing this issue now.  Please reach us if your query still exists.

[2021-06-01 06:24] #1966 closed

[2021-06-01 06:25] sgowroji commented on #1997
Assuming your query answered in the above [comments](https://github.com/google/mediapipe/issues/1997#issuecomment-844914966). We are closing this issue now.

[2021-06-01 06:25] #1997 closed

[2021-06-01 06:27] sgowroji commented on #2019
Hi @midhulavijayan, Did you get a chance to go through the above https://github.com/google/mediapipe/issues/2019#issuecomment-848485339. Thanks

[2021-06-01 06:28] sgowroji commented on #2052
Hi @borosabel, Could you please respond to my above comment. Thanks!

[2021-06-01 06:30] sgowroji commented on #2063
We are closing this issue now due to lack of activity.

[2021-06-01 06:30] #2063 closed

[2021-06-01 06:34] lilinxiong opened #2105 "shared library somewhat big"
First of all, thank you very much for open source MediaPipe. But we want to use it, but it is somewhat difficult, because its shared library is too big.
I saw [add this --linkopt="-s"...](https://github.com/google/mediapipe/issues/1008#issuecomment-821524276)
But I think the compiled so is still a bit big.
I compiled TensorFlow-Lite, Lite's armeabi-v7a, which is less than 2MB, which is very small.

[2021-06-01 07:40] bwjoe opened #2106 "hi i want to know iris's real size"
hi. thank you for your works.

1. i make [iris_tracking aar]
2. i build with [iris_tracking aar]  in new android studio project with "mediapipe\examples\android\src\java\com\google\mediapipe\apps\basic\MainActivity.java" and "mediapipe\examples\android\src\java\com\google\mediapipe\apps\iristrackinggpu\MainActivity.java" .

3. finally i can get the face landmarks data including iris from following

[2021-06-01 08:34] hhajae commented on #1997
@sgowroji
help me. I am using "https://github.com/jiuqiant/mediapipe_python_aarch64" and "https://github.com/superuser789/MediaPipe-on-RaspberryPi#readme" guide to install mediapipe in Rasberrypi4 with Raspbian

When I ran "python3 setup.py gen_protos && python3 setup.py bdist_wheel",
/home/pi/mediapipe-0.8.4/mediapipe/python/BUILD:19:17: Linking mediapipe/python/_framework_bindings.so failed: (Ex

[2021-06-01 08:42] midhulavijayan commented on #2019
Hi @sgowroji, i have gone through it. i couldn't find any solution from the mentioned comment. Could you please elaborate the steps to fill transparent color?.

[2021-06-01 09:37] sgowroji commented on #2106
Hi @bwjoe, You wanted the Iris size through android platform?

[2021-06-01 09:48] sgowroji commented on #1997
Hi @hhajae, Can you please raise it as a new issue with complete steps to reproduce the error. Thanks!

[2021-06-01 09:59] hhajae opened #2107 ""python3 setup.py bdist_wheel" error in RaspberryPi4 with Raspbian"
help me.
I am using "https://github.com/jiuqiant/mediapipe_python_aarch64" and "https://github.com/superuser789/MediaPipe-on-RaspberryPi#readme" guide to install mediapipe in Rasberrypi4 with Raspbian.

When I ran "python3 setup.py gen_protos && python3 setup.py bdist_wheel",
[code]

help.
Thanks.

[2021-06-01 10:02] hhajae commented on #1997
@sgowroji
I made new issue!
https://github.com/google/mediapipe/issues/2107#issue-908122389
Thank you.

[2021-06-01 10:25] sgowroji commented on #2107
Hi @hhajae, Please go through this similar references [#2041 ](https://github.com/google/mediapipe/issues/2041#issuecomment-846759019), https://github.com/google/mediapipe/issues/1917#issuecomment-824243096.

[2021-06-01 11:04] bhargav-sudo opened #2108 "SSLCertifiactionVerfication error while running below python samples in mediapipe"
Hi,

I am facing issue when I am working on [pose](https://google.github.io/mediapipe/solutions/pose) , [holistic](https://google.github.io/mediapipe/solutions/holistic) and [objectron](https://google.github.io/mediapipe/solutions/objectron)
**python samples.**

**Error facing :**

Downloading model to /mediapipepythonexamples/mp_env1/lib/python3.7/site-packages/mediapipe/modules/pose_landmark/pos

[2021-06-01 11:29] shashimalcse opened #2109 "Dataset Availability"
We are developing a multi eye gaze detecting system. We need iris dataset for that. how can we get the dataset?

[2021-06-01 12:44] lucky2719 commented on #1749
Hi can I know how you clubbed tensorflow model with hand mediapipe model is it like training on tensorflow normal model and then giving h5 file as an Input to hand mediapipe model or how is it done thanks in advance

[2021-06-01 12:44] hhajae commented on #2107
Hi @sgowroji,
I've had a hard week with this problem(mediapipe in python (Rasberrypi4 with Raspbian)).
However thanks to your comment (https://github.com/google/mediapipe/issues/2107#issuecomment-852012958) and your other comments, I finally succeeded.

Thank you very much for your help.

[2021-06-01 12:44] #2107 closed

[2021-06-01 13:56] AlexFridman opened #2110 "[Question] Setting virtual camera parameters for the Face Mesh"
Hello!

In the documentation of the face mesh module was mentioned that it is possible to set custom camera parameters:
```"The virtual camera parameters can be set freely, however for better results it is advised to set them as close to the real physical camera parameters as possible."```

Could you please suggest a way how to do it from Python if possible?

-----
Another question -- is it possib

[2021-06-01 16:38] fulankun1412 commented on #2092
Oh Right, i got the idea and able to extract the coordinates.

[2021-06-01 16:38] #2092 closed

[2021-06-01 19:32] superuser789 commented on #1346
Thank you for your suggestion.
Now the package can be installed on raspberry pi via pip. More details [here](https://github.com/superuser789/MediaPipe-on-RaspberryPi/blob/main/MediaPipe-python-package.md).

On Raspberry Pi 4
[code]
On Raspberry Pi 3
[code]

[2021-06-01 19:57] shehramjamil commented on #1212
Hi,
I have stopped working on this for a long time but here is a tip.
1. Put the profiler config in your main graph on which you are currently working.
2. Double check your mobile device for enabling the writing permissions. Sometimes, our phone is blocking the writing from the app. So check for permissions properly.

[2021-06-01 21:39] #1463 closed

[2021-06-01 21:40] tyrmullen commented on #1427
One possible solution (at the potential cost of some performance) would be to run the ML CPU-side instead of GPU-side, since it's only GPU-side ML which encounters issues on iOS at the moment.  We hope to have a nice option for this sort of toggling in a few weeks.

[2021-06-01 21:55] tyrmullen commented on #2083
This sounds like a question about the various face transforms used, in this case the one which maps 3d (x,y,z) landmark points to world-space (or something approximating a 3d world-space, but with relative scaling) coordinates.  The expert on these sorts of transforms is kostyaby@, so reassigning to him.

[2021-06-01 22:11] joshmer commented on #2082
Thanks for the update, that's unfortunate to hear.

[2021-06-01 22:32] ivelin commented on #1346
Very cool! Thank you for the great work! Will test and post further
comments on your repo.

On Tue, Jun 1, 2021 at 2:33 PM superuser789 ***@***.***>
wrote:

[2021-06-02 02:45] bwjoe commented on #2106
yes.
real size and ( pixel size or pixel coordinate?)

[2021-06-02 05:53] HaoZhang-umich commented on #829
I guess normalize the input image could be helpful, but I'm not sure how to normalize it.

[2021-06-02 05:55] DandyLorenz commented on #1304
On low-end performance mobile phones, there will be a greater probability of starting a black screen phenomenon，How to solve it

[2021-06-02 05:56] #2082 closed

[2021-06-02 08:53] 124bit opened #2111 "Is there a way to fine-tune media pipe pose estimation model with own dataset?"
I’m working not with the yoga and dancing, but with other sport activities. Is there a way to fine-tune mediapipe pose estimation models for my use case with my own dataset? Thanks

[2021-06-02 09:16] PeterTF656 commented on #1892
@cjl84914 Hi it seems I ran into a similar problem. What's your answer?

[2021-06-02 10:36] noviicee commented on #2073
When I upgraded pip and did what is mentioned, it presented me with an error like so-

![image](https://user-images.githubusercontent.com/72334601/120465735-e8fb0e00-c3bb-11eb-8141-445c5a1e5757.png)

Any idea, as to why the pip is unable to upgrade..? Initially I thought there could be an error in the path, but the other installations are working fine with pip.

I am using python version 3.7.1 on

[2021-06-02 11:07] sgowroji commented on #2111
Hi @124bit, Could you please elaborate your use case with complete details. Thanks!

[2021-06-02 11:24] romaniukm opened #2112 "Face detection back camera model in Python"
The present Python solution seems to support the front camera model only. Are there any plans to add the back camera model in Python?

[2021-06-02 11:35] sgowroji commented on #2112
Hi @romaniukm, Could you please provide your code changes and steps to reproduce your error. Thanks!

[2021-06-02 12:41] lilinxiong commented on #2105
One more thing, can I run the [face_detection model](https://github.com/google/mediapipe/blob/v0.8.4/mediapipe/modules/face_detection/face_detection_front.tflite) and [face_landmark model](https://github.com/google/mediapipe/blob/v0.8.4/mediapipe/modules/face_landmark/face_landmark.tflite) with TensorFlow-lite?
The TensorFlow-Lite mentioned here is: in Android Studio build.gradle:

[code]
I am not

[2021-06-02 12:58] 124bit commented on #2111
Our startup is doing the analysis of rowing technique for top coaches and national teams. I wanted to try Mediapipe as 2d pose estimator in our pipeline for the simple use cases, where the footage quality is good and there is just one athlete in a strictly lateral position without occlusions (I can show details by zoom if you are interested).
However, it happened that keypoints estimation was not

[2021-06-02 14:06] RayData1 opened #2113 "Transformation of the skeleton coordinates from fixed frame into a mobile frame linked to the skeleton"
Hello,
I have a problem with the transformation of the coordinates expressed in a fixed reference frame linked to the camera. I want to express the coordinates in a reference linked to the skeleton as in the image.
![image](https://user-images.githubusercontent.com/85239017/120494830-7179ae80-c3bc-11eb-8368-ac34b0d11111.png)

{ "pose": {"joint_0":[0.057,0.708,-2.237],"joint_1":[0.04,0.741,-2.232],

[2021-06-02 14:07] vvasily opened #2114 "util must be added to path"
https://github.com/google/mediapipe/blob/ae05ad04b3ae43d475ccb2868e23f1418fea8746/mediapipe/calculators/tensorflow/BUILD#L513

util must be added to "//mediapipe/android/file/base", -> "//mediapipe/util/android/file/base",

[2021-06-02 16:23] jiuqiant commented on #2106
Please assign this to the iris owners. Thanks.

[2021-06-02 16:38] kostyaby commented on #2083
Hey @tomleader,

What you need is [Face Geometry](https://github.com/google/mediapipe/tree/master/mediapipe/modules/face_geometry) module for JS, which currently not supported (please see #1457 for details). It'll be available eventually; however, unfortunately, I don't think this is a top priority for the MediaPipe Team at the moment.

In the meantime, you may give a go to the library suggested i

[2021-06-02 16:50] JoseVidal17 commented on #2048
Hello, I made the modification but it did not give results, then I continued testing things with the code and there is a configuration that is efficient in touch designer

# me - this DAT
# scriptOp - the OP which is cooking

import cv2
import numpy as np
import mediapipe as mp
mp_drawing = mp.solutions.drawing_utils
mp_hands = mp.solutions.hands

def onCook(scriptOp):
	with mp_hands.Hands(
	stati

[2021-06-02 16:50] #2048 closed

[2021-06-02 16:57] kostyaby commented on #2087
Hey @ViWhiVN,

Yes, it is. This image is a visualization of corresponding face landmarks UV coordinates.

A face landmark at any given index (from 0 to 467) _always_ corresponds to the same semantic location on a face. Like, if face landmark no. 1 is the tip of the nose it'll always be the tip of the nose no matter how a user moves their face. The same is true for any other landmark

It's importan

[2021-06-02 17:52] dajuric commented on #2097
Any progress ?

[2021-06-02 18:47] tyrmullen commented on #2082
@joshmer Note that this issue has been closed as a duplicate of #1427, not because we consider it fixed yet.  We do plan to support iOS in the future, but will use that issue for tracking.

Also, WebGPU would require a lot of separate backend infra code (all of the rendering/GPU code currently is written targeting WebGL), so WebGPU is not officially supported anywhere in our codebase at this time

[2021-06-02 19:22] hollyhook commented on #1842
I attached the video to demonstrate the effect. This is what I recorded:

-  0...12s shows my carpet using the back camera. Nothing to detect here, which is ok
- switch to the front camera, showing my face (blurred for privacy)
- face quickly gets detected
- 17s: switching again to back camera
- -> problem: some "ghost" detected in the carpet

I assume using a correct method to switch the camera c

[2021-06-02 20:26] salvadorld0 opened #2115 "How to know if mediapipe javascript is completely loaded."
I need to execute one function after mediapipe is completely loaded, but I'm failing to do so. The function always executes before the canvas loads mediapipe. I hope someone can help me with this issue.

[2021-06-03 01:50] LORDVINCE commented on #2102
The **rules_foreign_cc** In the WORKSPACE of v0.8.3.1:

http_archive(
   name = "rules_foreign_cc",
   strip_prefix = "rules_foreign_cc-main",
   url = "https://github.com/bazelbuild/rules_foreign_cc/archive/main.zip",
)

load("@rules_foreign_cc//:workspace_definitions.bzl", "rules_foreign_cc_dependencies")

rules_foreign_cc_dependencies()

**The rules_foreign_cc (https://github.com/bazelbuild/rul

[2021-06-03 04:11] sgowroji commented on #2113
Hi @RayData1, Could you please explain your use case with more details. Thanks!

[2021-06-03 04:12] sgowroji commented on #2114
Hi @vvasily, Could you please elaborate your request with more details. Thanks!

[2021-06-03 04:14] sgowroji commented on #2115
Hi @salvadorld0, Could you please share your code changes and which solution are you trying for the above. Thanks!

[2021-06-03 04:21] zhangy76 opened #2116 "Hand landmark detection only"
Hi,

I am using the Python API "mp.solutions.hands" to detect palm and hand landmarks given an image. I wonder if I can directly call the landmark detection model given an hand image?

Thanks

[2021-06-03 05:13] sgowroji commented on #2116
Hi @zhangy76, Can you elaborate your query with more details.  For more details of hand landmark refer [here](https://arxiv.org/pdf/2006.10214.pdf).

[2021-06-03 05:21] zhangy76 commented on #2116
The demo python code provide a way to (1) detect palm area; (2) detect hand landmark position given the palm area, using the "mp.solutions.hands" package. Now I am trying to directly obtain the hand landmarks from a hand image, where the palm detection is not required. Basically, I wonder if I can directly input an hand image to a hand landmark detection model in python?

[2021-06-03 05:21] sgowroji commented on #1525
Hi @techkrown, Could you please share the issue status. Thanks!

[2021-06-03 05:25] sgowroji commented on #1520
Hi @erizmr, Could you please confirm whether you facing the above issue still  exists with the latest build. Thanks!

[2021-06-03 05:25] bwjoe commented on #2106
hello thanks you for response

finally i found a following code in "iris_to_depth_calculator.cc"

[
// Avergae fixed iris size across human beings.
constexpr float kIrisSizeInMM = 11.8;
].
real iris's size is fixed by "11.8"

just i thought vaguely : "maybe i can get real iris size by tf.".
i misundestand.

thank you for your all regards.
something i have any another questions. i will write other

[2021-06-03 05:27] #2106 closed

[2021-06-03 05:59] sgowroji commented on #2021
Hi @kaisark, Did you get a chance to go through the above [comment](https://github.com/google/mediapipe/issues/2021#issuecomment-849603720). Thanks

[2021-06-03 05:59] sgowroji commented on #1793
Hi @vktec, Could you please respond to the above comment. Thanks!

[2021-06-03 06:02] sgowroji commented on #2056
Hi @superuser789, Glad to see your contributions for RaspberryPi in the above repo.  We are closing this issue now. Please reach us if you still have any further queries relevant to the above issue.

[2021-06-03 06:02] #2056 closed

[2021-06-03 06:06] #2095 closed

[2021-06-03 07:13] philipjhc commented on #1793
thank you

[2021-06-03 07:35] yishinhung opened #2117 "Object detection demo about coral dev board setup"
Hi:
      I encounter some error about build the Object detection demo for coral dev board.
Please give me some suggestion for this. Thank a lot!

https://github.com/google/mediapipe/tree/master/mediapipe/examples/coral

**-- Issue 1:**
    if i add the following step, i would encounter the following error
[code]
error:
[code]

**-- Issue 2:**
      If i don't modify issue-1 patches, i would encou

[2021-06-03 07:43] RayData1 commented on #2113
Hello,
I have the coordinates [x, y, z] of the joints of the skeleton in a fixed frame R0 linked to the camera. I want to make a python script to transfer these coordinates from the fixed frame R0 linked to the camera, to express them in a mobile frame linked to the skeleton of origin the middle of the body. for example the middle of the segment Joint _24 and Joint _23 and an axis passing through

[2021-06-03 08:07] yishinhung commented on #2117
Hi
    I bypass the above issue and then fix rules_python issue by 749. But, i still encounter the following eigen3 issue.
Could you give some suggestion for this. Thank a lot!

[code]

[2021-06-03 08:32] atul109 commented on #1801
The issue was present in a build pulled from master branch, building from Mediapipe 0.8.2 release appears to have solved this. Also reduced camera preview resolution so that these devices are able to smoothly handle this, if resolution is not reduced sometimes there is a significant lag in camera preview which ends up crashing.

[2021-06-03 08:32] #1801 closed

[2021-06-03 08:36] sgowroji commented on #1335
Hi @fabbro8, Could you please respond whether the above comment resolved your issue. Thanks!

[2021-06-03 08:43] sgowroji commented on #2117
Hi @yishinhung, Your [Issue1](https://github.com/google/mediapipe/issues/2117#issue-910204449) is similar to [this](https://github.com/google/mediapipe/issues/1335#issuecomment-754823586).   And for the error mentioned in the next [comment](https://github.com/google/mediapipe/issues/2117#issuecomment-853673343), Please have a look at [here](https://github.com/google/mediapipe/issues/911). Thanks!

[2021-06-03 08:47] pczhu commented on #1399
same.

[2021-06-03 08:54] pczhu commented on #2013
老哥有啥新发现么。一样的问题。

[2021-06-03 09:41] yishinhung commented on #2117
Hi @sgowroji :
   The error maybe cause by the following steps because "comment out the MediaPipe org_tensorflow patch section" remove the section about alias eigen3 to eigen . I can't find the  eigen3 folder under the third_party.
Did you have any suggestion for this? Thank a lot!

- ./third_party/org_tensorflow_compatibility_fixes.diff
[code]

Steps
==============================================

[2021-06-03 12:17] kiranscaria opened #2118 "How to provide multiple video streams as input to iOS app?"
I have a .tflite model which takes two image inputs and produces another image as output. I tested it with the desktop pipeline and got it working without issues. But I am clueless on how to get it implemented in iOS.

On searching, I found [an example where an iOS framework is created](https://medium.com/@powderapp/mediapipe-tutorial-find-memes-that-match-your-facial-expression-9bf598da98c0). But

[2021-06-03 12:42] alexriedel1 commented on #2089
I'm actually asking for other "out-of-the-box" solutions to track the 21 3D hand keypoints, that might be slower, but more accurate than mediapipe.

[2021-06-03 12:54] GokulNC opened #2119 "How to disable logging from TfLiteXNNPackDelegate?"
Whenever I create a holistic model, the following is printed on my Terminal:

[code]

For my use-case, I need to continuously create new `Holistic` objects since I am running on many videos (with `static_image_mode=False`)
So this logging really floods my stdout. Anyway to disable this?

FYI, I just installed using `pip install mediapipe`. Python version: 3.8.8 ([Ubuntu 18.04 on Azure VM](https://

[2021-06-03 14:06] nakshatrasinghh opened #2120 "pip install mediapipe not working on apple silicon Macs, even in anaconda environment"
<img width="787" alt="Screenshot 2021-06-03 at 7 39 17 PM" src="https://user-images.githubusercontent.com/53419293/120658831-69e10500-c4a3-11eb-9b41-aed10ef79007.png">

[2021-06-03 14:13] kiranscaria opened #2121 "How to write a GpuTensorsToGpuBufferCalculator?"
I have a .tflite model which outputs a GPU_TENSOR of shape 224x224x3. How can I write a simple calculator to convert the GPU_TENSOR to output.

Thanks.

[2021-06-03 14:29] guoguoguilai opened #2122 "About remote control interface in Holistic"
The example on [Holistic Remote](https://mediapipe.dev/demo/holistic_remote/) is awsome! I was attracted by the gesture interaction. How to implement such a remote control interface?

[2021-06-03 14:39] salvadorld0 commented on #2115
Hi @sgowroji. Thanks for answering. Yes of course. In fact, I'm trying to solve this issue outside of the complexity of my project, so, I'm using the sample code you can find on the documentation in [here](https://google.github.io/mediapipe/solutions/hands#javascript-solution-api). Here I left a snipped of it:

[code]

What I want is to be able to know when Mediapipe is completely loaded. This wou

[2021-06-03 14:46] kiranscaria commented on #2120
What is the pip version?

[2021-06-03 15:03] kiranscaria commented on #2119
Have you tried changing the log-level?
`os.environ["GLOG_minloglevel"] ="2"`

Levels
0 - debug
1 - info (still a LOT of outputs)
2 - warnings
3 - errors

https://stackoverflow.com/questions/29788075/setting-glog-minloglevel-1-to-prevent-output-in-shell-from-caffe

[2021-06-03 15:49] holove93 commented on #759
Because It is just PATH,  you can remove "python.exe"
So.. correct script is  bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 --action_env PYTHON_BIN_PATH="C://python_36//" mediapipe/examples/desktop/hello_world

[2021-06-03 15:53] GokulNC commented on #2119
Yes I did.

[code]

[2021-06-03 16:01] zhangy76 opened #2123 "Hand landmark detection model finetuning"
Hi,

Is that possible to finetune the landmark detection model on my own data? The platform I use is python.

Thanks

[2021-06-03 16:38] jiuqiant commented on #2116
You can take the landmark model (https://github.com/google/mediapipe/blob/master/mediapipe/modules/hand_landmark/hand_landmark.tflite) and use the standard tflite api to run it without mediapipe.

[2021-06-03 16:51] tordvilz commented on #1349
I have the same issue running in anaconda jupyter notebook
Python 3.9.5
macOS Catalina 10.15.7

**import mediapipe as mp
mp_drawing = mp.solutions.drawing_utils
mp_holistic = mp.solutions.holistic

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-2-9598eaa84d67> in <module>
----> 1

[2021-06-03 16:59] zhangy76 commented on #2116
Thanks for the reply!

Is the input have the same format as the one in the demo, i.e. the flipped images reading by CV2 in RGB ?

[2021-06-03 17:54] zhangy76 commented on #2116
Solved the problems

[2021-06-03 17:54] #2116 closed

[2021-06-03 21:11] rthadur opened #2124 "test"

[2021-06-03 21:11] #2124 closed

[2021-06-04 00:09] mlizhardy commented on #2090
My understanding is the golden file is used to check that the ssd anchors generated in the pipeline are correct.  However with the current palm_detection.tflite file requires anchors of size 896.  None of the golden anchors files have 896 anchors.  I would like to check that the ssd anchors I have generated match the anchors palm_detection.tflite expects, so I'd like a golden file which has the up

[2021-06-04 00:45] mlizhardy commented on #2090
ah nevermind, if I use a 256 x 256 input instead of 128 x 128 there are 2944 anchors.

[2021-06-04 00:45] #2090 closed

[2021-06-04 01:24] codylieu commented on #1937
@mhays-google @sgowroji Any updates on this?

[2021-06-04 04:49] yishinhung commented on #2117
Hi @sgowroji :
     I modify the eigen3 to eigen to bypass the build fail but i still encounter the following error.
Could you have any idea and suggestion for this? Thank a lot!

[code]

[2021-06-04 06:38] JamieGB92 commented on #2100
hey does anyone have an update?

[2021-06-04 09:04] dzcpy commented on #587
Any updates?

[2021-06-04 10:31] nmk987 commented on #2120
Same issue.
Pip version: 21.1.2
Python: 3.8.6

[2021-06-04 12:11] bhaskar2728 commented on #2093
Hi @DandyLorenz , I don't know much about all the files present in mediapipe repository but this file https://github.com/google/mediapipe/blob/master/mediapipe/modules/pose_landmark/pose_landmark_model_loader.pbtxt is used for selecting model, here by default you will see select:1 which means it's using the full model.If you are doing it in android using aar,I tried changing it to select:2 and the

[2021-06-04 12:15] atul109 commented on #1977
Objectron APK build from mediapipe 0.8.2 crashes with the above mentioned error `mediapipe_gl_ru `
where as 0.7.10 builds and runs without error, except the video is very zoomed in.
Somewhere in between 0.7.10 and 0.8.2 it is broken.

[2021-06-04 14:45] Rhytham3008 commented on #1325
Thanks, I got to know that it needs python to be 64 bit

[2021-06-04 17:03] mcclanahoochie commented on #1875
Try registering an `ObserveOutputStream` callback, instead of the Poller.

examples here
https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a479407c699e424aa7/mediapipe/calculators/core/immediate_mux_calculator_test.cc#L343
and here
https://github.com/google/mediapipe/issues/850#issuecomment-776447734

[2021-06-04 17:11] mcclanahoochie commented on #1964
The code to initialize the GPU from [demo_run_graph_main_gpu](https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a479407c699e424aa7/mediapipe/examples/desktop/demo_run_graph_main_gpu.cc#L62) can be added to the simple_run_graph_main.cc in a similar way

[2021-06-04 18:10] petremihaivalentin commented on #2079
Hello again,

I tried rebuilding from source the GPU python version by following [this](https://github.com/google/mediapipe/issues/2041#issuecomment-844129267).
Afterwards, I ran ```python3.8 setup.py install```. Now I get this error:
![image](https://user-images.githubusercontent.com/49815020/120845060-f27da500-c578-11eb-8ece-931a54213032.png)

I have to mention that I had to comment out some ```

[2021-06-04 18:23] vKrypto commented on #1399
same, as I can see, we can't actually solve this problem, just minimize the time, by preloading modules or showing loader.

[2021-06-04 18:30] mcclanahoochie commented on #1962
The ANEURALNETWORKS_OP_FAILED is new to me. This must be an internal error from TfLite, and there may actually be[ many reasons](https://android.googlesource.com/platform/frameworks/ml/+/android-p-preview-4/nn/runtime/ExecutionPlan.cpp) why this error is returned.

The 2 detection networks are more simple than the landmark/tracking models, so it is possible that one of the OPs in the graph is [not

[2021-06-04 18:46] mcclanahoochie commented on #1859
Hi, Are you using a custom MainActivity.java? If so, can you compare your override functions to how they are implemented here https://github.com/google/mediapipe/blob/master/mediapipe/examples/android/src/java/com/google/mediapipe/apps/basic/MainActivity.java ?

You can also try increasing the [NUM_BUFFERS](https://github.com/google/mediapipe/blob/master/mediapipe/examples/android/src/java/com/goo

[2021-06-04 18:52] mcclanahoochie commented on #1994
Hi, yes, any example MediaPipe provides can be made to work on CPU/GPU, by modifying the graph and build flags.

Typically (in most, but not all graphs), you will see graph stream names with IMAGE_GPU to denote GPU data, or just IMAGE for CPU.

For all Android examples, it is assumed that the input and output streams are on GPU (by default), unless you have a custom MainActivity.java that can send

[2021-06-04 19:07] mcclanahoochie commented on #2038
As mentioned in https://github.com/google/mediapipe/issues/689#issuecomment-626835683 the recolor_calculator doesn't use a LUT, and instead uses a single color varied by image intensity.

The standard way to use re-color LUTs is via [HaldCLUT](http://www.quelsolaar.com/technology/clut.html), which the paper uses also.

The best advice is to research HaldCLUT indexing and implement in the recolor_c

[2021-06-04 19:07] #2038 closed

[2021-06-04 19:22] mcclanahoochie commented on #2078
Can you provide more details in profiling?
- What tool did you use to measure?
- Is this the performance of the first frame, or every single frame?
  -  (the first frame can be slower than the rest)
- Can you show more of the profiling results?
  -  (are there other long processes, or is AddPacketToInputStream the only one taking very long?)
- Can you verify that the app was built in `opt` mode ?

[2021-06-04 20:09] txf- commented on #2078
Unfortunately Tracing seems to be broken at the moment.

[2021-06-04 20:23] Sun1718 opened #2125 "Gaze Direction Estimation"
Hi,

Can you please guide me to find the gaze direction of the eyes using head rotation and translation values and iris points?

So thanks

[2021-06-05 07:08] SRDdev commented on #2093
Hey @DandyLorenz, I would like to work on this issue, I might need some guidance as I am new at this.
So can I please work on this issue !!

[2021-06-05 07:57] #2016 closed

[2021-06-05 08:17] PragadheeswaranDX opened #2126 "Building Mediapipe for Linux GPU. No registered object with name. Unable to find Calculator"
By editing the setup.py file.
on line 224:
binary_graphs = [
        'face_detection/face_detection_front_cpu',
        'face_landmark/face_landmark_front_cpu',
        'hand_landmark/hand_landmark_tracking_cpu',
        'holistic_landmark/holistic_landmark_cpu', 'objectron/objectron_cpu',
        'pose_landmark/pose_landmark_cpu',
        'selfie_segmentation/selfie_segmentation_cpu'
    ]
to
bin

[2021-06-05 08:58] lilinxiong commented on #1962
Ok, thanks for your reply, but now I don't pay much attention to this matter anymore, what I am concerned about now is:The shared library compiled by MediaPipe is very large(>10MB). This is the biggest problem we currently encounter. And trying to solve it, but I still appreciate your reply. Thank you~

[2021-06-05 09:04] nakshatrasinghh commented on #2120
Same versions on my machine as well. Any ways to solve this issue?

[2021-06-05 09:44] darkpredator19 opened #2127 "Disable display - Unable to initialize EGL"
Hello!
I have been trying to build pose detection for GPU for the last couple of days and I came across an error with EGL context :
<img width="771" alt="Screenshot 2021-06-05 at 12 41 40" src="https://user-images.githubusercontent.com/22716853/120887423-72e4ea00-c5fb-11eb-959b-f9c7d0c70935.png">
Is there any way I could disable display? I am working on a remote server that does not have display.

[2021-06-05 09:45] hirashahid9 commented on #2096
![image](https://user-images.githubusercontent.com/55246052/120887493-a714d680-c60c-11eb-86ad-60b145bbc9ee.png)
@sgowroji You can see the problem in the image above. I am using Linux.

[2021-06-05 09:49] akokhlik commented on #2038
Thanks @mcclanahoochie

[2021-06-05 09:53] hirashahid9 opened #2128 "Incorrect Hand Detection - MediaPipe Hands (Multihand Tracking)"
Mediapipe hands is not tracking hands accurately. Kindly look into this issue. I have used these extracted landmarks for model training for sign language, But the resulting accuracy is very low. I think it is due to incorrect detection by mediapipe Kindly let me know what can I do now?

![image](https://user-images.githubusercontent.com/55246052/120887688-bfd1bc00-c60d-11eb-9f3a-3f6e3c7125c1.png)

[2021-06-05 11:47] Julian3012 commented on #2102
Hi @LORDVINCE ,
I updated the workspace and the error does not occur anymore.
Unfortunately I get another error:

[code]

[2021-06-06 03:32] joeapiwit commented on #1618
@kostyaby
Could you please confirm that the unit of the coordinate x,y,z  of vertices that we get from the canonical face
(Parse / pre-process landmarks from canonical_face_mesh.obj)
are in centimeters. For example, if I calculate Euclidean distance between any two points i.e. (x1,y1,z1) and (z2,y2,z2)
The distance I will get is in centimeters? Thank you very much in advance!

[2021-06-06 05:21] sattyamjjain opened #2129 "want to use Pose Detection of mediapipe with Flutter, How can I handle that"

[2021-06-06 10:45] yehDilBeparwah commented on #1463
I read the Epnp paper and the lifting2Dto3D code, there are just a few things if someone could help me with.

Q. [code](https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a479407c699e424aa7/mediapipe/modules/objectron/calculators/decoder.cc#L250), why is the alpha matrix multiplied with the solution(control matrix) to get to vertices.

Q. I am trying to reproduce the results (by runnin

[2021-06-06 10:51] yehDilBeparwah opened #2130 "Epnp : lifting2DTo3D points : Objectron"
I read the Epnp paper and the lifting2Dto3D code, there are just a few things if someone could help me with.

Q1. [code](https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a479407c699e424aa7/mediapipe/modules/objectron/calculators/decoder.cc#L250) why is the alpha matrix multiplied with the solution(control matrix) to get to 3d vertices.

Q2. I am trying to reproduce the results (by ru

[2021-06-06 14:17] miholeus commented on #1514
also have an error on m1

[2021-06-06 15:08] shero1111 opened #2131 "Where to find and download the novel annotation tool for use with AR session data?"
Hello,

I read here (https://ai.googleblog.com/2020/03/real-time-3d-object-detection-on-mobile.html) about the annotation tool for videos...where can I find and use or download it?

I could not find it anywhere on net.

![image](https://user-images.githubusercontent.com/64836488/120929581-e1a07100-c6e9-11eb-810f-cf4e55f98944.png)

Thank you in advance!

[2021-06-06 18:44] kostyaby commented on #1618
Hey @joeapiwit,

Yeah, those are centimeters. This, in turn, implies that all Face Geometry module outputs are in centimeters as well

[2021-06-06 19:46] IceFloe opened #2132 "iOS Simulator x86_64 Dependencies"
Is there any reason why mediapipe/framework/formats/landmark.pb.h - is not available for x86_64 arch.
I am trying to build an iOS framework base on the facemeshgpu example using this bazel command
bazel build --copt=-fembed-bitcode --apple_bitcode=embedded --config=ios_arm64 --ios_multi_cpus=arm64,x86_64 --sandbox_debug  mediapipe/examples/ios/facemeshgpu:FaceLandmarks

All works for iOS device, b

[2021-06-06 20:23] LucaswasTaken commented on #1869
Sorry for the long delay. For instance, these three frames are part of a video. Between the first and last frame, the landmarks of the right hand are missing. In these cases, I usually interpolate between the landmarks before and after and reconstruct the missing frame. Do you think that this "interpolation" function that I use could be a good addition to make a pull request?

![before](https://us

[2021-06-07 01:18] yshuolu commented on #1440
`/usr/bin/python3 -m pip install numpy` did not work for me

[2021-06-07 01:55] DandyLorenz commented on #1994
yes，I try to modify some BUILD file About its calculators content，such as,I build handtracking aar for android,I Modify as follows：

[2021-06-07 01:56] DandyLorenz commented on #1994
yes，I try to modify some BUILD file About its calculators content，such as,I build handtracking aar for android,I Modify as follows：

[2021-06-07 04:08] NotSpooky opened #2133 "Running pose detection on headless server"
I followed the instructions in [#2041](https://github.com/google/mediapipe/issues/2041) to build a Docker image for Pose GPU inference and generated the .whl
Now I'm trying to run a basic example (no display needed), however just instancing the Pose solution gives me an error:
[code]
Gives me:
[code]

As far as I understand, that is caused by it trying to access a display.
However I don't want to

[2021-06-07 04:11] chensisi0730 commented on #2013
I am sorry

[2021-06-07 04:12] DandyLorenz commented on #1994
yes，I try to modify some BUILD file About its calculators content，such as,I build posetracking aar for android,I Modify as follows：
1.Create folder my_posetrackingcpu_aar and create file BUILD below:
# vi BUILD
`load("//mediapipe/java/com/google/mediapipe:mediapipe_aar.bzl", "mediapipe_aar")

mediapipe_aar(
  name = "my_posetrackingcpu_aar",
  calculators = [
    "//mediapipe/graphs/pose_tracking:

[2021-06-07 04:16] DandyLorenz commented on #1994
yes，I try to modify some BUILD file About its calculators content，such as,I build posetracking aar for android,I Modify as follows：
1.Create folder my_posetrackingcpu_aar and create file BUILD below:
`vi BUILD`
`load("//mediapipe/java/com/google/mediapipe:mediapipe_aar.bzl", "mediapipe_aar")

mediapipe_aar(
name = "my_posetrackingcpu_aar",
calculators = [
"//mediapipe/graphs/pose_tracking:pose_tra

[2021-06-07 04:19] DandyLorenz commented on #2093
Thank you for your reply. I've seen it before. Your reply makes me sure that I can do it. I think it is most likely correct

[2021-06-07 04:20] DandyLorenz commented on #2093
Yes, you can ask your question in time. I will close the current issue after a certain period of time

[2021-06-07 04:20] sgowroji commented on #2118
Hi @kiranscaria, This are some [examples](https://github.com/google/mediapipe/tree/master/mediapipe/examples/ios/common) you can try. Did you encounter any issue  while following the steps mentioned [here](https://google.github.io/mediapipe/getting_started/hello_world_ios.html).

[2021-06-07 04:41] sgowroji commented on #2119
Hi @GokulNC, Have you tried with the latest build. This should be [fixed](https://github.com/google/mediapipe/issues/1695#issuecomment-794624067) in the latest release.

[2021-06-07 04:52] kiranscaria commented on #2118
Tried different ways. Will get back to you shortly with the results.

[2021-06-07 04:55] sgowroji commented on #2120
Hi @nakshatrasinghh , Can you check this [reference](MediaPipe PyPI supports macOS 10.15 and above. See https://github.com/google/mediapipe/blob/master/docs/getting_started/troubleshooting.md#python-pip-install-failure.).

[2021-06-07 05:12] sgowroji commented on #2121
Hi @kiranscaria, Could you please elaborate your use case with complete details. Thanks!

[2021-06-07 05:14] sgowroji commented on #2122
Hi @guoguoguilai, Could you please elaborate your use case with clear details. Thanks!

[2021-06-07 05:17] sgowroji commented on #2128
Hi @hirashahid9, Could you please provide the steps to reproduce the above error. Thanks!

[2021-06-07 05:21] PeterTF656 commented on #1401
@AryanSethi I just found out a [repo](https://github.com/CariusLars/ar_flutter_plugin) that implement arcore as a package for both ios and android platform. I'm thinking maybe we can use the argumented face for the face mesh function. I tested both tflite facemesh model and argumented face, and clearly, argumented face is better in almost every aspect, especially in performance.

[2021-06-07 06:04] bhargav-sudo opened #2134 "Facing issues while working on JS examples mediapipe."
HI,

I am working on Face detection mediapipe JS example..
It is not detecting anything.
I used code from this [https://google.github.io/mediapipe/solutions/face_detection#javascript-solution-api](url)
I am getting the following error.

![Screenshot from 2021-06-07 11-29-40](https://user-images.githubusercontent.com/57169077/120966778-53c59400-c784-11eb-96ec-9322b3857d96.png)

Thanks,
Bhargav.K.

[2021-06-07 06:07] sgowroji commented on #2125
Hi @Sun1718, Could you please provide more details regarding the above query. Thanks!

[2021-06-07 06:10] sgowroji commented on #2127
Hi @darkpredator19, Could you please provide the steps to reproduce the above issue. Thanks!

[2021-06-07 06:18] PragadheeswaranDX commented on #2126
Any Update regarding the issue?

[2021-06-07 06:19] sgowroji commented on #2126
Hi @PragadheeswaranDX, Could you please provide the complete steps to reproduce the above error.

[2021-06-07 06:22] sgowroji commented on #2123
Hi @zhangy76, Have you encountered any error while using hand solution? Please share us the complete details like error logs with steps performed  to reproduce it.

[2021-06-07 06:23] PragadheeswaranDX commented on #2126
# Python BUILD File

load("@pybind11_bazel//:build_defs.bzl", "pybind_extension")

licenses(["notice"])  # Apache 2.0

pybind_extension(
    name = "_framework_bindings",
    srcs = ["framework_bindings.cc"],
    linkopts = select({
        "//third_party:opencv_source_build": [],
        "//conditions:default": [
            "-lopencv_core",
            "-lopencv_imgproc",
            "-lopencv_h

[2021-06-07 06:25] sgowroji commented on #2129
Hi @sattyamjjain, Have you tried any examples and noticing any errors. Please let us know. Thanks

[2021-06-07 06:33] PragadheeswaranDX opened #2135 "[libprotobuf ERROR external/com_google_protobuf/src/google/protobuf/text_format.cc:309] Error parsing text-format mediapipe.CalculatorGraphConfig: 108:55: Expected "/", found "]"."
[libprotobuf ERROR external/com_google_protobuf/src/google/protobuf/text_format.cc:309] Error parsing text-format mediapipe.CalculatorGraphConfig: 108:55: Expected "/", found "]".
E20210607 14:29:15.103349 18843 text_to_binary_graph.cc:112] INTERNAL: ; could not parse text proto: mediapipe/modules/pose_landmark/pose_landmark_gpu.pbtxt
Target //mediapipe/modules/pose_landmark:pose_landmark_gpu fail

[2021-06-07 06:39] Monibsediqi commented on #2109
Any response on this issue/request?

[2021-06-07 07:14] AryanSethi commented on #1401
Heyyy !!
Thanks for the information @PeterTF656
I'll checkout this repo too. 😄

[2021-06-07 07:38] yshuolu commented on #294
I want to integrate mediapipe with iOS projects with build systems of BUCK/Cocoapods. However, right now mediapipe seems tightly coupled with Bazel/Tulsi for iOS workflow, while I am struggling to make Tulsi work with the example projects, with all kinds of vague errors. Even though building into static library by bazel could be the way around, but we lose the opportunity to play and hack with the

[2021-06-07 08:35] sgowroji commented on #2131
Hi @shero1111, Please go through this for complete [documentation and code ](https://google.github.io/mediapipe/solutions/objectron.html)samples in different platforms.

[2021-06-07 08:37] sgowroji commented on #2132
Hi @IceFloe, Could you please provide the steps to reproduce the above error. Thanks

[2021-06-07 08:43] sgowroji commented on #2134
Hi @bhargav-sudo, Could you please provide your code changes if there are any. Have you tried doing the same in [codepen](https://codepen.io/mediapipe/full/dyOzvZM)?

[2021-06-07 08:47] sgowroji commented on #2135
Hi @PragadheeswaranDX, Could you please provide the steps to reproduce the above error. Thanks!

[2021-06-07 08:52] bhargav-sudo commented on #2134
HI @sgowroji This is my js and html code

Js code :

const videoElement = document.getElementsByClassName('input_video')[0];
console.log(videoElement);
const canvasElement = document.getElementsByClassName('output_canvas')[0];
const canvasCtx = canvasElement.getContext('2d');
console.log(canvasCtx);

function onResults(results) {
  // Draw the overlays.
  canvasCtx.save();
  canvasCtx.clearRect(0,

[2021-06-07 08:53] PragadheeswaranDX commented on #2135
Sir, Thankyou for the respose. I worked on the Build script and succesfully built it. You may close the issue.

[2021-06-07 08:53] #2135 closed

[2021-06-07 08:54] PragadheeswaranDX commented on #2126
Sir, Thankyou for the respose. I worked on the Build script and succesfully built it. You may close the issue.

[2021-06-07 08:54] #2126 closed

[2021-06-07 08:58] Monibsediqi commented on #1294
any update on this issue?? I have a similar problem.

[2021-06-07 09:01] sgowroji commented on #1994
Hi @DandyLorenz, Could you please confirm the above is duplicate of this https://github.com/google/mediapipe/issues/2126

[2021-06-07 09:03] Monibsediqi commented on #1294
Here is the output of iris_landmark.tflite model given a 64x64 eye image. on android device.
ris Model : irisLandmark0 : 17807.814
2021-06-07 17:53:01.343 10082-10169/com.pr331.gazeapp I/MainActivity: Iris Model : irisLandmark1 : 21549.562
2021-06-07 17:53:01.343 10082-10169/com.pr331.gazeapp I/MainActivity: Iris Model : irisLandmark2 : -5856.8413
2021-06-07 17:53:01.343 10082-10169/com.pr331.gaze

[2021-06-07 09:09] IceFloe commented on #2132
Sure:
Use folder _mediapipe/examples/ios/facemeshgpu_

1. Create a BUILD

[code]
2. Use these files as input for a BUILD file
**ObjcppLib.h**
[code]

**ObjcppLib.mm**
[code]

**FaceLandmark.h**
[code]

**FaceLandmark.mm**
[code]

3. Run bazel build command
bazel build --copt=-fembed-bitcode --apple_bitcode=embedded --config=ios_arm64 --ios_multi_cpus=arm64,x86_64 --sandbox_debug  mediapipe/example

[2021-06-07 09:13] Monibsediqi opened #2137 "Iris_landmark coordinate on the cropped eye image coordinate"
Hi, I need to get the iris landmarks coordinate in the cropped eye image. Any insights on how to get the iris landmark coordinate in the cropped eye image?
Side note: I know how to get the landmark coordinate on the actual image. It's basically multiplying the normalized landmark value with the height and width of the image. However, I need to get the landmark coordinate in the eye cropped image.

[2021-06-07 09:28] chaowentao commented on #1914
@maokk @WayneLin015  How do you test the tflite model ? Can you give me the `run.py`? Now I am solving this problem. Thank you ~

[2021-06-07 09:59] DandyLorenz commented on #1994
No, it isn't.The reasons are:
1. I basically did not change the graph file
2. I am building aar for Android，But it is to build a python program.

[2021-06-07 10:04] darkpredator19 commented on #2127
Hello!
The steps are the following:
- I cloned the mediapipe repo;
- I edited the code so that it would work on the GPU as of [https://github.com/google/mediapipe/issues/2041#issuecomment-844129267](here);
- I added a new line in the last BUILD file: "WITH_LAPACK" : "OFF" (I encountered an error with the dynamic library - "sgesv_ not defined");
- python3.8 setup.py gen_protos
- python3.8 setup.py

[2021-06-07 10:22] kiranscaria commented on #2121
I wanted to create a style-transfer pipeline; where the tflite model would take in an RGB image and gives out an RGB image (as Tensors). Is there any calculator where I convert this Tensor into Image?

[2021-06-07 10:42] shero1111 commented on #2131
MODEL_NAME
Name of the model to use for predicting 3D bounding box landmarks. Currently supports {'Shoe', 'Chair', 'Cup', 'Camera'}.

Does that mean that we can not realize a delivery box objectron? Does the framework currently support just these and when providing a model for delivery boxes it would nevertheless not detect them because just 4 kinds of objects are supported for objectron?

[2021-06-07 11:04] maksymsur opened #2138 "GetResourceContents failed"
After upgrading from 0.8.4 to 0.8.5 face the following issue:

[code]
When downgrading - all works just fine.

System info:
[code]

[2021-06-07 11:17] sgowroji commented on #2138
Hi @maksymsur, Could you please provide the steps to reproduce the above error and also your code changes. Thanks!

[2021-06-07 11:51] sgowroji commented on #2077
Hi @timtensor, Right i don't have any examples, But you can give a try with above comment and let me know if you face any error. Thanks!

[2021-06-07 11:53] sgowroji commented on #2054
Due to lack of activity we are closing this issue now.

[2021-06-07 11:53] #2054 closed

[2021-06-07 11:55] sgowroji commented on #2084
Hi @cckv, Did you able to build the code or still facing any error?

[2021-06-07 12:39] maksymsur commented on #2138
Sure.
Here is my workflow:
[code]
and that's the content of `main.py` --> as you may notice it's a simple hand-landmark solution suggested by the manual
[code]

[2021-06-07 12:59] romaniukm commented on #2112
Ho @sgowroji , I was just trying to run the Python face detection example: https://google.github.io/mediapipe/solutions/face_detection.html#python-solution-api

It looks like there is no way to switch to the back-facing camera model. By looking at the Python code https://github.com/google/mediapipe/blob/master/mediapipe/python/solutions/face_detection.py I figured out that the model is always load

[2021-06-07 15:41] tyrmullen commented on #2134
Have you checked (using Chrome's built-in "Network" tab, for example) that all fetches are succeeding and not returning 404 errors?  I'm not sure 'face_detection@0.0' would work... maybe try face_detection@0.3 or face_detection@0.1?

[2021-06-07 16:39] kiranscaria commented on #2121
The steps I believe would be:
1. TENSOR -> IMAGE using TensortoImageCalculator
2. IMAGE -> GPUBuffer using FromImageCalculator

I couldn't find the TensortoImageCalculator.

[2021-06-07 16:56] kiranscaria commented on #2118
Changed `processVideoFrame` into accepting two `CVPixelBufferRef`:

[code]

Changed the function definition:

[code]

The output for this is:

[code]

Only the `content frame` gets passed and not the `style frame`; that too just for the first call. Stuck at this point.

[2021-06-07 16:57] jianingwei commented on #2049
Releasing a new project will take some time and approvals. But if you have any questions during implementation, feel free to ask questions here, and we can help answering them. In particular, can you try the mediapipe/examples/android/src/java/com/google/mediapipe/apps/objecttrackinggpu/ example and mediapipe/graphs/tracking/object_detection_tracking_mobile_gpu.pbtxt graph, and start changing them

[2021-06-07 17:03] jianingwei commented on #1977
Can you verify the device where you find this crash (one-plus / huawei)? And is it crashing all the time?

[2021-06-07 18:23] ahmadyan commented on #2131
Hi Shero,

1. We have not released our annotation tools. To visualize the dataset you you either browse [Objectron hub](https://app.activeloop.ai/dataset/google/chair) or use one of our Notebooks.

2. We will release model for more categories (including all nine categories in the dataset) next week. Stay tuned.

[2021-06-07 18:52] zhangy76 commented on #2123
Thanks for the reply. The results do not look good when running on some challenging images. I am considering to retrain the model with my own image data.

[2021-06-07 20:37] 124bit commented on #2133
Hello,

Can you share which patch you used?
I'm doing the same, and as far as I understand, the patch from that issue cant be applied to the last repository version of mediapipe.
Thanks

[2021-06-07 23:32] rthadur opened #2139 "test issue"

[2021-06-07 23:40] #2139 closed

[2021-06-08 02:44] cckv commented on #2084
build a framework is so complex for a iOS developer, Gave up temporarily!

[2021-06-08 02:52] NotSpooky commented on #2133
I'm at commit ae05ad04b3ae43d475ccb2868e23f1418fea8746

My diff is
[code]

[2021-06-08 03:55] kkzh2313 opened #2140 "Some questions about the output of blazepose"
Question1:  The regression output of pose_detection is 2254*12 in the lastest version 0.8.5.  The first 4 values correspond to the bounding ox of face, as shown in the red box in the figure.
      I'm not sure if this is the right answer, why is the red bounding box so big, why isn't it just tangent to the face ?

![image](https://user-images.githubusercontent.com/34201133/121120099-7e305380-c84f-

[2021-06-08 04:45] sgowroji commented on #1977
Hi @tilenpinta, Could you please respond to the above [comment](https://github.com/google/mediapipe/issues/1977#issuecomment-856108111). Thanks!

[2021-06-08 05:19] Lpayaro opened #2141 "Mediapipe facemesh landmarks getting bad values in Chrome Mobile"
Hello, this is my first time posting on github so if I am missing some details please let me know.

I am using testing this project from syed-ashraf123 `https://github.com/syed-ashraf123/mediapipe_face_mesh`

It runs smootly on a Chrome for Windows but it can't work properly on Chrome for Android. At the begging the mesh is shown but landmarks go away in 1 second. The reason is that the landmarks

[2021-06-08 05:31] bhargav-sudo commented on #2134
Hi @tyrmullen I will check that and let you know..

Thanks.

[2021-06-08 05:38] bhargav-sudo commented on #2134
Hi @tyrmullen I had tried like you said ..
I gave 'face_detection@0.1' and face_detection@0.3 and it shows errors like below

**face_detection@0.1 :**
![Screenshot from 2021-06-08 11-05-05](https://user-images.githubusercontent.com/57169077/121128875-b6cd2e80-c849-11eb-82af-e7578c4e8517.png)

face_detection@0.3 :
![Screenshot from 2021-06-08 11-05-23](https://user-images.githubusercontent.com/5716

[2021-06-08 06:44] sgowroji commented on #625
Hi @momo1986, Could you please respond to my above comment. Thanks!

[2021-06-08 06:45] sgowroji commented on #1207
Hi @Aprameyah, Could you please respond to my above [comment](https://github.com/google/mediapipe/issues/1207#issuecomment-851848663). Thanks

[2021-06-08 06:46] sgowroji commented on #1225
Hi @luabras, Could you please respond to my above [comment](https://github.com/google/mediapipe/issues/1225#issuecomment-851846213). Thanks

[2021-06-08 06:48] sgowroji commented on #1403
Hi @GMCristiano, Could you please respond to my above [comment](https://github.com/google/mediapipe/issues/1403#issuecomment-849440659). Thanks

[2021-06-08 06:49] sgowroji commented on #1409
Hi @carlwuuu, Could you please respond to my above [comment](https://github.com/google/mediapipe/issues/1409#issuecomment-849435285). Thanks!

[2021-06-08 06:50] sgowroji commented on #1459
Hi @ajmalrasi, Could you please respond to my above [comment](https://github.com/google/mediapipe/issues/1459#issuecomment-849427107). Thanks!

[2021-06-08 06:51] sgowroji commented on #2042
Hi Asssssert, Could you please respond to my above [comment](https://github.com/google/mediapipe/issues/2042#issuecomment-849348762). Thanks!

[2021-06-08 06:51] chaowentao opened #2142 "How to use pose landmark model(tflite) ?"
Hi, I am very interested in your work. Now I want to use the pose landmark model directly. What can I do?
[code]

[2021-06-08 06:52] sgowroji commented on #2080
Hi @toz123, Could you please respond to my above [comment](https://github.com/google/mediapipe/issues/2080#issuecomment-849324102). Thanks!

[2021-06-08 06:53] sgowroji commented on #2088
Hi @PapaPythonAndWeb, Could you please respond to my above [comment](https://github.com/google/mediapipe/issues/2088#issuecomment-851137999). Thanks!

[2021-06-08 06:55] chaowentao commented on #1914
@WayneLin015 The results contain 39 points, 1-33 is the pose landmark, 34-39 is auxiliary points for tracking. My tflite result is bad. So can you share your inference code? Thank you~

[2021-06-08 06:55] sgowroji commented on #2098
Hi @Amearul, Could you please respond to my above [comment](https://github.com/google/mediapipe/issues/2098#issuecomment-851169469). Thanks!

[2021-06-08 06:58] joeapiwit commented on #1618
Thank you very much!
So, did you mean not only the unit of canonical face model is in centimeters but the unit I got when I ran `face_mesh.process(myPicture).multi_face_landmarks` (all the (x,y,z )I got) is also in centimeters as well?

[2021-06-08 07:01] Asssssert commented on #2042
Hi @sgowroji  , Sorry I missed your message. When I was reading the prerequisites documentation, I didn't notice "Setup Android SDK release 28.0.3 and above".
I would recommend that you consider compatibility with lower versions.

[2021-06-08 07:02] #2042 closed

[2021-06-08 07:03] 124bit commented on #2133
Thanks!

[2021-06-08 07:10] Aprameyah commented on #1207
Hi @sgowroji,
While following the [link](https://google.github.io/mediapipe/getting_started/android.html) Option 1, step 1.

[2021-06-08 07:16] bwjoe opened #2143 "hi how can i use iris_tracking graphs with "not a camera, but an image.""
hello~
i appreciate your all supports

first, i success in making an "iristrakcinggpu arr"
next, i success in making an "test apk" with "libs/iristrakcinggpu arr" and "asset/face_detection_front.tflite" , "asset/iris_lanmark.tflite" , "asset/face_lanmark.tflite" ,  "asset/iris_tracking_gpu.binarypb".
"test apk" works well.

but my project already use "android.hardware.camera" so i have to use "iri

[2021-06-08 07:55] Monibsediqi commented on #2137
Hi, any update on this issue?

[2021-06-08 07:59] Monibsediqi opened #2144 "How to save image after detection"
Hi, How can I save the mediapipe processed image after iris/face detection on android?
As I went through the basic android example, I noticed that the output of the processor object is a SurfaceOutput. I can display the output on the screen, but I need to save the image (with facemesh) in the device.
Looking forward to any insights on this query and thank you in advance,

[2021-06-08 08:19] nakshatrasinghh commented on #2120
Did you try conda install MediaPipe or pip3 install MediaPipe?

[2021-06-08 08:31] sn1c3 commented on #2099
Assuming the depth perception of mediapipe works accurate:
1. Detect all hands in a picture with a bounding box
2. For each bounding box use mediapipe hand recognition
3. Only display the hand closest to the camera

It's a bit of a hustle, but could work for you

[2021-06-08 08:35] sn1c3 commented on #2089
@alexriedel1 did you find any?

[2021-06-08 08:43] alexriedel1 commented on #2089
@sn1c3 : let me share my findings:
https://github.com/CMU-Perceptual-Computing-Lab/openpose
-only 2D, full body poses -> very slow

https://github.com/NVIDIA-AI-IOT/trt_pose_hand
-only 2D

https://github.com/Elody-07/AWR-Adaptive-Weighting-Regression
-takes in depth images

https://github.com/3d-hand-shape/hand-graph-cnn
-might be suitable but pretrained models might be inaccurate due to low train

[2021-06-08 08:58] sgowroji commented on #2144
Hi @Monibsediqi, We are using Camera X library in Android.  You can use [Image capture](https://developer.android.com/reference/androidx/camera/core/ImageCapture) to  capture the image and save.  You can try [this](https://medium.com/swlh/how-to-create-a-simple-camera-app-using-android-camerax-library-7367778498e0) if your usecase is similar. Please reach out, if you encounter any error. Thanks!

[2021-06-08 09:01] RikiXY commented on #2138
I have the same problem
![Screenshot (26)](https://user-images.githubusercontent.com/85552026/121156138-bbddae00-c848-11eb-8664-98d881d69543.png)

[2021-06-08 09:08] Monibsediqi commented on #2144
Thank you so much for the prompt reply, I will check it out. For now, I'm using Camera2 API. I mainly, need to save the output stream from the mediapipe graph produced by processor object of FrameProcessor.
I will try the provided solution for now.

[2021-06-08 09:23] ajmalrasi commented on #1459
@sgowroji Just tested on Samsung S8, i can confirm that the issue is resolved.

[2021-06-08 09:36] apcjs opened #2145 "Pose detection shifting to the left on certain devices"
![image](https://user-images.githubusercontent.com/328103/121160773-00c60c80-c86a-11eb-9818-feb9b051ccb9.png)

The pose detection works fine on most devices, but on certain devices like the Samsung Galaxy Tab S5e and Redmi Note 5 Pro, I notice this shift

When I try run Hoistic, the points using facemesh work fine, but the posenet points are shifted to the left. It looks like facemesh has handled

[2021-06-08 10:01] qixi666666 opened #2146 "how to use python to know output_stream or input_stream in one node of the GRAPH"
in python example hand_landmark_tracking_cpu, it only be knowed five observe_output_streams, but how can I find some one of any node in the graph
for example , I want to know the output_side_packet: "palmdetectioncpu__anchors"
node {
  name: "palmdetectioncpu__SsdAnchorsCalculator"
  calculator: "SsdAnchorsCalculator"
  output_side_packet: "palmdetectioncpu__anchors"
  options {
    [mediapipe.Ssd

[2021-06-08 10:44] sgowroji commented on #2145
Hi @apcjs, Could you please provide a video with above behavior. And also the complete steps to reproduce the above error. Thanks!

[2021-06-08 10:53] gurpreetdeveloping commented on #727
can i get the objectdetection3d sneaker AAR file

[2021-06-08 12:14] toz123 commented on #2080
Yes this solution worked, thank you!

[2021-06-08 12:14] #2080 closed

[2021-06-08 14:38] sn1c3 commented on #1988
@philiprkk Did you find a solution?

@aoxipo  Is there a recommended way to scale the z axis?

So x and y refer to the width and height of the image. Z does only contain values somewhere between -1 <= 0 <= 1 (depending on the image). To make the 3d visualization look realistic, I have to scale the z axis with a factor, in the best case something that correlates to the distance from the camera.

Th

[2021-06-08 15:51] kostyaby commented on #1618
Hey @joeapiwit,

Face Mesh module is different from Face Geometry module ([list of modules](https://github.com/google/mediapipe/tree/master/mediapipe/modules)). The Face Mesh module operates in relative screen coordinate space, so it's not centimeters

[2021-06-08 17:05] yuxiaohui78 opened #2147 "Errors to link absl. ld: symbol(s) not found for architecture arm64"
I tried to build a framework for iOS. But I got the following link errors.
Could you give me some suggestions to fix this issue? Thanks!
============Link errors==========
Undefined symbols for architecture arm64:
  "absl::lts_2020_09_23::InternalError(absl::lts_2020_09_23::string_view)", referenced from:
      absl::lts_2020_09_23::Status mediapipe::Packet::ValidateAsType<mediapipe::NormalizedLand

[2021-06-08 17:40] yuxiaohui78 commented on #364
I got the same errors as you got. Have you got a solution to fix that? Thanks!

[2021-06-08 18:20] tyrmullen commented on #2134
You can also just navigate to those pages directly if you want to check whether they exist.  (Although I'd really recommend the "Network" tab in the Chrome Dev Tools; it's great for showing all of your loading successes and errors at the same time).  When I do, I can verify that:
https://cdn.jsdelivr.net/npm/@mediapipe/face_detection@0.0/face_detection.js - EXISTS
https://cdn.jsdelivr.net/npm/@med

[2021-06-08 22:36] mgyong commented on #2142
@chaowentao We like to encourage you to use MediaPipe python API for full body blazepose instead of the tflite file directly as there are optimizations we do in the pipeline that you will need to reimplement.

[2021-06-08 22:36] #2142 closed

[2021-06-09 00:43] Monibsediqi commented on #1361
hi @ViswanathaReddyGajjala, may I ask how did you figure out the iris_landmark.tflite large value output?
I am using the iris_landmark.tflite directlt but I'm getting a very large output for iris landmarks.

[2021-06-09 01:20] Monibsediqi opened #2148 "Difficulty in interpreting the output of iris_landmark.tflite model"
Hi, I used the iris_landmark tflite model directly to predict the iris landmark coordiante in the cropped eye region. I got the outputs for eye contours (1x213) and the iris (1x15). However, the output of the iris landmark is too huge. Any assistance on interpreting the iris_landmark value?
Also, am I missing any preprocessing of the image before passing to the iris_landmark model?
Here's the outp

[2021-06-09 03:41] tomleader commented on #2083
@kostyaby thanks but that library use THREE.OrthographicCamera...I think I'll wait for the Face Geometry module for js.

[2021-06-09 05:04] bhargav-sudo commented on #2134
Hi @tyrmullen thanks for response.

I did not installed any npm packages ..
Do I need to install anything before trying the JS samples...?

Thanks.

[2021-06-09 05:15] sgowroji commented on #2148
Hi @Monibsediqi, Could you please provide your code changes to understand it much better. Thanks

[2021-06-09 06:22] mssimrp commented on #2030
Windows.
Bazel 4.0.0
Android Studio 3.5.3
Android SDK Platform API Level 29
Android SDK Build-Tools 31-rc4
Android SDK Tools 26.1.1
Android SDK Platform Tools 31.0.2

[2021-06-09 06:50] tyrmullen commented on #2134
I did-- @0.1 for those should be fine.  But I think it's already basically working for you-- I see it printing out ResultData and boundingBox data.  The error is now pointing to drawingUtils never being defined-- those lines of code look like TypeScript demo code accidentally got copied to a pure JavaScript demo.  For your demo, I think you can just remove the "drawingUtils." and it will work (so

[2021-06-09 07:05] sgowroji commented on #2030
As we mentioned in https://google.github.io/mediapipe/getting_started/install#installing-on-windows, MediaPipe doesn't support building its Android apps on native Windows because of the limited bazel support for Android on native Windows. Please try WSL instead. You can find the instructions at https://google.github.io/mediapipe/getting_started/install#installing-on-windows-subsystem-for-linux-wsl

[2021-06-09 07:09] #1459 closed

[2021-06-09 07:12] sgowroji commented on #1207
Hi @Aprameyah, Can you please go through [this](https://github.com/google/mediapipe/issues/1587#issuecomment-774341903) .

[2021-06-09 07:13] #1207 closed

[2021-06-09 07:16] sgowroji commented on #932
Hi @AlexYiningLiu, Could you please respond to my above comment. Thanks!

[2021-06-09 07:16] bhargav-sudo commented on #2134
Hi @tyrmullen

I removed drawingUtils ..

It works for me ..
But is is showing two outputs Instead of one..

One is getting a detected face..
and other one is webcam input.

Any Idea about this .?

Thanks for the help.
Bhargav.K.

[2021-06-09 07:18] sgowroji commented on #1429
Hi @vasanthhr, Could you please respond to my above [comment](https://github.com/google/mediapipe/issues/1429#issuecomment-851844441).  Thanks!

[2021-06-09 07:19] Monibsediqi commented on #2148
Thank you for the prompt response,
I need to get the iris_landmark right in the cropped eye image coordinate, so I am trying to use the iris_landmark.tflite model directly.

Here is part of the code to convert the bitmap into bytebuffer to feed into the tflite model.
   private fun initInputArray(bitmap: Bitmap, inputChannelsImage: Int = 1): ByteBuffer {
        val bytesPerChannel = 4
        val

[2021-06-09 07:20] sgowroji commented on #1793
Assuming your resolved, we are closing this issue now. Feel free to reach us if your issue is relevant to the above query.

[2021-06-09 07:20] #1793 closed

[2021-06-09 07:23] sgowroji commented on #1859
Hi @shabazkhundmiri,  Did you get a chance to go through the above [comment](https://github.com/google/mediapipe/issues/1859#issuecomment-854932725). Thanks!

[2021-06-09 07:26] sgowroji commented on #2021
We are closing this issue now due to lack of activity and assuming your resolved with above comments.

[2021-06-09 07:26] #2021 closed

[2021-06-09 07:27] sgowroji commented on #2052
Hi @borosabel, Could you please share us the error logs to investigate it for further. Thanks!

[2021-06-09 07:33] sgowroji commented on #2111
Hi @124bit, Please share us your complete observation with video and error logs if there are any. Thanks!

[2021-06-09 07:39] sgowroji commented on #2144
Thank you for the update. We are closing this issue now. Please feel free to reach us if you have any further queries relevant to the above context.

[2021-06-09 07:39] #2144 closed

[2021-06-09 08:00] Debosmit-Neogi opened #2149 "Regarding selection of color space in the implementation of BlazePose model"
I got better results in terms of visibility scores using Lab color space instead of using RGB for most of the landmarks. The visibility scores for 5 random landmark points  using Lab and RGB is enumerated below

Landmark      RGB           Lab
0                    0.994         0.9996
1                    0.996         0.9997
2                    0.995         0.9998
25                  0.815

[2021-06-09 08:42] funnypig521 commented on #1479
I meet the same problem.Could you give me some information?

[2021-06-09 08:48] solmate-james opened #2150 "Android FrameProcessor method close() will crash"
I use face detection and hair segmentation, both of which work when used alone.
My situation is that face detection is turned on in Activity, and there is a Bottom Navigation Bar at the bottom of the screen. When you click on it will switch Fragment.
After entering Fragment will turn on hair segmentation, but the App will crash.

com.google.mediapipe.framework.MediaPipeException: not found Validat

[2021-06-09 09:06] Takuro-Ito commented on #1910
@mhays-google Any update or workaround to select multiple files at once on MacOS?

[2021-06-09 09:14] philiprkk commented on #1988
@sn1c3 I haven't found a solution either other than scaling down the z-coordinate to something that seems realistic, like what you have done. The aspect ratio of the actual webcam texture used before applying the mediapipe solution to it seems to affect it.

[2021-06-09 10:30] sgowroji commented on #2149
Hi @Debosmit-Neogi, Could you please let us know what exactly your query with respect to the above context. Thanks!

[2021-06-09 10:41] sgowroji commented on #2150
Assuming the above issue is often due to finding the calculator dependencies. Can you provide all the steps to reproduce the above error. With respective details like  android phone and its version.

[2021-06-09 11:11] sgowroji commented on #1941
Hi @lilinxiong,  We don't have much environment to test with different devices yet and it's one of the plan for our future road map. At present we can state that all the devices which support the  prerequisites while building with android sdk's and  similar for iOS.

[2021-06-09 11:11] #1941 closed

[2021-06-09 11:59] emreboyraz0 commented on #1453
` If, as you said, pass that object as a mask to our renderer, what should I do to achieve the same effect as you? thank you very much`

Did you find any solution?

[2021-06-09 13:16] GMCristiano commented on #1403
yes. it worked some while ago.

but you should updated all your tutorials or make something more develop friendly.

[2021-06-09 13:20] PopovVadim commented on #1574
I'm facing the same thing now on iOS. Need help here guys.
What's the proper way to convert a static image to `CVPixelBuffer` for mediapipe?

My case
✅ I've got to take a photo from photo library as `PHAsset `
✅ Get the image as either `UIImage` / `Data`
❔ Convert the image to pixel buffer (am I doing this right? The code below)
😞 No results from the face recognition model although there is a face

[2021-06-09 13:38] PopovVadim commented on #1574
Found the answer that helped me. The thing is that when you create a CVPixelBuffer like I shown above, it is NOT backed by an IOSurface and therefore cannot be turned into a Metal texture later.

There is a handy helper for that - see `copyToMetalCompatible` function [here](https://github.com/hollance/CoreMLHelpers/blob/master/CoreMLHelpers/CVPixelBuffer%2BCreate.swift#L105)

[2021-06-09 13:41] Debosmit-Neogi commented on #2149
Sir @sgowroji I have used the mediapipe package in python for pose estimation.  In one step we have to convert the colour space from BGR to RGB as openCV processes the visual inputs in BGR colour space as it is recommended in the official documentation. But I've used Lab colour space instead of RGB and got better landmark visibility scores. My query is if this observation is true for certain cases

[2021-06-09 13:48] sgowroji commented on #1403
Thank you for your input  @GMCristiano, definitely we will add the  problems in our documentation.

[2021-06-09 13:48] #1403 closed

[2021-06-09 14:08] yehDilBeparwah commented on #2130
@lzhang57 @ahmadyan  any word pls?
I think the answer for q1 is that the vertices are supposed to be a weighted combination of control points but then that begs the question, should I be using the hard-coded alpha matrix that is there in media pipe code?

[2021-06-09 14:24] bhargav-sudo commented on #2108
I solved it by my self.
So I closed this issue..

Thanks,

[2021-06-09 14:25] #2108 closed

[2021-06-09 15:47] mhays-google commented on #2097
To get this working in an extension, you will need to package all of the files from NPM into your local script and then change the loader path so that the '.data' and '.wasm' (and any other data files) are read from the same location.  I currently worked with a few people doing a hackathon where they made this work in an extension, so I'm certain its doable.  I have not made an extension myself, b

[2021-06-09 16:07] kostyaby commented on #2083
Hmm, interesting. I could find a `PerspectiveCamera` in [this example](https://github.com/spite/FaceMeshFaceGeometry/blob/master/examples/instanced/main.js). Maybe its support is limited, but that example definitely works somehow :)

[2021-06-09 17:53] congnguyenthe opened #2151 "Switching from camera to video"
Hi,
I am trying to switch between using camera to local video on the pose tracking demo using AAR for Android. I have checked the issue #597 and related issues. However, I am having problems with closing the surface texture of the cameraxhelper. I have tried release the previewFrameTexture like but no luck:
[code]
It seems that there is a callback function for camera helper which wasn't clean prop

[2021-06-09 18:07] GokulNC opened #2152 "Support to reset Holistic solution's tracking for videos"
**Use-case:**

I am generating pose for multiple videos using Python.
So for each video, since I have `static_image_mode=False` for [tracking-based pose inference on Holistic](https://google.github.io/mediapipe/solutions/holistic.html#static_image_mode), I am forced to create new model instances so that the output is proper.

**Feature Request:**

A method in the holistic function (like `holistic_

[2021-06-09 18:14] #2134 closed

[2021-06-09 18:16] rahulsuxsena1 commented on #1847
Followed the above but now getting this error with the app crash on start

2021-06-09 23:43:26.405 31582-31582/? E/h.iristracktes: Unknown bits set in runtime_flags: 0x800000
2021-06-09 23:43:26.606 31582-31582/com.example.iristracktest E/Config:Grabber:OnePlusFontConfig: Index 0 requested, with a size of 0
2021-06-09 23:43:26.616 31582-31582/com.example.iristracktest E/h.iristracktes: [frame_perf

[2021-06-09 19:26] tyrmullen commented on #2115
Quick hack: you could add some code which only executes once right before "await hands.send".  Actually, the first packet sent through ends up performing a lot of the initialization while it processes (I believe it might not even give you results), so it is likely even more beneficial for your purposes to have your callback called right before the *second* time that line is about to be executed.

[2021-06-09 19:56] ekam123 opened #2153 "React Native iOS App Mutex Lock SIGABRT"
Hello,

I created an iOS framework following https://github.com/google/mediapipe/issues/1319#issue-748316438 and when I added it to a new iOS app, it worked perfectly. But when I added the framework to a newly created react native app it crashed everytime with a SIGABRT.  The [react native app](https://github.com/ekam123/IrisTracker) is just a single screen that contains a button on the react side

[2021-06-09 23:21] jiuqiant commented on #2120
MediaPipe currently doesn't support arm macOS. So does Mediapipe Python package.

[2021-06-10 03:59] sgowroji commented on #2062
We are closing this issue due to lack of activity from the reporter!

[2021-06-10 03:59] #2062 closed

[2021-06-10 04:01] sgowroji commented on #1409
We are closing this issue now due to lack of activity on it.

[2021-06-10 04:01] #1409 closed

[2021-06-10 04:03] sgowroji commented on #2008
Closing this ticket as we don't hear any update from the reporter!

[2021-06-10 04:07] lowpair opened #2155 "Although we have partially solved the problem of Z-axis in hand's 21 keypoints (WEB + JavaScript) in another way, there is still a little inaccuracy. When will the z-axis obtained from the native model be released?"
Although we have partially solved the problem of Z-axis in hand's 21 keypoints (WEB + JavaScript) in another way, there is still a little inaccuracy. When will the z-axis obtained from the native model be released?

Refer to other materials and share the ways I am temporarily dealing with:

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.min.js"></script>

// Converting webc

[2021-06-10 04:07] sgowroji commented on #2151
Hi @congnguyenthe, Could you please provide your updated code changes in MainActivity. java of your android code repo.

[2021-06-10 04:11] #2120 closed

[2021-06-10 04:17] sgowroji commented on #2108
Hi @bhargav-sudo, Thank you for letting us know your issue status. I appreciate if you contribute your solution to the community, Which will be helpful for other similar issue reporters.

[2021-06-10 04:17] lowpair commented on #2155
<img width="616" alt="屏幕截图 2021-06-10 120404" src="https://user-images.githubusercontent.com/5057975/121464084-caad9780-c9e5-11eb-8695-9d312ee45153.png">

[2021-06-10 04:56] shabazkhundmiri commented on #1859
Thank you for your reply @mcclanahoochie .

Changing the NUM_BUFFERS didn't help but when I compared the my code to the link you mentioned I decided to revise the onPause() function to only close the ExternalTextureConverter like this:
[code]
This lead to a more understandable error that now showed that the `converter` was trying to open as a new instance when the app was coming back to the foregr

[2021-06-10 04:56] #1859 closed

[2021-06-10 05:00] bhargav-sudo commented on #2108
Yeah sure..

[2021-06-10 05:14] bhargav-sudo commented on #2108
Hi ,

We can solve the above error in 2 ways. First solution by clearing SSL certificate error and the other solution by commenting something which is not necessary.So , I choose the second option which is better for me to solve.

**File "/mediapipepythonexamples/mp_env1/lib/python3.7/site-packages/mediapipe/python/solutions/pose.py", line 170, in init
_download_oss_pose_landmark_model(model_compl

[2021-06-10 05:16] sgowroji commented on #625
We are closing this issue now due to lack of activity.

[2021-06-10 05:16] #625 closed

[2021-06-10 05:18] #2030 closed

[2021-06-10 05:58] #1580 closed

[2021-06-10 06:06] IceFloe commented on #2084
@cckv look at my example here. I did it base on an article. https://github.com/google/mediapipe/issues/2132

[2021-06-10 06:45] sahaashi opened #2156 "Building mediapipe package in python on Ubuntu 18.04"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): Ubuntu 18.04
- Com

[2021-06-10 07:15] solmate-james commented on #2150
@sgowroji
I think #1450 has no way to help me solve it. He seems to be misplaced aar.

I use a simple example to replicate the processor.close() crash problem.
https://github.com/jiuqiant/mediapipe_face_detection_aar_example
I cloned the above code, and only added a button to the xml. When I click it, I call processor.close() and it will crash.

activity_main.xml
<Button
        android:id="@+id/b

[2021-06-10 08:16] dajuric commented on #2097
HI @mhays-google.

[2021-06-10 08:55] funnypig521 opened #2157 "'NoneType' object has no attribute 'landmark'"
When I use a = results.pose_landmarks.landmark[23].x,I meet this problem 'NoneType' object has no attribute 'landmark'.But  mp_drawing.draw_landmarks(image, results.pose_landmarks, mp_holistic.POSE_CONNECTIONS) can work normally.Is anybody encounter the same problem?Thanks a lot!!!!!!!

[2021-06-10 09:01] Vishwa-0216 commented on #2157
What os are you using?
Windows, mac or linux?

[2021-06-10 09:08] funnypig521 commented on #2157
Both Windows and  Linux have the same problem!!!!

[2021-06-10 10:58] apcjs commented on #2145
Here's an example with holistic. I built a webpage demonstrating the shift in the Holistic model. The points in the facemesh are accurate, but the points in the posenet - the eyes, nose, shoulders are all shifted to the left. As mentioned, this happens only on certain devices -

![image](https://user-images.githubusercontent.com/328103/121513723-c9419680-ca08-11eb-8046-e9bf6745cb0c.png)

[code]

[2021-06-10 11:46] sgowroji commented on #2157
Hi @funnypig521, Could you Please provide the steps to reproduce the above error. Thanks!

[2021-06-10 11:59] funnypig521 commented on #2157
`import cv2

import time
import multiprocessing as mp
import cv2
import mediapipe as mpp
mp_drawing = mpp.solutions.drawing_utils
mp_holistic = mpp.solutions.holistic

def image_put(q, name, pwd, ip, channel=1):
    cap = cv2.VideoCapture("rtsp://%s:%s@%s//Streaming/Channels/%d" % (name, pwd, ip, channel))
    while True:
        q.put(cap.read()[1])
        q.get() if q.qsize() > 1 else time.slee

[2021-06-10 12:00] funnypig521 commented on #2157
`import cv2

import time
import multiprocessing as mp
import cv2
import mediapipe as mpp
mp_drawing = mpp.solutions.drawing_utils
mp_holistic = mpp.solutions.holistic

def image_put(q, name, pwd, ip, channel=1):
    cap = cv2.VideoCapture("rtsp://%s:%s@%s//Streaming/Channels/%d" % (name, pwd, ip, channel))
    while True:
        q.put(cap.read()[1])
        q.get() if q.qsize() > 1 else time.slee

[2021-06-10 12:31] Cris21395 commented on #1611
Any update on this?

Thank you.

[2021-06-10 21:47] NotSpooky commented on #2127
I'm getting the same error on issue [2133](https://github.com/google/mediapipe/issues/2133)

[2021-06-10 22:51] xizhang opened #2158 "Unable to build the helloworld example"
Build command:
`bazel build -c opt --config=android_arm64 :helloworld`

The error I got:
`ERROR: /Users/xizh/Workspace/mediapipe/mediapipe/framework/formats/BUILD:69:24: C++ compilation of rule '//mediapipe/framework/formats:matrix_data_cc_proto' failed (Exit 1): clang failed: error executing command external/androidndk/ndk/toolchains/llvm/prebuilt/darwin-x86_64/bin/clang -gcc-toolchain external/a

[2021-06-10 23:03] rthadur opened #2159 "build issue"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4):
- Compiler version

[2021-06-10 23:03] rthadur commented on #2159
test issue , closing this now

[2021-06-11 00:36] #2159 closed

[2021-06-11 04:08] sgowroji commented on #2158
Hi @xizhang, Did you followed the step mentioned at [here](https://google.github.io/mediapipe/getting_started/android.html#building-android-example-apps). Thanks!

[2021-06-11 07:11] yishinhung commented on #2117
Hi @jiuqiant:
    Did you have any idea for the build fail? I build the sample for coral board.
Thank al ot!

Hi @jiuqiant :
    Did you have any idea for the build fail ? I build the sample for coral board.
Thank a lot!

[2021-06-11 07:35] sahaashi opened #2160 "Setting up iris in python"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): Ubuntu 20.04
- Com

[2021-06-11 07:37] AnMokoto opened #2161 "Error when used 'detected_objects' in Android"
Error when used 'detected_objects' in Android

i'd build an `aar` below:
[code]

then build the `binarypb`:
[code]

WHEN I USED [FrameProcessor#addPacketCallback(String outputStream, PacketCallback callback)](https://github.com/google/mediapipe/blob/a9b643e0f5978425d948050a2228398929733d05/mediapipe/java/com/google/mediapipe/components/FrameProcessor.java#L333) WITH 'STREAM NAME' SAME AS  ['detect

[2021-06-11 07:38] sahaashi commented on #2156
I upgraded the Ubuntu to the version 20.04. Then, I followed the same procedure to build the mediapipe package and it worked.

[2021-06-11 07:48] Fqlox opened #2162 "Error while compiling python project with pyinstaller"
I have issues compilling a project with mediapipe python on mac, it's using selfie augmentation's solution.
I tried to compile an .app from a .py file using pyinstaller.

so far I tried
[code]

The .app does not open, and if I try the unix exec, I get

[code]

**System information**
- Mac OS : 10.15
- Python 3.8
- Installed using pip on conda env
- Mediapipe 0.8.5
- opencv-contrib-python 4.5
- pyi

[2021-06-11 07:59] chenzx commented on #1928
i tried to play the python face mesh demo on mac, but hit by strange errors:

(1)if run script from base dir:
[code]

(2)run from outside file path:
[code]

[2021-06-11 09:09] ForLovelj opened #2163 "Android Build Failed"
I had no problems building before version 0.8.3,I encountered this error after Bazel was upgraded to 3.7.2 and mediaPipe was upgraded to 0.8.4.
[code]

[2021-06-11 09:33] sgowroji commented on #2160
Hi @sahaashi,  can you try [this](https://github.com/google/mediapipe/issues/2056#issuecomment-847187373) seems similar to your issue.

[2021-06-11 09:56] sgowroji commented on #2156
Glad to know you resolved. We are closing this issue.

[2021-06-11 09:56] #2156 closed

[2021-06-11 10:20] ForLovelj commented on #2163
NDK upgraded to android-ndk-r21e build successfully

[2021-06-11 10:20] #2163 closed

[2021-06-11 10:54] julienguegan commented on #1530
Does this work only on Ubuntu/Mac ? I am struggling on Windows at the last step when building with "python setup.py bdist_wheel" it returns `ERROR : C:/users/gueganj/mediapipe/WORKSPACE:260:23:  fetching android_ndk_repository rule //external:androidndk: Either the path attribute of android_ndk_repository or the ANDROID_NDK_HOME environment variable must be set.` I see that there is a file named *

[2021-06-11 10:58] sahaashi commented on #2160
Hi @sgowroji,
I see that this issue is meant for aarch64 architecture, whereas mine is amd64. Also, I have installed the package using `python3 setup.py install --link-opencv` and not via `python3 setup.py bdist_wheel`. I had also tried with bdist_wheel but some for reason, after installing the package, I could not see the mediapipe library in /python3/sitepackages/.

[2021-06-11 11:03] gunbuyidiu commented on #2078
hi mcclanahoochie, I'm a colleague of the author. In response to your question, my answer is as follows：

1.android systrace
2.every single frame
3.i'll upload a systrace file. [hairseggpu.zip](https://github.com/google/mediapipe/files/6637888/hairseggpu.zip)
4. use cmd like this: `bazel build -c opt --config=android_arm64 mediapipe/examples/android/src/java/com/google/mediapipe/apps/hairsegmentat

[2021-06-11 11:09] gunbuyidiu commented on #2078
i upoad a systrace file zip. look at my last comment, thx

[2021-06-11 11:15] emreboyraz0 commented on #1453
Did you put your legs in shoes? I need to do that. Can you help?

[2021-06-11 11:57] txf- commented on #2078
I was referring to the built-in Mediapipe tracing tool. The one mentioned in that like.

[2021-06-11 12:55] congnguyenthe commented on #2151
Hi @sgowroji ,

Thanks for your response. Luckily I has found one working example for this issue:
https://github.com/afsaredrisy/MediapipeSegmentationGradle

I think it needs more tasks to be done than just changes the texture of the converter. I can follow above repo and let me close this issue.

Thanks again.

[2021-06-11 12:55] #2151 closed

[2021-06-11 13:05] IgorZaton opened #2164 "Changing floating point precision of joints."
Hi, I want to as if there is possibility of changing floating point precision of joints that I get from Hands project. By default it is 'float64' and I'd like to change it to 'float32'.

Thanks for help.

System:
- Windows 10

Software:
- Python 3.7
- mediapipe 0.8.4.2; Hands project

[2021-06-11 13:42] xizhang commented on #2158
Following the instruction, I failed at building the handtracking GPU project:

`bazel build -c opt --config=android_arm64 mediapipe/examples/android/src/java/com/google/mediapipe/apps/handtrackinggpu:handtrackinggpu`

This is the error. It seems bazel was unable to pull dependencies.

`FAILED: Build did NOT complete successfully (99 packages loaded, 8707 targets configured)
Internal error thrown d

[2021-06-11 17:39] eknight7 commented on #2099
Hi @crf-git,
This is an interesting problem. Here are a couple ideas:

1. Hands closer to the camera are generally larger in size. Using the 21 hand landmark coordinates, write a function to compute the surface area of the hand, and pick the one with the largest area.
2. As @sn1c3 [suggests](https://github.com/google/mediapipe/issues/2099#issuecomment-856572227), investigate the usefulness of the

[2021-06-11 17:49] eknight7 commented on #1842
What I see is that you want to switch between Front and back facing camera, as suggested in the [comment above](https://github.com/google/mediapipe/issues/1842#issuecomment-849098055) you can do this via the enum.

So when you press the switch camera button, you need to call `cameraHelper.startCamera(...<enum_for_front_or_back_cameraFacing> ...)`

Can you perhaps rephrase if I am misunderstanding

[2021-06-11 18:22] sohail-jogo opened #2165 "FrameProcessor or Graph?"
I have seen in most of the codes that FrameProcessor is used. Can we not directly use Graph class and use its methods like addPacketToInputStream() to supply a frame (bitmap) to a node, or addPacketCallback(OUTPUT_STREAM_NAME, packet -> {} );

I am talking specifically for Android. Whats the difference in using FrameProcessor vs Graphs? I dont see any proper documentation related to this. I am rea

[2021-06-11 18:32] sohail-jogo opened #2166 "Passing Configuration Options in PoseLandmarkGpu Calculator"
- OS Platform and Distribution : Windows 10 Home 64 Bit, Mobile - Samsung Galaxy S9+ , Android OS Version: 10.
- Bazel version: 3.7.2
- Solution Pose Tracking GPU
- Programming Language and version : Java (Android)

I have made a custom pose_tracking pbtxt file which is almost the same as pose_tracking_gpu.pbtxt file in (mediapipe/graphs/pose_tracking) , but with a few changes according to my need

[2021-06-11 18:57] hadon commented on #1709
OutputStreamPoller will block indefinitely waiting for a non-empty output packet, so if on any iteration the graph produces no output packet, poller.Next() will block indefinitely. Depending on the application, this may block the next input and result in a deadlock.  To avoid this sort of deadlock, I usually change from AddOutputStreamPoller() to ObserveOutputStream(), which doesn't block any thre

[2021-06-11 20:00] hollyhook commented on #1842
Hello @eknight7. Yes, this is how I do it in my app, but unfortunately it sometimes crashes. If you would kindly check out my post at the begining of this thread, you will find the log of the crash.

[2021-06-11 20:24] ajm133 opened #2167 "Unable to compile Hello World. Build did NOT complete successfully. Have tried almost all solutions already posted"
Hello! I just recently installed mediapipe using the instructions on https://g3doc.corp.google.com/third_party/mediapipe/g3doc/getting_started/install.md?cl=head

I ran Hello World using: bazel run --copt -DMESA_EGL_NO_X11_HEADERS --copt -DEGL_NO_X11 \
    mediapipe/examples/desktop/hello_world:hello_world
However, when running "Hello World" and any other model, I get the following error:

/usr/lo

[2021-06-11 20:56] hadon commented on #2064
It looks like your converted model gives results that are no better or worse than the original model in the mediapipe python API.  Are you concerned about the difference in the error in landmarks for the pointer finger and the little finger?

I believe the preprocessing of input images is done by "ImageTransformationCalculator" from "hand_image" to "transformed_hand_image" in "hand_landmark_gpu.pb

[2021-06-11 23:57] hadon commented on #2074
Thanks for investigating the glog versions and limitations.  Maybe you can help me to validate MediaPipe with glog version 0.5.0.  Can you update the glog version in your mediapipe WORKSPACE file and verify that the newer version works ok and provides stack traces in your environment?

I'm glad to start updating the mediapipe WORKSPACE file in the MediaPipe upstream repository.  I believe I will b

[2021-06-12 07:10] nakshatrasinghh opened #2169 "Web application clashes on standing up"
Hi there, I am trying to build a real time pose estimation web app using flask, the application seems to be working but I get this annoying recurring message in the console.

![image](https://user-images.githubusercontent.com/72384969/121768139-2577f800-cb7a-11eb-832e-032bb13b064e.png)

The strange thing is when I stand up for looking at my pose estimations the application crashes and throws this

[2021-06-12 07:26] nakshatrasinghh commented on #2147
Hi, can you tell me how you installed MediaPipe on m1 silicon Macs?

[2021-06-12 09:07] gittitov opened #2170 "Segmentation fault (core dumped) on Ubuntu 20.04 x64 + v0.8.5 + holistic_tracking_gpu. But on v0.8.4 - everything is fine"

[2021-06-12 13:55] Myrrdin89 commented on #2138
Hi, just do add.
I have the same issue, with a slightly different code (while loop is different). However it still runs the detection and tracking of two hands under good conditions reasonable well.

[2021-06-12 15:28] xizhang commented on #2158
After switching to ndk r19c, I am able to build the helloworld project. I will file a separate issue for not pulling dependencies.

[2021-06-12 15:28] #2158 closed

[2021-06-12 22:13] INF800 opened #2171 "How to serialize a model"
How to serialize handpose or posenet or holistic model so that we can store and retirieve them efficiently from indexedb

[2021-06-13 06:24] sandeep22-v commented on #1041
Sir I have a couple of doubts in this.
1.  Why are the x and y coordinates of  output iris landmarks and output eye landmarks normalised using 64 and why the same is not done to z axis?
2.  Also in the model card it is mentioned that for output iris landmarks ([1,15] ) the output is  5 2D landmarks , 1 for pupil center and 4 for iris contour ,i.e, 1*(x,y,z) pupil center + 4 * (x,y,z) iris contours

[2021-06-13 10:44] PapaPythonAndWeb commented on #2088
Windows 7

[2021-06-13 13:44] HaoyuWang00 opened #2172 "bazel build hand detection example failure: error executing shell command"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution: Windows
- Programming Language and version: python3.9
- MediaPipe

[2021-06-13 20:06] sohail-jogo commented on #2172
Windows usually cause a lot of problems. I would recommend installing mediapipe using Docker.

[2021-06-13 22:43] hadon commented on #2076
It looks like GlAnimationOverlayCalculator renders only one texture across all of the texture coordinates in the animation.  I assume that all of the texture coordinates in the UUU files refer to a single texture, and that the UUU format and the GlAnimationOverlayCalculator do not currently support rendering multiple textures in one animation.  Maybe @tyrmullen can let us know if there is any reco

[2021-06-14 00:59] Monibsediqi commented on #1041
@sandeep22-v A quick answer to your second question. The first rank represents the pupil center. You can also visualize each iris point individually to figure out the iris center point.

[2021-06-14 02:18] HaoyuWang00 commented on #2172
Thank you for you suggestion. Actually I am building a Web APP based on Django, making use of mediapipe. When doing the streaming, I find that under Linux (Ubuntu 20.4), when I run the streaming with detection on (with python mediapipe lib), it will die once a few minutes. When I switch to Windows, the stream runs smoothly and will not die like that. So that is basically why I want to contunue my

[2021-06-14 03:23] samlaf commented on #2112
@romaniukm I think you're confusing protobuf (.pbtxt and the compiled versions .binarypb) formats and tensorflow lite (.tflite) formats.
Protobuf files describe the computation graph, whereas tflite is actually used inside of the InferenceCalculator node of mediapipe graphs.
![image](https://user-images.githubusercontent.com/9342524/121834982-0bcfd100-cc9e-11eb-9be5-2a9b7749e2ba.png)

So you can j

[2021-06-14 03:37] sgowroji commented on #2164
Hi @IgorZaton, Have you tried doing it like [this](https://stackoverflow.com/questions/45955186/convert-numpy-array-type-and-values-from-float64-to-float32)

[2021-06-14 04:03] sgowroji commented on #2167
Hi @ajm133, Could you please provide the steps to reproduce the above error and which platform are you trying the above. Thanks!

[2021-06-14 04:14] sgowroji commented on #2169
Hi @nakshatrasinghh, You need to check whether face result is None first in case of no face results detected in the current frame.

[code]

[2021-06-14 04:16] sgowroji commented on #2170
Hi @gittitov, Could you please elaborate the above issue details with complete steps. Thanks!

[2021-06-14 04:18] sgowroji commented on #2171
Hi @rakesh4real, Could you please elaborate your issue with complete details and which platform are you referring the above. Thanks!

[2021-06-14 04:43] sgowroji commented on #2172
Hi @HaoyuWang00, Could you please provide the complete steps to reproduce the above error. Thanks!

[2021-06-14 04:55] sgowroji commented on #2074
Hi @DeanIsMe, Could you please check the above [comment](https://github.com/google/mediapipe/issues/2074#issuecomment-859962248). Thanks!

[2021-06-14 04:56] sgowroji commented on #2064
Hi @GesilaA, Could you please respond to the above [comment](https://github.com/google/mediapipe/issues/2064#issuecomment-859906631). Thanks

[2021-06-14 04:58] sgowroji commented on #1709
Hi @lizhanping, Could you please respond to the above [comment](https://github.com/google/mediapipe/issues/1709#issuecomment-859778697).  Thanks!

[2021-06-14 05:01] sgowroji commented on #2099
Hi @crf-git, Did you get a chance to go through the above comment. Thanks!

[2021-06-14 05:06] ajm133 commented on #2167
Running on gcc (Debian 10.2.1-6+build2) 10.2.1

cd $HOME
git clone https://github.com/google/mediapipe.git

cd mediapipe

sh ./ setup_opencv.sh
sudo apt-get install mesa-common-dev libegl1-mesa-dev libgles2-mesa-dev
export GLOG_logtostderr=1
bazelisk run --copt -DMESA_EGL_NO_X11_HEADERS --copt -DEGL_NO_X11 \
    mediapipe/examples/desktop/hello_world:hello_world

[2021-06-14 05:10] hadon commented on #2103
I imagine this crash may occur whenever the MediaPipe protobufs are linked into a .so and opened with dlopen, at least with your toolchain and platform, and perhaps with any protobufs.  Does that sound plausible to you?  If you can, would you help me to narrow down this issue by building a .so with just a few protobufs and see if the protobuf initialization still fails.  If it does, I can try to r

[2021-06-14 05:27] gittitov commented on #2170
I have AMD + 2080TI
Hi I am sending the following commands:

bazel build -j 96 -c opt --copt -DMESA_EGL_NO_X11_HEADERS --copt -DEGL_NO_X11 mediapipe/examples/desktop/holistic_tracking:holistic_tracking_gpu

GLOG_logtostderr=1 bazel-bin/mediapipe/examples/desktop/holistic_tracking/holistic_tracking_gpu --calculator_graph_config_file=mediapipe/graphs/holistic_tracking/holistic_tracking_gpu.pbtxt

[2021-06-14 05:29] GesilaA commented on #2064
Thank you for your comments @hadon & @sgowroji , I modified the expansion factor according to the mediapipe source code in step3, and this problem has been solved.

[2021-06-14 05:51] gittitov commented on #2170
**v0.8.4 (success)**
...
# Draws annotations and overlays them on top of the input images.
node {
  calculator: "AnnotationOverlayCalculator"
  input_stream: "IMAGE_GPU:throttled_input_video"
  input_stream: "VECTOR:render_data_vector"
  output_stream: "IMAGE_GPU:output_video"
}
I20210614 08:36:14.975838 315078 demo_run_graph_main_gpu.cc:58] Initialize the calculator graph.
I20210614 08:36:14.9873

[2021-06-14 05:52] sgowroji commented on #2064
Thank you for the update. We are closing this issue now

[2021-06-14 05:52] #2064 closed

[2021-06-14 05:55] sgowroji commented on #2170
Hi @gittitov, Please have a look at this issue https://github.com/google/mediapipe/issues/1734

[2021-06-14 05:56] sgowroji commented on #1734
Hi @sufiaji, Thank you for responding. Could you please confirm the above with the latest release. Thanks!

[2021-06-14 05:57] sgowroji commented on #2103
Hi @LKay42, Could you please respond to the above [comment](https://github.com/google/mediapipe/issues/2103#issuecomment-860367076). Thanks!

[2021-06-14 06:00] sgowroji commented on #1160
Hi @at-duymai, Could you please respond whether your looking answer for the above query. Thanks!

[2021-06-14 06:03] sgowroji commented on #1047
Hi @rrtaylor, Could you please respond, Whether  your looking answer to the above query. Thanks!

[2021-06-14 06:04] sgowroji commented on #1050
Hi @ni3-sharma, Could you please elaborate your issue with complete details. Thanks!

[2021-06-14 06:06] sgowroji commented on #991
Hi @js-0528, Could you please share more details like solution, platform are you referring the above query with use case details. Thanks!

[2021-06-14 06:09] sgowroji commented on #961
Hi @ZZZhaowendao, Could you please respond whether you facing the above issue with the latest build and installation.  Thanks!

[2021-06-14 06:11] sgowroji commented on #932
We are closing this issue now due to lack of activity !

[2021-06-14 06:11] #932 closed

[2021-06-14 06:11] gittitov commented on #2170
but I don't use python examples..

$ pip install --index-url https://test.pypi.org/simple/ mediapipe==0.8.4.2.1
Looking in indexes: https://test.pypi.org/simple/
Collecting mediapipe==0.8.4.2.1
  Downloading https://test-files.pythonhosted.org/packages/bb/d4/611ef5135991cffd0671044fd854a9ae0a7c085311c83d7eac48064b5f2c/mediapipe-0.8.4.2.1-cp38-cp38-manylinux2014_x86_64.whl (37.3 MB)
     |█████████

[2021-06-14 06:12] sgowroji commented on #1225
We are closing this issue now due to lack of activity. Please feel free to reopen if you have any relevant update on the above. Thanks.

[2021-06-14 06:12] #1225 closed

[2021-06-14 06:14] IceFloe commented on #2132
@sgowroji How many days should I wait for an answer from a googler approximately?

[2021-06-14 06:14] sgowroji commented on #1429
We are closing this issue now due to lack of activity. Please feel free to reopen if you have any relevant update on the above. Thanks.

[2021-06-14 06:14] #1429 closed

[2021-06-14 08:08] HaoyuWang00 commented on #2172
Hi @sgowroji , I try to recall what I have done in the time sequence:
1. Install MSYS2, and update as instructed
2. Install necessary packages running ```C:\> pacman -S git patch unzip```
3. Check my python executable path:  ```"C:\\Users\\Haoyu\\AppData\\Local\\Programs\\Python\\Python39\python.exe"```
4. Install Visual C++ Build Tools and WinSDK as instructed
5. Install Bazel 3.7.2
6. Set Bazel

[2021-06-14 09:12] sgowroji commented on #2129
Hi @sattyamjjain, Could you please respond to my above comment. Thanks!

[2021-06-14 09:12] sgowroji commented on #2125
Hi @Sun1718, Could you please respond to my above comment. Thanks!

[2021-06-14 09:33] sattyamjjain commented on #2129
Hello @sgowroji
Since I haven't got proper documentation to use media pipe with Flutter
then I am trying to implement mlkit by creating a flutter plugin using android native.

Please let me know, Is there any way to implement media pipe with flutter (because I am not experienced to work with kotlin or java for android)

Thanks

[2021-06-14 09:45] duy-maimanh commented on #1160
Hi @sgowroji I still don't have an answer.

[2021-06-14 10:55] alexriedel1 opened #2173 "MediaPipe Hands Light, Full, Heavy Models"
Hey, the paper https://arxiv.org/pdf/2006.10214.pdf states, that there were three types of models, light, full and heavy trainded for MediaPipe Hands.

Are there information available on which one is the one implemented in the final solution?

Are the other two models also available for download?

Thanks, Alex

[2021-06-14 11:05] sgowroji commented on #2173
Hi @alexriedel1, Could you please explain your use case with three different trained hand models.Thanks!

[2021-06-14 11:08] alexriedel1 commented on #2173
Hi! Especially I would like to use a hand model that might not be so super fast regarding inferencing time but a little bit more accurate instead. Just like you added heavy models to the pose and holistic solutions.

[2021-06-14 11:11] sgowroji commented on #2088
Hi @PapaPythonAndWeb, Any 64-bit Python3.7+ should be fine. Please refer [this](https://github.com/google/mediapipe/issues/2005#issuecomment-835846942) for more understanding

[2021-06-14 11:13] sgowroji commented on #2098
We are closing this issue now due to lack of activity.

[2021-06-14 11:13] #2098 closed

[2021-06-14 11:15] sgowroji commented on #2115
Hi @salvadorld0, Could you please check the above `https://github.com/google/mediapipe/issues/2115#issuecomment-858031639` and share us the update. Thanks!

[2021-06-14 12:33] #2077 closed

[2021-06-14 12:44] sgowroji commented on #2052
We are closing this issue now due to lack of activity. Please feel free to reopen if you have relevant update on the above query!

[2021-06-14 12:44] #2052 closed

[2021-06-14 12:45] sgowroji commented on #2074
Hi @DeanIsMe, Could you please respond to the above comment. Thanks!

[2021-06-14 12:49] sgowroji commented on #2123
May be you can share us your observation with some video or screenshot. That will really help us understand and make it better.

[2021-06-14 13:00] sgowroji commented on #2129
Hi @sattyamjjain,  Please go through this  #1046 #17.

[2021-06-14 13:00] #2129 closed

[2021-06-14 14:06] hafiedh commented on #178
W/System: A resource failed to call close.
D/AndroidRuntime: Shutting down VM
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.example.mosibit, PID: 15166
    java.lang.UnsatisfiedLinkError: dlopen failed: library "libmediapipe_jni.so" not found
        at java.lang.Runtime.loadLibrary0(Runtime.java:1087)
        at java.lang.Runtime.loadLibrary0(Runtime.java:1008)
        at java.lang.Sys

[2021-06-14 15:08] zhangy76 commented on #2123
Sorry that the video can not be shared. But the model fails to provide good estimation under occlusion, e.g. only the five tips is visible.

[2021-06-14 15:11] salvadorld0 commented on #2115
@tyrmullen @sgowroji Yes, I'm sorry. I checked it before but I forgot to answer. To be honest that was my first approach, and it worked really fine, but I thought of it more like a patch instead of a solution. But, it appears not to be any other solution, so I think I will be using this hack. Thanks for your help. I really appreciated it.

[2021-06-14 16:30] jiuqiant commented on #2170
This is a C++ gpu related issue. Reassign this to @mcclanahoochie.

[2021-06-14 16:34] jiuqiant commented on #2161
Please assign this to objectron owners. I think it's because the graph doesn't have an input stream called "detected_objects".

[2021-06-14 16:39] jiuqiant commented on #2150
@camillol knows the FrameProcessor better than @mcclanahoochie and me. It's better to ask @camillol to take a look.

[2021-06-14 16:42] jiuqiant commented on #2149
This is a question that the model owners know better. Reassign this to @ivan-grishchenko .

[2021-06-14 16:44] jiuqiant commented on #2117
@mcclanahoochie is the owner of coral examples. Reassign this issue to @mcclanahoochie.

[2021-06-14 16:55] jiuqiant commented on #2112
Thanks @samlaf.

Yes, you can swap the face detection model to achieve this. Here are the steps to achieve this:
1) Go to your local python package directory, such as /Users/your_name/mp_env/lib/python3.9/site-packages/mediapipe
2) Remove modules/face_detection/face_detection_front.tflite
3) Copy https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_detection/face_detection_back.t

[2021-06-14 16:58] pixml27 commented on #1638
@esteimle Hey! Have you found the answer to your question?

[2021-06-14 17:14] jiuqiant commented on #2172
This could be a downloading issue of "org_tensorflow\tensorflow\tools\git\gen_git_source.zip". Try `bazel clean --expunge` and rebuild it. Please use VPN if you have one. See more details at https://google.github.io/mediapipe/getting_started/troubleshooting.html#fail-to-fetch-remote-dependency-repositories.

[2021-06-14 18:04] tyrmullen commented on #2076
The GlAnimationOverlayCalculator is pretty simplistic and low-level, and multiple textures was not something we intended to support.  However, I can see two paths forwards:
(1) For a quick workaround, you can combine all textures into one (this can be done before the .obj is even converted to .uuu, or else this can be made a part of the .uuu conversion code).  Software can help do this automatical

[2021-06-14 19:12] jiuqiant commented on #2119
Can be removed by adding "--copt=-DNDEBUG" and rebuilding the python package. Will have this improvement in the next release.

[code]

[2021-06-14 21:13] jiuqiant commented on #2138
This is the warning message before entering the fallback logic: https://github.com/google/mediapipe/blob/master/mediapipe/util/tflite/tflite_model_loader.cc#L32. The fallback logic should get the right path of the model file and read contents from there.

We can rephrase this warning. I am curious about what the actual problem you get? The solution is not running properly anymore?

[2021-06-14 21:27] sohail-jogo opened #2174 "Run callback even when no landmarks are detected"
OS Platform and Distribution : Windows 10 Home 64 Bit, Mobile - Samsung Galaxy S9+ , Android OS Version: 10.
Bazel version: 3.7.2
Solution Pose Tracking GPU
Programming Language and version : Java (Android)

I have made a custom pose_tracking pbtxt file which is almost the same as pose_tracking_gpu.pbtxt file in (mediapipe/graphs/pose_tracking) , but with a few changes according to my need.

**Cus

[2021-06-14 21:28] Myrrdin89 commented on #2138
So I'm not sure if the solution is correct but it seems like that.
Today, out of curiosity I set up a fresh branch and installed opencv and mediapipe. (Had some issues with opencv as well). I noticed that the opencv installations did mismatch between the one I used and the one installed by mediapipe. For me the error got away after I uninstalled and reinstalled the opencv-contrib-python for 4.5.2.

[2021-06-14 21:54] jiuqiant commented on #2138
MediaPipe doesn't require a specific opencv version: https://github.com/google/mediapipe/blob/master/requirements.txt#L4. Is it possible that the opencv side does some optimization for image capturing?

[2021-06-14 22:03] Myrrdin89 commented on #2138
I think in my case anyway there was a mismatch between the opencv version and the opencv-contrib part which restulted in the error. At least after I checked and made sure it is the same version, the warning got away.
It might be the same for the original issue opener.
For me it seems to work more stable now. I just need to solve the issue with gloves and tracking.
I would suggest to make clear tha

[2021-06-14 23:00] tyrmullen commented on #2115
Emscripten-created WebAssembly modules normally allow for additional overriding, for use cases exactly like yours (see [Module.preRun](https://emscripten.org/docs/api_reference/module.html#Module.preRun)).  However, I don't believe the Solutions API yet exposes the Module object itself for developer use in this fashion, but instead only allows developers to define the ["locateFile"](https://emscri

[2021-06-14 23:00] #2115 closed

[2021-06-14 23:31] jiuqiant commented on #2157
If no human pose is detected, the fields in the "results" object is set to None. Before accessing `results.pose_landmarks`, please check if it's None. See our example code at https://github.com/google/mediapipe/blob/master/docs/solutions/pose.md#python-solution-api.

[2021-06-15 02:09] lizhanping commented on #1709
thank you for your reply,i will try later and reply here 。

[2021-06-15 02:16] Leeable opened #2175 "is there any way to install mediapipe on the mips architecture?"
Please

[2021-06-15 04:02] sgowroji commented on #2132
Hi @IceFloe, Due to less bandwidth we could not help you immediately. But very soon assigned engineer will  investigate on your issue. Thanks!

[2021-06-15 04:09] sgowroji commented on #2175
Hi @Leeable, Could you please explain your use case of mips architecture with MediaPipe. Thanks !

[2021-06-15 04:10] sgowroji commented on #1709
Thank you for the update. We are closing this issue now. Feel free to reach if you have any further relevant queries.

[2021-06-15 04:10] #1709 closed

[2021-06-15 04:13] sgowroji commented on #178
Hi @rawnsley, Could you please raise it as a new issue with complete steps to reproduce the above and all the configuration details. Thanks!

[2021-06-15 04:16] sgowroji commented on #2157
Hi @funnypig521, Please take a look at the above [comment](https://github.com/google/mediapipe/issues/2157#issuecomment-861059183).

[2021-06-15 04:27] sgowroji commented on #2076
Hi @z7212819, Could you please respond to the above comments. Thanks!

[2021-06-15 04:28] sgowroji commented on #2172
Hi @HaoyuWang00, Could you please try the instructions mentioned in the above [comment](https://github.com/google/mediapipe/issues/2172#issuecomment-860850925). Thanks!

[2021-06-15 05:19] maksymsur commented on #2138
Reinstalling opencv-contrib-python 4.5.2 didn't make any difference for me. The error's still there.
Closing the issue for now as there is no crash/decrease in mp performance.
Although, I'd suggest mp maintainers to solve/rephrase warnings about entering the fallback logic as it's somewhat confusing.

[2021-06-15 05:19] #2138 closed

[2021-06-15 06:08] z7212819 commented on #2076
@tyrmullen Thank you very much for your reply. Now I have adopted the first scheme, which has achieved the effect. However, the smoothness of my model is not as good as yours.

[2021-06-15 06:23] goodgood111 opened #2176 "MediaPipe/Pose with react native"
Is it possible to use MediaPipe/Pose with react native?

If it is, anyone has any sample code or video?

[2021-06-15 06:35] GokulNC commented on #2119
Thank you. Please feel free to close this issue if the above patch will fix the issue and will be released soon.
Currently I cannot rebuild MediaPipe and test it to let you know if it works.

[2021-06-15 06:38] funnypig521 commented on #2157
It works.Thank you very much!!!!!!

[2021-06-15 06:38] #2157 closed

[2021-06-15 07:30] duy-maimanh commented on #1155
Hello @kostyaby
I'm working on an app that allows me to try on different types of glasses. I use your 2nd suggestion, use separate mediapipe and filament. All working fine. But I have a problem that the parts of the glasses that should be hidden by the face show up over the face (Attached image). Because mediapipe only provide scaling / rotation / translating, I do not know how to calculate the hi

[2021-06-15 07:34] sohail-jogo commented on #2174
the platform is anroid!  @sgowroji

[2021-06-15 07:45] whatisor opened #2177 "Android native api"
<em>Please make sure that this is a feature request.</em>

**System information** (Please provide as much relevant information as possible)

- MediaPipe Solution (you are using):
- Programming language : C++/typescript/Python/Objective C/Android Java
- Are you willing to contribute it (Yes/No):

**Describe the feature and the current behavior/state:**
Mediapipe already wrote by C++.
Why not we sup

[2021-06-15 07:46] sgowroji commented on #2176
Hi @goodgood111, Could you please go through the reference https://github.com/google/mediapipe/issues/587#issuecomment-610585088

[2021-06-15 07:53] #2119 closed

[2021-06-15 07:56] sgowroji commented on #1977
Hi @tilenpinta, Did you get a chance to go through my above comment. Thanks!

[2021-06-15 08:01] sgowroji commented on #1385
Hi @panjicaiz,  We have clear [documentation](https://google.github.io/mediapipe/solutions/hands) on Hands solution now, Please have a look for any further queries.  If you still have any query please reach us with complete details. Thanks!

[2021-06-15 08:01] #1385 closed

[2021-06-15 08:09] sgowroji commented on #1383
Hi @antornix, Could you please go through the [reference](https://google.github.io/mediapipe/solutions/face_mesh.html#python-solution-api) for getting landmarks of facemesh in python platform with both video and webcam as input. If your query still not answered, Please reach us to assist you better on the above. Thanks!

[2021-06-15 08:11] sgowroji commented on #1382
Hi @wm901115nwpu, Could you please verify the above issue with the latest release. If your query not answered, Please reach us with complete details to assist you better. Thanks!

[2021-06-15 08:20] sgowroji commented on #1375
Hi @Zumbalamambo  & @AntonioDomenech, Thank you for bringing this to our notice. We are improving our documentation  much better with every release. Please reach us with any suggestions you wanted us to add in the latest  documentation, we will be happy to consider and we also encourage your contribution in PR.

[2021-06-15 08:20] #1375 closed

[2021-06-15 10:44] dhavalgediya27 opened #2178 "I am trying to Image into detact a face mesh then return an error."
face_mesh_solution_simd_wasm_bin.js:
 Uncaught (in promise) RuntimeError: abort(Assertion failed: undefined) at Error
    at jsStackTrace (VM2071 face_mesh_solution_simd_wasm_bin.js:9)
    at stackTrace (VM2071 face_mesh_solution_simd_wasm_bin.js:9)
    at abort (VM2071 face_mesh_solution_simd_wasm_bin.js:9)
    at assert (VM2071 face_mesh_solution_simd_wasm_bin.js:9)
    at Object.addRunDependenc

[2021-06-15 10:49] sgowroji commented on #2178
Hi @dhavalgediya27, Could you please provide the steps to reproduce the above error. Thanks!

[2021-06-15 10:55] solmate-james commented on #2150
@camillol Could you help me~?

[2021-06-15 11:27] rawnsley commented on #178
Presumably you meant @hafiedh

[2021-06-15 14:46] Enny13 commented on #742
Just to be precise, am I correct in the following assumptions about calculating z and coordinates in general?
Let `l::21x3` be landmarks of one hand in absolute coordinates with origin in camera, `s` is the side of square picture, `f` is the focal length of camera, i.e absolute z coordinate of projection plane, `z_avg` is average z-coordinate, then
[code]

[2021-06-15 15:12] sohail-jogo commented on #118
@tmnbhat do u remember how you did this?
i added ` __android_log_print(ANDROID_LOG_INFO, "MYTAG" ,"iAmHere");` into the process function of FlowLimiterCalculator.cc.
And i also added the header `<android/log.h>` as well. but I cant see the log in logcat : AndroidStudio.

[2021-06-15 15:42] kostyaby commented on #1155
Hey @duy-maimanh,

Good job on making a MediaPipe + Filament prototype! The final thing that you need is a face occluder in the scene. Please, grab the MediaPipe canonical face 3D model ([FBX](https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_geometry/data/canonical_face_model.fbx), [OBJ](https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_geometry/data/cano

[2021-06-15 16:20] brucechou1983 commented on #1841
You might want to use only one calculator and send the effect textures via an input stream.

[2021-06-15 17:50] pixml27 opened #2179 "Palm detection inference of tflight-model"
Hey! Thank you very much for this awesome repository!
I want to use the palm detection model without using the repository itself. I download this model
"mediapipe/modules/palm_detection/palm_detection.tflite"
Then I write the following code

[code]
After doing this I get an output that I don't understand
<img width="651" alt="Снимок экрана 2021-06-15 в 20 53 22" src="https://user-images.githubuser

[2021-06-15 20:28] aiarcv commented on #1971
@27-VladosBro-47   This is solution/procedure  work for CPU version.  Recently tried did this exact same procedure   in GPU version but not working.   Do you  make GPU work (get landmark list)  for latest mediapipe?  If yes , please share the procedure for GPU, many thanks!

[2021-06-15 21:27] aniketiq commented on #1665
You need to link OpenCV while building from the source.

[code]

For some reason, `$ python3 setup.py bdist_wheel` doesn't link OpenCV for which the linker raises the exception:
` ld: library not found for -ljpeg`.

It should fix your issue. ✌︎

[2021-06-15 21:43] travisjayday commented on #1162
Bump. As a fellow noob to the framework, the task of integration into existing C++ projects seems really daunting without guidance.

[2021-06-15 22:12] ekam123 commented on #2153
Hi, I was wondering if there's been any progress for this issue or a timeline for it?

[2021-06-15 23:08] aiarcv commented on #1973
@27-VladosBro-47  #1971  solution/procedure  work for CPU version. Recently tried   this exact same procedure in GPU version but not working. Anyone make GPU work (get landmark list) for latest mediapipe?  If yes , please share the procedure for GPU, many thanks!

[2021-06-16 01:49] gustavorps commented on #2009
+1

[2021-06-16 02:38] Constannnnnt opened #2180 "Multiple Palm detections by inferencing the model"
**Describe the expected behavior:**

I intended to use Mediapipe in Unity (where mediapipe is not supported I think) and since its Barracuda engine only supports ONNX format, so I decided to convert the [palm_detection.tflite](https://github.com/google/mediapipe/blob/master/mediapipe/modules/palm_detection/palm_detection.tflite) into ONNX format. Before that, I would like to see the model outputs

[2021-06-16 04:04] sgowroji commented on #2179
Hi @pixml27, We like to encourage you to use MediaPipe python API for Hand solution instead of the tflite file directly as there are optimizations we do in the pipeline that you will need to reimplement.

[2021-06-16 04:10] HaoyuWang00 commented on #2172
Hi @sgowroji and @jiuqiant , thank you for your reply and I will try the method mentioned by @jiuqiant as soon as possible, and will update you here once done! ;)

[2021-06-16 04:14] sgowroji commented on #1394
Hi @AryanSethi, I would request you to check with latest release of facemesh solution.

[2021-06-16 04:17] sgowroji commented on #1386
Hi @Arul2962, Could you please share the issue status. If you're still looking for it, can you share the code changes. Thanks!

[2021-06-16 04:22] sgowroji commented on #1365
Hi @chillcloud-dev, Could you respond, whether you still see the above error with latest release of MediaPipe. Thanks!

[2021-06-16 04:26] sgowroji commented on #1362
Hi @devvikas, Could you please provide the complete steps to reproduce the above error. Thanks!

[2021-06-16 04:34] sgowroji commented on #1343
Hi @thomsan, If you still looking resolution for the above issue,  Try increasing [NUM_BUFFERS](https://github.com/google/mediapipe/blob/master/mediapipe/examples/android/src/java/com/google/mediapipe/apps/basic/MainActivity.java#L55) to 3 or 4

[2021-06-16 04:40] milad-4274 commented on #1841
yes, It's what I want. but I think It's impossible with current calculator structure. should I write my own renderer calculator?

[2021-06-16 04:44] sgowroji commented on #1323
Hi @noneUmbrella, We have very clear documentation with example apps  [here](https://google.github.io/mediapipe/solutions/instant_motion_tracking).

[2021-06-16 04:44] #1323 closed

[2021-06-16 04:49] #1318 closed

[2021-06-16 04:51] sgowroji commented on #1309
Hi @elkercavina, Could you please verify the above with the latest MediaPipe release. If you encounter similar observation, please share us the complete details.  Thanks!

[2021-06-16 05:32] sgowroji commented on #2112
Hi @romaniukm, Could you please respond that the above comments resolved your query. Thanks!

[2021-06-16 07:55] AmitMY opened #2181 "Loading holistic 0.3 in the browser fails"
**System information** (Please provide as much relevant information as possible)

- Browser and version (e.g. Google Chrome, Safari) if the issue happens on browser: **Chrome**
- Solution ( e.g. FaceMesh, Pose, Holistic ): **Holistic**

**Describe the current behavior:**
I have an Angular app using Holistic. With using `v0.1`, my build process would copy: `node_modules/@mediapipe/holistic/` to `as

[2021-06-16 08:08] brucechou1983 commented on #1841
Yes, you need to modify the calculator. I've done something similar before.

1. Add a new input stream with packet specifying the texture resource path. Also add a private variable to store the current texture (could be empty by design). Remove texture setting from input side packet.
2. Use SyncSetInputStreamHandler for your new calculator in pbtxt, separate original input streams and the new one

[2021-06-16 08:44] BitLoose commented on #1162
I agree, a lot of serious developers will be put off until there is at
least a working example of how to interface with C==++.

[2021-06-16 09:54] AXH312 commented on #2162
I also have the same problem but i am using a windows 10 OS. with the following:
Python 3.9
Mediapipe 0.8.4
opencv-contrib-python 4.5
pyinstaller 4.3

[2021-06-16 10:41] #1394 closed

[2021-06-16 11:05] milad-4274 commented on #1841
Thank you for your great reply. I will do it and tell the result here.

[2021-06-16 14:56] DeanIsMe commented on #2074
Sorry for the delay.
About a month ago I updated the glog version in my workspace file to:
http_archive(
    name = "com_github_google_glog",
    sha256 = "21bc744fb7f2fa701ee8db339ded7dce4f975d0d55837a97be7d46e8382dea5a",
    strip_prefix = "glog-0.5.0",
    urls = ["https://github.com/google/glog/archive/v0.5.0.zip"],
)
I then had huge problems compiling mediapipe examples. Even after reverting

[2021-06-16 15:15] aiarcv opened #2182 "MediaPipe Hands landmarks can not be obtained by poller (GPU version) when use latest mediapipe code"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Linux Ubuntu 18.04 or 20.04)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Ubuntu 18.04 or 20.04
- [MediaPipe version](ht

[2021-06-16 15:16] HaoyuWang00 commented on #2172
Hi @sgowroji and @jiuqiant , I have tried the method mentioned by @jiuqiant , without using a VPN. I rebuilt it after cleaning and the same error resists. I am currently staying in Singapore and may I know if it is neccessary to use a VPN and if so, what is its purpose?

The output of ```PS C:\Users\Haoyu\mediapipe_repo\mediapipe> bazel clean --expunge``` is:
```INFO: Starting clean.```

And the e

[2021-06-16 18:58] romaniukm commented on #2112
This looks like the simpler solution but it didn't work for me:

[code]

[2021-06-16 19:28] romaniukm commented on #2112
This looks like it might be the missing pbtxt file, but how do I convert it to .binarypb?

[2021-06-16 20:58] tyrmullen commented on #2181
The specific file "pose_landmark_full.tflite" seems to be included in that distribution, but isn't being found at the expected location in the wasm runtime.  I don't see that in the list of 200's, so perhaps there's a fetch failing still?

I don't think there's an issue with the new version, though, since the CodePen appears to have been already updated to 0.3.1620694839 (https://codepen.io/mediap

[2021-06-16 21:12] tyrmullen commented on #2076
Glad to hear that the approach seems to be working for you!

I'm not quite sure what you mean by "smoothness" in this context (i.e. is this smoothness of animation, model geometry, or texturing?).  If it's not a multi-texturing issue, but rather a different bug, then let's close this issue and create a new one dedicated to that problem.  If it's a multi-texturing issue, then please add more specif

[2021-06-16 21:31] tyrmullen commented on #2141
We have not been actively supporting the JavaScript Solutions APIs on Android Chrome.  However, many users have been reporting that things run fine on 64-bit Android Chrome, while they fail for 32-bit Android Chrome (https://www.ghacks.net/2021/03/13/google-is-pushing-64-bit-chrome-on-android/).  Perhaps that's the issue you're running into?  navigating to "chrome://version/" in the phone's browse

[2021-06-16 23:46] samlaf commented on #2112
You can feed either the compiled .binarypb or the pbtxt file into a mediapipe graph, so you don't need to compile it.

[2021-06-17 01:05] brucechou1983 commented on #2174
Another approach

1. Add a new output stream "is_pose_landmarks_presence" to specify whether the landmark is detected or not.
2. Add a PacketPresenceCalculator with input stream "pose_landmarks" and output stream "is_pose_landmarks_presence".
3. Add packet callback to the new output stream

[2021-06-17 01:13] tyrmullen commented on #1937
The fundamental issue here is that the underlying memory management system is quite brittle and makes debugging leaks rather tricky.
 If one "delete()" call is forgotten (and many are required for the various nested structures involved-- with no easy way to determine which are potentially missing), then the C++ memory is leaked opaquely, only visible when the leak is large enough or persists long

[2021-06-17 01:20] brucechou1983 commented on #2094
The logging comes from [tflite](https://github.com/tensorflow/tensorflow/blob/48b171d0ab2a8f35a6d646fc59e44c188a1925e1/tensorflow/lite/core/subgraph.cc#L389)

If you want to mute this, you can create a custom git patch file like "org_tensorflow_mute_logging.diff" and add it to "patches" section of "org_tensorflow" repository.

[2021-06-17 02:19] jiuqiant commented on #2094
See https://github.com/google/mediapipe/issues/2119#issuecomment-860927310.

[2021-06-17 02:45] #2093 closed

[2021-06-17 02:47] AIWintermuteAI commented on #1346
@superuser789 it seems it doesn't work with other Python version, except for 3.7
[code]

I checked for mediapipe.python._framework_bindings and found that there is a pre-compiled library
mediapipe/python/_framework_bindings.cpython-37m-arm-linux-gnueabihf.so

Perhaps worth adding this to README? Or restricting installation to Python 3.7?

[2021-06-17 03:34] sgowroji commented on #2076
Hi @z7212819, Please go through the above comment and raise a new issue with complete observation regarding smoothness as you mentioned in this [comment](https://github.com/google/mediapipe/issues/2076#issuecomment-861201867) with any video or error logs to understand it much better for further investigation.  We are closing this issue as the main thread was addressed in it.

[2021-06-17 03:34] #2076 closed

[2021-06-17 03:40] sgowroji commented on #2182
Hi @aiarcv,  Could you please provide the custom code changes performed on graphs with error logs.

[2021-06-17 03:53] sgowroji commented on #1282
Hi @PushpakChulet, Could you please test the above with the latest release and let us know, whether the above issue still exists. If persists, Please share us the complete steps to reproduce it. Thanks!

[2021-06-17 04:00] sgowroji commented on #1291
Thank you all for sharing the interest in MediaPipe. Please go through the [Js platform  ](https://google.github.io/mediapipe/getting_started/javascript) of different solutions.  We are closing this issue as of now, Please reach us back if you have any relevant update on the above context.

[2021-06-17 04:00] #1291 closed

[2021-06-17 04:03] sgowroji commented on #1292
Hi @yeon1216, Could you please respond whether the above issue still exists with the latest release. If you see, please report it with complete steps to reproduce it.  Thanks!

[2021-06-17 04:08] sgowroji commented on #1293
Hi @delebash, Thank you sharing your interest on MediaPipe.  Could you please elaborate your use case with more details and who will benefit with this future. Are you willing to contribute it. Thanks!

[2021-06-17 04:15] sgowroji commented on #1295
Hi @kells1986, Could you please go through our latest [documentation](https://google.github.io/mediapipe/solutions/object_detection) regarding your above query and let us know, if you  have a different use case.

[2021-06-17 04:18] sgowroji commented on #1299
Hi @gaoruiyang, Could you please respond whether you are still looking for the above query. And share us more your observation with the MediaPipe Youtube8M solution.

[2021-06-17 04:23] sgowroji commented on #1272
Hi @ZZZhaowendao, Did you get a chance to go through this  [KNIFT](https://google.github.io/mediapipe/solutions/knift.html). Thanks!

[2021-06-17 05:09] sgowroji commented on #1370
Hi @ROBYER1, Could you please test the above with our latest MediaPipe release and let us know if you still see the same error. Thanks!

[2021-06-17 05:42] delebash commented on #1293
Sure, anyone wanting to do 3D motion capture in say Unreal for video games or movies would find it extremely useful.  Not just Unreal but any 3D animation software, Maya, Blender, iClone.  Here is a test I did with iClone but because of mediapipe still having jitter problems it is just not feasible yet.  https://www.youtube.com/watch?v=j6JboJIlpfM.  There are commercial companies doing this now an

[2021-06-17 06:06] #1525 closed

[2021-06-17 06:06] #1520 closed

[2021-06-17 06:43] AIWintermuteAI commented on #1346
The same error shows on aarch64 image of Raspberry OS with Python 3.7 - not surprising in the hindsight...

[2021-06-17 07:25] AmitMY commented on #2181
Thanks @tyrmullen
The list of network requests I attached is the full list, there is no additional request going out and failing.

And these are the files I'm hosting locally: (automatically copied using angular build system)
![image](https://user-images.githubusercontent.com/5757359/122350830-d94bff80-cf4d-11eb-8252-cacb0238212d.png)

[2021-06-17 07:27] nakshatrasinghh commented on #2169
Hi @sgowroji what do I put in the else block?

[2021-06-17 07:44] chaowentao opened #2183 "original tflite model before quantization pose landmark?"
Hello, your human pose landmark model is very effective, and we want to apply it to other places, but the current ``tflite`` model after quantization. After converting it to ``onnx``, the model output is inconsistent. Can you provide a ``tflite`` model before quantization or an ``onnx`` model? Thank you very much.