[2022-07-25 05:31] sureshdagooglecom commented on #3396
Hi @TahirIshaq ,
This looks like an error in modified python code.  the  code is addressing a non-existing field "packet".  Could you please check code changes once.

[2022-07-25 05:36] sureshdagooglecom commented on #3527
Hi @LightQniX ,
Yes, it can be done by removing input_stream: "landmark_render_data"or input_stream: "VECTOR:0:multi_hand_landmarks_render_data" from AnnotationOverlayCalculator config.

[2022-07-25 05:36] sureshdagooglecom commented on #3529
Hi @seasiainfotech ,
Could you explain this issue with more information to investigate futher on this issue.

[2022-07-25 05:38] sureshdagooglecom commented on #3535
Hi @CheungBH ,
For IOS we have very clear documentation [here](https://google.github.io/mediapipe/getting_started/ios). You can build an Hand tracking code from the above link and reach us if you still have any query. For ASL language recognition look at reference https://github.com/google/mediapipe/issues/450

[2022-07-25 05:40] sureshdagooglecom commented on #3533
Hi @Gojo1729 ,
MediaPipe graphs will queue/drop frames when the input is faster than the system can handle.
The more powerful the device (or more simple the graph), the less frames dropped/queued, the higher fps can be achieved.

[2022-07-25 06:42] Bruno-Jang commented on #1325
Thanks!
It worked!
For me "python3.8 -m pip install mediapipe==0.8.4"
You saved my time..!!

[2022-07-25 08:35] narendraadloid commented on #2974
Is there some way to deploy a hair segmentation model on the web app? Any help is much appreciated.

[2022-07-25 08:54] LightQniX commented on #3527
Please tell me where it can be found this file "AnnotationOverlayCalculator". I found files like these
[pose_landmarks.txt](https://github.com/google/mediapipe/files/9179570/pose_landmarks.txt)
but .pbtxt

[2022-07-25 09:29] Gojo1729 commented on #3533
Hi @sureshdagooglecom ,
I know that Medipipe handles the FPS based on the device it's running on, but my device is a new one and it's capable to handle 30fps easily. https://browser.geekbench.com/android_devices/realme-7-5g, I am able to run face detection in 30fps

[2022-07-25 10:20] kuaashish commented on #3526
Hi @sureshdagooglecom, Could you please look into this issue. Thank you!

[2022-07-25 11:09] #3481 closed

[2022-07-25 15:06] Michele-Telesca commented on #1155
hi i tried to open this example but i get an error. I'm trying to better understand mediapipe and how to integrate it into a web solution with glb model. Could you help me figure out what the problem with the example code is?

[2022-07-25 17:59] optimaltaskin opened #3544 "Face Effect not running."
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution linux Ubuntu 21.04
- MediaPipe version:  v0.8.10.2
- Bazel version: v1.12.0
- Solution (e.g. FaceMesh, Pose, Holistic): Face Effect (Face Mesh)
- Programming Language a

[2022-07-26 01:24] chris-hndz commented on #3503
Thanks for the responses and ideas. I understand this is more of an improvement proposal for Mediapipe.

[2022-07-26 06:50] sureshdagooglecom commented on #3540
Hi @dilldilldill ,
Could you provide steps to reproduce  this issue.

[2022-07-26 06:52] sureshdagooglecom commented on #3543
Hi @watermellon2018 ,
We have documentation for this issue , please refer [this](https://google.github.io/mediapipe/solutions/media_sequence.html) document and revert back if any issues.

[2022-07-26 06:55] sureshdagooglecom commented on #3542
Hi @Javacr,
can you close this issue if resolved.

[2022-07-26 07:42] Gojo1729 commented on #3533
Hi @kostyaby , is there anyone who can provide some insights on this ?

[2022-07-26 08:02] DouglasLapsley commented on #2750
You might find this helpful: https://hiukim.github.io/mind-ar-js-doc/more-examples/threejs-face-facemesh/

[2022-07-26 08:39] linyu0219 opened #3545 "Wrong gpu version python api mp-pose results caused by pose_detection.tflite change"
**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
- OS Platform and Distribution  Linux Ubuntu 20.04
- [MediaPipe version] 0.8.6-0.8.10
- Bazel version:5.2.0
- Solution Pose
- Programming Language and version (Python):

**Describe the expected behavior:**
A small error is

[2022-07-26 08:40] linyu0219 commented on #3545
wrong result example 2
![image](https://user-images.githubusercontent.com/29172715/180963024-da2bf5a8-fc4c-4ae5-bdb0-8c2b5fa44fb2.png)

[2022-07-26 08:59] dilldilldill commented on #3540
I tried to explain all the steps to reproduce this issue in my OP. This is the whole code to produces the error. For assets and graph etc. used, please see OP.

[code]

[2022-07-26 09:09] #3499 closed

[2022-07-26 09:11] cgtinker opened #3546 "Hello World BUILD should not require internal deps"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- Linux Manjaro

**Describe the problem**:
Running the hello_world BUILD from a another local repo

[2022-07-26 10:09] #3470 closed

[2022-07-26 10:45] bgsonline opened #3547 "local_execution_config_python error occur in install mediapip"
This template is for miscellaneous issues not covered by the other issue categories

For questions on how to work with MediaPipe, or support for problems that are not verified bugs in MediaPipe, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/mediapipe) and [Slack](https://mediapipe.page.link/joinslack) communities.

If you are reporting a vulnerability, please use the [ded

[2022-07-26 10:46] #3547 closed

[2022-07-26 10:47] bgsonline commented on #3547
i see

[2022-07-26 12:09] #3500 closed

[2022-07-26 12:09] #3104 closed

[2022-07-26 12:17] ChenZedie opened #3548 "mediapipe can not build in ubuntu20.04"
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4)：linux Ubuntu20.04 in rockpi
- [MediaPipe version](https://github.com/google/mediapipe/releases):0.8.9
- Bazel version:5.2.0
- OpenCV version (if running on desktop):4.2.0

when i do  bazel build -c opt --copt -DMESA_EGL_NO_X11_HEADERS --copt -DEGL_NO_X11 mediapipe/modules/holistic_landmark:holistic_landmark_gpu
output t

[2022-07-26 13:58] sureshdagooglecom commented on #3430
Hi @felixdollack ,
can you close this issue if resolved?

[2022-07-26 14:03] sureshdagooglecom commented on #3487
Hi @stoneaccount ,
can you provide code changes to investigate further on this issue.

[2022-07-26 14:04] sureshdagooglecom commented on #3494
Hi @390057892 ,
what kind of usage you are looking for so that we can check based on that?

[2022-07-26 14:07] sureshdagooglecom commented on #3511
Hi @della0418 ,
Please check this solution from community https://github.com/google/mediapipe/issues/3512#issuecomment-1186422810 and revert back.

[2022-07-26 14:10] sureshdagooglecom commented on #3513
Hi @nfadeluca ,
Could you please provide steps to reproduce this issue.

[2022-07-26 14:17] DereAbdulhameed opened #3549 "pip install mediapipe does not work"
System information:

OS Platform and Distribution: Windows 11.0.1
Python version: 3.9.0
opencv-python | 4.6.0.66

I tried installing mediapipe through pip on pycharm

Describe the problem:
I've followed all the instructions on how to install mediapipe from the official website but have been unsuccessful. "pip install mediapipe" and "pip3 install mediapipe" unfortunately returns the errors of "pip.

[2022-07-26 15:44] nfadeluca commented on #3513
@sureshdagooglecom Hi Suresh, I have already wrote the steps down in the **Reproducing the Error** section of my post above.

[2022-07-26 16:47] optimaltaskin commented on #3544
There is another issue entry for the same issue as far as I see which is #3060 . But there is no solution either. Please help me finding solution for that problem since I've been working on it for some time but couldn't fine any solution yet.
Thanks, best wishes.

[2022-07-26 18:29] DavidWiener84 commented on #2851
Also looking for a resolution for this issue. Can we pls re-open this?

[2022-07-26 21:59] onuralpszr commented on #3549
The error you got pointing that you have a network. You may want to check that one out. Because installation in here works just fine. Also you when you create virtualenv or using your main python installation on windows make sure you also have "updated" "pip" as well. (pip install pip --upgrade)

[2022-07-27 00:10] garyli03 opened #3550 "How to generate detection_unique_id_calculator.proto by myself?"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Ubuntu 20.04
- [M

[2022-07-27 02:31] jessonliu opened #3551 "IOS Example of Selfie Segmentation using Background Blur and picture"
As for the ios example of selfie segmentation, could you please give me more details? Could you add the background blur effect and the example of changing the background to a picture? Thank you very much

[2022-07-27 02:56] watermellon2018 opened #3552 "Output model tensorflow"
I convert model tensorflow lite into tensorflow. And i predict the pose estimate at image. Output is tensor of shape [39 5]. I need only key points of body and coordinates. I get slice [0:33, 0:3] and i want it to draw at image. How i can do that? The range output model strange, it is not [0-1], i try to put this is at image with shape 256*256, but it is not correct. I try to use Sigmoid for predi

[2022-07-27 05:07] gopig99 opened #3553 "Implementation of 3d glass try on using mediapipe"
Hi, can anyone help me in implementing the 3d glass try-on or rendering on face using mediapipe. In documentation there is no sample code for that
example image/gif -
!
[68747470733a2f2f676f6f676c652e6769746875622e696f2f6d65646961706970652f696d616765732f666163655f67656f6d657472795f72656e64657265722e676966](https://user-images.githubusercontent.com/68884919/181165803-15a78bb2-69f5-4241-b64a-bc1caca

[2022-07-27 06:54] watermellon2018 commented on #3552
Normalization not help, i convert prediction array to range [0; 1] and get this:
![image](https://user-images.githubusercontent.com/41168830/181181411-4c90a99f-7e6e-40e8-b73a-f380384fc737.png)

[2022-07-27 06:55] watermellon2018 commented on #3552
I normalization this way:
[code]

[2022-07-27 07:09] #1707 closed

[2022-07-27 07:09] #3478 closed

[2022-07-27 07:10] #3492 closed

[2022-07-27 07:10] #3495 closed

[2022-07-27 07:10] #3496 closed

[2022-07-27 08:12] felixdollack commented on #3430
The underlying issue seems not resolved, as you can see by running the code mentioned [here](https://github.com/google/mediapipe/issues/3430#issuecomment-1183955438).
However, I have shifted to use the **holistic solution**, because that **works** for me.

[2022-07-27 08:12] #3430 closed

[2022-07-27 08:29] kuaashish commented on #3548
Hi @ChenZedie, Could you please try to run the same command in a command line with administrative privileges. Thank you!

[2022-07-27 08:38] kuaashish commented on #3549
Hi @DereAbdulhameed, Could you please refer to this [issue](https://stackoverflow.com/questions/43298872/how-to-solve-readtimeouterror-httpsconnectionpoolhost-pypi-python-org-port) for your query. Thank you!

[2022-07-27 09:22] ChenZedie commented on #3548
Hi@kuaashish ,Thank you very much for your reply.I'm a Linux newbie.I executed the "sudo bazel build -c opt --copt -DMESA_EGL_NO_X11_HEADERS --copt -DEGL_NO_X11 mediapipe/modules/holistic_landmark:holistic_landmark_gpu" command under root and got the same error as above.
and i executed "sudo bazel build -c opt --copt -DMESA_EGL_NO_X11_HEADERS --copt -DEGL_NO_X11 mediapipe/modules/holistic_landmark

[2022-07-27 11:00] ChenLiangChong opened #3554 "can't access builder"
Build aar but the error message shows that I can't access the Builder
is there anyone who can help?
[code]
[code]

[2022-07-27 12:21] onuralpszr commented on #3553
Example code : https://github.com/google/mediapipe/tree/master/mediapipe/examples/android/src/java/com/google/mediapipe/apps/faceeffect

Related Document link with face effect section : https://google.github.io/mediapipe/solutions/face_mesh.html#face-effect-example

[2022-07-27 12:24] onuralpszr commented on #3550
Is the file you looking for : https://github.com/google/mediapipe/blob/master/mediapipe/calculators/util/detections_to_render_data_calculator.proto

[2022-07-27 12:43] gopig99 commented on #3553
Thank you @onuralpszr , Can we implement this in python?

[2022-07-27 12:56] onuralpszr commented on #3553
Close example I found is here : https://learnopencv.com/create-snapchat-instagram-filters-using-mediapipe/  that may be help you out in certain point.

Other related issue is : https://github.com/google/mediapipe/issues/3149

Good luck.

[2022-07-27 13:00] BitLoose opened #3555 "Depth error on elbow joints in pose model"
Whilst depths for the pose landmarks are generally correct, the elbows are always in the depth foreground.  I enabled depth rendering for all joints and lines, and this can be clearly seen.
I've searched for this issue and found nothing, but this must be a known problem, no?
The visibility float is also always under 0.24 for elbows even when clearly identified and marked, whilst other body landmar

[2022-07-27 15:52] optimaltaskin commented on #3544
I have found that execution crashes at line 99 of demo_run_graph_main_gpu.cc .
[code]

Code line where the execution crashes is above. But I don't get why it happens. I appreciate any idea on the subject. Thanks!

[2022-07-27 16:02] serrabii opened #3556 "Creating ios examples externally"
Hi,

Is there a way to write an ios example such as those in `mediapipe/mediapipe/examples/ios` outside of mediapipe's repository?

It seems that all such examples need to depend on rules (`//mediapipe/objc:mediapipe_framework_ios`, `//mediapipe/objc:mediapipe_input_sources_ios`, `//mediapipe/objc:mediapipe_layer_renderer`) which are not **publicly visible**.

**My use case:**

I have done some ch

[2022-07-27 16:15] garyli03 commented on #3550
Sorry, Copied wrong file name.  The one I am looking for is:

detection_unique_id_calculator.proto

The description of this issue is updated.

[2022-07-27 17:16] DSNOffa commented on #3549
I have gone through the solution here and it work absolutely fine. Thank you

[2022-07-27 17:19] DereAbdulhameed commented on #3549
Thank you. It has worked now. It was largely due to network issues

[2022-07-27 17:19] #3549 closed

[2022-07-28 04:17] gopig99 commented on #3553
yes after following that I have  annotated and executed .....got an error
cv2.error: OpenCV(4.5.5) D:\a\opencv-python\opencv-python\opencv\modules\calib3d\src\ptsetreg.cpp:1108: error: (-215:Assertion failed) count >= 0 && to.checkVector(2) == count in function 'cv::estimateAffinePartial2D'

[ WARN:1@19.242] global D:\a\opencv-python\opencv-python\opencv\modules\videoio\src\cap_msmf.cpp (539) `ano

[2022-07-28 06:11] Woong0416 opened #3557 "How Can I drawing new joint In hands ?"
first my goal is put the red dot on the middle of two joint(num is 1 , 5) then I calculate the place midpoint but i can't visualize my new point how can i visualize my new point and which library to make dot

[code]

I want to make a new joint in the mediapipe library than I make joint [21]

then i want to display my new joint but I have some error

   **error**

[code]

How can I make the dot on

[2022-07-28 06:29] kuaashish commented on #3538
Hi @sosoyeon1125, Yes, It's possible to detect the person's height in the MediaPipe using the "Pose" solution.
Please follow the below steps to measure the person's height:

1) Start with the MediaPipe "pose" solution.
2) Find the head and toe landmarks in "world coordinates".
3) Measure the vector in world coordinates between these landmarks.

Thank you!

[2022-07-28 06:33] kuaashish commented on #3507
Hi @martinenkoEduard, MediaPipe does return detections, or face images, or rendered detection rectangles
but does not have any APIs for storage of these returned results. Thank you!

[2022-07-28 07:09] #3515 closed

[2022-07-28 07:13] ramthiagu10 commented on #1903
Please help me with the installation. I tried with pip installation but, it shows fatal error.

pip install -e git+https://github.com/aniketiq/mediapipe/tree/ObjectDetectionSolution#egg=mediapipe

Obtaining mediapipe from git+https://github.com/aniketiq/mediapipe/tree/ObjectDetectionSolution#egg=mediapipe
  Cloning https://github.com/aniketiq/mediapipe/tree/ObjectDetectionSolution (to revision mas

[2022-07-28 08:59] kuaashish commented on #3552
Hi @watermellon2018, Is it implemented through python, Javascript or others? Could you please help me in reproducing the same with complete steps at our end. Thank you!

[2022-07-28 09:31] kuaashish commented on #3550
Hi @garyli03, Could you please elaborate with respect of use case and complete details about the issue. Thank you!

[2022-07-28 09:35] kuaashish commented on #3553
Hi @gopig99, Could you please elaborate your query with complete details and standalone code to reproduce the issue.
Thank you!

[2022-07-28 09:53] Tortoise17 commented on #3526
@sureshdagooglecom Please if you can have a look into the issue. I cannot build the desktop examples too. I don't know where is the proper requirement information guide which can help in the building of correct start.

[2022-07-28 10:07] watermellon2018 commented on #3552
@kuaashish It is implemented through python. I use tensorflow model `pose_landmark_heavy`. I pass image into model and get tensor with shape 1, 195, make reshape (39, 5), get only 33 points and 2 (x, y) coordinates, then i flip horizontal and normalized it
Code:
[code]

[2022-07-28 10:39] kuaashish commented on #3552
Hi @watermellon2018, Have you looked at this closed issue #1701  and [comment](https://github.com/google/mediapipe/issues/1701#issuecomment-797131246). Thank you!

[2022-07-28 10:57] RepublicOfKorokke commented on #2994
Can this help you?

build params are refered from https://google.github.io/mediapipe/getting_started/android_archive_library.html
and https://github.com/google/mediapipe/blob/master/mediapipe/java/com/google/mediapipe/solutions/hands/BUILD#L18

[code]

[2022-07-28 11:20] razor123max opened #3558 "Mediapipe webserver"
<em>Please make sure that this is a feature request.</em>

- MediaPipe Solution (you are using): **facemesh, Iris**
- Programming language : **C++**
- Are you willing to contribute it (Yes/No):

Is there anyway to put mediapipe behind web-server while utilising GPU? any pointers?

I am planning to use webRTC for video or grpc with image frame by frame request, any pointers?

[2022-07-28 14:30] #3519 closed

[2022-07-28 14:35] ChenZedie commented on #3548
@kuaashish , Thank you very much for your reply. I've solved this problem by modifying the mediaippe source version. But a new problem arose, I built the version of the GPU with the "xxx" instruction, but the following error occurred.
error:
Traceback (most recent call last):
  File "mp_wavehand_finished.py", line 92, in <module>
    main()
  File "mp_wavehand_finished.py", line 43, in main
    ho

[2022-07-28 14:37] ChenZedie commented on #3548
My command is ”bazel build -c opt --copt -DMESA_EGL_NO_X11_HEADERS --copt -DEGL_NO_X11 mediapipe/modules/holistic_landmark:holistic_landmark_gpu“.

[2022-07-28 14:37] ChenZedie commented on #3548
My command is ”bazel build -c opt --copt -DMESA_EGL_NO_X11_HEADERS --copt -DEGL_NO_X11 mediapipe/modules/holistic_landmark:holistic_landmark_gpu“.

[2022-07-28 14:38] demirb15 commented on #3519
I have managed to run gpu solutions using custom ubuntu image instead of using the ones offered by khadas team.
I used [fenix](https://github.com/khadas/fenix) to build my custom ubuntu focal gnome image with the mainline
Afterwards i followed the main procedure for installing mediapipe and was able to run gpu solution at 25~30 fps

[2022-07-28 14:42] ChenZedie commented on #3548
My test code is as follows:

cap = cv2.VideoCapture(4)

mp_holistic = mp.solutions.holistic
holistic = mp_holistic.Holistic(model_complexity=0)       error here.
for i in range(0,10):
    if not cap.isOpened():
        try:
            cap.open(i)
        except:
            pass
    else:
            break

while cap.isOpened():
    success, img = cap.read(4)
    img = cv2.cvtColor(img, cv2.COLOR

[2022-07-28 16:04] mabab commented on #1155
Some bug with load mediapipe file. You can try use my fix https://codepen.io/Babich/pen/VwXrjvK

[2022-07-28 20:33] garyli03 commented on #3550
Hi, kuaashish,
     I am trying to implement Python API for Object tracking. I already implemented object detection Python API by referring https://github.com/google/mediapipe/issues/1903. Now, I want do similar thing for Object Tracking https://google.github.io/mediapipe/solutions/box_tracking.html .

The build process by running

`     python3 stup.py install --link-opencv`

   succeeded. But wh

[2022-07-28 20:48] garyli03 commented on #3545
I saw you have this setting in your code:
`min_detection_confidence=0.5`

So I guess for some of the landmarks, there visibility score is lower than 0.5, that's why they are not displayed.

There is a visibility field in each landmark output, you can print them out the see the values.

[2022-07-28 23:10] hiukim commented on #3262
I also encountered this issue in iOS 15.4.  But interestingly, 15.5 seems fine....

[2022-07-29 00:46] naveenkulkarni-movidius commented on #3305
[mediapipe_v0.8.10.zip](https://github.com/google/mediapipe/files/9215089/mediapipe_v0.8.10.zip)
Maybe it's a version issue, the above patch works with v0.8.10

[2022-07-29 01:31] haoXu1990 commented on #2994
hi, thk,  you solution to my problem

[2022-07-29 05:14] watermellon2018 commented on #3552
@kuaashish Thank you. I added normalize image and post proccessing of the prediction, it a little bit help. But when i merged prediction from Python API and prediction from Tensorflow model. I get this (blue - python api / green - tensorflow):
![myplot](https://user-images.githubusercontent.com/41168830/181687381-1718d708-da69-4b18-84ab-fbff6d89ac33.png)

[2022-07-29 06:09] #3518 closed

[2022-07-29 07:02] linyu0219 commented on #3545
No, not for this reason. I use 0.1 also has this problem. When I use cpu a pip install version,  results is correct.

[2022-07-29 07:53] sureshdagooglecom commented on #3495
@matthewwiese ,
Please open new issue for javascript based solutions.

[2022-07-29 08:00] VanillaTiger commented on #3305
For me its working now,

in the code provided by @xiong-jie-y there is a mistake you need to change in .bazelVersion 5.0.0 to 5.2.0 then the build is going succesfull and i dont get the error i mentioned.

in addition please ensure you have protobuf==3.20 otherwise you also get errors.

finally for build to complete probably you have installed opencv4 so also before the building process you need t

[2022-07-29 08:00] wany0904 opened #3559 "I want to record voice and video while using face detection on Android in real time"
I am using face detection on Android. I want to record voice and video while using face detection in real time. If you know how, please let me know.

[2022-07-29 08:12] #3542 closed

[2022-07-29 11:38] Javacr opened #3560 "My hand tracking app cannot run. I list the specific steps."
**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution: Windows 64 Bit and WSL2(ubuntu20.04)
- Programming Language and version ( e.g. C++ 14, Python 3.6, Java ): Java
- [MediaPipe version](https://github.com/google/mediapipe/releases): latest
- Bazel version: v1.12.0
- Android SDK and NDK versions (if android): SDK--30, NDK--r21e
- Android

[2022-07-29 14:19] adsonrocha commented on #2546
I am currently using react alone. So I created one component to handle webcam and other to listen to facemesh events. Here it follows:

[code]
[code]

[2022-07-29 15:06] Justinyu1618 commented on #2506
@ButzYung Did you have to edit any other part of the code to get this to work? When I try to initialize the model in a web worker, it tries to run `importScripts` on the tflite file, which errors out, in addition to a bunch of other issues because there's no `document` or `window`.

[2022-07-29 16:36] matildao-pane opened #3561 "Where is the Objectron 2stage graph?"
Solution: Objectron

Where can I find the file with the precise description of the graph used by the 2 stage architecture Objectron??? At this
[link](https://github.com/google/mediapipe/tree/master/mediapipe/modules/objectron)
I can only see files with 1_stage description in the name.
Which one is referred to the 2stage architecture?

[2022-07-29 16:42] matildao-pane commented on #3561
Besides I dont understand if the detection and tracking is applied differently to the 2stage architecture, because it seems from the papers and the documentation that the detection and tracking subgraphs are related only to the 1stage

[2022-07-29 16:54] matildao-pane commented on #3561
https://arxiv.org/abs/2006.13194

does the technique described here in this paper is applied also to the 2stage architecture?

[2022-07-29 19:01] ButzYung commented on #2506
@Justinyu1618 Yeah you have to edit `holistic.js`, as shown in my previous comment. Errors should be gone after that.

[2022-07-29 23:46] shrey-rootally commented on #2378
hey, any updates on how to approach this?

[2022-07-30 15:02] optimaltaskin opened #3562 "Graph Profiling and Tracing"
Hi,

I tried to implement profiling to solve issues I'm experiencing with face effect module. I followed steps mentioned in [documentation](https://google.github.io/mediapipe/tools/tracing_and_profiling.html). However coulnd't make it work.

In the docs it says I should add code snippet below in the CalculatorGraphConfig  which is in calculator.proto.

[code]

I have added that snippet in the calc

[2022-07-31 05:47] gopig99 commented on #3553
Hi @kuaashish here is the repository https://github.com/gopig99/AR-filters-MediPipe

[2022-07-31 07:54] elbakramer opened #3563 "Example android app for holistictrackinggpu crashes due to null pointer dereference"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): No
- OS Platform

[2022-07-31 08:51] Javacr commented on #3560
I have solved the problem. The reason is that I forgot to copied handedness.txt to my assets in step 7.

[2022-07-31 08:51] #3560 closed

[2022-07-31 09:03] KornilovaK opened #3564 "Mediapipe has a slow performance on android"
Hi. I have a problem with the mediapipe performance on android. I really got stuck with that and do need help please!

I've built hands solution app by the [documentational tutorial](https://google.github.io/mediapipe/getting_started/android_solutions.html) using android studio.
I think, I've investigated all the official code and haven't found the way to increase to the certain 30 fps. That's exa

[2022-07-31 11:04] KornilovaK commented on #3564
The mediapipe class *CameraInput* is being used, in which then *CameraXPreviewHelper.class* is being imported:

MainActivity.java
[code]
CameraInput.class
[code]

So I had an idea to edit *CameraXPreviewHelper.class*. There is a class *ImageCapture.Builder*.
CameraXPreviewHelper.class
[code]
And I thought it would work to add a *Camera2Interop* option as I saw it had worked with *ImageAnalysis* fr

[2022-07-31 14:02] hotstone1993 opened #3565 "How to deal with the output of the face detection tflite model?"
**Hello! I am working on a simple AR personal project.
(In the process, I need help using mediapipe's tflite model.)**
![image](https://user-images.githubusercontent.com/31797275/182029720-66c90de2-a356-45cb-b099-7749f5c488ed.png)
**If you check the face_detection_short_range.tflite model with netron, the output is the same as above. (float32[1,896,1])
I want to get face detection information from

[2022-08-01 02:45] fchen09 opened #3566 "the z coordinate of pose tracking should not be affaced by swinging arms."
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):ios 15.5
- [MediaPi

[2022-08-01 07:20] liuyulvv opened #3567 "process output of pose_landmark_lite"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Windows 10
- [Med

[2022-08-01 08:46] ChesterXcw opened #3568 "build error on windows"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution： Windows 10
- Bazel version:bazel 6.0.0-pre.20220706.4
- OpenCV ver

[2022-08-01 08:51] fiveshit commented on #713
hi @jiuqiant
I met same problem,
[code]
but I tried your solutions that it's failed. Do you have more solutions for this problem?

[2022-08-01 08:52] fiveshit commented on #713
hi @teleger
I wondering to know Do you fixed this promble?

[2022-08-01 09:07] watermellon2018 opened #3569 "Output pose detection None"
I want to use mediapipe/modules/pose_detection/pose_detection.tflite I try to watch the name of nodes graphs, but get RuntimeWarning
[code]
My code:
[code]
Also i try get output from layer Identity:0, but get error that there is not that layer
Thanks

[2022-08-01 09:24] adityasihag1804 commented on #3498
@kuaashish Any guide on how to install that specific version of tf.
I tried this -> `pip install -U git+https://github.com/KenjiAsaba/tensorflow.git@Mediapipe_v0.8.9`
But got the following error,
[code]

[2022-08-01 09:25] adityasihag1804 commented on #3498
@kuaashish  Any guide on how to install that specific version of tf.
I tried this -> pip install -U git+https://github.com/KenjiAsaba/tensorflow.git@Mediapipe_v0.8.9
But got the following error,
[code]

[2022-08-01 09:50] kuaashish commented on #3568
Hi @ChesterXcw, It seems an error is occurring because Mediapipe is trying to access the MSYS2 folder at the wrong path.
Could you try the below steps to make it in the correct path:

- Make a new folder called **tools** in **C:\ directory.**
- Move the **msys2** folder from **D:\Download\msys2** to the previously created **tools** folder in **C:\ directory.**
- Rename the folder name from **msys2

[2022-08-01 10:21] kuaashish commented on #3569
Hi @watermellon2018, Could you provide the complete details with respect to the use case and standalone code to reproduce the issue. Thank you!

[2022-08-01 10:35] watermellon2018 commented on #3569
@kuaashish
[code]

[2022-08-01 12:27] Conru1 commented on #3562
Hi,
I got mine working on android by only adding the profiler_config to the top of my graph file right before the first node. Not in calculator.proto and not in each node separately.

[2022-08-01 12:27] dilldilldill commented on #3540
Does the code look okay? Are there any obvious mistakes? Or have I made any mistakes in building the aar file from mediapipe/graphs/object_detection_3d:mobile_calculators and the binarypb file from object_occlusion_tracking.pbtxt? Any help would be appreciated.

[2022-08-01 12:37] PonyHugger commented on #3540
I am working on a similiar solution and i am getting pretty much the same SIGSEGV.
Any ideas?

[2022-08-02 05:50] kuaashish commented on #3567
Hi @liuyulvv, Could you please elaborate your query with complete details. Thank you!

[2022-08-02 06:00] liuyulvv commented on #3567
@kuaashish How to convert `pose_landmarks`(one of the outputs of pose_landmark_lite, a tensor with shape of (1,195)), into
[code]

What is the relationship between `195 numbers` and `33` landmarks' `x, y, z, visibility, and presence` ? Thanks a lot.

[2022-08-02 06:59] kuaashish commented on #3569
Hi @watermellon2018, Could you please provide the standalone code to reproduce the issue as shared code is not reproducible. Please find the [gist](https://gist.githubusercontent.com/kuaashish/38abd55df11a2627653241d019e3f902/raw/1989e80f8cddb22bff4d61c935fbf4e94c2e1a4d/3569.py) for reference. Thank you!

[2022-08-02 07:08] kuaashish commented on #3553
Hi @gopig99, Have you looked at this [#SO](https://stackoverflow.com/questions/35428739/opencv-estimateaffine3d-failes-with-cryptic-error-message) issue. Thank you!

[2022-08-02 09:18] watermellon2018 commented on #3569
@kuaashish
[code]

[2022-08-02 14:03] sureshdagooglecom commented on #3554
Hi @ChenLiangChong ,
Could you please share complete details of the above issue , like what solutions and platform are you aiming for. And also share the detail build error.

[2022-08-02 14:49] liuyulvv commented on #3552
@watermellon2018 Good jobs, can you share your codes? The picture seems to be from the bgr channel.

[2022-08-02 14:59] #3517 closed

[2022-08-02 15:02] sureshdagooglecom commented on #3557
Hi @Woong0416 ,
There is issue with code level changes and we can see error that subscript changes , could you please provide complete code changes to investigate further on this issue.

[2022-08-02 15:03] sureshdagooglecom commented on #3559
Hi @wany0904 ,
We don't have this feature as of now due to limited support.

[2022-08-02 15:10] sureshdagooglecom commented on #3563
Hi @elbakramer ,
Did you use the Android gradle solution or Android AAR ?
We have similar issue which has solution , please refer [this](https://github.com/google/mediapipe/issues/2567) closed issue.

[2022-08-02 15:12] sureshdagooglecom commented on #3565
Hi @hotstone1993 ,
Could you provide steps to reproduce this issue.

[2022-08-02 15:24] sureshdagooglecom commented on #3566
Hi @fchen09 ,
Could you please share any reference video and also if any code changes to investigate further on this issue.

[2022-08-02 15:25] sureshdagooglecom commented on #3441
Hi @omkarmohanjoshi ,
Could you provide any changes to investigate further on this issue.

[2022-08-02 16:51] DeividVeloso commented on #3373
Hello team, any update on it, please?

[2022-08-03 00:58] Woong0416 commented on #3557
oh i'm sorry i change my issue

[2022-08-03 01:23] #3567 closed

[2022-08-03 01:40] sglim commented on #3477
+1

[2022-08-03 05:28] luan78zaoha commented on #3533
bazel build -c opt

[2022-08-03 06:39] reolf opened #3570 "cross compilation mediapipe for raspberryPi error"
**System information**
- OS Platform and Distribution : Linux Ubuntu 18.04(host) ,  Debian buster(docker image)
- Compiler version :  g++8
- MediaPipe version: 0.8.10.2
- Bazel version: 5.2.0

**Describe the problem**:
I want to build the hand_tracking demo for RaspberryPi through docker.
so I follow the instruction (https://github.com/google/mediapipe/tree/master/mediapipe/examples/coral#cross-co

[2022-08-03 06:42] fchen09 commented on #3566
At this stage, pardon me cannot share the video. Let me draw how it is going on in the figure. When I swing my arms, the body was lean back and forth depending on whether the arm is backward or forward. Any solution to the unwanted swing? Thanks.
![IMG_1358](https://user-images.githubusercontent.com/84703080/182541074-1bf0b27a-037a-4e14-a578-998177a46ba8.JPG)

[2022-08-03 08:00] BitLoose commented on #3555
Hi, thanks very much for the reply.  I am using Windows 10, latest
service packs,  with Visual Studio 2022 C++ and I've tried with both
0.8.10.0 and 0.8.10.2, or is that 0.10.8.2? Anyway, I used the very
latest mediapiple off github, and the previous version.

The elbow joint off the pose model is always with Z in the foreground, I
enabled Z rendering in the .pbtx, and also checked the Z values. R

[2022-08-03 08:02] kuaashish commented on #3570
Hi @reolf,  Have you looked at this similar closed issue[ #926](https://github.com/google/mediapipe/issues/926) and [comment](https://github.com/google/mediapipe/issues/926#issuecomment-662781911). Thank you!

[2022-08-03 08:35] Tortoise17 commented on #3526
@kuaashish any help? or guess?

[2022-08-03 09:01] Gojo1729 commented on #3533
@luan78zaoha You mean while building AAR file ? I am already using that -
`bazel build -c opt --strip=ALWAYS     --host_crosstool_top=@bazel_tools//tools/cpp:toolchain     --fat_apk_cpu=arm64-v8a,armeabi-v7a     --legacy_whole_archive=0     --features=-legacy_whole_archive     --copt=-fvisibility=hidden     --copt=-ffunction-sections     --copt=-fdata-sections     --copt=-fstack-protector     --co

[2022-08-03 09:59] reolf commented on #3570
hi @kuaashish , I had looked, but it seems not the same error.

[2022-08-03 10:25] UtsaChattopadhyay opened #3571 "Mediapipe: How to convert pose landmarks from Pixel_space to World_space"
I am working on building a standalone cpp project for detecting pose. We are able to get the pixel space output while doing pose detection.
[Here](https://google.github.io/mediapipe/solutions/pose.html#pose-landmark-model-blazepose-ghum-3d), it says that the pose landmark model detects 33 landmarks in pixel and world space, where each landmark has 4 values (x,y,z, visibility). We are looking for a

[2022-08-03 10:38] elbakramer commented on #3563
I think it's neither gradle nor aar.

I'm not using gradle but using bazel with `android_binary` rule to build an app.
Also what I know about aar is that we need to use `mediapipe_aar` bazel rule for building an aar but I'm not using any of that.

Similarly the issue you've mentioned is talkiing about Android Solutions API
but again I'm just building an app directly using bazel's `android_binary`

[2022-08-03 10:56] watermellon2018 commented on #3569
I solved this way:
[code]

[2022-08-03 10:59] #3525 closed

[2022-08-03 11:02] watermellon2018 opened #3572 "What is detection_letterbox_removal_calculator"
I don't understand that mean detection letterbox calculator. I think is proportion between size original image and resized image. Example, i have original image with shape 1080; 1920 and i want to resize it to 224; 224 to pass model. Also i need to get letterbox list. How calculate it (via python). What does it mean this list. Now i calculate this way:
[code]

[2022-08-03 11:10] UnlimitedX commented on #3405
Hi @mcclanahoochie ,

Have you had a moment to check my previous post?

Thank you very much.

[2022-08-03 12:19] serrabii commented on #3556
Hi @sureshdagooglecom ,

Thanks for replying.

I believe that the documentation you linked doesn't build the ios app outside of the mediapipe source code.

[2022-08-03 13:57] sg1705 opened #3573 "Build failing due to ceres_solver dependencies"
## System information** (Please provide as much relevant information as possible)
**OS:** Ubuntu 20.04 x86-64
**C++:** GCC 9
**MediaPipe:** HEAD
**Bazel:** 5+
**OpenCV:** 3.4
**Installation Method:** Docker Image
**Solution:** AutoFlip

## The problem -- Build Error

#### How I am building

`bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 mediapipe/examples/desktop/autoflip:run_autoflip --verb

[2022-08-03 14:48] hotstone1993 commented on #3565
Sorry, I lacked an explanation.
I was just wondering how to handle the results(float array) of the tflite model (face_detection_short_range.tflite) provided by mediapipe.
(Because the result is in the shape of float32[1, 896, 16], float32[1, 896, 1] like the picture above, I don't know how this data is structured.)
I tried to find the related code in the project, but it failed.
So I wrote here to

[2022-08-03 17:25] ayeganov commented on #2674
I would like to have this feature to be able to customize paths to my models within the subgraph.

[2022-08-03 19:56] optimaltaskin commented on #3562
Thanks @Conru1, that helped a lot. I got it working as well. However I couldn't find what I was looking for, but that's another subject  :)

[2022-08-03 19:56] #3562 closed

[2022-08-03 21:25] yifeix5 opened #3574 "Mediapipe Build Error"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information**:
-  Linux Ubuntu 18.04
- Compiler version: gcc/g++ 8
- Programming Language and version: Python 3.6.9
- Installed based on this link: https://github.com/And

[2022-08-04 00:32] #3559 closed

[2022-08-04 01:36] wizVR-zhangjun opened #3575 "I want to get facial data visibility"
How to obtain the visibility of facial information, is this value need to be configured

[2022-08-04 04:27] patrickhartono commented on #3047
any update on this? I had similar issue when running mediapipe hands in Touchdesigner

[2022-08-04 04:28] kuaashish commented on #3569
Hi @watermellon2018, Good to hear that the issue has been resolved. Could we move this issue to close status as it has been resolved and hope does not require further support. Thank you!

[2022-08-04 05:10] suyash-bureau opened #3576 "Mediapipe's face detection JS not working on iOS browsers (Safari & Chrome)"
**System information**

- Packages used for development
   1. Reactjs - v16.10.2
   2. Typescript - v4.2.4
   3. react-webcam - v7.0.1 (for capturing the image taken from a camera)
   4. mediapipe/camera_utils - v0.3.1640029074
   5. mediapipe/face_detection - v0.4.1646425229
   6. react-use-face-detection - v1.0.1 (which acts as a react hook and also a wrapper for mediapipe face detection js)

-

[2022-08-04 06:25] sureshdagooglecom commented on #3512
Hi @della0418 ,
Still do you have any issue w.r.t above issue.

[2022-08-04 06:31] sureshdagooglecom commented on #3472
Hi @GreenVegetables ,
Yes , you will have use 2 different solutions in two different times.

[2022-08-04 06:41] sureshdagooglecom commented on #1514
Hi @mgebhard ,
what is the error you are facing w.r.t above issue and please share the error logs.

[2022-08-04 06:51] kuaashish commented on #3570
Hi @reolf, Could you confirm that you are able to build the Hello_world_example successfully as mentioned [here](https://google.github.io/mediapipe/getting_started/install.html#installing-on-debian-and-ubuntu). Thank you!

[2022-08-04 07:31] reolf commented on #3570
hi @kuaashish, I had tried to build the hello_world example. it's no problem. and can run on raspberryPi.

[2022-08-04 09:27] kuaashish commented on #3574
Hi @yifeix5, Could you please build the above example using steps mentioned in the official documentation as mentioned [here](https://google.github.io/mediapipe/getting_started/cpp.html). Please let us know if still encounter the error. Thank you!

[2022-08-04 09:35] kuaashish commented on #3575
Hi @wizVR-zhangjun, Could you elaborate your query with complete details and information about the which platform you are referring. Thank you!

[2022-08-04 09:43] jianinz commented on #2465
I have tried the latest 0.8.10 build, the problem still persists. @chuoling is there anything you could comment on this issue or give me some guidance or hint? Thanks!

[2022-08-04 10:29] yifeix5 commented on #3574
Thank you for your reply. I tried to use official document to build Mediapipe on Ubuntu 18.04, but I still get "missing dependency" error, which is shown below.

--------------------------------------------------------------------------------------------------------
ERROR: /home/elephant/mediapipe/mediapipe/calculators/tensor/BUILD:118:11: Compiling mediapipe/calculators/tensor/inference_calculato

[2022-08-04 16:41] yash-s-expertrons commented on #2905
Facing the same issue in Pose Detection

[2022-08-04 22:36] yang242j commented on #1325
Try install mediapipe-silicon, for m1 Mac user

[2022-08-05 02:42] #3575 closed

[2022-08-05 05:38] kuaashish commented on #3568
Hi @ChesterXcw, Could you please let us know this is still an issue or resolved as per the above comment. Thank you

[2022-08-05 05:39] kuaashish commented on #3569
Hi @watermellon2018, Could you please respond to the above comment. Thank you!

[2022-08-05 05:48] sal-p commented on #3538
HI, do you know how does mediapipe calculate POSE_WORLD_LANDMARKS? I mean what method/ scientific principle does it use to extract how far away, say, neck, or left hand is from the center of the hip? I need this in order to establish credibility of some of my results that I have gotten from it. Thanks :)

[2022-08-05 05:56] sal-p opened #3577 "Method Used to Calculate POSE_WORLD_LANDMARKS?"
Hi, does anyone know how does mediapipe calculate POSE_WORLD_LANDMARKS? I mean staring from the info of pelvis/ hip, what principles or assumptions does it use to say any landmark, say neck or shoulder, is a certain distance (x, y, z) away from it?
There seems to be no information about it in the documentation.

[2022-08-05 06:27] sureshdagooglecom commented on #3452
Hi @gavel94 ,
I think we need to verify the image input that the client is providing.
Can you verify following questions while inputting images.
1)Could you  verify  that you are using   MediaPipe solutions without changes.
2) verify the type required by processor.onNewFrame().
4) verify the contents of "bitmap" in the  call to processor.onNewFrame.

[2022-08-05 06:29] sureshdagooglecom commented on #3527
Hi @LightQniX ,
Landmarks are rendered by AnnotationOverlayCalculator which is controlled by "LandmarksToRenderDataCalculator",  which is invoked in graphs such as:
  google3/third_party/mediapipe/graphs/hand_tracking/subgraphs/multi_hand_renderer_gpu.pbtxt
One approach would be to remove these calculators from the "multi_hand_renderer_gpu.pbtxt" graph.

[2022-08-05 06:36] sureshdagooglecom commented on #3513
Hi @nfadeluca .
Yes, it is to do with android studio and please check this closed issue https://github.com/google/mediapipe/issues/2979.

[2022-08-05 06:39] sureshdagooglecom commented on #3539
Hi @ArtfulMinx ,
Could you please check this https://github.com/google/mediapipe/issues/3539#issuecomment-1193091309 comments and confirm still if you have any error.

[2022-08-05 06:44] sureshdagooglecom commented on #3556
Hi @serrabii ,
Could you please elaborate this use case with more information to investigate further on this .
What is the meaning of building app outside the mediapipe source code.

[2022-08-05 06:45] sureshdagooglecom commented on #3557
Hi @Woong0416 ,
We are closing this issue  as you  have got resolution.

[2022-08-05 06:45] #3557 closed

[2022-08-05 06:45] liuyulvv opened #3578 "face mesh attention model in cpp"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Windows10
- [Medi

[2022-08-05 06:55] ChesterXcw commented on #3568
Oh, so sorry ,I forget it!

May be it works , I followed your advice, the above question never happened , but an new error occured!

The same as "Missing Python binary path",  even if  I specified the python path. when I refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html#missing-python-binary-path), it does not work,

And now , I am trying to ins

[2022-08-05 07:02] kuaashish commented on #3568
Hi @ChesterXcwm, Could you please share the "Missing Python binary path" complete error log to investigate it further. Thank you!

[2022-08-05 07:11] #3578 closed

[2022-08-05 07:17] ChesterXcw commented on #3568
OK

[code]

[2022-08-05 07:28] serrabii commented on #3556
Hi @sureshdagooglecom ,

I am doing something similar to https://github.com/google/mediapipe/issues/256 . Since I am using mediapipe as a remote bazel dependency i can't depend on rules that aren't publicly visible.

[2022-08-05 07:43] kuaashish commented on #3568
Hi @ChesterXcw, Thank you for sharing the error log. It seems from the log two different errors are encountered to install the MediaPipe. Could you please try these two pointers to fix it:

Please let us know if this works. Thank you!

[2022-08-05 07:52] Woong0416 opened #3579 "Can I learn more about mediapipe?"
I want to use Holistic among the functions of Mediapipe to extract the desired point and skeleton with just images of the arms and legs. For that reason, I need to learn images or images of my arms and legs, is there a way?

[2022-08-05 08:30] ChesterXcw commented on #3568
I`m so sorry about that!
Neither of them works

First point
  After exited the file , rerun the command ,  and no difference from before

Second point:
  The python binary executable path I find is the path that specified before  ,also no difference

[2022-08-05 08:43] LightQniX commented on #3527
Thank you very much! You have helped a lot!!!

[2022-08-05 08:43] #3527 closed

[2022-08-05 09:10] kuaashish commented on #3568
Hi @ChesterXcw, Could you try this [thread](https://github.com/google/mediapipe/issues/3459#issuecomment-1167468953) for your latest query. If it does not work, I will be assigning this to the appropriate team. Thank you!

[2022-08-05 10:59] #3537 closed

[2022-08-05 20:10] ahmadyan commented on #3455
1st stage = 2D object detector with SSD
2nd stage = keypoint prediction + EPNP

The model above takes a 224x224 crop (containing the object) and produces 9 2D keypoints (Note after the embedding we have a fully connected layer and then regress 18 values (x,y value for 9 keypoints). 9 Keypoints are the 8 keypoints for the boundingbox + the center of the box. These points are the 2D projection of th

[2022-08-05 21:13] optimaltaskin opened #3581 "Segmentation fault (core dumped)"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)

    OS Platform and Distribution linux Ubuntu 21.04
    MediaPipe version: v0.8.10.2
    Bazel version: v1.12.0
    Solution (e.g. FaceMesh, Pose, Holistic): Face Effect (Face Mesh)
    Programming

[2022-08-06 00:14] liuyulvv opened #3582 "Holistic with refine_face_landmarks"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): No
- OS Platform

[2022-08-06 22:45] Cleoxx commented on #3202
Hey, in case you're still interested, check out #3410 , #2761 and #507. I have been looking for an answer on this as well and found these threads quite helpful.

[2022-08-07 00:30] sg1705 commented on #3269
@peternaf Were you able to successfully build AutoFlip with GPU support?

[2022-08-07 00:31] sg1705 commented on #3573
I resolved this issue by rebuilding my Ubuntu machine and doing a fresh install of OS.

[2022-08-07 00:31] #3573 closed

[2022-08-07 07:47] Liampour opened #3583 "How to detect palms python"
Hello guys,
Is there a way to detect palms in python without detecting all hand landmarks ?

[2022-08-07 12:09] moahaimen opened #3584 "taking alarm for a Certain pose"
Hi I need to make an alarm for a human in a certain pose in a video .mp4 from a movie, for example, if he lifts his arms 180 degrees towards the camera or horizontally, so I tried to take angles but couldn't
could you help me by code example

[2022-08-07 15:32] surapuramakhil opened #3585 "Not able to download its sources in Android studio"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): Windows 11, Androi

[2022-08-07 16:54] LGuilhermeRodrigues commented on #3584
180º is impossible in practice using my code because it ranges from 0º to 180º, but it would work with smaller values:
[code]

[2022-08-08 02:24] gavel94 commented on #3452
During this time, I tried various ways but couldn't achieve my needs.

During this time, I tried various ways but couldn't achieve my needs.

For now, I prefer to use Mediapipe to solve the posture problem.

I don't understand how to verify the type and content later.

The bitmap is converted by OpencV and displayed on the screen as a normal preview.

[2022-08-08 06:30] kuaashish commented on #3585
Hi @surapuramakhil, Could you elaborate your query with complete details. Thank you!

[2022-08-08 06:53] kuaashish commented on #3583
Hi @Liampour, Yes, You could take the palm_detection_tflite model (https://github.com/google/mediapipe/blob/master/mediapipe/modules/palm_detection/palm_detection_full.tflite) and use the standard tflite api to run it without Mediapipe in Python. Thank you!

[2022-08-08 06:59] #3510 closed

[2022-08-08 06:59] #3408 closed

[2022-08-08 06:59] #3416 closed

[2022-08-08 06:59] #3350 closed

[2022-08-08 06:59] #3396 closed

[2022-08-08 06:59] #3529 closed

[2022-08-08 06:59] #3535 closed

[2022-08-08 08:23] moahaimen commented on #3584
thank you very much for answering,
can I take you to email to give you more explanation? please?

[2022-08-08 08:36] moahaimen commented on #3584
https://www.youtube.com/watch?v=-Flb7eBK5Gs
for this video for example i need to take the shooting pose
and give alarm for it i tried media pip but it didn't get the skeleton well
and the formula I think it would be harder
sorry for many question i just start learning python and deep learning with object detection 3 months ago
thank you very much

[2022-08-08 08:57] KaihangHe opened #3586 "Build android example handtrackinggpu Failed But build android helloworld success on Mac"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe):
no
- OS Platform

[2022-08-08 09:32] moorthy-bs opened #3587 "GPU Face detection is not working in ARM Mali G52"
<em>GPU based desktop face detection is not working in the custom ARM platform with Mali G52 GPU (3 cores).
The running environment has 64 bit kernel and 32 bit rootfs.
mediapipe is built with 32 bit
Mali G52 supports Open GL 3.2
Tested the same solution in CPU version and it is working fine
<em>

**System information** (Please provide as much relevant information as possible)
- Have I written cus

[2022-08-08 10:22] kuaashish commented on #3577
Hi @sal-p, "pose_world_landmarks" are the pose landmarks in **real-world 3D coordinates** that are in meters with the origin at the center between hips.

Coordinates **X** and **Y** are the Landmark coordinates normalized to [0.0, 1.0] by the image width and height respectively. **Z** coordinate represents the landmark depth with the depth at the midpoint of hips being the origin, and the smaller

[2022-08-08 11:25] kuaashish commented on #3586
Hi @KaihangHe, Could you please confirm the version of Xcode installed to build the MediaPipe as mentioned [here](https://google.github.io/mediapipe/getting_started/install#installing-on-macos).
Thank you!

[2022-08-08 12:08] Liampour commented on #3583
Hi @kuaashish
Thank you for your quick reply!
I am a bit confused, could you give me more information about how to use this file?

[2022-08-08 14:10] xiyichen commented on #3104
Is it possible to get confidence score of every single landmarks with C++?

[2022-08-08 14:13] KaihangHe commented on #3586
my xcode version "Xcode 14 Β 4"， the "Command_Line_Tools_for_Xcode_14_beta_4.dmg" download from [https://developer.apple.com/download/more/](https://xn--%20https-vy0nv80gx6uwy6c5emkom//developer.apple.com/download/more/)

Thank you for your help！

[2022-08-08 22:58] garyli03 commented on #3550
I figured out that the proto file is not required because the calculator doesn't have options. Simply remove
from mediapipe.calculators.util   import detection_label_id_to_text_calculator_pb2
works

[2022-08-08 22:58] #3550 closed

[2022-08-09 04:57] Woong0416 opened #3588 "How can i add my dataset in to Mediapipe?"
Hi guys

I need some help to solve my issue

I want to draw a landmark of the body part of the image with only the images of the arms and legs.
use by pose model in mediapipe

then i need to add my legs and arms image in to tflite  right ?

so how can i add my dataset ??

please help me ...

[2022-08-09 05:28] kuaashish commented on #3583
Hi @Liampour, You can refer to this colab [example](https://github.com/shortcipher3/stackoverflow/blob/master/mediapipe_iris_2d_landmarks.ipynb) of iris tflite model implementation to use the palm detection tflite. Thank you!

[2022-08-09 05:41] kuaashish commented on #3586
Hi @KaihangHe, It looks like the issue is more related **bazel cross tools**. Please refer to [this](https://github.com/google/santa/issues/735) issue for more information.
Thank you!

[2022-08-09 06:01] kuaashish commented on #3581
Hi @optimaltaskin, Have you looked at this similar closed issue #2170 and [comment](https://github.com/google/mediapipe/issues/2170)?. Could you please follow the workaround mentioned on above comment. Thank you!

[2022-08-09 06:02] sal-p commented on #3577
That was a very good explanation, and the resources provided by users in the issue you've linked helped too but they still missed the point.
Let me explain it again, let's say we have a person that is sitting straight and another who's hunched over. In each case mediapipe pose world landmarks will yield different x, y, and z coordinates for neck landmark (because in each case it's in different rel

[2022-08-09 06:11] KaihangHe commented on #3586
Hi @kuaashish , According to  [this](https://github.com/google/santa/issues/735),I had tried to reinstall bazel by [Installing using the binary installer](https://docs.bazel.build/versions/main/install-os-x.html), then executable `bazel clean --expunge` and `bazel build -c opt --config=android_arm64 mediapipe/examples/android/src/java/com/google/mediapipe/apps/handtrackinggpu:handtrackinggpu`
or
`

[2022-08-09 07:22] #3543 closed

[2022-08-09 07:59] kuaashish commented on #3586
Hi @KaihangHe, Could you share the Android Device configuration to look into the issue further. Thank you!

[2022-08-09 08:13] Gojo1729 commented on #3533
@ivan-grishchenko Any updates on this ? 🙏

[2022-08-09 08:15] kuaashish commented on #3582
Hi @liuyulvv, Have you looked at this closed issue #1546 and [comment](https://github.com/google/mediapipe/issues/1546#issuecomment-770128023) to combine Holistic with iris detection. Thank you!

[2022-08-09 09:29] mch0dmin opened #3589 "Replace pose_detection.tflite with my own model."
If I want to replace pose_detection.tflite with my own pose detection model(eg. HRNet-Human-Pose-Estimation), what should I do to make it work?

Can you give me some advice？

Thanks very much.

[2022-08-09 15:22] #3494 closed

[2022-08-09 15:22] #3511 closed

[2022-08-09 18:44] Liampour commented on #3583
Hi @kuaashish
Thank you for your help. I have also found this example useful https://github.com/aashish2000/hand_tracking?fbclid=IwAR2qPR5WQVVA2s_1dENWW8p_j3Siqclq4LlSfEgFYJNHy-9UHzz2c6Ld8Go

Is it possible to run palm_detection_tflite model with coral usb accelerator?

[2022-08-09 19:23] surapuramakhil commented on #3585
@kuaashish

Repro Steps
1. Try adding library to your android project
2. Now you can import classes etc
3. when you open library classes like "com.google.mediapipe.solutions.facedetection.FaceDetection" in Android studio. Now on top there would be an option to download sources (try doing that)

[2022-08-10 03:29] EricHuiK commented on #483
download file to local,  such as  /home/xxx/xxx/ab.lib
modify  WORKSPACE  urls = [
        "http://mirror.tensorflow.org/github.com/bazelbuild/rules_closure/archive/cf1e44edb908e9616030cc83d085989b8e6cd6df.tar.gz"]  to urls=[" /home/xxx/xxx/ab.lib"]

[2022-08-10 03:29] 87003697 commented on #483
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-08-10 04:49] sureshdagooglecom commented on #3579
Hi @Woong0416 ,
MediaPipe solutions has official document on understing how solutions works on different platforms , please refer [this](https://google.github.io/mediapipe/solutions/holistic.html) document and revert back if you have any questions.

[2022-08-10 04:52] sureshdagooglecom commented on #3587
Hi @moorthy-bs ,
Could you provide steps to reproduce this issue.

[2022-08-10 04:54] sureshdagooglecom commented on #3588
Hi @Woong0416 ,
For python you can create your own graph using the calculators and execute as mentioned here https://google.github.io/mediapipe/getting_started/python_framework.html#graph.
Have you looked at these closed issues https://github.com/google/mediapipe/issues/2761 and https://github.com/google/mediapipe/issues/507.

[2022-08-10 05:04] sureshdagooglecom commented on #3589
Hi @mch0dmin ,
could you elaborate this issue to understand better.

[2022-08-10 05:05] sureshdagooglecom commented on #3584
Hi @moahaimen ,
Can you close this issue if it is resolved.

[2022-08-10 05:16] sureshdagooglecom commented on #3566
Hi @fchen09 ,
We have closed issue which is having answer for queries on Z co-ordinate , could you please check that closed [issue](https://github.com/google/mediapipe/issues/1611#issuecomment-974941821).

[2022-08-10 06:14] kuaashish commented on #3583
Hi @Liampour, Yes, Coral Usb accelerator is capable of running the tflite model with Python as example mentioned in [official_documentation](https://coral.ai/docs/edgetpu/tflite-python/#overview). You can follow the above example to build and run the palm_detection_tflite model on Edge device. Thank you!

[2022-08-10 06:38] kuaashish commented on #3585
Hi @surapuramakhil, Could you please let us know if you successfully built MediaPipe as mentioned [here](https://google.github.io/mediapipe/getting_started/android.html#building-android-example-apps-with-bazel) and able to run the [Hello_world example](https://google.github.io/mediapipe/getting_started/install.html). If yes, Could you provide the [System information](https://google.github.io/media

[2022-08-10 07:50] TrifaC opened #3591 "Android Hand Tracking App With "null pointer dereference""
**Background**

I created an Android app with hand tracking function which uses the aar library. The app works fine with the **hand detection function** but it crashes when I try to build it with **hand tracking function**.

**Github Link:**
https://github.com/TrifaC/MediaPipeHandTest.git

**System information**

- Check the github link above which contain the example code.
- OS Platform: Linux 20

[2022-08-10 07:56] #3584 closed

[2022-08-10 09:10] Masterythepua opened #3592 "Handtracking with edge device"
Hello guys,
Can the hand tracking model be used on a device like raspberry pi with an edge device like Coral TPU?
Thanks

[2022-08-10 09:10] mch0dmin commented on #3589
hi @sureshdagooglecom ,

Glad to receive your reply！

I want to do this :

(1) First, I have a model of human pose estimation, eg. https://github.com/openvinotoolkit/open_model_zoo/tree/master/models/public/human-pose-estimation-3d-0001 or https://github.com/HRNet/HRNet-Human-Pose-Estimation.

(2)  And then I convert these pose estimation models to .tflite format, eg. **hrnet.tflite.** ( Because t

[2022-08-10 09:16] AnkS4 opened #3593 "Easier way to access the co-ordinates"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): GNU/Linux Manjaro Ruah 21.3.6
- [MediaPipe version](https://github.com/google/mediapipe/releases): 0.8.10.1
- Bazel version: 5.2.0-1
- Solution (e.g. FaceMesh, Pose, Holistic): Face Detection
- Pr

[2022-08-10 09:54] kuaashish commented on #3592
Hi @Masterythepua, Hand tracking model is currently not available on the Edge devices. MediaPipe has limited resources for new features. We will let you know if there is any specific update on this request.

You can refer to this issue [#426](https://github.com/google/mediapipe/issues/426) and [#426(comment)](https://github.com/google/mediapipe/issues/426#issuecomment-581536031) for more informati

[2022-08-10 11:01] SoumyajitMukherjee-droid opened #3594 "Inferencing queries"
Can the model infer on CPU or only on GPU?
Can it infer high resolution image or at max, what resolution of the image can be inferred
Can the model perform the 3D pose estimation
Also share the Inference Speed in FPS

[2022-08-10 12:23] surapuramakhil commented on #3585
Yes. I was able to run Hello world example

Updated system information in issue card

[2022-08-10 14:34] surapuramakhil opened #3595 "Bitmap passed to FaceDetector and bitmap returned by FaceDetectionResult.inputBitmap() isn't same object and data"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe):
- OS Platform an

[2022-08-10 15:08] surapuramakhil opened #3596 "Attached Image showing Face even though it doesn't contain Any with more than 90% confidence"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):
- [MediaPipe version]

[2022-08-10 15:40] schmidt-sebastian commented on #1514
Unfortunately, we still do not have native Python wheels. You can run Python under Rosetta.

[2022-08-10 16:28] kuaashish commented on #3552
Hi @watermellon2018, This issue to more related to tensorflow. Could you please raise this issue to tensorflow [repo](https://github.com/tensorflow/tensorflow/issues).
Thank you!

[2022-08-11 06:43] kuaashish commented on #3585
Hi @surapuramakhil, I was able to successfully reproduce the issue on the mentioned Operating System and device in Android Studio with no error. Could you please follow the steps mentioned in [official documentation](https://google.github.io/mediapipe/getting_started/android_solutions.html). Thank you!

[2022-08-11 07:12] Masterythepua commented on #3592
Hi @kuaashish
I use the handtracking model to achieve gesture control of raspberry pi
When I use the handtracking model with raspberry pi I have 10 FPS. Is there a way to increase the FPS to 15 or 20?

[2022-08-11 07:17] kuaashish commented on #3548
Hi @ChenZedie, Could you please confirm still looking for a resolution for the issue or has it been resolved. You can refer to this closed issue #2126 for "Unable to find calculator" error.  Thank you!

[2022-08-11 07:22] #3507 closed

[2022-08-11 07:22] #3472 closed

[2022-08-11 07:32] kuaashish commented on #3592
Hi @Masterythepua, This gives you better understanding [#3158 (comment)](https://github.com/google/mediapipe/issues/3158#issuecomment-1063689196). Thank you!

[2022-08-11 09:08] kuaashish commented on #3583
Hi @kuaashish, Could you please confirm your query has been addressed as per the above [comment](https://github.com/google/mediapipe/issues/3583#issuecomment-1210207771) or need further assistance on the issue. Thank you!

[2022-08-11 09:13] LNMBTL opened #3597 "Obtain 'detection_confidence' and 'tracking-confidence' of PoseLandmarks for each frame"
Hello, I am doing pose tracking on python. I have two questions about this:
1) Is it possible to get the 'detection_confidence' and 'tracking_confidence' for each frame? If so, how?
2) How is it possible that in "results" I still have access to the information "PoseLandmarks" even for landmarks that have not been
detected, or that are not visible in the frame? For example, in the image below, my a

[2022-08-11 11:04] Liampour commented on #3583
Hi @kuaashish, you have answered completely my questions. Thanks a lot for your time and your helpful responses

[2022-08-11 11:05] surapuramakhil commented on #3585
I have done that. landed into issue after following mentioned in offical documentation

[2022-08-11 11:05] watermellon2018 opened #3598 "How do i train?"
I use pose_landmark_heavy. I converted model tflite to tensorflow (tflite -> onxx -> tensorflow). I got Saved_model (variables and .pb). I want to train it. But when i try to load model i get this:
[code]
Also i try this way:
[code]
This way work, but i dont understand how i train it. Example, how i will get trainable_wight for optimizer: grads = tape.gradient(loss_value, model.trainable_weights)

[2022-08-11 12:01] kuaashish commented on #3583
Hi @Liampour, Thanks for the confirmation, Can we move this issue to the close status. Thank you!

[2022-08-11 12:05] kuaashish commented on #3592
Hi @Masterythepua, Thank you for the confirmation. Can we move this issue to close status if it does not need further assistance. Thank you!

[2022-08-11 13:04] #3583 closed

[2022-08-11 13:05] #3592 closed

[2022-08-11 13:41] yohanessatria opened #3599 "The need of Provisioning Profile for iOS project"
Hello! I am a newbie in iOS programming so I beg your pardon if I might ask a stupid question.

So in the documentation, it mentioned about the need for the provisioning profile if we want to develop it in the iOS device. so my question is whether the mediapipe can run on the simulator or not. because right now I still have some errors when building any example from the mediapipe.xcodeproj

thanks

[2022-08-11 14:20] anvuong48 commented on #1952
Hi,

I also faced to this problem while tracking iris. Did you find solution for that?

thank you in advance

[2022-08-11 15:30] kuaashish commented on #3599
Hi @yohanessatria, Have you looked at this closed issue #2132 and [#2132(comment)](https://github.com/google/mediapipe/issues/2132#issuecomment-926344776), shared the workaround to use mediapipe on iOS simulator.
Meanwhile, Could you provide the complete error log to investigate further. Thank you!

[2022-08-11 18:32] jiapei100 opened #3600 "How to remove some http_archive libraries? But use local installed packages instead?"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution: Ubuntu 22.04
- Compiler version: gcc/g++ 11.2.0
- Programming Lang

[2022-08-12 02:20] #3591 closed

[2022-08-12 02:39] zw20045500 opened #3602 "uv_texture map the mesh error"
https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_geometry/data/canonical_face_model.obj
https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_geometry/data/geometry_pipeline_metadata_landmarks.pbtxt

I get uv from canonical_face_model.obj and uv from geometry_pipeline_metadata_landmarks.pbtxt, and build the PiecewiseAffineTransform from the two uv. and then w

[2022-08-12 06:57] kuaashish commented on #3598
Hi @watermellon2018, This issue is more related to the tensorflow. Could you please raise this issue into tensorflow [repo](https://github.com/tensorflow/tensorflow/issues).
Thank you!

[2022-08-12 10:24] kuaashish commented on #3600
Hi @jiapei100, Have you looked at this issue [#SO](https://stackoverflow.com/questions/72288867/include-c-library-in-bazel-project) to add external library from outside of workspace into bazel. Thank you!

[2022-08-12 16:04] serrabii opened #3603 "Streams connection when re-using subgraphs"
Hi,

According to the docs, the outputs from some calculators are connected to the inputs of other calculators using named streams.

However it is unclear to me how the connections are made when re-using a subgraph.

For example, the subgraph [FaceDetectionShortRangeCpu](https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_detection/face_detection_short_range_cpu.pbtxt) has an ou

[2022-08-12 17:26] brunodeangelis commented on #3536
The docs for Mediapipe are just awful. There's no API reference to be found anywhere. I hope they fix this sometime

[2022-08-13 07:17] homuler opened #3604 "pose_landmarks emit an empty packet while the corrsponding pose_world_landmarks packet isn't empty"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): Yes
- OS Platfor

[2022-08-13 07:24] Masterythepua opened #3605 "Hardware for handtracking"
Hi
I am looking for single board computer to run Mediapipe to perform live hand tracking.
Some suggestions are raspberry pi 4 or nvidia Jetson Nano.
Which of the two can achieve higher fps?
Any other board suggestion is welcome
Thanks!

[2022-08-13 10:48] #3582 closed

[2022-08-13 13:27] akryeem commented on #3539
@sureshdagooglecom none of the comments there describes the steps needed to enable multiple persons detection, it says that the graph need to be changed. How to change it? is there any explanation or tutorial on how to build and use a modified graph?

[2022-08-13 17:29] dandingol03 opened #3606 "How to compute nose, left head, right head transform matrix"
**Background:**
Hi, i am glad to know this amazing ai repo. Recently, i use mediapipe as ai engine to inference 3d face landkmark and [filament](https://github.com/google/filament) as my 3d rendering engine.  I use these two engine to implement ar 3d sticker
**Question:**
After i read the blog about [MediaPipe 3D Face Transform](https://developers.googleblog.com/2020/09/mediapipe-3d-face-transform

[2022-08-14 03:42] 04633435 commented on #1952
Hi,

In my case, I found the problem is caused by the mismatching of the resolution saved in the prestream header information and the resolution of the output video stream at `OpenCVencodeCalculator` because my output video stream is cropped out of the input video stream. In the end, I used the `prestream calculator` to get the new header information including the modified resolution, and then sen

[2022-08-14 12:44] lablabla opened #3608 "Running graph directly on OpenGL texture"
I'm working on a module that wraps `Mediapipe` and runs an input image(s) using its graphs. The module is used by Android application using JNI and `Mediapipe` is ran natively using C++.

Since we're using Android, we use a `SurfaceTexture` and would, ideally want to use that texture directly as input to the mediapipe graph, instead of copying it.

I'm looking for a few days now for some practical

[2022-08-14 15:55] anvuong48 commented on #1952
Hi,

Thank you very much for your reply,

Could you tell me more details how you changed the _**prestream calculator**_ to get the new header information including the modified resolution please? And how could you send it to **_OpenCVencodeCalculator_**?

As following is my code with **_OpenCvVideoDecoderCalculator_**, **_VideoPreStreamCalculator_** **_OpenCvVideoEncoderCalculator_**
`node {
  cal

[2022-08-14 18:35] peternaf commented on #3269
Nope :/

[2022-08-14 21:29] LGuilhermeRodrigues commented on #2918
me facing the camera placed on a table, similar to the image in the first comment:
![image](https://user-images.githubusercontent.com/68308462/184555509-d02a106e-cfc3-4862-a832-5d6680c42d43.png)

[2022-08-15 00:44] yohanessatria commented on #3599
@kuaashish Hi, sorry for my late reply. Yes, I have seen this post after you mentioned it. But my problem is that I can't even build the iOS example project.

Here's the screenshot of  the error I get whenever I try to run the project

<img width="922" alt="Screen Shot 2022-08-15 at 8 38 24 AM" src="https://user-images.githubusercontent.com/35787092/184561268-5900d60b-3020-4c9a-a16f-f5754a47c9fe.p

[2022-08-15 02:08] yohanessatria commented on #3599
also,
<img width="789" alt="Screen Shot 2022-08-15 at 10 04 42 AM" src="https://user-images.githubusercontent.com/35787092/184565835-1c6b4fe0-b441-4d2e-a9ad-7c7953773b50.png">
 I got this error message(red highlight) mentioning about failed: missing input file '//mediapipe:provisioning_profile.mobileprovision'. So is this the actual cause of my problem? if it is, is there any way for me to run Med

[2022-08-15 02:42] Ar4enal opened #3609 "Error in box_tracker_calculator.cc"
I build an Android AAR for **[Box Tracking]** and I got this error in box_tracker_calculator.cc

`Box at time 1 already present; ignoring`
`Box at time 2 already present; ignoring`
`Box at time 3 already present; ignoring`

https://github.com/google/mediapipe/blob/cc6a2f7af65977248b2a15f471503da2832f583a/mediapipe/calculators/video/box_tracker_calculator.cc#L381-L388

And the number keeps increasi

[2022-08-15 23:31] innat commented on #3069
@sgowroji Please reopen this issue. It shouldn't be closed.
cc. @AsRaNi1

[2022-08-16 06:36] kuaashish commented on #3599
Hi @yohanessatria, Yes, It looks like an error has occurred because of the missing provisioning profile. You could follow this closed issue #95 and [#95[Comment]](https://github.com/google/mediapipe/issues/95#issuecomment-529731141) to fix it.

Apple allows to deploy, run and test the application on iOS devices without subscribing to the Apple developer program.
Please follow this [#SO](https://st

[2022-08-16 06:59] kuaashish commented on #3530
Hi @PZerua, Could you please confirm that you are still looking for resolution or the issue has been resolved. Thank you!

[2022-08-16 07:28] kuaashish commented on #3576
Hi @suyash-bureau, Currently the camera option is **unavailable in Chrome** on the **iOS device**. MediaPipe has tested successfully on this platform mentioned in [documentation.](https://google.github.io/mediapipe/getting_started/javascript.html#supported-plaforms).

Could you please confirm that the issue is still persisting in Safari on the iOS device?

Thank you!

[2022-08-16 07:28] #3553 closed

[2022-08-16 08:23] dilldilldill commented on #3540
If there is no obvious mistake in my code, can some one maybe provide prebuilt aar files for shoe object_detection_3d and the corresponding graph files?

[2022-08-16 09:37] kuaashish commented on #3570
Hi @reolf, Currently only Face Detection and Object Detection models are available on the Edge devices. MediaPipe has limited resources for new features. We will let you know if there is any specific update on this request.

Please follow this issue #426 and [#426(comment)](https://github.com/google/mediapipe/issues/426#issuecomment-581536031) for more information.

Thank you!

[2022-08-16 09:39] kuaashish commented on #3574
Hi @yifeix5, Could you please confirm that you are still looking for resolution or the issue has been resolved. Thank you!

[2022-08-16 10:13] vikarshiitk commented on #415
@fanzhanggoogle  I want to put a 3D shoe model on a bare foot in AR . How to do that?

[2022-08-16 10:15] vikarshiitk opened #3610 "Shoe Try-On"
I want to put a 3D model of shoe on a bare foot in Augumented Reality and render it according to the foot movement . can you share some resorces related to this.

[2022-08-16 11:14] 424778940z opened #3611 "How to use FlowLimiterCalculator to monitor multiple outputs for the same frame?"
I'm trying to make a graph that process pose/hands/face/iris, AND being able to switch them on and off seprately.
The problem I got is, there seems no way to monitor multiple outputs with `FlowLimiterCalculator`.
Thus, I cannot make sure all results are from the same frame.

I tried following, but im not sure how to make empty `LandmarkList`  with `ConstantSidePacketCalculator`
And also not sure i

[2022-08-16 11:48] PZerua commented on #3530
It still don't execute. Same errors as seen in the log attached in OP.

[2022-08-16 12:05] PZerua commented on #3497
Sorry, I was on vacation.

Again, I'm not sure what you mean by "captions". If you mean the graph, I incorporated both "ObjectDetectionSubgraphCpu" and "ObjectTrackingSubgraphCpu" in a single graph so I could change paratemers easier. I'll attach it here so you can take a look:

[graph.txt](https://github.com/google/mediapipe/files/9350712/graph.txt)

Thanks.

[2022-08-16 14:28] #3554 closed

[2022-08-16 15:46] jordan-bird opened #3612 "243 named landmarks and 225 missing from (outdated) keypoints.ts"
Hello,

Is there a newer version of keypoints.ts? There doesn't seem to be one in this repo.

https://github.com/tensorflow/tfjs-models/blob/838611c02f51159afdd77469ce67f0e26b7bbb23/face-landmarks-detection/src/mediapipe-facemesh/keypoints.ts

In this older version, we can take 243 landmarks to identify which part of the face the point exists on. There are 225 without names though, can they be fou

[2022-08-16 16:28] #3441 closed

[2022-08-16 20:18] #3608 closed

[2022-08-17 07:23] kuaashish commented on #2648
Hi @Jwy-jump, Did you manage to solve the issue mentioned on [above](https://github.com/google/mediapipe/issues/2648#issuecomment-948259606) comment. If Yes, Could you please share the workaround so it will be helpful for the community. Thank you!

[2022-08-17 09:09] wizVR-zhangjun opened #3614 "Holistic output left and right hand data. It's shaking a lot"
I'm trying to use Holistic output data to synch my virtual characters, like my right and left hand, and the data is bouncing really fast,

[2022-08-17 09:41] ar0127 opened #3615 "Holistic Performance does not meet"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
  1. My code based on your example [mediapipe/examples/android/src/java/com/google/mediapipe/]
  2. I

[2022-08-17 09:47] ar0127 commented on #3615
addtionally,

I wrote BUILD file to make aar:

[code]

[2022-08-17 10:16] jianinz commented on #2465
Just an update here, i managed to solve it by using different delegate option.

Before the delegate option would be:

[code]

Now if using xnnpack, the performance will be dramatically increased. This can also be verified by using performance benchmark tool provided by Google https://www.tensorflow.org/lite/performance/measurement
[code]

[2022-08-17 17:56] anandijain commented on #1514
thanks! any timeline or eta for when native wheels will be built?

[2022-08-17 18:08] schmidt-sebastian commented on #1514
Unfortunately, we don't have an ETA for this at this point.

[2022-08-17 18:10] drush commented on #1514
@schmidt-sebastian Can you enumerate the tasks/gaps that you are aware of for this support to be completed?

[2022-08-17 18:12] schmidt-sebastian commented on #1514
I don't think I can go into much detail here, but it is an infrastructure issue on our end.

[2022-08-17 22:31] mch0dmin commented on #3589
hi @sureshdagooglecom, can you give me some advice? Thanks!

[2022-08-17 23:26] yohanessatria commented on #3599
Alright, thanks for your answer! Problem solved.
Thanks once again!

[2022-08-17 23:26] #3599 closed

[2022-08-18 02:26] tkdsym2 commented on #2546
I also have the same problem.

Env:
- ProductName:	macOS
- ProductVersion:	12.3.1
- node:  v16.13.0
- npm: v8.1.0

Modules Version:
- next: 12.2.5
- react: 18.2.0
- @mediapipe/camera_utils: ^0.3.1620247984
- @mediapipe/face_mesh: ^0.4.1629159166

I tried to compile other examples that use FaceMesh with react. For instance, I cloned [this repository](https://github.com/syed-ashraf123/mediapipe_face

[2022-08-18 02:47] Wzh0718 opened #3616 "./mediapipe/framework/port/opencv_core_inc.h:18:10: fatal error: 'opencv2/core/version.hpp' file not found"
I used ARRCH64 MAC system and the following problem occurred when trying to compile ARRCH version.
My version of Python is 3.8.12, using the Conda virtual environment
---
(envname) wangzehang@192 Downloads %  git clone https://github.com/google/mediapipe.git
Cloning into 'mediapipe'...
remote: Enumerating objects: 12335, done.
remote: Total 12335 (delta 0), reused 0 (delta 0), pack-reused 12335
Re

[2022-08-18 04:26] ajmakoni commented on #3505
@kuaashish is there any update on this issue? This issue is affecting other validations such visibility and presence of various points of interest as it is always 0 hence wrong results. One example is palm validation, checks for palm validation and visibility on an image with only points 8,12,16,20,7,11,15,19, mediapipe is returning other points not available on the image hence wrong results

[2022-08-18 08:38] wizVR-zhangjun opened #3617 "Head rotation values were obtained using face data"
I want to use the face data to get the head rotation value, how to achieve this idea, thank you

[2022-08-18 11:25] tobyclh opened #3618 "Face mesh"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
No

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):
Linux python

- [

[2022-08-18 12:39] jimb2834 commented on #3505
@elYeodeol - there are old issues related to Visibility and Presence of landmarks re: face mesh specifically from a while back -
https://github.com/google/mediapipe/issues/3200
https://github.com/google/mediapipe/issues/3159

But anytime someone solves it, ping me and we are happy to pay for the solution.

[2022-08-18 13:20] ajmakoni commented on #3505
Hi jimb2834, have you looked at Google mlkit library for face landmarks? https://developers.google.com/ml-kit my experience has been impressive.

[2022-08-18 14:06] jimb2834 commented on #3505
@ajmakoni - Hi, thanks for the message. The main issue was landmark quantity; whether it reflects "visibility" or "presence" I did not check. So the landmark Qty, Visibility, and Presence values were all needed.  GCP ML kit for face has a lower landmark qty.

[2022-08-18 14:09] ajmakoni commented on #3505
Okay, I get your point

[2022-08-18 16:31] robinhermit opened #3619 "ERROR: Could not find a version that satisfies the requirement mediapipe (from versions: none); ERROR: No matching distribution found for mediapipe"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4):
- Compiler version

[2022-08-18 19:36] carlos-alvaradom commented on #1244
Muchas Gracias!

[2022-08-19 01:15] HOLDfoot commented on #348
We now work on Android TV and need to get the pose landmark points. Not rendering is necessary to save hardware's cost.

[2022-08-19 02:05] HOLDfoot opened #3620 "Only need landmark points but not rendering or SurfaceView"
<em>Please make sure that this is a feature request.</em>

**System information** (Please provide as much relevant information as possible)
Any android device

- MediaPipe Solution (you are using): Pose
- Programming language : Android Java
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state:**
Can we get only the landmark points but not renderin

[2022-08-19 02:08] HOLDfoot commented on #3508
As I have solve it with above solution. Now I close it.

[2022-08-19 02:08] #3508 closed

[2022-08-19 02:37] wangrenzhu commented on #3620
You can do it yourself
use CalculatorGraph start custom graph
Custom graph:
add landmark output

`# MediaPipe graph that performs face mesh with TensorFlow Lite on GPU.

# GPU buffer. (GpuBuffer)
input_stream: "input_video"

# Max number of faces to detect/process. (int)
input_side_packet: "num_faces"

# Output image with rendered results. (GpuBuffer)
output_stream: "output_video"
# Collection of

[2022-08-19 02:43] wangrenzhu commented on #3551
Why not do it yourself？？
custom the render and do it

[2022-08-19 03:53] guker commented on #3589
pose_detection.tflite predict a box and four keypoint,  do your model can predict a box and four keypoint? if not, your model cant be used.

[2022-08-19 05:04] kuaashish commented on #3619
Hi @robinhermit, Is it implemented through Python, JavaScript or others?. Could you please provide complete details and standalone code to reproduce the issue.
Thank you!

[2022-08-19 06:00] kuaashish commented on #3620
Hi @HOLDfoot, Have you looked at the mentioned closed issue [#348(comment)](https://github.com/google/mediapipe/issues/348#issuecomment-1007103756), shared the workaround to get only landmarks points. Thank you!

[2022-08-19 06:04] kuaashish commented on #3612
Hi @jordan-bird, This issue is more related to the tensorflow. Could you please raise this request into the [tensorflow-repo](https://github.com/tensorflow/tensorflow/issues). Thank you!

[2022-08-19 06:10] kuaashish commented on #3611
Hi @424778940z, Have you looked at this closed issue #575 and [#575(comment)](https://github.com/google/mediapipe/issues/575#issuecomment-609509826) to use multiple solution in a graph and monitor the output. Thank you!

[2022-08-19 06:20] 424778940z commented on #3611
Thanks for your reply, but seems they are still monitoring a single output, which is not ideal for my case, I want monitor multiple result for the same frame, but seems the Flow Limiter only support a single input

[2022-08-19 06:28] kuaashish commented on #3602
Hi @zw20045500, Have you looked at this [#1698(comment)](https://github.com/google/mediapipe/issues/1698#issuecomment-794814532), mentioned the clear steps to export face as UV texture map. Meanwhile you could follow the UV texture implementation example in Python [here](https://github.com/apple2373/mediapipe-facemesh/blob/main/main.ipynb).
Thank you!

[2022-08-19 06:28] #3569 closed

[2022-08-19 06:28] #3538 closed

[2022-08-19 07:14] kuaashish commented on #3616
Hi @Wzh0718, Have you looked at this similar closed issue #3440 and [#3440(comment)](https://github.com/google/mediapipe/issues/3440#issuecomment-1163123803). Thank you!

[2022-08-19 07:28] #3512 closed

[2022-08-19 07:28] #3513 closed

[2022-08-19 09:28] #3568 closed

[2022-08-20 09:02] codingMASTER398 opened #3621 "Better handling on situations where the camera isn't allowed/exists"
**System information**
- MediaPipe Solution (you are using): Hands (specifically the camera_utils)
- Programming language : JavaScript
- Are you willing to contribute to it (Yes/No): No

**Describe the feature and the current behavior/state:**
Right now if the browser does not allow the camera to be used in the webpage, the `camera_utils` module handles the error by using the browser's built-in `a

[2022-08-20 11:30] The-Real-Thisas commented on #1514
This patch seems to work https://github.com/cansik/mediapipe-silicon . Would it be possible to implement this so there can be a wheel for people to download without having to run through rosetta.

In the meanwhile for people wanting to install mediapipe I suggest installing one of the prebuilt binaries with `pip install` https://github.com/cansik/mediapipe-silicon/releases/tag/v0.8.10.1

For me `p

[2022-08-20 14:09] sureshdagooglecom commented on #3539
Hi @ArtfulMinx ,
Could you please share any reference video to investigate further on this issue.

[2022-08-20 14:50] wearitar commented on #742
Where can we find the details about the "typical hand depth"? For instance  Mediapipe Face provides a canonical face model together with weights, that can be used to calculate scale and project coordinates. Is it possible to calculate scale with Hands at all?

[2022-08-20 14:57] M00NSH0T opened #3622 "offer another PyPi build that includes more models, or another method to use heavy model without download?"
I'm trying to use mediapipe in a GCP cloud function (Python). My biggest issue is that I want to use models other than the default model (complexity=1) for pose landmark detection. I'm most interested in getting a better segmentation mask from the pose object, so I'd like to opt for the complexity=2 model, but the problem is that this model is not included in the package by default, and the ```_do

[2022-08-20 19:28] M00NSH0T commented on #3622
and just to clarify the bug I get when I try building it myself, it looks like the same bug that people were getting when trying to install on a raspberry pi, namely:

```ModuleNotFoundError: No module named 'mediapipe.python._framework_bindings'```

I built it in Ubuntu, then moved the directory from site-packages into my working python directory within the zip file I use to create the Cloud Func

[2022-08-21 05:11] zw20045500 commented on #3602
Hi kuaashish, thank your reply.
Yes, i implemented with reference to his example.
But I want to put uv map into my customize mesh base on  canonical_face_model(I add more verts and faces).
So i dont't how to map. His example is base on canonical_face_model, I want to implement to put vu(make from mediapipe) to map my customize mesh.
Could you provide me with some guidance about how to solve by pyt

[2022-08-21 21:24] Woong0416 commented on #3588
thank you for your answer i saw that page so then i make new graph ??

[2022-08-21 22:22] M00NSH0T commented on #3622
one other solution I just thought of could be to enable users to specify a custom path to whatever model they want to use, instead of just complexity=[0,1,2].

[2022-08-22 01:34] qhanson commented on #3618
One way is that we reverse the tflite model to [(pytorch  face mesh)](https://github.com/thepowerfuldeez/facemesh.pytorch). Then, we need to figure out the input to this model. The facemesh used aligned face with left and right eyes, further with 25% padding.

[2022-08-22 02:37] tmtcam-042 opened #3623 "Typo"
https://github.com/google/mediapipe/blob/63e679d99ca45b30514a9d84c9351a2d77bb9ba0/mediapipe/python/solutions/drawing_styles.py#L57
https://github.com/google/mediapipe/blob/63e679d99ca45b30514a9d84c9351a2d77bb9ba0/mediapipe/python/solutions/drawing_styles.py#L40

Minor typo in python drawing_styles.py - _PALM_LANMARKS should be _PALM_LANDMARKS

[2022-08-22 05:27] jaewoolim opened #3624 "mediapipe start error"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): NO custom code
-

[2022-08-22 06:18] gentnm commented on #3403
@kuaashish I just ran into the same problem. I can provide some steps to reproduce the issue and give some further information.

mediapipe currently has opencv-python-contrib as a dependency which starting with version 4.3.0.38 is not working in headless environments anymore (cf. https://github.com/opencv/opencv-python/issues/370) . So in a docker setup, mediapipe won't be working anymore.

Theref

[2022-08-22 07:22] sureshdagooglecom commented on #3593
Hi @AnkS4 ,
For example, you get the coordinates [here](https://github.com/google/mediapipe/blob/024f7bf0f1e74149ea92b942cf168ccddf317073/mediapipe/examples/android/src/java/com/google/mediapipe/apps/handtrackinggpu/MainActivity.java#L116) and simply multiply by the input image size.

[2022-08-22 07:25] sureshdagooglecom commented on #3594
Hi @SoumyajitMukherjee-droid
Could you please check [this](https://google.github.io/mediapipe/solutions/pose.html) document ,it contains all the answers for your questions.

[2022-08-22 07:27] sureshdagooglecom commented on #3595
Hi @surapuramakhil ,
You can try using this below code to input a image or video and display the graph on top of it.
https://github.com/google/mediapipe/blob/master/mediapipe/examples/android/solutions/facemesh/src/main/java/com/google/mediapipe/examples/facemesh/MainActivity.java#:~:text=%7D)%3B-,Button%20loadImageButton%20%3D%20findViewById(R.id.button_load_picture)%3B,%7D,-/**%20The%20core%20Me

[2022-08-22 07:41] sureshdagooglecom commented on #3597
Hi @LNMBTL ,
Could you elaborate this issue to investigate better on this issue.

[2022-08-22 07:44] sureshdagooglecom commented on #3603
Hi @serrabii ,
We have similar issue on thread https://github.com/google/mediapipe/issues/783, please check this and revert back.

[2022-08-22 07:46] sureshdagooglecom commented on #3604
Hi @homuler ,
Possibly the model produce "empty packet" instead of vector of zero detections.
(please try ObserveTimestamps option, in FrameProcessor. option is only available for AddMultiStreamCallback. user would need to alter code locally to use AddMultiStreamCallback, and select the ObserveTimetampBounds parameter. https://github.com/google/mediapipe/blob/master/mediapipe/java/com/google/media

[2022-08-22 07:49] sureshdagooglecom commented on #3605
Hi @Masterythepua ,
Rasberry pi gives higher fps and you an also try with OAK-D, OAK-D lite, OAK-1.

[2022-08-22 08:12] sureshdagooglecom commented on #3606
Hi @dandingol03 ,
We have closed this similar issue https://github.com/google/mediapipe/issues/1457 , please check and revert back.

[2022-08-22 08:13] LNMBTL commented on #3597
Hello, sorry I'm not sure to understand,  you want me to give you more details  ?

[2022-08-22 08:14] sureshdagooglecom commented on #3609
Hi @Ar4enal ,
Can you please provide steps to reproduce this issue.

[2022-08-22 08:15] sureshdagooglecom commented on #3614
Hi @wizVR-zhangjun ,
Could you please provide any reference video to understand better.

[2022-08-22 08:15] sureshdagooglecom commented on #3615
Hi @ar0127 ,
Do you have still issue w.r.t this issue?

[2022-08-22 08:17] sureshdagooglecom commented on #3617
Hi @wizVR-zhangjun ,
We have similar issue https://github.com/google/mediapipe/issues/1477. please check and revert back.

[2022-08-22 08:19] sureshdagooglecom commented on #3618
Hi @tobyclh ,
We have similar issue https://github.com/google/mediapipe/issues/3423 and waiting for resolution , we will keep you posted once get resolution.

[2022-08-22 08:26] tobyclh commented on #3618
Hi @sureshdagooglecom
Thanks for coming back.
I am directly using the [TFLite version of the model](https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_landmark/face_landmark_with_attention.tflite) and it does solve my problem. However, I have another question, the output of the TFLite model only has 2D output for the refined landmarks while the mediapipe python interface direct

[2022-08-22 08:29] homuler commented on #3604
@sureshdagooglecom Sorry, what am I expected to confirm?
Could you please share this issue with those who are familiar with Pose or `SwitchContainer`?

The essence of this issue is that the above statement is not true.
Whatever "the model" is, it does not produce this empty packet since the packet isn't in a stream but generated [here](https://github.com/google/mediapipe/blob/63e679d99ca45b30514a9

[2022-08-22 15:10] jinfagang commented on #3421
I think 52 bs is not easily integrated with media pipe, but one can using a new model to regression these outputs with the input of 3d face pose.

[2022-08-22 15:16] brunodeangelis commented on #3421
Could you expand on this please? What type of model? Do you have an example?

[2022-08-22 18:05] martinenkoEduard opened #3625 "Can someone share a simple example on how to save all found faces on the video as a separate files?"
Can someone share a simple example on how to save all found faces on the video as a separate files?

[2022-08-22 18:33] d4rk-lucif3r commented on #2754
Just do
                cv2.rectangle(image, (cx_min-130, cy_min-130),
                            (cx_max+130, cy_max+130), (255, 255, 0), 5)

[2022-08-23 04:04] sureshdagooglecom commented on #3623
Hi @tmtcam-042 ,
Could you share steps to reproduce this issue.

[2022-08-23 04:05] sureshdagooglecom commented on #3624
Hi @jaewoolim ,
Could you provide steps to reproduce this issue.

[2022-08-23 04:06] sureshdagooglecom commented on #3618
Hi @tobyclh ,
Please open another new issue for different question and if you found resolution for this issue please close the issue.

[2022-08-23 07:30] jaewoolim commented on #3624
Hi @sureshdagooglecom
I made holistic example using mediapipe_holistic.aar and holistic_tracking_gpu.binarypb according to guide of building mediapipe.
and also I made android app with mediapipe_holistic.aar and holistic_tracking_gpu.binarypb according to guide of holisticActivity.
Using android studio, the app was run through install.
Error happens about 1 in 10 times.
If you need any information

[2022-08-23 08:16] #3581 closed

[2022-08-23 09:16] #3586 closed

[2022-08-23 11:20] martinenkoEduard opened #3627 "How do I rearrange face image as close as to 206*206 size?"
How do I rearrange face image as close as to 206*206 size?

[2022-08-23 15:09] lucasjinreal opened #3629 "Mac M1 pip can not found media pipe python package from pip"
Mac M1 pip can not found media pipe python package from pip.

Anyway can I install directly from pypi?

[2022-08-23 19:01] richardgetz commented on #1454
I ended up having to use a separate face detection script and then iterate over each to get the mesh. Not ideal but it works until they can go and fix the underlying issue with the python build. I tested on JS and it works as expected so I'm assuming it only affects python which is why it wasn't caught.

[2022-08-23 19:11] optimaltaskin commented on #3581
Hi @kuaashish
Thanks for your reply. I have already checked that title and in mm mediapipe lib, the mentioned part of the code is as below:
[code]

So to my understanding, the bug related with devices other than Android is fixed here already. However in my case, I still get that fault.

Thanks.

[2022-08-23 21:22] dennislysenko opened #3630 "How to rewrite FaceEffectApp example to pass a ROI to the graph?"
Currently, I am using the face_effect_gpu subgraph and code based on the FaceEffectApp example to do face detection for an iOS project. It works great, except in the cases where the face is far away from the camera and occupies a small amount of the image.

We could pre- and post-process the image ourselves, but we are looking for the cleanest solution could any maintainer advise the simplest way

[2022-08-24 02:20] mangguoxia commented on #825
Could you please share your implement of Kalman filter ? I want to know how to use this filter to get more stable landmarks.

[2022-08-24 02:56] amazingyyc commented on #825
Sorry it's not a open source project

[2022-08-24 03:50] jinfagang commented on #2180
I can't convert the tflite to onnx:

[code]

any ideas?

[2022-08-24 05:14] honeykinng345 opened #3631 "Shoes 3d model"
Hey all, can anyone please share me the shoes detect 3d model app repo using media pipe ...

[2022-08-24 05:37] sureshdagooglecom commented on #3631
Hi @honeykinng345 ,
We have offiicial document to detect 3d model for shoes and other objects , please check [this](https://google.github.io/mediapipe/solutions/objectron.html) document.

[2022-08-24 05:41] sureshdagooglecom commented on #3629
Hi @jinfagang ,
M1 is not currently supported.

[2022-08-24 05:43] sureshdagooglecom commented on #3627
Hi @martinenkoEduard ,
The model is trained for 128x128. You'll need to find a replacement model and adjust the graph around it.

[2022-08-24 05:44] sureshdagooglecom commented on #3625
Hi @martinenkoEduard ,
 MediaPipe does return detections, or face images, or rendered detection rectangles
but does not have any APIs for storage of these returned results. Thank you!

[2022-08-24 05:50] honeykinng345 commented on #3631
hey, thanks for the reply ... I downloaded the sample code and followed all
these instructions mentioned on the official media pipe documentation but
did not run the sample 3d object code.

On Wed, Aug 24, 2022 at 10:38 AM Sureshda ***@***.***> wrote:

[2022-08-24 05:55] sureshdagooglecom commented on #3561
Hi @matildao-pane .
Yes , that paper describes about 2 stage architecture.

[2022-08-24 06:00] jinfagang commented on #3629
Is there any plan to support M1?

[2022-08-24 06:16] #3579 closed

[2022-08-24 06:16] #3587 closed

[2022-08-24 06:16] #3566 closed

[2022-08-24 06:26] honeykinng345 commented on #727
@SmartAndroidCoder can you please share with me your project repository to detect shoes? I downloaded the project from the media pipe GitHub repo but did not run the project its a lot of files in it ... can you please share this separate repo?

[2022-08-24 06:30] sureshdagooglecom commented on #3565
Hi @hotstone1993 ,
Please check [this](https://github.com/google/mediapipe/blob/master/mediapipe/calculators/tflite/tflite_tensors_to_detections_calculator.cc) code snippet to understand the  output of tflite model .

[2022-08-24 06:31] sureshdagooglecom commented on #3588
Yes , you can make new graph, please close the issue if resolved.

[2022-08-24 06:35] sureshdagooglecom commented on #3589
Hi @mch0dmin ,
Modesl detects box and four keypoint.

[2022-08-24 06:39] sureshdagooglecom commented on #3597
Hi @LNMBTL ,
Could you please refer this closed issue https://github.com/google/mediapipe/issues/1620 , please check and revert back.

[2022-08-24 06:40] sureshdagooglecom commented on #3596
Hi @surapuramakhil ,
Could you please provide steps to reproduce this issue.

[2022-08-24 06:41] sureshdagooglecom commented on #3564
Hi @KornilovaK ,
Could you check this closed issue https://github.com/google/mediapipe/issues/460 , please check and revert back if you have still further queries.

[2022-08-24 06:50] Woong0416 commented on #3588
I'm sorry, but I don't know exactly what order to make the graph after seeing the article in the mediapipe you told me to look at. And if I finished making the graph, I would appreciate it if you could tell me how to use it.

[2022-08-24 07:12] miaochx commented on #3589
hi @guker and @sureshdagooglecom Thank you very much for your answers. Is there any way that I can get a similar model?

[2022-08-24 07:15] mch0dmin commented on #3589
hi @guker and @sureshdagooglecom ，
Thank you very much for your answers. Is there any way that I can get a similar model?

[2022-08-24 08:25] huarong8 commented on #3591
I have the same problem

[2022-08-24 08:26] huarong8 commented on #3591
hope can open issue

[2022-08-24 09:39] AdonisGe commented on #1972
This is the right solution, I use vim to modify the .bazelversion file by "set ff=unix" solving the problem.

[2022-08-24 09:59] berkon commented on #1411
Still no solution for this?

[2022-08-24 10:09] nandin-borjigin commented on #2809
Hi @Shubhambindal2017 ,

Have you found a way to extract those angles?

[2022-08-24 10:32] The-Real-Thisas commented on #1514
Hi @sureshdagooglecom just so you know what I mentioned is just a workaround and is not a pull request or anything to fix it mainline. I don't think this issue is resolved.

[2022-08-24 14:39] surapuramakhil commented on #3596
[code]

Now send Image as BITMAP to face detector

[2022-08-24 14:51] surapuramakhil opened #3632 "Attached Image not showing Face even though it does contain many with 1% confidence level"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):
- [MediaPipe version]

[2022-08-24 14:54] surapuramakhil commented on #3632
![how-to-take-group-photos-8](https://user-images.githubusercontent.com/9161543/186451075-18ebb73b-9480-4cb0-86d4-53bde11b41f3.jpg)

[2022-08-24 15:21] Jonathan-J8 commented on #1976
I've the same issue with face_mesh (version ^0.4.1633559619)
I use sveltekit. It log this warning :

`@mediapipe/face_mesh doesn't appear to be written in CJS, but also doesn't appear to be a valid ES module (i.e. it doesn't have "type": "module" or an .mjs extension for the entry point). Please contact the package author to fix.`

In dev mode all things work but in production this appear :

`Unca

[2022-08-24 18:16] #3552 closed

[2022-08-24 20:39] Pogosito commented on #3173
@V-m1r
Thank you very much for your build file, with the help of I also managed to build a framework

But I'm having trouble linking it

I added generated PoseTrackingGpuApp.framework in my app. But I have error when try build project.

Please tell me how you managed to link the framework

![Снимок экрана 2022-08-24 в 23 31 30](https://user-images.githubusercontent.com/56889876/186517543-b27d92f4-

[2022-08-24 20:45] Adkaros opened #3633 "Memory access out of bounds error while tracking Hands on Samsung Internet (on samsung device)"
**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): **No, happens in mediapipe codepen example**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): **Android 12.0 (Samsung phones specifically, see known devices in Other Info)**
- [MediaPipe ver

[2022-08-24 22:13] Zumbalamambo opened #3634 "Installing GPU version for python"
I have searched all the available issues about GPU-supported python installation of media pipe. Every issue is being referred to the same source which has got no clear solution.

How do I install GPU supported version of python API?

[2022-08-25 00:50] ar0127 commented on #3615
Hi @sureshdagooglecom

Yes, I have this issue still.

I built aar and I used it with your holistic graph with no modification.
I just followed your guide.

I want to get your opion to improve performance.

thanks

[2022-08-25 00:52] ar0127 commented on #3615
Hi @sureshdagooglecom

I reopened the issue.
I didn't know the the issue closed when i wrote comment.

[2022-08-25 02:42] bloodgroup-cplusplus opened #3635 "build issues while running mediapipe using bazel on mac os"
dyld[1363]: symbol not found in flat namespace '_CFRelease'
zsh: abort      bazel run --define MEDIAPIPE_DISABLE_GPU=1

This is the error message while i try to build mediapipe using bazel . I am currently running macos 12.5 (mac montery).

[2022-08-25 04:17] saknarak commented on #3444
18 keypoints?

first 4 float values is dx,dy,w,h == bbox but dx and dy must know anchor points
anther 14 values is (x0,y0), (x1,y1), ...(x6,y6) = 7 keypoints

Source: https://github.com/junhwanjang/mediapipe-models/blob/main/palm_detection/assets/palm_7_landmark_index.png
![image](https://user-images.githubusercontent.com/7794793/186573122-4bac105f-21c0-4fa8-bf0b-6262ca156372.png)

my problem is
1

[2022-08-25 04:33] bloodgroup-cplusplus opened #3636 "error generated while building with docker on mac os"
[10/14] RUN pip3 install tensorflow==2.2.0:
#13 1.224 ERROR: Could not find a version that satisfies the requirement tensorflow==2.2.0 (from versions: 2.10.0rc0, 2.10.0rc1, 2.10.0rc2)
#13 1.224 ERROR: No matching distribution found for tensorflow==2.2.0
------
executor failed running [/bin/sh -c pip3 install tensorflow==2.2.0]: exit code: 1

I tried installing tensorflow using pip command ( pip3 i

[2022-08-25 05:39] saknarak commented on #3444
From ssd_anchors_calculator

https://github.com/google/mediapipe/blob/master/mediapipe/calculators/tflite/ssd_anchors_calculator.cc

I try to create anchors point with parameter from
https://github.com/google/mediapipe/blob/master/mediapipe/modules/palm_detection/palm_detection_cpu.pbtxt

I can produce only half anchor points (1008) not 2016
Layer 1: 192/8 = 24 => 24*24 = 576
Layer 2-4: 192/16 = 1

[2022-08-25 05:43] TrifaC commented on #3591
I have fix the problem. The error happens because the resource file in the "assert" package is missing.

[2022-08-25 06:09] saknarak commented on #3444
Now I can generate all 2016 anchor points by add 0.5 ratio in aspectRatios array

[code]

to decode 18 float values

[code]

[2022-08-25 08:16] #3548 closed

[2022-08-25 20:51] wearitar commented on #2834
I am also interested in the resolution.

[2022-08-25 20:59] wearitar commented on #3354
@willanie @koegl did you have any success with jitter reduce? I use one-euro-filter that helps a little, but Mediapipe hands is still unusable to me at this stage because of jitter.

[2022-08-26 01:16] philipmortimer commented on #2963
There seems to be a number of people experiencing a similar style of issue to this. I'm developing custom code using the Hands and DrawingUtils modules from MediaPipe. I am using react / JS. I experienced a very similar message. The message would appear most of the time, but there would be times when the error would go away. The code I was using, is very standard and similar to that provided in th

[2022-08-26 02:11] jaewoolim opened #3638 "Build issue when using two aars (for example : mediapipe_hand.aar, mediapipe_holistic.aar)"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): Android 10
- Compi

[2022-08-26 03:13] kuaashish commented on #3634
Hi @Zumbalamambo, Could you please elaborate your query with complete details and info about the Platform(OS).
Thank you!

[2022-08-26 03:30] kuaashish commented on #3638
Hi @jaewoolim, Have you looked at similar closed issue #3472 and [#3472(comment)](https://github.com/google/mediapipe/issues/3472#issuecomment-1170980400). Thank you!

[2022-08-26 03:35] kuaashish commented on #3635
Hi @bloodgroup-cplusplus, Could you elaborate your query with complete details and standalone code to reproduce the issue. Thank you!

[2022-08-26 03:40] kuaashish commented on #3636
Hi @bloodgroup-cplusplus, Could you elaborate your query with complete details and standalone code to reproduce the issue from our end. Thank you!

[2022-08-26 04:21] kuaashish commented on #3633
Hi @Adkaros, Have you looked at this similar closed issue #2188 and [#2188(comment)](https://github.com/google/mediapipe/issues/2188#issuecomment-899911783). Thank you!

[2022-08-26 04:46] jaewoolim commented on #3638
Hi @kuaashish
#3472 issue is to make one aar with two solution.
but My issue is to make android app with two aar (mediapipe_hand.aar, mediapipe_holistic.aar)
It is a build error in the process of building the app.
I wonder if this method is supported or not supported.
If it's supported, let me know the solution.
thank you.

[2022-08-26 06:04] wizVR-zhangjun opened #3639 "How to use face data to drive face models"
I have a face.fbx and I want to drive this face.fbx using face data
![1661493705259](https://user-images.githubusercontent.com/60952586/186833067-ee6b3d49-f6df-462e-9d6e-636d485eab8e.png)
Similar to the form above ，Ask the teacher for advice

[2022-08-26 06:05] honeykinng345 opened #3640 "Shoes try on feet"
Hey Team I have successfully built 3d shoe object detection. now please anyone tell me how I can add a 3d shoe mask to my feet? I have the shoe obj file. and I replace it with the current obj file(module.obj.uuu) that is in the sneaker asset folder. but not working.  same as issue #1453. @ahmadyan,

[2022-08-26 06:17] sureshdagooglecom commented on #3639
Hi @wizVR-zhangjun ,
Coudl you please share more information to understand this issues better.

[2022-08-26 06:27] lhray opened #3641 "Densify convert and reshape error"
python3 -m tf2onnx.convert --opset 9 --tflite pose_detection.tflite --output pose_detection.onnx

convert the pose_detection model and get the reshape error: ValueError: cannot reshape array of size 96 into shape (16,1,1,24)

I output the densify op weight data and find the data size is 96, but reshape to 16*24
and i don't know how to fix this issue.

netron alse can't read and show the weight dat

[2022-08-26 06:41] j0nezz commented on #2546
I got it to work in Next.js by extracting the `FaceMesh` import to a separate react component and then dynamically importing that component on a page:

`FaceMeshComponent.tsx`
[code]

Then use it on any page in next.js like this:

[code]

So the bottom line is, if you can make it work in plain react, just copy the components over to next.js and make sure you dynamically import the components that

[2022-08-26 08:00] #3639 closed

[2022-08-26 08:16] #3598 closed

[2022-08-26 08:41] kuaashish commented on #3641
Hi @lhray, Mediapipe team doesn't recommend or support converting models from TFLite. Thank you!

[2022-08-26 09:16] ayoub-root commented on #1408
any updates ?

[2022-08-26 09:33] kuaashish commented on #3640
Hi @honeykinng345, We are already tracking this issue here https://github.com/google/mediapipe/issues/3610. Could you post your comment there in #3610 and close this issue as a duplicate.
Thank you!

[2022-08-26 10:43] honeykinng345 commented on #3640
issues closed because of duplication of #3610

[2022-08-26 11:16] #3600 closed

[2022-08-26 13:44] bloodgroup-cplusplus commented on #3636
This is a build issue that occurred while trying to build mediapipe using docker
While running the third command after clone and changdir into mediapipe
docker build --tag=mediapipe . (this is the third command i gave on the terminal)
[+] Building 6.7s (14/18)
 => [internal] load build definition from Dockerfile                       0.0s
 => => transferring dockerfile: 37B

[2022-08-26 13:49] Tortoise17 opened #3642 "Build failing while following youtube example : youtube8m:extract_yt8m_features Failed"
Dear colleagues, since, I am struggling to make the user example run,
I have tried several remedies available on git and stackoverflow.

Still I am facing this issue below
command used
`
 bazel build -c opt --linkopt=-s  --define MEDIAPIPE_DISABLE_GPU=1 --define no_aws_support=true  mediapipe/examples/desktop/youtube8m:extract_yt8m_features`

[code]

I am using
CentOS 7
gcc 10.4.0
cuda 11.2
tensor

[2022-08-26 18:14] garyli03 opened #3643 "pose_landmark_heavy.tflite not copied to mediapipe installation"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4):Linux Ubuntu 20.04/

[2022-08-26 18:50] Adkaros commented on #3633
Hey @kuaashish, thanks for the reply, I checked the chrome version on the phones I have and one was up to date, and the other I updated and re-tested, but still crashes on samsung internet (chrome never crashes with the demo or hand tracking). I also updated samsung internet browser but still crashes with newest version

[2022-08-27 13:03] emphaticaditya commented on #3421
any update on this guys? Is it in progress on dropped?

[2022-08-27 13:38] emphaticaditya commented on #1678
mocap4face is shutting down its sdk @brunodeangelis

[2022-08-28 05:32] mch0dmin opened #3644 "How to set xnnpack num_threads in mediapipe python?"
In mediapipe C++, i can set xnnpack num_threads in .pbtxt.
For example,

`
136 # Runs model inference on CPU.
137 node {
138   calculator: "InferenceCalculator"
139   input_side_packet: "MODEL:model"
140   input_stream: "TENSORS:input_tensors"
141   output_stream: "TENSORS:output_tensors"
142   options: {
143     [mediapipe.InferenceCalculatorOptions.ext] {
144       delegate { xnnpack { num_threa

[2022-08-28 11:34] PrinceP commented on #3610
@vikarshiitk   Hope this helps - https://github.com/PrinceP/congenial-system

[2022-08-29 04:58] kuaashish commented on #3633
Hi @Adkaros, Currently MediaPipe does not support the Samsung Internet Browser. MediaPipe has tested on [this](https://google.github.io/mediapipe/getting_started/javascript.html#supported-plaforms) platform successfully.
MediaPipe has limited resources for new features. We will let you know if there is any specific update on this request.
Thank you!

[2022-08-29 05:49] linyu0219 commented on #2465
#3545  Maybe this error is same like mine. xnnpack is cpu , cpu is ok gpu is wrong. something error in gpu.

[2022-08-29 05:54] honeykinng345 commented on #3610
Hey Team I have successfully built 3d shoe object detection. now please anyone tell me how I can add a 3d shoe mask to my feet? I have the shoe obj file. and I replace it with the current obj file(module.obj.uuu) that is in the sneaker asset folder. but not working. same as issue https://github.com/google/mediapipe/issues/1453. @ahmadyan,...

[2022-08-29 06:09] kuaashish commented on #3636
Hi @bloodgroup-cplusplus, Please refer to this closed issue #3071 and [comment](https://github.com/google/mediapipe/issues/3071#issuecomment-1045133677) for your query. Thank you!

[2022-08-29 09:50] jianinz commented on #2465
After going through your issue #3545 , think we got different issues. xnnpack is cpu indeed, although gpu delegate supposed to be faster especially on my pixel 5 which supports ops from gpu delegate. Not really sure gpu is indeed slow in my case

[2022-08-29 09:50] #2465 closed

[2022-08-29 10:01] wizVR-zhangjun commented on #1155
@kostyaby  Sorry to bother you, teacher. I want a model of glasses. Can you send it to me? thank you

[2022-08-29 10:30] axeww opened #3645 "Fairness Check : Racial Bias Check : BlazeFace + FaceMesh"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Ubuntu
- [MediaPip

[2022-08-29 12:12] berkon commented on #2808
@sgowroji , I have the same issue with Electron. I'd guess that indeed the issue is identical thus I thought it would make sense to re-open this one. Please let me know if you'd rather want me to open a new one.

I've created a GitHub repo which should reproduce the issue: [https://github.com/berkon/background-removal](https://github.com/berkon/background-removal)

After cloning, just execute **np

[2022-08-29 12:34] wizVR-zhangjun commented on #1155
I want to know how these glasses are worn on the face, how does it work

[2022-08-29 12:50] wizVR-zhangjun opened #3646 "I want to know how these glasses are worn on the face, how does it work"
I use Unity3d engine +mediapipe to realize real-time facial drive, but I don't know how to achieve the effect of wearing glasses, please give me some advice

https://user-images.githubusercontent.com/60952586/187204941-ebde46a9-4ab7-4212-acda-65ee5747bfb4.mp4

![1661777170083](https://user-images.githubusercontent.com/60952586/187204529-267020aa-9d65-47d8-bae8-97e354180114.png)

[2022-08-29 17:16] cindyloo opened #3647 "Cannot read properties of undefined (reading ‘buffer’)"
[code]

face_mesh_solution_packed_assets.data

using FaceMesh
Android 10 on Motorola Edge build/QPDS30.114-80-2
Chrome 104.0.5112.97
React 17.0
    "@mediapipe/camera_utils": "^0.3.1640029074",
    "@mediapipe/face_detection": "^0.4.1646425229",
    "@mediapipe/face_mesh": "^0.4.1633559619",
    "@mediapipe/holistic": "^0.5.1635989137",

I expect to see the face mask as I do on other devices and b

[2022-08-29 17:41] cindyloo commented on #2189
I an getting this every time on Chrome 104 on Android 10. Will open a new issue https://github.com/google/mediapipe/issues/3647

[2022-08-29 17:43] cindyloo commented on #3647
I see a note here: https://github.com/google/mediapipe/issues/2189#issuecomment-880112598
My network did not fail, as I'm using it to establish a connection in the first place.. If loading "face_mesh_solution_packed_assets.data" is failing to load, is there an advisable workaround? TY

[2022-08-29 18:15] cindyloo commented on #3647
from chrome log:
[code]

[2022-08-29 23:10] vishal-bhosle commented on #2652
@taatiq882 were you able to implement this?

[2022-08-30 03:54] taatiq882 commented on #2652
Nop I couldn't. As I couldn't find any helping material.

[2022-08-30 07:00] kuaashish commented on #3647
Hi @cindyloo, Could you please elaborate your query with complete details and standalone steps to reproduce the issue.
Thank you!

[2022-08-30 07:02] kuaashish commented on #3646
Hi @wizVR-zhangjun, Present we don't have any examples, but you can go through this for more understanding https://github.com/google/mediapipe/issues/1155. You can also build one from here https://google.github.io/mediapipe/solutions/face_mesh#face-effect-example. Thank you!

[2022-08-30 07:16] kuaashish commented on #3642
Hi @Tortoise17, Please refer to this closed [issue](https://github.com/google/j2cl/issues/21) and [comment](https://github.com/google/j2cl/issues/21#issuecomment-525527002) for your query. Thank you!

[2022-08-30 07:25] sureshdagooglecom commented on #3632
Hi @surapuramakhil ,
Could you provide steps to reproduce this issue.

[2022-08-30 09:11] berkon commented on #2808
I'm not sure but I think I fixed it. I've added this line:

`await selfieSegmentation.initialize()`

which unfortunately is not present in the codepen Web-demo. I saw it here: https://github.com/google/mediapipe/issues/2823

[2022-08-30 09:16] #3576 closed

[2022-08-30 09:22] surapuramakhil commented on #3632
same instructions as of there in this issue https://github.com/google/mediapipe/issues/3596

[2022-08-30 09:24] surapuramakhil commented on #3595
I will try this and let you know.
Incorrect platform marked to this issue - Platform is Android 12 (Pixel 5A) device

[2022-08-30 09:35] darkzbaron commented on #2626
Same here!

[2022-08-30 09:47] xxqwf opened #3648 "How to only recognition face on an holistic framework, do you support? Thank you very much"

[2022-08-30 10:01] xxqwf commented on #3648
@sgowroji

[2022-08-30 10:12] darkzbaron commented on #2585
Same here!

[2022-08-30 10:55] TahirIshaq commented on #3396
The problem was with the version of protocol buffer version. I installed the version mentioned in the workspace and rebuild it i.e. 3.11.4

[2022-08-30 11:12] TahirIshaq commented on #3396
OS: 4.6.1
Python: 3.6.9
Bazel: 3.7.2
Protocol buffer: 3.11.4
GCC/G++: 8.4

Modifications made
[code]

[2022-08-30 11:21] #3570 closed

[2022-08-30 11:21] #3574 closed

[2022-08-30 13:38] EliaTolin commented on #2200
News? Workaround?

[2022-08-30 13:43] NaveenPokhriyal commented on #2144
@sgowroji  i'm using camera x, takePicture method.
however it's saving the image but without any effect, could you please explain how we can do it?

[2022-08-31 03:24] SkyDream666 commented on #3515
Hi @Fanthers, Have you solved this problem finally? I meet the same issue and the System information is same with yours.

[2022-08-31 04:19] gjn2659338105 opened #3649 "An error occurred when I was building the MediaPipe Android sample application in Ubuntu"
I downloaded the SDK and NDK in Ubuntu and configured them according to the documents on the official website. However, an error occurred when I executed the command to generate the Android AAR file:

The command is:
chmod -R 755 mediapipe/
bazel build -c opt --fat_apk_cpu=arm64-v8a,armeabi-v7a
//mediapipe/examples/android/src/java/com/google/mediapipe/apps/buid_aar:mediapipe_hand_tracking

And th

[2022-08-31 04:19] gjn2659338105 commented on #3649
I checked online and someone said it was the NDK version

My Ubuntu version is 20.04
My SDK version is 30.0.3
My NDK version is: Android-NDK-r18b

After that, I downloaded the NDK version of r21e and reconfigured it, but it was the same error. Does anyone know how to solve it?

[2022-08-31 07:21] #2419 closed

[2022-08-31 07:21] #3249 closed

[2022-08-31 08:55] xiaojiedeGit commented on #3508
你好请问一下。MyCameraFilter 这个类用的是哪个版本的 ？我这边是实现CameraFilter 是 public List<CameraInfo> filter(@Nonnull List<CameraInfo> cameraInfos)

[2022-08-31 09:48] MaxInnerCircle commented on #3273
Hey, I managed to come up with something using the [multiprocessing module](https://docs.python.org/3/library/multiprocessing.html), here is a simplified version of it:

[code]

[2022-08-31 11:55] dianyo commented on #3635
Hi @kuaashish , I got the same error and here's the details

[code]

Please help me figure out the problem.

[2022-08-31 12:37] yohanessatria opened #3650 "How to Extract Keypoints from Holistic iOS"
Hello, I've been wondering on how to extract the Keypoints from MediaPipe Holistic iOS since I can't find any documentation on the website. Any suggestions?

Thanks!

[2022-08-31 12:49] rewrking commented on #3233
Experienced this as well integrating mediapipe into a site with dynamic routing. Once `start()` is called, the camera stays on -- indicated in the chrome tab and on the camera, even if the page isn't rendering the contents of the mediapipe stream.

Calling `stop()` seemingly has no effect.

[2022-09-01 01:01] liuyulvv commented on #3648
You need to new a `holistic_landmark_only_face.pbtxt` like `holistic_landmark_cpu.pbtxt`, and remove `HandLandmark`, `PoseLandmark` can't be removed because `FaceLandmark` need its output.

Why don't you try `FaceMesh`?

[2022-09-01 01:23] xxqwf commented on #3648
你好, 我想构建一个包,应用在不同的场景!  例如, 只识别手势、或者姿势! 但是我构建的holistic同时输出面部、姿势、手势. 导致大多数手机卡顿

[2022-09-01 01:24] xxqwf commented on #3648
@liuyulvv  你好, 我想构建一个包,应用在不同的场景! 例如, 只识别手势、或者姿势! 但是我构建的holistic同时输出面部、姿势、手势. 导致大多数手机卡顿

[2022-09-01 01:32] ma6667 commented on #3646
您好 @wizVR-zhangjun，我是韩国启明大学计算机系的留学生，我们最近在做这个有关换脸的项目，mediapipe在unity里，但是不知道如何获取坐标，可以请教一下您吗？可以的话可以留个联系方式，万分感谢

[2022-09-01 01:45] ma6667 commented on #3646
@wizVR-zhangjun，我们用了这个MediaPipeUnityPlugin，您能分享一下您的代码吗？因为我们也在做这个项目，但不知道如何在这个项目中为脸部添加图像或网格。

[2022-09-01 01:46] liuyulvv commented on #3648
@xxqwf [Hand](https://google.github.io/mediapipe/solutions/hands.html)是只识别手势的，[Pose](https://google.github.io/mediapipe/solutions/pose.html)是只识别姿势的。

Holistic本来就是面部、姿势、手势的集成方案。如果你想一个包根据需求只检测某一部分的话，你可以试试将Holistic打包成一个库（我不懂安卓，在pc上是打包成链接库），然后根据需求建立自己的`graph`在运行的时候更改`graph`参数(pc命令行里面的`--calculator_graph_config_file`)，在`graph`里面去掉不需要的`calculator`和`output_stream`

[2022-09-01 02:06] wizVR-zhangjun commented on #3646
@ma6667  If your project gets off the ground
using System.Collections;
using System.Collections.Generic;
using UnityEngine;
using UnityEngine.UI;
using Stopwatch = System.Diagnostics.Stopwatch;
namespace Mediapipe.Unity.Hqft
{
    public class FaceMesh : MonoBehaviour
    {
        /// <summary>
        /// 配置文件    pc端
        /// </summary>
        [SerializeField] private TextAsset _configAssetC

[2022-09-01 02:22] ma6667 commented on #3646
@wizVR-zhangjun，非常感谢您提供的代码，如果有需要以后可以相互讨论，谢谢

[2022-09-01 02:39] wz2wd opened #3651 "mediapipe INT8 quantization"
Hi!
I wonder if mediapipe supports INT8 quantization? Or can INT8 quantization be done? If so, are there any relevant references to draw from? thanks.

[2022-09-01 03:18] adityaanantharaman commented on #963
// Lips.
    61, 146, 146, 91, 91, 181, 181, 84, 84, 17, 17, 314, 314, 405, 405, 321,
    321, 375, 375, 291, 61, 185, 185, 40, 40, 39, 39, 37, 37, 0, 0, 267, 267,
    269, 269, 270, 270, 409, 409, 291, 78, 95, 95, 88, 88, 178, 178, 87, 87, 14,
    14, 317, 317, 402, 402, 318, 318, 324, 324, 308, 78, 191, 191, 80, 80, 81,
    81, 82, 82, 13, 13, 312, 312, 311, 311, 310, 310, 415, 415, 308,
    //

[2022-09-01 03:53] johnodin99 opened #3652 "How to Understand hand_recrop.tflite Model Structure Concept"
Hi guys,

Appreciate your contribution on Media Pipe,

I Parse the hand_recrop.tflite to Diagraph from Netron, but can not understand the concept, it is not the same Spatial Transformer Networks ,not produce the affine matrix and just output tensor 1×1 ×1×4,
I think it is location, how can I more understand the Concept and detail!

Thank a Lot!

[2022-09-01 04:47] kuaashish commented on #3646
Hi @wizVR-zhangjun, Could you please confirm that the above [comment ](https://github.com/google/mediapipe/issues/3646#issuecomment-1231234167)gives a better understanding about rending different effect on the faces. Thank you!

[2022-09-01 05:13] sureshdagooglecom commented on #3648
Hi @xxqwf ,
Yes , we do have face deteciton solution in MediaPipe , please check [this](https://google.github.io/mediapipe/solutions/face_detection.html) link.

[2022-09-01 05:15] sureshdagooglecom commented on #3649
Hi @gjn2659338105 ,
adb can be installed separately without Android Studio. So, I am not sure if the issue is related to the Android Studio version. The best way is to use the adb install command to install some other apps from the terminal. It this works, then try your robotcontrol app.

[2022-09-01 05:17] ababilinski opened #3653 "World Space Tracking With Objectron"
Is it possible to get the world space position of an object using Objectron? I tried reading the 3d position, but it didn't seem to change when I moved the object further away from the camera.

If depth cannot be obtained from the Lifted Objects, is it possible to combine it with Instant Motion Tracking?

[2022-09-01 05:41] wizVR-zhangjun commented on #3646
@kuaashish
I'm sorry. I'm still a little confused

[2022-09-01 06:00] sureshdagooglecom commented on #3650
Hi @yohanessatria ,
We have issue running in the thread https://github.com/google/mediapipe/issues/64, please check this issue.

[2022-09-01 06:03] sureshdagooglecom commented on #3651
Hi @wz2wd ,
TfLiteInferenceCalculator can accept quantized tensors, but this must first be set in the TfLiteConverterCalculator options

node {
  calculator: "TfLiteConverterCalculator"
  input_stream: "IMAGE:input_video"
  output_stream: "TENSORS:image_tensor"
  options: {
    [mediapipe.TfLiteConverterCalculatorOptions.ext] {
      use_quantized_tensors: true
    }
  }
}
but GPU does not support

[2022-09-01 06:35] hanbyeongky opened #3654 "In webview , mideapipe Face Mesh CheckMediaAccessPermission: Not supportesd."
I'm trying to add functionality to a hybrid app by leveraging the Mideapipe Face Mesh for javascript.

 However, the permission error keeps popping up because it is run as webview.
It says that there is no permission and the video itself does not appear.
Does anyone know how to solve it???
 Note that We are packaging after work using ionic vue capacitors.

please answer about my question

![202208

[2022-09-01 06:35] wz2wd commented on #3651
@sureshdagooglecom So, can I understand that mediapipe does not support quantification at present? thanks.

[2022-09-01 06:57] SkyDream666 commented on #3515
I meet the same problems and I update my gcc version to gcc9.4.0, then the problem has been solved.  May be that "[converter](std::shared_ptr<GpuBufferStorage> source)......" only supported in higher gcc version. Please refer to
https://gcc.gnu.org/projects/cxx-status.html#cxx17  and https://www.open-std.org/jtc1/sc22/wg21/docs/papers/2016/p0512r0.pdf

[2022-09-01 07:34] kuaashish commented on #3515
Hi @SkyDream666, Thank you very much for the solution. It will be helpful for other community members.

[2022-09-01 07:40] kuaashish commented on #3643
Hi @garyli03, Hope this [#2093(comment)](https://github.com/google/mediapipe/issues/2093#issuecomment-854657871) gives you better understanding for your query. Thank you!

[2022-09-01 07:52] sureshdagooglecom commented on #3651
Hi @wz2wd ,
Yes , for GPU does not support quantized tensors.

[2022-09-01 15:00] endink commented on #3505
Is there any good news for this? Nobody care it?

[2022-09-01 16:00] murilolima opened #3655 "Building Android example fails when deleting libmediapipe_jni.so"
**System information**
- OS Platform and Distribution: Ubuntu 20.04
- Compiler version: g++ 9.4.0
- Programming Language and version: C++ 17
- [MediaPipe version](https://github.com/google/mediapipe/releases): 0.8.10.2
- Bazel version: 5.2.0
- Android SDK and NDK versions (if android):
  * Android SDK: https://dl.google.com/android/repository/commandlinetools-linux-7583922_latest.zip
  * Android N

[2022-09-01 20:41] rnag opened #3656 "unable to install mediapipe in mac osx"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): Mac Os M1
- Compil

[2022-09-02 01:53] mch0dmin commented on #3644
hi @kuaashish, @sureshdagooglecom , Can you give me some advices?

[2022-09-02 02:49] sayhi12345 commented on #3057
Hi @qichuangguo, what do you mean by reinstalling? you reinstall your sdk and ndk or just restart your bazel build?
Thank you!

[2022-09-02 05:48] vikarshiitk opened #3657 "3D model Stabilization in AR"
I am working on a Shoe Try-On project I have successfully project the Shoe 3d Model on Human Foot.  But I am facing an issue of model stabilization.  What can be the solution for it.

[2022-09-02 05:50] vikarshiitk commented on #3610
thanx

[2022-09-02 06:22] sureshdagooglecom commented on #3202
Hi @tomerlevi444 ,
For python you can create your own graph using the calculators and execute as mentioned here https://google.github.io/mediapipe/getting_started/python_framework.html#graph.
Have you looked at these closed issues https://github.com/google/mediapipe/issues/2761 and https://github.com/google/mediapipe/issues/507.
Thank you!

[2022-09-02 06:24] sureshdagooglecom commented on #3177
Hi @veetechh ,
import the file using <script src='.....'</script>
then in your react code use
const LandMarkGrid =window.LandmarkGrid

grid = new LandmarGrid (divRef, ....)
be careful to components re-rendering (strictMode)

[2022-09-02 07:05] wz2wd commented on #3651
@sureshdagooglecom thanks.
Then, I wonder if it is possible to use CPU for INT8 quantization of the model? If so, how should it be done?

[2022-09-02 07:21] #3616 closed

[2022-09-02 07:54] kuaashish commented on #3655
Hi @murilolima, Could you please try with new approach using Gradle as mentioned [here ](https://github.com/google/mediapipe/blob/master/docs/getting_started/android_solutions.md). Please refer to this thread #2339 and #2339(comment) for better understanding. Thank you!

[2022-09-02 08:09] kuaashish commented on #3656
Hi @rnag, Could you try the below command to install MediaPipe using pip: `pip install mediapipe-silicon`
Please let us know if this works.
Thank you!

[2022-09-02 08:50] kuaashish commented on #3640
Hi @honeykinng345, Could you please post your comment on the [above](https://github.com/google/mediapipe/issues/3640#issuecomment-1228279015) mentioned issue. We are following up issues with the internal team and revert back if any update.
Thank you!

[2022-09-02 08:51] leeon commented on #593
got the same error on my mac m1

[2022-09-02 09:18] leeon commented on #3635
got the same error on mac m1 using bazel

[2022-09-02 09:27] leeon commented on #3635
https://github.com/google/mediapipe/issues/3397#issuecomment-1146456958
this works for me

[2022-09-02 09:28] kuaashish commented on #3635
Hi @dianyo, @leeon , It is a warning, the compilation process continues from the other mirror. Thank you!

[2022-09-02 10:07] honeykinng345 commented on #3640
@kuaashish  already posted ...

[2022-09-02 10:21] #3619 closed

[2022-09-02 10:21] #3620 closed

[2022-09-02 11:04] murilolima commented on #3655
It worked with AndroidStudio, and as I mentioned above also with `bazel mobile-install`.

Is building with `bazel build` not recommended?

I suggest updating the [MediaPipe in Android instructions](https://google.github.io/mediapipe/getting_started/android.html) accordingly.

[2022-09-02 11:21] robi56 opened #3658 "Compiling mediapipe/gpu/gl_texture_buffer.cc failed: (Exit 1): crosstool_wrapper_driver_is_not_gcc failed: error executing command external/local_config_cuda/crosstool/clang/bin/crosstool_wrapper_driver_is_not_gcc -MD -MF bazel-out/k8-opt/bin/mediapipe/gpu/_objs/gl_texture_buffer/gl_texture_buffer.d"
**### Trying to build for ubunutu desktop MediaPIPE GPU**

`bazel build -c opt --config=cuda --spawn_strategy=local     --define no_aws_support=true --copt -DMESA_EGL_NO_X11_HEADERS     mediapipe/examples/desktop/object_detection:object_detection_tensorflow`

**Error:**

INFO: Analyzed target //mediapipe/examples/desktop/object_detection:object_detection_tensorflow (0 packages loaded, 0 targets co

[2022-09-02 12:15] jimb2834 commented on #3505
@endink - I was in the MediaPipe slack channel and saw this

![image](https://user-images.githubusercontent.com/53540864/188140308-599fe87f-3f48-4c10-a834-9b3a6acbb903.png)

[2022-09-02 13:04] gentnm commented on #3403
@kuaashish @sureshdagooglecom

Is it possible to reopen this or should I open a new issue?

[2022-09-02 15:08] kuaashish commented on #3403
Hi @gentnm, Please raise a new issue with mentioning the reference of this issue. Thank you!

[2022-09-02 16:05] kirill-konshin opened #3659 "Cannot run selfie segmentation in web worker"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): N/A
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Any
- [MediaPipe

[2022-09-02 16:28] sureshdagooglecom commented on #133
Hi @n-git ,
Still are you looking for solution for this?

[2022-09-03 01:29] endink commented on #3505
@jimb2834 it only worked for pose landmarks, but not in handlandmarks.

[2022-09-03 06:32] VimalMollyn commented on #3444
For people that are looking for a csv of SSD anchors, I've attached the file [here](https://github.com/VimalMollyn/GenMediaPipePalmDectionSSDAnchors), along with code to generate it. Thanks @saknarak for your snippets!

https://github.com/VimalMollyn/GenMediaPipePalmDectionSSDAnchors

[2022-09-03 06:54] VimalMollyn commented on #1499
For people that are looking for a csv of new  SSD anchors, I've attached the file [here](https://github.com/VimalMollyn/GenMediaPipePalmDectionSSDAnchors), along with code to generate it. Thanks @saknarak for your snippets!

https://github.com/VimalMollyn/GenMediaPipePalmDectionSSDAnchors

[2022-09-03 11:56] ZhangYuef opened #3660 "Hello World Error on MacOS"
**System information**
- OS Platform and Distribution: MacOS Monterey
- Compiler version: Apple clang version 13.0.0
- Programming Language and version: c++
- [MediaPipe version]: 0.8.10.2
- Bazel version: 5.2.0
- OpenCV version (if running on desktop): opencv@3 with brew install

**Describe the problem**: Building errors occur although I follow all official instruction steps.

**[Provide the exac

[2022-09-03 12:00] ZhangYuef commented on #3660
## Verbose log

[code]

[2022-09-03 14:41] gentnm opened #3661 "Make it possible to let mediapipe be installed in headless environments"
<em>Please make sure that this is a feature request.</em>

**System information** (Please provide as much relevant information as possible)
Official python docker image python:3.9-slim (Debian based)

- MediaPipe Solution (you are using): mediapipe python package installed via pip
- Programming language : Python
- Are you willing to contribute it (Yes/No): Maybe (Need to check CLAs with my employe

[2022-09-04 04:09] gjn2659338105 commented on #3649
I downloaded it directly from Ubuntu with the command ‘setup_android_sdk_and_ndk.sh’ , without the Android Studio configuration.

[2022-09-04 05:44] Ared521 commented on #3404
Hello, I also have this problem. Have you solved it now? Please.

[2022-09-04 11:17] NguyenTrongThinh opened #3662 "Face alignment"
<em>Please add face alignment feature to mediapipe.</em>

**System information**
- MediaPipe Solution (you are using): mediapipe for android
- Programming language : Android/Kotlin/Java
- Are you willing to contribute it (Yes/No): Yes

This feature will help to increase face recognition accuracy.

[2022-09-04 14:18] adnan6336 commented on #3058
any update guys?

[2022-09-05 00:15] n-git commented on #133
No, I am not looking for a solution anymore.
Thank you for your answer and confirmation.

[2022-09-05 00:51] ZhangYuef commented on #3660
The error should be caused by:

I follow the solution in link [https://github.com/protocolbuffers/protobuf/issues/5376](url) and just delete `/usr/local/Cellar/protobuf`. Not sure if there has better solution.

[2022-09-05 00:51] #3660 closed

[2022-09-05 05:14] kuaashish commented on #3656
Hi @rnag, Could you please respond to the above [comment](https://github.com/google/mediapipe/issues/3656#issuecomment-1235200591) and confirm still encountering the same error or it has been resolved successfully. Thank you!

[2022-09-05 07:45] dwooklee opened #3663 "An error occurred building 'hello world' example"
I'm trying to build 'hello_world' using docker on Windows 10, and following error occurred.

- command:
GLOG_logtostderr=1 bazel run --define MEDIAPIPE_DISABLE_GPU=1 mediapipe/examples/desktop/hello_world

- log:
-------------------------------------------------------------------------------------------------------------------
root@9543c984390b:/mediapipe# GLOG_logtostderr=1 bazel run --define MED

[2022-09-05 08:21] #3593 closed

[2022-09-05 08:21] #3594 closed

[2022-09-05 08:21] #3603 closed

[2022-09-05 08:21] #3605 closed

[2022-09-05 08:21] #3606 closed

[2022-09-05 08:21] #3609 closed

[2022-09-05 08:21] #3614 closed

[2022-09-05 08:47] TitansWhale opened #3664 "How to get poselandmark in c++"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):windows 11
- [MediaPip

[2022-09-05 09:20] #3664 closed

[2022-09-05 09:21] #3617 closed

[2022-09-05 09:53] kuaashish commented on #3658
Hi @robi56, Could you try to upgrade the gcc version to gcc9.4.0 as "[converter](std::shared_ptr source)......" only supports the higher gcc version.
Please refer to https://gcc.gnu.org/projects/cxx-status.html#cxx17 and https://www.open-std.org/jtc1/sc22/wg21/docs/papers/2016/p0512r0.pdf for better understanding.
Thank you!

[2022-09-05 10:16] kuaashish commented on #3662
Hi @NguyenTrongThinh, Thank you for this feature request. MediaPipe has limited resources for new features although this is a great feature request that will share this to the internal team and let you know if there is any specific update on this issue. Thank you!

[2022-09-05 11:22] kuaashish commented on #3663
Hi @dwooklee, Could you try to add this configuration to bazel WORKSPACE and build again:

[code]

Please let us know if this resolves the issue. Thank you!

[2022-09-05 17:05] mauricewells commented on #3570
I had the same issue as reolf
I tried to build hand tracking in the mediapipe repo, but got the error in XNNPACK
If any solution, pls let me know it

[2022-09-05 17:07] mauricewells commented on #3570
Of course, I successfully built hand tracking for coral device(Mendel Linux=Arm 64bit), but I failed to build that for Raspberry Pi(Raspbian Arm 32 bit)

[2022-09-05 17:15] cy-moi commented on #3659
Hi, I'm having the same issue with face_mesh. Have you figured it out?

[2022-09-05 18:54] byron-ojua opened #3665 "ImportError: DLL load failed while importing _framework_bindings: The specified module could not be found."
**System information**
- Windows 11 Pro - Version 21H2; Build 22000.856:
- Resource base intel core i5 7th Gen, 16Gb RAM
- Python 3.10.6:
- Installed using pip:
- IDE is PyCharm community 2022.2:
- MP version 0.8.10.1:
- OpenCV version 4.6.0.66:

I am trying to use mediapipe with OpenCV to do some hand tracking, but I am getting the following error. I have seen many threads with this error, but no

[2022-09-06 02:39] wizVR-zhangjun opened #3666 "I want to map a face image I took into a 3D face model"
I don't know what to do, please teach me

[2022-09-06 03:08] tianhonglilei commented on #3481
@kuaashish Hello, Sorry to bother you, I added the code, but it doesn't work. I tried several times.

[2022-09-06 03:27] xxqwf commented on #3648
How to pack `Hand` and `Pose` into an AAR, they do not affect each other

[2022-09-06 03:30] xxqwf commented on #3648
我试了更改不同的graph, 好像不行。我现在想构建一个包，让他包含`Hand`和`Pose`，但是我不太清楚`Build`里的内容！

[2022-09-06 03:52] gjn2659338105 commented on #3649
Thank you. It is indeed the NDK version. I downloaded R21E before, but forgot to change the path in the workspace, so R18B is still in operation.
Now I've solved the problem！

[2022-09-06 03:52] #3649 closed

[2022-09-06 04:00] liuyulvv commented on #3648
@xxqwf 从[这里](https://github.com/liuyulvv/mediapipe/blob/e42a9ed4c9a31a10d2d1e34ccec647b6504688a1/mediapipe/graphs/holistic_tracking/holistic_tracking_cpu.pbtxt#L39-L48)可以看到Holistic的输出除了Hand和Pose，还有Face的。

Face的输出是在[这里](https://github.com/liuyulvv/mediapipe/blob/e42a9ed4c9a31a10d2d1e34ccec647b6504688a1/mediapipe/modules/holistic_landmark/holistic_landmark_cpu.pbtxt#L127-L146)计算的，直接注释掉，`graph`那边Face

[2022-09-06 04:01] dandingol03 opened #3667 "【MAC】An error occurred building 'hello world' example"
I'm trying to build 'hello_world' on MAC, and following error occurred.

**System information** (Please provide as much relevant information as possible)
ERROR: /Users/wangjunjie/Documents/Github/mediapipe/WORKSPACE:260:13: fetching http_archive rule //external:build_bazel_rules_apple: Traceback (most recent call last):
	File "/private/var/tmp/_bazel_wangjunjie/95eda4f7c99f7ddce46cd8d36dd7bed7/ext

[2022-09-06 04:14] dandingol03 commented on #3667
https://github.com/google/mediapipe/issues/581#issuecomment-899287326

[2022-09-06 04:14] #3667 closed

[2022-09-06 04:21] #3623 closed

[2022-09-06 04:21] #3618 closed

[2022-09-06 04:52] kostyaby commented on #3602
Hey @zw20045500,

If you have your own mesh (you mention adding vertices and faces), you're now responsible for synchronizing between (A) the canonical mesh UV 2D space and (B) the new mesh UV 2D space. I'm afraid there is no silver bullet here; you basically need to make sure the two UV coordinate systems are "aligned" with each other. I expect this to be a fairly manual process

As a good start,

[2022-09-06 05:11] Choyon10 opened #3668 "Mediapipe GPU: Build did NOT complete successfully."
**System information**
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): Linux Ubuntu 18.04(Nvidia GeForce GTX 1080)
- Compiler version (e.g. gcc/g++ 8 /Apple clang version 12.0.0): gcc - 8.4.0, g++ - 8.4.0
- Programming Language and version ( e.g. C++ 14, Python 3.6, Java ): Python 3.7.13
- Installed using virtualenv? pip? Conda? (if python): Conda
- [MediaPipe versi

[2022-09-06 05:40] kuaashish commented on #3602
Hi @zw20045500, Could you please go through the [above comment](https://github.com/google/mediapipe/issues/3602#issuecomment-1237657056). Thank you!

[2022-09-06 05:48] kuaashish commented on #3481
Hi @tianhonglilei, Could you please share the complete error log and raise a new separate issue with complete steps to reproduce. Thank you!

[2022-09-06 06:08] kuaashish commented on #3657
Hi @vikarshiitk, Could you please provide the complete details about the issue and query related to model stabilization. Thank you!

[2022-09-06 06:14] kuaashish commented on #3659
Hi @kirill-konshin, Did this [above workaround](https://github.com/google/mediapipe/issues/3659#issuecomment-1237323205) mentioned by @cy-moi resolves this issue. Thank you!

[2022-09-06 06:20] kuaashish commented on #3653
Hi @ababilinski, We have similar closed issue #1463, Please check and get us back if any further queries. Thank you!

[2022-09-06 06:28] Tongbook opened #3669 "mediapipe/framework/deps/registration_token.cc: Permission denied compilation terminated."
ERROR: /home/yjkj-ztx/Desktop/ztx/mediapipe/mediapipe/framework/deps/BUILD:214:11: Compiling mediapipe/framework/deps/registration_token.cc failed: (Exit 1): linux-sandbox failed: error executing command
  (cd /root/.cache/bazel/_bazel_root/e934be0c1805df5ece76f97052536283/sandbox/linux-sandbox/407/execroot/mediapipe && \
  exec env - \
    PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/s

[2022-09-06 06:34] kuaashish commented on #3654
Hi @hanbyeongky, Could you provide the complete details about the issue and code changes made to investigate further. Thank you!

[2022-09-06 06:47] kuaashish commented on #3665
Hi @byron-ojua, Did you able to install MediaPipe on windows as mentioned [here](https://google.github.io/mediapipe/getting_started/install.html#installing-on-windows). If Yes, Could you please try these workaround  mentioned on the https://github.com/google/mediapipe/issues/1839#issuecomment-817253475 and https://github.com/google/mediapipe/issues/1839#issuecomment-817363779. Thank you!

[2022-09-06 07:13] Tongbook commented on #3210
I have a problem of my own， My configuration  virtual machine ubuntu20.04 + bazel5.2.0 + opencv3.4.15 + ffmpeg N-108018-g2ed5925e26

[2022-09-06 08:18] byron-ojua commented on #3665
Hello @kuaashish I followed the [MediaPipe in Python](https://google.github.io/mediapipe/getting_started/install.html#installing-on-windows) steps. I tried the two things you linked before I posted. All of the videos I was watching were saying that for Python, I just had to use pip to do the install. Are all of those programs in the steps you provided required to make MediaPipe work? I am seeing l

[2022-09-06 08:23] kuaashish commented on #3668
Hi @Choyon10. Could you confirm that you have followed the [TensorFlow GPU documentation](https://www.tensorflow.org/install/gpu#software_requirements) to install the required NVIDIA software on your Linux desktop and able to verify the installation as mentioned in the [documentation](https://google.github.io/mediapipe/getting_started/gpu_support.html#tensorflow-cuda-support-and-setup-on-linux-des

[2022-09-06 08:44] sureshdagooglecom commented on #3652
Hi @johnodin99 .
We don't have hand_recrop.tflite as per https://google.github.io/mediapipe/solutions/models.html document. could you please verify once and confirm the issue.

[2022-09-06 08:49] sureshdagooglecom commented on #3666
Hi @wizVR-zhangjun ,
First, you ll need some face topology that establishes semantic relationship between 3D positions of the face mesh vertices and some 2D texture coordinates. I'd start with the canonical face model used in MediaPipe Face Geometry module ([UV visualization](https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_geometry/data/canonical_face_model_uv_visualization.

[2022-09-06 09:02] kuaashish commented on #3665
Hi @byron-ojua, Yes, Please follow the official documentation to build MediaPipe from source Or depends on use case you could follow the Python Solution API example code of Hands as mentioned in the [documentation](https://google.github.io/mediapipe/solutions/hands.html#python-solution-api). Thank you!

[2022-09-06 09:21] Brightchu commented on #2180
use tf2onnx instead of tflit2onnx.
and look out for the env settings. should be python3.7 and tensorflow 2.x.

[2022-09-06 09:21] Brightchu commented on #2180
use tf2onnx instead of tflit2onnx.
and look out for the env settings. should be python3.7 and tensorflow 2.x.

[2022-09-06 09:22] Brightchu commented on #2180
https://github.com/google/mediapipe/issues/2180#issuecomment-1225155991

use tf2onnx instead of tflit2onnx.
and look out for the env settings. should be python3.7 and tensorflow 2.x.

[2022-09-06 09:23] Brightchu commented on #2180
use tf2onnx instead of tflit2onnx.
and look out for the env settings. should be python3.7 and tensorflow 2.x.

[2022-09-06 12:17] SoumyajitMukherjee-droid opened #3670 "Occlusion Issue and tracking issue"
How well the model performs in occlusion scenario and tracking scenario?

[2022-09-06 13:54] razor123max opened #3671 "Blazeface Model inference output interpretation"
**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): yes python script
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Linux
- [MediaPipe version](https://github.com/google/mediapipe/releases):
- Bazel version:
- Solution (e.g. FaceMesh, Pose

[2022-09-06 13:59] Tortoise17 commented on #3642
@sureshdagooglecom @kuaashish @cdibona @camillol  dear friends. Can you guess now what error could be and reason for this failure?
[code]

[2022-09-06 14:29] rnag commented on #3656
@kuaashish Hi there, I realized I forgot to update this issue accordingly, but the suggested command did indeed work for me on my M1 mac. Installing `mediapipe-silicon` as an alternative did work perfectly in my case, and so I believe this issue can be marked as resolved. Thanks again!

[2022-09-06 15:03] kuaashish commented on #3656
Hi @rnag, Thanks for the confirmation. Closing this issue as it has been resolved. Thank you!

[2022-09-06 15:04] #3656 closed

[2022-09-06 16:28] gkarpiak commented on #3363
MediaPipe doesn't provide a way to customize JS APIs so there's not much you can do here at the moment.

Overall, not for JS API, but using directly through C++/Java, to disable face mesh model in holistic you would need to create your own graph (or modify the existing one). E.g. you could copy holistic graph and remove the part that you don't need: https://github.com/google/mediapipe/blob/master/

[2022-09-06 16:28] #3363 closed

[2022-09-06 17:50] kirill-konshin commented on #3659
@kuaashish I'm not going to patch obfuscated sources, I'd rather wait for a proper fix. Moreover, the workaround is for face mesh, and I'm having issues with selfie segmentation.

I have found a bunch of `document` usages, including `a.i=document.createElement("canvas")` and `case 7:d.l=document.createElement("canvas")`, which I possibly can replace with `OffscreenCanvas`, but again, this does not

[2022-09-06 19:01] gkarpiak commented on #3216
`new` operator usage there (registration) should be for global constants which are initialized only once and kept for the whole duration of program running.

If you see some other examples, could you please share them?

[2022-09-06 19:13] RandGor opened #3672 "Unable to suppress info logs from "XNNPACK Delegate""
I have logging I dont want to:
[code]
It appears when I am using this lib. I don't think it requires any code. I cannot find any info how it even possible to remove this kind of logs from this lib.

[2022-09-06 19:46] schmidt-sebastian commented on #3555
@gkarpiak Do you know the answer to this question?

[2022-09-06 19:47] schmidt-sebastian commented on #3556
We will discuss this with the team and follow up.

[2022-09-06 21:15] mcclanahoochie commented on #3405
I don't think having two flow limiter calculators is necessary. Try using a packet cloner for background video instead:

[code]
The packet cloner will output a packet with every TICK signal.
You may need the `ImmediateInputStreamHandler` option (try with/without)

[2022-09-06 21:21] mcclanahoochie commented on #3551
Try using the [MaskOverlayCalculator](https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a479407c699e424aa7/mediapipe/calculators/image/mask_overlay_calculator.cc) (instead of RecolorCalculator)  to overlay a custom image stream (such as blurred background).

[2022-09-07 01:56] xxqwf commented on #3648
@liuyulvv 我尝试修改了这些，还是没跑起来

[2022-09-07 02:18] liuyulvv commented on #3648
@xxqwf 我注释了这些地方，在PC上CPU跑起来了

[1](https://github.com/liuyulvv/mediapipe/blob/e42a9ed4c9a31a10d2d1e34ccec647b6504688a1/mediapipe/graphs/holistic_tracking/holistic_tracking_cpu.pbtxt#L45) [2](https://github.com/liuyulvv/mediapipe/blob/e42a9ed4c9a31a10d2d1e34ccec647b6504688a1/mediapipe/graphs/holistic_tracking/holistic_tracking_cpu.pbtxt#L65) [3](https://github.com/liuyulvv/mediapipe/blob/e42a9ed4c9a3

[2022-09-07 02:43] xxqwf commented on #3648
谢谢啦， 按照你的方法跑起来了！

[2022-09-07 02:48] xxqwf commented on #3648
@liuyulvv 只包含`Hand`和`Pose`的包，帧数有明显提高，但还是有些卡顿。怎样能把`Hand`和'Pose'打到同一个包里呢

[2022-09-07 02:51] xxqwf commented on #3648
@liuyulvv 只包含`Hand`和`Pose`的`Holistic`包，帧数有明显提高，但还是有些卡顿。怎样能把`Hand`和'Pose'打到同一个包里, 并且当使用`Hand`的时候不启用`Pose`，当使用'Pose'的时候不启用'Hand'，老哥你有研究过这个方案吗

[2022-09-07 03:00] liuyulvv commented on #3648
@xxqwf PC上我是做到了，就是把Pose和Hand打包成动态链接库，main函数根据需求读取graph就行了

[2022-09-07 03:01] xxqwf commented on #3648
打包成一个动态链接库，还是两个呢

[2022-09-07 03:06] liuyulvv commented on #3648
都可以吧，只要你可执行文件链接上就可以。我是打包成一个，要不然要写两个头文件接口

[2022-09-07 03:06] xxqwf commented on #3648
可以参考下你写的`Build`文件吗

[2022-09-07 03:07] xxqwf commented on #3648
可以参考下你写的Build文件吗

[2022-09-07 03:14] liuyulvv commented on #3648
@xxqwf [DLL](https://github.com/liuyulvv/mediapipe/blob/e3a6cc289078aacc73d1a4fb7c62026504cc0efc/mediapipe/dll/BUILD#L23-L24)这个是把Holistic和Iris打包在一起的，只是测试用的

[2022-09-07 03:19] Pradyumna-jain opened #3673 "knift template matching build index file get empty"
**System information**
- OS - WSL-> Ubuntu 18.04.5
- Bazel version: bazel 5.2.0
- OpenCV version : 4

**Describe the problem**:

Hi when i try to build my template matching index file as below:
GLOG_logtostderr=1  bazel-bin/mediapipe/examples/desktop/template_matching/template_matching_tflite
--calculator_graph_config_file=mediapipe/graphs/template_matching/index_building.pbtxt
--input_side_packet

[2022-09-07 03:49] kuaashish commented on #3551
Hi @jessonliu, Could you please go through the [above comment](https://github.com/google/mediapipe/issues/3551#issuecomment-1238663326) and try the suggestion mentioned. Thank you!

[2022-09-07 05:06] kuaashish commented on #3672
Hi @RandGor, "INFO: Created TensorFlow Lite XNNPACK delegate for CPU." is an information log. If you would like to disable it then you can go through this https://github.com/google/mediapipe/issues/2094. Thank you!

[2022-09-07 05:11] yoonseok0323 opened #3674 "Mediapipe_3d objectron error - HTTPError: HTTP Error 404: Not Found"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe):
- OS Platform an

[2022-09-07 05:37] hadon commented on #3523
I've tried to replicate this, starting on my home computer running windows 10.  I've gone through the mediapipe windows installation, and successfully compiled hello_world.exe.  I have found it necessary to avoid "optflow.hpp" in opencvx_video_inc.h, since "optflow.hpp" seems to be omitted from OpenCv 4.0.  I still need to correctly configure opencv on windows in order to compile "object_detection

[2022-09-07 06:05] hadon commented on #3540
Thanks for investigating where the segfault occurs.  I see that you have native log output, and native Graph::StartRunningGraph reaches "Start running the graph, waiting for inputs.".   This means that the CalculatorGraph has successfully initialized, and all of the calculators referenced in the CalculatorGraphConfig have successfully resolved.  I imagine that one of the Calculator nodes is failin

[2022-09-07 06:16] kuaashish commented on #3671
Hi @razor123max, Please follow this closed issue #1010 and [#1010(comment) ](https://github.com/google/mediapipe/issues/1010#issuecomment-690716813) for your query. Thank you!

[2022-09-07 06:25] sureshdagooglecom commented on #3670
Hi @SoumyajitMukherjee-droid ,
Could you please elaborate this issue to understand better.

[2022-09-07 06:36] sureshdagooglecom commented on #3311
Hi @insanolanbiri ,
Could you please check my above comments https://github.com/google/mediapipe/issues/3311#issuecomment-1125652702 and rever back still if you are facing any challenges.

[2022-09-07 06:41] sureshdagooglecom commented on #3588
Hi @Woong0416 ,
For python you can create your own graph using the calculators and execute as mentioned here https://google.github.io/mediapipe/getting_started/python_framework.html#graph.

[2022-09-07 06:43] sureshdagooglecom commented on #3589
Hi @mch0dmin ,
We don't provide similar models .

[2022-09-07 06:43] sureshdagooglecom commented on #3595
Hi @surapuramakhil ,
Can you close the issue if you have got the resolution.

[2022-09-07 06:50] sureshdagooglecom commented on #3629
Hi @jinfagang .
Yes, we have plan to support on this and Google team is working on it.

[2022-09-07 06:52] sureshdagooglecom commented on #3596
Hi @surapuramakhil ,
Could you please elaborate this issue to understand better on this.

[2022-09-07 06:54] sureshdagooglecom commented on #3631
Hi @honeykinng345 ,
What is the error you are gettiong , could you please share logs to understand better on this issue.

[2022-09-07 06:56] sureshdagooglecom commented on #3651
Hi @wz2wd ,
TfLiteInferenceCalculator can accept quantized tensors, but this must first be set in the TfLiteConverterCalculator options

node {
  calculator: "TfLiteConverterCalculator"
  input_stream: "IMAGE:input_video"
  output_stream: "TENSORS:image_tensor"
  options: {
    [mediapipe.TfLiteConverterCalculatorOptions.ext] {
      use_quantized_tensors: true
    }
  }
}
but GPU does not support

[2022-09-07 06:57] sureshdagooglecom commented on #3669
Hi @Tongbook ,
Could you provide steps to reproduce this issue.

[2022-09-07 07:06] honeykinng345 commented on #3631
@sureshdagooglecom I have resolved this issue now(the issue is the android version I have set the android version into a works space file and installed the Java then it's working )

[2022-09-07 07:09] #3627 closed

[2022-09-07 07:09] #3625 closed

[2022-09-07 07:10] #3561 closed

[2022-09-07 07:25] tianhonglilei commented on #3481
Hi, thanks for your reply, the problem is solved, I replaced android_sdk version 30.0.1 to 30.0.3.

[2022-09-07 07:30] jinfagang commented on #3629
@sureshdagooglecom that would be awesome, any timeline on when will we have a version?

[2022-09-07 07:37] hadon commented on #3624
For the first error, the subgraph hand_landmark_model_loader.pbtxt is not able to read the model file "hand_landmark_lite.tflite" (or maybe "hand_landmark_full.tflite").  The error is reported by "android/file/base/helpers.cc" after successfully opening the requested file, but then failing to read the contents from the opened file descriptor.  This looks like some sort of race between file reads a

[2022-09-07 08:02] hadon commented on #3452
I think the error is indicating that the "stream_name" parameter to nativeMovePacketToInputStream() is bad.  This might mean that the instance variable "FrameProcessor.videoInputStream" is not properly initialized through FrameProcessor.addVideoStreams().

[2022-09-07 08:09] #3565 closed

[2022-09-07 08:09] #3597 closed

[2022-09-07 08:10] #3564 closed

[2022-09-07 08:44] kuaashish commented on #3629
Hi @jinfagang, Have you looked at this closed issue #3656 and [#3656(comment)](https://github.com/google/mediapipe/issues/3656). Could you try the command mentioned in the [comment](https://github.com/google/mediapipe/issues/3656). Please let us know if this resolves the issue. Thank you!

[2022-09-07 08:45] LoFe commented on #3674
Hey there,

At the model downloading utility it is using a

https://github.com/google/mediapipe/blob/4dc4b19ddb1268c27e63d8e463720976a216c0c4/mediapipe/python/solutions/download_utils.py#L20

old/wrong base URL. That's why it couldn't download the models.

[2022-09-07 09:01] kuaashish commented on #3642
Hi @Tortoise17, Please go through this closed issue #666 and could you try the steps mentioned in the [#666(comment)](https://github.com/google/mediapipe/issues/666#issuecomment-620884783) for your latest query. Thank you!

[2022-09-07 09:05] bossebandowski commented on #3674
Any suggestions on where to point instead?

[2022-09-07 09:11] hadon commented on #3526
Tortoise17, I assume you are following some of the instructions at:
https://github.com/google/mediapipe/blob/master/mediapipe/examples/desktop/youtube8m/README.md
I assume you are trying to run steps 1 through 5 to extract the features to "features.pb".
Did all of the steps 1 through 4 succeed before step 5 failed?

The error message seems to indicate that the tensorflow model was found and loaded

[2022-09-07 09:20] bossebandowski opened #3675 "Pose - 404 error when loading model"
Loading the pose model fails across multiple platforms and devices
- [MediaPipe version](https://github.com/google/mediapipe/releases): 0.8.10.2
- Bazel version: 5.2.0
- Solution (e.g. FaceMesh, Pose, Holistic): Pose
- Programming Language and version ( e.g. C++, Python, Java): Python3.10

**Describe the expected behavior:**
Expecting
[code]
to load the model and allow me to run subsequent inferen

[2022-09-07 09:28] hadon commented on #3555
The developers of the mediapipe Pose model, including https://github.com/ivan-grishchenko, may be interested to learn about your observations, that the elbow landmarks are never reported with negative depth or with high visibility.

About the "model_complexity" and "smooth_landmarks" side packets, side packets are normally passed from the application to the CalculatorGraph through the CalculatorGr

[2022-09-07 09:29] ilia-6over6 commented on #3445
I had exactly the same error (incompatible buffer size) while trying to run a custom YOLOv5 model in .tflight format.
Currently, I managed to run it on the CPU (Desktop and Android) and it works fine. But it would be great if i could test it on the GPU as well!!

[2022-09-07 09:37] hadon commented on #3563
I will try to follow your instructions on a Ubuntu to gLinux workstation, and see if the holistictrackinggpu app fails there as well.  If this problem occurs only under windows or windows 11 ubuntu, I may need some help to reproduce it and investigate it.

[2022-09-07 09:39] BitLoose commented on #3555
All I can report is that the depth for the elbows is way too foreground,
I used the last two releases of MP and both show the same results.

In regards to the side packets et al, as there is not much
documentation, without examples of the protocols required, its very
difficult for a non-team coder to discern what's required. An example
showing how to set the complexity and smoothing would save sco

[2022-09-07 10:37] kuaashish commented on #3526
Hi @Tortoise17, Could you please respond back to the [above](https://github.com/google/mediapipe/issues/3526#issuecomment-1239122763) comment. Thank you!

[2022-09-07 10:46] sureshdagooglecom commented on #3631
Hi @honeykinng345 ,
Can you close this issue if you have got the resolution.

[2022-09-07 10:48] Tortoise17 commented on #3526
@kuaashish The process failed at this stage

[code]

[2022-09-07 10:56] Tortoise17 commented on #3526
`At least the tensorflow operator 'DecodeJpeg' seems to be not linked to the binary. It might be some problem with the binary build command, or maybe some changes to tensorflow of the mediapipe example targets that create a mismatch in the linked tensorflow operators.` to my every try, this is an issue and I tried all types of cuda version, all types of tensorflow versions. But the process fails a

[2022-09-07 11:12] vikarshiitk commented on #3657
@kuaashish while rendering sometimes the shoe model disappear and some times it shows vibrations

[2022-09-07 11:22] jinfagang commented on #3629
@kuaashish hi, thanks, it worked, haven't tried if it can inference or not,  can this directly using for ifnerence?

[2022-09-07 13:27] RichardLindhout commented on #3675
Same problem it worked before!

[2022-09-07 13:28] RichardLindhout commented on #3674
How can we fix this

[2022-09-07 13:33] bossebandowski commented on #3674
see #3675

[2022-09-07 14:32] RichardLindhout commented on #3675
Thanks @bossebandowski!

Added this to my Dockerfile
[code]

[2022-09-07 14:35] yohanessatria commented on #2217
hi @mohammedbalegh, did you manage to find a way to extract all the KPs within every frame?

[2022-09-07 15:26] schmidt-sebastian commented on #3674
@yoonseok0323 We have moved the models to Google Cloud Storage. I will update the script shortly.

[2022-09-07 15:52] ci-synth commented on #3674
@schmidt-sebastian will this mean though that all old versions of mediapipe, prior to the fix you're talking about, will be broken because they will still try to download from the old location?

[2022-09-07 16:15] schmidt-sebastian commented on #3674
@ci-synth That's a good point. I will see if there is something we can do. Our goal was to reduce the size of the repository to make it easier for users to get started with MediaPipe.

[2022-09-07 17:11] FrankEscobar opened #3676 "Mediapipe face mesh to full head is that possible? maybe transforming that into FLAME?"
Obviously I mean the procedural head model https://flame.is.tue.mpg.de/ but if you know any other alternative to get a full head you are welcome!

Thank you in advance.

[2022-09-07 17:13] JamesOughton-about commented on #3458
hi - any updates on this please?

[2022-09-07 17:55] schmidt-sebastian commented on #3675
The download script has been updated. Please pull the latest update from `master`.

[2022-09-07 17:57] schmidt-sebastian commented on #3674
The download script has been updated. Please pull the latest update from master.

[2022-09-07 17:58] schmidt-sebastian commented on #3556
The build rules are now public.

[2022-09-07 17:58] #3556 closed

[2022-09-07 18:04] serrabii commented on #3556
Great, thank you so much!

[2022-09-07 18:30] Dekwin opened #3677 "Can't `pip install mediapipe' on Docker alpine linux"
**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution: Docker, image python:3.8-alpine
- Installed using virtualenv? pip? Conda? (if python): pip
- [MediaPipe version](https://github.com/google/mediapipe/releases): latest
- OpenCV version (if running on desktop): not installed

**Describe the problem**:

I tried to install mediapipe inside

[2022-09-07 22:30] byron-ojua commented on #3665
I am still getting the same error.

[2022-09-08 02:42] shirlyyang-tcc commented on #1937
Is there any update? We met the same problem of momory leaking with facemesh in our web application, yet we do need the iris result so we can't work around with 0.4.1628005669. Is it possible to fix the problem?

[2022-09-08 03:13] shirlyyang-tcc opened #3678 "Memory leak of facemesh javascript solution with iris detection"
**System information** (Please provide as much relevant information as possible)
- no
- Chrome 105.0.5195.102
- [0.4.1629159166](https://www.npmjs.com/package/@mediapipe/face_mesh/v/0.4.1629159166)
- Bazel version:no
- Solution (e.g. FaceMesh, Pose, Holistic):FaceMesh
- Programming Language and version ( e.g. C++, Python, Java):JavaScript

I am developing a AR application on Web and recently we di

[2022-09-08 03:29] ouyangpeng opened #3679 "Is there any way to achieve ARCore-like functions with just mediapipe and opengl or related 3D rendering engines (such as Filament) in Android with gradle？"
I found that it is easy to use ARCore to achieve AR effects, but **ARCore** can only be used in some machine, not my android device.

so I plan to use Mediapipe to obtain some functions such as face 3D mesh, but how to combine **Mediapipe** and **OpenGL** to achieve **AR** functions?

It's not clear, mediapipe has a Face Effect Example, but the code is compiled with **Bazel** and I can't understan

[2022-09-08 03:39] kuaashish commented on #3629
Hi @jinfagang, MediaPipe team has plans to support the M1 officially and are working on it but don't have much info on this.  Meanwhile this forked from MediaPipe branch must work as expected. Thank you!

[2022-09-08 03:49] kuaashish commented on #3675
Hi @bossebandowski, The model should now work as expected it was working earlier. Could you confirm that and close this issue as it has been resolved. Thank you!

[2022-09-08 03:56] kuaashish commented on #3672
Hi @RandGor, Could you respond to the above **[comment](https://github.com/google/mediapipe/issues/3672#issuecomment-1238912484)** and please let us know this resolves the issue. Thank you!

[2022-09-08 04:19] kuaashish commented on #3638
Hi @jaewoolim, The aar builder is only designed to support a single aar file per application.
Workarounds:
1)build all into one AAR (issue has a relegated issue suggesting this).
2)rename all of the classes:
    Class shading: https://medium.com/@akhaku/java-class-shadowing-and-shading-9439b0eacb13. Thank you!

[2022-09-08 04:51] Vault13san opened #3680 "Texture convertation on Samsung Galaxy Ultra series (S 22, Tab 8) with SM8450"
**System information**

- Devices: Samsung Galaxy S22 Ultra(only with SM8450, S5E9925 works fine), Samsung Galaxy Tab 8 Ultra
- Android version: 12
- OneUI version: 4.1.1
- Mediapipe version: 0.8.10.2

**Use case:**
I need to handle some image from different sources (not only from camera), so i can't use CameraHelper. I create my own converter class for bitmap and it works fine for all devices, bu

[2022-09-08 05:12] #3674 closed

[2022-09-08 05:16] kuaashish commented on #3657
Hi @vikarshiitk, Could you share the complete code used to implement this model to investigate it further. Thank you!

[2022-09-08 05:44] AlphaNote opened #3681 "Holistic example code is not working"
**System information** (Please provide as much relevant information as possible)
~~- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):~~
~~- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):~~
- [MediaPipe version](https://github.com/google/mediapipe/releases): mediapipe-0.8.10.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux201

[2022-09-08 06:21] kuaashish commented on #3681
Hi @AlphaNote, Please pull the latest update from the `master` branch it must work now. Refer these two issues for better understading #3674 and [#3675](https://github.com/google/mediapipe/issues/3674). Thank you!

[2022-09-08 06:29] kuaashish commented on #3678
Hi @shirlyyang-tcc, Have you looked at this similar closed issue #1937 and [#1937(comment)](https://github.com/google/mediapipe/issues/1937#issuecomment-833135989). Please try the suggestion and revert back if further queries. Thank you!

[2022-09-08 06:55] shirlyyang-tcc commented on #3678
Yes I did read this issue and tryed the suggestions in the issue. I did check the code and reassured the face mesh was not initialize multiple times. An I tested the versions decribed in this response:https://github.com/google/mediapipe/issues/1937#issuecomment-1039587436.
As it describes versions 0.4.1629159166 and now 0.4.1633559619 both have memory leaks, version 0.4.1628005669 does not have th

[2022-09-08 07:02] bossebandowski commented on #3675
Yes, thanks for the quick work

[2022-09-08 07:02] #3675 closed

[2022-09-08 08:02] Patel-Preet opened #3682 "Face-Landmarks-Detection Normalization Issue"
Hi,

I'm using "@tensorflow-models/face-landmarks-detection": "^1.0.2" and  "@mediapipe/face_mesh": "^0.4.1633559619".

I am able to run estimateFaces method however, when I console the faceMesh sometimes the coordinates are normalised and sometimes it's not. But the main issue is when I console the individual coordinate it's always denormalised. I am wondering how can I normalise the values back

[2022-09-08 08:24] robi56 opened #3683 "[libprotobuf ERROR external/com_google_protobuf/src/google/protobuf/text_format.cc:335] Error parsing text-format mediapipe.CalculatorGraphConfig: 29:87: Could not find type "type.googleapis.com/mediapipe.TensorFlowSessionFromSavedModelCalculatorOptions" stored in google.protobuf.Any."
I am trying to build Object detection for CPU using https://google.github.io/mediapipe/solutions/object_detection.html
But I get errors during run application

**Build**

bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 mediapipe/examples/desktop/object_detection:object_detection_tflite

The build is successful

Target //mediapipe/examples/desktop/object_detection:object_detection_tflite up-to-

[2022-09-08 08:29] kuaashish commented on #3665
Hi @byron-ojua, Please try the suggestion mentioned in the similar SO [issue](https://stackoverflow.com/questions/69780732/getting-errors-with-opencv-and-mediapipe-for-making-hand-tracking-module-in-pyth) and revert back if encounter the same error.
Thank you!

[2022-09-08 08:33] razor123max commented on #3671
Thank you for your response @kuaashish, from the comments of the closed issue #1010 does not talk about processing the regressors output with some anchor processing similar to SSD, if i am not wrong? if I only run the tflite model exported in ONNX format the values i get are not in 0-1 range aswell (I presume missing self sigmoidal). If some one can explain the anchor point processing part that wo

[2022-09-08 09:37] WangXuan2401 commented on #1028
Well，I met the same problem when running hand_tracking_cpu on Linux server. And I found that the “Load Error” is mainly because the incompletence of the command.

I solved the problem successfully by using the commands below:

for building the project
[code]

for running the hand_tracking_cpu demo
[code]

Please make sure that the **'--output_video_path'** is with given **'file_name.mp4'** at the

[2022-09-08 11:28] kuaashish commented on #3655
Hi @murilolima, Could you please provide the complete error logs and steps to reproduce the issue. Thank you!

[2022-09-08 20:35] RandGor commented on #3672
Hello @kuaashish ! I think this can help. But I think it is a great idea to make this logs optional in the future (make all devs understand it)

[2022-09-08 20:35] #3672 closed

[2022-09-08 22:01] schmidt-sebastian commented on #3674
We have just uploaded new packages to PyPi that contain this fix (0.8.11)

[2022-09-08 23:50] WangXuan2401 commented on #3658
Well, the error  still occur after I updating the gcc version to 9.4.0.
Is there any missing procedures ?

[2022-09-09 00:52] gavel94 commented on #3452
I can't find any other parameter settings in the project demo。

[2022-09-09 01:30] wizVR-zhangjun commented on #1698
@mufaawan  Hi teacher, I have trouble using CV ::getAffineTransform and CV ::warpAffine, can you tell me your core idea

[2022-09-09 03:43] kuaashish commented on #3681
Hi @AlphaNote, Could you please confirm this is still an issue or resolved as per the [above](https://github.com/google/mediapipe/issues/3681#issuecomment-1240275251) comment. Thank you!

[2022-09-09 03:53] robi56 opened #3684 "FaceMesh GPU BUILD ERROR: Linking mediapipe/framework/tool/encode_as_c_string [for host] failed"
**FaceMesh GPU Build**

I have sucessfully build FaceMesh for CPU using the following command
**BUILD for CPU**

`bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 mediapipe/examples/desktop/face_mesh:face_mesh_cpu`

But for BUILD for GPU,  I got **undefined reference to symbol 'nan@@GLIBC_2.2.5'** error

**GPU BUILD Command**

`bazel build -c opt --config=cuda --spawn_strategy=local     --defin

[2022-09-09 03:57] robi56 commented on #3684
I have add cc_binary( ... linkopts = ["-lm"], ) in BUILD file [/mediapipe/examples/desktop/face_mesh/BUILD]
[code]
following the solution,
[SOLUTION](https://github.com/tensorflow/serving/issues/971)

But still got the same error

[2022-09-09 04:09] #3634 closed

[2022-09-09 07:09] #3539 closed

[2022-09-09 10:02] wizVR-zhangjun commented on #3666
@sureshdagooglecom
Thanks to the teacher's guidance, the problem was solved

[2022-09-09 10:02] #3666 closed

[2022-09-09 10:09] #3641 closed

[2022-09-09 10:14] Aarushi240 opened #3685 "Can't detect tilted face in the image input"
Hello everyone,

I was trying Mediapipe Facemesh Solutions. When processing some images containing face couldn't detect the tilted face in the image.

**System information**

- OS Platform and Distribution: Windows 8
- Solution: Facemesh
- Programming Language: Javascript

**Image to reproduce:**

![output (tilted photo)](https://user-images.githubusercontent.com/83343665/189326947-89182464-9930-4

[2022-09-09 11:39] kuaashish commented on #3685
Hi @Aarushi240, Our dataset for training face detection for front camera is composed of mostly selfie images and we trained with rotation augmentation (+/- 45 degrees). So there're training examples up to 90 degrees rotation.
However, we don't have much flipped face in the dataset and the model is not expected to work in that case.
Thank you!

[2022-09-10 04:29] lilinxiong opened #3686 "Is it possible to consider adding log callBack on Android?"
<em>Please make sure that this is a feature request.</em>

**System information** (Please provide as much relevant information as possible)

- MediaPipe Solution (you are using): framework
- Programming language : C++ / Android Java
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state:**
We have used mediapipe in the production environment, it is

[2022-09-10 14:05] LokeshNivash commented on #2818
Traceback (most recent call last):
  File "C:\Users\nivas\PycharmProjects\handvolumemodule\Gesture Volume Control Part 1 – VolumeHandControl.py", line 18, in <module>
    detector = htm.handDetector(detectionCon=0.7)
  File "C:\Users\nivas\PycharmProjects\handvolumemodule\HandTrackingModule.py", line 15, in __init__
    self.hands = self.mpHands.Hands(self.mode, self.maxHands,
  File "C:\Users\niv

[2022-09-10 16:48] Janakinathverma opened #3687 "Issue in cvzone module"
from charset_normalizer import detect
import cv2
import cvzone
from cvzone.HandTrackingModule import Handdetector
from time import sleep
import numpy as np
from pynput.keyboard import Controller
cap=cv2.VideoCapture(0,cv2.CAP_DSHOW)
cap.set(3,1280)
cap.set(4,720)
detector=Handdetector(detectionCon=0.8)
cap.set(5,674)

This code is showing errors.

python -u "d:\file\pros\myproject-main\virtualkeyb

[2022-09-11 02:15] rajhlinux commented on #328
Is it possible I can use MediaPipe using OpenCL? I ask because I have an AMD Radeon GPU running in FreeBSD 13.1. So far FreeBSD does not seem to have OpenGL ES 3.1 and only have version 2.

[2022-09-11 02:48] rajhlinux opened #3688 "Is it possible to not use bazel and use clang/gcc directly for c++ compilation examples?"
- OS Platform and Distribution:
FreeBSD 13.1-RELEASE-p1 amd64
Resolution: 3840x2160
DE: Plasma 5.24.6
WM: KWin
Theme: [Plasma], Breeze [GTK2/3]
Icons: [Plasma], breeze-dark [GTK2/3]
Terminal: konsole
CPU: AMD FX-8350 (8) @ 3.991GHz
GPU: Ellesmere [Radeon RX 470/480/570/570X/580/580X/590]
Memory: 16590MiB / 32684MiB

- Compiler version:
gcc version 11.3.0 (FreeBSD Ports Collection)
FreeBSD clang ve

[2022-09-11 09:28] krithicappyhigh commented on #1841
@brucechou1983 thanks for reply. i've actually modified the existing `effect_renderer.cc` to fit my needs(although i'm not using a `SyncSetInputStreamHandler` here). but the app freezes and is being killed after i switch about 20-25 effects (this threshold actually depends on the device). i am suspecting an OOM here prolly because i'm leaking memory somewhere. i've looked into it for 2 days not bu

[2022-09-11 16:17] hazenne7 opened #3689 "Holistic Landmark"
![image](https://mediapipe.dev/images/mobile/holistic_pipeline_example.jpg)

In the MediaPipe holistic docs image above, it uses both hand and face re-crop to form the landmarks but we are only able to apply the face re-crop. How can we use the hand re-crop?

[2022-09-12 04:46] Patel-Preet commented on #3682
**Found it!**

X coordinate -> `(x - box.xMin - (box.width/2))/videoWidth`
Y coordinate -> `-[(y - box.yMin - (box.height/2))/videoHeight]`
Z coordinate -> https://github.com/google/mediapipe/issues/156#issuecomment-545911833

[2022-09-12 04:46] #3682 closed

[2022-09-12 06:09] #3633 closed

[2022-09-12 07:09] #3636 closed

[2022-09-12 07:26] nurshafiza commented on #724
hi. I've faced same problem as @PriyavartRajain and have follow step above as you recommended but the error that occur after I run the command is still same. can anyone help me here?

[2022-09-12 07:54] nurshafiza commented on #3459
I've tried as what you suggested but it occur like this

'C:\\Python 3.10'

  File "<stdin>", line 1
    Python Binary Path
           ^^^^^^
SyntaxError: invalid syntax

[2022-09-12 08:43] andrechen commented on #1841
well, maybe things are not that complicated. Like video games do, do just load/unload model/texture with respect to user input.  Much simpler than using a ugly **SwitchContainer** calculator.

A windows port of **face_effect** is [here](https://github.com/andrechen/mediapipe/tree/master/visualstudio/face_effect) to demonstrate it. Built by visual studio 2019/2022 makes it easier to debug and see w

[2022-09-12 09:02] kuaashish commented on #3687
Hi @Janakinathverma, This issue is more related to the cvzone please raise this issue into relavant repo. Thank you!

[2022-09-12 09:10] kuaashish commented on #3677
Hi @Dekwin, Could you please elaborate the use case with respect to prefer docker alpine image. Thank you!

[2022-09-12 09:19] kuaashish commented on #3686
Hi @lilinxiong, Thanks for raising this feature request. We will share this request with the internal team and will update if any specific update on the above request. Thank you!

[2022-09-12 09:49] lilinxiong commented on #3686
@kuaashish Thanks for your reply, In fact, the day before yesterday, I had simply implemented it myself, but the writing was really ugly. It was just enough to satisfy my own use. Tomorrow I plan to tidy it up and rewrite it beautifully. But I'm still looking forward to your conclusions.

[2022-09-12 09:59] kuaashish commented on #3648
Hi @xxqwf, Have you looked at this similar closed issue #2028 and [#2028(comment) ](https://github.com/google/mediapipe/issues/2028#issuecomment-888703030)will give you a better understanding of modifying the internal graphs. Thank you!

[2022-09-12 11:04] kuaashish commented on #3459
Hi @nurshafiza, Could you please raise a separate new issue and provide the complete details to reproduce the issue from our end. Thank you!

[2022-09-12 14:14] divastar opened #3690 "face texture mapping"
Hi. Thank you for sharing your work.
Given a 3d face coordinate and the projection matrices: R, T (corresponding 2d coordinates as well) as input .
What are the steps to project the original 2d image texture onto the generated 3d model given this ready input information?
Thank you

[2022-09-12 15:19] mathaeus commented on #3477
Bumping this 😬

@sureshdagooglecom is this something that the Mediapipe team is planning to look into?

[2022-09-12 17:00] ThinLizzy13 opened #3691 "Original vs Normalised Co-ordinates"
Hello,

Apologies if this is trivial but I'm wondering if there's something else I'm missing when it comes to how the normalised co-ordinates are calculated. I'm NSlogging the landmarks similar to this issue #2764 (https://github.com/google/mediapipe/issues/2740) to print out the landmarks coordinates.

I would've assumed to retrieve the original co-ordinates one should just multiply by the image

[2022-09-12 19:40] DanielSarmiento04 commented on #3677
try with python:3.8-slim-buster
example

`FROM python:3.8-slim-buster
`
`COPY . .
`
`
RUN pip install -r requirements.txt
`
`
CMD ["python", "main.py"]
`
![image](https://user-images.githubusercontent.com/90324959/189741222-cc6654e5-6777-4d02-a8cc-ffe92f848d8b.png)

[2022-09-12 23:28] 22pilarskil commented on #1325
This worked for me with an M1 MacAir, tysm

[2022-09-13 01:07] AlphaNote commented on #3681
Hi @kuaashish, Thank you for your comment.
I solved the problem by referring to #3674 and #3675. And I checked that the version has been upgraded to 0.8.11 in pip.

`mediapipe-0.8.11-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl`

[2022-09-13 01:07] #3681 closed

[2022-09-13 02:26] nurshafiza opened #3692 "Bazel can't recognize python binary path"
Hi, can you help me with this issue:

`ERROR: An error occurred during the fetch of repository 'local_execution_config_python':
   Traceback (most recent call last):
        File "C:/users/user/_bazel_user/bkk7hz7b/external/org_tensorflow/third_party/py/python_configure.bzl", line 213, column 33, in _create_local_python_repository
                python_lib = _get_python_lib(repository_ctx, python

[2022-09-13 03:09] nurshafiza commented on #3692
Update:
I've tried to run the command as below
`bazel build -c opt \
  --define MEDIAPIPE_DISABLE_GPU=1 \
  --action_env PYTHON_BIN_PATH=$(C://Python_3.10//python.ex) \
  mediapipe/examples/desktop/hello_world`

and seems the error occured when i ran `bazel build mediapipe/examples/desktop/hello_world`. This is the error:

`ERROR: An error occurred during the fetch of repository 'local_execution_c

[2022-09-13 03:55] kuaashish commented on #3685
Hi @Aarushi240, Could you confirm your query has been addressed as per the [above](https://github.com/google/mediapipe/issues/3685#issuecomment-1241870754) comment and move the issue to the close status as has been resolved. Thank you

[2022-09-13 06:30] gentnm commented on #3677
Please note that, using slim python images will result in problems with opencv (https://github.com/google/mediapipe/issues/3661) as they require additional dependencies.

For the issue here, it seems mediapipe only provides manylinux wheels, that are not supported on alpine systems.

[2022-09-13 07:17] kishor-e commented on #3692
Could you check if the python environment path is set `C:\Python_3.10\` . If so, try running this command

[2022-09-13 07:20] kuaashish commented on #3692
Hi @nurshafiza, It seems the command used to reproduce this issue is not clear. Could you provide the clear command and steps  to reproduce the issue. Thank you!

[2022-09-13 07:29] kishor-e commented on #3692
Could you check if Python Environment Path is set `C:\Python_3.10\` .                                                                                             If so try running this command `bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 --action_env PYTHON_BIN_PATH="C:\Python_3.10\python.exe" mediapipe/examples/desktop/hello_world` . If It still doesnt work try installing numpy and then t

[2022-09-13 07:54] UnlimitedX commented on #3405
Hi @mcclanahoochie
Thank you for your reply.

I tried and got this error :
![image](https://user-images.githubusercontent.com/6625963/189840612-da7fe7b9-08ee-4ad3-893f-8e69641231d0.png)

I realized I do have not the latest version of mediapipe and the TICK tag was added recently.
So I tried the following configuration based on my packet_cloner_calculator.cc file on my Docker image:
![image](https:

[2022-09-13 07:58] kuaashish commented on #3691
Hi @ThinLizzy13,
Could you please provide the complete details of the platform and solution which you are referring to.
Thank you!

[2022-09-13 09:11] ThinLizzy13 commented on #3691
Absolutely apologies.
I'm using iOS with all the latest versions. The solution is for the iris, however I would envisage that this would be applicable across all solutions that output co-ordinates.
Thanks !

[2022-09-13 10:23] sureshdagooglecom commented on #3673
Hi @Pradyumna-jain ,
Could you answer below questions.
Q: can you find any log messages indicating progress throug hgthe set of input images?
Q: are there more than one image in your input set?
If Yes, then let's debug the calculator which write the index.

[2022-09-13 11:34] Ar4enal opened #3693 "fatal error: 'third_party/GL/gl/include/EGL/egl.h' file not found"
I install mediapipe on ubuntu and try to build android apk.
Here is the command
`bazel build -c opt --config=android_arm64 mediapipe/examples/android/src/java/com/google/mediapipe/apps/holistictrackinggpu:holistictrackinggpu`

And this error shows during bazel build:
[code]

How to fix it?

[2022-09-13 13:26] lorinsherry1 commented on #133
which solution you find?

[2022-09-13 13:47] n-git commented on #133
I couldn't solve the problem, so I stopped responding.
I'm not checking right now, so I'll close the issue.

[2022-09-13 14:01] Mohit0928 opened #3694 "Getting totally different output from Mediapipe Hands Python API and tflite model"
I'm running inference using the [Python API](https://google.github.io/mediapipe/solutions/hands.html#python-solution-api) of **Hand Landmark Detection** to generate hand keypoint.

I'm running inference on the same image with [tflite model](https://storage.googleapis.com/mediapipe-assets/hand_landmark_full.tflite) of **Hand Landmark Detection**.

I haver created a Colab Notebook [here](https://col

[2022-09-13 14:42] charlottejuston opened #3695 "Output shape of the Hair segmentation model"
Hello,

How many channels has the output of the Hair segmentation model ?

In the `TfLiteTensorsToSegmentationCalculator` from the graph, there is
`tensor_channels: 2`
does that mean the output have 2 channels ?

In the model paper (https://arxiv.org/pdf/1907.06740.pdf), the output of the model only has one channel.

I want to use this graph with my own segmentation model, but its output has 1 cha