[2021-09-15 10:51] sgowroji commented on #1993
Hi @larserikfinholt, To prevent breaking changes from affecting your work, restrict your request to a <minor> number.  Please go through our [documentation](https://google.github.io/mediapipe/getting_started/javascript) to understand the implementation much better. Thanks!

[2021-09-15 11:04] sgowroji commented on #1812
Hi @kywq, Have you tried checking the above [comment](https://github.com/google/mediapipe/issues/1812#issuecomment-846459141).

[2021-09-15 11:16] kywq commented on #1812
Hi!! it is already solved, thanks a lot!!

[2021-09-15 11:16] #1812 closed

[2021-09-15 11:19] Vatsa0408 commented on #2544
Hi @sgowroj, Thanks for the quick reply.
Sorry i forgot to attach the traceback log
Here is the log
[code]
When i changed it to False, i get the same log, but with ```Invoked with: 'False'```

[2021-09-15 11:28] sandesh1994199 opened #2545 "Failed to build mediapipe package in python using bazel in Windows Linux Subsystem, ubuntu 18.04"
- OS Platform and Distribution :Windows linux subsystem, ubuntu 18.04
- Bazel version: 3.7.2

@sgowroji I am facing a error as mentioned below

(mp2_env) snagaraj@-0:/mnt/c/users/snagaraj/Documents/git_repos/git_IRIS$ python3 setup.py install --link-opencv
running install
running build_binary_graphs
fail to get bazel version by $ bazel --version: b"\x1b[31mERROR: The project you're trying to build

[2021-09-15 11:38] sgowroji commented on #2545
Hi @sandesh1994199, Could you please share the complete error logs to understand the issue. Thanks!

[2021-09-15 11:40] sandesh1994199 commented on #2545
@sgowroji  I have shared the complete error logs. I do not know what information is required apart from above.

[2021-09-15 11:40] arianatri opened #2546 "ReferenceError: navigator is not defined - (mediapipe face)mesh.js)"
I ran yarn build  ( building next js) and this error poped up
==>
ReferenceError: navigator is not defined
    at Object.<anonymous> (/var/www/app/frontend/node_modules/@mediapipe/face_mesh/face_mesh.js:74:288)
    at Object.<anonymous> (/var/www/app/frontend/node_modules/@mediapipe/face_mesh/face_mesh.js:129:472)
    at Module._compile (internal/modules/cjs/loader.js:1072:14)
    at Object.Module

[2021-09-15 11:42] sgowroji commented on #2546
Hi @arianatri, Could you please provide the steps to reproduce the above error. Thanks!

[2021-09-15 11:56] Swapnilsable20 commented on #2385
@sgowroji
Same error as @Terence-I
Help

[2021-09-15 12:09] arianatri commented on #2546
install next js (obv : |)
add facemesh to project
create a component that has facemesh used in it
and at last
yarn:build project_name

will give you that error

[2021-09-15 12:55] arianatri commented on #2546
in facemesh.js
we have an error in line 147 :

.includes(navigator.platform)||navigator.userAgent.

[2021-09-15 15:21] dennis-gojitech commented on #2097
I would be great to get an update. I am facing the same issues as @dajuric (see image). The error happens after a hand.send().
I've gotten similar code running fine as a standalone webapp. It would be helpful to see the hackathon code, if possible.
<img width="381" alt="Screen Shot 2021-09-15 at 11 16 31 AM" src="https://user-images.githubusercontent.com/85752261/133461187-8d31476f-8c6e-4557-b335-

[2021-09-15 17:03] Swapnilsable20 commented on #2385
@Terence-I
Did u solve ur error..
If yes..
Pls tell me..
I am in the same trouble too

[2021-09-15 17:25] mattrossman commented on #2526
Could someone clarify what the difference is between the various distributions?

From what I can tell, the original [@tensorflow-models/facemesh](https://www.npmjs.com/package/@tensorflow-models/facemesh) package (now deprecated) corresponded to the model from this paper: [Real-time Facial Surface Geometry from Monocular Video on Mobile GPUs](https://arxiv.org/abs/1907.06724)

The subsequent relea

[2021-09-15 17:34] jiuqiant commented on #2544
Can you verify  staticMode, smooth, enable_segmentation, and smooth_segmentation are all bool type (not str type) in Python before calling self.pose = self.mpPose.Pose(...) ? Another thing to try is to set just one of them in self.pose = self.mpPose.Pose(...) to identify which causes problem.

[2021-09-15 17:41] mhays-google commented on #2097
We don't recommend hand editing the minified loader to embed a path.  The issue is still that you are not plugging in the correct path to `locateFile` when creating a new instance of Hands.

The hackathon code is internal to Google, I won't be able to release it.

My advice is to monitor the fetches and see the path that is described in the 404.  If it is not the same path in which you are storing

[2021-09-15 17:48] mhays-google commented on #2145
The results are given back normalized from 0..1.  Is it possible that your
different devices are using a slightly different aspect ratio, and is not
actually matching the aspect of the canvas?

On Wed, Sep 15, 2021 at 3:15 AM GowrojiSunil ***@***.***>
wrote:

[2021-09-15 17:50] mhays-google commented on #2192
This is a good idea.  I can't promise a time frame, but I have that OCD you describe.  Will add to TODO list.

[2021-09-15 18:29] dennis-gojitech commented on #2097
From what I can tell, after hacking the minified code, all the files (js, data, binarypb) are loaded properly (painful but it works). I will try to set the correct path with locateFile to see if that changes anything.
I am now investigating using tfjs directly instead of mediapipe-hands.
Can you tell us if the hackathon code used mediapipe-hands directly or other libraries, like tfjs?

[2021-09-15 18:29] badlogic commented on #2526
I went with @tensorflow/face-landmarks-detection after all. It appears the
mediapipe landmark detector exhibits better temporal coherence, i.e. less
jitter, and slightly better inference performance. But it's not fit for
puppeteering tasks.

@tensorflow/face-landmarks-detection with enabled iris model is pretty
heavy computationally, so even on a desktop device, e.g. a macMini with
integrated Inte

[2021-09-15 18:44] tyrmullen commented on #2097
I believe the hackathon code mentioned was using the MediaPipe JS Hands Solution directly.  Also, for locateFile usage, perhaps the comments on this issue can be of help: https://github.com/google/mediapipe/issues/1812

[2021-09-15 18:55] tyrmullen commented on #2528
As mentioned on the Chromium bug, I think it's likely that this is not a duplicate issue, but also not a MediaPipe issue.

- Issue #2506 is that MediaPipe JS Solution APIs do not run in web workers.

- This issue appears to be with the TF.js WebGL backend running our facemesh model.  Aside from using our ML model (MediaPipe often shares models with TF.js), I don't think there's any MediaPipe code

[2021-09-15 18:55] #2528 closed

[2021-09-15 20:22] tyrmullen commented on #2526
Traditionally for MediaPipe we say facemesh to refer to retrieving face landmarks, while iris detection is a secondary refinement ML model which can be optionally applied afterwards.  For reference, see the graphs for iris-tracking-on-top-of-face-landmarks (visualization and live web-demo here: [https://viz.mediapipe.dev/demo/iris_tracking](https://viz.mediapipe.dev/demo/iris_tracking), as mention

[2021-09-15 20:41] mgyong commented on #2187
@mheskol Sorry for late reply. We currently don't have plans for porting object detection to the web. That said, we are trying to open source some version of  the MediaPipe web framework so that developers can use their MP graphs on the web. Its interesting that your company has object detection for android & iOS running. Would be great if you could share your company name and use case, we would p

[2021-09-15 20:52] tyrmullen commented on #2187
We did release the MediaPipe Objectron JS Solution API for object detection, although I'm not sure if that fits into your use case or not.  See [codepen demo](https://codepen.io/mediapipe/pen/BaWvzdY) and [reference documentation](https://google.github.io/mediapipe/solutions/objectron.html#javascript-solution-api).

Also, there has been some progress in open-sourcing the WebAssembly portion of the

[2021-09-15 21:08] tyrmullen commented on #877
As an aside, @evanbrown3000: We recently released a MediaPipe JS Solutions API for Objectron.  See [codepen demo](https://codepen.io/mediapipe/pen/BaWvzdY) and [reference documentation](https://google.github.io/mediapipe/solutions/objectron.html#javascript-solution-api).

[2021-09-15 21:27] tyrmullen commented on #1818
This issue is a multi-part request with a lot of smaller pieces, so for the sake of completeness, detailing the subpieces here for future reference:
- WebGL1/OpenGLES2.0 compatibility
- Open-sourcing the JS Solutions build process

With fixes like those in #1427, JS Solutions should all be WebGL1/GLES2.0-compatible now, so the first part of the request is fulfilled.

However, the JS Solutions buil

[2021-09-15 23:57] kostyaby commented on #2520
Hey @abedicodes,

This is not something MediaPipe provides publicly at the moment, so you'd have to build such system on top of the face mesh solution

[2021-09-16 00:01] abedicodes commented on #2520
Thanks

[2021-09-16 00:01] #2520 closed

[2021-09-16 00:02] #2522 closed

[2021-09-16 02:18] ForLovelj opened #2547 "SIGSEGV(SEGV_MAPERR)"
I use pose_traking_gpu in a android project and sometimes I get this error

error log:
[code]
[code]

[2021-09-16 04:11] sgowroji commented on #2547
Hi @ForLovelj, Could you please share  your steps to reproduce the issue. And also graph &  code changes if there are any. Thanks!

[2021-09-16 04:20] Jwy-jump opened #2548 "why tensorflow protos in mediapipe/calculators/tensorflow IGNORE"
python questions:

the erro:
tensorflow/core/framework/types.proto: File not found.
mediapipe/calculators/tensorflow/vector_int_to_tensor_calculator_options.proto: Import "tensorflow/core/framework/types.proto" was not found or had errors.
mediapipe/calculators/tensorflow/vector_int_to_tensor_calculator_options.proto:42:12: "tensorflow.DataType" is not defined.
I find in setup.py:
      for proto_

[2021-09-16 04:30] sgowroji commented on #2548
Hi @Jwy-jump, Could you please share the error logs and steps to reproduce the above error. Thanks!

[2021-09-16 04:32] Jwy-jump commented on #2548
@sgowroji yes ,I want to add  some calculators defined under tensorflow directory, when i run python3 setup.py gen_protos:
tensorflow/core/framework/types.proto: File not found.
mediapipe/calculators/tensorflow/vector_int_to_tensor_calculator_options.proto: Import "tensorflow/core/framework/types.proto" was not found or had errors.
mediapipe/calculators/tensorflow/vector_int_to_tensor_calculator_o

[2021-09-16 04:35] Jwy-jump commented on #2548
thanks a lot and wait for your reply!

[2021-09-16 06:07] mathmax12 opened #2549 "Easy way to get the score for hand tracking from results.multi_handedness"
When   print(results.multi_handedness):
I got :

[code]

Is there an easy way to get the score in python?

[2021-09-16 06:29] sgowroji commented on #2549
Hi @mathmax12, Yes you can use the results to check the score and label  mentioned above.

[2021-09-16 06:40] sgowroji commented on #1726
Hi @nitinkatyal1314, Are you still looking resolution for the above query, Thanks!

[2021-09-16 06:43] guker opened #2550 "question about bounding box of pose detection"
Hello, I have some question about bounding box of pose detection
i test some images and plot as follow( green bounding box is the output of pose detection):
![image](https://user-images.githubusercontent.com/4830247/133563297-eb11f727-cdbc-492a-8e4c-152a47a8a1c1.png)
![image](https://user-images.githubusercontent.com/4830247/133563338-1feedf64-902f-48bb-8089-d613ccc01d20.png)
two question:
1.   wh

[2021-09-16 07:21] fortminors commented on #1162
@maletsden Hello! Thanks for providing that info. How would I build the .dll. I am new to Bazel, and tried to run `bazel build -c opt mediapipe/examples/desktop/face_mesh_dll:face_mesh_lib` but it gave me this output with an error:

[code]

How did you manage to build the DLL? Thanks!

[2021-09-16 07:53] sgowroji commented on #2550
Hi @guker,  There is already a duplicate issue with above query https://github.com/google/mediapipe/issues/2140.  is open. And will try to get the resolution from the concern engineer on that issue.

[2021-09-16 07:53] #2550 closed

[2021-09-16 08:12] arijith96 commented on #1874
Hi @ANK-VALUES ,
Since you had closed this issue, I assume that you were able to get the tracked anchors on the java side too. :)

Could you please explain how you proceeded? I am also trying to obtain the tracked anchor data..

[2021-09-16 08:29] DLGL99GL commented on #3
May I ask which file path is modified specifically？

[2021-09-16 08:30] fortminors commented on #1162
@maletsden Since I've managed to build successfully, I can't find the dll file that it should produce. I was searching for `face_mesh_lib.dll`. I fail to understand where Bazel would put the files.

[2021-09-16 08:33] 11676670 commented on #3
#git clone https://github.com/google/mediapipe.git

#cd mediapipe

#vi &nbsp;WORKSPACE&nbsp; &nbsp; &nbsp; &nbsp;//this WORKSPACE&nbsp; file

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年9月16日(星期四) 下午4:29
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [google/mediapipe] Fail to pull in MediaPipe&#39;s external dependencies due to unstab

[2021-09-16 09:22] #2430 closed

[2021-09-16 13:11] arijith96 opened #2551 "Attaching attaching to moving objects permanently"
**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Ubuntu 20.02 Android 11 Android Studio with Gradle AAR
- [MediaPipe version](https://github.com/google/mediapipe/releases):
- Bazel version: v0.8.6
- Solution (e.g. FaceMesh, Pose, Holistic): Instant Motion Tracking
- Programming Language

[2021-09-16 13:12] arijith96 commented on #2049
Hey @jianingwei, I think you could provide some insights in #2551. Looking forward to hearing from you :D

[2021-09-16 15:54] Amrit9939 commented on #1459
i get this issue in chrome. how can i resolve it. thanku

[2021-09-16 16:12] jianingwei commented on #2551
Tracker works when you define a custom object/region as the initial bounding box. It doesn't do object detection, and relies on the initial bounding box provided to see the tracking. Inside RegionTrackingSubgraph, it analyzes global and local motion and estimate motion of the defined region/box. Occlusion can be a problem since some of the local features are "take away" by the occluding object. Sa

[2021-09-16 16:50] mathmax12 commented on #2549
if I want to access the label only what's the right way to do it.
print(results.multi_handedness[0].classification["score"])

[code]

[2021-09-16 18:37] TomHsiao1260 commented on #2407
Yes, it works. Sorry for the late reply. Thanks @AmitMY, btw, the project you're working on looks great! I think I can close this issue now.

[2021-09-16 18:37] #2407 closed

[2021-09-16 22:30] mheskol commented on #2187
Thanks for the response @mgyong . My company name is IDWise (idwise.com) and we used object detection as part of our smart document processing solution. It allows businesses to add smart document capture capabilities to their apps and use the platform to extract data using AI, NLP, ...etc.

Yes open sourcing these frameworks would be very brilliant idea and would allow the community to contribute

[2021-09-17 02:27] kingmacth commented on #1951
Why has no one answered this question?

[2021-09-17 03:52] sgowroji commented on #2549
Hi @mathmax12, You can try the solutions from this https://github.com/google/mediapipe/issues/1374 issue

[2021-09-17 04:12] yegenzhi commented on #1951
I don't think you can expect output_frame, output_detection, and output_track all come together. while output_frame produce rendered image every frame, output_track will only output results after track starts. And output_detection has valid output only for sparse frames.

You probably need to decouple the three and align them with timestamps.

[2021-09-17 06:01] zcl912 commented on #2091
yeah, i met the error too, i just add  #include "mediapipe/framework/formats/landmark.pb.h"  to demo_run_graph_mai.cc, and  modify the BUILD(in /desktop/pose_tracking/BUILD) like:
licenses(["notice"])

package(default_visibility = ["//mediapipe/examples:__subpackages__"])

cc_binary(
    name = "pose_tracking_cpu",
    # srcs = ["landmark.pb.cc","landmark.pb.h"],
    deps = [
        "//mediapipe/

[2021-09-17 06:03] zcl912 commented on #2091
hi,  the error solved? can you tell me how to solve it

[2021-09-17 06:22] #2469 closed

[2021-09-17 06:54] sujilal opened #2552 "how we can reduce the tremble from the mediapipe hand detection"

[2021-09-17 07:13] wangzi815 opened #2553 "How to convert Bitmap to textureFrame?"
About mediapipe hand tracking:
In python,i can process an image in static image mode or video stream mode,only simply set static_image_mode True or False.But when i process an image in android,if i set video stream mode,it gets err.It seems need to convert Bitmap to textureFame,how can i implement it?

[2021-09-17 07:20] sgowroji commented on #2552
Hi @sujilal, Could you please elaborate your query with complete details. Thanks!

[2021-09-17 07:24] sgowroji commented on #2553
Hi @wangzi815, Could you please provide your code changes and error logs to understand and investigate the issue further.  Thanks!

[2021-09-17 07:29] DavinFun opened #2554 "Mediapipe support two input streams(video and audio) ?"
![image](https://user-images.githubusercontent.com/57086754/133742374-1ea4a9ba-1a74-4568-b6ee-854e9bc50711.png)

i input two streams,but it run failed.

[2021-09-17 07:48] wangzi815 commented on #2553
no code changes,In android,just setMode(HandsOption.STREAMING_MODE),and hands.send(bitmap)，i input an image,not a video.In python,when i input an image,and set static_image_mode = False,also get the result.How can i implement it in android like in python?

[2021-09-17 08:01] LTYF opened #2555 "posetracking，why blank screen when some devices are started for the first time？"
when i use aar to build a project，Some devices will be blank screen when they are started for the first time。
but use build_android_examples.sh is normal，the code is same，why？

[2021-09-17 08:16] LTYF opened #2556 "why i build the posetracking aar's size more than 120M? others download from internet is 10M?"
is model different?
and how to choose model for mobile(android)？

[2021-09-17 08:19] sujilal commented on #2552
@sgowroji:  The mediapipe hand detection model after taking the frame getting tremble, you can check the example which mediapipe published. if I load any image using the mediapipe model, the image starts to tremble

[2021-09-17 09:17] sgowroji commented on #2555
Hi @LTYF, Could you please provide below details to investigate the issue for further.

1. Device used for testing the above.
2.  Did you encounter any error logs or ANR's during blank screen? If yes can you share the Bug report of the blank screen device.

Thanks!

[2021-09-17 10:01] DLGL99GL opened #2557 "ERROR: An error occurred during the fetch of repository 'local_config_git': Error in fail: Git Configuration Error: Traceback (most recent call last):"
![image](https://user-images.githubusercontent.com/69023459/133763605-9a74b785-bc97-4515-a488-ed546b152cb5.png)
Ubuntu 18.04
gcc version:7.5.0
bazel:3.7.2
OpenCV：3.4.15

it's OK when I bazel build hellow world;
but is not work in other example,likes hand_tracking  :
bazel build -c opt --copt -DMESA_EGL_NO_X11_HEADERS --copt -DEGL_NO_X11 \ mediapipe/examples/desktop/hand_tracking:hand_tracking_gpu

[2021-09-17 10:08] LTYF commented on #2555
hi，
1、 oppo R15x（Android 10），huawei mate 10（Android 10）
2、there is not any differnet log while blank screen 。but  show more time for below：
2021-09-17 18:06:13.746 16986-17003/com.lutongnet.pose E/Camera: Test  native_release Begin
2021-09-17 18:06:13.746 16986-17003/com.lutongnet.pose E/Camera-JNI: Test release camera
2021-09-17 18:06:13.746 16986-17003/com.lutongnet.pose E/Camera: Test  native_r

[2021-09-17 13:48] DLGL99GL commented on #2557
oh ，Got the wrong keyword of logs,  when  I search "ImportError: No module named builtins" ,found a solution,install future ：

pip install future

[2021-09-17 13:48] #2557 closed

[2021-09-17 15:14] HarryWindsor commented on #2453
@ecartman2208 no I did not find a solution yet. Right now, I am working on the same problem in another repo https://github.com/61315/mediapipe-iris-ios/issues/2. But I habe the problem that I am `Unable to find Calculator`.

[2021-09-18 00:40] SutirthaChakraborty opened #2558 "Relative position for mediapipe Pose model"
<em>Please make sure that this is a feature request.</em>

**System information** (Please provide as much relevant information as possible)

- MediaPipe Solution (you are using): Pose 3D
- Programming language : Python
- Are you willing to contribute it (Yes/No): No

**Describe the feature and the current behavior/state:**
A argument, which will enable to create a 3D plane and generate the **_3D r

[2021-09-18 01:23] ForLovelj commented on #2547
@sgowroji Sorry, that's a low probability question. I can't reproduce the issue.
The framework code only changes this one:
[code]

[2021-09-18 01:52] LTYF commented on #2555
i found different execution sequences：
normal：
surfaceChanged  -> onCameraStarted

error：
onCameraStarted  -> surfaceChanged

[2021-09-18 08:11] Emad-Eldeen opened #2559 "Could not release for iOS"
**System information**
- OS Platform and Distribution:  iOS 14.5
- MediaPipe version: v0.8.7.1
- Bazel version: 4.2.1
- XCode: 12.5.1
- Tulsi: 0.20210318.88
- MacOS: 11.5.2

**Describe the problem**:
After building the Handtracking project in XCode, I tried to archive from (Product -> Archive).
The building and the archiving processes are completing successfully (as shown in the attached snapshots

[2021-09-18 08:36] HarryWindsor commented on #2453
@61315 was able to set up a working graph. The only thing thats missing now are the right smoothing parameters for the `one_euro_filter`. https://github.com/61315/mediapipe-iris-ios/issues/2#issuecomment-922240599

[2021-09-18 08:36] #2453 closed

[2021-09-18 09:47] zwaittt commented on #877
@prantoran  Hello, appreciate for the solutions you shared which really helps a lot. Otherwise, I've tried the live demo present in your own MediaPipe repo but I'm wondering that why the performance seems much worse than the official web demo, is there any known cause with your custom code ?

[2021-09-18 11:48] raghavendrajain commented on #1606
@mhays-google Hi, I can't find where is that new version with the changes you made, can you pls give us the URL. Thanks!

[2021-09-18 14:50] Tortoise17 opened #2560 "Automated video length reduction based on content"
I am using autoflip on CentOS for the videos and that tool works perfect.
I want to ask that as this is intelligent engine which detects the important content for cropping. Is it possible to reduce the video length (by fixing maximum time) based on this content.

Apparently this is question of video summarization, but the normal summarization is based on nlp approach what is spoken in the video or

[2021-09-18 16:00] arijith96 commented on #2551
Hi @jianingwei,

many thanks for your reply. Understood many concepts by going through your paper :)

Could you please guide me on how I could go about using the custom region tracker along with instant motion tracking? My use case would be: The user would draw a bounding box on the screen around an object (for example a laptop) of interest. This is the region that we would need to track (300x300

[2021-09-19 15:28] sek790c commented on #859
Why close the issue without a explain?

[2021-09-19 17:05] sek790c opened #2561 "ios_static_framework has some problem"
Only static framework will not be refused by App Store,I read the doc and build ios_static_framework,import it to a Xcode project which is exported from unity 3d.
When I run the target，I got many mistakes such as:

Showing Recent Messages
Undefined symbol: _glBindAttribLocation

Undefined symbol: _glValidateProgram

Undefined symbol: _glDeleteShader

Undefined symbol: _glLinkProgram

Undefined sym

[2021-09-19 17:11] sek790c commented on #2561
Build file of mediapipe/examples/iOS/common
licenses(["notice"])  # Apache 2.0

objc_library(
    name = "CommonMediaPipeAppLibrary",
    srcs = [
        "CommonViewController.mm",
    ],
    hdrs = [
        "CommonViewController.h",
    ],
    sdk_frameworks = [
        "AVFoundation",
        "CoreGraphics",
        "CoreMedia",
        "UIKit",
    ],
    visibility = ["//mediapipe:__subpacka

[2021-09-19 18:06] 9Guru opened #2562 "This error showed up in Pose Estimation, Anyone plz help"
Traceback (most recent call last):
  File "c:\Users\Hp\Documents\Python Projects\Hand Tracking\test.py", line 62, in <module>
    main()
  File "c:\Users\Hp\Documents\Python Projects\Hand Tracking\test.py", line 44, in main
    detector = PoseDetector()
  File "c:\Users\Hp\Documents\Python Projects\Hand Tracking\test.py", line 17, in __init__
    self.pose = self.mpPose.Pose(self.mode, self.upBody

[2021-09-19 18:44] dragonballa opened #2563 "shaky face mesh"
In the [codpen ](https://codepen.io/mediapipe/pen/LYRRYEw) web demo for face mesh tracking. I notice it is extremely shaky/jumpy. Like the mesh seems to quiver and not stay fixed in one place. I need to use to control 3d mesh objects, how can I "smoothen" the face mesh tracking on webcam? because otherwise my 3d avatar character also starts to shake lol

[2021-09-19 20:00] 1kaiser opened #2564 "Can we run on tpuv3 on Google colab ?"

[2021-09-19 20:04] ibrandiay commented on #2505
Thank you I see that it is possible to use ssd lite mobilenet. thank you so much

[2021-09-19 20:04] #2505 closed

[2021-09-20 04:30] sgowroji commented on #2561
Hi @sek790c, Could you please point us the code from where you have imported and steps to reproduce the above error. Thanks!

[2021-09-20 04:58] prantoran commented on #877
@zwaittt The face mesh is slow because my demo code was drawing the filled circles for the landmarks using '2d' context, instead of using 'webgl2' context. I tried drawing with 'webgl2' context but code was pretty complicated. I think reference for how to draw fast can be found in [`draw_utils`](https://www.npmjs.com/package/@mediapipe/drawing_utils).

[2021-09-20 06:21] sgowroji commented on #2562
Hi @9Guru, Could you please provide the steps to reproduce the above error. Thanks!

[2021-09-20 06:37] 9Guru commented on #2562
### This is the code for the Pose Estimation module when I run this I get this error please help

[code]

[2021-09-20 06:40] 9Guru commented on #2562
### This is the code for the Pose Estimation module when I run this I get this error please help

[code]

[2021-09-20 07:02] Vatsa0408 commented on #2544
@jiuqiant , Thank you for the answer provided. I will implement these solutions and update you with the solutions

[2021-09-20 07:49] Vatsa0408 commented on #2544
Hi @jiuqiant, staticMode, smooth, enable_segmentation & smooth_segmentation are all bool types.
Here is how i extract them in my python program
[code]

As you mentioned, i tried to call only one value as following
[code]
The program runs fine if i provide only a single parameter. But if i provide all the parameters, i get the same error.
I have also attached the error log
[code]

[2021-09-20 09:03] sgowroji commented on #2563
Hi @dragonballa, Could you please provide a reference video to illustrate the above error. Thanks!

[2021-09-20 09:06] sgowroji commented on #2564
Hi @1kaiser, Could you please elaborate how above query related to mediapipe ?. You can [refer this](https://stackoverflow.com/questions/64735682/use-tpu-v3-in-google-colab-pro)  for above query from other platforms.

[2021-09-20 10:17] chan27-2 commented on #2500
sorry for the delayed reply, I am using mediapipe/ latest versions and also check in chrome there are no 400/404 errors.
how do I check latest version of binarypb and js code?

[2021-09-20 10:43] sgowroji commented on #2562
Duplicate https://github.com/google/mediapipe/issues/2544

[2021-09-20 10:50] 9Guru commented on #2562
I didn't get u

[2021-09-20 18:08] 1kaiser commented on #2564
can we run https://github.com/huggingface/accelerate with mediapipe on google colab version with tpu enabled

[2021-09-20 18:39] JJBT commented on #1698
@mufaawan could you please share a code-snippet that converts face to Texture Map. I would be really appreciate it.

[2021-09-20 18:55] tyrmullen commented on #877
I think the CodePen demos (although not the Visualizer ones) actually use '2d' context rendering as well, but they're fairly well-optimized for that case (so draw_utils might be a good reference still).  Although as prantoran@ mentions, 'webgl2' rendering would be faster.  Probably the easiest way to do that would be to build that into the MediaPipe graph itself, like any normal OpenGL-based (gpu/

[2021-09-20 19:00] tyrmullen commented on #2500
@mhays-google created all of our staging and versioning processes, so I'm rerouting this question to him

[2021-09-20 20:13] Xlypton opened #2567 "Android Solution APIs Hands example: the solution example app crashes or freezes"
**System information**
- OS Platform and Distribution: Android 11, Andorid 9
- Mobile device: OnePlus HD1913, Xiaomi Mi 6
- MediaPipe version:  v0.8.7.1
- Solution: Hands

**Describe the current behavior:**
After a short time the app crashes or completely freezes. Running on GPU or CPU yields the same results.

**Other info / Complete Logs :**
I get these errors:
`A/libc: Fatal signal 11 (SIGSEGV)

[2021-09-21 03:46] sgowroji commented on #2567
Hi @Xlypton, Did you use the Android gradle solution or Android AAR ? Could you please share the steps to reproduce the above error. Thanks!

[2021-09-21 04:03] sgowroji commented on #2562
Hi @9Guru, Can you try this solution mentioned in this https://github.com/google/mediapipe/issues/2544#issuecomment-920225813.  #2544 has same error with same code changes.

[2021-09-21 04:22] #2311 closed

[2021-09-21 04:39] sgowroji commented on #2564
Hi @1kaiser, We have not tested  it.  But you can try sharing your observations, if there are any errors. Thanks!

[2021-09-21 04:42] sgowroji commented on #2555
Hi @LTYF, It would not be easy for us without the error logs to investigate the issue. Can you share a video recording of the blank screen shown on the device.  And Thank you for sharing your observation in this https://github.com/google/mediapipe/issues/2555#issuecomment-922159294, were you able to resolve the above error. Thanks!

[2021-09-21 05:12] sgowroji commented on #2552
Hi @sujilal, On which platform are you facing the above error. Can you provide a video reference of the above observation and any error logs to investigate it for further. Thanks!

[2021-09-21 05:22] sgowroji commented on #2545
if you are building the code in docker, try checking this https://github.com/google/mediapipe/issues/2236#issuecomment-871656205. Reach us back if you still have the above error. Thanks!

[2021-09-21 07:59] DLGL99GL commented on #1673
I modified 2 files image_to_tensor_converter_opencv.cc and image_to_tensor_converter_gl_buffer.cc. Code below
return tensor;
was replaced by
return absl::StatusOr<mediapipe::Tensor> ( mediapipe::Tensor(std::move(tensor)) );

[2021-09-21 08:00] DLGL99GL commented on #1673
@khanhnd0408 , does your code in file mediapipe/calculators/tensor/image_to_tensor_converter_gl_buffer.cc, line 341 look like the following?

return std::unique_ptr<ImageToTensorConverter>(std::move(result));
I modified 2 files image_to_tensor_converter_opencv.cc and image_to_tensor_converter_gl_buffer.cc. Code below
return tensor;
was replaced by
return absl::StatusOrmediapipe::Tensor ( mediapipe

[2021-09-21 08:12] sn1c3 opened #2568 "Are the holistic z values dependable?"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
- OS Platform and Distribution: Ubuntu18.04
- [MediaPipe version](https://github.com/google/mediapipe/

[2021-09-21 08:20] DLGL99GL commented on #1673
@khanhnd0408 , does your code in file mediapipe/calculators/tensor/image_to_tensor_converter_gl_buffer.cc, line 341 look like the following?

return std::unique_ptr<ImageToTensorConverter>(std::move(result));
I modified 2 files image_to_tensor_converter_opencv.cc and image_to_tensor_converter_gl_buffer.cc. Code below
return tensor;
was replaced by
return absl::StatusOrmediapipe::Tensor ( mediapipe

[2021-09-21 08:21] Xlypton commented on #2567
Hey @sgowroji, I used the gradle solution. I simply built the Hands solution example app and installed on my physical devices.

[2021-09-21 08:52] sgowroji commented on #2567
Hi @Xlypton, There is already an [open issue](https://github.com/google/mediapipe/issues/2446) and our Engineering team is also working on it.  Please subscribe to that issue for further details. We are marking this issue as duplicate of https://github.com/google/mediapipe/issues/2446

[2021-09-21 09:01] sgowroji commented on #2568
Hi @sn1c3,
1. Documentation is upto date. Could you please add your use case w.r.t to it.
2. You can use this [code](https://google.github.io/mediapipe/solutions/pose.html#python-solution-api). to run python pose solution on static images for pose and [hands](https://google.github.io/mediapipe/solutions/hands.html#python-solution-api).

[2021-09-21 09:05] sn1c3 commented on #2568
Hi @sgowroji,

thank you for the fast answer.

Sorry, I wasn't very accurate on my question. I need to use pose and hand model on a video stream, is this still possible?

[2021-09-21 09:08] natarajakm commented on #2332
@sgowroji: yes still I am facing issue.
What I understood from my R&D on the above issue. media pipe will not works on GPU
s which don't have FLOAT32 support.

[2021-09-21 10:13] sandesh1994199 commented on #2545
I am fallowing #1530 to implement iris in python in docker. But i run python3 setup.py bdist_wheel this command

![image](https://user-images.githubusercontent.com/78213614/134153303-61ddba08-70a8-4bfc-a8d6-d0123889d8ec.png)

No progress

[2021-09-21 10:15] sandesh1994199 commented on #1530
I am fallowing #1530 to implement iris in python in docker. But i run python3 setup.py bdist_wheel this command

![image](https://user-images.githubusercontent.com/78213614/134153550-71568676-6257-4068-bf3b-2fe906ca45bb.png)

[2021-09-21 10:23] sn1c3 commented on #2568
okay, the solution was relatively simple. Just add this on the beginning:

[code]

[2021-09-21 10:23] #2568 closed

[2021-09-21 10:27] thanasisfitsios opened #2569 "Error on youtube8m feature extraction: Op type not registered 'DecodeJpeg'"
**System information**
- OS Platform and Distribution: Mac OS BigSur 11.6
- Bazel version: 4.2.1
- Mediapipe version: 0.8.7.1
- Solution: Youtube8m
- Programming Language and version: Python 3.7.11
- Tried with both Tensorflow 1.14 and 2.6, had the same issue

Hi! I have been trying to extract video features with youtube8m following the instructions [here](https://google.github.io/mediapipe/soluti

[2021-09-21 10:57] tvanier commented on #2506
@AmitMY for the loading path, maybe try the `URL` constructor with `origin` as second argument?
[code]

[2021-09-21 11:04] tvanier commented on #2506
and +1 for a lower-level API (ImageBitmap) with support for web workers (I use selfie-segmentation)
where should I upvote? ;-)

[2021-09-21 12:20] rogomezto opened #2570 "Iris depth error in python"
I'm trying to use iris depth in python through a webcam (using [this ](https://github.com/google/mediapipe/issues/1530#issuecomment-790210796)compilation guide) and after processing the first frame it crashes and give me the following error:
[code]
Can someone help me to solve this error?

[2021-09-21 13:43] AndreV84 commented on #1094
I am observing the same missed android NDK while building on Jetson
any ideas?

[2021-09-21 15:05] AndreV84 commented on #1220
Hi
How is it going?
Is t known why with the newest basel the effort to build an example from the mediapipe repository ends up with requirement to get First Android NDK that if I manually comment then it ends up with different error:
[code]

[2021-09-21 15:07] AndreV84 opened #2571 "Basel5/Jetson arm"
How to address ios bazel errors/ android ndk errors on arm jetson with basel Release 5.0.0-pre.20210913.1 (2021-09-17) ?
[code]

[2021-09-21 15:45] sek790c commented on #2561
Just add opengles.framework to the project will solve the question

[2021-09-21 16:06] sgowroji commented on #2571
Hi @AndreV84, Could you please provide the steps to reproduce the above errors. Thanks!

[2021-09-21 16:09] AndreV84 commented on #2571
@sgowroji
Could you share steps how not to run into these issues, please?
I just tried hello world/ hand example build with bazel of the latest version

[2021-09-21 16:15] AndreV84 commented on #2571
steps to reproduce
install on jetson/ or desktop
Release 5.0.0-pre.20210913.1 (2021-09-17)
then try to build the hello world or hand tracking examples

[2021-09-21 16:16] AndreV84 commented on #2571
@sgowroji it is not the platform specific issue, in my opinion
it is bazel version specific version issue, as it seems to me
unless the mediapipe scripts after detecting arm platform decided that it is ios or android platform automatically
you should be able to run into the same issue on x86_64 if you try

[2021-09-21 16:20] jianingwei commented on #2551
Yes, you can check out the mediapipe/graphs/instant_motion_tracking/instant_motion_tracking.pbtxt graph and see how you can connect region tracking with actually doing the AR placement. This requires the IMU input. If you want to see how the IMU signal is piped through, you can checkout the app: mediapipe/examples/android/src/java/com/google/mediapipe/apps/instantmotiontracking/

[2021-09-21 16:20] AndreV84 commented on #2571
Could you explain why at all it starts to load android/ ios packages for bazel?

[2021-09-21 16:27] AndreV84 commented on #2571
is there an easy way to disable the ios/ android dependencies while building desktop example?

[2021-09-21 16:34] nelsontseng0704 opened #2572 "When a video segmented into shots by ShotBoundaryCalculator, can we get metadata such as shot ID, shot start time and shot end time in scene_cropping_calculator.cc"
In Autoflip, when a video segmented into shots by ShotBoundaryCalculator, can we get metadata such as shot ID, shot start & end time in scene_cropping_calculator.cc?

For now, we can get (camera viewpot x,y,w,h) by adding std::string render_frame_string = render_frame.DebugString() after line  644 in SceneCroppingCalculator.cc.

We would like to combine two metadata together E.G:  (shot ID, shot s

[2021-09-21 16:36] AndreV84 commented on #2571
probably it is an issue with mediapipe workspaces file

[2021-09-21 17:54] jianingwei commented on #2551
More reading on this subject: https://developers.googleblog.com/2020/08/instant-motion-tracking-with-mediapipe.html

[2021-09-21 18:53] Max-Korsakov opened #2573 "Typo in the code example"
Thank you for submitting a MediaPipe documentation issue.
The MediaPipe docs are open source! To get involved, read the documentation Contributor Guide
## URL(s) with the issue:

https://google.github.io/mediapipe/solutions/face_detection#javascript-solution-api

## Description of issue (what needs changing):
Typo in the JS code example. Put a comma between object's properties in the faceDetection

[2021-09-21 19:06] sergweb commented on #1673
Here is my working code with all modifications I made on top of original mediapipe (in case you would like to compare): [drowsiness_detector](https://github.com/sergweb/mediapipe/tree/drowsiness_detector). Check [/_build_iris_tracking_gpu.sh](https://github.com/sergweb/mediapipe/blob/drowsiness_detector/_build_iris_tracking_gpu.sh) for compilation instruction.

[2021-09-21 20:43] Andreslion commented on #1594
Same here.....
Somebody please help

[2021-09-21 20:52] mattrossman opened #2574 "Cannot run `@mediapipe/face_mesh` in web worker"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.</em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): Yes, but n/a
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Windows

[2021-09-21 20:56] Andreslion commented on #1594
I'm running on a Jetson Nano
Mine is in
$ ls usr/local/lib/python3.6/dist-packages/mediapipe/modules/palm_detection/palm_detection.tflite
I'm running on a Jetson Nano.
How do I 'tell' python to go find it in this location?
I mean, it imports the mediapipe lib with no problem, but then it can't find the palm_detection.tflite
Please help

[2021-09-21 21:07] mattrossman commented on #2563
I experience the same issue. Here is a reference video @sgowroji, even though I am sitting still with a clear view of my face, the predicted mesh shakes a lot:

https://user-images.githubusercontent.com/22670878/134246342-7141fda4-485c-427c-be32-847b9cfee8fb.mp4

I can smooth it out by lerping the predictions, but I would rather have cleaner data in the first place to improve responsiveness.

I ex

[2021-09-22 00:18] mcclanahoochie commented on #2332
any gpu that supports OpenGL ES 3.1+ should be able to run mediapipe, so it should work for this GPU.
i'm not sure what is going on here, but i don't have that exact gpu to test.

based on https://github.com/google/mediapipe/issues/2332#issuecomment-908892531, what version of mediapipe are you running? have you tried the latest release at https://github.com/google/mediapipe/releases ?

the `min_sc

[2021-09-22 01:00] LTYF commented on #2555
how can i contact with you？@sgowroji

[2021-09-22 01:21] Frank-Dz opened #2575 "Convert to Openpose joints format?"
Is there a way to convert the full-body output of mediapipe into the Openpose format?

Thanks!

[2021-09-22 02:12] brucechou1983 commented on #2556
duplicate issue https://github.com/google/mediapipe/issues/1008

[2021-09-22 03:04] LTYF commented on #2555
the blank screen log is：

2021-09-22 11:02:30.667 30828-30828/? E/Zygote: GL_OOM reserved vma failed, errno:22
2021-09-22 11:02:30.673 30828-30828/? I/xample.posetes: Late-enabling -Xcheck:jni
2021-09-22 11:02:30.701 30828-30828/? E/xample.posetes: Unknown bits set in runtime_flags: 0x28000
2021-09-22 11:02:30.766 30828-30828/com.example.posetest I/Perf: Connecting to perf service.
2021-09-22 11:0

[2021-09-22 03:05] LTYF commented on #2555
the normal log is：

2021-09-22 11:03:07.604 30828-30828/com.example.posetest D/SurfaceView: 212642269 updateRequestedVisibility, mViewVisibility:false, mWindowVisibility:false, mWindowStopped:true by android.view.SurfaceView.onWindowVisibilityChanged:285 android.view.View.dispatchWindowVisibilityChanged:14498 android.view.ViewGroup.dispatchWindowVisibilityChanged:1586 android.view.ViewGroup.dispat

[2021-09-22 03:13] LTYF commented on #2555
i use gradle to build apk，no bazel，is it any different?

[2021-09-22 04:50] sgowroji commented on #2575
Hi @Frank-Dz, Could you please elaborate your use case on the above query. Thanks!

[2021-09-22 05:48] #2455 closed

[2021-09-22 05:50] arijith96 commented on #2551
Hi @jianingwei , thanks for all the info! :D I'll check them out! And come back to you when I have more questions

[2021-09-22 05:53] arijith96 commented on #2438
Unfortunately, I could not work on this for the moment. If I do work on this and run into any issues, I will re-open :)
Thanks! @sgowroji @yegenzhi

[2021-09-22 05:53] #2438 closed

[2021-09-22 06:48] #2482 closed

[2021-09-22 06:48] #2172 closed

[2021-09-22 06:49] Frank-Dz commented on #2575
I am doing research on full-body HPE and want to convert the result in the same format for campairson.

[2021-09-22 06:50] sgowroji commented on #2573
Thank you for sharing the issue with complete details. We have fixed this and it will be available in the next release.

[2021-09-22 06:50] #2573 closed

[2021-09-22 08:37] sgowroji commented on #2556
Hi @LTYF, Can you try the workaround mentioned in the above [comment](https://github.com/google/mediapipe/issues/2556#issuecomment-924525008)

[2021-09-22 08:44] LTYF commented on #2556
yes，it works！thx

[2021-09-22 08:44] #2556 closed

[2021-09-22 08:48] sgowroji commented on #2554
Hi @DavinFun, Can you share us the failure logs. Thanks!

[2021-09-22 09:48] #2518 closed

[2021-09-22 09:48] #1628 closed

[2021-09-22 12:48] #2517 closed

[2021-09-22 12:58] dajuric commented on #2097
@dennis-gojitech Have you successfully embedded the library into the extension ? (so that it works from the extension)  If so, can you tell me which files need to be modified ? Thanks.

[2021-09-22 13:18] vavilovm opened #2577 "How to catch internal exceptions from solutions?"
I am using Selfie Segmentation library. There was an unreproducible WebAssembly exception. How can I catch exceptions inside the api? Is it thrown from SelfieSegmentation.send() function?

[2021-09-22 16:48] #1880 closed

[2021-09-22 21:30] tyrmullen commented on #2577
We do not yet have any exception catching or wrapping ourselves, so everything will be thrown as-is/in-place.  Which means that yes, generally this will be from the .send() function, since that's what directly triggers the WebAssembly calls when processing a given frame (I'm assuming the exceptions are thrown while processing, and not during initialization-- otherwise you'll have to look to the in

[2021-09-23 00:55] GiselaMD opened #2578 "Not able to use LandmarkGrid from '@mediapipe/control_utils_3d'. TypeError: Cannot read properties of undefined (reading 'Vector3')"
Getting error when importing LandmarkGrid from '@mediapipe/control_utils_3d'

TypeError: Cannot read properties of undefined (reading 'Vector3')

dependencies:
    "@mediapipe/camera_utils": "^0.3.1632336052",
    "@mediapipe/control_utils": "^0.6.1629159505",
    "@mediapipe/control_utils_3d": "^0.2.1625245254",
    "@mediapipe/drawing_utils": "^0.3.1620248257",
    "@mediapipe/pose": "^0.4.16300

[2021-09-23 04:25] miftahulbagusp commented on #2331
Thanks. It's worked well!

[2021-09-23 04:25] #2331 closed

[2021-09-23 06:19] sgowroji commented on #2558
Hi @SutirthaChakraborty, Thank you for reaching us regarding the above issue. Could you please share us more details relevant to your above query.  And did you get a chance to check our [pose landmarks in world coordinates ](https://google.github.io/mediapipe/solutions/pose#pose_world_landmarks) and its annotations to help you understand its  implementation.

[2021-09-23 06:24] sgowroji commented on #2516
Hi @vidheyoza, Have you tried running on the Bazel 4.2.x versions  ?  Did you face any errors with the above version ? Please let us know with the error logs. Thanks!

[2021-09-23 06:36] vavilovm commented on #2577
@tyrmullen, thank you for the fast answer!

[2021-09-23 06:36] #2577 closed

[2021-09-23 06:48] #2521 closed

[2021-09-23 06:50] jerryli1119 opened #2579 "using tracking detect multi-hands problem"
Hello,
I use the python3.6.9 and pip install mediapipe. mediapipe version is 0.8.3.
In this version I encountered the same problem. https://github.com/google/mediapipe/issues/628

In 0.8.3ver, two results on the same hand.
![0_8_3](https://user-images.githubusercontent.com/34928698/134465086-37f67324-f0d5-49b6-a888-d878397f5757.jpg)

but i downgrade the version (0.8.0)
![0_8_0](https://user-images

[2021-09-23 07:11] tianhonglilei opened #2580 "I want to introduce Holistic into the project in the same way as Solution Hand. But an error is reported after startup"
**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution :Android 11
- Compiler version :
- Programming Language and version:Java
- Installed using virtualenv? pip? Conda? (if python):
- [MediaPipe version](https://github.com/google/mediapipe/releases): 0.8.7
- Bazel version:4.1
- XCode and Tulsi versions (if iOS):
- Android SDK and NDK versio

[2021-09-23 08:03] thanasisfitsios commented on #2569
Update: I finally was able to solve the problem. What worked for me was changing the `TENSORFLOW_GIT_COMMIT` in the WORKSPACE file to the latest stable release of tensorflow.

[2021-09-23 08:03] #2569 closed

[2021-09-23 08:17] DLGL99GL opened #2581 "Objectron-JS:how to get "rotation"/“translation”/“scale”"
![image](https://user-images.githubusercontent.com/69023459/134473460-c3e70d01-1e70-4d3a-8264-b1cf0b54d37a.png)
![image](https://user-images.githubusercontent.com/69023459/134475073-4d65877a-f6d6-4b68-86ab-8d39d50b8d90.png)

Objectron（3D Object Detection） Output:
landmarks_2d
landmarks_3d
rotation
translation
scale

i can find it in Python Solution API, but  didn't find all in JavaScript Solution

[2021-09-23 08:29] sgowroji commented on #2579
Hi @jerryli1119, Could you please try with the latest release [0.8.7.1 ](https://github.com/google/mediapipe/releases#:~:text=Latest%20release-,v0.8.7.1,-6abec12). Thanks!

[2021-09-23 08:34] sgowroji commented on #2580
Hi @tianhonglilei, Are you trying to build a holistic solution with gradle API as we did for [Face Mesh](https://github.com/google/mediapipe/tree/710fb3de58dc10b7bc75f9cb758300c9016a5e4f/mediapipe/examples/android/solutions#:~:text=.%E2%80%8A.-,facemesh,-Project%20import%20generated) and [Hands](https://github.com/google/mediapipe/tree/710fb3de58dc10b7bc75f9cb758300c9016a5e4f/mediapipe/examples/an

[2021-09-23 08:46] sgowroji commented on #2569
Glad you resolved and thank you for sharing your fix, Which is definitely help full to the community.

[2021-09-23 09:14] tianhonglilei commented on #2580
Hi @sgowroji, Yes, I want to use Holistic and Iris in the project, It would be even better if the new version can provide gradle api like Face Mesh and Hand.

[2021-09-23 09:26] petoknm opened #2582 "Pose landmark confidence not available"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: Linux Manjaro
- MediaPipe version: 0.8.7
- Solution: Pose
- Programming Language and version: Python 3.9.7

**Describe the expected behavior:**
I want to get pose landmark confidence per frame, not just set a `min_detection_confidence`, so I can perform my own offline filtering.

Is there a way to get this inf

[2021-09-23 10:34] sgowroji commented on #2582
Hi @petoknm, Could you please elaborate your use case with more details. Thanks!

[2021-09-23 10:38] tianhonglilei commented on #2580
Hi @sgowroji, Please take a look at the log I submitted, how should the problem of this attribute UPPER_BODY_ONLY be solved? thanks

[2021-09-23 10:44] petoknm commented on #2582
I am dealing with some movement that gets obstructed and it would be nice to filter spurious detections out, for this I need to be able to tell apart which detections are strong (high confidence) and which ones are weak (low confidence).

I want to perform offline filtering (filtering after detecting pose on an entire video) as opposed to the built-in online filtering ("smoothing") because of cert

[2021-09-23 10:52] zhoujingheng opened #2583 "How add filter in facemeshResult solution"
i want to add beautify filter in camera，how can i add filter in facemeshResult solution callback renderResult()

[2021-09-23 10:56] zhoujingheng commented on #2583
can you give me a sample about this

[2021-09-23 11:31] zhoujingheng opened #2584 "facemesh Can you give me only detect position,no opengl and camera"
facemesh has opengl and camera too troublesome,Can you give me only detect position,no opengl and camera

[2021-09-23 12:35] kdubey19 opened #2585 "Mediapipe AutoFlip error - Segmentation Fault"
I've followed the installation steps for autoflip and build it using the following command:

bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 mediapipe/examples/desktop/autoflip:run_autoflip

I ran the autoflip example by specifying the input & output file locations using command:

GLOG_logtostderr=1 bazel-bin/mediapipe/examples/desktop/autoflip/run_autoflip \ --calculator_graph_config_file=med

[2021-09-23 14:15] mahtaabdn opened #2586 "Integrating Mediapipe to an existing C++ project"
[code]

[code]

[code]

[2021-09-23 15:41] mhays-google commented on #1606
Sorry, thought I had already responded.  It's here (this version is from 14 days ago, but it is still reflected in the latest version):

https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils@0.3.1631210127/index.d.ts

You can also go after just the minor version or the latest version and it is still the same:

https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils@0.3/index.d.ts
https://cdn.jsdelivr.

[2021-09-23 16:34] Ashish-Balhara opened #2587 "iOS framework built for hand tracking via bazel is not giving any output."
I've created an iOS framework for hand tracking model, from the same build code given in [#2507](https://github.com/google/mediapipe/issues/2507#issuecomment-916900036) on mac Big Sur 11.5.2 OS, bazel version 3.7.2, Python 3.9.7.  Code compiled properly without giving any error, created a zip file. I integrated it into an iOS sample application, I able to run iOS application with integrated framew

[2021-09-23 18:17] vidheyoza commented on #2516
I tried running 3.7.2 and 4.2.1, but both give me the same error. There is an open issue on Bazel's public repo [here](https://github.com/bazelbuild/bazel/issues/13925) where I talk about the error in more detail.

Briefly, when I try installing bazel on the platform with either x64, I am getting errors with my tensorflow installation, so I have to stick to arm64, for which bazel doesn't have a di

[2021-09-23 18:28] jiuqiant commented on #2548
The `gen_protos` only generates mediapipe python protos from the mediapipe source code directly. "tensorflow/core/framework/types.proto"  is a tensorflow proto, which is in the external repo that mediapipe can't see until Bazel downloads it.

[2021-09-23 22:21] tullie commented on #2585
+1 it's failing for me with a segmentation fault on the life_at_google.mp4 example.

[2021-09-23 23:31] SutirthaChakraborty commented on #2558
For example, if I run pose estimation on these 4 images, they will generate the scaled down points(x,y,z)  based on the person located in the image.
![image](https://user-images.githubusercontent.com/47362033/134596662-8e48d2ef-059e-45d9-9880-d3a9f4ebcd82.png)

Can a feature be added, where it will give us the referential distance irrespective of the person's position from the camera and distance

[2021-09-24 01:11] LTYF opened #2588 "can pose-tracking detect two or more human bodies？"
Such as title

[2021-09-24 01:28] jerryli1119 commented on #2579
Hi @sgowroji, i tried to use the latest version. The problem has been solved. Thank you.
So is it not recommended to use the previous old version?

[2021-09-24 03:51] sgowroji commented on #2580
Hi @tianhonglilei, Could you please share your graph or code changes to investigate further. Thanks!

[2021-09-24 04:21] Jwy-jump opened #2589 "object_detection_tensorflow with GPU"
Hi，when I test object_detection_tensorflow with GPU,the command is:
`GLOG_logtostderr=1  bazel run  --copt -DMESA_EGL_NO_X11_HEADERS --copt -DEGL_NO_X11 --define no_aws_support=true --cxxopt=-std=c++17 --linkopt=-lstdc++fs mediapipe/examples/desktop/object_detection:object_detection_tensorflow -- --calculator_graph_config_file=/home/user/opencv_ops/mediapipe/graphs/object_detection/object_detectio

[2021-09-24 04:27] Jwy-jump commented on #2548
thanks,but TFLITE can generates mediapipe python protos,only except tensorflow@jiuqiant

[2021-09-24 04:27] sgowroji commented on #2584
Hi @zhoujingheng, Could you please elaborate your query with complete details. Thanks!

[2021-09-24 04:50] swittk commented on #2132
Hi man, I encountered this a few days ago while compiling mediapipe as a framework ([here](https://github.com/swittk/MediapipeFaceMeshIOSLibrary)).

The cause of the problem is you're using the bazel script that came with the example for compiling `ios_framework`. As you can see in the `objc_library` section of your build script, it is setting the dependencies to `[]` for `ios_i386` and `ios_x86_6

[2021-09-24 05:48] #2527 closed

[2021-09-24 05:48] #2525 closed

[2021-09-24 06:08] jimver04 opened #2590 "Sending to wrong VM (Javascript Selfie-Segmentation)"
Hi,
my application with Selfie-Segmentation sometimes works but sometimes not. By comparing the logs I found that the application is not working when the VM that the solution was send is not the same as the original VM (see image below, right side). However, when there is no original VM referred then the application works well.

Why is it send to another VM ? How can I force the VM number to be th

[2021-09-24 06:56] sgowroji commented on #2588
Hi @LTYF, You can try this https://github.com/google/mediapipe/issues/1691#issuecomment-797159603

[2021-09-24 07:00] sgowroji commented on #2589
Hi @Jwy-jump, Any GPU that supports OpenGL ES 3.1+ should be able to run MediaPipe. Can you share the reproduction steps and System configuration to investigate further. Thanks!

[2021-09-24 07:02] sgowroji commented on #2590
Hi @jimver04, Could you please provide the steps to reproduce the above error. Thanks!

[2021-09-24 07:05] sgowroji commented on #2587
Hi @Ashish-Balhara,  Could you please share the code changes and error logs to investigate the issue further. Thanks!

[2021-09-24 07:12] jimver04 commented on #2590
wait just 5' to generate a codepen

[2021-09-24 07:13] aafaqin opened #2592 "How to plot joints with less visiblity"
How to plot the joints which have a lower visibility in Pose estimation.
The detection are happening pretty accurate and result is in landmark array. But only points witch high coincidence are ploted. How  to plot all the points

[2021-09-24 07:18] sgowroji commented on #2592
Hi @aafaqin, Could you please elaborate your use case with more details. Thanks!

[2021-09-24 07:21] aafaqin commented on #2592
For example I am detecting knee in the
`
results = pose.process(image)
`
I get the knee detections.

but when I do
[code]
   The knee is not visible on the plotted image

[2021-09-24 07:26] jimver04 commented on #2590
Here is the codepen.

https://codepen.io/jimver04/pen/gORdBwp

[2021-09-24 07:28] lucmichalski opened #2593 "Attention Mesh: High-fidelity Face Mesh Prediction in Real-time"
Hi guys,

Hope you are all well !

I am trying mediapipe with unity3d with the following project: https://github.com/keijiro/FaceMeshBarracuda

![68747470733a2f2f692e696d6775722e636f6d2f4f4b46576b75672e676966 (1)](https://user-images.githubusercontent.com/1963546/134635417-e3aebb0b-5d88-4630-b206-effe99111e82.gif)

And I like to achieve face animation of this avatar based on facemesh predictions.

[2021-09-24 07:30] aafaqin commented on #2592
another example
Left elbow is not plotted
[code]
but right elbow is  plotted
[code]
How can i plot left elbow as well??
![image](https://user-images.githubusercontent.com/22724087/134635703-b2a34a1a-b55e-4405-8580-cc96269babb4.png)

[2021-09-24 07:32] jimver04 commented on #2590
For some reason, in Firefox 92.0 doesn't stack, although the 2D canvas present a blinking behaviour. The main issue is in Chrome which is sending to wrong VM to about 90% of the occasions. Only 1 out of 10 works, the rest of the time is stack completely.

[2021-09-24 07:57] wangzi815 commented on #2553
maybe below is the answer,thank you for afsaredrisy,@afsaredrisy
 https://github.com/afsaredrisy/MediapipeHandtracking_GPU_Bitmap_Input

[2021-09-24 08:39] capt-sms opened #2594 "Update which version of abseil c++ mediapipe depends on"
"mediapipe depends on an old version of abseil c++ that does not include [a commit](https://github.com/abseil/abseil-cpp/commit/5bf048b8425cc0a342e4647932de19e25ffd6ad7#diff-c2c26d26953e79ce20dd00dccad9e10e0249a17861480d58e73c4616786f2679) necessary to work on newer libstdc++ versions. So, com_google_absl in the mediapipe [WORKSPACE](https://github.com/google/mediapipe/blob/137e1cc7630524ea1c3a9b1

[2021-09-24 09:02] sgowroji commented on #2594
Hi @capt-sms, Could you please share the errors with present build/install. Can you also share the steps to reproduce it. Thanks!

[2021-09-24 10:12] Ashish-Balhara commented on #2587
Thanks for response.
I pulled latest mediapipe github code 4 days ago, and the following command I've used to create iOS framework:

in /mediapipe/develop , I changed the BUILD like this:

error logs:

[2021-09-24 10:13] tianhonglilei commented on #2580
Hi @sgowroji , I imitated the modification of Solution Hand [https://github.com/google/mediapipe/tree/v0.8.7/mediapipe/java/com/google/mediapipe/solutions/hands](url) and created these classes.
<img width="400" alt="WX20210924-180932@2x" src="https://user-images.githubusercontent.com/18715516/134658064-ebede343-a1cf-4ff8-8d63-477c3f3307b7.png">

[code]

Holistic code:
[code]

[2021-09-24 10:26] AndreV84 commented on #2571
Even after fowngrading the basel
I can occur the issue for that I should possibly create a new issue?
[code]

[2021-09-24 10:26] AndreV84 commented on #2571
@sgowroji

[2021-09-24 10:27] aafaqin commented on #2592
[mediapipe/python/solutions/drawing_utils.py](url)
In this file
`
_PRESENCE_THRESHOLD = 0.5
_VISIBILITY_THRESHOLD = 0.5
`
 modify these 2 variables to get plots of joints with low probability

[2021-09-24 10:27] #2592 closed

[2021-09-24 10:30] sgowroji commented on #2580
Hi @tianhonglilei, Present the team does not have any plans to release the Holistic Gradle API. On this thread am adding @camillol and @jiuqiant to have a look at your error.

[2021-09-24 10:32] sgowroji commented on #2571
Hi @AndreV84, Thank you for your patience. I have added @hadon and @mcclanahoochie, who can guide you on the above queries.

[2021-09-24 10:35] capt-sms commented on #2594
Just install GCC11 (for me it's just on a fresh Fedora installation, it pulls the newest libstdc++) and run:

`bazelisk run --copt -DMESA_EGL_NO_X11_HEADERS --copt -DEGL_NO_X11 --sandbox_writable_path ~/.ccache --sandbox_debug --verbose_failures mediapipe/examples/desktop/hello_world:hello_world`

it builds and then this happens:

If I switch to Clang (that apparently helped before) by exporting C

[2021-09-24 10:36] AndreV84 commented on #2571
trying to disable opencv2 support in opencv build to try again

[2021-09-24 15:32] AndreV84 commented on #2571
seems either gcc needs to be updated or mediapipe needs to be downgraded? no compatibility with gcc7 with the latest mediapipe release?
https://github.com/google/mediapipe/issues/1733
https://github.com/google/mediapipe/issues/1673

[2021-09-24 15:50] jiuqiant commented on #2580
Neither https://github.com/google/mediapipe/blob/master/mediapipe/modules/holistic_landmark/holistic_landmark_gpu.pbtxt nor https://github.com/google/mediapipe/blob/master/mediapipe/graphs/holistic_tracking/holistic_tracking_gpu.pbtxt has an input side packet to set if the model detects "upperBodyOnly". Maybe you can remove "upperBodyOnly" from the code.

[2021-09-24 15:56] jiuqiant commented on #2548
I don't think the "gen_protos" command generates tflite python protos... The tensor/tflite inference calculator proto is also defined in MediaPipe not in TensorFlow repo.

We generally make MediaPipe solutions with tflite models and haven't explored using it with a  tensorflow model.

[2021-09-24 16:01] vidheyoza commented on #2516
Update: as linked in the issue above, there was a problem with the installation of bazel, so they guided me with solutions and one of them worked. I am now working with solving the problem of tensorflow. Does mediapipe require a `tensorflow==1.14.0` installation?

`pip install tensorflow==1.14.0` or normal `pip install tensorflow` both don't seem to work. Is there a wheel file I can use to install

[2021-09-24 16:16] jiuqiant commented on #2582
You can modify pose.py to add ["pose_detection"](https://github.com/google/mediapipe/blob/710fb3de58dc10b7bc75f9cb758300c9016a5e4f/mediapipe/modules/pose_landmark/pose_landmark_cpu.pbtxt#L107) as an output.

Go to site-packages/mediapipe/python/solutions/pose.py and modify line 166 to be

[code]

"results.pose_detection" will give you the score: https://github.com/google/mediapipe/blob/master/medi

[2021-09-24 16:39] jiuqiant commented on #2498
Can you double check if you use the latest version of https://github.com/google/mediapipe/blob/master/mediapipe/graphs/holistic_tracking/holistic_tracking_gpu.pbtxt? I don't see that the holistic graph uses the pose gpu renderer and not sure why "PoseRendererGpu" is required. The holistic tracking gpu graph has its standalone rendering component at https://github.com/google/mediapipe/blob/master/m

[2021-09-24 16:56] jiuqiant commented on #2545
"opencv_cmake" is expected to be slow.  Try "--link-opencv" if you can.
For the bazel version issue, you can delete https://github.com/google/mediapipe/blob/master/.bazelversion to relax the version restriction.

[2021-09-24 20:43] haibowang1427 opened #2595 "Can the pretrained models be used for commercial purposes?"
Per mediapipe's license, is it 👌  to use mediapipe and the pretrained models (especially facemesh) for commercial purpose? Is there any privacy concerns on this regard?

Thank you for any comments.

[2021-09-24 21:52] kostyaby commented on #2583
Hey @zhoujingheng,

Please see https://github.com/google/mediapipe/issues/1498#issuecomment-774886460 for additional guidance. Unfortunately, I don't have any additional code samples to share

[2021-09-25 07:51] petoknm commented on #2582
I was looking for per-landmark score (score for LEFT_EAR, RIGHT_ANKLE, RIGHT HIP, etc.) but I assume the underlying model does not have such an output.

[2021-09-25 15:32] diarmidmackenzie opened #2596 "Javascript example gives wrong download location for control_utils_3d.js"
Thank you for submitting a MediaPipe documentation issue.
The MediaPipe docs are open source! To get involved, read the documentation Contributor Guide

## URL(s) with the issue:
https://google.github.io/mediapipe/solutions/pose.html#javascript-solution-api

## Description of issue (what needs changing):

This line is wrong.
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/cont

[2021-09-25 16:02] wingdi commented on #2498
@jiuqiant  very thanks your reply .
Today i  use the lastest code build to generate the new holistictrackinggpu.aar and holistic_tracking_gpu.bin, and put them in my project.   But i didn't find relative *.tflite file in path " //mediapipe/modules/holistic_landmark ", in the path i only find a hand_recrop.tflite.  And i put hand_recrop.tflite in project's assets folder.   does the .tflite is neces

[2021-09-25 16:38] wingdi opened #2598 "why each graph model have different .aar file , Can we use a unified .aar ?"
such as face_detection \ holistic_tracking \ pose_tracking have different .aar.
I think most of the code in those .aar are same, Can we use a unified .aar ?

[2021-09-25 17:13] #2498 closed

[2021-09-25 17:15] 4thWallInt commented on #1389
Has there been any movement on this particular issue?

[2021-09-25 17:42] Sreerag-ibtl opened #2599 "Flogger related exception blocking object instantiation."
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):Ubuntu 18.04 in Goo

[2021-09-25 18:06] wingdi commented on #2599
I have same problem , and when i use Flogger and flogger-system-backend Version:0.6 , problem solved.

[2021-09-25 18:10] wingdi commented on #2598
Because I try to use several solutions in one project. It become very complex.

[2021-09-25 19:23] Sreerag-ibtl commented on #2599
@wingdi So, I tried it. But for some reason that didn't solve the issue for me. Do you have a repo or something I can check out?

My change was as below:
[code]

[2021-09-26 02:18] zhoujingheng commented on #2583
Hey@kostyaby，i use android，because facemesh has opengl and camera, so i can not only use the point，and do not add beautify filter,do you have suggest about this?

[2021-09-26 02:24] razorgeneral commented on #2599
I have the same problem, the code that was working couple of days back stopped working yesterday. @wingdi, that does not resolve the issue for me either.

[2021-09-26 02:39] wingdi commented on #2599
Maybe you can try to invalidate cache and restart.

[2021-09-26 04:38] KlickYang opened #2600 "How to calculate pose rotation angle in detections_to_rects_calculator?"
I have read the source code of ComputeRotation() in mediapipe/mediapipe/calculators/util/detections_to_rects_calculator.cc. I have a question, why calculate rotation angle using this function: "target_angle_ - std::atan2(-(y1 - y0), x1 - x0"?

[2021-09-26 04:57] andreanlay opened #2601 "How does per-point visibility in BlazePose calculated?"
Hello,

I read the BlazePose paper and it said BlazePose implement per-point-visibility classifier by creating occlusion simulation, but I don't see how this classifier works, is it by calculating intersection between object or by using specific NNs. I tried searching the source code for explanation but I cannot find it.

Is there any explanation for how visibility calculated?

Thanks!

[2021-09-26 04:58] wingdi opened #2602 "Calculator::Process() for node "holisticlandmarkgpu__poselandmarkgpu__poselandmarkbyroigpu__poselandmarksandsegmentationinverseprojection__InverseMatrixCalculator" failed: ; Inverse matrix cannot be calculated.tors/util/inverse_matrix_calculator.cc:38)"
platform：Android（phone：huawei mate30 4g, os HarmonyOS, arch: arm64+Da vinci Core ）,  aar

question 1 :  I run [holistictrackinggpu.apk](https://drive.google.com/file/d/1o-Trp2GIRitA0OvmZWUQjVMa476xpfgK/view?usp=sharing) from https://google.github.io/mediapipe/solutions/holistic.html , the view is black. anyone have successed run the apk ?

question 2： I use latest mediapipe code build and generate

[2021-09-26 05:09] razorgeneral commented on #2599
@wingdi , the issue persists after invalidate cache and restart.

[2021-09-26 10:51] tianhonglilei commented on #2580
Hi @jiuqiant ,Thanks,I only added this attribute “upperBodyOnly” because I saw the error log above.

[2021-09-26 11:20] karataserol opened #2603 "ValueError: while processing the input streams of subgraph node InferenceCalculator: TAG:index:name is invalid, "TENSORS:palmdetectioncpu__Inferencecalculator__palmdetectioncpu__input_tensor" does not match "([A-Z_][A-Z0-9_]*:((0|[1-9][0-9]*):)?)?[a-z_][a-z0-9_]*" (examples: "TAG:name" "VIDEO:2:name_b", "longer_name")."
Hi  Sgowroji

when ı try to run below code or any mediapipe example on my OS (linux Mint 20) ı am getting below error and I couldn't find any solution other than writing to you

so could you have look and let me know please if any solution

/////////////////////////////////Code //////

import cv2
import mediapipe as mp
import time

cap = cv2.VideoCapture(1)

mpHands = mp.solutions.hands
hands = mp

[2021-09-26 12:13] djthegr8 commented on #1389
@mgyong @chuoling could you update here?

[2021-09-26 12:19] NuclearWolfCockroach commented on #2599
@wingdi Same here, tried everything. Downgraded to version 0.6. Invalidated cache and restarted. But problem persists!

@sgowroji pls help

[2021-09-26 12:38] Sreerag-ibtl commented on #1955
@DandyLorenz Can you elaborate a bit? Since mediapipe is using CameraX, I was having the hunch that the USB camera is not supported. Wondering how you did it?

[2021-09-26 14:18] wingdi commented on #2602
Anyone have encounter this problem ?

[2021-09-26 14:47] AlexShafir commented on #2506
I found a temporary fix for this problem:
1. Beatify holistic.js
2. Add this code after holistic.js line 993: `d.C = d.h.GL.currentContext.GLctx`
3. Put your worker file in the same folder with holistic.js
4. For every message you post to worker, do not send post new messages before you receive result.

[2021-09-26 15:17] wingdi commented on #2598
I found you have put com.google.mediapipe:solution-core and facemesh and so on in Google's Maven Respository, So i close this Issue.

[2021-09-26 15:17] #2598 closed

[2021-09-26 15:51] wingdi commented on #2602
I think maybe because the input frame problem. So i extract local video Frame give  Graph in FrameProcessor.java, it called graph.addConsumablePacketToInputStream(videoInputStream,imagePacket,timestamp).  this way didn't show error,  But the output SurfaceView still black,  and didn't call back FrameProcessor's callback.

[2021-09-26 16:05] wingdi commented on #2599
I only changed this:
[code]

[2021-09-26 17:39] PoseidonEricssion commented on #2599
This is exactly what I did too, but the error is still there. Wondering how did it work for you.

[2021-09-26 17:40] AlexShafir commented on #2574
I found a way for web worker:

1. Beatify face_mesh.js
2. Add this code after holistic.js line 1633: `d.C = d.h.GL.currentContext.GLctx` (after `d.h.GL.makeContextCurrent(k);`)
3. Put your worker file in the same folder with face_mesh.js
4. For every message you post to worker, do not post new messages before you receive result.
This is under assumption of vanilla js project.

holistic is fixed in

[2021-09-26 19:31] AmitMY commented on #2506
Thanks for the workaround, @AlexShafir
However, @sgowroji, I still argue for a native solution in the package, and support for `OffscreenCanvas` or better yet, an `ImageBitmap`

[2021-09-27 01:05] wingdi commented on #2599
oh ~ I know your problems,  When I use :
[code]
I got this error too, even if use version 0.6 flogger
But when I used myself build pose_tracking_gpu.aar , there no this error.

[2021-09-27 03:00] HungDuong1998 commented on #1903
+1
I am too interested in the python solution, would be nice if there is any update on it.

[2021-09-27 04:40] AlexShafir commented on #2506
@AmitMY  ImageBitmap is supported by holistic solution, you can see it in my demo.
index.js:
[code]

holistic_worker.js:
[code]

[2021-09-27 04:41] veetechh commented on #2328
This issue still exists on android, may I know when will this get resolved?

[2021-09-27 04:48] #2531 closed

[2021-09-27 04:51] AlexShafir commented on #2506
For me bummer is that after workaround holistic.js is ultra slow even on high-end device, so I switched to face_mesh.js which shows a lot better performance.

[2021-09-27 05:10] AlexShafir commented on #877
@tyrmullen could you share some details about "The GPU ML inference engine" ?

[2021-09-27 05:14] jimver04 commented on #2590
Just load the codepen above with Chrome. The first time will work, but if you press refresh (F5) will stack. If you see in the console, the first time there is no VM reference in the initialization (see my figure above), but the second the VM is initialized with a number but send to another number. I suspect that the issue might be solved with queueMicrotask when receiving the files on WASM (initi

[2021-09-27 05:15] sgowroji commented on #2596
Hi @diarmidmackenzie, Could you please point us the location in our documentation where the links are wrong?

[2021-09-27 05:24] sgowroji commented on #2600
Hi @KlickYang, Could you please share your use case with the above query. Thanks!

[2021-09-27 05:29] sgowroji commented on #2601
Hi @andreanlay, If you are looking for pose classification. Please go through our documentation and python code samples from [here](https://google.github.io/mediapipe/solutions/pose_classification.html#classification)

[2021-09-27 05:48] #2533 closed

[2021-09-27 05:52] andreanlay commented on #2601
Hello @sgowroji, actually I'm not looking for pose classification. I am looking for how BlazePose's calculate keypoints visibility.
I just inspected BlazePose's trained model from this repo and I saw that BlazePose's directly outputs 5 values(including visibility) for each keypoints.
So I just want to make sure is it true if BlazePose's calculates visibility directly in the CNN (not by using any m

[2021-09-27 06:32] sgowroji commented on #2590
Hi @jimver04, Thank you for your patience and  also for sharing the above details. We have shared your request to @mhays-google who can guide you on this. Thanks!

[2021-09-27 06:41] sgowroji commented on #2602
Hi @wingdi, From the logs we can see you have made some changes in the graph. Could you please share your graph changes to investigate the issue further. Thanks!

E/FrameProcessor: Mediapipe error:
    com.google.mediapipe.framework.MediaPipeException: internal: **Graph has errors:**

[2021-09-27 07:03] coselk commented on #2219
Problem solved!
After driving in the Mali series GPU for a while, I found  **FLOAT 16**  is well supported on the _Mali GPU_ series. If anyone meets the same Problem, please switch from float 32 to **float16** while converting the model into tflite format.

[2021-09-27 08:32] AmitMY commented on #2506
Thanks, @tvanier , this does not change the result, unfortunately. The path is still not correctly resolved

[2021-09-27 08:47] sgowroji commented on #2579
Yes We are continuously updating and improving our repo and solutions. Glad to know you resolved, We are closing this issue now.

[2021-09-27 08:47] #2579 closed

[2021-09-27 08:54] #2519 closed

[2021-09-27 09:34] wangzi815 opened #2604 "JNI ERROR (app bug): local reference table overflow (max=512)"
2013-01-18 17:32:24.951 3347-3462/com.google.mediapipe.apps.hands A/art: art/runtime/indirect_reference_table.cc:132] JNI ERROR (app bug): local reference table overflow (max=512)
2013-01-18 17:32:24.951 3347-3462/com.google.mediapipe.apps.hands A/art: art/runtime/indirect_reference_table.cc:132] local reference table dump:
2013-01-18 17:32:24.951 3347-3462/com.google.mediapipe.apps.hands A/art: a

[2021-09-27 10:12] theColorfulRainbow commented on #2602
Hey,

I get a similar issue on the Python version for Mediapipe.
The issue occurs when performing Pose estimation.
It also seems to occur only on certain videos.
This is my Stack Trace:

[code]

[2021-09-27 10:33] #2589 closed

[2021-09-27 10:48] #2529 closed

[2021-09-27 10:49] wingdi commented on #2602
@theColorfulRainbow  Yes, we encounter the same error,   I still have not solve it.

@sgowroji thanks for reply !  I do changed some code in FrameProcessor.java , but other code and configuration profile didn't change. And when I using didn't changed FrameProcessor.java, it still have this problem.

[2021-09-27 10:50] sgowroji commented on #2604
Hi @wangzi815, Could you please provide the steps to reproduce the above error. Thanks!

[2021-09-27 11:07] sgowroji commented on #2603
Duplicate https://github.com/google/mediapipe/issues/2306. Can you refer this [code](https://google.github.io/mediapipe/solutions/hands.html#python-solution-api) for static image.

[2021-09-27 12:30] karataserol commented on #2603
hello thank you for your repply , ı have try it  again with static picture  again but ı couldnt

/////////////////////////////////////////////////////code/////////////////////////////////////////////////
import cv2
import mediapipe as mp
mp_face_detection = mp.solutions.face_detection
mp_drawing = mp.solutions.drawing_utils

# For static images:
IMAGE_FILES = ['/home/pars/Masaüstü/pi.jpeg' ]
with

[2021-09-27 12:47] sgowroji commented on #2603
Hi @karataserol, You can try this [colab](https://colab.sandbox.google.com/drive/1FvH5eTiZqayZBOHZsFm-i7D-JvoB9DVz)

[2021-09-27 13:05] karataserol commented on #2603
Can you please explain to me why I can't run this code on my own operating system
am i doing a mistake? , is there anything else i need to fix , i wanted to produce in other projects with this module ,
can you help me please

[2021-09-27 15:22] arijith96 commented on #2599
I have the same problem too! Please suggest a solution. This problem popped up recently.

`D/AndroidRuntime: Shutting down VM
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.teamviewer.libs.sceneview.sample, PID: 19776
    java.lang.ExceptionInInitializerError
        at com.google.common.flogger.backend.Platform$LazyHolder.access$100(Platform.java:65)
        at com.google.common.flogger

[2021-09-27 15:25] Joshua27 commented on #2599
There are some missing classes in the latest release of flogger. I think we have to wait for a new release, see https://github.com/google/flogger/issues/297

[2021-09-27 15:32] Sreerag-ibtl commented on #2599
So my workaround is to remove all lines that depend on flogger, which I did manually and [build](https://google.github.io/mediapipe/getting_started/android_archive_library.html) the AAR. Yet to test tho.

[2021-09-27 15:50] jiuqiant commented on #2582
Unfortunately, the output landmark protobuf message doesn't have a confidence score field.

[2021-09-27 15:53] sandesh1994199 opened #2605 "Implemented iris in python Using docker installation"
**System information:- Windows 10, WSL2
- OS Platform and Distribution :ubuntu 18.04
- [MediaPipe version](https://github.com/google/mediapipe/releases):
- Bazel version:
- Solution (e.g. FaceMesh, Pose, Holistic):
- Programming Language and version :-python 3.6.9

I have fallowed #1530 and #2320 to implement iris in python.

**After successful build**

[5,446 / 5,680] Compiling mediapipe/framewor

[2021-09-27 15:57] mhays-google commented on #2563
I hear you. I get the same results of course.  We sometimes fix this by adding a bit of momentum in the graph to smooth the output data, and I'm sending an email to folks providing the graph and we'll see if there's some plumbing I can take advantage of.

I suspect that lerping will work, but that you'll need to only lerp when the delta is already tiny (in order to not lag the tracking when the fa

[2021-09-27 16:01] mhays-google commented on #2506
Workers are on our roadmap, but I unfortunately don't have a window to
provide this.  ImageBitmap is already an output format where supported
(i.e., Chrome), but if I hear you right, you would like an input format of
ImageBitmap?

On Mon, Sep 27, 2021 at 1:33 AM Amit Moryossef ***@***.***>
wrote:

[2021-09-27 16:12] mhays-google commented on #2590
I don't have any feedback right now, but inviting a peer.

@tyrmullen -- take a look at this?

[2021-09-27 16:14] ozett commented on #1903
saved from getting closed after stalled-botting. thanks

[2021-09-27 17:15] jianingwei commented on #2286
Can you try adding "delegate { gpu {} }" to the options of TfLiteInferenceCalculator? If it still doesn't work, try adding "delegate { xnnpack {} }".

[2021-09-27 17:23] jiuqiant commented on #1903
A Google Summer of Code student made an objection detection API in a sepreate repo. See https://blog.aniketiq.me/python-api-for-the-mediapipe-object-detection-solution and https://github.com/aniketiq/mediapipe/blob/ObjectDetectionSolution/mediapipe/python/solutions/object_detection.py for more details.

[2021-09-27 17:23] #1903 closed

[2021-09-27 21:45] diarmidmackenzie commented on #2596
See the PR that I created.
https://github.com/google/mediapipe/pull/2597

Alternatively, see in the issue where it says: URL(s) with the issue...

Go to that URL:
https://google.github.io/mediapipe/solutions/pose.html#javascript-solution-api

Now use "search in page" (that's Ctrl-F if you are using Google Chrome" for the text I said was wrong.

e.g. search for: "drawing_utils/control_utils_3d.js"

[2021-09-27 21:58] vadile opened #2606 "Need help with mediapipe facial landmark"
Hey
For one of my projects, I am using media pipe to get facial landmarks points x,y,z of various features on the face from a recorded video. I am using a video as an input and getting a CSV file of these landmarks as an output. I just realized that my video is 10,000 frames and the final output is only for around 9,500 frames. Hence some landmarks are missing. It makes sense since sometimes media

[2021-09-27 22:11] tyrmullen commented on #2506
ImageBitmap is already an input format as well, as demonstrated by @AlexShafir .

[2021-09-28 00:51] yugyesh commented on #2448
This one resolved my issue too

[2021-09-28 01:54] wangzi815 commented on #2604
i use the project:https://github.com/afsaredrisy/MediapipeHandtracking_GPU_Bitmap_Input,it use the aar mode,i only modify it in soulution mode,main code as below.when run 6 minutes,the err produce.
1、use the solution mode,not aar

		bmpInput.start(
                              this,
                              resultIntent.getData(),
                              hands.getGlContext(),

[2021-09-28 01:57] wangzi815 commented on #2553
when i run the project,the err produce ,see :https://github.com/google/mediapipe/issues/2604
what is the problem,@afsaredrisy

[2021-09-28 02:56] razorgeneral commented on #2599
The issue seems to be resolved for me. Able to run it without any issues using

implementation 'com.google.flogger:flogger:latest.release'
implementation 'com.google.flogger:flogger-system-backend:latest.release'

[2021-09-28 04:25] sgowroji commented on #2606
Hi @vadile, Thank you for sharing your query. Could you please share your code changes and tested video for reference to investigate further. Thanks!

[2021-09-28 04:29] sgowroji commented on #2605
Hi @sandesh1994199, Could you please have a look at this https://github.com/google/mediapipe/issues/2418#issuecomment-908267743

[2021-09-28 05:32] #2562 closed

[2021-09-28 05:44] kdubey19 commented on #2585
@nathanfrey-google  @sgowroji  - Request you to please help with the above error

[2021-09-28 06:42] Joshua27 commented on #2599
Yes, I can confirm that this is solved since a new version of flogger (0.7.1) has been released which contains all necessary classes.

[2021-09-28 06:48] jimver04 commented on #2486
Actually it was a Networked-Aframe issue that I have solved: https://github.com/networked-aframe/networked-aframe/issues/269

[2021-09-28 07:38] DLGL99GL commented on #877
test@test-virtual-machine:~/Desktop/bazel-emscripten_1/mediapipe$  bazel build -c opt //javascript:khaliwasm --config=wasm --sandbox_debug --verbose_failures
Starting local Bazel server and connecting to it...
INFO: Repository org_tensorflow instantiated at:
  /home/test/Desktop/bazel-emscripten_1/mediapipe/WORKSPACE:194:13: in <toplevel>
Repository rule http_archive defined at:
  /home/test/.cach

[2021-09-28 07:41] Sreerag-ibtl commented on #2599
Okay. I am closing the issue.

[2021-09-28 07:41] #2599 closed

[2021-09-28 07:48] prantoran commented on #877
@DLGL99GL I assume that you can run the C++ examples in Linux and followed the [emsdk github](https://github.com/emscripten-core/emsdk/tree/main/bazel) to setup emsdk in Bazel. Tensorflow supports WASM so I guess the error is in the WorkSpace file or in the files for `org_tensorflow`  in the `third_party` folder.

[2021-09-28 07:55] HungDuong1998 commented on #1903
Thanks, it works like a charm.
Have we got the tracking API yet? I see the detection only model inference in video is quite slow, would be great if it can be accelerated with the tracking solution

[2021-09-28 07:56] prantoran commented on #877
Also maybe Bazel is accessing old cached binaries. To clean Bazel cache: `bazel clean`.

[2021-09-28 08:03] mahtaabdn commented on #1162
[https://github.com/google/mediapipe/issues/2586#issue-1005490666](url)

[2021-09-28 08:51] willstott101 commented on #2586
I've had to set `alwayslink=1,` in `mediapipe/framework/BUILD` for the target `cc_library(name = "calculator_graph",`

[2021-09-28 09:02] mahtaabdn commented on #2586
I've also set `alwayslink=1`, too. But it doesn't work.

[2021-09-28 09:08] willstott101 commented on #2586
Have you tried doing the same thing for the `//mediapipe/framework/port:file_helpers` target? I don't use that one, so IDK if it's neccessary.

[2021-09-28 09:09] willstott101 commented on #2586
You can read the file however you want too - if that function isn't working you can just read it with normal C++ or Qt stuff

[2021-09-28 09:14] richardhfj opened #2607 "Question about Mediapipe pose estimation for better FPS"
Hello everyone,
We are looking to implement the Mediapipe pose estimation model into an Android device. Is it better to use the pose estimation from the Google ML Kit (base/accurate) or rather to grab the tflite model for blazepose 3d ghum?

We are currently using the ML Kit on device pose estimation (base model) but running into a problem with the device only running at 2-3 FPS so we are now look

[2021-09-28 09:27] DLGL99GL commented on #877
no, i setuped emsdk in Bazel  according to  https://hackernoon.com/c-to-webassembly-using-bazel-and-emscripten-4him3ymc

[2021-09-28 09:47] ozett commented on #1903
i have an old mediapipe 0.8.3.1 in virtual-env that dont know about object-detection.

my history told me i did it like this in february, hard to remember details, running fine since:
[code]

[The fork](https://blog.aniketiq.me/python-api-for-the-mediapipe-object-detection-solution) tells me to install normal media-pipe (seems 8.4) for use obj-det. (the fork has no isues to ask anything there...)

[2021-09-28 09:48] #2542 closed

[2021-09-28 09:52] HungDuong1998 commented on #1903
Yes you will need to build your own wheel from source.
Check the commits, copy the codes needed for your object detection (the last 3 commits are enough).

[2021-09-28 09:57] HungDuong1998 commented on #1903
But without the object tracking, the detection alone performance is not too impressive, there are better models updated very fast by the community. 2014 SSD seems quite old in 2021 already. So I will need to find the mediapipe object tracking python API or build it my own somehow

[2021-09-28 10:12] Tortoise17 commented on #2560
@nathanfrey-google @sgowroji Please any helping solution? that the reduction of the duration of video based on time but also content wise when there is no audio inside or audio is ignored at all.

[2021-09-28 10:28] willstott101 commented on #2489
See: https://github.com/google/mediapipe/pull/2608 which makes EGL on GBM work for me on ubuntu - both with nvidea drivers and with intel integrated with mesa. i.e. `EGL_PLATFORM=gbm` allows mediapipe to use the GPU without X or Wayland available.

[2021-09-28 10:30] willstott101 commented on #2489
Keep in mind that if you have X or Wayland running you don't need to use this. This actually falls back to CPU when I try to use it with nvidea non-free drivers on my dev PC. However, running without `EGL_PLATFORM` specified at all works perfectly still, even with the patch.

[2021-09-28 10:54] Victoria-1 commented on #994
I got the same question! Have you solved it?  Any recommendations?

[2021-09-28 11:00] HungDuong1998 commented on #1903
This mediapipe repo is more like a tool, an API generator where you try and create your own pipeline, put your own model into the solutions. But it will take time to learn on how to do those as you skim through the documentations.

For the detection task, normally people come to Machine Learning starting with a more primitive and native models like the traditional HOG in combination with an SVM cl

[2021-09-28 11:07] HungDuong1998 commented on #1903
But before accepting whatever I say, I am also a newbie in the field and is only a technology user started researching the field for only 1 month till now, not some PhD with deep knowledge so take it with a grain of salt. Good luck haha

[2021-09-28 11:24] dgrnd4 commented on #994
if i am not wrong i solved it switching operative system from windows to linux

[2021-09-28 13:06] Deuscx opened #2609 "How to change different camera in web"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): WIN10
- [MediaPipe ve

[2021-09-28 13:12] alexriedel1 commented on #2412
Check out https://arxiv.org/pdf/2006.10214.pdf

They are using focal loss for the hand palm detector but for your classification head (handedness andhand confidence) you could also go for the focal loss I guess

[2021-09-28 14:54] vadile commented on #2606
Here is the code.
video can be any closeup shot. here is an example. https://youtu.be/gq4K9QtYXI4

import cv2
import mediapipe as mp
mp_drawing = mp.solutions.drawing_utils
mp_face_mesh = mp.solutions.face_mesh
import time
import csv
drawing_spec = mp_drawing.DrawingSpec(thickness=1, circle_radius=1)
cap = cv2.VideoCapture(r'C:\Users\vatsala.adile\Desktop\facial landmark\Vatsala Face Landmark\Mod0

[2021-09-28 17:07] vadile commented on #2606
I think the problem arises when there is hand in front of eyes or if the face is partially hidden. Which I assume will be harder to fix. I would like to be able to get none or null for the xyz landmarks value for those frames instead of nothing,

[2021-09-28 17:31] sek790c opened #2610 "Render the landmarks myself, do not render them in pixelBuffer from output."
I am working on handtrack for iOS . I get landmarks from output and render them by unity 3d, and I also want to render the camera view by [MPPLayerRenderer renderPixelBuffer:pixelBuffer];
But pixelBuffer above already contains landmarks detected. Is there a way to throw it away and just show the origin frame  from camera?

[2021-09-28 20:51] tyrmullen commented on #877
@AlexShafir  Sure-- for some of our web demos we compile into our WebAssembly binaries special GPU-based ML inference code which is not yet open-sourced.  Non-web platforms have their own GPU-based ML backends, but these do not run on web.  When building from open-source, the only option we offer for web is therefore CPU-based ML (e.g. TfLiteInferenceCalculator or InferenceCalculator); using XNNPa

[2021-09-28 21:04] tyrmullen commented on #2609
That could be a good extension to the Camera helper API, but it doesn't exist at the moment-- our main development focus is on the JS Solutions API itself, so the utility classes are mostly just for demos.  However, you can always use any input you want by just calling `await this.selfieSegmentation.send({ image: source })` directly, where "source" is the VideoHTMLElement which you connect your ca

[2021-09-28 22:00] gr4cza commented on #2286
Hi @jianingwei, i am facing the same issue, what do you mean by adding "delegate { gpu {} }" ?

like this?
[code]

[2021-09-28 22:05] ahmadyan commented on #2286
Yes, delegate tells the inference calculator which backend to use. You can see [gpu example](https://github.com/google/mediapipe/blob/137e1cc7630524ea1c3a9b120985285fe43c8a3f/mediapipe/modules/objectron/box_landmark_gpu.pbtxt#L65) here and the [cpu version](https://github.com/google/mediapipe/blob/137e1cc7630524ea1c3a9b120985285fe43c8a3f/mediapipe/modules/objectron/box_landmark_cpu.pbtxt#L66) here

[2021-09-28 22:20] jianingwei commented on #2286
So both "delegate { gpu {} }" and "delegate { xnnpack{} }" give you the same error?

[2021-09-29 01:35] Deuscx commented on #2609
Hello ,I made a small demo https://stackblitz.com/edit/js-d96sjz?file=index.js
 the problem is that if i have two video source input,the `new camera` only output one video source. even i change the original video source. i don't know why this happen.

[2021-09-29 03:02] arashtavakoli commented on #2606
You may be able to add the results frame by frame to a dictionary and then fill the frames that mediapipe doesn't detect anything with nans or 0 or whatever you want. Then in the end write the dictionary to a csv file using Pandas.

[2021-09-29 03:28] sgowroji commented on #2610
Hi @sek790c, Could you please share your code changes to investigate further. Thanks!

[2021-09-29 03:32] brooks0519 opened #2611 "question about hand landmark conv2D output"
I want to use the hand trancking model in embedded device, but when I transfer the tflite model to the platform, it's failed.  So I open the hand_landmark.tflite(1.9M) model with netron, I find the output num  of conv is more than one, but the output's arrow num of the conv is only one。eg: the first conv2D,it's output is ：model_1/model/re_lu/Relu6;model_1/model/batch_normalization/FusedBatchNormV3

[2021-09-29 05:00] sgowroji commented on #2596
Thank you for raising the PR. That will be reviewed by the team and will be pushed into the Github code repo, if there are no code changes in it. We are closing this issue now and please subscribe for the  #2597  PR for further updates.

[2021-09-29 05:01] #2596 closed

[2021-09-29 05:48] #2541 closed

[2021-09-29 06:56] longerking commented on #2104
I also look forward to the feedback of this issue.

[2021-09-29 07:57] Victoria-1 commented on #994
Thanks!  It seems some variables i set did not work without restarting the computer. After i restarted the computer, built successfully.

[2021-09-29 08:25] Christy-V commented on #568
I am facing the same issue, what should i do in android studio?

[2021-09-29 10:48] #1976 closed

[2021-09-29 12:09] AmitMY commented on #2506
@AlexShafir Your changes seem to be minimal.
If it's not too much trouble, could you please contribute a fix to this repository?

[2021-09-29 12:09] sgowroji commented on #2603
Hi @karataserol,  You need to add the Hands images to your IMAGE_FILES[]  array as below and check the image in the tmp folder. And  `pip install mediapipe==0.8.7.1` to get the latest python mediapipe package.

[code]

[2021-09-29 12:18] #1993 closed

[2021-09-29 12:18] #1996 closed

[2021-09-29 12:18] #2066 closed

[2021-09-29 12:25] kboyarshinov commented on #1645
@abiemann Make sure to set input stream for CPU via `frameProcessor.setVideoInputStreamCpu("input_video")` where `input_video` should be the name of the input stream for your graph. That property isn't passed in constructor of `FrameProcessor`, only the one for GPU is.

[2021-09-29 13:32] karataserol commented on #2603
dear Sgowroji
my problem is not above code  i pasted it just as an example please have a look my first mesage ,  no matter what i try  code releted mediapipe i am geting same error which is below

I don't know if it is from the tensorflow module or the cpu, do I need to add another module, else do I have a hardware problem?

As I understand from a previous problem similar to the subject, I think t

[2021-09-29 15:21] mysticidiot opened #2612 "Javascript API for Iris Depth Tracking"
I'm working on a web application which requires the user to sit at a certain distance away from the camera.

Does an API for Iris depth tracking exist or is in the works?

[2021-09-29 16:06] command0r opened #2613 "Deploying MediaPipe for scalability"
I believe this is an Architecture and design type of question, and I was unable to find a respective category and any documentation as to how the solution can be scaled to sustain the load. I take it MediaPipe can be deployed as a Docker container, which is good. However, unless the app that does the processing is deployed to the same or another container beside it, it would require another approa

[2021-09-29 16:13] #2606 closed

[2021-09-29 17:09] aishwarya123mathpati opened #2614 "Error parsing text-format mediapipe.CalculatorGraphConfig: 44:74: Could not find type "type.googleapis.com/mediapipe.ImageTransformationCalculatorOptions" stored in google.protobuf.Any"
System information
operating system -Linux Ubuntu 20.04
Programming language - Python 3.7.10
bazel - bazel 3.7.2
opencv - 4.5.3-openvino

steps I followed to run the example of object detection with GPU support:
1.OpenGL ES Setup on Linux Desktop
2.TensorFlow CUDA Support and Setup on Linux Desktop
3.After above installation updated the  $PATH and $LD_LIBRARY_PATH and run ldconfig
4.To make MediaP

[2021-09-29 17:19] AlexShafir commented on #2506
@AmitMY Source code for Js Solutions is not released, see #1408 (basically wasm does not fit nicely into Bazel). So one cannot make PR.

My solution is just a workaround. To make it complete, one needs to add proper path handling - at least.

[2021-09-29 18:03] DeanIsMe opened #2615 "Internal loop timestamps break filtering inside loop"
**Problem**
The [`BeginLoopCalculator`](https://github.com/google/mediapipe/blob/master/mediapipe/calculators/core/begin_loop_calculator.h) makes its own timestamp for items within the loop, which is completely divorced from the actual timestamps that it receives.

[code]
Other calculators use `cc->InputTimestamp()` to determine how much time has passed since previous packets, such as `mediapipe\u

[2021-09-29 19:18] #2145 closed

[2021-09-29 19:45] mattrossman commented on #2574
@AlexShafir Your demo doesn't work for me, what browser are you using? I am testing in Chrome and Firefox.

Here is the error I see in Chrome:

![image](https://user-images.githubusercontent.com/22670878/135337225-917b0106-da6e-4d29-8e65-a99a80d32830.png)

The other problem is that Firefox doesn't support OffscreenCanvas which the image gets painted to before prediction, so the ImageBitmap can't b

[2021-09-29 21:35] LuukOriginal commented on #2381
I'm also running into the same issue rn, any way to fix it? (if more info is required just ask me)

[2021-09-29 21:45] opchronatron commented on #2563
@mhays-google I would be interested in seeing the graph as well.

[2021-09-29 21:50] LuukOriginal commented on #2381
Ok, so I did some experimenting, and found out it could have something to do with the browser, I mean, I use opera GX by default, and it does give me the `Failed to create WebGL canvas context when passing video frame` error, but when you open the website in chrome, it works all fine for me

[2021-09-30 06:33] wangzi815 opened #2616 "JNI ERROR (app bug): local reference table overflow (max=512)"
I get the same err as #2604:https://github.com/google/mediapipe/issues/2604
2013-01-18 20:24:53.576 4411-4497/com.google.mediapipe.apps.hands A/art: art/runtime/indirect_reference_table.cc:132] JNI ERROR (app bug): local reference table overflow (max=512)
2013-01-18 20:24:53.576 4411-4497/com.google.mediapipe.apps.hands A/art: art/runtime/indirect_reference_table.cc:132] local reference table dump

[2021-09-30 06:38] kdubey19 commented on #2585
@sgowroji @jiuqiant  - Request you to please help with the above error at the earliest

[2021-09-30 06:52] sgowroji commented on #2612
Hi @mysticidiot, Present we don't have any javascript API solutions for IRIS Depth tracking. But you can  have a look at our
[Visualizer](https://google.github.io/mediapipe/solutions/iris.html#web) in Web for the same.

[2021-09-30 06:56] sgowroji commented on #2613
Hi @command0r, Could you please share us the observation of what have you tried in deploying MediaPipe pose estimation solution  and what performance errors have you faced in doing it with Python platform. Thanks!

[2021-09-30 07:09] sgowroji commented on #2604
Hi @wangzi815, Can you try the workaround mentioned in this  [issue](https://github.com/google/mediapipe/issues/2219#issuecomment-927588602) as it  used the same platform (Hardware and device: RK3399 ) but with different solution.

[2021-09-30 07:11] sgowroji commented on #2616
As there is a already an [issue](https://github.com/google/mediapipe/issues/2604)  which is open and in progress we are closing this present issue and marking it as **duplicate**. Please reach us back if you have anything new request with the above query.

[2021-09-30 07:11] #2616 closed

[2021-09-30 07:18] #2526 closed

[2021-09-30 07:21] wangzi815 commented on #2604
i use the project,:https://github.com/google/mediapipe/tree/master/mediapipe/examples/android/solutions
i run it in RK3399 platform,open camera,run several minutes,the app crash.
this err produce every time,what is the problem?

[2021-09-30 07:35] wangzi815 commented on #2604
it seems not the same problem.My problem is about jni err

[2021-09-30 07:36] wangzi815 commented on #2604
i use the project,:https://github.com/google/mediapipe/tree/master/mediapipe/examples/android/solutions
i run it in RK3399 platform,open camera,run several minutes,the app crash.
this err produce every time,what is the problem?

[2021-09-30 08:19] arijith96 commented on #2551
Hi @jianingwei,

I had some time to work on this. I am currently am able to extract the pixel locations of my region of interest in a video stream.
I am now stuck in trying to place the AR robot in the middle of that region and move the robot as my region moves. Could you help me with how I can proceed?

I am using an [OpenCV approach](https://github.com/michaeltroger/feature-matching-native-andro

[2021-09-30 10:28] anandvaishnao commented on #1726
i am also facing the same "segmentation fault" error. Any resolution yet ? This looks like same issue as well: https://githubmemory.com/repo/google/mediapipe/issues/2585

[2021-09-30 13:46] #2612 closed

[2021-09-30 13:47] mysticidiot commented on #2612
Okay thanks for the response.

[2021-09-30 16:46] #2572 closed

[2021-09-30 19:39] arashtavakoli commented on #1615
I am also looking for the names of each landmark.

[2021-09-30 20:38] fortminors opened #2617 "Full Range object detection model output"
**System information** (Please provide as much relevant information as possible)
- Solution: FaceDetection
- Programming Language: C++, Python

**Describe the expected behavior:**

Hello! I am trying to understand the output of the Full Range face detector model. There are two outputs:

**reshaped_regressor_face_4** of shape [1,2304,16]
and
**reshaped_classifier_face_4** of shape [1,2304,1]

What

[2021-10-01 02:09] SutirthaChakraborty commented on #2558
Hi, is it feasible?

[2021-10-01 04:30] sgowroji commented on #2617
Hi @fortminors, Thank you for reaching us for the above query. Did you get a chance to go through our [documentation](https://google.github.io/mediapipe/solutions/models.html#face-detection).

[2021-10-01 05:18] #2549 closed

[2021-10-01 05:18] #1951 closed

[2021-10-01 06:18] #1998 closed

[2021-10-01 11:01] Pandinosaurus commented on #2595
**Disclaimer**:
I am not a lawyer, I am not a googler ; I just read the license.

**About Facemesh model**
According to the current model card of Facemesh on 1st October 2021 ([official list of model cards used in mediapipe](https://google.github.io/mediapipe/solutions/models.html), [direct link to the official pdf](https://drive.google.com/file/d/1QvwWNfFoweGVjsXF3DXzcrCnz-mx-Lha/edit)) current F

[2021-10-01 11:42] gb2111 commented on #2419
@sgowroji @hadon
I am also curious how that can be set. This is possible in python so it should be also in C++ I guess.
Let me know what's the status of that ?
Greg

[2021-10-01 13:39] abhishetty71 commented on #1928
I tried renaming the file also the directory, but updating mediapipe to the latest version worked for me.

[2021-10-01 18:00] ThiruSS opened #2618 "Disable face model into holistic solution"
I use mediapipe within a web page, but I only need the kps of the body and hands, so I don't need the overhead of using the face model.
Is there a way to disable the face model in the Javascript solution. Or would it be possible for the development team to consider introducing that option when using the holistic solution?
Thank you very much.

[2021-10-01 18:12] AlexShafir commented on #2574
@mattrossman I am testing on Chrome 94. Just checked rn and it works. Note that on old PC my demo is stuck.
I do not consider Firefox, so cannot help there.

How I understood that ImageBitmap works as input - see #2506#issuecomment-914522493

[2021-10-01 18:28] mysticidiot opened #2619 "Latest version does not build on Windows"
When I run -
bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 --action_env PYTHON_BIN_PATH="C:\Users\admin\AppData\Local\Programs\Python\Python39\python.exe" mediapipe/
examples/desktop/hello_world

The following error is displayed -
.\mediapipe/framework/packet.h(452): error C2143: syntax error: missing ';' before '&&'
.\mediapipe/framework/packet.h(452): error C2143: syntax error: missing '>'

[2021-10-01 19:18] #2187 closed

[2021-10-01 19:50] mattrossman commented on #2574
I tested in Chrome 94 as well on both MacOS and Window 10, both machines just show an error in the console.

[2021-10-01 22:45] glaucia-desing opened #2620 "pose elevaçao lateral"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):
- [MediaPipe version]

[2021-10-01 22:48] glaucia-desing commented on #2620
![2021-09-24 (2)imagem](https://user-images.githubusercontent.com/56209111/135693645-32a1ba09-c53e-4d2a-b927-6b56b13e9061.png)
![Uploading elevaçao lateral.gif…]()

[2021-10-01 22:49] glaucia-desing commented on #2620
![Uploading elevaçao lateral.gif…]()

[2021-10-01 23:33] mmbaguette opened #2621 "Show pose world landmarks in 3D plot"
How do I see the 3D landmarks of my pose in real time using a graph just like on the documentation?
https://google.github.io/mediapipe/solutions/pose#pose_world_landmarks

![image](https://user-images.githubusercontent.com/76597978/135695922-86abf311-ef2f-4ae1-b10d-16f7f6489172.png)

I want to make sure that the 3D landmarks are right where they're supposed to be. I'm using Python for my project.

[2021-10-02 00:01] Samberlance opened #2622 "Importing tensorflow.keras.models load_model Causes MediaPipe Hands Detection to Freeze at "hands.process""
I'm trying to run a hand analysis program using MediaPipe's hand recognition library as well as Tensorflow models to recognize if hands are in a particular position. I tried to use the two together, but ran into an issue.

Whenever I try to use both the Tensorflow model and the MediaPipe library, I cannot. The program freezes when I try to process the image to detect hands, and does not run to com

[2021-10-02 00:21] Samberlance commented on #2622
I've also found that even if I just reduce the import to `import tensorflow` the same issue still happens.

[2021-10-02 05:39] ludidilu opened #2623 "How can I get hips offset when using pose_world_landmarks of Pose Solution"
Hi,

POSE_WORLD_LANDMARKS
x, y and z: Real-world 3D coordinates in meters with the origin at the center between hips.

How can I get hips offset when using pose_world_landmarks of Pose Solution?

[2021-10-02 06:46] AlexShafir commented on #2574
I tested on both Windows and MacOs, it worked there.

Oh, I remembered error you talked about. When Mediapipe does not detect face, it outputs 0 instead of result and halts - I did not handle this case. It is a known bug #2434.

For my pet project Mediapipe still lacks Iris tracking, so I chose to move with [@tensorflow/face-landmarks-detection](https://github.com/tensorflow/tfjs-models/tree/maste

[2021-10-02 09:09] Thushar-marvel opened #2624 "Build unsuccessful when I run build_desktop_examples.sh"
Unable to build mediapipe in linux (ubuntu)
I get error while running build_desktop_examples.sh file

/build_desktop_examples.sh
app_dir: mediapipe/examples/desktop
out_dir: .
=== Target: mediapipe/examples/desktop/face_detection:face_detection_cpu
Starting local Bazel server and connecting to it...
... still trying to connect to local Bazel server after 10 seconds ...
DEBUG: /home/thushar/.cache/

[2021-10-02 12:57] edybk commented on #2123
I'm facing a similar issue. I'm trying to use the landmarks on a custom dataset but the results aren't satisfying. It would be amazing if you could provide a way to fine-tune the model on custom datasets.

[2021-10-02 15:56] zhangy76 commented on #2123
Sorry to hear that. I failed to do any fine-tune and do not work on it any more.

[2021-10-02 20:38] edybk commented on #2123
@zhangy76 Thanks for the update.

[2021-10-03 02:03] laitaiyu opened #2625 "I cannot get pose_landmark information."
<em>I cannot get pose_landmark information. [troubleshooting]

**System information**

- OS Platform and Distribution (Windows 10):
- Programming Language and version (C++):
- [MediaPipe version](v0.8.7.1):
- Bazel version (4.0.0):
- Solution ( Pose, Holistic ):

**Describe the current behavior:**
I cannot get pose_landmark information.

**Describe the expected behavior:**
poller_landmarks.QueueSi

[2021-10-03 07:03] sgowroji commented on #2625
Hi @laitaiyu, Could you please provide system information details as mentioned above. Thanks!

[2021-10-03 07:08] sgowroji commented on #2624
Hi @Thushar-marvel, Could you please confirm this is duplicate of https://github.com/google/mediapipe/issues/496. If not can you share the system information details to investigate further. Thanks!

[2021-10-03 07:13] sgowroji commented on #2620
Hi @glaucia-desing, Could you please elaborate your use case with complete details. Thanks!

[2021-10-03 11:01] laitaiyu commented on #2625
BisonCam, NB Pro
Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz 2.20GHz
RAM: 64.0 GB
System type: 64-bit operating system, x64-based processor
Windows 10 Pro
Version: 21H1
OS build: 19043.1237
Experience: Windows Feature Experience Pack 120.2212.3530.0
NVIDIA GeForce GTX 1070
Bazel 4.0
Please help me fix this issue. Thank you in advance.
![mediapipe queuesize zero](https://user-images.githubusercontent.

[2021-10-03 15:47] Nivratti commented on #912
To get actual screen coordinates, you can modify function `mp.solutions.drawing_utils.draw_detection` .

[code]

[2021-10-03 17:02] jiuqiant commented on #2619
The [issue](https://github.com/google/mediapipe/issues/908) you mentioned is solved as https://github.com/google/mediapipe/issues/975#issuecomment-706467559. I built the packet library (bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 framework:packet) with the latest version and it works well on my end:

<img width="370" alt="Untitled" src="https://user-images.githubusercontent.com/3359144/135

[2021-10-03 18:17] gradnerj commented on #1373
This resolved the issue for me.

[2021-10-03 20:15] Ashish-Balhara commented on #2604
We are facing the similar issue on Pixel 4A. app crashed after sometime.  We are also using the hand tracking code given in [android/solutions](https://github.com/google/mediapipe/tree/master/mediapipe/examples/android/solutions). As there is no certain crashing pattern, It looks like memory leak issue.

[2021-10-03 20:18] Ashish-Balhara commented on #2567
We are facing the similar issue on Pixel 4A. app crashed after sometime. We are also using the hand tracking code given in [android/solutions](https://github.com/google/mediapipe/tree/master/mediapipe/examples/android/solutions). As there is no certain crashing pattern, It looks like memory leak issue.

[2021-10-04 01:03] Samberlance commented on #2622
Also want to add that when I tested with Tensorflow 2, the issue persisted.

[2021-10-04 03:55] Victoria-1 opened #2626 "Get the problem: "Failed to set mediaType (stream 0, (0x0 @ 1) MFVideoFormat_RGB32(unsupported media type)" with iris_tacking on windows"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

Environment: win8+opencv3.4.10+vs2015

I have run iris_depth_from_image_desktop successfully,here is the result:
D:\mediaPipe\mediapipe-master>bazel-bin\mediapipe\examples\desktop\iris_tracking\iris_depth_from_image_desktop --input_image_path=C:\Users\melomonkey\Desktop\iris_test

[2021-10-04 05:29] sgowroji commented on #2626
Hi @Victoria-1, I think its unable to read a frame from the test video used in the above and returns [empty](https://github.com/google/mediapipe/blob/b899d17f185f6bcbf3f5947d3e134f8ce1e69407/mediapipe/calculators/video/opencv_video_decoder_calculator.cc#:~:text=//%20Unfortunately%2C%20cap_-%3Eget,%7D) when trying to read the first frame of the video.  Is it with only one video or same with other v

[2021-10-04 05:38] sgowroji commented on #2621
Hi @mmbaguette, It was from pose [codepen](https://codepen.io/mediapipe/full/jOMbvxw). We don't have any on python yet. But you can try building with pose coordinates  on python Matplotlib packages

[2021-10-04 05:42] sgowroji commented on #2618
Hi @ThiruSS,  If you are looking for javascript can you go through it https://github.com/google/mediapipe/issues/2028#issuecomment-888703030

[2021-10-04 06:58] Victoria-1 commented on #2626
I have tried at least 3 videos and get the same problem. I take the video with mobile phone, it will be a matter?  Because there is a confusing thing, when i run "iris_depth_from_image_desktop", the test image i use is also from mobile phone, but some images (from different mobile phones) do not work. It is related to exif info, i wonder what kind of exif info must be included in the image?  And i

[2021-10-04 08:49] edgar-bcn opened #2627 "Object detection and tracking on Desktop"
Hi,

First of all I would like to thank you for sharing such a cool solution as MediaPipe.

I'm struggling with a number of practical issues, and need some hints to go on.

Currently I've successfully built your Object Detection and Tracking solution for Desktop following the instructions [here](https://google.github.io/mediapipe/solutions/object_detection).

Problem is when I run the application

[2021-10-04 09:47] Sreerag-ibtl commented on #490
@eknight7 In my use case I have to use a USB camera. I was wondering if mediapipe can access a USB camera because CameraX does not support external.

[2021-10-04 10:26] mysticidiot commented on #2619
Yeah I think the MSVC version is causing the issue. I can't install VS 19 on my laptop so used VS 17. The official Bazel doc specified any version of VS was fine. Is there a way of running the latest build using VS 17?

[2021-10-04 11:31] Ram-Godavarthi opened #2628 "Face_landmark tflite model inference in TensorRT on Jetson nano"
Hello,

I am using face_landmark model with 468 features for face recognition.
I could able to port it to TensorRT 8 (tested with ./trtexce command) and it works there without any errors.

But, I would like to do it in TensorRT 6. Is there a possibility / anyone has done it in TensorRT 6 successfully ??
Thanks in advance.

[2021-10-04 11:53] sgowroji commented on #2628
Hi @Ram-Godavarthi, Thank you for sharing your observation on TensorRT 8.  What is the problem are you seeing while trying to do it on TensorRT 6. And please share your steps of reproduction. Thanks!

[2021-10-04 11:58] Ram-Godavarthi commented on #2628
Hi @sgowroji ,
thanks for getting back so quickly.
I have written a plugin for RELU layer by referring this [repo](https://github.com/nwesem/mtcnn_facenet_cpp_tensorRT)

I get this error when I try to build an engine.

PARSER CREATED
----------------------------------------------------------------
Input filename:   ../facenetModels/facenet_468_mediapipe.onnx
ONNX IR version:  0.0.4
Opset version:

[2021-10-04 12:03] Ram-Godavarthi commented on #2540
Which version of TensorRT have you used ??
Could you share the details.
Thank you

[2021-10-04 13:12] mnayef95impressions opened #2629 "Android: An error occurred during the fetch of repository 'XNNPACK'"
**System information**
- OS Platform and Distribution: macOS Big Sur 11.5.2 (20G95)
- Compiler version: 12.0.5 (clang-1205.0.22.11)
- Programming Language and version: Java 11.0.10 2021-01-19
- [MediaPipe version](https://github.com/google/mediapipe/releases): latest
- Bazel version: bazel 3.7.2
- Android SDK and NDK versions: SDK (30), ndk (21.4.7075529)

**Describe the problem**:
Failed after ru

[2021-10-04 16:44] edgar-bcn opened #2630 "Face detection & tracking"
Hi,

What steps should I follow to get Face detection running together with Box tracking?

I would like to try face tracking (insted of face detection by frame) and I understand is easy to get it running keeping in mind there is already another similar solution (Object tracking).

Could you please give me some clues?

Regards,
Edgar

**System information**
- OS Platform and Distribution: Ubuntu 20

[2021-10-04 18:52] djbalisaiefeddine commented on #1606
i can't find the option to flip the camera to rear and front. can you please help me with this task

[2021-10-04 20:43] cdata commented on #2509
After wrangling the build system for several days with no success, I would like to second this request. There are many moving parts within this project. It is very difficult to use MediaPipe as a dependency in other projects.

Documentation explaining how to correctly build and distribute a library would be a satisfying substitute for a pre-built distributable library, in my case.

[2021-10-05 02:56] mauriciogior opened #2631 "Chrome Tab Crash on Selfie Segmentation"
**System information** (Please provide as much relevant information as possible)

- Custom code using Selfie Segmentation.
- Using Chrome 94 on MacOS Big Sur Apple Silicon.

**Describe the current behavior:**
Right on the first `selfieSegmentation.send` run, the tab crashes. After more tests, it feels like it crashes if I access `enumerateDevices` at some point

**Other info / Complete Logs :**
[8

[2021-10-05 03:21] HungDuong1998 opened #2632 "Object detection and box tracking in python"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Windows 10
- [Med

[2021-10-05 03:26] Thushar-marvel commented on #2624
@sgowroji
I tried to the issue #496 .Even after altering `./mediapipe/third_party/opencv_linux.BUILD` it didn't work for me.

[2021-10-05 03:29] Thushar-marvel commented on #2624
Device name	LAPTOP-4P7IBL6V
Processor	Intel(R) Core(TM) i5-9300H CPU @ 2.40GHz   2.40 GHz
Installed RAM	8.00 GB (7.85 GB usable)
Device ID	E593A1D8-AE75-4009-BF6F-9E437572701F
Product ID	00327-35852-62270-AAOEM
System type	64-bit operating system, x64-based processor
Pen and touch	No pen or touch input is available for this display

[2021-10-05 03:32] Thushar-marvel commented on #2624
I have used Oracle VM virtual box manager to build virtual machine with ubuntu 20.04

[2021-10-05 04:16] sgowroji commented on #2632
Hi @HungDuong1998,  What is the error while running ObjectTrackingSubgraph. Could you please share the code changes and logs to help understand the issue. Thanks!

[2021-10-05 04:24] HungDuong1998 commented on #2632
It does not show syntax or library missing errors on running the python API built from setup.py bdist_wheel, the build was successful.
However the results are not as expected. When I try to run the [live demo of object tracking from native c++ code](https://github.com/google/mediapipe/tree/master/mediapipe/examples/desktop/object_tracking) it works well as my expectation. But on copying the [examp

[2021-10-05 04:27] sgowroji commented on #2629
Hi @mnayef95impressions, Could you please have a look at this https://github.com/google/mediapipe/issues/54#issuecomment-705064578 and try the workaround mentioned in it. Thanks!

[2021-10-05 04:43] HungDuong1998 commented on #2632
@sgowroji this is my [forked version](https://github.com/HungDuong1998/mediapipe) showing the changes log, please take a look

[2021-10-05 05:18] #2564 closed

[2021-10-05 06:18] #2552 closed

[2021-10-05 06:56] sgowroji commented on #2627
Hi @edgar-bcn, Could you please share a recording video or  screenshot to illustrate the problem you're facing.

[2021-10-05 07:30] sgowroji commented on #2631
Hi @mauriciogior, Could you please share the logs in the txt file or trace file to investigate the issue. Thanks!

[2021-10-05 09:59] edgar-bcn commented on #2627
Attached you'll find the recording video.

I have built the solution with the following command:

**bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 mediapipe/examples/desktop/object_tracking:object_tracking_cpu**

And running it with this one:

**GLOG_logtostderr=1 bazel-bin/mediapipe/examples/desktop/object_tracking/object_tracking_cpu \
  --calculator_graph_config_file=mediapipe/graphs/track

[2021-10-05 11:33] tomleader commented on #2624
Well I had met some errors like you...
 I think the key to solve is you should make sure your opencv should be installed successfully AND your environment variables should be set properly.

And the build_desktop_examples.sh is too much complicated and I suggest you can build single example(face_detection ,eg) to begin, if ok, then go to the other examples.

[2021-10-05 11:47] sgowroji commented on #2544
Hi @Vatsa0408, You should try building your code similar like this https://github.com/google/mediapipe/issues/2562#issuecomment-922670108. Reach us back if you still have queries on the above issue.

[2021-10-05 11:53] sgowroji commented on #2537
Hi @shivaprasadgh, We dont have any direct examples to demonstrate your use case.  You can try something similar using this https://github.com/google/mediapipe/issues/1920#issuecomment-826954189

[2021-10-05 11:53] #2537 closed

[2021-10-05 12:06] sgowroji commented on #2481
Hi @orf, Trying `bazel clean --expunge` did you get any help ?

[2021-10-05 14:29] mauriciogior commented on #2631
Hi @sgowroji, I don't see anything on Developer Tools since when it crashes it disconnects from the tab. I attached the dump Chrome generated. Could you give me guidance to get the trace file?

Thanks.

[2021-10-05 18:17] tyrmullen commented on #2631
@mauriciogior I noticed this is happening with custom code using the selfie-segmentation API.  Does the selfie-segmentation MediaPipe CodePen have the same problem for you?

[2021-10-05 20:16] mauriciogior commented on #2631
Hi @tyrmullen, yes, it is custom code and the CodePen example works (I also tried the one you have in your docs and it also works). What I'm trying to figure out is why the whole tab crashes and how can I fix it -- I can't see any RuntimeExceptions since the Developer Tools disconnects from the tab when it crashes.

My custom code does have more complexity and uses quite a bit of ram, but the vide

[2021-10-05 23:15] JelaniThompson opened #2633 "Webcam Access Being Requested When Not Using"
Hello there,

I'm working on a project with selfie segmentation and loving the performance so far. I'm making a background/foreground subtraction project and I've run into a bit of an issue. The browser I'm currently using doesn't have webcam access and I'm running the background subtraction on MP4 videos. It works great when I'm able to allow webcam access, but I have no idea why it's being reque

[2021-10-06 00:01] Samberlance commented on #2622
I see. But that thread doesn't elaborate on how to solve the issue. I inferred from it that I should try switching the order of the import, but doing so (importing mediapipe first and tensorflow second) actually causes the entire program to crash even earlier when it tries to import tensorflow.

[2021-10-06 03:46] HungDuong1998 commented on #2632
Update: I have successfully deployed the TrackingSubGraph, turned out that I did not understand the console log. It keeps saying

making me confused about the history it was mentioning.

I will close the issue now. [My forked version](https://github.com/HungDuong1998/mediapipe) has successfully deployed object box tracking and detection in python API for anyone interested. (CPU version)

Steps to

[2021-10-06 03:48] #2632 closed

[2021-10-06 04:40] sgowroji commented on #1461
We are reopening this issue as this still exist even with the latest release.

[2021-10-06 05:59] sgowroji commented on #2079
Have you tried checking this issue https://github.com/google/mediapipe/issues/1936#issuecomment-830382471 information w.r.t GPU

[2021-10-06 06:02] sgowroji commented on #1999
Hi @glnmzx888, We have updated most of our model cards here https://google.github.io/mediapipe/solutions/models.html#mediapipe-models-and-model-cards. Could you please go through them and let us know if you are looking for anything more details. Thanks!

[2021-10-06 06:02] #1999 closed

[2021-10-06 06:07] sgowroji commented on #1972
Hi @philiprkk, Could you please test the above with the latest release and let us know if you still see the above behavior. Thanks!

[2021-10-06 06:16] sgowroji commented on #1948
Hi @donguk-dev, We have updated our [documentation](https://google.github.io/mediapipe/solutions/hands.html#models). Kindly have a look at reach us back if you still have any queries on it. Thanks!

[2021-10-06 06:16] #1948 closed

[2021-10-06 07:14] sgowroji commented on #1293
Hi @francoisbonnard, This https://github.com/google/mediapipe/issues/1155#issuecomment-721889436 will  guide you better on your use case. Thanks!

[2021-10-06 07:14] #1293 closed

[2021-10-06 07:47] ibrandiay commented on #2009
@HungDuong1998 I finally gave up my yolo model to adapt a mobilenet ssd, I have no choice ... The power of google is essential. Yolo is better but he does not have the right support for mobile devices

[2021-10-06 07:52] ibrandiay commented on #2009
@HungDuong1998 yes

[2021-10-06 07:54] HungDuong1998 commented on #2009
But not successful still? The yolo tflite is not compatible for google pipeline?

[2021-10-06 07:57] HungDuong1998 commented on #2009
Do you have any git repo/blog on this? Why it doesn't work? Is it because of the image size input or what?

[2021-10-06 08:07] ibrandiay commented on #2009
this is because of the output of the yolo model, you have to write a c ++ wrapper to decode the yolo output. What I don't want to do, in addition you will have problems when you have to run it on GPU. To put it simply, yolo does not have real support for mobiles, unlike google

[2021-10-06 08:34] veetechh commented on #2328
@mhays-google may I know if there is any solution for this issue on android?

[2021-10-06 09:12] HungDuong1998 commented on #2009
C++ wrapper is easier or modifying the tflite converter tool you used is easier?
I am newb to all of this really, would love to help but I don't think I can do much

[2021-10-06 09:18] #2554 closed

[2021-10-06 09:23] ShahabAthar25 commented on #2448
yes it solved my problem too

[2021-10-06 09:57] edgar-bcn commented on #2630
Hi,

Finally I found the answer by myself.

Now what I need to figure is how build a ML inference server based on your face tracking solution.

In your samples you're using video files or live camera as inputs, reading frames and manipulating them with OpenCV. All the magic happens in one single application.

What I've in mind is break it down in two pieces like in a traditional Client-Server appl

[2021-10-06 10:18] #2513 closed

[2021-10-06 14:18] #2097 closed

[2021-10-06 15:24] sgowroji commented on #2544
Hi @Vatsa0408,  Did you get a chance to go through the above https://github.com/google/mediapipe/issues/2544#issuecomment-934334406

[2021-10-06 18:44] jld23 opened #2634 "#include file `<opencv2/core/version.hpp>` can't be found"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>
I didn't find this issue in the troubleshooting section or in other recent open issues.

**System information** (Please provide as much relevant information as possible)
- OS Platf

[2021-10-07 00:56] justinmeskan opened #2635 "Couldn't find the requested file /face_detection_short.binarypb in @mediapipe/face_detection."
I am using the mesh decetion with no issues but when I setup the simple face detection I got these errors saying these files don't exist, here are the actual errors-
-Couldn't find the requested file /face_detection_short.binarypb in @mediapipe/face_detection.
-Couldn't find the requested file /face_detection_short_range.tflite in @mediapipe/face_detection.

Heres my code-

<!DOCTYPE html>
<html>

[2021-10-07 03:33] brucechou1983 commented on #634
@NestorGL

grep -r "CalculatorOptions ext =" $MEDIAPIPE_ROOT/mediapipe/calculators | grep $TARGET_NUMBER

[2021-10-07 04:02] sgowroji commented on #1000
Hi All, We are glad to update that we have the added [attention model](https://google.github.io/mediapipe/solutions/face_mesh#attention-mesh-model) in our face mesh.

[2021-10-07 04:37] Hank-MIA opened #2636 "Fail to build Android Example App"
Hello there, this is my first time ever creating an issue on open source project, please let me know if I'm doing it wrong. Thank you!

**System information**
- OS Platform and Distribution : Linux Ubuntu 20.04 LTS
- MediaPipe version : v0.8.7.1
- Bazel version: 3.7.2
- Android SDK and NDK versions : Android 10, NDK 23.0.7599858
- OpenCV version : 4.2

**Describe the problem**:
I'm following the i

[2021-10-07 05:09] shankhanil007 commented on #1606
How to import this URL in HTML? Can anyone suggest the full code

[2021-10-07 07:15] sgowroji commented on #2634
Hi @jld23,  Above issue might be with opencv installed successfully and not linked properly. Can you try the workaround mentioned here https://github.com/google/mediapipe/issues/2624#issuecomment-934325347

[2021-10-07 10:51] #2586 closed

[2021-10-07 13:19] dikiy007 opened #2637 "Medipipe objectron js not returned properties"
Good afternoon, could you help me, I have one problem in your documentation it says that api returns the following properties:
landmarks_2d, landmarks_3d , rotation, translation, scale

https://google.github.io/mediapipe/solutions/objectron.html#output

Programming language : typescript

But some of the parameters are not returned to me. That are: rotation , translation , scale

![image](https://u

[2021-10-07 14:37] #2634 closed, assigned to sgowroji

[2021-10-07 17:28] justinmeskan commented on #2635
Hi @sgowroji When i click the link i get a 404 error

[2021-10-07 17:46] Hank-MIA opened #2638 "Fail to build Android Example App"
Hello, this is probably stupid, I googled the error but couldn't find anything.
**System information**
 - OS Platform and Distribution : Linux Ubuntu 20.04 LTS
 - MediaPipe version : v0.8.7.1
 - Bazel version: 3.7.2
 - Android SDK and NDK versions : Android 10, NDK 21.4.7075529
 - OpenCV version : 4.2

**Describe the problem**
I'm following the instruction to build an android example app:
https://

[2021-10-07 21:31] shubhamdawande opened #2639 "Facemesh codepen not working on Desktop Safari 15"
Hi all,

I am using mediapipe facemesh solution in my project. Currently it does not work on Desktop Safari 15 with WebGL 2 support. I am getting empty landmark output. This is however working fine on iOS Safari.

I noticed that the official codepen does not work as well and shows a black screen. Here's the link: [https://codepen.io/mediapipe/pen/KKgVaPJ](https://codepen.io/mediapipe/pen/KKgVaPJ).

[2021-10-07 23:33] hadon commented on #2600
The formula: "std::atan2(-(y1 - y0), x1 - x0)" gives the angle between "start_keypoint" and "end_keypoint" relative to the x axis.  In DetectionsToRectsCalculator, the output Rect is rotated by this angle plus the additional angle "rotation_vector_target_angle" relative to the x axis.

The output Rect from DetectionsToRectsCalculator will have field "rotation" and that field value will be an angle

[2021-10-08 03:43] BaiL939 opened #2640 "Failed to set PYTHON path using --action_env, do not know whether to run on CMD or build on MSYS.Do you just add environment variables after you download PYTHON?I really feel aggrieved"
Failed to set PYTHON path using --action_env, do not know whether to run on CMD or build on MSYS.Do you just add environment variables after you download PYTHON?I really feel aggrieved。Error: invalid options syntax is displayed

[2021-10-08 03:56] kostyaby commented on #2630
Hey @edgar-bcn,

MediaPipe is a native library, so you can totally pack it inside of a server application instead of a client application. However, this is not something which comes as a part of MediaPipe out-of-box so you'd have to figure it out yourself

This architecture sounds good to me. Please mind the increased latency as a result of this approach (sending network packets takes time); it'll

[2021-10-08 05:38] #2584 closed

[2021-10-08 06:57] wangzi815 commented on #2604
i test the app in huawei phone:HRY-AL00,when handsResult is got about 3000 times,crash happen,neither mediapipe 0.8.7 or 0.8.8.
this err seems not rely on platforms

[2021-10-08 07:18] wangzi815 commented on #2604
err:
2013-01-18 20:55:45.331 13612-13612/? E/art: setrlimit(RLIMIT_CORE) failed for pid 13612: Operation not permitted
2013-01-18 20:55:48.087 13612-13612/com.google.mediapipe.apps.hands E/libEGL: validate_display:99 error 3008 (EGL_BAD_DISPLAY)
2013-01-18 20:57:05.466 13612-13646/com.google.mediapipe.apps.hands A/libc: Fatal signal 6 (SIGABRT), code -6 in tid 13646 (Thread-9)

[2021-10-08 08:35] KrzysiekBrzostowski opened #2641 "Mediapipe's calculator in Python for signal processing"
Hello,

I am new to Mediapipe. I would like to ask you that it is possible to process audio signals in Mediapipe based on Python?
I found this
https://github.com/google/mediapipe/tree/master/mediapipe/util/filtering
an example of low-pass filter in .cc file. How can I build a Calculator in Python which will be ready to use in the Mediapipe framework?

I would appreciate a minimum working example.

[2021-10-08 08:44] veetechh commented on #2328
Hi, the issue is solved in new version js files. Thanks!

[2021-10-08 08:44] #2328 closed

[2021-10-08 10:03] FanaticX opened #2642 "Why there is no ios example for hair segmentation"
What causes hair segmentation without ios example

[2021-10-08 11:02] edgar-bcn commented on #2627
@sgowroji Is there any workaround to try while waiting  for support answer?

[2021-10-08 11:26] sahil-dhuri commented on #1538
m too trying to detect close eyes and opened eyes as i have trained model for it in jupyter n its giving negative for close eyes and positive value for open but its for the image...video capture its only accepting positive value in python

[2021-10-08 19:45] spacebred opened #2643 "AutoFlip segmentation fault in tflite_tensors_to_detections_calculator.cc"
I get Segmentation fault when running AutoFlip on various mp4 files including the provided life_at_google.mp4.

I've tried it using the docker installation on my own machine running Ubuntu 20.04 as well as normal installation on a fresh AWS ec2 c5.2xlarge Ubuntu 18.04 instance which has 8 vCPU and 16GB RAM.

Everything from here on was done on ec2 Ubuntu 18.04. For mediapipe installation I followe

[2021-10-09 01:07] BaiL939 opened #2644 "Distinguished technical bull. Is Mediappipe only available on Python? I want to use C++ on visual studio now. Can I use it? There is my environment has not been correctly configured, I hope you can help me. Thank you"
Distinguished technical bull. Is Mediappipe only available on Python? I want to use C++ on visual studio now. Can I use it? There is my environment has not been correctly configured, I hope you can help me. Thank you

[2021-10-09 06:25] joejoe2 commented on #2567
@sgowroji Same error on my galaxy s20. Is there any progress ?

i got this error log:

A/libc: Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR)

I think this is memory leak issue ?

[2021-10-09 07:38] Lvcenia opened #2645 "Using Mediapipe Hand Tracking with a Depth Camera"
I'm a student and I'm now working on my Graduation project, to build a Video Game with a Realsense D415 Depth Camera, with hand tracking and gesture recognition for player input.
I found Mediapipe, but the models were trained with pure rgb data.
How can I take full use of the per-pixel Depth data to improve the results?

[2021-10-09 08:55] Sreerag-ibtl opened #2646 "Null pointer issue after running fine for a while when using Camera2 API"
This template is for miscellaneous issues not covered by the other issue categories

For questions on how to work with MediaPipe, or support for problems that are not verified bugs in MediaPipe, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/mediapipe) and [Slack](https://mediapipe.page.link/joinslack) communities.

If you are reporting a vulnerability, please use the [ded

[2021-10-09 22:34] ParisRoubaix opened #2647 "MediaPipe Build Error - Building C++ command-line example - MediaPipe Hands"
Error building MediaPipe Hands example C++

[Command]

bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 mediapipe/examples/desktop/hand_tracking:hand_tracking_cpu

[Error]

[1,007 / 3,675] 128 actions, 1 running
ERROR: /home/ubuntu/mediapipe/mediapipe/calculators/tensor/BUILD:657:11: C++ compilation of rule '//mediapipe/calculators/tensor:image_to_tensor_converter_o
pencv' failed (Exit 1): gcc

[2021-10-10 02:25] dmunozb commented on #2642
hair segmentation it's not supported on ios, look [here](https://google.github.io/mediapipe/solutions/solutions.html) available soluctions/platforms

[2021-10-10 07:06] nelsontseng0704 opened #2648 "SavedModel load for tags { serve }; Status: fail: Not found using Autoflip"
I build the new version of Autoflip successfully by following the instruction from (https://github.com/googleinterns/intern-for-design). However, when I use autoflip_graph_development.pbtxt, the one in [github](https://github.com/googleinterns/intern-for-design) to generate videos. It shows up the following error message:

[code]

Moreover, when I try to use the autoflip_graph_development.pbtxt fr

[2021-10-10 18:31] edgar-bcn commented on #2627
Simply adding a FlowLimiterCalculator node at the very beginning of object_detection_cpu.pbtxt (like on non-tracking version of Object detection) it works.

I'm newie on MediaPipe (and ML in general) so don't know if this the right solution.

[2021-10-11 00:59] vandics commented on #1479
you can visit my solution here https://github.com/google/mediapipe/issues/1803

[2021-10-11 01:06] ibrandiay commented on #549
@NithyaMogane-TomTom You found a solution to your problem because I also have the same problem.?

[2021-10-11 02:27] longerking opened #2649 "Is npm mediapipe package open source?"
I am learning about the use of javascrpt in mediapipe, but I found that the npm package drawing_utils.js introduced in the case is through script cdn. I can’t find the corresponding source code description for drawing_utils.js  in the project. Is this part open source? Where can I find the corresponding description?

https://google.github.io/mediapipe/getting_started/javascript.html

[2021-10-11 03:29] DLGL99GL commented on #877
hello， I found that the version of MediaPipe I used was somewhat different from yours.
I only added the part you added to my WORKPACE, which solved the errors about “org_tensorflow”；

but there were still errors about “//javascript/toolchain:emscripten”

 I didn't find the folder named javascript in [emsdk github](https://github.com/emscripten-core/emsdk)，so i add some but i don't know how to add

[2021-10-11 05:10] sgowroji commented on #2638
Hi @Hank-MIA, Can you try the workaround mentioned in this https://github.com/google/mediapipe/issues/2284

[2021-10-11 05:39] Flashxyz commented on #1466
I have a MacBook Pro mid-2010 model and it is not working I am getting the same error ERROR: Could not find a version that satisfies the requirement mediapipe (from versions: none)
ERROR: No matching distribution found for mediapipe  i have python 3.7.9 i tried 3.7.0 i tried 3.9.0 i really need help i have been stuck with this issue for two months and I have a project soon 😓

[2021-10-11 09:03] sgowroji commented on #2644
Hi @BaiL939, We have already an issue with similar context which is in progress. Please have a look at it https://github.com/google/mediapipe/issues/1162

[2021-10-11 09:52] zhoujingheng opened #2650 "Android solution get texture id"
How can i get texture id on funtion , i want to custom effect

`
public void renderResult(FaceMeshResult result, ResultGlBoundary boundary)
`

[2021-10-11 09:55] BaiL939 commented on #1162
Thanks for the positive discussion, but mediapipe is not very friendly to C++.But my ability is really insufficient, now the C++ development environment is not built well.But after reading everyone's discussion, I still feel that there is no concrete and practical answer

[2021-10-11 10:35] sgowroji commented on #2645
Hi @Lvcenia, Could you please elaborate your use case with complete details and what platform are you referring to the above. Thanks!

[2021-10-11 14:16] hi1521 commented on #1698
Hi i need help in my FYP i am trying to create this as a Final Year project of my CS degree i need your help.

[2021-10-11 18:25] tyrmullen commented on #2536
It's not exposed in any of the type interfaces, as it's not part of the officially supported public API, but it can still be used all the same.  Just extend Options yourself to have that field (and make sure it's not compiled away by your TS compiler).

Taking pose as an example, if you look at https://cdn.jsdelivr.net/npm/@mediapipe/pose@0.4.1633558788/pose.js, you can see that 'useCpuInference'

[2021-10-11 19:17] taatiq882 opened #2652 "Manipulating Stick Figure and access pose landmarks on Android"
Hello Guys, Excuse me if ask lame questions. I am pretty new to all this. I have got an android project which is using aar and pose. I want to manipulate the stick figure colors and points and furthermore, I want to show information real time based on the pose landmarks information. Can Anyone guide me where I can do that stuff ?

[2021-10-11 19:22] 424778940z opened #2653 "Runtime Errors"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): `Ubuntu 20.04 LTS`

[2021-10-11 19:34] #2649 closed

[2021-10-12 00:18] arisnow opened #2654 "BlazePose - JavaScript: Throwing errors when using requestAnimationFrame"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): Slightly modified script
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.

[2021-10-12 05:48] AmitMY commented on #2506
Thanks @tyrmullen
I'll just note that the largest, and most apparent, and annoying main thread block is *loading* the holistic model, not inference, in my case.
When it is loading, nothing else in my app works, and that sucks because it happens at a time when people do want to interact with the app. That's my main use case here, and secondary is inference block.

[2021-10-12 07:44] wangzi815 opened #2655 "how to process an image through web demo:"
hands web demo only support camera,how to support an image,My input is image

[2021-10-12 09:29] Victoria-1 opened #2656 "How to build a real-time iris_depth_estimation demo?"
Environment: debian10.10

I have successfully run the demo following the tips(https://google.github.io/mediapipe/solutions/iris.html). But for depth estimation, it just support image with exif info as input. But now, I want to connect an external camera(if i know its focal lenth), and get iris depth in real time, what should i do? Any suggestions? Thanks!

[2021-10-12 10:49] sgowroji commented on #2570
Hi @rogomezto, Can you try testing the IRIS as mentioned here https://github.com/google/mediapipe/issues/2605#issuecomment-938049615

[2021-10-12 10:56] sgowroji commented on #2655
Hi @wangzi815, Could you please look at this comment https://github.com/google/mediapipe/issues/2241#issuecomment-877398497 for more understanding of the above. Thanks!

[2021-10-12 19:46] taatiq882 commented on #2652
Actually. I want to display specific points for example I just want to display only the inner eye point. Furthermore, I want to change the color of the stick figure. Also want to calculate the head rotation angle. So for all these modification I want to know where the stick figure is printing and where I can access the pose landmarks so I could do calculations realtime. I would really appreciate i

[2021-10-12 19:50] tyrmullen commented on #2506
No problem!  And yes, that makes sense, and workers could probably help for that-- I'd be curious to see just how helpful they can be on this front (they should allow us to make those "wait for GPU" ops be non-blocking, but would still impact the GPU queue).

One thing to note is that loading the model data is likely taking very little time itself (or it'd show as CPU processing time), but rather

[2021-10-13 02:07] Jerryzhangzhao opened #2657 "what‘s the output of the mediapipe pose model "pose_landmark_full.tflite""
Hi, I am working on pose estimation use mediapipe pose.
I am using the model "pose_landmark_full.tflite", and visualize the model with tensorflow.lite.tools.visualize as
![tflite_model](https://user-images.githubusercontent.com/10524773/137053830-231f1e64-4c15-490a-b0a6-9090af3d867c.png)
:
The picture shows that there are 5 outputs and "Identity_3" has the shape [1x64x64x39].
the [doc](https://ai.

[2021-10-13 04:38] #2610 closed

[2021-10-13 06:25] RohitSingh1226 opened #2658 "Hand detection/tracking accuracy"
**System information** (Please provide as much relevant information as possible)

I have written a custom code for mediapipe
Windows 10
Laptop (i7-9th gen 16GB ram 1650 max-q)
Webcam: Intel realsense 415.
Python v3.7

Latest Mediapipe
Hands mediapipe solution
Running in Vs code.

**Describe the current behavior:**

In my custom mediapipe program, I have only allowed the program to detect the right

[2021-10-13 06:50] sgowroji commented on #2658
Hi @RohitSingh1226, Could you please share your code changes to  investigate your issue. Thanks!

[2021-10-13 07:10] RohitSingh1226 commented on #2658
Hi @sgowroji

class HandDetector():
    def __init__(self, mode=False, maxHands=1, detectionCon=0.5, trackCon=0.5):
        self.mode = mode
        self.maxHands = maxHands
        self.detectionCon = detectionCon
        self.trackCon = trackCon
        self.rightHand = False

        self.mpHands = mp.solutions.hands
        self.hands = self.mpHands.Hands(self.mode, self.maxHands,

[2021-10-13 08:18] Zakaria1405 opened #2659 "Problem by starting a python code using systemd"
I have some problem with running my python script using the systemd configuration. When I execute the python script in a normal way i don't get any error. As soon as I use the systemd configuration I get this error: [Please click here to see the image](https://i.stack.imgur.com/Lg68J.jpg)I’ll be grateful if someone can help me.
`
   import cv2
   import mediapipe as mp

    class HandDetector:

[2021-10-13 08:38] #2582 closed

[2021-10-13 08:38] #2580 closed

[2021-10-13 09:42] sgowroji commented on #2659
Hi @Zakaria1405, Could you please provide the steps to reproduce the above error. Thanks!

[2021-10-13 09:51] ats05 opened #2660 "Selfie Segmentation Web Demo will crush with iOS Safari."
I have great expectations for Mediapipe's solution.
But when I tried **Selfie Segmentation** with iOS Device(iPhone X : iOS 15), it didnt work as expected,

I tried this demo from [here](https://google.github.io/mediapipe/solutions/selfie_segmentation#resources)
https://codepen.io/mediapipe/pen/wvJyQpq

And, I've also tried several Mediapipe demos, but none ob them may work as well.

It's also pos

[2021-10-13 10:01] sgowroji commented on #2660
Hi @ats05, Could you please provide the error logs and screen recording video of the above error to investigate the issue. Thanks

[2021-10-13 10:12] sgowroji commented on #2204
Hi @toandrew, Could you please check the above with the latest release and let us know if you still see the above error. Thanks!

[2021-10-13 10:31] ats05 commented on #2660
Unfortunately, Safari's DevTool is not able to catch the error log.

In the capture, the tab crashes once, reloads, and then crashes again.
It shows this behavior every time.

If you have any other useful research methods or information, please let me know.

https://user-images.githubusercontent.com/10459423/137116277-747fb4ab-3079-4834-8242-e20995f69c05.MP4
![log](https://user-images.githubuserco

[2021-10-13 16:55] bsjaramillo commented on #2495
Hi @sgowroji , sorry... i'm not looking resolution for this already, thanks

[2021-10-13 19:40] TaoZappar opened #2661 "bug in FixedPassThroughCalculator????"
hi, I want to try FixedPassThroughCalculator defined in set_input_stream_handler_test.cc.

my source file is like:
`// Copyright 2019 The MediaPipe Authors.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//      http://www.apache.org/licenses/LICENSE-2.0
//
// Un

[2021-10-13 22:32] 424778940z commented on #2653
Just an update onthe in tree build issue.
After some dig around found the issue is caused by linker.
It was missing following symble.
It was an issue from Bazel config, that somehow decided not link those for me.
[code]

[2021-10-13 22:46] 424778940z commented on #1162
Please consider move to CMake or at least provided a way to build full library and headers in Bazel.
The real problem here is Bazel is really limited both on function and documents.

It is the end of 2021, and Bazel as a "build tool" is not able to produce a static library natively is ridiculous.
To make the things worse the official devs says they have NO plan for it at all.

Also for Bazel, ther

[2021-10-14 02:22] evanbrown3000 commented on #877
@tyrmullen
Thank you for your thoughtful response!

[2021-10-14 04:31] xiaogong331 opened #2662 "no matching toolchains found for types @bazel_tools//tools/android:sdk_toolchain_type"
### platform
wsl linux ubuntu and window10

I  has been successfully installed the mediapipe in my wsl ubuntu and output the "hello world"

### My SDK and NDK address

SDK: /mnt/c/Users/26797/AppData/Local/Android/Sdk

NDK:/mnt/c/Users/26797/AppData/Local/Android/Sdk/ndk/20.1.5948944

### bug
When I execute "bazel build -c opt --config=android_arm64 mediapipe/examples/android/src/java/com/google/m

[2021-10-14 05:04] sgowroji commented on #2662
Hi @xiaogong331, Could you please confirm whether the NDK and SDK paths are set correct and try updating the NDK to 21 as mentioned in our [prerequsites](https://google.github.io/mediapipe/getting_started/android.html#prerequisite). And we also released Hands gradle Android API solutions in our [Repo](https://google.github.io/mediapipe/getting_started/android_solutions.html#android-solution-apis).

[2021-10-14 06:21] Jerryzhangzhao commented on #2184
@chaowentao @hongyaohongyao 你好，我尝试将pose_landmark_full.tflite模型转为onnx:
python -m tf2onnx.convert --tflite ./pose_landmark_full.tflite --output pose_landmark_full.onnx
转换成功了
2021-10-14 13:56:34,543 - INFO - Using tensorflow=2.6.0, onnx=1.10.1, tf2onnx=1.9.2/0f28b7
2021-10-14 13:56:34,543 - INFO - Using opset <onnx, 9>
INFO: Created TensorFlow Lite XNNPACK delegate for CPU.
2021-10-14 13:56:35,113 -

[2021-10-14 06:48] sgowroji commented on #2373
Hi @APeiZou, Adding this https://github.com/google/mediapipe/issues/1962 for your reference on NNAPI and XNNPACK. Thanks!

[2021-10-14 06:48] #2373 closed

[2021-10-14 07:28] aks200000 opened #2663 "Failed to run the graph: CalculatorGraph with error : Op type not registered 'DecodeJpeg' in binary running on ..."
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (MacOS BigSur v 11.5.2):
- Compiler version (Apple clang version 12

[2021-10-14 07:43] versusniubility commented on #2663
same issue, as I checked the tensorflow website, the DecodeJpeg is from tensorflow 2.0, is this the problem?

[2021-10-14 09:06] RohitSingh1226 commented on #2658
@sgowroji any updates?

[2021-10-14 11:05] versusniubility commented on #2569
@thanasisfitsios I'm sorry I've new to tensorflow, May I know what do you mean by changing the TENSORFLOW_GIT_COMMIT in the WORKSPACE file to the latest stable release of tensorflow.? What is TENSORFLOW_GIT_COMMIT and what's the definition of  WORKSPACE file, or what did you do, cause you mentioned that tf 2.6 also doesn't work, I have the same issue.

[2021-10-14 12:34] mahtaabdn opened #2664 "Integrating Mediapipe to an existing C++ project"
I am trying to use mediapipe in an  existed C++ project in Qt. I already built the "libmediapipe.so" and added it to my project. Now I am trying to run the same code which is written in demo_run_graph_main.cc in Qtcreator, but there is a problem while is running this part of the code:
` MP_RETURN_IF_ERROR(graph.AddPacketToInputStream(
        kInputStream, mediapipe::Adopt(input_frame.release())

[2021-10-14 13:52] markome commented on #2448
Problem solved. Instead of using FACE_CONTOURS, generating error AttributeError: module 'mediapipe.python.solutions.face_mesh' has no attribute 'FACE_CONTOURS'  the code works when using FACEMESH_CONTOURS

[2021-10-14 15:19] zzmicer opened #2665 "How can I perform face warpings using face mesh?"
### Hello! I'm trying to perform smth like auto-smiling(see attach.)
Is there any way to warp/move facial keypoints and texture around them(real-time)?

- Solution: **FaceMesh**
- Programming Language and version: **C++**

### Example:

![image](https://user-images.githubusercontent.com/41323462/137347029-10f49a7d-7d36-40c3-b22c-cb1469769b87.png)

[2021-10-14 22:49] jld23 opened #2666 "Runtime Error in Pose detection using gpu calculator and CUDA"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):Ubuntu 18.04 inside do

[2021-10-15 00:27] trzy opened #2667 "FaceMesh solution in Python: How to set virtual camera parameters?"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): Using FaceMesh example with webcam capture for now
- OS Platform and Distribution (e.g., Linux Ubuntu

[2021-10-15 02:25] aks200000 commented on #2663
I looked at #2569 and have this question in this regard.

Can you be more specific about what needs to be changed in WORKSPACE file to pull in a stable version of tensorflow ?
In latest version of mediapipe's WORKSPACE file, I see this tag and value

_TENSORFLOW_GIT_COMMIT = "52a2905cbc21034766c08041933053178c5d10e3"

Are you suggesting changing this GIT Commit hash to something else pointing to a

[2021-10-15 05:12] sonnv174 opened #2668 "Mediapipe v0.8.6 and later can not install on Jetson Nano"
There is this error when I install mediapipe on Jetson Nano by this cmd:
`pip3 install mediapipe`

I have seen this [post](https://github.com/google/mediapipe/blob/master/docs/getting_started/troubleshooting.md#python-pip-install-failure) and setup python3.8 and 3.9, but still got that error.
How can I install mediapipe v0.8.6 and later on Jetson Nano?

[2021-10-15 05:45] mehtapaxshal opened #2669 "Error while upgrading to 0.4.1633558788 mediapipe pose"
Error while upgrading mediapipe **pose** npm version from 0.2.1614787780 to latest i.e. 0.4.1633558788

[code]

[2021-10-15 06:24] jarey99 opened #2670 "Error while building iris tracking example on Ubuntu 20.04.3 for Android"
Hello, I'm following the steps to build an Android application using Mediapipe, and so far I've successfully completed the installation procedure for Window's Subsystem for Linux (WSL) using Ubuntu 20.04.3 (https://google.github.io/mediapipe/getting_started/install.html). I'm now trying to build the iris tracking example from the Mediapipe repository on WSL by following these instructions: https:/

[2021-10-15 09:18] iofisher opened #2671 "How to get MediaPipe Iris eye distance in Android demo?"
demo code:
`processor.addPacketCallback(
                    OUTPUT_LANDMARKS_STREAM_NAME,
                    (packet) -> {
                        byte[] landmarksRaw = PacketGetter.getProtoBytes(packet);
                        try {
                            NormalizedLandmarkList landmarks = NormalizedLandmarkList.parseFrom(landmarksRaw);
                            if (landmarks == null) {

[2021-10-15 11:15] versusniubility opened #2672 "Error on youtube8m feature extraction: when build with Bazel can not find eigen3"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution MacOS BigSur v 11.5.2
- Compiler version Apple clang version 12.0.5

[2021-10-15 12:53] nicktasios opened #2673 "Face geometry in javascript"
Is it possible to get the face geometry like [here](https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_geometry/data/geometry_pipeline_metadata_landmarks.pbtxt) from within javascript?

I found that [this file](https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh@0.4.1633559619/face_mesh_solution_packed_assets_loader.js) loads the face geometry as a binarypb, but I don't if it's a

[2021-10-15 17:48] alexdmiller opened #2674 "Pass options into subgraph"
<em>Please make sure that this is a feature request.</em>

**Describe the feature and the current behavior/state:**

I have a subgraph which contains calculators that expose parameters. I would like to nest this subgraph within my main graph multiple times, but each time pass in a different set of parameters.

If this feature already exists, it is undocumented. As far as I can tell, none of the ex

[2021-10-15 20:28] nicolasoros opened #2675 "black canvas on safari for MediaPipe Selfie Segmentation in javascript"
Hello,

I'm having issues rendering the output for the MediaPipe Selfie Segmentation on Safari only.

The canvas element that should display the video with the overlay is all black.

I see the same problem with the official demo examples from https://codepen.io/mediapipe/pen/wvJyQpq, and with my own code.

It seems that both _results.image_ and _results.segmentationMask_ used in the function _onRe

[2021-10-15 20:58] tyrmullen commented on #2660
I suspect this is an iOS15/Safari15 issue, since previously Safari did not support WebGL2.  We actually have a lot of custom code for Safari support in order to ensure everything runs in a WebGL1 context on Safari, so some compatibility fixes may be necessary.

For tracking, related issues are: #2675 and #2536 .

[2021-10-15 21:09] tyrmullen commented on #2631
Glad to hear it-- it didn't sound like anything I had seen before on the MediaPipe side.  Closing as resolved!

If something like this pops up again (and for most connection issues in general), the "Network" tab of the Chrome Developer Console can hopefully shed some light on which resources are having trouble being successfully downloaded (and can disable browser caching and simulate spotty netwo

[2021-10-15 21:09] #2631 closed

[2021-10-15 21:49] tyrmullen commented on #2635
I didn't get the same error you did, but I was able to get your code running by fixing the option: `modelSelection: 0` to be `model: 'short'` instead.  Because the JS Solutions errors so opaque (and things like options so brittle), I recommend in the future starting by directly copying the setup from one of the existing demos, and then altering that to fit your use case.  Otherwise it feels like t

[2021-10-15 22:36] nicolasoros commented on #2675
thanks.

The demo doesn't crash for me. And can see that the model is being updated since the function onResults() keeps being called for each frame.

Platform:
- MacOS BigSur 11.6
- Macbook Air M1 2020
- Safari Version 15.0 (16612.1.29.41.4, 16612)

Log:
`[Warning] I1015 15:29:20.482000       1 gl_context_webgl.cc:151] Successfully created a WebGL context with major version 3 and handle 3 (selfie

[2021-10-16 05:19] InvisibleLeVen opened #2676 "get graph error while call AddPacketToInputStream"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

- Windows desktop c++
- Pose solution

**Describe the current behavior:**
When calling AddOutputStreamPoller to set observe_timestamp_bounds to true, the following error occurs when calling AddPa

[2021-10-16 09:19] sgowroji commented on #2669
Hi @mehtapaxshal,  Could you please have a look at this https://github.com/google/mediapipe/issues/2267#issuecomment-875862168

[2021-10-16 09:25] zhanghuaizhe commented on #1955
Since mediapipe is using CameraX, I was having the hunch that the USB camera is not supported. Wondering how you did it?

[2021-10-16 09:30] sgowroji commented on #2673
Hi @nicktasios, Could you please elaborate your use case with the above query. Thanks!

[2021-10-16 14:55] eldog commented on #2660
My application crashes unless I turn off `GPU Process: Canvas Rendering` off through the iOS setting menu.

Setting > Safari > Advanced > Experimental Features > GPU Process: Canvas Rendering

I got this information from https://github.com/flutter/flutter/issues/89655

Seems to be related to this issue,

https://developer.apple.com/forums/thread/684843

Some are saying it only happens on pages wit

[2021-10-16 20:36] #2638 closed

[2021-10-16 22:57] PriyavartRajain commented on #724
Unfortunately, It still does not work for me. I am on windows, and here are the errors:

ERROR: An error occurred during the fetch of repository 'local_execution_config_python':
   Traceback (most recent call last):
        File "C:/users/rajai/_bazel_rajai/y4gtkfyw/external/org_tensorflow/third_party/py/python_configure.bzl", line 209, column 22, in _create_local_python_repository

[2021-10-17 06:18] dyc081818 opened #2677 "python unicode error -> FileNotFoundError: The path does not exist."
I use pyinstaller to compile the Python project, and finally generate an exe executable file. When the exe file path contains unicode characters, it will report an error:

[2021-10-17 08:07] #2620 closed

[2021-10-17 08:49] theColorfulRainbow commented on #2602
In case this takes too long to solve, my workaround is to **reset** the object.
This will require you to go **modify** the source code.
What I did, is I added a function called _reset()_ that basically calls the _init()_ function, as it seemed as if it just resets the object parameters. (you could just say pose.__init__() with the same amount of success)

[2021-10-17 11:14] zzmicer commented on #2665
Hello, @kostyaby!
Did you get a chance to go through my issue? :)

[2021-10-18 01:56] Jerryzhangzhao commented on #1162
You can consider convert the mediapipe .tflite model to onnx or even tensorRT model, and then do the inference with in c++ project.

[2021-10-18 02:41] #2657 closed, assigned to ivan-grishchenko

[2021-10-18 02:53] versusniubility commented on #2569
@thanasisfitsios Thank you for your reply, though I have got some other issues, I've got a main question, how did you find the sha256, is that provided on GitHub or your calculate yourself, could you give a brief introduction? tkx!

[2021-10-18 03:11] jianinz commented on #2465
Hi @jiuqiant,  appreciated if any tips you could shed some light on this issue

[2021-10-18 03:13] JoeyChuuichi commented on #2179
@sgowroji Is there any instruction on MediaPipe python API that can output the palm detection result instead of the hand pose tracking result?

[2021-10-18 03:18] JoeyChuuichi commented on #1638
Face the same issue with @esteimle,
@sgowroji @bazarevsky can you explain what does the 1x896x18 tensor means?

[2021-10-18 05:36] Dreadlocke1984 opened #2678 "Failed to run mediapipe with gpu support for Facemesh solution with refine landmarks"
I built mediapipe facemesh example with gpu support on jetson platform using the reference of the markdown file provided in the following link -
[https://forums.developer.nvidia.com/t/mediapipe/121120/36](url)
and also with reference to this git repository -
[https://github.com/jiuqiant/mediapipe_python_aarch64](url)

The example is working fine on GPU without setting the refine_landmarks paramete

[2021-10-18 05:37] unizzang0907 opened #2679 "Is there any way to unlock the operating speed limit on android?"
Have I written custom code (as opposed to using a stock example script provided in Mediapipe): Yes
OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Android 11
MediaPipe version: 0.8.8
Solution (e.g. FaceMesh, Pose, Holistic): Holistic
Programming Language and version ( e.g. C++, Python, Java): Flutter, Javascript

Hello, I'm making a mediapipe that works on Android.
I

[2021-10-18 05:53] sgowroji commented on #2679
Hi @unizzang0907, Could you please share your code  and graph changes to understand the issue much better. Thanks!

[2021-10-18 06:08] #2663 closed, assigned to sgowroji

[2021-10-18 06:32] 1Zhaoning opened #2680 "hand pose don't show in holistic solution"
Hi mediapipe team,
I have tried the holistic solution of mediapipe both on a windows PC and a Nvidia Jetson Xavier platform. Basically, I was following the example scripts provided on this link-> https://google.github.io/mediapipe/solutions/holistic.html
However, the visualization is completely different from the one you provided, and it never shows the hand pose (I have tried different videos and

[2021-10-18 06:58] HieuNT1998 opened #2681 "Can't extract float of TfLiteTensorsToFloatsCalculator"
Hi! I'm trying to create a cheking FaceLiveness graph that runs on android. That is a simple classification.
Here is the my graph:
<img width="1231" alt="Screen Shot 2021-10-18 at 13 30 03" src="https://user-images.githubusercontent.com/40411081/137681379-2b85675b-ce23-4c21-8692-135d1f759c1c.png">
My graph's source code:
[code]
My application was able to run and preview the image on the screen. Ho

[2021-10-18 07:07] #2618 closed

[2021-10-18 08:26] xiaoxiaohan1993 opened #2682 "Xcode & Tulsi version ,I an using a tool Tulsi for generating Xcode projects from Bazel build configurations. bazel version is 3.7.2 Xcode version is 12.5.1(12E507) ,which version of Tulsi can I use ? or what wrong with this?"
INFO: Build option --xcode_version has changed, discarding analysis cache.
ERROR: /Users/administrator/Desktop/mediapipe/tulsi/src/tools/bazel_cache_reader/BUILD:15:31: in macos_command_line_application rule //src/tools/bazel_cache_reader:bazel_cache_reader:
Traceback (most recent call last):
	File "/private/var/tmp/_bazel_administrator/ff224cad84acd3994ba85759c03e5327/external/build_bazel_rules_a

[2021-10-18 09:01] Victoria-1 opened #2683 "For Iris Desktop GPU example, got the error "Side packet "focal_length_pixel" is required but was not provided.""
I tried running the Iris GPU example in Debian10. The build was successful but something wrong with running:

I20211018 04:42:46.943851  3898 demo_run_graph_main_gpu.cc:58] Initialize the calculator graph.
I20211018 04:42:46.947917  3898 demo_run_graph_main_gpu.cc:62] Initialize the GPU.
I20211018 04:42:47.070009  3898 gl_context_egl.cc:163] Successfully initialized EGL. Major : 1 Minor: 4
I202110

[2021-10-18 09:04] saadullahphaedra opened #2684 "mediapipe face effects for multiple faces."
i need to apply facial filters using medipipe "face effects" android solution for multiple faces.

currently "face effects" solution works for only one face.

is there any way to change number of face in face effects solution just like face mesh solution where i only changed.

from

private static final int NUM_FACES = 1;

to

private static final int NUM_FACES = 2;

[2021-10-18 09:18] thanasisfitsios commented on #2569
@versusniubility For the sha256, I ran it with the previous "wrong" value and the error message I got actually gave me the correct value! (It looked something like: "The SHA key you gave is wrong, the correct should be .... etc.")

With the patches, I'm sorry but I don't remember the details of what I did. I think I just manually searched some files that were giving errors and changed something th

[2021-10-18 10:21] ibrandiay opened #2685 "Retrieve boxes and Ids on MainActivity"
Hello
I manage to run successfully MediaPipe Box Tracking with aar on android studio.  However, I want get the tracking box info (Rect, label, Id , confidence). But i don't know how. thank you for helping me

[2021-10-18 10:59] shubhamdawande commented on #2639
@mhays-google Any update on this?

[2021-10-18 12:17] zubairahmed-ai opened #2686 "Can't view and enable Realtime 3D pose world landmarks in Python"
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): No
- OS Platform: Windows 10
- MediaPipe version : 0.8.8
- Solution (e.g. FaceMesh, Pose, Holistic): Pose Estimation
- Language: Python

I am using [code given here in the blog post](https://google.github.io/mediapipe/solutions/pose#pose_landmarks) but I am not sure how to enable pose world view with r

[2021-10-18 15:29] ROBYER1 commented on #2358
Has anyone applied this in a project? Thinking of using a similar solution to identify pelvic/postural tilt of the hips/shoulders, however, Mediapipe tracked points for the shoulders and hips barely move in relation to any tilt of the hips or shoulder - especially in a side on view like this diagram.
![image](https://user-images.githubusercontent.com/10745594/137762435-79e125ce-57ed-49f9-ab84-f60e

[2021-10-18 22:05] TaoZappar opened #2688 "How to import opencv on android platform?"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution Ubuntu20.04, Android 10
- Compiler version g++9
- Programming Langu

[2021-10-19 00:18] xiaoxiaohan1993 commented on #2682
I want create an Xcode project,so I install Tulsi.
git clone https://github.com/bazelbuild/tulsi.git
cd tulsi
modify build_and_run.sh
xcode_version="12.4" to xcode_version="12.5.1(12E507)"
then ,
sh build_and_run.sh

and I seing abrove error.

[2021-10-19 00:22] xiaoxiaohan1993 commented on #2682
I successfully use bazel built ios app,and can use on my ipad,
but Failed when I want use Tulsi create an Xcode project .

[2021-10-19 01:59] Jerryzhangzhao commented on #1162
Yes, the post-processing step is important. First of all, from the paper [blazeFace](https://arxiv.org/pdf/1907.05047.pdf) , we know that there are two type 896 anchors:
![image](https://user-images.githubusercontent.com/10524773/137829655-831bb0f5-e4b8-44b3-a424-ea883759e764.png)
with the visualization of the tflite model, the output including classificators [1x896x1] and regressors [1x896x16]
![

[2021-10-19 02:59] HieuNT1998 commented on #2516
I also had the same problem. Is there any update ?

[2021-10-19 05:24] fortminors commented on #1162
@Jerryzhangzhao Thanks a lot for sharing this! It's very useful

[2021-10-19 06:46] sgowroji commented on #2682
Have you tried upgrading the bazel and checking the above. What is your bazel configuration?

[2021-10-19 06:58] #2662 closed

[2021-10-19 08:59] zubairahmed-ai commented on #2686
Looking forward to using that in Python, any timelime?

[2021-10-19 12:07] #2548 closed

[2021-10-19 12:53] chendadon opened #2690 "MediaPipe Vizualizer loader error on hand_landmarks_from_pose_cpu.pbtxt"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): NO
- OS Platform

[2021-10-19 13:04] farahmand-m opened #2691 "Building the Python Package for CUDA: Unable to find "segmentation_mask""
**System information**
- OS Platform: Linux - Kernel: 5.13.19.2 - Manjaro KDE
- Programming Language: Python 3.9.7
- Compiler version: 10.3 and 11.1
- Installed using virtualenv
- Upstream MediaPipe
- Bazel version: 3.7.2
- OpenCV version: 4.5.4

I'm trying to build a Python package based on the upstream version of MediaPipe. I've installed all the dependencies, and made changes based on other iss

[2021-10-19 13:07] #2545 closed

[2021-10-19 13:07] #2471 closed, assigned to kostyaby

[2021-10-19 13:07] #2481 closed

[2021-10-19 13:08] #2367 closed

[2021-10-19 13:18] mrinalTheCoder opened #2692 "mediapipe hands .send() is throwing an error"
I am using mediapipe hands in a reactJS project. It was working fine until yesterday, but the I'm getting the following error now with no change to the code:
[code]

Here is the necessary code:
[code]
Here, `videoWidth` and `videoHeight` are constants. There was a new version of `@mediapipe/hands` published to npm today, but I am using the previous version i was on, which is `0.3.1632795355`.

Sys

[2021-10-19 13:20] vovaani commented on #2196
Thank you! Will check and update here.

[2021-10-19 13:46] tomleader opened #2693 "face_mesh_gpu build successfully but get errors when running"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): Linux Ubuntu 20
-

[2021-10-19 16:13] sgowroji commented on #2693
Could you verify that your OpenGL ES version is 3.1 or above? See this requirement at https://google.github.io/mediapipe/getting_started/gpu_support.html#opengl-es-setup-on-linux-desktop

[2021-10-19 16:13] #2693 closed

[2021-10-19 17:56] jiuqiant commented on #2672
The latest version works fine on my linux box and macbookpro.

![Screen Shot 2021-10-19 at 9 30 24 AM](https://user-images.githubusercontent.com/3359144/137954199-d3e8ffc1-5094-4a7a-9539-882d7bc684df.png)

![Screen Shot 2021-10-19 at 10 52 17 AM](https://user-images.githubusercontent.com/3359144/137964614-25969df1-551b-408b-98f4-529bc8991f05.png)

Can you do `bazel clean --expunge` to clean the ca

[2021-10-20 02:32] tomleader commented on #2693
[code]

[2021-10-20 02:36] versusniubility commented on #2672
@jiuqiant hi jiuqiang, I'd like to clarify with the latest version means, you mean just use the latest version of MediaPipe, using master branch, without changing anything(like workspace, etc) and it work very well, correct?

[2021-10-20 04:21] sgowroji commented on #2693
Hi @tomleader, Found a similar issue https://github.com/google/mediapipe/issues/1483#issuecomment-765811256 can you try the workaround mentioned in it. Thanks!

[2021-10-20 04:58] sgowroji commented on #2642
@homuler Thanks for addressing. We will inform if there is any significant update on the above.

[2021-10-20 04:58] #2642 closed

[2021-10-20 05:56] ats05 commented on #2189
This isssue was closed... but I've had a similar problem in my environment, so I'll note it here.

It happened on "Pose" solution,
and this error does not always occur.

When I had this error, all resources was completed download with 200, including "https://cdn.jsdelivr.net/npm/@mediapipe/pose@0.4.1630009814/pose_solution_packed_assets.data".

I will post again if I know something.

[code]

[2021-10-20 05:58] ats05 commented on #2469
This isssue was closed... but I've had a similar problem in my environment, so I'll note it here.

It happened on "Pose" solution,
and this error does not always occur.

When I had this error, all resources was completed download with 200, including "https://cdn.jsdelivr.net/npm/@mediapipe/pose@0.4.1630009814/pose_solution_packed_assets.data".

I will post again if I know something.

pose_solution

[2021-10-20 06:00] jiuqiant commented on #2672
I am not sure when the DecodeJpeg op is removed/modified in the tf repo. However, if you need an old version of tensorflow, you can check out an old version of mediapipe. For example, mediapipe v0.8.4 points to a tensorflow version that was released on 2021-04-30.

[code]

[2021-10-20 11:26] tomleader commented on #2693
I had already try ... but still got the same error

[2021-10-20 12:00] pkoppise opened #2694 "run the holistic example as a C++ Qt Project"
steps
a) Added alwayslink=1 for
mediapipe/framework/BUILD for the target cc_library(name = "calculator_graph",
mediapipe/framework/port:file_helpers targe

b) generated libmediapipe.so, as mentioned in https://github.com/google/mediapipe/issues/2586

ubuntu20@ubuntu20-OptiPlex-9020:~/.cache/bazel/_bazel_ubuntu20/7a338cf6d75885c002a558c45e841bef/execroot/mediapipe/bazel-out/k8-opt/bin/mediapipe/exa

[2021-10-20 16:35] jiuqiant commented on #2641
Unfortunately, writing MediaPipe calculators in other language than C++ is not currently supported.

[2021-10-20 19:47] TaoZappar commented on #2688
@sgowroji Thanks for the help. that's very helpful

[2021-10-20 19:47] #2688 closed

[2021-10-21 02:40] mehtapaxshal commented on #2669
Any updates on this issue? Looking forward for the fix and unblock our team.

[2021-10-21 03:34] #2641 closed

[2021-10-21 03:38] sgowroji commented on #2170
Reopening the present issue as it still exists

[2021-10-21 03:46] sgowroji commented on #2684
As mentioned in the [documentation](https://google.github.io/mediapipe/solutions/face_mesh#face-effect-example) it supports only one face.

[2021-10-21 03:46] #2684 closed

[2021-10-21 04:23] sgowroji commented on #2670
Hi @jarey99, Can you try executing the command  `bazel clean --expunge` and test the above steps again.

[2021-10-21 04:37] #2686 closed

[2021-10-21 06:25] mysticidiot opened #2695 "Build failing in Windows 10"
**System information**
- Windows 10
- Bazel 4.2.1
- Python version 3.9.7
- Tensorflow version 2.6.0
- Mediapipe version latest
- OpenCV version 3.4.10

**Describe the problem**:

While running the build for iris depth estimation or hand tracking using -

PS F:\mediapipe> bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 --action_env PYTHON_BIN_PATH="C:\Users\admin\AppData\Local\Progra
ms\Python\

[2021-10-21 06:26] mysticidiot commented on #2619
I figured out a way to install VS 19 so the issue was resolved.

[2021-10-21 06:26] #2619 closed

[2021-10-21 06:29] versusniubility commented on #2672
@jiuqiant thanks for your reply.

The blog issus is the DecodeJpeg issue, same one.
That means after build with command

"bazel build -c opt --linkopt=-s \
  --define MEDIAPIPE_DISABLE_GPU=1 --define no_aws_support=true \
  mediapipe/examples/desktop/youtube8m:extract_yt8m_features" this works very well

but when try
"GLOG_logtostderr=1 bazel-bin/mediapipe/examples/desktop/youtube8m/extract_yt8m_f

[2021-10-21 07:27] loiswen opened #2696 "Build failing in Windows 10，failed in the ninth step of the official installation tutorial， [An error occurred during the fetch of repository 'local_execution_config_python']"
**System information**
- Windows 10
- Bazel 3.7.2
- Python version 3.8.10
- Installed using virtualenv? pip? Conda? (if python):
- Mediapipe version latest
- OpenCV version 3.4.10

**Describe the problem**:
 see the error when building MediaPipe on Windows:
`ERROR: An error occurred during the fetch of repository 'local_execution_config_python':
   Traceback (most recent call last):
        File "

[2021-10-21 08:55] versusniubility commented on #2672
Update:

I've tried 2 trials:
1. Go back to v0.8.6 or v0.8.4
2. Change the TENSORFLOW_COMMIT and comment the patch on 0.8.8
Both will raise the same error as I mentioned before

Error looks like this:

ERROR: 491d17f648f10fd7dfbd2fd982422ce4/external/org_tensorflow/tensorflow/compiler/xla/BUILD:772:11: C++ compilation of rule '@org_tensorflow//tensorflow/compiler/xla:shape_layout' failed (Exit 1):

[2021-10-21 12:12] aryan-f opened #2697 "Fresh installation of Python package terminates immediately"
System information

- OS Platform: Linux - Kernel: 5.13.19.2 - Manjaro KDE
- Programming Language: Python 3.9.7
- Installed via `pip install mediapipe`

I'm trying to run the holistic example code (for webcam). After [trying to build my own package and failing](https://github.com/google/mediapipe/issues/2691), I installed the prebuilt version via `pip`. However, the code immediately terminates wit

[2021-10-21 13:45] #2697 closed, assigned to sgowroji

[2021-10-21 14:07] lofyol opened #2698 "How to use GPU reasoning acceleration (Python solution API)"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):
- [MediaPipe version]

[2021-10-21 15:05] Ankish commented on #364
@noppefoxwolf @yuxiaohui78 : It will be of great help, if you can you please explain the steps in creating the framework, the script and commands to run it from which folder.
I have successfully installed and got the example Pose app running. Need to create the framework to integrate in the app.

[2021-10-21 15:09] tigerya214 opened #2699 "How to use the videoinput.start()?"
### Question:

I want to add the url in the mediapipe hands, how could it use the videoInput.start()?
(I found my code is error)

### Code:
     // The runnable to start camera after the gl surface view is attached.
    // For video input source, videoInput.start() will be called when the video uri is available.
    if (inputSource == InputSource.CAMERA) {
      glSurfaceView.post(this::startCamer

[2021-10-21 16:27] TaoZappar opened #2700 "what positions correspond to do the 7 keypoints from the Palm detection outputs?"
I noticed there are 7 keypoints from the palm detection results (7 dots within the green box). could someone explain where these 7 keypoints correspond to?

Also, what are they used for? I assume they are used for determine the bbox orientation. However, the green box is alway upright , doesn't rotate during the detection.

And they are very jittery, any way to alleviate this problem?

many thanks

[2021-10-21 18:10] mentarus opened #2701 "Tulsi erros with: ModuleNotFoundError: No module named 'numpy' When building HelloWorld iOS"
**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution MacOS 12.0.01 building for iOS 15.0.2:
- Compiler version (e.g. gcc/g++ 8 /Apple clang version 12.0.0): ?
- Programming Language and version ( e.g. C++ 14, Python 3.6, Java ): N/A
- Installed using virtualenv? pip? Conda? (if python): No
- [MediaPipe version](https://github.com/google/me

[2021-10-21 21:16] trzy opened #2702 "Python FaceMesh tesselation uses frozenset(), which scrambles triangle ordering."
In face_mesh_connections.py, a frozenset() is used. This makes it difficult to recover triangles. Why not make it a tuple of 2-tuples instead? In list form, the connectivity information is laid out as valid triangle edges (every 3 consecutive edges form a triangle with consistent winding order). But using frozenset() destroys this information and requires quite a bit of work to generate a valid, c

[2021-10-21 22:30] 424778940z opened #2703 "Out of range results from NormalizedLandmarkList"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): **see below**
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): `Ubuntu

[2021-10-21 23:59] ertugrulozvardar opened #2704 "Uncaught (in promise) RuntimeError: abort(undefined) at Error - hands_solution_simd_wasm_bin.js:9"
**Describe the problem**:
I was working with MediaPipe Hands library and not encountered any problem until today. I don't understand the issue but I am facing a lot of errors with the file "hands_solution_simd_wasm_bin.js".

Browser that I am using: Google Chrome

**Complete Logs:**
![1](https://user-images.githubusercontent.com/44060683/138372659-cbe6d7ca-24e5-4394-9b2d-e49ae93913df.png)

![2](ht

[2021-10-22 00:36] #2704 closed, assigned to sgowroji

[2021-10-22 00:43] kostyaby commented on #2665
Hey @zzmicer,

Apologies for the late reply; has been on a vacation for the last 2 weeks.

Unfortunately, I don't feel like your rough plan has enough specificity for me to comment whether it can work out or not. Warping face images is generally tricky (much trickier than warping AR textures along the detected face mesh lines or attaching 3D AR objects to a face), so be ready to deal with lots of

[2021-10-22 01:43] command0r commented on #2613
Any news on this, guys?

[2021-10-22 04:25] versusniubility commented on #2672
@jiuqiant

Yes, I ran Bazel clean --expunge every time before build with bazel.
I tried v0.8.4/v0.8.6/ or use the latest tf version.

They led to same error as mentioned above https://github.com/google/mediapipe/issues/2672#issuecomment-946346573 ,some more details give below:

external/eigen_archive/unsupported/Eigen/CXX11/../src/SpecialFunctions/BesselFunctionsImpl.h:111:30: error: no member nam

[2021-10-22 13:29] Leander250 opened #2705 "Segmentation fault on OnePlus 7 Pro and Samsung Galaxy S10e"
- Have I written custom code?:
No, i used the android facemesh example in the mediapipe repo:
https://github.com/google/mediapipe/tree/master/mediapipe/examples/android/solutions

- OS Platform and Distribution:
Build on Win 10 19042.1237

- Mobile device:
Executed on OnePlus 7 Pro with Android 11. Reproduced on Samsung Galaxy S10e

- [MediaPipe version](https://github.com/google/mediapipe/release

[2021-10-22 16:23] Ankish opened #2706 "Generated framework has dependency issues"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): MacOS Big Sur
- Co

[2021-10-23 10:19] sygi opened #2707 "Extracting face pose transformation matrix in FaceMesh"
I am using FaceMesh in combination with [the python colab](https://colab.research.google.com/drive/1FCxIsJS9i58uAsgsLFqDwFmiPO14Z2Hd). I successfully managed to extract landmark points on a custom face photo. I would now like to transform the landmarks back to the [canonical face model](https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_geometry/data/canonical_face_model.fbx) (

[2021-10-23 13:03] JimKimHome opened #2708 "Hands javascript Failed to read file hand_landmark_full.tflite"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): PC，chrome
- [MediaPip

[2021-10-23 13:45] PaulCreaserML opened #2709 "Mediapipe Commercial Use - License info Display"
1. OS WIndows10, etc

2. OS Architecture e.g. x86_64

11. Issue Details

We are planning to release a commercial product based on Mediapipe, which uses the face mesh and landmark model.

Our customer would like to provide a read me page, with info concerning the third party open source libraries, OpenCV etc… used in the commercial application.

One idea is to simply take the Mediapipe license ( Ap

[2021-10-23 17:21] tigerya214 opened #2710 "I have an url of video, how to connect it in hands Mainactivity?"
I want to get connected to my url(http://10.10.100.4:81/stream) in the MainAciivity of Hands, how could I realize this idea?

I found that the original code as follows:
  private void startCamera() {
    cameraInput.start(
        this,
        hands.getGlContext(),
        CameraInput.CameraFacing.FRONT,
        glSurfaceView.getWidth(),
        glSurfaceView.getHeight());
  }

Should I use the V

[2021-10-25 02:25] hepingdev opened #2711 "java.lang.UnsatisfiedLinkError: dlopen failed: cannot locate symbol "aligned_alloc" referenced by "/data/app/com.google.mediapipe.apps.posetrackinggpu-nhzgBX_Haw0buKu23lqgxA==/lib/arm/libmediapipe_jni.so""
2021-10-25 10:12:31.619 15497-15497/? E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.google.mediapipe.apps.posetrackinggpu, PID: 15497
    java.lang.UnsatisfiedLinkError: dlopen failed: cannot locate symbol "aligned_alloc" referenced by "/data/app/com.google.mediapipe.apps.posetrackinggpu-nhzgBX_Haw0buKu23lqgxA==/lib/arm/libmediapipe_jni.so"...
        at java.lang.Runtime.loadLibrary0(R

[2021-10-25 06:12] #2711 closed, assigned to sgowroji

[2021-10-25 06:56] #2640 closed, assigned to sgowroji

[2021-10-25 07:16] #2710 closed, assigned to sgowroji

[2021-10-25 09:56] #2644 closed, assigned to sgowroji

[2021-10-25 17:49] #2692 closed, assigned to tyrmullen

[2021-10-25 20:05] #2635 closed, assigned to tyrmullen

[2021-10-26 04:19] shukkkur opened #2713 "Pose Estimation without Face Detection"
**System information**

- Programming language : Python

Currently if the mediapipe pose estimation can't detect the face, the whole detection fails. It would be nice to have a detection model that tries to detect only the body.

**use cases for this feature:**
I am currently working on a workout-counter project, so whenever the barbell covers the face the detection fails and it least to more fals

[2021-10-26 08:25] xiaoxiaohan1993 opened #2714 "About MediaPipe HandsTracker , Swift IOS APP, Where and How to configure the three parameters ,"max_num_hands, min_detection_condition and min_detection_condition"."
let tracker: HandTracker = HandTracker()!

tracker.startGraph()
tracker.delegate = self

tracker.processVideoFrame(CVBuffer)

func handTracker(_ handTracker: HandTracker!,
 　　　　　　　　　　didOutputLandmarks landmarks: [Landmark]!) {
}
func handTracker(_ handTracker: HandTracker!,
　　　　　　　　　　 didOutputPixelBuffer pixelBuffer: CVPixelBuffer!) {
}

[2021-10-26 10:56] #2708 closed, assigned to sgowroji

[2021-10-26 11:56] #2655 closed, assigned to sgowroji

[2021-10-26 13:50] taatiq882 opened #2716 "Building Android Apk fail"
![Screenshot from 2021-10-26 16-43-05](https://user-images.githubusercontent.com/30371302/138903084-120b1722-d55d-4662-b056-1abd724bbd50.png)
**Running setup_opencv.s**h
![Screenshot from 2021-10-26 16-49-07](https://user-images.githubusercontent.com/30371302/138904158-ff9629be-a668-42a0-90f9-17ba569eb5d4.png)

![Screenshot from 2021-10-26 15-57-35](https://user-images.githubusercontent.com/303713

[2021-10-26 15:33] #2665 closed, assigned to kostyaby

[2021-10-27 01:05] igorxciv opened #2717 "No .stop() method for Camera object in mediapipe utils TypeScript/JavaScript"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): -
- OS Platform

[2021-10-27 02:52] Frank-Dz opened #2718 "How to get per joint's confidence value in pose estimation?"
How can we get per joint's confidence value in pose estimation?
e.g., [x,y,c] for each joint.

[2021-10-27 04:26] zcl912 opened #2719 "pose tracking， when running the GPU and CPU version, when person walk from far to near， GPU cannot detect the landmark, CPU can detect the landmark"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):
- [MediaPipe version]

[2021-10-27 04:58] #2717 closed, assigned to sgowroji

[2021-10-27 08:32] #2699 closed, assigned to sgowroji

[2021-10-27 08:48] mpost opened #2720 "template_matching for ios"
The matrix on the README currently states that the template_matching using KNIFT is available on Android only. Is this because there is no example for it on iOS is yet or because it is not possible on iOS? In any case is there a plan to support iOS?

[2021-10-27 08:51] Raki opened #2721 "Extending FrameProcessor.java to send two textue frames"
I am trying to send webrtc gpu texture frames to mediapipe graph. I am able to send a single gpu texture frame to graph by extending ExternalTextureConverter and ExternalTextureRenderer.

Now I am trying to send two gpu frames to loaded graph by extending FrameProcessor.java.

[code]

But using above approach the loaded graph is not giving expected output. Seems the frames are not fed to graph pro

[2021-10-27 12:11] monit-org opened #2722 "Mediapipe installation isssue"
Hi, I'm trying to install mediapipe on ubuntu 20.04, through compiling and creating wheel (linux_aarch64.whl).
However I'm getting this error while compiling :

ERROR: /home/muhammad/mediapipe/mediapipe/calculators/image/BUILD:691:11: Compiling mediapipe/calculators/image/affine_transformation_runner_opencv.cc failed: (Exit 1): gcc failed: error executing command /usr/bin/gcc -U_FORTIFY_SOURCE -fs

[2021-10-27 14:58] #2706 closed, assigned to NikolayChirkov

[2021-10-27 15:30] edgar-bcn opened #2723 "Bazel build for x86 target"
Hi,

I would like to compile a MediaPipe solution with Bazel for Windows x86 (32-bit).

I've successfully compiled Bazel samples simply adding --cpu=x64_x86_windows, but when trying the same thing with a MediaPipe solution I get the following error:
ERROR: Error fetching repository: java.io.IOException: The repository's path is "/usr" (absolute: "/usr") but this directory does not exist.
ERROR: C: