[2022-01-16 12:41] delmohf opened #2996 "Allow all media constraints when create Camera"
I am using `@mediapipe/camera_utils`. The Camera creation is quite restrictive about the constraints passed to `navigator.mediaDevices.getUserMedia` so I think it would be useful to be able to create the Camera passing all possible media constraints.

Current allowed parameters
[code]

My vague proposal according to [MDN](https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia):

[2022-01-16 18:55] kostyaby commented on #2978
Oh right, sorry about that! Totally forgot. Yeah, I made index buffer a `uint16_t` array. It should be easy to un-hardcode, please go ahead and give it a try:

- [Lines 85-87](https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_geometry/libs/effect_renderer.cc#L85-L87): remove entirely
- [Lines 89-90](https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_geometr

[2022-01-17 02:02] monxarat opened #2997 "How to detect hand is front or back side"
Hi guys,

How to detect the hand is front side or back side.

[2022-01-17 03:48] sgowroji commented on #2989
Hi @lghasemzadeh, Did you encounter any error while running the MediaPipe on the above. Can you share your observation? Thanks!

[2022-01-17 03:50] sgowroji commented on #2990
Hi @anappdev2, Can you share the images in which error occurred to investigate further. Thanks!

[2022-01-17 03:54] sgowroji commented on #2994
Hi @huangandy, Please go through this  MediaPipe Android [Solutions](https://google.github.io/mediapipe/getting_started/android_solutions.html#mediapipe-android-solutions. ) You can find hands [source](https://github.com/google/mediapipe/tree/master/mediapipe/examples/android/solutions/hands) code .

[2022-01-17 03:56] sgowroji commented on #2993
For object detection on C++ you can find the documentation from here https://google.github.io/mediapipe/solutions/object_detection#live-camera-input

[2022-01-17 03:57] sgowroji commented on #2992
Hi @peke-tictactoe, Can you share the steps to reproduce the above at our end. Thanks!

[2022-01-17 03:58] sgowroji commented on #2997
Hi @monxarat, Which platform or language or you preferring in the above ?

[2022-01-17 04:00] sgowroji commented on #2995
This gives you understanding https://github.com/google/mediapipe/issues/2671#issuecomment-948067322

[2022-01-17 04:01] monxarat commented on #2997
@sgowroji
I have used Android and Python.

[2022-01-17 04:12] Hitheshgit commented on #1325
Hey did not work for me.Please help

[2022-01-17 04:35] Leon-Brant commented on #2120
I see. Thank you 🙏 for sharing this information

[2022-01-17 05:14] sgowroji commented on #2997
For Android Refer [this](https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a479407c699e424aa7/mediapipe/java/com/google/mediapipe/components/CameraHelper.java#:~:text=protected%20static%20final,%7D%3B) .

[2022-01-17 05:24] #2947 closed

[2022-01-17 05:27] sgowroji commented on #2991
Hi @ya332, Are you building on windows desktop ?

[2022-01-17 07:20] willbetheone commented on #2887
I have the same problem 。Did you resolve it？ @muhammadabdullah34907

/Users/macbookair/Documents/aman/mediapipe/external/com_google_protobuf/src/google/protobuf/stubs/mutex.h:185:16: aligned allocation function of type 'void *(std::size_t, std::align_val_t)' is only available on iOS 11 or newer

[2022-01-17 07:24] #2678 closed

[2022-01-17 07:46] ya332 commented on #2991
I am building for Android on Windows 11 Laptop.

[2022-01-17 08:10] wingdi commented on #2978
Ok, very thanks for your detailed explination.

[2022-01-17 09:20] sgowroji commented on #2991
@ya332  In https://google.github.io/mediapipe/getting_started/install.html#installing-on-windows, there is a note saying that building MediaPipe Android apps is still not possible on native Windows. Please do this in WSL instead.

[2022-01-17 09:41] prantoran commented on #877
I merged all the changes that seemed essential to me in a single commit on the latest version of MediaPipe: https://github.com/prantoran/mediapipe/tree/latest_wasm.

The `latest_wasm` has all the changes in a single commit while the default branch refers to the original project.

[2022-01-17 10:05] monxarat commented on #2997
@sgowroji
No, I don't mean using the front or back camera, I'm talking about "How to detect palm/hand front or back"

![istockphoto-488159261-612x612](https://user-images.githubusercontent.com/4075787/149749245-a599d49d-b76e-480a-ae6c-2c52cb8e4983.jpeg)

[2022-01-17 10:07] sushma-snk opened #2998 "Mediapipe on AWS"
I have been using mediapipe for pose estimation (python). I would like to integrate pose estimation with existing android app on aws. Would opencv and mediapipe charge a lot when installed on aws? If so, may  know the charges please?
Thanks in advance.

[2022-01-17 10:27] ya332 commented on #2991
I am using WSL and can successfully build apk. However, I don't know how to build aab. Google Play store accepts only aab and not apk

[2022-01-17 10:28] huangandy commented on #2994
Hi @sgowroji ,

Yes, I just saw this source and used it.

This project use gradle include from maven,

but I want to build this AAR myself with same functions.

How should I do? I found a lot tutorial to make hands detect(only set "mobile caculator" in BUILD) but not the same as the one in the example source.

[2022-01-17 11:55] abitrolly commented on #369
@mgyong so did you consider adding change logs here?

[2022-01-17 11:59] abitrolly commented on #369
I'd like to know if it's worth the hassle to upgrade from 0.8.8 to 0.8.8.1 and what could go wrong if I go straight to 0.8.9.1

[2022-01-17 12:02] abitrolly commented on #369
Found that releases at https://github.com/google/mediapipe/releases contain tiny tag on the left with actual version that I haven't spotted before. No 0.8.8.1 or 0.8.9.1 info, but already useful.

[2022-01-17 13:13] EigenSpiral opened #2999 "Calculating thumb and finger angles from coordinates"
What is the best way to calculate the angles of the thumb and finger from the XYZ coordinates?

[2022-01-17 19:17] Colorfingers commented on #825
Is this a sales option?  Why is the high definition model not going to be released?  It has more data points I assume.  Thanks...

[2022-01-18 04:06] hadi1376tm commented on #2724
Yes that would be very useful.

[2022-01-18 04:10] hadi1376tm commented on #2999
Its my code in python:
`
                       a = np.array(
                            [handLms.landmark[joint[0]].x , handLms.landmark[joint[0]].y ])  # First coord
                        b = np.array([handLms.landmark[joint[1]].x ,
                                      handLms.landmark[joint[1]].y ])  # Second coord
                            c = np.array([handLms.landmark[joint[2]].x ,

[2022-01-18 04:12] sgowroji commented on #2994
We have very clear steps to build Android AAR here https://google.github.io/mediapipe/getting_started/android_archive_library.html

[2022-01-18 04:18] sgowroji commented on #2991
Have you tried this https://medium.com/mobile-app-development-publication/android-apk-to-app-bundle-made-simple-e12c52e8641

[2022-01-18 04:33] ya332 commented on #2991
The medium article uses Gradle. Mediapipe hair segmentation example uses Bazel. I need to modify the Bazel build process to produce AABs. Do you know how I can do that?

[2022-01-18 04:57] #2891 closed

[2022-01-18 05:24] #2950 closed

[2022-01-18 06:24] #2948 closed

[2022-01-18 06:28] anappdev2 commented on #2990
![Screenshot 2022-01-18 at 11 56 14 AM](https://user-images.githubusercontent.com/59765390/149882590-a22ab85a-cc38-4376-9f1f-b618f84adb06.png)
![Screenshot 2022-01-18 at 11 55 52 AM](https://user-images.githubusercontent.com/59765390/149882615-0835a174-0b1a-40e5-8268-9c83b8cd1f09.png)

These are couple of example images.

[2022-01-18 06:45] sgowroji commented on #2950
Thanks for update @PrinceP, Did you try the above comment @rahulsuxsena1.

[2022-01-18 07:52] ryota2425 commented on #2954
The reason is that there is already a folder named "mediapipe "in the folder where you run the program.

"""
python3
"""

"""
import mediapipe as mp
print(np.__path__)
"""

Either renaming the mediapipe folder or changing the location where you run the program will solve the problem.

[2022-01-18 08:12] PixelChen24 opened #3000 "ERROR:Compiling src/qc8-gemm/gen/1x8c4-minmax-fp32-neondot.c failed: (Exit 1): clang failed: error executing command external/androidndk/ndk/toolchains/llvm/prebuilt/linux-x86_64/bin/clang -gcc-toolchain external/androidndk/ndk/toolchains/aarch64-linux-android-4.9/prebuilt/linux-x86_64 -target ... (remaining 86 argument(s) skipped)"
- OS Platform and Distribution :Ubuntu18.04
- Bazel version: 4.2.1
- Android SDK API32; NDK 18.1

I am trying to compile the Android project using bazel, I run this command:
``bazel build -c opt --config=android_arm64 mediapipe/examples/android/src/java/com/google/mediapipe/apps/handtrackinggpu:handtrackinggpu``
After processing for several minutes, I got this error:
``
ERROR: /home/chen/.cache/ba

[2022-01-18 08:31] sgowroji commented on #3000
Hi @PixelChen24, Could you please confirm , as you followed all the steps mentioned here  https://google.github.io/mediapipe/getting_started/android.html#building-android-example-apps-with-bazel

[2022-01-18 09:45] PixelChen24 commented on #3000
Yes, I followed every step in this tutorial

[2022-01-18 09:45] PixelChen24 commented on #3000
Yes, I followed every step in this tutorial

[2022-01-18 10:13] sgowroji commented on #3000
Can you try this https://github.com/google/mediapipe/issues/2636#issuecomment-937981139

[2022-01-18 13:02] PixelChen24 commented on #3000
Thank you for your suggestion, but both my sdk version(31) and ndk version(18) have satisfied the requirement

[2022-01-18 15:09] hovnatan opened #3001 "[Question] Uncertainty alpha calculation at segmentation_smoothing_calculator"
Can you please explain or give a reference on uncertainty alpha calculation at
https://github.com/google/mediapipe/blob/e6c19885c6d3c6f410c730952aeed2852790d306/mediapipe/calculators/image/segmentation_smoothing_calculator.cc#L211

[2022-01-18 17:14] #2993 closed

[2022-01-18 17:18] UgurErcelik commented on #2914
Hello @sgowroji ,yes i ran hello world example and different example,my sdk is running properly,i dont think problem about sdk

[2022-01-19 00:46] simlevesque opened #3002 "@mediapipe/camera_utils doesn't appear to be written in CJS, but also doesn't appear to be a valid ES module"
**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4):  Linux Ubuntu 21.10
- Programming Language and version ( e.g. C++ 14, Python 3.6, Java ): Javascript
- [MediaPipe version](https://github.com/google/mediapipe/releases): @mediapipe/camera_utils@0.3.1640029074 and @mediapipe/drawing_utils@0

[2022-01-19 01:22] YuriPoluk opened #3003 "@mediapipe/facemesh with refineLandmarks crashes if used as npm module instead of script from cdn"
When imported from npm module facemesh doesn't work with refineLandmarks: true, same code works perfectly if facemesh script is downloaded from cdn as in the demo. Here's full log

geometry_pipeline.cc:128] generic::internal: RET_CHECK failure (third_party/mediapipe/modules/face_geometry/libs/geometry_pipeline.cc:128) screen_landmark_list.landmark_size() == canonical_metric_landmarks_.cols() (478

[2022-01-19 04:07] sgowroji commented on #3003
Hi @YuriPoluk, Could you please share your code changes to reproduce the issue. Thanks!

[2022-01-19 04:12] sgowroji commented on #3002
Hi @simlevesque, Can you share your code changes and steps to reproduce the issue at our end. Thanks!

[2022-01-19 04:18] sgowroji commented on #2998
Hi @sushma-snk, MediaPipe won't charge people.
AWS would charge them.

[2022-01-19 04:18] #2998 closed

[2022-01-19 09:20] sushma-snk commented on #2998
Sure, Thank you @sgowroji

[2022-01-19 10:39] matanster commented on #1984
Just wondering if anyone found a canonical way to handle or troubleshoot this, (installing on mac with pip), other than building from source .... We tried fiddling and upgrading versions like people have suggested on this thread, to no avail.

We have some issues with M1 processor architecture on MacOS 11.2 where we can safely build from source, but we'd also like to have the ability to automatica

[2022-01-19 11:36] furkandindar commented on #2988
Hello @tyrmullen , can you provide me some info about this? Thanks in advance!

[2022-01-19 12:12] furkandindar commented on #2997
@monxarat you can obtain which hand you're seeing from MULTI_HANDEDNESS label. It will return either "Left" or "Right". Depending on the hand, you can compare landmark locations. For example for the left hand, if THUMB_TIP (index 4)'s x value is smaller than PINKY_TIP (index 20)'s x value it means left hand palm, otherwise it's left hand back. Same thing but reverse calculation applies to right ha

[2022-01-19 12:20] lghasemzadeh opened #3004 "Pose Estimation"
I am using Facemesh and Holistic solution to extract head pose and body pose.
For example to extract the head pose I calculate the distance between nose tip and the outer corner of right and left eyes. while I am using the camera exactly at the origin (at the middle front of the face) everything is fine but when I change the position of the camera the head pose estimation gives wrong outputs. Actu

[2022-01-19 12:24] #2956 closed

[2022-01-19 12:25] lghasemzadeh commented on #2989
Hello,
I have not tested it yet. I need to purchase the chip first. But before buying that I wanted to be sure if I can run mediapipe on it or not.
Referring to the characteristics of the processor I shared its link previously, can you guide me if it will be a suitable platform for mediapipe?
Thank you

[2022-01-19 17:46] YuriPoluk commented on #3003
Here's minimal code required to reproduce the issue

`import * as facemesh from "@mediapipe/face_mesh";

init()

async function init() {
  const config = {
    locateFile: (file) => {
      return `https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh@${facemesh.VERSION}/${file}`
    }
  }

  const solutionOptions = {
    selfieMode: true,
    enableFaceGeometry: true,
    maxNumFaces: 1,
    refineLa

[2022-01-19 20:59] tyrmullen commented on #2988
The multiFaceGeometry API has not yet been officially released (IIRC we still need to fix its interactions with refineMesh), so really that property should simply not exist.  However, if you want to experiment with it (with no guarantees for any sort of proper behavior), then you might be able to see something if you set `enableFaceGeometry` to `true` in the options.

[2022-01-19 20:59] #2988 closed

[2022-01-19 21:00] tyrmullen commented on #3002
I have no experience with esbuild/vite, so reassigning this one.

[2022-01-19 23:24] furkandindar commented on #2988
Thanks for your response @tyrmullen , enabling enableFaceGeometry: true makes the app crash so currently I can not experiment it.

Uncaught (in promise) RuntimeError: abort(undefined) at Error
    at jsStackTrace (face_mesh_solution_simd_wasm_bin.js:9:69351)
    at stackTrace (face_mesh_solution_simd_wasm_bin.js:9:69527)
    at abort (face_mesh_solution_simd_wasm_bin.js:9:43094)
    at _abort (fac

[2022-01-20 01:57] tyrmullen commented on #2988
That's what I was referring to when I said you'd need to leave `refineMesh` as `false` above.  The CodePen does not crash if you enable face geometry and DON'T enable mesh refinements.  So you can experiment with one or the other, but not both.

[2022-01-20 02:15] tyrmullen commented on #2996
`camera_utils` is really meant to be just a helper for our CodePen demos, and probably shouldn't be used for anything "real".  We don't really have the bandwidth to create/maintain a real camera API, so we're likely not going to be meaningfully extending this anytime soon.

However, the Solutions themselves should allow you to very easily hook up whatever you end up using for webcam- or video-play

[2022-01-20 02:15] #2996 closed

[2022-01-20 02:21] tyrmullen commented on #2953
To answer your question, yes, I believe two separate MP instances should be able to render two different videos to two different canvases, although I'm not sure how much this has actually been tested yet.

Sounds like this immediate issue is resolved, and the remaining issues already have corresponding bugs, so closing this one for consolidation purposes.

[2022-01-20 02:21] #2953 closed

[2022-01-20 02:27] monxarat commented on #2997
@furkandindar
Thank you for your idea. But yeah✌️, rock✊ can detect? I will try it.

[2022-01-20 02:44] tyrmullen commented on #2955
This sounds like standard browser behavior.  Our simple Camera helper uses `requestAnimationFrame` in order to register for new video frames, and also checks to make sure it's receiving a new video frame.  However, if the user backgrounds the tab, then to save power/resources, the browser will automatically stop updating the video frames as frequently (or will stop updating them at all).  From the

[2022-01-20 02:44] #2955 closed

[2022-01-20 05:38] luizjr commented on #1408
The lack of documentation is very bad, I myself am suffering a lot to use camera_utils because it is minified and it is difficult to read and understand what is happening, it only takes the standard webcam.

I would like to pass another camera.

Also, I haven't found anywhere a suitable way to use the media pipe pose with an image or video source other than a camera for example.

It's making me gi

[2022-01-20 10:24] englishtom commented on #2883
@tyrmullen It does not, however, using the Hands library directly without TensorFlow works well for me so that is the approach I have moved forwards with.

[2022-01-20 14:02] sgowroji commented on #2984
Below are the default Drawing specs for color.  You can change the color with python implementation as per your business requirement!

# (48, 255, 48) For Green color
def get_default_pose_landmarks_style() -> Mapping[int, DrawingSpec]:
  """Returns the default pose landmarks drawing style.

  Returns:
      A mapping from each pose landmark to its default drawing spec.
  """
  pose_landmark_style

[2022-01-20 14:02] #2984 closed, assigned to sgowroji

[2022-01-20 18:31] furkandindar commented on #2988
Sorry that i missed out that part, got it now, the result array didn't make any sense for me though. Thanks for the help!

[2022-01-20 21:08] matanster opened #3006 "Face Mesh pipeline: turning refined landmarks off yields an exception in python"
In the face mesh solution, running the provided [python sample code](https://google.github.io/mediapipe/solutions/face_mesh.html#python-solution-api) seems to run into the following error, if `refine_landmarks` is set to `False`:

Traceback (most recent call last):
  File "face_landmarks.py", line 48, in <module>
    mp_drawing.draw_landmarks(
  File "mediapipe/python/solutions/drawing_utils.py",

[2022-01-20 21:13] matanster commented on #3006
# Solution
Obviously one has to remove the drawing of the detailed eye landmarks (iris landmarks) which are not calculated/detected, when choosing to set refined landmarks to off:

[code]

[2022-01-20 21:13] #3006 closed

[2022-01-20 21:28] tyrmullen commented on #1408
I think this is a common source of confusion (and issues).  Most of the `*_utils` mini-libraries are purely helpers for allowing us to quickly make CodePen demos; we do not plan on supporting them as real APIs, and they really shouldn't be relied on for anything more complicated than toy/demo cases.

However, the JS Solutions themselves should be extremely flexible, and while actual documentation

[2022-01-20 21:32] tyrmullen commented on #2988
Ahh, sorry to hear that; hopefully if/when this becomes a real released feature that will no longer be the case.  And no problem!

[2022-01-20 21:47] EigenSpiral commented on #2999
Thank you!
How would you recommend calculating the angle of the thumb?

[2022-01-20 22:09] luizjr commented on #1408
Your explanation helped me a little but I still have another question.

With camera_utils I have the onFrame() property
to do pose.send()

If I do pose.send() without onFrame() it just renders once. How to send the frames properly?

[2022-01-20 22:36] tyrmullen commented on #1408
You'll have to call pose.send() for every frame in your video that you want to render.  Browser calls like `requestAnimationFrame()` are probably the easiest way to repeatedly poll for video frames.

[2022-01-20 23:03] 123epsilon commented on #2855
@sgowroji @mcclanahoochie

I am currently working on a calculator to perform this operation using OpenCV. I am a little confused as to where to find information on many of the objects that the Calculator depends upon such as CalculatorContract, CalculatorContext, Inputs, Outputs, ImageFrame etc. In the meanwhile I've been looking through the mediapipe source to get an idea of how to use them.

I h

[2022-01-21 07:07] EkalavAI commented on #2969
As per https://github.com/google/mediapipe/issues/831#issuecomment-647570208, I added
`
node {
   calculator: "GpuBufferToImageFrameCalculator"
   input_stream: "throttled_input_video"
   output_stream: "raw_video"
 }
`
to mediapipe/graphs/pose_tracking/pose_tracking_gpu.pbtxt. I then compile an AAR and binarypb, following the directions on the mediapipe website. I integrate this AAR into an app w

[2022-01-21 08:24] #2960 closed

[2022-01-21 10:17] lghasemzadeh commented on #2989
Hi,
Is there any update?
I am waiting for your response.

[2022-01-21 10:18] lghasemzadeh commented on #3004
Hello,
Isn't there any update?
Thx

[2022-01-21 12:49] jen-co opened #3007 "Custom Object Detection Model Clarity"
## URL(s) with the issue:
https://github.com/google/mediapipe/tree/master/mediapipe/models/object_detection_saved_model

## Description of issue (what needs changing):

It would be useful for the guide on custom training an object detection model and exporting it for TFLite purposes to be updated for Tensorflow 2. And in the same breath to make it clear that the current documentation applies to TF

[2022-01-21 13:06] AHRealift commented on #2877
Status?  What is the difference between poseWorldLandmarks and poseLandmarks?

[2022-01-21 17:35] tgd-git commented on #724
Getting the same error, anyone a hint?

`ERROR: C:/users/user/_bazel_user/o7dgz4zy/external/com_google_absl/absl/debugging/BUILD.bazel:31:11: Compiling absl/debugging/stacktrace.cc failed: (Exit 2): cl.exe failed: error executing command C:/Program Files (x86)/Microsoft Visual Studio/2019/BuildTools/VC/Tools/MSVC/14.29.30133/bin/HostX64/x64/cl.exe /nologo /DCOMPILER_MSVC /DNOMINMAX /D_WIN32_WINNT=

[2022-01-21 18:24] #2802 closed

[2022-01-21 20:02] kostyaby commented on #3004
Hey @lghasemzadeh,

I'd encourage you to take a look at the Face Geometry module ([code](https://github.com/google/mediapipe/tree/master/mediapipe/modules/face_geometry), [docs](https://google.github.io/mediapipe/solutions/face_mesh#face-geometry-module))

Not sure I've seen this pipeline. Perhaps, you meant "Face Geometry" instead of "Face Pose"?

"Virtual Camera Parameters" is a concept for the

[2022-01-22 05:27] legel commented on #2649
This is an issue.  It seems like in order to achieve just basic customization of the drawing_utils.js, we will be required to reproduce everything from scratch.

[2022-01-22 11:00] matanster opened #3008 "Avoiding predicting occluded (hand) landmarks"
Currently, being a neural model, all landmarks are predicted ― regardless of whether they are in view or not. This applies both when landmarks are self-occluded by the person's hand, as well as when the hand is partially outside of the image viewport. The neural model as per its paradigm of training will always predict all of its outputs.

But as the model is trained on a very large proportion of

[2022-01-22 11:05] CYChuang opened #3009 "mediapipe low FPS"
Hello everyone:
We use mediapipe build a project like video
[https://drive.google.com/file/d/1rRrlYNVcPWF70FS-Ux69YmX5hqBWyVxt/view?usp=sharing](url)
However the FPS is very low.
We want to know it's the mediapipe's problem or we can fix it by other solution.
If someone know how to slove it, please tell me thanks.

[2022-01-22 11:54] sran-ranvir commented on #3009
How can i change the thickness of drawing utility below 1 ! i want something like 0.2 ????

[2022-01-22 18:00] Kazanian2 opened #3010 "Linker error when trying to utilise OpenCV objdetect module"
Hi,

I'm working on an Android app which uses MediaPipe for several tasks. Now, I have added my own MediaPipe calculator which uses CascadeClassifier of OpenCV. Building MediaPipe with this new calculator worked fine, but when starting the Android app, I get following linker error:

[code]

The call in the calculator looks like this:

[code]

CascadeClassifier is part of OpenCV's objdetect module,

[2022-01-23 12:10] zhiheng-ldj opened #3011 "Install Hello World but crashed with: Failure [INSTALL_FAILED_NO_MATCHING_ABIS: Failed to extract native libraries, res=-113]"
**System information** (Please provide as much relevant information as possible)
- Docker built with https://google.github.io/mediapipe/getting_started/install.html.
- Device with Android 7.1.2.

**Describe the problem**:

I am using docker to build apps followed by https://google.github.io/mediapipe/getting_started/install.html.
I am trying to deploy helloworld application.
I tried to build app w

[2022-01-24 04:18] sgowroji commented on #3007
Hi @jen-co,  Could you please  share us  the list of broken links which are not working. Thanks!

[2022-01-24 04:26] sgowroji commented on #3010
@Kazanian2 , Did you get a chance to refer this duplicate issue https://github.com/google/mediapipe/issues/1224

[2022-01-24 04:28] sgowroji commented on #3011
@zhiheng-ldj, Did you check this https://github.com/google/mediapipe/issues/1402

[2022-01-24 05:55] sgowroji commented on #2797
Hi @magorors, Could you please go through this https://github.com/google/mediapipe/issues/2678#issuecomment-989348636

[2022-01-24 05:56] #2965 closed

[2022-01-24 05:56] sgowroji commented on #2949
Closing this issue with https://github.com/google/mediapipe/issues/2948#issuecomment-1004535050 reference. Please reach us back if you have any queries on the above context. Thanks!

[2022-01-24 05:56] #2949 closed

[2022-01-24 06:44] tu-nv commented on #1678
I am also having a similar problem, and this one looks promising (I haven't tried it yet though)
https://github.com/yeemachine/kalidokit

[2022-01-24 06:56] #2966 closed

[2022-01-24 06:56] #2959 closed

[2022-01-24 06:56] #2970 closed

[2022-01-24 07:41] Kazanian2 commented on #3010
I already tried adding "api_level = 21" in the WORKSPACE file and rebuilding MediaPipe but still get the same error

[2022-01-24 10:45] jen-co commented on #3007
Thank you for the quick response.
List of broken links in the [mediapipe object detection info](https://github.com/google/mediapipe/tree/master/mediapipe/models/object_detection_saved_model):
- https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/installation.md
- https://www.tensorflow.org/lite/convert/cmdline_examples

List of broken links in the [linked tutorial](htt

[2022-01-24 12:04] sgowroji opened #3012 "Document links broken in object detection"
Thank you for submitting a MediaPipe documentation issue.
The MediaPipe docs are open source! To get involved, read the documentation Contributor Guide
## URL(s) with the issue:

Please provide a link to the documentation entry, for example:

Comment as list of broken links
https://github.com/google/mediapipe/issues/3007#issuecomment-1019960716

[2022-01-24 16:34] naomipappe commented on #2868
Hi @BingoZha!

Could you please share how you modified the sub-graphs? Did you manage to obtain the `pose_world_landmarks` data?

[2022-01-24 16:39] naomipappe opened #3013 "Getting the Pose World Landmarks in the Pose Tracking Android Demo"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): Yes, I used [this](https://github.com/google/mediapipe/issues/1013#issuecomment-718640088) workaround to solve the problem encountered in stock pose tracking example
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Ubuntu 20.04 LTS on Windows 10 x8

[2022-01-24 19:20] htorrendell opened #3014 "Face Mesh Effect Samples for Web"
Hi,

I was wondering if there are plans to make public for web platform the Face Mesh Renderer Effects that are currently available on Mobile. Are these technically compatible with Web JS?

![face_geometry_renderer](https://user-images.githubusercontent.com/10697832/150849496-5c40da4a-629e-41a0-92d6-f7a0031b8adb.gif)

Thanks!

[2022-01-25 03:16] lilinxiong commented on #2105
@jiuqiant  Hello, I see that you are discussing the size of aar again, and you have made some optimizations to the size of aar (it seems that the size of so in the latest released 0.8.9-alpha-5 is smaller) , for these optimizations, can you easily tell me?
Thank you so much~~~~

[2022-01-25 04:33] justin-f-perez commented on #2798
Closing since I've moved on to other projects and won't be able to keep this issue up to date

[2022-01-25 04:33] #2798 closed

[2022-01-25 04:56] #2968 closed

[2022-01-25 06:21] sgowroji commented on #2495
@karen-pal  Thank you for providing your solution. This is very helpful to the community who are looking our for similar queries.

[2022-01-25 06:23] sgowroji commented on #2328
Thank you for verifying the above  confirming the fix.

[2022-01-25 06:24] sgowroji commented on #2544
Hi @Vatsa0408, I can reopen the issue if the above fix doesn't work.

[2022-01-25 06:29] Vatsa0408 commented on #2544
Hi @sgowroji, I am using version 0.8.8 and I am not facing any issue as of now.
Thanks for the support provided.

[2022-01-25 07:56] #2954 closed

[2022-01-25 08:47] Kazanian2 commented on #3010
I changed the code to call other functions of CascadeClassifier. There are no linker errors when using getFeatureType() or empty(), but detectMultiScale does not work. I investigated the entries in libopencv_java3.so and libmediapipe_jni.so. There are some differences:

``
libopencv_java3.so:
detectMultiScaleERKNS_11_InputArrayERSt6vectorINS_5Rect_IiEESaIS6_EERS4_IiSaIiEEdiiNS_5Size_IiEESE_ 

libm

[2022-01-25 10:00] delmohf commented on #2996
ok, I get it !!!

Is there a chance at least to share your onFrame implementation from `@mediapipe/camera_utils`? I didn't find the non-obfuscated source code.

[2022-01-25 15:56] #2857 closed

[2022-01-25 20:13] kdementiev-reinvently commented on #3003
I have the same issue as @YuriPoluk

Example from CodePan working fine, but when I connect **@mediapipe/face_mesh** package to my Vue.JS application and activate refineLandmarks - something crashing inside of the package.

In my project I'm using latest version of **@mediapipe/selfie_segmentation** and **@mediapipe/face_mesh**.

PS. Also, there is no any good documentation or examples using **@med

[2022-01-25 20:33] adryzz opened #3015 "How do i use stereoscopic tracking?"
As written [here](https://developers.googleblog.com/2021/04/signall-sdk-sign-language-interface-using-mediapipe-now-available.html), MediaPipe supports stereoscopic tracking (they used 3 cameras).

How do i use it (C++, face/hand tracking)? there are no examples in [here](https://github.com/google/mediapipe/tree/master/mediapipe/examples/desktop) and no mentions on the documentation.

[2022-01-26 00:46] AlexMemomi commented on #1092
@mgyong Hi, any news about webgl backend support? Maybe as separate repository. Can you share just a related part of webgl backend? We really need it to build our own binary for web (link with our project). Like:
InferenceCalculatorMlDriftWebGl
MlDriftCalculator

Thank's

[2022-01-26 06:41] qichuangguo opened #3016 "android pose err"
Exception in thread "main" java.lang.ClassFormatError: Absent Code attribute in method that is not native or abstract in class file android/R$attr
	at java.base/java.lang.ClassLoader.defineClass1(Native Method)
	at java.base/java.lang.ClassLoader.defineClass(ClassLoader.java:1016)
	at java.base/java.security.SecureClassLoader.defineClass(SecureClassLoader.java:174)
	at java.base/java.net.URLClassL

[2022-01-26 08:46] sgowroji commented on #3016
Hi @qichuangguo, Could you please provide steps to reproduce the above error. Thanks!

[2022-01-26 08:55] sgowroji commented on #2714
You can check the code for Max_num_hands from here https://github.com/google/mediapipe/blob/master/mediapipe/examples/ios/handtrackinggpu/HandTrackingViewController.mm#:~:text=//%20Max%20number%20of,int%20kNumHands%20%3D%202%3B and other you can try changes in the respective Hands graph.

[2022-01-26 09:08] qichuangguo commented on #3016
bazel build -c opt --fat_apk_cpu=arm64-v8a,armeabi-v7a //mediapipe/examples/android/src/java/com/google/mediapipe/apps/buid_aar:pose_tracking_aar

BUILD：
load("//mediapipe/java/com/google/mediapipe:mediapipe_aar.bzl", "mediapipe_aar")
mediapipe_aar(
    name = "pose_tracking_aar",
    calculators = ["//mediapipe/graphs/pose_tracking:pose_tracking_gpu_deps"],
)

[2022-01-26 09:09] qichuangguo commented on #3016
err:

ERROR: /home/qcg/.cache/bazel/_bazel_qcg/94b563eeccd2c836fa5af676613159f4/external/maven/BUILD:708:11: Merging compiled Android resources for @maven//:androidx_vectordrawable_vectordrawable failed: (Exit 1): linux-sandbox failed: error executing command
  (cd /home/qcg/.cache/bazel/_bazel_qcg/94b563eeccd2c836fa5af676613159f4/sandbox/linux-sandbox/3692/execroot/mediapipe && \
  exec env - \

[2022-01-26 12:21] akan7sha opened #3017 "INFO: Created TensorFlow Lite XNNPACK delegate for CPU"
(https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

- OS Platform  -  iOS 14.4
- Solution :Pose, Holistic
- Programming Language : Python 3.8

I am working on hand pose but in output only XNNpack error is showing up.
like this:
bash-3.2$ python3 main.py
INFO: Created TensorFlow Lite XNNPACK delegate for CPU.
I am not getting this, why this error is showing up.

[2022-01-26 13:38] yellagoud opened #3018 "MediaPipe Selfie Segmentation results are not invoking when moved to other Chrome tabs"
const videoElement =document.getElementsByClassName('input_video')[0];
selfieSegmentationObj = new SelfieSegmentation({locateFile: (file) => {
    return `https://cdn.jsdelivr.net/npm/@mediapipe/selfie_segmentation/${file}`;
    }});
selfieSegmentationObj.setOptions({
    modelSelection: 1,
    selfieMode: false,
    effect: 'mask',
});

selfieSegmentationObj.onResults(selfieSegmentationResults);

[2022-01-26 15:35] akan7sha commented on #3017
someone please help me to understand this warning and how to resolve this

[2022-01-26 17:25] jiuqiant commented on #2650
Each solution result object has an [acquireInputTextureFrame()](https://github.com/google/mediapipe/blob/33d683c67100ef3db37d9752fcf65d30bea440c4/mediapipe/java/com/google/mediapipe/solutioncore/ImageSolutionResult.java#L61) method and the TextureFrame object has a [getTextureName()](https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a479407c699e424aa7/mediapipe/java/com/google/mediapi

[2022-01-26 17:26] jiuqiant commented on #2650
Each solution result object has an [acquireInputTextureFrame()](https://github.com/google/mediapipe/blob/33d683c67100ef3db37d9752fcf65d30bea440c4/mediapipe/java/com/google/mediapipe/solutioncore/ImageSolutionResult.java#L61) method and the TextureFrame object has a [getTextureName()](https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a479407c699e424aa7/mediapipe/java/com/google/mediapi

[2022-01-26 17:56] #2703 closed

[2022-01-26 20:24] khayyat71 commented on #2905
I'm facing the same problem put on pose_tracking example

[2022-01-26 21:45] paul-shuvo commented on #1020
If you come across [Use of long causes issues with newer python versions](Use of long causes issues with newer python versions), refer to this [comment](https://github.com/benhodgson/protobuf-to-dict/issues/15#issuecomment-368152202)

[2022-01-26 22:32] mcclanahoochie commented on #2905
Please see https://github.com/google/mediapipe/issues/2170

[2022-01-26 22:55] jalamprea commented on #2660
It is still happening on iOS 15 but at least here is a workaround.
Use the `useCpuInference:true` on mediaPipe options.
Then on the onFrame callback from the CameraUtils, when you call `selfieSegmentation.send(.....)` add a .catch call to capture those random errors from mediaPipe and webGL and then reset the segmentation `selfieSegmentation.reset()`

Is not an elegant solution but it works... for

[2022-01-27 00:00] kyung645 opened #3019 "How to add AR effects to agumented face?"
Hi,

On the https://google.github.io/mediapipe/solutions/face_mesh.html page, the demo gif with the three people show animation effects like snowing or sweating on sunny day. But there is no documentation about how to add these kinds of animations? Would you happen to have any suggestions on how to accomplish such animation effects as seen in that demo gif on the face mesh page? Thanks so much.

h

[2022-01-27 03:39] mcdonasd1212 opened #3020 "Mediapipe Build for GPU ERROR"
**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution: Ubuntu 18.04
- Compiler version: gcc / g++ 7.5
- Programming Language and version: Python 3.7
- Installed using virtualenv? pip? Conda? (if python): virualenv pip
- [MediaPipe version](https://github.com/google/mediapipe/releases):  cf101e6
- Bazel version: 4.2.1
- OpenCV version (if ru

[2022-01-27 04:56] #2784 closed

[2022-01-27 04:56] #2871 closed

[2022-01-27 05:56] #2820 closed

[2022-01-27 07:16] sgowroji commented on #3020
Hi @mcdonasd1212, Did you get a chance to check this https://github.com/google/mediapipe/issues/1564#issuecomment-779391548. If the above did not work can you please share us the complete steps to reproduce the above error and at what step you are seeing it.

[2022-01-27 07:20] sgowroji commented on #3019
Hi @kyung645, We don't have Examples for AR effects for your above query. But you can build them from here by referring this https://google.github.io/mediapipe/solutions/face_mesh#face-effect-example. You can choose graph or other platforms like android or IOS to build one.

[2022-01-27 07:24] sgowroji commented on #2510
Thank you all for your patience. We have shared your request with @mhays-google. He will address the above query once he is available.

[2022-01-27 07:39] sgowroji commented on #3017
Hi @akan7sha, Can you share the complete error logs.  "INFO: Created TensorFlow Lite XNNPACK delegate for CPU." this is not an error logs. its an information logs. If you want to disable it then you can go through this https://github.com/google/mediapipe/issues/2094

[2022-01-27 07:50] sgowroji commented on #3018
Hi @yellagoud, Can you share any references with error logs or screenshots for the above query. Thanks!

[2022-01-27 08:50] MinHyeong-Lee opened #3021 "How can I get coordinate from Packet <mediapipe::Detection>> ????"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): **Yes. It is my custom code.**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, i

[2022-01-27 09:56] likefxz2009 opened #3022 "question about One Euro Filter"
I first use the OneEuroFilter code in https://github.com/jaantollander/OneEuroFilter with python, and then use the OneEuroFilter code in mediapipe. But I find the difference of the two implementations:
in mediapipe:
use  ( x - lastRawValue)
![image](https://user-images.githubusercontent.com/19486844/151334588-d475eead-4c77-4e1f-b328-7206cb4abfa4.png)
https://github.com/google/mediapipe/blob/master

[2022-01-27 10:12] SutirthaChakraborty commented on #2031
face = np.array([[res.x, res.y, res.z] for res in face_landmarks.landmark]).flatten() if face_landmarks.landmark else np.zeros(468*3)

[2022-01-27 10:14] sgowroji commented on #2991
Hi @ya332, We can see a feature request  on the same on bazel for AAB https://github.com/bazelbuild/bazel/issues/11497. Present we  can't do AAB in MediaPipe with bazel. If there is any update we will let you know soon. Thanks!

[2022-01-27 10:17] sgowroji commented on #2981
You can refer Apache 2.0 license for further information. Thanks!

[2022-01-27 10:17] #2981 closed

[2022-01-27 11:47] sgowroji commented on #3022
Hi @likefxz2009, Could you please elaborate your use case with the above query. Thanks!

[2022-01-27 13:18] mcwachanga commented on #2578
@sgowroji  I have imported `controls_utils_3d ` before `controls_utils` and the error still persists. here are my versions:

[code]

[2022-01-27 14:04] sgowroji commented on #2578
Hi @mcwachanga, Could you please confirm whether the above files were downloaded in the network tab.

[2022-01-27 14:16] mgarbade opened #3023 "Inverse matrix cannot be calculated"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code: yes
- OS Platform and Distribution: Android 10
- Mobile device: Huawei P30 Pro
- Pr

[2022-01-27 14:28] yellagoud commented on #3018
Hi @sgowroji,

I didn't find any error logs. After debugging the code I found one issue in the following JS file,
https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js

In the above JS, the Camera object is used internally "Window.requestAnimationFrame()" which generally will not execute if the Chrome tab is hidden. The same case is working in the Firefox browser.

I replaced "Windo

[2022-01-27 15:19] mcwachanga commented on #2578
@sgowroji I appreciate the timely response. I'm using angular and I think the util is included by webpack after importing it like so:
`import * as Controls3D from "@mediapipe/control_utils_3d"; `

This is the console error.
![controls bug](https://user-images.githubusercontent.com/9365510/151385135-31477e38-d70e-46e8-83de-64c219b0e6d6.PNG)

Seems like the util is downloading ThreeJS library (which

[2022-01-27 16:57] singhania0601 commented on #2739
I have uploaded hand - tracking module on my github page, you can use that.
Mediapipe latest issue uses one parameter extra than the earlier model

[2022-01-27 17:55] mcdonasd1212 commented on #3020
I will uninstall Cuda 11.3 an go with 10.2 (that will be fun!) and see what happens.   Will I need to build Tensorflow from source our can I use the version installed via Pip?

[2022-01-27 21:18] tyrmullen commented on #3018
Correct, Camera uses requestAnimationFrame, which browsers may slow down updates to or stop calling back completely when the tab is backgrounded or fully hidden.  This is often a source of confusion (see related Issue #2955), and Chrome definitely has this behavior.  For what you want, setTimeout() is a reasonable approach, provided you call it with good parameters (poll every X ms, instead of try

[2022-01-27 23:05] mcdonasd1212 commented on #3020
Hi @sgowroji

I started from a fresh install. So here is every step.
## OS
Ubuntu 18.04
## Hardware
Intel® Core™ i7-8700 CPU @ 3.20GHz × 12
GeForce GTX 1660 SUPER/PCIe/SSE2

PREREQUISITES
=============
[code]

Intall Cuda and cuDnn
=====================
## Install Cuda 11.2 (Highest version that works with Tensorflow per https://www.tensorflow.org/install/gpu)
https://developer.nvidia.com/cuda-11.

[2022-01-28 04:03] rvadhavk opened #3025 "How to Build JavaScript Libraries from Source?"
Is there a way to build the JS mediapipe libraries from source?  Is the source in a separate repo?  I can't find anything related to the JS build in this repo.

[2022-01-28 04:12] rvadhavk opened #3026 "JavaScript Libraries Lack API Documentation"
## URL(s) with the issue:
https://google.github.io/mediapipe/getting_started/javascript.html

## Description of issue (what needs changing):
The docs only contain examples but no API documentation listing methods and type signatures for libraries such as drawing_utils.js and face_mesh.js.  Also, there doesn't seem to be JS/TS code in this repository, and the JS available on jsdelivr is minified.

[2022-01-28 04:24] sgowroji commented on #3026
Please go through our present javascript documentation https://google.github.io/mediapipe/getting_started/javascript#mediapipe-in-javascript

[2022-01-28 04:26] sgowroji commented on #3025
Hi @rvadhavk, You can use our [codepen](https://codepen.io/mediapipe) examples or can use our ready built solutions  using npm from here https://google.github.io/mediapipe/getting_started/javascript#ready-to-use-javascript-solutions

[2022-01-28 04:35] rvadhavk commented on #3025
@sgowroji so to confirm, the JavaScript libraries are not open source?  Users have to rely on pre-built, minified packages?

[2022-01-28 04:36] sgowroji commented on #2989
Hi @lghasemzadeh, With the specs shared in it seems that work with MediaPipe. But we have not tested with the device.

[2022-01-28 04:37] rvadhavk commented on #3026
@sgowroji I visited those links and didn't find any API documentation listing methods and type signatures, just usage examples.

[2022-01-28 04:37] sgowroji commented on #2967
Above patch errors are on windows? Could you please try on linux with the same. Thanks!

[2022-01-28 04:46] sgowroji commented on #3026
Thank you for the details. We have shared your request to the team, who will assist on your above queries.

[2022-01-28 06:12] zhiheng-ldj opened #3027 "Success Installed APP crashed on device"
Hi I am trying to deploy object detection app on device with CPU.

**Other info / Complete Logs :**
I am using:
bazel build -j 1 -c opt --config=android_arm

**mediapipe/examples/android/src/java/com/google/mediapipe/apps/objectdetectioncpu:objectdetectioncpu**

to build and

**adb install bazel-bin/mediapipe/examples/android/src/java/com/google/mediapipe/apps/objectdetectioncpu/objectdetectioncpu

[2022-01-28 06:18] sgowroji commented on #3015
We have examples on facemesh and hand tracking on c++. You can build one from here https://google.github.io/mediapipe/getting_started/cpp.html.  Could you please elaborate on stereoscopic tracking am not sure about it.

[2022-01-28 06:20] sgowroji commented on #3023
Thanks for sharing us complete details of the above issue with with fixes. Our engineer team will review it and will let you know the status on the same.

[2022-01-28 07:08] Ijustakid opened #3028 "How to rotate the camera's previewframe with the screen orientation"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): havent
- OS Plat

[2022-01-28 07:50] Kazanian2 commented on #3010
Any suggestions?

[2022-01-28 08:19] zhiheng-ldj commented on #3027
I have tried hello world (edge detection) and it works perfectly. I have tried facedetectioncpu and it crashed as before.

Thanks for your help!

[2022-01-28 08:26] sgowroji commented on #3028
Hi @Ijustakid, Have you tried adding android:screenOrientation="landscape" in manifest and setRequestedOrientation (ActivityInfo.SCREEN_ORIENTATION_LANDSCAPE); in MainActivity.Java

[2022-01-28 08:33] sgowroji commented on #3027
Hi @zhiheng-ldj, Can you provide  complete error logs to understand the issue. Thanks!

[2022-01-28 08:40] zhiheng-ldj commented on #3027
Hi, can I get the error log in my android device? It seems all good in my host~

[2022-01-28 08:40] #2991 closed

[2022-01-28 08:49] sgowroji commented on #3027
Yes follow this to get the bug report https://developer.android.com/studio/debug/bug-report in android device.

[2022-01-28 09:10] zhiheng-ldj commented on #3027
Hi I got it, is it like this?

--------- beginning of crash
01-28 16:35:02.485  1497  1497 E AndroidRuntime: FATAL EXCEPTION: main
01-28 16:35:02.485  1497  1497 E AndroidRuntime: Process: com.google.mediapipe.apps.facedetectioncpu, PID: 1497
01-28 16:35:02.485  1497  1497 E AndroidRuntime: java.lang.UnsatisfiedLinkError: dlopen failed: cannot locate symbol "aligned_alloc" referenced by "/data/app

[2022-01-28 12:58] roimulia2 commented on #2990
Same issue on our app, please advice. Thank you!

[2022-01-28 12:59] roimulia2 commented on #2927
Hey @anappdev2, have you managed to solve this?

[2022-01-28 13:03] tomkolron commented on #1011
i have the same probelm on the rpi-4 cant find a solution anywhere

[2022-01-28 13:12] roimulia2 commented on #2538
Did you find the solution? :)

[2022-01-28 13:45] sgowroji commented on #3027
Duplicate https://github.com/google/mediapipe/issues/1224. Update your changes with https://github.com/google/mediapipe/issues/1224#issuecomment-745190852

[2022-01-28 13:58] sgowroji commented on #3016
Hi @qichuangguo, Can you provide system configuration in which the above issue is seen. Thanks!

[2022-01-28 14:07] sgowroji commented on #3014
Hi @htorrendell, Marking it as duplicate of https://github.com/google/mediapipe/issues/2750#issuecomment-964444032

[2022-01-28 14:13] sgowroji commented on #3000
You can try Android Hands [Gradle](https://google.github.io/mediapipe/solutions/hands#android-solution-api) API solutions . If you have problem in building the above solution.

[2022-01-28 14:14] ChenMoGe2 opened #3029 "android webview can not open the result camera video of face mesh which the code is javascript"
I used javascript demo to run on the android webview,but I can just see the camera video but not face mesh video.

Env:
Android:Oneplus 7 Pro,Android 9

like this:
![3eaf1ef5885c2f382bc7fd90c9d063e](https://user-images.githubusercontent.com/32083531/151561300-606bf646-ef64-407f-aecf-7f4cf6f3172a.jpg)

but It can play face mesh on chrome android
![93af7e58657715e0a67f45100554890](https://user-image

[2022-01-28 17:12] zhiheng-ldj commented on #3027
Hi,

Thanks for your help! It works perfectly.

BTW I have a question:

**Can I add some functions (written by python for example) based on the apps? How should I do these developments?**

Thanks?!

[2022-01-28 17:37] webdevog commented on #3003
Hi! The same issue here, everything works great with cdn but when used as npm module and refineLandmarks turned on. Crash logs are the same as provided by @YuriPoluk

[2022-01-28 18:20] mcclanahoochie commented on #2989
Mediapipe should run on that CPU, but I don't think Mediapipe can take advantage [yet] of any of the specialized chips on that board.

[2022-01-28 18:41] mcclanahoochie commented on #2855
If you are using an android mediapipe example as your base, when frames get to the graph they are in RGBA format already, on GPU. You don't need to worry about YUV conversion.

You may need a [GpuBufferToImageFrameCalculator](https://github.com/google/mediapipe/blob/master/mediapipe/graphs/object_detection/object_detection_mobile_cpu.pbtxt#L15) to get ImageFrame into your calculator.  (and possibl

[2022-01-28 18:47] mcclanahoochie commented on #2987
Can you also check these other related issues https://github.com/google/mediapipe/issues/932 and https://github.com/google/mediapipe/issues/840 ?

[2022-01-28 18:53] FabianoFGomes opened #3030 "MediaPipe Pose Estimation - ML Kit alternative"
I'm not going to use the ML kit and Pose Classification Colab to generate a CSV file.

Is there an alternative or some way to not use CSV files. If there is how to use it in MediaPipe? Is it by "solutionPath"?

[2022-01-28 19:35] htorrendell commented on #3014
Hey @sgowroji, apologies for the duplicate. Thanks for noting.

[2022-01-28 19:35] #3014 closed

[2022-01-28 19:35] htorrendell commented on #2750
Hey everyone,

Any updates on this or any expected time frame?

Thanks!

[2022-01-29 00:13] qichuangguo commented on #3016
Ubuntu 20.10   64 bit  GNOME  3.38.3  memory 16G

[2022-01-29 00:15] mcdonasd1212 commented on #3020
@mcclanahoochie , @jiuqiant   - any recommendations of what to try next?

[2022-01-29 01:28] adryzz commented on #3015
Yes, i have got all the examples to build and run successfully.

I am referring to this in the article.
![image](https://user-images.githubusercontent.com/46694241/151641918-caf92ad8-82e9-4b3e-9878-b694728e8a5b.png)

[2022-01-29 03:27] zhiheng-ldj opened #3031 "How to do some developments based on example app?"
**System information** (Please provide as much relevant information as possible)
- Solution (e.g. FaceMesh, Pose, Holistic): Pose

**Describe the expected behavior:**
Hi, I am trying to use pose-tracking app and it works perfectly.

Where can I do some developments such as print some strings on my screen or do some simple calculators based on the result?

Thanks!

[2022-01-29 05:58] colorcatliu opened #3032 "building irisTrackingGpuApp with error" Showing All Messages /Users/ln01/workspace/mediapipe-master/external/com_google_protobuf/src/google/protobuf/stubs/mutex.h:185:16: aligned allocation function of type 'void *(std::size_t, std::align_val_t)' is only available on iOS 11 or newer""
Showing All Messages

Prepare build
note: Using new build system
note: Planning
note: Build preparation complete
note: Building targets in parallel

Analyze workspace
Create build description
Build description signature: a7f0c99446fa0d2ff3eb9eead664cd1d
Build description path: /Users/ln01/Library/Developer/Xcode/DerivedData/Mediapipe-ajhyippsjpbylbcmnoyhbfrggetz/Build/Intermediates.noindex/XCBuild

[2022-01-29 06:11] colorcatliu commented on #3032
Updated: the project was built in vmware-based macos, and bazel command is ok to build an .ipa file for real iphone, while using xcode build for simulator will result to “aligned deallocation error”

[2022-01-29 09:02] showbit01 commented on #825
with 3d landmarks,if we kept photo of a person in front of camera I found  the z coordinate of all landmarks are different as the live person in front of camera but it should be same ???

[2022-01-29 10:39] ChenMoGe2 commented on #3029
It's OK for Vivo,but not working on Oneplus 7 Pro

[2022-01-29 11:07] ChenMoGe2 opened #3033 "Can not see face mesh result on Oneplus 7 Pro Android 9 but working on Vivo IQOO NEO 3 Android 11"
**System information**

- Have I written custom code : No
- OS Platform and Distribution : Android 9
- Mobile device if the issue happens on mobile device : Oneplus 7 Pro
- Browser and version if the issue happens on browser: Android webview which developed by me
- Programming Language and version : Android webview for Java and javascript for face mesh
- MediaPipe version : code on https://google.

[2022-01-29 19:29] 123epsilon commented on #2855
Thank you! I had just run into the issue of converting an ImageFrame to GPUBuffer and this reply helped a lot! I will implement this over the next few days and close this issue within the week if I can get the calculator to work.

To be clear, in order to manipulate an ImageFrame, I should just obtain the underlying cv::Mat and make changes to that object, which will then be reflected in the Image

[2022-01-29 20:30] 123epsilon commented on #2855
As a sanity check I figured I would post my updated calculator and graph for feedback:

Calculator:
[code]

Hand Tracking Graph:
[code]

Please let me know if I made any obvious mistakes, thank you!

[2022-01-30 05:49] sgowroji commented on #3030
Hi @FabianoFGomes, Could you please elaborate your query with complete details. Thanks!

[2022-01-30 05:52] sgowroji commented on #3031
Hi @zhiheng-ldj, Which platform are you referring for the above query ? Can you share your usecase w.r.t to it.

[2022-01-30 05:53] sgowroji commented on #3033
Duplicate https://github.com/google/mediapipe/issues/3029

[2022-01-30 05:53] #3033 closed

[2022-01-30 05:57] sgowroji commented on #3032
@colorcatliu, Could you please provide steps to reproduce the above error. Thanks!

[2022-01-30 06:00] sgowroji commented on #3029
Where you able to build the Js solution in Oneplus 7 pro browser? Did our demos run on the browser?

[2022-01-30 06:12] ChenMoGe2 commented on #3029
@sgowroji Yes,it can run on chrome,but not on my own webview.I think the problem reason is External camera of Oneplus like below:
![8daf77acdd83ca708cd7cb4b6beb7ea](https://user-images.githubusercontent.com/32083531/151688821-8f70ecfd-b1d5-4334-a25d-d347eff81b47.jpg)

All phones which use internal camera are OK.

[2022-01-30 06:45] yellagoud commented on #3018
Hi @tyrmullen,

Thank you for responding to my query.

Somehow video with the background images is getting blurred.  I am trying to draw the complete image onto canvas but the result is image fuzzy. Following is the code i am using,

[code]

@this is the image that I am trying to draw https://dev47.beta-wspbx.com/images/connectbackground/office-desktop-1.png but the original size is decreasing ont

[2022-01-30 09:35] homuler commented on #3020
Isn't the process killed by OOM?

[2022-01-30 10:33] zhiheng-ldj commented on #3031
Hi @sgowroji , I want to deploy the app in android devices. What I want is to do some post-process on the model result and print some strings/numbers on my screen.

Can I use Python API to do this? Or C++? I can write these 2 languages but not JAVA. How should I do?

I have checked the Python API provided by mediapipe but it does not show how to build and install it as .apk?

Thanks very much!

[2022-01-30 16:02] tu-nv commented on #1918
We also faced the same issue. I think it is ok to take time loading model, but it should not hang the browser.

[2022-01-30 16:10] Billccx opened #3034 "How to design a graph for pose tracking which runs in parallel"
Dear researchers (or anyone reading this issue):
        I am working on a project about pose estimation. Here is my plan:

Firstly, utilize 2 cameras, getting videos from different viewpoint. Then, run mediapipe pose tracking algorithm on two videos respectively, and get the landmarks from two different viewpoints. After that, using bundle adjustment to merge two sets of landmarks from different

[2022-01-31 04:01] sgowroji commented on #2196
Reopened the above issue as the second query still exist. @vovani we have assigned it to the engineer who will assist you better on the above. Thanks!

[2022-01-31 04:06] sgowroji commented on #2569
Thank you for sharing your resolution. @versusniubility could you please raise a new issue with complete details in it and share us if the issue still exists.

[2022-01-31 05:56] #2995 closed

[2022-01-31 05:56] #2992 closed

[2022-01-31 07:46] tri-bao commented on #2935
@gkarpiak do you have any advice?

Meanwhile, I tried both and the accuracy of lips&eyes landmarks produce by the `landmark_with_attention` model is less than the combination of the model `face_landmark` (without attention) and `iris_landmark`. By "accuracy", I mean the sensitive of landmarks position to the movement of lips and eyes.

I thought that `landmark_with_attention` alone will perform fa

[2022-01-31 09:05] MaksymAtNimagna opened #3035 "Pose tracking / segmentation underperforms on Ryzen 9 3900X"
**System information** (Please provide as much relevant information as possible): Ryzen 9 3900X 3.8GHz 32 GB RAM
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): Pose example
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Windows 10, up to date
- [MediaPipe version](https://github.com/google/mediapipe/releases): 0.8.

[2022-01-31 09:16] showbit01 opened #3036 "Output result gives different z values for Live face and picture face"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):
- [MediaPipe version]

[2022-01-31 09:25] sgowroji commented on #3035
Hi @MaksymAtNimagna, Thank you for sharing your query. Could you please provide any references like error logs or screenshots  where it underperforms on the above.

[2022-01-31 09:27] MaksymAtNimagna commented on #3035
Thank you for replying so fast! There are no errors and it's just a relatively low framerate issue where only a single core is being utilized (at least looking at the task manager) - what specifically could I provide to help you better to take a closer look at the issue?

[2022-01-31 09:27] MaksymAtNimagna commented on #3035
Thank you for replying so fast! There are no errors and it's just a relatively low framerate issue where only a single core is being utilized (at least looking at the task manager) - what specifically could I provide to help you better to take a closer look at the issue?

[2022-01-31 09:28] sgowroji commented on #3036
Hi @showbit01, Can you fill the above issue template to investigate further and provide the necessary references like images used in testing the above. Thanks!

[2022-01-31 10:19] Junesh9 commented on #1928
My file name is BalloonPwop.py, and same problem...

[2022-01-31 11:36] sushma-snk opened #3037 "MediaPipe installation in AWS EC2 instance"
I am working on MediaPipe for an application. Everything works fine on local server but how do i install MediaPipe in AWS EC2 instance?
Found this: [https://dev.classmethod.jp/articles/mediapipe-install-on-aws-ec2-with-gpu-english/]
The charges are too high.
Has anyone worked on MediaPipe in AWS? Kindly request you to help me out...
Thanks, in advance!!!

[2022-01-31 11:53] manwithsteelnerves commented on #36
I was following this thread and it started long back where there are not much devices which support AR Core. But, now there are many.

Would be great if you can share the list!

[2022-01-31 13:56] lghasemzadeh commented on #2959
Thank you, I got my answer

[2022-01-31 14:05] sgowroji commented on #3037
Hi  @sushma-snk Can you try checking the same in our slack community which is More active and can assist well on this type of queries.  https://mediapipe.slack.com/join/shared_invite/zt-ey6bzgpe-QzmGV4DQ7oDLVslgXYvshQ#/shared-invite/email. Meanwhile we will keep this thread open to address from the community. In Github try raising support or bug related issues which need guidance from the engineer

[2022-01-31 14:45] sushma-snk commented on #3037
Will check in Slack Community.
Thanks for quick reply @sgowroji

[2022-01-31 15:44] nivsaparov1 opened #3038 "Android solution for face mesh brings different land marks"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):
- [MediaPipe version]

[2022-01-31 15:51] brucechou1983 commented on #3034
The short answer is yes you can do that with MediaPipe. About threading in MP read [this](https://google.github.io/mediapipe/getting_started/faq.html#how-to-run-calculators-in-parallel).

[2022-01-31 18:44] Hrituraj202 opened #3039 "Unable to overlay png image in annotation_renderer.cc"
HI, I am new to c++ but exploring things in mediapipe.
I am working on iris_tracking project. I want to overlay color lens on eyes using png.
But before anything else I was trying to overlay a png over the frame like this but it gives error.

`  cv::Mat lens = cv::imread(file::JoinPath("./", "/mediapipe/calculators/image/testdata/lens.png"));
lens.copyTo(mat_image_(cv::Rect(0, 0, 100, 100)));
`

A

[2022-01-31 20:58] tyrmullen commented on #3029
I'm assuming there are no errors being printed out to the JavaScript Console?  In any case, for a mobile phone, 1280x720 are probably not the dimensions you want to request a camera stream at; perhaps try 480x640 instead and see if that helps?

Otherwise, it would be useful to see what differences are between cameras that work and cameras that fail-- see if you can save images from both types of c

[2022-01-31 21:01] akdu12 commented on #2121
@kiranscaria I looking for the same thing but I'm not a c++ dev, did you figure out the implementation?

[2022-01-31 21:13] tyrmullen commented on #3018
In general, we should create a new thread for issues separate from the initially reported one, so if my comment doesn't resolve it, let's move the discussion to a new issue.

Your background image appears to be 640x360 resolution, but the camera resolution for our demos is usually 1280x720.  I'm assuming therefore your canvasElement is 1280x720 to match the camera resolution, which means your back

[2022-02-01 02:36] mcdonasd1212 commented on #3020
@homuler  yes it was a memory problem, Thank you.

I tried to compile again this time with the I added --jobs=1 to get around the memory issue.

[code]
Here is the error.
[code]
@mcclanahoochie, @jiuqiant @sgowroji    any ideas what to try next?

[2022-02-01 03:56] sgowroji commented on #3038
Hi @nivsaparov1, Can you provide any reference to illustrate the above scenario. Thanks!

[2022-02-01 04:02] sgowroji commented on #3039
Hi @Hrituraj202, To start doing the MediaPipe in C++ then you should go through this https://google.github.io/mediapipe/getting_started/cpp.html#mediapipe-in-c . You can refer the code implementation and comments mentioned in the https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a479407c699e424aa7/mediapipe/util/annotation_renderer.cc for documentation. What is your use case with resp

[2022-02-01 04:56] #2994 closed

[2022-02-01 06:12] Hrituraj202 commented on #3039
HI @sgowroji, thanks for you response.
Actually I have been working on the iris_tracking project and trying to remove all the annotations.
I want to overlay a lens png image over the iris.
I am trying to implement a DrawImage method in annotation_renderer.cc just like other methods like.. DrawRectangle, DrawRoundedRectangle, DrawOval, DrawText, DrawLine, DrawArrow etc

[2022-02-01 06:17] lghasemzadeh opened #3040 "Algorithms Specification"
Hello,

Is there any **algorithm specification**, requirement or evaluation guideline for mediapipe, specially the Facemesh, Holistic, Face Geometry and Object Detection solutions.
1) I want to know the strength and weakness of these solutions?
2) Is there any constraint or environmental circumstances/conditions that these solution can works better or worst there?

Thank you

[2022-02-01 06:56] sgowroji commented on #3040
If you find any could you please share us. We can consider them in our continuous improvements which we do to our MediaPipe solutions. And you can even refer our **previous GitHub issues** to know more about the above solutions   **strength & weakness**,  **better or worst**  and where it encounter problems and the **support/solutions** provided by the Engineers and community members.

[2022-02-01 07:16] #3011 closed

[2022-02-01 07:16] #3027 closed

[2022-02-01 07:22] zhiheng-ldj commented on #3031
Hi @sgowroji , what I want is to do some post-processing of model results and show some words on screen.

For example, I want to do some calculations with the landmarks of my bodies and show some words on screen like:
"You are sitting." / "You are standing." based on the result of post-processing.

How should I do it? Could you help me figure out the proper way to do it?

I have checked the TextVi

[2022-02-01 07:53] sgowroji commented on #3027
@zhiheng-ldj, May be you can write some rest API's on python and use same to call them on Android. Again that goes with your business requirement. You can check those queries in our slack channel  (https://mediapipe.slack.com/) where you get help from the MediaPipe community members.

[2022-02-01 09:44] nivsaparov1 commented on #3038
Sure, something important to mention is happening when I configure faceMesh with `setStaticImageMode(false)`
https://drive.google.com/file/d/1wyAevWVw9cje8ibge0emiHT8s-aGcWji/view?usp=sharing
@sgowroji

[2022-02-01 10:02] lghasemzadeh commented on #2605
Thanks for the update.

@sgowroji  But why this [table](https://google.github.io/mediapipe/solutions/solutions) is not up to dated?
Is the performance the same as Iris module itself?
Is that available in Holistic solution as well? since Holistic contains Facemesh.

[2022-02-01 10:43] lghasemzadeh commented on #1941
This is a very important issue and providing such these information makes everything easier and faster from user's point of view.

[2022-02-01 11:04] lghasemzadeh commented on #1642
Is this problem valid for python, C++ and Javascript version of solutions?
Is there any update regarding that, any solution?
Thank you

[2022-02-01 11:13] lghasemzadeh commented on #3040
I checked the previous issues but I did not find what I am looking for.
I think there should be a constrain/specification/requirement list for mediapipe. During developing a software there will be lots of issue and constraints detected/observed by developers which they are listed. Would you please tag one of the mediapipe's developer to know his/her idea?
currently I found an issue regarding the F

[2022-02-01 13:14] shanggangli commented on #1325
can't  work.

[2022-02-01 13:28] Kazanian2 commented on #3010
???

[2022-02-01 13:44] fbenamrouche opened #3041 "Hand gesture/Holistic on coral"
I see that holistic/ hand tracking/ gesture is doing exactly what we want on mobile phone/android.

I would like to use an nxp imx8 under android attached to a camera, but unfortunately, the gpu is way too slow (I need it to do other AI computation too) and unfortunately the models are not working with the the TPU inside (int8 only)
I would like to test also the possibility to use the Coral edge t

[2022-02-01 16:53] akbar-animaker commented on #2799
@mhays-google is there any possibility to take that priority to fix that issue.. Because of that we were unable to proceed next steps to use mediapipe

[2022-02-01 21:51] Hrituraj202 commented on #1177
`if (!poller_landmark.Next(&landmark_packet)) break;
    auto& output_landmarks = landmark_packet.Get<mediapipe::NormalizedLandmarkList>();`

after adding these lines no output screen is received.. where as after commenting it out gives the output screen.. something is not working.. please help

[2022-02-02 08:14] faraznisar opened #3042 "Mediapipe pose not working with react"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
I am trying to work with mediapipe pose in my react app but it doesn't work and I get a "Uncaught (in promise) RuntimeError: abort(undefined) at Error" in the "pose_solution_simd_wasm_bin.js" file.
-

[2022-02-02 09:41] lilinxiong commented on #1941
Yes, I think so too, I look forward to your results, thank you for your reply, today is the second day of Chinese New Year, Happy Chinese New Year~

[2022-02-02 11:37] akdu12 opened #3043 "How to get a Image directly from TflitInferenceCalculator"
Hello
I'm looking to use a calculator to convert The tensors returned after inference but couldn't find the proper calculator

does MP already have an implementation for this case?
thank you!

[2022-02-02 11:47] Hrituraj202 commented on #1747
I am facing the same issue. The console shows no error but screen just freezes giving no response at all ... Please help me

[2022-02-02 12:13] Hrituraj202 commented on #1739
I am facing the issue

I have been trying to get the iris_landmarks.
Even after resolving everything the way it is recommended ... I am facing the an issue. The console shows no error but screen just freezes with camera on but giving no response at all ... Please help me..

[2022-02-02 13:07] sgowroji commented on #3043
Hi @akdu12, Can you elaborate your use case with the above query. Thanks!

[2022-02-02 13:10] sgowroji commented on #1747
Hi @Hrituraj202, Did this resolution https://github.com/google/mediapipe/issues/1747#issuecomment-809714889 helped ?. If not can you share complete details in a new issue. Thanks!

[2022-02-02 13:17] KulkarniKaustubh commented on #3020
Are there any updates on this issue? I am also getting an error while building Mediapipe for GPU.

I am running a container with:
CUDA 11.2
Tensorflow 2.7.0

Here is the output of the bazel command given in the mediapipe docs:

[code]

[2022-02-02 13:19] akdu12 commented on #3043
@sgowroji I have a custom model which take an image and returns an image and was trying to build the graph for it, but looking at the examples from MP, they are either classifications , seg or tracking. do you have an idea about a simple graph that takes an gpu image- does the inference then returns a gpu image?

[2022-02-02 14:54] EkalavAI commented on #2969
Hi,
I just wanted to see if there's any update on this. We really need this configuration, is there perhaps a workaround we can use temporarily?

[2022-02-02 19:39] KulkarniKaustubh opened #3044 "Building for GPU causes problems - An error occurred during the fetch of repository 'local_config_cuda'"
**System information** (Please provide as much relevant information as possible)
- Linux Tensorflow container tensorflow/tensorflow:2.2.3-gpu
- g++ (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0
- Python 3.6.9
- No virtual environment
- Cloned the mediapipe repository and ran commands inside this repository
- Bazel version: 4.2.1
- OpenCV version (if running on desktop): used `pip install opencv-python` `ope

[2022-02-03 04:11] sgowroji commented on #3044
Hi @KulkarniKaustubh, Did you get a chance to refer the similar issue https://github.com/google/mediapipe/issues/852#issuecomment-651919898.

[2022-02-03 06:02] KulkarniKaustubh commented on #3044
Yes, I tried replacing `cuda_config.cudnn_version` with `'8'` as suggested, but this did not work.

After seeing some of the comments in the issue you have mentioned, I think I need to mention that I am trying to get the blazepose human pose estimation model to work on the GPU, not just object detection. Am I going about this the wrong way?

[2022-02-03 06:10] sgowroji commented on #3044
Yes, From the above commands i see you are trying to build object detection not pose. For Pose on desktop you should refer this https://google.github.io/mediapipe/solutions/pose#desktop

[2022-02-03 08:59] KulkarniKaustubh commented on #3044
The thing is, I need a Python interface of Medipipe that runs BlazePose inference on the GPU, using CUDA. Is that possible?

[2022-02-03 10:52] mcdonasd1212 commented on #3044
@KulkarniKaustubh  I am curious about the solution you find.  I see you commented on my post #3020.   I have moved onto to using OpenGL https://docs.nvidia.com/deeplearning/cudnn/archives/cudnn-821/install-guide/index.html.  But I really would like a CUDA solution.

[2022-02-03 14:50] AbinayaKumar25 opened #3045 "Unable to build mediapipe for older Android versions"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): Ubuntu 20.04
- Com

[2022-02-03 14:58] Omkar-Jawalkar opened #3046 "For anyone who wants a fast solution meanwhile someone fixs this error. It works for me, Just get module path from meadiapipe or the module what you get error and write in python console:"
For anyone who wants a fast solution meanwhile someone fixs this error. It works for me, Just get module path from meadiapipe or the module what you get error and write in python console:

import mediapipe
print(mediapipe . __ file __ )  (without black spaces)

once you get path folder, just copy all mediapipe folder and paste in your folder where you have your exe file and that is all!. Luck

_Or

[2022-02-03 14:59] Omkar-Jawalkar commented on #3046
Traceback (most recent call last):
  File "Scroll_using_Hands.py", line 38, in <module>
  File "HandTrackingMod.py", line 22, in __init__
  File "mediapipe\python\solutions\hands.py", line 114, in __init__
  File "mediapipe\python\solution_base.py", line 237, in __init__
FileNotFoundError: The path does not exist.

[2022-02-04 02:28] jsegeren opened #3047 "MP Hands: Hand Left / Right Classification is confused (i.e. wrong often) when hand near edge of screen"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): Yes
- OS Platfor

[2022-02-04 03:26] sgowroji commented on #3045
Hi @AbinayaKumar25,You can try our Gradle Android API solutions https://google.github.io/mediapipe/getting_started/android_solutions.html#mediapipe-android-solutions

[2022-02-04 03:28] sgowroji commented on #3046
Hi @Omkar-Jawalkar, Can you share the steps to reproduce the above error with complete details like code and configuration. Thanks!

[2022-02-04 03:32] AbinayaKumar25 commented on #3045
I tried to build aar file but I ended up with the error as stated above. Bazel requires android build tools 30 or newer. I have a hard constraint that I can’t update my build tools. Any suggestions?

[2022-02-04 03:33] sgowroji commented on #3047
Hi @jsegeren, Can you illustrate the above with any reference video on the above query. Thanks!

[2022-02-04 03:56] zhiheng-ldj opened #3048 "Which is the running function?"
**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): Not yet.
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): 18.04
- [MediaPipe version](https://github.com/google/mediapipe/releases): 0.8.9
- Bazel version: 4.2.1
- Solution (e.g. FaceMesh, P

[2022-02-04 04:06] sgowroji commented on #3045
What is the error are you seeing while building the code.

[2022-02-04 04:12] jsegeren commented on #3047
Sure, here's a cropped video so that I'm not including IP.
https://user-images.githubusercontent.com/2702674/152470451-02dd7a61-9cb2-4d9a-a5f1-0383a1ae882c.mp4

[2022-02-04 04:18] AbinayaKumar25 commented on #3045
Build failed. Bazel requires android build tools 30 or newer. My Bazel version is 4.2.1

[2022-02-04 04:28] sgowroji commented on #3048
Every function is explained clearly in this class https://github.com/google/mediapipe/blob/master/mediapipe/examples/android/src/java/com/google/mediapipe/apps/basic/MainActivity.java which is extended in the pose Mainactivity.java .

[2022-02-04 04:46] sgowroji commented on #3045
This are Prerequisites  https://google.github.io/mediapipe/getting_started/android.html#prerequisite, But still you can build. and run applications with [android:minSdkVersion="21" ](https://github.com/google/mediapipe/blob/master/mediapipe/examples/android/solutions/hands/src/main/AndroidManifest.xml#:~:text=%3Cuses%2Dsdk,android%3AtargetSdkVersion%3D%2230%22%20/%3E)

[2022-02-04 05:42] lghasemzadeh commented on #2989
Thank you so much for the answer.
What are those specialized chips?

[2022-02-04 07:12] #3019 closed

[2022-02-04 12:04] Omkar-Jawalkar commented on #3046
**Here is the Mediapipe module**

    import cv2
    import mediapipe as mp
    import time
    import math
    import numpy as np

    class handDetector():
        def __init__(self, mode=False, maxHands=2, modelComplex=1, detectionCon=0.5, trackCon=0.5):
            self.mode = mode
            self.maxHands = maxHands
            self.modelComplex = modelComplex
            self.detectionCon =

[2022-02-04 12:17] Omkar-Jawalkar commented on #3046
When we execute the this program, it runs fine
But When we convert this program(.py) to (.exe) file using **pyinstaller** and try to execute, it gives an error

_Here's that error_

  File "Scroll_using_Hands.py", line 38, in <module>
  File "HandTrackingMod.py", line 22, in __init__
  File "mediapipe\python\solutions\hands.py", line 114, in __init__
  File "mediapipe\python\solution_base.py", lin

[2022-02-04 12:20] Omkar-Jawalkar commented on #3046
**Not only this project, but also other projects in which I've used mediapipe, when converted from (.py) file to (.exe) and tried to run, gives the same error**

[2022-02-04 13:43] AlexMemomi opened #3049 "Inference calculator WebGL accelerated"
Hello there.
As far as we understand - there is no official wasm build support for current state of repository, but what is available  - prebuild npm packages. It seems like it was built from some mediapipe branch which is not public. I don't sure about the reasone (maybe its difficult to keep configuration for all of the platform supported), but for now - we can build it as wasm with only pthread

[2022-02-04 14:15] AbinayaKumar25 commented on #3045
Does it mean I cannot run applications with Android buildtools version 28 or 29?

[2022-02-04 14:40] furkandindar commented on #2988
<img width="907" alt="Screen Shot 2022-02-04 at 5 36 32 PM" src="https://user-images.githubusercontent.com/33446963/152547321-ea14050e-e6ad-4fcf-b996-95886a304136.png">

Hello again, is there any documentation for me to understand above values?  For multiFaceLandmarks it's pretty straightforward and explained in the [documentation](https://google.github.io/mediapipe/solutions/face_mesh.html#face-g

[2022-02-04 16:47] Intiserahmed opened #3050 "AAR Build Error"
**Describe the problem**:
The Arr build fails .. This is the BUILD file.
<img width="657" alt="Screenshot 2022-02-04 at 10 46 37 PM" src="https://user-images.githubusercontent.com/57252940/152568525-dabbdba2-8256-49c9-88ba-9dee828ae749.png">

**Complete Logs:**

(base) intiser@Intisers-MacBook-Air mediapipe % bazel build -c opt --strip=ALWAYS \
    --host_crosstool_top=@bazel_tools//tools/cpp:tool

[2022-02-04 16:49] Poufy opened #3051 "Error when using the video source directly as input to the face detector V0.4 without the mediapipe utilities in the demo"
Hello,

I have closely examined the existing media pipe demo for the face detector and I wanted to use the face detection model in my application. I have no need for the other dependencies in the demo like the control, drawing and camera utilities. Reading through other issues it was mentioned that we can directly pass the video source to the call like so
[code]

And this is what I tried, but I ke

[2022-02-04 17:30] V-m1r opened #3052 "Can I use Mediapipe on IOS with Java"
I have already designed an app on Android with mediapipe and am wondering if I can use the code structure in Java for iOS as well using multi-os engine.
If yes, can someone provide details how to I can achieve that?
Thank you!

[2022-02-04 22:29] alexdmiller commented on #2674
Any update on this? Thanks!

[2022-02-05 07:08] kartynnik commented on #2939
@HWiese1980 Excuse me for the extremely late response.

As per the [model card](https://drive.google.com/file/d/1QvwWNfFoweGVjsXF3DXzcrCnz-mx-Lha/preview), face recognition/identification is explicitly out of scope of this model (see "Out-of-scope applications" under "Intended Uses"):

Thank you for your report and for the proposal!

[2022-02-05 07:32] HWiese1980 commented on #2939
Ah, that's really sad. I'd have loved to use MediaPipe for a more way more detailed measurement of facial properties than DLib and co allow. Do you happen to know of any other models that can do what I would like to do, generate remotely as many landmarks, and are preferably as easy to use as yours? Wherever I look for face _recognition_ models, all I get are face _detection_ models instead, or DL

[2022-02-05 07:37] HWiese1980 commented on #2939
Oh, just to clarify my use case a little more: it's not actual _recognition_ (i.e. identifying a person from an image by their facial attributes) but simply _measuring_ these attributes. However, I'm aware that this _could_ be seen as _recognition_, as these measurements are of course practically the basis of the following classification.

[2022-02-05 08:41] raphaelmenges commented on #3003
I am using the NPM version 0.4.1633559619 of [@mediapipe/face_mesh](https://www.npmjs.com/package/@mediapipe/face_mesh) as well and for me either `refineLandmarks` or `enableFaceGeometry` can be activated at once, but not both at once. If I set both to `true`, face mesh crashes:

[code]

[2022-02-05 10:48] istillloveyourass commented on #1239
eRROR: While resolving toolchains for target //mediapipe/examples/android/src/java/com/google/mediapipe/apps/facemeshgpu:facemeshgpu: no matching toolchains found for types @bazel_tools//tools/android:sdk_toolchain_type
ERROR: Analysis of target '//mediapipe/examples/android/src/java/com/google/mediapipe/apps/facemeshgpu:facemeshgpu' failed; build aborted: no matching toolchains found for types @b

[2022-02-05 11:59] anappdev2 commented on #2927
Sorry for a late reply. One of the work around is to apply a face effect in graph, ignore the pixel received and just use landmarks/geometry.

[2022-02-05 12:00] anappdev2 commented on #2927
@roimulia2 Sorry for a late reply. One of the work around is to apply a face effect in graph, ignore the pixel received and just use landmarks/geometry.

[2022-02-05 14:11] adryzz commented on #3015
so? any updates?

[2022-02-05 17:00] monkeyswarm commented on #2824
Note that I update to the most recent commit, and tried the new recommended bazel 4.2.1.

I get the same result; the invocation's 'arch' flag is still "-march=armv8.2-a+fp16+dotprod"

[2022-02-05 21:22] YaroslavFur commented on #3046
This helped me with the 237 line error, I just followed the instruction of [Bar-Levav] (edited .spec file + special pyinstaller compilation command):
https://stackoverflow.com/questions/67887088/issues-compiling-mediapipe-with-pyinstaller-on-macos

[2022-02-05 21:26] YaroslavFur commented on #2677
This helped me with the 237 line error, I just followed the instruction of [Bar-Levav] (edited .spec file + special pyinstaller compilation command):
https://stackoverflow.com/questions/67887088/issues-compiling-mediapipe-with-pyinstaller-on-macos

[2022-02-06 08:56] chuckle-lee opened #3053 "How to get the 3D coordinate of the face landmarks?"
I hope to get the 3D coordinates and use meshlab to construct the faces. thanks everybody!

[2022-02-06 11:20] Lando31337 commented on #3053
Good call Chuckle-Lee. Same request, but more specifically the canonical 3D mesh in euclidean 3D space i.e before it has been translated for display on the image. Second prize would be the matrix transformation to convert the landmarks back to a 3D mesh.

[2022-02-06 11:44] chuckle-lee commented on #3053
I used the following to get the coordinates and save it as a ply file which can be opened by meshlab. But there are only landmarks and I don't know how to draw mesh based on these landmarks.

# to get the coordinates
for landmarks in results.multi_face_landmarks:
  x = [landmark.x for landmark in landmarks.landmark]
  y = [landmark.y for landmark in landmarks.landmark]
  z = [landmark.z for landma

[2022-02-06 14:17] sr229 commented on #3015
Hello, I'm also interested on how this was implemented, can we get implementation details here?

[2022-02-06 16:06] UnickSoft commented on #1083
I was able to fix it by passing path of include dir. Change line in script to this:

python_include = "C:/Users/User/AppData/Local/Programs/Python/Python310/include"  #_get_python_include(repository_ctx, python_bin)

[2022-02-06 21:13] simplyakash opened #3054 "ios example posetrackingpu does not build"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4):

- Compiler versio

[2022-02-07 01:00] monkeyswarm commented on #2824
I've flashed the board to the newest versions of its OS and tools via JetPack installer.
- I follow the mediapipe install instructions
- compilation issue with C++ types; I need to upgrade to gcc 8
- graph parsing issue with missing 'focal_point_pixels' side packet; add an empty packet of this name

And it compiles successfully. So I am closing this issue.

However, I get a new set of issues with

[2022-02-07 01:00] #2824 closed

[2022-02-07 02:18] ChenMoGe2 commented on #3029
@tyrmullen OK I will try it

[2022-02-07 05:42] simplyakash commented on #3054
Changing MIN_IOS_VERSION = "10.0" to MIN_IOS_VERSION = "11.0" in the BUILD files for the ios examples allowed us to build the examples.

[2022-02-07 05:56] #2797 closed

[2022-02-07 08:34] faraznisar opened #3055 "Control utils 3d cdn is not working"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe):
   Mostly the sa

[2022-02-07 09:37] Kazanian2 commented on #3010
push

[2022-02-07 09:48] #2500 closed

[2022-02-07 11:25] alokmahor commented on #2381
I am using Selfie Segmentation in electron js application. I am also seeing alert **"failed to create webgl canvas context when passing video frame electron"** and error in console **"Uncaught (in promise) TypeError: Cannot read property "loadGraph" of undefined"**

Not able to figure out what is causing this error and alert.

[2022-02-07 11:28] utileetdulce commented on #2883
This might help to understand the issue:

- https://github.com/vitejs/vite/issues/4680#issuecomment-903244405

[2022-02-07 12:18] mcdonasd1212 commented on #3020
@KulkarniKaustubh have you been able to build Mediapipe for GPU?  I am about your solution.

[2022-02-07 12:41] skydragon1115 commented on #1021
Hi, I am using mediapipe(20210914).

When I build without ```--apple_bitcode=embedded```, the size of the framework is 15MB.
bazel build --copt=-fembed-bitcode --config=ios_fat mediapipe/examples/ios/selfiesegmentaion:SelfieSegmentation --linkopt="-s"

But if I add ```--apple_bitcode=embedded```, the size is 200MB.
bazel build --copt=-fembed-bitcode --config=ios_arm64 --apple_bitcode=embedded medi

[2022-02-07 14:13] Poufy commented on #3051
Would love any comments on this topic. I am only going for performance here, so if the model used in version 0.3 and 0.4 do not different much in terms of performance, I am happy to use 0.3.

[2022-02-07 17:57] Tanmay2511 opened #3056 "How to save landmarks of multiple people (in one frame)"
I want to get headpose(looking left or right ) for multiple people in one frame.
How can i store facial landmarks for multiple people from one frame ?

This is code for detecting headpose of single person in one frame.

`
import cv2
import mediapipe as mp
import numpy as np
import time

mp_drawing = mp.solutions.drawing_utils
drawing_spec = mp_drawing.DrawingSpec(thickness=1, circle_radius=1)

cap

[2022-02-08 01:48] qichuangguo opened #3057 "build fail"
bazel build -c opt --strip=ALWAYS     --host_crosstool_top=@bazel_tools//tools/cpp:toolchain     --fat_apk_cpu=arm64-v8a,armeabi-v7a     //mediapipe/examples/android/src/java/com/google/mediapipe/apps/buid_aar:mediapipe_face_detection.aar

load("//mediapipe/java/com/google/mediapipe:mediapipe_aar.bzl", "mediapipe_aar")
mediapipe_aar(
    name = "mediapipe_face_detection",
    calculators = ["//med

[2022-02-08 05:26] sgowroji commented on #3054
Thank you for sharing your resolution. It is very helpful to community who are having a similar issue. Thanks!

[2022-02-08 05:26] #3054 closed

[2022-02-08 05:28] sgowroji commented on #3032
Hi @colorcatliu, Did you get a chance to go through this similar issue https://github.com/google/mediapipe/issues/3054#issuecomment-1031094864.

[2022-02-08 05:49] sgowroji commented on #3052
Hi @V-m1r, You can Start building IOS applications following this [steps](https://google.github.io/mediapipe/getting_started/ios.html), We don't have java examples of IOS applications . If you are looking for Multiplatform support you can try using Javascript solutions to render on browsers from our [JS](https://google.github.io/mediapipe/getting_started/javascript.html) solutions.  There are also

[2022-02-08 05:54] sgowroji commented on #3051
Hi @Poufy, Could you please refer this https://github.com/google/mediapipe/issues/2953#issuecomment-1005104992 which is similar to the above context. Thanks!

[2022-02-08 06:13] sgowroji commented on #3057
Hi @qichuangguo,  Could you please share your code or graph changes on the above request to troubleshoot further. Thanks!

[2022-02-08 06:24] KulkarniKaustubh commented on #3020
@mcdonasd1212 No, I haven't been able to build it for CUDA. Still waiting for a mod to reply 😅

[2022-02-08 06:24] KulkarniKaustubh commented on #3044
Any updates on this?

[2022-02-08 06:55] qichuangguo commented on #3057
Didn't change any code, compile it, report an error.

[2022-02-08 07:49] colorcatliu commented on #3032
Thanks @sgowroji , I changed the version, that works for me, too. But the building process is not completed, I got error:"mediapipe/examples/ios/facemeshgpu/FaceMeshGpuViewController.mm:17:10: fatal error: 'mediapipe/framework/formats/landmark.pb.h' file not found" .

I'm trying to find ways to achieve that.

[2022-02-08 09:17] sgowroji commented on #3055
Hi @faraznisar, Could you please verify **control_utils_3d.js** is actually loading into your script tag as mentioned here https://github.com/google/mediapipe/issues/2388#issuecomment-895407600

[2022-02-08 09:32] faraznisar commented on #3055
![code](https://user-images.githubusercontent.com/35908301/152957699-aae854df-30be-4521-9f7a-9373697aec5f.png)
There is the entire list of CDNs that I am using.
![image](https://user-images.githubusercontent.com/35908301/152958268-05cc5dc0-ceb4-475b-834f-c2e0e671e342.png)
![image](https://user-images.githubusercontent.com/35908301/152958343-670e12e3-7a3e-461f-bace-5d74814e6490.png)
Also the screen

[2022-02-08 10:22] sgowroji commented on #3034
@brucechou1983  Thank you for sharing.

[2022-02-08 10:32] sgowroji commented on #2997
Thank you @furkandindar for sharing. may be @monxarat you can achieve by gesture recognition

[2022-02-08 17:04] #2964 closed

[2022-02-08 17:31] adnan6336 opened #3058 "Error while running Face mesh with Refine Landmark on C++"
<em>Error while running Face mesh with Refine Landmark = True<em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Ubuntu 18.04
- [MediaPipe version](https://github.com/google/mediapipe/releases): Latest Release i-e 0.8.9
- Solution (e.g. FaceM

[2022-02-08 20:37] tyrmullen commented on #3055
You are using "drawing_utils/control_utils_3d.js" instead of "control_utils_3d/control_utils_3d.js".

Also, when checking the Network tab, I recommend using "disable cache", since otherwise the browser may not try to make the network fetches again, but may simply return cached responses (e.g. HTTP 304's).

[2022-02-08 23:48] khayyat71 opened #3059 "CUDA 11 Support"
I would like to know if Mediapipe supports CUDA 11.
I'm currently intending to create a C++ project and use mediapipe as a pose detection library.

[2022-02-09 03:46] sgowroji commented on #3056
Hi @Tanmay2511, What is the error are you seeing in the above request?

[2022-02-09 03:56] sgowroji commented on #3058
Hi @adnan6336,  As mentioned in this https://github.com/google/mediapipe/issues/2678#issuecomment-989348636  .
1. Did you try this suggestions, i.e. refine_landmarks = true option actually runs a different ML model ([here](https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_landmark/face_landmark_with_attention.tflite))
 2. And also  try using a snapshot of tensorflow that is cl

[2022-02-09 03:59] sgowroji commented on #2388
Hi @AdrienVigne, Above issue is fixed and will be available in the next release. Please verify the same once the release is available. I will let you know the Release ETA soon. Thanks!

[2022-02-09 03:59] #2388 closed

[2022-02-09 04:04] Tanmay2511 commented on #3056
In above code how can I store facial landmarks of different people detected  in frame ?

[2022-02-09 04:26] sgowroji commented on #3040
Hi @lghasemzadeh, Can you share more details like which platform and MediaPipe solution are you referring for the above request. And also share your use case with complete details. We assigned this issue to @mcclanahoochie who can guide you well on MediaPipe performance.

[2022-02-09 04:29] sgowroji commented on #3036
Has mentioned here (https://google.github.io/mediapipe/solutions/face_mesh.html#python-solution-api)z represents the landmark depth with the depth at center of the head being the origin, and the smaller the value the closer the landmark is to the camera. The magnitude of z uses roughly the same scale as x. So z value differs with Live face and picture face.

[2022-02-09 04:29] #3036 closed

[2022-02-09 04:34] sgowroji commented on #3032
@colorcatliu for the above fatal error you may refer this resolution shared by the community members https://github.com/google/mediapipe/issues/2132#issuecomment-926344776

[2022-02-09 04:40] sgowroji commented on #2923
Hi @khkred, Could you please confirm if you still see the above error while building the Handtrackinggpu code.  Did you try above commands by executing " bazel clean --expunge" .

[2022-02-09 04:50] sgowroji commented on #2936
Hi @amitbohra1234, You refer this for finger landmark points https://github.com/google/mediapipe/issues/2997#issuecomment-1016408409

[2022-02-09 04:51] #2936 closed

[2022-02-09 05:13] faraznisar commented on #3055
Fix the solution api for javascript on your website.
https://google.github.io/mediapipe/solutions/pose.html#javascript-solution-api

[2022-02-09 05:28] colorcatliu commented on #3032
yes, I found that, and solved the fatal error. What makes me confused is I have used "bazel" command to build ios app for several months with MIN_IOS_VERSION=10.0 (default BUILD file, nothing changed), no ".pb.h" file fetal error. But after modified to the VERSION 11.0, bazel command and xcode build all result to "landmarks.pb.h" file fetal error. That"s so confusion.

[2022-02-09 05:35] faraznisar commented on #3055
![image](https://user-images.githubusercontent.com/35908301/153128038-a5b94ac5-f019-4ad3-88da-7899477bc8eb.png)
Now I see this issue. I see your comment here https://github.com/google/mediapipe/issues/2388#issuecomment-1033319297
Does this mean that the solution won't work till the new version is released?
If not, is there a workaround for the time being?
In both cases, do we have an ETA on when t

[2022-02-09 05:39] sgowroji commented on #3055
Please refer the "disable cache" recommendation as mentioned in the above https://github.com/google/mediapipe/issues/3055#issuecomment-1033038996. ETA was about the document  update of api fix which is mentioned above.

[2022-02-09 05:51] faraznisar commented on #3055
![image](https://user-images.githubusercontent.com/35908301/153129388-f38d4d1e-f813-4015-bda3-667e8099573f.png)
No effect whatsoever.
`    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils_3d/control_utils_3d.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
    <sc

[2022-02-09 06:12] sgowroji commented on #3032
Thank you for your above update. Please close this issue if it is not reproducible.

[2022-02-09 06:52] colorcatliu commented on #3032
Thanks for your reply @sgowroji , I will close the issues.

[2022-02-09 06:52] #3032 closed

[2022-02-09 07:36] adnan6336 commented on #3058
Thank-you for the quick response,
The first suggestion is basically the information, I know when setting refine_landmarks = true, it runs different model and so the error while running on GPU and works flawlessly while running on CPU
The second suggestion is a bit confusion for me as I don't know how to change the tensorflow version(close to OCT 06,2021) within mediapipe, because I didn't install

[2022-02-09 07:41] mcdonasd1212 commented on #3020
I have mediapipe pose running on a machine with an i5 cpu and GTX 1660 gpu.  I followed the Open GL instructions since I could not get a successful build with tensorflow.   With the light model, gpu usage is around 23% and fps is 25-27 fps.

For our implementation we need 30+ fps.   Any recommendations?

[2022-02-09 07:43] mcdonasd1212 commented on #3044
I am having the same issue.

I have mediapipe pose running on a machine with an i5 cpu and GTX 1660 gpu. I followed the Open GL instructions since I could not get a successful build with tensorflow. With the light model, gpu usage is around 23% and fps is 25-27 fps.

For our implementation we need 30+ fps. Any recommendations?

[2022-02-09 09:09] #2714 closed

[2022-02-09 09:29] abhisaar opened #3060 "Unable to run face_effect, graph errors out on id check"
I am trying to run [face_effect](https://github.com/google/mediapipe/tree/master/mediapipe/graphs/face_effect) demo which renders the face paint and glasses. It is not included in the examples so I am making a binary using the provided library '[face_effect_gpu_deps](https://github.com/google/mediapipe/blob/e6c19885c6d3c6f410c730952aeed2852790d306/mediapipe/graphs/face_effect/BUILD#L25)'

My build

[2022-02-09 10:01] paulnegz commented on #2199
To the the coordinates with the camera as a reference point consider using cvzone. It's a python library which uses mediapipe and openCV at its core.

[2022-02-09 10:17] bazarevsky commented on #2845
Both Full and Lite models are different only by architecture, loss and dataset are the same.
Also, I suppose you use an obsolete way of depth estimation, which has significant limitations due to: limited hand articulations, only synthetic data used for its training.

We recommend to use newly introduced world coordinates for xyz in meters (recent feature based on GHUM model), which we plan to impr

[2022-02-09 10:17] #2845 closed

[2022-02-09 11:35] bazarevsky commented on #2439
Hello,
if the hand pose is the same, relative distance would not change if you move hand closer or further from the camera. So, absolute depth does influence on relative distance. However, of course due to the nature of machine learning, there might be some fluctuations in prediction.

[2022-02-09 11:35] #2439 closed

[2022-02-09 11:43] bazarevsky commented on #2928
That can happen due to prediction inaccuracy. Also you can specify how many hands you would like to track. So for single hand - it would be sorted out automatically.

For the case with 2 and more hands tracked, we filter out duplicates by iou threshold between bounding boxes. If two different hands have IOU bigger than certain threshold, we filter out one of them as duplicate. So, you can update t

[2022-02-09 11:43] #2928 closed

[2022-02-09 12:22] ArashHosseini commented on #3059
@khayyat71 yes, i am using it with cuda 11.4

[2022-02-09 15:32] A-KVerma opened #3061 "Is mediapipe selfie segmentation demo runs on CPU ?"
This template is for miscellaneous issues not covered by the other issue categories

For questions on how to work with MediaPipe, or support for problems that are not verified bugs in MediaPipe, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/mediapipe) and [Slack](https://mediapipe.page.link/joinslack) communities.

If you are reporting a vulnerability, please use the [ded

[2022-02-09 15:32] A-KVerma opened #3062 "Is mediapipe selfie segmentation demo runs on CPU ? https://codepen.io/mediapipe/pen/wvJyQpq"
This template is for miscellaneous issues not covered by the other issue categories

For questions on how to work with MediaPipe, or support for problems that are not verified bugs in MediaPipe, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/mediapipe) and [Slack](https://mediapipe.page.link/joinslack) communities.

If you are reporting a vulnerability, please use the [ded

[2022-02-09 15:33] A-KVerma opened #3063 "Is mediapipe selfie segmentation demo runs on CPU? https://codepen.io/mediapipe/pen/wvJyQpq"
This template is for miscellaneous issues not covered by the other issue categories

For questions on how to work with MediaPipe, or support for problems that are not verified bugs in MediaPipe, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/mediapipe) and [Slack](https://mediapipe.page.link/joinslack) communities.

If you are reporting a vulnerability, please use the [ded

[2022-02-09 15:34] A-KVerma commented on #3063
I was checking the tab CPU usage it is very low whereas CPU usage of meet.google.com virtual background is around 45-50% with virtual background enabled. Can you explain whats the difference ?

[2022-02-09 17:08] sgowroji commented on #3057
Seems Duplicate of https://github.com/google/mediapipe/issues/3050.  Did you put the BUILD file in the mediapipe/examples/android/src/java/com/google/mediapipe/apps/buid_aar dir or somewhere else?

[2022-02-09 17:09] sgowroji commented on #3016
Duplicate of https://github.com/google/mediapipe/issues/3057

[2022-02-09 17:12] sgowroji commented on #3059
As mentioned [here](https://google.github.io/mediapipe/getting_started/gpu_support.html#tensorflow-cuda-support-and-setup-on-linux-desktop) MediaPipe framework doesn’t require CUDA for GPU compute and rendering. However, MediaPipe can work with TensorFlow to perform GPU inference on video cards that support CUDA.

Present you can try CUDA 10 and not have much support for 11.

[2022-02-09 17:13] sgowroji commented on #3053
Hi @chuckle-lee, World landmarks are not yet available for FaceMesh.

[2022-02-09 17:20] jiuqiant commented on #3013
I believe you are getting the pose world landmark since your code fetches it from "pose_world_landmarks" stream . The values of the world landmarks can still be less than 1, which makes it look like the normalized landmarks. We also see this in our python colab: https://mediapipe.page.link/pose_py_colab.

[2022-02-09 17:24] jiuqiant commented on #3013
I believe you are getting the pose world landmark since your code fetches it from the "pose_world_landmarks" stream . The values of the world landmarks can still be less than 1, which makes it look like the normalized landmarks. We also see this in our python colab: https://mediapipe.page.link/pose_py_colab:
![Screen Shot 2022-02-09 at 9 22 38 AM](https://user-images.githubusercontent.com/3359144/

[2022-02-09 20:12] AbinayaKumar25 commented on #3045
@sgowroji  Could you confirm whether mediapipe cannot be built with Android build tools version 29 or below?

[2022-02-09 22:35] batbrain9392 commented on #2726
Is there no way we can make this solution from @tyrmullen official?

[2022-02-09 23:54] YuriPoluk commented on #2988
@tyrmullen any ETA for multiFaceGeometry API official release?

[2022-02-10 00:51] qichuangguo commented on #3057
Thank you. I reinstalled the environment and I'm ready

[2022-02-10 02:58] sgowroji commented on #3036
@showbit01 reach us back if you still have a query and need more details. Thank!

[2022-02-10 02:59] sgowroji commented on #3057
Glad you resolved. Thank you for confirmation. We are closing this issue now.

[2022-02-10 02:59] #3057 closed

[2022-02-10 03:09] #2650 closed

[2022-02-10 03:09] #2170 closed

[2022-02-10 03:09] #2905 closed

[2022-02-10 04:18] Kiranraj227 opened #3064 "FaceMesh unable to place landmarks on faces that are relatively small. Unable to detect relatively small faces in video?"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):
- [MediaPipe version]

[2022-02-10 04:28] Kiranraj227 commented on #3064
IDE: Pycharm
Python: 3.8.8
Virtual environment: Anaconda
CPU: i5 - 5th Gen
OS: Windows 10

[2022-02-10 04:29] sgowroji commented on #3064
Hi @Kiranraj227, Can you share us any references like videos, images to understand the above request much better. Thanks!

[2022-02-10 04:34] Kiranraj227 commented on #3064
Hi @sgowroji, I think the video below should reproduce the same problem. You might notice when the truck driver is further away from the camera, the FaceMesh module can't detect his face.
https://www.youtube.com/watch?v=im3mzC1CPCo

[2022-02-10 04:53] Kiranraj227 commented on #3064
![image](https://user-images.githubusercontent.com/71511899/153339675-2036f4d6-ad7a-4ee5-a1a4-0ece0f45b40e.png)

[2022-02-10 04:55] Kiranraj227 commented on #3064
@sgowroji, Please let me know once you have downloaded the picture as I need to delete it. Thanks

[2022-02-10 06:01] keishatsai commented on #2803
Hi for those whom use Windows 10 and search for the answer to this problem.

Adding **PYTHON_BIN_PATH** indeed solve the problem, but not adding it into environment variable (I had tried few times and it only cares whether we call "action_env" this argument or not).  Instead, we have to call "**--action_env**" when calling `bazel build`.... and **remember that you are you using Windows which means

[2022-02-10 07:03] adnan6336 commented on #3058
@sgowroji
I have also tried mediapipe 0.8.8 version still got same error.

[2022-02-10 07:23] sgowroji commented on #3062
Duplicate https://github.com/google/mediapipe/issues/3062

[2022-02-10 07:23] #3062 closed

[2022-02-10 07:25] sgowroji commented on #3061
Duplicate https://github.com/google/mediapipe/issues/3063

[2022-02-10 07:25] #3061 closed

[2022-02-10 07:43] sgowroji commented on #3060
Hi @abhisaar, Can you share your code changes to troubleshoot the issue. Thanks!

[2022-02-10 07:43] A-KVerma commented on #3063
@sgowroji Thanks for the reply. let me reiterate my query:
 I was checking CPU usage of meet, so without virtual background enabled meet is using <5% CPU but with virtual background enabled in the same call , CPU usage shoots up to 45-50%(checked this on Macbook Pro), whereas CPU processing in case of selfie segmentation demo link is very less(< 5%). So if the processing is happening on CPU in bot

[2022-02-10 08:26] MaksymAtNimagna commented on #3035
![image](https://user-images.githubusercontent.com/88328636/153367004-fdaf5b82-b89a-4aa3-b653-c267412a68e7.png)
![image](https://user-images.githubusercontent.com/88328636/153367055-9969f27d-9729-4161-84db-c8b4053e99cc.png)
![image](https://user-images.githubusercontent.com/88328636/153367084-4e19df6e-c0b4-47aa-a7d4-691480817dfd.png)
![image](https://user-images.githubusercontent.com/88328636/1533

[2022-02-10 09:20] naomipappe commented on #3013
Dear Jiuqiang,
First of all, thank you for your answer.
Second of all, yes, I tested it again and noticed that the coordinates are indeed not normalized if the `pose_world_landmarks` stream is queried.

The issue seems to be resolved.

[2022-02-10 09:20] #3013 closed

[2022-02-10 09:32] abhisaar commented on #3060
Thank you @sgowroji for your reply. Please find attached my build file (added a .txt so that Github will let me attach it). I am building the already provided targets at 'face_effect:face_effect_gpu_deps' and using the stock 'face_effect_gpu.pbtxt' file.

Happy to provide more details!

[BUILD.txt](https://github.com/google/mediapipe/files/8039730/BUILD.txt)

[2022-02-10 12:09] #3022 closed

[2022-02-10 12:45] patrick508 commented on #2713
Bump. @shukkkur did you ever manage to do this? We use MediaPipe with Unity, but are also wondering if we can somehow remove face from detection. We are experiences weird issues. If someone is standing still, and rotates only their head to the side, coordinates for the shoulders(which we use to detect the angle) also change. We are hoping that by removing face from detection this should perhaps be

[2022-02-10 12:49] shukkkur commented on #2713
@patrick508 Hey there! Nah, unfortunately I couldn't find anything.
I am still sure that the idea of removing head from detection should improve the accuracy overall.
In case you find anything, keep us posted!
😄

[2022-02-10 13:10] yayu22 commented on #3058
i am also having same issue in python when running facemesh refined landmarks on GPU. @sgowroji @mcclanahoochie

[2022-02-10 18:43] EigenSpiral opened #3065 "UTC timestamps for mediapipe data"
How can I get UTC timestamps from mediapipe landmark data?

[2022-02-10 18:44] EigenSpiral opened #3066 "How does Mediapipe compare with Leap motion?"
Hi,
Are there any studies or research comparing Mediapipe hand tracking & Leap motion hand tracking? How does Mediapipe compare to Leap?

[2022-02-10 21:31] eleiannu opened #3067 "POSE_WORLD_LANDMARKS for iOS"
Is there a way to obtain the 3D world landmarks in iOS for the pose tracking solution?

[2022-02-11 03:00] fash2017 opened #3068 "Xcode Undefined symbols for architecture arm64 "absl::lts_20210324::InvalidArgumentError(absl::lts_20210324::string_view)", referenced from: absl::lts_20210324::StatusOr<std::__1::vector<google::protobuf::MessageLite const*, std::__1::allocator<google::protobuf::MessageLite const*> > >"
**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution: MacOS Monterey version 12.1
- Compiler version: Apple clang version 13.0.0 (clang-1300.0.29.3)
Target: x86_64-apple-darwin21.2.0
- Programming Language and version: Objective C, swift,
- Bazel version: bazel 5.0.0-homebrew
- XCode and Tulsi versions (if iOS): Xcode 13.1

**Describe the

[2022-02-11 04:17] sgowroji commented on #3065
Hi @EigenSpiral, You can refer this class for [timestamp](https://github.com/google/mediapipe/blob/master/mediapipe/framework/timestamp.h) in calculator framework

[2022-02-11 04:32] sgowroji commented on #3068
Hi @fash2017, Did you get a chance to check this similar https://github.com/google/mediapipe/issues/2147

[2022-02-11 04:54] dheeraj221b commented on #1762
Hello guys, I am stuck with same problem, following way I am trying to get the mask data. but it is crashing while doing so.
processor.addPacketCallback("hair_mask", PacketCallback {
            PacketGetter.getProtoBytes(it)
})

Can you please help I can get the hair segmentation related data? My need is to validate hair part on the body for which I need some data related to hair?

[2022-02-11 05:09] #2967 closed

[2022-02-11 05:30] sgowroji commented on #3066
Hi @EigenSpiral, May be you can refer this https://github.com/google/mediapipe/issues/36 where community discussed about leap motion.

[2022-02-11 06:08] fash2017 commented on #3068
Accidentely closed this my bad. Yes i took a look at that link as well. It did not provide any helpful solutions.

[2022-02-11 07:10] RohitSingh1226 commented on #3020
But for the Open GL part, we would still require an opencv build correct?
I was running mediapipe hands on the gpu, There was some error with the opencv installation.

Do I need to build opencv with cudnn,cuda?

[2022-02-11 09:09] #3028 closed

[2022-02-11 15:09] #3004 closed

[2022-02-11 15:09] #3000 closed

[2022-02-11 19:16] AsRaNi1 opened #3069 "Python implementation of Object Detection"
<em>The Object detection using python is done using dnn module of cv2 and thus I can contribute to this feature</em>

Uses pre-trained weights for object detection and a labels file that names the objects detected

- MediaPipe Solution (you are using): using cv2 for object detection
- Programming language: Python
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the curr

[2022-02-12 05:09] #2987 closed

[2022-02-12 10:03] ahsenkh commented on #1408
@mhays-google with regards to [this comment](https://github.com/google/mediapipe/issues/1408#issuecomment-810652766), can you please also link the type files in the npmjs pages?

I had a hard time finding types for [face_detection](https://www.npmjs.com/package/@mediapipe/face_detection) solution, until I stumble across this git issue.

[2022-02-12 12:19] Thibault-34 commented on #2857
Hi @emad-eldeen

Did you find a way to fix this issue? I got the same with bazel-rule:0.33

I'm new with bazel and I can't succeed to build neither a dynamic or xcframework.

My build is a copy of posetracking with some little changes:

NOTE: If I change for `ios_framework`, it is working as expected

[code]

[2022-02-13 05:44] vqc commented on #1937
@tyrmullen and @mhays-google any update on this?

thanks!
Vince

[2022-02-13 06:09] #3030 closed

[2022-02-13 12:27] A-KVerma commented on #3063
Any comment/update on this @sgowroji ?

[2022-02-13 18:58] AmitMY opened #3070 "Installation in slim Docker container fails - No matching distribution found for mediapipe"
**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): `Docker`
- Programming Language and version ( e.g. C++ 14, Python 3.6, Java ): `python`
- Installed using virtualenv? pip? Conda? (if python):`pip`, `conda`, `venv` (tried all)
- [MediaPipe version](https://github.com/google/mediapipe/rele

[2022-02-13 19:08] AmitMY opened #3071 "Docker Build Fails"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): `macOS + M1`

**De

[2022-02-13 19:31] abhisaar commented on #3060
Hi Sunil, would you need any other information from me? Thank you.

[2022-02-13 20:37] Kazanian2 opened #3072 "Poor Results when using Depth from Iris on Google Pixel 6"
Hello,

we tested MediaPipe's depth from iris algorithm on different Android phones. While it works great on most phones, there is quite a big deviation when using Google Pixel 6. The test setup was to place the phone at a distance of 50cm from the users face. On Pixel 6 it calculates a distance of 44cm (6cm deviation), while it works almost perfectly on Pixel 4a or Pixel 5 (for example). All test

[2022-02-13 20:43] juvekaradheesh commented on #1651
@jiuqiant Can you provide the patch for current version?

[2022-02-13 21:56] time4Wiley commented on #574
So the closing means macOS Metal support is done? If not, is there a planned date?

[2022-02-14 00:04] kaseyhackspace commented on #2799
Is there any workaround for this issue?

[2022-02-14 03:31] sgowroji commented on #2855
@123epsilon, Did you see any errors with your above  calculator?

[2022-02-14 03:40] sgowroji commented on #3069
Thank you for sharing your request. Please share your PR contributions for the above request.

[2022-02-14 03:44] AsRaNi1 commented on #3069
Yes, sending a PR request

[2022-02-14 03:45] sgowroji commented on #3070
Hi @AmitMY, Present we have docker implementation for Desktop and Android examples as mentioned here https://google.github.io/mediapipe/getting_started/install.html#installing-using-docker. We don't have any such for Python yet. We will mark this as feature request and share your query with the team.

[2022-02-14 03:47] sgowroji commented on #3071
Duplicate https://github.com/google/mediapipe/issues/3070

[2022-02-14 03:50] sgowroji commented on #3072
Hi @Kazanian2, Thank you for reaching us regarding the above issue. Could you please provide any more references to illustrate the above scenario with any recording or observations.

[2022-02-14 05:38] adnan6336 commented on #3058
@sgowroji  @mcclanahoochie
Hi Guys, any direction that I work on?

[2022-02-14 07:57] AmitMY commented on #3071
Not a duplicate...
This is using *your* Dockerfile, and it doesn't build as is.

[2022-02-14 07:58] AmitMY commented on #3070
What I'm trying to understand is why would pip not have a matching distribution for mediapipe?
I can install it with pip just fine on a centos server, or on my mac, or on my windows, but not in a docker?

[2022-02-14 07:58] Kazanian2 commented on #3072
Hi @sgowroji,
recordings wouldn't help any further because they could only show a distance value that is incorrect. All my observations I have already written above.

If you have a Google Pixel 6 for testing at hands, maybe you can also try the depth from iris example and measure if the calculated distance is correct.
https://google.github.io/mediapipe/solutions/iris.html

[2022-02-14 12:40] Kazanian2 commented on #3010
Any help, please?

[2022-02-14 15:01] oritRabani commented on #519
Hello,
Is it possible to train MediaPipe-pose on a custom dataset?  I couldn't find any code related to training the model.
Thanks.

[2022-02-14 15:09] #3037 closed

[2022-02-14 15:17] tanuuuu commented on #133
How to create ipa file  without  bazel command? I want upload app on App Store from Xcode.

[2022-02-14 15:36] khkred commented on #2923
Yes I did. I had to downgrade my Android SDK, it's working now.

[2022-02-14 21:34] tyrmullen commented on #1937
I haven't yet had time to try to track this down, but I've at least isolated the regression.  Version 0.4.1625245753 had my initial large C++ leak fix, and no C++ memory appears to be leaked up through version 0.4.1628005669.  However, versions 0.4.1629159166 and now 0.4.1633559619 (most recent version as of this posting) both have a large C++ memory leak again.  For now, unless you need the new f

[2022-02-15 02:05] HakuWang commented on #3053
Hi, the face geometry module I also want to know if the face geometry module can meet my similar needs. I want to get the vertex coordinates to build the 3d face model.

[2022-02-15 03:53] sgowroji commented on #2923
Glad that worked. Thank you for the update. We are closing this issue now.

[2022-02-15 03:54] #2923 closed

[2022-02-15 03:56] sgowroji commented on #133
@tanuuuu were you able to build the project code and run on simulator? Have you tried formal way of [building](https://stackoverflow.com/questions/5499125/how-to-create-ipa-file-using-xcode) IPA file from Xcode without bazel.

[2022-02-15 04:26] jiuqiant commented on #3010
Seems like the different symbols are caused by building mediapipe and opencv android libraries with different ndk and sdk versions. A possible solution is to build mediapipe and opencv into the same dynamic library by following https://github.com/google/mediapipe/issues/2105#issuecomment-905689538

[2022-02-15 05:45] BaiduriRazak opened #3075 "While extracting keypoint values, it says "AttributeError: landmarks""
len(results.left_hand_landmarks.landmarks)

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
Input In [11], in <module>
----> 1 len(results.left_hand_landmarks.landmarks)

AttributeError: landmarks

[2022-02-15 05:46] #3075 closed

[2022-02-15 06:26] tanuuuu commented on #133
@sgowroji I am not  able to build the project code and run on simulator ,when i build app in simulator got some error.
<img width="1381" alt="Screenshot 2022-02-15 at 11 55 26 AM" src="https://user-images.githubusercontent.com/29446590/154004765-a89f8334-8f7b-4fd3-9e8a-9968277cd62f.png">

[2022-02-15 06:42] sgowroji commented on #3075
Similar https://github.com/google/mediapipe/issues/2882#issuecomment-998579772

[2022-02-15 07:33] tanuuuu commented on #2559
I have  building the Facemeshgpu project in XCode, I tried to archive from (Product -> Archive).
The building and the archiving processes are completing successfully (as shown in the attached snapshots). However, on opening the archive, xcode is showing 'The archive contains nothing that can be signed
<img width="922" alt="Screenshot 2022-02-15 at 11 48 06 AM" src="https://user-images.githubuserco

[2022-02-15 07:35] l1542470446 opened #3076 "How does MediaPipe manage buffers, is there a buffer queue mechanism?"
Thank you for submitting a MediaPipe documentation issue.
The MediaPipe docs are open source! To get involved, read the documentation Contributor Guide
## URL(s) with the issue:

Please provide a link to the documentation entry, for example: https://github.com/google/mediapipe/blob/master/docs/solutions/face_mesh.md#models

## Description of issue (what needs changing):

Kinds of documentation pro

[2022-02-15 08:45] LMR2018 opened #3077 "Does the Handmark/handTracking model have training code and data sets?"
Does the Handmark/handTracking model have training code and data sets?

[2022-02-15 09:57] pratimash opened #3078 "iOS PoseTrackingGpuApp joints flickering issue"
Hi Team, I was checking iOS PoseTrackingGpuApp app. in iPhone 11, 14.3.
 Even if person is standing still, we can see points are moving. Ex. If we observe elbow joint its moving a lot.
 I have attached the video for the reference.

https://user-images.githubusercontent.com/71701808/154037991-6ca35bdf-fb7c-4dcd-8830-4e778df8bd2e.mp4

Is there any settings, through which we get better stable poses?

[2022-02-15 10:20] binpan0423 commented on #1514
same problem here。 any solutions？

[2022-02-15 11:45] sgowroji commented on #3077
Hi @LMR2018, Please refer this issue https://github.com/google/mediapipe/issues/2123#issuecomment-974152958 for your query . Thanks!

[2022-02-15 16:23] sgowroji commented on #3076
Hi @l1542470446, Could you please provide more details w.r.t the above query. Thanks!

[2022-02-15 22:05] mcdonasd1212 commented on #2713
@shukkkur @patrick508  I was thinking that removing the face might improve performance.

[2022-02-16 00:51] juvekaradheesh opened #3079 "Python wheel with GPU graphs for Linux"
Could you please provide the wheel with the GPU graphs for Linux (I need for face mesh)? Not asking you to update on PyPI but just upload somewhere so that Linux users can directly access it. I would be extremely grateful. Thanks!

@jiuqiant

[2022-02-16 01:07] LMR2018 opened #3080 "I wonder what the training data set for the Handmark /handTracking model is? And what tools do they use to do that"
I wonder what the training data set for the Handmark /handTracking model is?  And what tools do they use to do that

[2022-02-16 01:39] yuwade commented on #2985
me too

[2022-02-16 01:39] #3076 closed

[2022-02-16 01:45] jfdream opened #3081 "So the closing means macOS Metal support is done? If not, is there a planned date?"

[2022-02-16 01:46] #3081 closed

[2022-02-16 01:46] jfdream commented on #574
So the closing means macOS Metal support is done? If not, is there a planned date?

[2022-02-16 02:08] yuwade commented on #2985
how to remove argument  Wno-sign-compare?

[2022-02-16 02:41] yuwade commented on #2985
进入这个目录 C:/users/a004234/bazel_a004234/3dig75rt\external\ceres_solver\bazel
打开ceres.bzl文件
删除Wno-sign-compare关键字 就可以build成功了

[2022-02-16 04:07] sgowroji commented on #3080
Hi @LMR2018, This is how we trained our existing models: https://arxiv.org/abs/2006.10214 and https://arxiv.org/abs/2111.00038.

[2022-02-16 06:15] lakpa-tamang9 commented on #825
Hi, at this time, did you get any insights about how to remove the jitter to make the animation look smooth? I am also ongoing with the same issue currently.

[2022-02-16 06:51] sgowroji commented on #3056
Did you try checking the same with change or adjusting the min_detection_confidence value accordingly. Can you try and let us know. Thanks!

[2022-02-16 07:40] ykk648 commented on #2568
@sn1c3  So the holistic z values is not dependable, isn't it?

[2022-02-16 09:13] ArashHosseini commented on #2625
@laitaiyu sry for the delay. https://github.com/google/mediapipe/blob/e6c19885c6d3c6f410c730952aeed2852790d306/mediapipe/examples/desktop/holistic_tracking/BUILD#L27 says basically just for linux

[2022-02-16 09:23] john6402 commented on #2985
Before I asked this issue, I have tried the modification of ceres.bzl (C:\..\_bazel_xxx\..\external\ceres_solver\bazel\ceres.bzl).
Ex: Comment out or Delete the line
        copts = [
            "-I" + internal,
            #"-Wno-sign-compare",
        ] + schur_eliminator_copts,
or
        copts = [
            "-I" + internal,
        ] + schur_eliminator_copts,

The above step is invalid.

Ho

[2022-02-16 09:53] dheeraj221b opened #3082 "is it possible to do Skin Segmentation from mediapipe in android?"
Hi, Is it possible to implement Skin segmentation with mediapipe in android?

[2022-02-16 11:23] sgowroji commented on #3082
Skin Segmentation is not available in MediaPipe.

[2022-02-16 13:43] EigenSpiral commented on #36
Hi,
Does anyone know how the hand tracking performance of Mediapipe & Leap motion compares?

[2022-02-16 14:03] CharlesbrownK opened #3083 "Build issue windows using mp.solutions.hands"
**`This is my first issue report, so please understand if it's not enough.`**

- OpenCV version == 4.5.5.62
- OS Platform == Window 10 home
- Programming Language and version == Python 3.7.0
- MediaPipe verison == 0.8.9.1
- Installed using virtualenv in Pycharm

[code]
I am trying to run a face detector program from the cvzone in PyCharm. The code above corresponds to an intermediate process for i

[2022-02-16 14:43] sgowroji commented on #3083
Hi @CharlesbrownK, This is the python sample code for face detection https://google.github.io/mediapipe/solutions/face_detection.html#python-solution-api. And above i see you are using MediaPipe Hands API.

[2022-02-16 15:42] EigenSpiral opened #3084 "Mediapipe error in hand tracking"
I was using the mediapipe hand tracking and noticed two instances where the estimated motion doesn't match the actual motion. Any idea on what causes this? What can I do to get better results?

Instance 1: https://youtu.be/-BFybUdPpK0

Instance 2: https://youtu.be/KNZbXx9hPzo

[2022-02-16 16:51] chauncey1213 opened #3085 "build MediaPipe Hands error"
**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4)
- windows 10
-
- Bazel version:
- Bazel 4.2.1

**Describe the problem**:
I ran the following command in cmd.exe
`bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 --action_env PYTHON_BIN_PATH="C:\\Users\\USER\\AppData\\Local\\Programs\\Py

[2022-02-16 17:10] yasserdzx commented on #2120
it doesnt work on python 3.10 i downgraded mine to 3.9 and it worked

[2022-02-16 18:19] mcdonasd1212 commented on #3059
Are there plans for Cuda 11 support?   Has any been successful building with tensorflow?  I am looking for way to improve live video frame rate on Ubuntu i5 cpu and GTX 1660 super gpu.   The goal is displaying video with pose overlay at 30 fps from camera input at 60 fps.

[2022-02-16 18:20] 123epsilon commented on #2855
@sgowroji Sorry for the delay, the above calculator generates the following error:

A/libc: Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x0 in tid 19801 (mediapipe/19801), pid 19710 (ple.phantomouse)

Could this be a problem in how we are using the unique pointer?

[2022-02-17 01:40] CharlesbrownK commented on #3083
But also that code makes the same error.
[code]

`binary_graph_path = os.path.join(root_path, binary_graph_path)`
I think this path makes this error. How can I solve it?

[2022-02-17 03:50] mcdonasd1212 commented on #3020
I have never had good luck with the pip install of OpenCV.  So yes, O would do an openCV build.  My notes show what worked.

[2022-02-17 03:51] sgowroji commented on #3084
Hi @EigenSpiral,  Which platform are you referring the above. Thanks!

[2022-02-17 03:58] sgowroji commented on #3085
Hi @chauncey1213, Please follow this steps mentioned in this https://github.com/google/mediapipe/issues/724.

[2022-02-17 04:45] sgowroji commented on #3083
Yes Use the latest code changes from here https://google.github.io/mediapipe/solutions/face_detection.html#python-solution-api. It's not updated with the latest. There is no **COLOLR_BGR2RGB** attribute in cv2.

[2022-02-17 04:49] sgowroji commented on #3016
Closing as the duplicate is closed.

[2022-02-17 04:49] #3016 closed

[2022-02-17 05:38] #3003 closed

[2022-02-17 05:38] #2997 closed

[2022-02-17 06:28] chauncey1213 commented on #3085
@sgowroji ,The error is resolved, thanks for your help!

[2022-02-17 06:29] #3085 closed

[2022-02-17 07:30] CharlesbrownK commented on #3083
Oh... That's my mistake.

I changed my code the same as what you give a link.
[code]

When I ran the above code, I met the same error...
[code]

How can I solve this error?

[2022-02-17 07:35] chauncey1213 opened #3086 "flags.h not found in absl/flags folder"
I successfully executed
`bazel-bin\mediapipe\examples\desktop\hand_tracking\hand_tracking_cpu --calculator_graph_config_file=mediapipe/graphs/hand_tracking/hand_tracking_desktop_live.pbtxt`

Then I use vs2019 to coding c++
When I code
`#include"absl/flags/flag.h"`
vs2019 return "cannot open source file"absl/flags/flag.h"",
so I opened absl/flags folder and foung flag.h wasn't in the folder

Is the

[2022-02-17 08:58] zzmicer commented on #3078
Hey @pratimash,
Actually, it's quite good performance for real-time solution. However, you can check LandmarksSmoothingCalculator in PoseLandmarkFiltering graph. You might want to research one_euro_filter implementation and play with its parameters.

[2022-02-17 09:25] batkhishign55 commented on #1972
I am also experiencing the same issue following [this documentation](https://google.github.io/mediapipe/getting_started/install.html#installing-using-docker). Any updates?

[2022-02-17 09:59] sureshdagooglecom commented on #3086
Hi @chauncey1213 could you provide steps to reproduce this issue?

[2022-02-17 10:14] BaiduriRazak opened #3087 "I want to test my model in real time but I can't solve the IndexError errors"
from scipy import stats

colors = [(244,117,16), (117,244,16), (16,117,244)]

def prob_viz(res, actions, input_frame, colors):
    output_frame = input_frame.copy()
    for num, prob in enumerate(res):
        cv2.rectangle(output_frame, (0,60+num*40), (int(prob*100), 90+num*40), colors[num], -1)
        cv2.putText(output_frame, actions[num], (0, 85+num*40), cv2.FONT_HERSHEY_SIMPLEX, 1, (255,255,

[2022-02-17 10:16] chauncey1213 commented on #3086
@sureshdagooglecom
I wrote only the following.

[code]
And the errors are
[code]

[2022-02-17 11:07] sgowroji commented on #2559
@tanuuuu, Did you get a chance to check this https://stackoverflow.com/questions/44966406/archive-export-error-the-archive-contains-nothing-that-can-be-signed/64262391

[2022-02-17 11:15] #3087 closed

[2022-02-17 13:19] chrisk8er opened #3088 "TypeError hands_1.Hands is not a constructor"
**Describe the problem**:
I was trying to build [this solution](https://google.github.io/mediapipe/solutions/hands#javascript-solution-api) using codesandbox.com, but getting this error: **TypeError hands_1.Hands is not a constructor**

**Complete Logs:**
https://codesandbox.io/s/frosty-allen-kuf6ub?file=/src/index.ts

[2022-02-17 13:28] MJ1998 opened #3089 "Mediapie hands full model less accurate than light model"
- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Ubuntu
- Programming Language and version ( e.g. C++, Python, Java): Python
- [MediaPipe version](https://github.com/google/mediapipe/releases): 0.8.9.1
- Solution ( e.g. FaceMesh, Pose, Holistic ): Hands

Full model do

[2022-02-17 14:37] AbinayaKumar25 commented on #3045
@sgowroji could you confirm the above question?

[2022-02-17 14:51] sureshdagooglecom commented on #3089
Hi @MJ1998 , did you get time to check on this [2173](https://github.com/google/mediapipe/issues/2173) issue , i hope it helps you .

[2022-02-17 15:01] MJ1998 commented on #3089
Hi @sureshdagooglecom in [comment ](https://github.com/google/mediapipe/issues/2173#issuecomment-974162810) it says "model quality depend not only on model capacity, but also on training dataset and target domain" so its possible and understandable.

But ideally it should not be working this way is what I am conveying here.

[2022-02-18 00:31] Fima2003 commented on #1739
Hello! I have the same issue, as you do. I am also trying to figure out for iris. Have you managed to solve it?

[2022-02-18 01:15] Fima2003 opened #3090 "Terminal freezes trying to extract iris landmarks from frame."
**System information**
- I have added a couple of lines to demo_run_graph_main:
- - `#include "mediapipe/calculators/util/landmarks_to_render_data_calculator.pb.h"`
- - `#include "mediapipe/framework/formats/landmark.pb.h"`
- - `constexpr char kDetectionsStream[] = "face_landmarks_with_iris";`
- - `ASSIGN_OR_RETURN(mediapipe::OutputStreamPoller poller_detection,`
`                   graph.AddOutpu

[2022-02-18 05:23] Yu-yuu opened #3091 "On gesture recognition of gloved hands in Android devices"
I am currently working on a hand gesture recognition application for android devices in the android studio environment.
I'm developing it based on the sample and I'm already getting good results with bare hands, but when I wear gloves, it doesn't recognize them well.
Is there a solution to this situation that can be applied to Android applications?
If I understand correctly, Mediapipe is not capab

[2022-02-18 06:00] sureshdagooglecom commented on #3090
Hi @Fima2003, Please provide steps to reproduce this issue.

[2022-02-18 08:31] pythonsql21 opened #3092 "dataset"
As mentioned in the paper: "MediaPipe Hands: On-device Real-time Hand Tracking", what is the commercial 3D
hand model tool did you use to generate your synthetic data?

[2022-02-18 09:34] pythonsql21 commented on #3092
I refer to the hand media pipe. Please refer to this paper: https://arxiv.org/abs/2006.10214. In the data generation step, the Google team used a synthetic dataset generated using the commercial 3D hand model tool. I wanted to know what tool/software did the team use to generate a synthetic hand dataset? I am planning to make the same synthetic dataset for my ML project. thx.

[2022-02-18 10:08] sambath-krian opened #3093 "Target //mediapipe/examples/desktop/hello_world:hello_world failed to build in windows"
tag_map.lib(tag_map.obj) : error LNK2005: "public: static class absl::lts_20210324::strong_ordering const absl::lts_20210324::strong_ordering::greater" (?greater@strong_ordering@lts_20210324@absl@@2V123@B) already defined in hello_world.obj   Creating library bazel-out/x64_windows-opt/bin/mediapipe/examples/desktop/hello_world/hello_world.lib and object bazel-out/x64_windows-opt/bin/mediapipe/exam

[2022-02-18 10:09] sgowroji commented on #3092
Hi @pythonsql21, As mentioned the output results with 21 3D landmarks you can generate the same with any platform your are familiar with by using  [world landmarks](https://google.github.io/mediapipe/solutions/hands#multi_hand_world_landmarks).  You can try building one such with [Three.js – JavaScript 3D Library](https://threejs.org/) if you wanted to target it on JavaScript. Same if you are plan

[2022-02-18 10:11] June1124 opened #3094 "How to set min_detection_confidence & min_tracking_confidence in C++"
Hi, I can set these two params in python, but can't set them in C++,
it can be set in a config file or another method?

[2022-02-18 10:20] sambath-krian commented on #3093
bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 --action_env PYTHON_BIN_PATH="C:\Program Files\Python37\python.exe" mediapipe/examples/desktop/hello_world

[2022-02-18 11:05] sambath-krian commented on #3093
Hi, I have installed all required SW as per the below link: https://www.programmersought.com/article/83779228430/
currently, I am using VC2017 and build.

[2022-02-18 11:06] pythonsql21 commented on #3092
@sgowroji Thank you for your prompt response.

[2022-02-18 11:11] sambath-krian commented on #3093
actually, I have to modify the hand tracking modules and generate the installable. to proceed further I just downloaded the latest media pipe source code from Github and tried to rebuild the SW.

[2022-02-18 11:43] james365 commented on #970
install libopencv-contrib-dev library can solve this problem

[2022-02-18 12:41] Fima2003 commented on #3090
Hi! I wanted to print out the landmarks of my face with iris at each frame the program gets, for that i added another output channel in the program, called kDetectionStream. Then I assigned a poller poller_detection to this output stream and finally, I run the poller. So, at the end I am supposed to get the landmarks of my face and iris in my output_landmarks variable, but for some reason it doesn

[2022-02-18 16:04] azeme1 commented on #829
Hello!
The image normalization fix the landmarks prediction
input_data = np.array(img, dtype=np.float32)/255

![image](https://user-images.githubusercontent.com/7568330/154718215-5697e507-654c-43a0-948e-c6d1721a8741.png)

[2022-02-18 16:35] ingyeomental commented on #3071
I solved this way
[code]
and comment out

[code]

[2022-02-18 16:53] EigenSpiral commented on #3084
Hi, what do you mean by platform? The youtube videos show the mediapipe tracking of the hands, but as shown in the above clips it is not matching the actual motion of the hand -- while the finger is folding mediapipe is showing a straight finger

[2022-02-18 17:11] kXborg opened #3095 "Confusion between the framework and the toolkit."
Hi,
<br>
I am a bit confused with the MediaPipe toolkit. The following diagram was presented in the **MediaPipe Overview Talk - Google Seattle 13 Feb 2020**. Can someone clear the following doubts?
<br>
![Screenshot 2022-02-18 224110](https://user-images.githubusercontent.com/55614432/154730038-e0bcb2bc-1019-4252-b37b-bd9b518383b8.jpg)
<br>
![Screenshot 2022-02-18 223322](https://user-images.githu

[2022-02-18 18:33] zeina-abuaisheh opened #3096 "FaceMesh versus Holistic in Python"
Hello,

I tried to use FaceMesh in Python, it works perfectly when the people are less than 1m away from the camera, however, when they are further, it doesn't output a mesh for them.

I did the same experiment with Holistic and tested holistic on the same video as FaceMesh, and it outputs meshes for all of the people even when they are further.

Do you have an idea why this works on holistic but

[2022-02-18 19:57] mcdonasd1212 opened #3097 "Frame Freeze using HumanPose"
Ubuntu 18.02 Python 3.7 OpenCV 4 with i5 cpu and GTX 1660 Super GPU.   Mediapipe has been compiled with OpenGL ES.

When streaming from a webcam (1920 x 1080 @ 60 fps), the video is freezing after a few frames.   Any recommendations?

[2022-02-18 20:24] AmitMY commented on #3070
This seems to be because I am using arm64.
Doing this instead, works:
[code]

[2022-02-18 20:24] #3071 closed

[2022-02-18 20:24] #3070 closed

[2022-02-19 00:21] batbrain9392 commented on #2726
So instead of `await selfieSegmentation.send({ image: { ...videoFrame, height, width } });`, we have to use
[code]

[2022-02-19 05:10] Billccx opened #3098 "synchronize two input streams"
**System information** (Please provide as much relevant information as possible)
- written custom code
- Solution: Pose
- Programming Language: C++

Dear researchers:
I am working on a project about pose estimation. Here is my plan:
(1) utilize 2 cameras, getting videos from different viewpoint.
(2) run mediapipe pose tracking algorithm on two videos respectively, and get the landmarks from two di

[2022-02-19 10:59] Kiranraj227 commented on #3064
Hi sorry, attached is the image where the landmarks are not detected.
![image](https://user-images.githubusercontent.com/71511899/154798128-bc6c3e8b-9da9-4aea-8100-66a69805ba80.png)

[2022-02-19 11:04] Kiranraj227 commented on #3064
When I crop out the original image where the face takes about 70% of the image, the landmarks are detected.
![image](https://user-images.githubusercontent.com/71511899/154798286-d7db0360-8921-4252-9691-9d56a12fc42c.png)

[2022-02-19 12:18] chauncey1213 commented on #3086
@sureshdagooglecom
If you find any solution, please tell me, thanks.

[2022-02-19 15:41] chauncey1213 commented on #3086
@sureshdagooglecom
I successfully solved the problem, thank you for your help!

[2022-02-19 15:41] #3086 closed

[2022-02-19 19:11] fedegonzal commented on #2750
Hey! some new here? I want to put my face over my face!

[2022-02-19 20:09] abertics opened #3099 "Seg Fault 11 when building object-tracking demo (Mac M1 with Rosetta)"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution: macOS 12.0.1; Hardware: MacBook Air (M1, 2020)
- Bazel version: 4.

[2022-02-20 12:43] wingdi opened #3100 "FaceMesh Solution help."
Solution: FaceMesh
Platform: Android

Hi
When i add vertex normal data in 3d effect model(.Mesh3D) / geometry_pipeline_metadata_landmarks.binarypb / geometry_pipeline_metadata_detection.binarypb ,and add vertex normal code in struct RenderableMesh3d .  it didn't show camera's frame, only show effect model.

![151645337878_ pic](https://user-images.githubusercontent.com/25787391/154842673-3449480b-

[2022-02-20 15:49] Lando31337 commented on #2934
Any updates, also struggling with this?

[2022-02-21 03:45] #3092 closed

[2022-02-21 03:47] sgowroji commented on #3084
@EigenSpiral, Is it implemented through python, javascript or others? .Could you please help me in reproducing the same with complete steps at our end. Thanks!

[2022-02-21 03:49] #3082 closed

[2022-02-21 03:54] sgowroji commented on #3064
This gives you understanding about the face tracking implementation https://github.com/google/mediapipe/issues/1895#issuecomment-822121488

[2022-02-21 03:57] zldeGit commented on #2822
I have the same problem, did you solve it?

[2022-02-21 04:11] sgowroji commented on #3058
@adnan6336, Thank you for being patience. We have shared your request to one of our engineer who will respond on the above query.

[2022-02-21 05:05] sureshdagooglecom commented on #3093
Hi @sambath-krian , Please follow mediapipe official documenation to build media pipe using https://google.github.io/mediapipe/getting_started/python.html

[2022-02-21 05:19] sureshdagooglecom commented on #3095
Hi @kXborg , we have media pipe framework for different [platforms](https://google.github.io/mediapipe/getting_started/getting_started.html) and also we have different [solutions](https://google.github.io/mediapipe/solutions/solutions.html) , we have different use cases for different platforms and media pipe is also one of the tool kit for  deep learning use cases.

[2022-02-21 05:28] sureshdagooglecom commented on #3096
Hi @zeina-abuaisheh , can you provide code changes to investigate further on this issue.

[2022-02-21 05:32] kXborg commented on #3095
Hi @sureshdagooglecom , thanks for replying. But my question is regarding the MediaPipe Toolkit and its components. If you could answer the following question number-wise, that would be very helpful.

1. Is **Toolkit** = **framework** + **solutions**?

2. From the second image given above, what does **Applications(Desktop/Server. Android, iOS, Embedded)** mean? Does it refer to the MediaPipe solut

[2022-02-21 05:40] sureshdagooglecom commented on #3097
Hi @mcdonasd1212 ,can you please recorded video and code changes  to investigate further.

[2022-02-21 05:44] ruchind159 commented on #2667
Hi @trzy , did you find out how they are doing it? or were you able to measure physical measurements of facial features?

[2022-02-21 05:51] sureshdagooglecom commented on #3095
Hi @kXborg ,
1) Is Toolkit = framework + solutions --yes
2)From the second image given above, what does Applications(Desktop/Server. Android, iOS, Embedded) mean? Does it refer to the MediaPipe solutions-- yes it is media pipe solutions where it can be used in different applications.

[2022-02-21 06:00] sureshdagooglecom commented on #3098
Hi  @Billccx , please check this [issue](https://github.com/google/mediapipe/issues/401) for two different inputs.

[2022-02-21 06:38] chenlize96 opened #3101 "running build_binary_graphs > error: [WinError 2] The system cannot find the file specified"
I'm trying to build MediaPipe Python Package on Windows by following the corresponding [tutorial](https://google.github.io/mediapipe/getting_started/python.html#ready-to-use-python-solutions).
When executing the last step: python setup.py install --link-opencv, the following error information comes:

I checked my bazel version, and it could compile hello-world successfully.
(mp_env) C:\Users\chenl

[2022-02-21 07:18] sureshdagooglecom commented on #3099
Hi @abertics , did you try in checking media pipe official [documentation](https://google.github.io/mediapipe/getting_started/install.html#installing-on-macos) to install in Mac and also please try to check this [steps](https://www.codestudyblog.com/cs2112pyc/1230193450.html) to install.

[2022-02-21 07:23] sureshdagooglecom commented on #3100
Hi @wingdi , can you provide steps to reproduce this issue.

[2022-02-21 07:39] Kiranraj227 commented on #3064
Issue:  [#1723](https://github.com/google/mediapipe/issues/1723)

I think this issue is more relevant. From this issue, I understand that there are different models that are tailored to detect faces within 2 meters and 5 meters. So by changing to the 5-meter model it should be able to detect smaller (further away from the camera) faces right?

[2022-02-21 07:46] sureshdagooglecom commented on #3101
Hi @chenlize96 , [duplicate issue](https://github.com/google/mediapipe/issues/1602).

[2022-02-21 08:03] wingdi commented on #3100
Ok.
**1 This is my .Mesh3d effect model:**
<img width="1322" alt="截屏2022-02-21 下午3 28 58" src="https://user-images.githubusercontent.com/25787391/154908469-fb4775e2-f4d0-482c-a0f9-e755c83b66de.png">
Compared to original .Mesh3d,   i add vertex normal data at the end of every row.

**2 This is my geometry_pipeline_metadata_detection.pbtxt:**
<img width="743" alt="截屏2022-02-21 下午3 34 11" src="https:

[2022-02-21 08:13] chenlize96 commented on #3101
@sureshdagooglecom It is not duplicate.
Firstly, the outputs are quite different.
Secondly, I have tried "bazel clean --expunge", but it shows the same error.

[2022-02-21 08:46] hujb48 commented on #2967
@tankchenggeng Hi, have u solved this question on "how to get the pose_landmark_gpu.binarypb"

[2022-02-21 09:50] sgowroji commented on #3101
@chenlize96, Which version of Python are you using? Did you refer this https://github.com/google/mediapipe/issues/1325

[2022-02-21 09:53] chenlize96 commented on #3101
It is 3.8.10. #1325 is not the same issue. I do not want to use 'pip3 install mediapipe' to install mediapipe. Instead, I use the installation tutorial to install it step by step.

[2022-02-21 10:26] sureshdagooglecom commented on #3101
@chenlize96, as per the [document](https://google.github.io/mediapipe/getting_started/python.html#:~:text=Download%20the%20latest%20protoc%20win64%20zip%20from%20the%20Protobuf%20GitHub%20repo%2C%20unzip%20the%20file%2C%20and%20copy%20the%20protoc.exe%20executable%20to%20a%20preferred%20location.%20Please%20ensure%20that%20location%20is%20added%20into%20the%20Path%20environment%20variable.). Did y

[2022-02-21 10:32] chenlize96 commented on #3101
@sureshdagooglecom yes, I downloaded 3.19.4-64. Also I added it into my path

[2022-02-21 10:40] zldeGit commented on #2643
Any update on this?

[2022-02-21 11:33] sureshdagooglecom commented on #3101
@chenlize96 ,did you install OpenCV if yes what is the version?

[2022-02-21 12:40] abertics commented on #3099
Yes, I first used the official documentation to install, but it didn't work. It ended with a "symbol not found in flat namespace '_CFRelease'" error that I couldn't figure out how to resolve.

[2022-02-21 13:02] sambath-krian commented on #3093
thanks , now it is working

[2022-02-21 16:08] EigenSpiral commented on #36
@boehm-e Thank you for sharing!
How does it compare on depth perception?

[2022-02-21 16:13] ROBYER1 commented on #36
There isn't really depth with Mediapipe so Leap or any depth sensing camera is better there. I would strongly advise you try the linked sample repo above and compare for yourself in your own project!

[2022-02-21 18:02] Wansh619 commented on #1452
is this issue still open?

[2022-02-21 20:34] zeina-abuaisheh commented on #3096
this is the code used in the holistic model:

[code]

And this is the code used in the facemesh model:

[code]

[2022-02-21 22:47] tom-doerr opened #3102 "Building Python Package"
## URL(s) with the issue:
https://google.github.io/mediapipe/getting_started/gpu_support.html
https://google.github.io/mediapipe/getting_started/python.html

## Description of issue (what needs changing):

Unclear how to build Python package with GPU support.

### Clear description

To me it's not clear from the documentation how to build the Python package with GPU support.
I can successfully bui

[2022-02-21 23:10] chenlize96 commented on #3101
@sureshdagooglecom The version of OpenCV is 3.4.10, and it was installed at C:\opencv. However, when I tried "import cv2" in python, it raised an error 'no module found', so I inputted 'pip3 install opencv-python'. Both two ways led to the same error mentioned above

[2022-02-21 23:54] alpersolak commented on #2603
ı got this Error bu find simple solutions
sudo raspi-config
6-advaced options
a2 - gldriver
g2 - gl
press enter
this work for me
good luck

[2022-02-22 04:09] mcdonasd1212 commented on #3097
The issue was related to memory usage from the camera. This can be considered closed.

[2022-02-22 04:11] #3012 closed

[2022-02-22 04:15] sgowroji commented on #3007
Hi @jen-co, [Tf1](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf1.md) Version of Tensorflow is needed  and we also updated our docs which you see the  updated changes in the next release.  Reach us back if you still have any query w.r.t the above.

[2022-02-22 04:15] #3007 closed

[2022-02-22 04:27] sgowroji commented on #2244
Hi @jameel-malik, We have documented the calculators and graph implementation  here with complete details https://google.github.io/mediapipe/framework_concepts/calculators.html#identifying-inputs-and-outputs. Please have a look and reach us back if you still have any further queries on top of it.

[2022-02-22 04:27] #2244 closed

[2022-02-22 04:38] #3097 closed

[2022-02-22 04:42] sgowroji commented on #2262
@SohilZidan, You should try with [back facing model ](https://github.com/google/mediapipe/tree/master/mediapipe/modules/face_detection)which is bigger but intended to work for smaller and far way faces.

[2022-02-22 04:42] #2262 closed

[2022-02-22 05:05] sureshdagooglecom commented on #3101
@chenlize96 ,
1)First do run these commands inside Terminal/CMD:
conda update anaconda-navigator
conda update navigator-updater
2)For windows if you have anaconda installed, you can simply do:
pip install opencv-python or conda install -c https://conda.binstar.org/menpo opencv.
please try above commands.

[2022-02-22 05:11] chenlize96 commented on #3101
@sureshdagooglecom Thanks. However, I need to avoid using anaconda. I have already tried 'pip3 install opencv-python' then 'import cv2' works. My question is that there is an error when I run 'running build_binary_graphs' OR 'python setup.py install --link-opencv'

[2022-02-22 05:12] sureshdagooglecom commented on #3096
Hi @zeina-abuaisheh ,can you please decrease min_detection_confidence value because it is detecting for 3 faces and can you please share  recorded video to investigate further.

[2022-02-22 05:12] chenlize96 commented on #3101
@sureshdagooglecom My pip is the latest version.

[2022-02-22 05:42] sureshdagooglecom commented on #3102
Hi @tom-doerr ,can you please check this [issue](https://github.com/google/mediapipe/issues/2954) once.

[2022-02-22 06:19] #3052 closed

[2022-02-22 06:55] tom-doerr commented on #3102
When I print the path
[code]
I get
[code]
which is what I would expect. It's the mediapipe folder in the mediapipe git repo.

[2022-02-22 07:28] Kazanian2 commented on #3010
Thank you @jiuqiant ! That did the trick. I was able to rebuild it that way and run it without linker errors.

[2022-02-22 07:28] #3010 closed

[2022-02-22 07:48] ithanwu commented on #2822
try to find the file autoflip_graph.pbtxt
the modify the calculator "PacketThinnerCalculator"
as I mentioned here https://github.com/google/mediapipe/issues/2822#issuecomment-994385991
yet it's solved ,I don't know why .
Anyway ,It do work.

[2022-02-22 07:48] sureshdagooglecom commented on #3102
@tom-doerr , could you provide your code changes to investigate further.

[2022-02-22 10:50] Fima2003 commented on #3090
Hi! I wanted to print out the landmarks of my face with iris at each frame the program gets, for that i added another output channel in the program, called kDetectionStream. Then I assigned a poller poller_detection to this output stream and finally, I run the poller. So, at the end I am supposed to get the landmarks of my face and iris in my output_landmarks variable, but for some reason it doesn

[2022-02-22 11:19] #3018 closed

[2022-02-22 11:19] #3034 closed

[2022-02-22 11:36] zeina-abuaisheh commented on #3096
Thanks a lot for your reply
I already changed the number of faces to 1, but it doesn't change anything rather than detecting one person each time.

Here is the video I am testing on:
https://drive.google.com/file/d/1sZ6lkkavQTgPhSeM5_lL7wMxzedbPPKt/view?usp=sharing

Thanks

[2022-02-22 14:00] daveabiy commented on #2742
Is this problem solved? I'm also facing it now

[2022-02-22 14:24] kuangzy2011 opened #3103 ""Packet is empty." when try to get pose_landmarks."
**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): Yes
- OS Platform and Distribution : Android 11
- [MediaPipe version](https://github.com/google/mediapipe/releases): v0.8.9
- Bazel version: (3.7.2)
- Solution (Pose):
- Programming Language and version (Java):

**Describe

[2022-02-22 14:40] Roios commented on #1972
Same thing here...

[2022-02-22 16:34] tom-doerr commented on #3102
This is what I'm doing:
[code]
This is the output that I get:
[code]

[2022-02-22 17:07] tom-doerr commented on #3102
Instead of installing mediapipe with `pip install -e .` I now tried to install it using
[code]
but with a modified `setup.py`. I remove the two lines `'--define=MEDIAPIPE_DISABLE_GPU=1',` from the script, which seems to trigger the build for GPU.
However now I'm getting the following error:
[code]

[2022-02-22 17:09] zeina-abuaisheh opened #3104 "confidence score of each single landmark"
I am using the holistic model in Python,

Is there a way to get the confidence score of each single landmark of the face/hand/pose landmarks?

Thanks

[2022-02-22 20:22] Menno-Broere opened #3105 "GPU Handtracking Linux"
**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): No
- OS Platform and Distribution: Ubuntu 20.10 (PopOS21.10)
- [MediaPipe version](https://github.com/google/mediapipe/releases): v0.8.9
- Bazel version:V1.11.0
- Solution (e.g. FaceMesh, Pose, Holistic): Handtracking
- Pr

[2022-02-22 20:31] tom-doerr commented on #3102
### Summary
Steps to build python package with GPU support:
[code]

In the file `setup.py`, replace all lines
[code]
with
[code]

Run
[code]

[2022-02-22 21:24] ahmadyan commented on #3009
You need to share more details about what's happening here, what is the fps you are getting and more importantly what device are you using. Which graph you are using, what type of delegate you are using in the background (cpu/xnn, gpu with OpenGL/OpenCL). Try running our reference implementation and you should see over 30fps on standard devices (e.g. Pixel-3 afterward).

[2022-02-22 23:27] Menno-Broere commented on #3105
Update: i am a bit further. I fixed the above error but now i'm running into trouble on the 'HandLandmarkTrackingGpu.pbtxt'

I adjusted to file for GPU Buffer but does run into this error:

[code]

my file looks like this
[code]

Any tips?

[2022-02-23 02:23] hujb48 commented on #2691
@jiuqiant Could you give some advice, Hope you can reply!

[2022-02-23 03:19] hujb48 opened #3106 "Mediapipe python interface is not working on GPU based on the newest version."
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): Linux Ubuntu 20.04

[2022-02-23 05:19] #3040 closed

[2022-02-23 05:19] #3029 closed

[2022-02-23 07:19] #3056 closed

[2022-02-23 07:44] sureshdagooglecom commented on #3096
@zeina-abuaisheh ,
could you check the code differences for holistic , you have not specified [this](https://google.github.io/mediapipe/solutions/holistic#:~:text=face_landmarks%2C%0A%20%20%20%20%20%20%20%20mp_holistic.FACEMESH_CONTOURS%2C-,landmark_drawing_spec%3DNone%2C,-connection_drawing_spec%3Dmp_drawing_styles%0A%20%20%20%20%20%20%20%20.get_default_face_mesh_contours_style) in your code ,kin

[2022-02-23 08:03] sureshdagooglecom commented on #3103
Hi @kuangzy2011 , can you provide steps to reproduce the issue.

[2022-02-23 08:07] willbetheone opened #3107 "What device types and iOS versions are supported in Handtrackinggpu sample？"
Xcode13.2.1 ，iPad Air, iOS 12.5
Sample Handtrackinggpu is unavailable, and print a message in the "Xcode console".
The message is:
"Execution of the command buffer was aborted due to an error during execution. Ignored (for causing prior/excessive GPU errors) (IOAF code 4)"

Why the demo can not detect？  And  What device types and iOS versions are supported in Handtrackinggpu sample？

[2022-02-23 08:11] sureshdagooglecom commented on #3104
Hi @zeina-abuaisheh , please check this closed [issue](https://github.com/google/mediapipe/issues/644) once.

[2022-02-23 08:37] kuangzy2011 commented on #3103
@sureshdagooglecom

**1. Define pose_tracking_gpu_landmark_image.pbtxt in mediapipe/modules/pose_landmark**

[code]

**2. Append to mediapipe/modules/pose_landmark/BUILD
[code]
**3. Append to mediapipe/java/com/google/mediapipe/solutioncore/BUILD:libmediapipe_jni.so
[code]

**4. Build solution_core**
[code]

**5. Build pose_tracking_gpu_landmark_image.binarypb in mediapipe/graph/pose_tracking with

[2022-02-23 09:12] sureshdagooglecom commented on #3105
Hi @Menno-Broere , please try with mediapipe hand tracking [solution](https://github.com/google/mediapipe/blob/master/mediapipe/modules/hand_landmark/hand_landmark_tracking_gpu.pbtxt) and find the differences in the file.

[2022-02-23 09:17] sureshdagooglecom commented on #3106
Hi @hujb48 , can you refer media pipe [official document](https://google.github.io/mediapipe/getting_started/gpu_support.html) for GPU issues.

[2022-02-23 09:21] sureshdagooglecom commented on #3107
Hi @willbetheone,  Did you get a chance to go through this prerequisite for [IOS](https://google.github.io/mediapipe/getting_started/ios.html#prerequisite).

[2022-02-23 10:15] AlphaEric commented on #3107
Hi @sureshdagooglecom , I have been through it and run successed in iPad (9th generation) with iOS 15.2.1.

[2022-02-23 10:16] willbetheone commented on #3107
Hi @sureshdagooglecom , I have been through it and run successed in iPad (9th generation) with iOS 15.2.1.

[2022-02-23 11:00] Menno-Broere commented on #3105
Thanks for your reply Suresh. When i run this i get:
[code]
If found some information about this inside issue #1651 but this issue is based on Holistic landmark. I've tried to implement some of the code but i keep running into issue's.

What adjustments should i make to the current file to make it work?

Regards,

Menno

[2022-02-23 11:11] daniele-gusmini commented on #2578
I have the same problem, is there a solution?

[2022-02-23 11:27] sureshdagooglecom commented on #3107
@willbetheone, We don't have much environment to test with different devices yet and it's one of the plan for our future road map. At present we can state that all the devices which support the prerequisites while building with  iOS.

[2022-02-23 11:31] sureshdagooglecom commented on #3105
@Menno-Broere , please Download the mediapipe.v0.8.3.1 and try once.

[2022-02-23 11:35] sureshdagooglecom commented on #3102
Hi @tom-doerr ,Can you please share  which version of mediapipe you are using.

[2022-02-23 11:42] rachelgomez161999 commented on #3106
Try the following with v0.8.3.1:

diff --git a/mediapipe/modules/holistic_landmark/holistic_landmark_gpu.pbtxt b/mediapipe/modules/holistic_landmark/holistic_landmark_gpu.pbtxt
index 990b21d..738204a 100644
--- a/mediapipe/modules/holistic_landmark/holistic_landmark_gpu.pbtxt
+++ b/mediapipe/modules/holistic_landmark/holistic_landmark_gpu.pbtxt
@@ -47,7 +47,7 @@

 type: "HolisticLandmarkGpu"

-# G

[2022-02-23 12:09] hujb48 commented on #3106
Thx for the reply, it's very nice of you. Right now, I have followed the  "OpenGL ES Setup on Linux Desktop" from [page](https://google.github.io/mediapipe/getting_started/gpu_support.html) you given. The first of the part has been done successfully, which is "check if your Linux desktop GPU can run MediaPipe with OpenGL ES". Then I used this command for the building process in my virtual env,
 **

[2022-02-23 12:43] Alvazz opened #3108 "How to replace Selfie Segmentation background "C++ Windows 10""
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): **No**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): **Windows 10**

[2022-02-23 14:06] purgeme opened #3109 "Segmentation fault in shared library"
So I have been trying to make a shared library for a custom project.
I have tried making a shared library with a print "Hello World!" function and that works but as soon as I import anything related to opencv from mediapipe like ( without adding any actual code ):
[code]
( These are the exact lines I tested with, even just one can cause crash )
the shared library causes the program to crash with a

[2022-02-23 14:19] #3051 closed

[2022-02-23 14:58] thecoder-elite commented on #372
Thank you @AjManoj your solution works!

[2022-02-23 15:31] zeina-abuaisheh commented on #3096
I didn't get what you mean?
My problem if with the facemesh code, not the holistic one.
The holistic one manages to detect the faces and generate the landmarks even when people are far away
However, I am unable to get the same results when I only use facemesh

[2022-02-23 16:28] borhi commented on #2563
@mhays-google, do you have some progress with this problem?

[2022-02-23 17:12] dr804 opened #3110 "Issues with Nextjs and usestate hook"
I am using the holistic solution with the CDN delivered file. I have implemented it as part of a Nextjs project. The page works fine, but as soon as I start using the usestate hook, it gives the following error:

RuntimeError: abort(undefined) at Error
    at jsStackTrace (https://cdn.jsdelivr.net/npm/@mediapipe/holistic@0.5.1635989137/holistic_solution_simd_wasm_bin.js:9:69364)
    at stackTrace

[2022-02-23 17:32] dr804 commented on #3110
May have found a fix for this, will update this thread if it doesn't work, otherwise I will close it.

[2022-02-23 18:19] #3059 closed

[2022-02-23 18:19] #3050 closed

[2022-02-23 18:32] zeina-abuaisheh commented on #3104
Thanks, I took a look at the issue you referred to, it's not the same.
First I am using Python. Second, I want the confidence score of each single landmark of a single detection.
For instance, for facemesh, I would like to have the score for each of the 478 landmarks, same for the 21 landmarks of each hand.

Thanks

[2022-02-23 19:44] sambath-krian opened #3111 "calculator: "PalmDetectionCpu""
Hi, calculator: "PalmDetectionCpu" is not available in source code but it has been used in hand_detection_desktop.pbtxt,
Could you please let me know when it will be available?

[2022-02-23 21:02] gianluca-amprimo opened #3112 "Hand tracking world coordinates"
For a paper I am writing, I need to know how the 3d world coordinates are estimated, but I cannot find a clear explanation on the method employed by mediapipe. Is there any reference I can check?

[2022-02-23 22:02] #3105 closed

[2022-02-23 22:02] Menno-Broere commented on #3105
Worked it out. Thanks for the support.

[2022-02-24 00:18] tom-doerr commented on #3102
I'm using mediapipe 0.8.9, hash of the git HEAD: `e6c19885c6d3c6f410c730952aeed2852790d306`

[2022-02-24 00:44] tom-doerr commented on #3059
Would also be very interested in the performance aspect of the tensorflow build. Is it faster than the OpenGL one?
The mediapipe hand tracking only gives me 30 fps instead of the 120 fps in the [benchmark](https://blog.tensorflow.org/2021/11/3D-handpose.html).
[code]

@mcdonasd1212 I wrote some code that parallelizes the calls to mediapipe, which allows you to get much higher frame rates: https://

[2022-02-24 05:07] sureshdagooglecom commented on #3112
Hi @gianluca-amprimo , did you get a chance to check [this](https://github.com/google/mediapipe/issues/742) issue.

[2022-02-24 05:18] sureshdagooglecom commented on #3111
Hi @sambath-krian , did you get a chance to check [this](https://github.com/google/mediapipe/issues/1593) issue.

[2022-02-24 05:19] sureshdagooglecom commented on #3110
Hi @dr804 , please provide steps to reproduce this issue.

[2022-02-24 05:26] sureshdagooglecom commented on #3109
Hi @Purgeme , did you get a chance to check [this](https://github.com/google/mediapipe/issues/1734) issue.

[2022-02-24 05:28] gianluca-amprimo opened #3113 "Hi @gianluca-amprimo , did you get a chance to check [this](https://github.com/google/mediapipe/issues/742) issue."
Yes, but from what I see there is no official  answer from the developers... Shouldn't this kind of informwtion be provides with official documentation? Most of answers are about normalized coordinate, I'm interested in what mediapipe calls "world" coordinate

Hi @gianluca-amprimo , did you get a chance to check [this](https://github.com/google/mediapipe/issues/742) issue.

_Originally posted by @

[2022-02-24 05:31] gianluca-amprimo commented on #742
Hello,
Can somebody explain me if world coordinates are inferred from normalized landmark plus some technique or is they are empirically estimated by the neural network as normalized coordinates? Is there any official documentation I can quote in my paper?

[2022-02-24 05:40] Alvazz commented on #2661
bad format!

[2022-02-24 06:09] Alvazz opened #3114 "Question about passing parameters"
I customized a Calculator, the rough code is as follows:
[code]

, in the code, I have to hardcode, but what I hope is that this path can be passed in through parameters? All in all don't want to be hardcoded, any good suggestions?

[2022-02-24 06:22] sureshdagooglecom commented on #3108
Hi @Alvazz , can you provide code changes to reproduce this issue.

[2022-02-24 06:47] sureshdagooglecom commented on #3114
Hi @Alvazz ,can you please elaborate this issue to investigate further.

[2022-02-24 06:56] #3095 closed

[2022-02-24 07:11] sureshdagooglecom commented on #3099
Hi @abertics , did you get a chance to check [this](https://github.com/google/mediapipe/issues/1514) issue.

[2022-02-24 08:19] qingwufong commented on #597
Still don't know how to get it using javascript in browser.

[2022-02-24 09:55] sgowroji commented on #133
Hi @tanuuuu, Did you try this workarounds mentioned in this thread https://stackoverflow.com/questions/44966406/archive-export-error-the-archive-contains-nothing-that-can-be-signed/64262391. I am sure thats not related to MediaPipe. We can build the IPA files internally in our local machines with  latest xcode environment.

And the above  error logs could mean that Bazel can't find an appropriate

[2022-02-24 09:59] sgowroji commented on #2922
Hello @muhammadabdullah34907, Let us know if you still see the above error  and i wanted to try this https://github.com/google/mediapipe/issues/133#issuecomment-1049678841 workaround.   If you have already found the fix/resolution for the same, Please share us in the below comments that would really benefit the community with your contributions. Reach us back if you still have any queries

[2022-02-24 09:59] #2922 closed

[2022-02-24 11:07] tanuuuu commented on #133
Hi @sgowroji I had tried https://stackoverflow.com/questions/44966406/archive-export-error-the-archive-contains-nothing-that-can-be-signed/64262391 this link ,but didn't get any solution from this link.
I have still ipa issue, when i try create ipa file  from Xcode.
Xcode version - 12.5.1
Bazel version - 3.7.2
macOS version - macOS bigSur ,version -11.5.1 ,chip - apple M1

<img width="1006" alt="S

[2022-02-24 11:58] sgowroji commented on #133
Let me check and get back to you. Meanwhile can you try the above on bazel 4.2.1. MediaPipe Updated its bazel now.

[2022-02-24 12:06] KirillNovosad opened #3115 "Train"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4):
- Compiler version

[2022-02-24 14:31] Purgeme commented on #3109
I just looked at it and though I could not see how it is related, I did try building after switching to an older version of mediapipe.
I downloaded v8.4 but it is having issues during build as bazel is trying to download rules_cc-master but what is available is rules_cc-main ( probably due to names of branches having been changed ).

Could you explain if switching back to an older version will hel

[2022-02-24 14:59] Alvazz commented on #3114
@sureshdagooglecom Hi,

I customized a Calculator. My purpose is to use it as a background to replace Selfie Segmentation. The default Mediapipe is that the virtual background is blue, but I want to use a picture as a virtual background, so for this, I wrote a Calculator, but in the "Process(CalculatorContext* cc)" processing function, I cannot accept the hard-coded form to read the image used for

[2022-02-24 14:59] sambath-krian commented on #3085
@[chauncey1213](https://github.com/chauncey1213)  : hi, could you please send across me the files which are all used to run the hand tracking feature  in desktop\hand_tracking

[2022-02-24 15:07] chauncey1213 commented on #3085
@sambath-krian
Did you encounter any errors during the build process?

[2022-02-24 15:10] sambath-krian commented on #3085
yes
Warning: skipping import of repository 'pybind11' because it already exists.
INFO: Build option --action_env has changed, discarding analysis cache.
WARNING: C:/users/sambath.subbarayalu_/git_rep/mediapipe_test/mediapipe/mediapipe/framework/tool/BUILD:182:24: in cc_library rule //mediapipe/framework/tool:field_data_cc_proto: target '//mediapipe/framework/tool:field_data_cc_proto' depends on de

[2022-02-24 15:10] sambath-krian commented on #3085
but hello world is working

[2022-02-24 15:12] sambath-krian commented on #3085
it seems that i need some file like hello_world.cc, could you please send me the files

[2022-02-24 15:28] chauncey1213 commented on #3085
Or you can modify
 C:/users/sambath.subbarayalu_/bazel_sambath.subbarayalu/3n7uzcn5/external/windows_opencv/BUILD.bazel

[code]
Revise the "OPENCV_VERSION" to your version.
Just like:
[code]
[code]

[2022-02-24 20:22] abertics commented on #3099
@sureshdagooglecom yes, I did. I linked to it in my original post. Initially tried everything mentioned in there, but it is still not resolved. That led me to try using x86_64 architecture with Rosetta, which led me to the current bug that I have.

[2022-02-24 20:37] tyrmullen commented on #597
All of the JS APIs have a "send" call, like `await selfieSegmentation.send({image: inputImageSource});`.  The CodePen demos have a bunch of extra helper classes (like SourcePicker or Camera), but those are just so we can make demos more easily.  That "send" call is really the key, and each send call will run over a single video/image frame (here, inputImageSource can be an ImageBitmap, HTMLVideoEl

[2022-02-24 20:58] sambath-krian commented on #3085
thanks for your help

I have revised opencv as per my version

# The following build rule assumes that the executable "opencv-3.4.10-vc14_vc15.exe"
# is downloaded and the files are extracted to local.
# If you install OpenCV separately, please modify the build rule accordingly.
cc_library(
    name = "opencv",
    srcs = select({
        ":opt_build": [
            "x64/vc15/lib/opencv_world" + "

[2022-02-24 23:25] RafaelPiloto10 commented on #3091
I am also working on an application that requires hand tracking and it is very hard for the Hands solution to track gloves. I have tried marking joints with different colored tape as well as different colored gloves (blue, purple, and black gloves), but no luck.

Would it be possible to extend the Hands solution's training dataset to include some custom images with my glove?
Appreciate any advice!

[2022-02-25 04:01] sureshdagooglecom commented on #3113
Hi @gianluca-amprimo , marking this issue as duplicate [#3112](https://github.com/google/mediapipe/issues/3112).

[2022-02-25 04:05] tuotuoshao commented on #2489
Hi @willstott101 ，what i want is to run gpu examples in a docker which works on my headless server host. Obviously, I've to run the examples in my host firstly，and i've made a lot of efforts to achieve it including reset my nvidia drivers and reload nvidia_drm  after referencing to your answers，thank you!
       I've understood what I need is the GBM platform, and in my host the command eglinfo ou

[2022-02-25 05:12] sureshdagooglecom commented on #3115
Hi @KirillNovosad , can you please elaborate this issue to investigate further.

[2022-02-25 05:19] #3065 closed

[2022-02-25 05:19] #3067 closed

[2022-02-25 06:22] Yu-yuu commented on #3091
It occurred to me that it might not work if I pre-processed the streaming video to be used for detection confirmation with color conversion to make the glove area skin tone.

Opencv can do the above pre-processing in real time, but I don't know if it can be implemented in mediapipe (I'm not sure, but it may require opencv to run at the same time).

[2022-02-25 07:09] Alvazz commented on #3114
Didn't find any useful information, need help.

[2022-02-25 07:34] sureshdagooglecom commented on #3096
Hi @zeina-abuaisheh ,could you check [this](https://github.com/google/mediapipe/tree/master/mediapipe/modules/face_detection) once to detect faces for different lengths.

[2022-02-25 08:47] gd1925 opened #3116 "Help in obtaining 68 landmarks"
Hi all,

Could someone tell me how to map the 468 landmarks to 68 landmarks? I saw this issue [https://github.com/google/mediapipe/issues/421](url)
 which addresses the same question, but I was wondering if someone has managed to do it and could provide some help in the mapping. Thank you in advance.

[2022-02-25 08:52] kuangzy2011 commented on #3103
**Further debug**
[code]

[2022-02-25 08:55] FalschMico commented on #3105
Hi, I‘ve met with the similar problem
`RuntimeError: Input stream "image" of calculator "[ImagePropertiesCalculator, input stream: IMAGE_GPU:image, and output stream: SIZE:image_size]" expects packets of type "mediapipe::GpuBuffer" but the connected output stream will contain packets of type "[`
How did you solve this problem then?Anyway ,thanks a lot for sharing.

[2022-02-25 09:12] Menno-Broere commented on #3105
Hi,

See the correct `hand_landmark_tracking_gpu_image.pbtxt` below. This resulted in the `ValueError:Not all calculator params are valid. `

That was because i did not add the `"//mediapipe/modules/hand_landmark:hand_landmark_tracking_gpu"` calculators to the calculators in  `/mediapipe/mediapipe/python/build`.

Correct pbtxt:

[code]

[2022-02-25 09:41] willstott101 commented on #2489
https://github.com/ehfd/docker-nvidia-egl-desktop ?

[2022-02-25 09:43] sureshdagooglecom commented on #3116
Hi @gd1925 , could you please share some more information to investigate further on this issue and am not able to find this [issue](https://github.com/google/mediapipe/issues/url) in github.

[2022-02-25 09:55] sureshdagooglecom commented on #3102
Hi @tom-doerr , Please follow this steps mentioned in this https://github.com/google/mediapipe/issues/724.

[2022-02-25 10:53] jintaocui-lingoace opened #3117 "How do I use the Python version of the GPU"
I installed Mediapipe using pip install mediapipe,But it's running on CPU, which is slow and I want to use GPU acceleration. Please help me.

[2022-02-25 11:11] Reihannudin commented on #2739
@singhania0601 Thank you so much , This is file work

[2022-02-25 12:24] sambath-krian opened #3118 "Build Mediapipe hand issue"
following error i am getting if i build the media pipe hand modules using "bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 --action_env PYTHON_BIN_PATH="C:\Program Files\Python37\python.exe" mediapipe/examples/desktop/hand_tracking:hand_tracking_cpu"

Warning: skipping import of repository 'pybind11' because it already exists.
WARNING: C:/users/sambath.subbarayalu_/git_rep/mediapipe_test/media

[2022-02-25 12:47] FalschMico commented on #3105
Thank you for helping me！！！It did work, but still another problems rised as you‘ve mentioned above`ValueError: Not all calculator params are valid.`. T A T

But I have already changed  `"//mediapipe/modules/hand_landmark:hand_landmark_tracking_cpu"`into `"//mediapipe/modules/hand_landmark:hand_landmark_tracking_gpu"`before, but this error still happened. Maybe I missed something else.

btw, are yo

[2022-02-25 14:15] RafaelPiloto10 commented on #3091
I did try this with different shades of skin tone to no avail. Simply changing the glove color to static values removes contours and shading that appears to be essential to how Mediapipe detects and tracks the hand. A more complicated implementation that can provide accurate shading may work if it can shade and outline the hand. I'm practically tracking it manually at that point though.

[2022-02-25 15:27] positlabs commented on #2346
I'm still seeing this issue in the latest version.

<img width="986" alt="Screen Shot 2022-02-25 at 10 25 39 AM" src="https://user-images.githubusercontent.com/1918844/155741714-660a8b36-9342-4555-ad72-f0edb8d6a048.png">

[2022-02-26 01:55] mcclanahoochie commented on #3041
Thank you for the feedback. Unfortunately there are no plans to export quantized models at this time.

[2022-02-26 01:59] mcclanahoochie commented on #2678
if there is a
`use_advanced_gpu_api: true`
in the graph, try setting it to false.
see https://github.com/google/mediapipe/pull/2463

[2022-02-26 02:05] mcclanahoochie commented on #3039
I believe the mat_image_ inside annotation renderer is RGB format (CV_8UC3), make sure the loaded png image is also the same format

[2022-02-26 02:20] mcclanahoochie commented on #2855
i think this is creating an RGBA mat

[code]
use CV_8UC3 instead

[2022-02-26 10:00] tom-doerr commented on #846
I'm getting the same error
[code]

[2022-02-26 11:29] daniele-gusmini opened #3119 "Impossible to use LandmarkGrid"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): NO
- OS Platform

[2022-02-26 19:47] problemSolvingProgramming opened #3120 "How can I have the all codes of this project pose tracking c++ mediapipe in Visual Studio c++ 2019 ?"
How can I have the  all codes of this project pose tracking  c++ mediapipe  in Visual Studio c++ 2019 ?

[2022-02-26 20:55] goulaoalex opened #3121 "Does mediapipe work with python 3.9?"
Hello, I've been trying to set up mediapipe on my raspberry pi 3 for the last couple of days and I've had a lot of trouble. Doing my research to find a solution I've noticed that no user is using python 3.9 with mediapipe. So my question is, does mediapipe work with python 3.9?

[2022-02-27 02:20] chenlize96 commented on #3101
Can anyone help me please?

[2022-02-27 06:15] chenlize96 commented on #3101
Solved. Find subprocess.py in your lib，CTRL+f to search 'class Popen', replace 'shell = False' with 'shell = True' in __init__.
However, new errors happened. They are about python path invalid. I closed this issue about this topic. Thanks all your help.

[2022-02-27 06:15] #3101 closed

[2022-02-27 07:22] chenlize96 commented on #3101
If someone meets the similar issue like invalid python path, please add 'PYTHON_LIB_PATH' into your environmental variables, its value is 'C:\Users\chenl\AppData\Local\Programs\Python\Python38\Lib'  (this path is the lib in my laptop. also, python without anaconda works great)

[2022-02-27 07:22] chenlize96 commented on #3101
All these are run on the system terminal of Windows. Thanks.

[2022-02-27 09:26] chenlize96 opened #3122 "<Solved> from mediapipe.python._framework_bindings import"
**Versions:**
python version - **3.8** (I did not use anaconda)
OS - **Windows** system terminal
the rest are all based on installation **tutorial**
Suppose you are not using 'pip3 install mediapipe' to install mediapipe. Instead, you use python package, and the last step is '**python setup.py install --link-opencv**'.

**Errors:**
from mediapipe.python._framework_bindings import resource_util Imp

[2022-02-27 10:11] galharth opened #3123 "Mediapipe holistic javascript slows down setInterval()"
Hello,

I have a javascript interval that prints its progress every 10 miliseconds.
Before I load mediapipe holistic on the web the timing works good, every 10 milliseconds the code prints out the interval progress, after I load mediapipe I receive this warnings:
[code]

And afterward, the interval progress timing slows down, you can see clearly what happens in the following video (the interval pr

[2022-02-27 11:41] TAHRI-Khalid opened #3124 "Can i use MediaPipe with javafx ?"
I want use MediaPipe with my projet JavaFx , but i don't found any dependency for java , wich can i use  can someone provide details how to I can achieve that?
Thank you!

[2022-02-27 13:24] FalschMico commented on #2691
Hi, I also changed `pose_landmark_gpu.pbtxt` just like what you've done in `mediapipe/modules/holistic_landmark/holistic_landmark_gpu.pbtxt`. The error `RuntimeError: ; Unable to find the type for stream "segmentation_mask".  It may be set to AnyType or something else that isn't determinable, or the type may be defined but not registered.` was solved.
- But,here is another problem :
`RuntimeError:

[2022-02-27 13:28] FalschMico commented on #2691
Hi, I also changed `pose_landmark_gpu.pbtxt` just like what you've done in `mediapipe/modules/holistic_landmark/holistic_landmark_gpu.pbtxt`. The error `RuntimeError: ; Unable to find the type for stream "segmentation_mask". It may be set to AnyType or something else that isn't determinable, or the type may be defined but not registered. `was solved.

- But,here is another problem :
`RuntimeError:

[2022-02-27 15:28] FalschMico opened #3125 "When building Pose for Python GPU, " Unable to find the type for stream "segmentation_mask"." would happen."
I'm trying to build gpu version for python on ubuntu 20.04, but can't run the pose sample with gpu. The error is below:
`RuntimeError: ; Unable to find the type for stream "segmentation_mask".  It may be set to AnyType or something else that isn't determinable, or the type may be defined but not registered.`
 **Before that, I've built GPU version of hands with success, so I built pose in the simil

[2022-02-27 18:52] akryeem opened #3126 "Unable to find Calculator while initializing a compiled CalculatorGraph binarypb in Python"
- Windows 10
- Python 3.7
- Installed using pip

I've compiled the pose_tracking_cpu.pbtxt graph, when trying to load the compiled binarypb using mp.CalculatorGraph I'm getting the following errors:
[code]

The code I'm using to initialize the CalculatorGraph is the one provided in: [framework docs](https://google.github.io/mediapipe/getting_started/python_framework.html#graph)

[code]

[2022-02-27 23:53] Yu-yuu commented on #3091
Thank you for sharing the situation.
By the way, did you do the color conversion in the still image state or in the streaming state? And did your gloves cover your wrists? I will try it when I have time.

[2022-02-28 02:11] willbetheone commented on #3107
Thank you for your answer. Looking forward to the implementation of this plan that supporting devices and systems can be listed in the future.

[2022-02-28 03:09] qingwufong commented on #597
Yes, that`s it. We also found Mediapipe codepen demos have helper class which is controls.SourcePicker, it works for us.
Thanks very much！
Best Regards~

[2022-02-28 05:47] sureshdagooglecom commented on #3117
Hi @jintaocui-lingoace ,MediaPipe  python solutions supports only for  CPU graphs ,You can follow https://github.com/google/mediapipe/issues/1651#issuecomment-790176010 to run the GPU graphs. Sorry for the inconvenience.

[2022-02-28 05:55] sureshdagooglecom commented on #3118
Hi @sambath-krian ,Please follow this steps mentioned in this https://github.com/google/mediapipe/issues/724.

[2022-02-28 06:02] jintaocui-lingoace commented on #3117
Thank you for your answer. Can I use gpu acceleration if I use c++?

[2022-02-28 06:11] sureshdagooglecom commented on #3119
Hi @daniele-gusmini , could you please add [this](https://google.github.io/mediapipe/getting_started/javascript.html#:~:text=%3Chead%3E%0A%3Cscript%20src%3D%22https%3A//cdn.jsdelivr.net/npm/%40mediapipe/drawing_utils%400.1/drawing_utils.js%22%20crossorigin%3D%22anonymous%22%3E%3C/script%3E%0A%3Cscript%20src%3D%22https%3A//cdn.jsdelivr.net/npm/%40mediapipe/holistic%400.1/holistic.js%22%20crossorigi

[2022-02-28 06:14] sureshdagooglecom commented on #3120
Hi @problemSolvingProgramming ,We have already an issue with similar context which is in progress. Please have a look at it https://github.com/google/mediapipe/issues/1162

[2022-02-28 06:21] zetyquickly opened #3127 "AppleVision Performance"
Hello,

I was reading the documentation and came across this [comparison](https://google.github.io/mediapipe/solutions/pose.html#pose-estimation-quality). Here is said that AppleVision model has some performance and there's a link to the Apple's documentation.

The question is, how could one know that AppleVision model still performs in the same way as it was at the moment of documenting? I'm aski

[2022-02-28 06:29] sureshdagooglecom commented on #3123
Hi @galharth , please provide steps to reproduce this issue.

[2022-02-28 06:37] sureshdagooglecom commented on #3124
Hi @TAHRI-Khalid ,Currently  MediaPipe is not  supporting  for java  but  you can try android [solutions](https://google.github.io/mediapipe/getting_started/android.html) .Sorry for the inconvenience.

[2022-02-28 06:49] sureshdagooglecom commented on #3126
Hi @akryeem ,We have already an issue with similar context which is in progress. Please have a look at it https://github.com/google/mediapipe/issues/1578

[2022-02-28 07:00] sureshdagooglecom commented on #3127
Hi @zetyquickly , Could you please elaborate your use case to investigate further on this issue.

[2022-02-28 07:50] sureshdagooglecom commented on #3121
Hi @goulaoalex , Thanks for raising the issue.
MediaPipe supports upto 3.10 v, please refer [this](https://github.com/jiuqiant/mediapipe_python_aarch64) to build python in raspberry pi .

[2022-02-28 08:31] kuangzy2011 commented on #3103
Show empty packet if not the whole body in the screen.
Change to Close.
Thanks.

[2022-02-28 08:31] #3103 closed

[2022-02-28 08:41] galharth commented on #3123
Hi @sureshdagooglecom

I reproduced the problem in this codepen https://codepen.io/galharth/pen/KKyGqLO?editors=1111

I added this code to the js file that loads medipipe holistic:

[code]
You can see in the codepen javascript console that after mediapipe is loaded the console.log that is inside the setInterval function prints the interval progress slower than expected.

Thanks,
Gal

[2022-02-28 09:14] FalschMico commented on #3125
@sureshdagooglecom
- what I 've done in hands build:
	- I followed those two documents sequently.
		[https://google.github.io/mediapipe/getting_started/install.html](https://google.github.io/mediapipe/getting_started/install.html)
		 [https://google.github.io/mediapipe/getting_started/python.html](https://google.github.io/mediapipe/getting_started/python.html)
		Everything was OK, and I made the c

[2022-02-28 09:41] Stephenfang51 opened #3128 "Any tables showing the model parameters and amount of computation （FLOPs) for models?"
I was so curious about the Palm detector and hand landmark detector model
The paper only indicated that params of hand landmark detector for light, full, heavy, how about amount of computation(Flops)?

and params and Flops for palm detector.
Is there easy way or API we can count ourself?

Thanks your great works !

[2022-02-28 10:15] sureshdagooglecom commented on #3125
Hi @FalschMico ,Have you tried checking this issue https://github.com/google/mediapipe/issues/1936#issuecomment-830382471 information w.r.t GPU

[2022-02-28 10:24] sureshdagooglecom commented on #3114
Marking it as duplicate https://github.com/google/mediapipe/issues/3108

[2022-02-28 10:44] sureshdagooglecom commented on #3117
Please check MediaPipe official  [document](https://google.github.io/mediapipe/getting_started/cpp.html#:~:text=being%20not%20accessible.-,Option%202%3A%20Running%20on%20GPU,-Note%3A%20This%20currently) to use GPU in C++.

[2022-02-28 11:26] Kazanian2 commented on #3072
I took a picture of a printed circle and performed the distance calculation by hand using 2.51mm as focal length. The resulting distance was correct. This proves that the focal length is correct.

The image dimensions and sensor width that are used by MediaPipe during calculation also look correct. I have the feeling that the image is zoomed. Because the calculated iris size in pixels is greater c

[2022-02-28 12:34] Alvazz commented on #3108
replace Selfie Segmentation background's blue color as image.

I ran the Selfie Segmentation example and it worked successfully, the background color is blue, I want to set the background to an image, my development runtime is windows 10. Is there any way to achieve this?

![image](https://user-images.githubusercontent.com/50744096/155984377-909eb38a-98e3-4df3-8d9a-14184b6f7bb4.jpg)

[2022-02-28 12:55] Matteo-0 commented on #2820
Hello!
@hyeyoungjo where you able to solve this problem. I would like to copy squatting movements but I obtain fixed hips with feet going up and downwhich is uncorrect. Hope you can help!

Thanks.

[2022-02-28 14:19] #3069 closed

[2022-02-28 15:02] #3121 closed

[2022-02-28 16:20] sambath-krian opened #3129 "windows.h': No such file or directory"
System information

OS: Windows 10
Bazel version 3.7.2
Python version 3.7
VS Community 2019 14.29.30133

System information

OS: Windows 10
Bazel version 3.7.2
Python version 3.7
VS Community 2019 14.29.30133

Environmental Variable setting :
**BAZEL_VC** C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC

**BAZEL_VC_FULL_VERSION** 14.29.30133

**BAZEL_VS** C:\Program Files (x86)\Mic

[2022-02-28 17:15] goulaoalex opened #3130 "ModuleNotFoundError: No module named 'mediapipe.python._framework_bindings' on Raspberry Pi 3"
Hello, I'm having problems using mediapipe on my raspberry pi 3.
Using "import mediapipe" gives no error, however using "mp_drawing = mp.solutions.drawing_utils" (for example) gives out the following error message:
ModuleNotFoundError: No module named 'mediapipe.python._framework_bindings'

**My installation method was:**
1. sudo apt install ffmpeg python3-opencv python3-pip ;
2. sudo apt install

[2022-02-28 17:23] goulaoalex commented on #3130
I've also experienced the error "AttributeError: module 'mediapipe' has no attribute 'solutions'" after uninstalling and instaling mediapipe.
![Error 2](https://user-images.githubusercontent.com/71357969/156029167-f642050d-c0cd-4fe3-9ff5-07d24d394986.JPG)

[2022-02-28 17:28] Maisteru opened #3131 "Custom gesture detection for palm detection script."
Is there an open solution for learning some custom gestures?
I would like to make use of MediaPipe in my master thesis project and I am wondering if there is a solution for adding some custom gestures recognition to current model. Or do you maybe provide script for learning model? I have found this repo that base on MediaPipe and is related to my topic [link](https://github.com/samborba/training-m

[2022-02-28 19:48] zetyquickly commented on #3127
Hello,

So, in the table [here](https://google.github.io/mediapipe/solutions/pose.html#pose-estimation-quality) we see that AppleVision performs at 32.8 mAP on Yoga dataset, while BlazePose Light performs 45.0 mAP (am I right that this model is used in MediaPipe Pose Estimation Solution?).

On the other hand, we have Apple's [documentation](https://developer.apple.com/documentation/vision/detectin

[2022-03-01 03:07] sambath-krian commented on #3129
build : bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 --action_env PYTHON_BIN_PATH="C:\Program Files\Python37\python.exe" mediapipe/examples/desktop/hand_tracking:hand_tracking_cpu --verbose_failures

[2022-03-01 04:00] jintaocui-lingoace commented on #3117
I read the document use GLOG_logtostderr = 1 bazel - bin/mediapipe/examples/desktop/hand_tracking/hand_tracking_gpu \
--calculator_graph_config_file=mediapipe/graphs/hand_tracking/hand_tracking_mobile.pbtxt Command but bazel - bin/mediapipe/examples/desktop/hand_tracking/hand_tracking_gpu without this folder then I use GLOG_logtostderr = 1 bazel-bin/mediapipe/examples/desktop/hand_tracking/hand_tr