[2021-10-28 08:42] flobaader opened #2724 "Feature Request: Hand Segmentation"
**System information**

- MediaPipe Solution: Hands
- Programming language : Python
- Are you willing to contribute it: No

**Describe the feature and the current behavior/state:**
I would be awesome if the hands solution would feature an segmentation like recenlty implemented in the pose tracking.

**Will this change the current api? How?**
Probably a new parameter called `enable_segmentation ` f

[2021-10-28 09:21] tomleader opened #2725 "FaceMesh web demo got errors on Mac Safari"
The facemesh demo url:
https://codepen.io/mediapipe/pen/KKgVaPJ

my Env: Macbook pro M1(Big Sur 11.4), Safari 14.1.1

When use Safari, errors occur.
1. If I use the default options(refine_landmarks==false), the landmarks on the canvas are on the wrong position,
which means the program itself runs ok, but the output is not right.

2. If I use the default options(refine_landmarks==true), the demo st

[2021-10-28 18:57] aankur opened #2726 "Accept the Webcodec VideoFrame interface"
Hi,
This is regarding the videoframe interface.
https://w3c.github.io/webcodecs/#videoframe-interface
https://web.dev/mediastreamtrack-insertable-media-processing/

Currently faceDetection.send({image: videoElement});

Or similar javascript api does not accept video frame directly.

It would be good to have.

**System information** (Please provide as much relevant information as possible)
Chrome 9

[2021-10-29 02:07] Ar4enal opened #2727 "Same Android code, works on OnePlus8 but can not work on Huawei phone"
My code is very similar to this demo.
https://github.com/google/mediapipe/blob/master/mediapipe/examples/android/src/java/com/google/mediapipe/apps/basic/MainActivity.java

When I run it on OnePlus8 it works fine. But when running on Huawei Mate30 or Mate30 Pro, the screen is black and here is the error.
_E/FrameProcessor: Mediapipe error:
    com.google.mediapipe.framework.MediaPipeException: int

[2021-10-29 05:35] #2727 closed, assigned to sgowroji

[2021-10-29 08:03] wangzi815 opened #2728 "why cannot send many pictures in version 0.8.8.1 or later"
when i send many pictures,only get 2 handresult in version 0.8.8.1 or later？in other version such as 0.8.7.1,when i send many pictures,eg 100,i can get 100 handresult. my code as below:
                            for (int i = 0; i < jpgfileList.size(); i++) {
                              String aa = "" + jpgfileList.get(i);
                              //System.out.println(aa);

[2021-10-29 08:32] liuguicen opened #2729 "For the android solution, provide a method to load tflite models from the file system instead of directly loading from Android assets in C++"
Thank you for your work！
For the android solution,  can you provide a way to load the model from a file system instead of directly loading it from the asset in C++.
Because in this way, developers can download the model through the server  when the user needs it. If packaging model into the apk, this will significantly increase the size of the package and affect the user experience.

[2021-10-29 09:19] Ankish opened #2730 "iOS Framework Crash on dealloc, in waitUntilDoneWithError"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe):
- OS Platform an

[2021-10-29 13:09] #2730 closed, assigned to mcclanahoochie, NikolayChirkov

[2021-10-29 18:48] eng-psycho commented on #1928
I can't fix it:,
[code]
could anyone help me?

[2021-10-29 20:10] Julianvaldesv opened #2731 "Failed to read file third_party/mediapipe/modules/hand_landmark/hand_landmark_full.tflite"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe):

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):
Windows 10
- Bro

[2021-10-30 03:43] sgowroji commented on #2731
Duplicate https://github.com/google/mediapipe/issues/2708 . Please have a look at the resolution provided in it.

[2021-10-30 14:15] Julianvaldesv commented on #2731
It's fixed now.

Thanks for your help.

On Fri, Oct 29, 2021, 10:43 PM GowrojiSunil ***@***.***>
wrote:

[2021-10-30 17:01] mysticidiot commented on #2695
Hi @sgowroji, so if I understand correctly, I should downgrade Bazel version to 3.7.2? Or should I downgrade the Python version since the issue in bazelbuild/bazel#13053 mentioned using a lower version of JDK.
What bazel version and python version would you recommend?

[2021-10-30 19:03] mhays-google commented on #2726
What does "video frame directly" mean to you?

[2021-10-30 19:12] eng-psycho opened #2732 "python3.10.0"
I'm using python version : 3.10.0
but when i  tried to install mediapipe .. I got this error:
[code]

[2021-10-30 19:25] mhays-google commented on #2725
I will bring this up to the team.  I'm assuming this it the new face_mesh enhancements that just went out a week ago, and that previous versions did work.

[2021-10-30 19:56] aankur commented on #2726
Please See this hands demo, with the MediaStream Insertable Streams API,
" VideoFrame is a CanvasImageSource. A VideoFrame can be passed to any method accepting a CanvasImageSource"
it would be great to use this directly rather than have to draw it on a canvas first,
this is applicable to all javascript supported solutions

[code]

[2021-10-30 21:26] PriyavartRajain commented on #724
@homuler thanks for the response! I changed the path to what you suggested but now i am getting this error:

C:\Users\rajai\mediapipe_repo\mediapipe>bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 --action_env PYTHON_BIN_PATH="C://Users//rajai//AppData//Local//Programs//Python//Python37//python.exe" mediapipe/examples/desktop/hello_world
DEBUG: C:/users/rajai/_bazel_rajai/y4gtkfyw/external/org

[2021-10-31 10:15] agneya-1402 commented on #1325
ERROR: Could not find a version that satisfies the requirement mediapipe (from versions: none)
ERROR: No matching distribution found for mediapipe

Using Python 3.10 on windows 10
Command used : python -m pip install mediapipe

Anyone got a fix ?

[2021-10-31 10:54] shabelson commented on #1325
the best practice I know is to :
1. Download python 3.7 (it can be in parallel to other python versions on the same machine)
2. create a virtual environment (several options - tutorial easy and available)
3. activate the venv and pip install on the said environment.
Good Luck!

[2021-10-31 14:41] ultralegendary opened #2733 "Documentation issue"
# face mesh landmark points
is there a landmark map for face mesh?.
coz i want the 468 points mapping of face
here is the mapping for hand which is found in the website: https://google.github.io/mediapipe/images/mobile/hand_landmarks.png
like this, I want the mapping for face. Tried search no lead :(.

[2021-10-31 17:36] codeastra2 commented on #1094
I had the same issue while building the hello world C++ example with i.e `Android SDK and NDK not set` with bazel version 6.0.0 finally got it to work using bazel 3.7.2 .

[2021-10-31 18:58] FUBAR2077 commented on #1514
Yea, not yet I suppose, I cannot install nuget too as it requires x86_64 architecture

[2021-10-31 21:11] spflueger opened #2734 "Selfie segmentation: filter out persons in background"
Hi all,
first of all thanks for open sourcing these useful packages and pre-trained models

<em>Please make sure that this is a feature request.</em>

**System information** (Please provide as much relevant information as possible)

- MediaPipe Solution (you are using): selfie segmentation
- Programming language : python
- Are you willing to contribute it (Yes/No): yes

**Describe the feature and

[2021-11-01 05:20] sgowroji commented on #2732
Hi @eng-psycho, Python 3.10 is not supported by Mediapipe yet. Please use Python 3.7 to 3.9. Thanks!

[2021-11-01 05:22] #2732 closed

[2021-11-01 05:28] sgowroji commented on #2733
Hi @ultralegendary, Are you looking for this https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_geometry/data/canonical_face_model_uv_visualization.png

[2021-11-01 05:47] ultralegendary commented on #2733
exactly!
thank you @sgowroji

[2021-11-01 05:47] #2733 closed

[2021-11-01 06:04] sgowroji commented on #2695
Hi @mysticidiot, Can you try executing the command `bazel clean --expunge ` and please follow the steps from [here](https://google.github.io/mediapipe/getting_started/install.html#installing-on-windows). Python 3.7 to 3.9 and Bazel 3.7.2  to higher.

[2021-11-01 06:05] #2731 closed

[2021-11-01 06:19] sgowroji commented on #2723
Hi @edgar-bcn, Could you please confirm your opencv is installed and properly setup in the machine. Can you try doing the https://github.com/google/mediapipe/blob/master/setup_opencv.sh and verify the above steps . Logs shows issues of opencv not properly setup.

[2021-11-01 06:22] sgowroji commented on #2716
Hi @taatiq882, If you are looking for Hand solutions in android you can use the same with gradle api  from [here](https://google.github.io/mediapipe/getting_started/android_solutions.html) if you still face error in building the hand solutions in android.

[2021-11-01 06:24] #1889 closed

[2021-11-01 12:32] AlexeiKaplenko opened #2735 "mediapipe js how to upload and download pre-recorded video"
- MediaPipe Solution: Hands, Pose, Face-mesh
- Programming language : typescript, javascript

1)How can I upload a video without using SourcePicker from the controls panel and then process it using mediapipe js solutions?
2)How can I download pre-recorded video after processing? If I understood correctly each frame is processed independently and rendered on canvas. I can't find a solution how to c

[2021-11-01 12:51] #2668 closed

[2021-11-01 16:25] LT93L0 opened #2736 "Correcting Pose Estimation for specific Poses/Movements."
Hi!
While using Mediapipe for Pose Estimation I found that some of the poses are not precisely detected. I would like to detect Folk dancing motives and sometimes Mediapipe estimates the move badly or doesn't even see it.
So my question is that: Is there a way to correct these miss calculated moves with my own dataset of folk dancing? Is there a way to teach the algorithm further so it would find

[2021-11-01 17:39] mysticidiot commented on #2695
Hey. I resolved the issue by downgrading my Bazel version to 3.7.2 and Python 3.7.6
The example codes are working now. Thank you!

[2021-11-01 17:39] #2695 closed

[2021-11-01 18:56] brndusic commented on #1988
@sn1c3 at the end have you found any solution for this. What scale have you used?

[2021-11-01 19:34] tyrmullen commented on #2726
VideoFrame may be a CanvasImageSource, but that doesn't mean it can be used as a texture source for a WebGLRenderingContext (and I believe it can't, although I haven't tried it yet myself).  Try videoFrame.createImageBitmap() instead.

[2021-11-01 21:00] aankur commented on #2726
Hi,
videoFrame.createImageBitmap is not a function

[2021-11-01 21:08] aankur commented on #2726
Hi,
As per the sample implementation here, it looks to be used in a webgl context directly.
https://github.com/webrtc/samples/blob/gh-pages/src/content/insertable-streams/video-processing/js/webgl-transform.js#L185

for Chrome 90+

[2021-11-01 21:54] tyrmullen commented on #2726
That's even better then!  I didn't see that capability mentioned in the [W3 specs](https://www.w3.org/TR/webcodecs/), but if it can be used for texImage2d, then you should be able to just pass the VideoFrame through directly.  Just add and fill in a "width" and "height" field to your VideoFrame, and cast it as ImageBitmap if you need to (i.e. if TS compiler complains), and then send it directly in

[2021-11-01 23:06] vinothinips commented on #1615
Hello, I am also looking for the list of 468 landmark names! Please share if you have

[2021-11-01 23:10] arashtavakoli commented on #1615
Kinda interesting that I cannot find this anywhere on the documentation. Starting to think that I misunderstood the purpose of this. Because honestly without knowing the names of landmarks it sounds really hard to use them for some specific applications.

[2021-11-02 01:28] wangzi815 commented on #2728
no error,eg:i input 100 bitmaps,but get only 2 hand result ,later,no other result output..v0.8.7 has no such problem.

[2021-11-02 03:57] sgowroji commented on #2699
Hi @xiaogong331, You can reuse the same implementation by adding one more loadUrl() method. Where you will be rendering the webview using the above streaming url.  You should be adding a <WebView> element  in xml file with no visibility initially. And enable the visibility of the <webview> only before when you want to loadUrl.

[2021-11-02 04:01] sgowroji commented on #2735
Hi @AlexeiKaplenko, Have you tried checking our [codepen examples ](https://codepen.io/mediapipe) in MediaPipe. You can upload a video from the control options. Thanks!

[2021-11-02 04:02] sgowroji commented on #2736
Hi @LT93L0, Could you please point us the badly effected output with video recording or images to understand the issue much better. Thanks!

[2021-11-02 05:04] salsabeel123 commented on #1615
below is the link
https://github.com/tensorflow/tfjs-models/commit/838611c02f51159afdd77469ce67f0e26b7bbb23

[2021-11-02 05:20] aankur commented on #2726
Hi,
That worked, supplied custom (width, height) property to videoFrame.
so for chrome version <=90 use videoFrame.createImageBitmap()
and chrome 90+ use videoFrame but add width, height to the object

[2021-11-02 06:47] LT93L0 commented on #2736
Sure I will send you. But I just want to know that is there a way to make some of the estimations more precise with my own dataset?

[2021-11-02 06:55] hengshan123 opened #2737 "How to get the op list in tflite"
I want to use mediapipe tflite model in other project. So i want to know the op list in tflite, how to parse the tfilte model ?

[2021-11-02 07:17] TsainGra commented on #1726
Hi, I am facing the same issue with Autoflip on Ubuntu 20.04

[2021-11-02 07:51] #2679 closed

[2021-11-02 08:56] ArashHosseini commented on #2691
same error here

[2021-11-02 10:00] czy2014hust opened #2738 "mediapipe processing video on iOS have big memory(but not leak) when maxFramesInFlight is 0 default"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): YES
- OS Platform

[2021-11-02 11:08] hengshan123 commented on #2737
I get a solution, using flatc and schema.fbs.

[2021-11-02 11:50] #2737 closed

[2021-11-02 11:57] vderelle commented on #1599
@Shubham-Pachade you should compile it within a Linux OS. The pthread_setname_np is not portable. That's that the _np in the function name stands for. I recommend compiling the "pthread name shim" as part of a Docer image build process defined in your Dockerfile. Then deploy your Lambda function as a Docker image.

[2021-11-02 13:13] 3bdo7ss opened #2739 "Error while making Hand Tracking module"
Hi I have this problem while I'm making Hand Tracking module
Windows 10

code:

`

    import cv2
    import mediapipe as mp
    import time

    class handDetector():
        def __init__(self, mode=False, maxHands=2, detectioncon=0.5, trackcon=0.5):
            self.mode = mode
            self.maxHands = maxHands
            self.detectioncon = detectioncon
            self.trackcon = trackcon

[2021-11-02 13:35] shaheen14git commented on #1905
Hey! I'm also having the same problem as @Kartikeyajhalani but unfortuately #1839(comment) didn't work for me.
System Details:

- Pycharm 21.1.2
- Python 3.8
- Windows 10

Traceback (most recent call last):
  File "C:/Users/username/PycharmProjects/python-project/TrackingModule.py", line 2, in <module>
    import mediapipe as mp
  File "C:\Users\username\PycharmProjects\python-project\venv\lib\sit

[2021-11-02 14:56] zzmicer commented on #2665
Hello again, @kostyaby!
I've met another challenge related to this issue. I am trying to run my liquify filter on an ios device.

Should I rewrite the whole OpenCV logic to OpenGL? Or I just need to convert my modified opencv image buffer(ImageFrame) to GpuBuffer?

[2021-11-02 15:17] edgar-bcn commented on #2723
But I'm running MediaPipe on Windows not WSL.

I installed x86 version of OpenCV (and change PATH according) but nothing.

[2021-11-02 16:59] nicolasoros commented on #2675
Hi @tyrmullen and @sgowroji ,
has this problem been investigated or fixed?
Should we re-open this issue?

[2021-11-02 17:08] sn1c3 commented on #1988
hi @brndusic,
take a look at [pose_world_landmarks](https://google.github.io/mediapipe/solutions/pose.html#pose_world_landmarks) from version v0.8.6. With pose_world_landmarks, they return normalized landmarks.

[2021-11-02 19:35] Ankish opened #2740 "iOS Objc : Get LandmarkList instead of NormalizedLandmarkList"
Thank you for submitting a MediaPipe documentation issue.
The MediaPipe docs are open source! To get involved, read the documentation Contributor Guide
## URL(s) with the issue:

Check out the example:
https://github.com/google/mediapipe/blob/master/mediapipe/examples/ios/posetrackinggpu/PoseTrackingViewController.mm

## Description of issue (what needs changing):

[code]
Crash:
if we use Landmark

[2021-11-02 20:56] jclay commented on #1155
@kostyaby Any chance you have some code in the wild that demonstrates integrating MediaPipe with a 3D engine such as Filament?

And to anyone in the open source community who is interested – we have a budget to fund work on an open source demo of a MediaPipe + external 3D engine integration. You can find my email in my profile.

[2021-11-02 21:02] jayshah52 commented on #2237
Did you get it to work? I am facing the error that Pose object is undefined and therefore is not a constructor

[2021-11-03 01:23] wangzi815 commented on #2728
the probblem only produce on the platform android,not on python.

[2021-11-03 01:57] czy2014hust commented on #2740
Because the type of the mediapipe graph's ouptut is `NormalizedLandmarkList `, change/modify the output type to be `LandmarkList ` if you wang to use this type.

[2021-11-03 02:22] brucechou1983 commented on #1155
@kostyaby

We're a small team trying to build applications on MediaPipe. In first few projects, the rendering stuff is quite straightforward. We wrote OpenGLES directly in calculators pretty mush like MediaPipe built-in examples. However when things become complicated, we realize that we need a 3D rendering engine to go further.

You mentioned two ways to integrate Filament with MediaPipe. The fir

[2021-11-03 03:30] Ankish commented on #2740
We did that, it crashes. Is this the right place to modify ?
` const auto& landmarksUnNormalized = packet.Get<::mediapipe::LandmarkList>(); `

[code]

[2021-11-03 04:34] sgowroji commented on #1400
Hi @Hakazaba, Could you please respond if you still looking resolution for the above query. Thanks!

[2021-11-03 05:04] sgowroji commented on #1945
Hi @name-era, This https://github.com/google/mediapipe/issues/1290#issuecomment-727150276 will answer your query better.  Thanks!

[2021-11-03 05:05] sgowroji commented on #2709
Hi @PaulCreaserML , This https://github.com/google/mediapipe/issues/1290#issuecomment-727150276 will answer your query better.  Thanks!

[2021-11-03 05:07] sgowroji commented on #2595
Hi @haibowang1427 , You can refer the https://github.com/google/mediapipe/issues/1290#issuecomment-727150276 for your query .  Thanks!

[2021-11-03 06:57] czy2014hust commented on #2740
Modify the mediapipe graph(pbtxt) you use.

[2021-11-03 07:23] pkoppise commented on #2664
Hi I was able to integrate the mediapipe as a lib (libmediamediapipe.so) and using in c++ Qt project, while running the application I have following error while adding input packet to graph

    // Send image packet into the graph.*/
    size_t frame_timestamp_us = static_cast<double>(cv::getTickCount()) / static_cast<double>(cv::getTickFrequency()) * 1e6;
    absl::Status st = graph.AddPacketToIn

[2021-11-03 08:31] wingdi opened #2741 "About face_effect, will you add glTF file format support?"
I want realize some functions like Apple's Animoji effect using mediapipe,  But seems like Mesh3d format don't have morph_target and animation elements .

[2021-11-03 08:33] Ankish commented on #2740
I am using full-body pose for iOS. What I see normalized points setup is over multiple files? Is it possible to get both normal and normalized landmarks than just one of it.

[2021-11-03 09:07] sgowroji commented on #2741
Hi @wingdi, Could you please elaborate your query with complete details. Thanks!

[2021-11-03 11:00] Metadorius commented on #2739
I have the same issue. Hands solution in MediaPipe 0.8.8.1 seems to be broken. In 0.8.8.0 the solution is working fine though. Just for the record this was tested on Python versions 3.9.7 and 3.9.1, in virtual environments.

[2021-11-03 12:35] Kartikeyajhalani commented on #1905
Try running this, it might help
pip install msvc-runtime

[2021-11-03 12:41] shaheen14git commented on #1905
Thanks for your response, but unfortunately this didn't work for me. The same error is still persisting

[2021-11-03 13:05] kevinwhzou commented on #723
https://github.com/houmo-ai/mediapipe_plus

[2021-11-03 13:07] kevinwhzou commented on #2000
The mediapipe_plus project can help you use the tensorrt interface to accelerate mediapipe inference.
https://github.com/houmo-ai/mediapipe_plus

[2021-11-03 13:45] ROBYER1 commented on #2324
Think I am having the same issue on MacOS for both IOS and Mac targets

[2021-11-03 17:10] FrederikMindtrace commented on #1972
I have the same issue with the currently latest version, following the steps in the [documentation](https://google.github.io/mediapipe/getting_started/install.html#installing-using-docker), so this is not solved. Also, step 3 of the documentation expects there to be a "bazelisk" command, which is not found. Using the steps in the [Hello World page](https://google.github.io/mediapipe/getting_starte

[2021-11-03 17:51] #2680 closed, assigned to sgowroji

[2021-11-04 00:54] AndreV84 commented on #2000
@kevinwhzou thank you fir sharing! I wil try to setup it on AGX

[2021-11-04 04:51] #2671 closed

[2021-11-04 04:51] #2603 closed

[2021-11-04 05:51] #2670 closed

[2021-11-04 10:10] przemoch-dev commented on #2722
I have the same issue building from master on Jetson Xavier NX - Ubuntu 18.04

@monit-org did you resolve it yet?

[2021-11-04 10:51] karataserol commented on #2603
ok thank you so much mr.Hadon ı solved my problem with your solition

[2021-11-04 12:58] monit-org commented on #2722
No. I'm still waiting for the response. Checking every day that I'll get any answer.

[2021-11-04 16:21] jiuqiant commented on #2722
Similar to the explanation and the solution described in https://github.com/google/mediapipe/issues/1733#issuecomment-828661652, you probably want to upgrade the gcc version.

[2021-11-04 18:29] gkarpiak commented on #2604
Some heads up: should be fixed in the upcoming release.

[2021-11-04 21:25] INF800 opened #2742 "TypeError: __init__() got an unexpected keyword argument 'model_selection'"
mediapipe==0.8.3 is the latest possible version supported in python 3.6.

We cannot use face detection `model_selection` in it like this
[code]
Causing
[code]

Shall I send a PR fixing this issue?

It works if we remove  'model_selection' as in
[code]

[2021-11-05 07:19] przemoch-dev commented on #2722
@monit-org which version did you try to build? I had this issue on master, but was able to build it when checkout to 0.8.4. Now I face some other error, but the compilation passed

[2021-11-05 07:31] przemoch-dev opened #2744 "Trying to build on Xavier NX and got: undefined symbol: zaxpyc_k on import"
**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution: Nvidia Ubuntu 18.04
- Compiler version: gcc 7.5.0
- Programming Language and version: Python 3.8.8
- Installed using virtualenv? pip? Conda?: venv
- [MediaPipe version](https://github.com/google/mediapipe/releases): 0.8.4
- Bazel version: Bazelisk

**Describe the problem**:
I'm trying t

[2021-11-05 08:34] allanchua101 opened #2745 "Mediapipe JS is working on IOS Chrome, Mozilla Windows but not Windows Chrome"
**System information** (Please provide as much relevant information as possible)

- **OS:** Windows 10 Pro
- **Browser:** Chrome  95.0.4638.69
- **Programming Language and version** Javascript
- **[MediaPipe version]**: 0.5.1635989137
- **Solution:** Holistic
- I have used the code example below for all my interactions to mediapipe

**Describe the current behavior:**

When running the code below o

[2021-11-05 08:37] liuguicen opened #2746 "There is a online reporting error when use mediapipe in Android"
It will appear on a variety of Android systems and models

Thread Name: 'mediapipe/7989'
pid: 3169, tid: 7989  >>> a.baozouptu <<<
signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0000000000000000
  x0   0000000000000000  x1   0000000000000000  x2   0000007f7b9bee4c  x3   0000007f996f1000
  x4   0000007f996f7880  x5   0000000000000000  x6   000000000000000b  x7   0000000000000000
  x8   00000

[2021-11-05 09:11] edgar-bcn commented on #2723
The problem is when running build with --cpu=x64_x86_windows option parameter it goes to the default local repository as shown below.

1. Extract from mediapipe\third-party\BUILD:

alias(
    name = "opencv_binary",
    actual = select({
        "//mediapipe:android_x86": "@android_opencv//:libopencv_x86",
        "//mediapipe:android_x86_64": "@android_opencv//:libopencv_x86_64",
        "//media

[2021-11-05 14:36] HarryXD2018 commented on #2581
Hi, @DLGL99GL,

I am interested in the Python API you mentioned, would you please tell me what the API looks like? Thanks!

[2021-11-05 17:44] kostyaby commented on #2665
Hey @zzmicer,

If you want processing to be on iOS GPU then it has to be re-written from OpenCV to OpenGL ES / Metal. If you are fine with the processing to be left on CPU but you need it on GPU for the next pipeline stages, then simply converting ImageFrame -> GpuBuffer would suffice

[2021-11-05 18:12] kostyaby commented on #1155
@jclay: Hey! Unfortunately, I don't have an example myself. @duy-maimanh seems to have a working prototype, please reach out to them

@brucechou1983: Hey!

At the end of the day, there is a single GPU device and all you can do is send commands to it. When it comes to balance / bottleneck control, there's significantly less flexibility when compared to CPU. On CPU, you can try creating separate sys

[2021-11-05 19:37] mcclanahoochie commented on #2472
Selecting a GPU involves choosing the correct 'EGLDisplay', currently in MediaPipe this is done [here](https://github.com/google/mediapipe/blob/master/mediapipe/gpu/gl_context_egl.cc#L155).
Notice the `eglGetDisplay()`, which defaults to device 0.

You will need to replace `eglGetDisplay` with something like `eglGetPlatformDisplayEXT`, then have that select device 1.

An example using `eglGetPlatf

[2021-11-05 19:48] mcclanahoochie commented on #2458
A related issue/workaround https://github.com/google/mediapipe/issues/2693#issuecomment-949457335

[2021-11-05 21:44] CRYPTOOOKID commented on #1466
Thank you man. I was stuck on this for few hours now. This worked like a magic :D

[2021-11-06 03:49] DLGL99GL commented on #2581
![image](https://user-images.githubusercontent.com/69023459/140596906-3662febc-6875-428f-bbf9-f60611f3d9a6.png)

detected_object.rotation detected_object.translation  can find in Python Solution API of [https://google.github.io/mediapipe/solutions/objectron#javascript-solution-api](mediapipe objectron)

[2021-11-06 03:51] DLGL99GL commented on #2581
![image](https://user-images.githubusercontent.com/69023459/140597069-9558d8c1-ce27-49cf-b181-92bff700e8d6.png)

detected_object.rotation detected_object.translation can find in Python Solution API of [https://google.github.io/mediapipe/solutions/objectron#javascript-solution-api](url)

[2021-11-06 03:55] HarryXD2018 commented on #2581
Hi, thanks for replying. Actually, I am looking for the same question on Face Mesh. I didn't see you were discussing objection. Thanks anyway. :)

[2021-11-06 04:02] sgowroji commented on #2746
Hi @liuguicen , Could you please provide steps to reproduce the above error. Thanks!

[2021-11-06 04:10] Custards1 commented on #1611
Has any progress been made on this?

[2021-11-06 04:10] sgowroji commented on #2742
Hi @INF800, Could you please try with the latest release. Do you encounter any errors with the latest release. Thanks!

[2021-11-06 04:20] sgowroji commented on #2707
Hi @sygi, In Python it need huge coding  and we don't have any plans as of now.

[2021-11-06 04:20] #2707 closed

[2021-11-06 04:28] sgowroji commented on #2728
Hi @wangzi815, FlowLimiterCalculator does drop images during processing. And it is intended for new release.

[2021-11-06 04:29] #2728 closed

[2021-11-06 04:36] sgowroji commented on #2516
MediaPipe will not upgrade to bazel 4.2 until [tensorflow](https://github.com/tensorflow/tensorflow/blob/master/.bazelversion​​) does so.

[2021-11-06 04:36] #2516 closed

[2021-11-06 04:40] INF800 commented on #2742
I am not able to install 0.8.9 with python3.6 using `pip install
mediapipe==0.8.9`. The most recent available release is 0.8.3 according to
pip

On Sat, 6 Nov, 2021, 9:40 am GowrojiSunil, ***@***.***> wrote:

[2021-11-06 04:43] sgowroji commented on #2742
MediaPipe Python support extended you  can try 3.7 to 3.9.

[2021-11-06 04:48] INF800 commented on #2742
There are some requirements which restrict me to use 3.6 only.

On Sat, 6 Nov, 2021, 10:13 am GowrojiSunil, ***@***.***>
wrote:

[2021-11-06 04:50] INF800 commented on #2742
Here it states 3.6 is not supported. Wdym by "support extended"?

https://github.com/google/mediapipe/blob/f4e7f6cc48e89a4702860a370c431e56568800d1/setup.py#L451-L454

[2021-11-06 05:23] Kartikeyajhalani commented on #1905
How did you installed the module via pip or by searching it in packages and then installing it?

[2021-11-06 09:25] zbeedatm opened #2747 "FaceMesh - results.multi_face_landmarks is empty!"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Windows
- [MediaP

[2021-11-06 10:13] #2696 closed

[2021-11-06 11:43] LQ921003 commented on #2419
How to set this value, is there an answer?

[2021-11-06 12:12] zzmicer commented on #2665
@kostyaby Thank you for clarification!

[2021-11-06 17:14] shaheen14git commented on #1905
via pip. ie. pip install mediapipe

[2021-11-06 19:03] JpEncausse opened #2749 "camera_utils.js documentation"
I try to use FaceMesh solution in JavaScript.

I'm lookling for camera_utils.js deep documentation in order to select the correct webcam, etc ... like with `getUserMedia` because the Camera object select my front laptop camera :-(

I try to understand what is the code of `onFrame() ` so I would be able to bypass / rewrite my own (if it is simple).

[2021-11-06 19:24] fadi-GitHub commented on #1083
I am also facing the same problem if anyone of you solved it please reply.

[2021-11-06 19:35] fadi-GitHub commented on #2696
@loiswen was your problem solved if yes please tell as I am facing the same problem.

[2021-11-07 05:02] Kartikeyajhalani commented on #1905
Then try this and tell me if the problem persists.
1. open command prompt or powershell (whatever you use).
2. run pip install mediapipe
3. run python
4. then import mediapipe

This will tell us that the the problem is virtual environment or your system.

[2021-11-07 05:57] AngeMervaneJdev commented on #1928
I have just intalled mediapipe on my environment but i get this error

**AttributeError: partially initialized module 'mediapipe' has no attribute 'python' (most likely due to a circular import)**

i need your help please

[2021-11-07 06:57] Hpal76832 commented on #1928
Change the name of your file in which you are using mediapipe

On Sun, 7 Nov 2021, 11:28 am AngeMervaneJdev, ***@***.***>
wrote:

[2021-11-07 13:58] shaheen14git commented on #1905
Thanks for your support. I tried whatever you said . Looks like problem is
with system only.

C:\Users\Shaheen>pip install mediapipe
Requirement already satisfied: mediapipe in
c:\users\shaheen\appdata\local\programs\python\python38\lib\site-packages
(0.8.9)
Requirement already satisfied: attrs>=19.1.0 in
c:\users\shaheen\appdata\local\programs\python\python38\lib\site-packages
(from mediapipe) (2

[2021-11-07 14:55] Kartikeyajhalani commented on #1905
Well, that's all I know.
I lastly recommend downloading and installing vc redist on your system.

[2021-11-07 17:10] zbeedatm commented on #2747
I tried with other pictures that I took with laptop webcam with close up to the face and it works fine.
The problem is when the face is far from the camera (about 2 meters in my case)... is there a way to optimize it to support such images? what is the minimal distance in order the algorithm can catch the face?

[2021-11-07 22:08] JpEncausse opened #2750 "Using a Face Effect on Face Mesh for Desktop/JS"
According to the [documentation](https://google.github.io/mediapipe/solutions/face_mesh.html#effect-renderer) and [this issue](https://github.com/google/mediapipe/issues/1155) it's possible to apply a PNGBlob 2D or 3D to a FaceMesh.

- Is there an example for Desktop / JS ?
- Android code seems to use a [FaceMeshResult + GPU trick](https://google.github.io/mediapipe/solutions/face_mesh#face-effect

[2021-11-08 04:46] liuguicen commented on #2746
Hello, thank you for your reply.
Here are our steps. We use the officially provided Android solution facemesh-0.8.9-alpha-1. The steps are as follows

private void  initFaceMesh(){
        //设置面部选项
        //设置当前为静态图片
        //优化坐标开启
        //开启Gpu计算
        FaceMeshOptions faceMeshOptions = FaceMeshOptions.builder()
                .setStaticImageMode(true)//设置当前为静态图片
                .setRefine

[2021-11-08 04:47] Takendra opened #2751 "Issue in build command"
On execution this command on ubuntu terminal

bazel build -c opt --config=android_arm64 mediapipe/examples/android/src/java/com/google/mediapipe/apps/handtrackinggpu:handtrackinggpu

below is the error

/home/takendra/mediapipe/third_party/BUILD:186:6: //third_party:opencv_binary depends on @linux_opencv//:opencv in repository @linux_opencv which failed to fetch. no such package '@linux_opencv//':

[2021-11-08 05:13] #2698 closed

[2021-11-08 06:53] sgowroji commented on #2751
Hi @Takendra, There is already an issue with similar error and Duplicate of (https://github.com/google/mediapipe/issues/2723).

[2021-11-08 07:08] sgowroji commented on #2650
Hi @zhoujingheng, Could you please elaborate your query with more details. What do you mean by texture id? TextureFrame is an interface here. Are you trying to access **TextureFrame**

[2021-11-08 07:43] sgowroji commented on #2705
Duplicate https://github.com/google/mediapipe/issues/2604#issuecomment-961309080

[2021-11-08 09:00] AItechnology commented on #57
@jiuqiant For snowboarding.mp4, it was right, but it got the same error(not all frames decoded 532 vs 531) if I use life_at_google.mp4

[2021-11-08 09:13] #2652 closed

[2021-11-08 14:37] jiuqiant commented on #2739
Because Hand's __init__ now has 5 params and the third parameter is model_complexity, which is an int. Please modify your code accordingly.

[2021-11-09 04:14] 13717630148 opened #2752 "c++ and python api got different landmark features in human pose"
i first used following code to get landmark of a frame:
``from mediapipe.python.solutions import pose as mp_pose

pose_tracker = mp_pose.Pose()

result = pose_tracker.process(image=input_frame)

pose_landmarks = result.pose_landmarks

pose_landmarks = np.array([[lmk.x * frame_width, lmk.y * frame_height, lmk.z * frame_width]
                                        for lmk in pose_landmarks.landmar

[2021-11-09 06:57] sgowroji commented on #2752
Hi @13717630148, Could you please provide your Code changes, Configuration details. Thanks!

[2021-11-09 07:08] 13717630148 commented on #2752
no problem. my co-worker will upload it

[2021-11-09 09:59] furkandindar commented on #2750
Hi, I am also curious if you have a JS  demo or documentation about face effects. I've been trying to use MediaPipe + ThreeJS to render sunglasses on the face using MediaPipe's facemesh, but I would very much like to try MediaPipe's own face effect renderer as stated in this [documentation](https://google.github.io/mediapipe/solutions/face_mesh.html#effect-renderer)

[2021-11-09 10:11] sgowroji commented on #2750
Hi @furkandindar, Have a look at this https://github.com/google/mediapipe/issues/2673#issuecomment-946113076

[2021-11-09 10:16] sgowroji commented on #2746
Hi @liuguicen,  On Which device are you seeing the above error? Can you share the  device configuration ?

[2021-11-09 10:18] sgowroji commented on #2742
Yes model_selection is one of the argument in it.

[2021-11-09 10:18] #2742 closed

[2021-11-09 10:30] sgowroji commented on #2211
Have a look at this https://github.com/google/mediapipe/issues/2472#issuecomment-962167806

[2021-11-09 10:46] sgowroji commented on #2646
Hi @Sreerag-ibtl, Can you check this in latest version https://github.com/google/mediapipe/issues/2567#issuecomment-951182239

[2021-11-09 10:57] sgowroji commented on #2626
It works on single image as mentioned here https://google.github.io/mediapipe/solutions/iris.html#single-image-depth-estimation.

[2021-11-09 10:57] #2626 closed

[2021-11-09 10:59] sgowroji commented on #2623
Hi @ludidilu, Could you please elaborate your query with more details. Thanks!

[2021-11-09 11:02] sgowroji commented on #2607
Hi @richardhfj, You can understand it from here https://github.com/google/mediapipe/issues/1160#issuecomment-872706753

[2021-11-09 11:08] sgowroji commented on #2594
Hi @capt-sms, Can you pull the latest version and check . Its updated now https://github.com/google/mediapipe/blob/33d683c67100ef3db37d9752fcf65d30bea440c4/WORKSPACE#:~:text=%23%20ABSL%20cpp%20library,)

[2021-11-09 11:08] #2594 closed

[2021-11-09 11:35] Cristeen20 opened #2753 "mediapipe hand function call makes other elements in canvas slow"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
- OS Windows 10
- I am using mediapipe js hand
- Programming Language and version ( e.g. C++, Python,

[2021-11-09 11:54] Winvoker opened #2754 "Aligned bounding box using facemesh"
- MediaPipe Solution (you are using): FaceMesh
- Programming language : Python

I am using facemesh and i want to get aligned bounding boxes from an image or directly from webcam. In this gif in mediapipe's docs, is drawing a perfectly aligned bounding box however in the API I could not get any bounding box when using facemesh. So i found a code which can get me a bounding box from max-min keypoin

[2021-11-09 11:58] ArashHosseini commented on #2625
@laitaiyu good day. I solved this issue with following modification,

in mediapipe/graphs/holistic_tracking/BUILD add : "//mediapipe/calculators/core:packet_presence_calculator". Be aware you have to add this for **holistic_tracking_cpu_graph_deps**
[code]
in **mediapipe/graphs/holistic_tracking/holistic_tracking_gpu.pbtxt** add :
[code]
and in **mediapipe/examples/desktop/demor_run_graph_main_gpu

[2021-11-09 12:13] #2682 closed

[2021-11-09 12:54] Sreerag-ibtl commented on #2646
@sgowroji Tested with 0.8.8-alpha-2 and no crash occurred this time.

[2021-11-09 13:37] Ram-Godavarthi opened #2755 "How to get embeddings from 468 landmarks (x,y,z)"
Hi,

I have used mediapipe facenet landmarks model.
I got 468 points with x, y, z values.

How to compare these with the stored image/ database image to perform verification. ??

Should I convert these 468 points (x,y,z) to embeddings (468 floats in the range [0,1]) and then perform verification ?? If yes, How to convert them to embeddings. ??

Any help would be really appreciated.

Thank you

[2021-11-09 14:30] pkoppise commented on #2489
I20211109 06:26:59.582561  1483 demo_run_graph_main_gpu.cc:58] Initialize the calculator graph.
I20211109 06:26:59.592662  1483 demo_run_graph_main_gpu.cc:62] Initialize the GPU.
libEGL warning: invalid EGL_PLATFORM given
I20211109 06:26:59.615502  1483 gl_context_egl.cc:163] Successfully initialized EGL. Major : 1 Minor: 4
W20211109 06:26:59.615597  1483 gl_context_egl.cc:168] Creating a context

[2021-11-09 14:40] #2646 closed

[2021-11-09 15:05] artakpoghosyan1 opened #2756 "Getting error when calling selfieSegmentation.send method in react project"
**I am trying to integrate [selfie segmentation](https://google.github.io/mediapipe/solutions/selfie_segmentation#javascript-solution-api) in `react` project**. Following the documentation example I have this code:

[code]

**and getting this error:**

[code]

[2021-11-09 15:15] willstott101 commented on #2489
Have you tried applying #2608 ?

[2021-11-09 15:22] pkoppise commented on #2489
I did not apply the patch 2608 ..will make changes and share the output..thanks for the reply @willstott101

[2021-11-09 15:32] willstott101 commented on #2489
Also `libEGL warning: invalid EGL_PLATFORM given` is suspicious. Are you running with a `EGL_PLATFORM=` envvar? The patch at #2608 is only relevant if you're trying to run on a headless pi without x11

[2021-11-09 15:40] pkoppise commented on #2489
Guess I am running the headless pi without x11 (i am not sure), but DISTRO  does not contain feature x11

root@raspberrypi4:/home/root#
root@raspberrypi4:/home/root# export EGL_PLATFORM=wayland
root@raspberrypi4:/home/root# /usr/bin/hand_tracking_gpu --calculator_graph_config_file=mediapipe/graphs/hand_tracking/hand_tracking_desktop_live_gpu.pbtxt
E20211109 07:39:03.635126  1664 demo_run_graph_mai

[2021-11-09 16:13] sgowroji commented on #2756
Hi @artakpoghosyan1, Can you confirm the files downloaded properly https://github.com/google/mediapipe/issues/2631#issuecomment-944661312. Thanks!

[2021-11-09 16:13] #2446 closed

[2021-11-09 16:20] pkoppise commented on #2489
1) Applied patch
2)  "export EGL_PLATFORM=wayland"
3) GLOG_logtostderr=1 /usr/bin/hand_tracking_gpu --calculator_graph_config_file=mediapipe/graphs/hand_tracking/hand_tracking_desktop_live_gpu.pbtxt  --outpu
t_video_path=hand_gpu.avi

o/p: no errors

I20211109 08:18:04.479142  1725 demo_run_graph_main_gpu.cc:58] Initialize the calculator graph.
I20211109 08:18:04.489197  1725 demo_run_graph_main_g

[2021-11-09 16:38] asprecic commented on #1162
I also had that problem where poller would return. It is required that the tflite model is located at "mediapipe/modules/selfie_segmentation/selfie_segmentation.tflite" of wherever your binary is.
This path can be changed if you dig into mediapipe.

[2021-11-09 16:45] asprecic commented on #1162
Thank you very much for this help. This was the missing puzzle I needed to produce .so and be able to interface to mediapipe from other projects.

I was able to produce .so on linux, and link to it from another Qt project. I did have to manually copy the header file for interface which I created.

Overall, it is possible to integrate this into existing c++ projects, it's just not easy, simple nor

[2021-11-09 16:46] jiuqiant commented on #2747
We currently only support switching the detection model in FaceDetection via the model_selection option: https://google.github.io/mediapipe/solutions/face_detection#model_selection. However, we don't have such support in FaceMesh yet.

[2021-11-09 18:30] pkoppise commented on #2489
I20211109 10:26:57.418800  1775 demo_run_graph_main_gpu.cc:58] Initialize the calculator graph.
I20211109 10:26:57.428886  1775 demo_run_graph_main_gpu.cc:62] Initialize the GPU.
I20211109 10:26:57.451319  1775 gl_context_egl.cc:164] Successfully initialized EGL. Major : 1 Minor: 4
I20211109 10:26:57.454751  1780 gl_context.cc:331] GL version: 3.1 (OpenGL ES 3.1 Mesa 20.0.2)
I20211109 10:26:57.455

[2021-11-09 18:59] mhays-google commented on #2750
We expose the 3d geometry of the face, and this can be fed directly into toolkits such as ThreeJS.  We have internal demos showing face effects.  I will bring this up to the team as I would love to release this to the larger community.

[2021-11-09 19:55] zbeedatm commented on #2747
Ok thanks, closing it.

[2021-11-09 19:55] #2747 closed

[2021-11-09 20:57] wingdi commented on #1678
Hi, This is my 3d face model's morph targets:
[code]
Can you general idea of telling me how to set the morph weights value using facial landmarks ?

[2021-11-09 21:38] wingdi commented on #1678
[code]
Can you general idea of telling me how to set the morph weights value using facial landmarks ?  I know the basic method is to calculate difference value of certain landmarks. But there are too many landmarks changed,  is there any algorithm to calculate ?

[2021-11-10 02:33] FathiMahdi commented on #742
@Monika-Saleeb how did you get the landmark for individual points ?

[2021-11-10 02:58] #2741 closed

[2021-11-10 04:07] kXborg opened #2757 "How to implement 3d glass rendering using facemesh."
Hi, can someone tell me how to implement 3d glass ( or any custom object) rendering using Facemesh? As it is shown on the documentation page. I can't find any example code for that.
![example](https://google.github.io/mediapipe/images/face_geometry_renderer.gif)

[2021-11-10 04:20] pkoppise commented on #1162
@asprecic  @willstott101
Now able to run hand-tracking cpu example as an QML application.
a) Generated libmediapipe.so
b) Resolved all the dependencies (absl)
c) Created a QML application (backend c++, where i am using mediapipe, opencv) and in .pro file linked all needed dependencies
Thanks a lot for the help

[2021-11-10 05:14] sgowroji commented on #2757
Hi @kXborg, Present we don't have any example, but you can go through this for more understanding https://github.com/google/mediapipe/issues/1155. You can also build one from here https://google.github.io/mediapipe/solutions/face_mesh#face-effect-example

[2021-11-10 06:13] #2656 closed

[2021-11-10 06:46] zhoujingheng commented on #2650
yes, i want to get texture and do more effect

[2021-11-10 07:25] JHshen0124 commented on #2419
I have the same problem

[2021-11-10 07:39] artakpoghosyan1 commented on #2756
Hi @sgowroji. I've installed all file via npm and imported them in my component. So yes files are downloaded.

<img width="763" alt="Screen Shot 2021-11-10 at 11 38 35" src="https://user-images.githubusercontent.com/13457544/141070203-c162c0ab-9316-4ef8-8cd2-bb6d19b88043.png">

[2021-11-10 09:22] TonyStark8250 opened #2758 "AttributeError: module 'mediapipe' has no attribute 'solutions'"
First of all I couldn't install mediapipe with pip so I cloned the repo and copied the "mediapipe" folder and pasted it in python's site-packages folder. But when I try
`import mediapipe as mp

mpHands = mp.solutions.hands`

it says "mediapipe has no attribute solutions" but there is the solutions folder inside the mediapipe's python folder. I'm using python 3.8 and currently on windows 7 32bit. I

[2021-11-10 10:01] cbasavaraj commented on #1427
Hello, I have a question on Camera vs SourcePicker. At the moment, SourcePicker isn't working on iPhone 12, but Camera is, after adding `playsinline="true" crossorigin="anonymous"`. But Camera doesn't allow changing the resolution on the fly, for example, if the phone is turned by 90 degrees. Anyway to get the `size` field while using Camera?

Source Picker:
[code]

Camera:
[code]

[2021-11-10 10:25] l3ehfar commented on #1929
Hi, the link you provided doesn't work, can I take a look at your code please?

[2021-11-10 11:40] sgowroji commented on #2758
Hi @TonyStark8250,   Have you tried checking this https://google.github.io/mediapipe/getting_started/python.html#mediapipe-in-python

[2021-11-10 17:11] mhays-google commented on #2581
Sure enough!  Python and JavaScript operate off of the same internal data.  I'll raise this issue and we'll get rotation/translation/scale into the javascript API.

[2021-11-10 17:15] #2694 closed

[2021-11-11 00:55] berrymoor commented on #1155
Hi, @kostyaby can you share this effect graph file?

[2021-11-11 01:38] ats05 opened #2759 "How to use segmentation with Pose solution on TFJS?"
<em>Please make sure that this is a feature request.</em>

**System information** (Please provide as much relevant information as possible)

- MediaPipe Solution (you are using): Pose
- Programming language : typescript(JavaScript)
- Are you willing to contribute it (Yes/No): Yes

Currently, the segmentation mask is not available in Pose solution on TFJS runtime.
Are there any plans for this to be

[2021-11-11 02:00] mhays-google commented on #2581
Hey there.  Face_mesh does emit a matrix transform for the face.  A little different than scale/transform/rotation, but a lot easier when dealing with packages like threejs where you might be sticking something onto the face.

[2021-11-11 02:04] mhays-google commented on #2581
I have released a new version of Objectron (0.4) that surfaces scale/rotation/translation on the results object, just as you would expect.  I'll update the live demo to point to this version soon.  Tell me if you have any issues, but I'll close this for now.

[2021-11-11 02:16] Karim-Sheetos2269 opened #2760 "Neck point"
How do I get a neck point?

[2021-11-11 02:25] HarryXD2018 commented on #2581
Thanks for replying. Honestly, I have been finding the matrix transform (Python face mesh solution) for days. Would you please show me how to get it? That would help me a lot.

[2021-11-11 04:01] sgowroji commented on #2759
Hi @ats05, Could you please confirm the above query is about https://google.github.io/mediapipe/solutions/pose#enable_segmentation in Javascript MediaPipe pose solution. Please check and reach out for more information. Thanks!

[2021-11-11 05:23] ats05 commented on #2759
Hi @sgowroji ,

Thank you for response.
Yes, I'm just asking to that config.

[2021-11-11 06:56] rexsphere commented on #1839
@dillinho solution worked for me when running in vs code

[2021-11-11 08:01] sgowroji commented on #2759
You can set  enableSegmentation: true,
as below in Javascript solution and can find the same in control options of [codepen](https://codepen.io/mediapipe/full/jOMbvxw) examples

`pose.setOptions({
  modelComplexity: 1,
  smoothLandmarks: true,
  enableSegmentation: true,
  smoothSegmentation: true,
  minDetectionConfidence: 0.5,
  minTrackingConfidence: 0.5
});`

[2021-11-11 08:01] #2759 closed

[2021-11-11 09:00] aliakbarhamzeh1378 opened #2761 "Document about use Custom model"
Hello.
is there any documents or tutorial for using a custom model on media pipe python or javascript?
I had a lot of searches, but I can't find anything about this.

[2021-11-11 09:01] 20gg commented on #1587
try to modiy  file  /mediapipe/WORKSPACE
`    repositories = [
        "https://maven.google.com",
        "https://dl.google.com/dl/android/maven2",
        "https://repo1.maven.org/maven2",
        "https://jcenter.bintray.com",
    ],
`
change yours maven repositories

[2021-11-11 09:18] sgowroji commented on #2761
Hi @aliakbarhamzeh1378, Could you please elaborate your query with More details.  Thanks!

[2021-11-11 09:25] aliakbarhamzeh1378 commented on #2761
I want to use selfie segmentation.
but the media pipe default model was not good for me.
I want to use other TensorFlow models for selfie segmentation and convert them to wasm ( web assembly ) for the load to my code.
I trying to find any document or tutorial about using a custom model on mediapipe js or python.
all of the documents and blog posts use the default model and there is not any documen

[2021-11-11 09:27] #2690 closed

[2021-11-11 11:17] pkoppise commented on #2489
@willstott101

a) generated libmediapipe.so for gpu (hand_tracking example) , included the patch https://github.com/google/mediapipe/pull/2608   as i am using RPI4 (webos) with Wayland - EGL
b) Used the lib in Qt/QML project
c) Compilation is good, ipk generated, insatlled ipk, rebooted the device
After launching the application got below logs

Adding screen 0xed3820 for wl_output 17 with displayI

[2021-11-11 11:34] DkAhmRin commented on #2074
I am facing a similar issue as @DeanIsMe

When using mediapipe facemesh in a loop, first a warning about glog:

[code]

[2021-11-11 15:25] homuler commented on #2696
As a workaround, you can install python in a path that does not contain spaces (e.g. `C:\Users\YOUR_ACCOUNT\AppData\Local\Programs\Python\Python39\python.exe`).

[2021-11-11 15:35] JpEncausse opened #2762 "Hardware Configuration for MediaPipe (Pose, ...) on Chrome"
Hi,
I'm looking for Hardware recommendation to run MediaPipe on Chrome to perform live Pose Estimation, Face Augmented Reality, for Digital Signage usecase (SmartMirror, Fitting Room, Sports Coach, etc ...)

My current SmartMirror use a Chromebit (HDMI Key on ChromeOS) small and great device no longer supported by Google. It's a ARM Cortex A17 1.8Ghz. But it's slow as hell on Pose Estimation might

[2021-11-11 16:42] mhays-google commented on #2581
We haven't normalized the representation across all of our languages.  So in this instance, the JavaScript folks are getting something ahead of time.  This is the reason there is no demo calling attention to it in the JavaScript library -- I jumped the gun a bit.  But I'll talk with the team.  I'd love to see what people do with this.

[2021-11-11 18:40] jianingwei commented on #2720
It is possible on iOS. But we don't have an example for iOS.

[2021-11-11 19:10] mpost commented on #2720
Thanks for the answer. Good to hear that it would work on iOS as well. Hope to see an example soon as well.

[2021-11-11 21:16] nihalraman opened #2763 "FaceMesh SavedModel Availability"
Hi! Are the savedmodel/.pb files for Facemesh are publicly available? I'm looking to fine-tune the model for an individual person (similar to https://www.tensorflow.org/hub/tutorials/tf2_image_retraining), and I can only find .tflite and TensorFlow js format files online. Thanks for the help!

[2021-11-11 21:57] ksiv commented on #1941
Okay.
 Samsung J1 J120FXXU2ARK1 (2016) Android 5.1.1
successfully installed after building with NKD api_level = 22.
Upon starting all I see is a white screen looks pretty much like not enough resources.
Please make this thread as a poll so we can build sys req.

[2021-11-11 23:00] laitaiyu commented on #2625
@ArashHosseini I encounter the fail message as below.

<pre>
ERROR: V:/__00-00__task/__mediapipe/mediapipe/calculators/image/BUILD:671:11: Compiling mediapipe/calculators/image/affine_transformation_runner_gl.cc failed: (Exit 2): cl.exe failed: error executing command C:/Program Files (x86)/Microsoft Visual Studio/2019/Enterprise/VC/Tools/MSVC/14.29.30133/bin/HostX64/x64/cl.exe /nologo /DCOMPILER_

[2021-11-12 02:14] tw0226 commented on #2664
I have similar issue with Selfie Segmentation model.
In my case, I wanted to change default path to my project path, actually did.
I think something in pbtxt points to tflite model.
how can i change default path to my project path?

[2021-11-12 05:17] sgowroji commented on #2763
Hi @nihalraman, You can find the models and model cards from here https://google.github.io/mediapipe/solutions/models.html.

[2021-11-12 08:33] ats05 commented on #2759
@sgowroji ,

Thanks for information.

And sorry, I was asking about "BlazePose with TFJS".
https://github.com/tensorflow/tfjs-models/tree/master/pose-detection/src/blazepose_tfjs

Perhaps I shouldn't have asked in the MediaPipe repository.

Thanks!

[2021-11-12 08:51] ArashHosseini commented on #2625
@laitaiyu can you confirm, you are using windows?

[2021-11-12 11:39] matildao-pane commented on #2427
Hi can you share your solution to this issue please?

[2021-11-12 13:27] laitaiyu commented on #2625
@ArashHosseini I make sure that use Windows 10 to compile the mediapipe code. My command is below. Whether my command is wrong?
<pre>
bazel build -c opt --action_env PYTHON_BIN_PATH="C://Users//mrlai//anaconda3//python.exe" mediapipe/examples/desktop/holistic_tracking:holistic_tracking_gpu
</pre>
or
<pre>
bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=0 --action_env PYTHON_BIN_PATH="C://Users//

[2021-11-12 14:53] zubairahmed-ai opened #2764 "Jetson Nano mediapipe 0.8.5 and AttributeError: module 'mediapipe.python.solutions' has no attribute 'drawing_styles'"
- OS Platform and Distribution : [Jetson Nano docker JetPack 4.6 (L4T R32.6.1) docker container](https://catalog.ngc.nvidia.com/orgs/nvidia/containers/l4t-ml)
- Programming Language and version : Python 3.9
- Installed using virtualenv? pip? Conda? (if python): pip
- [MediaPipe version](https://github.com/google/mediapipe/releases): 0.8.5

**Describe the problem**:
I have the dreaded error `Attrib

[2021-11-12 16:51] nihalraman commented on #2763
How do I convert either of these formats to the savedmodel format (or any other format where I can easily fine-tune the model with additional data)? Sorry if this is a basic question--I'm pretty new to this. Thanks for the help!

[2021-11-13 02:24] jerry11671 opened #2765 "Please what version of python is suitable for media pipe and other modules like autopy, numpy and the rest of them."

[2021-11-13 04:30] yashasviagarawal commented on #1466
i have python 3.6.7 bit pip install mediapipe is not working
it is showing this...

ERROR: Could not find a version that satisfies the requirement mediapipe (from versions: none)
ERROR: No matching distribution found for mediapipe

[2021-11-13 07:27] wangsen1312 commented on #2691
same error here, @jiuqiant  Do you have any suggestion? Thank you very much!

[2021-11-13 23:09] JpEncausse commented on #2762
I looked deeper into processor and according to benchmarks :
- Chromebit == RPi4 == ChromeCast Box
- Chrome Box Celeron is x2 better
- Chrome Box Corei3 is x6 better (half my Laptop CPU)
- Chrome Box Core i5 is x10 better

It's only the CPU, I assume MediaPipe in Chrome rely a lot on GPU also ?
Core i3 seems to be a sweat spot price vs power did someone give a try with Pose Estimation in a Browser

[2021-11-14 01:37] justin-f-perez commented on #2516
@sgowroji just fyi that link is broken if you want to edit (feel free to ignore if not) https://github.com/tensorflow/tensorflow/blob/master/.bazelversion

[2021-11-14 04:31] mnvaidya commented on #2448
You can also use  ** FACEMESH_TESSELATION  ** to form connections.
Refer this page - [https://google.github.io/mediapipe/solutions/face_mesh.html](url)

[2021-11-14 04:33] mnvaidya commented on #2448
You can also use -->    FACEMESH_TESSELATION         to form connection lines
Refer this page --->  [https://google.github.io/mediapipe/solutions/face_mesh.html](url)

[2021-11-14 06:57] AlexeiKaplenko commented on #2735
@sgowroji, I did try what you proposed  [#2485 (comment)](URL). The problem with this approach was that mediapipe processing speed is slower than video framerate (60 fps in my case). Thus using media recorder results in missing frames in the output video. Currently, I am using a hack to pause the original video while mediapipe processes the current frame, and then it starts playing  video again, t

[2021-11-14 09:35] cndcnd085 opened #2767 "Unable to find the type for stream "image". It may be set to AnyType or something else that isn't determinable,"
mediapipe0.87,  after building gpu python API success,i encount Unable to find the type for stream "image".  It may be set to AnyType or something else that isn't determinable,

[2021-11-14 14:25] FAHMYPAIZIAH commented on #1325
so I can't download mediapipe in python 3.10

[2021-11-14 14:25] FAHMYPAIZIAH commented on #1325
Same problem :)

[2021-11-14 18:11] burqtechnologies commented on #2259
i am also getting the exact same error..
please help me out with this

[2021-11-14 18:51] #2726 closed

[2021-11-14 20:02] matanster opened #2768 "Version 0.8.9 release notes and new hand landmarks model benchmark"
It seems that 0.8.9 is the version that gets installed now from pip, and it looks like it brings around two versions of the landmarks detection model: a light (lite) and a full landmarks detection model, both of which having very different sizes compared to the previously shipped model from previous versions. The same holds as to the palm detection model.

Could be nice to have some documentation

[2021-11-14 20:25] brndusic commented on #1988
Hi @sn1c3, I have tried with latest version v0.8.8.1 and with one you mentioned and always had the same problem.

Here are some of mine Z results from pose_world_landmarks:

[code]

As you can see my person is bent forward, and this is the case with all my images.

![image](https://user-images.githubusercontent.com/2099985/141697356-88aae5a2-1260-4506-828f-22001252d08a.png)

[2021-11-14 21:01] mehtapaxshal commented on #2669
Any updates guys?

[2021-11-14 22:41] gr4cza opened #2769 "Object tracking AAR generation and use"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Ubuntu 20.04
- [Media

[2021-11-15 01:59] LMR2018 opened #2770 "How to convert hand_landmark tFLite model to pb ​Save Model ?"
How to convert hand_landmark tFLite model to pb Save Model?

[2021-11-15 03:10] LMR2018 commented on #2737
How to parse hand_landmark_lite.tflite?

[2021-11-15 03:11] LMR2018 commented on #2770
How to parse hand_landmark_lite.tflite?

[2021-11-15 04:17] Avnsx commented on #2676
Same happens for me using python

[2021-11-15 04:45] sgowroji commented on #2765
Hi @jerry11671,  For MediaPipe Python 3.7 to 3.9.

[2021-11-15 04:52] sgowroji commented on #2767
Hi @cndcnd085, Can you please go through this This is intended. MediaPipe Python package only contains CPU graphs. If you need to run any GPU graphs, see #1651 (comment).

[2021-11-15 05:05] sgowroji commented on #2769
Hi @gr4cza, Can you try verifying the above with this build https://google.github.io/mediapipe/solutions/box_tracking.html#mobile and if you still see the error, Please share the device details.

[2021-11-15 05:09] sgowroji commented on #2770
Hi @LMR2018, Could you please elaborate your query with more details. Thanks!

[2021-11-15 05:38] LMR2018 commented on #2770
I want to convert mediapipe/modules/hand_landmark/hand_landmark_lite. tflite model to PB model and I want to convert PB model to RKNN model

[2021-11-15 05:38] LMR2018 commented on #2770
I want to convert mediapipe/modules/hand_landmark/hand_landmark_lite. Tflite model to PB model and I want to convert PB model to RKNN model

[2021-11-15 06:04] sgowroji commented on #2770
Hi @LMR2018, Have you tried doing like this https://stackoverflow.com/questions/53664279/converting-tflite-to-pb. Did you encounter any error ?

[2021-11-15 06:22] Syencil opened #2771 "Is there a chance to process mult-person keypoints in one image?"
blazepose is a wonderful method to get pose landmarks. however, i found this in annotation(mediapipe.solutions.pose.process)——“Processes an RGB image and returns the pose landmarks on the most prominent person detected.”
i dont wanna miss other people in image. what should i do?

[2021-11-15 06:25] sgowroji commented on #2771
Hi @Syencil,  This is what you can do at present https://github.com/google/mediapipe/issues/1691#issuecomment-797159603

[2021-11-15 07:00] cndcnd085 commented on #2767
'm making a pose_ tracking_ GPU program, I can compile with C + + and execute it correctly. Now I want to make a python API. I did it according #1651 to modify my pose_ tracking_ Gpu.pbtxt file, but I still have runtime error:; Unable to find the type for stream "image". It may be set to anytype or something else that isn't deterministic, or the type may be defined but not registered_ tracking_ Gp

[2021-11-15 07:35] #2211 closed

[2021-11-15 07:36] LMR2018 commented on #2770
Did you say this is how to transform?

tensorflow_1.12/tensorflow/bazel-bin/tensorflow/contrib/lite/toco/toco --
output_file=coco_ssd_mobilenet_v1_1.0_quant_2018_06_29.pb --
output_format=TENSORFLOW_GRAPHDEF --input_format=TFLITE --
input_file=coco_ssd_mobilenet_v1_1.0_quant_2018_06_29.tflite --
inference_type=FLOAT --input_type=FLOAT --input_array="" --output_array="" --
input_shape=1,450,450,3 -

[2021-11-15 07:38] LMR2018 commented on #2770
import numpy as np
import tensorflow as tf

# Load TFLite model and allocate tensors.
interpreter = tf.lite.Interpreter(model_path="converted_model.tflite")
interpreter.allocate_tensors()

# Get input and output tensors.
input_details = interpreter.get_input_details()
output_details = interpreter.get_output_details()

# Test model on random input data.
input_shape = input_details[0]['shape']
input

[2021-11-15 07:40] #2595 closed

[2021-11-15 07:47] sgowroji commented on #906
Please refer this for more understanding https://github.com/google/mediapipe/issues/1561#issuecomment-771027016

[2021-11-15 07:47] #906 closed

[2021-11-15 07:57] sgowroji commented on #1513
Request to go through the useful reference https://github.com/google/mediapipe/issues/2673#issuecomment-946113076

[2021-11-15 07:57] #1513 closed

[2021-11-15 07:59] gr4cza commented on #2769
Hi @sgowroji, thank you for your quick reply!
I tried the prebuilt apk, and I tried it to bulid and install it with the commands:
[code]
And that way it is working fine.

But I need a way to modify this, to be able to build it in my application, and that's why I need the AAR. I even tried to extract and replace the `libopencv_java3.so` and ` libmediapipe_jni.so` files in the aar from the apk, but

[2021-11-15 08:04] #2716 closed

[2021-11-15 08:32] gr4cza commented on #2769
Hi @yegenzhi !
I pushed the modified **MediaPipe face detection aar example** to my github [here](https://github.com/gr4cza/MyFaceDetectionApp), to be more easily reproducible.

[2021-11-15 09:02] sn1c3 commented on #1988
Hi @brndusic,
you are right. I think my only issue was with the proportions of x,y and z. That got solved by the pose_world_landmarks.

Nevertheless, in my case I need useful depth information during video streams. For precise movements, mediapipe is still too inaccurate. I solved my problem with a Realsense L515 camera, which returns pretty good depth information. So right now, I am using pose_wo

[2021-11-15 09:08] pekochun opened #2772 "bazel build error : in fail_rule rule @local_jdk//:jdk:"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution
I use macOS Big Sur version 11.5.2

- Compiler version (e.g. gcc/g+

[2021-11-15 09:42] sgowroji commented on #2772
Hi @pekochun, Did you set the Java SDK, NDK environment variable and verify the above .  Error from the log
`Error in fail: Auto-Configuration Error: Cannot find Java binary bin/java in /var/tmp/_bazel_mac/install/e5700781a43090e74aa4012c7e525e2a/embedded_tools/tools/jdk/nosystemjdk; either correct your JAVA_HOME, PATH or specify embedded Java (e.g. --javabase=@bazel_tools//tools/jdk:remote_jdk11)

[2021-11-15 09:50] ibrandiay commented on #2477
@arijith96 Have found a solution? i need it so much

[2021-11-15 10:07] sgowroji commented on #2457
https://google.github.io/mediapipe/solutions/hands.html#multi_hand_world_landmarks World landmarks on Hands

[2021-11-15 10:07] #2457 closed

[2021-11-15 10:21] janeSmith99221 commented on #1453
I'm working on same but in android. how you implemented this one.
if you have any refence pls share.

[2021-11-15 10:33] pekochun commented on #2772
Thanks for the reply.
What is the path of Java SDK,NDK, is it the same as the path of Android Studio SDK,NDK?

I already have the following set up.
export ANDROID_HOME=/Users/mac/Library/Android/sdk
export ANDROID_NDK_HOME=/Users/mac/Library/Android/sdk/ndk/21.4.7075529

I thought it might be possible that I had not installed Java, so I installed Java.
Then I ran the command.
Then I got a slightly

[2021-11-15 10:46] janeSmith99221 opened #2773 "try on shoes in android."
I'm working on feet detection and attach 3d shoe model using android. is there any reference to dot this one.

[2021-11-15 12:18] sgowroji commented on #2773
You can find it here https://google.github.io/mediapipe/solutions/objectron.html#mobile

[2021-11-15 12:26] LMR2018 opened #2774 "The TOCO tool can convert a. Tflite model to a. Pb model, but the converted. Pb model does not work, and it cannot be converted back to a Tflite model"
The TOCO tool can convert a. Tflite model to a. Pb model, but the converted. Pb model does not work, and it cannot be converted back to a Tflite model （hand_landmark.tflite模型）

Successfully convert tflite to. Pb model log printing  ：
2021-11-15 20:25:09.017937: I tensorflow/lite/toco/graph_transformations/graph_transformations.cc:39] Before Removing unused ops: 64 operators, 170 arrays (0 quantize

[2021-11-15 16:31] gr4cza commented on #2769
I was able to find the problem, i forgot (and I didn't know I have) to copy the `labelmap.txt` to the `assests/`. Now it is working fine!

[2021-11-15 16:32] gr4cza commented on #2769
I was able to find the problem, i forgot (and I didn't know I have) to copy the `labelmap.txt` to the `assests/`. Now it is working fine!

[2021-11-15 16:32] #2769 closed

[2021-11-15 18:49] kostyaby commented on #1155
Hey @berrymoor,

I couldn't find that exact effect graph which I used to generate this GIF, but I've assembled another one in MediaPipe Visualizer that should work as well: [combined_effects.txt](https://github.com/google/mediapipe/files/7540973/combined_effects.txt)

Please let me know if it works for you!

[2021-11-15 18:49] hasankhurshid29 opened #2775 "Build getting failed on Raspberry Pi 4 8 GB"
https://spyjetson.blogspot.com/2021/06/installing-mediapipecpu-mode-on.html
OS: Raspbian OS Latest 64 Bit
I am following the steps given in the above link.
On step: # python3 setup.py bdist_wheel
The build get failed and show this error:
ERROR: /usr/local/src/mediapipe/mediapipe/calculators/tensor/BUILD:127:11: C++ compilation of rule '//mediapipe/calculators/tensor:inference_calculator_cpu' faile

[2021-11-15 19:15] mhays-google commented on #2669
Thanks for the patience.  I did stage a new version of pose recently, and it does not exhibit this error.  Can you try upgrading?

[2021-11-15 19:53] pekochun commented on #2772
I fixed this error in the following way.
https://stackoverflow.com/questions/68035963/cannot-compile-mediapipe-via-mac-os-on-android

[2021-11-15 19:54] #2772 closed

[2021-11-15 20:12] pekochun opened #2776 "bazel build error : platformclasspath.jar failed (Exit 1): java failed: error executing command"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution
I use macOS Big Sur version 11.5.2

- Compiler version (e.g. gcc/g+

[2021-11-15 20:16] tyrmullen commented on #2211
This is more of a question about your web browser and its APIs, and not something MediaPipe has any control over.  MediaPipe uses WebGL for its rendering, which provides no way to choose GPU device.  I don't even know of any way within the browser to choose GPU device.  However, there are external programs which will let you choose (like gSwitch on Mac, or driver-specific control panels on Windows

[2021-11-15 21:36] simlevesque opened #2777 "Which deprecation warning breaks python_configure.bzl _check_python_bin()"
**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): Ubuntu 21.04
- Compiler version (e.g. gcc/g++ 8 /Apple clang version 12.0.0): GCC 11.2
- Programming Language and version ( e.g. C++ 14, Python 3.6, Java ): Python 3.9.8, openjdk 11.0.10
- Installed using virtualenv? pip? Conda? (if python

[2021-11-15 21:41] crecord commented on #1937
I know this issue is closed, but I am struggling with memory leaks as described above.

I am using the [face mesh demo ](https://codepen.io/mediapipe/pen/KKgVaPJ) run on local server (no code pen). I changed nothing about the code.

My versions are as follows:
[code]

	Chrome Version 95.0.4638.69 (Official Build) (arm64)

I observed significant increases of JS heap size over time. I sampled every

[2021-11-15 22:15] asprecic commented on #1162
Hey everyone,

I made an example Qt application to demonstrate how to integrate Mediapipe as a dynamic library in Linux.
It runs many examples from Mediapipe examples, including the hand tracking.

You can find the example application here:
https://github.com/asprecic/mediapipe-qt-integration-example

and the corresponding changes in Mediapipe in this fork here:
https://github.com/asprecic/mediapi

[2021-11-15 22:21] simlevesque commented on #2777
The real fix would be to rely on 'command -v' since it is in the POSIX standard and should work forever.

[2021-11-16 01:31] vqc commented on #1937
@tyrmullen the memory leak originally described by @codylieu and now by @crecord seems to exist again as well in pose@0.5.1635988162 cc: @mhays-google

[2021-11-16 01:35] siisee11 commented on #2185
Are there any updates?

[2021-11-16 02:33] crecord commented on #1937
I compare some different approaches [here](https://github.com/tensorflow/tfjs/issues/5854). It seems that using this [demo](https://www.notion.so/antimodularresearch/Banderoles-Dev-Notes-ddb6f2b1a8544d2391eb5f93939fcda9#c4c338e57d534191b212f8fc1e3df537) with NPM + the dev dependencies is the most promising for memory. Maybe a similar environment could help for using the facemesh mediapipe example.

[2021-11-16 03:18] tyrmullen commented on #2675
The problem has not been investigated, and I don't have an ETA for doing so at this time.  Hopefully things will get better from the WebKit side in the meantime?

[2021-11-16 03:30] LMR2018 opened #2778 "What are the mean and STD capabilities of hand_landmark_lite.tflite training data after data augmentation?"
What are the mean and STD capabilities of hand_landmark_lite.tflite training data after data augmentation?

[2021-11-16 03:32] tyrmullen commented on #2735
On my laptop, I've found that Chrome usually caps any video to 30FPS max (60FPS is the display refresh rate, but not the movie framerate-- you can use "requestVideoFrameCallback" to better distinguish, or check the video.currentTime to ensure it's progressed).
1.  Unfortunately, playing a video frame-by-frame has long been an asked-for browser feature, but I know of no API for it; usually somethin

[2021-11-16 03:39] tyrmullen commented on #2756
It looks like you're trying to locate files online via jsdelivr with this line:
`return `https://cdn.jsdelivr.net/npm/@mediapipe/selfie_segmentation@0.1/${file}`;`

But if you downloaded the files and imported them locally, then you'd probably want to be targeting those downloaded files instead (wherever they are located).

[2021-11-16 04:07] jerry11671 commented on #2765
Thanks...
Are there any requirement to install it.....Like things that should be installed first before installing it.

[2021-11-16 04:49] sgowroji commented on #2211
Hi @senshin998, Could you please go through  the above [comment](https://github.com/google/mediapipe/issues/2211#issuecomment-969283444)

[2021-11-16 04:53] sgowroji commented on #2774
Not related to MediaPipe. Hence we are closing this issue.

[2021-11-16 04:53] #2774 closed

[2021-11-16 04:53] shrey-rootally commented on #2538
Hey did find any solution?

[2021-11-16 04:58] sgowroji commented on #2775
Hi @hasankhurshid29, You can refer this https://github.com/jiuqiant/mediapipe_python_aarch64 from MediaPipe documentation as mentioned [here](https://google.github.io/mediapipe/getting_started/python.html#building-mediapipe-python-package)

[2021-11-16 05:05] sgowroji commented on #2776
Hi @pekochun, I see your previous [issue](https://github.com/google/mediapipe/issues/2772) is resolved . If the above error is seen after the previous issue. Then i recommend going through this two issues https://github.com/google/mediapipe/issues/1822, https://github.com/google/mediapipe/issues/68 which have same error logs with jdk while installation. Let me know if you still see the above error

[2021-11-16 05:14] st-trangnguyen commented on #2756
Hi guys, I am trying to integrate selfie segmentation in react project to handle the virtual background feature. I have an button to start/stop sharing my webcam. When I stopped sharing my webcam, the camera light on my macbook is on. Anyone can help me to know how to solve this issue?

[2021-11-16 05:15] sgowroji commented on #2765
Hi @jerry11671, We have pretty much clear documentation on [Python](https://google.github.io/mediapipe/getting_started/python.html#mediapipe-in-python) .  You can also refer our MediaPipe Python [Colab](https://google.github.io/mediapipe/getting_started/python.html#mediapipe-on-google-colab) solutions.  And this our installation [documentation](https://google.github.io/mediapipe/getting_started/in

[2021-11-16 05:19] weihong-xuan commented on #2538
Has anyone encountered this problem?

[2021-11-16 05:26] pekochun commented on #2776
I tried the following commands mentioned in those issues, but to no avail.
`sudo apt install default-jdk
`

I then tried the following commands mentioned in the above issue, but it appears to have broken the environment even more.
`export HTTPS_PROXY=http://127.0.0.1:7890 HTTP_PROXY=http://127.0.0.1:7890 ALL_PROXY=socks5://127.0.0.1:7890
`

[2021-11-16 05:32] janeSmith99221 commented on #2316
I'm working on same. but I don't have any idea regarding this. if you have any ref regarding this, pls share.

[2021-11-16 05:44] LMR2018 commented on #2774
I want to know how to convert hand_landmark_lite.tflite model into. Pb model in MediaPipe, can you help me?  I am a novice

[2021-11-16 06:19] sgowroji commented on #2774
Hi @LMR2018, There is already an open [issue](https://github.com/google/mediapipe/issues/2770) with above context which is raised by you. I have shared it to the right engineer who can guide you better.

[2021-11-16 06:40] LMR2018 commented on #2774
Ok, thank you

[2021-11-16 07:31] sgowroji commented on #1206
Present issue can be closed we have [javascript](https://google.github.io/mediapipe/getting_started/javascript) solutions to build on web.

[2021-11-16 07:31] #1206 closed

[2021-11-16 07:53] sgowroji commented on #2547
Hi @ForLovelj, Could you please verify the above issue with the latest release. Thanks!

[2021-11-16 08:04] #2736 closed

[2021-11-16 15:31] kirill-konshin commented on #1206
@sgowroji what about making custom builds/solutions, it still seems to be not impossible...

[2021-11-16 19:00] hasankhurshid29 commented on #2775
Not working

[2021-11-16 22:41] alexdmiller commented on #2153
I have the same problem as well. I filed an issue on glog about this here: https://github.com/google/glog/issues/741#issuecomment-967556006

There is a repository that can be used to repro the issue here: https://github.com/swittk/react-native-mediapipe-facemesh

It's unclear to me if this is a bug in glog, or a bug in how mediapipe is using glog.

My current hacky fix is to modify [lines of the g

[2021-11-16 23:48] albertxing opened #2779 "TensorFlow graph model for selfie segmentation"
**System information** (Please provide as much relevant information as possible)

- MediaPipe Solution (you are using): Selfie segmentation
- Programming language: JS/TS
- Are you willing to contribute it (Yes/No): No (unable to)

**Describe the feature and the current behavior/state:**
Only TFLite models are currently publicly released. Are there plans to make the uncompressed (non-TFLite) graph

[2021-11-17 01:18] LMR2018 opened #2780 "I want to know the mean_values and std_values of mediapipe/modules/hand_landmark/hand_landmark_lite.tflite model training"
I want to know the mean_values and std_values of mediapipe/modules/hand_landmark/hand_landmark_lite.tflite model training

Can you convert mediapipe/modules/hand_landmark/hand_landmark_lite.tflite model to .pb model, I am new, can you give me the code?

[2021-11-17 02:55] linyu0219 opened #2781 "Request FaceMesh on side-face support"
Facemesh is very useful, itself has detecting and tracking, I like use it in my work.
But it can not get landmark now when a face is side like below,
![studio_168](https://user-images.githubusercontent.com/29172715/142121727-153d7514-0a2f-4407-876e-c2d7a28a51e1.jpg)
Can add side face support in future?
Maybe it can't detect side face in detection phase.

[2021-11-17 03:13] linyu0219 commented on #2781
I don't know why first time the landmark can't get, but in second time I got it .

[2021-11-17 03:29] linyu0219 commented on #2781
![raw_131](https://user-images.githubusercontent.com/29172715/142129469-62fd74a1-04cc-4c78-8bfe-d40bd8b6b629.jpg)

[2021-11-17 03:58] sgowroji commented on #2736
Not actually from here https://github.com/google/mediapipe/issues/1322#issuecomment-732418934.

[2021-11-17 05:44] sgowroji commented on #2604
Hi @wangzi815, Could you please verify the above issue in the latest release.

[2021-11-17 05:44] #2604 closed

[2021-11-17 05:46] sgowroji commented on #2705
Hi @Leander250, Duplicate #2604 Is fixed in the latest release. Could you please verify the above issue with latest release.

[2021-11-17 05:46] #2705 closed

[2021-11-17 05:49] sgowroji commented on #2781
Hi @linyu0219, Could you please share on which platform are you seeing the above?

[2021-11-17 05:50] sgowroji commented on #2780
Duplicate https://github.com/google/mediapipe/issues/2778

[2021-11-17 06:04] #1945 closed

[2021-11-17 06:04] #2709 closed

[2021-11-17 07:28] mehtapaxshal commented on #2669
@mhays-google I did try the new version just now and still errors out. FYI, I tried the npm version - 0.5.1635988162

Let me know if you need any other information to debug more about this issue.
cc @sgowroji

[2021-11-17 07:41] linyu0219 commented on #2781
python linux latest version

[2021-11-17 08:01] codeastra2 opened #2782 "Ensuring the version of tflite models used in Python API"
Hello , thanks so much for the awesome mediapipe Python package, it's super helpful!
I noticed that this package uses tflite models as part of it's implementation. However, I was wondering if there was way to verify that these are the latest packages as per the [documentation](https://google.github.io/mediapipe/solutions/models.html#face-mesh) ? I did see the [PyPi release page](https://pypi.org/p

[2021-11-17 09:01] Ar4enal opened #2783 "How to get pose_world_landmarks in Android?"
I am using custom holistic binarypb. I edited the pbtxt like this:
just add  _output_stream: "WORLD_LANDMARKS:pose_world_landmarks"_
![image](https://user-images.githubusercontent.com/36718239/142169526-7a424e70-8c8f-42c8-8e93-e705aedc6de1.png)

It shows this error:
_while processing the output streams of subgraph node HolisticLandmarkGpu: ; Tag "WORLD_LANDMARKS" does not exist in the subgraph con

[2021-11-17 09:28] ibrandiay commented on #2477
@sgowroji Please, is there anything new about this?

[2021-11-17 10:39] shivtiwari123 commented on #1325
Tried python 3.7.9. Was able to install mediapipe., but numpy and cv2 went invalid and could not be used my previous codes.

[2021-11-17 11:35] sgowroji commented on #2783
Hi @Ar4enal, Could you please provide steps to reproduce the above error. Thanks!

[2021-11-17 12:43] gb2111 opened #2784 "CPU usage criteria"
I am using a media pipe demo on PC/Windows with Python and on different PCs it uses about 20-30 ms and no more than 10% of CPU. would it be possible that it uses much more of CPU? and work with better performance? If not what are the 'rules' behind that?
Thank you

[2021-11-17 14:27] gk6k6k opened #2785 "Crossbuild to aarch64 with glibc_2.27"
**System information**
- OS Platform and Distribution: Linux Ubuntu 20.04, with cross compiler gnu gcc aarch64
- Compiler version: gcc/g++ 8 and gcc/g++ 9
- Programming Language and version: C++ 14
- Installed using virtualenv? no, full git clone
- [MediaPipe version](https://github.com/google/mediapipe/releases): 0.8.6
- Bazel version: 3.7.2
- XCode and Tulsi versions (if iOS):
- Android SDK and

[2021-11-17 14:53] shrey-rootally commented on #2419
Is there any solution yet?

[2021-11-17 15:28] sgowroji commented on #2784
Hi @gb2111, Could you be able to provide your use case with complete details. Thanks!

[2021-11-17 17:06] Pixelfahnder opened #2786 "Where to find anchor information for pretrained object detection model"
Greetings,

I'm fairly new to this whole topic and was happy to manage it to let the object detection model perform an inference in a sample code. After lots of research I understood, that the model input requires a 320x320 8 bit RGB image which I provided as an input to Tensorflow (I use the Tensorflow light variant of the network).

So after beeing able to perform a proper inference I came acros

[2021-11-17 17:36] aerarslan commented on #2358
@ROBYER1 I am trying exactly the same thing. Right now I am trying to understand how Z points are calculated but it seems like it is a bit hard to understand looking to Z axes because they are flickering a lot depending on all the things. Have you found any solution to apply something to detect postural assessment? I am working with frontal view

[2021-11-17 20:02] Revln9 opened #2787 "Facemesh capture enhancement"
<em>Please make sure that this is a feature request.</em>

**System information** (Please provide as much relevant information as possible)
Windows

- MediaPipe Solution (you are using):
- Programming language :
- Python
- Are you willing to contribute it (Yes/No):
- YES

**Describe the feature and the current behavior/state:**

The Facemesh can be used to do face captures with most of the 3D soft

[2021-11-17 22:36] 3myr opened #2788 "[Android] Custom / Build pose_tracking have no effect"
--------------------------------------------
**System information**
- Linux Ubuntu 18.04
- Bazel version:
  - Bazelisk version: v1.10.1
  - Build label: 3.7.2

- Solution :
  - Pose
- Programming Language and version :
  - Java
  - Gradle
- Archetype used :
  - https://github.com/yuxiaohui78/Mediapipe-android-pose-tracking
--------------------------------------------

I want to custom the landmark

[2021-11-18 01:20] Ar4enal commented on #2783
@sgowroji  ok
First I custom the holistic binary graph by adding output_stream. It is based on _mediapipe\graphs\holistic_tracking\holistic_tracking_gpu.pbtxt_

I add some output streams like pose landmark and face landmark:
[https://github.com/Ar4enal/Avatar/blob/master/app/src/main/assets/holistic_world_tracking_gpu.pbtxt](url)

Then I bazel build this graph:
[https://github.com/Ar4enal/mp_ae_ho

[2021-11-18 02:36] Leander250 commented on #2705
I tried it a few times with the latest Version (commit: cf101e62) and it seems to work now.

[2021-11-18 03:33] NeekHua commented on #813
@FFoCC 请问你最终解决了这个问题了吗？

[2021-11-18 04:10] NeekHua opened #2789 "Whether the output of the hand landmark model is the keypoint obtained by regression?"
If inscribe

[2021-11-18 04:12] NeekHua commented on #2789
Using this open source model[https://github.com/google/mediapipe/blob/master/mediapipe/modules/hand_landmark/hand_landmark_lite.tflite](url)

[2021-11-18 04:31] sgowroji commented on #2789
Hi @NeekHua, Could you please elaborate your query with complete details. Thanks!

[2021-11-18 05:52] TsainGra commented on #2643
Hi @spacebred I don't face this problem on Google Colab, however, when I move to EC2 or GCE I start facing this issue. Any way to get a Colab environment on EC2/GCE to have a temporary fix?

[2021-11-18 06:19] NeekHua commented on #2789
@sgowroji Hello,I'm using this open source model[https://github.com/google/mediapipe/blob/master/mediapipe/modules/hand_landmark/hand_landmark_lite.tflite](url)to detect hand_landmark.My using language is Python,tensorflow version is 1.15.
Now I use my own hand_detect model to crop the picture that contains the hand and resize 224  for land_mark_lite.tflite input data.
My question is that how do t

[2021-11-18 06:56] NeekHua commented on #2789
and I find this  hand_landmark_lite.tflite is not accuracy.I want to ask why mediapipe package have high acccuracy.Whether is it use this model?

[2021-11-18 08:01] alfian0 opened #2790 "use mediapipe with prerelease bazel"
There is any option to update bazel version, with prerelease version to use ios simulator on macbook m1 ?

xcode 12.5.1 & 13.1
bazel 6.0.0
tulsi

[2021-11-18 08:06] luochenglcs commented on #1811
How do you solve the problem "@platforms//os:windows is not a valid configuration key for @rules_foreign_cc//toolchains:built_make"？

[2021-11-18 09:19] sgowroji commented on #2790
Hi @alfian0, Similar https://github.com/google/mediapipe/issues/2516#issuecomment-962393338

[2021-11-18 09:19] #2790 closed

[2021-11-18 10:41] LMR2018 opened #2791 "I want to use Android system for hand_landmark, the official default model is hand_landmark_full. Tflite model, I want to replace it with hand_landmark_lite."
I want to use Android system for hand_landmark, the official default model is hand_landmark_full. tflite model, I want to replace it with hand_landmark_lite model， How do I change android's configuration?

[2021-11-18 10:50] Shakirsadiq6 opened #2792 "How I can save image in phone gallery after detection in facemesh?"
I am using facemesh mediapipe for liveness detection using JAVA which I have achieved using landmarks to check blink detection. Now if a person blinked I want my camera to capture the image of that person.

[2021-11-18 11:37] sgowroji commented on #2791
Hi @LMR2018, You can find the Android Hands Gradle Solution https://google.github.io/mediapipe/solutions/hands#android-solution-api

[2021-11-18 11:37] homuler commented on #1514
I confirmed that `hand_tracking_cpu` works on Mac mini (M1, 2020) (macOS Big Sur 11.6) with the following patch applied.
[code]

The exact command can be found [here](https://google.github.io/mediapipe/getting_started/cpp.html).

It seems that a similar patch is already submitted as a PR.
https://github.com/google/mediapipe/pull/2591

[2021-11-18 11:42] sgowroji commented on #2792
Hi @Shakirsadiq6, This comment will help you understand the eye blinking detection.  Once you receive the detection  event you can implement the camera capture function.

[2021-11-18 12:03] Shakirsadiq6 commented on #2792
Hi @sgowroji, I already have achieved the detection, I want to know how I can implement camera capture function. Any references please?

[2021-11-18 14:02] mahtaabdn commented on #2664
I don't know if it's a good solution or not, but I could solve this error by changing the _model_path_  of the .tflite files in the .pbtxt files.

[2021-11-18 15:36] drock577 commented on #2457
Hello @sgowroji Thank you.
Is MediaPipe providing World Landmarks for Face as well?

[2021-11-18 20:25] AravindPrabhs commented on #2324
Hi,

From the issue on tensorflow ([here](https://github.com/tensorflow/tensorflow/issues/41039)), it's a problem with the cpuinfo.

I managed to get my build compiling by adding a patch to tensorflow and manually editing XNNPack/cpuinfo.BUILD (when the error showed up). However simply renaming to 'darwin_x86_64' did not work (since setting cpu to either makes no difference), so I just removed the

[2021-11-19 01:56] homuler commented on #2329
This error occurs because `scheduler_queue.cc` is not compiled as an Objective-C++ source file.
That is, it does not match `//mediapipe:apple` but `//conditions:default`.
https://github.com/google/mediapipe/blob/cf101e62a9d49a51be76836b2b8e5ba5c06b5da0/mediapipe/framework/BUILD#L974-L977

The following patch will make it meet `//mediapipe:apple` (cf. https://github.com/google/mediapipe/issues/1514

[2021-11-19 04:10] manthi4 opened #2793 "symbol not found com.google.mediapipe.formats.proto.LandmarkProto.NormalizedLandmarkList"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution: Windows 10 WSL Ubuntu 20.04.2 LTS
- Compiler version : bazel 3.7.2

[2021-11-19 04:20] sgowroji commented on #2376
Hi @LQ921003, Did you try doing with max confidence and are you doing the above on latest version. Thanks!

[2021-11-19 04:38] #2720 closed

[2021-11-19 06:08] sgowroji commented on #2456
Hi @code-n-roll, As mentioned here https://github.com/google/mediapipe/issues/643#issuecomment-618562185 you can try using full proto library.

[2021-11-19 06:12] sgowroji commented on #2793
Hi @manthi4, Have you tried the above with the latest release? Seems your code did not build properly. And you can also try using our Hands [Gradle](https://google.github.io/mediapipe/solutions/hands#android-solution-api) API solutions for your implementation.

[2021-11-19 06:28] LMR2018 opened #2794 "What is the difference between hand_landmark_lite.tflite and hand_landmark_full.tflite? Can I replace hand_landmark_full.tflite with hand_landmark_lite.tflite? The hand_landmark_lite.tflite model looks smaller"
What is the difference between hand_landmark_lite.tflite and hand_landmark_full.tflite?  Can I replace hand_landmark_full.tflite with hand_landmark_lite.tflite?  The hand_landmark_lite.tflite model looks smaller

[2021-11-19 07:12] sgowroji commented on #2794
Hi @LMR2018, You can find the complete details from here https://drive.google.com/file/d/1-rmIgTfuCbBPW_IFHkh3f0-U_lnGrWpg/preview

[2021-11-19 07:21] #2561 closed

[2021-11-19 07:36] #2789 closed

[2021-11-19 08:19] LMR2018 opened #2796 "Python failed to load the hand_landmark_tracking_gpu.binarypb model. Can Hand_landmark Python use a GPU?"
C:\Users\Dev16\Anaconda3\lib\site-packages\mediapipe/modules/hand_landmark/hand_landmark_tracking_gpu.binarypb
Traceback (most recent call last):
  File "F:/murong/projects1/mediapipe_master/mediapipe/python/predict_test.py", line 19, in <module>
    min_detection_confidence=0.5) as hands:
  File "C:\Users\Dev16\Anaconda3\lib\site-packages\mediapipe\python\solutions\hands.py", line 128, in __init_

[2021-11-19 08:23] magorors opened #2797 "Face Mesh GPU - TfLiteGpuDelegate Prepare: Program is not properly linked"
**System information**
- Using example face mesh code.
- JetPack 4.6 (Ubuntu 18.04) - Jetson AGX Xavier
- MediaPipe version: v0.8.8
- Bazel version: 3.7.2
- Solution: FaceMesh
- Programming Language: C++

**Describe the expected behavior:**
I built both the Face Mesh CPU and GPU version on the Jetson AGX Xavier, the CPU implementation works. In case of the Hand Tracking solution both the CPU and G

[2021-11-19 08:30] sgowroji commented on #2796
Hi @LMR2018, Could you please provide steps to reproduce the above error. Thanks!

[2021-11-19 08:37] sgowroji commented on #2797
Duplicate https://github.com/google/mediapipe/issues/2678

[2021-11-19 08:40] LMR2018 commented on #2796
Anaconda3\lib\site-packages\mediapipe\python\solutions\hands.py default loading _BINARYPB_FILE_PATH =  'mediapipe/modules/hand_landmark/ hand_landmark_tracking_CPU. binarypb' is replaced with _BINARYPB_FILE_PATH =  'mediapipe/modules/hand_landmark/hand_landmark_tracking_gpu.binarypb', then put hand_landmark_tracking_gpu.binarypb into the appropriate path,  Run directly is this error

[2021-11-19 08:40] LMR2018 commented on #2796
Anaconda3\lib\site-packages\mediapipe\python\solutions\hands.py default loading _BINARYPB_FILE_PATH =  'mediapipe/modules/hand_landmark/ hand_landmark_tracking_CPU. binarypb' is replaced with _BINARYPB_FILE_PATH =  'mediapipe/modules/hand_landmark/hand_landmark_tracking_gpu.binarypb', then put hand_landmark_tracking_gpu.binarypb into the appropriate path,  Run directly is this error

[2021-11-19 09:22] justin-f-perez opened #2798 "macOS arm64 (lack of) support should be documented"
## URL(s) with the issue:

https://github.com/google/mediapipe/blob/master/docs/getting_started/python.md
https://github.com/google/mediapipe/blob/master/docs/getting_started/ios.md
https://github.com/google/mediapipe/blob/master/docs/getting_started/install.md#installing-on-macos

## Description of issue (what needs changing):

On some paths through the Getting Started documentation, it's not cle

[2021-11-19 09:24] justin-f-perez commented on #1622
@rtrjmishra @saltfish13 see: https://github.com/google/mediapipe/issues/2120#issuecomment-894796864

[2021-11-19 10:18] matanster commented on #356
Is there a feature in the framework allowing more declarative logging of a processing node's (calculator) output yet?

[2021-11-19 10:19] code-n-roll commented on #2456
@sgowroji Thank you for the answer. Actually we solved the library conflict the same way, just asked 3rd party developers to compile their library with proto full.

But we can not do the same with all 3rd party libraries who use proto-lite. Then the question is have you plans to rewrite mediapipe version for Android using proto-lite library instead full ?

Because this is recommended lib version f

[2021-11-19 15:02] bazarevsky commented on #1869
Hello, we are constantly improve our hand models by mining a new samples, where model tend to fail. And hopefully issue you are facing would be gone in a new release.

We tried many different approaches and see that even sometimes for some particular cases they could improve the model quality, they also can decrease model quality for other cases, so we try to handle issues via neural network itsel

[2021-11-19 15:09] ostap0207 opened #2799 "Selfie Segmentation JS bindings do not run without `unsafe-eval`"
- Browser and version (e.g. Google Chrome, Safari) if the issue happens on browser: Chrome 96
- Programming Language and version ( e.g. C++, Python, Java): JavaScript
- [MediaPipe version](https://github.com/google/mediapipe/releases): v0.8.5
- Bazel version (if compiling from source):
- Solution ( e.g. FaceMesh, Pose, Holistic ): Selfie Segmentation

**Describe the current behavior:**
MediaPipe S

[2021-11-19 15:09] #2123 closed

[2021-11-19 15:10] #1869 closed

[2021-11-19 15:21] bazarevsky commented on #2173
The paper you are referencing is quite old already. It still perfectly describes overall approach and high-level architecture for the solution, however as we try to regularly update MediaPipe with our latest hand models, right now we have only two options: Lite and Full.

These two models differ from each other only by feature extractor capacity, so Full is more accurate and slower than Lite one.

[2021-11-19 15:21] #2173 closed

[2021-11-19 15:27] bazarevsky commented on #1638
Hello, palm detector model is not self contained and expects some post-processing logic, which is implemented via MediaPipe graph.

For particular case, 1x896x18 tensor would contain relative per-anchor prediction with relative coordinates. To get familiar with anchor generation and tensor decoding, please have a look at https://github.com/google/mediapipe/blob/master/mediapipe/modules/palm_detect

[2021-11-19 17:26] mcclanahoochie commented on #2571
Yes please try using gcc8, as suggested in https://github.com/google/mediapipe/issues/1733#issuecomment-828661652 to fix the 'Tensor' compile error. gcc8 appears to be required by the absl library.

Also, in general, MediaPipe doesn't guarantee support for the latest Bazel version (especially a pre-release). Support for the newer Bazel versions usually lags a bit (because newer Bazel versions tend

[2021-11-19 18:56] roelfdutoit commented on #1811
@luochenglcs I had a similar issue in a different context.  The solution was to change `.bazelversion` from `3.6.0` to `4.1.0`

[2021-11-19 21:49] 123epsilon commented on #2793
Hi @sgowroji , I am a collaborator on this project. Somehow the above error implies that the landmark proto itself was not built, despite the landmark proto being referenced as a dependency in our build file. Do you have any idea why this might be?

We also attempted to compile an AAR of mediapipe and followed the documentation to integrate with Android Studio. However upon running the hand tracki

[2021-11-20 04:54] #2472 closed

[2021-11-20 07:31] luochenglcs commented on #1811
Oh， thanks.

[2021-11-20 09:53] lilinxiong opened #2800 "Can opencv static library be used on win"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution: Windows 11
- Compiler version: Visual Stuido 2019
- Programming La

[2021-11-20 11:04] lilinxiong commented on #2800
I have solved it, and I will close this issue.

[2021-11-20 11:04] #2800 closed

[2021-11-20 13:21] Winvoker commented on #2754
any updates ? @jiuqiant @sgowroji

[2021-11-20 14:33] rodrigoricky commented on #1325
I tried downgrading from v3.10 to v3.7 and it successfully installed.

[2021-11-20 14:36] ElectroCoderEC commented on #2162
For anyone who wants a fast solution meanwhile someone fixs this error. It works for me, Just get module path from meadiapipe or the module what you get error and in python console:

import mediapipe
print(mediapipe.__file__)

once you get path folder, just copy all mediapipe folder and paste in your folder where you have your exe file and that is all!. Luck

[2021-11-20 15:10] AndreV84 commented on #2571
so which basel to use?

[2021-11-20 17:32] hongzimao commented on #2097
@dennis-gojitech did you get it to fully work with an extension? I hacked the loader js to load all files properly as well, but I'm still hitting the error in your screenshot (on Sept 15) whenever I use `hands.send()`.

[2021-11-20 17:33] hongzimao commented on #2097
@dennis-gojitech did you get it to fully work with an extension? I hacked the loader js to load all files properly as well, but I'm still hitting the error in your screenshot (on Sept 15) whenever I use `hands.send()`. Thanks!

[2021-11-20 19:29] Digitaldarwinlab commented on #1918
@mhays-google @sgowroji We have used webworkers but the browser still hangs for a substantial amount of time for the first time. Even we are using the Blazepose model only for pose estimation.
Any solution or update since your last update on September 6?
 @INF800 Were you able to get a workaround?

[2021-11-20 19:57] matanster commented on #540
I think the OP meant the ability to invoke calculators written in python not just calculator nodes which are C++ binaries.

[2021-11-20 22:34] matanster opened #2801 "Minor bazel definition bug with building the hands example/solution from source"
# Version Information
Pulling from [the following commit](https://github.com/google/mediapipe/commit/cf101e62a9d49a51be76836b2b8e5ba5c06b5da0) from master, which is the latest commit on that branch today.

# Problem Description and Workaround
On Ubuntu 20.04, I have set up to build the hands solution from source, by following here ― https://google.github.io/mediapipe/getting_started/cpp.html#build

[2021-11-21 04:09] INF800 commented on #1918
With webworkers I could "reduce" the hanging issue but couldn't remove it completely

[2021-11-21 08:41] vovani commented on #2196
Following up - we were successful in using 'refine_landmarks' to extract the iris landmarks directly from face_mesh. This is very convinient, so thank you for that!!

Howere, the issue described here still stands - the confidence score is a global score, and we did not find a reliable way to use it in order to understand if someone's eyes are visible or not.

[2021-11-21 16:03] bogdandonduk opened #2802 "How to manually provide starting box positions for Box Tracking?"
Hello. The Box Tracking solution's overview states:

<em>The box tracking solution consumes image frames from a video or camera stream, and starting box positions with timestamps, indicating 2D regions of interest to track, and computes the tracked box positions for each frame. In this specific use case, the starting box positions come from object detection, **but the starting position can also be

[2021-11-21 18:49] jwhpryor commented on #1281
Hello, I'm also affected by this issue.  I'm missing the platforms directory and no RELEASE.txt.

It's great we have a workaround, but it would be really awesome if we could get NDK code building for Bazel with the default configurations.  It's be nice if the NDK sample for Android building with Bazel worked out of the box, is there a bug I could possibly follow for this?

[2021-11-21 20:46] edulayernet commented on #1325
Guys, just type enter this "pip install mediapipe==0.8.9" to bash or cmd.

[2021-11-22 00:24] ragequitting101 opened #2803 "Build error while fetching Python repository"
**System information**
- OS Platform and Distribution: WSL1 on Windows 10 Home
- Installed using: WSL1
- MediaPipe version: Unsure, but downloaded on Nov 20, 2021
- Bazel version: 6.0.0-pre.20211110.1
- Android SDK and NDK versions (if android): SDK 32.0.0rc-1, NDK 21.4.7075529
- OpenCV version (if running on desktop): 4.2.0+dfsg-5

**Describe the problem**:
Hello!
I'm trying to install MediaPipe

[2021-11-22 00:37] ivan-grishchenko commented on #1611
Hi. Recently we updated the released model to produced additional world 3D landmarks output with origin in hips center.
More details can be found in API: https://google.github.io/mediapipe/solutions/pose#pose_world_landmarks
And in the blog: https://blog.tensorflow.org/2021/08/3d-pose-detection-with-mediapipe-blazepose-ghum-tfjs.html

If you want to calculate relative depth between landmarks, this

[2021-11-22 00:42] ivan-grishchenko commented on #1827
Hi. We recently updated pose model to include output with world 3D landmarks. 3D landmarks are much more suitable for your task as they don't have perspective distortion as 2D landmarks and you can calculate real angles in 3D.

You can start by looking at the [API](https://google.github.io/mediapipe/solutions/pose#pose_world_landmarks) and at the [blog post](https://blog.tensorflow.org/2021/08/3d-

[2021-11-22 00:48] ivan-grishchenko commented on #1790
Hi. We still don't output anything in the `presence` field. Initially it was designed to determine if landmark is within frame bounds, but it can easily be computed from landmark coordinates. You should use only `visibility` field which defines if landmark is within frame bounds and not occluded by other objects or body parts.

[2021-11-22 00:54] ivan-grishchenko commented on #2497
@zwfcrazy You are right about the Smoothing calculator.

Another factor is the inference engine used on different platforms. We have implementations of model ops on CPU, XNNPack, Metal, OpenGL, WebGL which may vary because of platform specifics, using float16 or float32 or other factors.

As for the bug of parsing graph in Python API the best person to comment is @jiuqiant .

[2021-11-22 00:57] ivan-grishchenko commented on #2465
@chuoling would be the best person to comment on this issue.

[2021-11-22 01:06] ivan-grishchenko commented on #2104
Hi, unfortunately we don't have models that include more landmarks on the forehead.
One of the options would be to use a 3D model of a head that has forehead part you need, get mapping between this head model and Face Mesh from MediaPipe and the align 3D head with Face Mesh landmarks (using for example Procrustes analysis, check [face geometry module](https://google.github.io/mediapipe/solutions/f

[2021-11-22 01:54] DLGL99GL commented on #2581
@mhays-google  hello，i tested the example of [objectron](https://codepen.io/mediapipe/full/BaWvzdY),But it hasn't been updated yet；may i ask when you plan to update it?

[2021-11-22 01:57] DLGL99GL commented on #2581
hello，i test the example of [Objectron](https://codepen.io/mediapipe/full/BaWvzdY)，butI found it hasn't been updated yet；May I ask when you plan to update?  @mhays-google

[2021-11-22 02:04] rodrigoricky commented on #1325
Updated to python 3.8, can't download it even @edulayernet  solution, no worky.

[2021-11-22 03:53] LMR2018 opened #2804 "I want to scale the image of android Camera multiHandLandmarks. Where should I scale the model input?"
I want to scale the image of android Camera multiHandLandmarks. Where should I scale the model input?

[2021-11-22 04:58] sgowroji commented on #2801
Hi @matanster, You can find some help from this https://github.com/google/mediapipe/issues/970#issuecomment-667219458

[2021-11-22 07:23] aerdy opened #2805 "fatal error: 'opencv2/core/version.hpp' file not found apple M1 bazel 4.1.0"
Use --sandbox_debug to see verbose messages from the sandbox
In file included from mediapipe/examples/desktop/demo_run_graph_main.cc:22:
In file included from ./mediapipe/framework/formats/image_frame_opencv.h:20:
./mediapipe/framework/port/opencv_core_inc.h:18:10: fatal error: 'opencv2/core/version.hpp' file not found
#include <opencv2/core/version.hpp>

[2021-11-22 07:54] #2722 closed

[2021-11-22 07:54] #2673 closed

[2021-11-22 09:04] emredog commented on #1790
Thank you @ivan-grishchenko , that's exactly what we're doing since March :) Then I'd kindly recommend to update the model card accordingly.

Currently it still reads

To me, this implies that the model was thought to recognize occluded parts.

[2021-11-22 10:02] sgowroji commented on #2805
Duplicate https://github.com/google/mediapipe/issues/2519

[2021-11-22 11:48] vinayak19th commented on #568
I found the fix to this. It requires 3 changes for the input of mediapipe to be handled:
1. Modify the [CameraXPreviewHelper.java](https://github.com/google/mediapipe/blob/master/mediapipe/java/com/google/mediapipe/components/CameraXPreviewHelper.java)
In line 222:
[code]

2. Modify the [ExternalTextureRenderer.java](https://github.com/google/mediapipe/blob/master/mediapipe/java/com/google/mediapi

[2021-11-22 12:09] pekochun opened #2806 "An error occurred during the fetch of repository 'local_execution_config_python':"
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4):
- Windows and WSL(Ubuntu)
-
- Bazel version:
Bazelisk version: development
Build label: 3.7.2
Build target: bazel-out/k8-opt/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Thu Dec 17 16:57:23 2020 (1608224243)
Build timestamp: 1608224243
Build timestamp as int: 1608224243

**De

[2021-11-22 12:10] artakpoghosyan1 commented on #2756
Hi @tyrmullen

<img width="735" alt="Screen Shot 2021-11-22 at 15 50 14" src="https://user-images.githubusercontent.com/13457544/142857512-a06d3746-49f4-4a42-8452-b3b2d53cf1e9.png">

This is how documentation says to use `SelfieSegmentation` api. It returns 4 files:

<img width="903" alt="Screen Shot 2021-11-22 at 15 54 26" src="https://user-images.githubusercontent.com/13457544/142859307-c0a84a2b

[2021-11-22 18:04] gkarpiak commented on #2740
@czy2014hust is right you need to update the graph. The graph produces specific outputs, and for each output you corresponding packets, which are of specific type.

Then you can `Get` values from packets, and using the wrong "type" results in an error. So if you want `LandmarkList` you would need to convert from `NormalizedLandmarkList` either in the graph or after you `Get` the value.

For the gr

[2021-11-22 18:04] #2740 closed

[2021-11-22 19:01] tyrmullen commented on #2756
@artakpoghosyan1 The documentation is assuming that you are retrieving all files online, and not downloading any of them locally before-hand.  See the CodePen for better specifics on this method than the documentation: https://codepen.io/mediapipe/pen/wvJyQpq.  Note in particular the "settings" tab of the HTML, which has:
[code]
and the constructor:
[code]
So they both "match" in that they are bot

[2021-11-22 19:18] mathieuseguin opened #2807 "Unable to build the python package"
**System information**
- OS Platform and Distribution: Ubuntu 20.04.3 LTS
- Compiler version: gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0
- Programming Language and version : Python 3.8.10
- Installed using: virtualenv
- [MediaPipe version](https://github.com/google/mediapipe/releases): latest (cf101e62a9d49a51be76836b2b8e5ba5c06b5da0) - v0.8.8
- Bazel version: 3.7.2
- OpenCV version (if running on d

[2021-11-22 19:51] matanster commented on #970
Just a quick note about OpenCV version support, coming from the above ticket that refers here.

![image](https://user-images.githubusercontent.com/4996067/142925689-95dd792a-1fb2-46fe-bd11-a68a5c8d5958.png)

If OpenCV 3 is the endorsed version, then the OpenCV version recommendations here must mean something else than what they may seem to mean to my small mind.

[2021-11-22 19:54] matanster commented on #2801
Sure thanks. Anyway, I think the bazel file visibility omission might be a small newly introduced build bug, or I can't figure why it is so sensible to add it as a way for enabling the build of the example hands pipeline from above.

[code]

[2021-11-22 20:16] pekochun commented on #2806
Doing this solved the problem.

[code]

[2021-11-22 20:17] #2806 closed

[2021-11-22 22:15] djaffer opened #2808 "Selfie Segmentation Freezes in PWA but works fine in Chrome Browser without Installing"
**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Android 11
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Pixel 2XL
- Browser and versi

[2021-11-23 04:40] sgowroji commented on #2807
Hi @mathieuseguin, Can you try the workarounds mentioned in this  issues https://github.com/google/mediapipe/issues/2458#issuecomment-904842657,  https://github.com/google/mediapipe/issues/2041#issuecomment-847711380

[2021-11-23 04:43] sgowroji commented on #2808
Hi @djaffer, Could you please provide the steps to reproduce the above issue with a screen recording, error logs to understand the error.

[2021-11-23 04:51] sgowroji commented on #2777
Hi @simlevesque,  Glad to know you resolved. Thank you for sharing the resolution which will help the community. https://github.com/google/mediapipe/issues/2777#issuecomment-969377436

[2021-11-23 04:51] #2777 closed

[2021-11-23 05:18] sgowroji commented on #2185
Hi @LucaswasTaken, This will answer your query https://github.com/google/mediapipe/issues/1611#issuecomment-974941821

[2021-11-23 05:21] sgowroji commented on #1988
Hi @philiprkk, https://github.com/google/mediapipe/issues/1611#issuecomment-974941821 will help you know more about this issue.

[2021-11-23 05:27] sgowroji commented on #1957
Did you try this https://github.com/google/mediapipe/issues/1983#issuecomment-833616888. Seems there was an issue in tensorflow_inference_calculator.cc file

[2021-11-23 05:53] sgowroji commented on #2700
Before @bazarevsky replies on this thread, Can you check https://github.com/google/mediapipe/issues/1638#issuecomment-974167633 for more understanding of palm detection output

[2021-11-23 06:01] #2765 closed

[2021-11-23 06:05] sgowroji commented on #1873
Hi @pjbaron, Could you please respond if you still looking resolution for the above queries. Thanks!

[2021-11-23 06:11] JudeOsborn commented on #2596
I can confirm that the URL in the screenshot above is incorrect.

However, I've tried changing the URL as suggested but when I do I get an error in the JS console when trying to run the example code (same as the screenshot above):

<img width="809" alt="Screen Shot 2021-11-23 at 5 10 31 pm" src="https://user-images.githubusercontent.com/255014/142978211-14ef5df5-453e-4ed4-b85a-fffe0362bcb6.png">

[2021-11-23 07:21] pjbaron commented on #1873
I've finished working on that project, however I may need to do accurate hand tracking at moderate motion speeds in the future... so it would be great if there is anything we can do about it.  I believe eknight7 suggestion to modify the hand tracking graph would help provided that the system is capable of doing all of the processing in a single frame.
I think a better solution would be to deliver

[2021-11-23 08:12] sgowroji commented on #2233
Hi @mufaawan, Could you please refer https://github.com/google/mediapipe/issues/2104#issuecomment-974981124 for clear understanding.

[2021-11-23 08:28] sgowroji commented on #2558
May need to apply some optimizations for calculating the relative distance as mentioned here  https://github.com/google/mediapipe/issues/1611

[2021-11-23 08:32] sgowroji commented on #2203
Hi @gb2111,  Recently we updated the released model to produced additional world 3D landmarks output with origin in hips center.
More details can be found in API: https://google.github.io/mediapipe/solutions/pose#pose_world_landmarks
And in the blog: https://blog.tensorflow.org/2021/08/3d-pose-detection-with-mediapipe-blazepose-ghum-tfjs.html

[2021-11-23 09:08] Tortoise17 commented on #2560
@sgowroji Is there any update on this request?

[2021-11-23 09:49] sgowroji commented on #2540
Hi @KlickYang, We will let you know if there are any update on your request. But present we don't have any  plans to open source as mentioned here https://github.com/google/mediapipe/issues/1678#issuecomment-794655361.

[2021-11-23 09:49] #2540 closed

[2021-11-23 09:54] sgowroji commented on #2191
Hi @mufaawan, There is already a thread w.r.t python https://github.com/google/mediapipe/issues/1912#issuecomment-824189260

[2021-11-23 09:54] #2191 closed

[2021-11-23 10:06] gb2111 commented on #2784
I am using pose tracking from mediapipe. I have 60fps camera and when I run mediapipe it can do max 45fps on my PC.
In same time it uses about 8% of CPU. Why it doesn't compute faster if there is lot of CPU? Is this due to single thread processing? Is there way to make it compute faster?

Thank you.

[2021-11-23 10:56] ROBYER1 commented on #2358
I have not been successful yet in this, I am hoping for a reply from Google staff here to acknowledge this improvement to the pose tracking. I also mentioned this issue on the Mediapipe Slack channel where a lot of other developers mentioned having the same issue. Without additional tracking data it is very difficult to assess posture using Mediapipe currently.

[2021-11-23 11:54] #2623 closed

[2021-11-23 11:54] #2746 closed

[2021-11-23 11:54] #2607 closed

[2021-11-23 11:54] #2605 closed

[2021-11-23 12:22] mathieuseguin commented on #2807
Hi @sgowroji,

Thank you for your suggestions.

I'm not using `python3 setup.py install --link-opencv` but `python3 setup.py bdist_wheel`: https://github.com/mathieuseguin/mediapipe-docker/blob/main/mediapipe/Dockerfile#L45. I'll try with `python3 setup.py install` as suggested and report back.

Regarding the second suggestions, I am already running setup_opencv.sh: https://github.com/mathieusegui

[2021-11-23 15:18] Shubhambindal2017 opened #2809 "Face orientation angles - pitch/yaw/roll from face geometry"
Hi, I'm having some issues with retrieving the actual orientation angles i.e pitch/yaw/roll from face geometry. I need them for my application. I'm probably missing some obvious detail. Can you give me some hints? Thanks

I tried a solution based on the approach suggested by @kostyaby here at : [https://github.com/google/mediapipe/issues/1561#issuecomment-771027016](url)

Here is my code snippet t

[2021-11-23 15:44] farshid1 commented on #1838
@sgowroji so if I understood correctly, you are proposing that one should develop the feature in iOS and Android and import them into the RN project? Thanks for clarification

[2021-11-23 15:56] mathieuseguin commented on #2807
@sgowroji I was able to fix the linking issue for the "Builtin OpenCV build script" by [installing the missing packages](https://github.com/mathieuseguin/mediapipe-docker/blob/main/mediapipe/Dockerfile#L33) according to https://github.com/google/mediapipe/blob/master/third_party/opencv_linux.BUILD#L9

Now both of my Dockerfile fail with:
[code]

regardless of if I'm using `python3 setup.py install

[2021-11-23 16:39] diarmidmackenzie commented on #2596
Does this work for you?  Runs for me without errors, and my recollection is that it was just a copy/paste of this sample code, witht the error fixed.

https://diarmidmackenzie.github.io/face-geometry/mediapipe/original.html

[2021-11-23 17:54] #2753 closed

[2021-11-23 17:58] yoyojacky opened #2810 "WARNING: Logging before InitGoogleLogging() is written to STDERR"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information**

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe):
[code]

- OS Platform and Distribution ( MacOS 11.6.1):
- Programming Lang

[2021-11-23 19:34] mcclanahoochie commented on #2571
the bazel used in https://github.com/google/mediapipe/issues/2571#issuecomment-926519110 looks like it works, probably just needs gcc8+ at that point

[2021-11-23 20:09] ivan-grishchenko commented on #1915
These pipelines use different detection models and that's why the result differs.
Face detector used in Face Mesh pipeline has more strict requirements for face to be positioned vertically.
Pose detector used in Holistic is more robust as it should work for complex use cases like yoga. And it actually detects poses rather than face, and face region is later extracted from pose landmarks.
So if you

[2021-11-23 20:45] mhays-google commented on #2799
There are no plans to add this at this time, but members of the team are now aware of this issue.

[2021-11-23 20:45] #2799 closed

[2021-11-24 01:09] JudeOsborn commented on #2596
Yes, that does work for me, however upon inspecting the source it does not
appear to include control_utils_3d.js.

[image: Screen Shot 2021-11-24 at 12.09.08 pm.png]

On Wed, Nov 24, 2021 at 3:39 AM Diarmid Mackenzie ***@***.***>
wrote:

[2021-11-24 01:39] wycathy commented on #2550
Hi ,I am curious how you get this result？ just extract the pose detection tflite models？

[2021-11-24 04:16] pot2mayo opened #2811 "Instant motion tracking in web browser"
It's as much of a question as it is a feature request but is there any reason why Instant Motion Tracking has not been ported to any platform other than Android?

It would be especially really helpful to have it running in the web browser.

Is there any technical reason it could not done?
(performance issues? relies on Android-specific component?)

[2021-11-24 06:08] LMR2018 opened #2812 "How do I convert the camera's data stream into a Bitmap stream to recognize hand_landmark_lite.tflite and then convert the Bitmap back to video output?"
How do I convert the camera's data stream into a Bitmap stream to recognize hand_landmark_lite.tflite and then convert the Bitmap back to video output?

[2021-11-24 06:54] #2757 closed

[2021-11-24 08:12] abhimuktheeswarar commented on #626
Those two link does not exist anymore.

[2021-11-24 08:31] Gzzgz opened #2813 "world hand coordinates are wrong when back of hand in horizontal screen ？"
hello， I got new hand_landmark_lite.tflite and hand_landmark_full.tflite models  and convert them onnx models. so I just test my only hand image. I find that when  back of hand in horizontal screen its result is bad. just look like that:

<img width="640" alt="1" src="https://user-images.githubusercontent.com/15968092/143201314-5a70a2a1-17a7-49e6-a369-153a148374f0.png">

and _lite model is better

[2021-11-24 12:13] diarmidmackenzie commented on #2596
https://github.com/diarmidmackenzie/face-geometry/blob/main/mediapipe/original.html#L7

[2021-11-24 12:29] Andd54 opened #2814 "For windows, "pip install mediapipe" command is not working"
When trying to install the package, it simply won't work.
![image](https://user-images.githubusercontent.com/70097898/143238385-d3fd4651-4aa2-4738-ac37-a4fbce9b2906.png)
`pip install mediapipe`
![image](https://user-images.githubusercontent.com/70097898/143238487-de875daf-553e-4703-a0a7-9b0d6bf367c4.png)
![image](https://user-images.githubusercontent.com/70097898/143238529-44cb29d4-81d2-4cca-8899-

[2021-11-24 12:39] ebarooni opened #2815 "Proper way of locating file when using SelfieSegmentation"
Im trying to use selfie segmentation in an angular app. After installing the package using `npm i @mediapipe/selfie_segmentation` I tried constructing a selfie segmentation instance by using the following code:

<img width="712" alt="Bildschirmfoto 2021-11-24 um 13 35 05" src="https://user-images.githubusercontent.com/66495214/143239433-f526c9d5-369a-4c7b-afef-32a0eaa180ac.png">

Which yields the

[2021-11-24 12:54] #2758 closed

[2021-11-24 13:18] gb2111 commented on #2203
Thanks

[2021-11-24 13:18] #2203 closed

[2021-11-24 14:04] abhimuktheeswarar commented on #997
Issue is still there:
[code]

[2021-11-24 16:06] sainisanjay opened #2816 "How to interpret the Face Detection output from the tflite model"
I would like to run the model using Nvidia TensorRT. Therefore, i want to know how to interpret the Face Detection bounding box from the output node:
As output from output node is: float32[1,896,16]
num_classes: 1
num_boxes: 896
num_coords: 16

Should num_coords be 4?
I got this output in TensorRT:
![test](https://user-images.githubusercontent.com/25616511/143274914-3a559060-be0a-4c6b-b433-c7b64f7

[2021-11-24 18:53] anhqttruong opened #2817 "64 bit requirement"
**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Android 11
- [MediaPipe version](https://github.com/google/mediapipe/releases): Latest
- Bazel version: Latest
- Solution (e.g. FaceMesh,

[2021-11-24 19:26] mhays-google commented on #2779
The solution does not willingly expose TFlite models, and does not currently run under WebGL.  A WebGL inference engine may be in the works, but I have no timeline for this feature.

[2021-11-24 19:26] #2779 closed

[2021-11-24 19:51] mhays-google commented on #1937
Hmm... I've run code.mediapipe.dev/codepen/face_mesh in full screen mode
and in the editor.  I let it go for 10 minutes.  Not only was it not
leaking, but it was also hovering around 10 megabytes.

We definitely had leaks in the past (months ago), but we've addressed
this.  Is it possible that you have a bad version downloaded?
Specifically, in your constructor, are you maybe feeding a bad prefix

[2021-11-24 20:50] sehajarora opened #2818 "TypeError: create_int(): incompatible function arguments. The following argument types are supported: 1. (arg0: int) -> mediapipe.python._framework_bindings.packet.Packet Invoked with: 0.5"
getting this error whenever i am trying to run code ai virtual mouse code by seeing you video on youtube
Traceback (most recent call last):
  File "/Users/sehajarora/PycharmProjects/ai_virtual_mousePro/ai_virtual_mouse.py", line 21, in <module>
    detector = htm.handDetector(maxHands=1)
  File "/Users/sehajarora/PycharmProjects/ai_virtual_mousePro/handd.py", line 23, in __init__
    self.hands =

[2021-11-24 20:52] sehajarora commented on #2818
also in cvzone package in HandTrackingModule in HandDetector findPosition is also missing

[2021-11-24 21:33] spacebred commented on #2643
@TsainGra thanks for the info. I don't know how to do that but I wonder why Colab doesn't face the issue.

[2021-11-25 00:38] JudeOsborn commented on #2596
This version looks good for my purposes. Thank you.

On Wed, Nov 24, 2021 at 11:13 PM Diarmid Mackenzie ***@***.***>
wrote:

[2021-11-25 03:43] Jerryzhangzhao commented on #2816
4 coordinate value(2 point) for face bounding box and 12 coordinate(6 point) for facial keypoint coordinate: left eye,right eys, nose, mouth, lefteye tragion,right eye tragion.
Model card: https://drive.google.com/file/d/1d4-xJP9PVzOvMBDgIjz6NhvpnlG9_i0S/preview

[2021-11-25 04:24] sgowroji commented on #2814
Hi @Andd54 , Python 3.10 is not supported by MediaPipe yet. Please use Python 3.7 to 3.9. Thanks!

[2021-11-25 04:34] sgowroji commented on #2813
Hi @Gzzgz, Thank you for reaching us regarding the above issue. Could you please provide the steps to reproduce the above scenario with complete graph and code details. Thanks!

[2021-11-25 04:40] sgowroji commented on #2815
Hi @ebarooni, This https://github.com/google/mediapipe/issues/2756#issuecomment-975828630 answers your query.

[2021-11-25 05:08] sgowroji commented on #2818
Hi @sehajarora, Could you please provide your code changes to investigate it further. Thanks!

[2021-11-25 05:10] sgowroji commented on #2812
Hi @LMR2018, Could you please provide your use case w.r.t the above query. Thanks!

[2021-11-25 05:20] sainisanjay commented on #2816
Thanks @sgowroji for your response. So from 16 coordinated initial 4 points are belongs to Face BBox and remaining 12 is for Facial Keypoints right?

[2021-11-25 07:42] ebarooni commented on #2815
@sgowroji Tnx for the link but I already checked that comment and my idea was `node_modules/@mediapipe/selfie_segmentation/${path}` would be the correct directory.

[2021-11-25 09:45] sehajarora commented on #2818
I have not changed any code i have just copied the steps as mentioned in video but for reference i am pasting my code below

This for Ai_Virtual_Mouse
import cv2
import numpy as np
import handd as htm
import time
import autopy
import cvzone

##########################
wCam, hCam = 640, 480
frameR = 100  # Frame Reduction
smoothening = 7
#########################

pTime = 0
plocX, plocY = 0, 0
cloc

[2021-11-25 09:54] #2458 closed

[2021-11-25 10:54] #2739 closed

[2021-11-25 12:11] noedev86 commented on #1594
I found a solution to that issue, what I did is changing the mediapipe package location. It is normally located under
`mp_env/lib/python3.7/site-packages/mediapipe`
and I copied the `mediapipe` folder to `mp_env/mediapipe`. just copy the entire folder and it will find all the "missing" files.
If that doesn't work for you, **copy the mediapipe library one folder closer to the root env**

[2021-11-25 13:08] Digitaldarwinlab commented on #1918
Thanks @INF800 Asapanna.
We are facing another issue in one of the use cases while loading media pipe which started coming up recently after we tried an upgrade for mediapipe. If we move to tfjs model, everything starts working.
Look forward to your reply if you faced this or have a solution. @AmitMY @mhays-google
![MediaPipe loading error](https://user-images.githubusercontent.com/79757248/143447

[2021-11-25 14:01] sgowroji commented on #2792
Its not a use case with mediapipe but you can find multiple examples w.r.t your requirement. I can share you some https://stackoverflow.com/questions/9744790/how-to-take-camera-capture-without-a-preview-from-a-service-or-thread

[2021-11-25 14:38] bogdandonduk commented on #2802
Replies are so operative

[2021-11-25 16:15] matanster commented on #463
I wonder in what ways is the visualizer a great tool for people who have commented. It visualizes a graph, that it does. But I have never found that useful beyond an initial aesthetic kind of pleasure  detached from purpose.

The graph of execution cannot be traversed in any way near how a regular static graph of execution of a regular programming language code project can. For example, to navigat

[2021-11-25 16:24] matanster commented on #1523
I think other aspects would have much greater impact. Closing my own.

[2021-11-25 16:24] #1523 closed

[2021-11-25 20:43] ostap0207 opened #2819 "How to clean up memory after model is not used anymore?"
Solution: Selfie Segmentation JS

I am trying to close/clean up memory after SelfieSegmentation is not needed anymore, however cannot find a way to do it.

Steps to reproduce:
Example page: https://ostap0207.github.io/mediapipe-selfie-segmentation-release-memory/index.html
To close execute `stop()` in the console which will do:

[code]
Record memory snapshot in `Inspector > Memory > Heap snapshot`

[2021-11-25 20:44] mehtapaxshal commented on #2669
@mhays-google Anything I can try on my end or is there any debug information you would like me to send to you to figure out the issue?

[2021-11-25 22:29] kostyaby commented on #2809
Hey @Shubhambindal2017,

Could you please comment what is the `['h'][2]` part? Could this be relevant to this issue?

Please note that `getPoseTransformMatrix()` returns a `MatrixData` object which could be (and probably is, by default) a column-major matrix ([code](https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a479407c699e424aa7/mediapipe/framework/formats/matrix_data.proto)). Th

[2021-11-26 00:05] songwoh commented on #617
I have successfully run Face Detection model on Windows with Angle + Vulkan, as @ashikns has suggested.
However, I have experienced slower (..) inference using gl delegate on Face Detection than XNNPACK delegated graph by a large margin. Luckily, using OpenCL resulted in a slightly faster inference time, but still slower than XNNPACK.

I am wondering if there are others who has run TfLite on Windo

[2021-11-26 02:00] hyeyoungjo opened #2820 "world coordinates with the origin on the floor"
<em>Please make sure that this is a feature request.</em>

**System information** (Please provide as much relevant information as possible)

- MediaPipe Solution (you are using): Mediapipe 0.8.8.1
- Programming language : python
- Are you willing to contribute it (Yes/No): no

**Describe the feature and the current behavior/state:
currently, Mediapipe's POSE_WORLD_LANDMARKS provide x, y, z coordin

[2021-11-26 02:43] ashikns commented on #617
@songwoh For the windows platform specifically I ended up converting the tflite model to onnx and running it against native winml. I had to ditch mediapipe at that point since writing a winml calculator was too much effort for me.

[2021-11-26 02:53] LMR2018 commented on #2812
// For camera input and result rendering with OpenGL.
HandsOptions handsOptions =
    HandsOptions.builder()
        .setStaticImageMode(false)
        .setMaxNumHands(2)
        .setRunOnGpu(true).build();
Hands hands = new Hands(this, handsOptions);
hands.setErrorListener(
    (message, e) -> Log.e(TAG, "MediaPipe Hands error:" + message));

// Initializes a new CameraInput instance and connects

[2021-11-26 02:56] LMR2018 commented on #2812
cameraInput.setNewFrameListener(
textureFrame -> hands.send(textureFrame));

I want to see the c++ low-level implementation, I should in？

[2021-11-26 02:56] songwoh commented on #617
@ashikns What was the primary reason for converting to winml inference engine instead of using TfLite? Did you experience the same performance issues as I have?

[2021-11-26 02:59] #2794 closed

[2021-11-26 03:16] LMR2018 opened #2821 "After I use Building Android Example apps with Bazel to generate APK, APK can run normally on my phone, but on RK3399 Android flash back, do you know what the reason is?"
After I use Building Android Example apps with Bazel to generate APK, APK can run normally on my phone, but on RK3399 Android flash back, do you know what the reason is?

compile command：
bazel build -c opt --config=android_arm64 mediapipe/examples/android/src/java/com/google/mediapipe/apps/handtrackinggpu:handtrackinggpu

[2021-11-26 05:23] sgowroji commented on #2821
Hi @LMR2018, What is the error are you seeing while running on RK3399 ?

[2021-11-26 05:44] LMR2018 commented on #2821
I directly run the installed APK, but I can't see any mistakes. It just flashes back after opening the application, and I can't open the interface

[2021-11-26 05:45] LMR2018 commented on #2821
I directly run the installed APK, but I can't see any mistakes. It just flashes back after opening the application, and I can't open the interface

[2021-11-26 06:32] sgowroji commented on #2821
Hi @LMR2018, Could you please provide a recording reference to understand the issue and android logcat logs(bug report) to investigate further.

[2021-11-26 06:57] pkoppise commented on #117
hi @AvinashM-Prorigo

I am also trying to do the same thing ....could you please provide any hints?

Thanks in advance

[2021-11-26 08:25] ianni67 commented on #1786
Hello everyone, I thought that probably the issue has been fixed?
Are facial features more stable now, with respect to eyeballs motion? I'd love to resume my original project and complete my proof-of-concept.
Thank you very much for your help!

[2021-11-26 09:09] ithanwu opened #2822 "[autoflip] : Segmentation fault (core dumped) issue when running autoflip on CentOs 8,with opencv 3.4"
Dear All ,
When I tried to use the solution `autoflip` to automatically crop the video snowboarding.mp4 provided by this link https://drive.google.com/corp/drive/u/0/folders/1KK9LV--Ey0UEVpxssVLhVl7dypgJSQgk into aspect ratio 1:1
I run into a Segmentation fault ,and I cannot get across it by all the way I tried ! I tried to run the solution on different server ,U can't image it has been suffering

[2021-11-26 09:53] Harleyzheng opened #2823 "Async simultaneously loading two mediapipe packages (Hand Pose + Selfie Segmentation) leads to loading error at load time."
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe):
no

- OS Platfor

[2021-11-26 10:03] singhania0601 commented on #2818
This is used in the previous mediapipe hands file.
 self.hands = self.mpHands.Hands(self.mode, self.maxHands,self.detectionCon, self.trackCon)
In the new version the media complexity attribute is added
so try using
 def __init__(self, mode=False, maxHands=2,modelC=1, detectionCon=0.5, trackCon=0.5):
        self.mode = mode
        self.maxHands = maxHands
        self.modelC = modelC
        self

[2021-11-26 11:24] sehajarora commented on #2818
After doing above step now in this part of code
[code]

noe this error is occurring Traceback (most recent call last):
  File "/Users/sehajarora/PycharmProjects/ai_virtual_mousePro/ai_virtual_mouse.py", line 37, in <module>
    fingers = detector.fingersUp()
  File "/Users/sehajarora/PycharmProjects/ai_virtual_mousePro/handd.py", line 70, in fingersUp
    if self.lmList[self.tipIds[0][1]] > [self.

[2021-11-26 13:35] rbtcollins commented on #1204
Experienced a failure like this today. The C header files did exist.

I tried:
`bazel clean --discard_analysis_cache` - no result
`rm -rf <cachepath>` - worked

My project .bazelrc:
[code]

<details>

<summary>Bazel output</summary>

[code]

</details>

[2021-11-26 16:23] kulich-ua commented on #651
Hi @Ankish , at the moment I don't work actively with mediapipe. But I found a change in source code I made back then related to this issue. I hope it will help.

Here is the diff:

[code]

[2021-11-26 16:24] monkeyswarm opened #2824 "Build fails due to " unknown architectural extension `dotprod'""
Build fails due to " unknown architectural extension `dotprod'"

- Device: Nvidia Jetson TX2 development kit

- OS: Ubuntu 16.04

- Linux-4-Tegra info:
 R28 (release), REVISION: 1.0, GCID: 9379712, BOARD: t186ref, EABI: aarch64, DATE: Thu Jul 20 07:59:31 UTC 2017

- GCC: gcc (Ubuntu/Linaro 8.4.0-1ubuntu1~16.04.1) 8.4.0

- Set up OpenCV via the setup_opencv.sh script. Version:  3.4.16-dev
- Current

[2021-11-26 18:08] Shubhambindal2017 commented on #2809
@kostyaby Hi, thanks for the reply and suggestions.

**(a)** ['h'][2] was just to get the Pose Transform Matrix as a array - getPackedDataList() can also be used to get it.
``` pt_matrix = results.multiFaceGeometry[0].getPoseTransformMatrix().getPackedDataList()```

**(b)** Yeah, you were correct about column-major matrix, thanks for correcting it, btw I have also re-tried it correctly - but still

[2021-11-26 20:40] kostyaby commented on #2809
I'd be interested in seeing the dynamic. Getting a yaw angle around 60 degrees is a reasonable expectation I'd say - especially when it covers the range from -60 to 60 when the head is rotated from the left to the right

Personally, I rarely work in the Yaw-Pitch-Roll terms and usually in terms of Euler angle rotation groups (XYZ, ZYX and so on) so it's easier for me to find the right mapping as t

[2021-11-26 20:45] kostyaby commented on #1786
Hey @ianni67,

The recent MediaPipe release ([v0.8.8](https://github.com/google/mediapipe/releases/tag/v0.8.8)) has the [Attention Mesh](https://google.github.io/mediapipe/solutions/face_mesh#attention-mesh-model). It definitely has much better metrics around eye / lip landmarks, however I'm not 100% sure it has a better quality for your particular use-case. Maybe you can give it a shot?

[2021-11-27 01:58] rgm-22 commented on #793
I am also facing the same issue.
@AlexYiningLiu, have you resolved it?

[2021-11-27 02:37] monkeyswarm commented on #2824
Note that the same error occurs:

- On building the CPU target for iris_tracking
- On building with this flag: `--define tflite_with_xnnpack=false`

[2021-11-27 04:53] 1o1w1 commented on #2823
+1

[2021-11-27 05:58] 123epsilon commented on #644
@PopoTeaTree

Hi I'm working on a project right now where we need to do this. I saw your snippet and I want to reproduce this on my end but I don't see a stream names 'palm_detections' in the hand tracking GPU mobile graph - could you advise? Do you have any source code that I could look at to access the detections stream? Thank you!

[2021-11-27 06:02] 123epsilon commented on #2793
We solved this issue using the example app AAR with our existing code.

[2021-11-27 06:12] 123epsilon opened #2825 "(Android - Hands Graph) How to properly access palm detections stream and set handtrackinggpumobilegraph to run in static image mode?"
I am currently building an android application using a mediapipe AAR from the hand tracking example app for android. I want to be able to access the palm detections stream to obtain palm detection confidence values and run the hand tracking graph in static image mode in order to force palm detection to run on every frame that comes in from the camera.

I was able to accomplish this in the Python A

[2021-11-27 08:59] njuFerret commented on #2807
same problem, when compiled under raspi4b with ubuntu 20.04, the path `mediapipe/examples/android/solutions/facedetection/src/main/res`  is a soft link, I remove the link and copy same folder with `../../../res` at the same place and sucessfully built the library.

[2021-11-27 15:48] twiceand commented on #1928
it need init in hands.py
ctrl&click Hands in mpHands.Hands() it will turn to hands.py
![image](https://user-images.githubusercontent.com/64593919/143688012-fc6afa05-1b7a-4fa1-99f2-9450b42fa805.png)

[2021-11-27 15:49] twiceand commented on #1928
it need init in hands.py
ctrl&click Hands in mpHands.Hands() it will turn to hands.py

[2021-11-27 19:50] justin-f-perez commented on #2798
Here's a path of less resistance users getting started with mediapipe python solutions on darwin arm64.

These instructions assume `conda` is already installed (e.g. via `brew install --cask miniconda && conda init && exec zsh`)

1. create `environment.yml` file:
[code]

2. create env (installs dependencies, including python and mediapipe)
[code]

3. test installation
[code]

[2021-11-27 19:56] shane99a opened #2826 "Any solutions for Mixamo models translations"
Mixamo automatically rigs a 3d model with skeleton. https://www.mixamo.com/#/
Just wondering does Mediapipe support translation to the bones from Mixamo? I have researched and could not find anyone doing this.

Alternatively is it possible to make a animated model from the data generated from mediapipe. Just wondering if mediapipe has already done this or have any resources to make it possible for

[2021-11-28 04:38] mathieuseguin commented on #2807
thanks @njuFerret! I also had to remove the links for `facemesh` and `hands`, but ultimately got it working!
Really appreciate the help!

[2021-11-28 04:38] #2807 closed

[2021-11-28 14:38] V-m1r commented on #597
Hello!
How do you display the video then?
May you please share complete code for using mediapipe on prerecorded video?

[2021-11-28 15:16] V-m1r opened #2827 "Mediapipe on Pre-recorded video"
Hey!
I was wondering if it is possible to use mediapipe pose tracking on pre-recorded videos?
If so, May you please share the code if any, or describe in detail how to do it?

[2021-11-29 01:18] ithanwu commented on #2822
no answer ? why ?
any more information needed ?

[2021-11-29 01:21] ithanwu commented on #2822
No one answered me , why ?
Is there any more information needed ?

[2021-11-29 03:25] KenTee920806 opened #2828 "ERROR: An error occurred during the fetch of repository '...'"
**System information**
- OS Platform and Distribution: macOS Big Sur v11.5.2
- Compiler version: Apple clang version 12.0.5 (clang-1205.0.22.11)
- Programming Language and version: java version "1.8.0_311", "17.0.1"
- MediaPipe version: [master branch](https://github.com/google/mediapipe)
- Bazel version: bazel 3.7.2
- XCode and Tulsi versions (if iOS): xcode-select version 2384
- Android SDK and

[2021-11-29 03:34] sgowroji commented on #2827
Hi @V-m1r, You can try the similar implementation as mentioned here https://github.com/google/mediapipe/issues/1589#issuecomment-952186886. But you need to update the pose parameters in it.

[2021-11-29 03:39] sgowroji commented on #2828
Hi @KenTee920806, Have you tried the workarounds mentioned in the above query after trying the `bazel clean --expunge` command. Can you try once and try repeating  the above steps. And if you are looking for Android Hands solutions. We already have gradle api solution for android at here https://google.github.io/mediapipe/solutions/hands#android-solution-api. You can try using it.

[2021-11-29 03:53] KenTee920806 commented on #2828
Hi @sgowroji thanks for your reply. Yes, I have try multiple times with different version of SDK and NDK after the `bazel clean --expunge` command. But it still get the same error message: An error occurred during the fetch of repository '...'.
Is there anything I am missing?

I am looking for the Android mediapipe pose solutions. But first I need to successfully build one of the mediapipe android

[2021-11-29 04:18] sgowroji commented on #2825
Hi @123epsilon, Did you get a chance to go through  Hands Android Gradle api solutions with clear implementation and documentation from here https://google.github.io/mediapipe/solutions/hands#camera-input. You can use staticImageMode and runOnGpu.

[2021-11-29 04:59] sainisanjay opened #2829 "How to convert relative face bounding box location to absolute coordinates"
Any one can help me to convert relative face bounding box location to absolute coordinates.

[code]

Based on my implementation my detected face BBox is overlapping other place in the image then the actual face (Attached image)
![test](https://user-images.githubusercontent.com/25616511/143811404-24bbf066-c50d-4b26-9f52-de2fd29e9f3c.jpg)

[2021-11-29 05:02] #2816 closed

[2021-11-29 06:28] sgowroji commented on #2319
Hi @realfolkcode and all, Can you try the above with latest release https://google.github.io/mediapipe/solutions/hands.html#python-solution-api. Unable to reproduce in the latest version

[2021-11-29 06:29] #2319 closed

[2021-11-29 06:30] Andd54 commented on #2814
ow, thanks. I solved it with a venv.😀

[2021-11-29 06:30] #2814 closed

[2021-11-29 06:43] sgowroji commented on #2812
Hi @LMR2018, Could you please provide your use case with c++ on hands. Thanks!

[2021-11-29 06:47] sgowroji commented on #2780
We are closing this issue as we already marked the above issue to a duplicate one and an engineer assigned to address it.

[2021-11-29 06:48] #2780 closed

[2021-11-29 06:49] ithanwu commented on #2822
I uninstalled opencv and rebuilt a 3.4.10 version ,then I rebuild the auto flip and test it ,nothing changed !
HELP ！！！ yelling in despair .....

[2021-11-29 06:52] sgowroji commented on #2822
Hi @ithanwu, Thank you for being patience. We have already added owners on this issue. You will be receiving the update very soon.

[2021-11-29 09:44] KenTee920806 commented on #2828
Following is my steps for building example of mediapipe on Android.

**Clone the mediapipe master branch version**
1. `git clone git@github.com:google/mediapipe.git`
2. `cd mediapipe`

**Check mediapipe installation by running the Hello World! in C++ example**
1. `export GLOG_logtostderr=1`
2. `bazel run --define MEDIAPIPE_DISABLE_GPU=1 mediapipe/examples/desktop/hello_world:hello_world`
  <img wi

[2021-11-29 09:45] alfian0 opened #2830 "[iOS] How we can custom landmark(draw line or hide landmarks line)"
Hi ...did anyone explore mediapipe on iOS ?
my question is why iOS documentation is fewer than other, I have difficulty when follow documentation to custom facemesh when we want to hide line graph and red square on the detected face

thanks and appreciate for the answer

[2021-11-29 10:03] emredog commented on #1790
No, please keep it open until the ticket is addressed.

[2021-11-29 10:24] sgowroji commented on #2828
Hi @KenTee920806, Assuming its more a network related issue kindly try with any vpn as mentioned [here](https://github.com/google/mediapipe/issues/1587#issuecomment-774341903) . You can also try the workarounds mentioned here https://github.com/google/mediapipe/issues/1275#issuecomment-731886723

[2021-11-29 10:32] sgowroji commented on #2830
Hi @alfian0, You can do the changes in the face_mesh_mobile_gpu graph w.r.t face mesh and build the code as mentioned here https://google.github.io/mediapipe/getting_started/ios

[2021-11-29 12:25] KenTee920806 commented on #2828
Hi @sgowroji, I try to workarounds the vpn method.
First, I downloaded the OpenVPN client on my mac, and try to choose one of the vpn at [here](https://www.vpngate.net/en/).

Then I executed the build command:
`bazel --host_jvm_args "-DsocksProxyHost=<ip address> -DsocksProxyPort=<port number>" build -c opt --config=android_arm64 mediapipe/examples/android/src/java/com/google/mediapipe/apps/posetr

[2021-11-29 12:45] siyuan-peng opened #2831 "Visibility for hand landmarks"
The [document](https://google.github.io/mediapipe/solutions/hands#output) says that there is a `visibility` value associated with each landmark in `multi_hand_world_landmarks`.
However, when I'm printing them out, they all seem to be 0.0 (which I'm pretty sure are the default values).
Is there a way to extract the visibility values for each hand landmark, or if my understanding is wrong?

I'm usin

[2021-11-29 13:31] #2773 closed

[2021-11-29 15:23] mhays-google commented on #2819
I know that some of the underlying implementations on which we rely create some globals, and this is an issue we need to look into.  Here, I believe that the issue is that there are elements added to the DOM that never get released (An HTMLCanvasElement is used for all of our GPU work, for instance).  I've added a bug internally to address this, but I don't have a timeline for when it will be reso

[2021-11-29 15:30] mhays-google commented on #2669
I'm sorry that this is still blocking your team.  This error:

"Failed to read file third_party/mediapipe/modules/pose_landmark/pose_landmark_full.tflite"

The path is internal, but the file is still part of the bundle.  This tells me that the tflite file is not getting read correctly, and is probably missing.  Take a look at the network tab and make sure that this file is being downloaded with a

[2021-11-29 16:24] iamwilllrobinson opened #2832 "mediapipe in vs studio"
not able to install mediapipe in windows11
ERROR: Could not find a version that satisfies the requirement mediapipe (from versions: none)
ERROR: No matching distribution found for mediapipe

[2021-11-29 18:23] 123epsilon commented on #2825
Hi @sgowroji yes I saw that it is very simple to use the API Solution to set staticImageMode to true, however, is it possible to extract specific streams from the handtrackinggpu graph while it runs? In particular I would like to extract output packets from the "palm_detections" stream rather than the default landmarks stream.

[2021-11-29 19:14] tyrmullen commented on #2815
@ebarooni That would be correct if you are staging your webpage from the directory on your filesystem where you actually ran the `npm i @mediapipe/selfie_segmentation` command.  For example, just running:
`npm i @mediapipe/selfie_segmentation && python3 -m http.server` will start up a website at "localhost:8000", and if you type in an asset like "http://localhost:8000/node_modules/@mediapipe/selfi

[2021-11-29 19:37] tyrmullen commented on #2823
Correct-- currently the initializers don't play nicely together.  But you shouldn't need anything complicated-- just adding `await` before the `.initialize()` calls (specifically `await selfieSegmentation.initialize()`) should be sufficient.

However, leaving this bug open, as it would be a nice thing for us to have, although this isn't something I'll be able to tackle myself any time soon, so una

[2021-11-29 21:24] tyrmullen commented on #1937
Unfortunately, I can verify that both of those demo scenarios leak on CodePen as well (current facemesh CodePen with no changes, and pose with version bumped to @0.5.1635988162).

Profiling makes it seem that there may even be two distinct leaks: one in C++/Wasm memory (`System/JsArrayBufferData`, which exhibits sporadic "leaps" in size) like before, and a much smaller one which appears to be in p

[2021-11-29 23:35] ablavatski commented on #2755
Hi Ramalingesh,

There are many approaches you can try but the one that is supported right now is to use k-nearest neighbors algorithm (k-NN) similar to the [pose classification in MediaPipe](https://google.github.io/mediapipe/solutions/pose_classification.html). You can create similar classification for the face mesh but instead of using 468 points you can pick a subset and verify only the subset

[2021-11-30 00:56] alfian0 commented on #2830
did you mean this file ?
https://github.com/google/mediapipe/blob/master/mediapipe/graphs/face_mesh/subgraphs/face_renderer_gpu.pbtxt
any documentation for custom this file ?

[2021-11-30 01:40] LMR2018 commented on #2821
adb: failed to install bazel-bin/mediapipe/examples/android/src/java/com/google/mediapipe/apps/handtrackinggpu/handtrackinggpu.apk: Failure [INSTALL_FAILED_ALREADY_EXISTS: Attempt to re-install com.google.mediapipe.apps.handtrackinggpu without first uninstalling.]

[2021-11-30 01:45] LMR2018 commented on #2821
(base) ubuntu@ubuntu:mediapipe$ adb install bazel-bin/mediapipe/examples/android/src/java/com/google/mediapipe/apps/handtrackinggpu/handtrackinggpu.apk

adb: failed to install bazel-bin/mediapipe/examples/android/src/java/com/google/mediapipe/apps/handtrackinggpu/handtrackinggpu.apk: Failure [INSTALL_FAILED_ALREADY_EXISTS: Attempt to re-install com.google.mediapipe.apps.handtrackinggpu without fir

[2021-11-30 02:59] KenTee920806 commented on #2828
Hi @sgowroji, for the vpn method, I found that I forget to set the Android SDK / NDK environment path, after finished to set the enviroment path, and run the build command, i got the following error.
<img width="1434" alt="Screen Shot 2021-11-30 at 10 57 29 AM" src="https://user-images.githubusercontent.com/81151868/143977813-aada0a75-cd1c-4152-8ce6-db900e495199.png">

[2021-11-30 03:04] KenTee920806 commented on #2828
Hi @sgowroji, I try to workarounds [#1275 (comment)](https://github.com/google/mediapipe/issues/1275#issuecomment-731886723) to reinstall my xcode, and still get the same build error.

**Reinstall Xcode**
1. `sudo rm -rf /Library/Developer/CommandLineTools`
2. `xcode-select --install`

**Check Xcode version**
1. `xcode-select -v` (xcode-select version 2384)

**Run bazel clean before start to build

[2021-11-30 04:01] #2376 closed

[2021-11-30 04:17] sgowroji commented on #2831
Hi @siyuan-peng, "multi_hand_world_landmarks" field  contains the hand landmarks on each detected hand in real-world 3D coordinates which is in meters with the origin at the hand's approximate geometric center. Could you please check with the latest version.

[2021-11-30 04:18] sgowroji commented on #2832
Hi @iamwilllrobinson, Could you please provide steps to reproduce the above error. Thanks!

[2021-11-30 05:13] niranjan-tech opened #2833 "getting error in android studio when App is started"
E/native: E20211130 10:11:55.696344 22541 calculator_graph.cc:805] INTERNAL: CalculatorGraph::Run() failed in Run:
    Calculator::Open() for node "handlandmarktrackinggpu__palmdetectiongpu__inferencecalculator__handlandmarktrackinggpu__palmdetectiongpu__InferenceCalculator" failed: ; (TfLiteGpuDelegateBindBufferToTensor( delegate_.get(), gpu_buffers_in_.back()->GetOpenGlBufferWriteView().name(),

[2021-11-30 05:37] sgowroji commented on #2833
Hi @niranjan-tech, Could you please provide steps to reproduce the above error. Thanks!

[2021-11-30 06:02] ithanwu commented on #2822
thx !!!

[2021-11-30 06:34] siyuan-peng commented on #2831
The [latest document](https://google.github.io/mediapipe/solutions/hands#multi_hand_world_landmarks) still contains a `visibility` description.

[2021-11-30 06:38] sgowroji commented on #2776
Hi @pekochun, If you are trying to build Hands solution in Android . You can have a look at our gradle api implementation from here https://google.github.io/mediapipe/getting_started/android_solutions.html#mediapipe-android-solutions

[2021-11-30 06:45] LMR2018 opened #2834 "Hand_landmark gesture recognition, camera mode, finger key points of recognition shake a lot, is there any solution?"
Hand_landmark gesture recognition, camera mode, finger key points of recognition shake a lot, is there any solution?

[2021-11-30 07:59] LMR2018 opened #2835 "When using hand tracking and camera mode, z-axis coordinate jitter is large when the hand slides on the desktop. How to solve this problem?"
When using hand tracking and camera mode, z-axis coordinate jitter is large when the hand slides on the desktop. How to solve this problem?

cap = cv2.VideoCapture(0)
with mp_hands.Hands(
        model_complexity=1,
        min_detection_confidence=0.9,
        min_tracking_confidence=0.9) as hands:

[2021-11-30 08:27] YU1070 commented on #2722
return absl::StatusOr<mediapipe::ImageFrame> ( mediapipe::ImageFrame(std::move(out_image)));

[2021-11-30 08:29] YU1070 commented on #2722
return absl::StatusOr<mediapipe::ImageFrame> ( mediapipe::ImageFrame(std::move(out_image)));

[2021-11-30 08:31] #2547 closed

[2021-11-30 08:33] YU1070 commented on #2722
return absl::StatusOr<mediapipe::ImageFrame> ( mediapipe::ImageFrame(std::move(out_image)));

[2021-11-30 09:17] ithanwu commented on #2822
I want to add some more information here. I've tried the docker ,and this issue is reproduced ! Yeah ,exactly the docker file included in this project....

[2021-11-30 09:22] sgowroji commented on #2834
Hi @LMR2018, Thank you for sharing your request on the Hands solution. Could you please provide a recording video or any reference to understand the behaviour. Thanks!

[2021-11-30 09:24] hosson opened #2836 "A sample code in the document could not be run properly"
https://google.github.io/mediapipe/getting_started/python_framework.html#:~:text=Start%20the%20graph,rgb_img).at(1))

When you run the code in the document, it outputs the following error messages:

`AttributeError: module 'mediapipe.python.packet_creator' has no attribute 'create_str'`
A right attribute name would be `'create_string'`.

`TypeError: create_image_frame() got an unexpected keyword a

[2021-11-30 09:27] #2835 closed

[2021-11-30 09:29] sgowroji commented on #2836
Hi @hosson, Could you please provide the steps to reproduce the above error. Thanks!

[2021-11-30 09:35] LMR2018 commented on #2834
![Snipaste_2021-11-30_17-34-27](https://user-images.githubusercontent.com/37955893/144022019-99518e59-1ba2-48d5-9683-40437427734d.png)

[2021-11-30 09:56] hosson commented on #2836
@sgowroji
Thank you for your comment.
I think that only the sample code in the document has simply mistakes.
Therefore, you revise the document, and this problem will be resolved.

Just in case, I provide the steps to reproduce the above errors.

OS : ubuntu20.04
1. run `$ pip install mediapipe` and `$ pip install opencv-python`
2. run the following code in Python 3.8.12.
[code]
then the error mes

[2021-11-30 10:20] pkoppise opened #2837 "Hand Gesture Recognition"
Hi Team,

I was gng through the link https://gist.github.com/TheJLifeX/74958cc59db477a91837244ff598ef4a  for  counting . The code is for old version of mediapipe. I  ported as follows for latest version of mediapipe

ubuntu20@ubuntu20-OptiPlex-9020:~/mediapipe/hand-gesture-recognition$ ls
BUILD  hand-gesture-recognition-calculator.cc

https://github.com/TheJLifeX/mediapipe/tree/master/hand-gesture

[2021-11-30 10:26] ebarooni commented on #2815
@tyrmullen Thank you for the explanation. I simply copied the content of the directory as you said under assets/ and it was successful. However, the question that i have regarding this is that doesnt copy pasting the content of the installed package in node_modules contradict npm installing a package?
Because I would expect that when a package is installed, i can simply use it as-is. Therefore, co

[2021-11-30 10:31] ramkeshshadowcast opened #2838 "Skelton moving one person to another ."
Hello ,
When i am opening camera and there are more than one person so skeleton move from 1 person to another . Due to this value changed . How we can focus skeleton on single person ? . I know it works best with single person but i want it should not move when more then one persons are in front of camera . It should work with first detected person . How we can customize graph ? . If possible plea

[2021-11-30 10:43] sgowroji commented on #2838
Hi @ramkeshshadowcast, Could you please go through [this](https://github.com/google/mediapipe/issues/1691#issuecomment-797159603) reference for clear understanding  of multi pose implementation.

[2021-11-30 11:18] UnityDev1021 opened #2839 "Use button to switch over to another mode(PoseTrackingGpu/ObjectDetection)"
**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Android
- [MediaPipe version](https://github.com/google/mediapipe/releases):
- Bazel version: 1.10.1
- Solution (e.g. FaceMesh, Pose, Holi

[2021-11-30 12:58] Rana-Banerjee commented on #1325
Tried python 3.7.5 and 3.8.0, but pip install mediapipe doesn't work. Says no matching distributions found. Building from source also failed with the following message:
mediapipe/calculators/tensor/image_to_tensor_converter_opencv.cc: In member function 'virtual absl::lts_20210324::StatusOr<mediapipe::Tensor> mediapipe::{anonymous}::OpenCvProcessor::Convert(const mediapipe::Image&, const mediapipe

[2021-11-30 13:19] sgowroji commented on #2839
Hi @UnityDev1021, Have you tried any implementation and What is the error noticed while switching the models?

[2021-11-30 14:35] PopoTeaTree commented on #644
Dear Arham Khan

I followed the MediaPipe Tutorial by generating the hand tracking to ARR
library. Then put it into Android app project with Tensorflow files(Hand
tracking and Hand landmarks). (
https://github.com/google/mediapipe/tree/master/mediapipe/examples/android/solutions/hands)
<- This link is the example  of using hand tracking in Android. This
example worked with Java, but it available o

[2021-11-30 14:47] PopoTeaTree commented on #644
The video is private, I cannot see the clip video. For my solution, I check all finger is it inside or outside palm. The Five gesture is all finger outside palm, and for Three gesture there has 3 fingers outside and 2 fingers inside palm(thumb, little). Checking the finger outside/inside palm by using the divided result of Euclidean distance between
the wrist point to the fingertip of each finger.

[2021-11-30 17:56] alexdmiller opened #2840 "TFLite model is slow only on iOS"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible):

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): yes
- OS Platfo

[2021-11-30 18:57] alexdmiller commented on #2840
Some more information:

I notice that GMP applies patches to the Tensorflow Lite dependency. I tried commenting out the patches to see if this was potentially causing the slow inference. It does not appear that my model depended on any of the custom ops, so I am able to comment out the code that depends on this patch and continue to run my model. I was not able to remove the `org_tensorflow_objc_c

[2021-11-30 23:06] 123epsilon commented on #644
@PopoTeaTree Thank you for the quick response! That is very helpful. One more question: did you run your hand tracking graph in static image mode? If so how did you configure the graph to run in that mode.

[2021-11-30 23:22] tyrmullen commented on #2815
Well, in a sense you can use the package "as-is"-- the issue isn't with grabbing the package, but rather with how you're staging your website.  As long as your website staging/serving process includes the proper node modules, then you'll be fine (which can be done with server code, with a custom build script to temporarily copy specific node_modules directories, or with other methods).  I'm not ve

[2021-12-01 00:32] pekochun opened #2841 "How to debug an apk on an actual Android device?"
-Environment
I use Windows and WSL.
The Ubuntu version is Ubuntu 18.04LTS.

-Bazel version
Bazelisk version: development
Build label: 4.2.1
Build target: bazel-out/k8-opt/bin/src/main/java/com/google/devtools/build/lib/bazel/BazelServer_deploy.jar
Build time: Mon Aug 30 15:17:47 2021 (1630336667)
Build timestamp: 1630336667
Build timestamp as int: 1630336667

**[Provide the exact sequence of comma

[2021-12-01 03:35] chensisi0730 opened #2842 "base on opencv-4.5.1 , Use build aar, crash ,dlopen failed: cannot locate symbol "__subtf3""
System information (Please provide as much relevant information as possible)

OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):
MediaPipe version: v0.8.6
Bazel version:bazel 4.1.0
Solution (e.g. FaceMesh, Pose, Holistic): HANDTRACK aar
Programming Language and version ( e.g. C++, Python, Java): Java
Describe the expected behavior:

My goal was to create an aar to  usin

[2021-12-01 04:40] UnityDev1021 commented on #2839
Hi there @sgowroji, I have not yet tried to implement anything but I am thinking of making a single graph consisting of both PoseTracking and ObjectDetection subgraph and using a SwitchConatiner to switch between the two Subgraphs, as I cannot find any other way to stop and start a new graph as of now.

The only problem is I do not know of any way to supply a value to the SwitchContainer Node at r

[2021-12-01 04:44] sgowroji commented on #2841
Hi @pekochun, Can you check the logcat logs or adb bug report to check the errors w.r.t the apk.

[2021-12-01 04:47] niranjan-tech commented on #2833
The Application run was successful but when I press start camera it showed me above error.

[2021-12-01 04:55] sgowroji commented on #2842
Hi @chensisi0730, Can you try adding "api_level=21" as mentioned here https://github.com/google/mediapipe/issues/1224#issuecomment-745190852. and let me know if it works. Thanks!

[2021-12-01 05:02] sgowroji commented on #2833
Hi @niranjan-tech, Did you try the gradle approach to build android hands solutions. https://github.com/google/mediapipe/issues/2339#issuecomment-902841279

[2021-12-01 05:26] sgowroji commented on #2754
Hi @Winvoker, Did you try adding the face detection bounding box using `mp_drawing.draw_detection(annotated_image, detection)` in face mesh.  You can try changing the attributes in  drawing_utils.py and also drawing_styles.py

[2021-12-01 05:49] pekochun commented on #2841
@sgowroji
Thanks for the reply.

I usually use `adb root` in Windows command prompt.
Does your reply mean that I should change `adb root` to `adb logcat`?
Or can I just use `adb logcat` after running `adb root`?
I do not understand how to use logcat.

[2021-12-01 08:42] #2815 closed

[2021-12-01 09:08] bazarevsky commented on #2357
To obtain ground truth for BlazePose and Hands we use GHUM model (https://github.com/google-research/google-research/tree/master/ghum). We reconstruct object pose in 3D meter space on the basis of various signals, like 2d keypoint prediction, segmentation mask, etc. Some details related fitting can be fond here (https://blog.tensorflow.org/2021/08/3d-pose-detection-with-mediapipe-blazepose-ghum-tf

[2021-12-01 09:16] #2357 closed

[2021-12-01 10:33] ianni67 commented on #1786
Hey @kostyaby,
thank you for answering! Indeed I gave Attention Mesh results a shot. As far as I could get, the problem is still there: the accuracy of eyes and lips landmarks has indeed been improved, but the other landmarks are still affected by the motion of irises, so my application still does not work :-(

[2021-12-01 10:49] CYChuang commented on #2330
@z7212819
I only can show the cube on user's foot. How did you let the virtual shoe on your foot? Please tell me thanks.

[2021-12-01 12:21] chensisi0730 commented on #2842
@sgowroji , I had tryed add "api_level=21"  ,but i do not work .

[2021-12-01 12:31] #2771 closed

[2021-12-01 13:17] sehajarora commented on #2818
still this error is coming TypeError: 'int' object is not subscriptable after replacing the code you told above

[2021-12-01 14:05] singhania0601 commented on #2818
for the hand tracking code, I will upload the file on my github, refer the code from there only

[2021-12-01 14:16] sehajarora commented on #2818
okay thanks

[2021-12-01 14:16] #2818 closed

[2021-12-01 16:47] aheze opened #2844 "ETA for Instant Motion Tracking on iOS or other platforms?"
**System information** (Please provide as much relevant information as possible)

- MediaPipe Solution: [Instant Motion Tracking](https://google.github.io/mediapipe/solutions/instant_motion_tracking)
- Programming language: Swift
- Are you willing to contribute it: Yes

**Describe the feature and the current behavior/state:**

Currently, Instant Motion Tracking seems to only be supported on Androi

[2021-12-01 16:50] jiuqiant commented on #2497
tflite cpu inference and gpu inference may produce different results. For example, MediaPipe Python is with the CPU graphs and Android is normally with the GPU graphs. It might due to the different inference engine different devices use.

[2021-12-01 16:50] #2497 closed

[2021-12-01 17:04] jiuqiant commented on #2824
Can you downgrade to use the preferred bazel version 3.7.2? Both MediaPipe and TensorFlow (tflite repo) are on that Bazel version.

[2021-12-01 18:17] anhqttruong commented on #2817
I wonder if this problem only affects me and not others. Could you please confirm by trying to upload the hands solution on Google Play ? Thank you in advance.

[2021-12-01 22:06] ilmarioranen commented on #1369
I'd also REALLY love to see this supported in an official Unity repo / asset maintained by Google. It would mean MediaPipe is accessible to the biggest AR/XR/VR developer community on the planet and make a huge difference.

Granted such a huge community might require additiobal attention and effort from Google, but why make this code public at all if the goal is not to make is accessible to as man

[2021-12-01 22:44] yiusay opened #2845 "Depth estimation is failing in Mediapipe 0.8.9 Hand Tracking"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): No
- OS Platform and Distribution: Windows 10
- MediaPipe version: 0.8.9
- Bazel version: N/A
- Solution: Hands
- Programming Language and version: Python 3.9.5

**Describe the expected behavior:**

Depth estimation is failing in Mediapipe 0.8.9 Hand Tracking when model_complexit

[2021-12-01 23:13] sarimmehdi commented on #1472
Why is this tool not being released? It can be useful for all of us

[2021-12-01 23:16] sarimmehdi opened #2846 "Why are you guys not releasing the 3D annotation tool?"
[This](https://google.github.io/mediapipe/solutions/objectron.html#obtaining-real-world-3d-training-data) will be extremely beneficial for the community. Is there a reason why this tool is not being released to the general public?

[2021-12-02 03:40] sgowroji commented on #2846
Marking the above issue as duplicate of https://github.com/google/mediapipe/issues/2131 and please subscribe the parent issue for more details as we assigned engineer on it.

[2021-12-02 03:40] #2846 closed

[2021-12-02 04:20] sgowroji commented on #2817
Hi @anhqttruong, Could you please confirm the above error reflecting from  is this from google gmaven repo or from your own build. Can you refer this https://stackoverflow.com/questions/57586642/this-release-is-not-compliant-with-the-google-play-64-bit-requirement-error-stil to understand more about the fix.

[2021-12-02 04:55] sgowroji commented on #2804
Hi @LMR2018,  The mediapipe models are limited to fixed-size input. So it is not recommended to scale the image. Doing it may or may not give you the appropriate results.

[2021-12-02 04:56] sgowroji commented on #2791
Hi @LMR2018, Could you please see the solution parameter "model_complexity", this substitutes between two models.
https://github.com/google/mediapipe/blob/master/mediapipe/java/com/google/mediapipe/solutions/hands/HandsOptions.java#L50.

[2021-12-02 05:27] mehtapaxshal commented on #2669
@mhays-google Thanks for your response.

I checked the network tab and I can see 200 responses from the network.

<img width="1427" alt="Screen Shot 2021-12-01 at 9 26 20 PM" src="https://user-images.githubusercontent.com/16583481/144363038-5e213424-1080-4765-b5fd-0b6f46c664a7.png">

[2021-12-02 05:28] mehtapaxshal commented on #2669
Btw, just making sure the way I am calling the file is correct or not. I am doing like this:

`const pose = new Pose({locateFile: (file) => {
      return `https://cdn.jsdelivr.net/npm/@mediapipe/pose@0.5/${file}`;
    }});`

[2021-12-02 05:57] sgowroji commented on #2126
Hi @PragadheeswaranDX, Could you please update the issue with your resolution. So the community will get benefitted with your update. Thanks!

[2021-12-02 05:57] sgowroji commented on #2796
Duplicate https://github.com/google/mediapipe/issues/2126

[2021-12-02 07:26] #2791 closed

[2021-12-02 07:31] chensisi0730 commented on #2842
i use opencv-4.5.1 is different from opencv-4.0.1 in exzample .
sed -i -e 's:3.4.3/opencv-3.4.3:4.5.1 /opencv-4.5.1 :g' WORKSPACE
sed -i -e 's:libopencv_java3:libopencv_java4:g' third_party/opencv_android.BUILD
$ nm -D libmediapipe_jni.so |grep subtf3
0000000000cc3814 T __subtf3
$ nm -l libmediapipe_jni.so |grep subtf3 |c++filt
0000000000cc3814 T __subtf3	/usr/local/google/buildbot/src/android/gcc

[2021-12-02 07:38] sgowroji commented on #2842
Hi @chensisi0730,  Can you downgrade to use the preferred bazel version 3.7.2? Both MediaPipe and TensorFlow (tflite repo) are on that Bazel version.

[2021-12-02 08:15] chensisi0730 commented on #2842
hi @sgowroji downgrade to bazel version 3.7.2  ,  But it still reports the same error !

[2021-12-02 08:53] ithanwu commented on #2822
could you please have a look at this issue ?.......

[2021-12-02 10:04] HBnetDE opened #2848 "Undefined symbol with self-built MediaPipe Python package"
**System information**
- OS Platform and Distribution: WSL - Ubuntu 20.04
- Compiler version: gcc 9.3.0
- Programming Language and version: Python 3.9.9
- Installed using virtualenv? pip? Conda? (if python): Using the poetry package manager
- MediaPipe version: Cloned from master (commit cf101e62a9d49a51be76836b2b8e5ba5c06b5da0)
- Bazel version: 4.2.1
- OpenCV version (if running on desktop): 4.2.

[2021-12-02 10:22] shivammaindola opened #2849 "How to get rotation values in js objectron?"
When I used console.log(detectedObject). there isn't any rotation value so how to get the rotation values in js? and If this API doesn't provide any rotation value then Is there any way to find out the rotation values during object tracking?

[2021-12-02 11:32] niranjan-tech opened #2850 "Is it possible to run mediapipe apps using android studio (without bazel)?"
Thank you for submitting a MediaPipe documentation issue.
The MediaPipe docs are open source! To get involved, read the documentation Contributor Guide
## URL(s) with the issue:

Please provide a link to the documentation entry, for example: https://github.com/google/mediapipe/blob/master/docs/solutions/face_mesh.md#models

## Description of issue (what needs changing):

Kinds of documentation pro

[2021-12-02 11:33] sgowroji commented on #2849
Please refer this duplicate issue for more details specific to your query. https://github.com/google/mediapipe/issues/2581.

[2021-12-02 11:38] sgowroji commented on #2850
Hi @niranjan-tech, Please refer Android Face mesh gradle api solution https://google.github.io/mediapipe/getting_started/android_solutions.html

[2021-12-02 11:51] shivammaindola commented on #2581
@sgowroji @mhays-google Objectron is still not updated. Can you please update it so that we can access the rotation values?

[2021-12-02 13:05] #2849 closed

[2021-12-02 13:16] jiuqiant commented on #2842
I never tried mediapipe aar with opencv 4.5.1. Do you have the sam issue with opencv 4.0.1? If the issue is specific to opencv 4.5, please consider reporting it to the opencv community.

[2021-12-02 14:08] guker commented on #2550
yes

[2021-12-02 14:31] #2792 closed

[2021-12-02 17:03] mhays-google commented on #2581
I'm looking at the version served from jsdelivr.  Check that you are actually downloading the latest:

https://cdn.jsdelivr.net/npm/@mediapipe/objectron@0.4.1636596145/index.d.ts

[code]

[2021-12-02 17:06] nicolacapece opened #2851 "E/AndroidRuntime: FATAL EXCEPTION: ExternalTextureConverter"
- OS Platform and Distribution Linux Ubuntu 20.04,
- Android Emulator (API 28)
- Programming Language and version: Java

When I try to run the media pipe hand tracking app from the source code using Android Studio and the emulator, I obtain this exception:

E/AndroidRuntime: FATAL EXCEPTION: ExternalTextureConverter
    Process: com.google.mediapipe.apps.hands, PID: 10034
    java.lang.RuntimeExce

[2021-12-02 17:16] monkeyswarm commented on #2824
Turns out I was actually using 3.7.2 in the original post (see the logs, it shows 3.7.2).
I tried manually setting env variable USE_BAZEL_VERSION=3.7.2, cleaning, and rebuilding. Same result.

[2021-12-02 17:37] mhays-google commented on #2669
You are actually looking for `pose_landmark_full.tflite`, not `pose_web.binarypb`

I see 'pose_landmark_full.tflite' being loaded, but I do not see `pose_landmark_full.tflite` getting loaded.  Look in your options and set `model_complexity` to 0, just as a sanity check.  Tell me if that works.

[2021-12-03 03:06] honggang0524 opened #2852 "Some problems in deploying the target detection. Tflite model to Android devices"
In the target detection task, replace the model with my own model and deploy it to the Android device. The CPU can run normally. When I try to run on the Android GPU device, the app opens and a black screen appears. Print logcat and prompt: Calculator:: process() for node "tflitetensorstodetectionscolculator" Failed: read buffer does not match write buffer size. Gpu graph does not make any node mo

[2021-12-03 04:07] kostyaby commented on #1786
I see, thanks for checking out. It's too bad the quality is still not enough; AFAIK this is close to our best tech available, so if it doesn't work then I'd say there's not a big chance anything based on MediaPipe face tracking would work (based on the progress we have so far)

[2021-12-03 04:30] chensisi0730 commented on #2842
hi @jiuqiant  I used  latest mediapipe ,  and  create aar ：
cat mediapipe/examples/android/src/java/com/google/mediapipe/apps/aar_example_handtrack/BUILD
load("//mediapipe/java/com/google/mediapipe:mediapipe_aar.bzl", "mediapipe_aar")

mediapipe_aar(
    name = "mp_multi_hand_aar",
    calculators = ["//mediapipe/graphs/hand_tracking:mobile_calculators"],
)

the calculators is not ["//mediapipe/gr

[2021-12-03 04:53] sgowroji commented on #2851
Hi @nicolacapece, Did you try with any physical device and able to reproduce it. Thanks!

[2021-12-03 04:55] sgowroji commented on #2852
Hi @honggang0524, Could you please provide complete details to reproduce  steps and device information in which the black screen appears. Thanks!

[2021-12-03 05:30] honggang0524 commented on #2852
I want to implement a pedestrian Detection task, use my own data set, train according to the steps in Tensorflow Object Detection API, and convert it into a. Tflite model.

When I placed the obtained.tflite model in the Mediapipe framework, I first copied a copy of all object_Detection files and performed all the following steps in that folder.

Step_A: Modify some parameters of graph, such as ima

[2021-12-03 05:31] #2551 closed

[2021-12-03 05:36] jiuqiant commented on #2788
I think the following steps should update the graph file in the android project:
1) modify pose_renderer_gpu.pbtxt
2) build the "pose_tracking_gpu_binary_graph" target
3) copy the generated binarypb into the assets dir

If you don't see those changes, you can first build the mediapipe pose example app (https://google.github.io/mediapipe/solutions/pose#mobile) with the modified pose_renderer_gpu.pb

[2021-12-03 05:50] jiuqiant commented on #2842
It doesn't matter whether we do the aar approach or build the example app by bazel directly. They should come end up with the same result/error.

Can you try to build mediapipe example app with OpenCV 4.0.x or OpenCV 4.1.x to verify if the issue is caused by some newly added code into OpenCV 4? Another suggestion is to use a higher ndk version that has the latest gcc features. ndk 21 might be too

[2021-12-03 06:12] ianni67 commented on #1786
It may be a problem of my approach as well: perhaps I'm not exploiting
MediaPipe in the best way.

My original idea was to track both the iris with respect to the head,
and the 3d head orientation with respect to some absolute 3D space. The
output of the process should be an estimate of the eye gaze direction in
the 3D space, and I also needed some projection matrix allowing me to
calibrate the ey

[2021-12-03 07:13] Luna0214 opened #2853 "Problem with pbtxt file on the TF serving server"
I am trying to serve the mediapipe landmark pbtxt file on the tensorserving which accept ONLY pb fomat file.
May I ask you to how I get the pb file or please guide me to get it.

[2021-12-03 07:34] sgowroji commented on #2853
Hi @Luna0214, Could you please elaborate your use case w.r.t the above query. Thanks!

[2021-12-03 08:03] sgowroji commented on #2826
Hi @shane99a, We don't have any examples with Mixamo.

[2021-12-03 08:07] sgowroji commented on #2812
Hi  @LMR2018, You can find the implementation  in our [hands graphs ](https://github.com/google/mediapipe/blob/master/mediapipe/graphs/hand_tracking/subgraphs/hand_renderer_cpu.pbtxt) . To understand the calculators and graph you can go through this https://google.github.io/mediapipe/framework_concepts/framework_concepts.html

[2021-12-03 08:35] Luna0214 commented on #2853
What I am trying to do is, using mediapipe model serving via tensorserving for my school project.
So I clone the repos. of mediapipe and the pose_landmark_cpu.pbtxt file put on the server which is can't parse on the TF serving.
Therefore I need the pb format version of mediapipe pose_landmark_cpu to serve.
I have tried some code from some website:

`import tensorflow as tf
from tensorflow.python.s

[2021-12-03 09:21] sgowroji commented on #2841
Hi @pekochun, You can understand it from here https://developer.android.com/studio/command-line/logcat. And for crashes or error you can search for FATAL errors or null pointer exceptions w.r.t MediaPipe.

[2021-12-03 09:23] honggang0524 commented on #2286
I ran into the same problem,
Tried the two methods in the comments and added:delegate { gpu {} }”or“delegate { xnnpack{} },
Got the same wrong result

[2021-12-03 09:49] nicolacapece commented on #2851
Yes, I tried the on the Huawei P20 and the system works correctly using the CPU. I attached an image.
![test](https://user-images.githubusercontent.com/8605453/144581986-f7ef90db-fef1-48d7-b064-ab4d661fdc1d.jpeg)

[2021-12-03 10:47] lilinxiong commented on #2004
emmmm, Although it has been closed for a long time, I want to synchronize my results. I have compiled a Windows 32bit program last week and compiled a windows 32bit dll this week. Mediapipe can run on windows 32bit.

[2021-12-03 14:11] UX3D-mazzini opened #2854 "How to use my model instead of 3dBBox in Objectron?"
I would like to substitute the predicted 3d bounding box with a shoe model as you showed in the paper for the try on application.
I understood that I have to modify the GLAnimationOverlayCalculator in some ways but I still don't understand how I could do.
I have been struggling with mediapipe for 2 months and I finally start to understand the basics but most of it is still obscure. I hope someone

[2021-12-03 14:26] willstott101 commented on #426
Anyone tried anything from here? https://github.com/PINTO0309/PINTO_model_zoo/tree/main/033_Hand_Detection_and_Tracking

[2021-12-03 16:06] Renji3 commented on #1698
I'm currently standing in front of the same problem. I'm struggling to understand the topology part of the explanation. A code example in how to use the face geometry metadata for this would be appreciated.

[2021-12-03 17:20] jiuqiant commented on #2836
Thanks for reporting. Will fix it in the coming release.

[2021-12-03 21:01] mehtapaxshal commented on #2669
I tried setting `model_complexity` to 0, still no luck. I don't see  `pose_landmark_full.tflite` in the network tab i.e. not getting loaded. What can cause this issue?

[2021-12-03 23:20] alexdmiller commented on #2840
Update:

I tried going back to an earlier version of mediapipe. I went back to 38be2ec58f2a1687f4ffca287094c7bbd7791f58. However, I'm seeing the exact same issue on iOS.

My suspicion is that tensorflow lite is being built or configured for iOS in a way that differs from the normal tensorflow lite library, but I'm not sure how to investigate further. Any ideas for further investigation would be ap

[2021-12-04 00:09] JamesGrom commented on #2725
I'm getting the same error... for safari on mac
![IMG_4392](https://user-images.githubusercontent.com/53055317/144688241-106d62e6-91a9-4b3b-b793-f52c66a4ebd6.jpeg)

[2021-12-04 00:21] 123epsilon opened #2855 "How to perform transformations on frames before they enter the graph? (Hands)"
I am trying to perform a hue shift on certain images before they enter the MediaPipe Hands graph, using the example app. What is the proper way to do this? Either I'd like to edit the camera stream before it is converted from an OpenGL texture to a regular texture or I would like to edit the converted texture frame before it is fed to the frame processor.

I have looked into using native CameraX o

[2021-12-04 07:04] sgowroji commented on #2854
Hi @UX3D-mazzini,  This https://ai.googleblog.com/2020/03/real-time-3d-object-detection-on-mobile.html gives you overview of your usecase. Thanks

[2021-12-04 07:05] sgowroji commented on #2855
Hi @123epsilon, Could you please elaborate your use case with complete details. What transformations do you want to perform on frames.

[2021-12-04 19:47] khalid-alsaleh-dev opened #2856 "TypeError: Cannot read properties of undefined (reading 'createTexture')"
Uncaught (in promise) TypeError: Cannot read properties of undefined (reading 'createTexture')
    at __glGenObject (cdn.jsdelivr.net/npm/@mediapipe/holistic/holistic_solution_simd_wasm_bin.js:9)
    at _glGenTextures (cdn.jsdelivr.net/npm/@mediapipe/holistic/holistic_solution_simd_wasm_bin.js:9)
    at cdn.jsdelivr.net/npm/@mediapipe/holistic/holistic_solution_simd_wasm_bin.wasm
    at cdn.jsdeli

[2021-12-04 21:26] emad-eldeen opened #2857 "Upgrade to support Bazel's ios_dynamic_framework"
**System information**
MacOS 12.0.1
Mediapipe v0.8.8

- MediaPipe Solution:
- Programming language : C++/typescript/Python/Objective C/Android Java
- Are you willing to contribute it: No

Support for generating [dynamic iOS frameworks](https://github.com/bazelbuild/rules_apple/blob/master/doc/rules-ios.md#ios_dynamic_framework) has been recently released by Bazel in release 0.30.0.
Mediapipe is st

[2021-12-04 22:29] 123epsilon commented on #2855
@sgowroji Specifically I want to convert to HSV and rotate the hue or perform some corresponding operation in RGB. The main issue here is that it is not clear how to perform this operation on a SurfaceTexture prior to it being read by the frameprocessor.

Here is an example using python and cv2:

[code]

[2021-12-05 02:10] liupeiqiHN commented on #1162
I try to build mediapipe in windows, build is successful, but when I run demo, I got an error:
[code]

[2021-12-05 05:57] chensisi0730 commented on #2842
@jiuqiant When i use NDK23  ，build failded !

ERROR: /data/github_code/mediapipe-work/meidiapipe_latest/mediapipe/WORKSPACE:253:23: //external:android/crosstool depends on @androidndk//:default_crosstool in repository @androidndk which failed to fetch. no such package '@androidndk//': Expected directory at /data/programe-file/ANDRIOD_SDK/ndk/22.0.7026061/platforms but it is not a directory or it d

[2021-12-05 07:09] sgowroji commented on #2856
Hi @khalid-alsaleh-dev, Could you please provide steps to reproduce the above error. Thanks!

[2021-12-05 07:11] sgowroji commented on #2857
Hi @emad-eldeen, Could you please provide the errors to understand the issue with complete details. Thanks!

[2021-12-05 09:55] chensisi0730 commented on #2842
I want to update mediapipe and  opencv4  base on [https://github.com/jiuqiant/mediapipe_multi_hands_tracking_aar_example/issues](url) , but java.lang.UnsatisfiedLinkError: dlopen failed: library "libc++_shared.so" not found

[2021-12-05 10:31] ZeroLu commented on #2750
@mhays-google Hi there, just want you to know that we also want a face geometry web demo badly! I searched the entire Internet for this. I found some demos on TF blog but they are all broken :(
Like this one: https://blog.tensorflow.org/2020/11/iris-landmark-tracking-in-browser-with-MediaPipe-and-TensorFlowJS.html

[2021-12-05 12:18] rafiizdhr commented on #1325
<img width="668" alt="image" src="https://user-images.githubusercontent.com/93192755/144746156-a83ca3a8-7443-447f-b68e-7b29417c5976.png">
i use python 3.10.0
i cant install mediapipe, is there any answer for this?

[2021-12-05 12:26] rodrigoricky commented on #1325
I just realized I was using python 32bit, after I switched from Python 32bit to 63bit, Mediapipe should work from Python 7 to 9 64bit.

[2021-12-05 16:35] jiuqiant commented on #2842
You need to have NDK 22 first on your local system. Please install NDK 22 first via Android Studio and update the ANDROID_NDK_HOME variable accordingly.

[2021-12-05 17:13] khalid-alsaleh-dev commented on #2856
This is my code:

useEffect(() => {
    const holistic = new Holistic({
      locateFile: (file) => {
        console.log(`${file}`);
        return `https://cdn.jsdelivr.net/npm/@mediapipe/holistic/${file}`;
      },
    });
    holistic.setOptions({
      modelComplexity: 1,
      smoothLandmarks: true,
      minDetectionConfidence: 0.5,
      minTrackingConfidence: 0.5,
    });
    holistic.onR

[2021-12-05 20:22] sn1c3 opened #2858 "Why do we transform the color image to COLOR_BGR2RGB?"
I am using the pose and hands solutions for a while now. What I wondered ever since is why we transform the image colors before processing?

Code line from [pose](https://google.github.io/mediapipe/solutions/pose) :
[code]
Of course, mediapipe performs way better with it, but I do not exactly know why. I have read the underlying studies for these models and I have found no explanation for this.

[2021-12-05 20:59] hironaka commented on #2585
Same here

[2021-12-06 00:52] AHRealift commented on #1427
Status on working on mobile browsers?

[2021-12-06 01:23] AHRealift opened #2859 "Getting error when importing LandmarkGrid from '@mediapipe/control_utils_3d'"
Getting error when importing LandmarkGrid from '@mediapipe/control_utils_3d'

TypeError: Cannot read properties of undefined (reading 'Vector3')

dependencies:
"@mediapipe/camera_utils": "^0.3.1632336052",
"@mediapipe/control_utils": "^0.6.1629159505",
"@mediapipe/control_utils_3d": "^0.2.1625245254",
"@mediapipe/drawing_utils": "^0.3.1620248257",
"@mediapipe/pose": "^0.4.1630009814",

Reproducibl

[2021-12-06 01:25] AHRealift commented on #2261
status? Im getting same issue ...

import * as MPControlUtils3D from "@mediapipe/control_utils_3d"; // errs out

TypeError: Cannot read properties of undefined (reading 'Vector3')
(anonymous function)
http://localhost:3000/static/js/vendors~main.chunk.js:25917:28
push../node_modules/@mediapipe/control_utils_3d/control_utils_3d.js.goog.loadModule
http://localhost:3000/static/js/vendors~main.chunk.j

[2021-12-06 02:01] LMR2018 opened #2860 "How is the hand_landmark gesture model used on binocular camera images?"
How is the hand_landmark gesture model used on binocular camera images?

[2021-12-06 03:17] sgowroji commented on #2860
Hi @LMR2018, Could you please elaborate your use case with complete details. Thanks!

[2021-12-06 03:23] LMR2018 commented on #2860
I want to pinpoint the z-axis depth coordinates of hand_landmark gesture model. can I do it with a binocular camera?  If so, what should I do?

[2021-12-06 03:52] sgowroji commented on #2859
Duplicate https://github.com/google/mediapipe/issues/2578

[2021-12-06 04:01] czy2014hust commented on #2858
The format from cv2.imread() is BGR, but the model(algorithm) should have input image with RGB format.

[2021-12-06 04:22] sgowroji commented on #2858
Hi @sn1c3,

You can find the same in site packages

[2021-12-06 04:25] chensisi0730 commented on #2842
@jiuqiant
I have installed  NDK 22 first via Android Studio , export  ANDROID_NDK_HOME=/data/programe-file/ANDRIOD_SDK/ndk/22.0.7026061
Another point ， refer to  [https://google.github.io/mediapipe/getting_started/android.html#prerequisite](url)
Building Android example apps with Bazel
Prerequisite
Install MediaPipe following these instructions.
Setup Java Runtime.
Setup Android SDK release 28.0.3

[2021-12-06 04:50] #1611 closed

[2021-12-06 04:50] #1827 closed

[2021-12-06 04:50] #2104 closed

[2021-12-06 06:02] sgowroji commented on #2639
Hi @shubhamdawande, Demo running on Safari/Mac, is not well supported at this time, But still you can continue with it. Closing this issue at present as intended.

[2021-12-06 06:02] #2639 closed

[2021-12-06 06:05] gaurav-parashar opened #2861 "Hand Landmark for a custom aarch64 board"
<em>Thanks a lot team for creating such an amazing tool.Kudos!<em>

I am trying to use mediapipe framework for hand gesture recognition. The challenging part is, the board on which I am trying to run the inference, is running on Debian OS with aarch64 architecture. And I am restricted to use only a fraction of available memory on the board. (4GB of RAM and around 10GB of storage space, in which 6-

[2021-12-06 06:23] sgowroji commented on #1775
HI @harry240, Can you please verify the issues exists with latest build. Thanks!

[2021-12-06 06:57] LMR2018 commented on #2834
@sgowroji When I use hand_landmark model of Camera, my hand does not move, and the picture content is basically unchanged, but the z-axis coordinate results fluctuate greatly, and the X-axis and Y-axis coordinates also change a little. What should I do to eliminate the fluctuation?

![Snipaste_2021-12-06_14-47-25](https://user-images.githubusercontent.com/37955893/144801366-6ffd2036-8a78-44a0-b7f2

[2021-12-06 07:22] sgowroji commented on #2856
Hi @khalid-alsaleh-dev, Could you please go through this https://github.com/google/mediapipe/issues/1735#issuecomment-804419168 for the above error. Thanks!

[2021-12-06 07:27] sgowroji commented on #2852
Thank you for the above details. Could you please share the complete error logs to investigate the issue further. Thanks!

[2021-12-06 07:36] honggang0524 commented on #2852
Sure

I am using the following command to print log: adb shell "logcat | grep PID", get the following error log:

12-06 14:54:42.344  9230  9313 E FrameProcessor: Mediapipe error:

12-06 14:54:42.344  9230  9313 E FrameProcessor: com.google.mediapipe.framework.MediaPipeException: invalid argument: Graph has errors:

12-06 14:54:42.344  9230  9313 E FrameProcessor: Calculator::Process() for node "T

[2021-12-06 08:01] wesley231 commented on #1929
Hi @Gidrian , the link is not working, can you upload it again? thanks!

[2021-12-06 08:12] LMR2018 commented on #2804
@sgowroji I want to convert camera frame data of camera mode in Android Hand_landmark model into bitmap data, and then deduce bitmap of the model. How should I convert it?

[2021-12-06 08:26] LMR2018 commented on #2821
@sgowroji   I don't know how to view the Android Logcat log on android.

[2021-12-06 08:30] LMR2018 commented on #2812
@sgowroji   I wonder where I can find their c++ code?  I want to print the time of their image preprocessing and the time of model inference respectively. Hand.send (textureFrame)

[2021-12-06 08:50] LMR2018 commented on #535
@jiuqiant   I am a newbie, can you tell me more about the specific implementation?  I want to look at the image preprocessing and inference process of android Hand_landmark model and I want to know how long each process take