[2021-04-01 16:24] atul109 commented on #1801
Logs from MotoG5 attached
[crash_report.txt](https://github.com/google/mediapipe/files/6244953/crash_report.txt)

[2021-04-01 16:26] abzargar commented on #1829
Thank you for your reply. I went over #1651 but I could not understand how
to add GPU graph and modifications to python package after installing it
using "pip install mediapipe". Any step by step instruction?

Thank for your time

On Thu, Apr 1, 2021, 9:11 AM Jiuqiang Tang ***@***.***> wrote:

[2021-04-01 16:39] jiuqiant commented on #1814
I found that you have both Library/Android/sdk/ndk-bundle and Library/Android/sdk/ndk directories. Note that your clang is from sdk/ndk-bundle dir and you claim that ndk 23 in sdk/ndk dir is used. If I remember correctly ndk-bundle was fully deprecated for more than a year. I can imagine that the clang in the ndk-bundle dir is not updated since then and it doesn't support new c++ syntax.

Can you

[2021-04-01 17:08] abzargar opened #1831 "MediaPipe dose not run on GPU after installing it using "pip install mediapipe""
I looked over #1651 but I could not understand how to add GPU graph and modifications to the python package after installing it using "pip install mediapipe". Any step-by-step instruction?

[2021-04-01 22:35] mcclanahoochie commented on #1425
yes you can, but i don't remember if the runner app expects output frames or not, so you would have to take care of that too.

either way, it would be better to skip the rendering as well, rather than just ignore the rendered stream (otherwise you spend cycles on throw away images)

[2021-04-01 22:53] mcclanahoochie commented on #1791
Can you explain why you need GlSurfaceView? Typically it is [not needed](https://source.android.com/devices/graphics/arch-sv-glsv#glsurfaceview).
There may be some extra internal conversion going on between the mediapipe gl context and/or memory and the GlSurfaceView context/memory. Otherwise I'm not sure.

[2021-04-02 00:38] dlucio commented on #1812
@kywq, I assume that you are using the folder build to deploy you app.
So, you should copy the holistic folder to the build folder.
I did that using the webpack plugin **CopyWebpackPlugin** as you can see below.
[code]

This is the complete **webpack.config.js**
[code]

[2021-04-02 00:39] jadams777 opened #1832 "BlazePose 3D rig"
ARkit comes with a robot rig that can be used for animating 3D characters, real-time motion capture, etc. For example: https://youtu.be/29uNziYYZZ0

Does BlazePose have a rig? If not, how can I make one?

[2021-04-02 02:06] airtablereddit commented on #1827
@sgowroji appreciate your reply to this. I added more explanation

[2021-04-02 02:27] lookou commented on #1814
export ANDROID_NDK_HOME=/Users/xxx/Library/Android/sdk/ndk/21.0.6113669
And the problem is solved!

Sorry that i didn't check the document carefully!

https://google.github.io/mediapipe/getting_started/android.html
in section 4
[code]

[2021-04-02 02:54] yangcheng commented on #1425
cool, suppose I drop the rendering, do I need a surfaceview for handle input video? sound's like I don't, but I am not sure why onPreviewDisplaySurfaceChanged() is called in previewDisplayView's call back. the holder object itself is not used in onPreviewDisplaySurfaceChanged

https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a479407c699e424aa7/mediapipe/examples/android/src/java/com/

[2021-04-02 02:55] bugmany opened #1833 "how to create *.obj and *.png that relation with *.obj?"
i have run face effect demo , it use OBJ file "canonical_face_model.obj", the demo effect is very well,
but i have use Blender IDE create face model file (*.obj), then integrate the OBJ file into face effect project, the result is too bad not our expect's effect,
so could you tell me how to create OBJ file and PNG(pngblob), or tell me use what is develop studio (IDE)?

[2021-04-02 03:06] bugmany commented on #1155
i want to how to create OBJ file and the relation of PNG file.
thanks

[2021-04-02 03:59] lilinxiong commented on #1822
Thank you very much for your reply ! @sgowroji @eknight7 @jiuqiant .
I think my problem is solved. As @jiuqiant  say.  is bazel problem.
But I find no install openjdk@11 can also work !
My workspace and all build step is:

OS: MacOS 11.2.3
MediaPipe version: 0.8.3.2
clang -version
[code]
bazel verison
[code]
**note:** No JDK, No OpenJDK
**If proxy is set, need set environment variables:**
[code]
*

[2021-04-02 05:56] abzargar opened #1834 "Add GPU graphs to python version to install it using pip"
Hi

Could you please add GPU graphs as well to the python package on pypi.org to install it using "pip install mediapipe" and so run it on GPU in an anaconda environment?

thank you

[2021-04-02 07:35] ForLovelj commented on #1508
Maybe it's better to call it here
[code]

[2021-04-02 10:41] Abhinavkriti commented on #1831
yeah facing the same issue

[2021-04-02 13:00] #1814 closed

[2021-04-02 15:50] jiuqiant commented on #1822
Glad to hear that. FYI, the troubleshooting instruction mentions this numpy issue: https://google.github.io/mediapipe/getting_started/troubleshooting.html#missing-necessary-python-packages ;)

[2021-04-02 15:50] #1822 closed

[2021-04-02 15:54] jiuqiant commented on #1834
MediaPipe GPU support on macOS and Windows are not released yet. To keep the wheel pakcages on linux, macos,and windows in sync, MediaPipe only have CPU graphs in the wheel packages. You can follow https://github.com/google/mediapipe/issues/1651#issuecomment-790176010 to run the GPU graphs. Sorry for the inconvenience.

[2021-04-02 15:54] #1834 closed

[2021-04-02 15:55] jiuqiant commented on #1831
MediaPipe GPU support on macOS and Windows are not released yet. To keep the wheel pakcages on linux, macos,and windows in sync, MediaPipe only have CPU graphs in the wheel packages. You can follow https://github.com/google/mediapipe/issues/1651#issuecomment-790176010 to run the GPU graphs. Sorry for the inconvenience.

[2021-04-02 15:55] #1831 closed

[2021-04-02 16:04] jiuqiant commented on #1798
Similar to https://github.com/google/mediapipe/issues/1376#issuecomment-739585992

[code]

[2021-04-02 16:07] kostyaby commented on #1827
@ivan-grishchenko would be the best person to comment

[2021-04-02 16:11] kostyaby commented on #1155
Hey @bugmany,

If I understood your question correctly, it has been discussed in great length in comments to this issue so I encourage you to take a closer look there first. If that's not helpful, please be more specific which parts of the ongoing discussion require further clarification

[2021-04-02 16:32] Rassibassi commented on #1744
Hej, thanks for the response and help. Sorry for the delay on my side.

I updated the `WORKSPACE` file to the latest version of the original mediapipe main branch and re-edited everything as explained in my first post. Also, updated the repository --> https://github.com/Rassibassi/mediapipe_app

Now, when building with `--experimental_repo_remote_exec`, as suggested by @jiuqiant:
[code]

The follo

[2021-04-02 17:21] eknight7 commented on #1626
Adding @gkarpiak to answer the question about missing `multi_hand_mobile_calculators` target.

[2021-04-02 18:05] eknight7 commented on #1784
Hi - does the basic [Hello world Android](https://google.github.io/mediapipe/getting_started/hello_world_android.html) MediaPipe demo work? This app uses an edge detection graph on GPU.
You mentioned
[code]
so I want to know if the camera lag is happening on simple edge detection graph also.

[2021-04-02 18:14] eknight7 commented on #1668
Hi @shadow111 , did you get a chance to try out the suggestions above? Please let us know if you have further questions, thanks!

[2021-04-02 18:15] eknight7 commented on #1655
Hi @shadow111, can you please share the files mentioned above? Thank you.

[2021-04-02 18:20] shadow111 commented on #1668
thank you for you response,
no i haven't been able to draw anything, i mean if we wanna to draw some text on the screen using android rendering not in c++ or add some button the main screen where the frame is displayed ? will that be possible?

[2021-04-02 18:21] jiuqiant commented on #1744
The error is you don't have `--cxxopt=-std=c++17` flag. Please copy https://github.com/google/mediapipe/blob/master/.bazelrc into your workspace. Basically, all the necessary flags for mediapipe are in .bazelrc file.

[2021-04-02 18:42] eknight7 commented on #1817
Hi @Mynith
to answer your question in

That means, you want to interleave frames from both cameras and send them to the graph. Example, if you have Camera `A` and Camera `B`, then you want to send frames `A1, A2, B1, B2, B3, A3, A4, A5, B4, ...` to the single `FrameProcessor` object.
There are 2 problems with this approach:
1. The 2 cameras `A` and `B` may not share the same clock. As a result, th

[2021-04-02 19:00] eknight7 commented on #1668
Hi ... sorry, I don't have an example of rendering on Java side.
But you can definitely get the packets containing landmarks on the Java side, and then try updating the `videoSurfaceOutput` as mentioned above: https://github.com/google/mediapipe/issues/1668#issuecomment-807851974

[2021-04-02 20:27] Rassibassi commented on #1744
It builds! Thank you very much! I've also updated the repository :)

[2021-04-02 20:39] gkarpiak commented on #1626
@LegPro could you please try to use `mobile_calculators` instead of `multi_hand_mobile_calculators` and see if it works. (Looks like mediapipe_arr target was not updated during a refactoring.)

[2021-04-03 04:52] milad-4274 commented on #1733
My problem solved by upgrading gcc compiler. before, my gcc version was 7.* and It works now with gcc 8.* .

[2021-04-03 04:56] rohithsai45 commented on #1791
my bad, fps drop is because of model we are using, not because of GLSurfaceView.

[2021-04-03 04:57] #1791 closed

[2021-04-03 11:40] yogeshsangtani opened #1836 "Portrait Segmentation Runtime Error (when building apk with terminal and android studio)"
**Description of the problem:**
Getting the same run time error when building apk from both terminal and android studio using bazel.

Configurations:
OS - Ubuntu 18.04
Android Studio - 4.1.3
Android API Level / SDK Platform and Build Tools - 29
Android NDK - 19
Bazel - 3.7.2

[code]

[2021-04-03 12:16] shadow111 commented on #1668
okay thanks, i will try that and get back soon

[2021-04-03 12:33] hhakangull commented on #1778
when i was run mediapipe in ubuntu i got this error:
but if i can run my project on docker i don't take any error
Traceback (most recent call last):
  File "kiosk_docker.py", line 31, in <module>
    from Dosyadan_Resim_Okuma_Yazma import UserRegisterFromFile
  File "/home/hakan/Dosyalar/Face_Recognation_v2/app/Dosyadan_Resim_Okuma_Yazma.py", line 15, in <module>
    face_detector_mediapipe = Medi

[2021-04-03 13:22] DStoke opened #1837 "Javascript face effects example on Mobile, but not Desktop"
Hello,

Are there any face effect examples for desktop that would be built with JavaScript?

As of now, for desktop i only see Python/C++ examples, while on mobile there's JS example available.

[2021-04-03 16:37] jude253 opened #1838 "Use mediapipe in react Native?"
Hi,

I am working on a project right now using react-native.  I am doing lots of pose estimation.  I am wondering if it is possible to use mediapipe with react-native.

Currently, I am using tflite poseNet in react native. I would like to use mediapipe though because it gives more pose information that will be very useful to us.

So is it possible to import mediapipe into react native through like

[2021-04-03 17:13] BSchrift commented on #1408
Thanks @mhays-google! This is so helpful.

I do have one more quick question: is there a reason why the package.json for the npm package doesnt specify a `"main"` or `"typings"` field?

It would be great to be able to say, for example, `import { Hands } from '@mediapipe/hands'` and have typescript know where to get the js code and the associated type declarations. Looking at the distributed `packa

[2021-04-04 00:20] #1768 closed

[2021-04-04 05:21] al2code opened #1839 "from mediapipe.python._framework_bindings import resource_util ImportError: DLL load failed: The specified module could not be found."
Installed opencv and mediapipe via pip install on PyCharm, the installation went successfully. However, I get this error.

[2021-04-04 06:47] yangcheng commented on #1784
yes, the basic hello world works.

[2021-04-04 10:00] milad-4274 opened #1841 "problem with switching between a large number of effects (faceeffect)"
Hi, I'm modifying faceeffect example. I want to switch between a lot effects (about 25 effects). but when I add more than 10-15 effect renderer calculator, the app does not open and my phone freeze (I think it's memory problem). It's ok when I use less than 10 calculator. Is there any solution to change the effect without consecutive render calculators? for example by passing the texture path as a

[2021-04-04 17:54] hollyhook opened #1842 "how to switch cameras on Android?"
I'm using CameraXPreviewHandler on Android and it works fine to start the camera, both front or back are working as expected and I can receive pose data just fine. My code is based on the Android Example. Now want to allow the user to switch to the other camera. This is how I'm trying to do it:
[code]

it works like in 3 of 4 attempts, but else it crashes with this logcat:

[code]

what would be t

[2021-04-05 05:16] 424778940z opened #1844 "Is it possible build under Mingw or Msys2?"
I'm trying to get GPU working under windows, I know someone has tried to mod files to add egl and replace pthread to get it working under VC.
I'm wondering if it's possible just build under Msys2 or at least able to use Mingw, since they already have all libraries.

[2021-04-05 13:01] nailshakurov opened #1845 "Generate aar error run apk"
I generated a file successfully, run the example from the database and use aar. At startup, the error is:
![image](https://user-images.githubusercontent.com/11345578/113576369-83470b80-9630-11eb-936b-cb53f8d8a906.png)

[2021-04-05 14:34] shadow111 commented on #1842
Hello @hollyhook  i'm working on the same things can you share your MainActicity as well as the layout please, i will review it with you

[2021-04-05 15:28] jboero commented on #1373
I just had this problem inside VS Code - Fedora 34 X11 (not Wayland).  It seems like there were some env variables set that confused X11/Wayland and which should be used.  Works fine from another Konsole shell.  Not sure which env vars but strace yielded an ENOENT on libqxcb.so.avx2 strangely.  Anyway works fine in another shell.

[code]

[2021-04-05 18:28] hollyhook commented on #1842
Hello Shadow, the app is open source, you find the code at https://bitbucket.org/constanze/posehook/

- [MainActivity](https://bitbucket.org/constanze/posehook/src/master/app/src/main/java/com/hollyhook/posehook/MainActivity.kt)
- [layouts](https://bitbucket.org/constanze/posehook/src/master/app/src/main/res/layout/)
- in playstore, if you sign up as beta tester: https://play.google.com/store/apps

[2021-04-05 21:16] tyrmullen commented on #1801
Looking at the crash log, it looks like it's successfully running for a bit, but then running into some errors.  Specifically, it looks like the external texture converter crash is probably caused by the surface errors earlier which might be because the graphics driver is failing to create glFenceSync objects (possibly connected to that "too many open files" error)?  So I'd see if you can limit th

[2021-04-05 21:22] shadow111 commented on #1842
okay perfect i'm reviewing that now.
One other thing and it maybe out of scope, are you using mediaPipe tflite models?

[2021-04-05 21:26] aylek opened #1846 "Is the VectorFloatToTensorCalculator calulcator available in Mediapipe graphs for Python?"
Including the calculator in a graph results in the following error when run with the Mediapipe Python module:

[code]

What I'm trying to do is to read a list of floats from a file to serve as an input tensor (regressions and classifications) to the TensorsToDetections calculator.

[2021-04-05 22:41] b4017816 opened #1847 "How to integreate an Iris AAR into a Android application?"
Hi, I'm trying to integrate Iris into an android app using an .aar, I was able to set up and build the app for face detection using the .aar tutorial, but I'm trying when trying to modify the example to use an Iris .aar I'm running into issues.
The app builds and deploys, starts to run then crashes giving exception "focal_length_pixel" is required but not provided, which is expected but I don't kn

[2021-04-06 01:36] mcclanahoochie commented on #673
closing due to lack of activity

[2021-04-06 01:36] #673 closed

[2021-04-06 01:37] mcclanahoochie commented on #865
closing due to lack of activity

[2021-04-06 01:37] #865 closed

[2021-04-06 01:38] mcclanahoochie commented on #997
closing due to lack of activity

[2021-04-06 01:38] #997 closed

[2021-04-06 01:38] mcclanahoochie commented on #1116
closing due to lack of activity

[2021-04-06 01:38] #1116 closed

[2021-04-06 01:38] mcclanahoochie commented on #1149
closing due to lack of activity

[2021-04-06 01:38] #1149 closed

[2021-04-06 01:39] #1311 closed

[2021-04-06 01:40] #1770 closed

[2021-04-06 01:57] pkaske opened #1848 "print out certain face_landmarks in google colab python holistic"
i know
f'{results.face_landmarks})' or f'{results.face_landmarks.landmark})'
prints out all 468 face landmarks. but what is the notation to only print out, say, the 30th face landmark only? (all 3 coordinates x,y,z)

[2021-04-06 02:05] Egorovlvan commented on #1530
Why am i facing such a problem?
![Снимок](https://user-images.githubusercontent.com/40529086/113648658-9dff9b80-9695-11eb-8e7f-8a58e42db2ab.JPG)

[2021-04-06 03:28] yugosaito4 commented on #36
@rtrn1337 have you tried the plugin?

[2021-04-06 03:41] jiuqiant commented on #1405
Since I can't reproduce this issue, can you try http://www.dependencywalker.com/ to check which dlls the pyd tried to load?

[2021-04-06 10:07] rmothukuru commented on #1833
@bugmany,
Can you please let us know the Solution and the platform you are using? Thanks!

[2021-04-06 10:19] rmothukuru commented on #1837
@DStoke,
Can you please share the references of the examples which you are specifying so that we can look into it? Thanks!

[2021-04-06 10:29] rmothukuru commented on #1839
@al2code,
Can you please provide the steps you have followed to `install MediaPipe` and the `Operating System` that you are using? Thanks!

[2021-04-06 10:49] rmothukuru commented on #1844
@424778940z,
Can you please elaborate more about your point. Please let us know the Solution and the Platform that you are using. Also, if possible, please share the reproducible code. Thanks!

[2021-04-06 12:34] LeeJeongHwi opened #1849 "How to drawing android view?"
Hi!
First of all, thank you for suggesting a really nice solution.
I have a question about android view.

I want to make a custom view on Android. For example, I would like to draw with custom, like marking a particular part with a red line in the pose.
So I want to know when it will be displayed on the Android screen. When the processor (FrameProcessor) receives the packet, does the rendering pic

[2021-04-06 12:43] jpeltone commented on #454
I'm having the same issue, did you get this resolved somehow?

[2021-04-06 14:58] 424778940z commented on #1844
Currently Mediapipe using VC, and there is no other option for building under Windows.
I'm trying get GPU support working on Windows since it's currently not supported, and may not be officially supported for a long time.
According to #617, seems he got it working by replace pthread with std::thread, then add GL headers.
I was hoping to build under Msys2 since Mingw under it already has pthread an

[2021-04-06 15:17] rtrn1337 commented on #36
yes i did. Some features are working in Unity Editor. But I get an error in Xcode when I want to build on a device. I haven't had time to test it more closely yet.

[2021-04-06 15:48] rmothukuru commented on #1845
@nailshakurov,
Can you please provide the steps to reproduce the issue? Thanks!

[2021-04-06 16:38] jiuqiant commented on #1836
It seems that you build your own apk portraitsegmentationgpu and the error is "Attribute meta-data#converterNumBuffers@value at AndroidManifest.xml:35:53-91 requires a placeholder substitution but no value for <converterNumBuffers> is provided."
Please follow  https://github.com/google/mediapipe/blob/master/mediapipe/examples/android/src/java/com/google/mediapipe/apps/posetrackinggpu/BUILD#L45 to

[2021-04-06 17:46] brgl opened #1850 ".bazelversion should be relaxed (only accepts bazel 3.7.2)"
Current bazel version is 4.0.0 and it works fine for mediapipe. The `.bazelversion` however specifies 3.7.2 as the only accepted version.  This should be relaxed to accept any later version.

[2021-04-06 20:32] yogeshsangtani commented on #1836
Thanks for the support, The apk build is successful.

[2021-04-06 20:32] #1836 closed

[2021-04-07 04:13] sgowroji commented on #1809
Duplicate https://github.com/google/mediapipe/issues/1814

[2021-04-07 04:55] arron2003 commented on #1629
Had this exact problem recently. I am using raspberrypi-4b with Raspbian GNU/Linux 10 (armv7l not aarch64).

The issue is that bazel does not compile with flags to enable neon. You need to add these to bazel_command in
[setup.py](https://github.com/google/mediapipe/blob/master/setup.py#L240).

[code]

[2021-04-07 05:38] sgowroji commented on #1848
Hi @pkaske, Could you please explain your usecase. We can get individual landmarks of the face, pose landmarks using the result object. Like this results.face_landmarks, results.pose_landmarks.

[2021-04-07 05:43] pkaske commented on #1848
yes, i've been doing that
an example of my code would be

 str(results.pose_landmarks.landmark[mp_holistic.PoseLandmark.LEFT_HIP].x)+","+str(results.pose_landmarks.landmark[mp_holistic.PoseLandmark.LEFT_HIP].y)+","+

 what im doing is getting the x,y, and z landmarks printed separately, and only of the LEFT HIP. i want to do something similar with the face landmarks. but i cant find a way to do th

[2021-04-07 06:09] sgowroji commented on #1849
Hi @LeeJeongHwi , This will help your query https://github.com/google/mediapipe/issues/1668#issuecomment-807851974

[2021-04-07 06:12] sgowroji commented on #1850
Hi @brgl Could you please elaborate the above query with complete details. Thanks!

[2021-04-07 06:26] sgowroji commented on #1838
Hi @jude253, Have a look over here https://github.com/google/mediapipe/issues/587#issuecomment-610585088

[2021-04-07 06:37] LeeJeongHwi commented on #1849
thank you for response,

that comment says,

""the SurfaceOutput object named videoSurfaceOutput is updated by the code defined in Graph.java here.
so you need to pipe your rendered frame to the videoSurfaceOutput used in the display.""

so, I need to setting custom `SurfaceOutput` and then `processor.getVideoSurfaceOutput.setSurface(custom_SurfaceOutput)` ??
Also, should I update this frame withi

[2021-04-07 06:38] midhulavijayan opened #1851 "Not able to pass Normalized "face_landmarks" as an input stream to custom calculator"

[2021-04-07 06:42] sgowroji commented on #1774
Lack of activity we are  closing this issue.

[2021-04-07 06:42] #1774 closed

[2021-04-07 06:43] sgowroji commented on #1775
Lack of activity we are closing this issue. Please feel free to reopen if the above issue is not resolved.

[2021-04-07 06:46] sgowroji commented on #1778
Hi @hhakangull, Could you please share the detail steps to reproduce the issue. And also the repo code to understand it much better. Thanks

[2021-04-07 06:47] sgowroji commented on #1779
Did you get a chance to look at this reference issues  #809, #810.

[2021-04-07 06:47] midhulavijayan commented on #1851
I'm trying to add new calculator to mediapipe facemesh module to crop the eye regions. I have created a new calculator and am able to pass the input image to the custom calculator (able to do normal processing on the image as well) and i tried to pass the normalized landmark along with the image but the app is getting crashed.

this is the custom calculator:
node {
  calculator: "BackgroundMasking

[2021-04-07 06:48] sgowroji commented on #1785
Hi @stevenwman, Assuming your query resolved with above comments, we are closing this issue. Please feel free to open if the issue still exists. Thanks!

[2021-04-07 06:48] #1785 closed

[2021-04-07 06:50] sgowroji commented on #1794
Hi @Trout70 Did you get a chance to go through the above comment?

[2021-04-07 06:51] sgowroji commented on #1795
Hi @waiyc, Can you share the above steps to reproduce the issue.

[2021-04-07 06:52] sgowroji commented on #1797
Hi @terabithian007, Did you get a chance to go through the above comment. Thanks!

[2021-04-07 06:53] emredog commented on #1790
hi @ivan-grishchenko , did you have a chance to look at this? I'd really appreciate it. Thanks in advance!

[2021-04-07 06:54] harry240 commented on #1775
This issue is not resolved, here are all the logs.
---------------------------------------------------------------------------------------

2021-04-07 14:45:41.667 1154-7990/? I/ADB_SERVICES: post waitpid (pid=7989) status=0000
2021-04-07 14:45:41.740 1154-7993/? I/ADB_SERVICES: post waitpid (pid=7992) status=0000
2021-04-07 14:45:42.383 411-835/? W/AudioALSAHardware: setParameters(), still have p

[2021-04-07 07:00] sgowroji commented on #1823
Hi @vKrypto, Could you please check the above issue as it is resolved.

[2021-04-07 07:00] waiyc commented on #1795
Hi, @sgowroji  sorry for my late reply. I just found a workaround to install the v0.8.3.1 Mediapipe python package directly via :

You can close this for now.

[2021-04-07 07:07] sgowroji commented on #1820
Steps you can follow this https://github.com/google/mediapipe/issues/1134. If you encounter any issue, Please share the logs and  with the following steps.

[2021-04-07 07:12] sgowroji commented on #1775
Please share your repo code to understand the issue much better. Thanks

[2021-04-07 07:12] sgowroji commented on #1795
Glad to see you resolved. Thanks for the update.

[2021-04-07 07:12] #1795 closed

[2021-04-07 07:21] zhaoqilong3031 opened #1852 "extract Hair segementation mask"
In the [corresponding graph](https://github.com/google/mediapipe/blob/master/mediapipe/graphs/hair_segmentation/hair_segmentation_desktop_live.pbtxt#L128), the `MASK:hair_mask` output stream of `TfLiteTensorsToSegmentationCalculator` is the OpenCV `Mat` containing the segmentation mask.

_Originally posted by @kartynnik in https://github.com/google/mediapipe/issues/1762#issuecomment-806077265_

[2021-04-07 07:22] #1852 closed

[2021-04-07 07:24] zhaoqilong3031 opened #1853 "extract Hair segementation mask"
my android code
`processor.addPacketCallback(
                "hair_mask",
                (packet) -> {
                    try {
                        byte[] landmarksRaw = PacketGetter.getProtoBytes(packet);
                    } catch (Exception e) {
                        Log.e(TAG, "Couldn't Exception received - " , e);
                    }
                });`

app exit，
What should I d

[2021-04-07 07:24] harry240 commented on #1775
It works on Huawei Mate 40 Pro/Magic 2，vivo iQOO,realme x2,mix 2 etc. most times.
But it didn't work and show black screen on MeiZu v8/redmi 5 plus/xperia x etc.

The main code are as follows, call startCamera after onResume is called.

@Override
protected void onResume() {
	super.onResume();
	firstIn = false;
	initViewGroup();
	setupPreviewDisplayView();
	AndroidAssetUtil.initializeNativeAssetMan

[2021-04-07 07:34] sgowroji commented on #1853
Hi @zhaoqilong3031, Please share your error logs. And also the code repo to understand it much better. Thanks!

[2021-04-07 07:37] sgowroji commented on #1851
Hi @midhulavijayan, Could you please share the error logs and your code repo to understand the issue much better. Thanks!

[2021-04-07 07:46] FlashTech-dev commented on #1779
Yes I did.. didn't work

On Wed, 7 Apr, 2021, 12:17 pm GowrojiSunil, ***@***.***>
wrote:

[2021-04-07 07:48] midhulavijayan commented on #1851
Hi @sgowroji, i have installed the app using bazel command and while checking it is crashing. Could you pls tell me how to get the error logs?

[2021-04-07 07:48] brgl commented on #1850
Hi @sgowroji there's not much more detail over what I already posted really. Mediapipe builds with bazel `3.7.2` exclusively and fails with bazel `4.0.0` in `setup.py`:

[code]

Line 87 raises an Exception because the bazel program reads `.bazelfile` and bails out because it's not 3.7.2 and so `setup.py` fails here.

The error message is confusing too in this case. I would normally submit a patch

[2021-04-07 08:05] zhaoqilong3031 commented on #1853
android log
`Fatal signal 6 (SIGABRT), code -1 (SI_QUEUE) in tid 9920 (Thread-9), pid 9764 (acedetectionapp)`
[link](https://github.com/google/mediapipe/blob/master/mediapipe/graphs/hair_segmentation/hair_segmentation_desktop_live.pbtxt#L128)
Can I get the mask through this “output_stream: "MASK:hair_mask"”

[2021-04-07 08:17] midhulavijayan commented on #1851
anks for the reply. I have already modified some of the face mesh
functionalities as per my requirement. I am passing laterality as a side
packet to show some particular connections (that part is working). I am
attaching the mediapipe folder here.
 mediapipe.zip
<https://drive.google.com/file/d/1ibUIT1LqDu_AHg1JzFyl885e2uZk2GlT/view?usp=drive_web>
I have build it using "bazel build -c opt --config

[2021-04-07 09:44] milad-4274 opened #1854 "How to modify geometry_pipeline_metadata_landmarks"
Hello and Thanks for your awesome framework.
I want to render different 3D effects. with mediapipe default configuration, effects which depend on eye position(such as eyelash) don't have good result. I updated [single_face_geometry_from_landmarks_gpu](https://github.com/google/mediapipe/blob/master/mediapipe/graphs/face_effect/subgraphs/single_face_geometry_from_landmarks_gpu.pbtxt) subgraph to us

[2021-04-07 10:34] 04633435 opened #1855 "Using video as input for Object Detection on mobile device."
Hi there, I am working with the object detection Android example, which uses the camera stream as input.
Is there any way that I can use the video as input instead of the Camera stream?

I really appreciate any help you can provide.

[2021-04-07 10:57] midhulavijayan commented on #1851
Hi,
I have resolved the issue by passing "multi_face_landmarks" instead of "face_landmarks"

[2021-04-07 11:27] ZacharyTech opened #1856 "How to track selected object"
Hello, I want to track the selected object on Android, such as
[YouTube’s privacy blur](https://2.bp.blogspot.com/-joxj5pCwT-U/Vs5aL-KIpgI/AAAAAAAABsw/8L64dzBc0Ak/s1600/vid_5.gif), how can I To it?

[2021-04-07 11:44] brgl commented on #1850
@sgowroji sorry I used the name `.bazelfile`, it should have been `.bazelversion`. I fixed it now in the description.

[2021-04-07 12:58] #1056 closed

[2021-04-07 12:58] #1043 closed

[2021-04-07 13:18] KastusKalinovski opened #1857 "How to visualize optical flow?"
Hello, I am struggling with optical flow visualization.
I am tying to reproduce this visualization.
![Screenshot from 2021-04-07 16-16-22](https://user-images.githubusercontent.com/41323462/113872543-a56d9480-97bc-11eb-88a3-747efb99acba.png)
Can you please share what graph did you use to create this tracking?

[2021-04-07 13:47] moses5407 commented on #511
Also very interested in a real time autoflip

[2021-04-07 14:45] puny-d commented on #1427
Any update on this issue

[2021-04-07 14:46] puny-d commented on #1427
Hi, any update on this issue ?

[2021-04-07 15:57] jiuqiant commented on #1847
How about the following?

[code]

[2021-04-07 16:14] saadati944 opened #1858 "a typo in sample solutions"
In the file `/docs/solutions/face_detection.md` in line 80 the `mp_face_detction` is misspelled but in the following lines it is correct

now :
[code]

correct form :
[code]

[2021-04-07 17:20] b4017816 commented on #1847
Hi, thanks for the reply, with that suggestion I get a Null Pointer Exception, Attempt to invoke virtual method "float com.google.mediapipe.components.CameraXPreviewHelper.getFocalLengthPixels()" on a null object reference, (error log listed below)

In package com.google.mediapipe.components;
[code]
I'm guessing I'm not initializing something correctly but not sure where,
I really appreciate the h

[2021-04-07 17:40] b4017816 commented on #1847
I tried playing with where the cameraHelper instance is created but that gives me that NPE if " cameraHelper = new CameraXPreviewHelper();" is in startCamera which makes sense, but if I try moving it into onCreate I get "side packets not provided" again, I'm fairly new to android dev and working with ML stuff so I apologize if these are basic issues, Thanks for the assistance it's much appreciated

[2021-04-07 18:37] mhays-google commented on #1427
We have an upcoming goal to grow our browser support, but it will
definitely be later this year.  As far as I know, however, Safari and
Android Web are on top of that list.

On Wed, Apr 7, 2021 at 8:44 AM nejurgis ***@***.***> wrote:

[2021-04-07 19:10] shabazkhundmiri opened #1859 "Sometimes after "Starting GL thread ExternalTextureConverter" it never follws up with "Create output texture" on Android"
I have an issue where 30-40% of the time the "Created output texture" never occurs in the logs and will not initialize TensorFlow Lite to gather input. In my case I'm using this for iris tracking. I'm not sure if there is any interruption of the thread but from the looks of the logs it seems

 ` D/ExternalTextureConv: Created output texture: 2 width: 720 height: 1280`
 ` I/tflite: Initialized Tens

[2021-04-08 02:06] z7212819 opened #1860 "How to distinguish between left and right feet in 3D objects detection"
Hello, now I can replace it with my own shoe model, but how do I distinguish the left and right feet so that the shoes can distinguish the left and right directions. As shown in the picture, the model showing the right foot on both feet is now displayed
![Screenshot_20210408-100417](https://user-images.githubusercontent.com/75053001/113957566-0a26fe80-9852-11eb-87f2-50e6919c1d6f.jpg)

[2021-04-08 02:21] #1821 closed

[2021-04-08 02:58] bugmany commented on #1833
hi @rmothukuru, i run face effect on the platform Android and IOS.
thanks.

[2021-04-08 03:27] pkaske commented on #1848
nevermind, figured it out myself

[2021-04-08 03:27] #1848 closed

[2021-04-08 05:14] sgowroji commented on #1855
Hi @04633435, Please go through this https://github.com/google/mediapipe/issues/597#issuecomment-611905236, you will have an idea how doing the above.  But not for the same solution, you are looking for. We dont have examples as of now. Please try at your end and let us know if you have any queries.

[2021-04-08 05:18] sgowroji commented on #1856
Hi @ZacharyTech, We have very clear documentation here for your above requirement. Please go through [this](https://google.github.io/mediapipe/solutions/instant_motion_tracking.html#mediapipe-instant-motion-tracking)

[2021-04-08 05:22] sgowroji commented on #1857
Hi @KastusKalinovski, Could you please elaborate your usecase with clear details. And we have very clear documentation with  different [solutions](https://google.github.io/mediapipe/solutions/solutions.html). And please let us know which solution are you referring to.

[2021-04-08 06:04] sgowroji commented on #1858
Hi @saadati944, Thanks for bringing to our notice. We make the corrections as early as possible. Thanks.

[2021-04-08 06:05] sgowroji commented on #1858
Hi @chuoling ,  Typo correction needed below this [code](https://github.com/google/mediapipe/blob/master/docs/solutions/face_detection.md#python-solution-api)

[2021-04-08 06:08] sgowroji commented on #1859
Hi @shabazkhundmiri, Could you please explain your usecase with complete details like Error details, solution, code snippet or repo and steps followed.  Thanks!

[2021-04-08 06:18] sgowroji commented on #1860
Hi @z7212819, Could you please share your code repo and what platform are you referring?

[2021-04-08 06:23] sgowroji commented on #1847
Hi @b4017816, Can you share your graphs and calculators, So that we can verify with the Iris Solution engineers. Thanks!

[2021-04-08 06:23] z7212819 commented on #1860
@sgowroji I'm glad you can reply to me. I am using linux. Currently, I only replace the bounding box with the model. What should I do to distinguish the left and right directions of the shoes?

[2021-04-08 06:37] sgowroji commented on #1850
Glad your resolved. Closing this issue now. Thanks!

[2021-04-08 06:37] #1850 closed

[2021-04-08 06:37] bugmany commented on #1833
hi @rmothukuru, maybe the issue is not resources files.

[2021-04-08 06:37] #1833 closed

[2021-04-08 06:38] sgowroji commented on #1851
Glad your resolved and Thanks for sharing your fix. We are closing this issue.

[2021-04-08 06:38] #1851 closed

[2021-04-08 06:41] sgowroji commented on #1798
Hi @alexrichardson21, Did you get a chance to go through the above comment. Thanks!

[2021-04-08 06:46] bugmany opened #1861 "how to locate positions of obj and pngblob?"
i 've create OBJ and PNGBLOB files, then render it such as below:
![IMG_20210408_142557](https://user-images.githubusercontent.com/6613590/113979952-803e5c00-9878-11eb-8d7c-e5f0bfc13a43.jpg)
below is face effect demo:
![IMG_20210408_142625](https://user-images.githubusercontent.com/6613590/113980023-98ae7680-9878-11eb-9023-b8d623df01f8.jpg)
so my customized OBJ render effection is not my expected,

[2021-04-08 07:36] sgowroji commented on #1861
Hi @bugmany, Could you please share your code and graph.  And also share your usecase details a bit more and also error details.

[2021-04-08 08:02] sgowroji commented on #1760
Hi @RarDay, Did you get a chance to look above comment. Thanks!

[2021-04-08 08:06] sgowroji commented on #1744
Glad you resolved. We are closing this issue. Thanks!

[2021-04-08 08:06] #1744 closed

[2021-04-08 08:10] kiler222 commented on #1352
Have you solved that?

[2021-04-08 08:20] sgowroji commented on #1693
Hi @izaharkin, Thanks for your update. Initial query was answered so closing this ticket. If any new queries, please raise a new issue. Thanks.

[2021-04-08 08:20] #1693 closed

[2021-04-08 08:58] brgl opened #1862 ".bazelversion should be relaxed (only accepts bazel 3.7.2)"
@sgowroji I don't know why you closed my previous issue - it was not resolved, I only made a mistake in the problem's description. The issue is still there so reposting below.

-----

Current bazel version is `4.0.0` and it works fine for mediapipe. The .bazelversion in the mediapipe repository however specifies 3.7.2 as the only accepted version. This should be relaxed to accept any later version

[2021-04-08 08:59] Tortoise17 commented on #1810
I have video on CentOS and I would like to export it for dimensions of iphone frame and instagram dimensions. That is what my question if you have any example to export the autocropped video and also auto flip ?

[2021-04-08 09:29] bugmany commented on #1861
hi @sgowroji, i've refered:

/mediapipe/graphs/face_effect/BUILD
encode_binary_proto(
    name = "glasses",
    input = "glasses.pbtxt",
    message_type = "mediapipe.face_geometry.Mesh3d",
    output = "glasses.binarypb",
    deps = [
        "//mediapipe/modules/face_geometry/protos:mesh_3d_proto",
    ],
)
then add:
encode_binary_proto(
    name = "facemask",
    input = "facemask.pbtxt",
    m

[2021-04-08 12:00] KastusKalinovski commented on #1857
Hi @sgowroji, thank you for your response. I have a fixed camera and some object moving from frame to frame. My task is to detect this movement and track it with a bounding box. Now I am looking towards your [box-tracking solution](https://developers.googleblog.com/2019/12/object-detection-and-tracking-using-mediapipe.html), and I am trying to reproduce motion detection part.
![Screenshot from 202

[2021-04-08 12:06] KastusKalinovski commented on #1857
Firstly, I am trying to visualize optical flow(see attached graph).
![Screenshot from 2021-04-08 14-11-09](https://user-images.githubusercontent.com/41323462/114017141-5420dc00-9874-11eb-92c9-0c1071e57122.png)
I get the following error: `Input stream "optical_flow" of calculator "[FlowToImageCalculator, input stream: optical_flow, and output stream: output_video]" expects packets of type "mediapip

[2021-04-08 12:37] mayank6940 commented on #1466
i have python 3.8.3 but can't install mediapipe it's shows me /Could not find a version that satisfies the requirement mediapipe/
how can i solve

[2021-04-08 12:52] shadow111 commented on #1849
Hello @LeeJeongHwi  i opened the same issue [here](https://github.com/google/mediapipe/issues/1668)  i still cannot solve it, i want to draw the detected key points or objects in the android view, if you have some useful code can you share it please, there is a lot of people here that are asking for the same things so if we can solve it , it will help the community a lot
Thanks in advance .

[2021-04-08 12:56] jpeltone commented on #1668
+1

[2021-04-08 13:07] mayank6940 commented on #1325
**I have python 3.8.3 version but I can't install mediapipe it's shows me Could not find a version that satisfies the requirement mediapipe

[2021-04-08 13:08] Tortoise17 commented on #1811
I have error like below

[code]

[2021-04-08 13:10] Tortoise17 commented on #1811
Here I am using CentOS 7 and tensorflow updated version. I also have GPUs if it is throwing error because of that?

[2021-04-08 13:14] mayank6940 opened #1863 "cannot install mediapipe"
**I have python 3.8.3 version but I can't install mediapipe it's shows me //Could not find a version that satisfies the requirement mediapipe//
![Screenshot (638)](https://user-images.githubusercontent.com/44741414/114032938-74639180-989a-11eb-8947-83632c77acab.png)
**

[2021-04-08 14:57] Tortoise17 commented on #1811
My main focus is not face detection, but autocroping and resizing and exporting according to that type from Desktop for other device

[2021-04-08 15:43] yangcheng commented on #1500
for 2, you need to build an aar, and import the aar file to gradle project, see https://google.github.io/mediapipe/getting_started/android_archive_library.html

[2021-04-08 15:45] #1500 closed

[2021-04-08 15:53] alexrichardson21 commented on #1798
@Zju-George struggling with the same issue. I can line up the meshes relatively close in 3D rendering software but the meshes jitter more than they should frame to frame

[2021-04-08 15:56] Zju-George commented on #1798
what coordinates do you use,  the output of 3d landmarks?

[2021-04-08 16:11] b4017816 commented on #1847
Hi there, thanks for your help again,
I haven't modified the example Iris Calculators or graphs yet, my plan is to try that after I can build the initial Iris Example, I've tried to adapt what I can from the examples and docs but I'm stuck now.

Calculators Used to build the Iris .aar:
mediapipe/graphs/iris_tracking :iris_tracking_gpu_deps

Iris .aar Location: https://github.com/b4017816/IrisTrack

[2021-04-08 16:12] alexrichardson21 commented on #1798
Yes, I unnormalize them to pixel coordinates, center them, and determine camera distance
[code]

[2021-04-08 16:16] jiuqiant commented on #1779
As we mentioned in https://google.github.io/mediapipe/getting_started/install#installing-on-windows, MediaPipe doesn't support building its Android apps on native Windows because of the limited bazel support for Android on native Windows. Please try WSL instead. You can find the instructions at https://google.github.io/mediapipe/getting_started/install#installing-on-windows-subsystem-for-linux-wsl

[2021-04-08 16:16] #1779 closed

[2021-04-08 16:25] jiuqiant commented on #1754
You can get landmark x and y coordinates from MediaPipe Pose by the following:

[code]

Then,  you can get angle by following MLKit's example.

[2021-04-08 16:25] #1754 closed

[2021-04-08 16:28] Zju-George commented on #1798
@alexrichardson21 As far as I know, this is not the actual 3D coordinate of the face verts. This [line of code](https://github.com/Rassibassi/mediapipeFacegeometryPython/blob/2ad9544b6666ca3ca4d9024a37f56025d6a5b35d/head_posture_rt.py#L48) I suppose does the trick and `metric_landmarks` is the actual 3D coordinates, but I am quite busy these days and haven't give it a try. Maybe you could try out?

[2021-04-08 16:31] alexrichardson21 commented on #1798
I'll try that out. Thanks!

[2021-04-08 17:12] chuoling commented on #1858
Thank you for pointing it out. The typo has been fixed in our internal codebase upstream, and will be pushed to GitHub in the next release.

[2021-04-08 17:22] jiuqiant commented on #1863
Please verify your pip is for python3 or use `python3 -m pip` instead.

[2021-04-08 17:27] jiuqiant commented on #1811
Similar to https://github.com/tensorflow/tensorflow/issues/39633?

[2021-04-09 03:38] sgowroji commented on #1863
Hi @mayank6940, Could you please try the commands mentioned in the above comment and update. Thanks!

[2021-04-09 03:46] sgowroji commented on #1862
Apology for my misunderstanding on the previous ticket. We are glad you bought this upto our notice. Could you please mention what infromation you needed in submitting  the patch. Am not sure about it, but i can assign it to @jiuqiant who can guide you on the above. Thanks!

[2021-04-09 04:12] lilinxiong opened #1864 "FaceMesh get Euler Angles"
in Android use FaceMesh .aar.
Can I get Euler Angles ?

[2021-04-09 04:26] lilinxiong commented on #1864
I find in [model.h](https://github.com/google/mediapipe/blob/0.8.3.2/mediapipe/modules/objectron/calculators/model.h) have **GetRotationAngles()**. But I found no place to use it. I want to confirm if it is available. If it can be used, what should I do. Otherwise how should I get Euler angle…
We are expecting a reply thanks～

[2021-04-09 04:27] pjbaron commented on #1276
I don't know if this will help you with Java, but I hit this thread looking for the same answer in C# and eventually got this:

[code]

I would expect the Java implementation to follow the same class structure.

[2021-04-09 04:49] jiuqiant commented on #1862
.bazelversion can only specify exactly one bazel version. Since bazel 4.0.0 has an issue on macOS with Xcode 11.3, we choose  Bazel 3.7.2.  From https://github.com/google/mediapipe/releases/tag/0.8.3.2, we recommend users using bazelisk instead of bazel. bazelisk will find the desired bazel version and install it automatically under the hood.

I agree that the python setup.py script doesn't cover

[2021-04-09 04:52] mayank6940 commented on #1863
Thanks @jiuqiant  @sgowroji  problem is fixed now i read documentation of mediapipe they support only in 3.7 python versiom only

[2021-04-09 04:52] #1863 closed

[2021-04-09 05:02] sgowroji commented on #1864
Hi @lilinxiong, the model.h file which you are referring is from objectron solution. So are you expecting similar from FaceMesh calculators ? Could you please explain what is your usecase specific to  GetRotationAngles(). Thanks!

[2021-04-09 06:32] lilinxiong commented on #1864
@sgowroji thank you for your reply. Yes I want to use it in FaceMesh. I want to use FaceMesh to achieve a similar IOS Animoji features.
Collect facial expressions and map to virtual characters. so we need **Euler Angles** . I find **Model.h** have function to get Euler angle. so FaceMesh is it possible to integrate it ?

[2021-04-09 07:05] sgowroji commented on #1626
Hi @LegPro Did you get a chance to go through the above comment. Please update.

[2021-04-09 07:17] sgowroji commented on #1734
Hi @sufiaji, Could you please confirm your issue status. And where you need guidance. Thanks!

[2021-04-09 07:23] sgowroji commented on #1743
Hi @saurabhchalke, Did you try the workaround suggested in the above comment. Please update the status. Thanks!

[2021-04-09 07:26] sgowroji commented on #1745
Hi @ljmkimqx, To resolve your issue, we need to understand your steps performed on the code to reproduce the above error. Please share your code or repo.

[2021-04-09 07:38] sgowroji commented on #1802
Hi @HyperScypion Can you update on the above comment. Thanks!

[2021-04-09 07:38] brgl commented on #1862
:confused:

This is a strange limitation but I guess this is out of scope of this project then...

[2021-04-09 07:39] sgowroji commented on #1804
Hi @HyperScypion  Can you provide the above requested details.

[2021-04-09 07:40] sgowroji commented on #1805
Hi @wxk2008, Please provide more details to understand your issue. Thanks !

[2021-04-09 07:50] sgowroji commented on #1810
At present we dont have any support of the above in IOS and standard examples. Please have a look at this [link](https://google.github.io/mediapipe/solutions/autoflip) we have clear documentation of it.

[2021-04-09 07:51] sgowroji commented on #1817
Hi @Mynith, Did you get a chance to go through the above comment. Thanks!

[2021-04-09 07:54] sgowroji commented on #1825
Hi @danj96dev Did you get a chance to go through the above comment. Thanks!

[2021-04-09 07:57] sgowroji commented on #1847
Hi @b4017816 Did you try the code mentioned in this  https://github.com/google/mediapipe/issues/1847#issuecomment-815028836. Thanks!

[2021-04-09 09:04] sgowroji commented on #1853
Duplicate issue https://github.com/google/mediapipe/issues/18

[2021-04-09 09:05] sgowroji commented on #1800
Hi @weixinz1,  This can help you resolve your query https://github.com/google/mediapipe/issues/18

[2021-04-09 09:48] b4017816 commented on #1847
Hi yeah I tried adding that code but it gives me a NPE because a camerahelper object hasn't been initialised at that point yet, and trying to initialise the object there gives the error of side packet required, my previous comments have more details, thanks

[2021-04-09 10:10] Mynith commented on #1817
Hi, @sgowroji.

The info @eknight7 provided is indeed what I needed, but I haven't yet had the chance to try it out, as I have been asked to lend a hand with another project first. I will probably be able to try this next week.

Thank you for your help

[2021-04-09 12:05] nicoinn commented on #1864
This is related to this https://github.com/google/mediapipe/issues/1379

I believe the solution is in there already, albeit in a little convoluted form ;)

[2021-04-09 12:15] danj96dev commented on #1825
Yes but switching to arm32 build was what ended up working for me

On Fri, Apr 9, 2021, 3:54 AM GowrojiSunil ***@***.***> wrote:

[2021-04-09 12:38] lilinxiong commented on #1864
@nicoinn thanks for your advice! But I think [#1642](https://github.com/google/mediapipe/issues/1642#issue-813295943) mentioned that it would be better to calculate Euler angles. It’s just that it’s better to officially support returning Euler Angles…

[2021-04-09 13:03] badushaebrahim opened #1865 "Better android studio implementation documention"
Most people who would like to get started in mediapipe in there android studios has may problem a little bit more explanation in the setup and generating building file for this and some lite video example for these would be a great help most

[2021-04-09 15:09] sufiaji commented on #1734
Hi @sgowroji
Thanks for replying.

This issue is still open, since I still encounter the error when trying the video suggested by @jiuqiant , even I run in Docker container. As mentioned above, the python error **Segmentation fault** raised on mediapipe/python/solutions/face_mesh.py and mediapipe/python/solution_base.py.
I need the guidance on how to eliminate those errors.
Thank you!

[2021-04-09 15:17] sgowroji commented on #1734
Hi @sufiaji, could you please mention the complete error details, so that @jiuqiant can have a look over. Thanks!

[2021-04-09 15:43] ianni67 commented on #1864
@lilinxiong, before you spend time with your application, please read #1786 as that issue might affect your case as well. In brief, the whole set of landmarks is affected by small eyes and irises [motion](https://github.com/google/mediapipe/issues/1642#issuecomment-804362081), so the face transformation matrix is also affected and the Euler angles are affected as well. I'm still awaiting for any r

[2021-04-09 15:46] midhulavijayan opened #1866 "Not able to convert output tensor to float"
Hi,
I am trying to implement simple binary classifier with custom tflite model. I am using model with one output node. If the output value is >threshold i am trying to make the class as outlier. Part of .pbxt file is shown below. The app is working till the TfLiteInferenceCalculator.

node {
  calculator: "FlowLimiterCalculator"
  input_stream: "input_video"
  input_stream: "FINISHED:output_video"

[2021-04-09 16:06] sufiaji commented on #1734
Hi @sgowroji ,

Please find below the detailed error in plain text:

Fatal Python error: Segmentation fault

Thread 0x00007fbe0a2dc700 (most recent call first):
  File "/usr/lib/python3.8/threading.py", line 306 in wait
  File "/usr/lib/python3.8/threading.py", line 558 in wait
  File "/home/pradhonoaji/.vscode/extensions/ms-python.python-2021.3.658691958/pythonFiles/lib/python/debugpy/_vendored/p

[2021-04-09 16:28] sgowroji commented on #1866
calculator for converting TFLite tensors to to a float or a float vector.

[code]
[code]

[2021-04-09 16:32] jiuqiant commented on #1819
MediaPipe face mesh solution API outputs face landmarks. Our simple drawing util is for showing the users how to parse and use the output face landmarks. For your request , you need to follow https://github.com/google/mediapipe/issues/1698#issuecomment-794814532 to implement a custom drawing method.

[2021-04-09 16:32] midhulavijayan commented on #1866
I tried with this calculator, but app is getting crashed
node {
   calculator: "TfLiteTensorsToFloatsCalculator"
  input_stream: "TENSORS:tensors"
  output_stream: "FLOATS:floats"
 }

[2021-04-09 16:41] ablavatski commented on #1750
Hey Aarushi! Yes, you are right that the coordinates origin is static for the entire 2D plane and located in the top left corner. In other words, the top left corner is always (0, 0) and the bottom right corner is (255, 255).

[2021-04-09 16:41] #1750 closed

[2021-04-09 17:12] lilinxiong commented on #1864
@ianni67 Yes i noticed too. But now we don’t think about eyeballs. Of course, if the eyeballs are handled well, it’s great.
We are waiting for solutions from Google experts who are interested in this.

[2021-04-09 17:29] shabazkhundmiri commented on #1859
This is a relevant snippet of where the converter object is initialized in the OnResume function and the startCamera() function is called to start the camera after checking that permission is granted.

[code]

Below is the logs of the expected output when it does successfully work and starts detecting through the camera. When it doesn't work, this log output below is not present and the app never

[2021-04-09 18:10] eknight7 commented on #1816
@jiuqiant is more familiar with this type of issue.

[2021-04-09 18:55] eknight7 commented on #1784
Okay if basic hello world works, then we can confirm that the camera preview works for a simple MediaPipe graph.
It's possible that the models are heavy for your device configuration - especially since they don't run on CPU but do work slowly on GPU as described in your comments above.
Lets confirm if that is indeed the case. Can you try using https://google.github.io/mediapipe/tools/tracing_and_p

[2021-04-09 19:48] jiuqiant commented on #1816
Unfortunately,  I am not familiar with Android Studio. If the app built by Bazel is running ok, it seems related to Android studio setting, similiar to https://stackoverflow.com/questions/56252142/after-migration-to-androidx-exception-at-start-up-java-lang-classnotfoundexcep.

[2021-04-09 20:47] tyrmullen commented on #877
Hi all-- this is quite a tricky task, so expect to run into a lot of strange build errors along the way.  However, a few tips that might be helpful:
(1) I'd recommend (even if building on Desktop) that you use mostly mobile versions of the different MediaPipe components (so mostly iOS/Android C++ code), since mobile code is generally more portable.
(2) I'd also recommend starting simpler with the

[2021-04-09 20:50] tyrmullen commented on #1741
1. This is indeed a bigger project, and requires some more effort, so while it is something we'd like to do, it will be a little while before we can.  It's not just a simple matter of exposing configs, because a lot of the sub-libraries themselves are different when being built outside of Google versus inside, so a decent amount of bazel/BUILD engineering will likely be necessary.  However, I left

[2021-04-09 23:24] yegenzhi commented on #1857
Hi, @KastusKalinovski you may want to introduce the input image to BoxTrackerCalculator as an input stream and set the following boolean to true in the BoxTrackerCalculatorOptions. Then you can obtain an output stream of the annotated image.

visualize_tracking_data: false
visualize_state: true
visualize_internal_state: true

[2021-04-09 23:53] kostyaby commented on #1861
Hey @bugmany,

One important difference to note between (A) the MP `facemask` example and (B) your `fmask` is that (A) uses runtime face mesh as geometry while (B) uses `fmask.binarypb` as geometry

By looking at the symptoms, I'd say that the way `fmask.binarypb` is aligned with canonical face mask needs to be changed a bit: please move the `fmask` model **closer to the camera** so that the canon

[2021-04-09 23:56] kostyaby commented on #1640
Hey @cjl84914,

I see that this issue was created on Feb 21. By a pure coincidence, exactly this functionality got available in `face_effect_gpu` example on Feb 27: https://github.com/google/mediapipe/blob/master/mediapipe/graphs/face_effect/face_effect_gpu.pbtxt

Please take a look and let me know if that resolves your issue!

[2021-04-10 00:26] kostyaby commented on #1854
Hey @milad-4274,

Actually, I don't think those weights add up to 1. When I was creating the weights, my objective was to make sure that the weighted center of mass is close to the center of mass for the entire face model (468 vertices), but only relies on "stable" landmarks (ones that are harder to change with mimics and one can only change them with head movement). The reason why getting the wei

[2021-04-10 02:22] johnboiles commented on #1733
FWIW I get the same error when trying to compile target `mediapipe/examples/desktop/iris_tracking:iris_tracking_cpu` using the environment created by the [Dockerfile](https://github.com/google/mediapipe/blob/master/Dockerfile). Probably Ubuntu 18.04 as specified in the Dockerfile doesn't use gcc 8. I'll chime back in if I dig further.

[2021-04-10 06:58] #1858 closed

[2021-04-10 10:50] sgowroji commented on #1866
Hi @midhulavijayan, Could you please share your error logs to understand the issue much better. Thanks!

[2021-04-10 10:55] sgowroji commented on #1817
Sure thank you. We are closing this issue. Please feel free to open the issue if  still exists.

[2021-04-10 10:55] #1817 closed

[2021-04-10 10:56] sgowroji commented on #1825
Seems you are unblocked we are closing this issue. Thanks.

[2021-04-10 10:56] #1825 closed

[2021-04-10 11:09] sgowroji commented on #1811
Hi @Tortoise17, Please go through the above comment and share the  update. Thanks!

[2021-04-10 11:42] sgowroji commented on #733
Hi @TheRealEdarus, Assuming you are resolved. We are closing this issue. Thanks!

[2021-04-10 11:42] #733 closed

[2021-04-10 12:35] milad-4274 commented on #1854
thank you for awesome reply and guidance. It seems not straightforward. I close this issue for now.

[2021-04-10 15:32] Pythonsegmenter opened #1868 "What is the metric scale of the face landmarks?"
Hi, I was wondering if there is someway to translate the face landmarks obtained into a metric scale. I would for example need to know the distance from the tip of the nose to the chin.

If I read [the docs](https://google.github.io/mediapipe/solutions/face_mesh.html)  then the face_geometry module seems to do the trick. However, I can nowhere find an example of how to do this in python.

Is there

[2021-04-11 03:53] #1854 closed

[2021-04-11 05:48] jiuqiant commented on #1839
It's likely due to the missing Visual C++ redistributable packages for Visual Studio 2015, 2017 and 2019. You can download vc_redist.x64.exe from https://support.microsoft.com/en-us/topic/the-latest-supported-visual-c-downloads-2647da03-1eea-4433-9aff-95f26a218cc0.

[2021-04-11 09:58] gamersi commented on #1325
@mayank6940 I gat this, too, i have python 3.8.5

[2021-04-11 10:31] mayank6940 commented on #1325
@gamersi  install python 3.7 version then you will not get any error

[2021-04-11 10:43] gamersi commented on #1325
Ok I will try it later

[2021-04-11 11:58] gamersi commented on #1325
@mayank6940 I am now using the 3.7.9 version with PIP 21.0.1, I deleted 3.8 and i still get the same error

[2021-04-11 12:01] gamersi commented on #1325
Like this:
![image](https://user-images.githubusercontent.com/46320904/114303419-52525500-9ace-11eb-98f3-11212c5e5ccf.png)

[2021-04-11 13:10] bugmany commented on #1861
hi @kostyaby,
those my typing error, files name are  "facemark" in my project source code, as below:
"//mediapipe/graphs/face_effect/data:facemask.binarypb",
"//mediapipe/graphs/face_effect/data:facemask.pngblob",

thanks.

[2021-04-11 13:25] badushaebrahim commented on #1865
![image](https://user-images.githubusercontent.com/63869474/114305845-8130f100-9af7-11eb-8eda-d134a73ac508.png)

[2021-04-11 13:26] badushaebrahim commented on #1865
ANY IDEA HOW TO FIX THS

[2021-04-11 13:53] sgowroji commented on #1857
Hi @KastusKalinovski, Did you get a chance to go through the above comment. Thanks!

[2021-04-11 14:36] badushaebrahim commented on #1865
x-special/nautilus-clipboard
copy
file:///home/badushaebrahim/Downloads/log.txt

<h1>### my log<h1> i was following the given instruction in the mediapie.dev page
os of dev :pop os
target :android (vivo u20)

[2021-04-11 14:36] badushaebrahim commented on #1865
[log.txt](https://github.com/google/mediapipe/files/6292010/log.txt)
log file is here

[2021-04-11 14:38] badushaebrahim commented on #1849
hai guys have u been able to get build a stuck at sync can you guys help

[2021-04-11 14:46] LucaswasTaken opened #1869 "Missing hand landmarks"
Despite de High accuracy of the hand detector, sometimes there are missing landmarks between frames. Should it be interesting a interpolator to reconstruct this missing landmarks in real time?

[2021-04-11 19:58] dillinho commented on #1839
For me the answer [here](https://stackoverflow.com/questions/66938116/importerror-dll-load-failed-the-specified-module-could-not-be-found-after-suc) helped:
pip install msvc-runtime (probably because of the reason @jiuqiant mentioned)

[2021-04-12 00:53] fahadhaq commented on #1788
Is there a solution for this? I am getting the same error currently.
thanks in advance

[2021-04-12 02:23] fahadhaq commented on #1490
@ljmkimqx did you manage to get it working?

[2021-04-12 04:12] sgowroji commented on #1869
Hi @LucaswasTaken, Could you please explain your use case with complete details. Can you illustrate more about the missing landmarks. Thanks

[2021-04-12 04:49] sgowroji commented on #1668
As we see the above query answered, We are closing this issue. Thanks!

[2021-04-12 04:49] #1668 closed

[2021-04-12 04:52] sgowroji commented on #1718
Hi @PeterPocsi, Could you please update your issue status.  Thanks!

[2021-04-12 04:56] sgowroji commented on #1724
Hi @aarushi-mittal, We assume your query answered in the above comment. Please let us know the issue status. Thanks!

[2021-04-12 04:59] LeeJeongHwi commented on #1865
Hello @badushaebrahim , I build with Docker in Ubuntu and copy AAR , binarypb file, and then use it in Window Android Studio

I tried all the Build in WSL2, Ubuntu, Window, and Android Studio.

Thank you

[2021-04-12 05:01] sgowroji commented on #1741
Hi @vkrytpo, Did you get a chance to go through the above comment. Thanks!

[2021-04-12 05:27] sgowroji commented on #1794
Assuming you are resolved, we are closing this issue. Thanks!

[2021-04-12 05:27] #1794 closed

[2021-04-12 05:29] sgowroji commented on #1797
Assuming your query is resolved, We are closing this issue. Thanks

[2021-04-12 05:29] #1797 closed

[2021-04-12 05:30] sgowroji commented on #1798
Hi @alexrichardson21, Could you please share your issue status. Thanks!

[2021-04-12 05:51] sgowroji commented on #1805
As we see lack of activity on this issue, We are closing it. Please feel free to open if the issue still exists. Thanks!

[2021-04-12 05:51] #1805 closed

[2021-04-12 05:52] sgowroji commented on #1820
Hi @danj96dev, Did you get a chance to go through the above   https://github.com/google/mediapipe/issues/1820#issuecomment-814662436. Thanks!

[2021-04-12 06:24] bugmany commented on #1861
hi @kostyaby,
after i've moved camera position, now display OK.
Thanks.

[2021-04-12 06:30] LegPro commented on #1626
Thanks All Worked Fine. :D

[2021-04-12 06:30] LegPro commented on #1626
Thanks Its Working and i know how to do it al lthings now :D

[2021-04-12 06:30] #1626 closed

[2021-04-12 06:54] sgowroji commented on #1865
Hi @badushaebrahim, You can raise another issue for build and installation. I assume the above query is about documentation . Thanks!

[2021-04-12 06:56] sgowroji commented on #1862
Hi @brgl,  From Above comment your query is answered. Please let us know if you still have any further queries.

[2021-04-12 07:01] sgowroji commented on #1839
Glad your resolve. We are closing this issue. Thanks!

[2021-04-12 07:01] #1839 closed

[2021-04-12 07:18] vKrypto commented on #1741
@tyrmullen , thanks for the response.

I guess, I can try using**( issue #877)** and  **(issue #1408)**

[2021-04-12 09:35] ZacharyTech commented on #1856
Okay, let me check this example first. thank

[2021-04-12 10:31] milad-4274 commented on #1841
any advice?
I also check it without using "SwitchContainer" and the problem still exist.

[2021-04-12 10:38] KastusKalinovski commented on #1857
Hello, @yegenzhi, thank you for your response. I've tried following graph:
![Screenshot from 2021-04-12 13-34-15](https://user-images.githubusercontent.com/41323462/114381503-dc182600-9b93-11eb-9f76-80891b0264ca.png)
Here is my code:
[code]
I get the following error : `Failed to run the graph: Input stream "input_video" of calculator "[BoxTrackerCalculator, input streams: <VIDEO:input_video,TRACKI

[2021-04-12 10:47] KastusKalinovski commented on #1857
I've also tried this combined graph, with visualization booleans enabled, but it just returns the input video without any visualization.
![Screenshot from 2021-04-12 13-45-01](https://user-images.githubusercontent.com/41323462/114382678-4ed5d100-9b95-11eb-9d1d-8a6021e47493.png)
Code:
[code]

[2021-04-12 10:51] midhulavijayan commented on #1866
I tried to save the trace using "https://google.github.io/mediapipe/tools/tracing_and_profiling.html#tracing-on-android" tutorial. But the file is not getting saved. It would be really helpful if you can make a mediapipe pipeline (.pbtxt) file for image classification model (download.tensorflow.org/models/mobilenet_v1_2018_08_02/mobilenet_v1_0.25_224.tgz).

[2021-04-12 10:59] Tortoise17 commented on #1811
Thank you sir, I tried this. and now the error is like this.

[code]

I built with gcc 7.3 as mentioned and tensorflow 1.14

[2021-04-12 12:37] alllexx88 opened #1871 "Error building examples/desktop/youtube8m/extract_yt8m_features"
Hi, I'm following [youtube8m example guide](https://github.com/google/mediapipe/blob/master/mediapipe/examples/desktop/youtube8m/README.md), and after executing `extract_yt8m_features` build command:
[code]
I get an error:
[code]

It indeed looks like `cc` at [mediapipe/calculators/tensorflow/tensorflow_inference_calculator.cc:103](https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a47

[2021-04-12 13:33] danj96dev commented on #1820
Hello, unfortunately the speed of detection isn't any faster than Google's MLkit so I'm not continuing with that, but the comment was helpful thank you.

[2021-04-12 13:33] #1820 closed

[2021-04-12 15:12] alexrichardson21 commented on #1798
@Zju-George the metric landmarks seem helpful but the solvePnP included in that repo breaks whenever the face is looking to the side

[2021-04-12 15:34] ZhAnGeek commented on #1853
I have a same problem but related to my customized data
04-12 23:19:20.106 30201 30267 W MainActivity: Received anchor packet
04-12 23:19:20.108 30201 30267 E libc++abi: terminating with uncaught exception of type absl::lts_2020_09_23::BadStatusOrAccess: Bad StatusOr access
--------- beginning of crash
04-12 23:19:20.108 30201 30267 F libc    : Fatal signal 6 (SIGABRT), code -6 (SI_TKILL) in tid 3

[2021-04-12 15:54] mcclanahoochie commented on #1758
Can you paste the entire logcat?
The 2nd screenshot provided doesn't capture any memory errors or crashes, and I believe is a normal message to see.

Also, can you explain what the first screenshot is showing? It is hard to see what is going on with no labels and other information, so I do not see signs of a memory leak

Which phone do you have?

Have you tried analyzing any of the other MediaPipe

[2021-04-12 16:06] mcclanahoochie commented on #1736
To get another stream output, you need to define a poller for that stream.

Add another poller [here](https://github.com/google/mediapipe/blob/7c331ad58b2cca0dca468e342768900041d65adc/mediapipe/examples/desktop/demo_run_graph_main.cc#L80),  with something like this
[code]
then receive the packet in the same way:
[code]

[2021-04-12 16:48] kartynnik commented on #1786
1. This has been to an extent addressed by the [Attention Mesh](https://arxiv.org/abs/2006.10962) model. There are (yet unspecified) plans to release a light attention mesh model in the future.
2. One might try to decrease the effect of the undesirable movement of some landmarks by adjusting their weights in the canonical face mesh fitting procedure. See the lines like `procrustes_landmark_basis {

[2021-04-12 16:57] alexrichardson21 opened #1872 "Using FaceGeometryPipelineCalculator in Python"
Is it possible to use FaceGeometryPipelineCalculator through mp.CalculatorGraph() in Python on face_mesh solution output landmarks?

[2021-04-12 17:04] ianni67 commented on #1786
@kartynnik thank you very much for your answer, which I was eagerly awaiting. Just to check if I'm getting it right, your current suggestion is to decrease the weights of the eyes-related landmarks in the canonical face mesh fitting procedure, in order to obtain a transformation matrix that is less sensitive to eyes and irises motion. Did I understood correctly?
The file you pointed out (geometry_

[2021-04-12 17:35] kostyaby commented on #1868
Hey @Pythonsegmenter,

You are right that the `FaceGeometry` module is currently not available on Python, only on C++. @jiuqiant might be able to navigate you around the timeline there

As for your use-case, I sense that the precision of Face Geometry (in terms of metric units) might not be good enough for you

We have a canonical face 3D model and during runtime we make sure that the scale of det

[2021-04-12 17:36] kartynnik commented on #1786
@ianni67 As can be seen [here](https://github.com/google/mediapipe/blob/350fbb2100ad531bc110b93aaea23d96af5a5064/mediapipe/modules/face_geometry/libs/geometry_pipeline.cc#L446), the other weights are set to zero.

[2021-04-12 18:06] ianni67 commented on #1786
So, those weights are currently the only ones that actually affect the fitting?

[2021-04-12 18:31] alexrichardson21 commented on #1798
You are totally right that `cv2.solvePnP` is unneccessary. That `pose_transform_mat` gets me the exact results I was looking for if you port those transform matrices into 3D rendering software

[2021-04-12 18:54] 04633435 commented on #1855
Thank you for your surpport@sgowroji. I'll look it up!

[2021-04-12 20:01] kartynnik commented on #1786
You're correct. You might actually observe more stability if you add more points participating in the fitting rather than removing them. See the [Kanstantsin's post](https://developers.googleblog.com/2020/09/mediapipe-3d-face-transform.html) for the background on what that fitting entails.

@kostyaby Can you please share how the weights were assigned?

[2021-04-12 20:44] kostyaby commented on #1786
Hey @ianni67,

I'm actually less optimistic than @kartynnik on the matter of how much the face geometry fitting pipeline weight tweaking can help to achieve your goals. Although [these GIFs](https://github.com/google/mediapipe/issues/1642#issuecomment-804362081) might make you think that there only a small landmark motion that causes a huge face pose motion, I'd say this opinion doesn't take into

[2021-04-12 20:59] fahadhaq commented on #1619
@MikeDean2367 Did you manage to solve this issue?

[2021-04-12 21:00] fahadhaq commented on #1334
@bugmany how did you manage to find the depth? Any help would be greatly appreciated.

[2021-04-12 23:19] mgyong commented on #1818
see related issue #877

[2021-04-12 23:19] #1818 closed

[2021-04-12 23:20] #1780 closed

[2021-04-12 23:28] mgyong commented on #1721
We unfortunately don't have examples to do this and do not have plans to provide it. You can check out the [face effect renderer calculator](https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_geometry/effect_renderer_calculator.cc) See fig 4 on https://google.github.io/mediapipe/solutions/face_mesh.html

[2021-04-12 23:28] #1721 closed

[2021-04-12 23:55] fahadhaq commented on #1037
@nitin26gupta were you able to figure out how to get the size and the position?

[2021-04-13 01:42] cjl84914 commented on #1640
@kostyaby  thank you very much!

[2021-04-13 02:16] Zju-George commented on #1798
@alexrichardson21 Congratulations!
May I see your result in 3D rendering software?  I am quite curious how the result could ever be and could it depicts the mouth opening-closing expression?

[2021-04-13 02:27] bugmany commented on #1155
thanks @kostyaby, i can create those files.

[2021-04-13 02:38] pjbaron opened #1873 "rapid hand motion causes shrinking/stretching of landmark positions"
I'm using mediapipe for handtracking in Unity via @homuler's excellent [MediaPipeUnityPlugin](https://github.com/homuler/MediapipeUnityPlugin) and I noticed that if the hand moves rapidly horizontally, the landmarks appear to either squash or stretch to a quite considerable degree, depending on the direction of motion.

I displayed the landmarks as spheres in 3D in front of the webcam display (wit

[2021-04-13 03:04] pjbaron commented on #1873
For comparison, this is what the spheres look like when the hand is at rest or moving at a more moderate velocity:
![image](https://user-images.githubusercontent.com/614817/114490753-801fd100-9c69-11eb-923a-dca5cc0c1bb4.png)

[2021-04-13 04:14] ANK-VALUES opened #1874 "Try to get anchor stream of instant motion tracking."
The instant motion tracing effect is great， but I want to do more customize on it。what I need is the anchor data list， which is declared in 'instant_motion_tracking.pbtxt' as "tracked_anchor_data".

**instant_motion_tracking.pbtxt**

pbtxt

node {
  calculator: "RegionTrackingSubgraph"
  input_stream: "VIDEO:input_video"
  input_stream: "SENTINEL:sticker_sentinel"
  input_stream: "ANCHORS:initial_

[2021-04-13 04:34] thearperson commented on #1871
+1. It looks like the entire file is corrupted somehow.

[2021-04-13 04:48] #1741 closed

[2021-04-13 04:53] RaiShra1 commented on #1736
The follow up question on this is the data structure to use. I wanted to know if Normalizedlandmark is the one to use in order to the landmarks packet data and if so, should I be using its proto file?

[2021-04-13 05:39] johnboiles commented on #1788
Confirmed same issue on 0.8.3.2.

[2021-04-13 06:28] bugmany commented on #1861
hi @kostyaby, @sgowroji:
now i've render obj and png, as below,

![IMG_20210413_141415](https://user-images.githubusercontent.com/6613590/114505609-3af8a080-9c63-11eb-8115-42fed62bc1fe.jpg)

but i found this display only static image, and in project demo "face effect", the face paint display is animation, so i want to make it animation, so could you give me advice, thanks a lot.

[2021-04-13 06:36] yazdanghaderi commented on #1841
I have similar problem when using 20 render calculator on weak hardware device(e.g Huawei honor 8C) crashed.

[2021-04-13 07:05] ianni67 commented on #1786
Hello @kostyaby and @kartynnik.
First of all, let me thank you again for your kind availability and clear explanations.
I believe I got all your arguments. I also think that the main point here is that my target application is substantially different from that of "putting a mask" on the face of a subject. The intuitive reason is that when the objective is sticking a mask to the face, the landmarks

[2021-04-13 07:17] #1718 closed

[2021-04-13 07:18] PeterPocsi commented on #1718
Hi @sgowroji,
Yes, sure, I closed the issue because I have a PR for this.

[2021-04-13 07:20] lilinxiong commented on #1786
Hi @ianni67 I think what we want to achieve is the same function.
I need too "rotation matrix that actually reflects "bones" orientation and rotations."
If an alternative is found. Can you share it here ?
The same, if I find a good solution, I will share it here～
Thanks~

[2021-04-13 07:37] Pythonsegmenter commented on #1868
Hi There,

Thanks for the elaborate answer. So if I understand correctly media pipe makes every face just as large as the canonical face model. The scale thus remains actually unknown, is that correct?

But if this is the case, what is the use case of the FaceGeometry module? Is it limited to having a slightly more accurate 3D form because it no longer makes use of the weak perspective model?

[2021-04-13 07:52] bugmany commented on #1334
hi @fahadhaq,
you can refer to the file:
/mediapipe/graphs/iris_tracking/calculators/iris_to_render_data_calculator.cc
IrisToRenderDataCalculator::Process(CalculatorContext* cc) {
...
}
herein, i got it.

[2021-04-13 08:34] ianni67 commented on #1786
I'm most probably not going to find a general solution for the problem. My specific objective might, however, have an empiric, perhaps ad-hoc solution that I will post here (when I find it).

[2021-04-13 08:38] lilinxiong commented on #1786
Looking forward to your plan.

[2021-04-13 10:04] #1874 closed

[2021-04-13 10:05] ANK-VALUES commented on #1874
done.

[2021-04-13 10:20] yangcheng commented on #1425
@mcclanahoochie I was able to remove the output video and get result in the place as you suggested. Thanks!
however, if there is no landmarks detected, then the callback is not invoked.  is there a way to let the callback called with an empty result?

[2021-04-13 11:15] yangcheng opened #1875 "android posetrackinggpu , PacketCallback is not called when no landmark is detected in a frame"
I want to know when a frame processing is finished even if there is no landmark detected, how can I do that? is there a way to tell mediapipe framework to invoke the [callback](https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a479407c699e424aa7/mediapipe/examples/android/src/java/com/google/mediapipe/apps/posetrackinggpu/MainActivity.java#L37) with an empty result?
thanks

[2021-04-13 11:55] constantvariable1 opened #1876 "box tracking using Mediapipe in browser using js and wasm"
Is there any way to implement the box tracking solution available in MP, in js and wasm so that it can run in the browser?
If yes then please tell me the steps required to do the same.
I studied the solutions available for cpp. Also the objectron solution in python. I wish to make something that can track objects  through the browser from a mobile device.
Any tips are much appreciated.

[2021-04-13 12:26] M00NSH0T commented on #1611
Just adding my two cents here, I agree it would be great to get an update on where things stand with the z-coordinate.

Citing the [documentation](https://google.github.io/mediapipe/solutions/pose_classification.html#future-work):
[code]

[2021-04-13 13:39] dieusangly opened #1877 "mediapipe.framework.formats.landmark_pb2.NormalizedLandmarkList"

[2021-04-13 14:31] anphunl commented on #245
Could you please share the files again? It's perfect if you share the edited JSON file. Thank you very much.
I have same problem with another model that uses that operator and still stuck at it.

[2021-04-13 15:17] alexrichardson21 commented on #1798
I'll email you an MP4. It's a bit shakier than it should be but much better than what I had before. Mouth and eye expression is still pretty bad

[2021-04-13 15:20] Zju-George commented on #1798
Thanks~ my email address: 470196540@qq.com

[2021-04-13 16:17] kostyaby commented on #1868
Hey @Pythonsegmenter,

What Face Mesh module gives as an output are landmarks with XY being projected as screen coordinates and Z coordinate, which is processed in spirit of weak perspective camera model. Then, Face Geometry turns those screen XY + weak perspective Z (offsetted so that `mean(Z) = 0`) coordinates into _some_ approximation of metric XYZ in respect to a perspective projection matrix

[2021-04-13 16:19] kostyaby commented on #1861
Hey @bugmany,

`FaceGeometryEffectRendererCalculator` is totally missing critical features to make such rendering possible, so please consider just surfacing FaceGeometry data to the app level and then use some other rendering library to enable this effect (if you are seeking cross-platform solution, [Filament](Filament) is a great choice; it already comes with gltf-io library that'd simplify your

[2021-04-13 17:52] ShravanRai22 commented on #1736
The follow up question on this is the data structure to use. I wanted to know if "Landmark" or "Normalized Landmark" is the data structure to collect the data received in the landmarks_packet. In that case could you kindly provide a landmark.h file and landmark.cc file for in mediapipe/framework/formats ?

[2021-04-13 22:39] fredrikmalmberg commented on #1530
Getting the same problem

[2021-04-14 01:52] bugmany commented on #1861
hi @kostyaby ,
i'll try to using Filament, thanks.

[2021-04-14 02:19] lilinxiong commented on #1798
Hi @alexrichardson21 Can you send me a copy too?
Because I think the results we want to get are the same ( I also need to get the actual 3D coordinates... )
But I want see your result in 3D rendering software. Determine if our goals are consistent.
Thanks~ my email address: lilinxiong1997@gmail.com

[2021-04-14 02:48] youngkyungkim opened #1880 "Question on box tracking"
I have successfully built a box tracking part inside the docker container, using the code that was given, which is

`bazel build -c opt \
--define MEDIAPIPE_DISABLE_GPU=1 \
--define no_aws_support=true \
--linkopt=-s \
mediapipe/examples/desktop/object_tracking:object_tracking_cpu
`

However, I was struggling to run the analysis, when my input is a video file not from a camera.
For running a code

[2021-04-14 04:50] sgowroji commented on #1872
Hi @alexrichardson21, Thanks for sharing your query. Could you please elaborate your use case to understand the query much better. Thanks!

[2021-04-14 05:19] sgowroji commented on #1875
Hi @yangcheng, Can you provide your repo code to understand the issue much better with proper comments.

[2021-04-14 05:29] sgowroji commented on #1876
Hi @constantvariable1, Present we don't have support for js, Have a look at [this](https://google.github.io/mediapipe/solutions/solutions).

[2021-04-14 05:31] sgowroji commented on #1877
Hi @dieusangly, Can you add a description for your issue.Thanks

[2021-04-14 05:36] sgowroji commented on #1880
Hi @youngkyungkim, Could you please share your code, so that we can guide well. Thanks!

[2021-04-14 05:43] etudemin commented on #1318
I also encounter the same issue and the problem is solved by specifying the correct local VC version "BAZEL_VC_FULL_VERSION"
The VC version could be found in the folder {BAZEL_VC}/Auxiliary/Build/Microsoft.VCToolsVersion.default.txt but not in {BAZEL_VC}/Auxiliary/Build/Microsoft.VCRedistVersion.default.txt

[2021-04-14 06:06] yangcheng commented on #1875
hi, there is no real code change.  I just added  ` ProtoUtil.registerTypeName(NormalizedLandmarkList.class, "mediapipe.NormalizedLandmarkList");` to  prevent a crash

https://github.com/yangcheng/mediapipe/blob/master/mediapipe/examples/android/src/java/com/google/mediapipe/apps/posetrackinggpu/MainActivity.java

to repo the case,

run posetrackinggpu ,  make sure the callback is run by  set log l

[2021-04-14 06:10] constantvariable1 commented on #1876
hi @sgowroji .Thanks for the reply. But I was wondering if there are any methods such as converting the existing box tracking calculators available to us in cpp into wasm using emscripten and make a js solution that communicates with it myself. I'm very new at this so I might be talking nonsense here.

[2021-04-14 06:16] congnguyenthe opened #1881 "Is it possible to get only the coordinates of the landmarks with original camera frame?"
Hi,

I am trying the Facemesh example, and I would like to ask if there is a way to get the coordinates of the landmarks with the original camera as output_stream only instead of the rendered one.
The reason for this is because I want to reuse my renderer without modifying the calculator code for the renderer in mediapipe.

Sorry if raising a new issue is not appropriate for the question.

[2021-04-14 06:29] lilinxiong commented on #1864
Hi @sgowroji. Can I in [face_mesh_mobile.pbtxt](https://github.com/google/mediapipe/blob/master/mediapipe/graphs/face_mesh/face_mesh_mobile.pbtxt) join in [AnnotationsToModelMatricesCalculator](https://github.com/google/mediapipe/blob/master/mediapipe/graphs/object_detection_3d/calculators/annotations_to_model_matrices_calculator.cc) Calculator ?
If I can, I can get the result I want...

[2021-04-14 06:29] weixinz1 opened #1882 "Can I get landmarks in Face Detection solution?"
Can I get landmarks in Face Detection solution in Android?

[2021-04-14 06:30] sgowroji commented on #1881
Hi @congnguyenthe, Can you elaborate your use case with clear details like platform, what is current and expected behaviour?

[2021-04-14 06:35] sgowroji commented on #1876
Hi @constantvariable1, I have added Right Assignees for this issue. They can guide you well if there are any such methods.

[2021-04-14 06:36] sgowroji commented on #1861
Hi @bugmany, As we see your query answered. We are closing this issue. Thanks!

[2021-04-14 06:36] #1861 closed

[2021-04-14 06:47] congnguyenthe commented on #1881
Hi @sgowroji,
Thanks for your quick response!

Actually, I am trying with Mediapipe AAR:
https://google.github.io/mediapipe/getting_started/android_archive_library.html

I am able to run the Facemesh example, but I wanted to re-use the renderer as in:
https://github.com/google-ar/arcore-android-sdk/tree/master/samples/augmented_faces_java/app/src/main/java/com/google/ar/core/examples/java/common/r

[2021-04-14 06:48] sgowroji commented on #1876
Related issue https://github.com/google/mediapipe/issues/877

[2021-04-14 06:53] #1877 closed

[2021-04-14 06:56] sgowroji commented on #1640
Assuming your resolved with above comments. We are closing this issue. Thanks!

[2021-04-14 06:56] #1640 closed

[2021-04-14 07:10] sgowroji commented on #1820
Hi @danj96dev, We are sorry to hear it from you. Could you please mention your use case  and what delay you found while working with the above solution with complete details so that we can get it review from performance experts. And your feedback will really help us to improve our solutions better for future releases.

[2021-04-14 07:13] sgowroji commented on #1882
Hi @weixinz1, We have clear documentation for the query [here](https://google.github.io/mediapipe/solutions/face_detection#overview). Please go through it and let us know if you have any further queries. Thanks!

[2021-04-14 07:24] weixinz1 commented on #1882
Hi @sgowroji I've read this article, but it's not very helpful, because it doesn't mention Android-related API. Moreover, I didn't find a way to get the landmarks in the java file in Git (https://github.com/google/mediapipe/tree/master/mediapipe/examples/android/src/java/com/google/mediapipe/apps/facedetectiongpu).

[2021-04-14 07:44] rahulsuxsena1 opened #1883 "nailpaint try on"
I want to make a nailpaint try on android app using hand tracking, i have used the hand tracking aar and is able to get the normalized points(landmarks) of the all top tips of the the five fingers. please suggest me how i can add or draw polygon on top of the camera screen? Please help

[2021-04-14 07:59] solmate-james opened #1884 "how can I enable/disable the red rectangle of face detection in android?"
I want to take a picture when detects the face, now I use screenshot to implement.
But the result contain the "face, 0.99" and some point and a rectangle.
It's possible to close it?

The camera will show like below.
![camera](https://user-images.githubusercontent.com/80659447/114674854-3ce16300-9d3a-11eb-94b9-4d90deeef9ea.png)

I need to get a picture like below.
![clean](https://user-images.githu

[2021-04-14 08:11] aarahvar2 commented on #1798
Hi
I had the same problem. If you can work with Blender, I have a solution for it. I imported the landmarks into the blender and created the mesh of the face. Then, you can easily export as obj.

With this code export the XYZ landmarks into a csv file:

`import cv2
import csv
import mediapipe as mp
mp_drawing = mp.solutions.drawing_utils
mp_face_mesh = mp.solutions.face_mesh

video_flag = 0

file_

[2021-04-14 08:18] aarahvar2 commented on #1798
Hi
I had the same problem. If you can work with Blender, I have a solution for it. I imported the landmarks into the blender and created the mesh of the face. Then, you can easily export as obj.

With this code export the XYZ landmarks into a csv file:```

``
import cv2
import
import mediapipe as mp
mp_drawing = mp.solutions.drawing_utils
mp_face_mesh = mp.solutions.face_mesh
video_flag = 0
file_l

[2021-04-14 08:24] aarahvar2 commented on #1798
Hi
I had the same problem. If you can work with Blender, I have a solution for it. I imported the landmarks into the blender and created the mesh of the face. Then, you can easily export as obj.

With this code export the XYZ landmarks into a csv file:```

[code]

Then, run the following code in Blender to get the face mesh.
[code]

Here you can see the result.
![image](https://user-images.githubu

[2021-04-14 09:10] #1853 closed

[2021-04-14 09:11] zhaoqilong3031 commented on #1853
node {
   calculator: "GpuBufferToImageFrameCalculator"
   input_stream: "hair_mask"
   output_stream: "hair_mask_cpu"
}

[2021-04-14 10:00] KastusKalinovski commented on #1857
@yegenzhi, @sgowroji Thank you for your help and provided flags, I've fixed the following error `E20210412 13:48:20.888913 25894 region_flow_computation.cc:2623] only cv tracking is supported.` by changing up CV_MAJOR_VERSION flag in region_flow_computation.cc. Now everything works!

[2021-04-14 10:00] #1857 closed

[2021-04-14 10:18] shonigs opened #1885 "How to convert Hair Segmentation from Live Video to File (input/output)"
Hi I am trying to run the hair segmentation on video files and hope someone can help.
I tried changing the hair_segmentation_desktop_live.pbtxt to have as input `OpenCvVideoDecoderCalculator` and as output
`OpenCvVideoEncoderCalculator` like this:
`mediapipe/graphs/hair_segmentation/hair_segmentation_desktop_live.pbtxt`:
[code]
And added the `opencv_video_decoder_calculator` and `opencv_video_enco

[2021-04-14 10:54] MuhamaadUsman opened #1886 "Getting landmarks for upper lips and chin, to apply beard filter Mediapipe in python?"
How can I get facial landmarks in python using Mediapipe face_mesh solution. I want to appy beard filter in python as i don't know C language so how can i do that?

[2021-04-14 11:17] ANK-VALUES opened #1887 "[Strange problem] crash after add another calculator to dependency。"
In the example of 'instantMotionTracking'，I want to combine the ability of 'handTracking'。
The first step (also the only step) I did is adding the following line to BUILD file in 'examples/android/.../apps/instantmotiontracking'

        "//mediapipe/graphs/hand_tracking:mobile_calculators",

and the 'libmediapipe_jni.so' changed to the code as below.

cc_binary(
    name = "libmediapipe_jni.so",

[2021-04-14 11:31] alekhra opened #1888 "Pose Tracking Gpu with local video file"
Hello,
I am a master student at TU Kaiserslautern, Germany. I am doing my research on Human Pose Estimation. I came across Mediapipe and was successfully able to use the examples of apps provided for Android.

I am building an Android app over mediapipe posetrackinggpu. I want to use "posetrackinggpu" on a video(.mp4) saved in my phone.
So the steps are : load video from phone -> run pose tracking

[2021-04-14 12:33] thunderbirdtr opened #1889 "AAR for MediaPipe Face Detection failed."
Hello, I was trying to build AAR file for learning/my project so I followed this link and it failed and has error

https://google.github.io/mediapipe/getting_started/android_archive_library.html

I checked other issues saw protobuf patches but already in there (0.8.3-2) then I looked for that other issues but didn't see something similar.

`bazelisk build -c opt --host_crosstool_top=@bazel_tools//

[2021-04-14 12:33] thunderbirdtr commented on #1889
That looks like related with this issue : https://github.com/bazelbuild/bazel/issues/12702

[2021-04-14 13:23] thunderbirdtr commented on #1889
I managed to compile with this change in WORKSPACE
[code]

But didn't tested yet. (I'll update the comment when I tested)

[2021-04-14 14:09] 4sfaloth commented on #1461
any news on this? I may be experiencing the same issue, though it is not fixed by importing tensorflow first

[2021-04-14 14:15] RafalSiwek commented on #1530
@fredrikmalmberg, @Egorovlvan
Hi! I had the same issue, so I had to review @jiuqiant 's git diff.
I have spotted some places where changes had to be applied:

[code]

Maybe this problem occured due to the new repo commit.
Moreover it is crutial to follow the steps mentioned in step 3 by @jiuqiant and after applying:
`python3 setup.py gen_protos`
in bash, it is crutial to remove the protobuf framew

[2021-04-14 14:42] danj96dev commented on #1820
There's nothing too interesting about it. Google MLkit pose recognition runs using only the cpu so I tried using the gpu delegate  here and the fps was basically the same, I didn't get any noticeable improvement.  I tested this on a Rockchip RK3288 so that might have been the issue.

[2021-04-14 14:49] PhanThanhTrung commented on #1597
I'm getting the same error. Here is my error code:
[code]
I'm using MacOS 10.14.6 with python 3.7 (conda).

[2021-04-14 16:10] sgowroji commented on #1883
Hi @rahulsuxsena1, Did you get a chance to go through the [documentation](https://google.github.io/mediapipe/solutions/hands)

[2021-04-14 16:38] jiuqiant commented on #1871
Thanks for reporting this. Fixed in our internal code base upstream, and will be pushed to GitHub in the next release.
Please switch to https://github.com/google/mediapipe/commit/39309bedba255aee2a4f31b29b65609857698ada for now.

[2021-04-14 16:43] sgowroji commented on #1886
Hi @MuhamaadUsman, You can have a look at this issue for some understanding https://github.com/google/mediapipe/issues/1498, https://github.com/google/mediapipe/issues/1106.

[2021-04-14 16:48] sgowroji commented on #1887
Hi @ANK-VALUES, Could you please share the graphs, which you have changed. To understand it much better. Thanks!

[2021-04-14 18:34] jiuqiant commented on #1597
This is expected. MediapPipe Python macOS supports 10.15+ for now.

[2021-04-14 19:43] youngkyungkim commented on #1880
@sgowroji Hi! Thank you for helping me out!

1. I used below code to create a container:
`docker run -it --name mediapipe \
    -v /diskA/data/food_adventure/raw/temp/input:/mediapipe/input \
    -v /diskA/data/food_adventure/raw/temp/output:/mediapipe/output \
    mediapipe:latest`
2. I used the below code to build for analysis:
`bazel build -c opt \
--define MEDIAPIPE_DISABLE_GPU=1 \
--define no

[2021-04-14 20:26] fahadhaq opened #1891 "Calculating size from two landmark on users face"
I am currently working on calculating actual distance based on face landmark, for example I have the following two landmarks for which I can get the landmark out put.

Landmark[6]: (0.36116672, 0.93204623, 0.0019629495)
Landmark[164]: (0.36148804, 0.99501055, -0.06169401)

How would I calculate the actual size based on the above information?

Failing that how would I get the actual size of  the ir

[2021-04-14 22:05] betrisey commented on #1647
Hello @ahmadyan,
I'd like to get the coordinates of the detected objects from Java, so I think that I need to use the `lifted_objects` packet you suggested but I don't know how to parse the protobuf packet.
I haven't found which parser to use or if there exists one in Java yet.
Do you have any suggestions or know where to look please?

Thanks a lot!

[2021-04-15 02:19] ANK-VALUES commented on #1887
Actually, I have not reached the step of modifying a graph. The only change now is adding one line in the BUILD file as mention above.

[2021-04-15 03:16] ANK-VALUES commented on #1887
This is really weird。 In the BUILD file,  If you change deps lines sequence， it will be OK。

*crash example*

file: examples/android/.../app/instantmotiontracking/BUILD

cc_binary(
name = "libmediapipe_jni.so",
linkshared = 1,
linkstatic = 1,
deps = [
"//mediapipe/graphs/hand_tracking:mobile_calculators", // added line
"//mediapipe/graphs/instant_motion_tracking:instant_motion_tracking_deps",
"//m

[2021-04-15 05:39] markson14 commented on #1530
@RafalSiwek Thanks for the sum up. It does work.

[2021-04-15 05:57] sgowroji commented on #1593
Hi @stq054188, Could you please share the issue status. Thanks

[2021-04-15 06:13] sgowroji commented on #1846
Hi @aylek, Could you please provide complete details regarding above issue. Thanks!

[2021-04-15 06:13] sgowroji commented on #1838
Hi @jude253, did you get a chance to look the above comment. Thanks!

[2021-04-15 06:16] sgowroji commented on #1844
Hi @424778940z, We have clear and complete documentation [here](https://google.github.io/mediapipe/getting_started/install.html#installing-on-windows)

[2021-04-15 06:59] solmate-james commented on #1884
@gkarpiak @mcclanahoochie
Can anyone help me? thank you.

[2021-04-15 07:45] sgowroji commented on #1891
Hi @fahadhaq, Thanks for reaching us regarding your issue. Could you please explain your use case with more details and graph or code repo to understand much better. Thanks!

[2021-04-15 07:53] sgowroji commented on #1837
Hi @DStoke, Thanks for reaching us regarding your query. We have a very clear [documentation](https://google.github.io/mediapipe/getting_started/javascript.html).

[2021-04-15 07:57] sgowroji commented on #1685
Hi @stevenchen123, Are you still facing the above error. Please share us the status. Thanks!

[2021-04-15 07:58] sgowroji commented on #1669
Hi @hibiking-0422, Have a look at this issue https://github.com/google/mediapipe/issues/583#issuecomment-609919618

[2021-04-15 08:01] sgowroji commented on #1673
Hi @nyanmn, Is your issue resolved with above comments?. @sergweb we are glad to see your changes on the above issue. Thanks!

[2021-04-15 08:03] sgowroji commented on #1665
Hi @mayank10j, Could you please share your issue status. Thanks!

[2021-04-15 08:07] sgowroji commented on #1659
Hi @toshiks, Could you please share the issue status. Thanks!

[2021-04-15 08:13] sgowroji commented on #1663
Hi @pablosilgorl, Could you confirm, Are you are looking for this https://github.com/google/mediapipe/issues/1486#issuecomment-765808101

[2021-04-15 08:16] sgowroji commented on #1615
Hi @mzwtjp, Could you please confirm your above query is resolved or answered. Thanks!

[2021-04-15 08:17] sgowroji commented on #1616
Hi @Noricks, Could you please confirm whether the above issue still exists ?

[2021-04-15 08:21] sgowroji commented on #1611
Hi @RaiShra1 @M00NSH0T, Thanks for sharing your concern.  We have added the right owners who can resolve your query.

[2021-04-15 08:27] aspyro-coder commented on #1868
Thanks for the elaborate answer once again.

**Canonical face model**
I re-read the documentation again and I now realize that the facegeometry module only does a rigid mapping of the canonical face model. This with as goal to find the face pose transformation matrix. This matrix is needed to put virtual models in the correct pose. Furthermore it gives 'a scale' to the model.

Quick questions: Doc

[2021-04-15 09:09] b4017816 commented on #1847
Hi thanks for your help so far but I still haven't been able to make any progress, any ideas of what I can try next? I really appreciate the assistance, thanks

[2021-04-15 09:18] cjl84914 opened #1892 "Crash with example using AAR face_detection_aar_example"
i used "mediapipe_face_detection_aar_example-master" example  build a face_effect_app,  the aar file was builded with mediapipe v0.8.3.2.

**android code:**
[code]

**console wrong:**
[code]
**source uploaded github:**
https://github.com/cjl84914/face_effect_android

**download aar file url:**
 https://pan.baidu.com/s/1DyhMfzJK5FQswDz6LK6VdQ     code: 5kxp

[2021-04-15 09:43] Pythonsegmenter commented on #1868
Thanks for the elaborate answer once again.

Canonical face model
I re-read the documentation again and I now realize that the facegeometry module only does a rigid mapping of the canonical face model. This with as goal to find the face pose transformation matrix. This matrix is needed to put virtual models in the correct pose. Furthermore it gives 'a scale' to the model.

Quick questions: Documen

[2021-04-15 10:14] sgowroji commented on #1606
Hi @monoto , Could you please share your use case with complete details and with code repo. Thanks!

[2021-04-15 10:19] sgowroji commented on #1892
Duplicate issue https://github.com/google/mediapipe/issues/1311

[2021-04-15 10:34] sgowroji commented on #1603
Hi @PoseAI, Could you please share your issue status ?

[2021-04-15 10:35] sgowroji commented on #1608
Hi @dilipxp, Could you please confirm whether the issue still exists?

[2021-04-15 10:36] sgowroji commented on #1598
Hi @d-lay, Let us know if you're still looking for the above answer of your query. Thanks!

[2021-04-15 10:39] sgowroji commented on #1599
Hi @RuiLoureiro, Could you please share your issue status. Thanks!

[2021-04-15 10:40] sgowroji commented on #1596
Hi @bugmany, Could you please update if the still still exists. Thanks!

[2021-04-15 10:49] sgowroji commented on #1881
Duplicate issue https://github.com/google/mediapipe/issues/321.

[2021-04-15 11:09] dilipxp commented on #1608
Yes, Some how I able to solve it for some time but I run the  `bazel clean` command and It showing again.
I just want to know if this issue related to my environment or something else causing this error

INFO: From ProtoCompile mediapipe/calculators/util/detections_to_rects_calculator.pb.h [for host]:
bazel-out/host/bin/external/com_google_protobuf/src: warning: directory does not exist.

[2021-04-15 12:01] lilinxiong opened #1893 "PacketGetter.getProtoVector() faild !"
I want use [ObjectronGpuSubgraph](https://github.com/google/mediapipe/blob/master/mediapipe/graphs/object_detection_3d/object_occlusion_tracking.pbtxt#L52-L58) Node ``lifted_objects`` value.
So I made in the [object_occlusion_tracking](https://github.com/google/mediapipe/blob/master/mediapipe/graphs/object_detection_3d/object_occlusion_tracking.pbtxt) after ``output_stream: output_video`` add line

[2021-04-15 12:02] Anonymous7code opened #1894 "Installation error Anaconda"
`PS E:\Github\Ml\OpenCV> conda install mediapipe
Collecting package metadata (current_repodata.json): done
Collecting package metadata (repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.

PackagesNotFoundError: The following packages are not available from current channels:

  - mediapipe

Current channels:

  - https://repo.anaconda.com/pkgs/

[2021-04-15 12:08] lilinxiong commented on #1893
Oh~. I in after modify [object_occlusion_tracking.pbtxt ](https://github.com/google/mediapipe/blob/master/mediapipe/graphs/object_detection_3d/object_occlusion_tracking.pbtxt) regenerate ``object_detection_3d.binaraypb``
run:
[code]
It was successful without errors.

[2021-04-15 12:26] 124bit commented on #1625
I’m interested in such thing too

[2021-04-15 12:41] sgowroji commented on #1893
Hi @lilinxiong, From above https://github.com/google/mediapipe/issues/1893#issuecomment-820372341 are you resolved or still facing the exception.

[2021-04-15 12:44] sgowroji commented on #1894
Hi @Anonymous7code, Could you please elaborate your use case with complete details. And what are the steps to get the above error.

[2021-04-15 12:49] sgowroji commented on #1847
Hi @b4017816,  Above added right assignees who can guide  you well. Thanks!

[2021-04-15 12:50] PoseAI commented on #1603
AFAIK it is still an issue. We moved forward by avoiding the mediapipe render pipeline and using native IOS rendering function calls if we want to show the camera feed (we don’t use any of the MP primitive drawing on the camera image).

[2021-04-15 13:03] lilinxiong commented on #1893
No No. I forgot to add a description when I submitted the issue for the first time, the above problem still exists.

[2021-04-15 14:38] 424778940z commented on #1844
My question is if it's possible to build with mingw, the document still build with MSVC.

[2021-04-15 14:51] Anonymous7code commented on #1894
Hey @sgowroji, I tried installing mediapipe through `conda install mediapipe` in a virtual environment, but this threw an error mentioned below:

PS E:\Github\Ml\OpenCV> conda install mediapipe
Collecting package metadata (current_repodata.json): done
Collecting package metadata (repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.

PackagesNotF

[2021-04-15 15:31] ZhAnGeek commented on #1887
same problem, only adding hand tracking deps line to BUILD file of instant_motion_tracking. And I get built success however run crash immediately when add a sticker to the screen.

if it is a build link prolem or something, it should crash at the first moment, however it seems to be related with sticker adding.

[2021-04-15 15:52] jiuqiant commented on #1653
Your gcc version is too low to support c++17 standard. Please upgrade to a higher gcc version such as gcc 8. Then, please run `bazel clean --expunge` to get rid of the build cache and rerun the blaze build command.

[2021-04-15 16:02] jiuqiant commented on #1620
You can get palm_detection  by following https://github.com/google/mediapipe/issues/1390#issuecomment-745615822.
The detection messages has a score field: https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a479407c699e424aa7/mediapipe/framework/formats/detection.proto#L34

[2021-04-15 16:26] Pythonsegmenter opened #1895 "Understanding the geometry pipeline"
I'm having some difficulties understanding the maths behind the geometry pipeline. I therefore tried to write down what problem it tries to solve and how it does this in a stepwise manner. You can find the explanation below. I'm quite certain that there are some errors in my explanation, so all corrections are much appreciated.

There's one thing I can't wrap my head around: Why is it so that you

[2021-04-15 16:35] mcclanahoochie commented on #1884
the rendering happens in the AnnotationOverlayCalculator , you can _replace_ this node with a PassThroughCalculator like this:

[code]

or, you can edit the DetectionsToRenderDataCalculator to output empty RenderData packets.

[2021-04-15 17:46] jiuqiant commented on #1894
That's expected. MediaPipe Python packages are hosted by PyPI not Anaconda. So `conda install` can't find it from the Anaconda repo.

[2021-04-15 17:52] #1894 closed

[2021-04-15 18:33] fahadhaq commented on #1891
@sgowroji I am using the iris detection along with facemash to try and calculate distance between two landmark on users face. Similar to the landmark example below.

Landmark[6]: (0.36116672, 0.93204623, 0.0019629495)
Landmark[164]: (0.36148804, 0.99501055, -0.06169401)

So far I have tried using the iris top(x,y) and bottom(x,y) position to figure out the height of the iris and use the following

[2021-04-15 19:28] simon-lanf commented on #1708
Not sure why this was closed, the issue is still present, I just gave you more info about it.

[2021-04-15 22:03] stilva commented on #1859
@shabazkhundmiri I've also had this issue for the longest time. [This ](https://github.com/google/mediapipe/issues/1508#issuecomment-812390364)fixed it for me.

Basically just add `surfaceTexture.updateTexImage();` in [`ExternalTextureConverter.java`](https://github.com/google/mediapipe/blob/master/mediapipe/java/com/google/mediapipe/components/ExternalTextureConverter.java#L285):

[code]

[2021-04-16 00:08] mzwtjp commented on #1615
Well, I still do not feel they are clearly defined (in public description of APIs), but it is OK for now - I understand that it is simply "face mesh model just plotted this way."

[2021-04-16 00:08] #1615 closed

[2021-04-16 03:05] bugmany opened #1896 "build failed with GPU on platform android"
i've built faceeffect project success and run ok, with the command as below:
bazel build -c opt --fat_apk_cpu=armeabi-v7a mediapipe/examples/android/src/java/com/google/mediapipe/apps/faceeffect:faceeffect

but when i want to run CPU mode, then add the feature "--define MEDIAPIPE_DISABLE_GPU=1", as below:
bazel build -c opt --fat_apk_cpu=armeabi-v7a --define MEDIAPIPE_DISABLE_GPU=1 mediapipe/examp

[2021-04-16 03:12] bugmany commented on #1596
hi @sgowroji, the issue still exists, but when i got the issue, i 'll re-installed MACOS, but the way is not good solution, now i can close the issue.

[2021-04-16 03:12] #1596 closed

[2021-04-16 04:08] sgowroji commented on #1859
We are glad to know you issue is resolved. Closing this issue . Thanks!

[2021-04-16 04:09] Tord-Zhang commented on #1361
@ViswanathaReddyGajjala Hi, the repository is unavialable now, could you please share the code?

[2021-04-16 06:10] bugmany opened #1897 "open camera slowly on Android projects"
when i run faceeffect app on android platform, i found open camera is slowly (about 2 ~ 3 seconds), and ios run quickly(within 1 second), then i download android app [face_mesh](https://google.github.io/mediapipe/solutions/face_mesh), the result still open camera slowly.
could anyone tell me how to optimize it?
thanks.

[2021-04-16 06:50] VLorin commented on #1042
Hi @minghaoPA, I did the hand landmark tracking on cpu and gpu on a NVIDIA Jetson Nano here are my result : CPU@12FPS ; GPU@35-40fps. I know its late for this respond but I bet it will help other people.

[2021-04-16 07:25] sgowroji commented on #1896
Hi @bugmany, I Assume it is more a bazel issue. We have similar and duplicate issue of thishttps://github.com/google/mediapipe/issues/281, https://github.com/google/mediapipe/issues/534

[2021-04-16 07:29] sgowroji commented on #1897
Hi @bugmany, Could you provide a video and device details with configuration in which you are trying.
If you added any changes on top of it, Please share the code repo. Thanks!

[2021-04-16 07:40] ANK-VALUES commented on #1887
It is the problem of symbol conflict inside mediapipe。I have solved it by changing ton of deps。Thank you buddy。😁

[2021-04-16 07:42] #1887 closed

[2021-04-16 07:53] sgowroji commented on #1888
Have a look at this  issue https://github.com/google/mediapipe/issues/597#issuecomment-611905236. If not reach us back

[2021-04-16 07:54] sgowroji commented on #1758
Hi @PopoTeaTree, Could you please provide the details requested in the above comment. Thanks!

[2021-04-16 07:59] bugmany commented on #1896
hi @sgowroji,
thanks for you replay, could you tell me how to build the project with CPU mode?

[2021-04-16 08:09] bugmany commented on #1897
hi @sgowroji ,
my android phone:
model: vivo S1(4+128G)
android version: 10
kernel: 4.14.141+

[2021-04-16 08:12] sgowroji commented on #1687
Hi @nyanmn, Assuming your query is answered. Closing this ticket. Thanks

[2021-04-16 08:12] #1687 closed

[2021-04-16 08:14] sgowroji commented on #1603
Good to know you got some workaround. Closing this ticket.

[2021-04-16 08:14] #1603 closed

[2021-04-16 09:14] dilipxp commented on #1608
It solved.

[2021-04-16 09:14] #1608 closed

[2021-04-16 10:35] atiselsts opened #1898 "Using TimeDistributed input layer with Mediapipe"
Hello,

I'm using mediapipe with a custom model. Currently the model takes a single image as input, but I want to change the model by adding a [`TimeDistributed `](https://keras.io/api/layers/recurrent_layers/time_distributed/) layer to the network. The new network will take 5 images as input. Is it possible to pass the correct input data to the model with Mediapipe calculators?

The current input

[2021-04-16 10:53] pablosilgorl commented on #1663
Hi, @sgowroji, not exactly, I just need to know the Confidence of a detected hand being a hand or set some kind of threshold to calibrate the model.

[2021-04-16 11:25] solmate-james commented on #1884
Thanks for your help!! @mcclanahoochie @sgowroji

Finally I resolve the problem, let me talk about my solution in detail!

1. Edit the following file and rebuild face detection aar.
    # /mediapipe/mediapipe/graphs/face_detection/BUILD
      `cc_library(
           name = "mobile_calculators",
           deps = [
               "//mediapipe/calculators/core:pass_through_calculator"    <- Add this

[2021-04-16 11:27] #1884 closed

[2021-04-16 11:43] selimbek commented on #1598
Hi @sgowroji , i'm also very interested to have the objectron model with some checkpoints. :)

[2021-04-16 11:58] sgowroji commented on #1898
Hi @atiselsts, Thanks for reaching out to us regarding your query. Could you  provide your use case with and the solution details your referring. Thanks!

[2021-04-16 12:09] atiselsts commented on #1898
We want to use a custom model for hand gesture recognition. Is this an appropriate question to ask here?

Here is my current code, if you're interested in more details:
https://github.com/atiselsts/mediapipe/blob/feature/washing-movements-app/mediapipe/modules/hand_washing/washing_movements_gpu.pbtxt

It works fine, but in order to increase the recognition accuracy, I'm interested in replacing the

[2021-04-16 13:23] cjl84914 commented on #1892
@sgowroji  thanks.   but this error about mediapipe 0.8.3.2,  not issue #1311, old version not have error.

[2021-04-16 17:13] 5875616E opened #1899 "Xxx"

[2021-04-16 17:54] eknight7 commented on #1816
@f00kat did you get a chance to try out the link from the post above? please share, thanks.

[2021-04-16 18:16] eknight7 commented on #1873
Hi @pjbaron, thank you for your question.

You can modify the Hand tracking graph so that landmark extraction runs on every frame. Try changing the `bool_value` to `false` in the `ConstantSidePacketCalculator` that determines if the landmark detection for the current frame should use landmarks from the previous frame here: https://github.com/google/mediapipe/blob/master/mediapipe/modules/hand_land

[2021-04-16 18:28] eknight7 commented on #1873
@fanzhanggoogle Can you please answer this part of the question:

I would speculate that this could be due to landmarks being gathered from several different camera frames with the motion between frames causing the points to be squashed together horizontally. The Z depth might then be an attempt to retain the known geometry of the hand given the squashed 2d screen points.

[2021-04-16 18:29] eknight7 commented on #1849
Adding @suril for the Android view rendering questions here.

[2021-04-16 18:30] eknight7 commented on #1849
Hi @badushaebrahim, please open a separate issue to track for the build, thank you.  Please share more details about what is breaking there, thanks.

[2021-04-16 19:28] jiuqiant commented on #1844
According to https://docs.bazel.build/versions/master/install-windows.html, MSYS2 and MSVC are required. It explicitly says that you will need "Build Tools for Visual Studio" to build C++ code on Windows. So, the answer to your question is likely to be no.

[2021-04-16 19:28] #1844 closed

[2021-04-16 19:32] jiuqiant commented on #1373
We are closing this issue for now due to lack of activity.

[2021-04-16 19:32] #1373 closed

[2021-04-16 19:33] jiuqiant commented on #1564
We are closing this issue for now due to lack of activity.

[2021-04-16 19:33] #1564 closed

[2021-04-16 19:36] jiuqiant commented on #1585
Glad to hear that the problem is solved. Closing this issue now.

[2021-04-16 19:36] #1585 closed

[2021-04-16 19:39] jiuqiant commented on #1629
We are closing this issue for now due to lack of activity.

Thanks for posting your solution.
Closing this issue now.

[2021-04-16 19:39] #1629 closed

[2021-04-16 19:40] jiuqiant commented on #1470
We are closing this issue for now due to lack of activity.

[2021-04-16 19:40] #1470 closed

[2021-04-16 19:42] jiuqiant commented on #1658
We are closing this issue for now due to lack of activity.

[2021-04-16 19:42] #1658 closed

[2021-04-16 19:44] jiuqiant commented on #1312
We are closing this issue for now due to lack of activity.

[2021-04-16 19:44] #1312 closed

[2021-04-16 19:48] jiuqiant commented on #1008
Yes, stripping symbols can reduce the aar size drastically.

[2021-04-16 19:48] #1008 closed

[2021-04-16 19:58] jiuqiant commented on #1455
Yes, pose_landmarks_roi is generated by https://github.com/google/mediapipe/blob/350fbb2100ad531bc110b93aaea23d96af5a5064/mediapipe/calculators/util/alignment_points_to_rects_calculator.cc and it's a NormalizedRect.

[2021-04-16 19:59] jiuqiant commented on #1455
The fix is releases in v0.8.3. Closing this issue now.

[2021-04-16 19:59] #1455 closed

[2021-04-16 20:00] jiuqiant commented on #1451
As we mentioned in https://google.github.io/mediapipe/getting_started/install#installing-on-windows, MediaPipe doesn't support building its Android apps on native Windows because of the limited bazel support for Android on native Windows. Please try WSL instead. You can find the instructions at https://google.github.io/mediapipe/getting_started/install#installing-on-windows-subsystem-for-linux-wsl

[2021-04-16 20:00] #1451 closed

[2021-04-16 20:02] jiuqiant commented on #1336
We are closing this issue for now due to lack of activity.

[2021-04-16 20:02] #1336 closed

[2021-04-16 20:02] jiuqiant commented on #1344
We are closing this issue for now due to lack of activity.

[2021-04-16 20:02] #1344 closed

[2021-04-16 23:30] jiuqiant commented on #1314
This is solved in https://github.com/google/mediapipe/commit/2b58cceec9953f0d97059934f0de85dd60adbe9b. Closing it now.

[2021-04-16 23:30] #1314 closed

[2021-04-16 23:31] jiuqiant commented on #1331
We are closing this issue due to lack of activity.

[2021-04-16 23:31] #1331 closed

[2021-04-16 23:32] jiuqiant commented on #1567
We are closing this issue due to lack of activity.

[2021-04-16 23:32] #1567 closed

[2021-04-16 23:35] jiuqiant commented on #1492
Sorry for the late reply. This is a compatibility issue between camerax and your dev board. I suggest reaching out to the camerax authors for such questions.

[2021-04-16 23:35] #1492 closed

[2021-04-16 23:39] jiuqiant commented on #1781
We are closing this issue due to lack of activity.

[2021-04-16 23:39] #1781 closed

[2021-04-16 23:44] jiuqiant commented on #1775
@sgowroji, this is a MediaPipe Android framework. Please assign to the corresponding owners. Thanks.

[2021-04-16 23:46] jiuqiant commented on #1137
You probably can use gdb to debug the code. I am sorry that there is no ide debugging support yet.

[2021-04-16 23:46] #1137 closed

[2021-04-17 00:30] mcclanahoochie commented on #1425
i see, there are a couple of options:
1. https://github.com/google/mediapipe/issues/1747#issuecomment-810976877
2. you can register a callback with the graph via [ObserveOutputStream](https://github.com/google/mediapipe/search?q=ObserveOutputStream) . instead of polling, this would call the provided callback function on each output . i don't think it would block, it just shouldn't get called if no

[2021-04-17 00:49] mcclanahoochie commented on #1425
this seems related  https://github.com/google/mediapipe/issues/1747#issuecomment-810976877

i don't think there is an easy way for that, the callback was designed to only be called when there are landmarks to process

you can try editing the graphs (and/or calculators, in)
mediapipe/modules/pose_landmark/pose_landmark_by_roi_gpu.pbtxt
mediapipe/modules/pose_landmark/pose_landmark_gpu.pbtxt

in par

[2021-04-17 00:57] mcclanahoochie commented on #1736
please have a look at this calculator to know how to use the landmark.proto [(landmark.pb.h)](https://github.com/google/mediapipe/blob/master/mediapipe/calculators/util/landmarks_to_render_data_calculator.cc#L22)

[2021-04-17 00:58] Thurguild opened #1900 "Unable to create bounding box using hand_rects"
Hi,

I've followed the instructions as per issue #1507 that alters the build file and outputs, however I am still getting an issue of
  File "test-mediapipe-hands.py", line 37, in <module>
    for rect in results.hands_rects:
AttributeError: type object 'SolutionOutputs' has no attribute 'hands_rects'

This is running from a Conda 3.8 env and allows for the main examples to be run however runs int

[2021-04-17 01:01] mcclanahoochie commented on #1885
the side packets should be grouped in a separate flag `--side_packets=`

try
[code]

[2021-04-17 03:18] riadoshi commented on #1620
Thanks for this. Where is the setup.py file located in the repo? As mentioned here https://github.com/google/mediapipe/issues/1390#issuecomment-749321584_

[2021-04-17 04:22] jiuqiant commented on #1390
You need to check whether palm_detections is None first in case of no hands detected in the current frame.

[code]

[2021-04-17 04:22] jiuqiant commented on #1620
See https://github.com/google/mediapipe/issues/1390#issuecomment-821763483.

[2021-04-17 04:34] riadoshi commented on #1620
Thanks so much @jiuqiant!! It runs now. Just to confirm, palm_detection.score would give me the confidence score for the hand right?

[2021-04-17 04:38] hangqiu commented on #1662
Been experience exactly the same thing for both mediapipe project as well as tensorflow/lite/tools/benchmark/android:benchmark_model. Awaiting googlers

[2021-04-17 04:47] jiuqiant commented on #1900
hand_rects or hands_rects?

[2021-04-17 05:16] jaywalk1414 commented on #1841
Same issue. Is this really a bug ?

[2021-04-17 05:25] #1899 closed

[2021-04-17 05:30] sgowroji commented on #1598
Hi @d-lay & @selimbek We have a very clear documentation for objectron model [here](https://google.github.io/mediapipe/solutions/objectron#mediapipe-objectron). For any Queries regarding please reach us. Thanks!

[2021-04-17 06:44] suarezjessie opened #1901 "How to use drawing utilities on pose landmarks from CSV"
I saved the output keypoints of `mp_pose` to a CSV file. Currently, I want to use the `mp_drawing.draw_landmarks` on these extracted set of keypoints. I understand that the function for `mp_drawing.draw_landmarks` needs to have the `mediapipe.framework.formats.landmark_pb2.NormalizedLandmarkList` as an input. However, I don't know how I can invoke or use this class for my saved normalized coordina

[2021-04-17 11:59] 124bit commented on #1625
For example for my use-case (sports app) - the speed of Pose is multiple times more than enough, however, accuracy is not enough. In practice, I see that  Resnet base pose estimation networks work much better for me in terms of accuracy.

[2021-04-17 12:24] Thurguild commented on #1900
I thought I might have made a rather major mistake so I checked but even using hand_rects it gives this error:
 File "test-mediapipe-hands.py", line 37, in <module>
    for rect in results.hand_rects:
AttributeError: type object 'SolutionOutputs' has no attribute 'hand_rects'

[2021-04-17 19:20] jiuqiant commented on #1900
Other people reported back that is working. So I am not sure what's going wrong here. Can you go to python/site-packages/mediapipe/python/solutions/hands.py to verify if hand_rects is indeed added to the outputs list?

[2021-04-17 23:13] Thurguild commented on #1900
For the hands.py I've got the following code saved for the outputs
           min_tracking_confidence,
        },
	outputs=['multi_hand_landmarks', 'multi_handedness', 'hand_rects']
	)
and to display those results I have this code

results = hands.process(cv2.cvtColor(image, cv2.COLOR_BGR2RGB))
    for rect in results.hand_rects:
      print(rects)

[2021-04-18 05:33] shonigs commented on #1885
Thanks @mcclanahoochie  but now I get `ERROR: Unknown command line flag 'side_packets'`

[2021-04-18 05:39] RamanHacks commented on #851
@mgyong If you can share, which 3d software are you using to build synthetic datasets?

[2021-04-18 08:01] ozett commented on #1886
skeleton, not full code

[code]

[2021-04-18 08:05] ozett commented on #1886
example skeletons:
https://github.com/google/mediapipe/issues/1798#issuecomment-812593547
https://github.com/google/mediapipe/issues/1798#issuecomment-815954201

[2021-04-18 08:19] ozett commented on #1271
https://www.intel.com/content/www/us/en/products/docs/processors/cpu-vs-gpu.html

[2021-04-18 08:44] ozett opened #1903 "object detection with python possible with mediapipe? links to example-code?"
hi,
can i do object detection with mediapipe in python?

there is no object-detection example here (but others):
https://github.com/google/mediapipe/tree/master/mediapipe/python/solutions

i am no professional coder, but i tried face- and pose-detection with python from the examples successfully.
there aren't any questions about python-code for object here in the issues. nobody uses python - or is

[2021-04-18 12:53] sgowroji commented on #1897
Hi @bugmany, Could you please attach a video as mentioned above. Thanks

[2021-04-18 13:08] sgowroji commented on #1876
Hi @constantvariable1,  Your query answered in the above comment. We are closing this ticket. Thanks!

[2021-04-18 13:08] #1876 closed

[2021-04-18 13:11] sgowroji commented on #1871
Hi @alllexx88, We are closing this issue as it is fixed. Thanks!

[2021-04-18 13:11] #1871 closed

[2021-04-18 13:13] sgowroji commented on #1855
We are closing this issue now. Please feel free to reopen if you still blocked. Thanks!

[2021-04-18 13:13] #1855 closed

[2021-04-18 13:18] sgowroji commented on #1856
We are closing this issue now. Feel free to reopen if your above query is not resolved. Thanks!

[2021-04-18 13:18] #1856 closed

[2021-04-18 13:20] #1810 closed

[2021-04-18 13:21] sgowroji commented on #1804
Lack of activity on this issue. We are closing this ticket. Thanks!

[2021-04-18 13:21] #1804 closed

[2021-04-18 13:22] sgowroji commented on #1802
As we see lack of activity on this issue. We are closing it. Thanks!

[2021-04-18 13:22] #1802 closed

[2021-04-18 13:25] sgowroji commented on #1823
As we see lack of activity on this ticket from the reporter. We are closing it. Thanks!

[2021-04-18 13:25] #1823 closed

[2021-04-18 13:27] sgowroji commented on #1819
Hi @rachid-bousaid, Did you get a chance to go through the above comment. Thanks!

[2021-04-18 15:42] badushaebrahim commented on #1897
@bugmany bro  we're u able to complete sync
Of bazel for buliding apk

[2021-04-18 15:57] arifuni commented on #1466
Try python 3.7.9

[2021-04-18 18:00] mayank6940 commented on #1466
@arifuni  yeah resolved now

[2021-04-18 18:18] mithunbabbira opened #1904 "MediaPipe on Android"
Is there any guide to use MediaPipe on android studio

[2021-04-18 19:43] fahadhaq commented on #1904
There is a section on the media pipe site.

https://google.github.io/mediapipe/getting_started/android.html#option-2-build-with-bazel-in-android-studio

[2021-04-19 01:30] kostyaby commented on #1868
Yes, correct. Semantically, the same 468 face landmarks are received as an input, so a pre-made triangular topology is used to "connect" them into a mesh

Each vertex has 5 coordinates: XYZ are metric coordinates that change frame-to-frame + UV are texture coordinates that are static. It's a common practice in 3D modeling to have static UV coordinates serving as a medium for understandable materia

[2021-04-19 01:42] ForLovelj commented on #1555
The error occurs when there are multiple instances of FrameProcessor in different Activities.

[2021-04-19 01:42] #1555 closed

[2021-04-19 02:04] lilinxiong commented on #1864
Hi @sgowroji I have solved my own problem. I will close with comment....

[2021-04-19 02:04] #1864 closed

[2021-04-19 02:08] lilinxiong commented on #1893
Hi @sgowroji This problem is not so important to me, because I have solved my final problem from other channels. Now i'm going to close it. Thank you for your help~

[2021-04-19 02:08] #1893 closed

[2021-04-19 02:16] kostyaby commented on #1895
Hey @Pythonsegmenter,

I looked through your comment & put my thoughts below. Given that there were not many direct questions for me to answer in your comment, I'll be just writing what I think can be useful to you. Hopefully, that'll be helpful!

---

The problem with perspective projection is that the object _size_ and the object _distance_ away from the camera are interchangeable, so if you don

[2021-04-19 02:18] lilinxiong commented on #1786
Hi @ianni67
I have been looking for a reliable face rotation matrix during this period of time, through the official documentation and search from the code.
Then I got the very accurate Euler angle parameters I wanted the day before yesterday, because getting Euler angles is what I need in my current work. Of course, I have to get accurate Euler angles from a reliable rotation matrix.
In short, I

[2021-04-19 02:26] kostyaby commented on #1891
Hey @fahadhaq,

The approach you described is a somewhat decent approximation of metric distance between two landmarks. You might observe that metric value jumps quite a lot as you are essentially trying to transfer the scale of a small object with a small error (iris) to a larger object (face / head) - this turns the small iris landmark error into a larger error. One way or another, this doesn't

[2021-04-19 03:20] PopoTeaTree commented on #1758
Thanks for response !!!
I used bazel build to create ARR file for Hand tracking first and then the hand tracking automatic close. The graph below show that the yellow area (graphic memory) of graph increase more and more, then when it go on the peak point (The memory full and the application automatic close).
![569f2f8ae3bd49fd08fdc2edeb1588a8 (1)](https://user-images.githubusercontent.com/5210467

[2021-04-19 03:23] PopoTeaTree commented on #1758
`apply plugin: 'com.android.application'
apply plugin: 'kotlin-android'
apply plugin: 'kotlin-android-extensions'

android {
    compileSdkVersion 29
    buildToolsVersion "29.0.2"

    defaultConfig {
        applicationId "com.example.handtracking_16"
        minSdkVersion 21
        targetSdkVersion 29
        versionCode 1
        versionName "1.0"
        testInstrumentationRunner "androidx.t

[2021-04-19 03:28] PopoTeaTree commented on #1758
The device that I used is Galaxy TabA10.0, Galaxy TabA8.0, Galaxy S9+, Galaxy TabS6 lite. The testing that showed in comment from TabS6 lite (https://www.gsmarena.com/samsung_galaxy_tab_s6_lite-10158.php).

[2021-04-19 03:48] sgowroji commented on #1904
Hi @mithunbabbira, We have clear documentation for Android [here](https://google.github.io/mediapipe/getting_started/android.html#mediapipe-on-android). And also an [Helloworld](https://google.github.io/mediapipe/getting_started/hello_world_android.html) Example in mediapipe.

[2021-04-19 03:54] sgowroji commented on #1758
Hi @PopoTeaTree We need a Logcat report, while the issue is reproducible.  Thanks!

[2021-04-19 05:00] ianni67 commented on #1786
I'm definitely interested, so please if you can, send me the video.
I've also been working on a solution on my side. I realized that some of the landmarks are sufficiently stable and I'm currently relying on those landmarks only for my application. The solution is specific to my application but seems to work.
If you are interested I can let you know how it works.

[2021-04-19 06:25] lilinxiong commented on #1786
I will send to ianni67@yahoo.com.

[2021-04-19 06:41] #1883 closed

[2021-04-19 07:24] bugmany commented on #1897
hi @sgowroji and @badushaebrahim ,
i'll retry and analyzing it, thanks.

[2021-04-19 07:24] #1897 closed

[2021-04-19 07:58] yangcheng commented on #1425
thanks, that's very helpful. I'll give a try

[2021-04-19 07:59] PopoTeaTree commented on #1758
2021-04-19 14:48:32.835 10992-10992/com.example.handtracking_16 E/Zygote: isWhitelistProcess - Process is Whitelisted
2021-04-19 14:48:32.836 10992-10992/com.example.handtracking_16 E/Zygote: accessInfo : 1
2021-04-19 14:48:32.842 10992-10992/com.example.handtracking_16 I/handtracking_1: Late-enabling -Xcheck:jni
2021-04-19 14:48:32.869 10992-10992/com.example.handtracking_16 E/handtracking_1: Unk

[2021-04-19 07:59] yangcheng commented on #1662
android studio 3.5 works. I hope the project can support new version of android studio and bazel

[2021-04-19 08:00] yangcheng commented on #1875
seems related to https://github.com/google/mediapipe/issues/1425#issuecomment-821738525 . Are there plans to add config options in graph?

[2021-04-19 09:33] Kartikeyajhalani opened #1905 "DLL load failed while importing _framework_bindings: The specified module could not be found."
Hi
I ran into an DLL Error while running a simple code snippet

[code]
This is my error

[code]

My System details:

- --PyCharm 2021.1 (Community Edition)
- --Windows 8.1 PRO

[2021-04-19 09:51] faijan22 opened #1906 "ERROR: Could not find a version that satisfies the requirement mediapipe ERROR: No matching distribution found for mediapipe"
my current version for python is 3.8.2 , i tired pip install mediapipe didnt worked , also tried using git , easy , --user , running as administrator but nothing worked. can you please tell me how to install it ?

[2021-04-19 09:55] sgowroji commented on #1905
Hi @Kartikeyajhalani, Have a look at this https://github.com/google/mediapipe/issues/1839#issuecomment-817253475.

[2021-04-19 09:57] sgowroji commented on #1906
Hi @faijan22, Could you please share your error and what are the steps performed to reproduce it. Thanks!

[2021-04-19 10:00] faijan22 commented on #1906
yes sir,

C:\Users\HP>pip install mediapipe
ERROR: Could not find a version that satisfies the requirement mediapipe
ERROR: No matching distribution found for mediapipe

and some other stackoverflow answers, sir.

[2021-04-19 10:01] #1905 closed

[2021-04-19 10:08] sgowroji commented on #1905
We are glad to know your resolved with above comment. Thank you for the update.

[2021-04-19 10:10] sgowroji commented on #1906
Please have a look at this https://github.com/google/mediapipe/issues/1674#issuecomment-788295898. Seems duplicate of your issue.

[2021-04-19 10:53] ianni67 commented on #1786
Just as a follow-up, I'd like to share a couple findings.
- Some landmarks indeed seem sufficiently stable. For example landmarks 02 and 164 appear to be fairly independent of the irises motion. I made a few tests and decided to rely on those reasonably stable landmarks for my application. I suppose that by changing (indeed, adding) their weights in geometry_pipeline_metadata_landmarks.pbtxt, whil

[2021-04-19 12:02] KastusKalinovski opened #1907 "Motion saliency computing is not working"
Hello, I'm trying to visualize motion saliency points using MotionAnalysisCalculator. When I set compute_motion_saliency:true, running process get stuck at first frame processing(LOG is attached). How can I fix this error or bug?

Graph config:
[code]
![Screenshot from 2021-04-19 14-56-35](https://user-images.githubusercontent.com/41323462/115232543-7ee61c80-a11f-11eb-967f-9851d6329625.png)

LOG:

[2021-04-19 12:30] atiselsts commented on #1898
I can probably write a workaround - convert the IMAGE_GPU to ImageFrame, stack 5 image frames together, then convert back to IMAGE_GPU, which then can be converted to a tensor in the GPU memory and fed to the network, which uses a reshape layer to convert the input back to the format it needs.

Nevertheless, the functionality to merge multiple tensors directly in the GPU memory would be cool!

[2021-04-19 12:31] sgowroji commented on #1907
Hi @KastusKalinovski, Is it an Instant motion tracking solution you are referring above.  Can you provide more details to understand this better. Thanks!

[2021-04-19 12:49] faijan22 commented on #1906
(env_mediapipe) PS C:\Users\HP\Desktop\python openecv> pip install mediapipe
Collecting mediapipe
  ERROR: Could not find a version that satisfies the requirement mediapipe (from versions: none)
ERROR: No matching distribution found for mediapipe
WARNING: You are using pip version 19.2.3, however version 21.0.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pi

[2021-04-19 12:49] faijan22 commented on #1906
sir I created venv -  inside that i tried to install above error i faced .
can you please guide me from start to end ...

[2021-04-19 13:10] KastusKalinovski commented on #1907
Hi @sgowroji, not exactly, it is more about Motion Analysis Calculator visualization, I want to visualize motion saliency bounding box(blue one on the following gif)
![bear](https://user-images.githubusercontent.com/41323462/115241538-9fb36f80-a129-11eb-891c-6a7fec4505fd.gif)

[2021-04-19 13:13] faijan22 commented on #1906
it worked i uninstalled my current python version 3.8.2 and installed 3.7 and then  created venv and tried to install and it worked

[2021-04-19 15:09] sgowroji commented on #1906
We are glad to know your issue resolved. So closing this ticket. Thanks

[2021-04-19 15:09] #1906 closed

[2021-04-19 15:25] sgowroji commented on #1838
As we see lack of activity on this issue we are closing it. Please feel free to reopen if it still exists. Thanks!

[2021-04-19 15:25] #1838 closed

[2021-04-19 16:30] gongchunye commented on #1177
I am sorry that I can not open the source code.

[2021-04-19 17:05] gongchunye commented on #230
@eknight7 How can I access landmarks on C++ in the demo_run_graph_main.cc?
Thank you very much!

[2021-04-19 17:40] shabelson commented on #1349
Hi,

Had Similar Problem:

_mediapipe.python.solutions
AttributeError: module 'mediapipe' has no attribute 'python'_

System:
windows 10
python 3.7

Mediapipe installation:
1. tried to "pip install mediapipe" but getting error:
**ERROR: Could not find a version that satisfies the requirement mediapipe
ERROR: No matching distribution found for mediapipe**
2. Downloaded a .whl file, and installed ma

[2021-04-19 18:08] shabelson commented on #1325
Hi - Same issue.
tried on python from 3.2 to 3.9 (The image is on 3.7)
Same as with anaconda...
![Capture](https://user-images.githubusercontent.com/23707195/115282799-e6fe2800-a14a-11eb-975b-649da3bb662f.JPG)

[2021-04-19 18:29] eknight7 commented on #1898
Adding @mcclanahoochie to suggest how to best solve this for stacking images/tensors as input to the model via MediaPipe.

[2021-04-19 18:47] bhouston opened #1908 "Multiple Safari failures on Desktop and Mobile"
Having a lot of failures on Safari both on desktop and mobile.  Is It supported?  If it isn't supported, why not?

Failure 1:

On mobile the latest live demos (https://mediapipe.dev/demo/face_mesh, https://mediapipe.dev/demo/hands) fail with this in the console on iOS:
[code]

Failure 2:

Chrome on iOS also fails to load.  I suspect it is the same reason - because it is actually Safari Webview und

[2021-04-19 19:11] tyrmullen commented on #1908
The Visualizer demos should generally run on a wider range of platforms than the latest code-pen demos, which are faster/fancier, but not yet as x-browser.  There are two separate issues here to get the code-pens running on : mobile support, and Safari support.

Mobile support is a little trickier for these, but Safari, as you have surmised, is just missing WebGL2, which is why the latest Safari T

[2021-04-19 19:11] #1908 closed

[2021-04-19 20:16] gamersi commented on #1325
I still didn't find a solution - python makes problems everytime

[2021-04-19 20:19] fahadhaq commented on #1891
Hey @kostyaby Thanks for the reply. I am currently testing it with users to see if the solution would work in the long term for us. We have noticed some error but we are taking the avg of multiple scans. Thanks again for your help

[2021-04-19 21:43] jiuqiant commented on #1325
I think "python37-32" means **32-bit** ? Your pip is for 32-bit version of Python?
You need a 64-bit version of Python and Pip to install mediapipe...

[2021-04-20 02:18] mcclanahoochie commented on #1898
it's one way to do it.

it seems like you want to create one large image that contains 5 images stacked/concatenated (a "height*5 x width" image, and not a 20-channel image of regular size), right?

that is a very natural way to do batching, but unfortunately mediapipe doesn't offer any calculators for this right now.

the method you described seems ok, but may run into the issue of overflowing th

[2021-04-20 02:22] lilinxiong commented on #1786
Yeah yes, I very much agree @ianni67 said.
Let me add one more point, I only noticed yesterday.
* In FaceMesh solution. I find the eyes landmarks never change,no matter if you open your eyes or close your eyes, initially I suspected that my configuration was wrong. But when I saw [face-landmark-model-Fig 2. Face landmarks](https://google.github.io/mediapipe/solutions/face_mesh#face-landmark-model)

[2021-04-20 02:37] #1271 closed

[2021-04-20 03:26] lvilca-tekton commented on #17
Any updates?

[2021-04-20 06:27] kapsyst commented on #1017
@VenanEmre Sorry just saw your comment. Nothing yet, decided to go with GAR despite crashes and other issues.

[2021-04-20 07:09] atiselsts commented on #1898
Can you show how to implement this as input? I tried passing multiple tensors to the model with indices (TENSORS:0:name1, TENSORS:1:name2) but that did was not accepted by the inference calculator.

[2021-04-20 07:12] atiselsts commented on #1898
Yes. I implemented this for CPU yesterday and it works ok indeed. Don't have any experience writing GPU code unfortunately.
https://github.com/atiselsts/mediapipe/blob/feature/washing-movements-app-time-distributed/mediapipe/calculators/image/image_merge_calculator.cc

[2021-04-20 08:08] lilinxiong opened #1909 "about left right eye landmarks question"
In [all of the landmark connection vector](https://github.com/google/mediapipe/issues/1049#issuecomment-706858946) found it [FaceMesh_Map.jpg](https://github.com/tensorflow/tfjs-models/blob/master/facemesh/mesh_map.jpg) and [Contour keypoints](https://github.com/tensorflow/tfjs-models/blob/master/facemesh/src/keypoints.ts). The landmark for the left eye is: [left eyes](https://github.com/tensorflo

[2021-04-20 08:11] Takuro-Ito opened #1910 "[MediaPipeVisualizer] Cannot select multiple .pbtxt files at once"
As described in https://google.github.io/mediapipe/tools/visualizer.html#visualizing-subgraphs, multiple files are supposed to be selected and uploaded at once. However, only a file could be selected.

I guess the cause is missing `multiple` attribute in `input` tag in https://viz.mediapipe.dev/app_bundle.js.

[code]

Any temporally solutions until it will be fixed?

[2021-04-20 09:18] kuangzy2011 opened #1911 "Build hair_segmentation failed for ruy matrix on Raspberry."
The hello world example works fine, while failed when building hair_segmentation, could any one help on this?

ERROR: /home/worker/workspace/download/mediapipe/mediapipe/examples/desktop/hair_segmentation/BUILD:28:10: Linking of rule '//mediapipe/examples/desktop/hair_segmentation:hair_segmentation_cpu' failed (Exit 1): gcc failed: error executing command /usr/bin/gcc @bazel-out/arm-opt/bin/mediap

[2021-04-20 09:23] sgowroji commented on #1645
We are closing this issue due to lack of activity.

[2021-04-20 09:23] #1645 closed

[2021-04-20 09:31] sgowroji commented on #1724
Could you please reply to my above comment. Thanks!

[2021-04-20 09:33] sgowroji commented on #1736
Hi @ShravanRai22, Did you get a chance to go through the above comment. Thanks!

[2021-04-20 09:34] sgowroji commented on #1743
Hi @saurabhchalke, Could you please respond to my above comment. Thanks!

[2021-04-20 09:35] sgowroji commented on #1742
Closing this issue as the duplicate is closed. https://github.com/google/mediapipe/issues/1741.

[2021-04-20 09:35] #1742 closed

[2021-04-20 09:37] sgowroji commented on #1745
Hi @ljmkimqx, Could you please respond to my above comment. Thanks!

[2021-04-20 09:39] sgowroji commented on #1760
Hi @RarDay, Please respond to the above comments. Thanks!

[2021-04-20 09:40] sgowroji commented on #1778
Hi @hhakangull, Please respond to my above comments and provide the requested details. Thanks!

[2021-04-20 09:42] sgowroji commented on #1784
Hi @yangcheng, Could you please provide the traces as mentioned in the above comment. Thanks!

[2021-04-20 09:44] sgowroji commented on #1558
Assuming you are fixed with the above comments. We are closing this issue. Please feel free to reopen if the issue still exists. Thanks!

[2021-04-20 09:44] #1558 closed

[2021-04-20 09:47] sgowroji commented on #1800
Hi @weixinz1, Did you get a chance to go through the above comment. Thanks!

[2021-04-20 09:50] sgowroji commented on #1803
Hi @vandics , Could you please share your issues status. Thanks!

[2021-04-20 09:52] sgowroji commented on #1816
Hi @f00kat, Can you please respond to the above comments. Thanks!

[2021-04-20 09:55] sgowroji commented on #1862
Hi @brgl, Could you please respond to my above comment. Thanks!

[2021-04-20 09:56] sgowroji commented on #1869
Hi @LucaswasTaken, Please respond to the above comment. Thanks!

[2021-04-20 09:59] sgowroji commented on #1911
Hi @kuangzy2011, Can you share the steps followed to reproduce the above issue. Thanks !

[2021-04-20 10:04] brgl commented on #1862
No, I don't, thanks.

[2021-04-20 10:04] #1862 closed

[2021-04-20 10:06] sgowroji commented on #1845
We are closing this issue as we see lack of activity. Thanks!

[2021-04-20 10:06] #1845 closed

[2021-04-20 10:10] hungtooc commented on #1724
Hi @aarushi-mittal, this is my solution :
![Screenshot from 2021-04-20 16-53-15](https://user-images.githubusercontent.com/24487114/115377031-6ea27000-a1f9-11eb-9cb9-b2153aa13d98.png)

1. get the center point of the line created by two landmark point index **93th** and **323th** (in **face.face_landmarks**)
2. get the coordinate of noise landmark (index **4th**)
3. conpare the value of x axis **of

[2021-04-20 10:25] hungtooc opened #1912 "get the angle of face in facemesh in python"
Hi, i have installed sample app name "Face Effect" on android. The app using  facemesh to get face angle as you can see:
![Screenshot_20210420-163522](https://user-images.githubusercontent.com/24487114/115380934-474da200-a1fd-11eb-8f4e-9459d57552c5.png)
reference: Android target: ([ prebuilt ARM64 APK)](https://drive.google.com/file/d/1ccnaDnffEuIXriBZr2SK_Eu4FpO7K44s) mediapipe/examples/android/s

[2021-04-20 10:26] yangcheng commented on #1784
I can not reliably reproduce the issue. I'll try more time today and see if I can get anything

[2021-04-20 10:44] f00kat commented on #1816
Sorry, forgot about this.

If I understand "what to do" correctly..

- Added the file `proguard-rules.pro` here `/mediapipe/examples/android/src/java/com/google/mediapipe/apps/handtrackinggpu`
[code]
- Fix the `BUILD` file (`/mediapipe/examples/android/src/java/com/google/mediapipe/apps/handtrackinggpu/BUILD`)
[code]
- Got a lot of errors
[code]
- Edit the file proguard-rules.pro
[code]
- Still ge

[2021-04-20 12:29] kuangzy2011 commented on #1911
@sgowroji , Here is my building process.

#WORKSPACE

new_local_repository(
    name = "linux_opencv",
    build_file = "@//third_party:opencv_linux.BUILD",

)

#third_party/opencv_linux.BUILD

cc_library(
    name = "opencv",
    srcs = glob(
        [
            #"lib/x86_64-linux-gnu/libopencv_core.so",
            #"lib/x86_64-linux-gnu/libopencv_calib3d.so",
            #"lib/x86_64-linux-gn

[2021-04-20 13:47] esteimle commented on #1638
ohh assigned! :)

[2021-04-20 14:12] sgowroji commented on #1912
Hi @hungtooc, Could you provide  use case with complete details and code repo. Thanks!

[2021-04-20 14:14] sgowroji commented on #1837
We are closing this issue as we see lack of activity.

[2021-04-20 14:14] #1837 closed

[2021-04-20 14:32] hungtooc commented on #1912
sorry i'm not an Android coder, i just install the prebuild file app "Face Effect". I dont know where is the code to get and draw 3 coordinate axis in the image in android project. But i know they can draw x,y,z axis to describe the rotation angle on android project. How can i get the values of face rotation angle on Python.

[2021-04-20 15:07] mohamedAkif opened #1913 "Hey @jianinz, can you please elaborate on how its done. i have changed the node in face_effect_gpu.pbtxt . then what all i have to chnage?"
Hey @jianinz,

Currently in the example, there are 2 effects guarded by a single `is_facepaint_effect_selected` flag. If it's true, then the Facepaint effect will be rendered; if it's false, then the Glasses effect will be rendered. When you switch from 2 effects to 3+ effects, this single boolean flag approach no longer works

For `N` effects, I'd introduce `N` graph input streams with boolean fl

[2021-04-20 15:10] mohamedAkif commented on #1155
hey @kostyaby ,

can you please elaborate on how to have N effects in the app?. i tried changing the face_effect_gpu.pbtxt but i have no clue how its done. and the custom calculator you specified, hows that done.

[2021-04-20 18:31] tyrmullen commented on #1742
FWIW, I suspect that halving resolution would not actually double speed here.  The ML models being used have a fixed input size and output size (i.e. there's an ImageTransformationCalculator/GlScalerCalculator inside the graph already), so the main speed gains would be your end rendering code, or what you get from not having to handle textures quite as large.  So I'd imagine you'd see an increase

[2021-04-20 20:38] Thurguild commented on #1900
Have also tried to reset the env but keep running into the issue of gen_protos not having permissions to alter the protoc directory which then stops the bdist wheel command being effective

[2021-04-20 21:05] RaiShra1 commented on #1736
Hi @sgowroji, I was able to get the landmarks values in my application. Currently, I'm getting the Normalized landmarks and working on converting it into actual pixel values. Thanks for the information and clearing my questions @mcclanahoochie

[2021-04-21 00:42] homuler commented on #1887
I think #1617 is the same problem.

[2021-04-21 02:48] maokk commented on #1701
Hi @ivan-grishchenko
I  use the tflite file to get the pose landmark like below but the result is not good:( anything I missing? thanks

    img = cv2.imread("test-body1.jpg")
    img = img[:, :, (2, 1, 0)]
.....
    height = input_details[0]['shape'][1]
    width = input_details[0]['shape'][2]
    img_r = cv2.resize(img,(width,height))
    input_data = np.expand_dims(img_r, axis=0)
    #input_dat

[2021-04-21 03:50] sgowroji commented on #1736
Thanks for sharing the update. We are glad to know you resolved.

[2021-04-21 03:50] #1736 closed

[2021-04-21 04:09] sgowroji commented on #1701
Hi @maokk, Could you please raise your concern as new issue with all details. Thanks!

[2021-04-21 04:59] WayneLin015 opened #1914 "Question about using pose_landmark_full_body.tflite"
Different to the BlazePose paper, it outputs (ld_3d) with the shape of [1,195], in my opinion and previous issue, it should be flatten refer to x, y, z, visibility, presence, so the landmark result will be 39 outputs though its different to paper said that the model output 33 landmark

Another question is, I need to apply any other post or pre processing? Now the output seem there's some shifting

[2021-04-21 06:29] sgowroji commented on #1872
Hi @alexrichardson21, Could you please respond to my above comment. Thanks!

[2021-04-21 06:32] sgowroji commented on #1886
Hi @MuhamaadUsman, Did you get a chance to go through above comments. Thanks!

[2021-04-21 06:33] sgowroji commented on #1888
Hi @alekhra, did you get a chance to go through the above comment. Thanks!

[2021-04-21 06:37] sgowroji commented on #1599
Hi @RuiLoureiro, Could you please respond to the above comment. Thanks

[2021-04-21 06:38] sgowroji commented on #1616
Hi @Noricks, Could you please respond to my above comment. Thanks!

[2021-04-21 06:38] sgowroji commented on #1669
Hi @hibiking-0422, Did you get a chance to go through the above comments. Thanks!

[2021-04-21 06:39] sgowroji commented on #1606
Hi @monoto, Could you please respond to my above comment. Thanks!

[2021-04-21 07:25] sgowroji commented on #1673
Hi @nyanmn, Could you please respond to the above comment. Thanks!

[2021-04-21 07:28] RuiLoureiro commented on #1599
Hey @sgowroji, the issue persists. Since they are only warnings, I haven't investigated further.

[2021-04-21 07:36] sgowroji commented on #1599
Will you be able to share warnings now And are you still looking for the above solution. Thanks!

[2021-04-21 07:45] maokk commented on #1914
I have the same problem on pose_landmark_upper_body.tflite file but works ok on python API, and  I find the tflite outputs value in ld_3d are not normalized to [0~1]

Python API
![annotated_image](https://user-images.githubusercontent.com/883336/115515412-af60be80-a2b7-11eb-8bb4-3280836fea0d.png)
tflite file output
![my_testimage](https://user-images.githubusercontent.com/883336/115515552-d4553180

[2021-04-21 08:02] quickgrid opened #1915 "Python Face Mesh landmarks for inverted faces gives wrong results yet Holistic gives correct result"
I used the python sample codes provided, but [face mesh](https://google.github.io/mediapipe/solutions/face_mesh.html) landmarks are not correct for inverted faces. It works correctly with holistic sample code provided here, https://google.github.io/mediapipe/solutions/holistic.

![download (3)](https://user-images.githubusercontent.com/1857293/115518084-9fda7900-a2a9-11eb-86e2-2e85b2d34c03.png)
![

[2021-04-21 11:01] titoasty opened #1916 "Hand orientation"
I saw there is palm detection but I can't access it in python.
Is there any way? I only saw landmarks in the docs.
Thanks

(FYI, I'm trying to find the orientation of the hand)

[2021-04-21 11:15] yangcheng commented on #1425
is there a way to add another dummy output that will always be called when the process finish? so I can know the frame process is finished?

[2021-04-21 11:56] sgowroji commented on #1916
Hi @titoasty, Could you please elaborate your Query with clear details. What is your error and what are the steps followed to reproduce it. Thanks

[2021-04-21 12:49] monoto commented on #1606
I am writing an Editor, the users would like to have the ability to turn on and off the tracking during run time.

[2021-04-21 13:27] DrStoop commented on #932
### `nvidia-docker run --env NVIDIA_DRIVER_CAPABILITIES=compute,utility,graphics <...your commands...>`

i had the same problem, Even though [docker says it does support glx](https://github.com/NVIDIA/nvidia-docker/issues/520#issuecomment-343629840), @flx42 found a way to overcome it by [adding the environment `NVIDIA_DRIVER_CAPABILITIES=compute,utility,graphics`  variable when launching the docke

[2021-04-21 13:52] MuhamaadUsman commented on #1886
Yes I did, I will implement them soon

On Wed, Apr 21, 2021, 11:33 AM GowrojiSunil ***@***.***>
wrote:

[2021-04-21 14:05] alekhra commented on #1888
Thanks @sgowroji for the reply. I am still working on it. Somehow the video is not becoming visible.
Things I did :
1. I build MediaPipe AAR using Android(https://google.github.io/mediapipe/getting_started/android_archive_library.html)
2. I removed camera-related functions and added the media play method,  just like mentioned in #597 (comment).
3. Then I set the surface texture to ExternalTextureC

[2021-04-21 14:43] ozett commented on #1886
Hey, cool. I will come here tomorrow again to check. Too early?

[2021-04-21 15:48] vbartle opened #1917 "MediaPipe on RPI4, pip: no matching distribution; bazel: undefined reference to '__atomic_fetch_add_8'"
I'm trying to get MediaPipe running on Raspberry Pi 4.

When I try `pip install mediapipe` I get:
`Defaulting to user installation because normal site-packages is not writeable
Looking in indexes: https://pypi.org/simple, https://www.piwheels.org/simple
ERROR: Could not find a version that satisfies the requirement mediapipe
ERROR: No matching distribution found for mediapipe
`

When I clone this

[2021-04-21 16:19] jiuqiant commented on #1912
We haven't integrated the face geometry data in the Python API. Will provide updates when it becomes available.

[2021-04-21 16:21] jiuqiant commented on #1896
faceeffect doesn't have cpu mode. It's on gpu only. When you put "--define MEDIAPIPE_DISABLE_GPU=1" in the build command, all the gpu components are disabled and that's why you can't build the faceeffact app anymore.

[2021-04-21 16:21] hungtooc commented on #1912
nice! thank you.

[2021-04-21 16:21] #1912 closed

[2021-04-21 16:23] mcclanahoochie commented on #1425
Please open another ticket specific to further questions. These have been unrelated to the original question about NPU. Thanks

[2021-04-21 17:46] INF800 opened #1918 "Browser hangs during model loading"
While initalizing `new Holistic(...)` model, browser hangs for 10+ seconds with following output

[code]

Is there any way to load the model without making the browser hang?
I used js solution api from https://google.github.io/mediapipe/solutions/holistic.html with zero changes.

Thanks,
Rakesh

[2021-04-21 17:46] vbartle commented on #1917
[this](https://github.com/koenvervloesem/bazel-on-arm) fixed it for me; for anyone interested you can install bazel using that guide and set of scripts, then return to `python3 setup.py gen_protos && python3 setup.py bdist_wheel` from [here](https://github.com/jiuqiant/mediapipe_python_aarch64).

[2021-04-21 17:46] #1917 closed

[2021-04-21 17:59] AmitMY commented on #1918
I'm having the same issue. I was considering moving the loading to a WebWorker but did not attempt that yet, perhaps it could help.

[2021-04-21 18:13] AmitMY opened #1919 "Face mesh model does not capture eye aperture"
This is the case both for closed eyes, and for bug eyes.
An example for closed eyes:
You can see the left image with closed eyes, the right with open, and the middle is one eye closed, one eye open.
The closed eye result isn't closed, its a bit squeezed, but not what I would expect.
![image](https://user-images.githubusercontent.com/5757359/115600872-6f143700-a2dd-11eb-9754-bc16d3ad84a2.png)
![ima

[2021-04-21 18:36] alighofrani95 opened #1920 "draw landmarks just like video pose sample in python"
![image](https://user-images.githubusercontent.com/14968123/115603818-db9b3000-a2f5-11eb-93e1-344b1d100708.png)

How can I darw landmarks and connection line similar to above sample in python

the drawing_utils.py just supports the thickness and color.

  Args:
    image: A three channel RGB image represented as numpy ndarray.
    detection: A detection proto message to be annotated on the image.

[2021-04-21 18:57] rakesh4real commented on #1918
@AmitMY can you please share a simple code snippet that does it?

[2021-04-21 19:31] thunderbirdtr commented on #1889
I was able to use Kotlin with basic face detection :+1:  the only issue I had "camera" didn't start normal but start with "black screen" until rotate landmark then portrait mode.

[code]

I had to also change setSurfaceTextureAndAttachToGLContext

width = displaySize.height
height = displaySize.width

Because there was a "stretched in width" I don't know because of layout but It was ugly.

[code]

[2021-04-21 20:43] timtensor opened #1921 "Saving overlaid video ?"
Hi i was wondering if there is a possibility to save pose estimation overlaid ouput on a input video saved as mp4. So basically using a local video instead of the webcam feed.

[2021-04-21 20:46] AndreV84 opened #1922 "objectron Desktop webcam GPU example"
is there GPU desktop solution?
Desktop webcam?

[2021-04-22 02:16] vbartle opened #1923 "AttributeError: module 'mediapipe' has no attribute 'solutions'"
How should I be getting solutions to work here? Running on RPI4.

[2021-04-22 02:17] #1923 closed

[2021-04-22 02:20] vbartle commented on #1349
Getting the same attribute error: `AttributeError: module 'mediapipe' has no attribute 'solutions'`; python 3.8 on RPI4. Running python outside of local mediapipe directory returns same error.

Where is solutions supposed to be located and how can I get it?

[2021-04-22 02:55] superbento opened #1924 "Is there another way to see the mediapipe's log file?"
For some reason i cant use  viz.mediapipe.dev to analyze the log

Is there another way to see the mediapipe's log file?

[2021-04-22 03:15] sgowroji commented on #1918
Hi @rakesh4real, Could you please share the screenshot or a video of the error. And also the steps to reproduce the above error. Thanks!

[2021-04-22 03:26] z7212819 opened #1925 "How to solve the problem of the smoothness of the shoe model"
Hello, as shown in the picture, the official shoe model is very smooth, but my own shoes are not smooth. How did you convert the format to keep it smooth? Thank you!
![Screenshot_20210422-112002](https://user-images.githubusercontent.com/75053001/115651345-99bbbb00-a2f0-11eb-947d-ad479136ef22.jpg)
![Screenshot_20210418-203658](https://user-images.githubusercontent.com/75053001/115651356-9d4f4200-a

[2021-04-22 03:30] sgowroji commented on #1743
We are closing this ticket as of now due to lack of activity.

[2021-04-22 03:30] #1743 closed

[2021-04-22 03:31] sgowroji commented on #1920
Refer this issue for more understanding https://github.com/google/mediapipe/issues/1743

[2021-04-22 03:35] sgowroji commented on #1921
Hi @timtensor, Could you please share more details regarding the above issue and what platform are you looking for. Thanks

[2021-04-22 03:35] z7212819 commented on #1925
By the way, what kind of 3D tools do you use to make obj files?

[2021-04-22 03:41] yangcheng commented on #1875
@mcclanahoochie as you suggested, move the discussion here.  Is there a way to add another dummy output that will always be called when the process finish? so I can know the frame process is finished?

[2021-04-22 03:45] sgowroji commented on #1922
Hi @AndreV84, We have python solutions [here](https://google.github.io/mediapipe/solutions/objectron#python-solution-api) with webcam input.

And could you share what use case are you looking for GPU desktop solution?

[2021-04-22 03:49] sgowroji commented on #1924
Hi @superbento, What platform and solution are you referring. Thanks!

[2021-04-22 03:52] sgowroji commented on #1925
Hi @z7212819, Could you please share your code repo with your changes. Thanks!

[2021-04-22 03:53] superbento commented on #1924
HI, my program is running on Ubuntu 18.04

And I just found the solution, i'll close this issue

[2021-04-22 03:53] #1924 closed

[2021-04-22 03:58] z7212819 commented on #1925
@sgowroji I'm glad you can reply to me. I only replaced the uuu file and the texture file. There is no modification in the code, so I would like to ask how to solve the smoothness problem.

[2021-04-22 06:06] AndreV84 commented on #1922
Hi @sgowroji
Is there non-python webcam implementation?
bazel based solution?
CPU desktop implementation?
GPU Desktop implementation?

[2021-04-22 06:07] akuehnert123 commented on #1551
For all asking themself how to downgrade the bazel homebrew version -> [Downgrade with brew](https://stackoverflow.com/questions/57759299/how-to-install-an-older-version-of-bazel-using-homebrew)

[2021-04-22 06:09] rakesh4real commented on #1918
Unfortunately, I cannot share code/video without permission from my organisation. Specifically, while sending image for the first time i.e doing -

[code]

will cause the following output in browser console -
[code]

While displaying this output in browser console, whole UI hangs for 10 seconds. After these outputs are displayed, for subsequent `await holisticModel.send({ image: videoElement });`

[2021-04-22 06:39] sgowroji commented on #1659
Hi @toshiks, Could you please respond to my above comment. Thanks!

[2021-04-22 06:40] sgowroji commented on #1846
Hi @aylek, Could you please respond to my above comment. Thanks!

[2021-04-22 06:41] sgowroji commented on #1685
Hi @stevenchen123, Could you please respond to my above comment. Thanks!

[2021-04-22 06:47] sgowroji commented on #1881
Hi @congnguyenthe, Did you get a chance to go through the above comment.  Thanks!

[2021-04-22 06:54] congnguyenthe commented on #1881
Hi @sgowroji,

Thanks for your info, fortunately, I am able to get the camera frame without rendered object by comment out renderer section in the mediapipe code.
But I am still looking for how to integrate the result returned by mediapipe into the ARCore.

[2021-04-22 07:02] Nikkhil16 commented on #1291
Are there any updates on this? :)

Are there any plans to include this with the PaaS offerings on the GCP?

[2021-04-22 07:28] AndreV84 commented on #1922
use case is a proof of concept implementation on nvidia Jetson aarch64
with tensorflow/ cuda support
the pythin thing is very basic - last 20 hours I am getting it built from python sources - it is still building the step after multiple corrections
[code]

[2021-04-22 09:24] timtensor commented on #1921
So i am trying to save the detected keypoint videos as an mp4 file. I am not using the webcam as input but rather a video file. I run the inference on that. I want to save the infered video . I am using the python API . Is there a way to do that. Also where can i find details of all available functions ?

[2021-04-22 10:26] Anonymous7code commented on #1915
I am too facing the same issue while running on rotated cideo frame :
![Screenshot (16)](https://user-images.githubusercontent.com/63298113/115698949-cc15f880-a382-11eb-8a10-701758eccb27.png)
![Screenshot (17)](https://user-images.githubusercontent.com/63298113/115698971-d1734300-a382-11eb-8ac2-4e5c47f84c29.png)

and in addition while converting image from BGR2RGB it throws the error mentioned bel

[2021-04-22 11:26] KastusKalinovski commented on #1907
Hi, @mcclanahoochie, @hadon, Did you get a chance to go through my issue?

[2021-04-22 13:00] #1760 closed

[2021-04-22 13:04] dauntless3 opened #1926 "Missing input file 'external/windows_opencv/x64/vc15/lib/opencv_world3410.lib'"
**System information**

OS: Windows 10
Bazel version 3.7.2
Python version 3.7.6
VS Community 2019 16.9.4

**Description**

Hello!

I tried to build the C++ examples on Windows. The hello_world example works, but the hand tracking example gave this error:

bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 --action_env PYTHON_BIN_PATH="C://Users//ASUS//AppData//Local//Programs//Python//Python37//p

[2021-04-22 13:15] dauntless3 commented on #1926
Also, I did a search on my PC to ensure that opencv_world3410.lib doesn't exist on any folder.

[2021-04-22 13:45] vbartle commented on #1340
@prasadkevin did running from another directory fix this for you? Running this on RPI4 and the error persists.

[2021-04-22 13:56] midhulavijayan opened #1927 "How to access intermediate results of mediapipe from the main activity (android platform)"
I have created a classification (binary classification) app using mediapipe. I am rendering the class labels ( based on the prediction probability value) within mediapipe and able to display the results. As per my problem, i wanted to make decisions from android main based on the classification probability value, Is there any way to access the probability value from the android main?...

Thanks.

[2021-04-22 14:06] sgowroji commented on #1927
Hi @midhulavijayan, Could you please elaborate the use case with complete details and which MediaPipe solution are you referring. Thanks

[2021-04-22 14:10] sgowroji commented on #1926
Hi @dauntless3, Could you please provide the steps to reproduce the above error. Thanks!

[2021-04-22 14:25] midhulavijayan commented on #1927
input_stream: "input_video"
output_stream: "output_video"

node: {
calculator: "GpuBufferToImageFrameCalculator"
input_stream: "input_video"
output_stream: "input_video_cpu"
}

node {
calculator: "FlowLimiterCalculator"
input_stream: "input_video_cpu"
input_stream: "FINISHED:detection_tensors"
input_stream_info: {
tag_index: "FINISHED"
back_edge: true
}
output_stream: "throttled_input_video_cpu"
}

[2021-04-22 14:29] dauntless3 commented on #1926
Hi @sgowroji, thanks for looking into this! The error came up when I ran the following on the command prompt. There were no other steps relating to this.

bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 --action_env PYTHON_BIN_PATH="C://Users//ASUS//AppData//Local//Programs//Python//Python37//python.exe" mediapipe/examples/desktop/hand_tracking:hand_tracking_cpu

The step before this was build

[2021-04-22 15:51] vbartle commented on #1346
Also bumping here, getting the same `AttributeError: module 'mediapipe' has no attribute 'solutions'` error, after following @jiuqiant [guide](https://github.com/jiuqiant/mediapipe_python_aarch64) for RPI4 -- error persists outside of mediapipe directory. I do get the error that there is no module mediapipe, but that gets alleviated when running outside of ~/mediapipe; whereas the no attribute sol

[2021-04-22 16:29] H4ckerman666 commented on #1349
hello I have the same error
***
AttributeError: partially initialized module 'mediapipe' has no attribute 'solution_base' (most likely due to a circular import)
***
but I don't understand how they solved it, can you help me? @jiuqiant @JihangGao

[2021-04-22 16:40] vbartle commented on #1346
Fixed this by building bazel with the scripts found in [this](https://github.com/koenvervloesem/bazel-on-arm) guide.

[2021-04-22 18:02] davircarvalho commented on #1477
did you manage to extract head orientation from face landmarks? If so please share your code!

[2021-04-22 18:11] H4ckerman666 opened #1928 "AttributeError: module 'mediapipe' has no attribute 'solutions'"
Has anyone had this error when importing the mediapipe library?

AttributeError: partially initialized module 'mediapipe' has no attribute 'solutions'(most likely due to a circular import)

[code]

[2021-04-22 20:44] AmitMY commented on #1918
Demo to show hanging: https://sign-language-processing.github.io/playground/
While it says "Loading Pose Estimation" the browser thread hangs. Try to hover things in the menu, you see that they aren't responsive

[2021-04-22 21:35] caqb18 opened #1929 "How to make a Multiple Person Pose Detection?"
I have found a solution for this but still needs YOLO to bound and detect objects.
[Multi-Person Pose Estimation with Mediapipe](https://shawntng.medium.com/multi-person-pose-estimation-with-mediapipe-52e6a60839dd)

Would it be possible to make a multiple pose detection on MediaPipe alone by creating a max_num_pose in pose.py that works like max_num_hands in hands.py? Since setting max_num_hands t

[2021-04-22 22:29] andtauk commented on #1349
Maybe ou need to change your filename from "mediapipe.py" to another one.

[2021-04-22 22:42] H4ckerman666 commented on #1349
What a shame @andtauk
I have to sleep well 👍

[2021-04-23 00:50] ljmkimqx commented on #1745
Hello, I'm sorry to answer now. Because OpenGL is used internally in our Android project, we have failed to integrate mediapipe many times.

So we refer to this project:  https://github.com/afsaredrisy/MediapipeHandtracking_GPU_Bitmap_Input

Then we use the latest version of mediapipe gesture model.

Test code deleted. The following is the project code related to gesture recognition. The gesture d

[2021-04-23 01:26] alighofrani95 commented on #1920
I'm looking for python implementation, Is it related with drawing_utils_test.py??

[2021-04-23 02:11] zhaoqilong3031 opened #1930 "custom graph Unable to find Calculator for android"
#> error
`google.mediapipe.framework.MediaPipeException: not found: ValidatedGraphConfig Initialization failed.
    No registered object with name: FaceMeshGpu; Unable to find Calculator "FaceMeshGpu"
    No registered object with name: HairSegmentationGpu; Unable to find Calculator "HairSegmentationGpu"`
[code]

 `load(
    "//mediapipe/framework/tool:mediapipe_graph.bzl",
    "mediapipe_binary_g

[2021-04-23 04:10] sgowroji commented on #1928
Hi @H4ckerman666, What is your python version?. Refer this similar issues https://github.com/google/mediapipe/issues/1466, https://github.com/google/mediapipe/issues/1349

[2021-04-23 04:13] sgowroji commented on #1929
Hi @caqb18, This will give you some idea regarding your above query https://github.com/google/mediapipe/issues/1691#issuecomment-797159603. Thanks!

[2021-04-23 04:17] lilinxiong commented on #1919
I also encountered the same problem....

[2021-04-23 04:19] sgowroji commented on #1930
Hi @zhaoqilong3031, Could you please explain more about your use case with complete details. Are you combining both FaceMesh and HairSegmentation?  And above are the only changes you have done?. Thanks

[2021-04-23 05:52] zhaoqilong3031 commented on #1930
yes, Do I need to change anything ？

[2021-04-23 06:40] sgowroji commented on #1920
Hi @alighofrani95, For drawing on pose you can try this https://github.com/google/mediapipe/issues/1393#issuecomment-746745775

[2021-04-23 07:03] sgowroji commented on #1886
Thanks for your update. We will close this issue now. Please feel free to reopen above issue if you have any further queries in the same context.

[2021-04-23 07:03] #1886 closed

[2021-04-23 08:15] lilinxiong commented on #1919
Hello @AmitMY I have solved this problem. In fact, there is a formula that can calculate the opening and closing of the human eye. That is to calculate the aspect ratio of the eyes (EAR). Take one of the eyes as an example.
![image](https://user-images.githubusercontent.com/24367027/115840787-a1917180-a44e-11eb-9494-722fc28eba58.png)
I'm sorry. I did not find the English document. I saw it in a Ch

[2021-04-23 08:57] sgowroji commented on #1778
We are closing this ticket as of now due to lack of activity. Thanks!

[2021-04-23 08:57] #1778 closed

[2021-04-23 08:59] sgowroji commented on #1904
Hi @mithunbabbira, Did you get a chance to go through the above comment. Thanks!

[2021-04-23 09:01] sgowroji commented on #1593
Hi @stq054188, Could you please respond to my above comment. Thanks!

[2021-04-23 09:03] sgowroji commented on #1665
Hi @mayank10j, Could you please respond to my above comment. Thanks!

[2021-04-23 09:14] mayank10j commented on #1665
@sgowroji  It was not working 2 weeks ago, will test again and get back to you.

[2021-04-23 10:02] evan0929 commented on #907
Excuse me,How do you solve this issue？

[2021-04-23 10:41] mithunbabbira commented on #1904
Yes, thank you..

[2021-04-23 12:42] caqb18 commented on #1929
Pretty much what I've been trying last night on the visualizer. Would be great if the previous people asking for it already found a solution and share it. For now wish me luck on making it work. Thanks!

[2021-04-23 12:42] #1929 closed

[2021-04-23 13:05] IsakKruger commented on #1325
If you get:
ERROR: Could not find a version that satisfies the requirement mediapipe
ERROR: No matching distribution found for mediapipe
when trying "pip install mediapie"

Try "py -m pip install mediapie" insted, worked for me!

[2021-04-23 15:08] AmitMY commented on #1919
Thanks @lilinxiong
Unfortunately, it is very hard to decide on a threshold, as different races have different eye shapes.
This is what I am actually trying to use machine learning to solve, as I have a vast dataset of various people with different eye apertures. Hopefully the face model improves soon.

[2021-04-23 15:50] #1900 closed

[2021-04-23 15:54] kbtxwer opened #1931 "no matching toolchains found for types @bazel_tools while build for Android"
It is ok when I run
bazel build -c opt :encoder_main
or
bazel build -c opt :decoder_main

however, when it comes to build an Android APP, the error occurs.

I'm sure that I have add the path of sdk and ndk to ~/.bashrc and reload it, and I can't unserstand what the bazel is showing about.

/////////////////////////////////////////////
ERROR: While resolving toolchains for target //android_example:

[2021-04-23 15:55] #1931 closed

[2021-04-23 15:59] Thurguild opened #1932 "Creating square and rectangular bounding boxes dependent on hand shape"
When trying to use bounding boxes, I can only get rectangles and not boxes that will change shape as the hand does, i.e. rectangles and squares. Is there a function within Mediapipe to be able to achieve this? The code I'm running to add rectangles to the image is as below:
   size = image.shapeS
    print(size)
    if results.hand_rects:
      for rect in results.hand_rects:
        pt1 = (int(re

[2021-04-23 16:17] mcclanahoochie commented on #1882
You can capture the "face_detections" stream from the graph, in a similar way as the "hand_landmarks" from [here](https://github.com/google/mediapipe/blob/master/mediapipe/examples/android/src/java/com/google/mediapipe/apps/handtrackinggpu/MainActivity.java#L49) , through 'addPacketCallback'.
See the [detections to render data calculator](https://github.com/google/mediapipe/blob/master/mediapipe/c

[2021-04-23 16:56] mcclanahoochie commented on #1847
If https://github.com/google/mediapipe/issues/1847#issuecomment-815028836 didn't work for you, then maybe the camera hasn't been initialized at that point in time.

Are you not able to mimic what is done for focal length in the Iris [example,](https://github.com/google/mediapipe/blob/master/mediapipe/examples/android/src/java/com/google/mediapipe/apps/iristrackinggpu/MainActivity.java#L43)  and pl

[2021-04-23 17:01] mcclanahoochie commented on #1885
try changing    `     "//mediapipe/examples/desktop:demo_run_graph_main_gpu",  `
to    `             "//mediapipe/examples/desktop:simple_run_graph_main",  `

[2021-04-23 17:02] jiuqiant commented on #1926
Where do you put the opencv windows executable locally? You need to modify https://github.com/google/mediapipe/blob/master/WORKSPACE#L222 to be `path = "C:\\path\\to\\opencv\\build",` if you don't install opencv at C:\opencv.

See the step 8 of https://google.github.io/mediapipe/getting_started/install#installing-on-windows for more details.

[2021-04-23 17:05] mcclanahoochie commented on #1892
the DEQUANTIZE message can be ignored.

[2021-04-23 17:08] jiuqiant commented on #1922
We currently don't work on TensorFlow/Cuda support for MediaPipe Python. It definitely takes extremely long time if it needs to compile TensorFlow with GPU on a Jetson device. What we currently can achieve is TFLite with OpenGL for MediaPipe Python.   https://github.com/jiuqiant/mediapipe_python_aarch64 is also with TFLite cpu inference.

[2021-04-23 17:12] jiuqiant commented on #1921
We already use OpenCV to read webcam data. If you want to output results as a video, you can do this with OpenCV as well. You simply just need to initialize a cv2.VideoWriter and call `out.write(frame)` per annotated frame. See the tutorial at https://opencv-python-tutroals.readthedocs.io/en/latest/py_tutorials/py_gui/py_video_display/py_video_display.html#saving-a-video.

[2021-04-23 17:25] mcclanahoochie commented on #1898
Great!

The inference calculator(s) should support a vector of tensor inputs, and the order they are in gets directly mapped to the model inputs 0-N , so there is no way to specify named or out of order inputs.
The image to tensor converter calculator indeed only works with one image/tensor at a time though, so i guess you would need to either modify that, or have a custom calculator that accumula

[2021-04-23 17:30] xialuoke4062 commented on #1928
Hi, Thank you for opening this issue.

Python 3.7.9
macOS 10.14.6

I ran into the same issue. Both #1466 and #1349 recommended to install using `pip install mediapipe`, but after trying with multiple python versions inside/outside different env it still failed with:
`ERROR: Could not find a version that satisfies the requirement mediapipe (from versions: none)`
`ERROR: No matching distribution fou

[2021-04-23 17:35] H4ckerman666 commented on #1928
Resulta que como soy muy listo, mi archivo tenia el mismo nombre que la librería, ahora que lo cambie, funciona como debería

[2021-04-23 17:35] #1928 closed

[2021-04-23 17:39] AndreV84 commented on #1922
@jiuqiant Thank you for following up!
I tried to build with default python method;
it seems even installs opencv-python-contrib with pip but then fails at some dependencies
your instruction seems reffering to previous mediapipe releases but I will try with it few times adjusting it so it might work somehow;
But are there any chances to try bazel webcam somehow also?

[2021-04-23 19:05] mhays-google commented on #1606
I am currently writing a new input handler and noticed the same thing.  I
will be publishing a new version that has a stop() method.

On Fri, Apr 23, 2021 at 1:52 AM GowrojiSunil ***@***.***>
wrote:

[2021-04-23 19:31] rahulchaphalkar commented on #1926
You need to modify the file `opencv_windows.BUILD` located at `mediapipe/third_party/opencv_windows.BUILD`
Here it assumes you're using opencv version 3.4.10
Change the version to `"3414"` (referring to 3.4.14) or whichever you have installed
Hello_world worked because it didn't use opencv.

[2021-04-23 19:39] rahulchaphalkar opened #1933 "Debug Build Issue - Opencv + Windows"
When building a debug build on windows platform, for example for face_mesh, build fails with several `unresolved symbol` errors
[code]
Conmand line for this was
[code]
Build is successful for `-c opt`.

Reason for this is, in `mediapipe/third_party/opencv_windows.BUILD` file, the dll/lib files for opencv are not w/ debug symbols. Modifying this file to include following solves the problem -
[code]

[2021-04-24 01:51] jtg-gg opened #1934 "Is Mediapipe using Tflite + GPU delegate on Web ?"
I've successfully built mediapipe examples CPU version (using bazel + emscripten, tflite + xnndelegate)
since mediapipe web samples can use GPU, I am trying to do the same.
TfLite GPU delegate is using EGL initiation, which some how I can pass.
Currently I am stuck at binding GL_SHADER_STORAGE_BUFFER which is not supported with OpenGL ES 3.0

So If Mediapipe is using Tflite + GPU delegate on Web p

[2021-04-24 02:09] cjl84914 commented on #1892
@mcclanahoochie  thank you, this demo error, how can i do better?

[2021-04-24 02:23] tyrmullen commented on #1934
It's quite a lot of work.  Most GPU delegates use compute shaders, which don't exist for earlier versions of OpenGL ES (and therefore don't exist for WebGL1/WebGL2).  Which is why all our initial demos run the ML CPU-side.  Effectively those GPU ML backends are fundamentally incompatible with web at the moment.  To run ML on the GPU web-side, therefore, you'd need to write an entirely new ML backe

[2021-04-24 03:53] Frank-Dz opened #1935 "Conversion from skeleton to hand/body model?"
Thank you for your work!
Is there a way to convert the skeleton to a MANO/SMPL model?
That is compute the Hand mesh parameters according to the joint's position (suppose we do not need the skeleton length info)?

Thank you!

[2021-04-24 03:54] dauntless3 commented on #1926
It is at c:\opencv.

Thanks

[2021-04-24 03:54] dauntless3 commented on #1926
Yes changing to 3414 has solved it - thank you!

[2021-04-24 03:54] #1926 closed

[2021-04-24 10:59] DrStoop opened #1936 "face_mesh_gpu build for GPU actually running on CPU only"
### System setup
i'm running `face_mesh_gpu` desktop example for GPU on ubuntu 18.04 with full GPU support (in a nvidia docker container). All prerequisites, build and execution commands are successfully implemented ([OpenGL ES Setup on Linux Desktop](https://google.github.io/mediapipe/getting_started/gpu_support.html#opengl-es-setup-on-linux-desktop)) and even the `run`-output confirms the model

[2021-04-24 14:15] #1913 closed

[2021-04-24 19:06] alighofrani95 commented on #1393
It doesn't still fix my issue.

1. How can I draw specific landmarks by not all of them?
2. How can I draw every landmark with special attributes such as color and thickness?

[2021-04-24 19:06] alighofrani95 commented on #1920
It doesn't still fix my issue.

How can I draw specific landmarks by not all of them?
How can I draw every landmark with special attributes such as color and thickness?

[2021-04-24 23:15] codylieu opened #1937 "Temperature check on possible memory leak in Holistic JS solution"
Hello! I'm using the Holistic web solution in a WebRTC streaming application.

We've occasionally seen Holistic processing crash in a way that seems indicative of a memory leak:
![image](https://user-images.githubusercontent.com/6362795/115974931-47a7af00-a515-11eb-99d9-4e6b2194f4bd.png)

I'm currently unsure about whether the Holistic processing crash is the cause or a symptom of another issue. I

[2021-04-25 02:08] lilinxiong commented on #1919
Yes, the threshold is difficult to determine, actually I want to mention the shape of the mouth(Y control open or close, X control shape).

[2021-04-25 07:33] warmsh opened #1938 "hand landmark"
Hello, I am currently studying the hand tracking module in mediapipe. I now want to understand the relevant information inside the hand landmark detection model. However, the document only writes about the detected hand area through regression (ie direct coordinate prediction) The 21 3D hand joint coordinates inside are used for precise key point positioning, and no more detailed related informati

[2021-04-25 09:42] caoqiang250 commented on #1532
I have tried, and this problem still exists. When the program cannot detect the hand, this line of code will block the program forever, causing the program to feign death.

`auto& multiHandLandmarks = landmark_packet.Get<std::vector<::mediapipe::NormalizedLandmarkList>>();`

[2021-04-25 11:17] caoqiang250 commented on #1532
I have resoved this question, now it works well! this is my solution:
1.edit your gragh /mediapipe/graphs/hand_tracking/hand_tracking_desktop_live.pbtxt,add a node "PacketPresenceCalculator" and a output stream "landmark_presence". it is my graph:
'
# MediaPipe graph that performs hands tracking on desktop with TensorFlow
# Lite on CPU.
# Used in the example in
# mediapipe/examples/desktop/hand_tr

[2021-04-25 11:45] shonigs commented on #1885
Thanks  @mcclanahoochie  🥇.
With `simple_run_graph_main` I could run the graph like so (btw `simple_run_graph_main` expects `input_side_packets` instead of `side_packets`)
This works :
[code]
Thanks again.
P.S. should I open a PR with `hair_segmentation_desktop_file.pbtxt` and build etc. into the main repo ?

[2021-04-25 12:10] #1865 closed

[2021-04-25 18:58] LucaswasTaken commented on #1869
Sorry for the delay, I was thinking about a way to explain the problem. Because sometimes the position or the angle of the hands, between frames, the detection may fail and does not return the hand result (the body detection almost never happen). I think this could be solved by predicting the trajectory of the next hand position if the hand could not be detected in the next frame. In videos it was

[2021-04-26 03:25] jtg-gg commented on #1934
Thank yo @tyrmullen for fast reply
so I just want to confirm
1. Yes mediapipe is using tflite with GPU delegate
2. Mediapipe team has created tflite GPU delegate that is compatible with WebGL

so wondering when the code will be released? any timeline estimate ?

[2021-04-26 04:00] sgowroji commented on #1932
Hi @Thurguild, Could you please explain with complete details of your use case. Like what solution, Platform are you referring.  And can you share any screenshot of bounding box which you were describing in the above comment. Thanks

[2021-04-26 04:13] PopoTeaTree commented on #1758
Thank you very much it works!!!!
![Screenshot from 2021-04-26 11-13-02](https://user-images.githubusercontent.com/52104672/116028017-755d3700-a680-11eb-88a7-a3183549eb1a.png)

[2021-04-26 04:16] sgowroji commented on #1933
Hi @rahulchaphalkar, Could you please explain the steps followed to reproduce the above issue. Thanks!

[2021-04-26 04:17] #1758 closed

[2021-04-26 04:47] sgowroji commented on #1935
Please refer this link  https://github.com/google/mediapipe/issues/1743. Still any questions please let us know. Thanks!

[2021-04-26 05:43] sgowroji commented on #1921
Hi @timtensor, Did you get a chance to go through the above comment. Thanks!

[2021-04-26 05:47] sgowroji commented on #1659
We are closing this issue as of now. Due to lack of activity. Thanks!

[2021-04-26 05:56] sgowroji commented on #1869
Thank you for sharing your observation. It would be great if you can provide the error or failure screenshot. Thanks!

[2021-04-26 06:02] sgowroji commented on #1904
Assuming you are question is answered. We are closing this ticket. Thanks!

[2021-04-26 06:02] #1904 closed

[2021-04-26 06:04] sgowroji commented on #1798
Hi @alexrichardson21, Could you please share your issue status. Thanks!

[2021-04-26 06:04] sgowroji commented on #1685
We are closing this ticket due to lack of activity!

[2021-04-26 06:04] #1685 closed

[2021-04-26 06:05] sgowroji commented on #1673
We are closing this ticket as of now, Due to lack of activity!

[2021-04-26 06:05] #1673 closed

[2021-04-26 06:07] sgowroji commented on #1669
Assuming you are resolved with the above comment. We are closing this ticket. Thanks!

[2021-04-26 06:07] #1669 closed

[2021-04-26 06:08] #1659 closed

[2021-04-26 06:08] sgowroji commented on #1616
We are closing this ticket due to lack of activity.

[2021-04-26 06:08] #1616 closed

[2021-04-26 06:10] sgowroji commented on #1872
We are closing this issue as of now,  Due to lack of activity on it.

[2021-04-26 06:10] #1872 closed

[2021-04-26 06:11] sgowroji commented on #1846
Due to lack of activity on this issue. We are closing this ticket.

[2021-04-26 06:11] #1846 closed

[2021-04-26 07:32] Frank-Dz commented on #1935
Thank you very much!
Yet, I am trying to convert the skeleton into a mesh:

![image](https://user-images.githubusercontent.com/55009565/116045337-8b7cee80-a6a4-11eb-8c2c-f51172550ccc.png)

This is the hand model: MANO.

Thanks!

[2021-04-26 08:26] aoxipo opened #1939 "C++ Face_mesh `can't find file 'mediapipe/graphs/face_mesh/face_mesh_desktop_live.pbtxt' `"
I ran into an error in ubuntu when I compiled and ran Face_mesh project,it's `can't find file 'mediapipe/graphs/face_mesh/face_mesh_desktop_live.pbtxt' ` , I try to change the path to absolute and relative, i got pass on absolute **but error in relative path**, and  when  i run the program  i got error  `'Failed to load model from path mediapipe/modules/face_detection/face_detection_front.tflite',

[2021-04-26 08:39] aoxipo opened #1940 "C++ face_mesh Check failed: poller OutputStreamPollerImpl is already destroyed."
i try to write a class based face_mesh project and i got problem in poller , i changed
`ASSIGN_OR_RETURN(mediapipe::OutputStream Poller, graph.AddOutputStreamPoller(kOutputStream));` like this
[code]
and the compilation was successful. but failed in run program.
[code]
i try to reset the poller but it's didn't work , Is it necessary to define poller  like `ASSIGN_OR_RETURN(mediapipe::OutputStream

[2021-04-26 09:00] atiselsts commented on #1898
@mcclanahoochie Thanks - using multiple inputs would achieve what I want without modifying the model.

I'm not sure how to write that though? I tried this, but got a runtime error

[code]
The error is:

`2021-04-26 11:54:57.096 7430-7720/com.google.mediapipe.apps.washingmovements E/native: E20210426 11:54:57.096338  7720 graph.cc:471] while processing the input streams of subgraph node InferenceCa

[2021-04-26 09:33] ivanmang commented on #1546
I have used the calculator provided here: https://github.com/google/mediapipe/pull/1559

and trying to add add the _IrisLandmarkLeftAndRightFromFaceLandmarksGpu_ after the face prediction in Holistic.

However, seems like it still doesn't work. The app crashes after a few second on my Samesung S21 phone.
I stuck here for a few days and would appreciate if you can spot the mistake.

Here is my impl

[2021-04-26 09:44] RuiLoureiro commented on #1599
@sgowroji The warnings are the same as in the original post:
[code]
Thank you

[2021-04-26 13:05] lilinxiong opened #1941 "Minimum configuration requirements to run Mediapipe"
Android:
         For example, support the lowest CPU, support the lowest Android OS....
IOS:
         Iphone 8 ? ipheon X ?.....
win desktop:
         CPU, GPU,RAM Size....

I did not find the corresponding instructions in the official documentation.....
Can you help me ?

[2021-04-26 13:12] midhulavijayan commented on #1927
Finally, solved the issue.. :)

[2021-04-26 15:13] mhays-google commented on #1937
I see this.  Will check it out.

[2021-04-26 15:51] jiuqiant commented on #1936
Reassign this issue to @mcclanahoochie  who knows OpenGL settings better.

[2021-04-26 15:53] mhays-google commented on #1937
I have gone through our testing on Holistic and I see no memory leaks on the basic solution.  However, I may still be able to help.  WASM requires that any class created must subsequently be deleted to avoid memory leaks.

Can you check to see if it's possible that you are creating multiple copies of Solution without also calling `close()` on those solutions?  Remember that close() does return a P

[2021-04-26 15:59] jiuqiant commented on #1920
You can get landmark coordinates by accessing the landmark by name. The landmark names are defined at https://github.com/google/mediapipe/blob/master/mediapipe/python/solutions/pose.py#L44. For example, you can get the nose landmark by

[code]

MediaPipe's simple drawing_util is just for showing users how to parse the landmark outputs. Feel free to use your favorite drawing library to draw annotat

[2021-04-26 16:00] #1920 closed

[2021-04-26 16:09] jiuqiant commented on #1911
This is an error occurred in TFLite. Unfortunately, TFLite doesn't support ARM native build with Bazel: https://github.com/tensorflow/tensorflow/issues/42471#issuecomment-696529766. Feel like there is not too much we can do with this issue.

[2021-04-26 16:45] rahulchaphalkar commented on #1933
I followed the steps for installation on windows listed [HERE](https://google.github.io/mediapipe/getting_started/install.html#installing-on-windows)
Downloaded opencv 3.4.10 from https://opencv.org/releases/ as recommended, modified `WORKSPACE` file to ensure it points to the opencv location.
`Hello world` ran as expected.
Built Mediapipe face_mesh model for cpu according to instructions [HERE](h

[2021-04-26 17:11] TannerYork commented on #1273
Hi @jiuqiant, it seems you're the person to ask for jetson GPU support.

I've successfully built and ran mediapipe with the CPU on my Jetson Xavier but I've failed to get the hand tracking to work using GPU through the python [example](https://google.github.io/mediapipe/solutions/hands.html). I've followed issues #1042, #1651, #1344, and everything works up until I need to modify the .pbtxt file t

[2021-04-26 18:19] armstrong0919 commented on #983
Hi! I got the same problem in Ubuntu.
Even follow the step from @jiuqiant and mediapipe's Troubleshooting, still can't sove this problem :(

ps.Sorry my poor English

[2021-04-26 21:41] txf- commented on #1042
Can I ask what version of mediapipe you tried?

[2021-04-26 21:43] VLorin commented on #1042
0.8.1 and 0.8.3.1, performance are similar.

Le lun. 26 avr. 2021 à 23:42, Tiago Furtado ***@***.***> a
écrit :

[2021-04-27 01:10] aoxipo commented on #1939
I have already solve the quetion, here is my speculate
Bazel compiles by relocating the program so that the internal file path is the workspace file path.
so you must to run the exe Under the workspace file path.

[2021-04-27 01:10] #1939 closed

[2021-04-27 01:11] aoxipo commented on #1940
I have already solve the quetion, here is my speculate
Bazel compiles by relocating the program so that the internal file path is the workspace file path.
so you must to run the exe Under the workspace file path.

[2021-04-27 01:11] #1940 closed

[2021-04-27 03:15] sgowroji commented on #1593
We are closing this issue now due to lack of activity.

[2021-04-27 03:15] #1593 closed

[2021-04-27 03:34] sgowroji commented on #1927
Glad to know you resolved. Posting your solution will help others when they encounter similar issue. Thanks!

[2021-04-27 03:34] #1927 closed

[2021-04-27 04:23] jiuqiant commented on #1933
Does https://github.com/google/mediapipe/issues/1718#issuecomment-794353452 help?

[2021-04-27 04:47] sgowroji commented on #1803
Hi @vandics, Can you respond to my above comments!

[2021-04-27 05:12] codylieu commented on #1937
Thanks for the quick reply @mhays-google!

Your comment helped me find out that I was indeed instantiating multiple copies of Holistic in one of my flows. I'm not sure yet if this is also the root cause for the flow that originally led to my question though, but will continue digging and circle back. Just wanted to respond sooner than later to thank you for the useful advice!

Also just for my cur

[2021-04-27 06:17] sgowroji commented on #1724
Assuming your above query resolved, we are closing this issue.

[2021-04-27 06:17] #1724 closed

[2021-04-27 06:21] sgowroji commented on #1784
Hi @yangcheng, Did you get a chance to reproduce the above issue. Thanks!

[2021-04-27 06:25] sgowroji commented on #1800
Assuming you are resolved with above comment. We are closing this issue.  Feel free to reopen if you still face the same issue.

[2021-04-27 06:25] #1800 closed

[2021-04-27 06:28] sgowroji commented on #1819
Hi @rachid-bousaid, Could you please respond to the above comment.  Thanks!

[2021-04-27 06:30] sgowroji commented on #1847
Hi @b4017816, Did you get a chance to go through the above comment. Thanks!

[2021-04-27 06:32] sgowroji commented on #1868
Hi @Pythonsegmenter, Did you get a chance to go through the above comments. Thanks!

[2021-04-27 06:39] sgowroji commented on #1882
Hi @weixinz1, Could you please look into the above comment. Thanks!

[2021-04-27 06:41] sgowroji commented on #1888
Hi @alekhra, Could you please share your issue status.

[2021-04-27 06:44] sgowroji commented on #1891
Thanks for sharing your observations. We are closing this issue now as we see you got required help.

[2021-04-27 06:44] #1891 closed

[2021-04-27 06:45] sgowroji commented on #1892
Hi @cjl84914, Can you share us the crash logs.

[2021-04-27 06:54] weixinz1 commented on #1882
@mcclanahoochie  @sgowroji thanks, I will try it

[2021-04-27 07:20] cjl84914 commented on #1892
@sgowroji
`04/27 15:19:28: Launching 'app' on Physical Device.
Install successfully finished in 8 s 271 ms.
$ adb shell am start -n "com.example.myfacedetectionapp/com.example.myfacedetectionapp.MainActivity" -a android.intent.action.MAIN -c android.intent.category.LAUNCHER
Connected to process 20706 on device 'huawei-oxf_an00-8UJDU19B22003185'.
Capturing and displaying logcat messages from applic