[2021-03-04 07:24] wxk2008 commented on #1694
I am very sorry to bother you, I have known the reason.The handtrack graph has no related configuration files

[2021-03-04 08:08] #1694 closed

[2021-03-04 08:09] djthegr8 commented on #1677
Ah, in that case you could close this and support #1389

[2021-03-04 08:33] bhavikapanara opened #1701 "How to get landmark coordinates using pose_landmark_upper_body.tflite model"
Hi Team,

I successfully run the [pose_landmark_upper_body.tflite](https://github.com/google/mediapipe/blob/master/mediapipe/modules/pose_landmark/pose_landmark_upper_body.tflite) using below code.

[code]

[code]

`output_details`

[code]

But it is very tough to interpret the model's output. The model return 3- output vectors with different shape (1, 155), (1, 1) and (1, 128, 128, 1).

Can you p

[2021-03-04 09:21] TheBricktop commented on #1659
Did you tried putting android on raspberry pi4? I know its not the best solution but android has gpu support so it might help.

[2021-03-04 09:38] sgowroji commented on #1621
Hi @martincho0731 , Closing it as the issue resolved. Thanks !

[2021-03-04 09:38] #1621 closed

[2021-03-04 09:46] sgowroji commented on #1674
Hi @nyanmn, Closing this issue as you resolved from the above comments. Thanks !

[2021-03-04 09:46] #1674 closed

[2021-03-04 10:27] narolski commented on #1427
@mhays-google Is there any update regarding this issue? Your demos are quite amazing, but the lack of the iOS/Safari support limits potential applications 😞

[2021-03-04 10:38] legsoft commented on #1679
Sorry for my late response. Yes it's working or better said, it's building the AAR fine. But i can't validate the functionality in a real project a the moment

[2021-03-04 11:23] mufaawan commented on #1698
@sgowroji  I would like to have Python based solution. But C++ would also work for me.

[2021-03-04 14:00] mejimaru commented on #1692
Hi Jiugiant, thank you for resolving this issue.

[2021-03-04 14:08] nickharmening commented on #1666
Sure, i ran it with the colab notebook you provided: https://mediapipe.page.link/pose_py_colab

[2021-03-04 14:41] simplo opened #1702 "Help with GPU with Python and Windows"
I just implented with success the hand tracking code in Python and it works very well.
Now I'd like to test it running on GPU.
I think I have to change the target reference from
mediapipe/examples/desktop/hand_tracking:hand_tracking_cpu
to
mediapipe/examples/desktop/hand_tracking:hand_tracking_gpu

I think I should build it in someway but cannot find any info about it.

Can you please help me?
Tha

[2021-03-04 15:21] Thaina commented on #36
Why this issue was closed though? We should have unity integration of this library

[2021-03-04 15:46] Santhanalakshmimano commented on #1675
I solved the above problem it was due to linking problem in opencv_linux.BUILD file.

[2021-03-04 15:46] #1675 closed

[2021-03-04 15:55] legsoft commented on #1679
I tested it out in a React Native Project. It's working fine with this fix. Thank you very much!

[2021-03-04 15:56] Santhanalakshmimano opened #1703 "Mediapipe Face detection in Python"
OS: Ubuntu 16.04

I created a virtual environment - python 3.7 . I installed python mediapipe with the command "pip install mediapipe". I am able to import mediapipe in python interpreter:
[code]

But when I try to import mediapipe using .py file I get the following error:
[code]
NOTE: I have mediapipe folder installed in /pymediapipe/lib/python3.7/site-packages/mediapipe/
What is the issue ? why

[2021-03-04 16:40] utsavDave97 commented on #1399
same issue

[2021-03-04 16:52] tyrmullen commented on #1621
@afogel To answer your last question: currently that decision is baked into the MediaPipe graph, but that would be an excellent option for us to add-- especially since that should also provide a workaround for issues like #1430.

[2021-03-04 16:52] vivi90 commented on #36
Same opinion.

[2021-03-04 17:00] tyrmullen commented on #1672
@martincho0731 Our pre-packaged camera utilities do not yet support external webcams.  But you should be able to use JavaScript/TypeScript to grab the camera stream of your choice and hook it to an HTMLVideoElement.  Once you've done that, requestAnimationFrame callbacks can be used to repeatedly send to holistic references to that HTMLVideoElement for processing.  This is definitely a feature we

[2021-03-04 17:00] tyrmullen commented on #1672
(For reference on grabbing webcam streams: https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia)

[2021-03-04 17:13] #1672 closed

[2021-03-04 17:34] jiuqiant commented on #1692
Glad to help. Closing this issue now.

[2021-03-04 17:34] #1692 closed

[2021-03-04 17:38] jiuqiant commented on #1640
The error "The Packet stores "int", but "bool" was requested." is pretty clear.

So, probably you need to do

[code]

[2021-03-04 17:44] jiuqiant commented on #1344
See the code to run mediapipe python v0.8.3.1 on gpu: https://github.com/google/mediapipe/issues/1651#issuecomment-790176010

[2021-03-04 17:47] #1622 closed

[2021-03-04 17:49] jiuqiant commented on #1703
Do your `python` and `python3` point to the same thing? Note that you do `$ python face_detection.py` rather than `$ python3 face_detection.py`.

[2021-03-04 17:51] jiuqiant commented on #1702
Unfortunately, MediaPipe Windows doesn't support GPU yet.

[2021-03-04 17:51] #1702 closed

[2021-03-04 17:52] #1679 closed

[2021-03-04 18:06] mejimaru opened #1704 "Store previous x_center, y_center or height of hand_rects detection per frame on Hands landmark? - Mediapipe Python"
previous x_center, y_center or height of hand_rects detection

[2021-03-04 18:36] kostyaby commented on #1678
Hey @estiez-tho!

As you correctly observed, our face blendshape prediction technology used for the GIFs is not open-sourced in MediaPipe yet. I'll defer the question of whether it'll be OSSed and the timeline to @chuoling and @mgyong

[2021-03-04 18:44] vladlev-voir commented on #1578
You should delete OpenCvEncodedImageToImageFrameCalculator (that expects string as input),  for passing image frame directly.
There are working graph and python code:

<details>
  <summary>Graph description</summary>

[code]
  </details>

<details>
<summary> Graph run code </summary>
[code]

</details>

[2021-03-04 18:48] vladlev-voir commented on #1578
@jiuqiant Thank you. That solved my problem!

[2021-03-04 18:48] #1578 closed

[2021-03-04 21:26] simplo commented on #1702
Thanks for your reply.
Does it works on MAC?

[2021-03-05 02:55] cjl84914 commented on #1640
but i need multi face effect, how can i do better?

[2021-03-05 03:24] ctippur commented on #1591
Any pointers to resolve this?

[2021-03-05 03:31] NoMoreRoominHell opened #1706 "version_info.cc failed: (Exit 2): bash.exe failed: error executing command"
bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 --action_env PYTHON_BIN_PATH="C://Python//Python36//python.exe" mediapipe/examples/desktop/hand_tracking:hand_tracking_cpu
![QQ截图20210305113018](https://user-images.githubusercontent.com/14010726/110063510-42947200-7da6-11eb-87d9-41175df65fb8.jpg)

[2021-03-05 03:54] ctippur commented on #1591
I am using the desktop platform.

[2021-03-05 04:46] Santhanalakshmimano commented on #1703
Thanks for the response. Yes When I run with ```python3 face_detection.py``` it worked but when I run with ```python face_detection.py``` It failed.

[2021-03-05 04:56] NoMoreRoominHell commented on #1706
BUILD:367:24: Action external/org_tensorflow/tensorflow/core/util/version_info.cc failed: (Exit 2): bash.exe failed:

[2021-03-05 05:01] NoMoreRoominHell commented on #1706
BUILD:367:24: Action external/org_tensorflow/tensorflow/core/util/version_info.cc failed: (Exit 2): bash.exe failed: error executing command

[2021-03-05 06:06] #1704 closed

[2021-03-05 06:59] kadirbeytorun commented on #1294
@ctippur I am also having the same issues. Have you come to any conclusion about this?

Also I am confused about the model output. In model card it shows the output will be 2D, so basically 5x2(for eye landmarks), 71x2 (for eyebrows etc)
https://drive.google.com/file/d/1bsWbokp9AklH2ANjCfmjqEzzxO1CNbMu/view
But when I examine the model myself it outputs 3D results, 5x3 and 71x3

@mgyong Can you cl

[2021-03-05 07:44] sgowroji commented on #1677
@djthegr8 We will be closing this as per your update. Thank you !

[2021-03-05 07:44] #1677 closed

[2021-03-05 07:46] djthegr8 commented on #1677
Alright, but here's another request to all the maintainers to look at #1389 cuz it'll help a lot of us 👍

[2021-03-05 08:52] gkarpiak commented on #1683
@duy-maimanh I think you should be able to detect if `LANDMARKS:multi_face_landmarks` packet is present or not using [`PacketPresenceCalculator`](google3/third_party/mediapipe/calculators/core/packet_presence_calculator.cc) it will return you a packet containing `true` or `false` which you could use to hide/show your view.

[2021-03-05 09:06] duy-maimanh commented on #1683
@gkarpiak Thanks for your help. I found that func and it works fine.

[2021-03-05 11:03] spoorthysangineni commented on #1239
Hi @bannani I am facing the same errors. Did you manage to fix them?

[2021-03-05 11:19] mayank10j opened #1707 "Build issue windows using msys"
After installing all dependencies for windows build including msys, build tools , opencv etc.
On issuing hello world bazel build command:

`bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 --action_env PYTHON_BIN_PATH="C://Anaconda3//python.exe" mediapipe/examples/desktop/hello_world`

I am getting following error:
`Error: ERROR: C:/users/******/_bazel_******/mvh33bjd/external/com_github_gflags

[2021-03-05 11:38] ostryhub commented on #36
Same here.

[2021-03-05 11:51] ROBYER1 commented on #36
It's been 2 years, I could write an essay of use cases if you need. Many current projects would benefit from this

[2021-03-05 11:54] aarushi-mittal commented on #1422
Any updates on the coordinate availability yet ?

[2021-03-05 12:10] rtrn1337 commented on #36
Maybe this could help? https://github.com/homuler/MediaPipeUnityPlugin

[2021-03-05 12:26] midhulavijayan commented on #1595
I have followed "https://google.github.io/mediapipe/getting_started/android.html#option-1-build-with-bazel-in-command-line" this link. Even i tried MediaPipe AAR (multihand detection) also [ "https://google.github.io/mediapipe/getting_started/android_archive_library.html"]. The aar based app is working in "oppo Reno 2f", but the same app is stopped working in "samsung galaxy J7" Is there any minim

[2021-03-05 12:33] rmothukuru commented on #1623
@prantoran,
Can you please respond to the above comment? Thanks!

[2021-03-05 12:34] rmothukuru commented on #1609
@Nyohohoho,
 Can you please respond to the above comment? Thanks!

[2021-03-05 12:35] rmothukuru commented on #1590
@tucachmo2202,
Can you please respond to the above comment? Thanks!

[2021-03-05 12:53] nadir500 commented on #36
The main challenge in Unity currently is to make hands tracking with depth perception an option in vr/ar interactions using mobile camera instead of tracking devices such as leap motion which has no android sdk, of course it's all going to be tuned in real-time since the slightest lag would hurt the experience on some cases.
The projects I make on unity often include merging research with vr envir

[2021-03-05 12:59] sgowroji commented on #1707
Hi @mayank10j , Did you get a chance to go through the below [steps](https://google.github.io/mediapipe/getting_started/install.html#installing-on-windows) . And have a look over [here](https://github.com/google/mediapipe/issues/1072#issuecomment-684183528) seems similar

[2021-03-05 13:20] KDevS commented on #36
Unity support for MediaPipe would be really welcome. Anyone who has worked in the AR/VR/MR applications would love a stable hand-tracking option without being dependent on expensive and/or walled-off hardware to pull it off. I have seen some really good work done on hand-tracking done with just a single RGB camera by some university teams a few years back but none of them were opened up to public,

[2021-03-05 14:03] lernem commented on #1344
Thank you jiuqiant. I've been working on another model recently and I'll be back to try your solution in the future.

[2021-03-05 14:30] Nyohohoho commented on #1609
I am really sorry for the late response.
The second one worked!

[2021-03-05 14:37] ctippur commented on #1591
Apologies. I had to add the missing DetectionLetterboxRemovalCalculator calculator to the build. I am able to process the video now. We can close this issue. Thanks for the help.

[2021-03-05 23:23] simon-lanf opened #1708 "Hard crash on Chrome 88"
Here is the error:
Error:
{"name":"RuntimeError","message":"abort(undefined) at Error
 at jsStackTrace (/mediapipe/face_mesh/face_mesh_solution_wasm_bin.js:9:68379)
 at stackTrace (/mediapipe/face_mesh/face_mesh_solution_wasm_bin.js:9:68555)
 at abort (/mediapipe/face_mesh/face_mesh_solution_wasm_bin.js:9:42200)
 at _abort (/mediapipe/face_mesh/face_mesh_solution_wasm_bin.js:9:180304)
 at /mediapi

[2021-03-06 02:05] lizhanping opened #1709 "DeadLock occured when i get face_detections packet in the Face Detection Samples"
i want to get the face number in the image, so i change the code in Face Detection Sample. and i change the graph outputstreampoller to face_detections like below. so i  output the face_detections info but not reander image data.
ASSIGN_OR_RETURN(mediapipe::OutputStreamPoller poller,face_detect_graph.AddOutputStreamPoller("face_detections"));
![image](https://user-images.githubusercontent.com/2427

[2021-03-06 07:08] adarmawan117 opened #1710 "Error on following "Build with Bazel in Android Studio""
I have followed the tutorials of : https://google.github.io/mediapipe/getting_started/android.html
But i faced this error:
**This bazel problem**
.
![image](https://user-images.githubusercontent.com/46953807/110198279-03d4e980-7e84-11eb-8901-ed859ee87149.png)
.
.
.
**When i sync bazel, i faced error :**
ERROR: An error occurred during the fetch of repository 'local_execution_config_python':
   Tra

[2021-03-06 07:23] bharathCoitor opened #1711 "face detection model can not work wide angle or CCTV cameras, how can I adjust minimum face size for face detection"
path=" cctv names"
cap = VideoStream(src=path).start()
time.sleep(2.0)
with mp_face_detection.FaceDetection(
    min_detection_confidence=0.5) as face_detection:

  while(True):
##  while cap.isOpened():
##    success, image = cap.read()
    image = cap.read()
    image = imutils.resize(image, width=1000)
##    if not success:
##      print("Ignoring empty camera frame.")
##      # If loading a vi

[2021-03-06 09:43] hungtooc opened #1712 "how can i get 3d axis and draw_axis in face_mesh (python)"
im using this example code:
[code]
how can get & draw mp_drawing.draw_axis() function.
thank you sir.

[2021-03-06 14:19] mufaawan commented on #1698
@sgowroji  waiting for response :)

[2021-03-06 16:26] manishiitg opened #1713 "detect if person is laughing"
using the data points we get from face detect, is it possible to detect if a person is a laughing smiling ?

does any one have code for this ?

thanks

[2021-03-07 07:24] milad-4274 opened #1714 "pass multi varibale from java to graph(.binarypb)"
Hi, I have five button in android and I want to pass boolean value to graph as input stream, my approach for adding one button to MainActivity.java is inspired from faceeffect MainActivity.java.
I'e defined an input stream name variable:
`private static final String IS_LIP_SELECTED_INPUT_STREAM_NAME ="is_lip_selected";`
I've defined an object and a boolean variable and a view:
`  private final Obj

[2021-03-07 08:42] wxk2008 opened #1715 "run the hand-tracking apk, it crashs"
02-25 01:12:45.312  2350  2395 W System.err: java.lang.NullPointerException: Attempt to read from field 'android.os.MessageQueue android.os.Looper.mQueue' on a null object reference
02-25 01:12:45.312  2350  2395 W System.err: 	at android.os.Handler.<init>(Handler.java:234)
02-25 01:12:45.312  2350  2395 W System.err: 	at android.os.Handler.<init>(Handler.java:141)
02-25 01:12:45.312  2350  2395 W

[2021-03-07 09:11] milad-4274 commented on #1714
My problem solved. I used multi
`processor.setOnWillAddFrameListener`
and solved by use one `setOnWillAddFrameListener` and add 5 packets into it.

[2021-03-07 09:11] #1714 closed

[2021-03-07 17:21] badushaebrahim commented on #1687
No I think there is one to use gpu also

[2021-03-08 02:33] wxk2008 commented on #1715
I found the error in this function
processor.addPacketCallback(
        OUTPUT_LANDMARKS_STREAM_NAME,
        (packet) -> {
          //Log.d("CAMERA", "**********************************information_5***************************");
          byte[] landmarksRaw = PacketGetter.getProtoBytes(packet);
          try {
            landmarks = NormalizedLandmarkList.parseFrom(landmarksRaw);
            i

[2021-03-08 03:48] sgowroji commented on #1683
@duy-maimanh Closing this issue as your resolved from the above comments. Thanks !!

[2021-03-08 03:48] #1683 closed

[2021-03-08 03:50] sgowroji commented on #1703
@Santhanalakshmimano Closing this issue as your resolved from the above comments. Thanks !!

[2021-03-08 03:50] #1703 closed

[2021-03-08 07:31] josephrocca opened #1717 "Heads up that mediapipe.dev has a SSL cert error"
![image](https://user-images.githubusercontent.com/1167575/110288569-310bce00-8023-11eb-8e21-d87478e2f1a7.png)

[2021-03-08 07:52] sgowroji commented on #1715
Hi @wxk2008 ,  I assume you are using hand tracking in android. May be you should change the above lines as below
For reference see [here](https://github.com/google/mediapipe/blob/a92cff7a60031f5c3097b06e74416732d85b5011/mediapipe/examples/android/src/java/com/google/mediapipe/apps/handtrackinggpu/MainActivity.java)

[code]

[2021-03-08 08:05] Eunchan24 commented on #1717
me too..

[2021-03-08 08:08] sgowroji commented on #1617
Hi @Vladislav489 , Did you get a chance to go through above comment.

[2021-03-08 08:18] sgowroji commented on #1713
Hi @manishiitg ,  What platform are you targeting for.

[2021-03-08 08:33] sgowroji commented on #1710
Hi @adarmawan117 Which solution are you trying for ?

[2021-03-08 09:01] flyinskyin2013 commented on #1673
Did you solve it?

[2021-03-08 09:29] PeterPocsi opened #1718 "build MediaPipe C++ with debug option on Windows"
Hi,

I tried to build MediaPipe on Windows the C++ debug version, but it failed due to unresolved external for OpenCV functions. I found the issue. OpenCV has separate lib and dll for debug version with 'd' postfix.
A possible solution using config_setting:

[code]

Peter

[2021-03-08 09:46] sgowroji commented on #1711
Hi @bharathCoitor, Can you share us in details,  what trouble are you seeing with wide angle or CCTV cameras.   Thanks !!

[2021-03-08 10:52] esnho opened #1719 "Mediapipe doesn't work as npm package"
Hello,

I'm trying to use medipipe as dependency of my npm project.

You can find my project here: https://github.com/esnho/mediapipe-minimal-setup

@mediapipe dependencies can be installed with no issues, the problem is when I try to import Mediapipe in my source.

Visual Studio Code is complaining that the module can't be found, webpack is throwing the same error:

[code]

To reproduce clone abo

[2021-03-08 11:14] manishiitg commented on #1713
Browser so via js

On Mon, Mar 8, 2021, 1:48 PM GowrojiSunil <notifications@github.com> wrote:

[2021-03-08 12:17] sgowroji commented on #1708
Hi @simon-lanf Could you please elaborate the issue with complete details. Thanks !!

[2021-03-08 13:10] sgowroji commented on #1719
Hi @esnho  Did you verify your import paths ? Have a look over similar [issue](https://github.com/google/mediapipe/issues/1411#issuecomment-754674105)

[2021-03-08 13:52] simon-lanf commented on #1708
@sgowroji it happens when mediapipe is running inside chrome mobile 88, on a factory reset phone. Everything downloaded from the play store. I get this error and I retry after a couple of seconds but I always get the same error.

[2021-03-08 14:21] esnho commented on #1719
Thanks, with the right import resolved the error, I've updated above repository with the solution.
Do you plan to support "root imports"?

[2021-03-08 14:31] sgowroji commented on #1719
@esnho  We will let you know if there are any. Closing this issue as you resolved from the above comments.

[2021-03-08 14:31] #1719 closed

[2021-03-08 15:48] simon-lanf commented on #1717
Still not working right now.

You can still use https://google.github.io/mediapipe/

[2021-03-08 16:28] adarmawan117 commented on #1710
https://stackoverflow.com/a/65342590

[2021-03-08 16:29] adarmawan117 commented on #1710
By the way. I have succesfull running desktop hello world and hand tracking example.
But this android example (on android studio), i facef that error

[2021-03-08 16:31] adarmawan117 commented on #1710
By the way, i use windows

[2021-03-08 17:54] ocastan commented on #1717
viz.mediapip.dev cert broken too

[2021-03-09 01:37] akyeww commented on #1681
I believe this issue is fixed with the latest version (0.1.1614621970) and even fps was improved. Thanks for the great work!!

[2021-03-09 01:37] #1681 closed

[2021-03-09 01:39] ahmadyan commented on #1647
Your debug dump is not very informative, so I can't guess what is going wrong here. It looks like you are pinging filter_detection_calculator.cc, which is for the 2D crop and not what you are looking for. Maybe 2D detector is not detecting any shoe, so the 3D detector is not even firing up.

What you need is the [lifted_objects](https://github.com/google/mediapipe/blob/master/mediapipe/graphs/obje

[2021-03-09 01:49] kurnyaannn commented on #1695
I'm having this problem too, the lib is working perfectly fine, but when you open up the console it's very annoying to find warning for each frame. Hope this get fixed.

[2021-03-09 03:43] sgowroji commented on #1717
Resolved can you please check !!

[2021-03-09 04:31] #1717 closed

[2021-03-09 05:00] prantoran commented on #1623
Thank you for sharing the blog. I am sorry for the late reply, I am stuck in another feature.

I read the blog which provide details for Python APIs to access the landmarks. I did the same in C++ to implement detection of static gestures. But in order to detect dynamic gestures, I would need to train a simple classifier using the sequence of landmarks.

I guess one way is to collect landmarks data

[2021-03-09 05:02] #1623 closed

[2021-03-09 05:35] GNUaquin commented on #1530
@jiuqiant Thanks a lot! It works.

[2021-03-09 05:59] flyinskyin2013 commented on #1673
It's will be ok by using 'return absl::lts_2020_09_23::StatusOr<mediapipe::Tensor>(std::move(tensor));' in place of 'return tensor;'

[2021-03-09 06:53] sgowroji commented on #1708
Hi @simon-lanf , Did you get a chance to go through this [issue 1427](https://github.com/google/mediapipe/issues/1427)  [1459](https://github.com/google/mediapipe/issues/1459).

[2021-03-09 07:36] sgowroji commented on #1710
Hi @adarmawan117 , As we mentioned in https://google.github.io/mediapipe/getting_started/install#installing-on-windows, MediaPipe doesn't support building its Android apps on native Windows because of the limited bazel support for Android on native Windows. Please try WSL instead. You can find the instructions at https://google.github.io/mediapipe/getting_started/install#installing-on-windows-subs

[2021-03-09 08:37] sgowroji commented on #1718
Hi @PeterPocsi , Could you please share complete details of the above issue with your error build logs.

[2021-03-09 08:39] sufiaji opened #1720 "Segmentation fault (core dumped)"
Dear Team,

Thank you for this awesome library. However I got segmentation fault core dumped error when calling face_mesh.result. The program basically runs a facial landmarks detection from a video file by reading frame by frame. Any clue on this dump?
Thanks in advance.

![image](https://user-images.githubusercontent.com/7789546/110442114-1c940800-80ed-11eb-9599-a669990021e2.png)

[2021-03-09 09:43] sgowroji commented on #1706
Please go through this issues seems u have similar like them. [1658](https://github.com/google/mediapipe/issues/1658)
[908](https://github.com/google/mediapipe/issues/908)

[2021-03-09 10:18] PeterPocsi commented on #1718
Hi @sgowroji,
Yes, sure. I think it is a general issue, but I can replicate the build error via hand tracking (for example). I'm building the latest MediaPipe (0.8.3.1) code. The optimized version (-c opt) compiles properly:
`bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 --action_env PYTHON_BIN_PATH="C://Users//pocsi.peter/AppData//Local/Programs/Python/Python36//python.exe" mediapipe/exampl

[2021-03-09 11:07] sgowroji commented on #1718
Hi @PeterPocsi , Presuming your issue is similar to [this](https://github.com/google/mediapipe/issues/1567#issuecomment-771258850) .

[2021-03-09 11:29] sgowroji commented on #1639
Hi @Sihan-Song Have a look over on the above comments!!

[2021-03-09 11:41] sgowroji commented on #1647
Hi @Nekokojpn , Please go through the above comment and share the status.

[2021-03-09 12:08] PeterPocsi commented on #1718
Hi @sgowroji,
The one that you linked is Python problem. I've set my PYTHON_BIN_PATH properly, and the compiler does not have any problem finding my Python. My issue is connected to OpenCV library, more specifically, the debug version.

[2021-03-09 12:19] sgowroji commented on #1720
Hi @sufiaji , Could you please provide complete details of the above issue for better understanding.
Like  What did you try , Which solution & platform.

Thanks!

[2021-03-09 12:36] mayank10j commented on #1707
Yes I have followed all [steps](https://google.github.io/mediapipe/getting_started/install.html#installing-on-windows). I took a look over [here](https://github.com/google/mediapipe/issues/1072#issuecomment-684183528) but linked issue is saying that it was fixed in this [commit](https://github.com/google/mediapipe/commit/c828392681bc343a90e188c5ad5f295bada1eefb)
I am running this on latest master,

[2021-03-09 14:01] sufiaji commented on #1720
Hi @sgowroji

Thanks for fast reply.
What I tried was actually to estimate the head pose based on facial landmarks provided by Mediapipe. I wrap my program in a Flask App so that it can be called as an API to detect a head pose. My code is actually reading an existing mp4 file (a video of a person moving his/her face) on a local dir using OpenCV (cv2.VideCapture(<filename>)) and estimate the facia

[2021-03-09 14:19] simon-lanf commented on #1708
I didn't but I see that it seema like it is the same problem, but they say that facemesh works for them but not for me.
Issues 1430 and 1436 are also the same problem it seems.

[2021-03-09 14:39] vivi90 commented on #36
Yes, we really need this stuff for Unity!

[2021-03-09 17:08] mariamrahmaani commented on #1651
@jiuqiant Thanks for your patch. I used this patch and it resolved my issue. Thanks for sending it.

However I don't think the model is running on GPU at all.

This is what I did on my ubuntu 20.4 and using A100 GPU:

Download the mediapipe.v0.8.3.1
git apply above-patch.diff
python setup.py gen_protos
python setup.py install

This runs without any error, however when I run the holistic model I do

[2021-03-09 17:22] Bekzod1994 opened #1721 "implementing wearing glasses app through face mesh"
How can i implement wearing glasses app through face mesh? i saw ur presentations, but i couldn't find any real life examples (necessary, sample codes), i couldn't find any handbooks, tutorials and etc... in terms of it, please share if u have anything related to this? For android

[2021-03-09 18:53] jiuqiant commented on #1718
To be honest, I never tried the debug version of the OpenCV lib with MediaPipe on Windows. I feel sorry that I can't provide any good solution here.

However. it seems like the issue is caused by the "debug_build_guard" namespace. Adding those missing symbols into https://github.com/google/mediapipe/tree/master/mediapipe/framework/port/{opencv_core_inc.h,opencv_imgproc_inc.h,opencv_video_inc.h} to

[2021-03-09 19:30] mgyong commented on #1698
@kostyaby Any comments on this?

[2021-03-09 19:36] PeterPocsi commented on #1718
Hi @jiuqiant,
No worries. As I mentioned in my opening post, I have a working solution. That chooses the proper lib and dll according to the compilation mode (optimized or debug). The current BUILD file for OpenCV (third_party/opencv_windows.BUILD) contains this:

[code]

The cc_library can be replaced with the one in my opening post with addition of the two config_setting after it.

Peter

[2021-03-09 19:38] mgyong commented on #1713
@manishiitg MP does not plan to support this. You can do ask in MP slack community https://mediapipe.page.link/joinslack whether someone has any recommendations

[2021-03-09 19:38] #1713 closed

[2021-03-09 22:56] tyrmullen commented on #1708
Correct, these demos are not supported on mobile-web yet.  More details can be found in the comments on the other issues.

[2021-03-09 22:58] kostyaby commented on #1642
Hey @ianni67,

On the high-level, the approach you described makes sense to me semantically. However, there are many individual pieces that don't feel right. I'll walk through them in my reply and suggest an alternative, easier approach:

What Face Geometry module guarantees is that:

1. Any 3D model aligned with the canonical face mesh model (the canonical face model itself included) _will get al

[2021-03-09 22:58] tyrmullen commented on #1583
The cert was recently updated-- is this still an issue for you @stevestavropoulos?

[2021-03-09 23:07] tyrmullen commented on #1695
The initial API was developed targeting Desktop Chrome, so you should not see those warnings when running on Chrome or Edge.  But definitely something for us to look into fixing in the future.

[2021-03-09 23:17] camillol commented on #1684
I think your version of GCC is too old. It needs to implement [DR1579](http://www.open-std.org/jtc1/sc22/wg21/docs/cwg_defects.html#1579).

[2021-03-09 23:17] #1684 closed

[2021-03-09 23:54] stevestavropoulos commented on #1583
It's ok now. Problem is fixed.

[2021-03-10 00:53] mzwtjp commented on #1634
Surveillance camera app, just an example.
It recognizes people in the video frame, perform further analysis (who is it? gender? emotion?) on each of the face.

But, I do not want to perform such heavy analysis on each frame.
If face detector knows a face in a frame is the same face (being tracked as same) in the next and succeeding frames, I want to know that so that I can reduce redundant analysi

[2021-03-10 03:33] sgowroji commented on #1708
Hi @simon-lanf , Closing this issue as it is intended . Thanks !

[2021-03-10 03:34] kostyaby commented on #1698
Hey @mufaawan,

What you are trying to do is a bit custom, so please be ready to code some additional logic. Luckily, you should be able to implement it in Python as the approach I'm about to suggest only requires the MediaPipe Face Mesh solution

First, you need'll some face topology that establishes semantic relationship between 3D positions of the face mesh vertices and some 2D texture coordina

[2021-03-10 03:47] simon-lanf commented on #1708
@sgowroji if it is intended, could it be written somewhere in the documentation ? Without global support, it is simply not ready, no website should limit themselves to desktop these days.

[2021-03-10 04:16] hungtooc opened #1723 "why can't dectect faces at this case"
this is some test images i was tested but cant detect faces:
![frame_56](https://user-images.githubusercontent.com/24487114/110575629-c4631180-8191-11eb-91b8-b68b2b250aaf.jpg)
![frame_106](https://user-images.githubusercontent.com/24487114/110575634-c6c56b80-8191-11eb-9706-73c60ccd6a78.jpg)
![frame_134](https://user-images.githubusercontent.com/24487114/110575636-c7f69880-8191-11eb-8117-e07c34a3ab

[2021-03-10 05:24] tyrmullen commented on #1708
@simon-lanf  I think this issue shouldn't be closed as "working-as-intended", but rather closed as a duplicate issue (of the issues mentioned above).  However, the information that the demo works on Android Chrome 89 on Android 12 on your device is new information, so that would be useful to have when consolidating to the other threads.  And if you don't mind, please also include the device detail

[2021-03-10 05:37] sgowroji commented on #1708
Above i have really missed on a wrong note.  Comments shared are really valuable for others who are on same point. Reopening it and will monitor similar issues going forward to track and  address the similar scenarios going forward.

[2021-03-10 06:07] sgowroji commented on #1583
Closing this as it is fixed . Thanks ! Adding the duplicate [here](https://github.com/google/mediapipe/issues/1717)

[2021-03-10 06:07] #1583 closed

[2021-03-10 06:54] aarushi-mittal opened #1724 "Capture left and right side of face"
Hello,

I want to distinguish between the left side and right side of a face while turning ?
However, the coordinates derived from the facemesh for left and right corner of the eyes seem to be a hardcoded set.

Even when my right side of face occupies the screen, the left eye corner coordinates are captured.
How can I achieve this in preferably javascript or any other language ?

Any help would be

[2021-03-10 07:48] ianni67 commented on #1642
Thank you very much for your kind explanation, I do understand your points (pun intended).
As in the meantime I've been developing further, I have two more questions:
- In case I want to project a point from the screen coordinates back to the Metric 3D space what matrix should I use?
- Is the pose transformation matrix invertible? Is its inverse equal to its transpose?
Thank you very much for your

[2021-03-10 08:24] 278156754 opened #1725 "Can effect_renderer_calculator be used in macOS?"
hi all,
I have try to write a face effect demo in macOS like faceeffect in examples(mediapipe/examples/android/faceeffect. When i import effect_renderer_calculator in build file and compile the code, the result is compile error as follow
<img width="1213" alt="image" src="https://user-images.githubusercontent.com/79309425/110598462-bd052d80-81bc-11eb-8a65-b4befbe18dab.png">
my build file is like t

[2021-03-10 08:51] aarushi-mittal commented on #906
Is there any update now ?

[2021-03-10 09:40] sgowroji commented on #1723
Hi @hungtooc , Could you please share more details about the solutions and platform you are trying it. Thanks !

[2021-03-10 09:58] hungtooc commented on #1723
if i use the stock image from camera, it can't detect any faces. When i set ``` min_detection_confidence=0.3``` the result so wrong. But after croped the center of image (include faces), model work fine:
![frame_108](https://user-images.githubusercontent.com/24487114/110611301-aad9be00-81c1-11eb-9492-7827ff33e74a.jpg)
I hope a update for detect small face in big image resolution

[2021-03-10 10:34] weiyiferonia commented on #1635
Thanks for your attention. I have no idea to get the android exception logs and I am not change any code of that framework. I just update the 'SingleFaceSmoothLandmarkGpu' graph and modified the BUILD files as the above steps. Could you point out what's wrong with the steps or give some ideas to combine the iris model with the face effect model under the android framework?

[2021-03-10 12:11] sgowroji commented on #1646
@Adolar13 Lack of Activity on this issue from reporter, We are closing this issue.

[2021-03-10 12:11] #1646 closed

[2021-03-10 12:16] nitinkatyal1314 opened #1726 "mediapipe.autoFlip error - Segmentation Fault : 11 when running the autoflip example multiple times."
I've followed the installation steps for autoflip and build it using the following command:

`bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 mediapipe/examples/desktop/autoflip:run_autoflip`

 I ran the autoflip example by specifying the input & output file locations using command:

`GLOG_logtostderr=1 bazel-bin/mediapipe/examples/desktop/autoflip/run_autoflip \
  --calculator_graph_config_fi

[2021-03-10 12:27] sgowroji commented on #1726
Hi @nitinkatyal1314 , Could you please go through this [issue](https://github.com/google/mediapipe/issues/497),  I assume this will resolve your error

[2021-03-10 12:39] mzwtjp opened #1727 "FaceMesh (js) does not work with non-camera video input?"
I am getting these errors when trying to use js version of face_mesh demo.

The same demo works OK and detects and report face landmarks as expected (using PC built-in camera as input).
However, if I feed video data (webm/v9) to video tag's srcObject using MediaSource interface, these errors happen and mediapipe FaceMesh.send() does not seem to be working.

Firstly, I doubted if this is caused by

[2021-03-10 12:43] mzwtjp commented on #1727
I can see #1412 describing similar errors.

[2021-03-10 13:35] nitinkatyal1314 commented on #1726
That issue was closed in Sept 2020. Has the issue been fixed but note released yet?

[2021-03-10 14:25] karen-1996 opened #1728 "FaceMesh Android - Can not generate face_mesh_mobile_gpu.binarypb"
Hi everyone. I try to build an android application and use Mediapipe to get face landmarks. I found that I must use FaceMesh, and to use it I must generate face_mesh_mobile_gpu.binarypb
I tried everything, but every time get different errors from Bazel...
Could you provide me generated face_mesh_mobile_gpu.binarypb or tell me the correct way to do it?

[2021-03-10 17:43] kostyaby commented on #1642
Hey @ianni67,

Yes, "perspective projection matrix" = "projection matrix" = "perspective matrix" = "intrinsic camera matrix". You can also say that "intrinsic camera matrix" = "camera matrix" if you assume that its extrinsic component is an identity matrix. Given that we are talking about projecting stuff into the screen space of the camera, this already assumes that the extrinsic camera component

[2021-03-10 17:56] adarmawan117 commented on #1710
Oke. Because my OS.
I will trying to compile in my linux OS later.

[2021-03-10 18:17] ianni67 commented on #1642
I see. You're obviously right, my question was somewhat silly.

Oh yes, I'm sorry. I indeed referred to the rotation component of the pose transformation matrix. I just needed a confirmation about that.

Thank you again, I think that now the whole story is clearer to me.

[2021-03-10 23:45] mzwtjp commented on #1727
I can see below in camera_utils.js, so it has something to do with mediastream's width / height?

[code]

[code]

[code]

[2021-03-11 00:01] jiuqiant commented on #1426
Added in v0.8.3.
See https://google.github.io/mediapipe/solutions/face_detection#python-solution-api for details.

[2021-03-11 00:01] #1426 closed

[2021-03-11 00:03] jiuqiant commented on #1530
Glad to hear that! I am going to close this issue.

[2021-03-11 00:03] #1530 closed

[2021-03-11 01:07] mariamrahmaani commented on #1651
Any update? Should I open a different issue?

[2021-03-11 01:07] jiuqiant commented on #1712
mp_drawing.draw_axis is not for objectron only. FaceMesh can't use this.

[2021-03-11 01:08] jiuqiant commented on #1712
mp_drawing.draw_axis is for the Objectron API only. FaceMesh can't use this.

[2021-03-11 01:32] mzwtjp commented on #1727
though not sure if it is related, "Module.arguments has been replaced with plain arguments_ " error menthoned in below (emscripten issues).

https://github.com/emscripten-core/emscripten/issues/11239

[2021-03-11 02:35] yuchenz27 opened #1729 "How to get hand tracking landmark actual z value in meters?"
We know that the x and y are normalized values in screen space, and the z is relative to the depth of the wrist landmark.

We have searched all the issues and didn't find a clear answer.

Is there a way to get the actual z value of all landmarks relative to the camera in meters? Could any Google staff come and answer the question?

[2021-03-11 04:24] sufiaji commented on #1720
Hi @sgowroji
We don't have any problem running the program on Windows 10.
Thank you.

[2021-03-11 04:26] vamsee-asu2019 opened #1730 "couldn`t build mediapipe on windows : windows.h: No such file or directory"
I am trying to build the mediapipe(c++ examples) in my Windows 10 PC .
I followed the steps given in the installation page.
I get the following error : `fatal error C1083: Cannot open include file: 'windows.h': No such file or directory`
Could anyone help me with this??

Command used :
` C:\Users\vamse\OneDrive\Desktop\EmbodyVR\mediapipe_latest>"C:/Program Files/Bazel/bazel.exe"  build -c opt --de

[2021-03-11 08:57] sgowroji commented on #1635
@weiyiferonia  Did you try to check the graphs in any of the desktop platform. Usually i would recommend to test the combining of graphs working well with the desktop platforms. Once it worked with your combination you can test it on mobile applications. Let us know after you try.

[2021-03-11 09:00] sgowroji commented on #1710
From your above comment, closing this issue. Thanks !

[2021-03-11 09:00] #1710 closed

[2021-03-11 09:01] hungtooc commented on #1712
thank you.

[2021-03-11 09:01] #1712 closed

[2021-03-11 09:19] sgowroji commented on #1720
Welcome @sufiaji , Closing this issue as you resolved !!

[2021-03-11 09:19] #1720 closed

[2021-03-11 09:53] mzwtjp commented on #1727
For easy repro, I just tried directly specify video file in video tag (previously, I was feeding video data by js code via MediaSource i/f).
Even with this, I am getting similar error.

[code]

[2021-03-11 11:54] IvesHsu opened #1731 ""Read buffer does not match write buffer size" when change object detection model"
Hi all,

when I change the model in mediapipe object detection gpu
it shows an exception as below
may I ask how to fix it?
thanks a lot

1. model is downloaded from TensorFlow Hub
https://tfhub.dev/tensorflow/lite-model/efficientdet/lite0/detection/default/1
2. I only modify BUILD file and object_detection_mobile_gpu.pbtxt

2021-03-11 19:21:38.851 13221-13245/? E/FrameProcessor: Mediapipe error:

[2021-03-11 11:57] #1416 closed

[2021-03-11 14:16] arsaz101 opened #1732 "Mediapipe aar: error executing command external/remotejdk11_linux/bin/java on wsl"
im experiencing the following error when trying to build an aar file:

INFO: From Building external/com_google_protobuf/libprotobuf_javalite.jar (86 source files):
warning: -parameters is not supported for target value 1.7. Use 1.8 or later.
ERROR: /home/arsaz/mediapipe/mediapipe/examples/android/src/java/com/google/mediapipe/apps/aar_example/BUILD:3:14: Compiling Java headers mediapipe/examples/a

[2021-03-11 15:41] flobaader commented on #1666
Hello @mgyong,
I am a team member of @nickharmening and can help here. :)
Our use case is that we want to analyze how well a bike is set up, in which we analyze for example the knee angles.
We have been able to get very good results with Mediapipe when a body is seen from the front, but from the side, the results are then worse.

Are there any tips on how we could possibly improve the detection?

[2021-03-11 17:52] sociallonewolf commented on #1732
Hi, I'm have the exact same problem when trying to run the following command:

`bazel build -c opt --host_crosstool_top=@bazel_tools//tools/cpp:toolchain --fat_apk_cpu=arm64-v8a,armeabi-v7a --strip=ALWAYS //mediapipe/examples/android/src/java/com/google/mediapipe/apps/aar_example:mp_hand_tracking_aar`

My setup is on Ubuntu 20.04 in WSL2 (Windows 10 OS Build 19042.867), Bazel 3.4.1, latest Mediapi

[2021-03-11 18:52] arsaz101 commented on #1732
I'm using the exact same specs and am facing the same problem.

[2021-03-11 20:38] studido opened #1733 "Mediapipe build error"
Hey there,
I'm attempting to build mediapipe on a jetson nano and am running into the following build error. It concerns the image_to_tensor_converter_opencv.cc file:

(line) return tensor;
could not convert 'tensor' from 'mediapipe::Tensor' to 'absl::lts_2020_09_23::StatusOrmediapipe::Tensor'

I tried adding a direct conversion in the form of:
return absl::lts_2020_09_23::StatusOrmediapipe::Tenso

[2021-03-11 21:42] simon-lanf commented on #1708
@tyrmullen I have a Samsung S10+, Snapdragon, 8gb of RAM, original ROM, Android 11, Chrome 89.0.4389.86

[2021-03-11 23:57] ivan-grishchenko commented on #1701
Hi!

As for the model input we divide RGB image with [0, 255] values by 255.0 to get [0, 1] values. So the second formula.

As for the outputs, you are interested in first two:
* (1, 155) = (1, 31 * 5) - 33 landmarks, represented as (x, y, z, visibility, presence) each, in a flatten format. `presence` means landmark is within the frame bound, `visibility` means landmark is present and not occluded

[2021-03-12 00:08] ivan-grishchenko commented on #1724
Hi!

Could you clarify, what do you mean by "distinguish between the left side and right side"?

None of the predicted landmarks are hardcoded. They are always predicted for a given frame. And all 468 landmarks a re always predicted. In the case when part of the face is out of the frame, landmark coordinates for this part of the face will be out of image bounds.

As for Face Mesh topology, left an

[2021-03-12 01:02] ivan-grishchenko commented on #1691
Hi @nyanmn

Pose landmarks model is intended to be used with an image of a single person for now.
We can't guarantee the same quality if there will be another person in the same model input image.
Hopefully, in the future, we'll extend the model's ability to work on this case. We are actively working on improving the model right now.

As for the detector, it detects all people in the frame. We pic

[2021-03-12 01:09] ivan-grishchenko commented on #1422
Hi @LucaJunge,

You are right, Z coordinate is predicted by the model but need to be propagated to the API.
@mhays-google Could you please provide an estimation on that?

[2021-03-12 01:12] ivan-grishchenko commented on #1701
BTW, Why not using Python API that will do all that work for you as well as correct cropping of the input image?

[2021-03-12 01:18] ivan-grishchenko commented on #1429
Hi @vasanthhr

You are right, it's not in the API yet, although the model predicts them.
@fanzhanggoogle @mhays-google Could you please provide some estimation on when it can be done?
In the meantime, @vasanthhr you can try Python API that returns Z to check how it looks like

[2021-03-12 01:22] ivan-grishchenko commented on #1508
@gkarpiakt Seems like and Android question. Could you please take a look?

[2021-03-12 01:26] ivan-grishchenko commented on #1577
Hi @KatchaVlad

You are right, we are providing the "accurate" model in graphs/demos/APIs.
We don't plan to open source the fast one. Do you have a particular use case in mind for it?

[2021-03-12 04:21] sufiaji commented on #1720
Hi @sgowroji

This issue is not resolved yet since we need to run the program on Ubuntu.
FYI this error doesn't happen on Windows and Mac.
So I need your advise about this error on Ubuntu.

Thanks

[2021-03-12 04:21] sgowroji commented on #1701
Hi @bhavikapanara  , Please go through the above insights and let us know. Thanks !

[2021-03-12 04:25] sufiaji commented on #1720
Hi @sgowroji ,

Just now I tried to run the routine in the loop so I don't need to hit from Postman, and at the first iteration, the program immediately return the error.
Please advise.
Thanks

[2021-03-12 04:44] sufiaji opened #1734 "Segmentation fault (core dumped) on Ubuntu python only"
Hi Team,

Thanks for this awesome framework. However I encountered error when running the Python Face Mesh solution on Ubuntu 20.04. Instead of re-open the issue #1720 , I create a new issue here and let me mention the detail problem.

Platform: Ubuntu 20.04
Python: 3.8.5
Solution: Face Mesh

Note that this error doesn't happen on MacOS and Windows 10.

below is the code I try to run:

![image](ht

[2021-03-12 04:50] ignacioberdinas commented on #1508
Hi @ivan-grishchenko , I had the same problem and I arrived to a fix but I don't know if it is the correct solution.

To diagnose the issue I tried many things. At last what worked was enabling debug logs and comparing the logs for the runs where the tracking started as expected and the runs where the screen was black. I realized the log that indicates that the External Texture Converter created a

[2021-03-12 05:01] sgowroji commented on #1651
YEs @mariamrahmaani , Please raise new issue for new queries adding this issue as reference. Now Closing it as this resolved!

[2021-03-12 05:01] #1651 closed

[2021-03-12 05:43] tetosuna opened #1735 "Holistic web demo not working"
Hi.
I access to Holistic Web demo(https://mediapipe.dev/demo/holistic) , and I get error dialog that "Failed to create webgl canvas context when passing video frame".
My video is visible top left on the page. But conflict to Control panel,  and still on the loading screen.

Here is console error log

[code]

- Environment:
  - OS: Windows 8.1 Enterprise
  - Browser: Google Chrome 88.0.4324.150(64b

[2021-03-12 07:27] ShravanRai22 opened #1736 "accessing the pose landmarks in pose tracking"
I'm currently working on the pose tracker on Windows with C++. In the demo_run_graph_main.cc,
 `   mediapipe::Packet packet;
    if (!poller.Next(&packet)) break;
    auto& output_frame = packet.Get<mediapipe::ImageFrame>();`
lines 119 - 121, outputs only the image packet and not the pose landmarks. The pose_tracking_cpu graph has two output streams namely: output_video and pose_landmarks.

Could

[2021-03-12 07:29] sgowroji commented on #1728
Hi @karen-1996 , Could you please elaborate your complete issue with clear steps. What errors are you facing and what did you tried. Thanks !!

[2021-03-12 07:42] KanzaSheikh commented on #1486
Alright, thank you for answering! @prantoran

[2021-03-12 08:17] sgowroji commented on #1731
@IvesHsu Please find the similar issue , this may resolve your [issue](https://github.com/google/mediapipe/issues/1235)

[2021-03-12 08:29] IvesHsu commented on #1731
@sgowroji
thanks for reply
how to know if a model can use  GPU delegate or not?

[2021-03-12 08:32] sgowroji commented on #1733
@studido Could you please share  complete details of the above issue , like what solutions and platform are you aiming for. And also share the detail build error.

[2021-03-12 09:08] sgowroji commented on #1736
@ShravanRai22 Could you please elaborate the issue with complete details. Thanks !

[2021-03-12 09:10] sgowroji commented on #1729
Hi @yuchenz27 Could you please elaborate the issue with complete details. Thanks !

[2021-03-12 10:03] aarushi-mittal commented on #1724
Hello ,

I am trying to identify if a person is rotating their face and turning to their left or their right.

So, for me there are 2 cases :
case 1 : a person has rotated their face, to face their left side
Case 2 : a person has rotated their face, to face their right side

I was trying to capture the coordinates for the right and left eye corners in such a case for a facemesh, hoping they would

[2021-03-12 10:50] sgowroji commented on #1628
Closing this issue as there is lack of activity !

[2021-03-12 10:54] hungtooc opened #1737 "How can i get face detected bounding-box in face-mesh"

[2021-03-12 11:45] sgowroji commented on #1642
@ianni67  Seeing you clear from the above comment, Closing it. If any other issue, Raise a new Ticket. Thank you !

[2021-03-12 11:45] #1642 closed

[2021-03-12 11:50] sgowroji commented on #1600
Closing this as it is resolved

[2021-03-12 11:50] #1600 closed

[2021-03-12 13:03] realapril commented on #1628
Thankyou for the reply!
I updated openjdk to 11 but the error still occurs.
[code]

Also all projects building leads to the same error. I tried three builds below.
BUILD1 : objectdetectiongpu
/mediapipe# bazel build -c opt --config=android_arm64  mediapipe/examples/android/src/java/com/google/mediapipe/apps/objectdetectiongpu:objectdetectiongpu
BUILD2 : handtrackinggpu
/mediapipe# bazel build -c o

[2021-03-12 13:03] realapril commented on #1628
@sgowroji

[2021-03-12 15:37] karen-1996 commented on #1728
I've cloned Mediapipe's whole repository and install Bazel on my MacBook. After that, I make this
bazel build -c opt mediapipe/graphs/face_detection:face_detection_mobile_gpu_binary_graph
and get error

Starting local Bazel server and connecting to it...
INFO: Repository com_google_absl instantiated at:
  /Users/karennamalyan/Downloads/mediapipe-master/WORKSPACE:17:13: in <toplevel>
Repository rul

[2021-03-12 16:46] ShravanRai22 commented on #1736
The outputs from pose_tracking_cpu.pbtxt graph is both output_video and pose_landmarks. But in the mediapipe/examples/desktop/demo_run_graph_main.cc which is used to build the pose_tracking_cpu solution, the code given is
` mediapipe::Packet packet;
    if (!poller.Next(&packet)) break;
    auto& output_frame = packet.Get<mediapipe::ImageFrame>();
`
here only the ImageFrame is the output that is e

[2021-03-12 17:48] ianni67 commented on #1642
Hello @kostyaby, I'm very sorry to append a question to a closed issue, I hope this won't be a severe violation.
I'm still in a bit of trouble with the projection matrix. You wrote that _it should be consistent with the GL projection matrix_ and I understood this as being _exactly the GL projection matrix_, so I built the matrix according to [effect_renderer code](https://github.com/google/mediapi

[2021-03-12 17:54] jiuqiant commented on #1595
Can you provide some adb log to help us know the issue better?

[2021-03-12 18:02] jiuqiant commented on #1730
'windows.h' is from WinSDK. If you installed it, please check if you set `BAZEL_WINSDK_FULL_VERSION` to the WinSDK version you use. You also cake a look at https://docs.bazel.build/versions/master/windows.html#build-c-with-msvc for more details.

[2021-03-12 18:19] jiuqiant commented on #1732
See the solution at https://github.com/google/mediapipe/issues/1679#issuecomment-788323387.

[2021-03-12 18:36] jiuqiant commented on #1655
@eknight7 implemented https://github.com/google/mediapipe/blob/master/mediapipe/examples/android/src/java/com/google/mediapipe/apps/handtrackinggpu/MainActivity.java#L65 and knows this better. I will hand it over to @eknight7.

[2021-03-12 18:46] radisc opened #1738 "[solution:iris] [type:research] Asus Tinker series"
Hello,

i was looking at  the Asus Tinker series, i saw that there are many models ( I'm curious about TInker Board 2 and Tinker Edge T/R and i was wondering how they compare to Jetson Nano in running mediapipe ( i'm particularly interested in the iris tracking example ).

Has anybody experimented with these devices ? Is it better to run the examples in gpu or cpu mode ? Do mediapipe examples work

[2021-03-12 19:01] jiuqiant commented on #1726
@ndimension, can you take a look at this issue when you have time. I believe the fix to https://github.com/google/mediapipe/issues/497 was fixed. This can be a new corner case?

[2021-03-12 19:29] vamsee-asu2019 commented on #1730
@jiuqiant I have mentioned correctly even then it was throwing the same error. Then I just checked the version of winsdk  , it was 10.0.18362.1. After which I tried with the newer version of the winsdk (10.0.19041.0). But in vain. To my surprise, the other day i tried with the newer version and it is working with the latest version of winsdk. But the older version(10.0.18362.1) still gives the sam

[2021-03-12 19:30] mgyong commented on #1644
@TheFoolishPupil No plans to support face mesh and hands model on coral. Coral requires quantization and the conversion of MediaPipe hands and face mesh models to coral is non-trivial

[2021-03-12 19:33] mgyong commented on #1656
Use this colab for action classification as an example https://google.github.io/mediapipe/solutions/pose_classification

[2021-03-12 19:47] jiuqiant commented on #1730
It seems more like a Bazel windows issue that mediapipe can help with. As Bazel documentation mentions, the latest Windows SDK installed will be used by default if you don't set BAZEL_WINSDK_FULL_VERSION. Maybe you can just remove this env variable. Moreover, do `bazel clean --expunge` to get rid of all caches before rebuilding.

As you mentioned, you tried with the newer version and it is working

[2021-03-12 19:58] vamsee-asu2019 opened #1739 "ERROR while trying to access the Normalizedlandmarks from face mesh"
I have been trying to access the landmarks from the face mesh . I have followed the steps given in https://github.com/google/mediapipe/issues/200#issuecomment-546619563 .
I get the following error :

` Compiling mediapipe/framework/formats/landmark.pb.cc [for host] failed: undeclared inclusion(s) in rule '//mediapipe/framework/formats:landmark_cc_proto':
this rule is missing dependency declaration

[2021-03-12 20:00] vamsee-asu2019 commented on #1730
@jiuqiant , Yes I am able to build media pipe successfully now.

[2021-03-12 20:05] vamsee-asu2019 commented on #1730
@jiuqiant  Now I am facing another issue. I am trying to access the landmarks from the face mesh and followed #200 . I get the following error when I try to build it :
`Compiling mediapipe/framework/formats/landmark.pb.cc [for host] failed: undeclared inclusion(s) in rule '//mediapipe/framework/formats:landmark_cc_proto':
this rule is missing dependency declarations for the following files include

[2021-03-12 20:14] kostyaby commented on #1642
Hey @ianni67,

No worries, I'm happy to expand further :)

First of all, please make sure the Face Geometry environment camera parameters ([like here](https://github.com/google/mediapipe/blob/master/mediapipe/graphs/face_effect/face_effect_gpu.pbtxt#L61-L65)) are synced with your camera parameters. If they are different, then your matrix will obviously project 3D points into wrong screen locations

[2021-03-12 21:09] milad-4274 commented on #1733
I faced similar errorsince last update. all examples cpu on ubuntu.

[2021-03-12 21:59] jiuqiant commented on #1739
I can successfully build it by`bazel build -c opt --action_env PYTHON_BIN_PATH="C://Path//to//python.exe"  --define MEDIAPIPE_DISABLE_GPU=1 mediapipe/framework/formats:landmark_cc_proto`. What's the issue? Can you list all your changes?

<img width="529" alt="windowshell" src="https://user-images.githubusercontent.com/3359144/111002736-c87e6300-833a-11eb-9af1-c283cc9a081a.png">

[2021-03-12 22:12] ianni67 commented on #1642
Thank you very much for your fast and kind reply, @kostyaby !
I think I finally got most of the story, and probably found out the reason of the weird behavior. I fed a wrong f_y to the matrix. Moreover, I made some sort of mix-up between computer vision and computer graphics, so - for example - I was trying to set center.x and center.y as the centers of the camera frame (height/2, width/2) instead

[2021-03-12 22:32] studido commented on #1733
@sgowroji
Thanks for your reply.

I'm trying to build mediapipe in python for aarch64 (ubuntu 18.04) on an nvidia jetson nano.

Currently have been trying to follow this guide:
https://github.com/jiuqiant/mediapipe_python_aarch64

Following those steps I removed the OpenCV dependencies then tried to build a wheel for python with:
python3 setup.py gen_protos && python3 setup.py bdist_wheel

It uses

[2021-03-12 22:40] studido commented on #1733
@milad-4274 Thanks, I will try it with an older release (0.8.0)

[2021-03-12 23:08] mariamrahmaani opened #1740 "GPU version of Python interface doesn't work"
Hi

 I am creating a GPU version of Python interface and the 4 steps below run fine without any issue. However I don't see any load in GPU. (The Samplepatch below is from here: https://github.com/google/mediapipe/issues/1651 )

This is what I have done on my ubuntu 20.4 server with A100 GPU:

1. Download the mediapipe.v0.8.3.1 and cd to the directory
2. git apply Samplepatch.diff
3. python setup.p

[2021-03-12 23:23] vamsee-asu2019 commented on #1739
I have made the following changes :
Created a new file demo_run_graph_main_landmarks.cc inside mediapipe\mediapipe\examples\desktop. This file is a replication of demo_run_graph_main.cc only difference is that I have the code to get the landmarks .
I have included the followig headers:
`#include "mediapipe/calculators/util/landmarks_to_render_data_calculator.pb.h"
#include "mediapipe/framework/for

[2021-03-12 23:36] jiuqiant commented on #1740
@mcclanahoochie, can you verify if gpu is truly enabled?

[2021-03-13 00:18] jiuqiant commented on #1739
I copied your code into demo_run_graph_main.cc and compiled mediapipe/examples/desktop/face_mesh:face_mesh_cpu. It went well on a surface pro:

<img width="532" alt="123" src="https://user-images.githubusercontent.com/3359144/111011407-1781c380-834e-11eb-8f25-79e687282b94.png">

The diff is the following. Note that I didn't check the correctness of the code and just copied your code into the files

[2021-03-13 00:54] vamsee-asu2019 commented on #1739
@jiuqiant  Yeah this works. the build is successful now I am not sure what's wrong with the new file though. Now when try to run the face_mesh_cpu.exe by passing the corresponding calculator graph config file I get the following error :
`F20210312 16:41:07.562562 24428 packet.h:768] Packet::Get() failed: Expected a Packet of type: class std::vector<class mediapipe::NormalizedLandmarkList,class std

[2021-03-13 01:13] jiuqiant commented on #1739
Yeah, because there is a bug in the code. Should be `poller_detection.Next(&detection_packet)` rather than `poller_detection.Next(&packet)`.

[code]

Then, you will get something like the following in the terminal:
<img width="453" alt="456" src="https://user-images.githubusercontent.com/3359144/111013857-f45b1200-8355-11eb-9d56-fa1143885991.png">

BTW, you can use [the MediaPipe Python PyPI packa

[2021-03-13 01:18] vamsee-asu2019 commented on #1739
@jiuqiant  Yeah I just came here to mention that. I figured it out. Anyways thanks man for the help :)

[2021-03-13 01:18] jiuqiant commented on #1730
The issue reported here seems to be solved. Continue the discussion in https://github.com/google/mediapipe/issues/1739.

[2021-03-13 01:18] #1730 closed

[2021-03-13 01:19] jiuqiant commented on #1739
Glad to help. Closing this issue now.

[2021-03-13 01:19] #1739 closed

[2021-03-13 01:47] mcclanahoochie commented on #1527
i'm not sure we can help much if there is no logcat to see :/

maybe try the latest version ? https://github.com/google/mediapipe/releases

i'm closing this for now, but you can re-open once you can provide some more logging info

thanks

[2021-03-13 01:47] #1527 closed

[2021-03-13 01:59] #1733 closed

[2021-03-13 02:31] mcclanahoochie commented on #1667
mediapipe does not currently support inference batch size >1.

one idea for multiple cameras would be to run multiple graphs in parallel

[2021-03-13 02:35] vamsee-asu2019 commented on #1162
Have you guys figured this out ?
I am trying to use the mediapipe  in another c++ project

[2021-03-13 03:05] kostyaby commented on #1642
Cool, I'm glad the camera projection logic is working out for you now!

Also, your use case sounds super cool! I'm happy to support external clients of Face Geometry module, especially when their use cases are new and challenge the technology :)

[2021-03-13 04:20] sergweb commented on #1673
I modified 2 files **image_to_tensor_converter_opencv.cc** and **image_to_tensor_converter_gl_buffer.cc** in directory **mediapipe/calculator/tensor** by replacing code
`return tensor;`
by the following:
`return absl::StatusOr<mediapipe::Tensor> ( mediapipe::Tensor(std::move(tensor)) );`

[2021-03-13 07:28] yuchenz27 commented on #1729
Hi @sgowroji , thanks for your help!

The mediapipe official page said "x and y are normalized to [0.0, 1.0] by the image width and height respectively. z represents the landmark depth with the depth at the wrist being the origin, and the smaller the value the closer the landmark is to the camera. The magnitude of z uses roughly the same scale as x."

From my understanding, it means that the depth

[2021-03-13 08:35] benchun123 commented on #1463
Hi Rjean,
yes, I think "epnp_alpha" is the coefficients, in my successful test, the alpha is defined as
epnp_alpha <<
-2, 1,  1, 1,
0,  1, -1, 1,
2, -1, -1, 1,
0, -1,  1, 1,
0,  1,  1, -1,
2,  1, -1, -1,
4, -1, -1, -1,
2, -1,  1, -1;
where we can find the in every line, the first element is the sum of other elements, and the other 3 elements indicates the direction of corner. (or the position if m

[2021-03-13 14:53] simon-lanf commented on #1708
Ok I think I found the caus3, I think. It is related to 32bit vs 64bit. New phones with my specs (android10+, 8gb of ram) now have Chrome 64bit.

https://www.ghacks.net/2021/03/13/google-is-pushing-64-bit-chrome-on-android/

[2021-03-13 18:58] vkrytpo opened #1741 "We need customization option of js version for mediapipe"
Hi guys, mediapipe is doing really great, and it's evolution rate is impressive.

**problem:**
we can customize android, desktop, python verison of mediapipe but we can not do the same for js.
we can build custom AAR, APK as per our requirement (which is much efficient), but we have no such things for js.

**usecase:**  I have created a virtaul try-on for rings using mediapipe which is working fin

[2021-03-14 05:21] vkrytpo opened #1742 "Why mediapipe Js solution does not uses ImageTransformation"
**About:**
Mediapipe-Js, depends on size of input video stream, whereas other platforms(android) does not depends on size of input video stream.

**Issue:**
in Medipipe-Js version, output fps will be half, if you double input video resolution.

**Reference:**
In desktop, it  does'nt seems a problem, but in mobile output fps is near about (6-8 FPS), which we can increase using **ImageTransfarmation

[2021-03-14 07:49] arsaz101 commented on #1732
Works perfectly now, Thank You!

[2021-03-14 09:16] Emad-Eldeen commented on #1733
I am also facing this issue since yesterday. I didnt have it a few days ago.

[2021-03-14 13:51] saurabhchalke opened #1743 "Pose Skeleton Preview without Camera Image underneath"
Hi, I am trying to preview only the skeleton without a background instead of the default skeleton overlay over the Camera image.
I have tried removing the `input_stream: "IMAGE_GPU:input_image"` from the pose_renderer_gpu.pbtxt file, but still seem to get the camera image output.

Can you please suggest the necessary modifications here?

My pose_renderer_gpu.pbtxt file:
`# MediaPipe pose landmarks

[2021-03-14 15:44] Rassibassi opened #1744 "Load mediapipe as external library for project"
Hej,

I am trying to build a minimal project structure and import mediapipe via bazel in the `WORKSPACE` file. I am relying on the example from here: https://github.com/mgyong/mediapipe_addons

First I add this at the top of the `WORKSPACE` file:

[code]
Then, I also copied the `WORKSPACE` content from the mediapipe repository into my projects `WORKSPACE` file. I also replaced all `@//third_party`

[2021-03-15 04:13] sgowroji commented on #1732
@arsaz101 closing this issue as we see you resolved. Thanks !

[2021-03-15 04:13] #1732 closed

[2021-03-15 06:08] sgowroji commented on #1737
@hungtooc  Could you provide more details of the issue to understand it completely.  Like what platform, solution is you referring And what did you try. Thanks!!

[2021-03-15 06:17] hungtooc commented on #1737
solution:facemesh
language: python
here is how i get facemesh:
[code]
the got the face-land-mark, but i want face detected bounding box too.

[2021-03-15 06:20] hungtooc commented on #1737
```face.face_landmarks```  has 468 landmarks. I want face bounding-box like solution:face-detection in solution:facemesh

[2021-03-15 06:29] sgowroji commented on #1743
@saurabhchalke Can you help me with what platform are you referring. Thanks

[2021-03-15 06:37] sgowroji commented on #1744
Adding @mgyong, As the above repo from your repository.

[2021-03-15 06:40] hungtooc commented on #1737
as i know _ Face Mesh Models = FACE DETECTION MODEL + FACE LANDMARK MODEL_ .

[2021-03-15 07:03] sgowroji commented on #1628
Hi @jiuqiant, Assigned as this android build issue or Feel free to move to the right owner.

[2021-03-15 07:14] sgowroji commented on #1639
Closing this ticket as there is a lack of activity on it.

[2021-03-15 07:14] #1639 closed

[2021-03-15 07:16] sgowroji commented on #1688
Closing this issue as there is a lack of activity on it.

[2021-03-15 07:16] #1688 closed

[2021-03-15 07:18] sgowroji commented on #1711
@bharathCoitor Could you provide details mentioned in the above comment. Thanks !

[2021-03-15 07:19] sgowroji commented on #1715
@wxk2008  Could you confirm above solution did resolve your issue?

[2021-03-15 07:20] sgowroji commented on #1706
@NoMoreRoominHell  did you get a chance to go through above issues ?

[2021-03-15 07:40] sgowroji commented on #1728
Hi @karen-1996 , Could you please recheck the repo downloaded and do a rebuild. I can see the IOException while fetching the repository.

`ERROR: An error occurred during the fetch of repository 'com_google_absl':
Traceback (most recent call last):
File "/private/var/tmp/_bazel_karennamalyan/c82c5edd8ca438b7ff1fb62c2fcec092/external/bazel_tools/tools/build_defs/repo/http.bzl", line 111, column 45,

[2021-03-15 07:47] sgowroji commented on #1729
Hi @yuchenz27 , Please refer [1392](https://github.com/google/mediapipe/issues/1392), [1417](https://github.com/google/mediapipe/issues/1417) to understand the implementation of Z values.  And i would recomend you to try the above use case on desktop platform first, then you can try it on IOS.

[2021-03-15 08:33] sgowroji commented on #1667
@nyanmn Did you get a chance to go through above comment!

[2021-03-15 10:14] ljmkimqx opened #1745 "Android String Garbled code"
I hope I can correctly distinguish between left and right Hand （Android）

###Situation one：

outputStream :  "hand_landmarks"

[code]

log:
[code]

###Situation two：

outputStream :  "handedness"

[code]

log:
[code]

I hope to get the content correctly when Situation one

Is there any suggestion to fix it？

[2021-03-15 11:20] Dhruv2911 commented on #825
@amazingyyc  I also have the same jittering problem, but i dont know how to implement the filter in javascript, Do you know where i can find a tutorial or the code to implement it on webcam in javascript!!

[2021-03-15 11:58] sgowroji commented on #1745
@ljmkimqx  which device are you testing and details?

[2021-03-15 12:12] karen-1996 commented on #1728
Hi @sgowroji. What can I do if Bazel can not download and fetch one of the external repositories? Every time I get a similar but different error. Now I get something like this - ERROR: An error occurred during the fetch of repository 'XNNPACK'...
Also, I tried to sync all repos before the build, but when the build started I get RuntimeException )))
So could you please send me just a single generat

[2021-03-15 14:39] amazingyyc commented on #825
Sorry I also donot know How to implement KalmanFIlter in JavaScript, I use opencv to implement this is the OpenCV tutorial:https://docs.opencv.org/master/dd/d6a/classcv_1_1KalmanFilter.html

[2021-03-15 16:16] jiuqiant commented on #1725
Unfortunately, MediaPipe macOS doesn't provide gpu support. So, EffectRendererCalculator is not useable on macOS.

[2021-03-15 16:16] #1725 closed

[2021-03-15 17:36] mcclanahoochie commented on #1425
closing due to lack of activity

[2021-03-15 17:36] #1425 closed

[2021-03-15 17:38] mcclanahoochie commented on #1473
closing due to lack of activity

[2021-03-15 17:40] mcclanahoochie commented on #1474
closing due to lack of activity

[2021-03-15 17:40] #1474 closed

[2021-03-15 19:14] saurabhchalke commented on #1743
Hi @sgowroji, I am using Pose Tracking on the Android platform, and running it on GPU.
I am using the default graphs present in the mediapipe/graphs/pose_tracking.

We tried updating the pose_renderer_gpu subgraph to remove the `input_stream: "IMAGE_GPU:input_image"` in the AnnotationOverlayCalculator step at the end(line 266), but still see the image preview returned along with the pose skeleton

[2021-03-15 20:31] eyaler commented on #597
here you go: https://eyaler.github.io/tfjs_webgl_app/face_landmark

[2021-03-15 22:00] vamsee-asu2019 opened #1746 "Creating a dll out of mediapipe`s demo_run_graph_main.cc"
Does anyone know how to create a dll out of the demo_run_graph_main.cc for face_mesh?

[2021-03-16 00:07] ljmkimqx commented on #1745
My device is mobile: Mi 10 Lite zoom. The brand is Xiaomi Corporation. The system is Android 11.

[2021-03-16 00:09] tyrmullen commented on #1727
It's possible your initial errors might be unrelated-- they seem to be related to loading assets rather than initializing the video stream.  But I will address the non-camera video input here:

Currently camera_utils is set up to specifically use web-cam input, so it will fail if you try to feed it a video stream.  This is a feature which can definitely be added, but is not a high priority, as the

[2021-03-16 02:09] vamsee-asu2019 opened #1747 "polling multi_face_landmarks packet from the face_mesh crashes the code"
Hi,
I am trying to access the landmarks from the face_mesh as shown in the comments of  #1739.
But now when I go out of frame or there are no facial landmarks detected the code crashes. I tried to put all the code block in try and catch, even that didn`t work.
Can anyone help me with this?

[2021-03-16 03:55] simon-lanf commented on #1430
@Ankit-Gupta-1511 @vasanthhr could you go to chrome://version/ on chrome android and tell me if you havr the 32bit version or 64bit ? Chrome was just released as 64bit for the first time with 89 for android 10 with 8gb of ram: https://www.ghacks.net/2021/03/13/google-is-pushing-64-bit-chrome-on-android/

I can reproduce the error on 32bit chrome android but on 64but chrome android it works 100%.

[2021-03-16 03:57] simon-lanf commented on #1459
@ajmalrasi @MIDIBlocks @Adolar13 could you go to chrome://version/ on chrome android and tell me if you have the 32bit version or 64bit ? Chrome was just released as 64bit for the first time with 89 for android 10 with 8gb of ram: https://www.ghacks.net/2021/03/13/google-is-pushing-64-bit-chrome-on-android/

I can reproduce the error on 32bit chrome android but on 64but chrome android it works 100

[2021-03-16 04:50] realapril opened #1748 "FaceMesh aar shows black screen on android(EGL_BAD_DISPLAY, EGL_BAD_SURFACE)"
1. Builiding face mesh application with bazel worked very well.
2. I built FaceMesh gpu aar and followed [instructions](https://google.github.io/mediapipe/getting_started/android_archive_library.html)
3. I copied two main activities from the android example apps folder(one from apps/facemeshgpu and another one from apps/basic which includes cameraHelper class and inits cameraX)
4. When I run the p

[2021-03-16 05:28] sgowroji commented on #1647
Hi @Nekokojpn,  Assuming you got resolved and lack of activity we are closing this issue!

[2021-03-16 05:28] #1647 closed

[2021-03-16 05:37] hailsong opened #1749 "Mediapipe with custom tensorflow model predict"
Hi, I try developing real-time program with mediapipe and my custom tensorflow model. (The model is based on mediapipe's hand recognition solution and it is pre-trained)

I trained my model successful and applied it to mediapipe example.
(it is based on https://google.github.io/mediapipe/solutions/hands.html, hand recognition solution of mediapipe)

But I got a problem with this. I can get high FP

[2021-03-16 05:37] sgowroji commented on #1691
Hi @nyanmn, Closing this issue as above comment  addressed your query.

[2021-03-16 05:37] #1691 closed

[2021-03-16 05:45] sgowroji commented on #1698
Hi @mufaawan, Did you get a chance to go through the above comment. Thanks!

[2021-03-16 06:00] sgowroji commented on #1735
Hi @tetosuna, Refer this [1727](https://github.com/google/mediapipe/issues/1727#issuecomment-799844456) may resolve this issue.

[2021-03-16 07:11] sgowroji commented on #1747
Hi @vamsee-asu2019, Could you share the crash log here. And also mention what all did you try ?

[2021-03-16 07:22] sgowroji commented on #1748
@realapril Have a look at this [issue](https://github.com/google/mediapipe/issues/547#issuecomment-602393188)

[2021-03-16 07:31] realapril commented on #547
I'm currently using version 1.0.0-beta10 and according to [the answer](https://github.com/google/mediapipe/issues/472#issuecomment-756891204) it seems right since I pulled the latest mediapipe version...
[code]
I tested the old version and this one also shows black screen.
[code]
The difference is it showed shorter error log(EGL_BAD_DISPLAY only)
[code]

[2021-03-16 07:34] realapril commented on #1748
I'm currently using version 1.0.0-beta10 and according to [the answer](https://github.com/google/mediapipe/issues/472#issuecomment-756891204) it seems right since I pulled the latest mediapipe version...
[code]
I tested the old version and this one also shows black screen.
[code]
The difference is it showed shorter error log(EGL_BAD_DISPLAY only)
[code]

[2021-03-16 07:45] realapril commented on #1748
Also my ```mediapipe_aar.bzl``` looks like this
[code]

[2021-03-16 08:30] sgowroji commented on #1749
@hailsong  Could you share your tensorflow model and platform details to understand the issue much better. Thanks !

[2021-03-16 09:03] hailsong commented on #1749
@sgowroji
My custom model is simple fully connected layer learning model and its output is softmax to make sure classification. Detail codes is here...

Dataframe's col names like 'FA1, FA2' .... are relative parameters I get from mediapipe solution.

With this model, I wanna develop real-time classification program. input is 15 numbers that is from mediapipe hand solution(it is relative value gro

[2021-03-16 09:09] sgowroji commented on #1746
Adding this [Reference](https://github.com/google/mediapipe/issues/1162) as we see others expecting the similar!

[2021-03-16 09:23] realapril commented on #1748
This was a basic mistake.
I forgot to add permission and glEsVersion in Manifest

[code]

I also uploaded [full code at my github](https://github.com/realapril/RealtimeFaceMesh)

[2021-03-16 11:10] sgowroji commented on #1748
@realapril  Good to see you resolved.

[2021-03-16 11:38] ianni67 commented on #1642
I'm afraid I hit the rock wall. As I need some sort of reference point with respect to which I measure the iris motion, I need such reference point to be "still" with respect to iris motion. However, all possible reference points are somehow related to some face landmark, and it seems that the landmark fitting approach used by mediapipe is not sufficiently reliable. Every vertical motion of the ir

[2021-03-16 12:24] NeoLc commented on #1239
i have the some problems in **linux**,  i **solved it** by taking the following steps :

[code]

[2021-03-16 12:25] aarushi-mittal opened #1750 "Is coordinate axis fixed for mediapipe facemesh ?"
Hello,

I am trying to understand how coordinates are captured in mediapipe facemesh.

If my face is not stationary , but constantly moving with respect to my webcam , the coordinates keep changing.

I wanted to understand if the origin is static for the entire 2-D plan where my image is captured or the origin keeps on changing as my face orientation (or angle) changes.

Kindly suggest.

Thanks,
A

[2021-03-16 12:50] Epitapher opened #1751 "Building AAR failed with protobuf errors"
After checking out the master branch, I can't compile the aar example in https://google.github.io/mediapipe/getting_started/android_archive_library.html. I followed every step but a lot of errors regarding protobuf were generated. I modified `mediapipe_aar.bzl` and added `"@com_google_protobuf//:protobuf_javalite",` to `deps` of `android_library`, most errors disappeared but still couldn't get pas

[2021-03-16 12:58] #1748 closed

[2021-03-16 14:07] mzwtjp commented on #1727
Thank you for your hint.
Looks like I have to wait for the "loadeddata" event so that now it is assured there is a image.
No more crashes and the model is working.

Previously, I was hooking to "updatetime" event, so I was giving video element to faceMesh before was ready, so faceMesh library was crashing.
(In camera input case there is no such delay for image data loading?)

I think I can close t

[2021-03-16 14:07] #1727 closed

[2021-03-16 16:40] jiuqiant commented on #1728
The issue is that Xcode is not installed on macOS. As we mentioned in https://google.github.io/mediapipe/getting_started/install#installing-on-macos, please install Xcode and also make sure you run xcode-select --install. Then, please run bazel shutdown && bazel clean --expunge to get ride of the cache. Finally, you can retry the build command. Finally, you can retry the build command. Hope this h

[2021-03-16 16:46] jiuqiant commented on #1743
@gkarpiak, please take a look at this pose renderer gpu question. Thanks.

[2021-03-16 16:51] jiuqiant commented on #1728
I can build the face detection binary graph and attach it here. But, it's not very useful if you still can't have the mediapipe framework and face detection calculators binaries.

[face_detection_mobile_gpu.binarypb.zip](https://github.com/google/mediapipe/files/6150793/face_detection_mobile_gpu.binarypb.zip)

[2021-03-16 16:51] #1728 closed

[2021-03-16 16:53] jiuqiant commented on #1751
See https://github.com/google/mediapipe/issues/1679#issuecomment-788323387

[2021-03-16 16:53] #1751 closed

[2021-03-16 16:59] gkarpiak commented on #1743
@saurabhchalke the idea of overlay is that you overlay over some image which `input_stream: "IMAGE_GPU:input_image"` in the AnnotationOverlayCalculator, so what you need to is to provide there, not the camera image, but some image which is a solid color.

You can do it in multiple ways: send it to the graph as another input or maybe loading from the assets, or maybe writing your own calculator tha

[2021-03-16 17:04] gkarpiak commented on #1734
Hi @sufiaji , thank you for your interest in MediaPipe.

Could you please try to run Face Mesh sample on the same machine using pure C++? That should help to narrow down the problem. (If it runs correctly, then the problem is in python wrapper.)

[2021-03-16 17:34] saurabhchalke commented on #1743
Thanks for the suggestion @gkarpiak, but I am trying to eliminate any background whatsoever (not even a solid color). Is that possible with the current Calculators?
I am just trying to return the pose skeleton with a transparent background.

[2021-03-16 17:50] izaharkin commented on #1693
Maybe at least any suggestions on what direction should I investigate, please?

[2021-03-16 18:10] overdescriptive commented on #1530
@jiuqiant Works for me as well. thanks a lot!

[2021-03-16 20:19] karen-1996 commented on #1728
Hi @jiuqiant, Thank you for your help. I'll try to install Xcode and try again.
I tried to use this face_detection_mobile_gpu.binarypb.zip, but I think you send me the wrong file because I need face_mesh_mobile_gpu.binarypb, here is the build repo which I need. https://github.com/google/mediapipe/blob/master/mediapipe/graphs/face_mesh/BUILD
Could you send me this one?

Using this face_detection_mo

[2021-03-16 20:42] vkrytpo commented on #1741
hey @sgowroji let me know if I can get help from any of 4 options mentioned in problem.

[2021-03-16 21:29] impjdi commented on #1520
Sorry for the belated response.  Is this still an issue with the latest MediaPipe release?  I bubbled this up a couple months back and should have been fixed.

[2021-03-17 00:58] AmritAmar opened #1752 "Wiki page on FaceMesh landmarks?"
Is there a wiki page or resource that outlines all the landmarks available in the geometry predicted in FaceMesh? [This already exists for pose.](https://google.github.io/mediapipe/images/mobile/pose_tracking_full_body_landmarks.png) I want to be able to get certain facial landmarks directly.

[2021-03-17 01:07] kursad-zumolabs opened #1753 "Virtualenv installation gives AttributeError: module 'mediapipe' has no attribute 'solutions'"
I am on Debian Testing X64, I installed Py3.8 by compiling it from the sources.

[code]

Here is using the lines provided by the doc (Python3.9 is the deault on the system)
https://google.github.io/mediapipe/getting_started/python.html

[code]

[2021-03-17 01:24] #1753 closed

[2021-03-17 02:04] mzwtjp commented on #1412
JFYI, in my case with similar error log, I needed to wait for video element loadeddata event so that I can be sure the video element is loaded with the image data and prediction no longer crashed.

[2021-03-17 02:09] IvesHsu commented on #1731
Hi @fanzhanggoogle ,
do you have any suggestion?
thanks a lot

[2021-03-17 03:18] airtablereddit opened #1754 "Python Get angles like Android, missing Landmark info"
Hi Google

I would like to calculate angles in Python but I noticed that Landmark Type info is missing in the API like it is possible in Android [here](https://developers.google.com/ml-kit/vision/pose-detection/classifying-poses#expandable-1)

In the Python [Pose.py I noticed that there is a Landmark class](https://github.com/google/mediapipe/blob/master/mediapipe/python/solutions/pose.py) but it'

[2021-03-17 03:21] bugmany opened #1755 "how to get face Landmarks from faceGeometry?"
from project faceeffect, i've get faceGeometry and Matrix, but cann't get face Landmarks, such as landmark 468's points, how to get it?

[2021-03-17 05:25] sgowroji commented on #1708
Good to see you resolved And thanks for sharing your inputs, which will be use full to other engineers. Present closing this ticket, but will use this for reference when any similar observations noticed. Thanks!

[2021-03-17 06:33] mariamrahmaani commented on #1740
Other GPU-based models are working fine. I am using a transformer based model and the GPU is under load and it's showing 70-80% load in nvidia-smi. But I don't see any load if I use this mediapipe model.

[2021-03-17 06:46] milad-4274 opened #1756 "freeze when no face in image"
Platform: Linux, cpu

Hello, I have customized face_mesh cpu graph and wrote some calculators for processing landmarks. when I execute graph, all thing works fine but when there is no face in camera, output video freeze and nothing work, whitout giving any error.

the graph is actual `face_mesh_desktop_live` example but instead of `face_render_cpu`, I used another subgraph named `mask_render_data`

[2021-03-17 07:36] sgowroji commented on #1750
Adding @ ivan-grishchenko as he already addressed your similar issues here [1724](https://github.com/google/mediapipe/issues/1724#issuecomment-797140059)

[2021-03-17 07:47] sgowroji commented on #1752
Hi @AmritAmar , You can find the complete details [here](https://google.github.io/mediapipe/solutions/face_mesh) but you need to deep dive in the links to get more details ,  Assuming you are expecting this  referenes [ref1](https://blog.tensorflow.org/2020/03/face-and-hand-tracking-in-browser-with-mediapipe-and-tensorflowjs.html) and [ref2](https://github.com/google/mediapipe/blob/master/mediapip

[2021-03-17 08:01] yangcheng commented on #1662
I have a very similar issue on Mac

Android Studio 4.1.2
Build #AI-201.8743.12.41.7042882, built on December 20, 2020
Runtime version: 1.8.0_242-release-1644-b3-6915495 x86_64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.16
GC: ParNew, ConcurrentMarkSweep
Memory: 3987M
Cores: 16
Registry: ide.new.welcome.screen.force=true, external.system.auto.import.disabled=true, dart.projects.withou

[2021-03-17 08:06] sgowroji commented on #1755
Hi @bugmany, Could you please elaborate the issue with complete details. Thanks!

[2021-03-17 08:31] peetto41 opened #1757 "how to train dataset pose video in holistic ?"
I'm rookie please help me technic or guide thank you.

import cv2
import mediapipe as mp

mp_drawing = mp.solutions.drawing_utils
mp_holistic = mp.solutions.holistic

file_list = []
# For static images:
with mp_holistic.Holistic(static_image_mode=True) as holistic:
  for idx, file in enumerate(file_list):
    image = cv2.imread(file)
    image_height, image_width, _ = image.shape
    # Convert the

[2021-03-17 09:15] yangcheng commented on #1425
thanks! how do I make sure input/output tensor to be on CPU?
I am getting the following error which seems to be related

[code]

[2021-03-17 09:22] sgowroji commented on #1757
Hi @peetto41, Could you please explain the above issue with details. Like what are you trying to do and what are your findings. Thanks !

[2021-03-17 09:30] PopoTeaTree opened #1758 "Memory leak Hand tracking mediaPipe"
I build hand tracking aar file(Android) from https://google.github.io/mediapipe/getting_started/android_archive_library.html#steps-to-build-a-mediapipe-aar. Then I found cash from a memory leak.
[https://ibb.co/09VwBYc](url)
Any suggestion?

[2021-03-17 09:51] peetto41 commented on #1757
I create file_list = [ ]  and then the camera turns on and can detect the pose, but I have to put file_list = []. I don't understand why I keep this function. enumerate (file_list) then can it retrieve the train data through file_list? Thanks !

#
file_list = [ ]
with mp_holistic.Holistic(static_image_mode=True) as holistic:
  for idx, file in enumerate(file_list):

[2021-03-17 10:16] sgowroji commented on #1758
Hi @PopoTeaTree https://ibb.co/09VwBYc is empty, Could you please share the logs.

[2021-03-17 10:22] PopoTeaTree commented on #1758
![Screenshot from 2021-03-17 16-27-13](https://user-images.githubusercontent.com/52104672/111452537-3664c900-8745-11eb-91d2-081a5dc7cac7.png)

[2021-03-17 10:23] PopoTeaTree commented on #1758
![Screenshot from 2021-03-17 17-22-59](https://user-images.githubusercontent.com/52104672/111452801-7461ed00-8745-11eb-9a70-fdd5c37bb7d7.png)

[2021-03-17 11:11] gkarpiak commented on #1743
@saurabhchalke have you tried to pass a transparent input into `input_stream: "IMAGE_GPU:input_image"`? (I mentioned multiple ways you can try to do that in my previous reply.)

Also, if you need just skeleton - you may consider returning skeleton landmarks and render them in any way you need.

[2021-03-17 11:18] gkarpiak commented on #1634
@mzwtjp face mesh solution doesn't provide such information. (Internally, it uses some basic algorithm to match faces which is based on IOU.)

So, for your use case, you could try to implement a postprocessing step (calculator/subgraph) that keeps track of previous landmarks and compares them with newly detected landmarks and identifies if there are same faces (you can use IOU calculation or maybe

[2021-03-17 11:29] RarDay opened #1760 "Face coord"
Hello everyone, I use face recognition on python, how can I draw lines of faces in the likeness of Java?

What i have
![image](https://user-images.githubusercontent.com/57527303/111459917-65227580-872c-11eb-9afa-5d836efe027c.png)

What i want
![image](https://user-images.githubusercontent.com/57527303/111459980-78354580-872c-11eb-9e99-0be1a0ebf35f.png)

Yes, I have access to the coordinates, but I

[2021-03-17 12:19] sgowroji commented on #1590
Closing this issue as there is a lack of activity on this issue.

[2021-03-17 12:19] #1590 closed

[2021-03-17 12:22] sgowroji commented on #1591
Glad to see you resolved.

[2021-03-17 12:22] #1591 closed

[2021-03-17 12:24] sgowroji commented on #1595
Hi @midhulavijayan Could you please share the adb logs as mentioned in the above comment.

[2021-03-17 12:25] sgowroji commented on #1609
We are glad to see you resolved.

[2021-03-17 12:25] #1609 closed

[2021-03-17 13:10] midhulavijayan commented on #793
I am also facing the same issue.. @AlexYiningLiu, have you resolved the issue?

[2021-03-17 16:04] yangcheng opened #1761 "posetrackingcpu crashed"
Hi, I am trying to run posetracking using cpu.

Environment.

Android Studio 3.5.1
Build #AI-191.8026.42.35.5900203, built on September 26, 2019
JRE: 1.8.0_202-release-1483-b49-5587405 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.16

In my BUILD I try to re-use the graph defined

https://github.com/google/mediapipe/tree/master/mediapipe/graphs/pose_tracking

[code]
and MainActi

[2021-03-17 17:16] shivSD opened #1762 "extract Hair segementation mask from mediapipe"
Was able to get the mediapipe & Hair segmentation binary working. Now i need extract mask of the hair segmentation. Need some input on how to extract the mask data from mediapipe.

[2021-03-17 17:42] impjdi commented on #1538
I'm not too familiar with the TF.js demo, but according to the description on the page you linked, it mentions something about `irisModelUrl` which might be integrated into the demo.  On MediaPipe's face landmark demo graph, I don't see any place where you could insert a refinement model like that.  So maybe that's the difference?

[2021-03-17 21:28] fogside commented on #1538
Hey! I'm also not a js developer, but I found this in their code and I think this may be the possible reason for the difference:

https://github.com/tensorflow/tfjs-models/blob/1b3aaa72225baa58b87e24a6f8a9124a5bbda4cd/face-landmarks-detection/src/mediapipe-facemesh/pipeline.ts#L383

[2021-03-18 00:57] hailsong commented on #1749
I resolve the issue. Nevertheless I couldn't understand how can tensorflow and mediapipe manage CPU/GPU resource, through multiprocessing and tensorflow.config.experimental.set_memory_growth setting, I solve this.

Firstly, I put set_memory_growth code to start of main function.
(https://www.tensorflow.org/api_docs/python/tf/config/experimental/set_memory_growth)
[code]

And I used multiprocessing

[2021-03-18 00:59] #1749 closed

[2021-03-18 02:27] mzwtjp commented on #1634
OK, thank you for your comment and explanation on how it is currently done in facemesh library.
I will try doing it on my side for now.

[2021-03-18 02:27] #1634 closed

[2021-03-18 02:41] bugmany commented on #1755
@sgowroji , from faceeffect project, with the callback as below, i can get faceGeometry and Matrix from the Packet,
- (void)mediapipeGraph:(MPPGraph*)graph
       didOutputPacket:(const ::mediapipe::Packet&)packet
            fromStream:(const std::string&)streamName {
const auto& faceGeometry = packet.Get<std::vector<::mediapipe::face_geometry::FaceGeometry>>();
},
so, i want get face NormalizedL

[2021-03-18 02:48] wxk2008 opened #1763 "how to open the local video(no-camera video)? could you give some suggestions, thanks!!!"

[2021-03-18 03:06] wxk2008 commented on #1763
on the android platform

[2021-03-18 06:32] atharvakale31 commented on #296
@smokingmonkey I created this, https://github.com/atharvakale31/Custom_Gesture_Control

[2021-03-18 07:57] sufiaji commented on #1734
Hello @gkarpiak ,

Thanks for the reply. Could you please advise the step to run example of face mesh C++ on Ubuntu? I am able to run the Hello World example on my Ubuntu, but struggling to find face mesh C++ example...

Thank you!

[2021-03-18 08:57] waghts95 opened #1764 "Mediapipe provides model in the format .pbtxt, how can I use it in my Python code to get inference?"
With reference to your below documentation,
Running on CPU
Graph: mediapipe/graphs/iris_tracking/iris_tracking_cpu.pbtxt
Target: mediapipe/examples/desktop/iris_tracking:iris_tracking_cpu
Running on GPU
Graph: mediapipe/graphs/iris_tracking/iris_tracking_gpu.pbtxt
Target: mediapipe/examples/desktop/iris_tracking:iris_tracking_gpu

How can I use iris_tracking_cpu.pbtxt or ris_tracking_cpu in my pyt

[2021-03-18 10:45] Ashish-Balhara opened #1765 "Observing latest pose@0.2 model is less stable than previous pose@0.1 model on java script."
We are using mediapipe's pose model to detecting poses via web (html+javascript). A few days ago, we have found more fluctuation of joint points from the model. It seems you have been updated the new pose model (pose@0.2) recently. In our code, when we reverted back to the pose@0.1 model, joint points seem to more stable, and less fluctuate.
is it a known issue (stablity issue in pose@0.2)?

[2021-03-18 11:33] artifutechharbhajan commented on #1189
Hi @PLHieu  , I'm facing the same issues. Have you solved your problem? @realapril , @salvadorld0 , @cdibona or anyone who have the solution, please share here.
Thanks

[2021-03-18 12:03] sgowroji commented on #1762
Hi @shivSD Could you please elaborate the issue with your references to understand it much better. Thanks.

[2021-03-18 12:10] sgowroji commented on #1763
Hi @wxk2008, Could you explain a bit more about your issue.

If attaching a video  from the gallery you can get in android using intents and there are many ways [ref](https://stackoverflow.com/questions/4922037/android-let-user-pick-image-or-video-from-gallery).

[2021-03-18 12:16] sgowroji commented on #1765
Hi @Ashish-Balhara, Could you please help us with your error or issues with exception logs, warnings or a video with defects. Thanks.

[2021-03-18 12:32] sgowroji commented on #1734
Closing this issue as we see you resolved!

[2021-03-18 12:42] vandics opened #1766 "Mediapipe fullscren"
How to use medipipe cv2.imshow on fullscreen?

[2021-03-18 13:23] sgowroji commented on #1766
Hi @vandics Its more specific to opencv, not belongs to media pipe.  You try in other forums for better solution.
I can share you the [reference](https://gist.github.com/ronekko/dc3747211543165108b11073f929b85e), but not sure about it.

[2021-03-18 14:23] sufiaji commented on #1734
Hi @sgowroji

This issue is not resolved yet, @gkarpiak asked to test using C++ to narrow down the problem, and I have tested with C++ sample and Ok. So now we know that the problem need to be resolved by the mediapipe team is on the python wrapper.

Thank you.

[2021-03-18 14:30] sufiaji opened #1767 "Segmentation fault (core dumped) on Ubuntu for python program only"
Hi Team,

Thanks for this awesome framework. However I encountered error when running the Python Face Mesh solution on Ubuntu 20.04. Instead of re-open the issue #1734  , I raised a new issue here and let me mention the detail problem.

Platform: Ubuntu 20.04
Python: 3.8.5
Solution: Face Mesh

Note that this error doesn't happen on MacOS and Windows 10, and only happen on Python program (so far we

[2021-03-18 15:06] harry240 commented on #1761
@yangcheng

I also had this problem.   I suspect the reason for this problem is " The packet created by FrameProcessor is a GpuBuffer ".

There are two "onNewFrame" functions defined, but only the following one is used.

[code]

[2021-03-18 15:43] vandics commented on #1766
Thank you for your answer, it's help me so much. One more questions again, as stated on mediapipe blog, landmark output consist of x, y and normalize between 0-1. If it not normalized, will x,y consitst of pixel instead on cm or metre?

[2021-03-18 18:14] alecda573 opened #1768 "Densify"
What is the operation densify seen in the tflite graph for the hand_landmark_sparse model?

Do you guys or have you guys published this network architecture and corresponding weights in any other format?

[2021-03-18 19:10] vamsee-asu2019 commented on #1747
Hi @sgowroji, there is no crash log . But the visualization freezes when there are no facial landmarks detected. All the change I made was to access the `multi_face_landmarks` output  from face_mesh using a different poller.

[2021-03-18 21:54] jiuqiant commented on #1764
See the solution at https://github.com/google/mediapipe/issues/1530#issuecomment-790210796.

[2021-03-18 21:54] #1764 closed

[2021-03-18 23:24] #1656 closed

[2021-03-19 00:16] mgyong commented on #1746
@jiuqiant  Can u help?

[2021-03-19 00:54] yangcheng commented on #1761
@harry240 have you found a solution yet?

[2021-03-19 02:31] wxk2008 opened #1769 "On the android platform, when the handtracking application is pushed to the background, the SurfaceView is destroyed and the camera is turned off"
On the android platform, when the handtracking application is pushed to the background, the SurfaceView is destroyed and the camera is turned off.When the handtracking application is brought to front, the camera remains closed.In order to solve this issue, I put the startCamer-function on the SurfaceCreated, but there is a new issue, the camera is opened, but the video does not appear to uploaded

[2021-03-19 03:10] sgowroji commented on #1766
Hi @vandics  could you please share where it was mentioned in the document and which solution are you referring .
And the Main question was resolved in this thread you can raise an anther question with clear description and complete details in a new one. Closing this ticket as the above query resolved. Thanks!

[2021-03-19 03:10] #1766 closed

[2021-03-19 04:57] sgowroji commented on #1715
@wxk2008  Assuming the above solution resolved your issue, so closing this ticket. Thanks!

[2021-03-19 04:57] #1715 closed

[2021-03-19 05:27] midhulavijayan opened #1770 "Is there any way to get a detection output (image with landmarks) of face mesh for every frame on android platform?"

[2021-03-19 06:05] Ashish-Balhara commented on #1765
@sgowroji , thanks for reply.
There is no error, exception or warning as such. Its just an observation that we felt. we have  tried pose model on a hip abduction exercise, for which we counting the leg movement repetition. After having new model (pose@0.2), we started observing inconsistent repetition, and yesterday we decided to used back to pose@0.1 model in our code, then we found consistent re

[2021-03-19 08:01] gkarpiak commented on #1760
Hi @RarDay, thanks for the interest in MediaPipe

You could reuse indexes available in [face_landmarks_to_render_data_calculator](https://github.com/google/mediapipe/blob/master/mediapipe/graphs/face_mesh/calculators/face_landmarks_to_render_data_calculator.cc#L33-L60) to render contours you want.

Face recognition is not available in face detection or face mesh modules.

[2021-03-19 08:10] sgowroji commented on #1767
Hi @sufiaji, Apology for closing the previous issue on the wrong note. I have reopened it and added appropriate owner to take your issue to next steps. We can duplicate this present issue to [#1734](https://github.com/google/mediapipe/issues/1734) and Please follow on the previous with latest updates.

[2021-03-19 08:24] sufiaji commented on #1767
Hi @sgowroji

Ok thank you!

[2021-03-19 09:26] sgowroji commented on #1768
Hi @alecda573, Could you please elaborate with complete details to understand the query much better. Thank you!

[2021-03-19 10:26] sgowroji commented on #1765
Hi @Ashish-Balhara, Thank you so much for showing interest in MediaPipe. We are Open to know any inconsistent
 Observations you find  in the MediaPipe model will be grateful.  You can share your inconsistent repetition observation with a screenshot or a video or your repo to understand much better.  Thank you!

[2021-03-19 10:26] #1765 closed

[2021-03-19 10:30] BestUkpai commented on #1489
@lrjbdss were you able to get it working?

[2021-03-19 10:45] sgowroji commented on #1747
@vamsee-asu2019 Can you share the graph to understand the issue much better. Thanks!

[2021-03-19 11:07] sgowroji commented on #1755
@bugmany This  [issue](https://github.com/google/mediapipe/issues/1618#issuecomment-780184827) may help you . Thanks!

[2021-03-19 11:07] yangcheng commented on #1761
I think I found the issue , the example is missing the cpu and gpu conversion nodes.

[code]

[2021-03-19 11:16] sgowroji commented on #1635
@weiyiferonia  Did you get a chance to look at the above comment and share us the update. Thanks!

[2021-03-19 11:25] sgowroji commented on #1726
@nitinkatyal1314 Assuming you are resolved, we are closing this issue. Please feel free to open, if the issue still persists and share the latest update.

[2021-03-19 11:28] harry240 commented on #1761
@yangcheng     have you fixed this issue?

[2021-03-19 11:38] nitinkatyal1314 commented on #1726
The main issue is still there. As a workaround, I have added a configurable parameter (currently set to 3) in my code. If segmentation fault is encountered, the code re-runs the pipeline.

Opening the issue so it can be fixed.

[2021-03-19 11:43] sgowroji commented on #1769
@wxk2008  Did you encounter any warnings or error logs  while doing the above scenario. Please share if you have any  error console logs to understand the issue much better. Thanks!

[2021-03-19 11:46] prophett0527 opened #1772 "[Built-from-code Python Interface] Several folders are missing in site-packages/mediapipe/framework/"
Hello, I am trying to build python interface from source code.
My environment is as below:
- Ubuntu 16.04
- Python 3.7
- GCC 8.4
- Mediapipe Code:

- OpenCV Setting:

- Build command:

- Pre-build Pkg Install:

-

The build is successful.
The following code has no problem for pre-build python interface:

-
But when I run this code for built-from-code interface, I get the following error:

Tracebac

[2021-03-19 12:00] yangcheng commented on #1761
yes, but the code is not as clean , I'll make a pr soon

[2021-03-19 12:07] yangcheng commented on #1761
@harry240 see https://github.com/google/mediapipe/pull/1773

[2021-03-19 12:17] sgowroji commented on #1772
@prophett0527 Go through this issues https://github.com/google/mediapipe/issues/1349,  [1466](https://github.com/google/mediapipe/issues/1466) and  [1515](https://github.com/google/mediapipe/issues/1515). This can help you.

[2021-03-19 12:21] sgowroji commented on #1770
Hi @midhulavijayan we have a clear documentation for this. Please go [here](https://google.github.io/mediapipe/solutions/face_mesh#ml-pipeline) and let us know any further queries you have. Thanks!

[2021-03-19 12:53] midhulavijayan commented on #1770
My goal is to access each of the processed frame/raw input frame, and use it for further processing. Is there any way to extract the raw frame/processed frame from main activity?

Can i access the input raw frame/ processed frame using processor.addPacketCallback
processor.addPacketCallback(
                OUTPUT_LANDMARKS_STREAM_NAME,
                (packet) -> {

}

[2021-03-19 13:46] sanaa-syed268 opened #1774 "Error in fail: Repository command failed INFO: Could not find files for the given pattern(s). ERROR: Analysis of target '//mediapipe/examples/desktop/hand_tracking:hand_tracking_cpu' failed; build aborted: Repository command failed"
I am trying to Bazel build the hello world c++ from mediapipe website, however, I keep getting errors in finding target file repeatedly. Even though the file system seems to be correct plz help.

![image](https://user-images.githubusercontent.com/50550249/111789740-7e235600-88e7-11eb-8bfb-c6a2270fe2e7.png)

[2021-03-19 14:51] alecda573 commented on #1768
![Screenshot (34)](https://user-images.githubusercontent.com/60713416/111798828-71c3dc80-8898-11eb-8fe6-bccaeb3e30f7.png)

Using netron I was viewing the hand_landmark_sparse model graph and it is showing these layers/ops called densify it is unclear what they are?

Also, I was wondering if the model was available in native tensorflow or another format as this densify layer makes it impossible to

[2021-03-19 15:58] alecda573 commented on #1768
@sgowroji I am interested in updating the weights of your model on my own dataset that is why I am wondering if the weights are available in another format, like .pb or hdf5

[2021-03-19 17:26] jiuqiant commented on #1734
Do you run into this issue on a particular video or it crashes on every video or even webcam input? We need to a deterministic way to reproduce this issue first.

[2021-03-19 17:31] siddharthoblix commented on #415
@adilmubeen55 Did you ever figure out how to do this?

@fanzhanggoogle I am using Unity to render the 3D model, but is there any way to get rotational information for the points/hand skeleton?

[2021-03-19 18:43] chuoling commented on #1756
Could you try adding `cc->SetOffset(TimestampDiff(0));` into `Open()` of GenerateMaskFromPointCalculator, and potentially other calculators you created (see [here](https://github.com/google/mediapipe/blob/a92cff7a60031f5c3097b06e74416732d85b5011/mediapipe/calculators/util/landmarks_to_floats_calculator.cc#L80) for an example), and let us know if that solves the issue?

Why this can help is explain

[2021-03-19 18:49] jianingwei commented on #1617
I can't reproduce this issue on my Pixel 3. Can you verify the device? In addition, can you verify that by removing the deps on instant motion tracking, you don't have the crash?

[2021-03-19 19:34] vamsee-asu2019 commented on #1747
@sgowroji  I am using the same graph from the pbtxt file here [face_mesh_desktop_live_gpu.pbtxt](https://github.com/google/mediapipe/blob/master/mediapipe/graphs/face_mesh/face_mesh_desktop_live_gpu.pbtxt)

And I am trying to access the `multi_face_landmarks` as follows in the [demo_run_graph_main.cc](https://github.com/google/mediapipe/blob/master/mediapipe/examples/desktop/demo_run_graph_main.cc

[2021-03-19 19:55] ksyao2002 commented on #1633
I am getting the same issue

[2021-03-19 21:05] milad-4274 commented on #1756
@chuoling thank you so much for your reply.
I added mentioned line in all my calculators and the error still exists but when output video freezed, I got "empty point" log in my GenerateMaskFromPointCalculator Process function. It is good because I can pass empty mask when points are empty and error will be solved, but it's not best practice right? I also can do all process about points in try catc

[2021-03-19 23:24] hadon commented on #1696
Thanks milad-4274, your solution is a fine one.  To combine FPS data into the graph output streams, inserting a Calculator like ClockLatencyCalculator is a practical solution.

There is also a profiling hook and API built in to MediaPipe.  You can see the profiling hook at mediapipe/framework/mediapipe_profiling.h, and the profiling library at mediapipe/framework/profiler.  The profiler is designe

[2021-03-19 23:24] #1696 closed

[2021-03-20 00:14] hadon commented on #1547
Thanks antiviruser, this doc has been updated in the google repository and the update will appear in the next release of mediapipe on github.  The intro has been changed to:

"Calculators communicate by sending and receiving packets. Typically a single packet is sent along each input stream at each input timestamp. A packet can contain any kind of data, such as a single frame of video or a single

[2021-03-20 00:14] #1547 closed

[2021-03-20 00:17] chuoling commented on #1756
You could try in `face_mesh_desktop_live.pbtxt` adding a [MergeCalculator](https://github.com/google/mediapipe/blob/master/mediapipe/calculators/core/merge_calculator.cc) at the end, with its first input stream connected to the output of `MaskRenderDataCpu` and the second to `throttled_input_video`. When `multi_face_landmarks` is empty the output of `MaskRenderDataCpu` is also empty. As a result,

[2021-03-20 00:29] hadon commented on #1512
Closing this issue for now.  Feel free to re-open it if more responses are needed.

[2021-03-20 00:29] #1512 closed

[2021-03-20 00:31] hadon commented on #1151
Closing this issue for now. Feel free to re-open it if more responses are needed.

[2021-03-20 00:31] #1151 closed

[2021-03-20 00:32] hadon commented on #793
Closing this issue for now. Feel free to re-open it if more responses are needed.

[2021-03-20 00:32] #793 closed

[2021-03-20 02:30] harry240 opened #1775 "posetracking black screen on some mobile phones"
I built posetracking.aar and used it my own demo.
It works  on Huawei Mate 40 Pro/Magic 2，vivo iQOO,realme x2,mix 2 etc. both cpu/gpu modes.
But it didn't work on MeiZu v8/redmi 5 plus/xperia x etc. both cpu/gpu modes.

When it is black screen the logs are:

[code]

[2021-03-20 08:32] Zudva opened #1776 "for lm in results.pose_landmarks.landmark:"
Hi! I wrote a script that monitors the position of the landmarkers and determines the topmost point for the Y.

`INFO: Created TensorFlow Lite XNNPACK delegate for CPU.
Traceback (most recent call last):
  File "body-tracking-videofile.py", line 28, in <module>
    for lm in results.pose_landmarks.landmark:
AttributeError: 'NoneType' object has no attribute 'landmark'`

[2021-03-20 08:59] smooth-crescendo opened #1777 "Error compiling java header when building aar"
I'm trying to build face detection AAR file following official guide, but I'm getting this kind of error:

`ERROR: /home/vladislav/mediapipe/mediapipe/examples/android/src/java/com/google/mediapipe/apps/aar_example1/BUILD:3:14: Compiling Java headers mediapipe/examples/android/src/java/com/google/mediapipe/apps/aar_example1/libmp_face_detection_aar_android_lib-hjar.jar (49 source files) failed (Ex

[2021-03-20 14:56] hhakangull opened #1778 "ValueError: while processing the input streams of subgraph node InferenceCalculator"
i got this error and i couldn't fixed ???

ValueError: while processing the input streams of subgraph node InferenceCalculator: TAG:index:name is invalid, "TENSORS:facedetectionfrontcpu__Inferencecalculator__facedetectionfrontcpu__input_tensors" does not match "([A-Z_][A-Z0-9_]*:((0|[1-9][0-9]*):)?)?[a-z_][a-z0-9_]*" (examples: "TAG:name" "VIDEO:2:name_b", "longer_name").

[2021-03-20 15:14] FlashTech-dev opened #1779 "Bazel Build Error"
while building the bazel project i got this error, can someone help us in this
[code]

[2021-03-21 00:06] saurabhchalke commented on #1743
Thanks for this advice @gkarpiak, I had one quick question, I am trying to return only the pose landmarks in the frameprocessor, but seem to run into an error. Do you know how to fix this?

My FrameProcessor in Android:
`processor = FrameProcessor(
            this,
            eglManager.getNativeContext(),
            BINARY_GRAPH_NAME,
            "input_video",
            "pose_landmarks"

[2021-03-21 01:25] #1776 closed

[2021-03-21 01:27] Zudva commented on #1776
Fix my problem:

`send_coordinate = [int(highest.x*1000), int(highest.y*1000)]`

[2021-03-21 03:52] probator1059 opened #1780 "Hair Segmentation on web app"
Hello.
Currently, I am trying to build web app that uses many mediapipe solutions, since it is mobile-friendly.
My issue is that I cannot figure out how to use hair segmentation solution in web app(using js).
As far as I know, hair segmentation does not provide js solution. It only has web demo.
How can I achieve what I want?
Hair segmentation would have js solution?
Somewhere, I read that it was

[2021-03-21 07:45] Omri-CG opened #1781 "Adding an option to set Visibility threshold in Python API"
Currently, the `visibility` threshold is [hard-coded to value of 0.5](https://github.com/google/mediapipe/blob/master/mediapipe/python/solutions/drawing_utils.py#L31). The same goes for the `presence` threshold.

It would be great to have an option to pass those values through the Python API.

[2021-03-21 08:43] milad-4274 commented on #1756
thank you so much @chuoling. every thing works fine.

[2021-03-21 08:43] #1756 closed

[2021-03-21 11:21] vinayakms221 opened #1782 "How 3D keypoints are extracted from 2D images"
I Would like to know how 3D landmarks are calculated from 2D images in Mediapipe Hands. And also what kind of dataset is used for training the model so that the output will be 3D coordinates

[2021-03-21 11:23] smooth-crescendo commented on #1777
Ok, I tried building with 0.8.2 version, and it worked...

[2021-03-21 11:23] #1777 closed

[2021-03-21 14:27] sufiaji commented on #1734
Hi @jiuqiant
Thanks for the mentioned steps to investigate. After several tests, this dump happen on every video. I create a simple python script to do the stress test, by iterating the subroutine screenshot above (up to 1000 iterations). So every iteration, the program will process all frames in a video file (from 1st frame into last frame), then next iteration it will repeat the same process. Th

[2021-03-21 14:35] BraginIvan commented on #1733
Also have the save issue on the latest version following [this instruction ](https://google.github.io/mediapipe/getting_started/python.html)
_Ubuntu, bazel 4.0.0_

In case of
`python3 setup.py bdist_wheel`
have this error
![Screenshot from 2021-03-21 17-33-56](https://user-images.githubusercontent.com/13066049/111908801-ae93fd00-8a6b-11eb-840e-e0d0f7b02dcc.png)

[2021-03-21 15:27] rahulsuxsena1 opened #1783 "unable to create AAR with any of the examples"
/Users/rahulkumar/Documents/GitHub/mediapipe/mediapipe/examples/android/src/java/com/google/mediapipe/apps/newar/BUILD:3:14: Compiling Java headers mediapipe/examples/android/src/java/com/google/mediapipe/apps/newar/libmp_face_detection_aar_android_lib-hjar.jar (49 source files) failed: (Exit 1): java failed: error executing command external/remotejdk11_macos/bin/java -Xverify:none -XX:+UseParalle

[2021-03-21 15:30] rahulsuxsena1 commented on #1783
Bazel version 4.0.0
OS Mac OS Big Sur 11.0.1 (Macbook pro M1 chip)
but this error is coming in my linux OS aswell

[2021-03-21 15:44] rahulsuxsena1 commented on #1777
Hi @smooth-crescendo , can you please help me what is 0.8.2, is it bazel version? plz help m facing the same issue

[2021-03-21 15:51] smooth-crescendo commented on #1777
It's a mediapipe version. You need to clone this repo again and then just do `git checkout tags/0.8.2` in mediapipe directory to switch to 0.8.2 version.

[2021-03-21 15:53] rahulsuxsena1 commented on #1732
can anyone plz help me , as mentioned in comment #1679 , where to paste that fix in which file and what if i am not using docker . plz help me

[2021-03-21 16:09] smooth-crescendo commented on #1508
@ignacioberdinas, Thank you so much! I've been trying to fix this for sooo long

[2021-03-21 18:58] jiuqiant commented on #1734
I tested MP FaceMesh API on a clean GCP ubuntu 20.04 instance (https://cloud.google.com/compute/docs/images/os-details#ubuntu_lts) with two test videos (a 7 seconds long and a 36 seconds long) and both of them look fine to me. I suggest that you can reproduce it on a clean ubuntu20.04 instance and report the detailed steps back.

My test video:
I trimmed  https://www.youtube.com/watch?v=n_Cn8eFo7u

[2021-03-21 22:24] studido commented on #1733
@BraginIvan If you're on x86 ubuntu then you can just pip install mediapipe, you don't need to build it manually.
If you're on arm ubuntu you need to follow this guide: https://github.com/jiuqiant/mediapipe_python_aarch64 (use mediapipe 0.8.1)
The instruction you posted will not work for arm ubuntu

[2021-03-22 04:35] sufiaji commented on #1734
Hi @jiuqiant

Thanks for your video, I will test and report back.
Could you please also test mine?
https://youtu.be/kX6Jb-ziYVU
A 2 seconds video with 1080p resolution. It crash on iteration less than 100 on my Ubuntu.

Thank you

[2021-03-22 05:26] sgowroji commented on #1774
Hi @sanaa-syed268, Could you please share more details about the build error, and what machine, OS are you trying to build and there are bazel and media pipe versions.

[2021-03-22 05:36] sgowroji commented on #1775
Hi @harry240, As mentioned above the black screen, assuming it could be an ANR or Crash. Without logs it is not easy to troubleshoot or investigate further.  If you are able to reproduce any error, please share us the bug report of the device or the repo code where you are suspecting the error could be.

[2021-03-22 05:39] sgowroji commented on #1778
Hi @hhakangull, To address the above error, we need more details of the platform, solution, OS, ALL Steps performed when the error occurred with clear and complete description.

[2021-03-22 06:26] sgowroji commented on #1779
Hi @FlashTech-dev, Can you provide the complete details, On which OS are you trying to build and what are the bazel and mediapipe versions.  May be you can have a look at these references  https://github.com/google/mediapipe/issues/809, https://github.com/google/mediapipe/issues/810.

[2021-03-22 06:42] sgowroji commented on #1780
Hi @probator1059  Present we are not supporting Hair segmentation in Javascript. See [here](https://google.github.io/mediapipe/#mediapipe-on-the-web).  May be you can share your exact need so that i can check with the team and let you know if there are any workaround, But not sure this will be addressable as per your requirement.

[2021-03-22 06:44] BraginIvan commented on #1733
@studido Thanks,
I was trying to build wheel (for x86) with Iris support following this comment https://github.com/google/mediapipe/issues/1530#issuecomment-790210796 so `pip install mediapipe` doesn't work for me.
Tried several tags but no success.

[2021-03-22 06:51] yangcheng opened #1784 "[adnroid ] unable to get camera preview when using objectdectioncpu, objectdectiongpu works."
The same device can run mlkit's sample with no issue https://github.com/googlesamples/mlkit

however, when running mediapipe's objectdectioncpu example, I can't get a camera preview or any results.

objectdectiongpu can open the camera with a longer delay than mlkit. where should I start to debug the problem?  Thanks

Here is the log I run objectdectioncpu

[code]

and logs for objectdectiongpu

[

[2021-03-22 08:56] sgowroji commented on #1782
Hi @vinayakms221, We have a very good documentation for media pipe. And for your query you can go through this [doc](https://google.github.io/mediapipe/solutions/objectron.html#overview) and we also have more examples in multi platform and many forums to help you in slack and stack overflow. Closing this now, but  If you face any issue specific to build or bug please raise here.

[2021-03-22 08:56] #1782 closed

[2021-03-22 09:04] sgowroji commented on #1783
Hi @rahulsuxsena1, Could you please share what steps you followed and in which step you are facing this issue with complete details. Thanks!

[2021-03-22 09:12] sgowroji commented on #1784
Hi @yangcheng, Could you please share what device/ model are you using to test.
And please share any code changes, if you performed on it with a repo link  to understand better. Thanks !

[2021-03-22 09:27] sgowroji commented on #1617
Hi @homuler  Can you provide the above details as mentioned in  this https://github.com/google/mediapipe/issues/1617#issuecomment-803040920. Thanks!

[2021-03-22 09:34] sgowroji commented on #1667
Hi @nyanmn, Assuming you are issue addressed and closing this ticket.

[2021-03-22 09:34] #1667 closed

[2021-03-22 09:38] sgowroji commented on #1698
Hi @mufaawan, Assuming you got the clear understanding with the above comments, we are closing this issue. Please feel free to open if you still not clear.

[2021-03-22 09:38] #1698 closed

[2021-03-22 09:39] yangcheng commented on #1784
@sgowroji It's a custom pad, based on amlogic 311d and android 9 32 bit.  Is there some command I could run to give you more information?
 Mlkit vision quickstart (https://github.com/googlesamples/mlkit/tree/master/android/vision-quickstart ) can run just fine.

To help isolate the problem I did not do any change and can still reproduce the issue.
I build with
[code]

[2021-03-22 09:40] sgowroji commented on #1706
Hi @NoMoreRoominHell, Closing this issue as we assume you resolved. Thanks!

[2021-03-22 09:40] #1706 closed

[2021-03-22 09:42] sgowroji commented on #1711
Hi @bharathCoitor, Closing this issue, assuming you are resolved. Thanks!

[2021-03-22 09:42] #1711 closed

[2021-03-22 10:10] homuler commented on #1617
I tried with v0.8.3.1 just now, and this issue still occurs if the same patch is applied.

[code]

If I replace `--compilation_mode=dbg` with `-c opt`, then the problem does not occur.

Yes, the app does not crash without `"//mediapipe/graphs/instant_motion_tracking:instant_motion_tracking_deps"`, even if `--compilation_mode=dbg` is specified.

I'm using Pixel 3a (Android 11, RQ2A.210305.006).
If

[2021-03-22 10:25] #1769 closed

[2021-03-22 13:33] vinayakms221 commented on #1782
yea I understood how annotations are made in the case of objectron model but in the case of hand its still unclear how the 3D annotations are made for the training data. It would be really helpful to know that since i'm currently working on something like that

[2021-03-22 13:35] vinayakms221 commented on #1782
yea I understood how annotations are made in the case of objectron model but in the case of hand its still unclear how the 3D annotations are made for the training data. It would be really helpful to know that since i'm currently working on something like that

[2021-03-22 14:51] yangcheng commented on #1560
you probably need android studio 3.5 as indicated by doc

[2021-03-22 16:53] jiuqiant commented on #1783
See the solution at https://github.com/google/mediapipe/issues/1679#issuecomment-788323387. If you still have problems, feel free to reopen this issue.

[2021-03-22 16:53] #1783 closed

[2021-03-22 18:09] Jorres commented on #1388
Hello @mhays-google! Thank you for your great work! I've tried to use a new version, `@mediapipe/hands 0.1.1614621970`, and it seems to give the same error as described in my previous commentary, the `ENOENT` one. But I'm seriously thinking it's because I'm doing something wrong. It would be a great help to my business process if you had a look through 7 lines of code I sent there: https://github.

[2021-03-22 19:11] jianingwei commented on #1617
Does this crash happen every time you open the app?

I'm still unable to reproduce with the build command above. My set up is Pixel 3 XL (Android 11). Built on desktop system: Debian GNU/Linux rodete. gcc (Debian 10.2.1-6+build1) 10.2.1 20210110.

The other thing you could try is to add other unrelated dependencies and see if it crashes.

One minor thing: the command in the first comment contains

[2021-03-22 19:50] jiuqiant commented on #1737
Similar to https://github.com/google/mediapipe/issues/1507#issuecomment-761110587, you can modify face_mesh.py to output output "face_detections", which contain the face bboxes.

[code]

[2021-03-22 20:12] kostyaby commented on #1642
Hey @ianni67,

Sorry for the late reply; I was OOO last week and wasn't processing any work-related emails

Face Geometry module is based on Face Landmark module, so I played a bit with both to see the effect you are talking about:

---

![face_effect](https://user-images.githubusercontent.com/3153291/112051583-58789580-8b0f-11eb-87c4-55efbf5d4a76.gif)
![iris](https://user-images.githubusercontent

[2021-03-22 20:41] stevenwman opened #1785 "python pose solution sample code produces attribute error"
used the exact code for the python pose solution [here](https://google.github.io/mediapipe/solutions/pose.html#python-solution-api) (deleted the single image recognition part of the code) and running in jupyter notebook where I received error of missing __enter__ attribute on mp.solution.pose.Pose:
[code]
I suspect it's due to the use of with and the fact that mp.pose.Pose which is natively mp.sol

[2021-03-22 21:50] tyrmullen commented on #1735
If you're simply browsing to the web demo and encountering this issue, then it sounds like a problem with your Chrome setup.  Specifically, it sounds like you're having a problem creating a WebGL2 context, which is necessary for all MediaPipe web rendering.  Google Chrome has had support for this on Windows Desktop machines for a while (https://caniuse.com/webgl2), so this makes me think something

[2021-03-23 00:29] homuler commented on #1617
Yes, it crashes every time on my Pixel 3a.

Thank you. I fixed it.
I'll investigate the cause more closely when I have time.

[2021-03-23 02:12] studido commented on #1733
@BraginIvan Ah I see sorry I'm not too familiar with iris, not sure what to do there beyond trying older releases of mediapipe.

[2021-03-23 02:46] vamsee-asu2019 commented on #1747
Hello @ivan-grishchenko,
any updates on this ? I am still facing the issue.

[2021-03-23 02:48] vamsee-asu2019 commented on #1746
@jiuqiant @mgyong  Can you guys help me with this issue?

[2021-03-23 03:00] silverlining21 commented on #1550
I got the same issue with @jerrysheen . and the #581 didnt work for me. any updates @jiuqiant ? Brs

[2021-03-23 06:00] tetosuna commented on #1735
Thanks for your advice.
I check my chrome setting, and find webGL is not working.
I try other computer, and web demo is work fine.
It is not mediapipe issue, sorry.
thank you.

[2021-03-23 06:02] bugmany commented on #1755
@sgowroji, i'll try it, thanks a lot.

[2021-03-23 06:02] #1755 closed

[2021-03-23 06:07] sgowroji commented on #1735
Glad you are resolved.
Closing this issue. Thanks!

[2021-03-23 06:07] #1735 closed

[2021-03-23 06:10] sgowroji commented on #1617
Thanks for sharing the update. We are closing this issue now.

[2021-03-23 06:10] #1617 closed

[2021-03-23 06:18] sgowroji commented on #1782
@vinayakms221  [this](https://google.github.io/mediapipe/solutions/hands.html#hand-landmark-model)  will give you very breif understanding.

[2021-03-23 06:23] sgowroji commented on #1761
Closing this issue as we see you already resolved. Thanks!

[2021-03-23 06:23] #1761 closed

[2021-03-23 06:25] sgowroji commented on #1635
Lack of activity we are closing this issue. Please feel free to share your issue if it is still persisting.

[2021-03-23 06:25] #1635 closed

[2021-03-23 07:04] sgowroji commented on #1770
Hi @midhulavijayan, Assuming this link will help you to understand better for you. https://github.com/google/mediapipe/issues/535#issuecomment-601492991, https://github.com/google/mediapipe/issues/1233

[2021-03-23 07:40] sgowroji commented on #1785
Hi @stevenwman,  Yes it is the use of **with** statement  https://www.python.org/dev/peps/pep-0343/.  you can even check  the same on colab file.

[2021-03-23 08:02] ianni67 commented on #1642
Thank you, @kostyaby, for taking the time to investigate this issue. Yes, this is exactly the issue that is stopping me at the moment. All the other details are in place, but the fact that even the face pose transformation matrix is affected by the bare motion of the iris is currently preventing me to complete my project.

[2021-03-23 08:19] ianni67 opened #1786 "Almost all Face Landmarks are (undesirably) affected by eyes and irises motion"
Hello, Thank you for sharing this great piece of software.
I'm writing here to evidence an undesirable behavior of the face landmarks module that you might want to correct.
I'm working on eye tracking and noted that most of the face landmarks move every time the irises move. This leads to wrong variations in the face pose transformation matrix, which, in turn, _affects most applications of the fac

[2021-03-23 09:38] midhulavijayan commented on #1770
I am able to extract the landmark points using the following script,

if (Log.isLoggable(TAG, Log.VERBOSE)) {
            processor.addPacketCallback(
                    OUTPUT_LANDMARKS_STREAM_NAME,
                    (packet) -> {
                        Log.v(TAG, "Received multi-hand landmarks packet.");
                        List<NormalizedLandmarkList> multiHandLandmarks =

[2021-03-23 10:18] sgowroji commented on #1770
Hi @midhulavijayan Could you able to elaborate your requirement.

[2021-03-23 10:33] bugmany commented on #1334
got it.

[2021-03-23 10:33] #1334 closed

[2021-03-23 11:12] ocastan opened #1787 "Wrong or misnamed landmark index in hand_landmarks_to_rect_calculator.cc"
In mediapipe/modules/hand_landmark/calculators/hand_landmarks_to_rect_calculator.cc some landmarks are used to create a roi from finger landmarks, to be used in the next frame:
constexpr int kMiddleFingerPIPJoint = 6;
constexpr int kIndexFingerPIPJoint = 4;
constexpr int kRingFingerPIPJoint = 8;
As far as I understand these indexes are relative to a subset created in mediapipe/modules/hand_landmar

[2021-03-23 11:56] midhulavijayan commented on #1770
I need to access the landmarks and also need to access the raw frames. Because i want to crop the eye region and eyebrow region from the input image based on the eye landmark co-ordinates and eye brow co-ordinates. I am referring the following link,

https://github.com/jiuqiant/mediapipe_multi_hands_tracking_aar_example

In the MainActivity i could able to extract the normalized landmark points.

[2021-03-23 12:56] RarDay commented on #1760
@gkarpiak Hi again, maybe you have compatibility with Intel Real Sense? I want to find faces on a 3D point cloud
But after using your coordinates everything is exactly for some reason I slide down
![image](https://user-images.githubusercontent.com/57527303/112148964-89c89280-8bef-11eb-978f-dc91f5a6f84c.png)
![image](https://user-images.githubusercontent.com/57527303/112148985-8fbe7380-8bef-11eb-83

[2021-03-23 13:23] luke-han opened #1788 "Error on traced file on 0.8.3.1"
Hi.
When I download the traced file from the iOS app built with the profile setting and upload it to viz.mediapipe.dev, the following error occurs on v0.8.3.1 and no problem on v0.8.2.

[code]

I attached the traced file of version 0.8.3.1.
[mediapipe_trace_0.binarypb.zip](https://github.com/google/mediapipe/files/6189928/mediapipe_trace_0.binarypb.zip)

Thanks

[2021-03-23 13:25] liuminghui233 commented on #1550
I have the same problem as you. What's going on now?

[2021-03-23 14:29] lukaszog commented on #1330
@JustDoIt9 thanks for port, but how to build it? :)

[2021-03-23 16:10] jiuqiant commented on #1550
We experienced a similar issue a few days ago and it is solved by deprioritizing jcenter like the following:

[code]

[2021-03-23 23:06] saurabhchalke commented on #1743
Thanks for your inputs @gkarpiak. I have one last question, I have eliminated the image_frame from the final GpuBuffer output, and trying to superimpose the Skeleton over my Android view, but the output has a black background with the Skelton instead.

Would converting the GpuBuffer to ImageFrame solve the issue here? If so are there any way using any existing calculators that can be used to produ

[2021-03-24 03:58] mariamrahmaani commented on #1740
Any update?

[2021-03-24 04:23] sgowroji commented on #1787
Hi @ocastan, can you illustrate the above wrong or misnamed landmark details a bit more and why?

[2021-03-24 04:43] sgowroji commented on #1788
Hi @luke-han, Could you please elaborate the above issue with complete details like which solution are you trying, what are your steps and when is the error occurred. Thanks !

[2021-03-24 05:09] sgowroji commented on #1752
Hi @AmritAmar Did you get a chance to go through above comment. Thanks!

[2021-03-24 05:11] sgowroji commented on #1762
Hi @shivSD , Can you address above comment.

[2021-03-24 05:12] sgowroji commented on #1763
Hi @wxk2008 ,  Did you get a chance to go through the above comment. Thanks!

[2021-03-24 05:13] sgowroji commented on #1772
Hi @prophett0527 Did you get a chance to go through the above comment. Thanks!

[2021-03-24 05:58] sgowroji commented on #1729
Hi @yuchenz27  Did you get a chance to go through the above comment. Thanks!

[2021-03-24 06:14] tmsbyim01 commented on #1777
@smooth-vlad Thank you for sharing solution, it's work for me!

[2021-03-24 07:02] liuminghui233 commented on #762
Have you solved the problem now? Can you give me some advice?

[2021-03-24 07:26] ocastan commented on #1787
Hello
I'll do my best to reformulate to make it more clear: the landmarks named kMiddleFingerPIPJoint, kIndexFingerPIPJoint and kRingFingerPIPJoint in
hand_landmarks_to_rect_calculator.cc correspond to landmarks named MIDDLE_FINGER_MCP, INDEX_FINGER_MCP and RING_FINGER_MCP in the model description figure https://google.github.io/mediapipe/images/mobile/hand_landmarks.png (the indexes are different

[2021-03-24 08:24] bugmany opened #1789 "how to use customize resource file with faceeffect?"
In project FaceEffect, with effect files(such as facepaint and glasses) pngblob and binarypb, ran ok, but these resources are intergraded into project when built, so i want whether divide these resources, and load its when run the project.

i've research the sources file "face_geometry/effect_renderer_calculator.cc", with functions:
ReadContentBlobFromFile(),
ReadMesh3dFromFile(),
i've parsed reso

[2021-03-24 08:51] sgowroji commented on #1789
Hi @bugmany May be [this](https://google.github.io/mediapipe/solutions/face_mesh#effect-renderer) and https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_geometry/effect_renderer_calculator.cc can address your queries well. Let me know if you have any further queries. Thanks!

[2021-03-24 09:13] bugmany commented on #1789
@sgowroji Thanks for you reply, i've read the document [face-effect-renderer](https://google.github.io/mediapipe/solutions/face_mesh#effect-renderer), here introduced how to render face effect, didnot refer to customize resource files.

[2021-03-24 09:52] sgowroji commented on #1789
I have assigned to @kostyaby he may guide you about it. But take a look at this [issue](https://github.com/google/mediapipe/issues/1155) for better understanding.

[2021-03-24 10:25] emredog opened #1790 "[holistic] landmark presence is always 0"
I'm using Python API, with `mediapipe==0.8.3`. And particularly interested in the full body pose estimation (face and hands are not my primary concern).

According to [model card](https://drive.google.com/file/d/1UqfMdZ4sqioHULu6E-W0gp6JCcXAZPGK/view), there are now (or always were, don't remember sorry) both **visibility** and **presence** estimations for each landmark.

Visibility is working as

[2021-03-24 12:36] rohithsai45 opened #1791 "FPS drop when using GLSurfaceView"
Hi,
I am using mediapipe and custom tflite model to achieve portrait segmentation.
Here is the repo link for the same https://github.com/rohithsai45/Segmentation

When i use SurfaceView, i am getting 25-30fps, but when i replace it with GLSurfaceView and trying out new rendering pipeline then there is FPS drop( getting 15-20FPS). Help around this would be highly appreciated.

Device - Samsung Gala

[2021-03-24 13:32] shivSD commented on #1762
Basically i want to tap the predicted output from hair segmentation inference network. Please can you give me some clues which files i need to look for.  something like this [link](https://github.com/google/mediapipe/issues/64) but i need to extract the hair mask.

[2021-03-24 13:35] sgowroji commented on #1790
Hi @emredog Could you please elaborate your requirement  with more details. What you wanted to achieve and what solutions did you try. Thanks!

[2021-03-24 13:46] emredog commented on #1790
Thanks for the quick response @sgowroji !

If I understand the model card correctly, `presence` value will allow to me identify the self-occluded landmarks:
- hi visibility & hi presence -> visible
- lo visibility & hi presence -> occluded

But I tested with a couple of different videos, and monitored that `presence` value is always 0 for all landmarks, regardless of the video content.

So my ques

[2021-03-24 15:19] riadoshi commented on #1620
I have the same issue -- how can I obtain the tracking confidence of the hands detected? I set the min_tracking_confidence to a value when starting the program, but how do I access the actual value of the tracking confidence?

Thanks for your help!

[2021-03-24 18:48] vamsee-asu2019 commented on #1747
Is anyone looking into this?

[2021-03-24 18:48] vamsee-asu2019 commented on #1746
Is anyone looking into this?

[2021-03-24 18:58] kartynnik commented on #1762
In the [corresponding graph](https://github.com/google/mediapipe/blob/master/mediapipe/graphs/hair_segmentation/hair_segmentation_desktop_live.pbtxt#L128), the `MASK:hair_mask` output stream of `TfLiteTensorsToSegmentationCalculator` is the OpenCV `Mat` containing the segmentation mask.

[2021-03-24 20:38] jiuqiant commented on #1746
Due to limited resources, we are not actively working on this. You can follow https://stackoverflow.com/questions/49664449/can-bazel-build-dll to build dlls.

[2021-03-25 02:21] flyinskyin2013 opened #1792 "'face_detection_gpu' fails on ubuntu18.04(RockChip-3399PRO)"
### I'm failed to try running  'face_detection_gpu' on ubuntu18.04(RockChip-3399PRO(A arm64 chip)) .
### I try it by the follow ways:
#### 1st Way:
[code]
#### 2nd Way(https://google.github.io/mediapipe/getting_started/gpu_support.html)
[code]

### OpenGL ES Info
[code]

### How to solve it?
I can only run 'face_detection_cpu'?

[2021-03-25 02:31] JerryloveEmily commented on #1405
**> from mediapipe.python._framework_bindings import resource_util

------------------------------------------------------------------------------------------------------------------------------
**Have you solved this problem and how? I've reinstalled mediapipe several times, and it's still the same for other versions.**

[2021-03-25 02:46] vktec opened #1793 "Python wrapper for ObserveOutputStream does not acquire GIL when calling callback"
The Python wrapper function `CalculatorGraph.observe_output_stream` registers a callback, but when that callback calls the Python function it does not acquire the Global Interpreter Lock. This results in occasional failed assertions and/or segmentation faults when this callback is called.

[2021-03-25 03:22] gittitov commented on #1792
You need OpenGL ES 3.1 to do GPU-inference
I also have rk3399pro and ubuntu18.04 (http://en.t-firefly.com/doc/download/61.html)
but i have:

libGL error: failed to create dri screen
libGL error: failed to load driver: rockchip
libGL error: failed to create dri screen
libGL error: failed to load driver: rockchip
server glx version string: 1.4
client glx version string: 1.4
GLX version: 1.4
    Max

[2021-03-25 03:35] sgowroji commented on #1793
Hi @vktec Could you please elaborate the issue with complete details. Like what solution are you trying and what is your Error and what did you try. Thanks!

[2021-03-25 04:39] bugmany commented on #1789
Hi @kostyaby, Could you give me advice?

[2021-03-25 06:06] XiangBaoSong commented on #1237
there is the problem on the newest branch ,but l must use that.how can l sovel the same problem?thanks!!!

but these file both exists here
![image](https://user-images.githubusercontent.com/24597687/112426643-45fe9600-8d73-11eb-916e-e1702acb4c88.png)

[2021-03-25 06:19] midhulavijayan commented on #1182
Hi @nitin26gupta, Have you resolved the issue?..

[2021-03-25 07:03] akshatbjain commented on #1427
Hey guys! Any update on this issue? Really great work on building mediapipe. Unfortunately, it not working on iOS is a bit of a bummer. Would really appreciate it if you guys could take a look at solving this issue.

[2021-03-25 07:06] Trout70 opened #1794 "Error occurred when build in jetson NX"
Hi.
I build mediapipe Python  in jetson NX , error occurred like bellow
Follow the GitHub((https://github.com/jiuqiant/mediapipe_python_aarch64))
jetson NX : jetpack 4.4,  4.5,  4.5.1  All the same  error
os: ubuntu 18.04
python: 3.6
bazel: 3.4.1
code:  python3 setup.py gen_protos && python3 setup.py bdist_wheel

Starting local Bazel server and connecting to it...
WARNING: ignoring LD_PRELOAD in e

[2021-03-25 07:11] AmritAmar commented on #1752
Thanks a lot! ref2 helps!

[2021-03-25 07:11] #1752 closed

[2021-03-25 07:41] sgowroji commented on #1794
Hi  @Trout70 , This  https://github.com/google/mediapipe/issues/1674#issuecomment-788295898 will address your query. Thanks!

[2021-03-25 08:03] waiyc opened #1795 "Python packages build failed"
I followed the [installation steps to build the python package](https://google.github.io/mediapipe/getting_started/python.html#building-mediapipe-python-package) for Ubuntu 18.04 but encounter the following error
[code]
The error is similar to the one mentioned [here](https://github.com/google/mediapipe/issues/1733#issuecomment-797794009)

[2021-03-25 08:31] gittitov commented on #1792
So, everything worked for me.
GPU-inference - ok (Mediapipe 0.8.0)
Main bug like here (#undef Status) https://github.com/tensorflow/tensorflow/issues/12278

[2021-03-25 08:33] AryanSethi opened #1796 "mediapipe in flutter applications"
Is there any way to run **mediapipe models** on flutter applications?

[2021-03-25 08:56] sgowroji commented on #1796
Take a look  at this #1046 #17

[2021-03-25 09:04] sgowroji commented on #1795
Hi @waiyc Did you try this  https://github.com/google/mediapipe/issues/1733#issuecomment-797796499

[2021-03-25 09:08] waiyc commented on #1795
@sgowroji I am using version 0.8.0 previously which was built using the same steps. However, version 0.8.0 it does not support for iris detection and objectron detection and thats the reason why I need the latest version

[2021-03-25 11:40] #1796 closed

[2021-03-25 11:56] sgowroji commented on #1795
@waiyc Can you elaborate your query  with complete details. Thanks!

[2021-03-25 12:27] terabithian007 opened #1797 "Running MediaPipe without any preview on Android"
I am using MediaPipe to run a pose estimation network followed by an action classifier.
I want to turn off the rendering of the output video and just want to use the output of the classifier in my app.

Are there any examples available that explain how to use mediapipe without any preview rendering ?

TIA

[2021-03-25 14:12] alecda573 commented on #1768
@sgowroji and @mgyong any updates on this?

[2021-03-25 17:47] kostyaby commented on #1789
Hey @bugmany,

Let me rephrase your question to make sure I understand it correctly: you wanted to enable `FaceGeometryEffectRendererCalculator` assets to be loaded not from an app binary, but from some other path on Android / iOS and you had troubles doing that, correct?

If that's the case, could you please share the following details so I have enough context:

- Did you place those external ass

[2021-03-25 19:07] Blu-Eagle commented on #1737
doing this doesn't work, it returns face_detections only the first time.

I solved doing this:

    img = cap.read()
    imgRGB = cv2.cvtColor(img, cv2.COLOR_BGR2RGB)
    results = face_mesh.process(imgRGB)

    if results.multi_face_landmarks:
        for faceLms in results.multi_face_landmarks:
            mpDraw.draw_landmarks(img, faceLms, mp_face_mesh.FACE_CONNECTIONS)

            h, w, c =

[2021-03-25 19:42] alexrichardson21 opened #1798 "create face_mesh obj file in python"
I'm using the face_mesh solution in Python which outputs only the 3D landmarks. I'm looking to turn that into a .obj file but the face_mesh solution API does not provide mesh triangle indices, mesh normals, or mesh UV texture coordinates. Is it possible to do this in Python?

[2021-03-25 21:29] eknight7 commented on #1415
Hi @Gauraviiitian, since the issue has been inactive, we will close it. Please feel free to re-open this issue for further questions. Thank you!

[2021-03-25 21:29] #1415 closed

[2021-03-25 21:30] eknight7 commented on #555
Hi @MitchDtown, since the issue has been inactive, we will close it. Please feel free to reopen it for further quesitions. Thank you!

[2021-03-25 21:30] #555 closed

[2021-03-25 21:31] eknight7 commented on #1443
Hi @youto614 @DandyLorenz since this issue has been inactive, we will close it. Please feel free to reopen if you have further questions. Thank you!

[2021-03-25 21:31] #1443 closed

[2021-03-25 21:32] eknight7 commented on #1506
Hi @ShahmirJlavyan, since this issue has been inactive, we will close it. However, please feel free to reopen if you have further questions. Thank you!

[2021-03-25 21:32] #1506 closed

[2021-03-25 21:44] eknight7 commented on #1558
Yes @MaRauder111 you have to write a new proto file for the `HandZoomGestureRecognitionCalculatorOptions`. For example, please see [landmarks_to_floats_calculator.cc](https://github.com/google/mediapipe/blob/master/mediapipe/calculators/util/landmarks_to_floats_calculator.cc) which uses a custom proto file [landmarks_to_floats_calculator.proto](https://github.com/google/mediapipe/blob/master/media

[2021-03-25 22:01] eknight7 commented on #1568
Hi @huangatlas - apologies for the delay in reply.
Can you please confirm that you are observing this issue in the latest MediaPipe release? Thank you.

[2021-03-25 22:02] eknight7 commented on #1532
Hi @morfant, @prantoran can you please confirm if you are observing this issue in the latest MediaPipe release? Thank you.

[2021-03-25 22:26] eknight7 commented on #1655
Hi @shadow111, can you please share your BUILD file? and your MainActivity code? thanks

[2021-03-25 22:27] eknight7 commented on #1645
Hi @abiemann what library/SDK are you using for getting the camera?

[2021-03-25 22:31] eknight7 commented on #1660
Hi, can you please share the following?
* Android device type
* Android build
* Are you able to build other solutions successfully? For example the `Basic` app: https://github.com/google/mediapipe/tree/master/mediapipe/examples/android/src/java/com/google/mediapipe/apps/basic and Face Detection: https://google.github.io/mediapipe/solutions/face_detection.html
Also please try this on the latest Med

[2021-03-26 00:15] vamsee-asu2019 commented on #1747
I have narrowed down the issue. The problem is in the graph_output_stream.cc at https://github.com/google/mediapipe/blob/a92cff7a60031f5c3097b06e74416732d85b5011/mediapipe/framework/graph_output_stream.cc#L144 .
 Seems that the lock is not being released. I have debugged it by using the print statements before and after this line. Also it only crashes when I look at extreme angles.

[2021-03-26 01:05] eknight7 commented on #1668
Hi @shadow111, we presently don't have any support for `android.graphics`.
However, the rendering calculators draw the results on the image in C++ and then hand off the final image as a packet to the Java side.

If you follow the [Hello World on Android tutorial for MediaPipe](https://google.github.io/mediapipe/getting_started/hello_world_android.html), there it [discusses](https://google.github.i

[2021-03-26 01:13] vamsee-asu2019 commented on #1747
@jiuqiant  Can you help me with this? I am stuck with this issue for more than 10 days now.

[2021-03-26 01:24] vamsee-asu2019 commented on #1747
I have changed the https://github.com/google/mediapipe/blob/a92cff7a60031f5c3097b06e74416732d85b5011/mediapipe/framework/graph_output_stream.cc#L144 to `handler_condvar_.WaitWithTimeout(&mutex_,duration); `. But now , it crahes in Get method of the poller that fetches the packet. I tried adding a try catch around that Get() method , even then it is crashing saysing that the packet is empty . Error

[2021-03-26 01:41] mcclanahoochie commented on #1425
Try using a calculator to convert to gpu, such as [ImageFrameToGpuBuffer](https://github.com/google/mediapipe/blob/master/mediapipe/graphs/face_detection/face_detection_mobile_cpu.pbtxt#L72)

[2021-03-26 01:44] mcclanahoochie commented on #1770
The stream for the input camera textures is [here](https://github.com/jiuqiant/mediapipe_multi_hands_tracking_aar_example/blob/master/app/src/main/java/com/example/mediapipemultihandstrackingapp/MainActivity.java#L41). You can add a callback for that.

[2021-03-26 01:54] mcclanahoochie commented on #1770
The processor [gets frames](https://github.com/jiuqiant/mediapipe_multi_hands_tracking_aar_example/blob/master/app/src/main/java/com/example/mediapipemultihandstrackingapp/MainActivity.java#L144) from the ExternalTextureConverter (which converts the raw camera surface/texture into GL_TEXTURE2D textures). You can create a [consumer](https://github.com/google/mediapipe/blob/master/mediapipe/java/com

[2021-03-26 02:55] silverlining21 commented on #1550
I guess it caused by GFW, in China mainland. There are 2 options:
1. use VPN
2. use the maven ource provided by Orgs in China, such as aliyun. I replace the source repositories with maven  repo of aliyun

`
root@99ef86034630:/mediapipe-0.8.1# diff WORKSPACE WORKSPACE.bk
244d243
<     path = "/root/Android/Sdk/ndk-bundle/android-ndk-r18b",
249d247
<     path = "/root/Android/Sdk",
348,353c346,349
<

[2021-03-26 04:03] mcclanahoochie commented on #1740
I can verify things in mediapipe are running on the gpu by inspecting the logs and adding debug prints to the inference_calculator_*cc files (notice "xxx cpu" from inference_calculator_cpu.cc did not print).

[code]

Do the other gpu examples show up on nvidia-smi?

I can open up Chrome and run intensive [webgl programs](https://webglsamples.org/aquarium/aquarium.html) and nvidia-smi doesn't show

[2021-03-26 05:33] #1757 closed

[2021-03-26 06:06] HCT96 commented on #1550
?

El jue., 25 de marzo de 2021 8:56 p. m., Full-HD ***@***.***>
escribió:

[2021-03-26 06:11] luke-han commented on #1788
@sgowroji

Hi, I used my own custom graph, but I could reproduce with FaceEffectApp.

I added the following codes at the top of `mediapipe/graphs/face_effect/face_effect_gpu.pbtxt` and run FaceEffectApp on iOS 14.4.1 (iPhone 12 Pro Max)
[code]

And, I downloaded the container and upload `AppData/Documents/mediapipe_trace_0.binarypb` file to the viz.mediapipe.dev.

Thanks!

[2021-03-26 06:46] weixinz1 opened #1800 "modify node option in Android"
are there any Android API to modify the node option at run time?

[2021-03-26 07:15] yangcheng commented on #1425
thanks, is there a way to get result pose directly without rendering ?

[2021-03-26 09:02] atul109 opened #1801 "Buggy on Motorola devices"
The build provided in instant tracking page will not work in any Motorola devices, but it can be solved by this fix
https://github.com/google/mediapipe/pull/1799

Even after applying the above fix, Moto G5+ camera preview was lagging and crashes after few seconds
Orientation of 3D is different from rest of devices.

I am unable to provide any crash logs since the device is not with me. Will update

[2021-03-26 10:42] flyinskyin2013 commented on #1792
Ok.Thank you.

I ask my supplier to help me with upgrading the Opengl ES。

Then, It works for me.

[2021-03-26 10:43] #1792 closed

[2021-03-26 12:09] HyperScypion opened #1802 "How to use tracking and profiling hook?"
Hi, I don't understand how to you profiling hook, all the time I've got errors can someone explain to me how it should works?

[2021-03-26 12:56] vandics opened #1803 "Can't save landmark list to csv file"
I'm trying to save landmark from pose landmark from holistic. When I trying it on image it will work properly, however when work on realtime (webcam) it's show an error like 'results.pose_landmarks' has type None and dont has attribute 'landmark'.Whats wrong with my code?
![image](https://user-images.githubusercontent.com/79313671/112635358-4c256d00-8e6e-11eb-83ed-641677343c76.png)
![image](https:

[2021-03-26 13:45] HyperScypion opened #1804 "LoaderCould not load trace 'mediapipe_trace_0.binarypb'. UploaderCould not load trace 'mediapipe_trace_0.binarypb': c.h[F] is undefined"
After pulling trace file viz says: LoaderCould not load trace 'mediapipe_trace_0.binarypb'.
UploaderCould not load trace 'mediapipe_trace_0.binarypb': c.h[F] is undefined

[2021-03-26 15:08] vandics commented on #1479
could you give me information to fix it? I face this problem too

[2021-03-26 15:45] mariamrahmaani commented on #1740
Interesting that nvidia-gpu doesn't show anything, and media-pipe log show it does.
Thanks for checking.
Can you please also compare the CPU and GPU time? Generally people run the model on GPU to get a performance gain. However in my case the GPU model  is much slower than CPU and nvidia-smi doesn't show anything. Is it possible that mediapipe doesn't load GPU enough? Is there a way for you to com

[2021-03-27 07:38] adrishyantee commented on #762
Even I am also having the same problem. Kindly help me out

[2021-03-27 07:54] Cubbee commented on #831
I've modified jiuqiant`s repo to support receiving the bitmap, here is the sample: https://github.com/Cubbee/mediapipe_multi_hands_tracking_aar_example

It works with aar built from https://github.com/Cubbee/mediapipe, you can find instructions there.

Steps to make it work:

1. From the mediapipe side, you need to add GpuBufferToImageFrameCalculator to the graph somewhere, for example `mediapipe/

[2021-03-27 11:14] Faiqzakii commented on #1803
Because of min_detection_confidence and min_tracking_confidence you set is very high (0.7)
It means not every frame will detecting pose on the webcam

So you can add some condition before extracting the landmark coordinate
[code]
You can do the same condition for hand landmark

[2021-03-27 11:22] wxk2008 opened #1805 "when add the android:sharedUserId in the AndroidManifest.xml, install the apk, there is the failed to install handtrackinggpu.apk: Failure [INSTALL_FAILED_SHARED_USER_INCOMPATIBLE: Package com.google.mediapipe.apps.handtrackinggpu tried to change user null]"
when using this method(https://blog.csdn.net/TAI_BAO/article/details/109116112) to singature, there is another issuse,
java.security.cert.CertificateException: Could not parse certificate: java.io.IOException: Empty input
	at java.base/sun.security.provider.X509Factory.engineGenerateCertificate(X509Factory.java:115)
	at java.base/java.security.cert.CertificateFactory.generateCertificate(Certificat

[2021-03-27 13:06] vandics commented on #1803
Thanks for your advice. You are right that every frame detecting pose on the webcam so I just some condition. Therefore, I have another problem where landmark that are not detected on webcam still appear on the csv file, when it should be not appear on the csv or the value is zero. Do you know whats wrong?

[2021-03-27 13:41] Faiqzakii commented on #1803
Make sure to assign the value inside `if`, and maybe you can reset the variable for every frame while cap is opened just to make sure no data is added when pose is not detected

[2021-03-27 17:05] midhulavijayan commented on #831
@Cubbee : Thank you so much.. its working :)

[2021-03-27 19:42] BSchrift opened #1806 "Javascript api documentation and/or typescript declarations?"
Hi, I'm working on a react and typescript based webapp and I would like to use the mediapipe javascript api. Has anyone written any working typescript declarations for the api? Also, is there any more detailed API reference than just the codepen examples and small snippets found on the homepage?

Thanks so much for your help.

[2021-03-28 06:14] Rizwan2613 opened #1808 "BlazePose in Flutter app"
Hi,
I hope you are fine. I want to ask if there is any way to integrate blazepose model directly in Flutter app. I have found a solution which is implementing it natively. I want to add blazepose without native implemention. Any help will be benificial for me.

Thank you in advance.

[2021-03-28 08:46] lookou opened #1809 "MacOS Android Compile Error: Attempted to construct a reference element in a tuple with an rvalue"
OS: MacOS 10.15.7

clang --version
[code]
bazel 3.7.0
javac 1.8.0_221

[code]

Is this the compiler version problem?  Thanks!

[2021-03-28 08:46] lookou commented on #1809
I can compile android example  helloworld success

[2021-03-28 20:05] Tortoise17 opened #1810 "Video exporting autocrop with fixed dimensions"
i want to autocrop video on desktop for mobile based dimensions !!!
is there any way or example which can help ?

[2021-03-29 03:00] traoremp commented on #1279
Hello @mgyong has the Javascript API been released yet ?

[2021-03-29 03:29] djthegr8 commented on #1279
Yes, it has been released

[2021-03-29 06:23] traoremp commented on #1279
Which repo is it in ? I cannot find it.

[2021-03-29 06:34] djthegr8 commented on #1279
Not public, sadly.
There is (limited) documentation on their [website](https://docs.mediapipe.dev), and a bit more on my PR #1434 so you could check that

[2021-03-29 06:42] bugmany commented on #1789
Hi @kostyaby, i'll try it, thanks.

[2021-03-29 07:20] ramilmsh commented on #1673
@sergweb thank you for the solution, it worked for me. Could you make a PR for this?

[2021-03-29 09:25] sgowroji commented on #1798
Hi @alexrichardson21  Kindly go through this two issues for clear idea https://github.com/google/mediapipe/issues/1698, https://github.com/google/mediapipe/issues/1155.

[2021-03-29 09:28] sgowroji commented on #1797
Hi @terabithian007 Assuming this is similar to your query https://github.com/google/mediapipe/issues/1743. Go through it and let me know if more details needed. Thanks !

[2021-03-29 09:31] fenollp commented on #1483
Can we reopen this? I have the same error (on a system that used to have mediapipe working). On ubuntu 20.04 as well as 20.10.
`glxinfo | \grep "OpenGL version"` gives `OpenGL version string: 4.6 (Compatibility Profile) Mesa 20.2.6` (note the exact same Mesa version).
No luck with `DRI_PRIME=1`.
Will be trying `DISPLAY` things next.

Surely this is not a MediaPipe issue but more of a Mesa driver i

[2021-03-29 09:39] sgowroji commented on #1800
Hi @weixinz1 Could you please elaborate the query with complete details. Thanks!

[2021-03-29 09:42] Tortoise17 opened #1811 "Target //mediapipe/modules/face_detection:face_detection_front_cpu failed to build CentOS 7"
I am trying to install on CentOS.
gcc: error: unrecognized command line option '-std=c++17'
Is it yet not possible to install on CentOS? or something else is issue

I have gcc 9.x
and bazel 4

[2021-03-29 09:45] sgowroji commented on #1801
Hi @atul109  Without error logs, We will not able to answer your query. Need logs and Complete device details  to verify. Thanks!

[2021-03-29 09:48] sgowroji commented on #1802
Hi @HyperScypion Please elaborate  your query with complete details. Like what solution are you trying and where did you encounter the error. And finally, what are the errors. Thanks

[2021-03-29 09:57] sgowroji commented on #1804
Hi @HyperScypion Please provide the clear and complete issue details to understand.

[2021-03-29 10:00] sgowroji commented on #1805
Hi @wxk2008 Could you please help us by giving more details of the above issue as how it is related to MediaPipe. Thanks!

[2021-03-29 10:04] kywq opened #1812 "implement Holistic with React js, static/local import instead cdn.jsdelivr.net"
## Description

Hello everyone,

I am building Holistic model with react js, importing the model as seen below.

`import {  Holistic } from '@mediapipe/holistic/holistic'`

However, when instancing the object Holistic, it takes very long time and I thought it may be fixed by importing the local files instead from pulling them from the CDN (code below).

**Current instancing code:**
`holistic = new

[2021-03-29 10:05] sgowroji commented on #1809
Closing it as we see you resolved.
Thanks!

[2021-03-29 10:05] #1809 closed

[2021-03-29 10:11] sgowroji commented on #1808
Hi @Rizwan2613,  No plans for flutter package from MediaPipe team. However, there is community example in awesome-mediapipe repo.

[2021-03-29 10:11] #1808 closed

[2021-03-29 10:18] sgowroji commented on #1810
Hi @Tortoise17, Could you provide the solution and platform details. Thanks!

[2021-03-29 10:21] sgowroji commented on #1811
Hi @Tortoise17 , Needed  complete details to answer the query. Thanks!

[2021-03-29 11:03] sgowroji commented on #1806
Hi Duplicate of this https://github.com/google/mediapipe/issues/1408

[2021-03-29 11:03] #1806 closed

[2021-03-29 11:15] sgowroji commented on #1734
Hi @sufiaji , Can you share the status of this issue. Thanks!

[2021-03-29 11:17] sgowroji commented on #1729
Assuming you are resolved from the above comments. Hence closing this issue. Please feel free to open if the issue still persists. Thanks!

[2021-03-29 11:17] #1729 closed

[2021-03-29 11:22] sgowroji commented on #1746
Hi @vamsee-asu2019  above comment resolved your query. So closing this issue. Thanks.

[2021-03-29 11:22] #1746 closed

[2021-03-29 11:25] sgowroji commented on #1762
Hi @shivSD  Above comment resolved your query. So closing this issue . Thanks!

[2021-03-29 11:25] #1762 closed

[2021-03-29 11:26] sgowroji commented on #1763
Hi @wxk2008  Assuming you are resolved, we are closing this issue. Thanks!

[2021-03-29 11:26] #1763 closed

[2021-03-29 11:26] sufiaji commented on #1734
Dear @jiuqiant @sgowroji

Apologize for being too long to response.
I tried the trimmed video as suggested by @jiuqiant , the 36s video... and it was dump on iteration 33 as below

![image](https://user-images.githubusercontent.com/7789546/112829733-bbdc6780-90bb-11eb-9e80-c672b70d1622.png)

This is the code:

![image](https://user-images.githubusercontent.com/7789546/112829826-e0384400-90bb-11eb-

[2021-03-29 11:28] sgowroji commented on #1772
Hi @prophett0527  Assuming you are resolved from the above comments. Hence closing this issue. Thanks!

[2021-03-29 11:28] #1772 closed

[2021-03-29 12:03] sgowroji commented on #1788
It's working fine while running on IOS device. But facing issue on  viz.mediapipe.dev. Right?

[2021-03-29 12:31] Tortoise17 commented on #1811
I am trying to build the setup to deploy models for autocroping

I am facing the error

ERROR: /home/desktop/.cache/bazel/_bazel_desktop/5dc601d81e0d748cda1b89e455be1822/external/rules_foreign_cc/toolchains/BUILD.bazel:77:22: @platforms//os:windows is not a valid configuration key for @rules_foreign_cc//toolchains:built_make
ERROR: Analysis of target '//mediapipe/modules/face_detection:face_detect

[2021-03-29 14:36] lookou commented on #1809
sorry, I mean I can successfully compile helloworld, but others failed.

[2021-03-29 14:42] lookou commented on #1809
sorry, I mean I can successfully compile helloworld, but others failed.

[2021-03-29 18:21] BSchrift commented on #1408
Even if the source code has not been released, has anyone documented the API or created typescript declarations?

[2021-03-29 19:31] gkarpiak commented on #1760
Not sure I got the question correctly, but:
1. There's no compatibility with Intel Real Sense, and it was not considered.
2. If landmarks are shifted, maybe you could adjust that me (basically shift, so they fit the other detections)

[2021-03-29 19:44] eknight7 commented on #1787
Reassigning to @fanzhanggoogle since he knows about the [calculator](https://github.com/google/mediapipe/blob/master/mediapipe/modules/hand_landmark/calculators/hand_landmarks_to_rect_calculator.cc) in question.

[2021-03-29 19:49] eknight7 commented on #1693
Since this is related to bazel build issues, reassigning to @jiuqiant for support.

[2021-03-29 19:58] jude253 commented on #1551
I am on MacOS Big Sur and I am not able to get MediaPipe to build.  I downloaded bazelisk, and I am going to try what you have said @Neopallium.

[2021-03-29 21:07] vamsee-asu2019 commented on #1747
Hi  @ivan-grishchenko ,
I was able to solve this issue by adding hanging the following line https://github.com/google/mediapipe/blob/a92cff7a60031f5c3097b06e74416732d85b5011/mediapipe/framework/graph_output_stream.cc#L144 to handler_condvar_.WaitWithTimeout(&mutex_,duration); and adding a  count variable inside the while loop : https://github.com/google/mediapipe/blob/a92cff7a60031f5c3097b06e74416

[2021-03-29 21:17] eknight7 commented on #1745
@ljmkimqx - to reproduce this, can you share all the steps you have performed for getting this error, perhaps by sharing your repository? Thank you.

[2021-03-29 21:20] eknight7 commented on #1784
Hi @yangcheng - are you having trouble running other CPU examples as well? For example, does Hand tracking work? Does the [basic Hello world Android](https://google.github.io/mediapipe/getting_started/hello_world_android.html) MediaPipe demo work?

[2021-03-29 21:23] jiuqiant commented on #1693
Unfortunately, MediaPipe Android reads models/files from assets dir. For example, https://github.com/google/mediapipe/blob/7c331ad58b2cca0dca468e342768900041d65adc/mediapipe/util/tflite/tflite_model_loader.cc#L22. So, it doesn't support putting model files into binary.

[2021-03-29 22:10] luke-han commented on #1788
Yes that’s correct. I think some keys of the traced file are missing.

[2021-03-29 23:29] b4017816 opened #1813 "Build Aborted: Problem getting NumPy include path"
Hi, I'm following the steps to create a Mediapipe .AAR but I can't get past an error with NumPy not being detected,

NumPy was detected as missing after initial install (Ubuntu 20.04 via WSL on Windows 10) during the "hello world" test in the instructions, so I installed NumPy with pip, and the "hello world" test ran fine

But I run into "Build Aborted: Problem getting NumPy include path" when run

[2021-03-29 23:33] izaharkin commented on #1693
Thank you very much for your response.

I understand now that MediaPipe does not support this "feature" out-of-the-box, thank you. Maybe one could do something to integrate all the asset files into binary while building, e.g. by using [xxd](https://stackoverflow.com/questions/28242813/how-to-convert-a-text-file-to-binary-file-using-linux-commands)? I had some experience in using it when it comes t

[2021-03-29 23:34] mgyong commented on #1408
The problem is that we require bazel to support the --wasm option and additional work on our end to clear up our internal code in order to release. Currently there are no plans till maybe Q2 2021.

[2021-03-29 23:41] dlucio commented on #1812
Hi @kywq.

I guess this solution can work for you.

For the Pose model, first I imported the model and all dependencies.
[code]

Then I modified the _locateFile_ param to this
[code]
I hope that helps.

[2021-03-29 23:43] mgyong commented on #1768
@ablavatski Can you answer?

[2021-03-29 23:47] mgyong commented on #1744
Jiuqiang - Any ideas on this build issue?

[2021-03-29 23:50] Choons commented on #1408
it's a bit silly really considering the code is already out there in the
tensorflow.js models examples. The question is how similar or different
your release is from that?

On Mon, Mar 29, 2021, 6:34 PM Ming Yong ***@***.***> wrote:

[2021-03-29 23:56] ablavatski commented on #1768
Sure. Densify op has been introduced into TFLite (https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/schema/schema.fbs#L358) in order to convert the sparse weights into dense one that can be further used in other ops of TensorFlow Lite graph like regular or depthwise convolutions. The op helps to store the sparse weights in optimized format what reduces the size (on the disk) of

[2021-03-29 23:56] mgyong commented on #1408
@Choons It's quite different. tf.js does not use wasm. MP js solutions api does. If it was easy for us to release, we would have done it. Matter of bandwidth and priority

[2021-03-29 23:57] mgyong commented on #1781
@jiuqiant Is working on python api

[2021-03-30 00:19] Choons commented on #1408
true. it doesn't expose the killer features promised in the write-up. quite
different.

On Mon, Mar 29, 2021 at 6:57 PM Ming Yong ***@***.***> wrote:

[2021-03-30 00:30] Choons commented on #1806
Only very basic features are exposed in the javascript release. Can't do most of the things mentioned in the glowing write-up

[2021-03-30 00:36] chuoling commented on #1408
One thing we could do quickly is to include the TypeScript declarations (w/ inline comments) in the NPM package. @Choons would that help?

[2021-03-30 00:38] Choons commented on #1408
Yes! Anything you can pass over to us would be great. We're willing to help!

On Mon, Mar 29, 2021 at 7:36 PM chuoling ***@***.***> wrote:

[2021-03-30 00:42] chuoling commented on #1408
Great. @mhays-google owns our JS solutions and will look into it.

[2021-03-30 00:57] lookou opened #1814 "MacOS Android Compile Error: Attempted to construct a reference element in a tuple with an rvalue"
OS: MacOS 10.15.7

clang --version

[code]
bazel 3.7.0
javac 1.8.0_221

[code]

PS: I can successfully compile basic::helloworld, but all others failed

[2021-03-30 01:11] pkaske opened #1815 "face landmark documentation"
![image7](https://user-images.githubusercontent.com/70996435/112918562-c6522d80-90ca-11eb-8eb4-05246985a6aa.jpg)
![hand_landmarks](https://user-images.githubusercontent.com/70996435/112918577-c9e5b480-90ca-11eb-8ede-a76d2b58ef52.png)

is there any face landmark documentation that documents all the 468 face landmark points like these images do with the pose and hands?

[2021-03-30 01:22] weixinz1 commented on #1800
I want to change the RecolorCalculatorOptions in 'hair_segmentation_mobile_gpu.pbtxt' in the runtime

[2021-03-30 01:27] weixinz1 commented on #1800
I want to change the hair color value of RecolorCalculatorOptions in 'hair_segmentation_mobile_gpu.pbtxt' in the runtime

[2021-03-30 02:02] jiuqiant commented on #1781
I would like to keep it as simple as possible. drawing_util is not part of the core solution API and is only for demonstrating how to interpret the solution API outputs . Please feel free to implement a more flexible drawing util for your needs.

[2021-03-30 02:08] jiuqiant commented on #1744
No, I have not clue. It seems similar to https://github.com/bazelbuild/bazel/issues/12799, which might be a tensorflow issue.

[2021-03-30 02:27] jiuqiant commented on #1744
No, I have not clue as well ;( It seems similar to https://github.com/bazelbuild/bazel/issues/12799, which might be a tensorflow issue.

[2021-03-30 02:34] jiuqiant commented on #1813
https://google.github.io/mediapipe/getting_started/troubleshooting.html#missing-necessary-python-packages

[2021-03-30 02:45] Choons commented on #1815
I think this is the right one. zoom way in

https://github.com/google/mediapipe/tree/master/mediapipe/modules/face_geometry/data

![canonical_face_model_uv_visualization](https://user-images.githubusercontent.com/16409313/112925728-eb996880-90d7-11eb-9937-1d6188ab6b59.png)

[2021-03-30 02:48] Choons commented on #1408
I'll leave this here. https://github.com/spite/FaceMeshFaceGeometry

maybe people will find it useful

[2021-03-30 03:04] Choons commented on #1457
I'll leave this here. https://github.com/spite/FaceMeshFaceGeometry

maybe people will find it useful

[2021-03-30 03:49] mgyong commented on #1738
@radisc We have not tried Asus Tinker series but MediaPipe works on Jetson Nano arm, raspberry pi linux and coral

[2021-03-30 03:49] #1738 closed

[2021-03-30 04:51] pkaske commented on #1815
thats it! thanks

[2021-03-30 04:51] #1815 closed

[2021-03-30 05:12] sgowroji commented on #1813
Please go through this https://github.com/google/mediapipe/blob/master/docs/getting_started/troubleshooting.md#missing-necessary-python-packages

[2021-03-30 06:31] sgowroji commented on #1814
Hi @lookou, Could you please elaborate the details more. What others are failing and at which step?

[2021-03-30 09:47] b4017816 commented on #1813
Hi thanks for taking a look at my issue, I tried the relevant solutions from the troubleshooting but it hasn't worked,
Is there anything else I can try or check?
Thanks

[2021-03-30 10:33] rachid-bousaid commented on #1798
Hello
 me too i use face_mesh solution in google colab and i have this problem, i hope i have the triangulation and UV texture coordinates. Is it possible to do this colab?

[2021-03-30 11:42] yangcheng commented on #1784
I have trouble with other CPU examples as well.

[2021-03-30 12:40] f00kat opened #1816 "handtrackinggpu runtime error builded with Android Studio"
Hi. I'm trying to run the example (Xiaomi MI9T)
`//mediapipe/examples/android/src/java/com/google/mediapipe/apps/handtrackinggpu:handtrackinggpu`

And it's works well if I build it from console and load manually with adb

1. `bazel build -c opt --config=android_arm64 --verbose_failures //mediapipe/examples/android/src/java/com/google/mediapipe/apps/handtrackinggpu:handtrackinggpu`
2. `adb push -p

[2021-03-30 13:19] lookou commented on #1814
cmd:
`bazel build -c opt --config=android_arm64 --distdir=/tmp --repository_cache=/tmp --keep_going mediapipe/examples/android/src/java/com/google/mediapipe/apps/facedetectiongpu`

output error:

[code]

Thanks for help!

[2021-03-30 13:40] sgowroji commented on #1816
Pls go through this https://github.com/google/mediapipe/issues/329

[2021-03-30 14:29] atul109 commented on #1801
Moto G (5S) Plus
Android 8.1.0

`Fatal Exception: java.lang.RuntimeException: Error during updateTexImage (see logcat for details)
       at android.graphics.SurfaceTexture.nativeUpdateTexImage(SurfaceTexture.java)
       at android.graphics.SurfaceTexture.updateTexImage(SurfaceTexture.java:243)
       at com.google.mediapipe.glutil.ExternalTextureRenderer.render(ExternalTextureRenderer.java:116)

[2021-03-30 15:09] Mynith opened #1817 "Dual camera feed iris tracking occasionally crashes on startup"
Good afternoon, everyone

For a while I've been working on an optics project on Android that needs the positions of the user's pupils to work properly. To get this working in three dimensions, because the 10% accuracy mentioned on the site isn't quite good enough for what I need, I'm using two USB camera streams, using this library:

https://github.com/jiangdongguo/AndroidUSBCamera

I create an EG

[2021-03-30 15:22] tmsbyim01 commented on #535
@momo1986 Can you share your final code? I'm facing the same problem, I use the "output_detections" and get nothing.
I want to know the number of "Face,1,", "Face,0.99," which in red rectangle.

[2021-03-30 15:57] alexrichardson21 commented on #1798
[https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_geometry/data/canonical_face_model.obj](canonical_face_model)

This has been helpful in creating .obj files. Copy the vt and f values into your own .obj along with the mediapipe 3d vertices. Unnormalizing the vertices and setting up camera transformations is the more difficult piece of getting this working

[2021-03-30 17:47] abdelrahmanzied commented on #1740
@mariamrahmaani
Check the usage of GPU using Task Manager >> Performance.

[2021-03-30 19:07] futuyao opened #1818 "MediaPipe JS custom build"
We'd like to have a custom built JS solution to use, but the [documentation](https://google.github.io/mediapipe/getting_started/javascript.html) only includes ready-to-use solutions without any information on how to build for JavaScript. Specifically, we're wondering if the following could be made available:
- Instructions and files to build mediapipe js
- If we can’t get that, can we get a custom

[2021-03-30 20:22] docentYT commented on #1421
The same problem

[2021-03-30 20:22] rachid-bousaid opened #1819 "face_mesh solution in google colab"
Hello
I use face_mesh solution in google colab , i hope i have the triangulation  and UV texture coordinates. Is it possible to do this in colab?

[2021-03-30 22:36] danj96dev opened #1820 "Can you do single image pose detection?"
The demo detects poses with an input-stream, could that be done with just individual frames and would it be significantly slower?
For example I get a frame->detects keypoints-> wait for my next image->detect keypoints->etc

[2021-03-30 23:56] mhays-google commented on #1408
I am uploading our TypeScript exports file as part of the npm package for each and every solution.  For any solution, the easiest way (I've found) to get to this file will be:

https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/index.d.ts
https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/index.d.ts
https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/index.d.ts
https://cdn.jsdelivr.net/npm/

[2021-03-31 00:02] mhays-google commented on #1408
Regarding the full release of the source code, this is being discussed, I personally support it, but there are a few hurdles.

Hopefully releasing the index file solves a few immediate issues -- thank you for the patience with that, by the way.  And we'll look into what it will take to release more of the code (or at least the unobfuscated javascript).

[2021-03-31 00:09] mhays-google commented on #1812
You should be able to `npm install` the packages locally and set up your locateFile (you probably won't even need to fill out that function, in this case).  However, the time to load the model onto the client really is a factor of internet speed and the size of those holistic models (which involves, I think, three large tensor models).

One thing to check, however, is that it's actually the transf

[2021-03-31 02:23] Choons commented on #1408
Much appreciated, Michael! Yeah I love web assembly as a concept, but without documentation of what the wasm modules expose, it's just shooting in the dark trying to guess what's in the API. Also love the concept of using emscripten/llvm on c++ to create javascript/wasm, but in practice I have found the reality is often more difficult to create than just porting the code manually to javascript or

[2021-03-31 03:20] z7212819 opened #1821 "About the object 3D AAR black screen and then flash back"
Hello, now my program has a black screen and then crashes. The following is my problem report：
![截图](https://user-images.githubusercontent.com/75053001/113085605-bfcecd80-9212-11eb-9a31-a446144daf13.png)
The following is my project file structure：
![截图2](https://user-images.githubusercontent.com/75053001/113085653-d1b07080-9212-11eb-81f0-efdff80ed20d.png)
I suspect it is the problem with the Andro

[2021-03-31 03:32] z7212819 commented on #1821
In addition, the latest version of mediapipe I use

[2021-03-31 05:21] FerLuisxd commented on #36
Just an API would be really neat to have to make really cool 3D applications

[2021-03-31 05:22] FerLuisxd commented on #1369
+1, Having an API for Unity would be really nice to make 3D applications

[2021-03-31 05:40] sgowroji commented on #1817
Hi @Mynith,  It is unclear for us the above logs. Can you share the crash logs to understand the issue much better.  Did you face any issues in building the AAR ?

What are the recent changes you performed on the above code and where do we need to look after?

[2021-03-31 06:06] sgowroji commented on #1819
Hi @rachid-bousaid go through this issues #1698, #1155.

[2021-03-31 06:12] sgowroji commented on #1821
Hi @z7212819 , Can you share the complete crash report. And which step the issue is occurring . Thanks!

[2021-03-31 06:15] z7212819 commented on #1821
Thank you very much for replying to me, this is my complete report. The program crashed after I allowed the camera permission
[log.txt](https://github.com/google/mediapipe/files/6234181/log.txt)

[2021-03-31 06:26] f00kat commented on #1816
I change the WORKSPACE like file this(this time I installed NDK via AndroidStudio)
[code]

and still getting the same error.

[2021-03-31 06:45] vKrypto commented on #1427
Mediapipe JS solution is being updated day by day, they are working on it..

till then you can use this code (3 march version )

https://www.ornaz.com/realtime/v0_3_march/

[2021-03-31 06:50] sgowroji commented on #1800
Pls go through the doc for [harisegmentation](https://google.github.io/mediapipe/solutions/hair_segmentation) and choose the platform and examples in it.

[2021-03-31 06:56] weixinz1 commented on #1800
@sgowroji I have already read this doc and get the Android project. Is there any method to change the hair color in the run time ?

[2021-03-31 07:23] z7212819 commented on #1821
@sgowroji In addition, I also doubt whether it is the problem with the AAR file and the tflite file. Since the content of the internal frame has changed after the object 3D update, I also want to ask if you need to use the object 3D AAR package at present, you need What tflite file? Thank you!

[2021-03-31 07:30] kywq commented on #1812
@dlucio & @mhays-google
I have all the packages installed and imported, the problem is the locateFile, it doesn't work without this.
But code below only works with cdn import

works
`return` ``https://cdn.jsdelivr.net/npm/@mediapipe/holistic/${file}``

doesn't work
[code]

@mhays-google
Especially the first time, it takes ~1:15min
and then it takes ~15secs

[2021-03-31 07:36] lilinxiong opened #1822 "ver 0.8.3.2 run setup_android_examples.sh failed!"
OS: MacOS 11.2.3

workspace:
  MediaPipe version:
[code]
  clang -version
[code]
 bazel verison
[code]
 java -version
[code]

Execution order:
1. [instructions](https://google.github.io/mediapipe/getting_started/install.html#installing-on-macos)
 output:
[code]
I think MediaPipe install successful !
2. setup Android SDK and NDK !
[code]
3. build all MediaPipe Android example apps !
[code]
 print:

[2021-03-31 07:44] lilinxiong commented on #1822
sorry ! I forget provide python workspace.
I use miniconda create python workspace.
step:
[code]
others are consistent with the documentation.
Looking forward to reply！！！

[2021-03-31 07:48] ROBYER1 commented on #1369
It's nearly there, instant motion tracking support on IOS isn't working yet there sadly

[2021-03-31 08:32] vKrypto opened #1823 "mediapipe: js current version(31st march ) required minor fix."
I can see lot of people facing this issue in recent release,

even mediapipe-dev demo also not working.
[https://mediapipe.dev/demo/hands](https://mediapipe.dev/demo/hands)

****actual problem is :****
a function defined in [hands_solution_wasm_bin.wasm](https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands_solution_wasm_bin.wasm) was remapped from 393919 to 401815.

but developers forget to remap i

[2021-03-31 08:36] vKrypto commented on #1823
@mhays-google  please let internal know about this.

[2021-03-31 08:37] Mynith commented on #1817
This is really all that Logcat gives me.

2021-03-31 09:51:51.634 1932-1932/? D/ProcessPreLauncher: start prelaunch process : com.hes.rvision
2021-03-31 09:51:51.674 1932-2082/? I/ActivityManager: Start proc 23925:com.hes.rvision/u0a313 for prelaunch
2021-03-31 09:51:51.695 1932-3292/? I/ActivityTaskManager: START u0 {act=android.intent.action.MAIN cat=[android.intent.category.LAUNCHER] flg=0x1020

[2021-03-31 08:50] kywq commented on #1812
Here is my dir distribution

**Local mediapipe files**
![image](https://user-images.githubusercontent.com/56016611/113117163-7b413300-920e-11eb-8408-a6b05d22216a.png)
![image](https://user-images.githubusercontent.com/56016611/113117278-901dc680-920e-11eb-9fc5-20ebe7a553a0.png)

**File where I use them**
![image](https://user-images.githubusercontent.com/56016611/113117440-b80d2a00-920e-11eb-9e02-

[2021-03-31 10:12] RobinDeBaets commented on #1823
I'm having a similar issue with `@mediapipe/pose`, even after upgrading to the newly released `0.2.1617147663`:

[code]

[2021-03-31 10:13] RobinDeBaets commented on #1820
This is definitely possible, but you should check the `STATIC_IMAGE_MODE` option on the [wiki](https://google.github.io/mediapipe/solutions/pose.html). If your frames are completely independent, this option should definitely be enabled.
Unfortunately it is not available in the Javascript version.

[2021-03-31 10:24] RobinDeBaets commented on #1823
Simple solution is to change Mediapipe's suggested code for loading in the files to this:

[code]

This explicitly loads in the `.wasm` files from the previous version of `@mediapipe/pose`, which is not broken.

[2021-03-31 10:47] vKrypto commented on #1823
but this will switch your code to an old version of media-pipe. for latest version find **var ASM_CONSTS={** in the corresponding js file, and remap it.

[2021-03-31 10:49] RobinDeBaets commented on #1823
It will indeed use the older files, I presented it more as a temporary solution for userss whose application bricked overnight due to Google deploying the new files.

[2021-03-31 11:00] lilinxiong commented on #1822
@sgowroji My JDK is from https://www.oracle.com/cn/java/technologies/javase/javase-jdk8-downloads.html. and
java -version
[code]
so I don't think My JDK was corrupted.
build MediaPipe need specific version JDK？

[2021-03-31 11:02] sgowroji commented on #1747
We are glad to see you resolved.  And thank you so much for sharing your code, which will be useful for other users.

[2021-03-31 11:02] #1747 closed

[2021-03-31 11:05] sgowroji commented on #1821
Hi @z7212819  What solution are you trying?  Facemesh or other?

[2021-03-31 11:11] z7212819 commented on #1821
@sgowroji hello, I'm trying a solution for object detection3d

[2021-03-31 11:19] sgowroji commented on #1817
Hi @Mynith  There is no crash logs found in the above shared logs. Even it is difficult to fix without any exception logs.

[2021-03-31 11:43] yoyojacky commented on #1346
I have encountered the same problem:

(venv) pi@RPi8g:~/venv $ `pip3 -V`
pip 21.0.1 from /home/pi/venv/lib/python3.7/site-packages/pip (python 3.7)
(venv) pi@RPi8g:~/venv $
(venv) pi@RPi8g:~/venv $ `uname -a`
Linux RPi8g 5.10.17-v7l+ #1403 SMP Mon Feb 22 11:33:35 GMT 2021 armv7l GNU/Linux
(venv) pi@RPi8g:~/venv $
(venv) pi@RPi8g:~/venv $ `lsb_release -a`
No LSB modules are available.
Distributor I

[2021-03-31 11:44] kurnyaannn opened #1824 "classify pose using mediapipe handpose model and ml5js"
Hi.

i'm using ml5js to classify handpose from Mediapipe handpose model, which detect 21 keypoints, so if there's only one hand to detect, the ml5.neuralNetwork(**options**) should be :

[code]

so if i wanted to detect 2 hands the inputs should be doubled to 84. The data collection, and data classification works as expected.

but at data training section i'm having an issue here, so when i collec

[2021-03-31 12:41] sgowroji commented on #1740
Hi @abdelrahmanzied , Glad for your suggestions. @mariamrahmaani  Assuming your above query resolved. We are closing this issue. Thanks!

[2021-03-31 12:41] #1740 closed

[2021-03-31 12:49] #1789 closed

[2021-03-31 13:28] danj96dev commented on #1820
I'm using the android example built with bazel, I wanted to do something similar except just use the processor to recognize a pose in a single image. I wanted this as an android library(aar) and to change the sdk version but I don't see where I can generate a custom app, there's only Mainactivity.java

https://github.com/google/mediapipe/tree/master/mediapipe/examples/android/src/java/com/google/m

[2021-03-31 13:48] Mynith commented on #1817
That's the weird thing: no exception is thrown. (The single camera crashing was indeed due to improper stop/start handling btw but fixing that didn't fix the dual camera problem)
However, and perhaps this is related, when it does work it does throw this exception many times (I assume each frame). I didn't think anything of it because it appeared to be working fine, but it stopped doing it when I u

[2021-03-31 13:53] Zju-George commented on #1798
the face_mesh solution only outputs the normailized 3d coordinates(weak projection), how to get the actual 3D coordinates?

[2021-03-31 14:12] FerLuisxd commented on #36
We need this!

[2021-03-31 14:55] Haidy-Elnagdy commented on #1390
I have installed mediapipe using  (pip install mediapip), and I do not know how to edit the source code or even where to find it.

[2021-03-31 15:03] danj96dev opened #1825 "Posetracking android error on api25 ARM Cortex-A17"
`2021-03-31 10:40:44.929 2095-2095/com.google.mediapipe.apps.posetrackinggpu W/System: ClassLoader referenced unknown path: /data/app/com.google.mediapipe.apps.posetrackinggpu-1/lib/arm
2021-03-31 10:40:44.990 2095-2095/com.google.mediapipe.apps.posetrackinggpu V/StubApplication: StubApplication created. Android package is com.google.mediapipe.apps.posetrackinggpu, real application class is androi

[2021-03-31 15:07] afogel commented on #1408
THIS IS AWESOME!! Thanks @mhays-google

[2021-03-31 15:38] pani0815 commented on #914
Please show your solution.

[2021-03-31 15:44] pani0815 commented on #742
Could someone please explain cleary what represents the value of the Z-Axis?
I also experienced that my values from the z-Axis change a lot only if i move my hand a little bit.

[2021-03-31 15:48] rachid-bousaid commented on #1819
which method allows to generate a mesh like this one in colab
![image](https://user-images.githubusercontent.com/57646269/113172808-b197a600-9240-11eb-9422-33879acf5955.png)

[2021-03-31 16:23] Zju-George commented on #1678
@mgyong Is the output of face_geometry pipeline only a rigid transformation of the canonical face mesh? Or it contains nonlinear deformation such as mouse open-close or eye blink motion?

[2021-03-31 16:27] Zju-George opened #1826 "Does face geometry pipeline contain nonlinear deformation?"
I wonder, is the output of face_geometry pipeline only a rigid transformation of the canonical face mesh, or it contains nonlinear deformation such as mouse open-close, eye blink motion, etc?

Thanks in advance.

[2021-03-31 16:39] jianingwei commented on #1801
Can you provide a full bugreport?

[2021-03-31 17:10] eknight7 commented on #1822
Re-assigning to @jiuqiant since he is more familiar with platform specific build requirements.

[2021-03-31 17:13] kostyaby commented on #1678
Hey @Zju-George,

At this point, it's only a rigid transformation of the canonical face mesh. It aims not to react to facial expression changes (like opening / closing mouth or eye blinking), just on the head pose changes

[2021-03-31 17:46] Haidy-Elnagdy commented on #1390
Sorry for the question but where to type these commands?

[2021-03-31 17:54] jiuqiant commented on #1814
May I have your ndk version? And if it's possible to update your clang to the latest? Please run `bazel clean --expunge` to get rid of cache before you running bazel build command again.

[2021-03-31 18:01] Haidy-Elnagdy commented on #1390
Thanks, I did this step, what next?

[2021-03-31 18:21] Haidy-Elnagdy commented on #1390
Thanks a lot

[2021-03-31 21:35] mcclanahoochie commented on #1425
You can comment out the rendering node (PoseRendererGpu) in the graph
https://github.com/google/mediapipe/blob/master/mediapipe/graphs/pose_tracking/pose_tracking_gpu.pbtxt#L65

and replace with
[code]
this will skip the rendering and output the original image instead

the pose landmarks will still be output [here](https://github.com/google/mediapipe/blob/master/mediapipe/examples/android/src/java

[2021-04-01 02:09] bugmany commented on #1660
hi @eknight7,
now, the issue solved, thanks.

[2021-04-01 02:09] #1660 closed

[2021-04-01 04:52] yangcheng commented on #1425
great to know. thanks! if I don't need the output video at all, can I just comment out output_stream: "output_video" at https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a479407c699e424aa7/mediapipe/graphs/pose_tracking/pose_tracking_gpu.pbtxt#L7 ?

[2021-04-01 06:35] airtablereddit opened #1827 "What would be the best way to do posture feedback?"
Hi @sgowroji

What would be the best way to do realtime Posture feedback in python and android in Mediapipe Pose tracking with Blazepose?

@kostyaby your input also please

[2021-04-01 06:55] Creativeguru97 opened #1828 "Uncaught (in promise) TypeError: Cannot read property 'apply' of undefined in JS on Mac OS"
I've been using Hands of MediaPipe in JavaScript on Mac OS.
I combined mediapipe hands with p5.js to apply Creative Coding. Like detect my hands and give the coordinates to p5.js then draw something y p5.

But this morning(April 4, 2021), I suddenly got this error below and it doesn't work. Even though until yesterday it had no problem.

Even when I run the example code of hands on [Hands page](ht

[2021-04-01 06:59] sgowroji commented on #1827
Hi @airtablereddit Could you please explain your usecase with more details. Thanks!

[2021-04-01 07:05] sgowroji commented on #1826
Hi @Zju-George ,  We have a very clear documentation for the face geometry [here](https://google.github.io/mediapipe/solutions/face_mesh#face-geometry-module)  .
Please go through the inner links to understand more about the each and every concept which is required for you.

If you still not found any needed let  us know. Thanks!

[2021-04-01 07:11] sgowroji commented on #1825
Hi @danj96dev This helped for face detection. Can you please try and let us know https://github.com/google/mediapipe/issues/205#issuecomment-564660099

[2021-04-01 07:27] sgowroji commented on #1826
I think your query answered here https://github.com/google/mediapipe/issues/1678#issuecomment-811262438. Closing this  as per the comment.

[2021-04-01 07:27] #1826 closed

[2021-04-01 07:44] kurnyaannn commented on #1824
#UPDATE

Because i couldn't find any difference between single and multiple hand data. So i'm trying to normalize the data both of them first using `normalizeData()` function from ml5js, even though i didn't need to because mediapipe already done that, but because i still haven't found any clue so i did it just to make sure, and as i thought, there's something.

So when i normalize the **single ha

[2021-04-01 07:47] Firos333 commented on #1346
Mediapipe is participating in [Google Summer Of Code](https://docs.google.com/document/d/e/2PACX-1vT2ltp_QfENlSgwX9v8kIa8a3mRt1xdND86eOzw7xt_KbRPw6Ros12cfAWtMdbCYkEi8qdnL_GCtx-Z/pub) this time! Seems someone will solve these raspberry Pi-related issues. And make a proper Python package for this platform.

[2021-04-01 08:37] sgowroji commented on #1770
Hi @midhulavijayan Did you get a chance to go through the above comment. Thanks!

[2021-04-01 08:45] sgowroji commented on #1744
Hi @Rassibassi , Did you get a chance to go through the above comment? Thanks!

[2021-04-01 08:47] sgowroji commented on #1737
Hi @hungtooc , Assuming your issue resolved with the above comments we are closing this ticket. Please feel free to open if this still persists. Thanks

[2021-04-01 08:47] #1737 closed

[2021-04-01 08:52] sgowroji commented on #1823
Hi @vKrypto , It's just a  caching issue. Working fine for all of us. We will let you know soon about it with any fix.

[2021-04-01 09:10] midhulavijayan commented on #1770
Hi @mcclanahoochie , Thanks for the reply. I tried it but unfortunately not working. I tried https://github.com/Cubbee/mediapipe this solution suggested by @cubbee and it worked.

[2021-04-01 09:43] airtablereddit commented on #1827
Sure, I know we can count reps thanks to the code provided media pipe team, now I am interested to find out how to get real time posture feedback, lets say doing Push up exercise you open your elbows really wide which is a wrong posture, how you would go about calculating the angles and match them real time with the correct angles of the correct form

![image](https://user-images.githubusercontent

[2021-04-01 09:44] abzargar opened #1829 "Mediapipe 0.8.3.1 dose not run on GPU"
I installed Mediapipe 0.8.3.1 through "pip install mediapipe==0.8.3.1" but it only works with CPU and cannot run on GPU. Could you please let me know how to run it on GPU as well.

[2021-04-01 10:10] SayedHamdiF opened #1830 "Export keypoint data (x,y) coordinates from Holistic MediaPipe Pose Python to csv file"
i want to save all keypoints coordinates of holistic model from mediapipe to csv file

[2021-04-01 10:59] airtablereddit commented on #1827
More specifically how can I calculate the [simple joint pairwise distance lookup algorithm as specified here](https://ai.googleblog.com/2020/08/on-device-real-time-body-pose-tracking.html)

[2021-04-01 11:06] SayedHamdiF commented on #1803
i want to save key points coordinates in csv file for holistic model. could you please share code with me?

[2021-04-01 11:36] SayedHamdiF commented on #1452
@pkaske
could you please share with me code i want to save all keypoints in csv files. untill now i ca't , please help

[2021-04-01 12:04] Takuro-Ito commented on #463
+1

[2021-04-01 12:47] jpeltone commented on #1237
I'm having the same issue and downgrading to 1.0.0-alpha06 does not help, any ideas how to solve this?

[2021-04-01 12:51] sgowroji commented on #1829
Hi @abzargar, Could you please elaborate the issue with complete details. What error your facing and what steps you followed. Thanks!

[2021-04-01 12:57] rmothukuru commented on #1780
@probator1059,
Marking it as a Feature Request. Thanks!

[2021-04-01 13:10] kurnyaannn commented on #1824
#UPDATE_2

Nevermind guys, i fixed it.

[code]

i don't know why this is working, but yeah this is javascript anyway.

[2021-04-01 13:10] #1824 closed

[2021-04-01 13:49] lookou commented on #1814
Thanks jiuqiant!
NDK version:
[code]
[code]

I use 23.0.7196353 in android

[code]

Error still exist!

[code]

[2021-04-01 15:11] Abhinavkriti commented on #1820
Hey everyone , i have decided to take part in gsoc and i am a beginner. I want to contribute in this project . can you please guid me ?

[2021-04-01 15:43] #1813 closed

[2021-04-01 16:10] FlashTech-dev commented on #1779
I am building this on WIndows OS  with Bazel 1.2  and no version of Mediapipe

[2021-04-01 16:11] jiuqiant commented on #1829
This is intended. MediaPipe Python package only contains CPU graphs. If you need to run any GPU graphs, see https://github.com/google/mediapipe/issues/1651#issuecomment-790176010.

[2021-04-01 16:11] #1829 closed

[2021-04-01 16:16] jiuqiant commented on #1822
Seems to be a bazel issue similiar to https://github.com/bazelbuild/bazel/issues/7304. Can you try the solutions mentioned in https://github.com/bazelbuild/bazel/issues/7304#issuecomment-459786925?