[2022-09-13 15:40] HardikElitefit opened #3696 "fatal error: 'third_party/GL/gl/include/EGL/egl.h' file not found"
Error while building example in macOS

ERROR: /Users/trootech/mediapipe/mediapipe/calculators/core/BUILD:941:11: Compiling mediapipe/calculators/core/split_vector_calculator.cc failed: (Exit 1): clang failed: error executing command external/androidndk/ndk/toolchains/llvm/prebuilt/darwin-x86_64/bin/clang -gcc-toolchain external/androidndk/ndk/toolchains/aarch64-linux-android-4.9/prebuilt/darwin-x8

[2022-09-14 03:33] Ar4enal commented on #3693
Solve by
[code]

 [MediaPipe on Android](https://google.github.io/mediapipe/getting_started/android.html)

[2022-09-14 03:33] #3693 closed

[2022-09-14 03:34] Ar4enal commented on #3696
Solve by
[code]

 [MediaPipe on Android](https://google.github.io/mediapipe/getting_started/android.html)

Try it

[2022-09-14 05:55] kuaashish commented on #3696
Hi @HardikElitefit, Could you please provide the steps to reproduce and complete details about the issue. Thank you!

[2022-09-14 06:09] kuaashish commented on #3691
Hi @ThinLizzy13, Please refer to this issue #739 and [#739(comment)](https://github.com/google/mediapipe/issues/739#issuecomment-637819276) for better understanding of your query. Thank you!

[2022-09-14 07:10] shreyash-sharechat commented on #3477
`this.issue.bump()`

[2022-09-14 07:52] HardikElitefit commented on #3696
@Ar4enal  Worked

[2022-09-14 07:52] #3696 closed

[2022-09-14 08:40] sureshdagooglecom commented on #3630
Hi @dennislysenko ,
Add a new input stream with packet specifying the texture resource path. Also add a private variable to store the current texture (could be empty by design). Remove texture setting from input side packet.
Use SyncSetInputStreamHandler for your new calculator in pbtxt, separate original input streams and the new one into two sets.

[2022-09-14 08:41] sureshdagooglecom commented on #3679
Hi @ouyangpeng ,
Unity is not officially supported by MediaPipe yet. Assuming this [MediaPipeUnityPlugin](https://github.com/homuler/MediaPipeUnityPlugin) could be more helpful. Thank you!

[2022-09-14 08:48] sureshdagooglecom commented on #3615
Hi @ar0127 ,
Could you please share complete w.r.t above issue.

[2022-09-14 08:51] sureshdagooglecom commented on #3684
Hi @robi56 ,
it's good that the GPU path works for facemesh when refine_landmarks is false, that means the mediapipe GPU configuration/setup is fine.

the refine_landmarks = true option actually runs a different ML model ([here](https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_landmark/face_landmark_with_attention.tflite))

it seems that model has some op that isn't compatibl

[2022-09-14 08:53] sureshdagooglecom commented on #3632
Hi @surapuramakhil ,
Marking this as a duplicate  ,please comment on older issue https://github.com/google/mediapipe/issues/3596

[2022-09-14 08:57] kuaashish commented on #3696
Hi @HardikElitefit, Thanks for the confirmation. Marking as similar issue #3693. Thank you!

[2022-09-14 09:37] kuaashish commented on #3695
Hi @charlottejuston, Could you please point out the output channel you are referring in the both of case. Thank you!

[2022-09-14 10:07] kuaashish commented on #3524
Hi @PZerua, MediaPipe on windows is experimental, we could use your help to investigate. Thank you!

[2022-09-14 10:13] charlottejuston commented on #3695
Hello,
thank you for your reply!

From what I understood of the paper, the hair segmentation model takes as input a tensor of shape (4x512x512) and has as output a tensor of shape (1x512x512) so with only one channel.

Now, I wanted to know what does the `tensor_channels: 2` refer to in this part of the graph ?
[code]

I want to use this graph for my own model, which takes as input a tensor of sha

[2022-09-14 10:27] kuaashish commented on #3442
Hi @quire7, Could you please elaborate your query with complete details and solution you are referring to. Thank you!

[2022-09-14 11:40] lukesolo commented on #3008
It would be great to have visibility vector in the output for cases when the face is occluded by any kind of object. In this case it would possible to get a photo of the face from a video stream only when it's fully visible.

[2022-09-14 12:03] Pradyumna-jain commented on #3673
Hi @sureshdagooglecom .
A: No I can't see any log messages.
A: I have tried with one image and more than one image but output was same.

[2022-09-14 14:24] wilbsmond commented on #3676
Following. I'm interested to know how to relate face mesh model to full head in 3D, so that the face and head landmarks / geometry are connected. Is there an off-the-shelf model that does that?

[2022-09-15 06:26] #3650 closed

[2022-09-15 07:26] andrechen commented on #3695
TfLiteTensorsToSegmentationCalculator only processes output tensor of dim 1x512x512x2, so you may need to customize a new calculator for your model. moreover, the hair segmentation model actually takes input tensor of dim 512x512x4.
https://github.com/google/mediapipe/blob/6cdc6443b6a7ed662744e2a2ce2d58d9c83e6d6f/mediapipe/calculators/tflite/tflite_tensors_to_segmentation_calculator.cc#L530

[2022-09-15 08:26] #3643 closed

[2022-09-15 08:47] kuaashish commented on #1942
Hi @limetus, This issue is fixed in the latest release of mediapipe `8.11`, Could you please let us know if this is still an issue at other end. Thank you!

[2022-09-15 08:51] kuaashish commented on #1788
Hi @luke-han, This issue is fixed in the latest release of mediapipe `8.11`, Could you please let us know if this is still an issue at other end. Thank you!

[2022-09-15 08:54] kuaashish commented on #1982
Hi @RohitSingh1226, This issue is fixed in the latest release of mediapipe `8.11`, Could you please let us know if this is still an issue at other end. Thank you!

[2022-09-15 09:06] vertify-mldev1 opened #3697 "GPU builds fail"
With the newest release (v0.8.11) i can't build any solutions for gpu anymore.
The problem does not occur with release v0.8.10.2.

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4):
Ubuntu 18.04.6 LTS
- Compiler version (e.g. gcc/g++ 8 /Apple clang version 12.0.0):
gcc/g++ 8.4.0
- Installe

[2022-09-15 09:19] kuaashish commented on #2020
Hi @aliisaiid98, Could you please let us know if still looking for resolution or has been resolved as MediaPipe supports the Raspberry pi4 mentioned in the [documentation](https://github.com/google/mediapipe/blob/master/mediapipe/examples/coral/README.md).
Attaching the relevant thread #1346 for your reference. Thank you!

[2022-09-15 10:12] eyalgomel opened #3698 "Backward compatibility for downloading tflite files from the repository"
I'm using mediapipe 0.8.10 and can't download the models due to an HTTP error.
I suspect the issue come mediapipe/python/solutions/download_utils.py,
where _OSS_URL_PREFIX = 'https://github.com/google/mediapipe/raw/master/'
but the tflite files aren't stored in the master anymore.

log:
Traceback (most recent call last):
    mp_extractor = mp.solutions.holistic.Holistic(
  File "/env/lib/python3.8

[2022-09-15 10:27] kuaashish commented on #3698
Hi @eyalgomel, This is due to latest release `8.11` downloading `*.tflite model` files and other large binaries from our `GitHub repository` has moved to `Google Cloud Storage`. If you are fetching problem to download then please update the file [download_utils.py](https://github.com/google/mediapipe/blob/d3f98334bfe533a57ec2c2fa85294c21e25fe0af/mediapipe/python/solutions/download_utils.py) as men

[2022-09-15 10:37] kuaashish commented on #3697
Hi @vertify-mldev1, Due to the latest release `8.11`, *tflite model and other large binaries are moved to Google Cloud Storage as mentioned in the release [note](https://github.com/google/mediapipe/releases/tag/v0.8.11). Please update your Python binaries if they are fetching models from GitHub (see [download_utils.py](https://github.com/google/mediapipe/blob/d3f98334bfe533a57ec2c2fa85294c21e25fe0

[2022-09-15 13:59] Mousavikia opened #3699 "Segmentation fault after installing mediapipe on raspberry pi 3 model b"
Hi community...
After updating numpy to its latest version I tried to install mediapipe on my raspberry pi 3 model b with following instructions found in [here](https://pypi.org/project/mediapipe-rpi3/)...

[code]
After getting the successful installed massage on all of the above packages, I tried to import mediapipe in python3 but I get this message:

`Segmentation fault`
After this message pytho

[2022-09-16 01:11] ouyangpeng commented on #3679
Thank you , I don't mean to use the combination of Unity and MediaPipe, but consider using MediaPipe combined with Filament or other 3D rendering engines to achieve an effect similar to ARCore combined with Filament, such as this case[ Scenform-android](https://github.com/SceneView/sceneform-android), I wonder if there is a related sample code for MediaPipe combined with Filament?

[2022-09-16 03:42] NguyenTrongThinh opened #3700 "Open Camera Slowly on Android."
**Symptoms**
Camera opens slowly in android studio project. Please see attached image below
![Alt Text](https://media.giphy.com/media/OqIw8NLnq6tK1je7EM/giphy.gif)

**Environment**
- Android 12
- Oppo Reno 4 ( 8GB/128GB)
- Mediapipe latest version.

**Time measurement**
The screen is black for about 2 seconds before showing camera frames.
This is logcat of  measurement while running application

2

[2022-09-16 04:19] kuaashish commented on #3698
Hi @andrechen, Thank you for brining up to our notice. Could you raise a new separate issue for problem you are facing to fetch files and will raise this concern with the internal team. Thank you!

[2022-09-16 04:21] kuaashish commented on #3698
Hi @eyalgomel, Could you please let us know if your issue has been resolved as per the above [comment.](https://github.com/google/mediapipe/issues/3698#issuecomment-1247905371) Thank you!

[2022-09-16 05:59] pratyushpratik-thesilverlabs opened #3701 "How can we integrate mediapipe to our custom iOS application?"
I have referred to the docs of mediapipe but there is not any feasible way or some package manager to achieve this.
Also, there is no support for Swift.
There is only ways through which we can run examples application of mediapipe but none for the integration to custom iOS application.

[2022-09-16 06:04] RuentGen commented on #3692
I have a similar problem

DEBUG: C:/users/ruentgen/_bazel_programmerruent/badkprfe/external/org_tensorflow/third_party/repo.bzl:132:14:
Warning: skipping import of repository 'pybind11' because it already exists.
INFO: Build option --action_env has changed, discarding analysis cache.
INFO: Repository local_execution_config_python instantiated at:
  C:/users/ruentgen/documents/mediapipe/WORKSPACE:4

[2022-09-16 06:10] sainisanjay commented on #3310
@chenlize96  Is it possible for you to share the "pose_landmark_full.tflite" model architecture? I am just wonder how you able to  create the model.

[2022-09-16 06:17] sainisanjay commented on #3502
Hi @wwdok,
Could you please show us your created model which is same as mediapipe. Can you tell us how did you create model? I used  [link](https://github.com/thepowerfuldeez/facemesh.pytorch) to create the model and train with WFLW (98 keypoints) dataset. Model was generalised well but results was not so great especially for close eyes and pupils. I used WingLoss function to train the model.

[2022-09-16 06:20] kuaashish commented on #3699
Hi @Mousavikia, MediaPipe doesn't have official Python package to install Raspberry pi 3 separately. Could you please follow steps mentioned in the official documentation to build mediapipe in the Edge devices eg. Raspberry pi, Coral board. Thank you!

[2022-09-16 07:19] eyalgomel commented on #3698
Yes,
Though I wish there was a way to work with previous versions without update the download script.

Thank you!

[2022-09-16 07:19] #3698 closed

[2022-09-16 07:19] kuaashish commented on #3701
Hi @pratyushpratik-thesilverlabs, MediaPipe native APIs C++ can support bindings to Swift.

There is cpp interop which looks like: https://github.com/pschuh/cpp_example/blob/master/Sources/CPPExample/include/example.h
This can be used like:
https://github.com/pschuh/cpp_example/blob/master/Sources/Example/Basic.swift.

I expect that you'll need a swift wrapper over the c++ code for a while into th

[2022-09-16 08:10] Thaina commented on #3155
Is this already fixed?

[2022-09-16 09:29] kuaashish commented on #3697
Hi @vertify-mldev1, Could you confirm that as per above [comment](https://github.com/google/mediapipe/issues/3697#issuecomment-1247917205) you are able to build the `facemeshgpu`in the latest release `0.8.11` or still issue exists. Thank you!

[2022-09-16 10:26] #3635 closed

[2022-09-16 12:00] BitLoose commented on #3555
I tested the elbow depth error with MP release 0.8.11 and the error persists.  The elbows are nearly always in the far foreground whatever the pose.
How is depth calculated, is it a post-process after the model, if so, where are the files located, has anyone verified this bug yet, or is it known and abandoned?

[2022-09-17 08:38] vikarshiitk opened #3702 "I am using detectron2 for Foot keypoint detection . I want to visualize the keypoint heatmaps , can you suggest?"
pred_keypoint_heatmaps: tensor([[[[-1.6246e+00, -2.1436e+00, -3.1817e+00,  ..., -3.0422e+00,
           -2.1779e+00, -1.7458e+00],
          [-1.9384e+00, -2.4925e+00, -3.6006e+00,  ..., -3.4789e+00,
           -2.4824e+00, -1.9841e+00],
          [-2.5661e+00, -3.1902e+00, -4.4384e+00,  ..., -4.3525e+00,
           -3.0912e+00, -2.4606e+00],
          ...,
          [-1.7894e+00, -2.8602e+00, -5.

[2022-09-17 15:18] lanhaiyang opened #3703 "pngblob: clonefile failed: Cross-device link"
Hello author:
I'm so sorry I don't want to disturb you
I can't find any information on this online

System information:
System os : macos 12.0.1
mediapipa version:  v0.8.11
os: iOS 14.1
bazel version： bazel 5.3.0
Xcode version：13.1
cpu: ntel Core i7
clang version 13.0.0
Programming Language: objective-c and c++(-std=c++ 14)
Python 3.9.12
java version 1.8.0_161
opencv version: 3.4.16

### Describe

[2022-09-18 21:48] monkeyswarm opened #3704 "New install cannot find face detection models"
Face mesh (and holistic) solutions missing tflite models. (Other solutions such as hand tracking are working fine)

Follow documentation to install and run on MacOS via bazel and C++
On running
`$ GLOG_logtostderr=1 bazel-bin/mediapipe/examples/desktop/face_mesh/face_mesh_cpu   --calculator_graph_config_file=mediapipe/graphs/face_mesh/face_mesh_desktop_live.pbtxt`

Fails due to missing tflite mode

[2022-09-18 21:55] monkeyswarm commented on #3704
Note that I then tried Iris detection, with a similar failure.
I then ran the 'face detection' solution, which, surprisingly, worked.
I went back and tried Iris and Face Mesh, which then started working.

Seems like only running 'Face Detection' solution will download the model? And other solutions find it after?

[2022-09-19 06:02] sureshdagooglecom commented on #3702
Hi @vikarshiitk ,
Could you share complete steps to reproduce this issue.

[2022-09-19 06:05] sureshdagooglecom commented on #3703
Hi @lanhaiyang ,
Could you provide steps to reproduce this issue.

[2022-09-19 06:08] sureshdagooglecom commented on #3704
Hi @monkeyswarm ,
We have closed issue running in thread  https://github.com/google/mediapipe/issues/2516 , please check and verify.

[2022-09-19 07:55] vertify-mldev1 commented on #3697
Model download works without problems:
[code]
My problem is unrelated to that. During the build this python script won't be run anyway right?

[2022-09-19 08:37] jihwan1park opened #3705 "How to build AAR for holistic android? (slower than prebuilt apk)"
I'm trying to test the performance of holitic for android, so I tried following things:
- build example from source using bazel build system
  (https://google.github.io/mediapipe/getting_started/android.html)

- build AAR and use following link
  (https://google.github.io/mediapipe/getting_started/android_archive_library.html)

In the above two trials, I was able to get 8-9 fps.
However, when usin

[2022-09-19 08:51] kuaashish commented on #3697
Hi @vertify-mldev1, Models file are important while building the MediaPipe but due to latest release it might have impacted. Could you try once to build it with updated [download_utils.py](https://github.com/google/mediapipe/blob/d3f98334bfe533a57ec2c2fa85294c21e25fe0af/mediapipe/python/solutions/download_utils.py) and please let us know if you are encountering the same error.
Thank you!

[2022-09-19 09:27] vertify-mldev1 commented on #3697
Yes, I aleady had the latest version of download_utils.py when i opened the issue

[2022-09-19 09:34] kuaashish commented on #3697
Hi @vertify-mldev1, Could you please provide compete steps to reproduce the issue and System information as mentioned in the [template](https://github.com/google/mediapipe/issues/new?assignees=&labels=type%3Abuild%2Finstall&template=00-build-installation-issue.md).
Thank you!

[2022-09-19 12:24] lanhaiyang commented on #3703
1. git clone https://github.com/google/mediapipe.git
2. cd mediapipe
3. git clone https://github.com/bazelbuild/tulsi.git
4. cd tulsi
5. sed -i .orig '/xcode_version/d' .bazelrc
6. sh build_and_run.sh
7. click
![image](https://user-images.githubusercontent.com/13830318/190993400-90623fae-b1f8-46cb-8aac-650df57bd588.png)
8.Then click "Generate"
9. build project
10. Open the project with Xcode
11.
<

[2022-09-19 13:42] monkeyswarm commented on #3704
Hi @sureshdagooglecom , what about issue #2516 is related to this issue? I am on a different bazel version, and not on an M1 mac. I don't see any mention of builds not finding models in that thread. Please advise.

[2022-09-19 18:44] brunobarbieri opened #3706 "How to change the color of landmarks in pose tracking for android (pose_tracking_gpu)"
I am using the pose_tracking_gpu in java. It draws all the landmark points and connections of those points.
How can I change the color of the landmarks and lines?

Got landmarks from:

processor.addPacketCallback(
                OUTPUT_LANDMARKS_STREAM_NAME,
                (packet) -> {
                    //Log.v(TAG, "Received multi-hand landmarks packet.");

                    //Log.v(TAG, p

[2022-09-20 02:16] nurshafiza commented on #3692
Thanks! this solution works well for me

[2022-09-20 02:25] nurshafiza opened #3707 "Error in building mediapipe aar on Windows"
Hi. I'm trying to build mediapipe aar on Windows for face detection but I faced this issue which I'm not sure the solution for this. can anyone give a help?

Command that i run:
`bazel build //mediapipe/examples/android/src/java/com/google/mediapipe/apps/aar_example:mediapipe_face_detection`

Error that i got:
`DEBUG: C:/users/user/_bazel_user/bkk7hz7b/external/org_tensorflow/third_party/repo.bzl:

[2022-09-20 04:15] Choyon10 opened #3708 "Mediapipe Face mesh does not execute GPU in the runtime."
**System information**
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): Linux Ubuntu 18.04(Nvidia GeForce GTX 1080)
- Compiler version (e.g. gcc/g++ 8 /Apple clang version 12.0.0): gcc - 8.4.0, g++ - 8.4.0
- Programming Language and version ( e.g. C++ 14, Python 3.6, Java ): Python 3.7.13
- Installed using virtualenv? pip? Conda? (if python): Conda
- [MediaPipe versi

[2022-09-20 05:26] sureshdagooglecom commented on #3704
Hi @monkeyswarm ,
Could you please let us know if your issue has been resolved as per the above https://github.com/google/mediapipe/issues/3698#issuecomment-1247905371 Thank you!

[2022-09-20 06:02] kuaashish commented on #3692
Hi @nurshafiza, Glad to hear that issue has been fixed. Could we move this issue to close status as it has been resolved. Thank you!

[2022-09-20 06:03] nurshafiza commented on #3692
Yes, thank you so much for your reply!

[2022-09-20 06:26] #3602 closed

[2022-09-20 06:28] kuaashish commented on #3707
Hi @nurshafiza, `Error: Could not find files for the given pattern(s)` might be because of the latest release `0.8.11`, `*tflite model `files and other large binaries from `Github repo` has moved to `Google Cloud Storage` as mentioned in the release [note](https://github.com/google/mediapipe/releases/tag/v0.8.11).
Could you please update the python file [download_utils.py](https://github.com/googl

[2022-09-20 06:34] #3692 closed

[2022-09-20 07:26] #3653 closed

[2022-09-20 07:33] nurshafiza commented on #3707
I've updated the python file download_utils.py but the error occur is still same

Error:
`DEBUG: C:/users/user/_bazel_user/bkk7hz7b/external/org_tensorflow/third_party/repo.bzl:132:14:
Warning: skipping import of repository 'com_google_absl' because it already exists.
DEBUG: C:/users/user/_bazel_user/bkk7hz7b/external/org_tensorflow/third_party/repo.bzl:132:14:
Warning: skipping import of reposito

[2022-09-20 09:26] #3668 closed

[2022-09-20 09:26] #3652 closed

[2022-09-20 10:35] kishor-e commented on #3114
Hi @Alvazz, have you found any solution to this? I am not getting any good results, this is my calculator file for background replacement, I dont know where I'm doing this wrong.

       ::mediapipe::Status BackgroundMaskingCalculator::Process(CalculatorContext* cc) {

      ///////////////////////////////// DESKTOP Asset reading method
       cv::Mat background = cv::imread("mediapipe/calculators

[2022-09-21 01:52] wizVR-zhangjun opened #3709 "Drive 3D head face"
First of all, thanks to the mediapipe work hard.

I have a problem here that I need your help with. Thank you very much.

There is a 3D head model in my scene, and now I need to map my facial actions to the face of the 3D head model in real time. I need an idea to realize this, please help me

[2022-09-21 04:52] #3551 closed

[2022-09-21 06:52] #3670 closed

[2022-09-21 07:41] arianatri commented on #1780
so will the hair segmentation come out for js?

[2022-09-21 07:52] #3311 closed

[2022-09-21 07:52] #3588 closed

[2022-09-21 07:52] #3589 closed

[2022-09-21 07:52] #3595 closed

[2022-09-21 07:52] #3596 closed

[2022-09-21 07:52] #3651 closed

[2022-09-21 07:52] #3669 closed

[2022-09-21 08:26] sureshdagooglecom commented on #3622
Hi @M00NSH0T ,
Do you have still problem w.r.t above issue.

[2022-09-21 08:33] sureshdagooglecom commented on #3708
Hi @Choyon10 ,
kindly use below inputs
use_advanced_gpu_api: true
in any of the graphs, try setting it to false.
see https://github.com/google/mediapipe/pull/2463

[2022-09-21 09:13] kuaashish commented on #3700
Hi @NguyenTrongThinh,
We have similar closed issue #3384 and [comment(3384)](https://github.com/google/mediapipe/issues/3384#issuecomment-1158481515), which will give you the better understanding for you query.
Thank you!

[2022-09-21 10:32] NguyenTrongThinh commented on #3700
Hi @kuaashish, thank you for your answer.

[2022-09-21 10:32] #3700 closed

[2022-09-21 10:38] kuaashish commented on #3700
Hi @NguyenTrongThinh, Currently MediaPipe has limited resources for new features and needs improvement in the model performance. We will update if there is any specific update on this issue. Thank you!

[2022-09-21 10:51] NguyenTrongThinh commented on #3700
Hi @kuaashish, sure! Thanks and hope for a new release with some improvement in model performance.

[2022-09-21 10:52] #3654 closed

[2022-09-21 10:58] vertify-mldev1 commented on #3697
Sure, I now updated the problem description above

[2022-09-21 11:10] kuaashish commented on #3697
Hi @vertify-mldev1,
Could you please confirm that you are able to install Hello world example of MediaPipe as mentioned [here](https://google.github.io/mediapipe/getting_started/install.html#installing-on-debian-and-ubuntu) to build Face Mesh in the ubuntu. Thank you!

[2022-09-21 11:35] vertify-mldev1 opened #3710 "Crash during model serialization if OpenCL not initialized (InferenceCalculator)"
The inference calculator crashes if model caching is activated (via serialized_model_dir and model_token options) and TFLiteGPURunner falls back to OpenGL api (i.e. when OpenCL initialization fails).
The crash occurs during model serialization on [this line](https://github.com/google/mediapipe/blob/cc6a2f7af65977248b2a15f471503da2832f583a/mediapipe/util/tflite/tflite_gpu_runner.cc#L281) since cl_e

[2022-09-21 11:45] vertify-mldev1 commented on #3697
Yes, the hello world example works:

[code]

[2022-09-21 11:52] #3631 closed

[2022-09-21 13:08] vertify-mldev1 commented on #3697
Could resolve the issue. I updated gcc/g++ to 9.4.0 and encountered some other build issues.
After cleaning the bazel cache (by running `bazel clean --expunge`) everything works.
Retried it with a clean bazel cache and gcc/g++ 8.4.0 and i got the same error as in the issue description.

[2022-09-21 13:15] M00NSH0T commented on #3622
Hi @sureshdagooglecom,
Yes I never figured this out. I've got a clunky alternative solution I've been using in the meantime, but I'd really love to be able to use other models than the default complexity=1 model from a cloud function. But I haven't been able to figure out a viable solution. Any help would be appreciated.
thanks!

[2022-09-21 19:07] liuyinglao opened #3711 "MediaPipe.js can't be used on website with TrustedType enforced"
<em>Please make sure that this is a feature request.</em>

**System information** (Please provide as much relevant information as possible)

We are trying to run mediapipe holistic on Chrome and when it is loading the holistic_solution_simd_wasm_bin.js file, it complains that the file violate the TrustedType policy.

- MediaPipe Solution (you are using): MediaPipe Holistic (https://google.github.i

[2022-09-22 00:55] jihwan1park commented on #3705
Hi @kuaashish, I wrote it a little bit confusingly. To be more precise, I tested using _**the same graph on the same device**_. However, in the case of the apk distributed by Google, it operates at 15fps, and when I build it myself, the performance was half that. The command used for the build is as mentioned above. I think there's something wrong with the build options, but I was curious about th

[2022-09-22 01:34] 20gg commented on #2286
open your  XX.pbtxt，and change num_boxes item；`    [type.googleapis.com/mediapipe.TfLiteTensorsToDetectionsCalculatorOptions] {
      num_classes: 2
      num_boxes: 1917
      num_coords: 4
      ignore_classes: 0
      sigmoid_score: true
      apply_exponential_on_box_size: true
      x_scale: 10.0
      y_scale: 10.0
      h_scale: 5.0
      w_scale: 5.0
      min_score_thresh: 0.6
    }`

[2022-09-22 03:23] Choyon10 commented on #3708
Could you please make it a little bit specific, in which graph should change?

[2022-09-22 04:36] kuaashish commented on #3697
Hi @vertify-mldev1,
Good to hear that the issue has been fixed as per [above](https://github.com/google/mediapipe/issues/3697#issuecomment-1253686455) command mentioned. Could we move this issue to close status as it has been fixed. Thank you!

[2022-09-22 04:52] #3638 closed

[2022-09-22 06:49] #3707 closed

[2022-09-22 06:52] #3657 closed

[2022-09-22 06:53] lofyol opened #3712 "Can the mediapipe infer multiple images at the same time"
<em>Please make sure that this is a feature request.</em>

**System information** (Please provide as much relevant information as possible)

- MediaPipe Solution (you are using):
- Programming language : C++/typescript/Python/Objective C/Android Java
- Are you willing to contribute it (Yes/No):

**Describe the feature and the current behavior/state:**

**Will this change the current api? How?**

*

[2022-09-22 07:05] #3697 closed

[2022-09-22 07:22] fjzhangcr commented on #3520
thank you, I know bazel is a necessary tool especially the 5.2.0 version
`indeed@indeed-virtual-machine:~/Desktop/mediapipe-master$ ls`
bazel-5.3.1-installer-linux-x86_64.sh  BUILD.bazel                build_ios_examples.sh  Dockerfile  LICENSE      mediapipe  requirements.txt              setup_opencv.sh  third_party
build_android_examples.sh              build_desktop_examples.sh  CONTRIBUTING.m

[2022-09-22 08:04] fjzhangcr opened #3713 "Coral Support - Bazel Setup :ERROR: Skipping 'build': no such target '//:build'"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): ubuntu
- Compiler

[2022-09-22 08:34] kuaashish commented on #3707
Hi @nurshafiza,
Could you please confirm that still you are looking for resolution or issue has been resolved. Thank you!

[2022-09-22 08:46] kuaashish commented on #3688
Hi @rajhlinux, No, Mediapipe library and mediapipe examples have been developed using Google "blaze" and "bazel".  Porting the build scripts from blaze/bazel is a significant engineering effort, and Google hasn't undertaken this yet.

Bazel is a powerful build system and it is not easy to port out of the bazel environment.  We will be interested in any progress you can report if interested in doin

[2022-09-22 08:51] kuaashish commented on #3689
Hi @hazenne7,
Could you confirm that you are able to find out the initial hands ROI region of interest. The hand re-crop model is designed to refine the initial hands ROI. If yes, then please let us know if initial hands ROI is not sufficient.
Thank you!

[2022-09-22 08:55] kuaashish commented on #3676
Hi @FrankEscobar,
Face-mesh is not very much adapted to each human head shape, it is simply deformed to align with each user's head image.
Could you confirm that does flame do something similar or does it require specific use head shapes?
Thank you!

[2022-09-22 09:05] kuaashish commented on #3694
Hi @Mohit0928, Mediapipe hand-landmarks solution, is designed to basically just run the tflite model. It is surprising to get very different output from the two tflite model runners.

Could you please provide the demo with very different output with several good input images it will be helpful to investigate further on the issue. Thank you!

[2022-09-22 09:51] kuaashish commented on #3710
Hi @vertify-mldev1,
Could you please provide the complete details about the issue, which solution you are referring to and steps to reproduce the issue from our end. Thank you!

[2022-09-22 09:52] #3683 closed

[2022-09-22 09:55] kuaashish commented on #3712
Hi @lofyol,
Could you please elaborate your query with complete details and solution which you referring to. Thank you!

[2022-09-22 09:58] lofyol commented on #3712
At present, the human body key point detection under the python solution can only infer one image at a time, but I wonder if I can infer multiple images at the same time, because there is a need to infer multiple video streams at the same time

[2022-09-22 10:26] Choyon10 commented on #3266
Hello @Programmerwyl
do you able to resolve the ```libEGL warning: DRI2: failed to authenticate``` warning?
I'm facing the same problem.
Maybe, for this reason, GPU is not used during the execution time.

[2022-09-22 10:41] andrechen commented on #3688
If you don't mind pulling tons of files(for once), enjoy visual studio IDE on Windows and would like to set a few break points to see what's really going on. check this out...
https://github.com/andrechen/mediapipe/tree/master/visualstudio

[2022-09-22 10:52] #3663 closed

[2022-09-22 10:58] ybott opened #3714 "Docker build on Win10 will not run helloworld"
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): Windows 10

Using mediapipe master the docker helloworld instance does not work correctly.
https://google.github.io/mediapipe/getting_started/install#installing-using-docker

Step 2

`
PS \mediapipe> docker build --tag=mediapipe .
[+] Building 1411.2s (20/20) FINISHED
 => [internal] load build definition from Dockerfil

[2022-09-22 19:39] JesperStenberg commented on #3532
Hi @UtsaChattopadhyay , did you figure this out?

[2022-09-23 00:52] #3658 closed

[2022-09-23 04:52] #3642 closed

[2022-09-23 05:27] sureshdagooglecom commented on #1195
Hi @H1Gdev ,
Are you still looking for the resolution on this issue.

[2022-09-23 05:28] sureshdagooglecom commented on #1625
Hi @kteriusghub ,
Are you still looking for the resolution on this issue.

[2022-09-23 05:29] sureshdagooglecom commented on #1461
Hi @NikhilBadami ,
Are you still looking for the resolution on this issue.

[2022-09-23 05:29] sureshdagooglecom commented on #1477
Hi @davitgoder ,
Are you still looking for the resolution on this issue.

[2022-09-23 05:30] sureshdagooglecom commented on #1452
Hi @pkaske ,
Are you still looking for the resolution on this issue.

[2022-09-23 05:31] sureshdagooglecom commented on #1632
Hi @tuan4192 ,
Are you still looking for the resolution on this issue.

[2022-09-23 05:31] sureshdagooglecom commented on #1909
Hi @lilinxiong ,
Are you still looking for the resolution on this issue.

[2022-09-23 05:32] sureshdagooglecom commented on #1981
Hi @samlaf ,
Are you still looking for the resolution on this issue.

[2022-09-23 05:32] sureshdagooglecom commented on #2000
Hi @AndreV84 ,
Are you still looking for the resolution on this issue.

[2022-09-23 05:33] sureshdagooglecom commented on #2035
Hi @feldim2425 ,
Are you still looking for the resolution on this issue.

[2022-09-23 05:33] sureshdagooglecom commented on #2055
Hi @FedericoCozziVM ,
Are you still looking for the resolution on this issue.

[2022-09-23 05:34] samlaf commented on #1981
No, no longer working with mediapipe.

On Fri, 23 Sep 2022 at 13.32 Sureshda ***@***.***> wrote:

[2022-09-23 05:34] sureshdagooglecom commented on #2074
Hi @DeanIsMe ,
Are you still looking for the resolution on this issue.

[2022-09-23 05:34] sureshdagooglecom commented on #2113
Hi @RayData1 ,
Are you still looking for the resolution on this issue.

[2022-09-23 05:35] sureshdagooglecom commented on #2118
Hi @kiranscaria ,
Are you still looking for the resolution on this issue.

[2022-09-23 05:35] sureshdagooglecom commented on #2153
Hi @ekam123 ,
Are you still looking for the resolution on this issue.

[2022-09-23 05:36] sureshdagooglecom commented on #2164
Hi @IgorZaton ,
Are you still looking for the resolution on this issue.

[2022-09-23 05:37] sureshdagooglecom commented on #2280
Hi @vvasily ,
Are you still looking for the resolution on this issue.

[2022-09-23 05:37] sureshdagooglecom commented on #2227
Hi @sewage1213 ,
Are you still looking for the resolution on this issue.

[2022-09-23 05:38] sureshdagooglecom commented on #2324
Hi @matthewn4444 ,
Are you still looking for the resolution on this issue.

[2022-09-23 05:38] sureshdagooglecom commented on #2333
Hi @akshayvernekar ,
Are you still looking for the resolution on this issue.

[2022-09-23 05:39] sureshdagooglecom commented on #2378
Hi @ozgurshn ,
Are you still looking for the resolution on this issue.

[2022-09-23 05:39] AndreV84 commented on #2000
@sureshdagooglecom
Thank you for following up
I wil have to try again
So do you [will you] support dockerized mediapipe [or not dockerized] implementation on nvidia jetson Orin device ?

[2022-09-23 05:40] sureshdagooglecom commented on #2504
Hi @Asssssert ,
Now  it is Public API , kindly check in the latest version.

[2022-09-23 05:40] sureshdagooglecom commented on #2509
Hi @vpenades ,
Are you still looking for the resolution on this issue.

[2022-09-23 05:41] sureshdagooglecom commented on #2508
Hi @sek790c ,
Could you please check this in the latest version of MediaPipe.

[2022-09-23 05:42] sureshdagooglecom commented on #2560
Hi @Tortoise17 .
Are you still looking for the resolution on this issue.

[2022-09-23 05:42] sureshdagooglecom commented on #2563
Hi @dragonballa .
Are you still looking for the resolution on this issue.

[2022-09-23 05:43] sureshdagooglecom commented on #2633
Hi @JelaniThompson ,
Are you still looking for the resolution on this issue.

[2022-09-23 05:44] sureshdagooglecom commented on #2643
Hi @spacebred ,
Are you still looking for the resolution on this issue.

[2022-09-23 06:21] matthewn4444 commented on #2324
I am not anymore, I gave up and moved onto another project.

[2022-09-23 06:49] UtsaChattopadhyay commented on #3532
Yes we did

On Fri, Sep 23, 2022, 03:39 JesperStenberg ***@***.***> wrote:

[2022-09-23 07:42] vpenades commented on #2509
@sureshdagooglecom personally, I am no longer requiring this because I was able to write my own solution.

I wanted to binaries to see if I could write a binding library for the CSharp language, so mediapipe could be used from C# ... in the end, I've been able to write my own implementation of the bits of mediapipe I need.

[2022-09-23 07:58] simzhangbest opened #3715 "build windows version: ERROR: src/main/native/windows/process.cc(202)"
ERROR: C:/users/****/_bazel_***/ohbn2trs/external/com_github_gflags_gflags/BUILD:16:30: Executing genrule @com_github_gflags_gflags//:gflags_h failed: (Exit -1): bazel_sh failed: error executing command C:\tools\bazel_sh -c ... (remaining 1 argument skipped)
Action failed to execute: java.io.IOException: ERROR: src/main/native/windows/process.cc(202): CreateProcessW("C:\tools\bazel_sh" -c "source

[2022-09-23 08:02] simzhangbest commented on #3715
I want to build c++ version on windows 11  followed [installation mediapipe](https://google.github.io/mediapipe/getting_started/install.html#installing-on-windows),  everything is ok until **bazel build ** step. how can I fix it, thank you

[2022-09-23 08:06] simzhangbest commented on #3715
here is more info about this issue
`INFO: Found 1 target...
ERROR: C:/users/zhangming/_bazel_zhangming/ohbn2trs/external/com_github_gflags_gflags/BUILD:16:30: Executing genrule @com_github_gflags_gflags//:gflags_declare_h failed: (Exit -1): bazel_sh failed: error executing command C:\tools\bazel_sh -c ... (remaining 1 argument skipped)
Action failed to execute: java.io.IOException: ERROR: src/main

[2022-09-23 08:29] kuaashish commented on #3658
Hi @WangXuan2401,
Could you please raise a new issue with complete details and steps to reproduce the issue from our end.
Thank you!

[2022-09-23 08:37] lofyol commented on #3712
<-_->

[2022-09-23 09:06] kuaashish commented on #3713
Duplicate of #3520

[2022-09-23 09:08] kuaashish commented on #3713
Hi @fjzhangcr, We are following up with issue #3520 and closing it as a duplicate. Thank you!

[2022-09-23 09:08] #3713 closed

[2022-09-23 09:25] kuaashish commented on #3705
Hi @jihwan1park, As per the above [comment](https://github.com/google/mediapipe/issues/3705#issuecomment-1250776597), you need to make the graph structure simpler while building the aar on the device. If a simple graph structure the possibility to achieve higher fps is more.
Thank you!

[2022-09-23 09:38] GoComputing commented on #125
Hello @khushmanvar, I know I'm two years later, but for people that issued the same problem.

I just discovered that your application (for example, com/google/mediapipe/basic) must be inside a 'java' folder (for the example, the directory looks like java/com/google/mediapipe/basic).

I hope it helps.

[2022-09-23 10:16] kuaashish commented on #3640
Hi @honeykinng345,
Closing this issue as duplicate and following up with issue #3610. Thank you!

[2022-09-23 10:16] #3640 closed

[2022-09-23 10:23] FedericoCozziVM commented on #2055
Hi @sureshdagooglecom, no I'm not actively looking for a solution, but I just tested on mediapipe 0.8.11 and it's still an issue

[2022-09-23 10:30] kuaashish commented on #3714
Hi @ybott,
Could you please provide the complete error log to investigate the issue further. Thank you!

[2022-09-23 10:42] JesperStenberg commented on #3532
Do you mind sharing it regarding the pose_landmark model?
We get a [1, 195] output from "Identity". I've come to understand that this represent 39 arrays of [x, y, z, visibility, presence] (33 points on the body + 6 extra points for next frame tracking).

This works very well when the input scene is easy, x and y tracks perfectly to the image.
But if the person is partially of screen the tracking

[2022-09-23 10:47] ybott commented on #3714
Hi @kuaashish, thanks for looking at this. I am unable to provide more information.
I followed the installation instructions from the docker section of the getting started page. Step 1 was to install docker. Step 2 was to build the docker instance. Step 3 failed to find bazel within the docker image and resulted in the above error log. Are there more error logs? Can you tell me where they are?

[2022-09-23 11:18] 124bit commented on #1625
I’m still interested

[2022-09-23 11:52] #3665 closed

[2022-09-23 14:00] DeanIsMe commented on #2074
Hi @sureshdagooglecom, I am not working with mediapipe for now. However, I think stack trace on ARM64 would be valuable to many users.

[2022-09-23 15:08] ozgurshn commented on #2378
Hi, @sureshdagooglecom, it's expired for me, not looking for a solution anymore

[2022-09-23 15:28] cdata commented on #2509
FWIW I would still like to see this resolved, although at this point it has been almost a year since I tried to use MediaPipe and I have moved on to new work.

It seems like a project like this would benefit from having a documented path to build it and/or incorporate without assumption of the dependent project's build system. MediaPipe is generally useful and a build system is kind of an orthogon

[2022-09-24 08:51] ZSDXC commented on #3138
I have the same problem

[2022-09-24 09:09] lofyol commented on #3712
<_-_>

[2022-09-24 09:09] lofyol commented on #3712
<_-_>

[2022-09-24 09:31] ZSDXC opened #3716 "Are you Chinese? If so, I will use Chinese."
Hi, 我也遇到了同样的问题，QueueSize()一直为0 ，但是可以获取到数据。但是当检测不到数据的时候就会卡死在pose_poller->Next(&pose_pack)。你遇到过这种问题吗？
if (pose_poller != nullptr)
	{
		std::cout << "====pose in====  size: "<< pose_poller->QueueSize() << std::endl;
		mediapipe::Packet pose_pack;

		if (pose_poller->Next(&pose_pack))
		{
			auto& output_landmarks = pose_pack.Get<mediapipe::NormalizedLandmarkList>();
			std::cout << "pose size: " << o

[2022-09-24 13:36] fmder commented on #1373
Got the same issue with Ubuntu/VS code/Conda.

Adding  `"env" : {"DISPLAY" : "0"}` to my launch.json fixed everything.

[2022-09-24 14:57] hotstone1993 commented on #3565
@sureshdagooglecom
Late reply.
Thank you very much.

[2022-09-24 19:21] Fogrunner opened #3717 "Which platform is the best?"
Hello.

I am considering to use MediaPipe for developing a face application.

The best important factor for this project is the performance speed.

I can choose Python or C++. Which one is the best?

[2022-09-24 22:05] photkey opened #3718 "Autoflip error when bazel build（Windows11）"
**System information**
- OS Platform and Distribution:Windows11 21H2 (22000.978)
- gcc.exe (GCC) 11.2.0, Python 3.9
- Bazel 5.3.1
- OpenCV 3.4.15

**Describe the problem**:
I have followed the installation tutorial of Mediapipe on windows11 platform. Mediapipe could be built.
But there was a confusing error when I wanted to build the Autoflip solution.

`bazel build -c opt --define MEDIAPIPE_DISAB

[2022-09-25 09:52] peter6053 opened #3719 "Closing as stale. Please reopen if you'd like to work on this further."
Closing as stale. Please reopen if you'd like to work on this further.

_Originally posted by @google-ml-butler[bot] in https://github.com/google/mediapipe/issues/3212#issuecomment-1099061984_

[2022-09-25 09:53] peter6053 commented on #3719
<img width="684" alt="ERRO4" src="https://user-images.githubusercontent.com/35918656/192137746-69ec74de-d2c8-475d-9a78-dc25fc4f8bf0.png">

This is still an issie

[2022-09-25 10:41] FrankEscobar commented on #3676
It uses its own base mesh.

As far as I know there are other solutions that adapt their own output to FLAME controlers so they can use this standarized head model.

Anyway if there is any other way to create full head mesh from Mediapipe it could be great anyway, FLAME was just one suggestion.

[2022-09-25 12:48] sureshdagooglecom commented on #3719
Hi @peter6053 ,
We are marking it as duplicate issue since we have similar issue running on thread https://github.com/google/mediapipe/issues/3214

[2022-09-25 14:45] akshayvernekar commented on #2333
@sureshdagooglecom yocto recipe from @willstott101 worked for us . Thanks @willstott101 !

[2022-09-26 01:25] lofyol commented on #3712
<-_——>

[2022-09-26 03:50] simzhangbest opened #3721 "hello_world build failed"
windows 11
visual studio 2019

![image](https://user-images.githubusercontent.com/24918900/192190251-7fcc8701-c720-4a49-95ae-ab485abe6d18.png)

[2022-09-26 03:51] simzhangbest commented on #3721
`WARNING: D:/workspace_sim/mediapipe/mediapipe/framework/tool/BUILD:185:24: in cc_library rule //mediapipe/framework/tool:field_data_cc_proto: target '//mediapipe/framework/tool:field_data_cc_proto' depends on deprecated target '@com_google_protobuf//:cc_wkt_protos': Only for backward compatibility. Do not use.
INFO: Analyzed target //mediapipe/examples/desktop/hello_world:hello_world (79 packages

[2022-09-26 04:19] simzhangbest commented on #3721
using build command :
`bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 --action_env PYTHON_BIN_PATH="D://ProgramData//Anaconda3//envs//d2l//python.exe"  mediapipe/examples/desktop/hello_world --verbose_failures`

[2022-09-26 05:24] simzhangbest commented on #3568
I meet the same problem too, wish for the official answer

[2022-09-26 07:59] HzHzHzHzHz opened #3722 "How to build mediapie for Windows x86?"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4):
- Compiler version

[2022-09-26 08:32] kuaashish commented on #3568
Hi @simzhangbest,
Could you please raise a separate new issue with complete details to reproduce the issue from our end. Thank you!

[2022-09-26 08:37] kuaashish commented on #3716
Hi @ZSDXC,
Could you please elaborate your query with complete details and steps to reproduce the issue from our end. Thank you!

[2022-09-26 08:49] kuaashish commented on #3718
Hi @photkey,
Have you looked at this similar closed issue #1545 and [comment(1545)](https://github.com/google/mediapipe/issues/1545#issuecomment-766588998). Thank you!

[2022-09-26 09:18] kuaashish commented on #3722
Hi @HzHzHzHzHz,
Could you please elaborate your query with complete details and steps to reproduce the issue from our end. Thank you!

[2022-09-26 09:46] kuaashish commented on #3721
Hi @simzhangbest, We are closing this issue as a duplicate and already tracking with another issue #3715. Thank you!

[2022-09-26 09:46] #3721 closed

[2022-09-26 09:52] #3687 closed

[2022-09-26 10:52] #3648 closed

[2022-09-26 11:18] github-itsec-oculavis commented on #3458
Is there any update on this issue?

[2022-09-26 11:22] github-itsec-oculavis opened #3723 "Is there any way around to disable unsafe-eval for JavaScript?"
### Problem

Mediapipe library doesn't work without enabling unsafe-eval in JavaScript, that may lead to cross site scripting attacks, is there any way to use library without unsafe eval?

[2022-09-26 14:36] ajs3801 opened #3724 "[Javascript mediapipe] Isn't there no poseWorldLandmarks in mediapipe js"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):
- [MediaPipe version]

[2022-09-26 14:38] ajs3801 commented on #3724
Could you see the url I wrote in stackoverflow? (https://stackoverflow.com/questions/73760591/is-there-poseworldlandmarks-in-mediapipe-javascript).
I try to make web AI implemented by python before. But I found that there is no pose_worldlandmarks in javascript. Is there a poseWorldLandmarks?

[2022-09-27 00:14] H1Gdev commented on #1195
@sureshdagooglecom

MediaPipe didn't seem to solve this issue, so I did `workaround` on my app side.

[2022-09-27 00:49] yousifa opened #3726 "Debug framework with Xcode"
Hi,

How can I debug / view source from an xcode project that is using a framework compiled w/ mediapipe? I am unable to hit any symbolic breakpoints even (maybe an example here would help).

[2022-09-27 01:33] jihwan1park commented on #3705
Hi @kuaashish, my question wasn't meant to get a faster framerate. Instead, I want to know the exact way to create a "real" release version of libmediapipe_jni.so. I use same .tflite, .pbtxt and .binarypb with prebuilt apk.
I think I should be able to get the same performance as the prebuilt apk by compiling the AAR file my self using the bazel build I linked at the beginning, and using the graph

[2022-09-27 01:41] SSopin opened #3727 "How to get/create Mediapipe Hands training dataset?"
Hello,

I need to fine tune MediaPipe Hands to recognize a couple more landmarks, however, it is not clear how to train it since Mediapipe datasets aren't public. I'd like to create my own dataset, however it is not clear how landmark target values were calculated, which is important because I want my landmarks to be consistent with the ones provided by MediaPipe Hands. Could you please suggest ho

[2022-09-27 02:07] nurshafiza commented on #3707
Hi. Yes, I managed to solve this issue. The problem is with the python binary path and I just keep uninstall and install back Python with latest version and make sure set the correct path under Environment Variables. And also please restart your laptop before you run the command again

[2022-09-27 02:13] nurshafiza opened #3728 "bazel:23:11: configurable attribute "srcs" in @windows_opencv//:opencv doesn't match this configuration"
Command:
`bazel build  //mediapipe/examples/android/src/java/com/google/mediapipe/apps/aar_example:mediapipe_face_detection.aar`

Error:
[code]

Seems like there's a problem for Bazel to deal with opencv. Can anyone help me with this issue? Thank you!

[2022-09-27 03:08] asd26187 opened #3729 "bazel unable to compile"
bazel build -c opt --config=ios_arm64 examples/ios/helloworld:HelloWorld
DEBUG: /private/var/tmp/_bazel_yunxiao/6c3252f5b8b4818edac3a632a3033cff/external/org_tensorflow/third_party/repo.bzl:132:14:
Warning: skipping import of repository 'com_google_absl' because it already exists.
DEBUG: /private/var/tmp/_bazel_yunxiao/6c3252f5b8b4818edac3a632a3033cff/external/org_tensorflow/third_party/repo.bzl:1

[2022-09-27 05:45] kuaashish commented on #3712
Hi @lofyol, Sorry for the late response. Please refer to this closed issue #3273 and [#3273(comment](https://github.com/google/mediapipe/issues/3273#issuecomment-1232717734)) for your query. Thank you!

[2022-09-27 05:55] kuaashish commented on #3707
Hi @nurshafiza, Thanks for the update. The above [steps](https://github.com/google/mediapipe/issues/3707#issuecomment-1258870608) mentioned will definitely help the community. Thank you!

[2022-09-27 06:10] kuaashish commented on #3724
Hi @ajs3801, Please refer to this closed issue #2261 for your query. Thank you!

[2022-09-27 06:14] ajs3801 commented on #3724
Thank you, sir. Now I will try it. Thanks!

[2022-09-27 06:14] #3724 closed

[2022-09-27 06:22] sureshdagooglecom commented on #1209
Hi ,Are you looking for resolution.

[2022-09-27 06:36] ybott opened #3730 "What is the process to build mediapipe in docker?"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4):
- Compiler version

[2022-09-27 07:12] asd26187 commented on #3729
There is no answer

[2022-09-27 07:12] #3729 closed

[2022-09-27 07:18] physxP opened #3731 "Modify CalculatorGraphConfig using Java API"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): macos m1
- [Media

[2022-09-27 07:59] wizVR-zhangjun opened #3732 "Get the face pose"
https://github.com/tensorflow/tfjs-models/pull/844/files
Can we get the correct face pose from this logic
Thank the staff for their hard work

[2022-09-27 08:03] hazenne7 commented on #3689
Thanks for the reply. I am not issuing the initial hands ROI. What i mean by my question is, how can i apply Holistic with the hands landmarks like on all of the Holistic example picture?

![alt text](https://mediapipe.dev/images/mobile/holistic_pipeline_example.jpg)

Holistic landmarks used on this [MediaPipe demo web](https://mediapipe.dev/demo/holistic_remote/) is what i mean, not a hand landma

[2022-09-27 08:48] kuaashish commented on #3726
Hi @yousifa, Please refer to this [Mediapipe: How to configure debugger? ](https://stackoverflow.com/questions/72488330/mediapipe-how-to-configure-debugger-using-vs-code-and-bazel)issue for your query. Thank you!

[2022-09-27 08:52] #3677 closed

[2022-09-27 08:53] kuaashish commented on #3727
Hi @SSopin, Please refer to this closed issue #3410 and [#3410(comment)](https://github.com/google/mediapipe/issues/3410#issuecomment-1156394511) for your query. Thank you!

[2022-09-27 09:07] kuaashish commented on #3728
Hi @nurshafiza, It seems, opencv installed but did not link properly with bazel. Could you please follow this [thread](https://stackoverflow.com/questions/34984290/how-to-use-bazel-to-build-project-uses-opencv) and add mentioned opencv library into the WORKSPACE. Thank you!

[2022-09-27 09:27] asd26187 opened #3733 "build error"
error: In target "//mediapipe/examples/ios/handtrackinggpu:HandTrackingGpuApp_entitlements"; the bundle_id ("com.google.mediapipe.HelloWorlds") did not match the id in the entitlements ("934dcfe0-9c89-e925d94b1.mediapipe.examples.FaceDetectionCpu").

When I compile the project with xcode13.4.1, I get an error about the bundle id, I don't have this bundle id set. I want to know the file where the e

[2022-09-27 10:27] kuaashish commented on #3733
Hi @asd26187, Could you confirm that you have changed the `bundle identifier` as configured the provisioning profile. Please follow [this](https://qiita.com/ponte1010/items/ed10cb2b5dcf7579f9bc#2-change-bundle-identifier) reference for your query. Thank you!

[2022-09-27 10:49] asd26187 commented on #3733
Yes, I am sure I have changed the bundle_id="com.google.mediapipe.HelloWorlds" in the BUILD file. I want to configure this bundle_id for all BUILD files, but I found that maybe I can run it in helloworld project, but in other projects it will report error, how should I configure bundle_id in BUILD file and BUNDLE_ID_PREFIX in bundle_id.bzl file?

[2022-09-27 11:21] kuaashish commented on #3733
Hi @asd26187, You need a different bundle id for a different solution to build. Please follow the above reference and try to change them accordingly. Thank you!

[2022-09-27 12:18] homuler commented on #3604
@sureshdagooglecom Why is the status `stat:awaiting response`?

[2022-09-27 13:44] gentnm commented on #3661
Ping

[2022-09-27 13:44] #3661 closed

[2022-09-27 14:20] SSopin commented on #3727
Hi @kuaashish.
Thank you for your response. It seems you are referring to the answer related to fine tuning and using custom models within MediaPipe which is very helpful. My question was mostly about dataset creation. I am just curious how target landmarks were calculated for the initial training dataset? I want to recreate the process so that my training data is consistent with MediaPipe one.

F

[2022-09-28 00:27] HzHzHzHzHz commented on #3722
The official documentation describes the Mediapipe example build for Windows x64, but what should I do if I want to build the Windows x86 example? Does Mediapipe only support x64 build on Windows? @kuaashish

[2022-09-28 04:05] asd26187 commented on #3733
Yes, following your method, changing the corresponding bundle_id will allow me to run different projects, but this will lead to a new problem, that I will have many apps on my phone, if I want to integrate all the functions in one app, how should I do it? Thanks

[2022-09-28 06:38] kuaashish commented on #3727
Hi @SSopin, Hope this issue #742 and [#742(comment)](https://github.com/google/mediapipe/issues/742#issuecomment-639104199) will give a better understanding for your query. Thanks!

[2022-09-28 07:11] kuaashish commented on #3733
Hi @asd26187, Please follow the instructions mentioned in the official [documentation](https://google.github.io/mediapipe/getting_started/ios.html#set-up-a-bundle-id-prefix) to set up a bundle id prefix for all mediapipe examples. Thank you!

[2022-09-28 07:21] asd26187 commented on #3733
@kuaashish  But the documentation does not write out how the bundle_id prefix should be set globally and how the bundle_id of individual projects should be set? Or could you please tell me how I should be able to compile all the functions in the example into a framework so that I can use all the functions in one project.thx!

[2022-09-28 07:52] #3691 closed

[2022-09-28 09:27] wizVR-zhangjun commented on #3732
@kuaashish thanks

[2022-09-28 09:27] #3732 closed

[2022-09-28 09:29] wizVR-zhangjun commented on #3709
Hi @kuaashish Is there a solution to this problem? Thanks

[2022-09-28 09:31] kuaashish commented on #3715
Hi @simzhangbest, Could you please provide the system [information](https://google.github.io/mediapipe/getting_started/help.html#system-information) and complete error log which you are getting. Thank you!

[2022-09-28 09:39] #3690 closed

[2022-09-28 09:39] #3615 closed

[2022-09-28 09:39] #3624 closed

[2022-09-28 09:40] #3684 closed

[2022-09-28 09:46] kuaashish commented on #3723
Duplicate of #3458

[2022-09-28 09:48] kuaashish commented on #3723
Hi @github-itsec-oculavis, We are following up with the issue #3458 and will revert back if there is any specific update on issue. Thank you!

[2022-09-28 10:16] #3520 closed

[2022-09-28 10:20] fjzhangcr opened #3734 "compile mediapipe for edgetpu dev board : "ERROR: Skipping 'build': no such target '//:build': target 'build' not declared in package '' defined ""
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): ubuntu
- Compiler

[2022-09-28 11:12] github-itsec-oculavis commented on #3723
Hi @kuaashish I had a look there, nobody is responding to that issue.

[2022-09-28 11:33] Youmimzy opened #3735 "Get the 3d coordinate output of the model"
This template is for miscellaneous issues not covered by the other issue categories

For questions on how to work with MediaPipe, or support for problems that are not verified bugs in MediaPipe, please go to [StackOverflow](https://stackoverflow.com/questions/tagged/mediapipe) and [Slack](https://mediapipe.page.link/joinslack) communities.

If you are reporting a vulnerability, please use the [ded

[2022-09-28 11:39] #3524 closed

[2022-09-28 11:39] #3442 closed

[2022-09-28 16:22] sureshdagooglecom commented on #1981
Hi @samlaf ,
Could you please close this issue.

[2022-09-28 23:25] #1981 closed

[2022-09-29 06:55] dubrovin-sudo opened #3736 "How do I train my own object detection model?"
Dear colleagues?

Whether the mediapipe allows retraining the Object Detection graph?  At the moment, the mediapipe offers a standard solution for a standard dataset (probably COCO). But I want to detect ear. How do I train my model and use it in the mediapipe?

I didn't find obvious solutions in the documentation

[2022-09-29 08:07] serrabii opened #3737 "Slack Channel"
Hi,

I am unable to join the MediaPipe Slack Channel. The slack invite linked above is restricted to @google.com emails. Is the slack channel not a public community?

Thanks in advance

[2022-09-29 09:07] kuaashish commented on #3737
Hi @serrabii, Could you please join through [this](https://join.slack.com/t/mediapipe/shared_invite/zt-1gygl2lpu-4UxAPsr8e8qMb8vmQuCXxw) invitation and let us know if you are part of official MediaPipe slack channel. Thank you!

[2022-09-29 09:17] serrabii commented on #3737
Many thanks for the quick response, that invite links worked and I have joined the official MediaPipe slack channel!

[2022-09-29 09:20] kuaashish commented on #3737
Hi @serrabii, Glad to hear that you are part of the MediaPipe channel. Could we move this issue to close status as it has been resolved. Thank you!

[2022-09-29 09:21] #3737 closed

[2022-09-29 09:27] wizVR-zhangjun commented on #3709
![ac579b4fffa14a59b08e42654e9c18ee](https://user-images.githubusercontent.com/60952586/192994459-a0a51259-b367-4858-8bc0-fa7cf9b6a1fa.gif)
@kuaashish How does this work? What algorithm is the facial expression based on
Thank you for your hard work。

[2022-09-29 09:39] #1788 closed

[2022-09-29 10:39] #1982 closed

[2022-09-29 10:39] #2020 closed

[2022-09-29 19:14] jordan-bird commented on #3612
@kuaashish I don't think this is a tensorflow issue, the landmarks and their labels are MediaPipe related

[2022-09-30 02:38] yohanessatria opened #3741 "Adding .mlpackage file into the ios example project"
So I've been trying to add a .MLPackage file to the HolisticTrackingGPU ios project. The problem is somehow the target membership for all the example projects are disabled (greyed out), thus I can't link the .mlpackage file to the holistictrackinggpu and the xcode can't can't auto generate the model class. I tried to add the model class manually by :
1. add the model into a new blank project
2. le

[2022-09-30 04:49] RoachNier opened #3742 "objectdetection3d build to android sdk error: fetching 2 tflite files failed"
Hi~I have problems in building objectdetection3d to android sdk on Ubuntu. The error is:
[code]
However, I succeeded in building objectdetectiongpu and a few other applications. I checked the tflite file and found it is in third_party/external_files.bzl, and also there is urls:
`    http_file(
        name = "com_google_mediapipe_object_detection_ssd_mobilenetv2_oidv4_fp16_tflite",
        sha256

[2022-09-30 05:15] Fogrunner commented on #3704
I wasted whole of day to find why. Please, write somewhere  : the demos are needed to build sequentially.

[2022-09-30 05:24] noeykan commented on #3421
I'm also waiting for this feature to be released so much... Please update this issue!

[2022-09-30 05:30] RoachNier commented on #3742
And now the Error turns into:
`ERROR: /home/aiserver/projects/mediapipe/mediapipe/graphs/object_detection_3d/calculators/BUILD:22:24: no such target '//mediapipe/gpu:gl_animation_overlay_calculator_cc_proto': target 'gl_animation_overlay_calculator_cc_proto' not declared in package 'mediapipe/gpu' defined by /home/aiserver/projects/mediapipe/mediapipe/gpu/BUILD and referenced by '//mediapipe/graph

[2022-09-30 06:13] #3717 closed

[2022-09-30 06:17] kuaashish commented on #3742
Hi @RoachNier, Could you please follow[ this](https://github.com/google/mediapipe/issues/3698#issuecomment-1247905371) comment and let us know if this resolves the issue. Thank you!

[2022-09-30 07:39] #3699 closed

[2022-09-30 07:52] serrabii opened #3743 "Is graph compilation for Android and iOS necessary?"
Hi,

On desktop creating and running graphs is possible through various ways without any compilation of the text configuration.
Meanwhile, on Android and iOS we must first compile the `.pbtxt` file to a `.binarybp` file. Why is this step necessary ?

Thanks in advance.

[2022-09-30 08:14] fishhead012 opened #3744 "(ANDROID) mediapipe::CalculatorGraph Initialize failed by mediapipe::CalculatorGraphConfig"
// Step
1. create config(mediapipe::CalculatorGraphConfig) from holistic_gpu.pbtxt
2. mediapipe::CalculatorGraph->Initialize(config)
3. log as below Initialization failed

anyone know how to fix it?  :D

// LOG
UNKNOWN: ValidatedGraphConfig Initialization failed.
SplitNormalizedLandmarkListCalculator: The number of output streams should match the number of ranges specified in the CalculatorOptions

[2022-09-30 10:37] kuaashish commented on #3612
Hi @jordan-bird,
Could you please elaborate your query with complete details and different observations made in the both of cases.
Thank you!

[2022-09-30 10:55] kuaashish commented on #3730
Hi @ybott,
We have clear documentation to build MediaPipe in the docker as mentioned in the [documentation](https://google.github.io/mediapipe/getting_started/install.html#installing-using-docker).
Please follow and revert back if you have further issues. Thank you!

[2022-09-30 11:31] kuaashish commented on #3744
Hi @fishhead012
Could you please elaborate your query with complete details and clear steps to reproduce the issue from our end. Thank you!

[2022-09-30 14:05] Wei-1 commented on #2506
@ButzYung 's editing actually work, here is a simpler working example:
https://github.com/Wei-1/holistic-website-test

[2022-09-30 14:06] lzw-lzw opened #3745 "(Exit 1120): link.exe failed: error executing command"
Something wrong when build hand_tracking

INFO: Analyzed target //mediapipe/examples/desktop/hand_tracking:hand_tracking_cpu (0 packages loaded, 0 targets configured).
INFO: Found 1 target...
ERROR: C:/users/lzw/desktop/mediapipe/mediapipe-master/mediapipe/examples/desktop/hand_tracking/BUILD:31:10: Linking mediapipe/examples/desktop/hand_tracking/hand_tracking_cpu.exe failed: (Exit 1120): link.ex

[2022-09-30 14:57] andrechen commented on #3745
in this [line](https://github.com/google/mediapipe/blob/6678a091e0f8ed5edd89c38598458b9694ab8037/mediapipe/calculators/tflite/tflite_model_calculator.cc#L87), it calls tflite::MMAPAllocation(int, size_t, size_t, tflite::ErrorReporter*) constructor, but unfortunately, tensorflow-lite fails to implement it for os that doesn't support **mmap**, or map files into memory.  see... https://github.com/ten

[2022-10-01 14:17] rodrigoluciano opened #3746 "argument types are supported 1. (arg0: int) invoke 0.5"
**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
- OS Platform and Distribution (Ubuntu Linux):
- [MediaPipe version](https://github.com/google/mediapipe/releases): 0.8.11
- Solution ():

-  Use the modelcomplexity parameter to solve the problem
    def __init__(self, mo

[2022-10-02 08:27] divastar opened #3747 "Python310//python.exe' is not executable. Is it the python binary?"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution Windows10:
- Programming Language and version  Python :
- Installed

[2022-10-02 09:04] lzw-lzw commented on #3745
thanks,it helps me a lot!

[2022-10-02 09:12] divastar opened #3748 "ModuleNotFoundError: No module named 'mediapipe.python._framework_bindings'"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- Windows 10:
- Programming Language and version ( Python 3 ):
- [MediaPipe version]: latest docke

[2022-10-03 01:10] vduyhai commented on #3121
Hi, I'm using PyQt5 and mediapipe on raspberry pi 4 (4GB RAM - Debian Bullseye). The PyQt5 is installed succesfully using python 3.9 and incompatible with any lower python versions, so I have to try install mediapipe with python 3.9. I've tried the link above but it doesn't work with python 3.9. Do you have any update for mediapipe installation with python 3.9?

[2022-10-03 07:39] #3702 closed

[2022-10-03 08:30] kuaashish commented on #3745
Hi @lzw-lzw,
Could you please elaborate your query with complete details and steps to reproduce the issue from our end.
Thank you!

[2022-10-03 08:33] kuaashish commented on #3746
Hi @rodrigoluciano,
Could you please elaborate your query with complete details and steps to reproduce the issue from our end.
Thank you!

[2022-10-03 10:39] #3685 closed

[2022-10-03 10:49] LluisColom commented on #3397
Personally I would not recommend depending on 3rd parties software to run MediaPipe.
In future releases the changes in the repo you mentioned could not be up to date.

[2022-10-03 10:59] LluisColom commented on #3440
Hello,

I would not personally recommend to use 3rd parties software to run MediaPipe, as in future releases the changes applied in this repo could be broken (no longer useful).

For this reason, if running into this error using a M1 powered device:
./mediapipe/framework/port/opencv_core_inc.h:18:10: fatal error: 'opencv2/core/version.hpp' file not found
#include <opencv2/core/version.hpp>

[2022-10-03 11:07] LluisColom commented on #3468
Hello,

maybe it's too late but in the issue #3440 I explain how to solve it in my comment =).

@kuaashish I would no longer use the solution you pointed out as it is more than one year old, and MediaPipe has gone through important improvements to work natively in M1 devices.

[2022-10-03 12:13] ngthlong1990 opened #3749 "[Instant Motion Tracking] Tracking outside the camera's field of view"
Hi. I am using Instant Motion Tracking and it works fine within camera view. However, when the camera spans away and back, the tracking is not correct any more. As I read on the paper https://arxiv.org/pdf/1907.06796.pdf they say they "_allow for limited region tracking outside the camera’s field of view–enabling a virtual object to reappear in approximately the same spot when panning away and bac

[2022-10-03 15:27] fishhead012 commented on #3744
Below are my settings. Any small clue would be appreciated. :D

# GPU buffer. (GpuBuffer)
input_stream: "input_video"

output_stream: "pose_landmarks"
output_stream: "pose_world_landmarks"
output_stream: "segmentation_mask"
output_stream: "pose_roi"
output_stream: "pose_detection"
output_stream: "face_landmarks"
output_stream: "left_hand_landmarks"
output_stream: "right_hand_landmarks"

node {
  c

[2022-10-03 15:44] Frany-oss opened #3750 "Pose: No Such file or directory: pose_landmark_heavy.tflite"
I'm trying to build a .exe and I'm using Pose Detection in a part of my program.
What I use to execute the file:
[code]
When I run de .exe (using pyinstaller) a get this error:
![Screenshot 2022-10-03 103011](https://user-images.githubusercontent.com/54272736/193616966-f514625f-81a2-4b14-96db-b7b3e518cd3d.jpg)

**System information**
- Windows 10:
- Using Pyinstaller version 5.4.1 for generating t

[2022-10-03 16:20] AshaLilyPatel opened #3751 "Palm Detection Model Output"
Hi, I'm struggling to process the output of the palm detection tflite model.

I obtain the 7 hand landmarks and they appear to match the shape of the hand in the input image - which suggests that I've correctly found the highest probability prediction and corresponding anchor - however they are not aligned on the image (likewise with the main bounding box).

I've so far been unsuccessful at revers

[2022-10-03 17:55] mauricewells commented on #1224
Hi, @WaldHabets
can you please tell me where I can find workspace folder
as you know, i can't fnid any workspace folder in my android studio project

[2022-10-03 21:43] yohanessatria commented on #3741
Hi. Is there any solution on this? thanks

[2022-10-04 08:26] Fogrunner opened #3752 "failed to run Face Mesh example as dbg mode"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): **No**
- OS Plat

[2022-10-04 10:07] kuaashish commented on #3748
Hi @divastar, Have you looked at this similar closed issue #3130 and [#3130(comment)](https://github.com/google/mediapipe/issues/3130#issuecomment-1148672993). Thank you!

[2022-10-04 11:20] Fogrunner commented on #3752
After VS 2019 update. The problem is fixed.
It seems to be working.

[2022-10-04 11:58] kuaashish commented on #3749
Hi @ngthlong1990,
Could you please elaborate your query with complete details and code changes made.
Thank you!

[2022-10-04 12:23] pyxploiter opened #3753 "Extract intermediate layer features from Hand Landmark model"
Is there any possible way to extract intermediate layer features from Hand landmark model instead of final hand landmarks?

[2022-10-05 08:30] peterngng commented on #1929
Hi ! @wesley231 @Gidrian @cronin4392 @ElizeRausch , the link is not available again. May you upload it again or is there any other link related to multiple person pose with Mediapipe and Yolo?

[2022-10-06 04:16] ngthlong1990 commented on #3749
**System information**
- Have I written custom code: Not yet, just use current project only
- OS Platform and Distribution: Linux Kubuntu 20.04, Android 12
- [MediaPipe version](https://github.com/google/mediapipe/releases): 0.8.10
- Bazel version: 5.3.1
- Solution: Instant Motion Tracking
- Programming Language and version: Java

**Describe the expected behavior:**
When I pan the camera away from

[2022-10-06 05:43] sureshdagooglecom commented on #3734
Hi @fjzhangcr ,
I would request you to check the above with the latest release and let us know if you still see the same.

[2022-10-06 05:45] sureshdagooglecom commented on #3735
Hi @Youmimzy ,
On Android Hands gradle you can find the result of https://github.com/google/mediapipe/blob/d4bb35fe5a44b3419ca86e4c7ecbc931dded2122/mediapipe/java/com/google/mediapipe/solutions/hands/HandsResult.java#:~:text=//%20Collection%20of%20detected/tracked%20hands%27%20landmarks,%7D. To run on GPU you should enable runOnGput to True

[2022-10-06 05:46] sureshdagooglecom commented on #3708
Hi @Choyon10 ,
it's good that the GPU path works for facemesh when refine_landmarks is false, that means the mediapipe GPU configuration/setup is fine.

the refine_landmarks = true option actually runs a different ML model ([here](https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_landmark/face_landmark_with_attention.tflite))

We have closed issue running on thread https://git

[2022-10-06 06:47] #3701 closed

[2022-10-06 08:43] kuaashish commented on #3742
Hi @RoachNier,
Could you please confirm the issue has been resolved as per the above [comment](https://github.com/google/mediapipe/issues/3742#issuecomment-1263151129) or still you are looking for the resolution.
Thank you!

[2022-10-06 08:51] kuaashish commented on #3751
Hi @AshaLilyPatel,
Please refer to this issue #1638 and [#1638(comment)](https://github.com/google/mediapipe/issues/1638#issuecomment-974167633) for better understanding on your query. Thank you!

[2022-10-06 09:08] nisarnabeel commented on #1020
how to convert lets say from dict or array back tomediapipe.framework.formats.landmark_pb2.NormalizedLandmark

[2022-10-06 09:10] nisarnabeel opened #3755 "Convert to mediapipe.framework.formats.landmark_pb2.NormalizedLandmark"
I would liket to use mediapipe coordinates as labels for some other task,
how can i convert array or list or dict storing these coordinates to mediapipe.framework.formats.landmark_pb2.NormalizedLandmark, so that i could use the native draw function ?

[2022-10-06 09:12] kuaashish commented on #3753
Hi @pyxploiter,
Have you looked at this closed issue #3492 and [#3492(comment)](https://github.com/google/mediapipe/issues/3492#issuecomment-1177722813), which will give you better understanding to extract the each landmarks.
Thank you!

[2022-10-06 09:47] #3694 closed

[2022-10-06 10:25] kuaashish commented on #3755
Hi @nisarnabeel, Store the iterated values in a list. Then use this snippet below,

[code]
Attaching relevant [threads](https://stackoverflow.com/questions/72762641/how-to-reconstruct-mediapipe-landmark-coordinates-from-extracted-coordinate-valu) for your reference. Thank you!

[2022-10-06 10:47] #3710 closed

[2022-10-06 11:16] nisarnabeel commented on #3755
Hi @kuaashish , quite new on mediapipe,
thanks for the swift response
 in the end i used (reconstructed.landmark.add in a loop) to store values which were not of the type landmark_pb2.NormalizedLandmark.

i tried the above method as well, it works fine :)
thank you

[2022-10-06 11:41] kuaashish commented on #3755
Hi @nisarnabeel,
Thanks for the confirmation! Could we move this issue to the close status as it has been resolved.
Thank you!

[2022-10-06 11:44] nisarnabeel commented on #3755
sure thanks :)

[2022-10-06 11:47] #3688 closed

[2022-10-06 13:24] divastar opened #3756 "python configure error on windows"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
Windows 10:
Programming Language and version ( Python 3 ):
[MediaPipe version]: latest docker
[Med

[2022-10-06 15:25] riyouxi opened #3757 "Expected action_config for 'objc++-compile' to be configured"
ERROR: /Users/luowei/Downloads/mediapipe/mediapipe/gpu/BUILD:393:13: in objc_library rule //mediapipe/gpu:pixel_buffer_pool_util: Expected action_config for 'objc++-compile' to be configured
ERROR: /Users/luowei/Downloads/mediapipe/mediapipe/gpu/BUILD:393:13: in objc_library rule //mediapipe/gpu:pixel_buffer_pool_util:
Traceback (most recent call last):
	File "/virtual_builtins_bzl/common/objc/obj

[2022-10-07 05:07] ngthlong1990 commented on #2551
Hi [jianingwei](https://github.com/jianingwei),
I have read your paper and found this in section 3.4:
To make the effect more robust, we also allow for limited region tracking outside the camera’s field of view–enabling a virtual object to reappear in approximately the same spot when panning away and back again. Combining visual information for 3D translation and IMU data for 3D rotation lets us t

[2022-10-07 05:47] #1461 closed

[2022-10-07 05:47] #1477 closed

[2022-10-07 05:47] #1452 closed

[2022-10-07 05:47] #1632 closed

[2022-10-07 05:47] #2035 closed

[2022-10-07 05:47] #2113 closed

[2022-10-07 05:47] #2118 closed

[2022-10-07 05:47] #2153 closed

[2022-10-07 05:47] #2164 closed

[2022-10-07 05:47] #2280 closed

[2022-10-07 05:47] #2227 closed

[2022-10-07 05:47] #3704 closed

[2022-10-07 06:47] #2504 closed

[2022-10-07 06:47] #2508 closed

[2022-10-07 06:47] #2560 closed

[2022-10-07 06:47] #2563 closed

[2022-10-07 06:47] #2633 closed

[2022-10-07 06:47] #2643 closed

[2022-10-07 10:28] bunny-001 commented on #2739
thanks

[2022-10-07 10:33] kuaashish commented on #3750
Hi @Frany-oss,
Could you please elaborate your query with complete details and steps to reproduce the issue from our end. Thank you!

[2022-10-07 11:43] kuaashish commented on #3756
Hi @divastarm, Have you looked at this closed issue #3459 and [#3459(comment)](https://github.com/google/mediapipe/issues/3459#issuecomment-1167468953). Thank you!

[2022-10-07 13:24] younasm commented on #2081
i did the same but not working for me showing error.

[code]

I am using python version 3.10.6

[2022-10-07 13:28] younasm opened #3758 "Can't install mediapipe on PyCharm IDE."
I am using python version: 3.10.6
already have installed all other packages but only mediapipe is giving me this error. also tried with terminal but same error.

[code]

need urgent help!

[2022-10-07 14:09] Frany-oss commented on #3750
Hi @kuaashish I just edited my comment with the full code use in my program. Let me know if you need any more information.

[2022-10-08 08:10] younasm commented on #1325
did you find any solution?

[2022-10-08 10:10] fjzhangcr commented on #3734
hi，thank you for you response~~~
i git clone the latest released mediapipe repo, and try bazel build again, the error message changed
`WARNING: Download from https://storage.googleapis.com/mirror.tensorflow.org/github.com/llvm/llvm-project/archive/131dda9acc6978aba4740d75ca45f411fbabd726.tar.gz failed: class java.io.FileNotFoundException GET returned 404 Not Found
WARNING: Download from https://st

[2022-10-09 05:30] Psychemist commented on #1325
Thanks!

`pip install mediapipe-silicon`
This cmd works on my M1 MacBook

[2022-10-09 18:54] CatinoRosalba commented on #3340
Hi @ArtanBerisha1,

Did you find an example (source code) for the holistic model?
It would be very helpful to have an example or some videos/documentation to use the holistic model on android app.
Thank you in advance for your help.

[2022-10-10 02:51] MarsH2o2 commented on #3742
I have the same problem,

Execute ./build_android_examples.sh in the root directory

The following error is reported:
ERROR: /mnt/e/mediapipe/mediapipe/graphs/object_detection_3d/calculators/BUILD:22:24: no such target '//mediapipe/gpu:gl_animation_overlay_calculator_cc_proto': target 'gl_animation_overlay_calculator_cc_proto' not declared in package 'mediapipe/gpu' defined by /mnt/e/mediapipe/med

[2022-10-10 02:51] MarsH2o2 commented on #3742
@kuaashish

[2022-10-10 02:52] MarsH2o2 commented on #3742
I have the same problem,

Execute ./build_android_examples.sh in the root directory

The following error is reported:
ERROR: /mnt/e/mediapipe/mediapipe/graphs/object_detection_3d/calculators/BUILD:22:24: no such target '//mediapipe/gpu:gl_animation_overlay_calculator_cc_proto': target 'gl_animation_overlay_calculator_cc_proto' not declared in package 'mediapipe/gpu' defined by /mnt/e/mediapipe/med

[2022-10-10 03:14] MarsH2o2 opened #3759 "Execute ./build_android_examples.sh the following error occurs"
System information
- Ubuntu 20.04
- Compiler version gcc (Ubuntu 9.4.0-1ubuntu1~20.04.1) 9.4.0
- Programming Language java jdk11
- Bazel version: 5.2.0

Describe the problem:

I have execute ./build_android_examples.sh, but  the following error occurs:
WARNING: /mnt/e/mediapipe/mediapipe/framework/BUILD:54:24: in cc_library rule //mediapipe/framework:calculator_cc_proto: target '//mediapipe/framew

[2022-10-10 06:35] EEWenbinWu commented on #2538
Did you find the solution? :)

[2022-10-10 07:36] kuaashish commented on #3757
Hi @riyouxi,
Could you please elaborate your query with complete details and steps to reproduce the issue from our end. Thank you!

[2022-10-10 08:13] kuaashish commented on #3758
Hi @younasm,
Could you try to downgrade the Python version to the `3.10.0` and please let us know if the issue has been resolved or need further help. Thank you!

[2022-10-10 08:47] #3716 closed

[2022-10-10 09:47] #3718 closed

[2022-10-11 03:30] lofyol commented on #3712
This is not an official multi image reasoning

[2022-10-11 06:09] kuaashish commented on #3712
Hi @lofyol, MediaPipe does not have any official documentation and examples to infer the multiple images at a loop. Please follow the workaround mentioned which is contributed by the community. Thank you!

[2022-10-11 06:54] asd26187 opened #3760 "Can`t build with Bazel"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4):MacOS Monterey 12.6

[2022-10-11 07:07] kuaashish commented on #3742
Hi @RoachNier, We are following up with the issue #3759 raised. @RoachNier, Could you please update the system information as mentioned in the [documentation](https://github.com/google/mediapipe/issues/3759). Thank you!

[2022-10-11 07:08] TexenJin commented on #3745
老哥，这个问题你解决了吗？

[2022-10-11 07:14] TexenJin commented on #3745
我又看了一下，我那个跟你的不一样，能把截图发给你，帮我看看吗？

[2022-10-11 07:18] TexenJin commented on #3745
链接：https://pan.baidu.com/s/16i-N0oyNbUH4hloEoGn2Wg?pwd=1111
提取码：1111
--来自百度网盘超级会员V5的分享

[2022-10-11 07:20] BitLoose commented on #3555
which questions?  The reason why depth on the elbows is too far in the
foreground?  Can't see why the CNN would just fail on the elbows, so
probably some sort of post processing coding issue.

Sure the engineers that put it together already know the answer as the
fail is very obvious.

On 06/09/2022 20:46, Sebastian Schmidt wrote:

[2022-10-11 07:21] colincheung755 commented on #3429
你好，邮件我已收到。张昱航

[2022-10-11 07:21] lzw-lzw commented on #3745
你这个和我的一样的吧 你试试上面那个注释掉

[2022-10-11 07:23] kuaashish commented on #3760
Hi @asd26187,
Could you please elaborate your query with complete details and steps to reproduce the issue from our end. Thank you!

[2022-10-11 07:27] TexenJin commented on #3745
好的好的，我试试

[2022-10-11 07:35] TexenJin commented on #3745
哦哦哦，成功了

[2022-10-11 07:36] TexenJin commented on #3745
Mine worked either, thank you.

[2022-10-11 07:36] TexenJin commented on #3745
Mine worked either, thank you.

[2022-10-11 07:37] asd26187 commented on #3760
I followed the [steps](https://google.github.io/mediapipe/getting_started/ios.html) here to install python as well as bazelisk and configure mobileprovision, but when I used
bazel build -c opt --config=ios_arm64 mediapipe/examples/ios/handtrackinggpu:HandTrackingGpuApp
to build handtrackinggpu, I get these errors above.
@kuaashish

[2022-10-11 08:22] philiprkk commented on #1838
Hello! Any progress with this?

[2022-10-11 09:23] kuaashish commented on #3760
Hi @asd26187, Could you please share the complete error log and MediaPipe version used to investigate further. Thank you!

[2022-10-11 09:26] denfromufa commented on #3496
Hi Sureshda, what is [this]? BTW, we tried heavy/full/lite blazepose models
in mediapipe as well as video stream option too.

On Thu, Jul 7, 2022 at 9:48 AM Sureshda ***@***.***> wrote:

[2022-10-11 09:27] kuaashish commented on #3759
Hi @MarsH2o2,
Could you please elaborate your query with a complete error log and steps to reproduce the issue from our end. Please update the system information as mentioned in the [documentation](https://google.github.io/mediapipe/getting_started/help.html#system-information). Thank you!

[2022-10-11 09:32] kuaashish commented on #3745
Hi @lzw-lzw, Good to hear that the issue has been resolved as per the above [comment](https://github.com/google/mediapipe/issues/3745#issuecomment-1274190437). Could we move this issue to close status as it has resolved and does not require further support. Thank you!

[2022-10-11 09:44] kuaashish commented on #3760
Hi @asd26187, Could you verify that you have changed the bundle_id as mentioned [here](https://google.github.io/mediapipe/getting_started/ios.html#custom-provisioning) in the documentation. If yes, then please try the workaround mentioned in this issue [#995(comment) ](https://github.com/google/mediapipe/issues/995#issuecomment-689168495). Thank you!

[2022-10-11 09:47] #3726 closed

[2022-10-11 09:47] #3728 closed

[2022-10-11 09:55] lzw-lzw commented on #3745
yes，thanks！

[2022-10-11 10:00] asd26187 commented on #3760
Hi, when I changed the Bundle id I got another error, I changed the name to MediaPipe in the BUILD file I'm not sure why this error is reported? Can you help me to see? Thank you!
[code]
This is the content of my BUILD file
[code]

[2022-10-11 10:06] #3745 closed

[2022-10-11 10:31] anz-ryu commented on #3440
I have the same issue of this.

I am using the master(12f72f0) of the mediapipe repository. (Am I wrong?)

[code]

[2022-10-11 10:39] kuaashish commented on #3760
Hi @asd26187,
Please have a look at this [example](https://github.com/mgyong/awesome-mediapipe#ios) to build the Hand tracking in the ios and change the bundle id as mentioned [here](https://qiita.com/ponte1010/items/ed10cb2b5dcf7579f9bc#2-change-bundle-identifier) and let us know if encountering the same error. Thank you!

[2022-10-11 11:11] asd26187 commented on #3760
Yes, I changed the bundleID and solved the problem just now, now there is a new problem, the framework I packaged does not work properly because the header files inside refer to the header files of other modules, how should I configure BUILD?
![image](https://user-images.githubusercontent.com/13916417/195075009-023724cf-e3a3-44e7-8350-81c391f3e25b.png)
![image](https://user-images.githubuserconten

[2022-10-11 14:20] richard-vock opened #3761 "Missing face_detection_short_range.tflite file"
**System information** (Please provide as much relevant information as possible)
- Have I written custom code: No
- OS Platform and Distributio: Ubuntu 22.04 LTS
- MediaPipe version: master branch
- Bazel version: 5.2.0
- Solution: FaceMesh
- Programming Language and version: C++

**Describe the expected behavior:**

Run face mesh desktop example.

**Command:**

    GLOG_logtostderr=1 bazel-bin/me

[2022-10-11 16:14] virtualsapiens opened #3762 "Running Mediapipe in the cloud at scale"
I'm curious if anyone is running Mediapipe at scale in the cloud (AWS, GCP, etc)? I am working on an architecture that will need to scale up/down to support 1000s of frames per second (coming from multiple users).  Looking into running Medipaipe c++ on GPUs, but curious if anyone has any insights to share around scaling this.  Thanks!

[2022-10-11 17:24] NeerajMehta commented on #3646
Getting following error
`MediaPipeException: Failed to parse config text. See error logs for more details
  at Mediapipe.CalculatorGraphConfigExtension.ParseFromTextFormat (Google.Protobuf.MessageParser`1[T] _, System.String configText) [0x00027] in /Users/neeraj/Projects/Abbvie Unity Project/AbbvieImageCapturePoC/Packages/package/Runtime/Scripts/Framework/CalculatorGraphConfigExtension.cs:21 `

[2022-10-11 21:26] schmidt-sebastian commented on #3714
Can you confirm whether you can install Bazel in Docker? Your logs show an install of version 5.2.0, but no output to verify this step.

[2022-10-12 01:14] wizVR-zhangjun commented on #3646
@NeerajMehta I don't know if you built successfully, I don't know much about your mistakes, I can't do anything about it

[2022-10-12 02:40] hsakbo opened #3763 "Javascript: mediapipe/pose is not working inside webworker"
**System information** (Please provide as much relevant information as possible)
[code]

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe):
  Yes

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):
  ArchLinux

- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
  Not tested

- B

[2022-10-12 05:50] kuaashish commented on #3714
Hi @ybott, Could you go through the [above](https://github.com/google/mediapipe/issues/3714#issuecomment-1275292656) comment and let us know the required input. Thank you!

[2022-10-12 06:10] kuaashish commented on #3761
Hi @richard-vock, Could you please share the complete error log to investigate it further. Thank you!

[2022-10-12 06:47] #3727 closed

[2022-10-12 06:52] kyoybs commented on #3750
please try:
pyinstaller PhysicalHand.py --add-data="C:\Users\xujianjun\AppData\Roaming\Python\Python39\site-packages\mediapipe\modules;mediapipe/modules" -F -w

————————————————
版权声明：本文为CSDN博主「xujianjun229」的原创文章，遵循CC 4.0 BY-SA版权协议，转载请附上原文出处链接及本声明。
原文链接：https://blog.csdn.net/xujianjun229/article/details/120049583

[2022-10-12 07:47] Dian-Yi opened #3764 "The face lmks results has a large error when set "static_image_mode=False" between windows and linux?"
First, I test face landmarks detection using python code  in windwos and linux, They are in the same python environment.
I get face lmks corrdinates from different OS(windows and linux). But, their maximum difference is over 7 pixle.
when I set static_image_mode==True, their maximum difference is very small.

[2022-10-12 07:54] DMVFF commented on #2309
@jiapei100 Did you find a solution for this problem?

[2022-10-12 07:54] justinduynguyen commented on #877
Can u do a bootstrap code to use box tracking cpu js ?
Thank u in advance.

[2022-10-12 08:20] TamyGit commented on #3094
I am facing this problem too.
I know how to change it statically.
 -> [pose_detection_cpu.pbtxt](https://github.com/google/mediapipe/blob/master/mediapipe/modules/pose_detection/pose_detection_cpu.pbtxt#L131)
But, I want to change it at runtime.
There is a hint, but I have no idea how to do it.
https://google.github.io/mediapipe/getting_started/faq.html#how-to-change-settings-at-runtime

[2022-10-12 08:35] kuaashish commented on #3723
Hi @github-itsec-oculavis, Looks like we could do that but we would need to publish new packages. There might be some downsides so I am not sure that we will do so (at least not in the near future). Thank you!

[2022-10-12 08:46] kuaashish commented on #3706
Hi @brunobarbieri, You can find the "RenderData" calculator options in:

[mediapipe/graphs/pose_tracking/subgraphs/pose_renderer_gpu.pbtxt](https://github.com/google/mediapipe/blob/master/mediapipe/graphs/pose_tracking/pose_tracking_gpu.pbtxt)

Some drawing options like lion color and color thickness can be specified there. For more control over rendering of landmarks, more "RenderData" calculator

[2022-10-12 08:49] kuaashish commented on #3736
Hi @dubrovin-sudo, For now, MediaPipe doesn't provide any model-training or model-tuning libraries or tools. However, MediaPipe team is actively researching adding such a tool.
Workaround, If you use Tensoflow to train a new object detection model, MediaPipe can consume the new model through the configurations of the MediaPipe solutions. Thank you!

[2022-10-12 08:55] kuaashish commented on #3709
Hi @wizVR-zhangjun,

This is done through face mesh.  The face mesh landmarks capture details such as month shape and eyes closed.  The face mesh landmarks initially consist of 2d points showing where in the image each landmark occurs.

Using these 2d facemesh landmarks, you could derive some facial feature shifts, relative to the resting face, such as mouth-point shift, eyelid-point shift, etc.

[2022-10-12 09:05] kuaashish commented on #3764
Hi @Dian-Yi,
static_image_mode: Whether to treat the input images as a batch of static and possibly unrelated images, or a video stream. See details in https://google.github.io/mediapipe/solutions/pose#static_image_mode. Please revert back if you have further question. Thank you!

[2022-10-12 09:13] prakhar-s-srivastava opened #3766 "Missing .tflite files from every solution in repository"
Every Media pipe solution .tflite is missing this is build issue I believe.

[2022-10-12 09:13] kuaashish commented on #3763
Hi @hsakbo,
Please refer to this running thread [#2506(Comment)](https://github.com/google/mediapipe/issues/2506#issuecomment-940399479) for better understanding on your query. Meanwhile as a workaround you can follow the mentioned in this thread #2506 to run the MediaPipe models in the web worker. Thank you!

[2022-10-12 09:25] Dian-Yi commented on #3764
but when `static_image_mode=False`, the video stream face lmks results has has a large different between windows and linux. So, maybe tracking face process is different between windows and linux? or Has some error in tracking face in different OS?

[2022-10-12 09:47] kuaashish commented on #3762
Hi @virtualsapiens,
Currently building MediaPipe is not tested on cloud platform such as GCP, AWS and does not have official documentation. Hope this article https://dev.classmethod.jp/articles/mediapipe-install-on-aws-ec2-with-gpu-english/ to build the MediaPipe in the AWS will be helpful. Thank you!

[2022-10-12 10:25] asd26187 commented on #3760
Can anyone tell me how to make a mediaPipe iOS framwork?

[2022-10-12 12:33] MarsH2o2 commented on #3759
Here are the steps to reproduce:

1. git clone mediapipe
2. Execute setup_android_sdk_and_ndk.sh
3. Execute setup_opencv.sh
4. Execute build_android_examples.sh
5. Prompt to need bazelisk, I downloaded and installed it from github
6. Execute build_android_examples.sh again

Then in the end, the above problem appeared. The complete log is as follows (I only post the log of the failure to build inst

[2022-10-12 13:32] m-decoster opened #3767 "MediaPipe Holistic: what are possible reasons for not getting any landmarks?"
**TL;DR:** What are the reasons that `results.left_hand_landmarks` (or similar fields) can be `None`?

I am extracting hand landmarks using code similar to this:

[code]

For some videos, I get hand landmarks in one frame, but none in the next, even though the frames are (visually) virtually identical.
Where can I find information in the documentation or source code that tells me more about *why*

[2022-10-12 14:39] Frany-oss commented on #3750
Thank you @kyoybs, that was it!!!

:)

[2022-10-12 14:39] #3750 closed

[2022-10-13 00:16] jihwan1park commented on #3705
Hi @kuaashish! Is there any updates on this issue? Thanks!

[2022-10-13 04:06] younasm commented on #3758
same issue not working for me. i tried version 3.8, 3.9, 3.10. also tried with specify version of mediapipe still not working.

[2022-10-13 06:48] seastar105 commented on #3491
Any updates?

[2022-10-13 06:53] emilwinzell opened #3768 "Running hand landmark model without mediapipe"
Hello

I am want to implement a hand detection algorithm on a mobile device and need to run the **hand_landmark_lite.tflite** model separately without the mediapipe library. When I run inference on some images with the model I get poor predictions of the landmarks (compared to running with mediapipe and `static_image_mode = True, model_complexity=0` (see code below). I have two questions:

* What

[2022-10-13 07:59] kuaashish commented on #3766
Hi @prakhar-s-srivastava,
Could you confirm that issue has been resolved as per the above [comment](https://github.com/google/mediapipe/issues/3766#issuecomment-1275886559). Thank you!

[2022-10-13 08:11] kuaashish commented on #3760
Hi @asd26187,
Could you confirm that you have followed the steps to build mediapipe in the iOS as mentioned in the[ here](https://google.github.io/mediapipe/getting_started/ios.html). Please refer to Xcode project example shared by the Googler [here ](https://github.com/mgyong/awesome-mediapipe#ios).Thank you!

[2022-10-13 08:33] #3646 closed

[2022-10-13 08:53] wizVR-zhangjun commented on #3709
Hi @kuaashish
First of all, thank you for taking time out of your busy schedule to help me. What puzzles me now is that I do not know how to map the data of 3D facial points to the model. What knowledge points do I need to learn?
Please be patient with my unintelligent student.
thank you!

[2022-10-13 09:21] younasm commented on #1325
yes it's installed but not perfect for my case.

[2022-10-13 09:35] kuaashish commented on #3768
Hi @emilwinzell, Could you provide the demo with different output with several good input images it will be helpful to investigate further on the issue. Thank you!

[2022-10-13 11:34] emilwinzell commented on #3768
Found a proper implementation at: [https://github.com/aashish2000/hand_tracking](url). Will try to use some of the code in my project

[2022-10-13 12:31] MarsH2o2 commented on #3759
I rolled back the code to the commit of 2022-6-30, and the compilation was successful. The information of the successful node is as follows:
GitOrigin-RevId: 0f2489d226f1e2a5d718a8b9efe5e8198ba4ab3b
63e679d9 MediaPipe Team <mediapipe-team@google.com> on 6/30/2022 at 2:00 AM
committed by Sebastian Schmidt <mrschmidt@gmail.com> on 6/30/2022 at 2:45am

Because I saw that someone modified mediapipe/me

[2022-10-14 03:46] baien opened #3769 "facemesh solution example crash on Android"
Facemesh solution example crashes on all android phones when RUN_ON_GPU is set false from 0.8.10, 0.8.9-alpha-5 is OK.
Facemesh solution example crashes on mtk android phones when RUN_ON_GPU is set true.

[2022-10-14 05:26] kuaashish commented on #3768
Hi @emilwinzell,
Please refer to the above [example](https://github.com/google/mediapipe/issues/3768#issuecomment-1277466636) to implement the hand_tracking tflite model and let us know if you are encountering the same error. Thank you!

[2022-10-14 06:28] kuaashish commented on #3769
Hi @baien, Could you please share the following:
- Android device type
- Android build
- Are you able to build other solutions successfully?
- For example the Basic app: https://github.com/google/mediapipe/tree/master/mediapipe/examples/android/src/java/com/google/mediapipe/apps/basic and Face Detection: https://google.github.io/mediapipe/solutions/face_detection.html

Also please try this on the

[2022-10-14 06:33] asd26187 commented on #3760
Hi @kuaashish ,
Thank you very much, I've been able to compile the ios framework with the bazel build command, but I still can't understand how to depend on the files in other directories. For example, I compiled the common static library with
[code]
but when I introduced the static library into my project, I got an error from xcode build : 'mediapipe/objc/MPPCameraInputSource.h' file not found, b

[2022-10-14 07:56] Tongbook opened #3770 "In C++ FaceMesh the face coordinate Z remains the same"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe):
- OS Platform an

[2022-10-14 08:44] mastermanga opened #3771 "brightness and contrast limit for good detection with MediaPipe Pose"
Hello,

Do you have any information/documentation on what are the minimum and maximum brightness and contrast on a video to keep correct pose estimation with MediaPipe pose?

have a nice day,

[2022-10-14 08:46] richard-vock commented on #3761
Here is the entire output:

[code]

[2022-10-14 09:34] asoseil commented on #2898
any update about this?

[2022-10-14 11:11] #3612 closed

[2022-10-14 13:54] crpistillo opened #3772 "Can hand tracking be used with black glove or reflective markers?"
Hi! I would like to use media pipe hand tracking for tracking a hand inside a black glove. Is there any way to do this? I'm a developer so if there's any part of the open source code I should change, I'd be glad if you point me there. If this is not possible, would it help using reflective markers? It's very important for me, thanks!

[2022-10-14 13:57] baien commented on #3769
Hi, @kuaashish
1. It crashes on all my 10 devices from Android N to Android R. including S7 edge(Android N),  SONY H8296(Android10), Mi 10 (Android11), Mi 11 Pro(Android12)... I think it will also crash on what device you have.
2. It crash from 0.8.10 and above inlucding newest 0.8.11-alpha-1. My targetSDK 31 Compile SDK 32.
3. I also built the example hands, same result.
4. It crashes on all MTK

[2022-10-14 14:09] Ammar-Fasih commented on #1014
I'm running mediapipe library to extract the face landmakrs using the grayscale frames but it is showing me following error,

[code]

Can anyone explain me why? or the mediapipe do not support grayscale at all?

[2022-10-14 14:39] karimsadoune opened #3773 "quantized model for pose tracking"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):
- [MediaPipe version]

[2022-10-14 21:44] Basheer-signapse commented on #3329
Hi @willanie,
Did you manage to solve the jittering issue?
I tried 1€ Filter and Kalman filter and it seems there is no perfect solution yet.

[2022-10-15 09:05] younasm commented on #3758
any help!

[2022-10-15 11:41] zw20045500 commented on #3666
hello, can you tell how to solve, can you share me your code, thank you very much

[2022-10-15 12:00] zw20045500 commented on #3602
@kostyaby thank you guidance very much

[2022-10-15 16:20] cy-moi commented on #3659
Not every document usage is actually called. Face mesh also has more than one document usage. I patched the face and hands packages for now. I wonder if they open-sourced the mediapipe libraries so we can modify on our own.

[2022-10-15 23:29] EricHe56 commented on #3759
Hi, I have met same issue. The reasone is mediapipe/graphs/object_detection_3d/calculators/BUILD contains a invalid reference in line 67:
`":gl_animation_overlay_calculator_cc_proto",`
seems previouse version of this file code contains related target on 10/16/2020 v0.7.12 c828392681bc343a90e188c5ad5f295bada1eefb

[2022-10-16 07:06] MarsH2o2 commented on #3759
You can check the commit record, it's caused by a later commit, but I don't know what his commit does, so I rolled it back.

[2022-10-16 13:13] endink opened #3774 "How to use utf8 resource file path ???"
It seems like that mediapipe only support ANSI file paths, and in some non-English operating systems, the folder name may not be ansi, how can I let it work?

JoinPath (file_path.cc) need support utf-8 file path.

[2022-10-16 15:29] EricHe56 commented on #3759
Yep, rollback too and got that apk

[2022-10-17 01:50] wizVR-zhangjun commented on #3666
[OpenCVManager.ZIP](https://github.com/google/mediapipe/files/9796270/OpenCVManager.ZIP)

You need to change.zip to.cs and I'm using c# and I hope that helps

[2022-10-17 05:31] kuaashish commented on #3759
Hi @MarsH2o2,
Thanks for the confirmation. Could you move this issue to close status as has been resolved as per the [above comment](https://github.com/google/mediapipe/issues/3759#issuecomment-1277535328). Thank you!

[2022-10-17 05:35] kuaashish commented on #3769
Hi @baien, Could you share the complete error log w.r.t to any of the devices and complete steps followed to reproduce the issue from our end. Thank you!

[2022-10-17 06:31] kuaashish commented on #3770
Hi @Tongbook,
Could you elaborate your query with complete details and steps followed to reproduce the issue from our end. Please update the system info as mentioned in the [documentation](https://google.github.io/mediapipe/getting_started/help.html#system-information). Thank you!

[2022-10-17 06:39] kuaashish commented on #3771
Hi @mastermanga,
Is it implemented through Python, Javascript or other solutions available?
Could you please help us to understand the issue better from our end. Thank you!

[2022-10-17 06:45] kuaashish commented on #3772
Hi @crpistillo,
Could you let us know which platform you are referring to? For example: Python, JavaScript, Android or through Other solutions available in the mediapipe. Thank you!

[2022-10-17 06:57] kuaashish commented on #3773
Hi @karimsadoune,
Could you elaborate your query with complete details and needed support which you are referring to. Thank you!

[2022-10-17 07:37] kuaashish commented on #3758
Hi @younasm,
Could you please elaborate your query with complete details and steps followed to reproduce the issue from our end. Please update the system information as mentioned in the [documentation](https://google.github.io/mediapipe/getting_started/help.html#system-information). Thank you!

[2022-10-17 07:42] mastermanga commented on #3771
Hi,
yes it is implemented through Python.

[2022-10-17 07:56] karimsadoune commented on #3773
hi @kuaashish,
We have a mediapipe model for pose tracking on the CPU or GPU, Can we run it on the DSP of the Quectel SC66 module
(SC66 LTE Smart Module series | Quectel) ?
Thank you

[2022-10-17 08:29] kuaashish commented on #3761
Hi @richard-vock, Could you run the below command and please let us know if you are encountering the same error.
[code]
Thank you!

[2022-10-17 08:34] kuaashish commented on #3709
Hi @wizVR-zhangjun,
Please go through this [#3602(comment)](https://github.com/google/mediapipe/issues/3602#issuecomment-1237657056) to understand better in the mapping into 3D facial points. Thank you!

[2022-10-17 08:47] wizVR-zhangjun commented on #3602
@zw20045500
![boy2](https://user-images.githubusercontent.com/60952586/196132456-7c3d1847-887d-43df-b6ba-b60bae1a632a.jpg)
![1663921773162](https://user-images.githubusercontent.com/60952586/196132481-3740c026-7a29-4488-8c11-e205bd9d984a.png)
Is that what you want?

[2022-10-17 08:52] hsakbo commented on #3763
@kuaashish I have tested workarounds mentioned under #2506, they don't happen to work as expected. pose.js is calling `case 2` in my instance, trying to load a tflite model with `importScripts` api, as demonstrated by screenshot above

[2022-10-17 09:11] #3746 closed

[2022-10-17 09:11] #3747 closed

[2022-10-17 11:02] jaiminlee commented on #3444
Maybe
2016/63 = 32  -> 4byte  float
63/3 = 21  (x,y,z)
Left Right 2set

[2022-10-17 11:15] kuaashish commented on #3638
Hi @thomas-coldwell,
Currently MediaPipe does not have such an example tested and published as a documentation. You can follow the class shading example as mentioned in the [above commenhttps://github.com/google/mediapipe/issues/3638#issuecomment-1240198155t](url) and implement your own application. Thank you!

[2022-10-17 11:52] richard-vock commented on #3761
Same error, yes:

[code]

[2022-10-17 12:49] crpistillo commented on #3772
Hi @kuaashish , I was hoping to make it work on Android but it doesn't really matter. The issue is more transversal and about the ML model & the positioning of the dots. I would like to now if there's any possible workaround to make the program work with a black glove or with reflective markers, and what part of the open source code should I be looking at in order to make the changes, regardless t

[2022-10-17 16:05] mxmadr opened #3775 "Successive camera.play() then camera.stop() calls (from camera_utils.js) affect the real-time video stream fluidity."
**System information**

- OS Platform and Distribution: Windows 10 21H1 (and many other OS such as Linux, Android, iOS, ...)
- Mobile device: Lenovo Yoga 510 (and many other computers)
- Browser and version: Google Chrome 106.0.5249.119 (and many other browsers)
- Programming Language and version: JavaScript
- MediaPipe version: [v0.8.9](https://github.com/google/mediapipe/tree/v0.8.9)
- Solution:

[2022-10-18 02:11] baien commented on #3769
How to reproduce:
Grab an Android phone(which model doesn't matter), Build the newest example facemesh(or hands), set RUN_ON_GPU as false in MainActivity.java, run the example and click START CAMERA.

Following is my error log:
backtrace:
2022-10-18 10:07:27.538 30859-30859 DEBUG                   pid-30859                            A        #00 pc 000000000076d178  /data/app/~~fnL6TnJjHBdMk7KnHv

[2022-10-18 05:11] #3730 closed

[2022-10-18 06:25] ZYX-MLer opened #3776 "How to calculate the palm size"
The paper "MediaPipe Hands: On-device Real-time Hand Tracking" side the MSE normalized by palm size is 13.4%.
Can you tell me, how to calculate the palm size, and do you test the method using the error in mm?

Best wishes

[2022-10-18 06:39] kuaashish commented on #3764
Hi @Dian-Yi,
Could you please bring up to our notice different results set observed in both of the cases to investigate further. Thank you!

[2022-10-18 07:15] kuaashish commented on #3774
Hi @endink,
Could you please elaborate your query with complete details to understand better on your query. Thank you!

[2022-10-18 08:43] kuaashish commented on #2055
Hi @FedericoCozziVM,
Our dataset for training face detection for the front camera is composed of mostly selfie images and we trained with rotation augmentation (+/- 45 degrees). So there are training examples up to 90 degrees rotation.
However, we don't have much flipped face in the dataset and the model is not expected to work in that case. Thank you!

[2022-10-18 08:43] Dian-Yi commented on #3764
my test video and code :

https://user-images.githubusercontent.com/44020057/196380741-76ea9fb4-e9c0-42f6-8f7e-6590ae6821ba.mp4

[code]
you can run this code in windows and LInux,  the np.max(diff) x, ,y z is: `1.9742202758789062 1.6003131866455078 0.9938335418701172`。 In some special videos, this value array is more big and maybe greater than 7pixel.

[2022-10-18 08:50] FedericoCozziVM commented on #2055
Hi @kuaashish,
thank you for answering. I know, I also read the paper about the training data of the backbone face detector model. The problem is not about not detecting the old man, who is in fact too much rotated. The problem is that if I set the parameter `max_num_faces` = 1, I would expect to detect the face of the old lady, which is frontal: instead, the face is detected only by setting `max_

[2022-10-18 09:00] kuaashish commented on #2055
Hi @FedericoCozziVM,
Could you please investigate with several different input images mostly the selfie images or the front facing images and adjust the parameter accordingly to detect the number of faces using the `max_num_faces`. Please report back if the issue still persists that will be helpful to investigate further. Thank you!

[2022-10-18 09:23] divastar commented on #3666
I couldn't open the file [OpenCVManager.ZIP](https://github.com/google/mediapipe/files/9796270/OpenCVManager.ZIP)  it says damaged

[2022-10-18 11:11] #3748 closed

[2022-10-18 12:24] endink commented on #3774
Alright, Okay, let me be more specific:

As I know, we can use this code to change the folder that used for mediapipe search graph files:

[code]
Even "folder" and "charLen" in the above code is UTF8 encoded char* and the correct utf8 length character length, mediapipe will get a file not found error because the folder contains Chinese characters.

[2022-10-18 18:32] texasbruce commented on #762
In my case, my coursier credentials.properties have an empty line, and that somehow caused a timed out error in bazel build.

[2022-10-19 02:34] xbwee1024 opened #3777 "Android AAR without required pakcages `solutions` & `solutioncore`"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Android 11
- [Medi

[2022-10-19 04:44] harirnair opened #3778 "Euler angles of Hand"
I'm using Mediapipe Pose Model in javascript, I wanted to know whether there is any way to calculate orientation of the hand with respect to wrist using the keypoints available from the model.

[2022-10-19 06:03] kuaashish commented on #3777
Hi @xbwee1024,
Could you please elaborate your query with complete details and support you are looking to. Thank you!

[2022-10-19 07:15] kuaashish commented on #3776
Hi @ZYX-MLer,
Could you please elaborate your query with complete details and use case to calculate the palm size using the Handtracking solution. Thank you!

[2022-10-19 08:21] xbwee1024 commented on #3777
My problem is:
1. There is no `com.google.mediapipe.solutioncore` and `com.google.mediapipe.solutions.facemesh` in the generated AAR archive. I build it as follows:
`bazel build -c opt --strip=ALWAYS --host_crosstool_top=@bazel_tools//tools/cpp:toolchain --fat_apk_cpu=arm64-v8a,armeabi-v7a --legacy_whole_archive=0 --features=-legacy_whole_archive --copt=-fvisibility=hidden --copt=-ffunction-sectio

[2022-10-19 08:59] This-Is-Not-Brad commented on #3734
I am seeing this exact issue too.

`Loading: 0 packages loaded
Loading: 0 packages loaded
WARNING: Download from http://mirror.tensorflow.org/github.com/bazelbuild/rules_closure/archive/cf1e44edb908e9616030cc83d085989b8e6cd6df.tar.gz failed: class com.google.devtools.build.lib.bazel.repository.downloader.UnrecoverableHttpException GET returned 404 Not Found
Loading: 0 packages loaded
WARNING: Down

[2022-10-19 09:54] linjing7 opened #3779 "Turn Off Hand Detection"
Hi, I have cropped out a hand image and use it as the input of the hand pose estimation function. However, the function sometimes can not detect the hands and thus does not perform pose estmation. Therefore, I wonder how to turn off the hand detection and treat the whole image as a hand? That is, I want to do pose estimation without box detection.

[2022-10-20 04:16] asd26187 commented on #3760
Hi @kuaashish
This [article](https://powderapp.medium.com/mediapipe-tutorial-find-memes-that-match-your-facial-expression-9bf598da98c0) is already two years old,the project directory structure is not the same as before, is there a recent tutorial on packaging iOS framework?

[2022-10-20 04:29] aureosun opened #3780 "MediaPipe hand model"
I'm using mediapipe to build my own appplications, but found the performance did not achieve the desired effect. so I'd like to training the model using my own data to meet the specific scenario. but the information of [palm_detection](https://github.com/google/mediapipe/tree/master/mediapipe/modules/palm_detection) and [hand_landmark](https://github.com/google/mediapipe/tree/master/mediapipe/modu

[2022-10-20 04:32] beakyangsu opened #3781 "using handtracking arr SIGSEG 11, SIG_MAPERR occured"
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Android SOS
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Samsung Galaxy S22+
Bazel version: bazel 5.3.1
Android Studio, NDK, SDK versions (if issue is related to building in mobile dev enviroment):
AndroidStudio Chipmunk  NDK : 20.0.5594570, SDK: 30.0.3
Xcode & Tulsi version (if issue is relat

[2022-10-20 06:40] #3708 closed

[2022-10-20 06:40] #3735 closed

[2022-10-20 07:30] yohanessatria commented on #3741
hi @kuaashish

Have I written custom code: Yes
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): MacOS 12.5.1
Bazel version: 5.2.0
Xcode & Tulsi version (if issue is related to building in mobile dev environment): Xcode 14.0.1, Tulsi 0.20220310.88
Exact steps to reproduce:
for the detailed background on why I did this is in my first comment at the top.

In summary, I want to use the holisti

[2022-10-20 08:01] Woong0416 opened #3783 "TypeError: 'NormalizedLandmarkList' object is not iterable In pose model"
I need some help in my code .. the error is

"TypeError: 'NormalizedLandmarkList' object is not iterable"

my code is

[code]

[2022-10-20 08:46] kuaashish commented on #3772
Hi @crpistillo,
The hand tracking model has been trained specifically with exposed hands.  I believe other conditions will require training a similar model.  Thank you!

[2022-10-20 08:52] kuaashish commented on #3771
Hi @mastermanga,
MediaPipe models are trained to work well under "normal conditions" of good lighting and good camera quality and Team has not done any calibration or measurement on poor lighting conditions or minimal camera quality. If you have measured some of these limitations, we would be glad to include some of them in MediaPipe doc. Thank you!

[2022-10-20 08:55] kuaashish commented on #3743
Hi @serrabii,
Lite vs full protobuf library. On mobile platforms, MediaPipe is designed to work with the lite protobuf library and the lite protobuf library supports only binary serialization of protobufs (wire format). The Lite protobuf library has a smaller memory footprint, in part due to omitting the protobuf textual tag names from the lite probuf targets. Thank you!

[2022-10-20 09:01] serrabii commented on #3743
Thank you for this clarification!

[2022-10-20 09:01] #3743 closed

[2022-10-20 09:01] mastermanga commented on #3771
Hi @kuaashish,
Thanks for the message, for now i haven't done any limitations testing but if i do some limitations testing i will share it with you.
Have a nice day,

[2022-10-20 09:02] asd26187 commented on #3760
OK,thanks a lot!

[2022-10-20 09:11] kuaashish commented on #3761
Hi @richard-vock. Could you inspect the following:
- What is the current working directory when the command runs?
- Is there a missing dependency? Is the file missing from the bazel mirror-directory tree?

This might be fixed by invoking the "face_mesh_cpu" binary using bazel, so that bazel sets the CWD. CWD looks correct based on "bazel-bin/mediapipe/examples/desktop/face_mesh/face_mesh_cpu". The

[2022-10-20 09:32] kuaashish commented on #3780
Hi @aureosun,
Is it implemented through python, javascript or other solutions available in mediapipe? Could you share the complete details to  understand the issue better, Thank you!

[2022-10-20 09:40] #3751 closed

[2022-10-20 09:54] kuaashish commented on #3781
Hi @beakyangsu,
Could you elaborate your query with complete details and steps followed to reproduce the issue from our end. Please update the system information as mentioned in the [documentation](https://google.github.io/mediapipe/getting_started/help.html#system-information). Thank you!

[2022-10-20 10:00] kuaashish commented on #3783
Hi @Woong0416,
Have you looked at this closed issue #3191 and [#3191(comment)](https://github.com/google/mediapipe/issues/3191#issuecomment-1091095268). Thank you!

[2022-10-20 10:09] kuaashish commented on #3778
Hi @harirnair,
The hand model itself is limited to hand-landmarks only, does not include any arm-landmarks, so there is not sufficient info in the landmarks to calculate the wrist-angle.
Another, Hand-landmarks are 2D landmarks calibrated to the video frame image, So 3D wrist angle will be difficult to calculate, even given an assumption about the arm positions. Possibly the MediaPipe geometry lib

[2022-10-20 10:13] harirnair commented on #3778
I'm using Pose model and taking the keypoints of wrist, i.e keypoint[16] and need to get the angle of hand, keypoint[18] or [20] with respect to [16].

[2022-10-20 10:19] kuaashish commented on #3760
Hi @asd26187,
Could we move this issue to the close status as the issue has been addressed and hope doesn't require the further support from us. Thank you!

[2022-10-20 10:28] kuaashish commented on #3771
Hi @mastermanga,
Could we move this issue to close status as it has been resolved and hope does not require further help from our end. Thank you!

[2022-10-20 10:35] kuaashish commented on #3758
Hi @younasm,
Could you please go through this thread [#so](https://stackoverflow.com/questions/68659865/cannot-pip-install-mediapipe-on-macos-m1) and follow the steps mentioned to build the mediapipe in the MacOS. Thank you!

[2022-10-20 10:40] #3753 closed

[2022-10-20 10:41] kuaashish commented on #3731
Hi @physxP,
Could you please elaborate your query with complete details and followed steps to reproduce the issue from our end. Thank you!

[2022-10-20 10:55] mastermanga commented on #3771
Hi,
Sure we can close the issue, thank you for the help

[2022-10-20 11:01] kuaashish commented on #3779
Hi @linjing7,
Could you please elaborate your query with complete details and followed steps to reproduce the issue from our end. Thank you!

[2022-10-20 12:19] linjing7 commented on #3779
Hi, thanks for your reply. I crop out a hand image named "hand.png" and use it as input of the hand pose estimation function. Howerver, the handness is None and thus do not perform the pose estimation.
[code]
![hand](https://user-images.githubusercontent.com/70081899/196946651-7b82fbf6-5cee-421f-9304-d45674659d94.png)

[2022-10-20 13:03] notjedi commented on #3777
@xbwee1024 i don't think there is a way to do that. the files inside of `mediapipe/examples/android/solutions` are just examples and are not meant to be used as an AAR. at least afaik.

[2022-10-20 13:15] notjedi opened #3784 "memory leak inside `effect_renderer.cc`"
**System information**

- Have I written custom code: Yes
- OS Platform and Distribution: Andorid
- Programming Language and version: C++
- [MediaPipe version](https://github.com/google/mediapipe/releases): 467cd34feb273e9f839480acb69e5ca721f4dc29
- Bazel version (if compiling from source): `5.2.0`

**Describe the current behavior:**
In [mediapipe/modules/face_geometry/libs/effect_renderer.cc#L164

[2022-10-20 13:17] linjing7 commented on #3779
That is, how can I replace the hand bbox with my own bbox?

[2022-10-21 03:03] younasm commented on #3758
yes i can install `pip install mediapipe-silicon` but not `mediapipe` on my m1 macOs 12.4.

[2022-10-21 05:37] kuaashish commented on #3758
Hi @younasm,
Currently MediaPipe does not support the Apple Mac M1. The team is actively working towards supporting the MediaPipe on the Mac M1 chip but does not have the more details on this.
Workaround, You can use build using the command `pip install mediapipe-silicon`. Please refer to this running thread #1514 and [#1514(Comment)](https://github.com/google/mediapipe/issues/1514#issuecomment-12

[2022-10-21 07:41] kuaashish commented on #3741
Hi @yohanessatria,
Please refer to this specific [#3760(Comment)](https://github.com/google/mediapipe/issues/3760#issuecomment-1285165907) and running thread #3760 for better understanding on your query. Thank you!

[2022-10-21 07:42] rajhlinux commented on #2300
Yes, I also have same question as to OP, does media pipe have a way to be installed using CMake rather than bazel.

[2022-10-21 09:01] kuaashish commented on #3773
Hi @karimsadoune,
Unfortunately, MediaPipe does not have quantized model to build the solutions on the DSP devices. MediaPipe has tested successfully on this edge devices as mentioned in the [documentation](https://github.com/google/mediapipe/tree/master/mediapipe/examples/coral) and has limited resources for the new feature.
We will let you know if there is any specific update on the above reques

[2022-10-21 09:02] kuaashish commented on #3744
Hi @fishhead012,
Could you please confirm that still you are looking for the resolution or the issue has been resolved. Thank you!

[2022-10-21 09:40] kuaashish commented on #3783
Hi @Woong0416,
Please go through the above comment and let us know if the error still persists or has been resolved. Thank you!

[2022-10-21 09:58] kuaashish commented on #3779
Hi @linjing7,
This might be due to the input hand image. MediaPipe models are trained to work well under "normal conditions" of good lighting and good camera quality. I was able to run the above example successfully with different similar images without error.

Could you run with several good hand images and let us know if you are still encountering the same error. Attaching the relevant [gist](ht

[2022-10-21 11:03] karimsadoune commented on #3773
Thanks

[2022-10-21 11:40] kuaashish commented on #3773
Hi @karimsadoune,
Could we move this issue to close status as it has been resolved and does not require further support as of now from our end.
Thank you!

[2022-10-21 12:40] #3756 closed

[2022-10-21 14:26] karimsadoune commented on #3773
yes of course

[2022-10-21 15:13] kuaashish commented on #3773
Hi @karimsadoune,
Thanks for the confirmation! Closing this issue as it has been resolved. Thank you!

[2022-10-21 15:34] crpistillo commented on #3772
Hi @kuaashish , yeah I suppossed another training will be required (I'm not intending to do that). Can you point me at least to the part where the markers in the hand are being set? So I can reuse that part and set the points with another logic while reusing your skeleton? Otherwise nevermind, I guess I can find that part eventually

[2022-10-22 12:06] zhangupkai commented on #2166
Did you solve this problem? I have a similar need and would like to ask you.

[2022-10-22 13:28] xbwee1024 commented on #3777
After sync with gradle, I found `facemesh-0.8.11-alpha-1.aar` and `solution-core-0.8.11-alpha-1.aar` which is downloaded from maven, so I tried to build `solution_core` and `facemesh` AAR seperatedly, this resolved my problems. (If I tried to build one whole aar, it will be always failed with weird errors).
Thanks~

[2022-10-22 13:38] xbwee1024 commented on #3777
@notjedi  Thanks for your reply, I don't think so, because mediapipe team give this guideline: https://google.github.io/mediapipe/getting_started/android_archive_library.html

And indeed, we can customize and build solutions AAR and used in other android projects.

[2022-10-22 13:38] xbwee1024 commented on #3777
@notjedi  Thanks for your reply, I don't think so, because mediapipe team give this guideline: https://google.github.io/mediapipe/getting_started/android_archive_library.html

And indeed, we can customize and build solutions AAR and used in other android projects.

[2022-10-22 13:38] #3777 closed

[2022-10-22 16:17] ylj318 opened #3786 "windows10 compile aar failure"
engineer:
i used  follow command
<em>bazel build -c opt --linkopt="-s" --host_crosstool_top=@bazel_tools//tools/cpp:toolchain --fat_apk_cpu=arm64-v8a,armeabi-v7a
//mediapipe/examples/android/src/java/com/google/mediapipe/apps/hair_aar_example:"hair_segmentation_aar"<em>

installed :
opencv 3.4.16 (c:\opencv)
(D:\bazel) bazel 5.3.1
ANDROID_HOME=D:\Android\sdk
ANDROID_NDK_HOME=D:\Android\sdk\ndk\21.

[2022-10-23 08:17] seathiefwang commented on #3444
set interpolatedScaleAspectRatio=1，will be right.

[2022-10-23 21:47] MayerMax commented on #3269
@peternaf  did you come up with any solution to fix your problem?
I'm issuing the same problem at the moment.

[2022-10-23 22:49] hybridherbst opened #3788 "Unclear how to access palm data when using `multiHandWorldLandmarks`"
## URL(s) with the issue:
https://google.github.io/mediapipe/solutions/hands.html#multi_hand_world_landmarks

## Description of issue (what needs changing):

Kinds of documentation problems:
While multi_hand_landmarks are in camera space and already contain palm position data, multi_hand_world_landmarks are relative to the palm position. However, the docs do not explain how to access palm position

[2022-10-24 02:23] fishhead012 commented on #3744
I still haven't been able to solve the problem below.

<Platform>
ANDROID

<Code location>
absl::Status NodeTypeInfo::Initialize(
....
       MP_RETURN_IF_ERROR(calculator_factory->GetContract(&contract_)).SetPrepend()
           << node_class << ": ";
     .....
      static absl::Status GetContract(CalculatorContract* cc) {
          .....
              if (cc->Outputs().NumEntries() != options.

[2022-10-24 03:21] beakyangsu commented on #3781
I upadated system information.
Thanks!

[2022-10-24 08:40] #3757 closed

[2022-10-24 10:38] wujiayi0214 opened #3789 "Android app crash with SIGSEGV"
We use face_mesh solution in our app, and get crash report of google play, we tested during development but didn't face such crash

backtrace:
  #00  pc 0x0000000000080130  /apex/com.android.runtime/lib64/bionic/libc.so (strlen+16)
  #01  pc 0x00000000001e87c8  /data/app/com.selfie.demo.pro-kUZPts2keA74R0Vb5rCfxQ==/split_config.arm64_v8a.apk (mediapipe::PathToResourceAsFile(std::__ndk1::basic_stri

[2022-10-24 13:41] divastar opened #3790 "Canonical Face Model"
As suggected in the previous Answer I would like to map original 2d image texture onto the generated 3d model given for example 1221 2d and 3d landmarks. as the suggested solution uses a [canonical_face_model.obj] which consts of 468 vertices. so in my case i would have to use the canonical model which has 1221 points.  Could you pleas suggest how I can get or create obj with for example 1221 poin

[2022-10-24 13:44] interesting926 opened #3791 "face recognition on mediapipe"
I have just started learning mediapipe and I want to know how I can achieve face recognition. I know that face detections detect faces and face mesh checks for landmarks on a person's face, but how should I compare the face in the camera with the data stored in the program?

[2022-10-24 17:43] alexandernst opened #3792 "Iris tracking fails to compile"
I'm on master:0fd69e8d838d71e364e019f3eb29eb4389dbec7b

When I run

[code]

I get

[code]

Is this a known bug?

I'm on Ubuntu 18.04
Python 3.7.5
bazel 5.2.0

[2022-10-24 20:00] alexandernst opened #3793 "Deth-from-iris web demo not working"
**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): MacOS 12.6
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- Browser and version (e.g

[2022-10-24 23:09] alexandernst commented on #1408
Almost hitting the 2 years mark and still no source code. Google is totally misleading everybody when stating that this is open source. Either release the code or clearly state that it's **not** open source.

![image](https://user-images.githubusercontent.com/89727/197646776-1422a7bf-cdaa-4be0-a413-2e381fb3f41e.png)

[2022-10-24 23:11] alexandernst commented on #1209
Is any work made on this?

[2022-10-25 00:47] fishhead012 commented on #3744
1. pc (cpu) works
2. android (gpu) not works

// err nodes
holisticlandmarkgpu__handlandmarksleftandrightgpu__SplitNormalizedLandmarkListCalculator_1
holisticlandmarkgpu__handlandmarksleftandrightgpu__SplitNormalizedLandmarkListCalculator_2
holistictrackingtorenderdata__handwristforpose_1__SplitNormalizedLandmarkListCalculator
holistictrackingtorenderdata__handwristforpose_2__SplitNormalizedLandma

[2022-10-25 06:14] kylin773 opened #3795 "Cannot build Object Detection in Docker env"
- System information (Please provide as much relevant information as possible)
Linux Ubuntu, x86_64
- Describe the problem:
in docker environment, when i run command below
[code]
there is the error
[code]
but when I compile by -c opt mode, it compiled successfully, the command is below, how can I use Debug mode to compile in docker?
[code]

[2022-10-25 06:40] #3712 closed

[2022-10-25 08:32] alexandernst commented on #3761
I'm getting the same error.

[code]

The path from which I'm running this command:

[code]

[2022-10-25 10:43] mwbouwkamp-mendix opened #3796 "TypeError: hands.Hands is not a constructor"
**System information** (Please provide as much relevant information as possible)

- React/typescript
- @mediapipe/hands version 0.4.1646424915

**Describe the current behavior:**
When using the default code example, I get the error `TypeError: hands.Hands is not a constructor`

code:
[code]

[2022-10-26 03:57] AdeniltonR commented on #2677
Hello, I'm having this same problem using midiapipe, can you help me.

[2022-10-26 06:40] #3714 closed

[2022-10-26 09:26] kuaashish commented on #3786
Hi @ylj318,
Could you confirm that you are able to build MediaPipe as mentioned in the official [documentation](https://google.github.io/mediapipe/getting_started/install.html#installing-on-windows). If yes, then please build using the below android target as mentioned in the [documentation](https://google.github.io/mediapipe/solutions/hair_segmentation.html#mobile):

`mediapipe/examples/android/s

[2022-10-26 09:36] kuaashish commented on #3788
Hi @hybridherbst,
We have this thread #3047 already running to retrieve the both hand coordinates and functions mentioned to get the landmarks using the multiHandWorldLandmarks. Thank you!

[2022-10-26 09:40] #3723 closed

[2022-10-26 09:40] #3706 closed

[2022-10-26 09:40] #3736 closed

[2022-10-26 09:49] kuaashish commented on #3789
Hi @wujiayi0214,

Replace the SwitchContainer and ConstantPacketCalculator with a simpler file path, see if the crash can still happen.
**Suggestation:** accept "FILE_PATH" side packet as an input side packet into the graph.

Please refer to [this](https://stackoverflow.com/questions/55795041/how-to-solve-android-fatal-signal-11-sigsegv-code-1-fault-addr-0x0-in-tid-xx) issue and let us know if you

[2022-10-26 10:28] kuaashish commented on #3793
Hi @alexandernst,
Please refer to this closed issue #3486 and [#3486(Comment)](https://github.com/google/mediapipe/issues/3486#issuecomment-1177803351) for better understanding of your query. Thank you!

[2022-10-26 10:32] alexandernst commented on #3793
@kuaashish I'm talking about the web demo hosted at https://viz.mediapipe.dev/demo/iris_depth, which is not working. Please check the link

[2022-10-26 10:40] #3762 closed

[2022-10-26 10:50] kuaashish commented on #3793
Hi @alexandernst,
Thanks for reporting this bug. I was able to reproduce the issue the Depth-from-iris web demo is not working in the MacOS 12.6 with Chrome 106.0.5249.119 as expected. We are forwarding this issue to the appropriate team and Hope this issue will be fixed soon. Thank you!

[2022-10-26 11:03] m-decoster commented on #3767
@kuaashish [Here](https://users.ugent.be/~mcdcoste/shared/mediapipe_fail_example.pdf) is an example of a video, where two subsequent frames are very similar, but there are no predictions for one frame and there are predictions for the other frame.

The other failure cases are very similar.

The blue box was added *after* MediaPipe extraction for privacy reasons, so it does not influence the mediap

[2022-10-26 11:27] kuaashish commented on #3744
Hi @fishhead012,
Could you please share the complete steps to reproduce w.r.t to the [above](https://github.com/google/mediapipe/issues/3744#issuecomment-1289830212) mentioned error from our end. Thank you!

[2022-10-26 13:59] Pixie34 commented on #2954
import cv2
import mediapipe as mp

#Declarar variables para mediapipe.
cap = cv2.VideoCapture(0) #Seleccionar el output ya que puede haber mas de 1.
mpManos = mp.solutions.hands #Variable para la detección de partes de las manos.
manos = mpManos.Hands() #Variable para la detección de manos.
mpDibujo = mp.solutions.drawing_utils #Variable para dibujar las manos.

while True:
    success, image = ca

[2022-10-26 15:08] csn1800 opened #3798 "Build Mediapipe with Tensorflow Lite OpenCL Delegate"
**System information**
- OS Platform and Distribution: Ubuntu 20.04
- Compiler version: gcc/g++-9.4.0
- Programming Language and version: C++
- Installed using virtualenv? : No
- [MediaPipe version](https://github.com/google/mediapipe/releases): v0.8.9
- Bazel version: 5.2.0

**Describe the problem**:
I am able to see references such as `ForceOpenCL `and `opencl_is_forced_ ` in Mediapipe code and

[2022-10-26 16:48] Notedop commented on #3226
I was looking for the same and I found this video that does Head Pose Estimation using Mediapipe in Python.

[Youtube video](https://www.youtube.com/watch?v=-toNMaS4SeQ&t=2s)
[python script](https://github.com/niconielsen32/ComputerVision/blob/master/headPoseEstimation.py)

[2022-10-26 17:05] hybridherbst commented on #3788
Hi @kuaashish, I read through that other issue but can't see information related to the problem outlined here.
While `multi_hand_landmarks` are in screen space, `multi_hand_world_landmarks` are in palm space.

My question would thus be how to access plam coordinates from JavaScript for use with world landmarks.

The other thread doesn't seem to use world landmarks at all, and screen-space landmark

[2022-10-26 17:53] fangq opened #3799 "Looking for a document where the face landmark locations are defined"
my student and I are working on a robust registration between face-mesh with other head/brain-landmarks used for neuroimaging, specifically, the [10-20 system](https://en.wikipedia.org/wiki/10%E2%80%9320_system_(EEG)) for EEG.

the comments in a previous issue (#1615) seem to give a good picture how these face landmarks are numbered, but I still don't see a rigorous definition on where these key p

[2022-10-27 06:01] jksfood commented on #3476
@sillysalat  @sureshdagooglecom Hello, I had the same problem, The Z axis is tilted forward, How can I solve this problem?

[2022-10-27 06:20] kuaashish commented on #3790
Hi @divastar,
Have you looked at this closed issue #3602 and [#3602(Comment)](https://github.com/google/mediapipe/issues/3602#issuecomment-1237657056) to mapping into the 3D facial points. Thank you!

[2022-10-27 07:01] ylj318 commented on #3786
@kuaashish
how do you do.
thanks for your response.  the problem was solved on centos8.
but used in android run in mobile , error found "java.lang.RuntimeException: java.io.FileNotFoundException: mobile_gpu.binarypb"
i cann't find the file in compile folder of aar

[2022-10-27 07:28] kuaashish commented on #3786
Hi @ylj318,
Did you try to run the above [android target](https://github.com/google/mediapipe/issues/3786#issuecomment-1291755897) on the command prompt in the windows? As mentioned in the [documentation](https://google.github.io/mediapipe/getting_started/install.html#installing-on-windows) MediaPipe Android apps is still not possible on native Windows. Instead, Please build the MediaPipe solution

[2022-10-27 08:06] ylj318 commented on #3786
@kuaashish
thank you ,
i took the file of 'mobile_gpu.binarypb' .

[2022-10-27 08:57] kuaashish commented on #3784
Hi @notjedi,
Could you elaborate your query with complete details and observation made in the case of a memory leak.
Thank you!

[2022-10-27 09:02] kuaashish commented on #3791
Hi @interesting926,
Is it implemented through Python, Javascript or other solutions available in the MediaPipe? Could you please help us to understand the query better from our end. Thank you!

[2022-10-27 09:08] kuaashish commented on #3792
Hi @alexandernst,
Could you confirm that you have built the MediaPipe as mentioned in the [documentation](https://google.github.io/mediapipe/getting_started/install.html#installing-on-debian-and-ubuntu) successfully and followed the steps to build the iris desktop solution as mentioned [here](https://google.github.io/mediapipe/solutions/iris.html#desktop). Thank you!

[2022-10-27 09:09] alexandernst commented on #3792
Yes, I confirm. Also, the "Hello World" is working as expected (so I assume that everything is in place and I should be able to compile any of the other demos).

[2022-10-27 09:13] interesting926 commented on #3791
i use python,and i wonder how can i use face  recognition

[2022-10-27 10:06] kuaashish commented on #3796
Hi @mwbouwkamp-mendix,
Could you elaborate your query with complete details and steps followed to reproduce the issue from our end. Thank you!

[2022-10-27 10:45] mwbouwkamp-mendix commented on #3796
Hi, @kuaashish!

I am trying to use the mediapipe library in a Mendix widget. For this, I did the following:
* Create an empty Mendix widget (https://docs.mendix.com/howto/extensibility/create-a-pluggable-widget-one/)
* `npm i @mediapipe/hands`
* Create a component for the video and canvas elements
* Create a component where, in a useEffect, I am trying to replicate what is done in the sample code

[2022-10-27 10:46] #3786 closed

[2022-10-27 10:51] kuaashish commented on #3798
Hi @csn1800,
Could you please elaborate your query with complete details and error logs to reproduce the issue from our end. Thank you!

[2022-10-27 10:54] kuaashish commented on #3799
Hi @fangq,
Is it implemented through Python, Javascript or other solutions available in MediaPipe? Could you please provide the complete details to understand the issue better from our end. Thank you!

[2022-10-27 10:57] kuaashish commented on #3781
Hi @beakyangsu,
Could you please provide the steps followed to reproduce the issue and understand the issue better from our end. Thank you!

[2022-10-27 12:27] fangq commented on #3799
Currently, our initial implementation is based on python, but the question is more generic and independent of implementation.

on a related note - among the 468 face mesh points, are there "dependent" points that are computed/interpolated based on other independently estimated points? if so, what are those and how they are interpolated?

[2022-10-27 13:09] csn1800 commented on #3798
@kuaashish Thank you for the response. The query in summary - is there a support in Mediapipe for building it with Tensorflow lite OpenCL delegate?

I do not have an error log to share as I do not experience any errors with the above said method. Still, it is unclear if the backend is OpenCL or OpenGL.

[2022-10-27 22:32] #3784 closed

[2022-10-27 23:00] fishhead012 commented on #3744
The value of ptions.ranges_size() is always 0
if Node.has_options() is TRUE.

If the value of options.combine_outputs() is FALSE

I get the error "The number of output streams should match the number of ranges specified in the CalculatorOptions".

How do I match the output stream and number of ranges?

// ANDROID, holistic_tracking

[2022-10-28 04:28] rajkundu commented on #294
Same question. It's such a shame because MP seems to be one of the best facial landmark detection models available, but it is practically unusable in C++. :(

[2022-10-28 09:00] zw20045500 commented on #3602
@wizVR-zhangjun
I want to get face uv by mediapipe to my customsize mesh.  can you give me your email address, we can comminicate deeply. Thank you!

[2022-10-28 12:03] quire7 opened #3802 "build c++ native hand_tracking_cpu error"
- OS Platform and Distribution (Linux Ubuntu 18.04):
- Compiler version (gcc/g++ 7.5.0):
- Programming Language and version ( e.g. C++ 17 ):

- [MediaPipe version](v.0.8.10.2):
- Bazel version: 5.2.0
- OpenCV version (4.x):

**Describe the problem**:
bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 mediapipe/examples/desktop/hand_tracking:hand_tracking_cpu

**Complete Logs:**
pateo@pateo-OptiPl

[2022-10-28 14:19] Tectu commented on #294
What makes you say that?
It is very usable in C++. It runs notably more smoothly than via Python or Javascript bindings too.

[2022-10-28 18:41] dibet commented on #294
We want to use cmake tools.

A sexta, 28/10/2022, 15:19, Joel Bodenmann ***@***.***>
escreveu:

[2022-10-29 03:52] rajkundu commented on #294
Can you expand on this at all? I am extremely interested in building MP as a library (static would be preferable, but shared is fine too) for use with CMake. How did you do this?

[2022-10-29 17:40] peternaf commented on #3269
@MayerMax no unfortunately

[2022-10-29 19:10] bmartynchyk opened #3803 "Cannot run simple hellow world project, error: does not contain symbol 'use_cpp_toolchain'"
<em>Hi,
I'm newbie in mediapipe. I have simple mediapipe project on Ubuntu which I created above 1 year ago. And the project was building and running. I decided to immerse myself into mediapipe again. And now I'm about one week and a half cann't to solve the issue how to build and run my 1 year old project. I change different Ubuntu systems since 16 to 22. Now I on 20.04.5. I'm working on VirtualB

[2022-10-30 03:18] id1945 commented on #2432
It seems that google has not been able to fix this error. This is a dangerous error and limits developers to difficult problem logic situations
![images](https://user-images.githubusercontent.com/40824445/198860994-5397a6b4-d5db-4d16-a44f-2fbc4e969c06.png)

[2022-10-30 11:40] hanbyeongky opened #3804 "E/chromium: [ERROR:web_contents_delegate.cc(238)] WebContentsDelegate::CheckMediaAccessPermission: Not supported."
I'm trying to add functionality to my hybrid app by leveraging the Mideapipe Face Mesh for JavaScript.

However, the permission error keeps popping up because it runs as a webview.
It says that you do not have permission and the video itself does not appear.
Does anyone know how to solve it???

I am packing after work using ionic vue capacitor.

please answer my question
![20221030_203943](https:/

[2022-10-30 15:05] liaoyd16 opened #3805 "cannot install accordiing to installation tutorial"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): Linux Ubuntu 20.04

[2022-10-31 02:16] rajkundu commented on #3799
I'm not sure if this helps at all, but there is a .obj file located [here](https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_geometry/data/canonical_face_model.obj) in the MediaPipe repository. You can open this file in external software to visualize and analyze the face mesh model. For example, using [MeshLab](https://www.meshlab.net/), you can get the index of a vertex in a

[2022-10-31 02:24] fangq commented on #3799
@rajkundu thanks for your reply, but I don't think it answers the question I was asking - this still only gives the numbering of points, but not what face feature they are supposed to be pointing to.

just an example - what location on the face that point 10 is supposed to be?

[2022-10-31 02:29] rajkundu commented on #3799
Sorry; I'm not entirely sure what you mean. To me, it seems like that question is answerable by looking at the [canonical face model UV map](https://github.com/google/mediapipe/blob/a908d668c730da128dfa8d9f6bd25d519d006692/mediapipe/modules/face_geometry/data/canonical_face_model_uv_visualization.png), then seeing where Point 10 is. Or, if you're interested in Point 10's 3D definition, I would loo

[2022-10-31 02:31] fangq commented on #3799
yes, that is correct. I previously referred it to as "geometric definition", but I think "anatomical definition" is more appropriate.

[2022-10-31 02:40] rajkundu commented on #3799
Ah, I see. To be honest, I'm not quite sure how these types of things tend to work. I think the question now is whether Google's engineers attached anatomical definitions to any of the the MP face model's points. I mean, to some extent, strict anatomical correspondences may not even be necessary for the model to function as intended.

My guess is as good as yours, but I would imagine the MP face m

[2022-10-31 02:53] fangq commented on #3799
yes, the only anatomically-clear landmark relevant to my project is nasion (pt168), other than that, I have been computing other 10-20 anchor points empirically by extrapolating 10, 234, 227, 457 and 447, which worked reasonably well, but I was hoping if all landmarks were anatomically defined, then I would get more assets to improve the mapping.

[2022-10-31 03:13] andrechen commented on #3799
It always puzzle me to find out the the landmark id. So I injected [.obj file](https://github.com/andrechen/mediapipe/tree/master/mediapipe/modules/face_geometry/data) with material section. And use a simple material file to bind the uv visualization map. It makes the obj could be opened in Mesh viewer with vertex id...
![canonical_face_model_3D_viewer](https://user-images.githubusercontent.com/22

[2022-10-31 05:53] #3759 closed

[2022-10-31 06:53] #3770 closed

[2022-10-31 07:27] MoatazNoaman2001 commented on #372
it magic

[2022-10-31 07:46] MoatazNoaman2001 commented on #3214
how to delete definitions?

[2022-10-31 08:53] #3709 closed

[2022-10-31 09:32] kuaashish commented on #3803
Hi @bmartynchyk,
Please refer to this closed issue #3457 and [#3457(Comment)](https://github.com/google/mediapipe/issues/3457#issuecomment-1163816267) for better understanding on your query. Thank you!

[2022-10-31 09:38] kuaashish commented on #3802
Hi @quire7,
Could you confirm that you have followed the steps to build MediaPipe as mentioned in the official [documentation](https://google.github.io/mediapipe/getting_started/install.html) and able to build the Hello_world example successfully as mentioned [here](https://google.github.io/mediapipe/getting_started/hello_world_cpp.html#hello-world-in-c). Thank you!

[2022-10-31 09:43] kuaashish commented on #3775
Hi @mxmadr,
Could you please provide the complete steps followed and error logs to reproduce the issue from our end. Thank you!

[2022-10-31 20:48] vladmandic opened #3806 "js holistic solution crashes when setting refineFaceLandmarks"
per comments in #3534, `refineFaceLandmarks` is supported in in [holistic@0.5](https://www.npmjs.com/package/@mediapipe/holistic)

however, when i enable it using

[code]

it immediately crashes:

[code]

when `refineFaceLandmarks = false`, solution works as expected.

platform: javascript
version: @mediapipe/holistic 0.5.1635989137
browser: chrome 107 on windows 11

[2022-11-01 02:37] evandromoura commented on #1553
@nikitatishin5
try to create a new instance before calling the method
ex:
faceDetector = FaceDetection()
faces, boxes = faceDetector(frame)

[2022-11-01 03:02] dandingol03 commented on #1155
I can't figure out how does `codepen` open camera, can you give me some advice~

[2022-11-01 03:02] dandingol03 commented on #1155
I can't figure out how does codepen open camera, can you give me some advice~

[2022-11-01 08:42] jihwan1park commented on #3705
Actually, I got the answer while testing with older version.
With v0.8.9, I can get a good performance version like pre-built apk, but after v0.8.10, the inference performance of holistic will be slower.
I don't know why, but I think I should let you know here. Thanks @kuaashish !

[2022-11-01 08:42] #3705 closed

[2022-11-01 09:17] albirrkarim opened #3807 "Uncaught (in promise) RuntimeError: Aborted(Module.arguments has been replaced with plain arguments_ (the initial value can be provided on Module, but after startup the value is only looked for on a local variable of that name))"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in MediaPipe):
- Mac OS 13 Ventura
- Macbook Air m1
- Javascript, React js, Create react app
- https://www.npmjs.com/package/@mediapipe/selfie_segmentation
- Selfie Segmentation

**Describe the current behavior:**

[code]

Then I run cra server with `npm run start` the browser log gives this er

[2022-11-01 09:49] #3807 closed

[2022-11-01 09:53] albirrkarim commented on #3807
Solved.

Try this code

[code]

[2022-11-01 12:49] csn1800 commented on #3798
@kuaashish Current source of Mediapipe indicates following under mediapipe/util/tflite/tflite_gpu_runner.cc -> TFLiteGPURunner::InitializeOpenCL:

[code]

* Could you please confirm if this indicates Tensorflow-lite OpenCL delegate will not be created on non-Android/non-ChromeOS platforms?
* Is there any plan to support Tensorflow-lite OpenCL delegate on non-Android platforms in near future?

[2022-11-01 13:03] csn1800 opened #3808 "Support Tensorflow OpenCL on non-Android / non-ChromeOS platforms"
**System information** (Please provide as much relevant information as possible)
OS : Ubuntu 20.04
Device: Khadas Vim 3 (aarch64)
GPU: ARM Mali G52

- MediaPipe Solution (you are using): Holistic landmark detection (with OpenGL backend)
- Programming language : C++
- Are you willing to contribute it (Yes/No): Yes

**Describe the feature and the current behavior/state:**
Currently Tensorflow OpenCL

[2022-11-01 13:24] csn1800 commented on #3202
Hi @tomerlevi444, I assume you intended make the existing Mediapipe model learn from your data (transfer learning) than training a model from scratch. Hope you found a solution to the problem you mentioned.

Were you able to use the Mediapipe model and make it learn from your own dataset? I am having a similar requirement and unable to find a solution.

[2022-11-01 14:50] ychtepenko commented on #1972
another quick way to solve the problem:
sed $'s/\r$//' .bazelversion > .bazelversion

[2022-11-01 16:17] vladmandic commented on #3806
*update*

this happens only if `enableFaceGeometry = true` is also set
so its one or the other and @mediapipe/holistic provides no safeguards of setting both to true and crashing.

[2022-11-01 16:21] AndreiBazzaev commented on #724
I still have this issue on Windows:
bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 --action_env PYTHON_BIN_PATH="C://Users//79155//AppData//Local//Programs//Python//Python311//python.exe" mediapipe/examples/desktop/hello_world
results in ERROR:  An error occurred during the fetch of repository 'local_execution_config_python':
Would appreciate any help.

[2022-11-01 16:27] bazarevsky commented on #3772
Hello, unfortunatelly I did not get your question. What do you mean by markers in the hand? If you are asking about hand tracking model inference, it happens here: https://github.com/google/mediapipe/blob/6cdc6443b6a7ed662744e2a2ce2d58d9c83e6d6f/mediapipe/modules/hand_landmark/hand_landmark_cpu.pbtxt#L69

[2022-11-02 02:32] AndreiBazzaev commented on #724
Was able to fix an issue, following steps from here, hope it would help others like me: https://blog.csdn.net/HW140701/article/details/119546019

[2022-11-02 06:53] #3742 closed

[2022-11-02 07:53] #3776 closed

[2022-11-02 09:35] kuaashish commented on #3772
Hi @crpistillo,
Could you please go through the [above](https://github.com/google/mediapipe/issues/3772#issuecomment-1298793997) comment and let us know the required info to understand the issue better. Thank you!

[2022-11-02 12:01] serrabii opened #3809 "Graph Tracing on Android with FaceMesh"
Hi,

Following the docs (https://google.github.io/mediapipe/tools/tracing_and_profiling.html) to enable tracing and profiling
on **android** using `mediapipe/examples/android/solutions/facemesh` didn't output the logs in the **emulated** storage.

**System information** (Please provide as much relevant information as possible)

- Have I written custom code:
Adapted the files `mediapipe/modules/fac

[2022-11-02 15:37] mxmadr commented on #3775
Hello @kuaashish,

Here are the steps to follow in order to reproduce the problem:
- Unzip [MediaPipePlayPause.zip](https://github.com/google/mediapipe/files/9921856/MediaPipePlayPause.zip).
- Open `index.html` with Google Chrome.
- Allow the camera on Google Chrome.
- Wait until the camera video stream appears on the page.
- Move in front of your camera and constat the initial video fluidity.
- C

[2022-11-02 16:17] vladmandic opened #3810 "mediapipe/holistic incorrect handling of connected models"
currently `@mediapipe/holistic` solution performs
1. delete what it considers duplicate landmarks from result
2. reconnect different models by artificially drawing a line between them

for example, it deletes `results.poseLandmarks[POSE_LANDMARKS.RIGHT_WRIST]`
and then to make hand "appear" connected to body, it draws a line between:
`[results.poseLandmarks[h.POSE_LANDMARKS.RIGHT_ELBOW], results.r

[2022-11-02 17:15] monkeygobah opened #3811 "MediaPipe Iris Not detecting Focal length from exif data from of certain images in data set"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- I am trying to implement MediaPipe Iris in c++ to analyze some eyelids for a project I am working on. I have not made any changes to the code of the desktop example provided by Mediapipe
- MacOS 11

[2022-11-02 19:45] Pogosito commented on #3571
@UtsaChattopadhyay Hi!
I faced the same task did you found the formula/answer ?

[2022-11-03 02:21] rajkundu commented on #1162
@asprecic Thank you very much for your work! I was able to get your code working on Windows with a few modifications. Would you be willing to check and see if it still works and integrates with your Qt integration example? Here is the link to my fork: https://github.com/rajkundu/mediapipe

The main modification was just adding `__declspec(dllexport)` to function definitions in `example.h`, but I a

[2022-11-03 05:53] #3766 closed

[2022-11-03 06:30] rainbowechoes opened #3812 "Did it support on wechat mini app?"
I can open this demo (https://codepen.io/mediapipe/full/KKgVaPJ) in m1 mac mini and iphone. But when use it in wechat mini app, it report ` 'platform' of undefined`.

Did it not support? how should to fix it ?

[2022-11-03 08:00] asprecic commented on #1162
@rajkundu
Thank you, and nice work yourself.

I am no longer working the same job and not really interested in doing this anymore, so I can't really be bothered to install a dev env on my personal Windows machine.

If you make any PR's, I'm happy to merge them, for community's sake.

[2022-11-03 09:20] #3809 closed

[2022-11-03 09:53] #3780 closed

[2022-11-03 10:31] ylj318 opened #3814 "Framebuffer not complete"
hi, how do you do
i used hair_segmentation_aar.aar file  and basic code of mediapipe project  (examples\android\src\java\com\google\mediapipe\apps\basic)
when do i run to  code
" cameraHelper.startCamera(this, cameraFacing, previewFrameTexture, cameraTargetResolution());"
the project take wrong

022-11-03 18:11:49.178 6259-6395/com.yt.hair4 E/AndroidRuntime: FATAL EXCEPTION: ExternalTextureConvert

[2022-11-03 10:53] #3760 closed

[2022-11-03 11:53] #3731 closed

[2022-11-03 12:23] Alihasnat10 opened #3815 "ERROR: Unrecognized option: --experimental_repo_remote_exec"
**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): UBUNTU 20.04 LTS
- [MediaPipe version](https://github.com/google/mediapipe/releases): Latest
- Bazel version: 5.3.2

**Describe the problem**:
I get this error when I try to install mediapipe and run helloworld example inside the tensorflo

[2022-11-03 12:52] rajkundu commented on #1162
No worries at all! That makes sense. For what it is worth, I did try compiling the `.so` on a Ubuntu machine with a small non-Qt example (reads an input image from disk, runs MP, and writes the MP output image to disk), which worked.

[2022-11-03 14:10] celsodasecond opened #3816 "Mediapipe Holistic AAR crashes after giving Camera Permissions"
**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4):  Ubuntu 20.04 / Android 11
- Compiler version (e.g. gcc/g++ 8 /Apple clang version 12.0.0): gcc 9.4.0
- Programming Language and version ( e.g. C++ 14, Python 3.6, Java ): Python 2.7.18
- Installed using virtualenv? pip? Conda? (if python)

[2022-11-03 14:53] #3768 closed

[2022-11-03 15:43] jalamprea commented on #3775
I did some similar tests and it's happening the same issue... on desktop there is a performance drops, and on iPhone Safari, sometimes the camera is not able to restart after play again

[2022-11-03 17:49] linjing7 commented on #3779
Hi, @kuaashish , thank you very much!

[2022-11-03 17:49] #3779 closed

[2022-11-03 18:17] vladmandic opened #3818 "mediapipe/holistic incorrect z-axis values for body pose landmarks"
@mediapipe/holistic returns normalized landmarks for body pose, left & right hand and face
however, scale for z-axis values for body pose landmarks is double that of face or hands thus creating a very distorted image when viewed in 3d (since this scale issue only affects z-axis, it does not impact 2d visualizations)

by normalizing all body pose landmarks z-value by 0.5, pose looks sane

platform:

[2022-11-03 19:50] arianatri opened #3819 "Gzip support on Js"
hey guys,
Is Gzip supported on this platform yet?
As I have seen there are many **instantiateStreaming()** (instead of **instantiate()** )function calls.
I get this error when I set gzip ON in Nginx :
`           TypeError: "Response has unsupported MIME type"`
and it's because  instantiateStreaming function is MIME type sensitive
the MIME types for faceMesh files are :
[code]

[2022-11-04 03:59] kuaashish commented on #2055
Hi @FedericoCozziVM,
Could you please go through the [above](https://github.com/google/mediapipe/issues/2055#issuecomment-1300684531) comment. Thank you!

[2022-11-04 04:16] RCpengnan opened #3821 "align the person pose"
The paper says:"we align the person so that the point between the hips is loceated at the center of the square image passed as the neural network input".
I found that some pose estimation algorithms can't detect the inverted pose at present, but blazepose can detect the inverted algorithm very well. I think this is the advantage of the alignment of the skeleton, but I don't know how to adjust the

[2022-11-04 06:21] kuaashish commented on #3788
Hi @hybridherbst,
Palm coordinates are currently only communicated between calculators in the graph, [hand_landmark_cpu.pbtxt](https://github.com/google/mediapipe/blob/master/mediapipe/modules/hand_landmark/hand_landmark_cpu.pbtxt) or [hand_landmark_gpu.pbtxt](https://github.com/google/mediapipe/blob/master/mediapipe/modules/hand_landmark/hand_landmark_gpu.pbtxt).  The transformation is done using

[2022-11-04 06:26] celsodasecond commented on #3705
Hi @jihwan1park, Do you use Android Studio on using the AAR Build?

[2022-11-04 06:30] kuaashish commented on #3804
Hi @hanbyeongky,
MediaPipe team has not yet tested any solutions, including face-mesh, on WebView in JavaScript. Seems plausible that the permissions problem is related to WebView.
We think this bug requires more investigation. If you could help us to investigate, the MediaPipe team will appreciate and be interested in any findings. Thank you!

[2022-11-04 08:20] #3741 closed

[2022-11-04 08:25] liaoyd16 commented on #3805
I followed https://google.github.io/mediapipe/getting_started/python.html#building-mediapipe-python-package instructions, and after the installation was done, I ran the python in "mediapipe/mp_env/bin/", and then `import mediapipe`, but still got
[code]
Then I switched out of the `mediapipe/` folder and ran steps above, and encountered this error:
[code]

[2022-11-04 08:57] ylj318 commented on #3816
i take the same problem

[2022-11-04 10:05] kuaashish commented on #3812
Hi @rainbowechoes,
MediaPipe supports and tested successfully in this platform and browsers as mentioned in the official documentation [here](https://google.github.io/mediapipe/getting_started/javascript.html#supported-plaforms). Please follow the documentation and let us know if you encounter the error in [mentioned](https://google.github.io/mediapipe/getting_started/javascript.html#supported-pla

[2022-11-04 10:11] kuaashish commented on #3810
Hi @vladmandic,
Could you provide the complete error logs and steps followed to reproduce the issue from our end. Thank you!

[2022-11-04 10:16] kuaashish commented on #3815
Hi @Alihasnat10,
Could you confirm that you have followed the steps to build MediaPipe as mentioned in the official documentation [here](https://google.github.io/mediapipe/getting_started/install.html#installing-on-debian-and-ubuntu). If yes then, please provide the complete error logs and steps followed to reproduce the issue from our end. Thank you!

[2022-11-04 10:19] kuaashish commented on #3814
Hi @ylj318,
Could you elaborate your query with complete details and steps to reproduce the issue from our end. Thank you!

[2022-11-04 10:20] #3783 closed

[2022-11-04 10:29] kuaashish commented on #3231
Hi @CapitanMurloc,
MediaPipe does return detections, or face images, or rendered detection rectangles but does not have any APIs for storage of these returned results. Thank you!

[2022-11-04 11:09] CapitanMurloc commented on #3231
Thanks for the answer, I actually saw what is required to identify a face uniquely. I use MediaPipe to detect if there is a face and another library to store the face.

[2022-11-04 12:31] vladmandic commented on #3810
@kuaashish this is not about error logs, its about visually wrong locations of connected models (hand and face when compared to pose).

for example, see screenshot - with input video, 2d overlay and 3d view looking from the side - i've circled the incorrect position of the hand in 3d view.
![image](https://user-images.githubusercontent.com/57876960/199973203-93fa0f9f-0ac9-4771-bac8-c248cdb5bd74.pn

[2022-11-04 15:46] #3805 closed

[2022-11-04 17:13] FedericoCozziVM commented on #2055
Hi @kuaashish and @gkarpiak, thanks for your responses, and sorry if I answered late.

@gkarpiak that's a great idea! I just made some experiments in this [colab](https://colab.research.google.com/drive/1vWIjw2-9d9MxD768Ur3RRZOOEE2yMJvM?usp=sharing) recycling some code from @kuaashish ones.

`mp.solutions.face_detector` (blazeface) with `model_selection=0` finds 2 faces:
- right one (frontal old l

[2022-11-05 12:11] davideloba commented on #2506
@Wei-1 thank you for your working example! I'm trying to add the same fix to the facemesh.js but I found another problem there. The switch doesn't reach the case 6 but it stucks into the case 2, importScripts works but it's called over and over again. This problem isn't present in your holistic.js..

[code]

[2022-11-05 17:28] arianatri commented on #3819
@kuaashish
@sureshdagooglecom
It will be really appreciated if hopefully, you answer me, please.

[2022-11-05 17:28] AmitMY commented on #2506
@mhays-google as you may see there is a solution -
could you please implement this in the public npm release instead of people needing to edit themselves?

having it running in a worker thread is essential for performant and fluent user experience

[2022-11-06 02:26] WorldObserver-cli opened #3822 "Unable to find an identity on the system matching the ones in provision_profile.mobileprovision on macOS13"
**System information**
- MacOS13, iOS15:
- Bazel version: 5.3.2
- Xcode version 14.1 and Tulsi versions 0.20
- latest CLI and support Xcode14.1

this is my BUID Content :
licenses(["notice"])  # Apache 2.0

MIN_IOS_VERSION = "11.0"

load(
    "@build_bazel_rules_apple//apple:ios.bzl",
    "ios_application",
)

ios_application(
    name = "DemoApp",
    bundle_id = "com.demo.app.main",
    families

[2022-11-06 03:24] celsodasecond opened #3823 "How to properly add node_options: "ConcatenateVectorCalculatorOptions" in calculator: "ConcatenateNormalizedLandmarkListCalculator"?"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4):  Ubuntu 20.04 / An

[2022-11-06 05:40] arianatri commented on #3819
https://developer.mozilla.org/en-US/docs/WebAssembly/JavaScript_interface/instantiateStreaming#:~:text=Note%3A%20For%20this%20to%20work%2C%20.wasm%20files%20should%20be%20returned%20with%20an%20application/wasm%20MIME%20type%20by%20the%20server.

it's on writen mozilla.org too

[2022-11-06 16:56] AlvaroMFO commented on #724
Hello!

I was having the same unicode error when running the bazel build command. I was setting the python binary path as "C:\Users\Alvaro\AppData\Local\Programs\Python\Python39\python.exe".

I tried editing the python_configure.bzl file following your steps, but when I rerunned the command it didn't recognized the "system" command.

I undid the changes on the python_configure.bzl file. And then I

[2022-11-06 22:52] monsteradurm opened #3824 "face mesh & landmark detection: lips pressed together"
Hi, I am wondering if anyone else has tried or come up with a solution for the following problem.
The generally wonderful landmark detection, is estimating the lip position incorrectly when lips are "pursed together" see example below with my ugly mug:

<img width="234" alt="image" src="https://user-images.githubusercontent.com/7044684/200199626-402c3e34-59ac-41fa-8298-48567ae97a3b.png">

In this

[2022-11-07 05:21] kuaashish commented on #3134
Hi @lghasemzadeh,
Could you please go through the [above](https://github.com/google/mediapipe/issues/3134#issuecomment-1087986854) comment. Thank you!

[2022-11-07 07:23] kuaashish commented on #3231
Hi @CapitanMurloc,
Good to hear that you have found the solution for the use case mentioned. Could you please share the implementation to archive the task it will be helpful for community members. Thank you!

[2022-11-07 07:27] kuaashish commented on #3808
Duplicate of #3798

[2022-11-07 07:54] CapitanMurloc commented on #3231
My solution is based on DeepFace (https://github.com/serengil/deepface), the embedding must be stored, for example in ElasticSearch. Then using the cosine function you can perform similarity searches.

[2022-11-07 08:11] arianatri commented on #3819
guys 4 days have past please notice me :'(

[2022-11-07 09:36] kuaashish commented on #3822
Hi @WorldObserver-cli,
Have you looked at this closed issue #3599 and [#3599(Comment)](https://github.com/google/mediapipe/issues/3599#issuecomment-1216206837). Thank you!

[2022-11-07 09:43] kuaashish commented on #3791
Hi @interesting926,
MediaPipe does not include a face recognition, module or model. Thank you!

[2022-11-07 09:50] sureshdagooglecom commented on #3824
Hi @monsteradurm ,
Could you please confirm us in which platform you are facing this issue like python , javascript ,android etc.

[2022-11-07 09:53] kuaashish commented on #3231
Hi @CapitanMurloc,
Thank you very much for the contribution! Could we move this issue to close status as it has been resolved. Thank you!

[2022-11-07 09:55] #3231 closed

[2022-11-07 10:04] monsteradurm commented on #3824
Sure thing.

I am using the media pipe for unity plugin from here: https://github.com/homuler/MediaPipeUnityPlugin.

[2022-11-07 15:00] cy-moi commented on #3659
I don't think this error is caused by the patch of the package. Because I just tried to use selfie_segmentation directly without removing anything from its bundle, and the same error popped up. Have you solved it?

[2022-11-07 15:12] cy-moi commented on #3659
Hey, I had a look at the API of selfie segmentation. I guess they probably have already made it synchronized with the OnResult callback. So probably no need to put it in the worker?

[2022-11-07 15:22] #3816 closed

[2022-11-07 15:40] kirill-konshin commented on #3659
Worker is needed to offload all actual work from main thread. I have rest of the processing there.

[2022-11-07 16:11] cy-moi commented on #3659
Well, the above error is caused by accessing files through workers. So, probably try to put initialization into the main thread for an easy solution.

[2022-11-07 17:45] kirill-konshin commented on #3659
Worker thread has no access to main thread, so this will not work. The problem is that these files are loaded via `importScript` instead of `fetch`.

[2022-11-07 19:33] cy-moi commented on #3659
I suppose it would be hard to pass the object around. But importScripts should work with workers. It is only the mime type problem. I think for one have you tried to host your model file with modified types to bypass the mime type check? Because I tried to host the tflite model at localhost and changed the filename to js (also need to modify the file path in mediapipe's package) and then the error

[2022-11-07 20:06] cy-moi commented on #3659
Plus have you tried this [tfjs models including mediapipe](https://github.com/tensorflow/tfjs-models/tree/master/body-segmentation)

[2022-11-07 23:06] ainanicolau commented on #1388
Hello, I also wanted to use a canvas element as input for the holistic model. Is this currently supported?

[2022-11-07 23:33] ainanicolau opened #3827 "Using cropped stream video as input to the holistic model"
I would like to analyse an embedded video stream (`iframe`) using the holistic model. Is there any way to do this?
I’ve been doing screen capture as an alternative for now, but the frame rate is not great.

Also, I would like to crop the video before it’s used as input, so I'll probably need to do it as a canvas. I've seen some models allow `HTMLImageElement` or `HTMLCanvasElement` as inputs (http

[2022-11-08 06:02] rajkundu commented on #1162
I ended up creating a generalized C++ shared library for MediaPipe, which I call [LibMP](https://github.com/rajkundu/mediapipe/tree/cpp-lib/mediapipe/examples/desktop/libmp). It exposes MediaPipe's Protobuf-related functions so that, **without Bazel**, a client C++ application can access MediaPipe data types near-natively. That is, while `libexample` runs MP graphs and allows access to their outpu

[2022-11-08 06:10] rajkundu commented on #294
If anyone is looking to use MediaPipe without Bazel, I've created a generalized shared/dynamic library for the purpose of doing so. Please see https://github.com/google/mediapipe/issues/1162#issuecomment-1306678037, and please feel free to ask any questions! It has been tested on Windows and Linux, but not macOS (yet).

Like many others, I just want to use MediaPipe - not Bazel. This shared librar

[2022-11-08 06:47] kuaashish commented on #3812
Hi @rainbowechoes,
Please go through the [above](https://github.com/google/mediapipe/issues/3812#issuecomment-1303205475) comment and let us know if we can move this issue to close status as it has been resolved.
Thank you!

[2022-11-08 06:56] kuaashish commented on #3822
Hi @WorldObserver-cli,
Could you please let us know if the [above](https://github.com/google/mediapipe/issues/3822#issuecomment-1305338540) comment resolves this issue. Thank you!

[2022-11-08 06:58] rainbowechoes commented on #3812
sorry, I reply late. I read this doc before. But when the error occur, how can I know the platform is what in runtime?

[2022-11-08 07:05] kuaashish commented on #3812
Hi @rainbowechoes,
Currently MediaPipe does not have this feature available and Team has limited resources for new features. We will let you know if there will be any specific update in future on this request. Thank you!

[2022-11-08 07:07] rainbowechoes commented on #3812
ok, thanks for your reply! I hope MediaPipe can have these feature in future.

[2022-11-08 07:07] #3812 closed

[2022-11-08 07:09] kuaashish commented on #3821
Hi @RCpengnan,
Is it implemented through the Python, JavaScript or other solutions available in MediaPipe to understand the issue better from our end. Thank you!

[2022-11-08 07:47] kuaashish commented on #3798
Hi @csn1800,
This configuration is possible, just not written yet for MediaPipe. MediaPipe team sees this as a great feature request and will implement it in future releases. We will let you know if there will be any specific update on this request. Thank you!

[2022-11-08 07:53] kuaashish commented on #3808
Hi @csn1800,
Closing this issue as Duplicate of #3798 and following up with another issue raised. Thank you!

[2022-11-08 07:53] #3808 closed

[2022-11-08 07:54] colinBoyer commented on #3822
Thanks for you replay.

Not resolve for me , I have changed to a non-macos13 Mac.
And I am very sure that the provsion_profile.mobileprovison and the certificate on my Mac are matched.
So I don't know whether the ios_application rule has issue on macOS13.

[2022-11-08 08:18] ducanh3005 opened #3828 "How to draw a 3D mask on the face?"
After I get 468 points ( x, y ,z) from tflite model by Java, how can I draw a mask (use .obj file)on my face, please give me some tutorial make a mask in face by Java

![image](https://user-images.githubusercontent.com/61770725/200509053-71827247-5956-4c20-a27f-0d6de6939d48.png)

![image](https://user-images.githubusercontent.com/61770725/200509255-20aedc12-64ce-47e9-bb97-0cb4b83bf2e9.png)

[2022-11-08 08:48] kuaashish commented on #3791
Hi @interesting926,
Could you please go through the [above](https://github.com/google/mediapipe/issues/3791#issuecomment-1305346174) comment and let us know if we can move the issue to the close status. Thank you!

[2022-11-08 09:00] kuaashish commented on #2378
Hi @ozgurshn,
The iOS builder is only designed to support a single iOS file per application. If you have successfully linked two solutions in a  single library, we can consider some instructions for other users. Thank you!

[2022-11-08 09:20] #3761 closed

[2022-11-08 09:27] kuaashish commented on #3828
Hi @ducanh3005,
Please refer to this closed issue #3553 for better understanding of your query. Thank you!

[2022-11-08 10:31] ducanh3005 commented on #3828
Thanks for your answer. This example depends on the Mediapipe's MainActivity class so is there a way without using them and still be able to draw the mask on the camera? I recognized faces and landmarks, this is the way i did

https://github.com/ducanh3005/face-ml

[2022-11-08 10:39] kaugray commented on #3341
did you find a way to work with this?
i have been trying to achieve the same result

[2022-11-08 11:48] kon72 opened #3830 "Calling CalculatorGraph::Cancel() while opening nodes causes deadlock on the next graph run"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): Yes
- OS Platfor

[2022-11-08 14:17] celsodasecond opened #3831 "How to solve "ValidatedGraphConfig Initialization failed" error?"
**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): Android 11, Ubuntu 20.04 LTS
- Compiler version (e.g. gcc/g++ 8 /Apple clang version 12.0.0): gcc/g++ 9.4.0
- Programming Language and version ( e.g. C++ 14, Python 3.6, Java ): Python 2.7.18 / cpp 9.4.0 / jdk 1.8.0_342
- [MediaPipe versio

[2022-11-08 16:59] GeorgeS2019 commented on #3421
Hope to get an update soon on the support of this technology  :-)

[2022-11-08 18:51] Bustuk commented on #3458
Any update?

[2022-11-09 03:01] beakyangsu commented on #3781
Hi. @kuaashish
I updated detail step of my code.
I want to use FrameProcessor.onNewFrame() directly and  printout mediapipe-jni.so error log with method name.
Please share your knowledge.
Thanks.

[2022-11-09 03:08] WorldObserver-cli commented on #3822
Thanks for your reply.
 I have changed to other Mac, the solutions that you offer to me don't work.  With same code and certificate,Non-macOS13 works well, but macOS13 doesn't.

[2022-11-09 05:23] mar0us opened #3833 "why is there such a strange import in the python api in the mediapipe.solutions module"
why does the python api in the mediapipe.solutions module import like this "import mediapipe.python.solutions.drawing_styles", and not like this "from mediapipe.python.solutions import drawing_styles", what is the reason for this? this also disables type hints in the same vs code, and does not allow you to go to the definition of the function

[2022-11-09 06:21] kuaashish commented on #3407
Hi @kuangzy2011,
This can be done by adding the `android:screenOrientation="landscape"` in manifest and `setRequestedOrientation (ActivityInfo.SCREEN_ORIENTATION_LANDSCAPE);` in MainActivity.Java. Thank you!

[2022-11-09 07:13] kuaashish commented on #3737
Hi @franckOL,
Seems the invitation link has been expried. Could you join through this [invitation](https://join.slack.com/t/mediapipe/shared_invite/zt-1jqmrzg34-waJBaqdLt7_228BUOgxPwg) and let us know if you are part of the slack community. Thank you!

[2022-11-09 08:03] ashisharorambdev opened #3834 "2d pose mapping"
Hi,
I'm trying to integrate @mediapipe/pose in my react project for 2d mapping with COCO key points.
but as I see I can only use @mediapipe/pose for 3d mapping.
so is there any way I can use it for 2d mapping?

[2022-11-09 10:20] #3789 closed

[2022-11-09 11:06] owuQQQ commented on #3805
I also encountered the same problem, I'm using Pycharm and tried to download Mediapipe by "pip install Mediapipe", but it seems that the IDE couldn't find the package.

[2022-11-09 12:46] plashchynski opened #3835 "Unable to compile Iris tracking in Docker"
**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4):
Docker version 20.10.17, build 100c701 on Amazon Linux 2
- Compiler version (e.g. gcc/g++ 8 /Apple clang version 12.0.0):
g++ (Ubuntu 8.4.0-3ubuntu2) 8.4.0
- Programming Language and version ( e.g. C++ 14, Python 3.6, Java ):
C++14
- [Medi

[2022-11-09 12:57] plashchynski commented on #3835
I've tried to add ```--copt -I/usr/include/opencv4/ ```:

```bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 --copt -I/usr/include/opencv4/ mediapipe/examples/desktop/iris_tracking:iris_tracking_cpu_video_input```

The command results in another error:

[code]

[full log](https://gist.github.com/plashchynski/1dd9922c238a9961d66854d65dcdaa14)

[2022-11-09 13:22] plashchynski commented on #3835
The problem was solved by installing an additional package ```libopencv-contrib-dev``` into a container and by adding a ```--copt -I/usr/include/opencv4/``` flag for ```bazel build```.

[2022-11-09 14:45] LDeillon opened #3836 "Is there any way to compile and run youtube8m anymore? the install guides are clearly not tested,...."
I have tried every platform you claim to support. I can always compile and run the hello world example but the youtube8m will never pass the Bazel build step 5 in any situation, not even in the docker you provide.
 Can you test and fix your install guide, fix the docker or provide a collab that will run the youtube8m? Having an untested "install guide" only makes people lose time,.................

[2022-11-09 21:27] csn1800 commented on #3174
@sureshdagooglecom Is this feature under implementation? Could you please let know the ETA for the same?

[2022-11-09 21:30] csn1800 commented on #3798
@kuaashish Thank you for the response and the support. Is there an ETA on this feature?

[2022-11-10 03:17] dandingol03 commented on #2720
HI, @mpost. The matrix you mentioned above is the pose matrix of object? I can't figure out how to get the pose matrix of object from the solution KNIFT. Can you give me some idea if possible~ Thanks in advance.

[2022-11-10 03:25] dandingol03 opened #3838 "Is it possible to get the poscentermatrix from the uniform scaling, orientation which can be computed from the KNIFT solution"
**Describe the problem**:
HI, there is some obstacle i met when i try to get the pose-center-matrix from the KNIFT solution.First of all, i want to recognize some feature plane. So i choose the KNIFT solution which can compute the  uniform scaling and orientation for me. However, the most import pose-center-matrix is lost, i need that matrix to convert the image-space coordinate from 2d to 3d. Bec

[2022-11-10 03:25] #3838 closed

[2022-11-10 03:26] dandingol03 opened #3839 "Is it possible to get the poscentermatrix from the uniform scaling, orientation from the KNIFT solution"
Describe the problem:
HI, there is some obstacle i met when i try to get the pose-center-matrix from the KNIFT solution.First of all, i want to recognize some feature plane. So i choose the KNIFT solution which can compute the uniform scaling and orientation for me. However, the most import pose-center-matrix is lost, i need that matrix to convert the image-space coordinate from 2d to 3d. Because

[2022-11-10 05:43] kuaashish commented on #3834
Hi @ashisharorambdev,
Could you elaborate your query with more details to understand the issue better from our end. Thank you!

[2022-11-10 06:35] kuaashish commented on #3827
Hi @ainanicolau,
Could you elaborate your query with more complete details to understand the issue better from our end. Thank you!

[2022-11-10 07:25] beakyangsu opened #3840 "Crash when call surfaceTexture.updateTexImage()"
OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Android SOS
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: Samsung Galaxy S22+
Bazel version: bazel 5.3.1
Android Studio, NDK, SDK versions (if issue is related to building in mobile dev enviroment):
AndroidStudio Chipmunk NDK : 20.0.5594570, SDK: 30.0.3
Xcode & Tulsi version (if issue is relate

[2022-11-10 08:28] kuaashish commented on #3761
Hi @alexandernst,
Could you inspect the mentioned points in the [above](https://github.com/google/mediapipe/issues/3761#issuecomment-1285199965) comment. If still facing the issue please raise a new issue referring to this closed issue. Thank you!

[2022-11-10 08:57] tikitong opened #3841 "Unable to connect to the slack group."
Hi, I have a question about the use of the `mediapipe.framework.formats.detection_pb2.Detection` class, I asked on StackOverflow : https://stackoverflow.com/questions/74377760/how-to-sort-the-result-of-face-detection-process

As I have no answer I would like to ask the question on Slack but I can't connect to the group. Is it possible for the MediaPipe Team workspace administrator to invite me? Ma

[2022-11-10 09:27] kuaashish commented on #3841
Hi @tikitong,
Could you join through [this](https://join.slack.com/t/mediapipe/shared_invite/zt-1jqmrzg34-waJBaqdLt7_228BUOgxPwg) invitation and please let us know if you are part of the official mediapipe slack community. Thank you!

[2022-11-10 09:42] tikitong commented on #3841
@kuaashish Thanks a lot, I get in! I don't know if it's official now but I confirmed I have joined the group.

[2022-11-10 09:42] #3841 closed

[2022-11-10 10:15] hast0n commented on #3091
Did you try changing the color space? There are plenty of them that allow you to tinker with the hue or brightness components. I did manage to get the hand recognition working on blue gloves in real time (quite accurately) by changing the color of the glove to skin tone while retaining the shading of the hand. The computation is indeed done before sending the image to Mediapipe and also requires t

[2022-11-10 10:41] kuaashish commented on #3091
Hi @Yu-yuu,
The hand tracking model has been trained specifically with exposed hands. I believe other conditions will require training a similar model. Thank you!

[2022-11-10 13:07] Mohamedben10 opened #3843 "error building handtracking gpu example with bazel"
hello mediapipe community...
im using the following command line to build handtrackinggpu example provided by mediapipe but always get build error i tried almost every solution by with no positive result
command line:
sudo bazel build -c opt --config=android_arm64 mediapipe/examples/android/src/java/com/google/mediapipe/apps/handtrackinggpu:handtrackinggpu

thank you very mush for helping me

erro

[2022-11-10 21:31] DestroytheCity opened #3844 "Indexing Issue"
Our team is using mediapipe for 3D pose estimation in a hallway using 4 cameras. We are encountering an issue where the skeleton from one camera seems to be placed on another camera (ie skeleton from camera 1 is placed over the view of camera 3). Has anyone encountered a similar problem/have a solution?

[2022-11-11 00:39] lorenzodifuccia commented on #3201
Hi @EverLookNeverSee, have you developed the "direct gaze" program?
I'm interested in the same functionality: detect number of faces who gaze to a specific frame (like, computer screen)

[2022-11-11 07:42] ctcx commented on #2618
useful

[2022-11-11 08:51] kuaashish commented on #3843
Hi @Mohamedben10,
Could you confirm that you have built the mediapipe as mentioned in the [documentation](https://google.github.io/mediapipe/getting_started/install.html#installing-on-debian-and-ubuntu) and able to run the hello_world [example](https://google.github.io/mediapipe/getting_started/hello_world_android.html) successfully. Thank you!

[2022-11-11 08:54] kuaashish commented on #3844
Hi @DestroytheCity,
Is it implemented through Python, Javascript or other solutions available in the MediaPipe. Could you let us know the complete steps followed and sample images to understand the issue better from our end. Thank you!

[2022-11-11 09:02] kuaashish commented on #3840
Hi @beakyangsu,
Could you elaborate your query with complete details and steps followed to reproduce the issue from our end. Thank you!

[2022-11-11 10:02] QuiLevitin commented on #2317
Hello, i would like to create my own output stream from graph ("merged_landmarks" for ex.). How will I able to call this in addpacketcallback because it seems it is not yet defined somewhere in the mediapipe workspace. thank tou very much.

[2022-11-11 10:09] mpuu00001 opened #3847 "How can I tell if a hand landmark point is self-occluded?"
Hi!

I want to use Mediapipe Hands to find self-occluded points.
For example, when we are performing sign language. There are some hand joints that are occluded by a certain part of the hands. My goal is to find those points that are occluded by hands that are holding nothing.

Note: some images contain both hands of a person, and all images include only one person. Therefore, it is possible that

[2022-11-11 10:14] siquus opened #3848 "Building mediapipe with custom OpenCV path"
I am using Archlinux with OpenCV in /usr/local/include, /usr/local/lib. I haven't found documentation on how to change the OpenCV default directories used by mediapipe. The build error says that the <opencv2/...> include files can't be found. The solutions I found online, like adding

`copts = ["-I/usr/local/include/opencv4/"]`

to opencv_linux.BUILD do not work. Using `--define=OPENCV=source` fai

[2022-11-11 10:39] kuaashish commented on #3835
Hi @plashchynski,
Thank you for sharing your request. we will forward the request to the appropriate team to fix the issue soon. Thank you!

[2022-11-11 11:14] mustafa-ozlu opened #3849 "python 3.11 can't install mediapipe"
i use python 3.11
i want to install mediapipe but can't install.
i was try
pip install mediapipe
python -m pip install mediapipe
pip install mediapipe.whl
but always give me a error
screenshot attached.

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): Windows 10
- Programming Language a

[2022-11-11 17:01] kuaashish commented on #3849
Hi @mustafa-ozlu,
Python 3.11 is not supported by Mediapipe yet. Please refer to [this](https://github.com/google/mediapipe/releases/tag/v0.8.9) document and use Python 3.7 to 3.9. Attaching the relevant thread #1325 for better understanding. Thank you!

[2022-11-11 17:07] kuaashish commented on #3847
Hi @mpuu00001,
Is it implemented through Python, Javascript or other solutions available? Could you please elaborate your query with complete details. Thank you!

[2022-11-11 19:13] DestroytheCity commented on #3844
Hi @kuaashish! We are running python on Ubuntu. Attached is a sample image
<img width="441" alt="Screen Shot 2022-11-11 at 11 13 01 AM" src="https://user-images.githubusercontent.com/114196168/201413750-4fdc3060-9f06-4809-8d46-0f4dd2fb54b9.png">

[2022-11-11 21:58] A7medAbdien commented on #2031
@459zyt

this the [MedeaPipe repository code](https://github.com/google/mediapipe/blob/340d7651af8caca795220b81124b2a3e557f4784/mediapipe/python/solutions/drawing_utils.py#L120) for `draw_landmarks` method

[code]

so we can draw them manually using our landmark_subset

[code]

[2022-11-11 23:08] davidcavazos commented on #1514
I was able to install `tensorflow-macos` (not `tensorflow`) following Apple's instructions here: https://developer.apple.com/metal/tensorflow-plugin/

However, when I try to `pip install` other packages requiring `grpcio` like `google-cloud-aiplatform`, I get errors while trying to compile `grpcio`. This has been rather frustrating, and I would expect TensorFlow working with Vertex AI running from

[2022-11-12 04:11] QuiLevitin opened #3850 "mediapipe android customize output packets"
Hello, i would like to create my own output stream from graph ("merged_landmarks" for ex.). How will I able to initialize this in addpacketcallback because it seems it is not yet defined somewhere in the mediapipe workspace aside from the graph. thank you very much.

Here is my modified holistic_tracking_to_render_data.pbtxt with the "merged_landmarks" output stream in middle part
![image](https:/

[2022-11-12 07:39] kinsei0916 commented on #3830
Drop-in patch for this

[code]

[2022-11-12 08:18] davideloba commented on #2506
thanks to @Wei-1 and @ButzYung
[this](https://github.com/davideloba/facemesh) is my test with patched facemesh

[2022-11-12 12:03] kteriusghub commented on #1625
Hi @sureshdagooglecom , I don't look for this resolution on this issue more.

[2022-11-12 12:03] #1625 closed

[2022-11-12 13:54] Zhang-Tianxu commented on #2963
I had the exact opposite situation，I delete `React.StrictMode`, and the error disappeared, that's weired.

thanks!

[2022-11-12 14:02] QuiLevitin commented on #3850
I just want to close this problem because I forgot to update the binarypb from Android Studio which solves the issue. Thank you and happy Coding!

[2022-11-12 14:02] #3850 closed

[2022-11-12 15:42] jlouw2 opened #3851 "Linker error compiling MediaPipe face detection on Windows"
Environment:
OS: Windows 11
Compiler: Visual Studio 2022
Programming language: C++, 64-bit build
Bazel version 5.3.2
OpenCV version 3.4.16
Python version 3.10

Build command:
bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 --action_env PYTHON_BIN_PATH="C://Program Files//Python310//python.exe" mediapipe/examples/desktop/face_detection:face_detection_cpu

Problem:
face_detection_options_registr

[2022-11-12 16:01] philipmortimer commented on #2963
That's great. Turns out there was a typo in my original answer. I would like to clarify that I fixed my issue by deleting React.StrictMode. So, if you want a quick fix, DELETE React.StrictMode. Apologies about the type and glad it worked in your case!

[2022-11-12 16:43] mpuu00001 commented on #3847
Hi @kuaashish,
I would like to implement it through Python. My original idea is to compute the Euclidean distances between each point and set a threshold to determine if they overlapped with each other. However, there are many flaws in this idea. For example, this method cannot tell whether two points are just too close to each other or which point is the occluded point or which point is the one t

[2022-11-12 22:16] moheydy commented on #1369
After many years still you don't support of Unity 😐, I'm  sure
The number of Unity developers who need mediapipe is 5 times that of Java and Android Studio ,objectron and body detection is really need for Ar and Xr Applications

[2022-11-13 00:12] zan-dong commented on #1325
This really help me sooo much!thx

[2022-11-13 11:12] mrks89 opened #3852 "Python for Android Wrong Build Version"
**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4):
Linux Ubuntu 22.04.1 LTS
- Compiler version (e.g. gcc/g++ 8 /Apple clang version 12.0.0):
gcc 11.3.0
- Programming Language and version ( e.g. C++ 14, Python 3.6, Java ):
-Python 3.10.6
- Installed using virtualenv? pip? Conda? (if python)

[2022-11-14 02:14] saiedg commented on #3415
@SajjadAemmi  Any update on this?

[2022-11-14 02:21] beakyangsu commented on #3840
@kuaashish

I created APK using custom code above.
Error occured when right after APK started.

1. create FrameProcerror
[code]

2. create ExternalTextureConverter
[code]

3. create OutputView
[code]

4.  register OutputSurface for FrameProcessor and register inputSurface for  ExternalTextureConverter
[code]
I used setSurfaceTexture(), not setSurfaceTextureAndAttachToGL() as example for resgister