[2021-07-18 21:47] jiapei100 commented on #2102
@LORDVINCE
You know what are the exact difference between rules_foreign_cc v0.1 and v.04?
I also want to use the **NEWEST** v0.4, instead of v0.1 . How to do that?

[2021-07-18 22:23] jiapei100 opened #2307 "rules_foreign_cc-0.4.0 fails with ERROR: error loading package '': cannot load '@rules_foreign_cc//:workspace_definitions.bzl': no such file"
Hey, all:

I was trying to update some of packages in file **WORKSPACE** for **mediapipe**. When I was testing **rules_foreign_cc**, I just noticed if I upgrade the version from **0.1.0** to **0.4.0** as follows,

[code]

I got the following **ERROR** messages:

[code]

It looks very similar to the issue here: https://github.com/google/mediapipe/issues/902

Can anybody give me a hand please?

[2021-07-18 22:39] jiapei100 opened #2308 "Failed to build mediapipe with tensorflow lite??"
[code]

Did anybody meet similar issue?
Thank you ...
Pei

[2021-07-19 00:06] jiapei100 commented on #2307
Got it ...
https://github.com/bazelbuild/rules_foreign_cc/releases

[2021-07-19 00:06] #2307 closed

[2021-07-19 00:37] jiapei100 opened #2309 "How to "include ./" ?"
[code]

[2021-07-19 02:04] qichuangguo commented on #2296
processor.addPacketCallback("face_landmarks", new PacketCallback() {
            @Override
            public void process(Packet packet) {
                List<LandmarkProto.LandmarkList> vectorOfPackets = PacketGetter.getProtoVector(packet, LandmarkProto.LandmarkList.parser());
            }
        });

 PacketGetter.getProtoVector(packet, LandmarkProto.LandmarkList.parser());  in  byte[][] pro

[2021-07-19 03:31] carter54 opened #2310 "channel error when using bilateral_filter_calculator"
Hi there,

I tried to add the bilateral filter in my segmentation task. Following channel number error raise:
[code]
I checked my input channel is 1 (output from selfie segmentation task)...

Then I found this line in bilateral_filter_calculator.cc
https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a479407c699e424aa7/mediapipe/calculators/image/bilateral_filter_calculator.cc#L243
It se

[2021-07-19 04:14] sgowroji commented on #2239
Have you tried  using [this](https://stackoverflow.com/questions/7028185/android-thread-modify-edittext)

[2021-07-19 04:50] sgowroji commented on #2296
Hi @qichuangguo, You can try something like [this](https://github.com/google/mediapipe/issues/454#issuecomment-585537487) and https://github.com/google/mediapipe/issues/488

[2021-07-19 05:08] sgowroji commented on #2295
Hi @gyuhui, Could you please point out which colab you used from [here](https://google.github.io/mediapipe/solutions/pose) with your code changes on top of it.  And also share your use case for those code changes. Thanks!

[2021-07-19 05:11] sgowroji commented on #2297
Hi @angistu, Could you please provide the steps to reproduce the above error. Thanks!

[2021-07-19 05:18] sgowroji commented on #2298
@hotuemon, Issue either because of multiple python versions installed.  Duplicate of https://github.com/google/mediapipe/issues/2284

[2021-07-19 05:21] sgowroji commented on #2299
Hi @qiangieee, Could you please provide the exact sequential steps to reproduce the above error. Thanks!

[2021-07-19 05:23] sgowroji commented on #2300
Hi @dibet, Could you please elaborate your use case with complete details. And mention the MediaPipe usability from the above request.

[2021-07-19 05:28] qichuangguo commented on #2296
Thank you for your reply. I want to get the specific coordinates, which are different from this like content

[2021-07-19 05:29] sgowroji commented on #2301
Hi @senshin998, Could you please provide the steps to reproduce the above error. Thanks!

[2021-07-19 05:32] sgowroji commented on #2303
Hi @mstfabbstbr, Could you please provide the steps to reproduce the above error and also point us to the github changes.

[2021-07-19 05:38] qichuangguo commented on #2296
Changed their own code：

 processor.addPacketCallback("face_landmarks", new PacketCallback() {
            @Override
            public void process(Packet packet) {
                byte[] protoBytes = PacketGetter.getProtoBytes(packet);
                try {
                    LandmarkProto.LandmarkList landmarkList = LandmarkProto.LandmarkList.parseFrom(protoBytes);
                } catch (Inv

[2021-07-19 05:49] sgowroji commented on #2305
Hi @Pawandeep-prog, you can try this https://github.com/google/mediapipe/issues/2296#issuecomment-882234266

[2021-07-19 05:50] sgowroji commented on #2296
Glad to know that you resolved. We are closing this issue now.

[2021-07-19 05:50] #2296 closed

[2021-07-19 05:51] jaywalk1414 commented on #2283
@AzureRain1 thanks!!! The problem is solved.

[2021-07-19 05:51] #2283 closed

[2021-07-19 06:13] sgowroji commented on #2306
Hi @edib, How are you passing the image?   Try checking [this](https://google.github.io/mediapipe/solutions/pose#python-solution-api)

[2021-07-19 06:15] sgowroji commented on #2308
Hi @jiapei100, Could you please provide the steps to reproduce the above error. Thanks!

[2021-07-19 06:17] sgowroji commented on #2309
Hi @jiapei100, Could you please add the proper title and description for the above issue with complete steps to reproduce the above error. Thanks!

[2021-07-19 06:28] sgowroji commented on #2283
Hi @jaywalk1414, I was expecting some changes in your Proguard file. Glad to know you resolved. Could you please post the solution, That will help the community if the encounter similar problem.

[2021-07-19 06:32] #2256 closed

[2021-07-19 06:44] sgowroji commented on #2277
Hi @Moufdi96, I would request you to wait for a few more weeks, to get the best API update in Android. Otherwise, you can still move with my above approach by adding multi face and multi hand detection support in your solution using [this](https://github.com/google/mediapipe/issues/1691#issuecomment-797159603).

[2021-07-19 06:47] sgowroji commented on #2273
Check https://github.com/google/mediapipe/issues/1410 and  https://github.com/google/mediapipe/issues/1416

[2021-07-19 06:59] mstfabbstbr commented on #2303
i just following the [MediaPipe on iOS](https://google.github.io/mediapipe/getting_started/ios.html#custom-provisioning) to run a one of examples. which name is FaceEffect.
When i want to `python3 mediapipe/examples/ios/link_local_profiles.py` in terminal, the error shows me.
i found out the name in the `example_name` in the `link_local_profiles.py` is different with the `app_dir_name`.

### You h

[2021-07-19 08:30] Pawandeep-prog commented on #2305
Thanks a lot for your quick support. I actually found out the solution and it was not difficult at all.

[code]

by using above code I was able to solve that. Where OUTPUT_STREAM_NAME is the graph output such as face_detections.
and for using **NormalizedLandmarkList** you would have to add dependency :

`"//mediapipe/framework/formats:landmark_java_proto_lite",`

That's all to access values.
_If

[2021-07-19 08:31] #2305 closed

[2021-07-19 08:35] senshin998 commented on #2301
thanks for your Reply，sorry I can't ，it Appear  randomly  and  exception in  chrome console

[2021-07-19 08:38] connernam commented on #2274
@Rassibassi
I will check your repo. Thank you for your reply.

[2021-07-19 08:38] #2274 closed

[2021-07-19 09:52] Moufdi96 commented on #2218
@Monibsediqi  I tried you approach to retrieve input frames but it keeps crashing showing this log
"A/libc: Fatal signal 6 (SIGABRT), code -1 (SI_QUEUE) in tid 18307 (Thread-20), pid 18097 (m.example.testApp)"
Do you by any chance know the reason ?

[2021-07-19 10:21] Moufdi96 commented on #2165
@sohail-jogo I am getting the same error  "Fatal signal 6 (SIGABRT)" when I try to do this :

                @Override
                public void process(Packet packet) {
                        //viewGroup.removeAllViews();
                        bmp = AndroidPacketGetter.getBitmapFromRgb(packet);
                }
            });

have you by any chance figured it out ?

[2021-07-19 10:22] Kiru3014 commented on #943
still not able to remove the landmark from render
hand_tracking_mobile_gpu.binarypb file I am using

[2021-07-19 11:49] AzureRain1 commented on #2283
@sgowroji I assume he used my workaround, but what I described is a workaround not a solution. This should be properly fixed on Google side. Let me know if you need more information.

[2021-07-19 12:35] shreyas0906 commented on #348
hello @eknight7,

The links you've mentioned above are not found.
Could you please update them.

My questions are as follows:
1. I'm able to run  mediapipe on android and get the landmarks, however, I'd like to see the output without the SurfaceView.
2. I just want the landmarks(in like a List<>) without any rendering on to the screen.

Could please help me out on that.

Thanks,

Best regards,
Shr

[2021-07-19 14:03] shreyas0906 opened #2311 "Getting hand landmarks without rendering data to the screen.?"
<em>Please make sure that this is a feature request.</em>

**System information** (Please provide as much relevant information as possible)

- MediaPipe Solution (you are using):
- Programming language : C++/typescript/Python/Objective C/Android Java
- Are you willing to contribute it (Yes/No):

**Describe the feature and the current behavior/state:**

**Will this change the current api? How?**

*

[2021-07-19 15:33] Arezki93 opened #2312 "Hair segmentation with mediapipe on tensorflow lite"
Hi,

I am trying to use mediapipe's hair segmentation model in script but I am coming across the error of

RuntimeError:`` Encountered unresolved custom op: MaxPoolingWithArgmax2D.Node number 12 (MaxPoolingWithArgmax2D) failed to prepare.

can you please explain how did you created the without custom op version of the mediapipe model ?

[2021-07-19 16:48] roachsinai commented on #352
@yxchng have you try to convert tflite model to onnx? Which will add an extra split operation like below, and do you know what's the meaning?

![image](https://user-images.githubusercontent.com/9500049/126196534-87e69667-ae26-402f-a474-7e3ca8fdd034.png)

@yxchng @fanzhanggoogle any help will be appreciated!

[2021-07-19 18:37] Shounak-Ghosh commented on #1177
I have gotten [#867](https://github.com/google/mediapipe/pull/867) to work; It is essentially the same issue but for the FaceMesh desktop version. However, I'm not sure if it will transfer due to differences in the iris and FaceMesh graphs.

[2021-07-19 19:56] kostyaby commented on #2253
Thanks for validating this idea!

In addition to the "numerical instability of the pipeline" hypothesis, I'd like to add a hypothesis that there's something wrong with Z coordinate of the `eos_calculator` output (i.e. it doesn't follow the same conventions that are followed by the MP face landmark pipeline). I think it's a valid candidate too cuz you have literally overridden the Z coord in your l

[2021-07-19 19:59] kostyaby commented on #2304
Thanks for reaching out! This sounds like an issue with reading a file from a file system in Python, not a Face Geometry pipeline logic issue. @jiuqiant will be the person to help you navigate through this

[2021-07-20 01:00] ersaurabh101 opened #2313 "face liveliness test by blinking eye"
I am looking at this demo - https://storage.googleapis.com/tfjs-models/demos/face-landmarks-detection/index.html

How can i get a trigger when eye is blinked ?

If you can provide me any direction , it will be very helpful.

[2021-07-20 01:02] mcclanahoochie commented on #2310
Hi,
Thanks for bringing this to our attention. This is indeed a bug, and has now been fixed upstream. The next release of MediaPipe should contain the update.
Cheers

[2021-07-20 03:46] sgowroji commented on #2311
For Hand landmarks https://github.com/google/mediapipe/issues/2092.

[2021-07-20 04:27] lastsongforu opened #2314 "get stuck when using python api in subprocess"
I tried using mediapipe python api in a multi-processing framework, but some special problems appear.
I found when runing Hands module in a subprocess, sometimes it would cause program stuck when calling multiprocessing.Queue.get().
it appears after i process about 400-500 images.

the queue is not empty, and no error catched. just stuck when calling get()
when i replace the subprocess with a subt

[2021-07-20 05:27] sgowroji commented on #2312
Hi @Arezki93, Could you please provide the steps to reproduce the above error. Thanks!

[2021-07-20 05:36] sgowroji commented on #2314
Hi @lastsongforu, Could you please share any stack trace or logs  to explain your above  error.

[2021-07-20 05:48] jiapei100 opened #2315 "mediapipe/framework/port/build_config.bzl: Unable to find package for @com_google_protobuf//:protobuf.bzl: The repository '@com_google_protobuf' could not be resolved. and referenced by '//mediapipe/examples/desktop/hello_world:hello_world'"
**ERROR** message when `bazel run hello_world`.

[code]

I modified my **WORKSPACE** as:
- comment out all **protobuf** related lines
[code]
- manually add a new_local_repository
[code]

This will reproduce my **ERROR** message.  BTW, I thought it should be OK if I modify **protobuf** as the way of **ffmpeg** or **opencv** on this page [https://google.github.io/mediapipe/getting_started/install.ht

[2021-07-20 06:11] Kiru3014 commented on #2311
Hi @sgowroji, I am looking for output with the below points

1) I'm able to run the media pipe on android and get the landmarks, however, I'd like to see the output without the SurfaceView.
2) I just want the landmarks(in like a List<>) without any rendering on to the screen.

In 1st Point, if I disable frame layout rendering from the screen from XML i'm not able to deduct any hand points on

[2021-07-20 06:30] shreyas0906 commented on #2311
![mdp-1](https://user-images.githubusercontent.com/3739313/126272249-9a562131-ae52-4b32-8f44-35f3c065b29e.png)
![Screenshot_20210720-115434](https://user-images.githubusercontent.com/3739313/126272573-bebf4ca1-afbf-480b-9a86-1cb1b866fcfa.png)

When I run the MainAcitvity.java as is.. I'm able to get the landmarks without any problem in a List<> format.

But when i comment the the preview (line 218

[2021-07-20 06:46] sgowroji commented on #2313
Can you share your code changes which include MediaPipe scripts to understand the issue much better. Thanks!

[2021-07-20 06:50] ersaurabh101 commented on #2313
I tried to use this code but it doesnt trigger any message in console, if you can help and get it to work or something similar - https://gist.github.com/kleysonr/d75494f239ad0dce561a55a624920693

I just need a valid trigger on blink.

[2021-07-20 06:59] sgowroji commented on #2313
Hi @ersaurabh101, I don't see any MediaPipe CDN scripts added in the codebase.  And facemesh is taken from tensorflow model as stated below.  @tyrmullen Does this need any support from MediaPipe.

`
        <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/face-landmarks-detection@0.0.2/dist/face-landmarks-detection.min.js"></script>
`

[2021-07-20 07:02] sgowroji commented on #1162
Hi @CristianNCC, Have you got a chance to go through this [update](https://github.com/google/mediapipe/issues/1839#issuecomment-817253475).

[2021-07-20 07:05] ersaurabh101 commented on #2313
I am sorry for that, I tried to tell you what i am doing and what i need to achieve. I came to mediapipe from here- https://blog.tensorflow.org/2020/11/iris-landmark-tracking-in-browser-with-MediaPipe-and-TensorFlowJS.html

I just need help , want to catch when eye blinks, if possible. If not , you can close this
Regards

[2021-07-20 07:12] sgowroji commented on #2313
I would recommend you to use face mesh Javascript [solution](https://google.github.io/mediapipe/solutions/face_mesh.html#javascript-solution-api). Eye blinking you can notice this [point](https://github.com/google/mediapipe/issues/1678#issuecomment-811262438)  regarding the face mesh. Let us know if you are looking for anything more.

[2021-07-20 07:54] Arezki93 commented on #2312
Hi @sgowroji, thank you for the answer, here are the steps I followed :
1) I loaded the hair_segmentation.tflite file
2) I did a allocate_tensors() -> it generates an error (Encountered unresolved custom op: MaxPoolingWithArgmax2D.Node number 12 (MaxPoolingWithArgmax2D) failed to prepare)

`import tensorflow as tf`
`import numpy as np`
`interpreter = tf.lite.Interpreter('hair_segmentation.tflite')

[2021-07-20 08:15] z7212819 opened #2316 "Feasibility of Objectron support on iOS"
Hello, at present, my Objectron Android project has basically completed the required functions, but we need to use this function on the iOS side, so is there any way to provide the use scheme of Objectron on the iOS side, or to port the completed Android Studio project to the iOS side? Because I found that the most important part of Android project is the use of AAR package, but the iOS terminal d

[2021-07-20 09:15] rrrfffrrr opened #2317 "Graph does not call output callback"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Android
- [MediaP

[2021-07-20 09:23] sgowroji commented on #2317
Hi @rrrfffrrr, Could you please elaborate your use case with complete details.  Thanks!

[2021-07-20 09:43] rrrfffrrr commented on #2317
I approach with 3 stages to use mediapipe hand tracking with AR Core in Unity3D.
1. Using docker to build AAR for android in windows 10.
2. Import previous AAR output to the android studio project to make wrapper AAR.
3. Import two AAR in Unity3D to using it.

The first one is success and i got AAR file.

In the second stage, I make a class that provides interfaces that can control in Unity3D.
[co

[2021-07-20 09:45] rrrfffrrr commented on #2317
The activity is provided by following codes.
[code]

[2021-07-20 09:47] lastsongforu commented on #2314
@sgowroji I've solved it.

[2021-07-20 10:10] lastsongforu commented on #2314
@sgowroji thank you for reply. I've solved it now. but I think there still exist some problems.
the problem occurs when I initialize a detector **_detector = mediapipe.solutions.hands.Hand(args)_** in my sub-process, and then call **_detector.process(image)_** iteratively in my program. after several hundred times calling, the program will get stuck when calling **_mulitprocessing.Queue.get()_**
t

[2021-07-20 15:13] Zeller-zf commented on #1340
![image](https://user-images.githubusercontent.com/78690324/126349304-c12071ae-9226-4a77-80ed-53f5dbcb31f0.png)

[2021-07-20 15:46] mstfabbstbr commented on #2293
### SOLVED
i solved the my problem by checking these:

- XCode version must be 12.4
- reinstall MediaPipe
- reinstall python, and python version must be 3 and above
- reinstall tulsi
- generate the project by tulsi, and check the bundle id in `link_local_profiles.py` file by using this command line: `python3 mediapipe/examples/ios/link_local_profiles.py`

that's all, problem solved.

[2021-07-20 15:46] #2293 closed

[2021-07-20 16:04] mstfabbstbr commented on #2303
### SOLVED

I solved my problem with these steps:

- first reinstall mediapipe (this step is for who changed the mediapipe libraries or examples)
- delete the generated xcode project (this step is for who has generate the mediapipe project with tulsi)
- open tulsi, generate the mediapipe project as you know [Here](https://google.github.io/mediapipe/getting_started/ios.html#create-an-xcode-project)

[2021-07-20 16:04] #2303 closed

[2021-07-20 16:11] Zeller-zf opened #2318 "Also, I realize that some users launch the python runtime under the mediapipe repo, which might cause this issue."
Traceback (most recent call last):
  File "/home/pi/Desktop/hands.py", line 2, in <module>
    import mediapipe as mp
  File "/usr/local/lib/python3.7/dist-packages/mediapipe/__init__.py", line 16, in <module>
    from mediapipe.python import *
  File "/usr/local/lib/python3.7/dist-packages/mediapipe/python/__init__.py", line 17, in <module>
    from mediapipe.python._framework_bindings import res

[2021-07-20 16:12] mhays-google commented on #1427
Yes it is.  I've verified that I'm able to load the camera into iPad.
Getting an iPhone to test.

On Sun, Jul 18, 2021 at 3:19 AM Peter Wildman ***@***.***>
wrote:

[2021-07-20 16:31] jiuqiant commented on #2315
That's not the right way to do it.  If you want to use your own protobuf, please clone protobuf to your local directory and modify

[code]

See https://docs.bazel.build/versions/main/be/workspace.html#new_local_repository for more details.

[2021-07-20 16:37] Zeller-zf commented on #1340
I also have this problem.

[2021-07-20 16:43] realfolkcode opened #2319 "The number of detected hands is greater than max_num_hands"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): Yes
- OS Platfor

[2021-07-20 16:43] Zeller-zf commented on #2318
how to slove this?

[2021-07-20 16:43] vbartle commented on #1340
Please refer to:
https://github.com/google/mediapipe/issues/1346#issuecomment-852391743

and https://pypi.org/project/mediapipe-rpi4/

I believe this at least avoid the above errors.

[2021-07-20 16:46] jiuqiant commented on #2304
Currently, you need to import all the calculator options the graph uses in the python file to make it read the graph correctly. Here is how we do this for face mesh: https://github.com/google/mediapipe/blob/master/mediapipe/python/solutions/face_mesh.py#L23. We will have some improvements soon to do this automatically soon.

[2021-07-20 16:48] luizhss opened #2320 "Failed to build MediaPipe Python Package on Docker"
**System information:**

- Ubuntu 18.04
- MediaPipe v0.8.6
- Bazel 3.7.2
- Docker version 20.10.2, build 20.10.2-0ubuntu1~18.04.2

**Describe the current behavior:**

I'm trying to build python package just like [the docs](https://google.github.io/mediapipe/getting_started/python.html#building-mediapipe-python-package), but it keeps failing.

**Standalone code to reproduce the issue:**
I'm using t

[2021-07-20 16:48] Zeller-zf opened #2321 "how to slove this problem?"
Right, that's because the mediapipe repo has __init__.py files and the python interpreter reads them if you are launching the interpreter in the repo directory and the interpreter is confused by where the "_framework_bindings"  dynamic library is.

_Originally posted by @jiuqiant in https://github.com/google/mediapipe/issues/2318#issuecomment-883533925_

[2021-07-20 16:51] mhays-google commented on #1484
I don't know of any blogs using React, and we are't officially supporting any collaboration with React.  But I can say that any work done within this tight loop is going to adversely affect performance.   My suggestion is to remove everything but the basic loop, adding steps one by one to see where the frame rate drops.

I'm interested in what you find, but I do need to close this as it isn't an a

[2021-07-20 16:51] #1484 closed

[2021-07-20 16:56] #2321 closed

[2021-07-20 16:56] Zeller-zf opened #2322 "how to solve this problem?"
Right, that's because the mediapipe repo has __init__.py files and the python interpreter reads them if you are launching the interpreter in the repo directory and the interpreter is confused by where the "_framework_bindings"  dynamic library is.

_Originally posted by @jiuqiant in https://github.com/google/mediapipe/issues/2318#issuecomment-883533925_

[2021-07-20 17:05] mhays-google commented on #2261
Interesting.  is code.mediapipe.dev/codepen/pose working for you?  Is it a
possible caching issue with control_utils_3d.js? Try

[code]

If I can recreate this, I can help.

On Thu, Jul 15, 2021 at 10:33 AM Rasmus Jones ***@***.***>
wrote:

[2021-07-20 17:07] mhays-google commented on #1654
The z coordinate is unfortunately not a metric coordinate, it truly is a
normalized, relative coordinate.

Pose has recently introduced metric coordinates into its landmarks, and
since the same model is used in our holistic solution which also includes
hands, it's possible that this will become a thing.  But no timetable on
this right now.

On Wed, Jul 14, 2021 at 9:04 PM GowrojiSunil ***@***.***>

[2021-07-20 17:07] #1654 closed

[2021-07-20 17:10] Zeller-zf commented on #1340
actually,I follow the step. However, I still got a problem.
Traceback (most recent call last):
  File "/home/pi/Desktop/hands.py", line 2, in <module>
    import mediapipe as mp
  File "/usr/local/lib/python3.7/dist-packages/mediapipe/__init__.py", line 16, in <module>
    from mediapipe.python import *
  File "/usr/local/lib/python3.7/dist-packages/mediapipe/python/__init__.py", line 17, in <modu

[2021-07-20 17:10] mhays-google commented on #2181
Will add default values for modelcomplexity -- will be available this week.

[2021-07-20 18:35] jiapei100 commented on #2315
@jiuqiant
Thank you...
Now, I have

[code]

I still obtained the following ERROR messages

[code]

[2021-07-20 18:50] jiuqiant commented on #2315
You have "com_google_protobuf_javalite". But, "com_google_protobuf" is still missing.

[2021-07-20 19:15] jiapei100 commented on #2315
@jiuqiant

Great.... It's **NOW**

[code]

[2021-07-20 19:24] jiapei100 commented on #2315
@jiuqiant

Thank you ...

Now, it's running...

[code]

Why there is **NO hello world** printed out?

[2021-07-20 19:25] jiapei100 commented on #2315
@jiuqiant

BTW, **mediapipe** still failed to build

[code]

[2021-07-20 19:31] jiuqiant commented on #2315
You need to do `export GLOG_logtostderr=1`.  It's documented in the step 5 of https://google.github.io/mediapipe/getting_started/install.html#installing-on-debian-and-ubuntu.

[2021-07-20 19:40] jiuqiant commented on #2315
Yes, you can. But, please patch all the changes of https://github.com/google/mediapipe/blob/master/third_party/org_tensorflow_compatibility_fixes.diff and https://github.com/google/mediapipe/blob/master/third_party/org_tensorflow_objc_cxx17.diff to your local version of tensorflow.

[2021-07-20 19:47] jiuqiant commented on #2318
You can leave the mediapipe repo and retry it in another directory such as the home directory.
If you still get problem, please provide your system info and all the steps to reproduce this issue.

[2021-07-20 19:48] #2322 closed

[2021-07-20 19:54] jiuqiant commented on #2320
See a similar one at https://github.com/alandefreitas/matplotplusplus/issues/33.
You can try disabling OpenEXR by adding  `"WITH_OPENEXR": "OFF"` at https://github.com/google/mediapipe/blob/master/third_party/BUILD#L110

[2021-07-20 20:07] sradc opened #2323 "Multiprocessing bug - FaceMesh works for a while, but then hangs / gives error"
**System information**

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): yes, but not much
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Ubuntu 18.04.5 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: n/a
- Browser and version (e.g. Google Chrome, Safari) if the iss

[2021-07-20 22:03] matthewn4444 opened #2324 "Failing to build macos dylib"
**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): MacOS 11.4
- Compiler version (e.g. gcc/g++ 8 /Apple clang version 12.0.0): XCode 12.3
- Programming Language and version ( e.g. C++ 14, Python 3.6, Java ): bazel
- Installed using virtualenv? pip? Conda? (if python): 3.9.1
- [MediaPipe ve

[2021-07-20 23:52] luizhss commented on #2320
It fixed the bug. I'd to reinstall bazel and gcc. However, I'm facing a new issue now:

<details><summary>log error</summary>
<p>

[code]
</p>

[2021-07-21 00:40] Zeller-zf commented on #2318
Thank you very much, I will try it later.

[2021-07-21 00:50] RafaelMiquelino commented on #2304
Thanks, it did the trick.

[2021-07-21 00:50] #2304 closed

[2021-07-21 01:25] jiapei100 commented on #2315
@jiuqiant

**tensorflow** rebuilt with those 2 patches, but still get the following error messages:

[code]

[2021-07-21 01:28] Enmin opened #2325 "AAR example build takes too much time"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4):
- Compiler version

[2021-07-21 01:32] luizhss commented on #2320
Solved the error using [this comment](https://github.com/google/mediapipe/issues/2041#issuecomment-844129267).

[2021-07-21 01:35] jiuqiant commented on #2315
According to the error message, you don't set the right name. It needs to be "org_tensorflow".

[2021-07-21 01:36] rrrfffrrr commented on #2325
For me, It takes almost 30 minutes to build AAR in docker with Ryzen 3700X.

[2021-07-21 01:43] Enmin commented on #2325
Wow, which aar did you build? I built handdetection and handtracking. During compiling, it shows I need to compile around 7k files. My laptop was Lenovo legion r7000.

[2021-07-21 02:05] rrrfffrrr commented on #2317
Is ExternalTextureConverter does not provide any packet unless calling setSurfaceTextureAndAttachToGLContext or setSurfaceTexture?

I think the graph is not working because input stream not provided.
I'm currently testing for it.

[2021-07-21 02:15] rrrfffrrr commented on #2325
I just following the document [android_archive_library](https://google.github.io/mediapipe/getting_started/android_archive_library.html) but change face_detection to hand_tracking.

[2021-07-21 02:18] junnikokuki commented on #2325
More than 10 hours too. I use docker with no limit, I9-9900K, 16G with 2080Ti.

[2021-07-21 02:31] junnikokuki opened #2326 "Android AAR built with MEDIAPIPE_DISABLE_OPENCV ON running failed"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4):
- Compiler version

[2021-07-21 02:38] rrrfffrrr commented on #2317
Calling setSurfaceTexture doesn't work.
ExternalTextureConverter don't calling TextureFrameConsumer callback.

[2021-07-21 03:02] rrrfffrrr commented on #2317
I observed output_video callback called using direct add packet with packetCreate.createGpuBuffer(textureName, width, height, null) not with ExternalTextureConverter.
But `OUTPUT_LANDMARKS_STREAM_NAME = "hand_landmarks"` callback does not called.

[code]

[2021-07-21 04:10] rrrfffrrr commented on #2317
Interesting debuging output.
Some output streams that is defined in handtracking like hand_landmarks. handedness don't invoke callbacks.
While palm_detections or output_video invoke callbacks.

But the output streams defined in binarypb

Full text copy of binarypb
[code]

[2021-07-21 04:14] lottopotato commented on #1957
Hi @qllb, I face same problem. Have you solved it?

[2021-07-21 05:57] jiapei100 commented on #2315
@jiuqiant

Now, I uncommented **tensorflow**, and let **mediapipe** download **tensorflow source**:

[code]

I still got some **ERROR** messages:

[code]

[2021-07-21 06:27] sgowroji commented on #2319
Hi @realfolkcode, May be you code  should append the values in your **get_center** function. It is raised when you try to assign an item to an index position that does not exist.

[2021-07-21 06:29] sgowroji commented on #2320
Glad to know you resolved. We are closing this issue now.

[2021-07-21 06:29] #2320 closed

[2021-07-21 06:40] vasanthhr opened #2327 "hand web-demo error on chrome browser and unable to load the hand demo"
The hand web demo is not working on chrome browser. And getting these errors on the console.

chrome versions:  92.0.4515.107, 91.0.4472.164

[code]

[code]

[code]

[2021-07-21 06:49] realfolkcode commented on #2319
Hi. Yes but what about len(multi_hand_landmarks) being equal to 3?

[2021-07-21 07:18] sgowroji commented on #2325
Hi @Enmin, Have you encountered any error while building the AAR. Please share if there are any.

[2021-07-21 07:21] sgowroji commented on #2326
Hi @junnikokuki, Could you please provide the logs to understand the issue much better. Thanks!

[2021-07-21 07:23] Enmin commented on #2325
I have not encounter any error but some warnings. My ndk version is r19c.

[2021-07-21 07:26] sgowroji commented on #2327
Hi @vasanthhr, Please have a look at this references https://github.com/google/mediapipe/issues/2189#issuecomment-880112598,  https://github.com/google/mediapipe/issues/1727#issuecomment-799844456

[2021-07-21 07:41] junnikokuki commented on #2326
There is no log, sorry, but this is because the libmediapipe_jni.so is still linking with libopencv3.so even though MEDIAPIPE_DISABLE_OPENCV is set to 1. Maybe the MEDIAPIPE_DISABLE_OPENCV is not fully support the face mesh, lacking document.

[2021-07-21 07:57] Rassibassi commented on #2261
Hi again,

I don't have a webcam on this machine, but will try with another machine later if that codepen works.

However, since we are using react, we are not including the `control_utils_3d.js` via a `script` tag, but through the package manager/npm.

Here is a minimal setup to recreate the error: https://github.com/Rassibassi/mediapipeReactPoseDebug

[code]

Thanks,
Rasmus

[2021-07-21 08:13] #2247 closed

[2021-07-21 08:17] sgowroji commented on #2326
Hi @junnikokuki, Could you please point us the documentation of the command you are trying and let us know your use case with disabling the opencv?

[2021-07-21 08:20] sgowroji commented on #2325
We are not sure what could be the problem unless if there are any error logs you encounter while building the AAR. By the way there are only two steps for doing this as stated in our [documentation](https://google.github.io/mediapipe/getting_started/android_archive_library.html#steps-to-build-a-mediapipe-aar). Let us kow if there are any addons or code changes on top of it.

[2021-07-21 08:22] Kiru3014 commented on #2311
Hi @camillol any update on this

[2021-07-21 08:25] sgowroji commented on #2317
Hi @rrrfffrrr, could you please share the graph changes.

[2021-07-21 08:31] rrrfffrrr commented on #2317
@sgowroji Here's BUILD file and build script

AAR built with Docker Desktop WSL 2 backend
:~/Dev/mediapipe/mediapipe$ git log
commit 374f5e2e7e818bde5289fb3cffa616705cec6f73 (HEAD -> master, tag: v0.8.6, origin/staging, origin/master, origin/HEAD)

[code]

[code]

[2021-07-21 08:35] rrrfffrrr commented on #2317
Here's AndroidManifest.xml in Wrapper AAR used.

[code]

And assets
![Assets](https://user-images.githubusercontent.com/11633118/126458133-f915cdca-7edd-4cb5-bc30-b6b285d038e6.png)

[2021-07-21 08:53] donghua6428 commented on #1380
kCVPixelFormatType_32ARGB to kCVPixelFormatType_32BGRA(default in mediapipe),but also report err like: gl_context.cc:803] Found unchecked GL error: GL_INVALID_ENUM , did you resolve this ?

[2021-07-21 09:41] Kiru3014 commented on #2311
@sgowroji Please help to resolve this issue?

[2021-07-21 09:57] sgowroji commented on #2254
Hi @Rassibassi, Thank you for your contribution the demo  really would help the community.

[2021-07-21 10:03] sgowroji commented on #2260
Hi @gtaws2, Instead of **integrated Camera** from the dropdown controllers, Can you check the same build with other **built in camera** .

[2021-07-21 10:17] sgowroji commented on #2219
Is the issue with Rockchip, have you tried upgrading the firmware. see https://github.com/google/mediapipe/issues/1060#issuecomment-686669385

[2021-07-21 12:38] veetechh opened #2328 "Mediapipe Hand tracking is not working on Android Chrome 91 & 92"
The hand tracking is not detecting hand on android chrome 91 version, it gives random points as shown in the screenshot below.

![processed](https://user-images.githubusercontent.com/19422397/126489589-0b248e7c-a807-4eb4-bfa2-ee2f151c2308.jpeg)

[2021-07-21 13:39] MrNeither commented on #2285
Do not close it, I did not succeed

[2021-07-21 14:25] hotuemon commented on #2298
Thank you for your reply. I was able to solve this problem with the following command:
`$ cd /usr/bin/`
`$ sudo ln -s /usr/bin/python3 ./python`

[2021-07-21 14:25] #2298 closed

[2021-07-21 16:10] mhays-google commented on #2260
Can you tell me which OS / browser you specifically used to get this error?  Selfie segmentation has an issue on Safari right now because I can't return more than one texture from our graph using my current strategy.  I have a workaround, but performance is terrible right now so I'm still investigating.

This is on my short list of things to get working (I'm getting the other demos working on iOS

[2021-07-21 16:19] jiuqiant commented on #2326
This is for a new flag for reducing the package size when only gpu graphs are needed. We don't document this because it's currently for internal use.

[2021-07-21 16:23] jiuqiant commented on #2315
"face_detection_short_range_cpu" should not touch OpenGL. Do you modify the original code?
Similar to https://github.com/tensorflow/tensorflow/issues/46650 and  https://github.com/google/mediapipe/issues/1042, you need to add '--copt=-DMESA_EGL_NO_X11_HEADERS' and '--copt=-DEGL_NO_X11' to setup.py to use gpu graphs.

[2021-07-21 17:50] jiapei100 commented on #2315
@jiuqiant
Thank you so much...

It's moving forward a bit, now:

[code]

It looks now it comes back to my this issue: https://github.com/google/mediapipe/issues/2309

[2021-07-21 19:49] sradc commented on #2323
Update:

I can reliably reproduce this on the Ubuntu machine, when I use the Python environment I've been using.

But:
- I haven't yet reproduced this on a Colab instance (2 workers, same code as above)
- Haven't reproduced on an M1 Mac (under Rosetta 2 x86 emulation, same code as above)
- Using a different Python environment on the Ubuntu machine (installed a new miniforge env and mediapipe)

[2021-07-21 21:53] francoisbonnard commented on #1293
Hi @sgowroji . Following the idea of Daniel @delebash I would like to help if needed for Maya. My concern is more about facial meshing and how to import data inside Maya so we can adjust 3D models on an image sequence (or real time)

[2021-07-22 00:56] gtaws2 commented on #2260
Thank you @mhays-google !
Yes, it's not working with Safari. But I tested with Edge just before, it's worked!!
Thank you very much and I'm waiting for Safari to work.

[2021-07-22 01:35] junnikokuki commented on #2326
OKey, when will this flag go public? Or any flag that can link the opencv static?

[2021-07-22 02:28] aa12356jm commented on #127
this approach for 2d coordinates  is ok？thanks

[2021-07-22 02:34] FFFOCUS commented on #2281
I find the solution, thanks 😊 🙏 has been

[2021-07-22 02:34] #2281 closed

[2021-07-22 02:59] JuliaPoo commented on #127
The above is more of a hack for back when mediapipe did not support handedness. It works by finding if the fingers are behind or in front of the palm, so it would not work for 2D coordinates. Mediapipe now supports handedness so I don't recommend you to use my code.

[2021-07-22 03:04] jiuqiant commented on #2315
Could you list all your local changes and the steps to reproduce this? I am not sure why you run into this issue. If you build this in the unmodified mediapipe repo, mediapipe/framework/port/opencv_core_inc.h exists at https://github.com/google/mediapipe/blob/master/mediapipe/framework/port/opencv_core_inc.h.

[2021-07-22 04:15] sgowroji commented on #2328
Hi @veetechh, Could you please share your code  and graph changes, if there are any. Thanks!

[2021-07-22 04:18] sgowroji commented on #1347
Hi @cmfcm, Could you please test the same with the latest release and let us know if you still see any less inference speed as compared to previous.  We are improving our solutions continuously in all platforms to give the community better products.

[2021-07-22 04:18] #1347 closed

[2021-07-22 04:19] jiapei100 commented on #2315
@jiuqiant

My modification is here: https://github.com/LongerVision/mediapipe

[2021-07-22 04:30] sgowroji commented on #1364
Hi @danhd123, Could you please check the above issue with the latest IOS release and confirm you still see the same. Thanks!

[2021-07-22 05:15] sgowroji commented on #1093
Hi @lovehuanhuan, Could you please respond whether you see the same error with the latest release and  let us know on it. Thanks!

[2021-07-22 05:15] #1093 closed

[2021-07-22 05:17] sgowroji commented on #1089
Assuming the above issue resolved with this [comment](https://github.com/google/mediapipe/issues/1089#issuecomment-712356798). We are closing this issue now.

[2021-07-22 05:17] #1089 closed

[2021-07-22 05:23] sgowroji commented on #1055
As the above [comment](https://github.com/google/mediapipe/issues/1055#issuecomment-782369659) addressing your request. We are closing this issue now. Please feel free to reach us back if you still have any further queries.

[2021-07-22 05:23] #1055 closed

[2021-07-22 05:29] sgowroji commented on #1033
Hi @shortcipher3, Could you please confirm your issue status. Reach us back if you still looking answer for the above query. Thanks!

[2021-07-22 05:29] #1033 closed

[2021-07-22 05:52] sgowroji commented on #1203
Hi @Nvelu048, Could you please respond if you still looking answer for the above query. Thanks!

[2021-07-22 06:02] sgowroji commented on #1970
Hi @ivanmang, Could you respond if you are still looking update for the above query. Thanks!

[2021-07-22 06:05] sgowroji commented on #1979
Hi @samlaf, Could you please confirm if you are still seeing the above issue with the latest release. Thanks!

[2021-07-22 06:09] sgowroji commented on #1991
This will resolve your query https://google.github.io/mediapipe/getting_started/gpu_support.html#tensorflow-cuda-support-and-setup-on-linux-desktop

[2021-07-22 06:09] #1991 closed

[2021-07-22 08:03] pseudo-jay opened #2329 "HelloWorld on M1 Mac"
**SYSTEM INFORMATION**
- Device: Mac mini M1
- MacOS Big Sur
- XCode 12.5.1 and cmake 3.21.0
- Python 3.9.6
- Installed using virtualenv? pip? Conda? (if python): brew
- [MediaPipe version](https://github.com/google/mediapipe/releases): 0.8.6
- Bazel version: 4.1.0
- XCode and Tulsi versions (if iOS): 12.5.1 and tulsi from git
- OpenCV version (if running on desktop): OpenCV@3

**PROBLEM**:
After

[2021-07-22 08:19] rrrfffrrr commented on #2317
@sgowroji I solve the problem.

When using `eglManager(null)`, texture name is differ to unity GL so graph cannot using it.
`EglManager(EGL14.eglGetCurrentContext())` without multithreaded rendering will be works well and got palm and landmarks.

[code]

But i don't know why there's no error even GL context does not have that texture.

[2021-07-22 09:14] sgowroji commented on #2329
The error is a 404 Not Found issue during downloading the external dependencies. Please check your network connection and retry. And also try the same steps with VPN if you have any gateway blocked while downloading the dependencies. Thanks!

[2021-07-22 09:31] ahres6618 commented on #2067
does someone find the solution ??
I have the same issue

[2021-07-22 09:37] danhd123 commented on #1364
Yes, the issue is still present.

[2021-07-22 09:58] z7212819 opened #2330 "How to solve the problem of rough shoe model"
Hello, after I used obj_parser for format conversion, I found that there is a big gap between the display effect of my shoe model and the shoe model that comes with the frame. How can I solve this problem?
![1](https://user-images.githubusercontent.com/75053001/126621636-1a376e63-562e-415b-a647-66bc1cc760ac.jpg)
![2](https://user-images.githubusercontent.com/75053001/126621655-5b3f9722-bd49-46a4-b

[2021-07-22 10:07] sergak0 commented on #2041
Thank you, it is a great idea to run it into docker. But threre is problem, when i run "python3 setup.py bdist_wheel" inside container and i don't know how to fix it.

<details>
    <summary> Error output</summary>

/usr/local/lib/python3.6/dist-packages/setuptools/dist.py:502: UserWarning: The version specified ('0.8.4-cuda10.1') is an invalid version, this may not work as expected with newer ver

[2021-07-22 10:28] Kiru3014 commented on #2311
@sgowroji can u help to get any update on this I try all solution available on internet its not working

[2021-07-22 10:42] pseudo-jay commented on #2329
Thank you @sgowroji for pointing out. Cleaning Bazel cache and running Bazel again solved 404 error. But other errors still persist

**LOG**
[code]

[2021-07-22 10:49] sgowroji commented on #2276
Hi @sankarbha, Above error  is resolved, you can see the url working fine in the next release. We are closing this issue now. Thanks

[2021-07-22 10:49] #2276 closed

[2021-07-22 10:52] sgowroji commented on #2329
@pseudo-jay  it seems like your xcode command line tools is not installed. Can you verify it once.

[2021-07-22 10:55] pseudo-jay commented on #2329
@sgowroji Xcode command line tools are installed.

[2021-07-22 10:58] pseudo-jay commented on #2329
I came across a similar question posted on StackOverflow (https://stackoverflow.com/questions/67660034/how-to-run-mediapipe-with-c-on-m1-mac) a month ago. No solutions yet.

[2021-07-22 12:23] sergak0 commented on #2041
Thank you, it is a great idea to run it into docker. But threre is problem, when i run "python3 setup.py bdist_wheel" inside container and i don't know how to fix it.

<details>
    <summary> Error output</summary>

/usr/local/lib/python3.6/dist-packages/setuptools/dist.py:502: UserWarning: The version specified ('0.8.4-cuda10.1') is an invalid version, this may not work as expected with newer ver

[2021-07-22 12:31] sohail-jogo commented on #2165
No man. I have been stuck for a month now. No solution.
Meanwhile, I am trying to work with Movenet, it seems promising.

[2021-07-22 12:32] sohail-jogo commented on #2165
If you find a solution, then please let me know here as well. I'd be grateful.

[2021-07-22 12:32] JBHua commented on #270
I'm getting the exact same behavior. To be more specific, I can EITHER save the video successfully and get a black screen preview OR I can set up the preview without error while the saved video is corrupted. I failed to achieve both goals at the same time.

My guess is that one Surface can only be connected to one output, but having a preview and recording a video essentially needs us to connect t

[2021-07-22 13:39] veetechh commented on #2328
I followed this example.

https://codepen.io/mediapipe/pen/RwGWYJw

[2021-07-22 16:22] jiuqiant commented on #2326
We plan to remove the opencv dependency. So, optimizing the way to link opencv is not on the roadmap.

[2021-07-22 16:22] #2326 closed

[2021-07-22 16:35] jiuqiant commented on #2315
You change has 23 files with 1494 additions and 331 deletions. Sorry, I just can't follow what you do... Let's take one step back, why do you need to make those changes?

[2021-07-22 16:48] jiuqiant commented on #2329
Looks like  @autoreleasepool is not correctly expanded. Maybe you can hack https://github.com/google/mediapipe/blob/master/mediapipe/framework/scheduler_queue.cc#L29 to be "#define AUTORELEASEPOOL " to see if the error can be solved.

MediaPipe currently doesn't have the official support of apple silicon devices.
I personally don't have any devices to test. Apologize that I can't provide more usef

[2021-07-22 21:19] prantoran commented on #877
@sgowroji I saw the comment, I am working on it. I did make some progress by gradually adding dependencies and fixing bugs.

[2021-07-23 00:29] mhays-google commented on #2260
Working on iOS / Safari support for all of this as we speak.  Safari for
selfie segmentation has a secondary issue we need to address, but we're
hoping to have updates in the next week or so.

On Wed, Jul 21, 2021 at 5:56 PM gtaws2 ***@***.***> wrote:

[2021-07-23 02:05] kostyaby commented on #2313
Hey @ersaurabh101,

Unfortunately, I can't help you with other person's code. Please, contact that person directly to get a fix

That can be done using MediaPipe JS solution mentioned by @sgowroji (please, explore the links in https://github.com/google/mediapipe/issues/2313#issuecomment-883153031). To detect if someone blinked, you probably need to work with landmarks from the `FACEMESH_LEFT_EYE `

[2021-07-23 02:45] miftahulbagusp opened #2331 "Error creating uuu file using ObjParser"
I'm trying to create a uuu file in objectron (object_detection_3d) using ObjParser. I tried to follow the documentation by writing the command:

`bazel run -c opt mediapipe/graphs/object_detection_3d/obj_parser:ObjParser -- input_dir=[INTERMEDIATE_OUTPUT_DIR] output_dir=[OUTPUT_DIR]`

But I get an error:
`Error: Must provide input directory with --input_dir=`

And if I change the command to someth

[2021-07-23 02:49] glnmzx888 commented on #1998
Thank you (@chuoling)  very much for your reply!

The readme file has provided the information on the training dataset and the detailed model algorithm. However, certain information that we are looking for, in particular things like intended use cases or limitations, potential pitfalls, and performance characteristics, is missing. Such information/attributes are part of the model card information

[2021-07-23 03:40] afsaredrisy commented on #270
Here is work around I did you can check it, It is build with older version of Mediapipe but you can use the same approach with new also.
https://github.com/afsaredrisy/MediapipeSegmentationGradle

[2021-07-23 03:56] natarajakm opened #2332 "ARM Mali G51 GPU"
Hi
I am using custom arm based board with Mali G51 GPU.
GPU spec available @ https://developer.arm.com/ip-products/graphics-and-multimedia/mali-gpus/mali-g51-gpu
so we cross compiled desktop version of mediapipe to our board with openCV.
the issue is, inference is failing. same code works on desktop with Nvidia Graphics card.
Mali G51 GPU is support OpenGL ES 3.2. I tested handtracking CPU version

[2021-07-23 04:05] sgowroji commented on #2331
Hi @miftahulbagusp, Have you followed the steps mentioned over [here](https://google.github.io/mediapipe/solutions/objectron.html#assets)

[2021-07-23 04:27] miftahulbagusp commented on #2331
Yes, I followed the documentation that was there.

[2021-07-23 04:49] sgowroji commented on #2332
Hi @natarajakm, Could you please add the failing logs to understand the issue much better. Thanks!

[2021-07-23 05:11] natarajakm commented on #2332
hi @sgowroji,
it is not crashing or failing
in final output annotation are not drawing

after debug i noticed  in tensors_to_detections_calculator.cc ...
in this function

**detection_scores[i] < options_.min_score_thresh()) {**

for every frame detection_scores is less than min_score_thresh so is continue from here.
because of this in output plain video only appears not annotation marks.
is it My

[2021-07-23 05:16] natarajakm commented on #2332
this my GPUs OpenGl ES extentions list,

I think it supports float16 textures ... is this a problem

I20200101 00:29:52.946300 12987 gl_context.cc:253] GL_ARM_rgba8
I20200101 00:29:52.946323 12987 gl_context.cc:253] GL_ARM_mali_shader_binary
I20200101 00:29:52.946341 12987 gl_context.cc:253] GL_OES_depth24
I20200101 00:29:52.946357 12987 gl_context.cc:253] GL_OES_depth_texture
I20200101 00:29:52.9

[2021-07-23 06:08] pseudo-jay commented on #2329
Thank You @jiuqiant. This Worked. I am closing this issue.

[2021-07-23 06:08] #2329 closed

[2021-07-23 07:30] sgowroji commented on #2007
This will help you https://github.com/google/mediapipe/issues/1667#issuecomment-797851624.

[2021-07-23 07:30] #2007 closed

[2021-07-23 07:33] #2272 closed

[2021-07-23 07:36] akshayvernekar opened #2333 "Yocto recepie for Mediapipe for embeddedsystems"
<em>Please make sure that this is a feature request.</em>

**System information** (Please provide as much relevant information as possible)

- MediaPipe Solution (you are using): face detection , Hands, selfie segmentation
- Programming language : C++
- Are you willing to contribute it (Yes/No):
Yes

**Describe the feature and the current behavior/state:**
We plan to use mediapipe in the camera de

[2021-07-23 08:54] z7212819 commented on #2330
The modeling tool I used was Blender, because the shoe texture in the frame was one, so I also combined the texture into one, this is the OBj file and the texture file I used, I would like to ask how your shoes were made, thank you.
[shoe.zip](https://github.com/google/mediapipe/files/6867627/shoe.zip)

[2021-07-23 09:13] #1188 closed

[2021-07-23 09:50] miftahulbagusp commented on #2331
I tried to build from Java successfully, only error when build from bazel.

[2021-07-23 10:09] willstott101 commented on #2333
There is an OpenEmbedded tensorflow layer https://layers.openembedded.org/layerindex/branch/master/layer/meta-tensorflow/ which is probably a good jumping off point. However it hasn't been touched in quite some time. We're just starting to look into building mediapipe for an RPi running poky using yocto. I'll try to release anything helpful I come up with, but we may end up cross-compiling outside

[2021-07-23 12:46] ibrandiay commented on #2009
@bugmany do you have an answer in your request ? me too i am interest in this question.

[2021-07-23 14:07] jiuqiant commented on #2009
@sgowroji, please assign this to the owner of object detection.

[2021-07-23 14:31] jiuqiant commented on #2271
You can add rect proto into the aar rule by following https://github.com/google/mediapipe/issues/1624#issuecomment-782265180.

[2021-07-23 14:42] sergak0 commented on #2041
@gmontamat Thanks for your patch, i can install it in the docker and run with Nvidida OpenGL on hand_tracking, but i have some questions abount pose landmark detection.
1) should I run "sh setup_opencv.sh"?
2) What command should i use to get my landmarks?
When i try to run pose_tracking or holistic_tracking:
1) bazel build -c opt --copt -DMESA_EGL_NO_X11_HEADERS --copt -DEGL_NO_X11   mediapipe/ex

[2021-07-23 15:26] Vatsa0408 commented on #2266
I am also interested in this topic.

[2021-07-23 19:47] Ambroza888 commented on #2031
[code]

[2021-07-23 19:47] Ambroza888 commented on #1020
[code]

[2021-07-24 03:13] Hpal76832 commented on #1928
AttributeError: module 'mediapipe.python.solutions' has no attribute 'selfie_segmentation'........

Any solution for this error ??

[2021-07-24 05:41] veetechh commented on #1727
I am facing same issue on web demo for hand. Can you please tell me how to use loadeddata function?

https://codepen.io/mediapipe/pen/RwGWYJw

[2021-07-24 06:01] veetechh commented on #2328
@sgowroji any solution for this?

Would be great if there is a working hand tracking web demo.

[2021-07-24 06:22] sinnytk commented on #1606
Fell upon this issue as well.
The way I solved it is (note I used jQuery, you can replace the methods with appropriate JavaScript methods):
`
// get reference of the video element the Camera is constructed on
const $feed  = $(feedSelector)[0]
// reset feed source
   $feed.pause();
   $feed.srcObject.getTracks().forEach(a => a.stop());
   $feed.srcObject = null;
`

[2021-07-24 10:09] vasanthhr opened #2334 "How to make sure the resources are laoded in javascript (Hand web demo)"
How to get verify or any event listener to confirm whether all hand related resources are downloaded.

I want to get to know in javascript whether bin, wasm, sim_wasm, and .data files are downloaded and initialized.

Please let me know what is the way to check on javascript level:

javascript code: https://google.github.io/mediapipe/solutions/hands.html#javascript-solution-api
link: https://codepe

[2021-07-24 10:38] veetechh commented on #2328
https://codepen.io/mediapipe/pen/RwGWYJw

![WhatsApp Image 2021-07-24 at 16 03 28](https://user-images.githubusercontent.com/19422397/126865956-d7fd52c1-32da-48c2-a8dc-204f0ff8b303.jpeg)

[2021-07-24 14:39] rizTaak opened #2335 "Error while building (Ubuntu 21.04/ Python 3.9.5)"
**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution:Ubuntu 21.04
- Compiler version: gcc (Ubuntu 10.3.0-1ubuntu1) 10.3.0
- Programming Language and version: Python 3.9.5
- Installed using virtualenv? pip? Conda? (if python): using virtualenv (python -m venv mp_env)
- [MediaPipe version](https://github.com/google/mediapipe/releases): v0.8.

[2021-07-24 14:55] rizTaak commented on #2335
Changed setup.py and added **--sandbox_debug** to bazel build. This gave the error
[code]
Installed below and no longer getting error
[code]

[2021-07-24 19:53] jiapei100 commented on #2315
@jiuqiant
The **ONLY** reason why I need to make some changes: I've already installed a lot of 3rd-party libraries manually on my system. There is **NO** point to install the 3rd-party with an older version again, specifically for Mediapipe.

[2021-07-24 20:03] jiapei100 commented on #2315
@jiuqiant

Where can I add the **includepath** for **ALL** files ?
I mean: for the **bazel** system, isn't there a place for me to specify **global INCLUDEPATH** for all files?

[code]

[2021-07-25 02:14] robert-go commented on #2132
I have the same problem
In fact, I cannot run example apps on Simulator
So when I create an `ios_framework`, the simulator also don't support

[2021-07-25 03:24] IceFloe commented on #2132
it looks like google team does not have time to review this issue :(

[2021-07-25 04:03] jiuqiant commented on #2315
Got you. Please read https://bazel.build/designs/2016/06/21/environment.html or file an issue to bazel for help. I feel sorry that I don't have enough experience on this to help you.

[2021-07-25 15:41] Clearwithme commented on #2050
ı also have the same problem but still couldnt find the solution.

[2021-07-25 17:33] dariusvesa opened #2336 "AttributeError: module 'mediapipe' has no attribute 'solution'"
Greetings,

I have a problem running the code below **demo.py** from desktop :

[code]

It gives me the following error:

**Traceback (most recent call last):
File "C:\Users\\%user%\Desktop\demo.py", line 4, in <module>
mp_drawing=mp.solution.drawing_utils
AttributeError: module 'mediapipe' has no attribute 'solution'**

I have downloaded python-3.7.9-x64 from [https://www.python.org/downloads/rel

[2021-07-25 20:48] Nvelu048 commented on #1203
Hi @sgowroji  , I was able to get crash report after checking device log in android studio, the issue was related to passing packets,

It would be better if we have any sample code for drawing polygons

[2021-07-25 20:50] Nvelu048 commented on #1380
Hi @donghua6428 ,

As of now, I don't have setup to check on this.

If possible kindly self assign this issue

[2021-07-25 20:53] Nvelu048 commented on #1574
Hi @PopovVadim ,

Thanks for pointing this

As of now I don't have mediapipe setup to check this

If possible kindly self assign this issue and close it

[2021-07-26 02:54] JBHua commented on #270
I will check it out! Thank you Afsar!

[2021-07-26 04:05] sgowroji commented on #2334
Have you checked (using Chrome's built-in "Network" tab, for example) that all fetches are succeeding and not returning 404 errors. Did you encounter any errors?

[2021-07-26 04:08] #2335 closed

[2021-07-26 04:17] sgowroji commented on #2336
Hi @dariusvesa, Could you please check this https://github.com/google/mediapipe/issues/2005#issuecomment-835846942. And i would also request you to check if there are multiple versions of python installed could give you the above error.

[2021-07-26 05:04] sgowroji commented on #2050
Hi @Danil-e, Did you try this [code](https://google.github.io/mediapipe/solutions/holistic.html#python-solution-api) for Holistic solution. And Could you please explain  your use case from above code.

[2021-07-26 05:22] sgowroji commented on #751
Hi @mohdahk, Could you please respond if you are still looking resolution for the above query. Thanks!

[2021-07-26 05:22] #751 closed

[2021-07-26 05:25] sgowroji commented on #712
Assuming the above issue resolved using this [comment](https://github.com/google/mediapipe/issues/712#issuecomment-670725425). We are closing this issue now.

[2021-07-26 05:25] #712 closed

[2021-07-26 05:28] sgowroji commented on #1037
The above [resolution](https://github.com/google/mediapipe/issues/1037#issuecomment-679438287) resolved this query. We are closing this issue now.

[2021-07-26 05:28] #1037 closed

[2021-07-26 05:31] sgowroji commented on #1123
Assuming the above comments resolved your query. We are closing this issue now. Please feel free to reach us back if you still have any relevant query from the above.

[2021-07-26 05:31] #1123 closed

[2021-07-26 06:06] sgowroji commented on #2317
Glad to know you resolved we are closing this issue now.

[2021-07-26 06:06] #2317 closed

[2021-07-26 06:12] sgowroji commented on #2284
I assume, You might have encountered the above error may be having multiple python versions installed in your machine. Try this https://github.com/google/mediapipe/issues/2298#issuecomment-884232799

[2021-07-26 06:18] sgowroji commented on #2011
Hi @ttamas0713, Can you try this workaround https://github.com/google/mediapipe/issues/2298#issuecomment-884232799 Above error encountered for some for having multiple python versions and not linked to the latest.

[2021-07-26 07:03] sgowroji commented on #2279
Hi @camvinh, Could you please try this `bazel clean --expunge` and rerun the above would resolve your error. Thanks!

[2021-07-26 07:03] #2279 closed

[2021-07-26 07:05] #2277 closed

[2021-07-26 07:09] #2254 closed

[2021-07-26 07:16] sgowroji commented on #2237
Hi @DanielWFrancis,  Could you please try the pose [codepen](mediapipe.dev/demo/pose) examples ?

[2021-07-26 07:29] z7212819 commented on #2330
Hello, I have been trying to find that the ObjParser converter seems to remove the smooth group of the model, which makes the model look rough. How can I solve this problem?

[2021-07-26 07:32] sgowroji commented on #2102
Hi @sn1c3,  Assuming this will help https://github.com/google/mediapipe/issues/1684#issuecomment-794590159

[2021-07-26 10:36] gb2111 opened #2337 "is this possible to get camera 3d pose (objectron)"
hi.
i was looking through the api but could not find a reference.
i was looking on demo of objectron and there is one image where you show camera trace (Fig 3)
https://google.github.io/mediapipe/solutions/objectron.html
is this possible to get access in real time to camera position and rotation (relative to some specific objec or landmark of course).
is this possible to have access to each point i

[2021-07-26 11:43] sgowroji commented on #2337
Hi @gb2111, Have you tried building any of the platforms and didn't you found it recognizing as Fig3. Which platform are you referring? Thanks!

[2021-07-26 11:46] sgowroji commented on #2301
Hi @senshin998, We can't debug, or troubleshoot the issue without any logs or video or screenshot of the error. I would request to reopen the issue once you find the error  logs and share it.

[2021-07-26 11:46] #2301 closed

[2021-07-26 11:47] zigenz opened #2338 "AAR video stream dies if timing varies"
Hi all, I have observed (what is seemingly) an issue with MediaPipe.

**System information**

- Have I written custom code: Yes, but as close-as-possible to the Iris Tracking example
- OS Platform and Distribution: Linux Ubuntu 20.04
- Mobile device: Huawei Mate 20 Pro, OnePlus 6. Google Pixel 4
- Programming Language and version: C++ / Java (Android)
- [MediaPipe version](https://github.com/googl

[2021-07-26 12:13] hotuemon opened #2339 "I get an error while building mediapipe in android studio."
https://google.github.io/mediapipe/getting_started/android.html
I saw this site and tried to build mediapipe in android studio, but in step 8 I got the following error.

Syncing project: Initial directory update (no_build)...
Updating VCS...
Command: /home/qwerty/go/bin/bazelisk info --tool_tag=ijwb:AndroidStudio --curses=no --color=yes --progress_in_terminal_title=no --host_crosstool_top=@bazel_t

[2021-07-26 15:05] #2238 closed

[2021-07-26 16:03] mhays-google commented on #2328
Can you try a photo with your hand in frame?  The image does not actually look like a hand.  Try increasing the confidence slider -- by default it's sitting at 0.5, which may not be high enough for your needs.

[2021-07-26 16:15] impjdi commented on #2007
Apologies, this slipped through.

There is no easy solution for that.  There are multiple places where the plumbing needs to happen, and I'm not sure what the status is.

The first is the batch dimension support at `mediapipe::Tensor`.  I'm not sure whether the batch dimension is supported by `OpenGlTexture2DView` and if not, someone would have to do the plumbing on the MediaPipe side.  And AFAIK

[2021-07-26 17:01] dariusvesa commented on #2336
Greetings. First of all thank you for your reply and time.

Second, you gave me an idea. I remembered that I have install Visual Studio Community so I checked if I installed there Python too. Apparently there is a package but there's no folder "Python" in "Microsoft Visual Shared". Check image below.

[https://i.imgur.com/G6IO9o3.png](https://i.imgur.com/G6IO9o3.png)

Then I check what Environment

[2021-07-26 17:25] veetechh commented on #2328
Ok, the problem occurs at random times. Not all the times. In the video below, points shown randomly even when hand is not visible. I will try increasing the detection confidence.

https://user-images.githubusercontent.com/19422397/127032045-1df20c6f-d1f2-4ca4-affd-08ae71d3f861.mp4

[2021-07-26 17:29] TTR-maniac opened #2340 "How do you add filters ?"
Okay I wanted to use mediapipe to make a snapchat kind filter app
My os is windows
The programming language I'm using: **PYTHON**
I am trying to figure all ways to make it but
Mediapipe is not that popular!
I do not know why but every tutorial I see to make a filter like snapchat in mediapipe **Just doesn't work! **
I don't know why but they just put a video and use medipipe to put a filter on tha

[2021-07-26 17:33] TTR-maniac commented on #2339
sheesh thats long

[2021-07-26 19:08] tyrmullen commented on #2334
@vasanthhr That is not a feature we currently support in any API call.  See issue #2115 for more details.

[2021-07-26 20:16] NourOmran commented on #1155
Greetings to all of you , I want to make an AR app to try sunglasses so I used mediapipe python to get the landmarks , I have glasses.obj but I do not know what is the next step to make the 3d projection  , I used openCV but it doesnot work and I tried
a lot of stuff,  what should I do ? and will it be easier if I will use ArCore ? and which is better client side or server side ?
thanks

[2021-07-26 22:43] dibet commented on #2300
Hi, i would like to use mediapipe with cmake.
Any possibility to include a CMakeLists in the project?

[2021-07-26 22:45] dibet commented on #294
How ???

[2021-07-27 01:32] unizzang0907 opened #2341 "I want to use video tag instead of webcam in javascript"
Hello
I'm using mediapipe in javascript/react.
I want to use video tag instead of webcam.
But I could only find examples using a webcam.
How can I apply holistic model to video tag instead of webcam?

`
    const videoElement = document.getElementsByClassName('input_video')[0];
    const canvasElement = document.getElementsByClassName('output_canvas')[0];
    const canvasCtx = canvasElement.getCon

[2021-07-27 02:09] carter54 commented on #1162
Same here. An example of how to integrating mediapipe application into an existing c++ project will be very helpful~

[2021-07-27 03:29] sgowroji commented on #2238
@DimIsaev This is another use case you can try https://github.com/google/mediapipe/issues/1673#issuecomment-797863638.

[2021-07-27 03:37] sgowroji commented on #2338
Hi @zigenz, Could you please provide a recording video while executing the APK on the device. And also share us, your use case  using iris solution and any exception logs

[2021-07-27 03:41] sgowroji commented on #2339
Hi @hotuemon, Could you please try the workarounds added in this issue https://github.com/google/mediapipe/issues/1244

[2021-07-27 03:44] sgowroji commented on #2340
Hi @TTR-maniac,  Could you please provide your observation with any of the solutions you tried and provide the issue  details faced while adding the filters.

[2021-07-27 04:58] sgowroji commented on #1380
Thank you @Nvelu048 for the update. @donghua6428  if you still face the same  error, could you please  share the complete details  here below or raise a new issue.

[2021-07-27 04:58] #1380 closed

[2021-07-27 05:01] sgowroji commented on #1350
Hi @sarvnazale, Could you please respond if you are still looking resolution for the above query. Thanks!

[2021-07-27 05:05] #2147 closed

[2021-07-27 05:05] #2224 closed

[2021-07-27 05:08] sgowroji commented on #1307
Hi @SunAriesCN, You can create any [Android AAR using any solution ](https://google.github.io/mediapipe/getting_started/android_archive_library.html#mediapipe-android-archive)which you can add in your Android project and build. Could you please elaborate if you are looking for any other use case in the above. Thanks!

[2021-07-27 05:08] #1307 closed

[2021-07-27 05:10] Eunchan24 opened #2342 "How can i get a 3d axis and a fixed landmark? (Python)"
Hello
I'd like to implement it as below gif in Python.
![ezgif com-gif-maker](https://user-images.githubusercontent.com/71329051/127097467-8498508c-3efd-449a-9a40-1fd8037189d9.gif)

I made it like this.
![녹화_2021_07_27_13_59_33_178](https://user-images.githubusercontent.com/71329051/127098416-80022bcf-5e73-4bd0-b2ad-57448afab5c9.gif)
I want to fix the facemesh and make a 3D axis as in tensorflow j

[2021-07-27 05:43] sgowroji commented on #2342
Hi @Eunchan24, You should go through these issues to understand the  3D transformation and face geometry.
https://github.com/google/mediapipe/issues/1642#issuecomment-794572140
https://github.com/google/mediapipe/issues/1786#issuecomment-818211824
At present we don't have any python code which illustrates your use case. Reach us if you still have any queries regarding the above ask. Thanks!

[2021-07-27 06:48] Eunchan24 commented on #1786
Hello, I am also interested in your video. Can you send it to me?

[2021-07-27 07:05] #832 closed

[2021-07-27 07:05] #1995 closed

[2021-07-27 08:33] sgowroji commented on #2341
Hi @unizzang0907, Did you get a chance to go through our Holistic [codepen](https://codepen.io/mediapipe/full/LYRRYEw) examples. You can input a video in it. Thanks!

[2021-07-27 09:07] not-william commented on #1427
Thanks for this suggestion. Would there be any way to do this currrently?

[2021-07-27 11:33] hotuemon commented on #2339
I changed it like this.

　
android_ndk_repository(
    name = "androidndk",
path = "/home/qwerty/Android/Sdk/ndk/22.1.7171670"
)

android_sdk_repository(
    name = "androidsdk",
path = "/home/qwerty/Android/sdk"
)
　

However, such an error has occurred.
　
　
Syncing project: Sync (incremental)...
Updating VCS...
Running Bazel info...
Command: /home/qwerty/go/bin/bazelisk info --tool_tag=ijwb:Andro

[2021-07-27 11:33] sgowroji commented on #2246
For pose landmarks here we have very clear documentation. https://google.github.io/mediapipe/solutions/pose#output. Please go through it and reach us if you still have any further queries. Thanks!

[2021-07-27 11:37] sgowroji commented on #2328
This https://github.com/google/mediapipe/issues/2328#issuecomment-886829848 addresses your query. We are closing this issue now. Please reach us if you still have any relevant update in the above context.

[2021-07-27 11:41] hotuemon commented on #2339
I changed it like this.

　
android_ndk_repository(
name = "androidndk",
path = "/home/qwerty/Android/Sdk/ndk/22.1.7171670"
)

android_sdk_repository(
name = "androidsdk",
path = "/home/qwerty/Android/sdk"
)
　

However, such an error has occurred.

Syncing project: Sync (incremental)...
Updating VCS...
Running Bazel info...
Command: /home/qwerty/go/bin/bazelisk info --tool_tag=ijwb:AndroidStudio --

[2021-07-27 11:46] sgowroji commented on #2310
Hi @carter54, From the above [comment](https://github.com/google/mediapipe/issues/2310#issuecomment-882964648) we are closing this issue as of now and I would request you to test the above once the new release roll out. Reach us back if you still face the same.

[2021-07-27 11:46] #2310 closed

[2021-07-27 12:05] simue commented on #2319
+1
any updates yet?

[2021-07-27 12:09] sgowroji commented on #2266
Hi @congnguyenthe, We have added clear documentation [here](https://google.github.io/mediapipe/solutions/pose#pose_landmarks) on the above request. Please go through them and let us know if you still have any specific query.  Thanks!

[2021-07-27 12:11] sgowroji commented on #2265
@brucechou1983 Thank you for guiding the above comment. @gunbuyidiu  We are closing this issue now. Feel free to add if you still have any further queries on the above context. Thanks!

[2021-07-27 12:11] #2265 closed

[2021-07-27 12:20] sgowroji commented on #2242
Hi @guiphaniel, Did you try the https://github.com/google/mediapipe/issues/2242#issuecomment-877303892 mentioned above ?

[2021-07-27 12:23] sgowroji commented on #2229
For python can you try this https://github.com/google/mediapipe/issues/2235#issuecomment-880981281

[2021-07-27 12:23] #2229 closed

[2021-07-27 12:35] sgowroji commented on #2206
Hi @tianxiaguixin002, Could you please respond which solution are you referring to the above query. If you are still looking resolution for this issue. Thanks!

[2021-07-27 12:42] sgowroji commented on #2193
Hi @lelouch6542, Can you try this https://github.com/google/mediapipe/issues/1732#issuecomment-797669792

[2021-07-27 12:42] willstott101 commented on #2333
Ok, I've got to the point of having a bitbake-built mediapipe running and connecting to my RPi's GPU but have some camera trouble. So I'm going to need to start moving away from just building examples and integrating mediapipe into our framework as a library. Out of curiosity what exactly did you want to build with yocto? A c++ lib like us, or are you using mediapipe from python?

I'm hesitating r

[2021-07-27 12:45] sgowroji commented on #2189
Hi @dhavalgediya27, Did you get a chance to go through this [comment](https://github.com/google/mediapipe/issues/2189#issuecomment-880112598). Thanks!

[2021-07-27 12:47] sgowroji commented on #2170
Hi @gittitov, Did you get a chance to go through this https://github.com/google/mediapipe/issues/2170#issuecomment-874497189

[2021-07-27 12:49] willstott101 commented on #2251
I've come across this on Ubuntu 18, the suggested patch at https://github.com/google/mediapipe/issues/2170#issuecomment-877734150 allowed me to build and use pose tracking gpu example

[2021-07-27 12:54] sgowroji commented on #2155
Hi @lowpair, Could you please elaborate your inaccuracy with any video or error logs to understand the issue much better. Thanks!

[2021-07-27 12:56] sgowroji commented on #2152
Hi @GokulNC, Did you get a chance to test the above?

[2021-07-27 13:03] sgowroji commented on #2133
Hi @NotSpooky, Are you still looking resolution for the above query. Thanks!

[2021-07-27 13:09] sgowroji commented on #2105
Seeing you resolved from the above comment. We are closing this issue now. Feel free to reopen if you still have any queries specific to above context. Thanks!

[2021-07-27 13:12] sgowroji commented on #2100
Hi @JamieGB92, Did you able to build and run the [helloworld](https://google.github.io/mediapipe/getting_started/cpp.html#building-c-command-line-example-apps) desktop ?

[2021-07-27 13:14] sgowroji commented on #2087
Hi @ViWhiVN, Did you go through  the above comment. Thanks!

[2021-07-27 13:18] sgowroji commented on #2078
Hi @joeshow79, Could you please respond to the above [comment](https://github.com/google/mediapipe/issues/2078#issuecomment-854951152). Thanks!

[2021-07-27 13:31] sgowroji commented on #2121
Hi @kiranscaria, Are you still looking resolution for the above query. Thanks!

[2021-07-27 13:36] GokulNC commented on #2152
Hi @sgowroji

My request was for Python, and it is not yet implemented in that.
The comment by him was for JavaScript, to respond to another person.

[2021-07-27 13:54] NotSpooky commented on #2133
@sgowroji No, I've switched to another project.

[2021-07-27 13:55] #2133 closed

[2021-07-27 14:38] Haemin-Park opened #2343 "How can I make a successful pose tracking aar file?"
Hi :)
I want to launch a pose tracking app with a `gradle`.
I only changed from the existing color(cyan, orange) to the new color in `mediapipe/graphs/pose_tracking/subgraphs/pose_renderer_gpu.pbtxt` and saved it.

`mediapipe/examples/android/src/java/com/google/mediapipe/apps/aar_example/BUILD`

**1**

[code]
[code]

I successfully made `mediapipe_pose_tracking.aar` through the command above.
I a

[2021-07-27 16:17] Laubeee commented on #1010
@mlizhardy you mean the default anchor-boxes?
I'm note sure to what the ones you linked refer, 2944lines seem a bit much. But the default boxes can be generated, see for example: https://github.com/terryky/tfjs_webgl_app/blob/master/blazepose_fullbody/tfjs_blazepose.js#L22

it seems to be the js-version of https://github.com/google/mediapipe/blob/master/mediapipe/calculators/tflite/ssd_anchors_cal

[2021-07-27 16:29] THKDev opened #2344 "Howto build a dynamic library of mediapipe for Linux x86_x64"
i'm aware of the issues #236, #144 and #294 . I tried to build a dynamic library but end up with a SIGSEGV.

I modified the mediapipe/mediapipe/examples/desktop/selfie_segmentation/BUILD . Added following
[code]
Then build the library by calling
[code]
Then linking a small program (empty main function only) against this dynamic library. Running this program results in a SIGSEGV.
[code]
generated_m

[2021-07-27 17:20] guiphaniel commented on #2242
Hi.

As I said in this post: [#2242 (comment)](https://github.com/google/mediapipe/issues/2242#issuecomment-872853692), I've  already tried this.

I probably haven't installed all the necessery stuff to use GLOG...

For instance, I've also tried creating a simple C++ programm (not compiling it with Bazel but with Visual Studio) using the example code provided on the GLOG github page:

#include <gl

[2021-07-27 17:40] ahmadyan commented on #2130
There is no guarantee that they would match. The EPNP will lift the 2D points to a 3D box with an arbitrary scale and not necessary the correct scale. You can think of it as there are many 3D bounding box whose projection will be the same 2D points.

[2021-07-27 17:55] TheSlyOne996 opened #2345 "adding 3d objects such as spectacles to the head in the facemesh solution in browser"
Exactly as the tiltle mentions, I would like to know if it is possible and if so what are best practice steps I should take to do it.
So far I have obtained the landmarks of various parts of the mesh and tried to use those to manipulate a 3d model in a babylonjs canvas. But I was wondering if there is a better way to do the same using some calculators available in mediapipe itself that will work o

[2021-07-27 19:41] jiuqiant commented on #2216
Do you add your yaml cc_library into the deps field of https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a479407c699e424aa7/mediapipe/examples/desktop/BUILD#L38?

[2021-07-27 21:06] AmitMY commented on #2181
Commenting so not stale

[2021-07-27 21:58] iCrashOne opened #2346 "FaceDetection - Missing field: "valueString""
I created a small project with React to test out face_detection and selfie segmentation. However I'm getting this error when calling the initialize() / send() methods

Chrome version: Version 92.0.4515.107 (Official Build) (64-bit)
OS: Debian GNU/Linux 10 (buster)

![2021-07-27_16-54](https://user-images.githubusercontent.com/88058651/127232580-4c25fa25-a494-4d43-a79e-fd828ec22d36.png)

Dependenci

[2021-07-27 22:46] jiuqiant commented on #2152
You can modify solution_base.py like the following to achieve this:

[code]

[2021-07-28 00:18] unizzang0907 commented on #2341
Oh, the codepen has been updated. It has been changed to typescript, but I'll try. Thanks!

[2021-07-28 00:18] #2341 closed

[2021-07-28 03:03] JamieCopelandFikaeEnt commented on #2100
yes i am able to build the hello world example but i cannot build the hand tracking example

[2021-07-28 04:19] sgowroji commented on #2345
We unfortunately don't have examples to do this and do not have plans to provide it. You can check out the [face effect renderer calculator](https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_geometry/effect_renderer_calculator.cc) and https://google.github.io/mediapipe/solutions/face_mesh.html#face-effect-example

[2021-07-28 04:28] sgowroji commented on #1892
Hi @cjl84914, Could you please share your resolution, That will really help the community with similar errors. Thanks!

[2021-07-28 04:47] sgowroji commented on #2343
Hi @Haemin-Park, Could you please provide your code changes to understand the issue much better. Thanks!

[2021-07-28 04:49] GokulNC commented on #2152
Thanks a lot, will apply the patch and test it.

Will this `reset()` method be there in the upcoming version?
Or am I supposed to modify like this even for next updates?

[2021-07-28 05:04] Haemin-Park commented on #2343
@sgowroji

`mediapipe/graphs/pose_tracking/subgraphs/pose_renderer_gpu.pbtxt`
**Existing Code**
[code]

**Change Code**
[code]
I only modified the RGB code.
Also, there is the same issue in the code that has not been modified. Did I make a wrong aar file?

[2021-07-28 05:09] sgowroji commented on #2216
Hi @ivanpiskun123, Could you please try the above comment. Thanks!

[2021-07-28 05:30] sgowroji commented on #2068
Hi @Narendra186, Could you please provide your code changes to understand the issue much better. Thanks

[2021-07-28 05:32] sgowroji commented on #2060
Hi @AmitMY, Could you please confirm if you are seeing the same in the latest release. Thanks!

[2021-07-28 05:33] GokulNC commented on #2152
Thanks, works good. Looks like the patch is [already pushed](https://github.com/google/mediapipe/blob/b899d17f185f6bcbf3f5947d3e134f8ce1e69407/mediapipe/python/solution_base.py#L356), hence closing the issue.

[2021-07-28 05:33] #2152 closed

[2021-07-28 05:34] sgowroji commented on #2055
Hi @FedericoCozziVM, Could you please try the above with the latests release. Thanks!

[2021-07-28 05:47] sgowroji commented on #2028
Hi @nikicat, You can try using ` removeLandmarks(results); `for faceLandmarks in codepen holistic https://codepen.io/mediapipe/pen/LYRRYEw

[2021-07-28 05:52] akshayvernekar commented on #2333
we are exploring both . For initial prototyping we want to use mediapipe as a python package we have got our application working on x86 now we want to port it to aarch64 ,did you have any luck building python package on yocto ? I tried building python wheel package on aarch64 ubuntu on docker and later installing it on the device via pip but it is running into some errors. But in the long run we w

[2021-07-28 05:53] sgowroji commented on #2019
Assuming you are resolved with this [comment](https://github.com/google/mediapipe/issues/2019#issuecomment-864713068). We are closing this issue now.

[2021-07-28 05:53] #2019 closed

[2021-07-28 05:56] sgowroji commented on #2013
Hi  @chensisi0730, Could you please try the above with the latest release. Thanks!

[2021-07-28 06:00] sgowroji commented on #2009
Hi @bugmany, Which platform are you referring?

[2021-07-28 06:00] gb2111 commented on #2337
@sgowroji I build python samples and they work very well.

My point is to get position of camera, not the object. Is that possible?

[2021-07-28 06:01] sgowroji commented on #2004
Hi @lilinxiong, Can we close this issue if you above query is answered?

[2021-07-28 06:08] sgowroji commented on #1996
Hi @crouse12, We have not tried doing with it. But you can share your observation and let us know if you face any difficulty or errors while doing it. Thanks!

[2021-07-28 06:10] sgowroji commented on #1989
Hi @AdrianoW, Could you please test with the latest release and let us know if you still see the same error. Thanks!

[2021-07-28 06:16] sgowroji commented on #1980
Hi @plafer, Can you share the complete logs if you still see the above error. thanks!

[2021-07-28 06:18] sgowroji commented on #1317
Hi @radisc, Could you please respond if you still looking answer for the above query.
Thanks!

[2021-07-28 06:31] sgowroji commented on #1264
Hi @ReqWrecker, We don't have any direct code. you can try creating Android AAr for objectron from here https://google.github.io/mediapipe/getting_started/android_archive_library.html#mediapipe-android-archive

[2021-07-28 06:42] sgowroji commented on #1245
Hi @tonywang531, This is how you can try to get the difference https://google.github.io/mediapipe/solutions/hands.html#multi_handedness

[2021-07-28 06:57] wjps commented on #2346
We also started seeing this yesterday across a variety of OSs (Linux, MacOS & Windows).

It looks like a new npm version and set of model files was released yesterday and there's an incompatibility between them (in both directions).

@iCrashOne updating to the current version of the npm fixed the issue for us. Alternatively specify the exact version of the model files for the older npm release (0.

[2021-07-28 07:43] wxk2008 commented on #1550
thanks,it's helpful for me!!!

[2021-07-28 07:53] AmitMY commented on #2060
v0.4 still has it
[code]

See the end of this file: https://unpkg.com/@mediapipe/holistic@0.4.1627346628/holistic.js

[2021-07-28 08:05] #2287 closed

[2021-07-28 09:45] danielpatrascu02 opened #2348 "Missing drawing_styles.py from Python PIP installation"
**System information**
- OS Platform: Windows 10
- Programming Language: Python 3.9.1
- Installed using venv: python -m venv .venv
- MediaPipe version: 0.8.3
- OpenCV version: 4.5.3.56

**The problem**:
After installing mediapipe with PIP, I tried running the [MediaPipe Hands](https://google.github.io/mediapipe/solutions/hands#python-solution-api) example. However, I found out that the drawing_sty

[2021-07-28 10:49] #2121 closed

[2021-07-28 11:18] sgowroji commented on #2348
Hi @danielpatrascu02, Can you fetch the latest code and try. Thanks!

[2021-07-28 11:28] plafer commented on #1980
Sorry I don't have them anymore

[2021-07-28 11:36] sgowroji commented on #1980
Thank you for the update. We are closing this issue now.

[2021-07-28 11:36] #1980 closed

[2021-07-28 11:38] danielpatrascu02 commented on #2348
HI @sgowroji . Can you please be more specific? I am installing mediapipe with PIP. Thanks!

[2021-07-28 12:05] #2288 closed

[2021-07-28 12:05] #2289 closed

[2021-07-28 12:07] sgowroji commented on #2348
Try this pip install mediapipe==0.8.6.1

[2021-07-28 13:31] danielpatrascu02 commented on #2348
Indeed it was a problem with my .venv python version. I made a mistake and was using python 3.6.7 in the virtual env, which only allowed installation of mediapipe 0.8.3.

After upgrading to Python 3.9.1 I was able to install mediapipe 0.8.61 and everything is working now. Thank you!

[2021-07-28 13:31] #2348 closed

[2021-07-28 13:41] Suraj520 commented on #2331
@miftahulbagusp
Can you list the command used for building directly via Java.

[2021-07-28 13:51] maxirozay opened #2349 "Firefox createImageBitmap 2 arguments error with selfie segmentation"
**System information**
- You can reproduce the bug with the official [example](https://codepen.io/mediapipe/full/wvJyQpq)
- OS: Windows 10
- Browser: Firefox 90.0.2
- package: "@mediapipe/selfie_segmentation": "^0.1.1622680987"
- Solution: selfie segmentation
- Programming Language and version: JS

**Current behavior:**

When `selfieSegmentation.send({ image: video })` is called on firefox it cras

[2021-07-28 14:19] FedericoCozziVM commented on #2055
Hi @sgowroji, I tested it with mediapipe pip version 0.8.6.1, but the issue is not fixed yet.

Code:

[code]

Result (result with max_num_faces [1, 2, 3]):
![image](https://user-images.githubusercontent.com/41443775/127338201-5eee74ae-013b-430e-a436-d0018faf081b.png)

[2021-07-28 14:48] #2336 closed

[2021-07-28 16:18] sgowroji commented on #2010
Hi @timtensor, We are not supporting for Animals as of now. Thanks!

[2021-07-28 16:18] #2010 closed

[2021-07-28 16:21] sgowroji commented on #2311
Hi @Kiru3014, Did you get a chance to check this https://github.com/google/mediapipe/issues/348#issuecomment-585614495

[2021-07-28 16:25] sgowroji commented on #2109
Hi @shashimalcse, We opensource only the solutions. Thanks!

[2021-07-28 16:25] #2109 closed

[2021-07-28 16:26] sgowroji commented on #2209
Hi @mgarbade, We opensource only the  MediaPipe solutions. Thanks!

[2021-07-28 16:26] #2209 closed

[2021-07-28 16:35] Kiru3014 commented on #2311
Hi @sgowroji I check this #348 (comment) and try to change it according to that suggestion
But Then no hands are deducted, if and only if the graph is there on the android activity then only I am able to get landmarks and process to do gestures action.

https://mediapipe.readthedocs.io/en/latest/hello_world_android.html#externaltextureconverter-setup
this ref link not working

[2021-07-28 17:05] #2248 closed

[2021-07-28 17:50] crouse12 commented on #1996
I find there are many mediapipe examples for camera.
However, I need some mediapipe examples for an image.
If you can give me some examples like holistic, Hands etc.
I can use them for mjpeg stream.

[2021-07-28 18:02] sonhaaa opened #2351 "An error occurred during the fetch of repository 'local_execution_config_python'"
<em>I tried to run bazel command to build posetrackinggpu, but got and error.</em>

**System information**
- OS Platform and Distribution: Windows 10
- Programming Language and version: Java
- Bazel version: 5.0.0-pre.20210720.2
- Android SDK and NDK versions (if android):
- SDK Platforms: Android API 31
- Android SDK Build-Tools: 31
- NDK version: 21.4.7075529

**Describe the problem**:
I tried t

[2021-07-28 18:42] ahmadyan commented on #2337
To get an accurate camera pose on device, you'll need to use [ARCore camera API](https://developers.google.com/ar/reference/java/com/google/ar/core/Camera#getPose()).

[2021-07-29 00:15] mhays-google commented on #2028
You will not be able to modify the internal graph.  You can either use the pose solution or the hand solution.

Removing landmarks from the results will not prevent the overhead within the solution.

The binarypb contains the graph that tells the solution what to do.  If that binarypb were modified (it's in proto3 format) and the nodes that compute these outpus were removed, the overhead would no

[2021-07-29 00:20] mhays-google commented on #2068
Uh oh.  I know what the issue is.  I thought it was already fixed, but I will check and have a new version up in the next few days.

[2021-07-29 02:13] jomariya23156 commented on #1976
I'm getting the same issues here with pose. Has anyone fixed this?

[2021-07-29 03:22] InvisibleLeVen opened #2352 "Bazel build Hello-world failed in windows"
I followed the steps of mediapipe install on Windows to install mediapipe.
when I input`bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 --action_env PYTHON_BIN_PATH="G://python3.9//python.exe" mediapipe//examples//desktop//hello_world`
bazel build fail

`
DEBUG: G:/msys2/home/leven/_bazel_leven/3jraxhub/external/tf_runtime/third_party/cuda/dependencies.bzl:51:10: The following command will dow

[2021-07-29 03:25] InvisibleLeVen commented on #2352
The error appears in a certain ios library, I don’t know why compiling a desktop hello world need to reference these libraries of Android and ios

[2021-07-29 03:26] jomariya23156 opened #2353 "[Unhandled promise rejection: TypeError: undefined is not a constructor (evaluating 'new pose.Pose')]"
I am implementing Pose solution on React Native following the installation and usage from [this doc](https://github.com/tensorflow/tfjs-models/tree/master/pose-detection/src/blazepose_mediapipe). When I specified `{ runtime: 'tfjs' }` in `detectorConfig` variable, everything works fine. But I want to change runtime to 'mediapipe' since the performance table in the doc shows that the mediapipe runt

[2021-07-29 03:36] InvisibleLeVen commented on #2352
@Jiuqiang Tang

[2021-07-29 03:36] InvisibleLeVen commented on #2352
@Jiuqiang\ Tang

[2021-07-29 03:36] InvisibleLeVen commented on #2352
@jiuqiant

[2021-07-29 04:07] sgowroji commented on #2351
As we mentioned in https://google.github.io/mediapipe/getting_started/install#installing-on-windows, MediaPipe doesn't support building its Android apps on native Windows because of the limited bazel support for Android on native Windows. Please try WSL instead. You can find the instructions at https://google.github.io/mediapipe/getting_started/install#installing-on-windows-subsystem-for-linux-wsl

[2021-07-29 05:05] #1663 closed

[2021-07-29 05:05] #1700 closed

[2021-07-29 05:38] sgowroji commented on #1996
Hi @crouse12, You can try the examples from [here](https://google.github.io/mediapipe/getting_started/javascript)

[2021-07-29 05:46] sgowroji commented on #1182
We dont have any examples for it. But you can try this [link](https://github.com/Cubbee/mediapipe) if you still looking for resolution.

[2021-07-29 05:46] #1182 closed

[2021-07-29 06:03] sgowroji commented on #704
Hi @yxchng,  Above [comment](https://github.com/google/mediapipe/issues/704#issuecomment-625392448) answered your query. We are closing this issue now. Feel free to reach if you still have any relevant query with above context.

[2021-07-29 06:03] #704 closed

[2021-07-29 06:09] sgowroji commented on #701
Above crash seen when there are any  changes in graph which is not fit. May be you can test the graph in a desktop model before trying to build the AAR with it. Please reopen the issue if you still see the same error. Thanks!

[2021-07-29 06:09] #701 closed

[2021-07-29 07:11] ferranmartinezlleida opened #2354 "Disable "INFO: Created TensorFlow Lite XNNPACK delegate for CPU" message on pose python"
I'm using mediapipe's pose in my project. I do video analytics and I periodically call mediapipe's pose on every person on the frame. I do that with multiprocessing with a process for each person.

The thing is that when I call:

` with mp_pose.Pose(
            static_image_mode=True,
            upper_body_only=True) as pose:`

I get this message here down below:

`INFO: Created TensorFlow Lite

[2021-07-29 08:29] sgowroji commented on #2354
Hi @ferranmartinezlleida, Can you try this https://github.com/google/mediapipe/issues/2119#issuecomment-860927310

[2021-07-29 08:31] sgowroji commented on #402
bazel clean --expunge; will resolve this issue.

[2021-07-29 15:12] willstott101 commented on #294
I've found problems [like this](https://github.com/google/mediapipe/issues/294#issuecomment-574201789) can sometimes be resolved by setting [`linkshared=1`](https://stackoverflow.com/questions/67542605/bazel-shared-library-does-not-include-all-symbols) on the target you're depending on which forces the linker to include _all_ symbols rather than filtering to only the used ones.

[2021-07-29 16:19] logixworx opened #2355 "Unrecognized option: --calculator_graph_config_file"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): Windows 10
- Compi

[2021-07-29 16:49] dydx-git commented on #2346
I'm seeing this on blazepose using mediapipe-gpu as backend. Even the official demo is now crashing: https://storage.googleapis.com/tfjs-models/demos/pose-detection/index.html?model=blazepose

[2021-07-29 17:03] mhays-google commented on #2346
I will check immediately.

On Thu, Jul 29, 2021 at 9:49 AM Muhammad Taha ***@***.***>
wrote:

[2021-07-29 17:07] mhays-google commented on #2346
This is a caching issue on the part of jsdelivr.  I have now written a
script that will allow me to purge the cache entries for people who use
only the default/major/minor designator, which, let's face it, is all of us.

I've already run the purge, and the demo seems to work.  I'm going to go
through and purge the cache for all of our other libraries today, but I
think this should be fixed.

Thank

[2021-07-29 17:35] mhays-google commented on #1996
All of the examples use the SourcePicker control, which, at the very least,
allows you to upload images and videos.  We will be adding example images
and videos soon.

On Wed, Jul 28, 2021 at 10:38 PM GowrojiSunil ***@***.***>
wrote:

[2021-07-29 17:35] mhays-google commented on #2349
We do not currently support FireFox.  It is on our roadmap.  I don't have a good timeframe for you yet.

[2021-07-29 17:40] mhays-google commented on #1976
This almost certainly means that you have not successfully loaded the
wasm.js file.  You can see whether or not this happens by looking at the
network tab.

I am surprised that the following does not work.

const pose = new Pose({
  locateFile: (file) => {
    return ***@***.***/pose/${file}`;
  }
});

This is how some of our internal teams have set this up.  Make sure that
when you are running yo

[2021-07-29 17:42] mhays-google commented on #2181
This is a caching issue on behalf of jsnotify.  I am making it a habit now to purge URLs that use the default/major/minor versions to load our solutions.  Those who use the specific timestamped solution will probably not encounter these issues.  I'm weighing different options to make this less of a problem in the future.

[2021-07-29 17:44] mhays-google commented on #2155
The z axis from the underlying model is a relative, non-scaled measurement,
meaning that while there is a relative depth, you would not be able to use
this to recreate the 3d position of the hand.  This is what we serve to the
javascript layer.  Is there something that suggests that there is more?

On Tue, Jul 27, 2021 at 5:54 AM GowrojiSunil ***@***.***>
wrote:

[2021-07-29 17:46] mhays-google commented on #1427
This is being rolled out now.  It automatically detects iOS and it falls
back onto CPU inference while we continue to troubleshoot openGL
inference.  This means things will run a bit slower right now, but the good
news is that it should run.  We are testing a few iPads and iPhones.  The
importance of iOS has been communicated.

On Tue, Jul 27, 2021 at 2:08 AM not-william ***@***.***>
wrote:

[2021-07-29 22:07] wjps commented on #2346
Will that fix the problem? I think it's more often caused when you have a
(slightly) outdated npm package and are getting the latest model files from
the CDN.

I think either the model files need to be compatible with previous minor
releases or the files need to be referenced using the exact version string.
If the latter then it would be nice if it were possible to get the full
version string out

[2021-07-29 22:31] dydx-git commented on #2346
agreed @wjps this issue was fixed in https://github.com/tensorflow/tfjs-models/pull/766

[2021-07-29 23:20] tuanback commented on #2275
@ozgurshn If I add  `copts = ["-std=c++17"],` into `objc_library` then build with `bazel build -c opt --config=ios_arm64`, I got `invalid argument '-std=c++17' not allowed with 'Objective-C'` error.

Can you please share your config file and build command? Thank you

[2021-07-30 01:09] slollia opened #2356 "How can I use MediaPipe hand tracking for static images?"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):
- [MediaPipe version]

[2021-07-30 02:25] lilinxiong commented on #2004
@sgowroji No, it cannot. Because I did other things and did not continue, I am not sure that my method can really solve it. thanks.I will find time to continue, but I have been too busy recently.

[2021-07-30 02:42] foamliu opened #2357 "How is "relative depth" defined precisely?"
Thank you very much for the wonderful work! Can you tell us more about how "relative depth" is defined?

[2021-07-30 03:46] sgowroji commented on #2357
Hi @foamliu, Could you please elaborate your query with more details. Thanks!

[2021-07-30 03:48] sgowroji commented on #2356
Hi @slollia, Which platform are you referring the above? Thanks!

[2021-07-30 03:50] sgowroji commented on #2355
Hi @logixworx, Could you please elaborate your use case with complete details and can you point the exact step you are referring from installation guide. Thanks!

[2021-07-30 03:56] sgowroji commented on #1238
Hi @shrubb, Thank you so much for adding your observation. This will really help the community users who ever looking for similar queries. Presently we are closing this issue and still if any have other relevant queries in the above context, Feel free to reopen the issue. Thanks!

[2021-07-30 03:56] #1238 closed

[2021-07-30 03:59] sgowroji commented on #1262
We are glad to know you resolve from the above comment. So closing this issue now. Feel free to reach us  or reopen if you still see the similar issue. Thanks!

[2021-07-30 03:59] #1262 closed

[2021-07-30 04:03] sgowroji commented on #774
Hi @iverdr17, We are closing this issue now, We assume you are resolved from the above comments. Feel free to reach us if you still have any further queries on the above. Thanks!

[2021-07-30 04:03] #774 closed

[2021-07-30 04:06] sgowroji commented on #1189
We have very clear documentation on building the Android AAr [here](https://google.github.io/mediapipe/getting_started/android_archive_library.html#mediapipe-android-archive). Please reach us if you still have any further queries on the above or reopen.

[2021-07-30 04:06] #1189 closed

[2021-07-30 04:13] sgowroji commented on #1901
Hi @suarezjessie, You can try using `mp_drawing = mp.solutions.drawing_utils` to work with drawing utilities. Thanks!

[2021-07-30 04:13] #1901 closed

[2021-07-30 04:17] lilinxiong commented on #2105
@sgowroji To reiterate, this problem has not actually been solved. My method is to retransplant the modules I need, which is not a real solution (time cost and test cost are very large). I have not tried the solution provided by @hadon , and I have been busy recently. I will try it when I have time, so this question cannot be closed and needs to be reopened.

[2021-07-30 04:21] lilinxiong commented on #2105
This weekend I will try the solution provided by @hadon and synchronize the results and problems encountered here.

[2021-07-30 05:24] foamliu commented on #2357
![relative_depth](https://user-images.githubusercontent.com/14009435/127603744-a8ba2569-1b8a-4ca9-837c-19cbbfb3ceef.png)
Hello @sgowroji , thanks for quick response, let me explain the query:
Given wrist landmark coordinates(X0, Y0, Z0) in object space(camera coordinate system), arbitary landmark (Xi, Yi, Zi) and camera parameters, we can compute their image points (x0, y0) and (xi, yi) in image p

[2021-07-30 06:05] #958 closed

[2021-07-30 06:18] logixworx commented on #2355
I am trying to build the pose_tracking example.

[2021-07-30 06:28] sgowroji commented on #846
Hi @romainvo, @zz397fl, @AlexYiningLiu  Could you please try the above with the latest release of MediaPipe. Please reach us back if you still have any error specific to the above. Thanks!

[2021-07-30 06:28] #846 closed

[2021-07-30 06:32] sgowroji commented on #1239
Hi @bannani and others, Could you please test the above with the latest release of MediaPipe and reach us back if you still see the same error. Thanks!

[2021-07-30 06:32] #1239 closed

[2021-07-30 06:38] AmitMY commented on #1427
In the case it does work with WebGL on safari 15 (I did not check if it does), could you please only make the switch depending on the iOS safari version?

Source:
https://developer.apple.com/documentation/safari-release-notes/safari-15-beta-release-notes
![image](https://user-images.githubusercontent.com/5757359/127611415-d3e44e38-2d52-4bae-823c-5c5b7be13aa8.png)

[2021-07-30 06:40] ozgurshn commented on #2275
I build using this command
`bazel build -c opt --config=ios_arm64 faceDetectionLandmark:FaceTracker
`
and this is the build file. I also set the MIN_IOS_VERSION to 11

[code]

[2021-07-30 07:54] NathanielEssenberg opened #2358 "Pose tracking spine information"
**System information** (Please provide as much relevant information as possible)
I am running MediaPipeUnity, and for now target platforms are Android, iOS, and PC

- MediaPipe Solution (you are using): [MediaPipeUnity](https://github.com/homuler/MediaPipeUnityPlugin) version based on MediaPipe 0.8.6
- Programming language : C++/typescript/Python/Objective C/Android Java
- Are you willing to contr

[2021-07-30 08:20] JunGenius opened #2359 "When i using pose tracking, predict the same picture multiple times and get different pose landmarks"
Thank you very much for the wonderful work!
When I use pose tracking, I predict the same picture multiple times and get different pose landmarks.

       if (p_poller_landmarks->QueueSize() > 0) {
            if (p_poller_landmarks->Next(&packet_landmarks)) {
		auto& output_landmarks = packet_landmarks.Get<mediapipe::NormalizedLandmarkList>();
		for (int i = 0; i < output_landmarks.landmark_size()

[2021-07-30 08:36] AdrienVigne opened #2360 "Impossible to run mediapipe on angular app trough a service"
Hello,
I'm looking to create mediapipe integration in an angular application. I have a component to load the webcam, one to display the result of mediapipe and a service to manage mediapipe and its parameters.

I manage to load the video stream, and send it to the Pose object but nothing in return.

I have this error message that I do not understand at all:
 ERROR Error: Uncaught (in promise): Typ

[2021-07-30 10:20] miftahulbagusp commented on #2331
`javac ObjParserMain.java`
`java ObjParserMain --input_dir=[INTERMEDIATE_OUTPUT_DIR] --output_dir=[OUTPUT_DIR]`

[2021-07-30 10:23] sgowroji commented on #2360
Hi @AdrienVigne, Could you please provide the steps to reproduce the above error. Thanks!

[2021-07-30 10:24] AdrienVigne commented on #2360
Yes of course how can I send you my code?

[2021-07-30 10:26] sgowroji commented on #2359
Hi @JunGenius, Could you please provide the steps to reproduce the above output. It would be helpful to investigate further if you can provide the code changes. Thanks!

[2021-07-30 10:46] AdrienVigne commented on #2360
[Analyse.zip](https://github.com/google/mediapipe/files/6906997/Analyse.zip)

[2021-07-30 11:23] sgowroji opened #2361 "Unable to build and run Tulsi app on mac os big sur. Error is cc_toolchain_suite '@local_config_cc//:toolchain' does not contain a toolchain for cpu 'darwin_x86_64'"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): MAC OS BigSUR
- Co

[2021-07-30 14:49] mingbocui commented on #496
@joachimneu Hi, I see you changed the address from lib/x86_64-linux-gnu/ to lib/, so is your opencv actually installed under lib/ folder rather than lib/x86_64-linux-gnu/? Thanks!

[2021-07-30 15:10] joachimneu commented on #496
Yes. Perhaps because Arch Linux is not Debian-based and hence doesn't necessarily follow https://wiki.debian.org/Multiarch ?

[2021-07-30 16:24] mhays-google commented on #1427
The support for iOS will get better -- there is currently no exception made
for Safari, whether on iOS or not.  That is to say, Safari on Mac uses
WebGL.  We're discussing making this configurable.  For now, the squeaky
wheel is the iOS community at large, but I understand what you'd like and
I'll address it soon.

On Thu, Jul 29, 2021 at 11:39 PM Amit Moryossef ***@***.***>
wrote:

[2021-07-30 21:00] ahmadyan commented on #2357
I'm not sure if this question is related to Objectron. Figure above is definitely not representative of how we compute depth.
We use homogenous points for projection, so if p=(x, y, z) --> p_2d = (x/z, y/z).

You can read more about this from the book Multiview geometry by Hartly Zisserman.

[2021-07-31 00:40] kostyaby commented on #1155
Hey @NourOmran,

MediaPipe still lacks Face Geometry support for Python, so the guidance in gave in [this comment](https://github.com/google/mediapipe/issues/1457#issuecomment-754841274) is still valid; please take a look to see whether it's helpful to you

Regarding ARCore, I don't think they give you any Python at all, so I don't think it'll match the Python requirement.

Regarding client vs ser

[2021-07-31 02:00] foamliu commented on #2357
Thanks ahmadyan. Maybe I didn't make it clear. Homogeneous coordinates are fine. I mean, when you train the MediaPipe Hands 2.5D landmarks prediction model, you feed the model with image and label. For each hand, the annotation information includes the 21x3 2.5 coordinate. For each joint, the coordinates are xi, yi, and zi. The first two are the pixel coordinates of the joint in the image. How is

[2021-07-31 02:12] foamliu commented on #2357
The question is related to MediaPipe Hands, not Objectron. :)

[2021-07-31 11:23] #2343 closed

[2021-07-31 15:37] Shounak-Ghosh commented on #1737
Is there a solution for this issue in the c++ desktop version?

[2021-08-01 05:20] jiuqiant commented on #2355
Please do

[code]

"-calculator_graph_config_file" is the mediapipe flag. It's not a bazel build flag.

[2021-08-01 05:52] mstfabbstbr opened #2362 "Unable to add or create a new ViewController in mediapipe faceEffect"
Hey there,
I want to create a new VC to the `MediaPipe FaceEffect` project which already generated with `Tulsi`.
At first, i can't select the target membership when i want to create a VC. Then i realized that i have to add the new VC to Compile Sources. When i add VC to that, the xcode shows me this error:

<img width="833" alt="Screen Shot 1400-05-10 at 10 20 59" src="https://user-images.githubus

[2021-08-01 06:45] lilinxiong commented on #2105
@hadon Hi~ I tried adding ```option optimize_for = LITE_RUNTIME;``` to the ```*.proto``` file today, but unfortunately, it cannot be compiled.
image 1:
![image](https://user-images.githubusercontent.com/24367027/127761878-4fe23bc3-7c31-49e0-ad05-49d7a9691ddc.png)
image 2:
![image](https://user-images.githubusercontent.com/24367027/127761853-54f8c20c-eaf6-4836-a707-28fcff9051de.png)

Is the compila

[2021-08-01 15:50] tommypham opened #2363 "Bazel configuration for opencv iOS"
I did not understand what will this rule do :
[code]
in file mediapipe/third_party/opencv_ios.BUILD
[code]
I read the instruction about C++ toolchain variables ​: https://docs.bazel.build/versions/main/be/make-variables.html
But I did not find the information about it.
Please help me to understand it.

[2021-08-01 16:08] tommypham opened #2364 "Add Tesseract to mediapipe/examples/ios/handtrackinggpu"
I want to add new library : Tesseract to mediapipe/examples/ios/handtrackinggpu.
I have added this configuration to WORKSPACE:
[code]
Add new file tesseract.BUILD to mediapipe/third_party
[code]
How can I include Tesseract like : #include "baseapi.h" , baseapi.h is the header file ?

[2021-08-01 18:10] atursug commented on #2316
Is there any planned roadmap for IOS support ?

[2021-08-01 22:09] aafaqin opened #2365 "3D Pose for Linux GPU"
Is there a way to run  Pose estimation on Desktop Linux GPU and get  3D coordinates from a video

[2021-08-01 23:00] tommypham commented on #2362
You should add your own view controller via Bazel configuration.

[2021-08-02 03:03] JunGenius commented on #2359
Hi @sgowroji .

            #include <cstdlib>
            #include "absl/flags/flag.h"
            #include "absl/flags/parse.h"
            #include "mediapipe/framework/calculator_framework.h"
            #include "mediapipe/framework/formats/image_frame.h"
            #include "mediapipe/framework/formats/image_frame_opencv.h"
            #include "mediapipe/framework/port/file_helpers.h"

[2021-08-02 03:53] mstfabbstbr commented on #2362
Hey, can you show me any example? Cause i tried this, but it doesn’t work. Please show me how to do that

[2021-08-02 04:13] sgowroji commented on #2362
Hi @mstfabbstbr, Have you tried to clean your build and execute.  Run this `bazel clean --expunge` and also check again.

[2021-08-02 05:15] sgowroji commented on #829
Hi @shashank-yadav and others,  Could you please test the above with the latest release and let us know if you still see the observation. Thanks!

[2021-08-02 05:20] sgowroji commented on #1220
Hi @AndreV84, Could you please respond if you still see the above error and can able to reproduce it.  Thanks!

[2021-08-02 05:46] mstfabbstbr commented on #2362
@sgowroji  :) still not working. after your command line bazel show me an error that you don't have numpy.. but numpy installed successfull.

[2021-08-02 05:57] #2239 closed

[2021-08-02 06:44] sgowroji commented on #2137
Hi @Monibsediqi, What is the challenge you seeing when trying to get the coordinates from a cropped eye image coordinate?

[2021-08-02 06:57] #2295 closed

[2021-08-02 06:57] #2297 closed

[2021-08-02 06:57] #2299 closed

[2021-08-02 06:58] tommypham commented on #2362
@mstfabbstbr : please look at the instruction to set up Bazel for iOS app : https://docs.bazel.build/versions/main/tutorial/ios-app.html

[2021-08-02 07:23] ldingemans commented on #2104
I am also interested in this, is there by any chance an update on this issue?

[2021-08-02 07:36] sgowroji commented on #1686
Hi @rahulunair, You can try installing [docker](https://dvillalobos.github.io/2020/How-to-install-and-run-Docker-on-a-Chromebook/) on your chromebook and  can install [mediapipe](https://google.github.io/mediapipe/getting_started/install.html#installing-using-docker) on top of it

[2021-08-02 07:36] #1686 closed

[2021-08-02 07:38] sgowroji commented on #1662
Hi @FubukiRandeZvous, Could you please try with the latest release and let us know if you still see the same. Thanks!

[2021-08-02 07:40] sgowroji commented on #1633
Hi @NguyenLong-02, Could you please check with the latest release and let us know if you still see the same error .

[2021-08-02 07:42] sgowroji commented on #1630
Hi @honglh, Could you please provide your code changes to understand the issue much better. Thanks!

[2021-08-02 07:57] #2306 closed

[2021-08-02 07:57] #2308 closed

[2021-08-02 07:57] #2309 closed

[2021-08-02 07:57] #2273 closed

[2021-08-02 09:35] sgowroji commented on #1421
Hi @AntonioDomenech, Could you please provide your code changes to understand the issue much better.

[2021-08-02 09:38] sgowroji commented on #1304
Hi @MarcinKornacki, Could you please test the above with the latest release and let us know if you still see the same observation. And share the video to understand the issue. Thanks!

[2021-08-02 09:51] sgowroji commented on #1457
Above added contributions are really useful for the community. We are closing this issue now. Feel free to reach us if you still have any further queries on top of it.Thanks!

[2021-08-02 09:51] #1457 closed

[2021-08-02 10:09] sgowroji commented on #1592
Hi @milad-4274, Can you share your code changes to understand the issue much better. Thanks!

[2021-08-02 10:10] willstott101 commented on #2333
Ok, I've uploaded my layer that I'm successfully using hackily to build a c++ library.

https://github.com/willstott101/meta-mediapipe

I'm yet to consider the python side of things, but the tensorflow layer is meant to be able to build a python library.

The whole layer is quite thrown together so some parts may be able to be simpler. Possibly a separate bazel build that downloads mediapipe or so

[2021-08-02 10:13] sgowroji commented on #1619
Please go through this for your answer https://google.github.io/mediapipe/solutions/iris.html#depth-from-iris

[2021-08-02 10:13] #1619 closed

[2021-08-02 10:17] sgowroji commented on #2235
Hi @DimIsaev,  Will  share if there is any update of roadmap regarding the above feature. You can go through  this https://github.com/google/mediapipe/issues/2235#issuecomment-880981281 as of now.

[2021-08-02 10:17] #2235 closed

[2021-08-02 10:23] DimIsaev commented on #2235
yes   i use  this repository

you include this codes в  public  repository  Mediapipe ?

[2021-08-02 10:37] shubhamdawande commented on #1427
@mhays-google Can we get an approximate release date of this workaround for facemesh? Current mediapipe provided solution is way more accurate than tfjs. Waiting on this release so that we can switch to mediapipe api.

[2021-08-02 17:07] mhays-google commented on #1427
It may actually already be up, but regardless, I'm pushing a new version
before EOD today (Aug 2, PST).

On Mon, Aug 2, 2021 at 3:37 AM Shubham Dawande ***@***.***>
wrote:

[2021-08-02 17:08] mhays-google commented on #1630
Right.  If you just give me the snippet from your graph that is not
parsing, I will make sure to make the necessary changes.

On Mon, Aug 2, 2021 at 12:42 AM GowrojiSunil ***@***.***>
wrote:

[2021-08-02 19:57] #1177 closed

[2021-08-02 20:57] #2253 closed

[2021-08-02 21:56] izakharkin opened #2366 "Accessing hand landmarks and other information in new releases"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Mac OS X 11.4
- [

[2021-08-03 03:20] sgowroji commented on #2366
Hi @izakharkin, Did you face any error while doing it with the latest version. Could you please share the logs to understand the issue with much better detail. Thanks!

[2021-08-03 04:31] Swapnil-gautam opened #2367 "How to retrain mediapipe hand model"
I want to retrain google's mediapipe hand landmark for more key-points detection but the model is only available in tflite (https://github.com/google/mediapipe/blob/master/mediapipe/modules/hand_landmark/hand_landmark.tflite) format that can not be retrained.
I have created a model identical to mediapipe hand model, I trained it with my custom data (38k images) but facing over-fitting issue,

I am

[2021-08-03 05:40] sgowroji commented on #2367
Hi @Swapnil-gautam, Have you tried  Hands solution and which platform are you referring? And what is the error you notice in the above. Thanks!

[2021-08-03 05:45] sgowroji commented on #1496
Hi @SKY378537, Have you tried looking with face detection [javascript](https://codepen.io/mediapipe/full/dyOzvZM) solutions. Please reach us if you still have any further queries. Thanks!

[2021-08-03 05:47] #1496 closed

[2021-08-03 05:47] Swapnil-gautam commented on #2367
Hey @sgowroji, I have tried Hands solution and it works great but it is only for 21 keypoints and I want more keypoints on fingers for my use case, thus I wanted to perform transfer-learning with mediapipe hand model, but since only tflite model is available and we can not perform transfer-learning with it I create a similar model to media pipe hand and train it with my custom images,
But I am fac

[2021-08-03 05:51] tommypham opened #2368 "is there a GUI for configuration auto-generation of Bazel ?"
Hello,
I wonder if there is a GUI for configuration auto-generation of Bazel instead of editing manually ?

[2021-08-03 05:53] sgowroji commented on #2368
Hi @tommypham, Could you please elaborate your query with complete details. Thanks!

[2021-08-03 06:03] tommypham commented on #2368
@sgowroji :
For ex: I 've already had iOS project in Xcode with more than 100.000 lines of source code and multiple kind of library : static & dynamic library, and I want to build this project with Bazel configuration.
I 've just had a little knowledge with Bazel. If there is a tool have a GUI for me to load all of source code and library and automatically create files: WORKSPACE and BUILD accordi

[2021-08-03 06:25] sgowroji commented on #1767
Closing this issue as duplicate is closed https://github.com/google/mediapipe/issues/1734

[2021-08-03 06:25] #1767 closed

[2021-08-03 06:35] sgowroji commented on #1050
Hi @ni3-sharma, You can make the changes from both android platform side and graph as you have coordinates with you (you get coordinates by multiplying the normalized landmark value with the height and width of the image).
If you are looking at graphs then you can refer [here](https://github.com/google/mediapipe/blob/master/mediapipe/graphs/hand_tracking/subgraphs/hand_renderer_cpu.pbtxt#:~:text=%

[2021-08-03 06:39] sgowroji commented on #1049
Hi @LarryBrinzo and others, Could you please respond if you are looking answer for the above query still and  let us know if you have any observations. Thanks!

[2021-08-03 06:42] sgowroji commented on #2143
Hi @bwjoe, Thank you so much for responding and sharing your fix and glad to know you resolved. We are closing this issue now, Feel free to reach us back if you still have any similar query. Thanks!

[2021-08-03 06:42] #2143 closed

[2021-08-03 06:55] zwfcrazy commented on #1950
@AndreV84 Hi, how do you enable headless xorg on DISPLAY 0? I can't even make this step work...

[2021-08-03 06:57] #1115 closed

[2021-08-03 06:57] #1460 closed

[2021-08-03 07:13] sgowroji commented on #1586
Hi @takahirox, Could you please respond if you still looking resolution for the above query. Thanks!

[2021-08-03 07:15] sgowroji commented on #1577
Resolution provided in this https://github.com/google/mediapipe/issues/1577#issuecomment-797168372 we are closing this issue.

[2021-08-03 07:15] #1577 closed

[2021-08-03 07:18] sgowroji commented on #1574
Thank you @PopovVadim, We are closing this issue now.

[2021-08-03 07:18] #1574 closed

[2021-08-03 07:22] sgowroji commented on #1562
Hi @DrStoop, Could you please respond if you still resolution for the above query. Thanks!

[2021-08-03 07:25] sgowroji commented on #1571
Hi @yyqgood, Could you please provide the steps to reproduce the above and elaborate your use case with complete details. Thanks!

[2021-08-03 07:27] sgowroji commented on #1560
Hi @rm-gthb, Could you please test the above with the latest release and let us know if you still see any error. Thanks!

[2021-08-03 07:28] AndreV84 commented on #1950
@zwfcrazy there is turbovnc thing
https://forums.developer.nvidia.com/t/tutorial-how-to-install-virtualgl-and-turbovnc-on-jetson-nano/175767

[2021-08-03 07:40] izakharkin commented on #2366
Hi @sgowroji, thanks for your reply. Yes, I face this error while doing it with the latest version (currently, it is v0.8.6). Actually, there are no logs produced, I am just running the Hands desktop example with my fork (building and running with commands I provided above) and all works fine until I move my hands outside of the input frame, so the loop awaits infinitely on the row with `if (!hand

[2021-08-03 07:42] tomermesser commented on #415
@adilmubeen55 I'm working on a similar product and I may best solution is to detect index finger using media pipe and get the vector position to render the THREE.js model on the same location. Does someone have a better solution?

[2021-08-03 07:42] zwfcrazy commented on #1950
Is there any way that does not involve VNC?
I tried this https://chadrick-kwag.medium.com/configuring-x-server-on-headless-server-a8b5c3bc7d9
but it didn't work out for me, not sure what's wrong...

[2021-08-03 08:12] mstfabbstbr commented on #2362
@tommypham
thanks for reply. but still not working. actually the BUILD file, can't found the swift file that i created.

[2021-08-03 08:49] sgowroji commented on #1546
Hi @Hakazaba, Could you please respond if you still looking resolution for the above query. Thanks!

[2021-08-03 08:59] sgowroji commented on #1508
Hi @shivammaindola, Could you please respond if you still see the above error with the latest release. Thanks

[2021-08-03 09:01] shivammaindola commented on #1508
@sgowroji I stopped working on this. Thanks for your help.

[2021-08-03 09:02] #1508 closed

[2021-08-03 09:15] wongfei commented on #2366
before reading the landmark packet, check it's presence, see: https://github.com/google/mediapipe/issues/850#issuecomment-683268033

or use ObserveOutputStream instead of AddOutputStreamPoller

[2021-08-03 09:41] DrStoop commented on #1562
hi @sgowroji, i couldn't resolve or understand the above issue, but i found a bearable workaround:

- deactivate or delete all breakpoints before starting the debug-run
- start the debug-run & open the GDB-log in the debug window
- as soon as the debugger starts reading the source code scripts (takes approx. 10-20sec till the logger plots multiple 'Reading ...'s) activate or set the breakpoint(s)

[2021-08-03 09:53] z7212819 commented on #2330
@sgowroji  Hello, I have been trying to load vN normals to try the effect of smooth objects, but I also found that obj_Parser ignores the S smooth group tag, but why are your shoes smooth? Does your shoe itself have a smooth group, or is there a way of calculating smooth groups in the renderer? I hope this will solve my problem. Thank you

[2021-08-03 09:57] z7212819 commented on #2330
This is my modified file, you can see, obj_cleanup I modified to keep vN information, but the model is still not smooth after modification, and the mapping information is wrong
[SimpleObjParser.zip](https://github.com/google/mediapipe/files/6923203/SimpleObjParser.zip)

[2021-08-03 10:52] sgowroji commented on #2330
Hi @z7212819, I have added right owners who can advise you better on your problem.  They will let you know the resolution. Thanks!

[2021-08-03 10:57] sgowroji commented on #1284
Hi @H1Gdev, Could you please respond if you still looking resolution for the above query. Thanks!

[2021-08-03 12:18] H1Gdev commented on #1284
I hope this issue will be fixed as soon as possible...

[2021-08-03 12:48] loaysh2010 opened #2369 "JavaScript - get frames from a video not camera"
Hello all
I am trying to implement mediapipe javascript web-based face detection. The code below is to get the stream using the webcam and video element.

I want to ask if there is any way to get the stream from the video element that plays an uploaded video not a webcam and pass it faceDetection class,  i.e. I don't want to use a Camera object. ???
[code]

[2021-08-03 13:31] JayCarraway commented on #2323
+1
similar problem for me

[2021-08-03 13:46] robert-go commented on #2153
I have the same problem

[2021-08-03 13:53] alpc72 commented on #2366
I encountered the same problem. In addition, what issues should I pay attention to when acquiring the GPU version of the hand landmark?

[2021-08-03 15:54] mhays-google commented on #2261
I think controls_3d is attractive, but it's really there to help us with
our own demos.  But I still want to make this easier for you.

I have an internal bug set for myself to validate our deployables through
npm.  I don't have a timeline at this moment.

On Tue, Aug 3, 2021 at 5:57 AM google-ml-butler[bot] <
***@***.***> wrote:

[2021-08-03 16:13] takahirox commented on #1586
Let me check if the problem is still reproducible with the latest lib later...

[2021-08-03 19:02] mhays-google commented on #1284
Fix is complete.  Will stage by EOD today (Aug 3)

On Tue, Aug 3, 2021 at 5:18 AM H1Gdev ***@***.***> wrote:

[2021-08-03 19:06] mhays-google commented on #1163
We do not currently test on FireFox.  We have been rolling out improvements to iOS support.

I've only been recently assigned to this issue... the demos on codePen are meant to demonstrate how to use the API.

Documentation starts at:
https://google.github.io/mediapipe/solutions/solutions.html

You can also get to documentation by clicking on the "Click here for more info" link presented with each

[2021-08-03 19:11] Mateo-Git opened #2370 "Mediapipe not detecting poses correctly, needs a node that allows me to convert the image to a binary image"
Hi, I'm trying to develop an Android NDK app that detects sign language poses using Mediapipe and TensorFlow Lite. I have developed the model successfully and it's already integrated into the app it has about 90% accuracy.
The problem is that it is not detecting signals correctly, I do not know how it sends the image back to the model perhaps that is the problem and the image is being sent in a di

[2021-08-03 19:21] mhays-google commented on #1630
Never mind... I see your comment up at the top.  I will check this out.

[2021-08-03 19:25] mhays-google commented on #1630
Fix should be in.  Please verify with your particular graph.  Thank you for the patience.

[2021-08-03 22:00] ahmadyan commented on #2330
Hi,

1. The shoe model does not work very well when there is no shoes in the image, in your case there is only a sandal (no shoe or socks) so it is predicted the shoe a bit higher than the actual location. If you want the shoe to be rendered at a lower Y you can adjust it in the code or the calculator.
2. Our renderer is a very simple proof-of-concept and should not be used in production, if you w

[2021-08-03 22:17] megh21 opened #2371 "AttributeError: module 'mediapipe.python.solutions' has no attribute 'drawing_styles'"
<em>Please make sure that this is a [solution](https://google.github.io/mediapipe/solutions/solutions.html) issue.<em>

**System information** (Please provide as much relevant information as possible)
- Have I written custom code (as opposed to using a stock example script provided in Mediapipe): given example
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): Windows

[2021-08-03 23:15] izakharkin commented on #2366
@wongfei thanks a lot, the use of the `PacketPresenceCalculator` helped indeed. I have [updated](https://github.com/izakharkin/mediapipe/commit/788cc9a9cb77cc00007b72967293a0fd6a841b00) my fork accordingly. Now I when I move the hands out of the input frame, it did not stop processing and outputting frames.

However, there appeared another _problem_: when I move the hands inside again, it prints o

[2021-08-04 00:27] H1Gdev commented on #1284
Thanks !
Fixed this issue.

![a](https://user-images.githubusercontent.com/11144112/128102832-4d0649e1-9fb0-4d2f-9dc1-523dcef17929.png)
Is colors correct ? (white and blue)

[2021-08-04 00:40] alpc72 commented on #2366
@izakharkin I tried your method, but reported the following error:
“No registered object with name: PacketPresenceCalculator; Unable to find Calculator "PacketPresenceCalculator".

Have you encountered this situation?

[2021-08-04 00:48] mcclanahoochie commented on #1994
the GPU graph is being linked somehow, can you double check you are compiling/linking the CPU version?

even if you are, the MainActivity.java you post here will be trying to send/receive GPU frames in/out of the graph. You will need GpuBufferToImageFrameCalculator at the beginning of the CPU graph and ImageFrameToGpuBufferCalculator at the end of the CPU graph, see https://github.com/google/media

[2021-08-04 01:10] mcclanahoochie commented on #1195
try using the full path to the labelmap*txt in MainActivity.java

`mediapipe/examples/android/src/java/com/google/mediapipe/apps/issues/graphs/labelmap0.txt`

[2021-08-04 01:26] z7212819 commented on #2330
@ahmadyan I'm very glad to hear from you. Now I can convert my obJ file to UUU format using obj_Parser and render it using GL_animation_overlay_calculator. I can adjust the position and size by myself, but my question is: Why is it that in the same gl_animation_overlay_Calculator rendered model, your shoes are smooth and mine are rough. During this period of time, it was found that OBj _ Parser ig

[2021-08-04 01:35] ahmadyan commented on #2330
There are more faces in our shoe models.

On Tue, Aug 3, 2021 at 6:27 PM z7212819 ***@***.***> wrote:

[2021-08-04 01:59] z7212819 commented on #2330
@ahmadyan Hello, this is what your shoes look like in Blender after I have formatted them (Figure 1). The number of faces is around 3000, but you can see that your shoes have been rendered by gl_animation_overlay_Calculator. It can still be smooth (as shown in the screenshot above). My shoes look like this with the smooth group (Figure 2), which is about 9000 faces. Then after the conversion, the

[2021-08-04 02:19] z7212819 commented on #2330
Hello, I also found this pair of shoes on the model website provided by you. The original number of faces of this pair of shoes is 23,000, but because obj_Parser supports 10,000 faces at most, your shoes have been cut in the number of faces, and finally become 3000.

[2021-08-04 02:55] jiuqiant commented on #2366
Here are two solutions you can try:

Solution 1. Try  [tool::AddMultiStreamCallback](https://github.com/google/mediapipe/blob/a9b643e0f5978425d948050a2228398929733d05/mediapipe/framework/tool/sink.h#L118) with setting`observe_timestamp_bounds` to true. Here is the usage example: https://github.com/google/mediapipe/blob/a9b643e0f5978425d948050a2228398929733d05/mediapipe/framework/tool/sink_test.cc#

[2021-08-04 03:25] sgowroji commented on #2371
Hi @megh21, Can you try this https://github.com/google/mediapipe/issues/2348

[2021-08-04 03:46] sgowroji commented on #2370
Hi @Mateo-Git, Could you please confirm your changes done on graph or MainActivity.java class?  And also need your confirmation on why the nodes are commented. Thanks!

[2021-08-04 03:50] sgowroji commented on #2369
Hi @loaysh2010, Did you get a chance to use the  face detection [codepen](https://codepen.io/mediapipe/pen/dyOzvZM).  example where you can upload the video. Thanks!

[2021-08-04 03:50] z7212819 commented on #2330
@ahmadyan  Hello, after I cut the surface of the shoes on the model website and converted them with obj_Parser, the shoes look like this (Figure 1) and the original shoes look like this (Figure 2). There is a certain difference between the two
![1](https://user-images.githubusercontent.com/75053001/128119390-dfdeeac7-d474-4877-b501-7c4d9c24e055.jpg)
![2](https://user-images.githubusercontent.com/7

[2021-08-04 05:01] sgowroji commented on #1135
Hi @JudeOsborn, Could you please elaborate your use case if you're still looking answer for the above query.  Thanks!

[2021-08-04 05:10] Mateo-Git commented on #2370
Hi, I didn't make any changes to MainActivity.java. I created a new graph for my project, however upon further inspection I realized that the pose isn't the problem after all. As I said I'm trying to develop a sign language recognition app with static frames and I need a node that allows me to convert the image to a binary image (the other nodes are commented because I believe I don't need them fo

[2021-08-04 05:22] sgowroji commented on #586
We are closing this issue as we see the above resolution answered your query. Thanks!

[2021-08-04 05:22] #586 closed

[2021-08-04 05:26] mhays-google commented on #1284
I did a once over... there's a bit of an ordering issue and I'll circle
back around and troubleshoot.  I have a few other parser things to work on.

On Tue, Aug 3, 2021 at 5:27 PM H1Gdev ***@***.***> wrote:

[2021-08-04 06:01] bugmany commented on #2009
android and iOS.

[2021-08-04 06:45] sgowroji commented on #604
Hi @7AM7,  Are you still looking resolution for the above query. Thanks!

[2021-08-04 06:47] sgowroji commented on #1066
We are closing this feature request as this is fixed and available in our MediaPipe solutions.

[2021-08-04 06:47] #1066 closed

[2021-08-04 06:57] #2318 closed

[2021-08-04 07:00] ljmkimqx commented on #2224
I finally found the problem. Add   copts = ["-std=c++17"]    and    visibility = ["//mediapipe:__subpackages__"]      to objc_library. I lack to add      visibility = ["//mediapipe:__subpackages__"].

[2021-08-04 08:13] CodeGather commented on #1955
Hello, how did you solve it? Can you share your code

[2021-08-04 08:43] izmirlikezzap opened #2372 "ı want to do instagram filter for glasses TypeError: 'NormalizedLandmark' object is not subscriptable"
[code]

[code]

First of all, I thought where should I put the glasses. Using the mediapipe, I defined the left and right eye ends and the top of our nose. However, I could not normalize between the glasses area and the glasses.

[2021-08-04 08:52] HMY314 commented on #1897
Hello, I also encountered the same problem. How did you solve this problem?

[2021-08-04 08:57] #2327 closed

[2021-08-04 09:18] APeiZou opened #2373 "How to use XNNPACK and NNAPI to accelerate the blaze-pose model? Can you provide an Android demo?"
Can the blaze-pose model be accelerated by XNNPACK and NNAPI at the same time? Can the blaze-pose model be accelerated by XNNPACK and NNAPI at the same time? Which of XNNPACK and NNAPI has better acceleration performance?

[2021-08-04 09:24] APeiZou opened #2374 "How to crop the human body area of interest in the current frame according to the posture detection result of the previous frame, so that the model keeps the same individual body posture recognition and tracking? It will not mistakenly identify the key points of other people's gestures."
How to crop the human body area of interest in the current frame according to the posture detection result of the previous frame, so that the model keeps the same individual body posture recognition and tracking? It will not mistakenly identify the key points of other people's gestures.@google

[2021-08-04 09:25] APeiZou commented on #2373
@google-admin

[2021-08-04 09:33] sn1c3 opened #2375 "Tool from Documentation Question"
I stumbled on a cool tool for visualization on your [documentation page](https://google.github.io/mediapipe/solutions/pose).

Specifically I mean [Figure 5](https://google.github.io/mediapipe/images/mobile/pose_world_landmarks.mp4)

May I ask what tool you used for this? Or can you recommend a tool for 3d visualization in python?

[2021-08-04 09:36] APeiZou commented on #2373
@google-admin

[2021-08-04 09:45] LQ921003 opened #2376 "How to use min_detection_confidence in IOS code"
I want to set this value.But i don't know where to set.
I use **Holistic** track.
How to set min_detection_confidence？
Where to set min_detection_confidence？

[2021-08-04 09:57] #2325 closed

[2021-08-04 10:05] APeiZou commented on #2374
@google

[2021-08-04 10:09] APeiZou commented on #2373
@sgowroji  I found the XNNPACK accelerated package when using the blaze-pose model, but I don’t know how to use it in the Android demo? Can you provide a demo of the balze-pose model accelerated by XNNPACK?

[2021-08-04 10:20] sgowroji commented on #2375
Hi @sn1c3, Have a look at this https://github.com/google/mediapipe/issues/2274#issuecomment-877498840

[2021-08-04 10:33] sgowroji commented on #1177
Hi @Shounak-Ghosh, Could you please raise a new issue with complete details of your query. Thanks!

[2021-08-04 11:31] donghua6428 opened #2377 "handtrackinggpu IOS input fps(30) with sendPixelBuffer, but didOutputPixelBuffer only 15 fps"
this is my log :
sendto in processVideoFrame , and  recvfrom in didOutputPixelBuffer  with handtrackinggpu ,but fps for output fps decrease:
2021-08-04 18:57:30.517083+0800 HandTrackingGpuApp[8951:6786108] sendto mediapipe time:1628074651
2021-08-04 18:57:30.524513+0800 HandTrackingGpuApp[8951:6786122] recvfrom mediapipe time:1628074651
2021-08-04 18:57:30.557775+0800 HandTrackingGpuApp[8951:67861

[2021-08-04 11:57] #2221 closed

[2021-08-04 11:57] #2219 closed

[2021-08-04 12:42] #2375 closed

[2021-08-04 12:52] ozgurshn opened #2378 "Using two iOS frameworks in one app"
**System information**
- OS Platform and Distribution: iOS 14.5
- Compiler version (e.g. gcc/g++ 8 /Apple clang version 12.0.0):
- Programming Language and version ( e.g. C++ 14, Python 3.6, Java ):
- Installed using virtualenv? pip? Conda? (if python):
- [MediaPipe version](https://github.com/google/mediapipe/releases):
- Bazel version: 3.7.2
- XCode and Tulsi versions (if iOS): Xcode 12.5.1

**D

[2021-08-04 13:46] ROBYER1 opened #2379 "(0.8.6) Holistic tracking has latency after 30-60 secs, works fine on previous versions"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): No
- OS Platform

[2021-08-04 16:30] N-G17 commented on #1463
@benchun123 Hye... I came across the similar issue and I am not able to determine the cause for the same.
Similar to the example shared by you, in my case:
The 2d vertices of the cube in the image are:
x: 299, 213, 301, 384, 285, 187, 292, 388
y: 499, 441, 388, 429, 236, 210, 188, 205
camera matrix: 529.5000, 0, 365.0000, 0, 529.5000, 265.0000, 0, 0, 1.0000;

After applying EPnP, I am getting 3D C

[2021-08-04 16:32] N-G17 commented on #1463
@benchun123 Hye... I came across the similar issue and I am not able to determine the cause for the same.
Similar to the example shared by you, in my case:
The 2d vertices of the cube in the image are:
x: 299, 213, 301, 384, 285, 187, 292, 388
y: 499, 441, 388, 429, 236, 210, 188, 205
camera matrix: 529.5000, 0, 365.0000, 0, 529.5000, 265.0000, 0, 0, 1.0000;

After applying EPnP, I am getting 3D C

[2021-08-04 17:22] mcclanahoochie commented on #2234
can you try removing the flow limiter?
the FINISHED stream it is monitoring may not come if no landmarks are detected

[2021-08-04 17:31] jiuqiant commented on #2372
I believe what you want is like `glass_width=hypot(left_eye.x-right_eye.x, left_eye.y-right_eye.y)`

[2021-08-04 18:26] ahmadyan commented on #1463
WHen lifting from a single image, you won't be able to calculate the scale of the cube correctly. So the cube's lifting would be correct up to a scale. You should not expect it to match the ground truth keypoints.

P.S. Your GT also looks weird. for example, it only has 8 vertices (instead of 9) and the Z for the first 4 vertices are set to 0.

[2021-08-04 18:31] izmirlikezzap commented on #2372
[code]

[2021-08-04 19:49] ahmadyan commented on #2009
We do not support Yolo, as it is quite out-dated, instead we recommend to use our SSD MobileNet object detection in Mediapipe.

Typically, if you have a tensorflow model you'll need to convert it to mobile version with [tflite_converter](https://www.tensorflow.org/lite/examples/object_detection/overview). Then use our inference calculator to run inference on device, our tflite inference calculator

[2021-08-04 20:27] matanster commented on #742
Interestingly, [version 0.8.6 claims 3D positioning for the Pose and Holistic models](https://github.com/google/mediapipe/releases/tag/v0.8.6) whereby the [Holistic](https://google.github.io/mediapipe/solutions/holistic.html) model is as I understand one that includes the Hands model in its pipeline. It's hard to tell by the brevity of the description there what exactly to expect for hand tracking

[2021-08-05 00:39] APeiZou commented on #2374
@ivan-grishchenko Regarding the above issue, can you help me?

[2021-08-05 00:41] APeiZou commented on #2373
@chuoling Regarding the above issue, can you help me?

[2021-08-05 02:30] fourcolors commented on #1646
is there a camera_utils api somewhere?

[2021-08-05 03:57] sgowroji commented on #2377
Hi @donghua6428, Could you please provide the steps to reproduce the above observation. Thanks!

[2021-08-05 03:58] sgowroji commented on #2378
Hi @ozgurshn, Could you please provide the steps to reproduce the above observation. Thanks!

[2021-08-05 04:11] donghua6428 commented on #2377
tks,I have found a solution to the problem：hand_tracking_mobile.pbtxt add

[2021-08-05 04:11] #2377 closed

[2021-08-05 04:11] donghua6428 commented on #2377
done

[2021-08-05 04:14] sgowroji commented on #2379
Hi @ROBYER1,  You are using the different repo https://github.com/homuler/MediaPipeUnityPlugin, And that might be using MediaPipe.  But the above repo is not maintained by MediaPipe. Could you please have a look. Thanks!

[2021-08-05 04:18] sgowroji commented on #2311
Assigning to @eknight7, As you guided the similar issue on #348. Feel free to reassign if you are not the right owner for the above issue. Thanks!

[2021-08-05 04:21] sgowroji commented on #2009
Hi @bugmany,  Could you please have a look at the [comment](https://github.com/google/mediapipe/issues/2009#issuecomment-892928601).

[2021-08-05 05:53] ROBYER1 commented on #2379
Hi @sgowroji I am aware the Unity Mediapipe repo isn't maintained by Google but I am just switching out the built Mediapipe libraries in my tests and finding that 0.8.4 Holistic tracking is fine after a minute or so but any version higher has some latency and lag after a minute.

I can't be the only person with this issue - see it here:
https://photos.google.com/share/AF1QipOX7Nd_pdFU7AbA6t8BYIwcv

[2021-08-05 05:57] #2351 closed

[2021-08-05 06:51] bugmany commented on #2009
ok, thanks, then how to "you'll need to write a C++ wrapper for Yolo and then directly call that code in Mediapipe", could you provide demo for information?

[2021-08-05 06:57] #1841 closed

[2021-08-05 06:57] #1970 closed

[2021-08-05 07:57] #1979 closed

[2021-08-05 08:02] WIndFate commented on #2376
I'm also want to know..., please help us

[2021-08-05 08:33] ozgurshn commented on #2378
Hi @sgowroji
For the hand model, I use these files to build the iOS framework, and put them **handtracker** folder in **ios** folder
https://github.com/ozgurshn/TestHandModel
Build using this command
` bazel build -c opt --config=ios_arm64 mediapipe/examples/ios/handtracker:HandTracker `

For the face model, I use these files and put them **faceDetectionLandmark** folder in **ios** folder
https://

[2021-08-05 08:35] APeiZou commented on #2377
@donghua6428  After hand_tracking_mobile.pbtxt add, What is the FPS achieved?

[2021-08-05 11:09] zhoujingheng opened #2380 "where to draw"
face mesh android  where to draw pot and line onview , i want to delete the ui

[2021-08-05 13:19] #2165 closed

[2021-08-05 17:47] ahmadyan commented on #2009
You can take a look at [Mediapipe Object Detection Demo](https://google.github.io/mediapipe/solutions/object_detection.html), in particular the [ssd_anchors_calculator.cc](https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a479407c699e424aa7/mediapipe/calculators/tflite/ssd_anchors_calculator.cc)

[2021-08-05 23:47] N-G17 commented on #1463
@ahmadyan  Thanks for your reply.
I am facing the same problem as is mentioned by @benchun123 in the main question of the issue. I have got 8 vertices of the cube in an image, and I want to get 3D pose with EPnP for the same. The ground truth I am mentioning is the 3D vertices for the cube (similar to the one mentioned by @benchun123).
That was the reason i directed my question to @benchun123 and

[2021-08-06 00:10] schontz opened #2381 "Selfie Segmentation triggers alert on failure: Failed to create WebGL canvas context when passing video frame"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): No
- OS Platform

[2021-08-06 03:15] sgowroji commented on #2381
Hi @schontz, Could you please provide the steps to reproduce the above error. Thanks!

[2021-08-06 03:21] schontz commented on #2381
I haven't found the root cause, but the fact that there's an alert in the source code is the issue.

Here's the relevant section from `selfie_segmentation.js` (pretty-printed):

[code]

There should be no alerts in public code. Logging an error and throwing it would make sense (if you cannot recover).

[2021-08-06 03:29] sgowroji commented on #2234
Hi @sohailziahh, Could you please try the workaround mentioned in the above [comment](https://github.com/google/mediapipe/issues/2234#issuecomment-892835698). Thanks!

[2021-08-06 03:30] sgowroji commented on #2165
Hi @sohail-jogo, You above comment query is answered  here https://github.com/google/mediapipe/issues/2234#issuecomment-892835698

[2021-08-06 03:46] sgowroji commented on #1129
Hi @Allwillcome, We have updated our documentation and that will help you answer your queries [here](https://google.github.io/mediapipe/solutions/pose.html#pose_world_landmarks). Please go through them and let us know if you still have any specific query from the above context. Thanks!

[2021-08-06 03:46] #1129 closed

[2021-08-06 03:58] sgowroji commented on #672
Hi @abrar71, Could you please respond if you are looking resolution for the above query. Thanks!

[2021-08-06 04:49] nandukalidindi commented on #1373
I am seeing a similar error. Installed [YOLOv5](https://github.com/ultralytics/yolov5) on a EC2 and when tried to run the python script, threw the same error as the OP

[2021-08-06 05:46] #2313 closed

[2021-08-06 07:21] zhoujingheng opened #2382 "android use solution facemesh error"
[code]

[code]

[code]

error_message:
Graph is not started because of missing streams

[2021-08-06 07:50] H1Gdev commented on #1195
@mcclanahoochie

Occurred the same error...

I think this issue is due to lack of exclusive control when creating `mediapipe_asset_cache` directory.

[2021-08-06 08:48] sohailziahh commented on #2234
I got caught up with something lately. I will definitely try this as soon as I get time. Probably by tonight.

[2021-08-06 08:49] sgowroji commented on #2382
Hi @zhoujingheng, Could you please provide the steps to reproduce the above error. Can you share us the complete error logs. Thanks!

[2021-08-06 08:57] zhoujingheng commented on #2382
step:
1.init FaceMesh

2.camerax callback analyze(ImageProxy image)

3.image convert to bitmap

4..facemesh.send(bitmap,timestamp)

result:
5.facemesh onError()，the exception:Graph is not started because of missing streams

[2021-08-06 08:58] zhoujingheng commented on #2382
can you give me FaceMesh use sample on android?

[2021-08-06 08:59] RohitSingh1226 commented on #960
Even I am having this same issue, is there any fix for it.
And no I don't have any special characters in my build file.

[2021-08-06 10:46] sgowroji commented on #2382
In Java framework This is the graph error thrown while [addpackettoBuffer](https://github.com/google/mediapipe/blob/a9b643e0f5978425d948050a2228398929733d05/mediapipe/java/com/google/mediapipe/framework/Graph.java#:~:text=%7D-,private%20boolean%20addPacketToBuffer(String%20streamName%2C%20Packet%20packet%2C%20long%20timestamp)%20%7B,%7D,-//%20Any%20previously-buffered)

[2021-08-06 10:55] zhoujingheng commented on #2382
ok，can you give me FaceMesh use sample on android with camerax

[2021-08-06 13:03] tommypham opened #2383 "Can I use wax hands with the same size and color as real hand for model training ?"
Hello,
Can I use wax hands with the same size and color as real hand for model training ?
We can re-use wax hands for multiple view in 3D to train model.

[2021-08-06 13:55] Terence-I opened #2384 "from mediapipe.python._framework_bindings import resource_util ImportError: DLL load failed while importing _framework_bindings: The specified module could not be found."
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe):
- OS Platform an

[2021-08-06 13:56] #2384 closed

[2021-08-06 14:07] Terence-I opened #2385 "from mediapipe.python._framework_bindings import resource_util ImportError: DLL load failed while importing _framework_bindings: The specified module could not be found."
I installed mediapipe by using 'pip install mediapipe' in anaconda prompt and the installation was successful, but when I try to import it, I get the error mentioned above in this issue's title. I am using windows 10 and python 3.6, although I was getting the same error when I tried using python 3.8 too. I have tried multiple fixes I found online, like installing Microsoft visual studio, installin

[2021-08-06 16:22] Nickil21 opened #2386 "Hand Gestures types"
Is it possible to identify hand gesture types such as axis (vertical, horizontal), shape (arced/straight), direction (upward/downward/leftward/rightward), and handedness (left/right/both hands) using mediapipe for a video frame as the input? I know currently that it supports the handedness gesture type, but I wondered if something exists for the other types.

[2021-08-06 17:01] cansik commented on #1737
@jiuqiant If this solution would work for multiple-predictions it would be great! Do you have any idea why it only works the first time?

[2021-08-06 20:15] easyfittransfer opened #2387 "Allow to emit empty packet in pose_tracking"
I am making the app which track body
I use this function to recognize pose
[code]

But it is not call the method below if pose are not recognized.
[code]
Any ideas how to allow call delegate method in case body is not recognized?

[2021-08-06 20:20] #2360 closed

[2021-08-06 21:22] AdrienVigne opened #2388 "Uncaught ReferenceError: javascript is not defined at control_utils_3d.min.js:65"
Hello,
I have a problem when I want to use the landmark grid contained in the package control_utils_3d.
I can't pass the loading of the script because it gives the error :
Uncaught ReferenceError: javascript is not defined
    at control_utils_3d.min.js:65

Can you help me

Here are the git links to reproduce the problem: [https://github.com/AdrienVigne/Test_mediapipe_landmark](https://github.com/

[2021-08-06 22:07] mhays-google commented on #2381
Agreed. Will probably remove the alert and throw.  No time frame at the moment.

[2021-08-06 22:10] JudeOsborn commented on #1135
No, all good thanks. We have Holistic now, which does the trick.

On Wed, 4 Aug 2021, 3:01 pm GowrojiSunil, ***@***.***> wrote:

[2021-08-06 23:57] schontz commented on #2381
Can you give any background on why this might occur? It seems to fail getting the context from the canvas. I'm not sure how that would fail.

[2021-08-07 07:28] milad-4274 commented on #1049
I wrote custom calculator to generate binary mask from landmarks and then recolor it using recolor calculator.

[2021-08-07 07:53] AmitMY commented on #2386
You can use some clever math to figure out the axis (plane), direction (view/facing), and rotation
https://www.youtube.com/watch?v=L95mA_h0CjA

And maybe use a simple hand shape classification model
https://www.youtube.com/watch?v=pCKRWSNIaNQ
Although it is not very accurate at this point.

Math + model inference code:
https://github.com/sign-language-processing/playground/blob/master/src/app/modu

[2021-08-07 09:04] yehDilBeparwah commented on #2130
thanks

[2021-08-07 09:04] #2130 closed

[2021-08-07 21:25] ibrandiay commented on #2009
@ahmadyan Thank you for your answers . So if I understood correctly, a yolo model converted to tflite should be able to run normally without needing a c ++ wrapper?

[2021-08-08 09:20] zengalanshuo opened #2389 "Duplicate class android.support.v4.app.RemoteActionCompatParcelizer found in modules core-1.1.0-runtime(androidx.core:core:1.1.0)and jetified-iristrackinggpu_deploy(iristrackinggpue_deploy.jar"
在尝试使用iristracking jar包时遇到不同jar包但相同类名无法解决，请各位大神帮我解决，小弟先谢谢了

[2021-08-08 09:40] zengalanshuo opened #2390 "有没有办法做多个功能组合使用，比如把手势和眼睛距离组合在一起？"

[2021-08-08 11:29] Adeel-Intizar commented on #1376
@timtensor I would also like to have keypoints in json format

[2021-08-08 12:40] chendadon opened #2391 "debug code/ integrate code to cpp project"
<em>Please make sure that this is a build/installation issue and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html) documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g. Linux Ubuntu 16.04, Android 11, iOS 14.4): Windows 10
- Compi

[2021-08-08 13:19] josiahsrc commented on #2120
I did some digging into this and went so far as to attempt to build a wheel for arm64, but to no avail. The only workaround I could find was to instead use rosetta. Here are the steps I took, which may be of help to others facing m1 issues:

1. Write your terminal application from within finder, select get info, and enable `open using rosetta'
2. Open up your terminal application with the rosetta

[2021-08-08 13:23] chiazor commented on #1325
This exactly worked for me too. I downloaded python 3.7 and created a virtualenv with 3.7.
**virtualenv venv --python=python3.7.0**

[2021-08-08 13:29] TomerJakobovich commented on #2312
I also encountered this issue, @Arezki93 did you find a solution?

[2021-08-08 14:23] TomerJakobovich commented on #1328
@Arul2962 how did you solve this?

[2021-08-08 14:30] TomerJakobovich commented on #1352
@kiler222 did you manage to solve it yourself?

[2021-08-08 14:56] mayank6940 commented on #1325
install python 3.7 because mediapipe only works on python 3.7...

[2021-08-08 18:07] izakharkin commented on #2366
@jiuqiant thanks for your advice. I tried the second solution and it worked (even without the `PacketPresenceCalculator`), now everything is okay and without any delay. I have updated [my fork](https://github.com/izakharkin/mediapipe), so anyone with the same issue is welcome to check it out.

[2021-08-08 18:07] #2366 closed

[2021-08-08 20:24] benchun123 commented on #1463
@N-G17 as ahmadyan said, 1) we can not calculate the scale of the cube, 2) regarding the projection matrix, we assume focal in mm and the image in normalized [-1,1] space, so the central point should be around 0. There are other coordinate systems that would assume focal/image in pixel.

In my case, I suppose I know the scale of the cube, that is, the width, length and height are known. Another im

[2021-08-08 21:46] #1203 closed

[2021-08-09 01:26] ljmkimqx commented on #2390
你不说明哪个平台，让别人怎么帮你，而且你还用中文问

[2021-08-09 02:03] ljmkimqx opened #2392 "Posetrack：Key X and Y values are greater than 1"
I use the posetrack composite framework on the IOS side, but I find that the returned key points x and y will be greater than 1.
The partial output of 33 key points looks like this:
[code]

[2021-08-09 02:06] ljmkimqx commented on #2392
The classes defined are as follows:

[code]

[2021-08-09 02:11] ljmkimqx commented on #2392
kCVPixelBufferPixelFormatTypeKey:  kCVPixelFormatType_420YpCbCr8BiPlanarFullRange
Then I use libyuv to convert to bgra format.
Then, the cvpixelbuffer data in bgra format is transmitted to mediapipe framework.

[2021-08-09 03:28] zhoujingheng opened #2393 "init FaceMesh error"
init code:
[code]

error:
[code]

[2021-08-09 03:35] foamliu commented on #2357
Hello, Ping~ :） @bazarevsky

[2021-08-09 03:45] ljmkimqx commented on #2393
input stream 你是不是写成了'image'，这个一般都是写‘input_video’

[2021-08-09 03:55] zhoujingheng commented on #2393
官方代码：
[code]

把imgae改成‘input_video’，也报错了

[code]

error：
`invalid argument: Graph has errors:`

我传给facemesh的参数是camerax回调回来，转为bitmap
[code]

[2021-08-09 04:29] sgowroji commented on #2383
Hi @tommypham, Could you please elaborate your use case with complete details. Thanks!

[2021-08-09 04:57] sgowroji commented on #2385
Hi @Terence-I, Can you check this issue which is having similar scenario https://github.com/google/mediapipe/issues/1405#issuecomment-813798885

[2021-08-09 05:29] sgowroji commented on #2387
Hi @easyfittransfer, Did you face any error while executing the above. Can you share the logs.

[2021-08-09 05:34] sgowroji commented on #2388
Hi @AdrienVigne, Could you please provide the steps to reproduce the above error. Thanks !

[2021-08-09 05:36] sgowroji commented on #2389
Hi @zengalanshuo, Could you  please provide steps to reproduce the above error. Thanks!

[2021-08-09 05:38] sgowroji commented on #2390
Hi @zengalanshuo, Could you please elaborate your use case with complete details. And if possible can you share the description in English. Thanks!

[2021-08-09 05:42] sgowroji commented on #2352
Hi @InvisibleLeVen , Could you please try this` bazel clean --expunge` and rerun the above. Thanks!

[2021-08-09 05:44] InvisibleLeVen commented on #2352
I solved this problem by lowering the version of bazel, the latest version of bazel may have problems

[2021-08-09 05:46] sgowroji commented on #2197
Hi @zzmicer, After investigating the above with my team. We general use terminal or command prompt to build and run the code. We are not sure with your error. Thanks!

[2021-08-09 05:52] sgowroji commented on #2391
Hi @chendadon, You can have a look at this issue https://github.com/google/mediapipe/issues/2197.

[2021-08-09 05:56] sgowroji commented on #2393
Hi @zhoujingheng, This can guide you well https://github.com/google/mediapipe/issues/1859#issuecomment-854932725

[2021-08-09 06:14] #2352 closed

[2021-08-09 06:19] sgowroji commented on #2120
Hi @josiahsrc, Thank you so much for sharing your answer this will definitely help full to the community. Thanks!

[2021-08-09 06:26] chendadon commented on #2197
Hi, can you share the way you are debugging the code? even from cmd

[2021-08-09 06:29] zhoujingheng commented on #2393
Hi @sgowroji did not solve my problem，can you give me sample about solution FaceMesh with android

[2021-08-09 06:46] #2050 closed

[2021-08-09 06:50] sgowroji commented on #2197
Hi @chendadon, We don't recommend any as of now. but you can try doing with VScode from here https://docs.microsoft.com/en-us/visualstudio/debugger/quickstart-debug-with-cplusplus?view=vs-2019

[2021-08-09 06:59] sgowroji commented on #2382
Right we don't provide any such code, but you can build one from https://google.github.io/mediapipe/getting_started/android_archive_library.html#mediapipe-android-archive and you can even try this https://github.com/jiuqiant/mediapipe_face_detection_aar_example using with facemesh aar.

[2021-08-09 07:46] #2284 closed

[2021-08-09 07:46] #2011 closed

[2021-08-09 08:01] vderelle commented on #1599
I've been tinkering with this same issue and I've figured out a solution.

First an explanation of the underlying problem: the offending line of code is in /framework/deps/threadpool_pthread_impl.cc line 92.

This function call: `int error = pthread_setname_np(pthread_self(), name.c_str());`

This is a glibc function call whose purpose is naming a POSIX thread (pthread) a human readable string. In

[2021-08-09 08:12] AdrienVigne commented on #2388
pour reproduire l'erreur il suffit de d'ouvrir le fichier le index.html dans le git du premier message.

[2021-08-09 08:46] #1653 closed

[2021-08-09 08:46] #2237 closed

[2021-08-09 08:46] #2169 closed

[2021-08-09 08:46] #2102 closed

[2021-08-09 08:46] #2167 closed

[2021-08-09 08:54] sgowroji commented on #2388
Hi @AdrienVigne, this is  `control_utils_3d.min.js`  throwing the error. You can try  by updating  it  to`<script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/control_utils_3d.js" crossorigin="anonymous"></script>
 ` for [reference](https://google.github.io/mediapipe/solutions/pose.html#javascript-solution-api)

[2021-08-09 09:00] AdrienVigne commented on #2388
I tried following the reference but the resource is non-existent:
GET https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/control_utils_3d.js net::ERR_ABORTED 404

[2021-08-09 09:09] zhoujingheng commented on #2382
![image](https://user-images.githubusercontent.com/12888787/128683377-4f8e25c0-cab8-49a9-903e-5d09e17e0a81.png)
i want to this use sample，not aar

[2021-08-09 09:24] sn1c3 commented on #1988
@philiprkk They published a pose_world_landmarks for a better transposition with mediapipe0.8.6

[2021-08-09 09:31] nelsontseng0704 opened #2394 "When I use Autoflip, in scene_cropping_calculator, how to get metadata by editing pbtxt?"
In scene_cropping_calculator note, how to get metadata e.g: cropping images (x,y,w,h) coordinates and timestamp before cropping images by editing pbtxt?

And also how do I find all options in scene_cropping_calculator?  it helps me understand calculators better.

Many thanks,

**System information**
- OS Platform and Distribution :iOS 11.3.1
- MediaPipe version: 0.8.6
- Bazel version: bazel 3.7.2

[2021-08-09 09:54] FubukiRandeZvous commented on #1662
OK! Thanks for your help! And sorry for not being active these time.

google-ml-butler[bot] ***@***.***> 於 2021年8月9日 週一 下午3:46寫道：

[2021-08-09 10:52] alien190 opened #2395 "Pose example application has very low performance on a Honor View 10 (Android 9) smartphone"
**System information**
- Stock example script provided in Mediapipe:
https://github.com/google/mediapipe/tree/master/mediapipe/examples/android/src/java/com/google/mediapipe/apps/posetrackinggpu

The APK  was built by command:

`bazel build -c opt --config=android_arm64 //mediapipe/examples/android/src/java/com/google/mediapipe/apps/posetrackinggpu:posetrackinggpu`

- OS Platform and Distribution:

[2021-08-09 10:53] zengalanshuo commented on #2389
hi sgowroji,tks,
First compile iristrackinggpu on Ubuntu to generate jar。
bazel build -c opt --strip=ALWAYS --host_crosstool_top=@bazel_tools//tools/cpp:toolchain --fat_apk_cpu=arm64-v8a,armeabi-v7a mediapipe/examples/android/src/java/com/google/mediapipe/apps/iristrackinggpu:iristrackinggpu

second copy iristrackinggpu_deploy.jar from bazel-bin/mediapipe/examples/android/src/java/com/google/media

[2021-08-09 10:53] zengalanshuo commented on #2389
hi sgowroji,tks,
First compile iristrackinggpu on Ubuntu to generate jar。
bazel build -c opt --strip=ALWAYS --host_crosstool_top=@bazel_tools//tools/cpp:toolchain --fat_apk_cpu=arm64-v8a,armeabi-v7a mediapipe/examples/android/src/java/com/google/mediapipe/apps/iristrackinggpu:iristrackinggpu

second copy iristrackinggpu_deploy.jar from bazel-bin/mediapipe/examples/android/src/java/com/google/media

[2021-08-09 10:58] zengalanshuo commented on #2390
hi @sgowroji tks,
I want to use two mediapipe capabilities, such as gesture recognition and eye distance, to combine them into a new function. What should I do?For example, when I am at a distance of 1 meter, I need to redraw the gesture within a fixed range. When the distance exceeds 3 meters, I need to fix the gesture within another range. At this time, I need to calculate the distance between t

[2021-08-09 11:05] sgowroji commented on #2394
Hi @nelsontseng0704, Could you please elaborate your use case from the above query. Thanks!

[2021-08-09 11:08] sgowroji commented on #2395
Hi @alien190, Could you please attach a video or screenshot with the  above observation. Thanks!

[2021-08-09 11:08] zengalanshuo commented on #2389
Duplicate class org.checkerframework.checker.nullness.compatqual.NonNullType found in modules jetified-checker-compat-qual-2.5.2 (org.checkerframework:checker-compat-qual:2.5.2) and jetified-iristrackinggpu_deploy (iristrackinggpu_deploy.jar)
Duplicate class org.checkerframework.checker.nullness.compatqual.NullableDecl found in modules jetified-checker-compat-qual-2.5.2 (org.checkerframework:check

[2021-08-09 11:11] caiyc2000 commented on #1490
I also want to incorporate Mediapipe into my project, can you make it work now? @ljmkimqx

[2021-08-09 11:58] zengalanshuo commented on #2389
@sgowroji  my code  https://github.com/zengalanshuo/mediapipe-iris is same error

[2021-08-09 11:59] zengalanshuo commented on #2389
my android studio ide :Android Studio 4.1
Build #AI-201.8743.12.41.6858069, built on September 23, 2020
Runtime version: 1.8.0_242-release-1644-b01 amd64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 10 10.0
GC: ParNew, ConcurrentMarkSweep
Memory: 1237M
Cores: 6
Registry: ide.new.welcome.screen.force=true

[2021-08-09 12:07] #2391 closed

[2021-08-09 12:07] chendadon commented on #2391
done

[2021-08-09 13:30] nelsontseng0704 commented on #2394
Hi GowrojiSunil,

Thanks for your fast reply and suggestion. Here are more details of my use case. By the way, how do I find all options in scene_cropping_calculator? It helps me understand those calculators better.

**System information** (Please provide as much relevant information as possible)

OS Platform and Distribution :iOS 11.3.1
MediaPipe version: 0.8.6
Bazel version: bazel 3.7.2
Solution

[2021-08-09 13:56] sn1c3 commented on #2274
@Rassibassi, your repo has some useful scripts, but a solution to the initial question is not provided, or am I missing something?

@connernam did you find something? I used for my visualizations [ipyvolume](https://ipyvolume.readthedocs.io/en/latest/#). It works quite good, but the repo is not maintained very actively.

[2021-08-09 14:52] quadrathirsch commented on #2319
+2
Hi, I made the same experience... any updates?

[2021-08-09 16:48] martinkoenig commented on #2323
Also similar problem for me. Mediapipe Hands freezes randomly if used with multiprocessing.
For some reason it pretty much never raises an error, mp.Hands just dies silently. Finally I got this traceback today.

[code]

[2021-08-09 17:12] mhays-google commented on #2388
@AdrienVigne
The address is actually `https://cdn.jsdelivr.net/npm/@mediapipe/control_utils_3d/control_utils_3d.js`

[2021-08-09 17:18] AdrienVigne commented on #2388
hello, even with this url I get the following errors
![image](https://user-images.githubusercontent.com/52231952/128746704-8b9c074d-4380-456f-944f-92d1838ce8f1.png)

[2021-08-09 17:23] mhays-google commented on #2066
@pwhite77 You can, in fact, send an HTML Image element.  We support HTMLVideoElement, HTMLImageElement, HTMLCanvasElement, and ImageBitmap.

We are considering some sort of MediaStream in the future, but I don't have a date.  On Chrome, you can do this today by instantiating `ImageCapture` on top of your MediaStream track, and then using `ImageCapture.grabFrame()` which will return an `ImageBitmap

[2021-08-09 17:33] mhays-google commented on #2388
Can you verify that `control_utils_3d.js` is actually loading into your script tag before you are trying to reference it?  On Chrome, you can go to your network tab in the developer console.  It looks like a required script is not being loaded.

[code]

[2021-08-09 17:47] ahmadyan commented on #2009
If you use tflite you can use our c++ mediapipe wrapper around Yolo for inference. You'll still need to write code to decode the yolo's output and convert it to 2D bounding boxes.

[2021-08-09 18:14] veetechh commented on #2328
I still face this issue on android mobile even after setting confidence value to 0.75.

[2021-08-09 18:52] mhays-google commented on #2328
A 75% confidence is not great.  Try 99%.  But even still, the quality of a neural network is attributed in no small part to the training data that was used to make it.  The team continues to improve and refine their models, so hopefully the performance doesn't get worse with each new version.

[2021-08-09 19:22] ibrandiay commented on #2009
@ahmadyanBasically it was a yolo, but after converting to tflite, the output is fine in 2D. So with these conditions I imagine that it would be enough to run on mediapipe without implementing a c ++ wrapper. Tell me if I'm talking nonsense

[2021-08-09 20:46] #2334 closed

[2021-08-10 01:05] foamliu commented on #2357
Hello, Ping~ :） @bazarevsky @sgowroji

[2021-08-10 01:11] jamesjianwang opened #2396 "Can face mesh work on small faces or long-range faces?"
I want the face mesh to work on small faces. However, it seems that it can only work for large faces.

It is said that MediaPipe face mesh uses the same detection model as the MediaPipe face detection. But the face detection has a parameter called MODEL_SELECTION (Use 0 to select a short-range model that works best for faces within 2 meters from the camera, and 1 for a full-range model best for fa

[2021-08-10 02:07] lilinxiong commented on #2004
Hi @sgowroji Are there any plans to open the project discussions tab? For example, this question is more like someone needs to discuss and get the correct answer, rather than an issue.
For example, [Discussions](https://github.com/google/oboe/discussions) like [Oboe’s](https://github.com/google/oboe)

[2021-08-10 03:04] jld23 commented on #2041
I've tried to consolidate the different patch files on this thread and the linked comments on the master branch but I'm running into a segmentation fault. Has anyone solved cuda support in a docker container for pose?

Here is my diff:
diff --git a/Dockerfile b/Dockerfile
index 95d027a..c4c4df3 100644
--- a/Dockerfile
+++ b/Dockerfile
@@ -12,9 +12,9 @@
 # See the License for the specific language

[2021-08-10 03:22] sgowroji commented on #2396
Hi @jamesjianwang, Have you encountered any issue while working on facemesh. Can you share a video or any observation to help us understand the issue much better. Thanks!

[2021-08-10 03:47] sgowroji commented on #2388
Hi @AdrienVigne, Can you please try to verify the script getting loaded as mentioned in the above [comment](https://github.com/google/mediapipe/issues/2388#issuecomment-895407600). Thanks!

[2021-08-10 04:46] #2338 closed

[2021-08-10 04:46] #2340 closed

[2021-08-10 05:36] alien190 commented on #2395
Hi @sgowroji, thanks for your reply.

Please have a look at the two videos of testing Pose example application:
* Honor View 10 (low performance) https://drive.google.com/file/d/1bwxQFNNtiDTe4twXY2tG8XOmU7rkLbU7/view?usp=sharing
* Sony Xperia XZ1 Compact (well performance) https://drive.google.com/file/d/11jzOovXA9ZyNB30h32l-g0B-McP_q3Xo/view?usp=sharing

Thank you.

[2021-08-10 05:41] veetechh commented on #2328
It doesn't detect hand on mobile if I keep 0.9 confidence.

[2021-08-10 05:51] sgowroji commented on #928
Hi @rajeev-tbrew, Could you please respond if you are still looking resolution for the above query. Thanks!

[2021-08-10 05:54] sgowroji commented on #837
Hi @Saltb0xApps, Did you get a chance to go through the latest version and verify the above. Could you please test and let us know if you still see the same. And share the observations to investigate further. Thanks!

[2021-08-10 06:46] #1350 closed

[2021-08-10 06:46] #2342 closed

[2021-08-10 06:47] sgowroji commented on #952
Hi @ButcheredGenre, Could you please respond if you are still looking resolution for the above query. Thanks!

[2021-08-10 06:50] sgowroji commented on #834
Glad to know you resolved from above comment. We are closing this issue now. Thanks!

[2021-08-10 06:50] #834 closed

[2021-08-10 06:50] rajeev-tbrew commented on #928
@sgowroji Please close this one.

[2021-08-10 06:50] #928 closed

[2021-08-10 06:54] arijith96 opened #2397 "KNIFT aar on Android with Gradle using demo apps - java.lang.UnsatisfiedLinkError: dlopen failed: cannot locate symbol "_ZNK2cv17DescriptorMatcher8knnMatchERKNS_11_InputArrayES3_RNSt6__ndk16vectorINS5"
**System information** (Please provide as much relevant information as possible)
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4):
- [MediaPipe version](https://github.com/google/mediapipe/releases): v0.8.6
- Bazel version:bazel 4.1.0
- Solution (e.g. FaceMesh, Pose, Holistic): KNIFT aar
- Programming Language and version ( e.g. C++, Python, Java): Java

**Describe t

[2021-08-10 06:57] sgowroji commented on #1447
Hi @c1139676919, You can try building the above with bazel commands like this, As we mentioned [here](https://github.com/google/mediapipe/issues/3#issuecomment-506926022)

`$ bazel build -c opt --config=android_arm64 \
  --distdir=<your cache directory> \
  --repository_cache=<your cache directory> \
  --keep_going \
  mediapipe/examples/android/src/java/com/google/mediapipe/apps/facedetectiongpu`

[2021-08-10 06:57] #1447 closed

[2021-08-10 07:09] bugmany commented on #2009
hi @ahmadyan, I'll try it, thanks a lot.

[2021-08-10 07:11] sgowroji commented on #2397
Hi @arijith96, Can you try this https://github.com/google/mediapipe/issues/1224#issuecomment-745190852

[2021-08-10 07:19] sgowroji commented on #1509
Hi @jjeon5, Could you please test the above with the  latest release and let us know if you still see the same error. Thanks!

[2021-08-10 07:21] sgowroji commented on #1420
Hi @r2d3, Could you please test the above with the latest release and let us know if you still see the same error. Thanks!

[2021-08-10 07:26] sgowroji commented on #1461
Hi @NikhilBadami, Could you please respond if you still seeing the above observation with the [latest](https://google.github.io/mediapipe/solutions/pose.html#python-solution-api) release.

[2021-08-10 07:35] arijith96 commented on #2397
Hi @sgowroji,
Thanks for your response!

I do not think that could help since I was able to run both the demo/example apps with the .aar. Will give it a try nonetheless.

Also, could it be because of [this](https://google.github.io/mediapipe/solutions/knift.html#:~:text=Note%3A%20MediaPipe%20uses%20OpenCV%203%20by%20default.%20However%2C%20because%20of%20issues%20between%20NDK%2017%2B%20and%20Open

[2021-08-10 08:06] Arezki93 commented on #2312
unfortunately I did not find a solution !

Le dim. 8 août 2021 à 15:29, TomerJakobovich ***@***.***> a
écrit :

[2021-08-10 08:43] megh21 commented on #2371
got it, installed new version python version 3.9, it works!

[2021-08-10 08:43] #2371 closed

[2021-08-10 08:51] kingmacth opened #2398 "Use only box_tracking_cpu.pbtxt"
I need a program to mark the frame on the video and then track it automatically. I have seen other demos. It should only be achieved by using Use only box_tracking_cpu.pbtxt. But I have not found the required input sub-graph.

[2021-08-10 08:55] BitLoose commented on #1162
Any update on a c++ sample for MediaPipe?

MediaPipe is overlooking a lot of professional users and projects for
not having c++ api examples, how long would it take someone in the MP
team to do this, half an hour?

Best regards
Rob Colclough
CTO
Sentel Advance Systems - ViewPoint Group
T. US +1 215 240 6030
T. UK +44 (0)20 8144 3150 (Low-rate 03333 442 120)
www.Sentel-Advance.com
Skype: ViewPoint3

[2021-08-10 09:06] sgowroji commented on #2398
Hi @kingmacth, Could you please elaborate your use case with complete details. Thanks!

[2021-08-10 09:14] kingmacth commented on #2398
Hi @sgowroji , I want to make a demo with only box_tracking and no detection

[2021-08-10 10:50] Swapnil-gautam opened #2399 "Difference between hand_landmark.tflite and hand_landmark_sparse.tflite"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04, Android 11, iOS 14.4): LInux ubuntu 18.04.5 LTS
- Solution: Hand
- Programming Language and version: Python

I wrote a script to test the tflite models available in Hand-Solution[](https://github.com/google/mediapipe/tree/master/mediapipe/modules/hand_landmark)

Both the model works great (I found hand_landmark_sparse

[2021-08-10 11:07] sgowroji commented on #2399
Hi @Swapnil-Gautam, Could you please provide, your use case regarding the tflite. And have you tried the Hands python solution directly instead of using the tflite. Thanks!

[2021-08-10 11:47] ljmkimqx commented on #2392
Is there a solution?

[2021-08-10 12:46] #2246 closed

[2021-08-10 12:46] #2315 closed

[2021-08-10 13:46] #2266 closed

[2021-08-10 13:46] #2271 closed

[2021-08-10 13:46] #2206 closed

[2021-08-10 13:46] #2193 closed

[2021-08-10 13:46] #2189 closed

[2021-08-10 14:46] #2087 closed

[2021-08-10 14:46] #2078 closed

[2021-08-10 16:41] ButcheredGenre commented on #952
Hi @sgowroji, I'm no longer actively looking for a solution to this issue, though I never managed to fix the out-of-memory problem. For all I know it could be working fine in recent versions/ was a device-specific issue, but I can't test it right now. In any case, feel free to close unresolved due to lack of interest/ activity.

[2021-08-10 16:46] #2261 closed

[2021-08-10 17:10] kruysh commented on #1000
Sorry for asking again, but are there any updates on releasing attention mesh model?

[2021-08-10 17:39] 0y8w1x opened #2400 "How to run HandTracking without a display ?"

[2021-08-10 18:49] #2400 closed

[2021-08-10 20:21] renchsan commented on #2260
Any updates for iOS/Safari support?  Or if you can point out what the issue is it would be very helpful.

[2021-08-11 00:58] bschiett opened #2401 "Trace file not readable by viz.mediapipe.dev when uploading"
<em>Please make sure that this is a bug and also refer to the [troubleshooting](https://google.github.io/mediapipe/getting_started/troubleshooting.html), FAQ documentation before raising any issues.</em>

**System information** (Please provide as much relevant information as possible)

- Have I written custom code (as opposed to using a stock example script provided in MediaPipe): No
- OS Platform

[2021-08-11 02:09] ljmkimqx commented on #2392
Sorry, I understand. It's my problem. The key point with XY value greater than 1 is the position where the estimated position exceeds the screen.

[2021-08-11 02:09] #2392 closed

[2021-08-11 03:37] sgowroji commented on #2401
Hi @bschiett, Could you please attach/share your trace file. Thanks!

[2021-08-11 04:18] sgowroji commented on #1000
Hi @seungwonpark & @kruysh, Currently we don't have any plans as of now. But i would request you to subscribe our page and  to get the latest updates.

[2021-08-11 04:50] sgowroji commented on #1497
Hi @Leffe108, Could you please respond if you still see the same observation,  even with the latest release. Thanks!

[2021-08-11 04:57] sgowroji commented on #839
Hi @u2takey, Do we  have any update on this issue w.r.t   this https://github.com/google/mediapipe/issues/839#issuecomment-649731485

[2021-08-11 05:02] sgowroji commented on #1417
We have updated the documentation regarding the Z value in hands https://google.github.io/mediapipe/solutions/hands.html#multi_hand_landmarks and you can also refer this https://github.com/google/mediapipe/issues/742#issuecomment-637162399

[2021-08-11 05:07] sgowroji commented on #516
Refer https://github.com/homuler/MediaPipeUnityPlugin repo to work on Hand tracking.

[2021-08-11 05:07] #516 closed

[2021-08-11 05:12] sgowroji commented on #1448
Hi. @AryanSethi, Could you please respond if you still looking resolution for the above query. Thanks!

[2021-08-11 05:46] #2345 closed

[2021-08-11 06:46] #2216 closed

[2021-08-11 06:46] #2013 closed

[2021-08-11 07:33] #1994 closed

[2021-08-11 07:46] #1989 closed

[2021-08-11 07:46] #1317 closed

[2021-08-11 07:46] #1245 closed

[2021-08-11 07:46] #1264 closed

[2021-08-11 07:47] AryanSethi commented on #1448
I'm really sorry I've been very busy. I'll try it as soon as possible.
For now you can close the issue. I'll get back if there's something wrong.

[2021-08-11 08:01] #1448 closed

[2021-08-11 09:11] sgowroji commented on #1538
Hi @fogside, Could you please respond if you still looking any resolutions for the above query. Thanks!

[2021-08-11 09:20] arijith96 commented on #2397
Got to know what was going wrong :)

Since there are issues with the knnMatch I needed to swtich the WORKSPACE to OpenCV4 and then build the aar.
Also had to change the loadLibrary in Android Studio to "opencv_java4" instead of "opencv_java3" for it load properly.

Closing this issue now. Thanks!

[2021-08-11 09:20] #2397 closed

[2021-08-11 09:27] zhoujingheng opened #2403 "how build solution facemesh android"
![image](https://user-images.githubusercontent.com/12888787/129005212-2323c28f-d187-4874-aa4c-05776ddc07ae.png)

[2021-08-11 09:46] fogside commented on #1538
Hi! @sgowroji! I think it's fine to close the issue.

[2021-08-11 09:46] #1538 closed

[2021-08-11 10:09] zhoujingheng opened #2404 "invalid current EGLContext"
two eglcontext error

[2021-08-11 10:47] duy-maimanh opened #2405 "[Android] Error when set custom Surface for videoSurfaceOutput."
I'm trying to get the output image into a Surface.
Original, we will set like that.

        it.holder.addCallback(object : SurfaceHolder.Callback {
            override fun surfaceChanged(
                holder: SurfaceHolder,
                format: Int,
                width: Int,
                height: Int
            ) {
                val viewSize = Size(width, height)
                val

[2021-08-11 11:21] arijith96 commented on #1853
Hi @zhaoqilong3031
Could you please elaborate more on your commend and how you resolved it? What went wrong in your approach?

Thanks in advance :)

[2021-08-11 11:26] sgowroji commented on #2403
Hi @zhoujingheng, Could you please add the above required information to the exact reference issue. Otherwise, update the issue  with complete description.

[2021-08-11 11:52] sgowroji commented on #2404
Hi @zhoujingheng, Can you update the issue with complete description. Thanks!

[2021-08-11 12:30] arijith96 opened #2406 "KNIFT - Extracting boundbox locations in the image"
**System information**

- OS Platform and Distribution : Linux Ubuntu 20.04.2 LTS to build aar and run on Android Studio with Gradle
- [MediaPipe version](https://github.com/google/mediapipe/releases): v0.8.6
- Bazel version: bazel 4.1.0
- Solution (e.g. FaceMesh, Pose, Holistic): KNIFT
- Programming Language and version ( e.g. C++, Python, Java): Java

**GOAL:**
As show in the multihands tracking

[2021-08-11 15:45] TomHsiao1260 opened #2407 "How not to rely on CDN for npm users (MediaPipe Pose solution)"
I'm currently using the `MediaPipe Pose` solution to build a frontend Javascript application which use the `webpack` and `npm` to manage packages and build code. After following the [MediaPipe doc](https://google.github.io/mediapipe/solutions/pose), I successfully run an application. However, I believe there should be a better way to write the following lines of code for `npm` users because `npm`

[2021-08-11 16:01] yigitayaz262 opened #2408 "How to make mediapipe pose detection faster? (python)"
Hi. I'm making a pose estimation script for my game. However, it's working at 20-30 fps and not using the whole CPU even if there is no fps limit. It's not using whole GPU too. Can someone help me?

Here is resource usage while playing a dance video: [**https://imgur.com/a/6yI2TWg**](https://imgur.com/a/6yI2TWg)

Here is my code:

    import cv2
    import mediapipe as mp
    import time

    inFi

[2021-08-11 22:13] hadon commented on #1162
Due to limited resources, MediaPipe team is not actively working on this.

I see some discussion about consuming a bazel build artifacts from cmake at: https://groups.google.com/g/bazel-discuss/c/LP9tyCws_cg?pli=1.  It looks like a custom cmake rule (add_custom_target) can be used to build a bazel target, such as the mediapipe calculator_framework.  One difficulty has been grouping the build artif

[2021-08-12 01:46] #2028 closed

[2021-08-12 01:46] #2068 closed

[2021-08-12 01:49] gtaws2 commented on #2260
Thank you！
It works sometimes, but there are many errors. I'd like to release it.

[2021-08-12 03:09] sgowroji commented on #2408
Hi @yigitayaz262, Thank you for sharing your observation. Could you please elaborate your use case with more details w.r.t above observation. Thanks!

[2021-08-12 03:30] sgowroji commented on #2004
Hi @lilinxiong, Thank you for suggesting the above. In discussions you can use our slack channel community, there are many MediaPipe users who are active and can guide you well if needed any suggestions. And to get the immediate response for higher priority issues github is the only way to get it done.

[2021-08-12 03:35] sgowroji commented on #2312
Hi @Arezki93,  MediaPipe tflite where updated with ops here https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a479407c699e424aa7/mediapipe/util/tflite/cpu_op_resolver.cc#:~:text=void%20MediaPipe_RegisterTfLiteOpResolver(tflite,%7D But not sure about it in python.

[2021-08-12 03:40] sgowroji commented on #2368
Hi @tommypham, At present we don't have such GUI configuration as we depend to build the solutions using bazel. Where bazel doesn't have such provision at present. Let us know if you found any GUI configuration from bazel,  we can have a look at it. Thanks!

[2021-08-12 03:40] #2368 closed

[2021-08-12 03:43] sgowroji commented on #1485
Closing this issue as we don't support it in MediaPipe. Please reach us, your use case with complete details and MediaPipe usage on it. Thanks!

[2021-08-12 03:43] #1485 closed

[2021-08-12 03:47] sgowroji commented on #2403
Hi @zhoujingheng, We are working on it and will add the face mesh Android API solution in our GitHub repo in  next releases. At present we have updated the repo with only[ Hands solution ](https://github.com/google/mediapipe/tree/master/mediapipe/examples/android/solutions)

[2021-08-12 03:49] sgowroji commented on #2393
Duplicate https://github.com/google/mediapipe/issues/2403#issuecomment-897326635

[2021-08-12 03:50] sgowroji commented on #2382
Dupliacate https://github.com/google/mediapipe/issues/2403#issuecomment-897326635

[2021-08-12 03:50] sgowroji commented on #2380
Duplicate https://github.com/google/mediapipe/issues/2403#issuecomment-897326635

[2021-08-12 03:54] sgowroji commented on #2399
Hi @Swapnil-gautam, For difference you can refer this [blog](https://ai.googleblog.com/2021/03/accelerating-neural-networks-on-mobile.html). And also this two model cards  https://drive.google.com/file/d/1yiPfkhb4hSbXJZaSq9vDmhz24XVZmxpL/preview
https://drive.google.com/file/d/1YeTUJ7azHHPO5Bhu6OW3Rg0Ka6Z7Q6Y2/preview

[2021-08-12 03:54] #2399 closed

[2021-08-12 04:18] sgowroji commented on #2376
Hi @LQ921003,  You can do the changes in the graph https://github.com/google/mediapipe/blob/b544a314b3c4818a4d6c56964b020c5be945377a/mediapipe/modules/pose_detection/pose_detection_gpu.pbtxt#:~:text=%7D-,%23%20Decodes%20the%20detection%20tensors%20generated%20by%20the%20TensorFlow%20Lite%20model,%7D,-%23%20Performs%20non-max at min_score_thresh: 0.5

[2021-08-12 05:23] sgowroji commented on #2365
Hi @aafaqin,

Can you follow https://google.github.io/mediapipe/solutions/pose.html#desktop to run the pose graph on GPU.

The pose landmark (sub)graph does produce 3D world landmarks (https://github.com/google/mediapipe/blob/b899d17f185f6bcbf3f5947d3e134f8ce1e69407/mediapipe/modules/pose_landmark/pose_landmark_gpu.pbtxt#L83).

[2021-08-12 06:37] LQ921003 commented on #2376
Hi @sgowroji ,Thank you very much for your reply.
I tried it just now and it seems to work.But I encountered a similar problem. When there is no one in the screen, there will still be lines of recognition.I set the value of min_score_thresh to 0.8.This problem is manifested in this picture file.
![IMG_0195](https://user-images.githubusercontent.com/82488102/129149432-b062b957-11b7-4805-a1ff-3f22b8

[2021-08-12 06:54] BitLoose commented on #1162
That's crazy, c++ is the only open standards OO language used in IOT and
other embedded devices, it is the most flexible and efficient language
available, reports say its popularity is in the top 3 languages and
rising, yet MediaPipe doesn't support it.

IMHO you need to assign resources to this issue or your project will be
handicapped.

Best regards
Rob Colclough
CTO
Sentel Advance Systems - Vie

[2021-08-12 07:53] darkthecross commented on #1609
Can we also update related documents? https://google.github.io/mediapipe/getting_started/cpp.html#option-2-running-on-gpu

[2021-08-12 08:49] arijith96 commented on #1624
Hi @jiuqiant

thanks for the guidance! I made your changes and tried to build the aar again (a knift aar including TimedBoxProtoList) but it fails with this error

`/home/ari/testMediapipe/mediapipe/mediapipe/examples/android/src/java/com/google/mediapipe/apps/aar_example/BUILD:3:14: Assembling dex files into mediapipe/examples/android/src/java/com/google/mediapipe/apps/aar_example/_dx/mediapipe_t

[2021-08-12 09:46] #2354 closed

[2021-08-12 11:55] zhoujingheng commented on #2405
Hi@sgowroj  i just want Landmark only

[2021-08-12 12:01] zhoujingheng commented on #2403
Hi @sgowroji when release next repo about face mesh Android API solution

[2021-08-12 12:28] chendadon commented on #2401
Hi, im trying to profile the MPHolistic, can you please elaborate on where to put this code:
profiler_config {
trace_enabled: true
enable_profiler: true
trace_log_interval_count: 200
trace_log_path: "/Temp/"
}
?

Thx

[2021-08-12 12:42] nelsontseng0704 opened #2410 "Autoflip article on Google AI Blog mentioned choosing reframing strategy between stationary, panning, or tracking where it was decided in which calculator?"
**System information** (Please provide as much relevant information as possible)
-OS Platform and Distribution :iOS 11.3.1
-MediaPipe version: 0.8.6
-Bazel version: bazel 3.7.2
-Solution: Autoflip
-Programming Language: C++

**Describe the expected behavior:**

In AutoFlip: An Open Source Framework for Intelligent Video Reframing article, the article mentioned "AutoFlip automatically chooses an op

[2021-08-12 15:16] lilinxiong commented on #2004
ok thanks~

[2021-08-12 16:03] jiuqiant commented on #1624
Try the following:

diff --git a/mediapipe/java/com/google/mediapipe/mediapipe_aar.bzl b/mediapipe/java/com/google/mediapipe/mediapipe_aar.bzl
index 0b75ba7..72a788d 100644
--- a/mediapipe/java/com/google/mediapipe/mediapipe_aar.bzl
+++ b/mediapipe/java/com/google/mediapipe/mediapipe_aar.bzl
@@ -286,6 +286,7 @@
         name = name + "_dummy_app",
         manifest = name + "_generated_AndroidMani

[2021-08-12 16:08] jiuqiant commented on #2312
MediaPipe repo has custom ops for the hair segmentation model. So, using the model with tflite python interpreter directly doesn't work. You need to copy the custom ops to a local TensorFlow repo and rebuild its python package.

Since it's not a MediaPipe Python issue, reassign this back to @sgowroji .

[2021-08-12 18:46] #2155 closed

[2021-08-13 01:08] mhays-google commented on #1284
Hex numbers should syntax-color correctly now

On Tue, Aug 10, 2021 at 10:46 PM google-ml-butler[bot] <
***@***.***> wrote:

[2021-08-13 01:09] mhays-google commented on #1630
This has been fixed and staged.

On Tue, Aug 10, 2021 at 9:46 PM google-ml-butler[bot] <
***@***.***> wrote:

[2021-08-13 04:46] #2356 closed

[2021-08-13 07:25] natarajakm commented on #2332
any update on this it will be grate.
it will helps me to procced with this GPU or choose the other GPU option

[2021-08-13 08:24] bobokeke0 commented on #2330
@z7212819
How did you get the shoe to show on your foot. I'm trying to create a Tryon app with the objectron example. Do you have any pointers. Thanks

[2021-08-13 08:36] arijith96 commented on #1624
@jiuqiant
Yes! The `multidex` argument was missing.

Thanks!

[2021-08-13 10:31] Swapnil-gautam opened #2412 "Retrain mediapipe hand solution"
I want to retrain the mediapipe hand solution to get 34 landmarks (additional 13 more landmarks with the current 21 landmarks), I have build a model similar to that of [media pipe hand](https://github.com/google/mediapipe/blob/master/mediapipe/modules/hand_landmark/hand_landmark.tflite), and I have trained it using my costume dateset of 39k images.

[2021-08-13 14:24] mangodan2003 opened #2413 "Coral edgetpu Readme and support scripts outdated."
Thank you for submitting a MediaPipe documentation issue.
The MediaPipe docs are open source! To get involved, read the documentation Contributor Guide
## URL(s) with the issue:

Please provide a link to the documentation entry, for example:
https://github.com/google/mediapipe/tree/master/mediapipe/examples/coral

## Description of issue (what needs changing):

The above document and related scrip

[2021-08-13 17:11] midhulavijayan commented on #1155
Hi @kostyaby,

I am developing an app to try different types of glasses. As per your guidance, i tried to change the asset files. For that i have downloaded obj files from "https://www.cgtrader.com/3d-models/eyeglasses" and converted using the python script which you have mentioned. But the glass is not fitting on the face properly. Could you please guide me to do this?.. I am very new to 3d model

[2021-08-13 20:01] methodistsmab opened #2414 "What is the format of the output of pose landmarks?"
I printed the output of the pose landmarks model.  Does anyone know what the format is? I checked the model card, which doesn't describe this format.  I think it is the output of Identity_4 type: float32[1,117] of the model.
It may be the format of (x, y, z). But how can I map these to the output frame. Why does the x,y be negative numbers sometimes?  Thanks!

Landmark[0]: (0.47486383, 0.25227875,

[2021-08-14 00:44] TAU20 opened #2415 "Mediapipe installation problem"
I have a problem installing Mediapipe from python (pip install mediapipe)

My Python version is: 3.7.9
I have installed cv2 in its version: 4.5.3

I hope you can help me, I am in trouble and I need urgent help, this depends on an institute job!
Write to the email if you cannot see the images: tomaslucero51@gmail.com

I am working on a hand detection program and my problem is the following, I will

[2021-08-14 09:38] Priyanka-ps1105 commented on #1466
Same Issue, I tried to install **mediapipe** via python version 3.7.9 and 3.7.0  of 64 bit but not working

[2021-08-14 09:47] mstfabbstbr commented on #1200
same problem with bazel 3.7.2

[2021-08-14 13:47] only-tao opened #2416 "a error: recipe for target 'modules/imgcodecs/CMakeFiles/opencv_imgcodecs.dir/src/loadsave.cpp.o' failed"
**System information**
- OS Platform and Distribution :   Ubuntu 18.04, jetson xavier):
- Programming Language and version : python 3.8.10

- Bazel version: bazel 3.7.2

 when I install it, the problem occurs to me;

when I use   `python setup.py install`  , the return is build did not completed successfully

some of errors are as follows:

`DEBUG: /home/nx/.cache/bazel/_bazel_nx/51a49d8cb6e40c6c7

[2021-08-14 15:18] tommypham commented on #2364
I 've already solved it.

[2021-08-14 18:16] micmelesse commented on #2170
@homuler  Thank you. This helped me. Can you please make this a pr so that others can avoid the issue?

[2021-08-14 19:44] NourOmran opened #2417 "hi , I want to train the model to another part of the body , How can i label the raw material to retrain the model"
Thank you for submitting a MediaPipe documentation issue.
The MediaPipe docs are open source! To get involved, read the documentation Contributor Guide
## URL(s) with the issue:

Please provide a link to the documentation entry, for example: https://github.com/google/mediapipe/blob/master/docs/solutions/face_mesh.md#models

## Description of issue (what needs changing):

Kinds of documentation pro

[2021-08-15 00:42] iovsiann commented on #1325
Below worked successfully for me on Ubuntu 18.04:
[code]

[2021-08-15 03:06] TommyZihao opened #2418 "When will the iris be available for Python? Looking forward to it!"
When will the iris be available for Python? Looking forward to it!