[2021-04-27 08:50] limetus opened #1942 "Error with "Run the MediaPipe binary to extract the features.""
With
"bazel build -c opt --linkopt=-s \
  --define MEDIAPIPE_DISABLE_GPU=1 --define no_aws_support=true \
  mediapipe/examples/desktop/youtube8m:extract_yt8m_features"
Command,
I've got followed error.

DEBUG: /home/members/yeoreum/.cache/bazel/_bazel_yeoreum/17e6889d84baa7b06a36a4e093846fd1/external/org_tensorflow/third_party/repo.bzl:108:14:
Warning: skipping import of repository 'com_google_abs

[2021-04-27 15:45] timtensor commented on #1921
yes ! i managed it thanks!

[2021-04-27 15:45] #1921 closed

[2021-04-27 16:09] rahulchaphalkar commented on #1933
@jiuqiant ah i believe it is the same issue, which already has a PR. I'll close this one. Thanks.

[2021-04-27 16:09] #1933 closed

[2021-04-27 22:44] tyrmullen commented on #1934
To answer your questions, yes, we're using a GPU-based inference engine, which is often compatible with WebGL and always compatible with WebGL2.  However, the engine we're using in MediaPipe JS Solutions is not part of the MediaPipe codebase, and it is unclear if/when it will be released as open-source.

[2021-04-28 02:18] congnguyenthe opened #1943 "How to get the model view matrix for each face landmark returned by mediapipe?"
I am trying to extract the model view matrix for each face landmark returned by mediapipe just like what we can do with ARCore as in [here ](https://creativetech.blog/home/face-landmarks-for-arcore-augmented-faces)so that I can render a 3D object at an exact landmark.

Using [the face geometry example of mediapipe](https://github.com/google/mediapipe/blob/master/mediapipe/examples/android/src/java

[2021-04-28 02:18] #1881 closed

[2021-04-28 05:33] sgowroji commented on #1916
Hi @titoasty, Could you please respond to my above comment. Thanks!

[2021-04-28 05:46] sgowroji commented on #1665
Hi @mayank10j, Did you get a chance to test!

[2021-04-28 05:55] sgowroji commented on #1489
We are closing this issue now due to lack of activity.

[2021-04-28 05:55] #1489 closed

[2021-04-28 05:57] sgowroji commented on #1568
We are closing this issue now due to lack of activity on it.

[2021-04-28 05:57] #1568 closed

[2021-04-28 05:59] sgowroji commented on #1595
We are closing this issue now due to lack of activity!

[2021-04-28 05:59] #1595 closed

[2021-04-28 06:01] sgowroji commented on #1598
Hi @d-lay, Could you please respond to my above comment. Thanks!

[2021-04-28 06:02] sgowroji commented on #1655
We are closing this issue now due to lack of activity.

[2021-04-28 06:02] #1655 closed

[2021-04-28 06:26] vandics commented on #1803
hi, sorry for late respond. It solved now. Thank you

[2021-04-28 06:34] cpiportal commented on #1346
Have you been able to successfully built bazel and run mediapipe on raspberry pi without any problem ? If so, please guide. Thanks.

[2021-04-28 08:56] sukkritsharmaofficial commented on #1553
hi @nikitatishin5 , i'm facing the same issue while using multi-threading and mp together, did you fix the issue by any chance? If yes, can you please tell me how to fix it ?

[2021-04-28 09:06] nikitatishin5 commented on #1553
I made little less load for server. So i count avg requests per minute and dynamically changing count of Hands class exemplars. And trying to do not use one class example for more then 15 parallel counting. And also i began use gunicorn, and made picture format to jpg and with less quality 28 апр. 2021 г. 11:56 пользователь Sukkrit Sharma ***@***.***> написал:
hi @nikitatishin5 , i'm facing the sa

[2021-04-28 09:59] kuwana-live2d opened #1944 "Commercial Use"
Shall I use this product as per Apache 2 license including learned model such as .tflite model ?

[2021-04-28 10:01] #1944 closed

[2021-04-28 10:10] name-era opened #1945 "Commercial Use about learned model"
Shall I use this product as per Apache 2 license including learned model such as .tflite model ?

[2021-04-28 11:47] vbartle commented on #1346
Still getting the AttributeError above; waiting for @jiuqiant in [this](https://github.com/jiuqiant/mediapipe_python_aarch64/issues/5#issuecomment-824497723) thread.

[2021-04-28 14:32] sukkritsharmaofficial commented on #1553
@nikitatishin5 okay, thank you so much, i'll try to limit the number of image throughputs too!

[2021-04-28 15:59] AndreV84 commented on #1673
I can observe the same issue trying to build on Jetson nano

[2021-04-28 16:00] AndreV84 commented on #1673
@sgowroji
[code]

[2021-04-28 17:59] samlaf commented on #1733
I also experienced the same exact bug on jetson nano, running ubuntu 18.04 and gcc7.
The problem is that many mediapipe functions, including [image_to_tensor_converter_opencv.cc](https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a479407c699e424aa7/mediapipe/calculators/tensor/image_to_tensor_converter_opencv.cc#L106), have return type `absl::StatusOr<mediapipe::Tensor>` but only retur

[2021-04-28 18:47] ben-xD opened #1946 "Module not found: Can't resolve '@mediapipe/face_mesh'"
I am using NextJS/ React to use the **face_mesh** library, and unfortunately when building, the application crashes with `Module not found: Can't resolve '@mediapipe/face_mesh'`. Note: The error doesn't happen immedaitely, because the build process only happens when you visit the `localhost:3000/video-room` because the pages are lazily built in NextJS's debug mode.

I had previously gotten the fac

[2021-04-28 18:48] ben-xD commented on #1946
I think @mhays-google will know the most about this, since he is the author of this project, according to `package.json`

[2021-04-28 18:51] ben-xD commented on #1946
Fixed with `import {FaceMesh, InputMap, NormalizedLandmark} from "@mediapipe/face_mesh/face_mesh";`

[2021-04-28 18:51] #1946 closed

[2021-04-28 18:55] ben-xD commented on #1411
@dmnsgn I guess we have to wait for the JS libraries to be open sourced https://github.com/google/mediapipe/issues/1408

[2021-04-28 19:55] syanenko commented on #1411
I suppose it will be this way:
`
while(true)
{
  console.log("Wating for source code ...");
}
`

[2021-04-29 02:35] weixinz1 opened #1947 "Some question about face effect solution on Android"
1. Can I get face landmark in face effect solution on Android?
2. In the example java [file](https://github.com/google/mediapipe/blob/master/mediapipe/examples/android/src/java/com/google/mediapipe/apps/faceeffect/MainActivity.java#L109), the getPackedData() method can get 16 float numbers and what's the meaning of these numbers

[2021-04-29 06:05] donguk-dev opened #1948 "[hand tracker] size of feature map on palm detector"
I used your hand tracker model and it worked very well.
I have a question using your palm detector model.

How can this model find big hand or small hand?
 - this model use only 8x8, 16x16 feature map. (original pyramid structure use 32x32, 16x16,8x8,4x4,2x2, 1x1)

Thank you :-)

[2021-04-29 06:16] Lr-2002 commented on #3
HI,could i download the dependencies via firefox and the copy it into the fire storage ?
things doesn't work well,It seems bazel making different dictionary every time?

[2021-04-29 06:31] Lr-2002 commented on #1489
So,Did the problem fixed ever?
In need of your help ,plz

[2021-04-29 06:36] sgowroji commented on #1882
Thanks for the update. We are closing this issue now. Feel free to open if you have queries in the above comment. Thanks!

[2021-04-29 06:36] #1882 closed

[2021-04-29 06:53] sgowroji commented on #1489
Hi @Lr-2002, Did you try with the latest MediaPipe version?. If you still face the same issue, could you please raise as a new issue with complete details in it. Thanks!

[2021-04-29 06:58] sgowroji commented on #1673
Hi @AndreV84,  Thanks for letting us know. Could you share above mentioned configurations are same as yours. If both same then please provide the complete details like steps to reproduce to get the error. if not then raise another new issue with your details. Thanks

[2021-04-29 07:03] sgowroji commented on #1553
We are glad you shared your resolution. Hence closing this ticket.

[2021-04-29 07:03] #1553 closed

[2021-04-29 07:06] Lr-2002 opened #1949 "org_tensorflow download error"
Hi,I'm trying to compile the android apk with bazel on my ubuntu pc.
Now ,i'm facing some problems while doing this.

Downloading org_tensorflow error:
 1. proxy : qv2ray in linux, (I'm i China mainland)
 2. Problem: not able to go throw org_tensorflow 's download

 So ,I've tried  to download org_tensorflow.tar.gz via firefox by the url showed to me.
 And then ,I hope to copy it to the folder whi

[2021-04-29 07:11] Lr-2002 commented on #1949
Well ,the vpn is not very stable ,and its speed is low (~10kb/s)
While downloading the tar ,It's ~3MB/s

[2021-04-29 07:14] sgowroji commented on #1346
Hi @vbartle,  If the above issue is not similar to yours please raise a new issue.

[2021-04-29 07:14] sgowroji commented on #1346
Hi @Firos333, Could you please confirm your issue resolved?

[2021-04-29 07:18] sgowroji commented on #1949
Hi @Lr-2002, Could you please mention the steps followed to reproduce the above error. Did you use mediapipe in the above for installation? If yes then share the error logs .

[2021-04-29 07:20] sgowroji commented on #1803
Glad to know you resolved. We are closing this issue now.

[2021-04-29 07:20] #1803 closed

[2021-04-29 07:52] nikitatishin5 commented on #1553
Its not that way, which i would prefer. Instead of 60 fps i got 25-30. Its terrible.29 апр. 2021 г. 10:03 пользователь GowrojiSunil ***@***.***> написал:
We are glad you shared your resolution. Hence closing this ticket.

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-04-29 08:13] AndreV84 opened #1950 "how to run solution samples for desktop on headless device? [no display connected]"
I was trying to run webcam desktop gpu examples but it fails due to EGL errors
tried virtualGL but it did not get to work either
any ideas?

[2021-04-29 08:16] Firos333 commented on #1346
Hi, @sgowroji, I didn't try  [this](https://github.com/jiuqiant/mediapipe_python_aarch64). Since it is not done in Pi OS. And am not following up on the issue now. What's the actual status of mediapipe on RPI? Is there is any plan to integrate it with pi?

[2021-04-29 08:17] AndreV84 commented on #1673
1. the same configuration; the issue occurred exactly in the same way on the same setup, gcc 7.4; I saw more thread with that particular error message https://github.com/google/mediapipe/issues/1733 . E.g. it would occur on executing `bazel build -c opt --copt -DMESA_EGL_NO_X11_HEADERS --copt -DEGL_NO_X11 \ mediapipe/examples/desktop/hand_tracking:hand_tracking_gpu` .
2. Also changing in two files

[2021-04-29 08:19] #1346 closed

[2021-04-29 08:42] sgowroji commented on #1950
Hi @AndreV84, Can you share your issue reproduction steps and error logs. Thanks!

[2021-04-29 08:56] AndreV84 commented on #1950
@sgowroji
Hi, thank you for following up!
Could you extend if there is any way to run mediapipe solutions on headless device, please? using webcam desktop GPU solutions somwhow?

[2021-04-29 09:00] sgowroji commented on #1950
I believe @mcclanahoochie  will be the right person to guide you. But if you have already tried and facing some errors, It would be great if you can share it here .

[2021-04-29 09:04] sgowroji commented on #1346
Presently no from this https://github.com/google/mediapipe/issues/1312#issuecomment-745715486. But keep subscribe to know more about in future releases.

[2021-04-29 09:07] youngkyungkim opened #1951 "issue on getting coordinates for bounding box from box_tracking algorithm"
I have successfully used the object_tracking algorithm from mediapipe/examples/desktop/object_tracking label object for the input video. For next step I was interested in getting the coordinates and labels for those bounding boxes for objects.

In order to get the coordinates I changed the graph for object_detection_tracking_desktop_live.pbtxt and demo_run_graph_main.cc. I have listed code below.

[2021-04-29 09:19] pouss06 commented on #1042
@VLorin how did you get the hand landmark working on GPU as the graph changed quite a bit from 8.0.0 (cf [1273](https://github.com/google/mediapipe/issues/1273) to 8.3.1 ?
BTW I noticed quite the same results on CPU, maybe a bit lower ~10FPS.

[2021-04-29 09:24] sgowroji commented on #1042
Hi @pouss06, If your issue similar to the above then please reopen it otherwise create a [new issue ](https://github.com/google/mediapipe/issues/new)

[2021-04-29 09:27] 04633435 opened #1952 "Iris tracking using video as input, but the output video gets shorter..."
Hi there, I am working on the iris tracking graph using the video as input. But I encountered a strange problem, that I fed an 8k 15s clip into the pipeline,  but what I got is a 2s video output.

I tested it on other three clips with different duration and resolutions (1) 4k 15s, (2) FHD 11s, and (3) FHD 38s. The outputs are the same, a 2s video with 65 frames extracted by ffmpeg.

And then I mod

[2021-04-29 09:34] aoxipo opened #1953 "Error parsing text-format mediapipe.CalculatorGraphConfig could not find type in google.protobuf.Any."
i try to run the face_mesh desktop .and i copy iris code and changed some configuration, It's working very well in ubuntu, but get error in windows10. here is error log:

`[libprotobuf ERROR external/com_google_protobuf/src/google/protobuf/text_format.cc:309] Error parsing text-format mediapipe.CalculatorGraphConfig: 38:74: Could not find type `
[code]
[code]
I don't understand what‘s wrong,i try

[2021-04-29 09:51] Wilann opened #1954 "Holistic in Python: No Landmarks? Pose too small?"
I'm trying to use Holistic to estimate key-points for poses for 2-4 people in a frame. When (primarily) 2 people are in the frame, and they're quite far away, MediaPipe doesn't return any landmarks.

Test Image:
![test_image](https://user-images.githubusercontent.com/40744757/116533014-e71ac800-a8ae-11eb-83d3-d68b1862fe34.png)

Code (Taken from the [Holistic Python CoLab](https://colab.research.go

[2021-04-29 10:39] Lr-2002 commented on #1949
Well,sorry ,the problem is not settled until now.I'm still seeking for solutions.
And now ,I'd better to state it more precise:

1. When did the problem happened?
    With bazel to build the android sample
    using command ```bazel build -c opt --config=android_arm64 --keep_going mediapipe/examples/android/src/java/com/google/mediapipe/apps/handtrackinggpu:handtrackinggpu
[code]
    ERROR: An err

[2021-04-29 11:49] AndreV84 commented on #1950
there was no particular error as there are many diverse errors in accordance to the method tried
but in addition to attempt to run over SSH with -''X" I also tried with virtualGL

The specificity of the setup is that there is no display at all but remote access to the target device

Also there is a difference if to execute it on Screen 0 with headless Xorg versus on Screen 1 with remote VNC in hea

[2021-04-29 11:53] AndreV84 commented on #1950
[code]
on Display :1.0 would return:
[code]
on DISPLAY=:0
[code]

[2021-04-29 11:54] AndreV84 commented on #1950
I can run the sample on Display 0, but there are no outputs that I could see but text outputs

[2021-04-29 11:54] AndreV84 commented on #1950
as there is no display on display 0/ Screen 0, but runnig Xorg session

[2021-04-29 11:59] Lr-2002 commented on #1949
Well ,upto now ,things has been better while new problem occured
1. The former problem was solved by
     1. re-open a folder to re-do the process (indeed it fixed lots of problems which was not setlled former)
2. A new problem happend :
[code]
The $ANDROID_NDK_HOME is ../Sdk/ndk/<version> while the bazel detected the ../Sdk/ndk-bundle which is not ok

And I deleted the ndk-bundle but noting chang

[2021-04-29 12:01] Lr-2002 commented on #1949
What's more :
The ndk and sdk are all installed by Android Studio

And using the setup_android_sdk_ndk.sh ,it showed :
[code]

[2021-04-29 12:08] Lr-2002 commented on #1207
So,guys ,have you fixed it until now?

[2021-04-29 13:26] Lr-2002 commented on #1949
Well ,things have been better with close the terminal and reopen it

[2021-04-29 13:29] Lr-2002 commented on #1949
Then I faced the problem ``` duplicate keyword argument: path ```
just turn to WORKSPACE and delete the path duplicated

[2021-04-29 13:37] 04633435 commented on #1927
Hi, I am struggling with a similar issue. How do you access what you want from the mediapipe on an android device?

[2021-04-29 14:11] morfant commented on #1532
It works! Thank you!!!

[2021-04-29 15:27] DandyLorenz opened #1955 "How to call USB camera ？"
The need to use a USB camera is important,whether it is to extend the method in the  CameraXPreviewHelper class or provide an additional interface.
My usb camera is Logitecch C270,I use Android version 8.1.Is there a plan to update the usb camera? Please guide me how to implement it how to call USB camera, thank you

[2021-04-29 16:06] ben-xD opened #1956 "Calculator facelandmarkfrontgpu__facedetectionfrontgpu__TensorsToDetectionsCalculator not found."
This library, [@mediapipe/face_mesh](https://www.npmjs.com/package/@mediapipe/face_mesh) is not open sourced yet, and I am not able to see what is causing it to crash.

I unfortunately get an unhelpful error message, could someone help me diagnose this issue?

The app works fine for a few minutes, but suddenly, this error message occurs. The [repo](https://github.com/ben-xD/skelly) is here. I am u

[2021-04-29 16:14] jiuqiant commented on #1942
We are aware of this issue. See the temporary solution at https://github.com/google/mediapipe/issues/1871#issuecomment-819658414.

[2021-04-29 16:20] ben-xD commented on #1956
Perhaps the long list of warning could be a sign something is wrong?

For example, `Calculator facelandmarkfrontgpu__facedetectionfrontgpu__TensorsToDetectionsCalculator not found.`

![Screenshot 2021-04-29 at 17 19 50](https://user-images.githubusercontent.com/24711048/116584317-1fea8980-a90f-11eb-871c-b4815fc685b2.png)

[2021-04-29 16:39] ben-xD commented on #1956
Solved by calling `faceMesh.close()`, which I did not see documented, but autocomplete in my IDE helped me.

[2021-04-29 16:53] #1952 closed

[2021-04-29 16:53] qllb opened #1957 "Error while build extract_yt8m_features with CUDA support"
Hello
I'm building YouTube-8M feature extraction with GPU support by [this instruction](https://google.github.io/mediapipe/getting_started/gpu_support.html)

`bazel build -c opt --verbose_failures --config=cuda --spawn_strategy=local --define no_aws_support=true --copt -DMESA_EGL_NO_X11_HEADERS mediapipe/examples/desktop/youtube8m:extract_yt8m_features
`

and getting an error

ERROR: /home/user/me

[2021-04-29 17:07] midhulavijayan commented on #1927
Hi @04633435, I was trying to implement one binary classification model. Initially, i had a problem while accessing the classification probability value from the android main.

Solution:
private static final String OUTPUT_CLASSIFICATION_STREAM = "classifications";
processor.addPacketCallback(
                OUTPUT_CLASSIFICATION_STREAM,
                (packet) -> {
                    float prob

[2021-04-29 17:28] maksymsur opened #1958 "Building for ARM with OpenCV support"
Is there a way to build mediapipe for ARM (Raspberry PI4, Jetson nano - aarch64) with OpenCV support?
I follow the instructions given here: https://github.com/jiuqiant/mediapipe_python_aarch64
And mediapipe compiles and works.
But when i try to install OpenCV
[code]
it grabs and installs opencv aarch64 wheel which works in python BUT it also breaks mediapipe installation
[code]
Would be grateful f

[2021-04-29 17:32] maksymsur commented on #1958
Actually no problem here :) Just forgot to exit from the mediapipe root directory! Solved

[2021-04-29 17:32] #1958 closed

[2021-04-29 18:12] Thurguild commented on #1932
Hi @eknight7 and @jiuqiant is there any update on this issue?

[2021-04-29 19:06] tyrmullen commented on #1956
That is an error on our side, and will be fixed in the next release.  But I think it's unrelated to your crash; even with the error reported, nothing seems to be crashing for me.  Does the MediaPipe FaceMesh CodePen demo crash for you as well?

[2021-04-29 21:11] ben-xD commented on #1956
Thanks for your message @tyrmullen, looking forward to the fix for the warnings

With regards to the crash, It does take a good few minutes without doing anything (10 minutes?) to happen, you could try https://call.orth.uk/video-room or see the screenshot which I've just generated from that page. The face mesh at this point of the screenshot is frozen, but the video footage still runs.

![Screensh

[2021-04-29 21:14] ben-xD commented on #1956
I noticed:`Cannot enlarge memory, asked to go up to 2147487744 bytes, but the limit is 2147483648 bytes!`, which is 2GB. I've got 32GB memory on my machine, and lots of it is free.

[2021-04-29 22:11] eknight7 commented on #1638
Hi,
https://google.github.io/mediapipe/solutions/hands.html#hand-landmark-model contains a description of the hand landmarks.

[2021-04-29 22:18] eknight7 commented on #1663
@fanzhanggoogle could you please guide here as to how to reduce false positives? Thank you.

[2021-04-29 22:41] eknight7 commented on #1745
The `output_stream` you are interested in is `hand_landmarks`. As shown [here](https://github.com/google/mediapipe/blob/master/mediapipe/examples/android/src/java/com/google/mediapipe/apps/handtrackinggpu/MainActivity.java#L48-L63), `hand_landmarks` is of type `NormalizedLandmarkList`. So you should use the code cited to get the hand landmarks.

The output stream `handedness` is a list of [`Classi

[2021-04-29 22:58] eknight7 commented on #1898
Hi, when there are multiple inputs to the same tag, we can format the inputs as follows:
[code]

[2021-04-29 23:03] eknight7 commented on #1932
Hi,
Using code similar to https://github.com/google/mediapipe/blob/master/mediapipe/python/solutions/hands_test.py#L79-L84, you can get the landmark coordinates of the hand landmarks and use the outer finger tips and wrist to determine the bounds of the rectangle surrounding the hand. https://google.github.io/mediapipe/solutions/hands.html#hand-landmark-model shows a mapping of hand landmark indic

[2021-04-29 23:11] eknight7 commented on #1938
Hi @warmsh, you may find some details in https://arxiv.org/pdf/2006.10214.pdf

[2021-04-29 23:14] eknight7 commented on #1697
Hi @adarmawan117,
one idea you may try is the following:
Per https://google.github.io/mediapipe/solutions/hands.html#hand-landmark-model, try computing an average of the `Y` coordinate values of the finger tips, i.e. landmark IDs `[4,8,12,16,20]` and those of the palm landmarks, i.e. landmark IDs `[0,5,9,13,17]` and use a thresholding function.

[2021-04-29 23:25] Thurguild commented on #1932
Hi,
That's great I'll have a mess around with the code and see what I can do

[2021-04-29 23:56] mlizhardy commented on #279
this is not a duplicate.  @sofman98 is asking for a dataset, #296 is asking for a model

[2021-04-30 00:02] suril commented on #1849
Hi @LeeJeongHwi , if I understood your question correctly, there are 2 parts to it:
(1) You'd like a callback when a frame is done processing through MediaPipe and final output is rendered.
(2) You'd like to overlay some custom drawing on top of rendered preview based on the detected keypoints on the frame.

For (1), you can refer to https://github.com/google/mediapipe/issues/349#issuecomment-5729

[2021-04-30 00:02] #1849 closed

[2021-04-30 00:03] hadon commented on #1632
I think you can use the API functions:
  GlCalculatorHelper::CreateSourceTexture,
  GlTexture::GetFrame<GpuBuffer>,
as they are used in: ImageFrameToGpuBufferCalculator::Process.

In ImageFrameToGpuBufferCalculator, the pixel data vector arrives in an ImageFrame, which is MediaPipe's usual image data structure.  In your use case, you can construct an ImageFrame from your pixel data vector, and the

[2021-04-30 00:17] esteimle commented on #1638
Hi eknight7 that's not the question I was asking :)  I fully understand how they are rendered, and that each landmark corresponds to a joint or hand feature.

The question is about the model itself which is not defined well by the model card. What are the 0-896 elements output from ?  What are the 0-18 items for each of those elements and how does that translate back to the landmarks.

Your model

[2021-04-30 01:43] xialuoke4062 opened #1959 "AttributeError: module 'mediapipe' has no attribute 'solutions' problem remained"
Python 3.7.9
macOS 10.14.6

I ran into the same issue. Both #1466 and #1349 recommended to install using `pip install mediapipe`, but after trying with multiple python versions inside/outside different env it still failed with:
`ERROR: Could not find a version that satisfies the requirement mediapipe (from versions: none)`
`ERROR: No matching distribution found for mediapipe`

So I built the packa

[2021-04-30 02:04] Sun1718 opened #1960 "Get landmarks and iris points in the Iris tracking project in javascript"
Hello ,
I want to attach a new Listener to get landmarks and iris points (in https://viz.mediapipe.dev/demo/iris_tracking). I've added this line in the "default_demo_bin.js" in "module$contents$google3$third_party$mediapipe$web$default_demo_VideoController.prototype.populateDemoSelector" function, but it doesn't work.

this.api.attachListener("irisanddepthrenderergpu__right_eye_contour_landmarks",

[2021-04-30 02:22] maokk commented on #1914
anything update? thanks

[2021-04-30 02:25] mcclanahoochie commented on #1898
The InferenceCalculator accepts a vector of tensors, which should be ordered according to what your model accepts.

What eknight7 says is true in general (specifying a index #)for multiple input streams , but for the InferenceCalculator/TfLiteInferenceCalculator a single input stream is used that contains multiple tensors.

[2021-04-30 03:43] sgowroji commented on #1949
Thanks for sharing the clear details. Could you please look at this [reference](https://github.com/google/mediapipe/issues/1531#issuecomment-764887222).

[2021-04-30 04:05] sgowroji commented on #1953
Hi @aoxipo, Could you help with the steps performed to reproduce the above error in windows10.

[2021-04-30 04:22] sgowroji commented on #1955
Hi @DandyLorenz, Did you get a chance to go through this [documentation](https://google.github.io/mediapipe/getting_started/hello_world_android.html#using-the-camera-via-camerax). What is the error are you facing while connecting with USB camera. If you can see any logs please share us. Thanks

[2021-04-30 04:31] sgowroji commented on #1957
Hi @qllb, Can you try this [workaround](https://github.com/google/mediapipe/issues/1564#issuecomment-779391548). If still the error exists,  let us know. Thanks!

[2021-04-30 05:12] sgowroji commented on #1959
Hi @xialuoke4062, Could you provide the steps to reproduce the above issue. Thanks!

[2021-04-30 05:45] sgowroji commented on #1532
Glad to know it worked, We are closing this issue now. Thanks!

[2021-04-30 05:45] #1532 closed

[2021-04-30 05:48] sgowroji commented on #1697
Hi @adarmawan117, Please go through the above comment and share your status.

[2021-04-30 05:49] sgowroji commented on #1938
Hi @warmsh, Please go through the above comment. Thanks!

[2021-04-30 05:50] sgowroji commented on #1745
Hi @ljmkimqx, Have a look at the above comment. Thanks!

[2021-04-30 06:42] aoxipo commented on #1953
ok， here is my steps ：
I follow the tutorial https://github.com/bazelbuild/bazel/tree/master/examples/windows/dll to build a dll
which can be used by
load_dll_at_run_time.cpp
[code]
[code]
i using command
`bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 --action_env PYTHON_BIN_PATH="D:\Anaconda3\envs\my_test_mp\python.exe" mediapipe/examples/desktop/face_mesh:load_dll_at_run_time`
and i  get

[2021-04-30 07:38] soumik2012 opened #1961 "can't install pip install mediapipe"
This is error is showing me
![image](https://user-images.githubusercontent.com/66599363/116663676-11ef4400-a9b5-11eb-9c38-f969ae941935.png)

[2021-04-30 07:39] sgowroji commented on #1632
Hi @tuan4192, Please go through  the above comment. Thanks!

[2021-04-30 07:44] sgowroji commented on #1961
Hi @soumik2012,  What is your python version. Please check this reference https://github.com/google/mediapipe/issues/1466#issue-779706556,

[2021-04-30 08:05] soumik2012 commented on #1961
@sgowroji  Python 3.8.3 is my version

[2021-04-30 08:27] atiselsts commented on #1898
Got it, thanks.

[2021-04-30 08:27] #1898 closed

[2021-04-30 08:42] sgowroji commented on #1961
Linux arm64 Python packages are not officially supported. You can either follow https://google.github.io/mediapipe/getting_started/python#building-mediapipe-python-package and https://github.com/jiuqiant/mediapipe_python_aarch64 to build it on your local machine or try https://github.com/jiuqiant/mediapipe_python_aarch64/blob/main/mediapipe-0.8.1-cp38-cp38-linux_aarch64.whl.

[2021-04-30 08:48] sgowroji commented on #1945
Hi @kuwarabbit, Could you please share your use case with complete details. Thanks!

[2021-04-30 08:49] soumik2012 commented on #1961
My OS is window

[2021-04-30 09:04] #1819 closed

[2021-04-30 09:11] lilinxiong opened #1962 "MediaPipe use NNAPI"
I saw in Tags that support for NNAPI has been added in ver0.6.6.
In the [#issue1425](https://github.com/google/mediapipe/issues/1425#issuecomment-782355649), I saw the changes to be made to support NNAPI.
My question now is:
 * Whether only ``TfLiteInferenceCalculator`` can set NNAPI ``delegate``, ``InferenceCalculator`` cannot be set ``NNAPI delegate``.
 * If ``InferenceCalculator`` cannot be set

[2021-04-30 11:22] Sun1718 opened #1963 "How can I access to a calculator's output from javascript"
How can I access to a output-stream of a node in javascript?
for example in this node:

Concatenate iris landmarks from both eyes.
node {
  calculator: "ConcatenateNormalizedLandmarkListCalculator"
  input_stream: "left_iris_landmarks"
  input_stream: "right_iris_landmarks"
  output_stream: "iris_landmarks"
}

the output-stream is iris_landmarks. How can I access it?

Any response will be highly a

[2021-04-30 12:01] soumik2012 commented on #1961
still showing the error
![image](https://user-images.githubusercontent.com/66599363/116691516-84255000-a9d8-11eb-8057-87e5c9baec7e.png)

I have already source still showing me the error
![image](https://user-images.githubusercontent.com/66599363/116692316-c9964d00-a9d9-11eb-9d23-fd5a618146e2.png)

@sgowroji please help me

[2021-04-30 14:06] kuwarabbit commented on #1945
Sorry for not explaining enough.
When we use this product with our SDK product for the purpose of 3d or 2d tracking, do we need to consider license for training data(may not be contained this repo) and learned model?

[2021-04-30 14:13] 04633435 commented on #1909
Yes, I also noticed this inconsistency when I was trying to change the range of the eye_boundary_landmarks. Did you find the correct landmarks_indices mapping yet?

[2021-04-30 14:50] jameel-malik opened #1964 "Hand Landmarks Estimation on Input Video"
I used the following command to run hand tracking on an input video:
GLOG_logtostderr=1 bazel-bin/mediapipe/examples/desktop/hand_tracking/hand_tracking_cpu   --calculator_graph_config_file=mediapipe/graphs/hand_tracking/hand_tracking_desktop.pbtxt   --input_video_path=/my_path/input1.mp4 --output_video_path=/my_path/output1.mp4

However, I am getting the following error;
![Screenshot from 2021-04

[2021-04-30 15:17] txf- commented on #496
I seem to have this error too. I have an earlier version of mediapipe, and that builds correctly

[2021-04-30 16:04] xialuoke4062 commented on #1959
Hi @sgowroji
I built the package from source within a conda environment, adjusted the python version to 3.7.9, and moved the `mediapipe` directory source code into this environment's `site-packages` directory `(/Users/***/anaconda3/envs/***/lib/python3.7/site-packages').`
Then from the root directory I ran

import mediapipe as mp
mp_drawing = mp.solutions.drawing_utils
mp_hands = mp.solutions.hand

[2021-04-30 16:14] jiuqiant commented on #1954
I believe the pose model is not sensitive to small targets. @bazarevsky, can you confirm this is a model limitation?

[2021-04-30 16:21] jiuqiant commented on #1961
Hi, "python38-32" probably means that you use the 32-bit version of Python3.8. MediaPipe Python currently doesn't provide support for 32-bit version of Python. Please install the 64-bit version of Python and try "python -m pip install mediapipe" instead.

[2021-04-30 16:24] mcclanahoochie commented on #1964
Try building and running [hand_tracking_tflite](https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a479407c699e424aa7/mediapipe/examples/desktop/hand_tracking/BUILD#L20) instead,
and then include the input_video_path and output_video_path inside input_side_packets, as such
`--input_side_packets=input_video_path=<input video path>,output_video_path=<output video path>`

The reason is, t

[2021-04-30 16:27] txf- commented on #1532
This works for the landmark presence. But I would have also liked access handedness, which blocks in the same way. So I tried using the PacketPresenceCalculator for handedness packets, unfortunately it doesn't seem to work.  Am I misunderstanding anything about its usage?

[2021-04-30 16:27] jiuqiant commented on #1959
First of all, mediapipe python macos support 10.15+ if you need to install it from pip.
If you successfully built it from source, please leave your local mediapipe repo directory and run the python demo code. Otherwise, the python source code in the mediapipe local repo will confuse the python interpreter with the mediapipe library search path.

[2021-04-30 16:28] jiuqiant commented on #1959
First of all, mediapipe python macos supports 10.15+ if you need to install it from pip.
If you successfully built it from source, please leave your local mediapipe repo directory and run the python demo code. Otherwise, the python source code in the mediapipe local repo will confuse the python interpreter with the mediapipe library search path.

[2021-04-30 16:36] jiuqiant commented on #1953
I never built mediapipe windows dll. However, I think you need to put all calculators in the deps field of the "MediapipeTest" windows_dll_library rule. Probably you need to add either https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a479407c699e424aa7/mediapipe/graphs/face_mesh/BUILD#L25 or https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a479407c699e424aa7/mediapipe/g

[2021-04-30 16:40] xialuoke4062 commented on #1959
Thanks for the reply! So mediapipe does not support anything below 10.15 anymore?
I did notice your previous comments about leaving the local mediapipe repo and I have already tried that by running the demo code at root, but it still has the `AttributeError: module 'mediapipe' has no attribute 'solutions'` problem

[2021-04-30 16:41] jiuqiant commented on #1405
We are closing this issue as of now, Due to lack of activity on it.

[2021-04-30 16:41] #1405 closed

[2021-04-30 17:02] jameel-malik commented on #1964
Thankyou @mcclanahoochie .
It works with TensorFlow Lite on CPU.

Is there a support provided with TensorFlow Lite on GPU that can handle side packets ?

[2021-04-30 18:51] mcclanahoochie commented on #1637
The palm detection model was redesigned and retrained for faster performance, up to 10x faster on CPU and 2x on GPU in most cases.
Unfortunately that is all the details I have, as this was internal work done by others.

[2021-04-30 18:51] #1637 closed

[2021-04-30 18:53] mcclanahoochie commented on #1627
Is this still an issue?
What device are you running on?
Can you try updating Chrome?

[2021-04-30 19:05] mcclanahoochie commented on #1907
I believe you need to add a SALIENCY stream output to capture the results

https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a479407c699e424aa7/mediapipe/calculators/video/motion_analysis_calculator.cc#L342

[2021-04-30 19:17] mcclanahoochie commented on #1930
your main graph `face_hair_mobile.pbtxt` needs to have a BUILD target also , like this
https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a479407c699e424aa7/mediapipe/graphs/hair_segmentation/BUILD#L56

[2021-04-30 19:32] syanenko commented on #1627
With Chrome Version 90.0.4430.93 (Official Build) (64-bit) works fine now.

[2021-04-30 19:35] syanenko commented on #1436
Now with Chrome 88.04324 works fine !

[2021-04-30 19:41] mcclanahoochie commented on #1885
Great, thanks for the update. Community contributions are welcome :)

[2021-04-30 19:41] #1885 closed

[2021-04-30 20:53] mcclanahoochie commented on #1936
Everything seems OK for your setup.. you're getting the correct messages:
`OpenGL ES profile shading language version string: OpenGL ES GLSL ES 3.10`
`164 operations will run on the GPU, and the remaining 0 operations will run on the CPU.`

Seems related to https://github.com/google/mediapipe/issues/1740

The code is running on the GPU, but nvidia-smi isn't registering it.
It may be because you ar

[2021-04-30 21:05] mcclanahoochie commented on #1950
Everything should work on a remote machine, except for the visualization GUI.
You'll need to modify the demo_run_graph_main_gpu.cc to save a video to disk you can view later (say, with [opencv video writer](https://docs.opencv.org/3.4/dd/d9e/classcv_1_1VideoWriter.html))

try running
`export DISPLAY=:0
`
with various display numbers before running the mediapipe example

you can find all the displa

[2021-04-30 21:27] mcclanahoochie commented on #1962
The `InferenceCalculator` is a newer and re-designed `TfLiteInferenceCalculator`, and will eventually replace it.

Another difference is the tensor typed changed to `mediapipe::Tensor`, which you can get via the [ImageToTensorCalculator](https://github.com/google/mediapipe/blob/master/mediapipe/calculators/tensor/image_to_tensor_calculator.cc).
Just be sure to send in CPU images to the ImageToTens

[2021-04-30 22:33] chuoling commented on #1935
We don't have immediate plans to provide ways to generate a hand mesh from the 21 hand landmarks.

[2021-04-30 23:16] tyrmullen commented on #1963
In general, that's not a feature we support-- only some calculators can have their outputs accessed directly from JavaScript/TypeScript.  But we are actively working on making the JS Solutions APIs more customizable and flexible, which should hopefully alleviate the need for this.

[2021-04-30 23:16] #1963 closed

[2021-04-30 23:26] tyrmullen commented on #1956
That definitely sounds like something is leaking memory in the WebAssembly module-- one way this can happen is if you hold on to references from one Solution when instantiating another (are you using multiple Solutions instances?).  If this OOM error is occurring in *just* the CodePen demo, then please let me know.  Otherwise, it sounds like this is the same issue as [#1937](https://github.com/goo

[2021-04-30 23:26] #1956 closed

[2021-04-30 23:27] #1934 closed

[2021-04-30 23:35] tyrmullen commented on #1828
I just tried the Hands CodePen on a MacBookPro, and it seemed to work just fine for me.  Perhaps the issue has already been resolved?  Or perhaps your browser is caching something stale-- try loading up the [MediaPipe JS Hands CodePen](https://codepen.io/mediapipe/pen/RwGWYJw) while the Chrome Developer Console is open (and the "disable cache" box is checked, under "Networking"), and seeing if tha

[2021-05-01 00:01] ben-xD commented on #1956
Thanks @tyrmullen

I'm not using multiple solutions, I am just instantiating one FaceMesh instance, and use this throughout the rest of the app. This is definitely not the same cause as https://github.com/google/mediapipe/issues/1937 where the author was " instantiating multiple copies of Holistic". To be extra careful, I placed a debugger where the FaceMesh is instantiated, and waited for the err

[2021-05-01 00:30] ben-xD commented on #1956
Update: Although the chrome performance tab doesn't show high usage, the **memory** tab does. I have a feeling its me not calling `.dispose` on the three.js resources, which keep hold of the Arrays which are showing up as ArrayBuffer (900MB retained size).

There are a bunch of words I need to learn now (retained, shallow, distance), as well as clearing three.js resources when I'm done with them.

[2021-05-01 01:31] soumik2012 commented on #1961
@jiuqiant  is python 3.8 .8 is suitable or not

[2021-05-01 02:39] lilinxiong commented on #1962
@mcclanahoochie Thank you for replying to me during the holiday season. Thanks again.
My other question is, if I use ``NNAPI delegate``, but the device does not support NNAPI, will it be automatically transferred to the CPU? Such as low-end Qualcomm CPUs and all Kirin CPUs.
Today I will try to use NNAPI delegate on Qualcomm 865.
Happy Labor Day~~~

[2021-05-01 02:45] lilinxiong commented on #1909
@04633435 I think [Contour keypoints](https://github.com/tensorflow/tfjs-models/blob/master/facemesh/src/keypoints.ts) is right, because it matches the mirror image we perceive. So currently in the graph, I adjust it according to it. I haven't waited for the official reply yet, I'm still waiting for the official explanation.

[2021-05-01 03:17] jiuqiant commented on #1961
Any 64-bit Python3.7+ should be fine.

[2021-05-01 05:50] DrStoop commented on #1936
thanks a lot @mcclanahoochie for the feedback. #1770 is exactly the same issues, also regarding the subjective lack of expected performance boost with GPU-"acceleration". I'll check & post my results in case of something interesting. THX!

[2021-05-01 06:07] soumik2012 commented on #1961
It worked thank you so much @jiuqiant @sgowroji helping me 👍🏻 😄 🎊

[2021-05-01 08:28] aoxipo commented on #1953
Think you！！！！！！！！！！！！！！
i really stupid ，i add this deps in Ubuntu and forget add it in win10，
whatever， think you very much！！！！！！！！
if you have interested about mediapipe to build dll in win10，please let me know， i can help you！！！！！！！！！

[2021-05-01 08:28] #1953 closed

[2021-05-01 11:00] KastusKalinovski commented on #1907
@mcclanahoochie, actually, it was the first thing I've tried, the problem remains(nothing happens)

[2021-05-01 15:42] 04633435 commented on #1909
Thank you for your reply!
I just look through the [Contour keypoints](https://github.com/tensorflow/tfjs-models/blob/master/facemesh/src/keypoints.ts), but there are only 229 points, half of the vertices excluding the iris landmarks. Seems like there are some points missing. Do you have any clue?

[2021-05-01 16:52] lilinxiong commented on #1909
@04633435 Face Mesh has a total of 468 points. iris is an extra 10 points(left 5, right 5). Not included in FaceMesh.
In [iris_tracking_gpu.pbtxt ConcatenateNormalizedLandmarkListCalculator](https://github.com/google/mediapipe/blob/master/mediapipe/graphs/iris_tracking/iris_tracking_gpu.pbtxt#L158-#L163) [code](https://github.com/google/mediapipe/blob/master/mediapipe/calculators/core/concatenate_

[2021-05-01 17:21] txf- opened #1965 "ImageToTensor Error on GPU example for desktop."
I'm running this on Manjaro Linux, Nvidia Driver version 460.73.1, Mediapipe version 0.8.3.2. The example executes then terminates with an error in the graph.

`Calculator::Process() for node "handlandmarktrackinggpu__handlandmarkgpu__ImageToTensorCalculator" failed: ; ROI width and height must be > 0.ulators/tensor/image_to_tensor_utils.cc:54) `

Here is the entire log output:

[code]

[2021-05-01 20:42] hansonap opened #1966 "fash mesh -> stutter in frame rate"
Every ~2.5 seconds FaceMesh.process() takes almost twice the normal time to process. I am using the MediaPipe's Python library on windows and would be curious to know if others have seen this and if so if it is unique to just the Python library.

Here is a plot showing the timestamps (y is just a dummy value of 1):
![image](https://user-images.githubusercontent.com/666037/116794364-53e5bc00-aa81-1

[2021-05-02 08:48] qllb commented on #1957
Repeated this with freshly installed ubuntu_18.04 and cuda-10-1
, got similar error

ERROR: /home/user/mediapipe/mediapipe/util/BUILD:45:11: C++ compilation of rule '//mediapipe/util:audio_decoder' failed (Exit 1): crosstool_wrapper_driver_is_not_gcc failed: error executing command
  (cd /home/user/.cache/bazel/_bazel_user/7c8e9454b28036a640b8e74dd925916d/execroot/mediapipe && \
  exec env - \

[2021-05-02 12:55] jackjack3006 opened #1967 "Same error"

[2021-05-02 14:26] Lr-2002 commented on #1949
Oh ,Yeah ,thanks a lot
I'll try it latter
BTW,sorry for being late to reply

[2021-05-02 15:14] Lr-2002 opened #1968 "Website wrong"
Hi ,when viewing "https://google.github.io/mediapipe/getting_started/install.html#installing-on-windows"
I found a problem
the Visual Studio Website is
``` ttps://visualstudio.microsoft.com/visual-cpp-build-tools/  ```
rather than
``` https://visualstudio.microsoft.com/visual-cpp-build-tools/   ```

[2021-05-02 19:21] kostyaby commented on #1943
Hey @congnguyenthe,

Before I start replying to the main question, let me tell you that the MediaPipe FaceGeometry is very much the same logic that drives ARCore Augmented Faces API underneath, so the good news is - whatever you could do with latter is doable with the former and vice versa, it's only a question of making correct API calls / doing conversion. I'm more than happy to provide guidance

[2021-05-03 02:25] sgowroji commented on #1967
Lack of Description we are closing this ticket.

[2021-05-03 02:25] #1967 closed

[2021-05-03 02:40] congnguyenthe commented on #1943
Hi @kostyaby,

Thank you very much for your answer. I found it really helpful.

Thanks for pointing this out, I followed your suggestion already. I just want to show what I am trying to do in general.

Thank you. I will try this approach. With my current implementation like:
[code]
I found that the reason why the landmark position moves a lot is that the z is somehow incorrect, but the distance fr

[2021-05-03 02:53] codylieu commented on #1937
Hello again, @mhays-google

After making the above fix and doing some more profiling, it seems like there's still some seemingly unbounded memory allocation happening.

Here are some memory snapshots from my application:

1)
![image](https://user-images.githubusercontent.com/6362795/116836240-a060f280-ab7a-11eb-9a0d-1b7cba8f51d7.png)

2)
![image](https://user-images.githubusercontent.com/6362795/1

[2021-05-03 03:40] sgowroji commented on #1936
Hi @DrStoop, Thank you for sharing the update. We are closing this issue now, please feel free to open if the issue still persists. Thanks!

[2021-05-03 03:40] #1936 closed

[2021-05-03 03:42] sgowroji commented on #1828
Hi @Creativeguru97, Could you please try the fix mentioned in the above comment. Thanks

[2021-05-03 03:43] ivanmang opened #1970 "Combining mediapipe holistic with iris"
I am trying to combine the mediapipe holistic with the iris.
I followed and implemented the calculators to detect iris landmarks from face landmarks #1559
And added a node after the face prediction in holistic. The graph holistic_landmark_gpu.pbtxt looks like this now.
![Screenshot from 2021-05-03 11-14-22](https://user-images.githubusercontent.com/35868876/116838378-bb764580-ac00-11eb-8f68-94f93a

[2021-05-03 03:44] sgowroji commented on #1436
Thanks for sharing the update. We are closing this issue .

[2021-05-03 03:44] #1436 closed

[2021-05-03 03:46] sgowroji commented on #1627
Thanks for sharing the update. We are closing this issue now.

[2021-05-03 03:46] #1627 closed

[2021-05-03 03:47] sgowroji commented on #1930
Hi @zhaoqilong3031, Could you please try the fix mentioned in the above comment. Thanks!

[2021-05-03 04:08] sgowroji commented on #1970
Hi @ivanmang, Could you please share the crash logs. Thanks!

[2021-05-03 04:22] sgowroji commented on #1961
Glad your issue resolved. We are closing this ticket now. Thanks!

[2021-05-03 04:22] #1961 closed

[2021-05-03 04:25] sgowroji commented on #1949
As we see your query addressed,  We are closing this issue now. Feel free to reopen if the same issue exists. Thanks

[2021-05-03 04:25] #1949 closed

[2021-05-03 04:27] sgowroji commented on #1916
We are closing this issue now, Due to lack of activity.

[2021-05-03 04:27] #1916 closed

[2021-05-03 05:41] ivanmang commented on #1970
@sgowroji
Here you go, thanks so much!
`05-03 13:36:57.907  6467 11691 F libc    : Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x0 in tid 11691 (mediapipe_gl_ru), pid 6467 (stictrackinggpu)
05-03 13:36:58.016 12160 12160 F DEBUG   : *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
05-03 13:36:58.017 12160 12160 F DEBUG   : Build fingerprint: 'samsung/o1qzhx/o1q:11/RP

[2021-05-03 06:09] Lr-2002 commented on #1225
Hey ,guys ,is the problem ever fixed?

[2021-05-03 06:29] Lr-2002 commented on #1225
Well ,this problem has ever been fixed in [#1372](https://github.com/google/mediapipe/issues/1372)

[2021-05-03 12:37] 27-VladosBro-47 opened #1971 "MediaPipe Hands Linux - program freezes after trying get a package of landmarks"
Hello!

I recently started using Mediapipe and studying the framework documentation.
I tried to run the "MediaPipe Hands" CPU example. All right, I connected to the graph and the process is going correctly, it's OK.
However, I wanted to get hand landmarks and found an example
https://github.com/google/mediapipe/issues/200

The user @pablovela5620  provided a meaningful answer:
https://github.com/g

[2021-05-03 13:13] philiprkk opened #1972 "Cannot find bazel from mediapipe workspace in Docker"
I get this error when trying to run the hello world example with Docker on Windows. It seems bazel is unreachable when I'm in the mediapipe workspace, but not when I go up one folder (cd ..). What could be the reason for this? The version of bazel in the  /usr/local/lib/bazel/bin folder appears to be 3.7.2.

 (specified in /mediapipe/.bazelversion), but it wasn't found in /usr/local/lib/bazel/bin.

[2021-05-03 14:46] aiarcv opened #1973 "hand handmark xyz value can not be obtained by poller when use latest mediapipe code"
I use these code can get  hand landmark packet xyz from 2020 mediapipe code
////////////Code works in in 2020 Oct mediapipe code//////////////////
constexpr char kLandmarkStream[] ="landmarks";
//in 2020 Oct mediapipe code,    hand_landmarks is used as output_stream  in hand_tracking_desktop_live.pbtxt and works
//while  "landmarks" is used in in hand_tracking_desktop_live.pbtxt  of  2021 latest m

[2021-05-03 16:16] RubabTariq-dot opened #1974 "Error importing mediaipipe on android studio"
I followed all the steps mentioned at https://github.com/google/mediapipe/blob/master/docs/getting_started/android_archive_library.md. I am doing this on Linux and i cannot seem to find the issue
![Capture](https://user-images.githubusercontent.com/54850445/116902604-c5299880-ac54-11eb-9caf-5a5ddd716419.PNG)

[2021-05-03 16:46] mhays-google commented on #1937
A few things:

`.close()` resolves to an equivalent call to `delete ptr` in C++.  Since these classes are allocated in C++ on the heap, they still need to be released.  Here, `JSArrayBufferData` represents your heap.  The fact that it continues to grow points specifically to new pointers being allocated in C++ without subsequently being deleted.

When you set a reference to `null` (or `undefined`)

[2021-05-03 17:06] mcclanahoochie commented on #1962
I believe the NNAPI will fallback to CPU automatically if needed in most cases ([see this](https://developer.android.com/ndk/guides/neuralnetworks#cpu-fallback)).

[2021-05-03 17:23] mhays-google commented on #1960
This is a closed source project, and we don't support any sort of editing.  But, as a fellow hacker:

populateDemoSelector fills out a drop down with different mp4 names... I don't even think this code is reachable in the public demo.  The function you are probably looking for is `module$contents$google3$third_party$mediapipe$web$default_demo_SingleFrameController.prototype.attachListeners`

I hav

[2021-05-03 17:49] 27-VladosBro-47 commented on #1973
Hello!

I have the same problem
https://github.com/google/mediapipe/issues/1971
and I haven't been able to find a solution for several days. I hope we will be given some advice, because I thought I might just be inattentive and made some trivial mistake, but ...

[2021-05-03 19:01] samlaf commented on #1857
@KastusKalinovski what do you mean by "changing up CV_MAJOR_VERSION flag value in region_flow_computation.cc"?
In my case, CV_MAJOR_VERSION is 4, but region_flow_computation is set to only accept version 3... is this actually necessary? I tried changing all the `#if CV_MAJOR_VERSION == 3` to `#if CV_MAJOR_VERSION >= 3` and it seems to work so far. I'll start a new issue.

[2021-05-03 19:18] samlaf opened #1975 "region_flow_computation is hardcoded to use opencv3 (4 doesn't work)"
Hi,
`region_flow_computation.cc` is filled with `#if CV_MAJOR_VERSION == 3` sections.
When I run [object_tracking](https://google.github.io/mediapipe/solutions/box_tracking.html) on my desktop with opencv version 4, I get these warnings
![image](https://user-images.githubusercontent.com/9342524/116921881-9b577e00-ac22-11eb-86eb-fdcda42c8974.png)

I changed all of the `#if CV_MAJOR_VERSION == 3` to

[2021-05-03 20:58] jiuqiant commented on #1966
This is a face score outputted by the landmark model that indicates if the cropped input image is a face or not. If it's lower than [the threshold](https://github.com/google/mediapipe/blob/master/mediapipe/modules/face_landmark/face_landmark_cpu.pbtxt#L99), the detection model will be rerun.  You can make [the min tracking confidence](https://google.github.io/mediapipe/solutions/face_mesh#min_trac

[2021-05-03 21:29] mcclanahoochie commented on #1907
related: https://github.com/google/mediapipe/issues/1857

on second thought, the "SALIENCY" stream is only for custom visualization.

i tried modifying the [box_tracking_cpu](https://github.com/google/mediapipe/blob/master/mediapipe/graphs/tracking/subgraphs/box_tracking_cpu.pbtxt) graph to test the visualization, based on what you have above.

setting these other two flags for motion analysis wil

[2021-05-04 03:18] sgowroji commented on #1971
Hi @27-VladosBro-47, We are glad to know that you choose MediaPipe. Could you share your code changes and any error logs encountered while freezing. Thanks!

[2021-05-04 03:30] sgowroji commented on #1972
Hi @philiprkk, Did you follow this [documentation](https://google.github.io/mediapipe/getting_started/install.html#installing-using-docker) for installing MediaPipe on Docker. And Could you please share the  steps to  reproduce the above error. Thanks!

[2021-05-04 03:50] sgowroji commented on #1974
Hi @RubabTariq-dot, Could you please share the complete error logs. And at which step you encountered the error.  Are you able to build the AAR successfully? Thanks!

[2021-05-04 04:59] sgowroji commented on #1798
Hi @alexrichardson21, Could you please update on the above comment. Thanks!

[2021-05-04 06:13] FladioArmandika opened #1976 "undefined is not a constructor"
i use `npm install @mediapipe/face_detection`

and import
`import { FaceDetection } from '@mediapipe/face_detection'` and
import { FaceDetection } from '@mediapipe/face_detection/face_detection';

and do
`let faceDetection = new FaceDetection();`

but it tells me `undefined is not a constructor (evaluating 'new _face_detection.FaceDetection()')`

would you help me? or give some example for impleme

[2021-05-04 07:12] philiprkk commented on #1972
Hi, I did follow that documentation. I install Docker with the WSL 2 integration. I add Ubuntu integration.
![image](https://user-images.githubusercontent.com/57251565/116970556-80374d80-acb8-11eb-9834-2da9bede7769.png)

I then go through steps 2 and 3 exactly as stated. The output for step 2 doesn't look like what's expected according to the guide.

`[+] Building 38.9s (8/18)
 => [internal] load

[2021-05-04 07:13] sgowroji commented on #1976
Hi @FladioArmandika, Could you please share your code. Assuming its more an import error, Please recheck  your imports. Thanks!

[2021-05-04 07:28] FladioArmandika commented on #1976
`
import { FaceDetection } from '@mediapipe/face_detection/face_detection';
let faceDetection = new FaceDetection();
`
is anything wrong?

[2021-05-04 07:29] FladioArmandika commented on #1976
`import { FaceDetection } from '@mediapipe/face_detection/face_detection';`
`let faceDetection = new FaceDetection();`

is there anything wrong?

[2021-05-04 07:56] sgowroji commented on #1784
Hi @yangcheng, Could you please respond to my above comment. Thanks!

[2021-05-04 08:32] tilenpinta opened #1977 "converting objectron to kotlin"
I want to make object detection in kotlin and im getting this error -> `A/libc: Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x0 in tid 22148 (mediapipe_gl_ru), pid 18790 (mple.pipetest3d)`

When I run the app, then I get to access camera and when I click to access it. App crash and get that error.

And there is whole log ->

05/04 10:15:36: Launching 'app' on Physical Device.
Insta

[2021-05-04 09:20] 04633435 commented on #1909
Hi, @lilinxiong, I solved my problem. And for the problem you mentioned above, in [L84-L96](https://github.com/google/mediapipe/blob/master/mediapipe/graphs/iris_tracking/iris_tracking_gpu.pbtxt#L84-L96), it selects out the inner corner and outer corner landmarks of the left eye, and within [the subgraph iris_landmark_landmarks_to_roi.pbtxt](https://github.com/google/mediapipe/blob/master/mediapip

[2021-05-04 10:28] sgowroji commented on #1977
Hi @tilenpinta, Take a look at this issue https://github.com/google/mediapipe/issues/1237.

[2021-05-04 10:31] sgowroji commented on #1598
We are closing this issue now due to lack of activity.

[2021-05-04 10:31] #1598 closed

[2021-05-04 10:33] sgowroji commented on #1745
Hi @ljmkimqx, Did you get a chance to go through the above comments. Thanks!

[2021-05-04 10:35] sgowroji commented on #1869
Hi @LucaswasTaken, Can you share the above mentioned details. Thanks!

[2021-05-04 10:38] sgowroji commented on #1932
Thank you for the update. We are closing this issue now.  Feel free to reopen the issue if your issue still exists.

[2021-05-04 10:38] #1932 closed

[2021-05-04 10:39] selimbek commented on #1598
Hi,
I read the documentation provided once more, and i havent found any source code for the regression part describe shortly in the Single Stage pipeline.
The general aspect is described and the dataset is available. But I haven't found any source code or documentation on how to launch a training process by our own, to repeat the result you found.
Maybe it's on purpose to not provide the complete

[2021-05-04 10:40] sgowroji commented on #1950
Hi @AndreV84, Did you try the above solution. Thanks!

[2021-05-04 11:16] tilenpinta commented on #1977
I tried this and get error
`A/libc: Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x0 in tid 20512 (mediapipe_gl_ru), pid 13024 (mple.pipetest3d)`

At the moment I have 1.1.0-alpha04 which is newer and still get the same error.

[2021-05-04 11:33] 27-VladosBro-47 commented on #1971
My platform: Ubuntu 20.04

I copied demo_run_graph_main.cc to demo_run_graph_main_out.cc and make some changes in order to get hand landmarks

**demo_run_graph_main_out.cc** (path: //mediapipe/examples/desktop/demo_run_graph_main_out.cc)
[code]

Add target to build-file desktop/BUILD
**desktop/BUILD** (path: //mediapipe/examples/desktop/BUILD)
[code]

Add target to build-file desktop/hand_tracking

[2021-05-04 12:14] betrisey commented on #1893
Hi @lilinxiong, I'm having the same issue. Could you share how you solved it please?
Thanks!

[2021-05-04 12:57] ben-xD commented on #1937
Your comment has been useful to understand more about whats going on @mhays-google. I have a memory leak and have been trying to remove it for the past few days (the same issue with `JSArrayBufferData`), and I have checked that I am not doing any of the 3 issues you mentioned.

Isn't that done in C++, so shouldn't the mediapipe library be deleting these? Im not sure why deleting any variables in J

[2021-05-04 13:02] ben-xD commented on #1956
Update: its not three.js at all, it seems to be a memory leak in MediaPipe, very similar issue to https://github.com/google/mediapipe/issues/1937

[2021-05-04 16:12] lilinxiong commented on #1909
@04633435 I don’t think we are talking about the same issue.
[code]
My answer here is that the iris coordinates are added to the content related to FaceMesh landmark.
Including the order of iris coordinates and the position added to FaceMesh.
[code]
As for what you are answering now, I think you only need to exchange the subscript values of left and right in the original pbtxt.
The original intent

[2021-05-04 16:13] lilinxiong commented on #1962
Ok,Thanks for your reply, I will verify it right away, thanks again.

[2021-05-04 16:26] lilinxiong commented on #1893
@betrisey emmmm.
 My original intention was to obtain Euler angles in this way (because I saw Euler_Angle in this proto file), but through the log, I found that the Euler angles in this proto do not exist, and they are all empty values. So I gave up this approach and got a very accurate Euler angle through another method, so I closed this issue because I solved my most fundamental problem.
But the

[2021-05-04 17:06] yegenzhi commented on #1975
Thanks samlaf for mentioning this. You will see the changes in the next release.

[2021-05-04 17:37] betrisey commented on #1893
Thank you for the answer @lilinxiong!

Finally I found the issue, maybe it could help others.
The output of [Lift2DFrameAnnotationTo3DCalculator](https://github.com/google/mediapipe/blob/master/mediapipe/modules/objectron/calculators/lift_2d_frame_annotation_to_3d_calculator.cc) is a `FrameAnnotation` and not a list of `FrameAnnotation`.

So we have have to change the way to deserialize the packet

[2021-05-04 17:50] txf- commented on #1788
I can confirm this traces collected on Linux also present this problem

[2021-05-04 18:07] rahulchaphalkar opened #1978 "Build applications without AVX"
I have built examples like face_mesh_cpu on windows successfully. Is it possible to build without using AVX 512 / AVX 2 etc. ? I tried passing flags to msvc compiler using the `--copt="-arch:AVX"` flag ([Reference](https://docs.microsoft.com/en-us/cpp/build/reference/arch-x64?view=msvc-160)) but that didn't make a difference.
It seems like if the machine is capable of AVX 512, it uses AVX 512 (sim

[2021-05-04 18:18] samlaf opened #1979 "Videos with Rotation=180 (taken from ipad front camera) are flipped vertically by object_detection"
I took the following video with the front-camera of my ipad.

https://user-images.githubusercontent.com/9342524/117049504-2f3c4f00-ace2-11eb-98ec-f26ba2ce4f7c.mp4

It has the following metadata (from `mediainfo vid1.mp4`):
Notice the **Rotation: 180°**
[code]

When I pass it through object_detection:
`GLOG_logtostderr=1 bazel-bin/mediapipe/examples/desktop/object_tracking/object_tracking_cpu     -

[2021-05-04 20:04] mcclanahoochie commented on #1947
The pose transformation matrix is defined here https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a479407c699e424aa7/mediapipe/modules/face_geometry/protos/face_geometry.proto

the format is similar to standard opengl transformation matrices http://www.songho.ca/opengl/gl_transform.html#matrix (in column major order)

[2021-05-04 20:24] plafer opened #1980 "demo_run_graph_main_gpu: eglDestroyContext() returned error 0x3008"
Running the following command: `GLOG_logtostderr=1 bazel-bin/mediapipe/examples/desktop/face_detection/face_detection_gpu --calculator_graph_config_file=mediapipe/graphs/face_detection/face_detection_mobile_gpu.pbtxt --input_video_path=somevid.h264` gets the following output:

I20210504 16:06:37.680992 27513 demo_run_graph_main_gpu.cc:171] Prepare video writer.
I20210504 16:07:07.148627 27513 demo

[2021-05-04 22:28] tilenpinta commented on #1977
I downgraded google/mediapipe to => `parent 8f69af9 commit cccf6244d3fc4afc53082a397e764a8560eec96e` and build new mp_object_detection_3d_aar.aar file for objectron.
And I think I'm past that error. But now I have new error...

`W/native: W20210505 00:14:06.753552 28415 motion_analysis_calculator.cc:337] No input video header found. Downstream calculators expecting video headers are likely to fail

[2021-05-04 23:29] tyrmullen commented on #1937
Even if the memory being leaked is in C++ code, that doesn't necessarily mean that the MediaPipe library can fix this.  As mentioned by mhays-google, one key problem is that JS has no finalizers, which means it's unfortunately impossible for C++ code to know when garbage is collected.  The workaround for this is usually to force users to call some sort of .close() function as soon as resources are

[2021-05-05 02:31] Everest-2002 commented on #1421
The same problem

[2021-05-05 02:59] samlaf opened #1981 "Question regarding legacy API"
From my understanding reading the code, it seems that face_detection/tracking use the "modern" MediaPipe image datatypes whereas object_detection/tracking use the "legacy" MediaPipe image datatypes.

![image](https://user-images.githubusercontent.com/9342524/117092169-7c90de80-ad2b-11eb-97c7-d09bf0ffa2e1.png)

For example, `to_image_calculator.cc` reads:
[code]

My questions are:
- should I assume

[2021-05-05 05:22] bmox commented on #1928
Just change your file name. Thanks .

[2021-05-05 08:25] tilenpinta commented on #879
Did you fix that error? I have the same output sadly

[2021-05-05 09:12] ben-xD commented on #1937
Thanks for your interesting reply 🙃

I don't think we're expected to call `.close` on every frame, are we? I expected that once new Results for an image/ frame are returned from the library, that the old arrays are released in mediapipe/ **automagically**. I'm not sure of the distinction between the memory of mediapipe in JS and in C++ though.

- Even in my application (and the codepen), chrome's

[2021-05-05 09:47] anandwana001 commented on #1447
Fetching a similar error -  https://github.com/oppia/oppia-android/issues/3157

[2021-05-05 11:32] RohitSingh1226 opened #1982 "Question regarding Mediapipe hands Api jetson Nano"
### The use of mediapipe in windows was easy andit was installed using pip, after searching a lot I was able to build the examples of mediapipe using bazel build.
After I ssh and open the terminal to import mediapipe it works, but when I run my personal code where I was enhanced mediapipe, it shows no module named mediapipe. I don't have a .BUILD file for my example is that the issue
![image](http

[2021-05-05 16:31] I-aashishM opened #1983 "C++ compilation of rule '//mediapipe/calculators/tensorflow:tensorflow_inference_calculator' failed (Exit 1): crosstool_wrapper_driver_is_not_gcc failed: error executing command"
I am trying to use tensorflow GPU inference with CUDA [here](https://google.github.io/mediapipe/getting_started/gpu_support.html#tensorflow-cuda-support-and-setup-on-linux-desktop),

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu 18.04
- TensorFlow version: 2.3.0
- Python version: 3.6.9
- Bazel version (if compiling from source): 3.7.2
- GCC/Compiler versi

[2021-05-05 16:56] mhays-google commented on #1976
Hi!  Can you try using "@mediapipe/face_detection": "^0.3" in your dependencies?  The package.json I was using was in shambles.  Also, to save you time, if you didn't already see this, you'll need to change locateFile to grab the files from your npm_modules.  Something like:

[code]

[2021-05-05 17:24] mhays-google commented on #1477
Exposing face rotation is a line item on my TODO, but there's no definite date we're releasing this.

If you are really comfortable with vectors, then at a high level, the technique we employ is to iterate over the triangles of the face mesh, computing the tangents and normals of each and then merging those together to get a rotation matrix.

[2021-05-05 18:32] lyronctk opened #1984 "Installing mediapipe w/ pip doesn't work on MacOS using python 3.7.9 (64-bit)"
**Overview**
Hello! Hope this reaches you well. Would love to start using mediapose with my work, but I'm having some trouble with my pip install.

I'm running into the same `No matching distribution found` error as {[#1325](https://github.com/google/mediapipe/issues/1325), [#1466](https://github.com/google/mediapipe/issues/1466), [#1961](https://github.com/google/mediapipe/issues/1961)}. Their pr

[2021-05-05 19:57] chrisError opened #1985 "Box Tracking"
the docs state that Box Tracking can be used by Object Detection or defining an area. has anyone been able to track areas of the screen but not using Object Decection?

thanks

p.s. I am using Mediapipe inside Unity using https://github.com/homuler/MediaPipeUnityPlugin

[2021-05-05 22:42] mhays-google commented on #1918
Hi there, thank you for the patience.

When .send() is called the first time, we potentially initialize the graph.  This means loading the models (which are in the packed assets) and starting up the wasm.  For holistic, the models are... a bit large... there are three of them, in fact, and each are several megabytes in size.

We are looking at way of addressing this speed, or at the very least, gi

[2021-05-06 00:23] tyrmullen commented on #1937
No, you shouldn't need to call .close() on every frame.  I was just explaining why the solution might not always be in C++ even if the apparent leak is in C++ memory; but aside from the Solution itself, I don't recall any of the intermediate results needing .close().  In general, anything which is a native JS data type (or a structure/dict/array of those) will not require a .close() call-- it woul

[2021-05-06 00:42] H4ckerman666 opened #1986 "Effect Renderer in python"
hi, I wanted to implement this gif in python but I don't know where to start, I think they provide the obj of the 3d object in the documentation, do you know if someone has already done something like that?
https://google.github.io/mediapipe/images/face_geometry_renderer.gif

[2021-05-06 01:02] jiuqiant commented on #1984
MediaPipe PyPI supports macOS 10.15 and above. See details at https://github.com/google/mediapipe/blob/master/docs/getting_started/troubleshooting.md#python-pip-install-failure

[2021-05-06 02:03] fahadhaq commented on #825
Where do I need to add the filter to? I am playing around with the android example currently and trying to figure this out. Any help would be greatly appreciated.

[2021-05-06 03:06] lilinxiong commented on #1962
Hi @mcclanahoochie
When I am making changes to **IrisLandmark**, because I don't know the parameters in  **ImageToTensorCalculator** ``options``, I refer to [IrisLandmarkCpu](https://github.com/google/mediapipe/blob/0.8.3.2/mediapipe/modules/iris_landmark/iris_landmark_cpu.pbtxt). But found **TfLiteInferenceCalculator** input is [TfLiteConverterCalculatort](https://github.com/google/mediapipe/blob

[2021-05-06 03:23] sgowroji commented on #1979
Hi @samlaf, Thanks for bringing it to our notice. Could you please share the code changes or graph changes added to it from your side.  And also the logs if you find any relevant to the above. Thanks

[2021-05-06 03:30] sgowroji commented on #1980
Hi @plafer, Could you please share the steps to reproduce the above issue. Thanks!

[2021-05-06 03:35] yangcheng commented on #1784
sorry for the late reply, we had a national holiday last week. I reproduced it once. I'll try to get the trace

[2021-05-06 03:39] sgowroji commented on #1982
Hi @RohitSingh1226, Have you followed the instructions to install MediaPipe python?https://google.github.io/mediapipe/getting_started/building_examples.html#python.

[2021-05-06 03:51] sgowroji commented on #1985
Hi @chrisError, Could you please elaborate your use case with complete details  Thanks!

[2021-05-06 03:54] sgowroji commented on #1986
We unfortunately don't have examples to do this and do not have plans to provide it. You can check out the face effect renderer calculator See fig 4 on https://google.github.io/mediapipe/solutions/face_mesh.html

[2021-05-06 03:54] #1986 closed

[2021-05-06 04:01] sgowroji commented on #1976
Hi @FladioArmandika, Have a look at the above comment. Thanks!

[2021-05-06 04:05] sgowroji commented on #1975
We are closing this issue now. Please verify this in our next releases.

[2021-05-06 04:05] #1975 closed

[2021-05-06 04:36] jiuqiant commented on #1983
There was an issue in the source code of tensorflow_inference_calculator.cc. Please pull the latest version of MediaPipe and retry.

[2021-05-06 04:56] davitgoder commented on #1477
Thanks Michael,
could you please provide the math literature for that?
once you have normals how do you get the rotation matrix?
Davit.

On Wed, May 5, 2021 at 9:24 PM Michael Hays ***@***.***>
wrote:

[2021-05-06 05:12] I-aashishM commented on #1983
I pull the latest mediapipe and did all the steps mention above link and did this,

bazel build -c opt --config=cuda --spawn_strategy=local     --define no_aws_support=true --copt -DMESA_EGL_NO_X11_HEADERS     mediapipe/examples/desktop/object_detection:object_detection_tensorflow --verbose_failures

I got another error:

WARNING: The following configs were expanded more than once: [using_cuda]. F

[2021-05-06 06:07] sgowroji commented on #1581
Due to lack of activity we are closing this issue now. Please reach us if you still looking for this query. Thanks!

[2021-05-06 06:07] #1581 closed

[2021-05-06 06:08] sgowroji commented on #1632
Hi @tuan4192, Can you respond to my above comment. Thanks!

[2021-05-06 06:09] sgowroji commented on #1665
Assuming your issue resolved now. We are closing this ticket.

[2021-05-06 06:09] #1665 closed

[2021-05-06 06:11] sgowroji commented on #1888
Hi @alekhra, Can you please respond to my above comment. Thanks!

[2021-05-06 06:14] sgowroji commented on #1959
Hi @xialuoke4062, Did you try/follow the solution mentioned in the above comment from @jiuqiant.

[2021-05-06 06:15] sgowroji commented on #1955
Hi @DandyLorenz, Could you please respond to my above comment. Thanks!

[2021-05-06 06:36] AlexeiKaplenko opened #1987 "Human pose detection and tracking (javascript) Error"
Error after adding new functionality (models with complexity 0, 1, 2) to Human pose detection and tracking (javascript)
Full stack trace:
pose_solution_wasm_bin.js:9 Uncaught (in promise) RuntimeError: abort(No EM_ASM constant found at address 552800) at Error
    at jsStackTrace (https://cdn.jsdelivr.net/npm/@mediapipe/pose/pose_solution_wasm_bin.js:9:64180)
    at stackTrace (https://cdn.jsdeliv

[2021-05-06 06:45] RohitSingh1226 commented on #1982
Thanks for the prompt @sgowroji. I did, that’s why I was able to import it on the terminal, the examples have a .BUILD file, my program is a python file and strangely not able to import the package. Does it have something to do with the paths? Because I moved my project folder to the location where I’ve built my mediapipe using bazelisk

[2021-05-06 07:13] philiprkk opened #1988 "z-coordinate value not proportional with x and y."
When visualizing landmark positions in full-body tracking, the z value seems to be upscaled dramatically.
I've attached a screenshot of the landmark coordinates represented in 3D space. I'm I doing something wrong or is the data supposed to look like this?
![117107754-63ffe300-ad82-11eb-9620-06af75e07641](https://user-images.githubusercontent.com/57251565/117256594-2adf7580-ae4b-11eb-904b-d9cbeddb

[2021-05-06 07:37] lilinxiong commented on #1962
Today I did a test on Qualcomm 865 and Kirin 9000E.
Android OS: 11 and 10
Respectively for GPU mode, xnnpack and nnapi delegate to do tests.
But the result is not as expected.
* on OS 11 and Qualcomm Snapdragon 865
  NNAPI is the worst, xnnpack and GPU are on the same level.
  NNAPI FPS is less than 10, xnnpack and GPU FPS can be 25+, but xnnpack is not stable, but the lowest can also be 20.
* on

[2021-05-06 07:55] sgowroji commented on #1987
Hi @AlexeiKaplenko, Could you please provide the steps to reproduce the above error. Thanks!

[2021-05-06 08:03] sgowroji commented on #1968
Fixed in the latest release. Please check

[2021-05-06 08:03] #1968 closed

[2021-05-06 08:34] ben-xD commented on #1937
That's interesting, I haven't done a lot of WASM stuff but I'd be interested to help out.

I was trying to investigate that, but the codepen is broken, have the library/ model files have been removed?
[code]

[2021-05-06 08:52] KristianDukov commented on #1987
Hello, our app is experiencing exactly the same issue.
```No EM_ASM constant found at address 552800```
[code]

[2021-05-06 08:55] ianni67 commented on #1483
I'm experiencing exactly the same issues here on a DELL XPS notebook and Ubuntu 20.04. I'll try all the proposed solutions and let you know here if something works.

[2021-05-06 09:12] alekhra commented on #1888
Good Morning Sunil,

The issue is my whole setup of code was in-office system, and because of
corona, I cannot go to office for past 2 weeks.  If you want, you can close
the ticket, I will reopen it if I get into issue.
Thanks a lot for your support, sty safe and have a nice day ahead.

Best
Arpit Lekhra
Technische Universität Kaiserslautern
Indian Institute Of Information Technology Allahabad

01

[2021-05-06 11:37] AdrianoW opened #1989 "JS: Face detection stopped working after update"
Hi team,

I have this project online (https://adrianow.github.io/very-kb/) that was working until these days and today I have detected that it stopped working. Looking at the developer console I am receiving the following error:
[code]

After some tests (and looking at the time of the last releases) I guess that we have a new version, that has broken the past code.  Using past versions, the proble

[2021-05-06 15:30] I-aashishM commented on #1983
I got the solution. There was something wrong in tensorflow_inference_calculator.cc file. So i replace the same file with different version of mediapipe. Now I'm able to build the tensorflow with cuda.

Closing this issue.

[2021-05-06 15:30] #1983 closed

[2021-05-06 15:47] AlexeiKaplenko commented on #1987
I already figured out the solution. Correct version for cdn scripts should be specified
in .html
    <script
      src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils**@0.3**/camera_utils.js"
      crossorigin="anonymous"

    <script
      src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils**@0.3**/control_utils.js"
      crossorigin="anonymous"

    <script
      src="https://cdn.js

[2021-05-06 16:00] jiuqiant commented on #1978
Does https://stackoverflow.com/questions/52969630/tensorflow-with-bazel-avx-ignored/53006033 help?

[2021-05-06 16:05] rahulchaphalkar commented on #1978
It doesn't. I have tried to use `--copt="-arch:AVX"` and `--copt="-arch:AVX2"` etc like the above link suggests, but that didn't seem to do anything different. I'll retry again without the quotes `"` I've used in case its a syntax error, but msvc didn't complain about the flag, so for now I don't think it's that.

[2021-05-06 16:41] AndreV84 commented on #1950
It will take time to figure out how to adjust the code  using opencv imshow;
Iw illtry other proposed steps though

[2021-05-06 16:49] AndreV84 commented on #1982
@RohitSingh1226 you may also reffer as to a reference to https://github.com/jiuqiant/mediapipe_python_aarch64 or to https://google.github.io/mediapipe/getting_started/python.html#building-mediapipe-python-package

[2021-05-06 17:21] jiuqiant commented on #1977
Please assign this to the objectron owners. Thanks!

[2021-05-06 17:25] xialuoke4062 commented on #1959
Hi @sgowroji Sorry for the delayed response. Leaving the local mediapipe repo directory did not resolve the problem with the package built from the source.

However, I updated the macOS to Big Sur Version 11.3 and the pip install worked.

[2021-05-06 17:25] #1959 closed

[2021-05-06 17:27] jiuqiant commented on #1978
How about the first answer of https://stackoverflow.com/questions/41293077/how-to-compile-tensorflow-with-sse4-2-and-avx-instructions? To be frank, I don't have a good answer to your question and the only thing I can do is to find the possible solutions online :/

[2021-05-06 18:01] plafer commented on #1980
On Ubuntu 20.04, build `face_detection_gpu` using `bazel build -c opt --copt -DMESA_EGL_NO_X11_HEADERS --copt -DEGL_NO_X11   mediapipe/examples/desktop/face_detection:face_detection_gpu`. Then run

`GLOG_logtostderr=1 bazel-bin/mediapipe/examples/desktop/face_detection/face_detection_gpu --calculator_graph_config_file=mediapipe/graphs/face_detection/face_detection_mobile_gpu.pbtxt --input_video_pa

[2021-05-06 18:05] samlaf commented on #1788
Would also like to see this fixed.

[2021-05-06 18:11] RohitSingh1226 commented on #1982
![image](https://user-images.githubusercontent.com/35935157/117345744-8437bb00-aec4-11eb-97b7-26afd959502f.png)

[2021-05-06 18:26] kostyaby commented on #1943
Hey @congnguyenthe,

Sorry about a late reply! Where you able to make this work?

If by `depth z` you mean Z component of the head pose matrix, then yes, it tells you how far the weighted mass center of the face landmark point cloud is far away from camera, not any individual landmark in particular. Your observation about `8cm` makes total sense to me, that's what subtracting `canonicalFaceMesh[10

[2021-05-06 18:35] RohitSingh1226 commented on #1982
@AndreV84 thanks for replying immediately, I Have tried to run and build the wheel on python by executing the command
python3 setup.py gen_protos, I get the following error. Does this issue have something to do with the shebang inside the setup.py.

![image](https://user-images.githubusercontent.com/35935157/117348545-f231b180-aec7-11eb-83bf-f155ebee3ddf.png)

[2021-05-06 18:49] AndreV84 commented on #1982
revise steps here https://github.com/jiuqiant/mediapipe_python_aarch64#step-to-build-mediapipe-python-on-aarch64-ubuntu-2004
it shows what to do with protoc err

[2021-05-06 19:28] AndreV84 commented on #1982
ah, I see there is no instruction on how to make dist builds in the latter url, but on how to build for windows

[2021-05-06 19:29] AndreV84 commented on #1982
@jiuqiant is there instruction on how to build python wheel from sources for arm linux? just linux?

[2021-05-06 19:57] AndreV84 commented on #1982
in my case the output is
[code]

[2021-05-06 20:06] RohitSingh1226 commented on #1982
`

I have to use this on a Jetson Nano, basically for Ubuntu 18.04

[2021-05-06 20:11] RohitSingh1226 commented on #1982
rohit5466@Vicara:~/mediapipe/mediapipe$ python3 -c 'import mediapipe as mp; help(mp); print(mp.file)'
Help on package mediapipe:

NAME
    mediapipe - Copyright 2019 - 2020 The MediaPipe Authors.

DESCRIPTION
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

[2021-05-07 01:55] shabazkhundmiri commented on #1859
Thank you so much @stilva ! This helped get it running 100% of the time.

Unfortunately I'm now running into an issue where when the app is paused, it crashes. It seems as though surfaceTexture is not being released/detached properly.

This is in my current onPause() function:

super.onPause()

            processor!!.close()
            try {
                previewFrameTexture!!.release()

[2021-05-07 02:02] shabazkhundmiri commented on #1859
Thank you so much @stilva ! This helped get it running 100% of the time.

Unfortunately I'm now running into an issue where when the app is paused, it crashes. It seems as though surfaceTexture is not being released/detached properly.

This is in my current onPause() function:

      override fun onPause() {
            super.onPause()

            processor!!.close()
            try {

[2021-05-07 02:20] aoxipo commented on #1988
The X axis and the Z axis share the same scale, Maybe you can get inspiration from it.

[2021-05-07 02:45] aoxipo opened #1990 "How do I dynamically set the face_detection_front.tflite model path?"
hei, i am trying to using the face_mesh solution to do something ( C++) , and now i want to set the model path by Initialization function like set  `mediapipe/graphs/face_mesh/face_mesh_desktop_live.pbtxt`
i try to add a new input_stream: "face_mode_path" in the` face_detection_front_cpu.pbtxt` and change
[code]
[code]
then  using Packet to Initialization the path ,here is my code:

`graph.AddPack

[2021-05-07 03:07] sgowroji commented on #1859
Hi @shabazkhundmiri, You can raise it as a new issue if that is not relavant to the above one.

[2021-05-07 03:38] shabazkhundmiri commented on #1859
Hey @sgowroji, I think it may be related to the solution of the last issue since it popped up directly afterwards.

[2021-05-07 03:44] lilinxiong commented on #1962
Hi @mcclanahoochie Let me add some more:
* The models I used are: ``face_detection_front.tflite`` ``face_landmark.tflite`` ``iris_landmark.tflite``.
* in [#229](https://github.com/google/mediapipe/pull/229#issue-338553204) I saw that ``NNAPI device(s) could run facedectioncpu and objectdectioncpu accelerated.`` But it is a long time ago.
* With the idea of giving it a try, I changed the delegate i

[2021-05-07 04:03] lilinxiong commented on #1962
emmmm, another point, when I tested on kirin9000E CPU, the following log was output(``ERROR STATUS: ANEURALNETWORKS_OP_FAILED``):
![image](https://user-images.githubusercontent.com/24367027/117395743-22f70280-af2b-11eb-8fb3-777a9a985f00.png)
By consulting the documentation, I see the following([this](https://developer.android.google.cn/ndk/guides/neuralnetworks#memory-domains)):

![image](https://

[2021-05-07 04:36] sgowroji commented on #1798
We are closing this issue now due to lack of activity. Feel free to open if the above issue still exists

[2021-05-07 04:36] #1798 closed

[2021-05-07 04:38] sgowroji commented on #1869
We are closing this issue now, due to lack of activity. Feel free to reopen this if the above issue still exists.

[2021-05-07 04:44] sgowroji commented on #1888
Thanks for the update, We are closing this issue now. Feel free to reopen if the above issue still exists and also reach if you have any further Query.

[2021-05-07 04:44] #1888 closed

[2021-05-07 05:29] I-aashishM opened #1991 "Unable to run tensorflow object detection script"
Hi I am able to build the tensorflow with cuda with below coomand,

bazel build -c opt --config=cuda --spawn_strategy=local \
    --define no_aws_support=true --copt -DMESA_EGL_NO_X11_HEADERS \
    mediapipe/examples/desktop/object_detection:object_detection_tensorflow

Now I am executing the command which can run tensorflow model with Cuda (GPU Support) [here,](https://google.github.io/mediapipe/

[2021-05-07 05:58] DandyLorenz commented on #1955
Yes, sir. I got the message two days ago.I've solved it for the time being. For a USB camera inserted into a large tablet device, you can use the rear camera parameters to set it. It works very well.Thank you, sir

[2021-05-07 05:59] #1955 closed

[2021-05-07 06:54] surya422k opened #1992 "Unable to build "Hello World""
I tried building "Hello World" program in mediapipe c++ after installation but i got this error

ERROR: /home/surya/mediapipe/WORKSPACE:209:12: name 'glob' is not defined

![Screenshot from 2021-05-07 12-24-12](https://user-images.githubusercontent.com/47589022/117409740-2a200f80-af2f-11eb-94ff-56eb2cb845aa.png)

Can anyone please rectify this?

[2021-05-07 07:13] larserikfinholt opened #1993 "Loading of posemodel stopped today - No EM_ASM constant found at address"
Today our app stopped working, it is an app that predicts coffee based on your face: https://www.kafferobot.no/app/

**Update:**
This workaround https://github.com/google/mediapipe/issues/1989 also works for us:

![image](https://user-images.githubusercontent.com/1328417/117424386-05716b00-af22-11eb-94b3-61b5c374162d.png)

I assume this is a permanent change? So that we may keep this in our app?
*

[2021-05-07 07:30] DandyLorenz opened #1994 "How to build handtracking CPU AAR or postracking CPU AAR to reduce dependence on GPU？"
In order to reduce the performance of mediapipe in low-end devices, or how to reduce the requirement of mediapipe on hardware devices (CPU or GPU), I plan to **use CPU** to run **hand tracking** or **post tracking**.
My build environment has no problem and can successfully compile and run **Android AAR**. I need to know whether mediapipe supports hand or pose tracking CPU ? The following is the mo

[2021-05-07 07:44] DandyLorenz commented on #1994
The parameters of my hardware are as follows:
CPU model: rk30board
CPU cores: 6
CPU architecture: arm-64-v8a, armeabi-v7a, armeabi
Maximum CPU frequency: 1.42ghz X4; 1.80Ghz x 2
SDK version: 25
Build: rk3399_ all_ userdebug7.1.2
System memory: 3.76gb
Available memory: 2.85gb
Graphics processor: mali-t860
GPU:ARM
OpenGL: OpenGL ES CM 1.1v1.r18p0
Running the GPU version of handtracking GPU on the de

[2021-05-07 08:24] RohitSingh1226 commented on #1982
Any update on this? @jiuqiant @AndreV84 @sgowroji @cdibona

[2021-05-07 08:39] limetus commented on #1942
Thank you @jiuqiant .

However after switch the branch, I've got another error.

**Error**
`
ERROR: /home/members/yeoreum/smartssd/project_HNSW/youtube-8m/reverted/mediapipe/mediapipe/examples/desktop/youtube8m/BUILD:17:10: Linking mediapipe/examples/desktop/youtube8m/extract_yt8m_features failed: (Exit 1): gcc failed: error executing command /usr/bin/gcc @bazel-out/k8-opt/bin/mediapipe/examples/d

[2021-05-07 08:55] opsmith96 commented on #1989
I have a similar issue, different files

pose_solution_packed_assets_loader.js
pose_solution_wasm_bin.js
pose_solution_packed_assets.data
pose_solution_wasm_bin.wasm
pose_web.binarypb

ended up with forcing version 0.2
`    const pose = new Pose({locateFile: (file) => {
      return `https://cdn.jsdelivr.net/npm/@mediapipe/pose@0.2/${file}`;`

[2021-05-07 09:16] danielbraun89 opened #1995 "Where did upper-body pose landmark go?"
25 points upper-body pose landmark disappeared from the docs,  and from the modules.
I can see the commits which removed them, but they contain no description or explanation, just the  "copybara" message.

1. Is the upper-body landmark solution dead for good?
2. Where can we get updates for these kind of changes? is there a changelog somewhere?

Obviously, it would have been nice if future depreca

[2021-05-07 09:56] crouse12 opened #1996 "mjpeg stream"
Dear All,
Is it possible use mediapipe for mjpeg stream in javascript?

[2021-05-07 10:05] ammarjafri opened #1997 "Error importing mediapipe"
Hi, I am using https://google.github.io/mediapipe/getting_started/install.html#installing-on-debian-and-ubuntu guide to install, mediapipe on jetson nano. After downloading the file, when I import it there was no problem,
but when I use mediapipe.solutions.draw_utils so it gives error Attribute error: module 'mediapipe' has no attribute 'solutions', I did some research and found that __init__.py i

[2021-05-07 10:37] sgowroji commented on #1992
Hi @surya422k, Could you please provide the steps to reproduce the above issue. Thanks!

[2021-05-07 10:47] sgowroji commented on #1996
Hi @crouse12, Could you please share your use case with complete details. Thanks!

[2021-05-07 10:52] sgowroji commented on #1997
Hi @ammarjafri, Could you please provide the complete steps to reproduce your error. Thanks!

[2021-05-07 11:03] ammarjafri commented on #1997
Just, Import mediapipe
in python3

[2021-05-07 11:22] crouse12 commented on #1996
I want to use for esp32cam.
The ESP32-CAM is a very small camera module with the ESP32-S chip that costs approximately $10. Besides the OV2640 camera, and several GPIOs to connect peripherals, it also features a microSD card slot that can be useful to store images taken with the camera or to store files to serve to clients.

https://www.instructables.com/ESP-32-Camera-Streaming-Video-Over-WiFi-Get

[2021-05-07 12:20] crouse12 commented on #1996
Dear sgowroji ,
I create a python program for esp32cam and mediapipe.
Test video:
https://www.youtube.com/watch?v=GGXMqVeCC7g
Python code:
https://github.com/crouse12/python_for_mediapipe_and_esp32cam

[2021-05-07 13:39] glnmzx888 opened #1998 "Missing Model Card for Object Detection"
In MediaPipe, there are many pre-trained models, like Object Detection. Is this object detection model the same as the example model cards specified in (https://modelcards.withgoogle.com/model-reports)? If not, could you please provide its corresponding model card information similar to all the other public ML models as in https://google.github.io/mediapipe/solutions/models.html?

[2021-05-07 13:40] glnmzx888 opened #1999 "Missing Required Sections of Model Cards for Objectron and KNIFT"
We would like to check in terms of the contents of the model cards for models like Objectron (https://drive.google.com/file/d/1CMhN7Npdq0Dt2j0_z69mai2-m7oUTRKF/view) and KNIFT(https://drive.google.com/file/d/1RCdA83a8JDV3ZPS-mtpsV8mTj3r0F9s-/view). For the model cards paper, Model Cards for Model Reporting (https://dl.acm.org/doi/10.1145/3287560.3287596), they require the following details: Model

[2021-05-07 14:35] Sun1718 commented on #1963
Sooooo many thanks for your response. I just want access to landmark points from javascript in iris tracking project (https://viz.mediapipe.dev/demo/iris_tracking)

Is there any way to access them?

So thanks for your kindly help

[2021-05-07 14:53] AndreV84 commented on #723
@jiuqiant
Any ideas?
[code]

[2021-05-07 14:55] samlaf commented on #1979
I didn't make any code or graph changes.
I said object_detection and posted the command to run object_tracking above by mistake, but I'm pretty sure both will behave the same.
BUILD:
`bazel build -c opt --define MEDIAPIPE_DISABLE_GPU=1 mediapipe/examples/desktop/object_tracking:object_tracking_cpu`
and RUN:
`GLOG_logtostderr=1 bazel-bin/mediapipe/examples/desktop/object_tracking/object_tracking_cp

[2021-05-07 16:17] fawad1989 commented on #1507
![Screenshot from 2021-05-07 17-16-22](https://user-images.githubusercontent.com/62570174/117479247-fd342280-af57-11eb-815e-0f2f3c11f216.png)

my build is failing on the last step i.e. python3 setup.py install --link-opencv. Also attached is the screenshot.
Please Help....

[2021-05-07 17:13] AndreV84 commented on #1273
was there any solution figured out?

[2021-05-07 17:13] AndreV84 commented on #1273
@sgowroji  What exactly is the solution?

[2021-05-07 17:53] jiuqiant commented on #1507
Option 1. Fix your opencv installation and settings: https://github.com/google/mediapipe/blob/master/docs/getting_started/troubleshooting.md#incorrect-mediapipe-opencv-config

Option 2. Do `python3 setup.py install`, which builds opencv from the source code and takes much longer time.

[2021-05-07 17:55] jiuqiant commented on #1942
Your MediaPipe OpenCV config might be incorrect. See https://github.com/google/mediapipe/blob/master/docs/getting_started/troubleshooting.md#incorrect-mediapipe-opencv-config.

[2021-05-07 17:58] jiuqiant commented on #1982
You don't have the proto compiler package. See the third step of https://github.com/jiuqiant/mediapipe_python_aarch64#readme.

[2021-05-07 18:01] jiuqiant commented on #1982
`home/rohit5466/mediapipe/mediapipe/mediapipe/__init__.py` seems incorrect since the init.py is not in a python site-packages directory. Can you go to the root directory and run `$ python3 -c 'import mediapipe as mp; help(mp); print(mp.file)'`?

[2021-05-07 18:22] AndreV84 commented on #723
if to adds manually some lines so that the cuda argument gets processed the failure will be due to non defined cuda local config
[code]
where do we add this line?
from file .cache/bazel/_bazel_nvidia/ff4425722229fc486cc849b5677abe3f/external/org_tensorflow/third_party/gpus/cuda_configure.bzl

[code]

Args:
  name: A unique name for this workspace rule.
"""
[code]
[code]

[code]

[2021-05-07 18:28] AndreV84 opened #2000 "tensorrt engine instead of tflite for faster processing on Xavier Jetson"
[code]

[code]

[code]

[code]
that is the environment.
The question is how to add proper .bazelrc modifications as proposed in the post won't appear to match anything https://github.com/google/mediapipe/blob/master/docs/getting_started/gpu_support.md

[2021-05-07 18:29] AndreV84 commented on #723
reopened at https://github.com/google/mediapipe/issues/2000

[2021-05-07 18:41] jianingwei commented on #1977
Is this specific to Objectron or is more generic? The error seems to be camera related.

[2021-05-07 19:11] tyrmullen commented on #1963
No; in that demo, the landmark computation as well as the rendering are both done inside the C++ MediaPipe graph, so nothing is ever brought back into JavaScript except the final image.  Our answer to this problem would be the MediaPipe JS Solutions APIs (e.g. [here](https://mediapipe.dev/demo/hands)), which open up our web demos for anyone to use the data directly, with JS and TypeScript entrypoi

[2021-05-07 19:58] AndreV84 commented on #1982
in my case it is as follows. I am also trying to figure out how to settle python mediapipe
[code]

[2021-05-07 21:17] codylieu commented on #1937
Thanks @mhays-google! No need to eat crow haha, I'm just thankful that you and your team have made this model available at all!

[2021-05-07 22:13] tyrmullen commented on #1828
This does sound like possibly a caching issue.  Or perhaps an asset fetching problem (you'd be able to see in your "Network" tab that files aren't loading if that's the case).  So in addition to the trick for disabling browser caching I mentioned above, here are some other things to potentially try, depending on where you're running the code:

- CodePen caching: if you're running on the CodePen, t

[2021-05-07 22:13] #1828 closed

[2021-05-07 22:34] lyronctk commented on #1984
Updated to Big Sur and it worked. Many thanks!

[2021-05-07 22:34] #1984 closed

[2021-05-08 06:24] ankitacoffee opened #2001 "Error building handtracking example"
I get this error while trying to build. Looks like it is a linking error.

INFO: Build option --linkopt has changed, discarding analysis cache.
INFO: Analyzed target //mediapipe/examples/desktop/hand_tracking:hand_tracking_gpu (0 packages loaded, 6861 targets configured).
INFO: Found 1 target...
ERROR: /home/ankita/Documents/test_docker/mediapipe/mediapipe/examples/desktop/hand_tracking/BUILD:36:1

[2021-05-08 08:38] LiuyangNice opened #2002 "Failed to run the graph: Failed to get packet from output stream 'left_iris_depth_mm'."
when i run iris_depth_from_image_desktop on window,get this error "E20210508 16:35:51.339612 36632 iris_depth_from_image_desktop.cc:155] Failed to run the graph: Failed to get packet from output stream 'left_iris_depth_mm'."
how to do it

[2021-05-08 08:43] aoxipo commented on #1997
hello please tried `pip install  mediapipe` in terminal

[2021-05-08 09:23] nancy618618 opened #2003 "Fail to use python api on macos"
Hi,
recently I use the python api on macos to do pose keypoint detection, the code used is list in this link, https://google.github.io/mediapipe/solutions/pose.html, but met the problem below:
RuntimeError: CalculatorGraph::Run() failed in Run:
Calculator::Open() for node "poselandmarkbyroicpu__inferencecalculator__poselandmarkbyroicpu__InferenceCalculator" failed: ; interpreter_ilure (mediapipe/c

[2021-05-08 09:31] kuangzy2011 commented on #1911
Thanks.

[2021-05-08 09:31] #1911 closed

[2021-05-08 10:27] lilinxiong opened #2004 "Some questions about compiling on windows"
Hi~ First of all thank you very much for opening up such a great MediaPipe. Now I have some problems and need your help.
I followed the document and compiled it successfully on windows. But there is still a long way to go before it is put into use, and now I have some questions.
### background:
I need to embed MediaPipe into our current PC program. But our current program is 32bit. And the compile

[2021-05-08 12:22] fawad1989 commented on #1507
![Screenshot from 2021-05-08 13-19-12](https://user-images.githubusercontent.com/62570174/117538974-30ca8780-b000-11eb-99c2-2670524b5f97.png)

I installed opencv from source. all the instructions worked and i am dead in the water at the last step. i am not sure what i am doing wrong... Any help is appreciated....

[2021-05-08 15:29] ammarjafri commented on #1997
As I mention above pip install mediapipe gives this error:
could not find a version that satisfies the requirement mediapipe (from versions: )
No matching distribution found for mediapipe.

[2021-05-08 22:26] emreboyraz0 commented on #1925
how did you convert .obj file to .uuu file?

I have tried `bazel run -c opt mediapipe/graphs/object_detection_3d/obj_parser:ObjParser -- input_dir=[INTERMEDIATE_OUTPUT_DIR] output_dir=[OUTPUT_DIR]`

But giving the error

`Exception in thread "main" java.lang.ArrayIndexOutOfBoundsException: Index -81918 out of bounds for length 125532
	at SimpleObjParser.constructFinalCoordinatesFromMap(SimpleObjPa

[2021-05-09 00:59] dlucio commented on #1973
Hi!

Today  I was with the same problem but I solved the problem.
Reading other closed issues, I discovered that was done a pull request last year with the solution but it's on hold because of a conflict.

This is the pull request: _[Add counting vector calculator #867](https://github.com/google/mediapipe/pull/867)_
This is the _[code commited](https://github.com/google/mediapipe/pull/867/commits/

[2021-05-09 01:25] Rhytham3008 commented on #1325
it didn't worked for me it says py is not recognised as an internal or external command

[2021-05-09 01:25] Rhytham3008 commented on #1325
pls help

[2021-05-09 03:10] jiuqiant commented on #1325
py is probably an alias to the local python 3.7+ binary.
Also see the sys requirements at https://github.com/google/mediapipe/blob/master/docs/getting_started/troubleshooting.md#python-pip-install-failure.

[2021-05-09 03:27] jiuqiant commented on #2003
Hi, let's try the following two to diagnose the problem:

1) If you change the model_complexity to 0 or 1, does this error still exist?
2) Try deleting site-packages/mediapipe/modules/pose_landmark/pose_landmark_heavy.tflite and then rerun pose api with model_complexity=2. Does the previous issue still exist?

[2021-05-09 07:18] jackjack3006 opened #2005 "Mediapipe installation error"
In the mediapipe installation, it is not running on python3.7 if there is not venv present. I had to run it on a venv for my project. And it is not very compatible with Ubuntu as Ubuntu 18.04 default uses python 3.6.9 causing problems. Also it is not available for python 3.8 as a colleague of mine tried to run the project I made. It would be helpful if these errors can be fixed as soon as possible

[2021-05-09 07:21] jackjack3006 commented on #2005
![Screenshot from 2021-05-09 12-50-00](https://user-images.githubusercontent.com/74947682/117563703-3c33b680-b0c5-11eb-970e-f5ee853e4a7b.png)

[2021-05-09 11:09] tilenpinta commented on #1977
I think is Objectron related because this project is working: https://github.com/machidyo/MediaPipeHandTracking

[2021-05-09 17:17] jiuqiant commented on #2005
The latest version of mediapipe supports python 3.7 and above on x86_64 linux, x86_64 macos, and amd64 windows. Please see https://github.com/google/mediapipe/blob/master/docs/getting_started/troubleshooting.md#python-pip-install-failure for more details. If you use python 3.6, I think v0.8.3 still has the support: https://files.pythonhosted.org/packages/12/74/f55fc21266c08c304f05a409ba388c50f94fb

[2021-05-10 00:14] pjbaron commented on #1551
Thanks @Neopallium that worked for me using Big Sur.

brew unlink bazel
brew install bazelisk

Then your modifications to the two rc files

[2021-05-10 01:37] jiuqiant commented on #1982
I realize that we need to avoid running python interpreter in any parent direcotry of mediapipe. Otherwise, the mediapipe directory will confuse the python interpreter...

For example, I stay in ~/mediapipe after building and installing mediapipe python on my jetson nx. I will get

[code]

If I go to ~/Desktop, which is not a parent directory of mediapipe.  I can see that the mediapipe python pack

[2021-05-10 01:53] limetus commented on #1942
@jiuqiant Thank you so much.

I changed configuration for WORKSPACE, opencv_linux.BUILD, and ffmpeg_linux.BUILD then it works well.

[2021-05-10 02:29] pkaske opened #2006 "Issue with Python/Google Colab after new update"
I dont know why, but after the latest mediapipe update it broke the way on how i gather data. The update made it so it no longer has the THUMB_IP landmark
![hand_landmarks](https://user-images.githubusercontent.com/70996435/117598524-9b1d1e00-b10d-11eb-8048-659583e3ce61.png)
---------------------------------------------------------------------------
AttributeError                            Traceb

[2021-05-10 02:50] nancy618618 commented on #2003
Thanks for your reply, change the model_complexity to 0 fix the problem.

[2021-05-10 02:52] z7212819 commented on #1925
@emreboyraz0
Hello, your model number is too high, it needs to be adjusted to less than 14000.

[2021-05-10 04:25] AndreV84 commented on #1982
@jiuqiant good catch!
could you also share steps on building pythin whl on jetson nx, please?

[2021-05-10 05:25] noahchan commented on #2002
image must have EXIF data

[2021-05-10 06:12] I-aashishM opened #2007 "How to do batch processing in desktop."
I have seen this issue [#452](https://github.com/google/mediapipe/issues/452#issue-563863405) . According to discussion, I guess we can add batch processing on Desktop.

My concern is that can anyone tell me how could I do batch processing. Any reference or steps?

[2021-05-10 06:29] lghasemzadeh opened #2008 "Performance over grayscale/Infrared input"
Hello,

Do the tensorflow face landmarks detection and Iris landmarks models work on Infrared/grayscal image/video? I have a camera which captures Infrared streams, can I run this model over the infrared videos that I recorded with that camera previously? does the model work the same as when it works with RGB videos or real-time RGB streams. @tensorflow @tensorflow-models/face-landmarks-detection

[2021-05-10 06:57] Lebhoryi commented on #625
Have anyone could inference hand_landmark.tflite successfully?

raw image:

![hand](https://user-images.githubusercontent.com/28487306/117617749-930dbe80-b19f-11eb-8cac-aafb65732240.jpg)

api inference:

![image](https://user-images.githubusercontent.com/28487306/117617778-9dc85380-b19f-11eb-98ac-d574d86665f9.png)

my inference:

![image](https://user-images.githubusercontent.com/28487306/11761768

[2021-05-10 09:08] bugmany opened #2009 "how to support yolo model for object detect?"
i 've trained yolo model for object detect, and i want to integrating the model into mediapipe, whether it support or not, if support integrating, how to do, could you give me advice, thanks a lot.

[2021-05-10 09:49] fawad1989 commented on #1507
Good Day...

Hope you are well.

![Screenshot from 2021-05-10 10-41-43](https://user-images.githubusercontent.com/62570174/117640634-1964d900-b17d-11eb-82dc-bf3149ff4dfe.png)

it was stuck at this point for a long time and finally gave out the error as below.
[ 80%] Building CXX object modules/imgcodecs/CMakeFiles/opencv_imgcodecs.dir/src/loadsave.cpp.o
In file included from /usr/include/OpenEXR/I

[2021-05-10 10:32] rmothukuru commented on #2002
@LiuyangNice,
Can you please let us know if the above comment helped in resolving your issue? Thanks!

[2021-05-10 10:42] rmothukuru commented on #2003
@nancy618618,
Can you please let us know if the issue is resolved so that we can close it? Thanks!

[2021-05-10 11:53] emreboyraz0 commented on #1925
Thank you very much for your reply. What is number mean? is it vertexes or polygon ?

[2021-05-10 12:18] ljmkimqx commented on #1745
I don't quite understand. When I use 'multi_handedness', I get this error: input stream "multi_ handedness" for node with sorted index 1 does not have a corresponding output stream.

If I use "HANDEDNESS:multi_handedness", the app will flash back directly, and the error is: validate_ display:87 error 3008 (EGL_ BAD_ DISPLAY)

[2021-05-10 13:38] tilenpinta commented on #1399
did anybody solved that issue?

[2021-05-10 14:12] jackjack3006 commented on #2005
I use pip3 when I install for the python3. Ubuntu 18.04 runs default python 3.7. So changing that is of no use. And I have verified that the python binary and pip binary are the 64-bit version. I do use the venv but when I ask people to check out my project for review they run into all sorts of issues. That is why I had posted this PR.
Thanks for the help!

[2021-05-10 15:14] timtensor opened #2010 "Pose estimation in the wild ?"
Hi , I tried Blazepose estimation and media pipe holistic pose estimation to couple of videos in the wild. It seems to have quite bad tracking of keypoints . For example a rider riding a bike, on a horse back etc.  are there some limitations to it ? I am using single person detection on this .

[2021-05-10 15:38] ttamas0713 opened #2011 "Mediapipe hand tracking build error on Raspberry Pi 4"
Hello!
I'm trying to build hand tracking on Raspberry Pi 4 with Ubuntu 21.04 64bit version but I get the following error:
[code]
Do you have any idea why is this happening?
Python maybe? I have the version 3.9.4.

[2021-05-10 15:55] lukeaparker commented on #1273
Hello, we followed the [tutorial](https://github.com/jiuqiant/mediapipe_python_aarch64) and successfully got the mediapipe python API working on arch64. Now we are trying to get GPU support working, and to do so we followed the comments above. We've gotten to the point where we are trying to modify the graph file, but the diff patch provided fails to execute. We are using version 0.8.1 of mediapip

[2021-05-10 16:15] TannerYork commented on #1273
I'm having the same issue as above. I'm also using version 0.8.1 of mediapipe on arch64.

[2021-05-10 16:21] jiuqiant commented on #1982
I follow https://github.com/jiuqiant/mediapipe_python_aarch64#step-to-build-mediapipe-python-on-aarch64-ubuntu-2004 to build the python wheel package and it went well. Also, step 6 & 7 can be ignored since opencv aarch64 package is now available.

[2021-05-10 16:31] jiuqiant commented on #1942
You can add max_queue_size to the end of feature_extraction.pbtxt and adjust the value (higher for faster and lower for safer) accordingly.

[code]

[2021-05-10 16:39] Onkar-G opened #2012 "Building EXE From PY file issue"
I have py 3.8 and the latest version of PyPI(pip) installed. I installed mediapipe 3.8(lastest) using: pip install mediapipe I installed OpenCV + VC tools + setuptools + pyinstaller and all the other needed dependencies... I coded a simple python script that detects the hands and controls the pc cursor via webcam and it is working perfectly!

However, when I tried to compile it to exe using pyinst

[2021-05-10 16:43] jiuqiant commented on #1507
I don't have OpenEXR locally so I didn't run into this issue before... You probably can try the following:

[code]

[2021-05-10 16:55] jiuqiant commented on #2004
You can change the value in https://github.com/google/mediapipe/blob/master/.bazelversion to be 4.0.0 locally. We fixed it to be 3.7.2 is for supporting all platforms smoothly and feel free to change it locally.

[2021-05-10 17:00] jiuqiant commented on #2006
Ha... it's a typo.  I changed it to be THUMB_DIP. Will fix it soon.

[2021-05-10 17:02] hollyhook commented on #1842
Hi @ivan-grishchenko @rmothukuru any chance you could look into this?
In addition to the above mentioned crash, I noticed the following issue: If the switch to the other camera sucessfully worked, the model has a tendency to see ghosts at the location where a person was previously detected with the other camera (before the switch)
Would be great if you could consider this in your solution. Thanks

[2021-05-10 17:50] jiuqiant commented on #2006
I made a change to rename THUMB_IP to THUMB_DIP. Seems like THUMB_IP is the right name. Will revert.

[2021-05-10 23:27] ahmadyan commented on #1860
Hi,
We don't provide distinction between the left and the right shoe in the model. You can always use a hack that the right shoe is the right of the left shoe.

[2021-05-10 23:36] aiarcv commented on #1973
Thank you @dlucio  .  I followed your comments and can build without issue, but when I run , I got error.  What am I  missing?  Can you confirm the BUILD file's  path is /home/t/Opensource/mediapipe/mediapipe/util and I just need to add your comment on the top of original build and change original    package(default_visibility = ["//visibility:private"])  to  package(default_visibility = ["//visib

[2021-05-11 00:22] jiuqiant commented on #2006
Fixed in https://github.com/google/mediapipe/commit/017c1dc7eaf2d45ca95769194d9c83a86a82876d.

[2021-05-11 03:01] chensisi0730 opened #2013 "xiaomi 11 Ultra and oppo Find x3 pro Mobile phone with Snapdragon 888 can't run MediaPipe"
xiaomi 11 Ultra  and oppo Find x3 pro  Mobile phone with  Snapdragon 888 can't run MediaPipe .
all of the MediaPipe examples can not work !
Sometimes the camera still displays the first frame (from the main camera), but nothing happens after the first frame.
In other (not mediapipe) applications this does not happen and everything works fine
![WechatIMG378](https://user-images.githubusercontent.co

[2021-05-11 06:08] LiuyangNice commented on #2002
yes,my pic is from videos without EXIF data,

[2021-05-11 06:34] z7212819 commented on #1860
@ahmadyan  I'm glad you can reply to me. As you said, the right shoe is the right shoe of the left shoe, but how can I tell the right foot that you are the other shoe of the left foot, because the orientation of the imported model is fixed. So my idea is how to display the orientation of the model of the other shoe through mirror translation after one shoe is displayed. If there is such a method,

[2021-05-11 06:35] z7212819 commented on #1925
@emreboyraz0 model surface numbers

[2021-05-11 06:42] limetus commented on #1942
@jiuqiant Thank you for your comment.

I could adjust the value by adding "max_queue_size" to the end of feature_extraction.pbtxt.
I tried various value of "max_queue_size", but I got similar error.
I think packets cannot be processed so "bad_alloc" error occurs.

When max_queue_size is set to be 32,
**log**
[code]

I check **Out of Memory Error** section, but I couldn't figure out what's wrong.

[2021-05-11 08:16] chensisi0730 opened #2014 "local_config_cc//:toolchain' does not contain a toolchain for cpu 'ios_x86_64'"
Hi. I'm trying to run the example
[code]
And it's works well if I build it from console and load manually with adb。

But when I run installed app builded by AndroidStudio I get this，
I am trying to import mediapipe project using Bazel. But when try to sync the project by clicking on bazel->sync->sync bazel I get following issues.  I am new to mediapipe so please provide detail answer for the issue

[2021-05-11 08:31] chensisi0730 commented on #2014
Syncing project: Sync (incremental)...
Updating VCS...
Running Bazel info...
Command: /Users/zhiyun/bin/bazel info --tool_tag=ijwb:AndroidStudio --curses=no --color=yes --progress_in_terminal_title=no --host_crosstool_top=@bazel_tools//tools/cpp:toolchain --

Command: git diff --name-status --no-renames ecb5b5f44ab23ea620ef97a479407c699e424aa7

DEBUG: /private/var/tmp/_bazel_zhiyun/00af0ac9ad89735

[2021-05-11 09:44] LiuyangNice opened #2015 "iris tracking graph "face_landmarks_with_iris" output error"
i am trying to get the face_landmarks_with_iris from the iris tracking,and i got the output by the same way of the outputvideo,but when my face leave the video ,it sticked,is there any diffierent between video data and face_landmarks_with_iris ?

[2021-05-11 09:45] #2002 closed

[2021-05-11 13:49] jizhu1023 opened #2016 "Could you provide the original tflite model before quantization?"
Hi @jiuqiant @chuoling ,

Mediapipe is really efficient and powerful for developing Mobile AI applications. Many thanks for your great work!
We recently tested the pose detection and landmark models released just a few days ago which performed very well for our application. But the problem is that the models are quantized so it is not flexible to refine the network structure and retrain the model

[2021-05-11 14:11] 27-VladosBro-47 commented on #1973
First of all, thanks @dlucio for excellent code examples. Its VERY helpfull!

What about me and my solution, then I managed build and run project. @aiarcv wait please and I will public in my issue (#1971) code with BUILD`s files and commands build/run.

[2021-05-11 14:54] jackjack3006 commented on #2005
Okk.
Well I ran uname -m and it sent back x86_64 which I understand as aarch64 Ubuntu. So I don't think that is the problem. And this is consistent with other machines too. Windows and Linux

[2021-05-11 15:03] lilinxiong commented on #2004
Thanks, I will try it recently.

[2021-05-11 16:13] jiuqiant commented on #2005
Sorry,  I don't have any new clue on how to solve your installation issue.

We follow PyPI instructions to build Linux, macOS, and Windows wheels and put them at https://pypi.org/project/mediapipe/#files. I don't understand why `pip install mediapipe` doesn't work on any of those platforms on your side.

[2021-05-11 16:49] jiuqiant commented on #1942
What's your system RAM size? Can you check how much feature_extraction use? And how about setting max_queue_size to 2?

[2021-05-11 17:23] spliko opened #2017 "Objectron Crashing"
I want to create Objectron app from Kotlin but app is crashing.
When I give access to my camera I get black screen and after 2-3seconds app crash and get that error:
![image logcat](https://user-images.githubusercontent.com/84030746/117844443-fc64fe80-b27f-11eb-8f66-8e5d2cd4e476.png)

I have my project on github with my pal: https://github.com/spliko/ObjectronKotlin

[2021-05-11 18:00] ankitacoffee commented on #2001
I have tried reinstalling opencv. Still gives the same error. what could be the root cause. can someone point me there so I know what to look for?
I am using ubuntu 18.04

[2021-05-11 18:15] Misby commented on #1965
Hi, your input stream is # GPU image. (GpuBuffer), so you need set such as input_stream: "IMAGE_GPU:input_video"

[2021-05-11 21:51] ahmadyan commented on #2017
Duplicate of https://github.com/google/mediapipe/issues/1977

[2021-05-11 22:32] limetus commented on #1942
Thank you for your comment @jiuqiant .

**System RAM size**
MemTotal:       196673552 kB
MemFree:        51997052 kB
MemAvailable:   87010260 kB

And when I monitoring the ram usage running featrue_extraction, it used 1~2%.
I tried max_queue_size to 2, I've got following logs.

**Log**
[code]

According to memory usage, I cannot understand why bad_alloc occurs..

[2021-05-12 02:15] z7212819 commented on #1860
@ahmadyan Hello, after I checked the code you provided, I found that the object will be ID numbered after it is detected. If I have two feet, the ID is 1 and 2, and I found that there is a calculator called switchcontainer, which can be used to distinguish the flag bits. So my idea is whether I can use switchcontainer to distinguish the ID, for example, when the ID is 1, it is the left foot, And t

[2021-05-12 02:24] chensisi0730 commented on #2013
eg . the landmarks of handtrack  is all zero   in example handtracking

[2021-05-12 02:53] yockgen commented on #1257
I've made it run on Jetson nano after few days of trial and error, take a look on the README:

https://github.com/yockgen/mediapipe_jetson_nano

[2021-05-12 02:59] chensisi0730 commented on #2014
Bazel Project settings

 directories:
  .
  .aswb

# Automatically includes all relevant targets under the 'directories' above
derive_targets_from_directories: true

targets:
  # If source code isn't resolving, add additional targets that compile it here
  //mediapipe/examples/android/src/java/com/google/mediapipe/apps/instantmotiontracking:instantmotiontracking
#  //mediapipe/examples/android/...

[2021-05-12 03:02] chensisi0730 commented on #2014
directories:
    .
    .aswb

  # Automatically includes all relevant targets under the 'directories' above
  derive_targets_from_directories: true

  targets:
    # If source code isn't resolving, add additional targets that compile it here
    //mediapipe/examples/android/src/java/com/google/mediapipe/apps/instantmotiontracking:instantmotiontracking
  #  //mediapipe/examples/android/...:all

  a

[2021-05-12 03:03] chensisi0730 commented on #2014
[code]

[2021-05-12 03:58] jackjack3006 commented on #2005
Alright. Thanks for trying

[2021-05-12 03:58] #2005 closed

[2021-05-12 04:35] jiuqiant commented on #1257
JFYI, in https://google.github.io/mediapipe/getting_started/python.html#building-mediapipe-python-package,  there is a section about building mediapipe python on aarch64 linux, which links to https://github.com/jiuqiant/mediapipe-python-aarch64 that provide the prebuilt python wheel files and detailed instructions.

[2021-05-12 07:58] chensisi0730 commented on #2014
[code]

[2021-05-12 08:26] rmothukuru commented on #2015
@LiuyangNice,
Can you please provide more details? May be the reproducible code and the screenshots should help. Thanks!

[2021-05-12 08:38] LiuyangNice commented on #2015
`absl::Status RunMPPGraph() {
  std::string calculator_graph_config_contents;
  MP_RETURN_IF_ERROR(mediapipe::file::GetContents(
      absl::GetFlag(FLAGS_calculator_graph_config_file),
      &calculator_graph_config_contents));
  LOG(INFO) << "Get calculator graph config contents: "
            << calculator_graph_config_contents;
  mediapipe::CalculatorGraphConfig config =
      mediapipe::Parse

[2021-05-12 08:39] rmothukuru commented on #2017
@spliko,
Can you please let us know if we can close this issue as it is already being tracked in #1977? Thanks!

[2021-05-12 08:55] tuan4192 commented on #1632
Hi @hadon, Thanks for your answer, I will try to do it.
Now, I changed the output of the MTLCompute to `MTLTexture`
`id<MTLTexture> out_texture`
 I want to convert out_texture to `CVPixelBufferRef`()
`GetFrame<GpuBuffer>()` can not use in  MTLTexture.
if you have any solution, please let me know, thank you so mutch!

[2021-05-12 10:27] ben-xD commented on #1937
Was the fix included in yesterday's release `v0.3.1620694839`?, sadly I still observe a memory leak in my app. Unfortunately the [codepen](https://codepen.io/mediapipe/pen/LYRRYEw) is still broken, perhaps thats the old codepen and you created a new one?

I'm also curious why there are so many digits in the version string 👀

[2021-05-12 10:37] 27-VladosBro-47 commented on #1971
@aiarcv
I so sorry for my mistakes :(   I was in a bit of a hurry and made these syntax`s errors, thanks, I will correct mistakes.

What about your point 3, so you do not write `--calculator_graph_config_file=mediapipe/graphs/hand_tracking/custom_hand_tracking_desktop_live.pbtxt`, because config file was entered in program code (file demo_run_graph_main_1.cc) in construct  such as default argumen

[2021-05-12 10:58] Himajin1 commented on #1928
May I ask which file I should change the name of?
(Sorry if this has an obvious answer)

[2021-05-12 11:19] #2017 closed

[2021-05-12 11:33] FladioArmandika commented on #1976
`TypeError: undefined is not a constructor (evaluating 'new _face_detection.FaceDetection')`

I change to ^0.3 and change the locateFile

but still got the same error like before :(

[2021-05-12 12:37] emredog opened #2018 "[pose] landmark presence is always 0"
According the model card: https://drive.google.com/file/d/10WlcTvrQnR_R2TdTmKw0nkyRLqrwNkWU/preview (see last page)

( This is probably related to #1790 , waiting a response since March 24 :disappointed: )

I tried with `mediapipe=0.8.4.2`, the `visibility` works as expected (as a confidence value), but `presence` is always 0, regardless of the input video.

[2021-05-12 12:38] emredog commented on #1790
@bazarevsky @ivan-grishchenko the problem persists on version 0.8.4.2 (see https://github.com/google/mediapipe/issues/2018)

[2021-05-12 14:06] tilenpinta commented on #1977
I think in previus comment that function is wrong. And it have to be something like that:
![image](https://user-images.githubusercontent.com/61638005/117985059-ac963e00-b338-11eb-9dc0-81281b2a205e.png)

But then I get error:
`A/libc: Fatal signal 6 (SIGABRT), code -1 (SI_QUEUE) in tid 26810 (mediapipe_gl_ru), pid 23662 (e.pipetest3dv11)`

And if I change aar library to hand tracking and have this

[2021-05-12 14:25] midhulavijayan opened #2019 "How to fill face rectangle (in face mesh) with transparent color?"
Hello, I'm trying to fill the face rectangle with some transparency. I made the "filled" option as true to fill the color. Is there any way to give some transparency for the filled color (alpha blending)?
node {
  calculator: "RectToRenderDataCalculator"
  input_stream: "NORM_RECTS:rects"
  output_stream: "RENDER_DATA:rects_render_data"
  node_options: {
    [type.googleapis.com/mediapipe.RectToRe

[2021-05-12 14:41] aiarcv commented on #1973
Thank you @27-VladosBro-47 .   #1971 provide a solution of this  issue, close this issue.

[2021-05-12 14:41] #1973 closed

[2021-05-12 14:43] aliisaiid98 opened #2020 "mediapipe in raspberry pi 4"
i want to use mediapipe in raspberry pi 4 but i don't know how

[2021-05-12 17:34] TannerYork commented on #1273
Looks there's a working diff file found [here](https://github.com/google/mediapipe/issues/1042#issuecomment-829267239) in the original issue. I haven't tried it but it seems like it's working for others.

[2021-05-12 20:03] kaisark opened #2021 "What are the max versions of Android SDK and NDM that will work with the Android Examples?"
What are the max versions of Android SDK and NDM that will work with the mediapipe Android Examples? I am currently using  Ubuntu 20/Android Studio 4.1.3/SDK API 30/NDK 22.

I was reading the installation [instructions](https://google.github.io/mediapipe/getting_started/android.html#option-2-build-with-bazel-in-android-studio) for Android and was wondering if I need to install additional Android S

[2021-05-12 20:41] ttamas0713 commented on #2011
Thanks for the response. I have tried this before but it didn't help. I installed Python 3.7.5 and 3.7.10 but I couldn't make it work because I can't install numpy on the older versions (pip fails on SSL verify or something). Unfortunately, I had to reinstall the OS so I can't tell you the exact error message right now.

[2021-05-13 05:07] pattanaponny002 opened #2023 "Raspbian Os on raspberry pi4 is possible to use??"
When i launch in the mu on programming i faced with no module name mediapipe

[2021-05-13 05:49] rmothukuru commented on #2013
@chensisi0730,
Can you please elaborate your point? Also, can you please share the reproducible code and the related screenshots? Thanks!

[2021-05-13 06:42] rmothukuru commented on #2018
@emredog,
As you mentioned rightly, it is a duplicate of #1790. Can you please let us know if we can close this issue, as it is already being tracked there. Thanks!

[2021-05-13 06:57] rmothukuru commented on #2020
@aliisaiid98,
Please refer this [Github Repository](https://github.com/jiuqiant/mediapipe_python_aarch64) for the detailed information. Thanks!

[2021-05-13 06:58] zhaoqilong3031 opened #2024 "add opencv_contrib module , How can I do it"

[2021-05-13 07:20] emredog commented on #2018
@rmothukuru yes certainly, I wasn't sure if it deserved another issue because of the different version. Closing this then. Thank you for your attention!

[2021-05-13 07:20] #2018 closed

[2021-05-13 09:18] rmothukuru commented on #2023
@pattanaponny002,
Can you please elaborate your point? Please provide the reproducible code and the screenshots, if possible. Thanks!

[2021-05-13 09:21] rmothukuru commented on #2024
@zhaoqilong3031,
Can you please elaborate your point? Please provide the reproducible code and the screenshots, if possible. Thanks!

[2021-05-13 09:55] zhaoqilong3031 commented on #2024
@rmothukuru
 Add the MCC(opencv_contrib) module, AAR can compile, but Android can't run

CODE
[code]
android error
[code]

[2021-05-13 11:10] txf- commented on #1965
It seems that it might have been a problem with the drivers, I recently updated the drivers and the problem went away.

[2021-05-13 12:55] alpcapanoglu commented on #1812
I'm having the same problem. Tried every approach here and none worked for me.

Any updates? Any known causes?

[2021-05-13 13:35] nitecm opened #2025 "Can not save settings,.aswb already exists"
First time when I import project from Bazel, the Generate from BUILD file directory set wrongly and try to import project from Bazel again and set   the path again but can not save . What step should I take to rectify it

[2021-05-13 20:58] jiuqiant commented on #2024
MediaPipe uses the official prebuilt opencv android sdk (https://github.com/opencv/opencv/releases/download/3.4.3/opencv-3.4.3-android-sdk.zip) at https://github.com/google/mediapipe/blob/master/WORKSPACE#L225.

For having opencv-contrib, you probably need to build an opencv android sdk with opencv_contrib locally and replace the mediapipe android_opencv rule with something like the following:

[c

[2021-05-13 21:11] nikicat opened #2028 "Disable face in holistic"
Hello, is it possible to disable face inference in holistic model? I want to speed up model a bit and face is not needed for my task.

[2021-05-13 21:21] jiuqiant commented on #2021
I think there is minimum requirement of sdk and ndk. For maximum versions, Bazel may still just officially support ndk 21 and below and it sends a warning message if you use ndk 22 and above.

[2021-05-14 02:07] aoxipo opened #2029 "face_mesh solution problem ---- the algorithm is not expressive enough in some scenarios"
Hello , i try to use `face_mesh `solution, and I found that the algorithm failed in some scenarios, I used `Python `and `Desktop `to verify the algorithm, here is the picture:

![微信图片_20210514093236](https://user-images.githubusercontent.com/32930325/118208170-dc5c5780-b498-11eb-958b-bc68daeb1931.png)
![微信图片_20210514093010](https://user-images.githubusercontent.com/32930325/118208493-72907d80-b499

[2021-05-14 02:23] zhaoqilong3031 commented on #2024
@jiuqiant
I changed http_archive ，”opencv-4.5.2-android-sdk.zip“  Including the MCC

[code]

[2021-05-14 04:13] chensisi0730 commented on #2013
[code]

[2021-05-14 07:06] pattanaponny002 commented on #2023
Simple question, Mediapipe is be able to use in rpi4 as raspbian os if so pls answer directly thank!!

[2021-05-14 07:28] murilotimo commented on #1868
Wouldn't it be possible to use iris detection to estimate face size in the real world?

[2021-05-14 07:39] mssimrp opened #2030 "Error encounter in Option 2: Build with Bazel in Android Studio"
Error as below, any idea what I could do next? :(

Syncing project: Sync (incremental)...
Updating VCS...
Running Bazel info...
Command: C:\Users\ica\bazel\bazel.exe info --tool_tag=ijwb:AndroidStudio --curses=no --color=yes --progress_in_terminal_title=no --host_crosstool_top=@bazel_tools//tools/cpp:toolchain --

DEBUG: C:/users/ica/_bazel_ica/gonu5dkr/external/org_tensorflow/third_party/repo.bzl

[2021-05-14 10:42] bduvenhage commented on #1864
Hi @lilinxiong
May I ask how you solved the problem?
Thanks.

[2021-05-14 12:00] lilinxiong commented on #1864
Hi @bduvenhage First of all, let me talk about my usage scenario, if your scenario is the same as mine, then please ask me again. Of course, if it is different, you can talk about your usage scenario, and I can help you figure out a solution.

#### Background:
My original intention was to drive the head of an avatar to perform actions.So you need very precise Euler Angles(Otherwise it will jitter

[2021-05-14 12:37] pattanaponny002 commented on #2020
Same as ur situation, i cant execute any any code as "mediapipe" on pi4 and also it is still waiting any responding from developer whether it is possible

[2021-05-14 17:48] jiuqiant commented on #2024
Thanks for providing your solution!

[2021-05-14 17:48] #2024 closed

[2021-05-14 18:50] txf- commented on #2028
you can comment out everything related to face_landmarks from:
[code]
where `[X] `is `cpu` or `gpu`.

[2021-05-14 20:29] hadon commented on #1990
The way you have formulated the dynamic calculator option is exactly how we would like graph options to work eventually.  But for now, the "InferenceCalculatorOptions" can only be used for constant values.  A few calculators accept dynamic options separately through input-side-packets and/or input-streams.  For example, InferenceCalculator accepts an already loaded model through the "MODEL" input-

[2021-05-14 20:32] eknight7 commented on #1745
Hi @ljmkimqx

If the graph contains a node that has an output stream named `multi_handedness`, this error should not arise. Since this [graph](https://github.com/google/mediapipe/blob/master/mediapipe/modules/hand_landmark/hand_landmark_tracking_gpu.pbtxt#L24-L29) has an output stream named `multi_handedness`, the error should not arise.

Please share what code you used to reproduce this error.

`

[2021-05-14 20:43] hadon commented on #1784
I think the doc attempts to refer to the profiler_config message in the section "Enabling tracing and profiling", to avoid repeating that example protobuf message in two sections.  It instead should say "add the above ProfilerConfig protobuf message".  The config should look like:

[code]

Currently, the profiler config can only be specified in the CalculatorGraphConfig for the graph we wish to tr

[2021-05-14 20:56] hadon commented on #1970
Thanks Ivan for reporting the issue and including the crash logs.   I can't discern much from the crash log because it seems to lack the function names from the MediaPipe jni library

I imagine that the IrisLandmarkLeftAndRightCpu subgraph is probably receiving some IMAGE inputs without the corresponding FACE_LANDMARKS input.  It may be that this subgraph expects FACE_LANDMARKS for every frame.  I

[2021-05-14 22:15] dstanner opened #2031 "Subset NormalizedLandmarkList from pose estimation (Python)"
I want to draw only a subset of landmarks from a pose estimation run on an image.

In essence, I want to be able to subset a `NormalizedLandmarkList` to pass to `draw_landmarks`, but I am having difficulty figuring out how to subset the list object based either on landmark name or list index. When I try to call a list of indices on a `NormalizedLandmarkList` returned from a pose estimation run (e.

[2021-05-15 01:17] matthewn4444 opened #2032 "Unable to create shared library missing symbols"
I am trying to create a shared_library with the following as an exported shared library for android as I prefer not to use any of the JNI and Java code and after compiling I get no symbols related to certain libraries like CalculatorGraph

[code]

I am using the command

`bazel build -c opt  --config=android_arm --cxxopt='-std=c++17'  mediapipe:libmediapipe_framework.so --linkopt="-s"`

I use the

[2021-05-15 07:23] dagap opened #2033 "do not draw the face connections"
Is there a simple way to filter out the connections? For example, in my app, I am not interested in the facial connections. Would it be at all possible to filter those out? Currently, with the drawing routine, when I use something like:

[code]

It draws all pose connections. Would it be possible to filter out the ones pertaining to the face?

[2021-05-15 08:15] MAYANK816 commented on #1466
it is not working with 3.7.9 version in windows
please help me with the solutions.

[2021-05-15 09:08] prabhavnegi commented on #1654
@vasanthhr Did you find a solution. If yes can you pls share.

[2021-05-15 09:12] z7212819 opened #2034 "About shoe model switching"
Hello, now I try shoes how software can click on the screen like face_effect change model, I found GlAnimationOverlayCalculator seems not support in the program direct switching model input stream, excuse me what method?

[2021-05-15 09:13] z7212819 commented on #2034
I'm using the AAR package, in a Linux environment

[2021-05-15 09:14] z7212819 commented on #2034
`package com.example.realtimefacemesh;

import android.content.pm.ApplicationInfo;
import android.content.pm.PackageManager;
import android.content.pm.PackageManager.NameNotFoundException;
import android.graphics.Bitmap;
import android.graphics.BitmapFactory;
import android.os.Bundle;
import android.util.Log;
import android.util.Size;
import android.view.GestureDetector;
import android.view.Motion

[2021-05-15 09:15] z7212819 commented on #2034
The switchcontainer calculator has been added now, and here is my code
`/** Main activity of MediaPipe object detection 3D app. */
public class MainActivity extends BasicActivity {
    private static final String TAG = "MainActivity";

    private final Object effectSelectionLock = new Object();
    private int selectedEffectId;
    private static final String SELECTED_EFFECT_ID_INPUT_STREAM_NAME

[2021-05-15 09:17] z7212819 commented on #2034
Here is my pbtxt

# Images coming into and out of the graph.
input_stream: "input_video"
input_stream: "WIDTH:input_width"
input_stream: "HEIGHT:input_height"
input_stream: "selected_effect_id"
input_side_packet: "LABELS_CSV:allowed_labels"
input_side_packet: "MODEL_SCALE:model_scale"
input_side_packet: "MODEL_TRANSFORMATION:model_transformation"
input_side_packet: "TEXTURE:box_texture"
input_side

[2021-05-15 09:17] prabhavnegi commented on #914
@www516717402  what is the solution can you pls share

[2021-05-15 10:28] feldim2425 opened #2035 "Tracking freezes when using AnnotationOverlayCalculator without input image"
I'm tried to modify the face mesh example to render without the input image similar to issue #326

In order to do that I modified the ``face_renderer_cpu.pbtxt`` an made the following modifications to the AnnotationOverlayCalculator: (removed input_image and added canvas size option)
[code]
Entire changes can be viewed here:
https://gist.github.com/feldim2425/6b18846a1e64b26ca5e0a1e14df7ccf3
And t

[2021-05-15 10:34] feldim2425 commented on #2035
PS:
The ``/mediapipe/modules/face_landmark/face_landmark_cpu.pbtxt`` file contains a comment saying:
[code]

I don't know exactly how that information is passed downstream, however to me it seems like either the input_image takes a role in passing that information down or the AnnotationOverlayCalculator always required some kind of input and ignores that information.

[2021-05-15 11:16] lyfpeter opened #2036 "C++ API solution?"

[2021-05-15 19:43] aliisaiid98 commented on #2020
i did, but i'm stuck at 7th step which uses the "diff - - git" command and it gives me an error says "diff: unrecognized option '--git'"
although i did install git

[2021-05-16 07:53] sergeynsa commented on #1625
I see all my community is interested in such thing.

[2021-05-16 10:40] JainJai2305 commented on #1325
Hey guys !! those of u who are not able to install mediapipe and it's showing error like this  "No matching distribution found for mediapipe" ;  install python 3.7.0 not 3.7.4 not 3.8  ,  Python 3.7.0  link:   https://www.python.org/downloads/release/python-370/

I had 3.7.4 but I was not able to install mediapipe , but I changed my path and installed 3.7.0 and now it's working just fine for me
Ho

[2021-05-16 13:32] Frank-Dz opened #2037 "How to replace the BBOX for hand estimation with our own detection result?"
How to replace the BBOX for hand estimation with our own detection result?

Want to replace the box for a better hand estimation...

Thx!

[2021-05-16 16:05] akokhlik opened #2038 "Can I recolor hair segmentation mask using LUTs ?"
Hi,can I recolor hair segmentation mask using LUTs as shown in this paper ?
https://arxiv.org/pdf/1907.06740.pdf

[2021-05-16 21:37] ttamas0713 commented on #2011
I reinstalled everything and I get the following error with python bin path set to python3:

`ERROR: /home/tt/.cache/bazel/_bazel_tt/a4050360905611307687f2e9460a1f5b/external/org_tensorflow/tensorflow/core/util/BUILD:372:24: error executing shell command: '/bin/bash -c bazel-out/aarch64-opt-ST-e0f78fafe98f/bin/external/org_tensorflow/tensorflow/tools/git/gen_git_source --generate "$@" --git_tag_ov

[2021-05-16 22:49] txf- commented on #2035
Take a look at this #850 . The issue isn't the annotationoverlaycalculator. Rather as you correctly identified the poller blocks the complete execution of the program and graph without a packet.

If  you poll for the presence of a packet (using the packetpresencecalculator) then the loop can continue executing when packets are missing.

[2021-05-17 01:15] jizhu1023 commented on #2016
Hi @ivan-grishchenko , any comment?

[2021-05-17 03:44] kostyaby commented on #1868
Hey @murilotimo,

Theoretically, yes, there is an approach worth of exploring (please see #1891 for some additional context). However, there are a few problems with that approach which I'd like to highlight:

- Z derived from left and right eyes might be quite different (please see GIFs in [this comment](https://github.com/google/mediapipe/issues/1642#issuecomment-804362081)), which already sugges

[2021-05-17 09:00] thunderbirdtr commented on #1889
Hello, is there any updates about this ?

Thank you :)

[2021-05-17 09:39] akokhlik commented on #689
Hi, I am beginner. Can you clarify how can i give 1D LUT, to calculator from android java

[2021-05-17 10:11] chensisi0730 commented on #1275
大佬门，可以留个联系方式吗

[2021-05-17 10:41] cjl84914 commented on #1892
@mcclanahoochie  @jiuqiant  @sgowroji  thank you very much!

[2021-05-17 10:41] #1892 closed

[2021-05-17 11:30] chensisi0730 commented on #1275
难道就是重装xcode就解决啦 ？没别的原因 ？

[2021-05-17 12:27] Sanbot-okk opened #2040 "LandMarkList for Lips alone"
Hello,

How can I draw the mesh for just the lips using MediaPipe FaceMesh? Please let me know if it is even possible.

[2021-05-17 13:09] kteriusghub commented on #1625
I try to apply the holistic feature of Mediapipe to my research.
The advantages of mediapipe are fast speed and low resource usage. Even if I suggest ResNet for the recognition accuracy, I also want to keep these advantages for the holistic feature.
So, I suggest the hybrid network to detect the joint points of the body pose, the face mesh and hands.
 --- ResNet to extract the joint keypoints of t

[2021-05-17 13:33] emreboyraz0 commented on #1925
Thank you so much. Did you figure out how to change shoe model at runtime ?

[2021-05-17 14:50] rmothukuru commented on #2036
@lyfpeter,
Can you please elaborate about your point? Thanks!

[2021-05-17 14:56] Frank-Dz commented on #2037
I want to pass the obj BBOX detected by myself in our pipeline, is there a way for this?

Thx!

[2021-05-17 16:13] gmontamat opened #2041 "Pose detection in python with CUDA support"
Hello,
Based on @jiuqiant 's comment: https://github.com/google/mediapipe/issues/1651#issuecomment-790176010
I'd like to build the python module to run pose detection (`mediapipe.solutions.pose.Pose`) with GPU CUDA support.

To simplify things, I've modified the repo's `Dockerfile` so that I can build the python package on it.

Here's the diff so far:
[code]

Once applied, I build the image, start

[2021-05-17 16:36] rahulchaphalkar commented on #1978
This has been resolved, here's a summary -
Mediapipe uses tensorflowlite delegate , which uses Xnnpack library, and xnnpack library has AVX instructions enabled via intrinsics. So, using a compiler flag like`--copt="-arch:AVX"` or others won't have an effect. I was able to disable the `cpuinfo` checks in xnnpack so that it generated only upto SSE 4 instructions.
If anyone is interested, i've put s

[2021-05-17 16:36] #1978 closed

[2021-05-18 03:04] Asssssert opened #2042 "dlopen failed: cannot locate symbol "aligned_alloc""
![image](https://user-images.githubusercontent.com/20775530/118583900-69205180-b7c8-11eb-829f-8a3de10f81f7.png)
Why can I run on Android 10 and 9 and report an exception on 7.1.1? Is it an Android version problem？

[2021-05-18 03:36] aoxipo commented on #2040
hello,Maybe you can draw the lips by this array , it's landmark index.
[code]

[2021-05-18 03:40] aoxipo commented on #2038
hello , may be you can try this:
change mediapipe/graphs/hair_segmentation/hair_segmentation_desktop_live.pbtxt in line:147
change the `color{ r:0 g:0 b:255 }`

[2021-05-18 03:42] aoxipo commented on #2036
try this.  examples/desktop demo , .

[2021-05-18 03:43] aoxipo commented on #1990
think you for your help!!!!!!!!!!

[2021-05-18 03:43] #1990 closed

[2021-05-18 05:00] aoxipo opened #2043 "(face_mesh)how can i get value of the Z coordinate in right way?"
i am try to use face landmark in face_mesh solution , luckly i get right x and y in the landmark by code
[code]
but when i mesh the landmark in the face there some error in z coordinate
here is picture,

I found that the value of forehead is - 55, and the value of nose is - 145. In contrast, the position of forehead and nose is significantly different. And when I get close to the camera, the value

[2021-05-18 06:12] z7212819 commented on #1925
@emreboyraz0 I can't do that

[2021-05-18 06:12] z7212819 commented on #1925
@emreboyraz0 I have no way to implement this feature

[2021-05-18 07:08] vinhnguyen21 commented on #1864
Hi @lilinxiong
I have the same problem as you mentioned. Can you give me suggestion how to convert face mesh into euler angles?

[2021-05-18 07:12] lilinxiong commented on #1864
@vinhnguyen21 take a look? If it is the same, then I can advise you.

[2021-05-18 07:31] vinhnguyen21 commented on #1864
Yes can you give me any suggestion/ @lilinxiong

[2021-05-18 09:55] RitvikMandyam opened #2044 "Unable to compile for Android"
Hi,
I'm trying to use the holistic tracking demo on Android. I got the example to compile, but then I modified mediapipe/examples/android/src/java/com/google/mediapipe/apps/basic/MainActivity.java by adding these lines:
`
import com.google.mediapipe.formats.proto.LandmarkProto.NormalizedLandmark;
import com.google.mediapipe.formats.proto.LandmarkProto.NormalizedLandmarkList;
`

I wanted to do some

[2021-05-18 12:35] akokhlik commented on #18
Hi i have the same black screen problem. How did you solve this problem?

[2021-05-18 14:25] nikicat commented on #2028
Great, thanks!

[2021-05-18 14:29] thamquocdung commented on #2041
Hello @gmontamat, I got the same issue and I solved it by following #1651 for holistic landmark. I think it's so similar to pose detection. You can try to read it.

[2021-05-18 14:54] lyfpeter commented on #2036
Only compile c + + code, encapsulate .so library

[2021-05-18 16:15] gmontamat commented on #2041
Hi @thamquocdung . I'll try that and report here the results. Do you happen to have a diff for your `mediapipe/modules/pose_detection/pose_detection_gpu.pbtxt` ?

[2021-05-18 16:33] rmothukuru commented on #2028
@nikicat,
Can you please let us know if this issue is resolved so that we can close it? Thanks!

[2021-05-18 19:35] gmontamat commented on #2041
I've modified `mediapipe/modules/pose_detection/pose_detection_gpu.pbtxt`:

[code]

And now I get
[code]
when I initialize `mediapipe.solutions.pose.Pose`

[2021-05-18 19:49] JoseVidal17 opened #2046 "Cannot cast array data from dtype('float32') to dtype('uint8') according to the rule 'safe'"
im trying to implementate mediapipe on touchdesigner, but when i execute the nodes, i saw the next error:
python >>>
Traceback (most recent call last):
  File "/project1/script1_callbacks", line 24, in onCook
  File "C:/Users/jvida/Desktop/ModelosVisionArtificial/ExtPy/Dep/python\mediapipe\python\solutions\hands.py", line 164, in process
    return super().process(input_data={'image': image})
  Fi

[2021-05-18 20:19] JoseVidal17 commented on #2046
i do a cast that solve it
                        img_RGB = cv2.cvtColor(img,cv2.COLOR_BGR2RGB)
			img_RGB=img_RGB/img_RGB.max()
			img_RGB=255*img_RGB
			img2 = img_RGB.astype(np.uint8)

[2021-05-18 20:19] #2046 closed

[2021-05-18 20:33] NotSpooky opened #2047 "Building pose keypoint aar platform:android solution:pose type:build/install"
I can build the Android example app with
`bazel build -c opt --config=android_arm64 mediapipe/examples/android/src/java/com/google/mediapipe/apps/posetrackinggpu:posetrackinggpu`

Is there a way to generate an AAR so I can import it from Flutter and use BlazePose from there?

[2021-05-18 20:50] JoseVidal17 opened #2048 "Mediapipe packetcreator error"
When I intend to use mediapipe in touchdesigner I get the following error

TypeError: Cannot cast array data from dtype('float32') to dtype('uint8') according to the rule 'safe'

the funny thing is that mediapipe says to support float but whenever it tells me that I need to cast it to uint8

I solved the error when I did this cast

                        img_RGB = cv2.cvtColor(img,cv2.COLOR_BGR2R

[2021-05-19 02:42] dung-taniguchi commented on #2041
@gmontamat, you don't need to change config in `mediapipe/modules/pose_detection/pose_detection_gpu.pbtxt`  instead of changing config in `mediapipe/modules/pose_detection/pose_landmark_gpu.pbtxt`. Let try it

[2021-05-19 03:13] dung-taniguchi commented on #2041
diff --git a/mediapipe/modules/pose_landmark/pose_landmark_gpu.pbtxt b/mediapipe/modules/pose_landmark/pose_landmark_gpu.pbtxt
index c439737..c84c958 100644
--- a/mediapipe/modules/pose_landmark/pose_landmark_gpu.pbtxt
+++ b/mediapipe/modules/pose_landmark/pose_landmark_gpu.pbtxt
@@ -88,6 +88,20 @@ output_stream: "ROI_FROM_LANDMARKS:pose_rect_from_landmarks"
 # Regions of interest calculated based

[2021-05-19 03:15] RitvikMandyam commented on #2047
There are instructions about how to do this here:
https://github.com/google/mediapipe/blob/master/docs/getting_started/android_archive_library.md

[2021-05-19 03:20] dung-taniguchi commented on #2041
All of the necessary modification:
[code]

[2021-05-19 03:26] thamquocdung commented on #2041
@gmontamat , you don't need to make any change in `pose_detection_gpu.pbtxt`. All of the necessary modification:

[code]

[2021-05-19 03:43] chensisi0730 opened #2049 "In example: instant motion tracking , can it track any object or only specific objects (from object detection)?"
In example: instant motion tracking ,  can it track  any object or only specific objects (from object detection)?

[2021-05-19 03:47] sgowroji commented on #2044
Hi @RitvikMandyam, Could you please share your use case with code repo. Thanks!

[2021-05-19 03:53] sgowroji commented on #2047
Hi @NotSpooky, Please go through the [link](https://github.com/google/mediapipe/blob/master/docs/getting_started/android_archive_library.md) .And reach us if you still have any query. Thanks!

[2021-05-19 04:09] lilinxiong commented on #1864
I have been busy recently, I will reply to you this weekend. @vinhnguyen21

[2021-05-19 04:09] lostfictions commented on #1408
It's really unfortunate that there's no better documentation available, especially for the helper libraries (`@mediapipe/drawing_utils`, `@mediapipe/camera_utils`, `@mediapipe/control_utils`). Without them, it's remarkably hard to figure out how one would go about implementing drawing code -- for example, `drawConnectors` is totally opaque since it's shipped as a Closure-minified module, and there

[2021-05-19 04:13] RitvikMandyam commented on #2044
Sure. The BUILD file, modified MainActivity.java and modified .pbtxt files are here:
https://gist.github.com/RitvikMandyam/263d5422227a895cfc29ef6c7aec131a
I changed the .pbtxt files to remove the code related to face landmarks. I also changed MainActivity.java to have a PacketCallback which is supposed to get the pose landmarks.

[2021-05-19 04:16] chensisi0730 commented on #2013
Try install mediapipe objectron 3d prebuild example on Android with ARM64 .
But in each of the examples I get a black screen.
This is also the behavior of Object Detection (CPU and GPU)
I tried to build step by step from sources - the result is the same.
in other word ,all example work failed !
![1621397747262](https://user-images.githubusercontent.com/16938432/118755719-f54f7900-b89b-11eb-8942-0a

[2021-05-19 04:20] Danil-e opened #2050 "FileNotFoundError: The path does not exist (solution_base.py, solutions\holistic.py)"
I can't execute the sample code.
Only the camera reacts - a connection is made (the indicator lights up), after which an exception is made.

[code]

_File "...\site-packages\mediapipe\python\solutions\holistic.py", line 121, in __init___
_https://github.com/google/mediapipe/blob/ae05ad04b3ae43d475ccb2868e23f1418fea8746/mediapipe/python/solutions/holistic.py#L120_

[code]

[2021-05-19 04:57] sgowroji commented on #1947
Hi @weixinz1, Did you get a chance to go through the above comment. Thanks!

[2021-05-19 05:05] RitvikMandyam commented on #2037
One way to do this would be to put whatever model you're using in an InferenceCalculator or TfLiteInferenceCalculator, then replace or augment the existing calculator in the graph with yours.

[2021-05-19 05:20] RitvikMandyam commented on #2015
poller3.Next(&packet3) is a blocking call. When your face goes out of the frame, that call does not give you a packet and the program hangs. You can fix it in one of two ways:
1. Add a PacketPresenceCalculator into your graph which checks for kOutputStream3 to  your graph and poll that, and call poller3.Next(&packet3) only if the packet is present.
2. Put your poller3.Next(&packet3) call inside an

[2021-05-19 05:21] sgowroji commented on #2048
Hi @JoseVidal17, Can you share the complete steps to  reproduce the above issue. And also details of the solutions you are referring. Thanks!

[2021-05-19 05:27] RitvikMandyam commented on #2001
Have you installed the GPU libraries? It looks to me like your linker is unable to find libgles2-mesa-dev. You can install it, along with the other GPU-related libraries, by running:
`
sudo apt-get install mesa-common-dev libegl1-mesa-dev libgles2-mesa-dev
`

[2021-05-19 05:31] sgowroji commented on #2049
Hi @chensisi0730, Could you please share your complete use case. Did you get a chance to go through this [documentation](https://google.github.io/mediapipe/solutions/instant_motion_tracking#mediapipe-instant-motion-tracking). Thanks!

[2021-05-19 05:32] RitvikMandyam commented on #1985
Hi, I've been able to use the box tracking to track both face and person detections, you should be able to track pretty much anything. Fair warning though, if the object you're tracking takes up most of the image, the tracking tends to break down a little.

[2021-05-19 05:35] sgowroji commented on #1421
Duplicate https://github.com/google/mediapipe/issues/2050

[2021-05-19 06:01] sgowroji commented on #1697
We are closing this issue now due to lack of activity.

[2021-05-19 06:01] #1697 closed

[2021-05-19 06:03] sgowroji commented on #1930
Assuming your issue fixed, we are closing this issue now. Thanks!

[2021-05-19 06:03] #1930 closed

[2021-05-19 06:04] sgowroji commented on #1974
We are closing this issue now due to lack of activity.

[2021-05-19 06:04] #1974 closed

[2021-05-19 06:07] sgowroji commented on #1950
Thanks for sharing the update. We are closing this issue now. Please feel free to reopen the above issue if it is still persists.

[2021-05-19 06:07] #1950 closed

[2021-05-19 06:09] sgowroji commented on #1987
Glad to know your resolved. And also thanks for sharing your fix.

[2021-05-19 06:11] sgowroji commented on #1992
Hi @surya422k, Could you please respond to my above comment. Thanks!

[2021-05-19 06:20] ykk648 commented on #2041
@thamquocdung very useful, build takes 2mins, now the python based pose-detect codes can run on RTX3080, the inference is more fasttttter, thank you!

`I20210519 14:15:37.000900 2869899 gl_context_egl.cc:163] Successfully initialized EGL. Major : 1 Minor: 5
I20210519 14:15:37.031934 2869960 gl_context.cc:331] GL version: 3.2 (OpenGL ES 3.2 NVIDIA 455.23.05)
I20210519 14:15:37.031996 2869899 gl_con

[2021-05-19 06:25] RitvikMandyam commented on #2044
I figured it out, it looks like you can't import any of the protos into apps/basic/MainActivity.java. I copied the MainActivity.java from apps/facemeshgpu into apps/holistictrackinggpu, modified it to get the right output stream and pointed the BUILD file to it, everything works fine now.

[2021-05-19 06:25] #2044 closed

[2021-05-19 06:45] thamquocdung commented on #2041
@ykk648 Yeah, It took me a lot of time to configure and understand the params. So I wanna share with you. I hope it's helpful ^^

[2021-05-19 06:54] sgowroji commented on #1745
Hi @ljmkimqx, Could you please respond to the above comment. Thanks!

[2021-05-19 07:01] sgowroji commented on #2003
Assuming your issue fixed, we are closing this issue now.

[2021-05-19 07:01] #2003 closed

[2021-05-19 07:38] lizhanping commented on #2004
did you try it ? i have same case .

[2021-05-19 07:45] lilinxiong commented on #2004
of course. It is possible to build 32bit, but I only did half of it, because I have to do other things, and it will take a while before I can do the following.......

[2021-05-19 08:18] lizhanping commented on #2004
ok, can you share some keypoints or give some tips for building it?

[2021-05-19 08:33] lilinxiong commented on #2004
Bazel 4.0.0 can support build windows 32bit, but all MediaPipe dependencies (TensorFlow-Lite, XNNPACK....) build scripts (WORKSPACE, BUILD.bazel, BUILD) have not implemented compiling windows 32bit configuration information. In fact, they all support windows 32bit, In the dependency, add the windows 32bit configuration information, and then build it. Among them, TensorFlow-Lite will have an error

[2021-05-19 08:53] lizhanping commented on #2004
thanks,it sounds like that need a lot of changes ~

[2021-05-19 09:27] KristianDukov commented on #1987
Hello,
Does using an older version instead of the latest can be considered as a solution?

[2021-05-19 09:47] sgowroji commented on #2013
Hi @chensisi0730,  Can you provide the logs while reproducing the above issue. We have not found any useful logs or any crashes from the log report.  If possible, provide a screenshot or video while reproducing the above issue. Thanks!

[2021-05-19 09:48] sgowroji commented on #2036
Hi @lyfpeter, Could you please elaborate your issue with complete details. Thanks!

[2021-05-19 09:52] sgowroji commented on #2030
Hi @mssimrp, Could you please provide the steps to reproduce the above issue. Thanks!

[2021-05-19 09:58] sgowroji commented on #2032
Hi @matthewn4444, Could you please share your error logs and complete steps to reproduce the above issue. Thanks!

[2021-05-19 10:01] sgowroji commented on #2034
Hi @z7212819, Thanks for sharing the above input. Could you please share your error. And steps to reproduce the above error. Thanks!

[2021-05-19 10:04] sgowroji commented on #2038
Have a look at this reference https://github.com/google/mediapipe/issues/689

[2021-05-19 10:07] sgowroji commented on #2042
Hi @Asssssert, Could you please provide the steps to reproduce the above error. Thanks!

[2021-05-19 10:23] ZhiyuXu0124 opened #2051 "Error in python3 setup.py gen_protos"
Hello,
When I try run  `python3 setup.py gen_protos`

error info:
[code]

I don't understand where is the problem

[2021-05-19 10:31] ZhiyuXu0124 commented on #2041
@thamquocdung Thank you for sharing，but when I run `python3 setup.py gen_protos`, some error occurred.

error info:

Have you encountered such a problem？

[2021-05-19 10:42] borosabel opened #2052 "IOS mediapipe hand gesture recognition"
Hello everybody!

I am a student at a Computer Science University, and I am writing my thesis work which is about the ASL language recognition. I trained a model which is recognize hands but I also need to find hands on the real-time video and write on the screen the particular letter. To find hands I am using mediapipe, but now I want to deploy this to IOS because that could be a good usage of th

[2021-05-19 10:56] thamquocdung commented on #2041
@ZhiyuXu0124  I think you missed `libprotobuf-dev` package (`sudo apt install libprotobuf-dev`)

[2021-05-19 11:28] sgowroji commented on #2051
Hi @ZhiyuXu0124, Could you please provide the steps to reproduce the above issue. Thanks!

[2021-05-19 11:33] akash901 opened #2053 "USB Camera Integration with Mediapipe Hand detection Android Code"
Hello community,
 First of all thank you for creating such nice multi platform ML solutions. I have been trying to integrate UVC complaint USB camera integration with Mediapipe multi hand detection code. I have imported multi hand detection code from here https://github.com/jiuqiant/mediapipe_multi_hands_tracking_aar_example and UVC USB camera library code from here : https://github.com/saki4510t/

[2021-05-19 11:38] sgowroji commented on #2052
Hi @borosabel, Glad to know you choose MediaPipe for your thesis. For IOS we have very clear documentation [here](https://google.github.io/mediapipe/getting_started/ios).  You can build an Hand tracking code from the above link and reach us if you still have any query. For ASL language recognition look at reference https://github.com/google/mediapipe/issues/450

[2021-05-19 11:44] borosabel commented on #2052
Hello @sgowroji! Thank you for your quick reply! So I have successfully deployed the example app to my phone, I just need a little bit of support to modify the given code to get an image from the hand in the bounding box, feed that image to my trained model and get a response. It would be a huge help if you could help me a little bit with this.

[2021-05-19 11:55] bduvenhage commented on #1864
Thanks for replying @lilinxiong

I need an accurate head pose transform to render a mask on the person in the video. It seems to work well, but when the person blinks many of the landmarks are affected which in turn affects the alignment of the mask.

[2021-05-19 12:40] gmontamat commented on #2041
@ZhiyuXu0124 you'll notice in my first diff, I've added that package to the Dockerfile to build the library in the conatiner
Thanks so much @thamquocdung I'll test it in a minute.

[2021-05-19 13:14] bela572 opened #2054 "Train model with objectron"
Where can I find model training(and evaluation) code with objectron dataset?
I would want to use pretrained model for example of shoes and continue training and finding loss

[2021-05-19 13:29] JoseVidal17 commented on #2048
Well as I am working in touchdesigner I have to import everything in a specific folder as follows:
![image](https://user-images.githubusercontent.com/70071383/118820198-ab569b00-b87b-11eb-8213-3d699d57741f.png)

# me - this DAT
# scriptOp - the OP which is cooking

import cv2
import numpy as np
import mediapipe as mp

def onCook(scriptOp):
	mp_drawing = mp.solutions.drawing_utils
	mp_hands = mp.so

[2021-05-19 13:51] FedericoCozziVM opened #2055 "Strange behaviour of FaceMesh solution with max_num_faces parameter"
Hello to everyone,

I noticed a strange behaviour of the python solution "FaceMesh" (mediapipe version 0.8.4.2). When processing some selected images containing faces, no faces are detected when setting up the FaceMesh object with parameter `max_num_faces=1`, but a single face is detected when I provide 2 or more as parameter.

Img to reproduce:
![img](https://user-images.githubusercontent.com/414

[2021-05-19 13:54] gmontamat commented on #2041
@thamquocdung thank you! Your changes worked. I'm leaving the full diff below since I've also compiled for CUDA and used the Dockerfile provided so as no to mess up with dependencies on my system:

(apply diff to https://github.com/google/mediapipe/tree/ae05ad04b3ae43d475ccb2868e23f1418fea8746)
[code]

The steps to build the python wheel are:
[code]

Thanks again for the help. You can mark this is

[2021-05-19 14:13] superuser789 opened #2056 "undefined symbol: _ZN12carotene_o4t during import mediapipe in raspberry pi 3"
I am trying to build mediapipe for Raspberry Pi 3 on RPi3 itself.  I built the **latest opencv** [release 4.5.2](https://github.com/opencv/opencv/releases/tag/4.5.2) by following these guide
- https://www.pyimagesearch.com/2019/09/16/install-opencv-4-on-raspberry-pi-4-and-raspbian-buster/
- https://learnopencv.com/build-and-install-opencv-4-for-raspberry-pi/

and successfully built opencv with the

[2021-05-19 16:28] Danil-e commented on #2050
Hi
Traceback (most recent call last):
  File "a.py", line 25, in <module>
    with mp_holistic.Holistic(min_detection_confidence=0.5, min_tracking_confidence=0.5) as holistic:
  File "site-packages\mediapipe\python\solutions\holistic.py", line 105, in __init__
    'face_landmarks'
  File "site-packages\mediapipe\python\solution_base.py", line 221, in __init__
    binary_graph_path=os.path.join(roo

[2021-05-19 16:46] ankitacoffee commented on #2001
yes I have all the three libraries installed.

[2021-05-19 16:57] #804 closed

[2021-05-19 16:59] fanzhanggoogle commented on #806
Hi, have you tried our latest model? the 3D model should be ~2.5x faster than before.

[2021-05-19 16:59] #806 closed

[2021-05-19 16:59] #813 closed

[2021-05-19 17:00] fanzhanggoogle commented on #815
Closing due to lack of activity, feel free to re-open if you can reproduce the issue.

[2021-05-19 17:00] #815 closed

[2021-05-19 17:02] #951 closed

[2021-05-19 17:02] fanzhanggoogle commented on #998
Have you resolved the issue?

[2021-05-19 17:02] #998 closed

[2021-05-19 17:04] fanzhanggoogle commented on #426
Hi, unfortunately this has been de-prioritized and we don't have an exact release date of the quantized model. Sorry about that.

[2021-05-19 17:10] fanzhanggoogle commented on #742
Hi, the z-coordinate is centered at wrist and we use an arbitrary scaling factor to normalize the output from the model. You can consider it as more like a 2.5D vs true 3D in world coordinate. The idea is to provide relative position of the finger joints, e.g. which joint is closer. We are working on a new version of the hand model that should provide much better z-coordinate. The previous version

[2021-05-19 17:17] fanzhanggoogle commented on #1341
Hi, thank you for reporting! Yes, indeed the handedness classification is not perfect due to previously limited supervision in the training. We have been adding significantly more data for this output. Though currently we don't have an exactly release date yet, hopefully we can release the updated version soon.

[2021-05-19 17:17] #1341 closed

[2021-05-19 17:19] fanzhanggoogle commented on #1130
Thank you for the suggestion. We have been considering releasing different variation of the models, however due to internal release procedure and limitation of the support for configurable graphs, we don't have plan to do that yet. But we do have that in mind as we are working on making switching models with the same pipeline much easier.

[2021-05-19 17:19] #1130 closed

[2021-05-19 17:19] #1064 closed

[2021-05-19 17:22] NotSpooky commented on #2047
Thanks, it works!

[2021-05-19 17:22] #2047 closed

[2021-05-19 17:26] fanzhanggoogle commented on #1014
Hi, thank you for reporting the quality issue. We don't have gray images in our training dataset, but we do have a lot of data augmentation to compensate for gray image. Also we do lack of first-person view training data in the model as well, I guess that's why the model works poorly on gray image + some distortion + first-person view. We are considering building a version specifically for first-p

[2021-05-19 17:26] #1014 closed

[2021-05-19 17:27] fanzhanggoogle commented on #921
Hi, we have updated version of the web demo. Have you tried the latest one? Feel free to re-open if there's still any issue.

[2021-05-19 17:27] #921 closed

[2021-05-19 17:28] fanzhanggoogle commented on #808
Correct, though there could be some 90 degree rotated face appeared in the training due to augmentation, it won't be many. So the model is not anticipated to cover such cases.

[2021-05-19 17:28] #808 closed

[2021-05-19 17:32] jiuqiant commented on #2020
The "diff --git ... " is the content generated by `git diff` command (https://git-scm.com/docs/git-diff). Please modify your local files based on the contents.

[2021-05-19 17:33] fanzhanggoogle commented on #1731
Hi, you can try the [tflite benchmarking tool ](https://www.tensorflow.org/lite/performance/measurement) first to make sure the model can be supported. It'll be difficult to debug in MediaPipe graph by just switching model. There's could multiple reasons why the model isn't working, e.g. ops in the model are supported by the GPU, e.t.c.

[2021-05-19 17:33] #1731 closed

[2021-05-19 17:35] fanzhanggoogle commented on #1723
Hi, which model are you using? If you are using the front facing model then it's worth trying the [back facing model ](https://github.com/google/mediapipe/tree/master/mediapipe/modules/face_detection) which is bigger but intended to work for smaller and far way faces.

[2021-05-19 19:48] matthewn4444 commented on #2032
You can close this, I realized my question was more for bazel, I have to use alwayslink=1 to each of the libraries I wanted to include into my shared library.

[2021-05-19 19:48] #2032 closed

[2021-05-19 21:15] ahmadyan commented on #1463
This is the [reference](https://www.iri.upc.edu/people/fmoreno/Publications/2009/pdf/Lepetit_ijcv2009.pdf) that we used for EPNP.You are correct, that the alpha matrix constraints the vertices of the bounding box. There are multiple alpha matrices that you can use (essentially will all do the same). Coefficient that we used can be [found here](https://github.com/google/mediapipe/blob/ecb5b5f44ab23

[2021-05-19 21:19] ahmadyan commented on #2054
Objectron dataset and the evaluation code: https://github.com/google-research-datasets/Objectron/

Pre-trained models: we haven't released the full pre-trained models yet (they will be released around CVPR in the objectron bucket and linked in the objectron repo). The current set are available here: https://github.com/google/mediapipe/tree/master/mediapipe/modules/objectron

Finally, we haven't re

[2021-05-19 22:13] rakesh4real commented on #1918
Hey @mhays-google  thank you for the response. I have two questions -

One, can I know ETA for this or link to specific issues / PRs so that I can contribute in some way if possible?

Two, it is true that the models are huge. Given that we have better models like https://blog.tensorflow.org/2021/05/next-generation-pose-detection-with-movenet-and-tensorflowjs.html what is the best way to create our

[2021-05-19 22:15] rakesh4real commented on #1918
Hey @AmitMY is the browser still hanging for you?

[2021-05-19 23:14] gmontamat commented on #2041
@ykk648 do you mind letting me know how did you setup `GL version: 3.2 (OpenGL ES 3.2 NVIDIA 455.23.05)`?
When running it I get this message `GL version: 3.1 (OpenGL ES 3.1 Mesa 20.0.8)` and it's even slower than the CPU version.

[2021-05-19 23:17] samlaf opened #2057 "python3 setup.py remove_generated doesn't remove all files (solution code included)"
After
[code]
mediapipe leaves many `__init__.py` and `*_pb2.py` files behind:
![image](https://user-images.githubusercontent.com/9342524/118896441-3ebcba00-b8d6-11eb-8eab-7cdab8348a93.png)

I fixed this problem by changing setup.py's RemoveGenerated from
[code]
to
[code]
The added code is really just adding `'mediapipe/modules/**/*pb2.py'` to the pattern list and adding
[code]
to remove the `__ini

[2021-05-20 01:08] ykk648 commented on #2041
@gmontamat Acturally I don't know, you may have a AMD GPU when I using Nvidia, my envs are GTX3080+CUDA11.1, never installed openGL by myself.

[2021-05-20 01:27] matthewn4444 opened #2058 "Running graph hand tracking cannot validate side packet input"
Hello,

I am not sure why this is happening, I am new to mediapipe so i might be missing something.

I copied the basic hand tracking example but removed the final rendering node, all I am interested is in the **hand_landmarks**. After compiling mediapipe to shared library for android, I am trying to do the basic run, parse configuration graph, set the output poller and then i need to input the **

[2021-05-20 02:22] LiuyangNice commented on #2015
yes, thank you ,it worked

[2021-05-20 02:23] #2015 closed

[2021-05-20 05:23] sgowroji commented on #2053
Hi @akash901, Could you please share your code repo to understand the issue much better. Thanks.

[2021-05-20 05:45] akash901 commented on #2053
Hello @sgowroji  Please find my code at following link : https://github.com/akash901/hand-gestures.
Please let me know if this approach works with existing architecture of Mediapipe or not. I also tried to modify CameraXPreviewHelper class to add USB camera interface but found it more tedious then to provide SurfaceTexture directly to ExternalTextureConvertor but not sure weather it would or not.

[2021-05-20 06:51] Jwy-jump commented on #956
@pily1 how to deal with it?

[2021-05-20 06:55] sgowroji commented on #2057
Hi @samlaf, Could you please help us with the steps to reproduce the above issue.  Thanks!

[2021-05-20 08:00] chensisi0730 commented on #2013
[debug.txt](https://github.com/google/mediapipe/files/6513960/debug.txt)
[logcat.txt](https://github.com/google/mediapipe/files/6513962/logcat.txt)

https://user-images.githubusercontent.com/16938432/118941605-7b46ef00-b984-11eb-8496-a6d00247083c.mp4

[2021-05-20 08:01] Frank-Dz commented on #2037
Thanks! Got it!

[2021-05-20 08:01] Asssssert commented on #2042
I refered to your official [documentation ](https://google.github.io/mediapipe/getting_started/android_archive_library.html)for step-by-step production, gesture recognition and pose recognition both have the same error. I downloaded the SDK as setup_android_sdk_and_ndk.sh script. I looked at my local SDK and saw that the platforms version was 29, I changed it to 25 and recompiled but the system re

[2021-05-20 08:05] Frank-Dz opened #2059 "Can we assume the predicted hand's xyz is in a 1*1*1 box?"
Can we assume the predicted XYZ is in a 1*1*1 box?
Since I found in hand detection, the original xy is in 0-1. I want to project it to my image space. Can we assume the depth(z) is also in 0~1?

The reason I wanna the project is current result in 0-1 is a little different from the real view...
![image](https://user-images.githubusercontent.com/55009565/118942184-1213ab80-b985-11eb-84c2-48aaea27fd2

[2021-05-20 08:06] Frank-Dz commented on #2059
I want to make it with the real width and height radio.

[2021-05-20 08:22] ZhiyuXu0124 commented on #2051
I missed `libprotobuf-dev` package installation, the problem is solved after installation

[2021-05-20 08:22] #2051 closed

[2021-05-20 08:56] AmitMY commented on #2059
I have no documentation for it, but the way I do it which seems to be ok:
[code]

[2021-05-20 08:56] AmitMY commented on #1918
In version `0.3.1620694839` it still hangs.

[2021-05-20 08:59] AmitMY opened #2060 "Holistic - upperBodyOnly removed, but point count is still 33"
In v0.1 of holistic, there was a setting `upperBodyOnly`. When set to false, one would get all the relevant pose points of the body, 33 in number.

In v0.3 this setting no longer exists, and I don't know what is the default value.

In both versions, this code exist:
[code]
which defines the point index names, but in v0.3, we no longer get 33 points so it is broken I think (we get 25)

------

What

[2021-05-20 09:00] chensisi0730 commented on #2049
Usage scenario: draw a box on the screen. There may not be an object in the box, but it may only be a part of the object or even the background. How can we track it

[2021-05-20 09:18] sgowroji commented on #2059
Hi @Frank-Dz, Could you please share your code repo to understand your changes. Thanks!

[2021-05-20 09:24] Frank-Dz commented on #2059
hi! It works for me.

Thanks!

On Thu, 20 May 2021 at 5:18 PM, GowrojiSunil ***@***.***>
wrote:

[2021-05-20 09:34] sgowroji commented on #1997
Hi @ammarjafri, Please follow this https://github.com/google/mediapipe/issues/1959#issuecomment-830212097, https://github.com/google/mediapipe/issues/1674#issuecomment-788295898. Assuming the above is duplicate of this references.

[2021-05-20 09:39] rakesh4real commented on #1918
I am using `0.3.1620080860` and it hangs as well. @AmitMY saw that your web app doesn't hang.

1. what version(s)  are you using which does NOT hang?
2. are you using service worker?

Thank you for quick response

[2021-05-20 09:44] rakesh4real commented on #1918
Actually all these models hang -

[code]

[2021-05-20 09:55] XMasterNinni commented on #1437
Facing the same issue on a Raspberry Pi 4. I've compiled it using the aforementioned aarch64 guide and have `ENABLE_NEON: "OFF"` set

[2021-05-20 09:56] Danil-e commented on #2050
Still not working...

[2021-05-20 10:41] sgowroji commented on #1868
We are closing this issue as of now, due to lack of activity.

[2021-05-20 10:41] #1868 closed

[2021-05-20 10:46] sgowroji commented on #1895
Hi @Pythonsegmenter, Could you please respond to the above comment. Is your query resolved. Thanks!

[2021-05-20 10:50] sgowroji commented on #1919
Thank you for sharing your resolution, which will really help the other users.

[2021-05-20 10:50] #1919 closed

[2021-05-20 10:53] sgowroji commented on #1922
@AndreV84 thanks for the update. For any new queries please raise a new issue.

[2021-05-20 10:58] AndreV84 commented on #1922
it seems that bazel webcam option is not supported as the issue got closed without resoolution?
do you suggest re-creating the same issue again as no solution to runm objectron on |Desktop GPU has been provided to run it with bnazel? or such solutions can not be provided? What is the reason for closing the issue?
@sgowroji

[2021-05-20 11:00] AndreV84 opened #2061 "objectron desktop GPU exampple, bazel example"
Is there non-python webcam implementation of objectron?
bazel based solution?
CPU desktop implementation?
GPU Desktop implementation?

[2021-05-20 11:18] borosabel commented on #2052
@eknight7 Hello! I saw that you always have a solution to this kind of issue. Could you help me a little bit?

[2021-05-20 11:33] vteodorescu commented on #1987
@sgowroji @KristianDukov Hi, Sunil - we are experiencing the same problem and as Kristian said, the using of an older version as a solution is not really a solution.

Is there a chance to re-open the issue and get a fix for it?

Many thanks

[2021-05-20 15:41] jianingwei commented on #2049
Yes, it's able to track any object.

[2021-05-20 16:11] afogel commented on #1408
@lostfictions unfortunately, it seems like the team is juggling a ton in active development, which is part of the reason that the documentation is sparse. Those of us who are trying to use it are reverse engineering some elements of it from the minified code, but with a bit of effort, it's eminently doable. That said, I'd recommend you peruse the issues, as the team has released some documentation

[2021-05-20 16:55] SjoerdTimovanVliet opened #2062 "Use iris landmarks in python"
Dear miss/mister,

I can't get the landmarks working in python. I followed this issue solution: https://github.com/google/mediapipe/issues/1530

(mp_env) sjoerd@sjoerd-GL552VW:~/mediapipe-0.8.3.1/mediapipe-0.8.3.1$ python3 setup.py gen_protos
/usr/lib/python3.6/distutils/dist.py:261: UserWarning: Unknown distribution option: 'long_description_content_type'
  warnings.warn(msg)
running gen_protos
g

[2021-05-20 17:11] txf- commented on #2000
Would this actually be faster than just using tensorflow cuda?

[2021-05-20 17:29] nikicat commented on #2028
I was a bit late: this solution doesn't work:
[code]

Tested on Firefox.

[2021-05-20 17:56] afogel commented on #1937
@mhays-google Looks like the holistic JS solution is still broken (version 0.3.1620694839):
here's the full stacktrace I'm getting:
[code]

[2021-05-20 18:32] akash901 commented on #1955
Hello @DandyLorenz , I am working on similar problem of getting USB camera integrated with Mediapipe, check #2053 . Can you guide me with your integration steps. Thank you.

[2021-05-20 19:45] samlaf commented on #2057
Just follow the instructions here: https://google.github.io/mediapipe/getting_started/python.html#building-mediapipe-python-package

[2021-05-20 21:45] txf- commented on #2028
Those tflite files are critical. I have no idea how to edit the graphs used by the js solution. I only tried the C++ version.

[2021-05-21 01:40] eknight7 commented on #2058
Hi, to get the landmarks on Android, I would recommend using something like this [code in Java](https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a479407c699e424aa7/mediapipe/examples/android/src/java/com/google/mediapipe/apps/handtrackinggpu/MainActivity.java#L65-L91).
`graph.AddOutputStreamPoller(..)` is an API for getting landmarks in C++ on desktop. See an example [gist for deskto

[2021-05-21 01:47] matthewn4444 commented on #2058
That's not the problem, I can't start the graph because I can't get passed `graph.StartRun` because I am trying to pass a int side packet and verification fails trying to verify that it is an int even thoiugh it is an int, the network hasn't even ran yet.

[2021-05-21 02:01] chensisi0730 commented on #2049
in one word , i want to track a region

[2021-05-21 03:24] nitecm opened #2063 "Sync project with build file"
When I sync has the following error

Error:mediapipe/examples/android/src/javatests/com/google/mediapipe/apps/basic is included, but that contradicts mediapipe which was excluded

Anyone can help

[2021-05-21 03:44] Asssssert commented on #2042
Hi @jiuqiant I download your [example ](https://github.com/jiuqiant/mediapipe_multi_hands_tracking_aar_example)and reported the same error on android version 7.1.1

[2021-05-21 05:10] jianingwei commented on #2049
Yes, this tracker essentially tracks a region or image patch, as long as there is some texture inside the region.

[2021-05-21 06:32] sgowroji commented on #2061
Hi @AndreV84, Sincere apology for the misunderstanding,  I have reopened the previous issue i.e. https://github.com/google/mediapipe/issues/1922 issue and marking this present issue as duplicate of it.  We can follow up the discussion on the previous issue itself. Thanks!

[2021-05-21 06:37] #2061 closed

[2021-05-21 06:39] sgowroji commented on #2063
Hi @nitecm, Could you please provide more details and complete steps to reproduce the above issue. Thanks!

[2021-05-21 06:41] chensisi0730 commented on #2049
So how to replace the robot with the box drawn by the user   in example below
[https://google.github.io/mediapipe/solutions/instant_motion_tracking#mediapipe-instant-motion-tracking](url)

[2021-05-21 06:43] sgowroji commented on #2062
Hi @SjoerdTimovanVliet, Thank you for reaching out to us regarding the above issue. Could you please provide complete details like your code changes and error logs.

[2021-05-21 07:03] AmitMY commented on #1918
@rakesh4real my web app *does* hang. just tested it now again.

[2021-05-21 07:15] sgowroji commented on #2043
Hi @aoxipo, Have a look at this comment https://github.com/google/mediapipe/issues/1895#issuecomment-822121488 face geometry is clearly explained with all the coordinates.

[2021-05-21 07:45] GesilaA opened #2064 "The performance of the hand_landmark model is degraded after re-implementation."
Environment:
Ubuntu20.04, i7-9700f, python3.7, onnxruntime==1.7.0

I convert palm_detection.tflite and hand_landmark.tflite to .onnx model, and re-implement a simple procedure:
1) Read RGB image and divide to 255.
2) Send image to palm_detection.onnx and get output
3) Expand the palm box to hand box, and rotate box by wrist and middle_finger_MCP point, extract rotated hand image and divide to 255.

[2021-05-21 08:25] newbie7991 opened #2065 "Bazel fail executing command aar_native_libs_zip_creator.exe,aar_embedded_jars_extractor.exe, aar_resources_extractor.exe"
INFO: Analyzed target //mediapipe/examples/android/src/java/com/google/mediapipe/apps/aar_example:mediapipe_pose_tracking.aar (0 packages loaded, 0 targets configured).
INFO: Found 1 target...
ERROR: C:/users/Username/_bazel_chai1/ojr2u6ty/external/maven/BUILD:62:11: Filtering AAR native libs by architecture failed: (Exit 2): aar_native_libs_zip_creator.exe failed: error executing command bazel-ou

[2021-05-21 08:29] pwhite77 opened #2066 "Pass MediaStream or canvas instead of video element, Holistic-JS"
The [example code](https://google.github.io/mediapipe/solutions/holistic#javascript-solution-api) for MediaPipe Holistic (JavaScript) fails when trying to pass a `MediaStream` (or `canvas` HTML element) instead of a `video` element.

Do you have any fix or plans to support this in the immediate future?

Thanks!

[2021-05-21 08:57] sgowroji commented on #2066
Hi @pwhite77, Could you please share the  above error and update code changes.

[2021-05-21 09:18] newbie7991 commented on #2065
Hi @sgowroji, thanks for replying, here's the step i went through
1.)I am using guide from [https://google.github.io/mediapipe/getting_started/android_archive_library.html](url) to create a Mediapipe AAR file. I run this on PowerShell
2.) When running step 2 from the [given](https://google.github.io/mediapipe/getting_started/android_archive_library.html),
i uses `bazel build --action_env PYTHON_BI

[2021-05-21 09:40] rakesh4real commented on #1918
@mhays-google kindly let me know here if there are any interesting updates

[2021-05-21 10:02] sgowroji commented on #2021
Hi @kaisark, Did you get a chance to go through the above [comment](https://github.com/google/mediapipe/issues/2021#issuecomment-840842281). Thanks!

[2021-05-21 10:07] MapleShaw commented on #1513
any updates ?

[2021-05-21 10:12] sgowroji commented on #1784
Hi @yangcheng, Please go through the above [comment](https://github.com/google/mediapipe/issues/1784#issuecomment-841493967). As the primary query answered we are closing this issue. Feel free to reach us if you're issue still exists or raise another issue for new queries. Thanks!

[2021-05-21 10:12] #1784 closed

[2021-05-21 10:21] #1935 closed

[2021-05-21 10:22] sgowroji commented on #1937
Hi @afogel, Can you raise an another issue with complete details in it.
@codylieu Thank you for the update we are closing this issue now.

[2021-05-21 10:24] sgowroji commented on #1938
We are closing this issue now due to lack of activity.

[2021-05-21 10:24] #1938 closed

[2021-05-21 10:27] #1960 closed

[2021-05-21 10:30] sgowroji commented on #1966
Hi @hansonap, Did you get a chance to go through the above comment. Thanks!

[2021-05-21 10:32] ben-xD commented on #1937
@sgowroji why did you close this? This is an open issue.The fix was not released or confirmed by @mhays-google.

[2021-05-21 10:34] sgowroji commented on #1982
Hi @RohitSingh1226, Could you please respond to the above comment and share us the issue status. Thanks!

[2021-05-21 10:34] sgowroji commented on #1985
We are closing this issue now due to lack of activity.

[2021-05-21 10:34] #1985 closed

[2021-05-21 10:36] #1992 closed

[2021-05-21 10:39] RohitSingh1226 commented on #1982
It isn’t working out, I have included multiple files and imported mediapipe
as a class from somw other files. Is it because of that?
Cause the error comes in the second file not the main.py

On Fri, 21 May 2021 at 4:04 PM, GowrojiSunil ***@***.***>
wrote:

[2021-05-21 11:00] AndreV84 commented on #1982
@RohitSingh1226 do you need it with python/ c or basel? both? neither of the two?

[2021-05-21 11:15] pwhite77 commented on #2066
Thanks, @sgowroji ! The error I'm getting:
[code]

If you need, here's the code I'm using:
[code]
To start pose detection, I use:
[code]
And this works, but changing this to:
[code]
causes the error.

[2021-05-21 11:17] lzcchl opened #2067 "The primary Android example failed to run"
Hi, I'm a rookie in Mediapipe, I run primary Android example failed, the website is: https://google.github.io/mediapipe/getting_started/android.html

the error is:

------------------------------------------------------------------------------------------------------------------------------
ERROR: /home/lzc/.cache/bazel/_bazel_lzc/6132f374fa0169e4ee8804a892485cde/external/local_jdk/BUILD.bazel:3:1

[2021-05-21 11:27] Narendra186 opened #2068 "Getting face landmarks of previous image even though I'm sending a new image for prediction"
I'm using @tensorflow-models/face-landmarks-detection npm package for detecting face landmarks

I'm facing a problem when I switch between images, even though the new image is sent for prediction, the API is returning the face landmarks which somewhat look like those of previous image. I'm attaching some screenshots, please refer those

![Screenshot from 2021-05-21 13-09-18](https://user-images.gi

[2021-05-21 13:04] timtensor commented on #2010
Hi @rmothukuru any updates on this ?

[2021-05-21 15:10] aliisaiid98 commented on #2020
I did that but still got an error in 7th step:"python3 setup.py gen_protos && python3 setup.py bdist_wheel"

ERROR: /home/ali/mediapipe/mediapipe/framework/tool/BUILD:93:10: C++ compilation of rule '//mediapipe/framework/tool:encode_as_c_string' failed (Exit 1): gcc failed: error executing command /usr/bin/gcc -U_FORTIFY_SOURCE -fstack-protector -Wall -Wunused-but-set-parameter -Wno-free-nonheap-o

[2021-05-21 16:25] jiuqiant commented on #2057
Thanks for reporting this.  Just fixed in our internal code base upstream, and will be pushed to GitHub in the next release.

[2021-05-21 16:38] rthadur opened #2069 "problem with config"

[2021-05-21 16:39] #2069 closed

[2021-05-21 16:48] jiuqiant commented on #2048
For floating type image data, the mediapipe image format needs to be either VEC32F1 or VEC32F2. See https://github.com/google/mediapipe/blob/master/mediapipe/python/pybind/packet_creator.cc#L65.

If you need this support, you can edit the solution_base.py file in your "C:/Users/jvida/Desktop/ModelosVisionArtificial/ExtPy/Dep/python\mediapipe\python" to give the packet creator either  VEC32F1 or VE

[2021-05-21 17:29] jiuqiant commented on #2031
Sorry for the late reply. I don't have a good solution for this. Here is the ugly way I can think of to achieve this:

[code]

[2021-05-21 17:33] jiuqiant commented on #2031
Sorry for the late reply. I don't have a good solution for this. Here is the ugly way I can think of to achieve this:

[code]

[2021-05-21 17:53] eknight7 commented on #2058
[code]
You said you are running this code on Android here:

But this  C++ code is for running on desktop:
[code]
To initialize  a graph on Android, use the [FrameProcessor](https://github.com/google/mediapipe/blob/ecb5b5f44ab23ea620ef97a479407c699e424aa7/mediapipe/java/com/google/mediapipe/components/FrameProcessor.java#L50) as used in [MainActivity here](https://github.com/google/mediapipe/blob/e

[2021-05-21 18:01] hadon commented on #1632
I don't know many details about MediaPipe iOS.  I will defer to my colleague @NikolayChirkov to provide any hints about converting MTLTexture.

[2021-05-21 18:28] matthewn4444 commented on #2058
I am doing this all in c++ and I did implement the side packet like that but it doesn't work. I am debugging the mediapipe code and so far I found that at the time I make the map and add the side packet (sorry I copied pasted int64 earlier, its actually int)

[code]

The log here returns true as expected. In the meediapipe code for calculator_graph.cc I added the same check to the StartRun functio

[2021-05-21 18:28] kaisark commented on #2021
Hi @sgowroji. I did read the comment. I tried to use NDK 22, but the bazel build failed. I think the directory structure [changed](https://github.com/android/ndk/blob/master/Changelogs/Changelog-r21.md) between NDK 20 and 21/22. The build could not locate the "platforms" sub-directory.

Change log:
"The legacy toolchain install paths will be removed over the coming releases. These paths have been

[2021-05-21 18:39] frankmanbb commented on #1991
having the same issue, any idea what caused this? Thanks

[2021-05-21 18:59] jianingwei commented on #2049
If you just want to draw bounding boxes, you can refer to this example https://google.github.io/mediapipe/solutions/box_tracking   It's using the same visual tracker. Instead of seeding the tracking from object detection, you can feed in user placed box. In other words, replace "ObjectDetectionSubgraphGpu" node in this graph mediapipe/mediapipe/graphs/tracking/object_detection_tracking_mobile_gpu.

[2021-05-21 19:06] afogel commented on #1937
@sgowroji thanks for the fast response -- I added the notes here b/c @ben-xD had mentioned that the version referenced earlier in the thread meant to address the memory leak also seemed to break the holistic js model altogether. Given that it's been about 2 weeks since the release and the current release is broken, I figured I'd add the stack trace information if that might help resolve some of th

[2021-05-21 21:31] AndreV84 commented on #94
@jiuqiant it seems that the issue got closed without resolving it, right?
so if it was solved it would have been possible to use the solution to use the kinekt with mediapipe, but as it got just closed without addressing the issue there is no way to use the kinekt with mediapipe?
Or there are ways to use kinekt with mediapipe? kinekt 1? kinekt 2? both? neither of the two? without specific custom d

[2021-05-21 22:59] matthewn4444 commented on #2058
So after debugging I realized what the problem is.

When I import the shared library in my cmake project, I create the packet using

`mediapipe::MakePacket<int>(2)`

And this is compiled using the header since the class definition is all in the header file. When compiling the mediapipe shared library there is another copy of the Packet class. Because I create the packet in my project, it uses a di

[2021-05-21 23:46] delebash commented on #825
MediaPipe Team, first thanks for the great product.  I am just checking back here and after trying the latest update v0.8.4 in javascript the jitter issue still remains.  Because of this it is impossible to use for 3D motion capture to animate a 3D character.  Is there a status update on fixing this issue?  Adding a filter currently does not seem to fix the problem well enough as I have seen other

[2021-05-22 09:03] jhoecker commented on #1273
Hi all,
just for the record: Using the [patch](https://github.com/google/mediapipe/issues/1042#issuecomment-829267239) from @VLorin as linked by @TannerYork and the [patch](https://github.com/google/mediapipe/issues/1273#issuecomment-724857226) from @jiuqiant works with a jetson nano with JetPack 4.5.1 (cuda-10.2) and mediapipe at commit ae05ad0. Just convert your images to RGBA before passing it

[2021-05-22 13:17] akash901 commented on #2053
Hello, I have bit of update on this issue. I shared Surface also with FrameProcessor and previewed it on my phone screen so I am able to see hand detected and all 21 landmark points also annotated correctly but the only problem is I am not able to get land mark data in my callback function. I am getting below shown error constantly. I even checked Mediapipe graph file .binarypb which works very we

[2021-05-22 14:41] akash901 commented on #2053
Hello @camillol  @eknight7 I solved this issue. Actually my protobuf version in Gradle build was 3.15 where code wasn't working, but when I degraded to 3.11.4 it worked perfect. Thank you!

[2021-05-22 19:31] jaderxnet commented on #1812
I'm having the same problem.  Any updates ?

[2021-05-22 20:24] jaderxnet commented on #1812
Work now. Inspirede by [1823](https://github.com/google/mediapipe/issues/1823 )

I used npm install to download the specific API files to node_modules and copied to local folder referenced in javascript calls.
Step 1 - NPM Install:

`npm install @mediapipe/pose@0.1 `
`npm install @mediapipe/drawing_utils@0.1 `
`npm install @mediapipe/camera_utils@0.1 `

Step 2 - Copy to files of `node_modules/medi

[2021-05-23 07:48] aliisaiid98 commented on #1733
can you tell me how to install the release please?

[2021-05-23 10:21] some2014 opened #2070 "Iris does not work on Android"
Dear developer：
there is a problem on Android 10 device ( Cpu：Dimensity 1000+)
Face detection, hand tracking and pose tracking are all Fine.
After Iris tracking runs, the screen stops and cannot be detected.

Log:

05-23 18:19:16.067  7126  7230 I native  : I20210523 18:19:16.067222  7230 graph.cc:474] Start running the graph, waiting for inputs.
05-23 18:19:16.067  7126  7230 I native  : I2021052

[2021-05-23 10:51] kbh1860 opened #2071 "multi_hand_tracking"
I can't find a directory of mediapipe/examples/desktop/multi_hand_tracking.

Is it destroyed? How Can I get it.... :D

[2021-05-23 14:52] samlaf commented on #1733
@aliisaiid98 Click here on the main github page:
![image](https://user-images.githubusercontent.com/9342524/119265488-f68ee780-bbb4-11eb-9cfb-fb66fbf7cf4e.png)

[2021-05-23 14:54] Danil-e commented on #2050
Still not working...

[2021-05-23 16:12] HaoyuWang00 commented on #2001
Same problem here, error code:
[code]
Using gcc 9.3.0, ubuntu 20.4

[2021-05-23 16:18] HaoyuWang00 commented on #2001
Just tried with the CPU version and got basically the same error. Could it be the problem with my gcc version?

[2021-05-23 17:14] RitvikMandyam commented on #2001
It could be your GCC version... Have you guys tried building the examples inside a Docker container? It's not really a fix, but it may help you get up and running, at least. The instructions for how to get the container up and running are here:
https://google.github.io/mediapipe/getting_started/install.html#installing-using-docker

[2021-05-23 20:35] svebert commented on #1437
Hi I have the same problem.
System Odroid XU4. Ubuntu Mate 4.14
I used this ["manual"](https://github.com/jiuqiant/mediapipe_python_aarch64)
After having a lot of trouble, building bazel itsself for Odroid and afterwards protoc, I was able to run step 7 (build)
`~/mediapipe$ python3 setup.py gen_protos && python3 setup.py bdist_wheel`
But i am still not able to install and use mediapipe on odriod

[2021-05-23 21:17] Nostalgie2 commented on #1325
I am trying pip install mediapipe but I am getting an error. ERROR: could not find a version that satisfies the requierement mediapipe. no matching distribution found for mediapipe.

[2021-05-23 21:43] DSgUY commented on #1530
Can anyone explain an updated guide to make Iris work on python?.
I'm using windows and install mediapipe in a venv using pip. Thanks.

[2021-05-24 02:03] #2067 closed

[2021-05-24 04:07] #1723 closed

[2021-05-24 04:19] Jwy-jump commented on #1991
how to solve? @frankmanbb

[2021-05-24 04:51] sgowroji commented on #2070
Hi @some2014, Could you please provide the complete steps to reproduce the above error. Thanks!

[2021-05-24 05:10] sgowroji commented on #2071
Hi @kbh1860, you can get the multi hand landmarks from [here](https://g3doc.corp.google.com/third_party/mediapipe/g3doc/solutions/hands.md#multi-hand-landmarks).   Could you share your use case with complete details. Thanks!

[2021-05-24 05:44] danial880 commented on #2041
@thamquocdung I have followed your instructions. I have encountered the following error.

Use --sandbox_debug to see verbose messages from the sandbox gcc failed: error executing command /usr/bin/gcc @bazel-out/k8-opt/bin/mediapipe/python/_framework_bindings.so-2.params

Use --sandbox_debug to see verbose messages from the sandbox
/usr/bin/ld.gold: error: cannot find -lImath
/usr/bin/ld.gold: erro

[2021-05-24 05:59] emo10001 commented on #825
Like everyone else, I too am experiencing the jittering.  Was looking to try to implement this for Facial Mocap, but my fears is this will be unusable.

I have no idea how to implement KalmanFilter as I'm just a hacker at best :)  Has anyone successfully implemented this in OpenCV python?

Seems disheartening that hi-def models won't be released.

[2021-05-24 06:00] sgowroji commented on #2053
Glad to know you are resolved and thanks for sharing your fix, which help others with similar scenarios. We are closing this issue now.